{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY_PROD_OAuth Token Retrieval API",
    "description": "The OAuth Token Retrieval API provides a secure mechanism for users and applications to obtain OAuth tokens used for authentication and authorization. By leveraging this API, developers can seamlessly access protected resources on behalf of users, ensuring compliance with security standards. Typical consumers include frontend applications and backend services that require user authentication to interact with various APIs. This endpoint is an essential component of the OAuth 2.0 protocol implementation, making it fundamental for secure API access.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/security/oauth-token": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Retrieve OAuth token",
        "description": "This endpoint allows clients to obtain an OAuth token which can be used to authenticate API requests. Ensure that you have the necessary credentials and permissions before making a request.",
        "operationId": "getOauthToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/grant_type"
          },
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining an OAuth token. This payload contains the necessary information for authentication and authorization, which is essential for the successful retrieval of the token.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOauthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the OAuth token.",
            "headers": {
              "pragma": {
                "$ref": "#/components/headers/pragma"
              },
              "expires": {
                "$ref": "#/components/headers/expires"
              },
              "access-control-max-age": {
                "$ref": "#/components/headers/access-control-max-age"
              },
              "x-kong-upstream-status": {
                "$ref": "#/components/headers/x-kong-upstream-status"
              },
              "access-control-allow-origin": {
                "$ref": "#/components/headers/access-control-allow-origin"
              },
              "access-control-allow-headers": {
                "$ref": "#/components/headers/access-control-allow-headers"
              },
              "access-control-allow-methods": {
                "$ref": "#/components/headers/access-control-allow-methods"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauthTokenResponse_200"
                }
              }
            }
          },
          "502": {
            "description": "Bad Gateway. The server received an invalid response from the upstream server.",
            "headers": {
              "x-kong-upstream-status": {
                "$ref": "#/components/headers/x-kong-upstream-status"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauthTokenResponse_502"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error. An unexpected error occurred on the server.",
            "headers": {
              "x-kong-upstream-status": {
                "$ref": "#/components/headers/x-kong-upstream-status"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauthTokenResponse_500"
                }
              }
            }
          },
          "501": {
            "description": "Not Implemented. The server does not recognize the request method or lacks the ability to fulfill it.",
            "headers": {
              "Access-Control-Max-Age": {
                "$ref": "#/components/headers/Access-Control-Max-Age"
              },
              "x-message-Correlation-Id": {
                "$ref": "#/components/headers/x-message-Correlation-Id"
              },
              "Access-Control-Allow-Origin": {
                "$ref": "#/components/headers/Access-Control-Allow-Origin"
              },
              "Access-Control-Allow-Headers": {
                "$ref": "#/components/headers/Access-Control-Allow-Headers"
              },
              "Access-Control-Allow-Methods": {
                "$ref": "#/components/headers/Access-Control-Allow-Methods"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOauthTokenResponse_501"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOauthTokenResponse_200": {
        "title": "OAuth Token Response",
        "type": "object",
        "properties": {
          "issued_at": {
            "type": "string",
            "description": "The timestamp indicating when the access token was issued.",
            "example": "1787807364279"
          },
          "token_type": {
            "type": "string",
            "description": "The type of the token returned (e.g., Bearer).",
            "example": "BearerToken"
          },
          "access_token": {
            "type": "string",
            "description": "The access token issued for authorization.",
            "example": "FBpOAKiLBhaBHIfPRa3sdVwuE6CF"
          },
          "status": {
            "type": "string",
            "description": "The current status of the token (e.g., valid, expired).",
            "example": "approved"
          },
          "expires_in": {
            "type": "string",
            "description": "The duration in seconds for which the access token is valid.",
            "example": "3599"
          }
        },
        "description": "Schema representing the response structure for the OAuth token retrieval.",
        "example": {
          "issued_at": "1787807364279",
          "token_type": "BearerToken",
          "access_token": "FBpOAKiLBhaBHIfPRa3sdVwuE6CF",
          "status": "approved",
          "expires_in": "3599"
        }
      },
      "GetOauthTokenResponse_502": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A descriptive error message providing details about the 502 error.",
            "example": "An invalid response was received from the upstream server"
          },
          "request_id": {
            "type": "string",
            "description": "A unique identifier for the request, used for tracking and debugging purposes.",
            "example": "03981332f16c5c64a70aff010de4bd5e"
          }
        },
        "description": "This schema represents the response structure for a 502 Bad Gateway error from the OAuth token operations GET request.",
        "example": {
          "message": "An invalid response was received from the upstream server",
          "request_id": "03981332f16c5c64a70aff010de4bd5e"
        }
      },
      "GetOauthTokenResponse_500": {
        "title": "OAuth Token Error Response",
        "type": "object",
        "properties": {
          "fault": {
            "$ref": "#/components/schemas/FaultDetail"
          }
        },
        "description": "This schema represents the error response for the OAuth token GET operation when a server error occurs (HTTP status code 500).",
        "example": {
          "fault": {
            "detail": {
              "errorcode": "datastore.ErrorWhileAccessingDataStore"
            },
            "faultstring": "Error while accessing datastore;Please retry later"
          }
        }
      },
      "FaultDetail": {
        "title": "Fault Detail",
        "type": "object",
        "properties": {
          "detail": {
            "type": "object",
            "properties": {
              "errorcode": {
                "type": "string",
                "description": "A code representing the specific error type.",
                "example": "INTERNAL_SERVER_ERROR"
              },
              "example": {
                "type": "string",
                "description": "A message providing additional context about the error.",
                "example": "An error occurred while processing the request."
              }
            }
          },
          "faultstring": {
            "type": "string",
            "description": "A human-readable description of the fault.",
            "example": "A fault has occurred in the OAuth token request."
          }
        },
        "description": "This schema provides detailed information about a fault that occurred during an operation.",
        "example": {
          "detail": {
            "errorcode": "INTERNAL_SERVER_ERROR",
            "example": "An error occurred while processing the request."
          },
          "faultstring": "A fault has occurred in the OAuth token request."
        }
      },
      "GetOauthTokenRequest": {
        "type": "string",
        "description": "OAuth token required for authentication in the GET request.",
        "example": "{}"
      },
      "GetOauthTokenResponse_501": {
        "type": "object",
        "properties": {
          "errors": {
            "type": "array",
            "description": "A list of error objects providing details on the issues encountered during the operation.",
            "example": [
              {
                "code": "SECURITY-0017",
                "userMessage": "Requested Resource or Method is not implemented.",
                "systemMessage": "ERROR_SOURCE:API; Requested Resource or Method is not implemented."
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "description": "Response schema for a failed OAuth token retrieval operation.",
        "example": {
          "errors": [
            {
              "code": "SECURITY-0017",
              "userMessage": "Requested Resource or Method is not implemented.",
              "systemMessage": "ERROR_SOURCE:API; Requested Resource or Method is not implemented."
            }
          ]
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "INVALID_TOKEN"
          },
          "userMessage": {
            "type": "string",
            "description": "A user-friendly message describing the error.",
            "example": "The provided token is invalid."
          },
          "systemMessage": {
            "type": "string",
            "description": "A technical message for system admins, providing more details about the error.",
            "example": "Token validation failed due to expired token."
          }
        },
        "description": "Represents a single error encountered during the operation."
      }
    },
    "parameters": {
      "grant_type": {
        "name": "grant_type",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "client_credentials"
        },
        "example": "client_credentials"
      },
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "46c8e0bd-60be-411e-95f2-69d4c198313e"
        },
        "example": "46c8e0bd-60be-411e-95f2-69d4c198313e"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "44.244.239.147"
        },
        "example": "44.244.239.147"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_200",
            "GATEWAY_PROD_502",
            "GATEWAY_PROD_500",
            "GATEWAY_PROD_501"
          ]
        }
      }
    },
    "headers": {
      "pragma": {
        "description": "Specifies directives for caching mechanisms in both requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "no-cache"
        },
        "example": "no-cache"
      },
      "expires": {
        "description": "Indicates the date and time after which the response is considered stale.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "access-control-max-age": {
        "description": "Specifies the maximum time in seconds that the results of a preflight request can be cached.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3628800"
        },
        "example": "3628800"
      },
      "x-kong-upstream-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "500"
        },
        "example": "500"
      },
      "access-control-allow-origin": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "access-control-allow-headers": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "origin, x-requested-with, accept"
        },
        "example": "origin, x-requested-with, accept"
      },
      "access-control-allow-methods": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "GET, PUT, POST, DELETE"
        },
        "example": "GET, PUT, POST, DELETE"
      },
      "Access-Control-Max-Age": {
        "description": "Indicates the maximum time in seconds that the results of a preflight request can be cached.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "x-message-Correlation-Id": {
        "description": "A unique identifier for tracking the request across distributed systems, enhancing debuggability.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6e93f34c-0a82-4c64-b085-031c8ecdabe4"
        },
        "example": "6e93f34c-0a82-4c64-b085-031c8ecdabe4"
      },
      "Access-Control-Allow-Origin": {
        "description": "Specifies the origin or origins that are permitted to access the resource, crucial for cross-origin requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "Access-Control-Allow-Headers": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "Access-Control-Allow-Methods": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens. This method requires the use of JSON Web Tokens (JWT) for secure API access, which provide a compact and self-contained way to ensure the integrity and authenticity of the transmitted information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}