{
  "openapi": "3.0.1",
  "info": {
    "title": "GATEWAY_PROD_OAuth Token Generation API",
    "description": "The OAuth Token Generation API provides a secure way for applications to obtain access tokens necessary for authenticating and authorizing user actions. This API allows clients to request tokens using various credentials and scopes. Typical consumers include developers building applications that integrate with our platform, ensuring seamless user experiences while maintaining security. By utilizing this API, applications can efficiently manage user sessions and access control.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v1/security/oauth-token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Generate OAuth Token",
        "description": "This endpoint allows clients to generate an OAuth token for authentication and authorization purposes. It is typically used before making secure API requests that require user identity or permissions.",
        "operationId": "generateOauthToken",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-request-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-attempt-count"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata"
          },
          {
            "$ref": "#/components/parameters/x-envoy-external-address"
          },
          {
            "$ref": "#/components/parameters/x-envoy-peer-metadata-id"
          },
          {
            "$ref": "#/components/parameters/x-envoy-decorator-operation"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining an OAuth token. This request includes necessary credentials and information required for the authorization process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateOauthTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token successfully generated and returned.",
            "headers": {
              "pragma": {
                "$ref": "#/components/headers/pragma"
              },
              "expires": {
                "$ref": "#/components/headers/expires"
              },
              "access-control-max-age": {
                "$ref": "#/components/headers/access-control-max-age"
              },
              "x-kong-upstream-status": {
                "$ref": "#/components/headers/x-kong-upstream-status"
              },
              "access-control-allow-origin": {
                "$ref": "#/components/headers/access-control-allow-origin"
              },
              "access-control-allow-headers": {
                "$ref": "#/components/headers/access-control-allow-headers"
              },
              "access-control-allow-methods": {
                "$ref": "#/components/headers/access-control-allow-methods"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateOauthTokenResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateOauthTokenRequest": {
        "type": "object",
        "properties": {},
        "description": "Schema for the request body of the OAuth token operation, typically used when making a request to obtain an access token.",
        "example": {}
      },
      "GenerateOauthTokenResponse_200": {
        "title": "OAuth Token Response",
        "type": "object",
        "properties": {
          "issued_at": {
            "type": "string",
            "description": "The time at which the token was issued, represented as an ISO 8601 string.",
            "example": "1787807383926"
          },
          "token_type": {
            "type": "string",
            "description": "The type of the token issued, typically 'Bearer'.",
            "example": "BearerToken"
          },
          "access_token": {
            "type": "string",
            "description": "The access token that can be used to authorize requests.",
            "example": "iSEwxtATY3wGbMwnGrLFNnr7AEhR"
          },
          "status": {
            "type": "string",
            "description": "The status of the token request, typically 'active' or 'inactive'.",
            "example": "approved"
          },
          "expires_in": {
            "type": "string",
            "description": "The duration in seconds for which the access token is valid.",
            "example": "3599"
          }
        },
        "description": "Schema representing the response of a successful OAuth token request.",
        "example": {
          "issued_at": "1787807383926",
          "token_type": "BearerToken",
          "access_token": "iSEwxtATY3wGbMwnGrLFNnr7AEhR",
          "status": "approved",
          "expires_in": "3599"
        }
      }
    },
    "parameters": {
      "x-request-id": {
        "name": "x-request-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "38b02976-a80e-40ac-91dd-3ff2c9f36a21"
        },
        "example": "38b02976-a80e-40ac-91dd-3ff2c9f36a21"
      },
      "x-envoy-attempt-count": {
        "name": "x-envoy-attempt-count",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-envoy-peer-metadata": {
        "name": "x-envoy-peer-metadata",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
        },
        "example": "ChoKCkNMVVNURVJfSUQSDBoKS3ViZXJuZXRlcwquAQoGTEFCRUxTEqMBKqABCh0KA2FwcBIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQo5Ch9zZXJ2aWNlLmlzdGlvLmlvL2Nhbm9uaWNhbC1uYW1lEhYaFGlzdGlvLWluZ3Jlc3NnYXRld2F5Ci8KI3NlcnZpY2UuaXN0aW8uaW8vY2Fub25pY2FsLXJldmlzaW9uEggaBjEtMzAtMAoTCgd2ZXJzaW9uEggaBjEuMzAuMAouCgROQU1FEiYaJGlzdGlvLWluZ3Jlc3NnYXRld2F5LTlkZDQ2YjU4Yi10Y3R6cwobCglOQU1FU1BBQ0USDhoMaXN0aW8tc3lzdGVtCl0KBU9XTkVSElQaUmt1YmVybmV0ZXM6Ly9hcGlzL2FwcHMvdjEvbmFtZXNwYWNlcy9pc3Rpby1zeXN0ZW0vZGVwbG95bWVudHMvaXN0aW8taW5ncmVzc2dhdGV3YXkKJwoNV09SS0xPQURfTkFNRRIWGhRpc3Rpby1pbmdyZXNzZ2F0ZXdheQ=="
      },
      "x-envoy-external-address": {
        "name": "x-envoy-external-address",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "44.244.239.147"
        },
        "example": "44.244.239.147"
      },
      "x-envoy-peer-metadata-id": {
        "name": "x-envoy-peer-metadata-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
        },
        "example": "router~10.10.185.143~istio-ingressgateway-9dd46b58b-tctzs.istio-system~istio-system.svc.cluster.local"
      },
      "x-envoy-decorator-operation": {
        "name": "x-envoy-decorator-operation",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
        },
        "example": "kong-test1-kong-proxy.kong-test.svc.cluster.local:80/*"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "GATEWAY_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "pragma": {
        "description": "Indicates directives for caching mechanisms in both requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "no-cache"
        },
        "example": "no-cache"
      },
      "expires": {
        "description": "Specifies the date and time after which the response is considered stale.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0"
        },
        "example": "0"
      },
      "access-control-max-age": {
        "description": "Specifies the duration in seconds that the results of a preflight request can be cached.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3628800"
        },
        "example": "3628800"
      },
      "x-kong-upstream-status": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "200"
        },
        "example": "200"
      },
      "access-control-allow-origin": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "*"
        },
        "example": "*"
      },
      "access-control-allow-headers": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "origin, x-requested-with, accept"
        },
        "example": "origin, x-requested-with, accept"
      },
      "access-control-allow-methods": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "GET, PUT, POST, DELETE"
        },
        "example": "GET, PUT, POST, DELETE"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens in the HTTP Authorization header. The tokens are typically JSON Web Tokens (JWT), which provide a compact and self-contained way to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}