{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Analysis API",
    "description": "The Market Analysis API provides insights into financial market trends and business performance. It enables users to retrieve valuable data on market conditions, competitor analysis, and economic indicators relevant to banking and finance sectors. This API is particularly useful for analysts, financial institutions, and business strategists looking to make informed decisions based on comprehensive market data. Consumers can leverage this API to enhance their reporting, forecasting, and strategic planning activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-analysis": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve market analysis data.",
        "description": "This endpoint allows users to obtain detailed insights and data regarding market trends, consumer behavior, and competitive positioning. Useful for making informed business decisions based on current market conditions.",
        "operationId": "getMarketAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to define the parameters for the market analysis operation. It includes the necessary criteria for retrieving market data and analytics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketAnalysisRequest": {
        "type": "string",
        "description": "Request body for market analysis operations in the business analysis module.",
        "example": "{}"
      },
      "GetMarketAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of market analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET market analysis operation, containing a list of analysis items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9d506a03-bfbd-50f8-b39d-72d611b10709",
            "correlationId": "58f66c76-fbaf-5db3-aa7f-7e893e58f673",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketAnalysisItem": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "string"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "string"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "string"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as the base for the analysis.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario description for the analysis.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single market analysis item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Id for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-analysis-search-market-analysis"
        },
        "example": "market-analysis-search-market-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWTs) for securing API endpoints. Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}