{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Number Lookup API",
    "description": "The Routing Number Lookup API provides users with a means to obtain detailed information about a specific routing number. This endpoint allows financial institutions, developers, and applications to retrieve data related to the routing number specified. Typical consumers are banking applications and financial service providers that require routing number validation or associated institution details. By leveraging this API, users can enhance their service offerings and improve the accuracy of financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/routingnumber/{routingnumberId}": {
      "get": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Retrieve Routing Number",
        "description": "This endpoint allows you to retrieve the routing number associated with a specific institution identified by its resource ID. It is useful for verifying banking information and ensuring accurate transactions.",
        "operationId": "getRoutingNumberForInstitution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving information related to the specified routing number. This should include necessary parameters to ensure accurate retrieval of data related to the institution associated with the routing number.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRoutingNumberForInstitutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved routing number details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRoutingNumberForInstitutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRoutingNumberForInstitutionRequest": {
        "title": "Routing Number Request Body",
        "type": "string",
        "description": "Represents the routing number used for institution requests.",
        "example": "{}"
      },
      "GetRoutingNumberForInstitutionResponse_200": {
        "title": "Routing Number Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "Indicates the number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "Number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond the displayed list.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the response was created.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "List of institutions related to the routing number.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "paymentInitiation": true,
                "billPayData": true,
                "liabilityData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving institutions based on routing numbers.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "paymentInitiation": true,
              "billPayData": true,
              "liabilityData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "1ef269fe-bd3e-543e-80b7-4df5aaf6be7f",
            "correlationId": "dd909a6c-fc82-527e-8831-ba0383d3b34a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Example Bank"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is available.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH services are available.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation services are available.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if verification of identity services are available.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if verification of account services are available.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if account health assessment services are available.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance information can be fetched.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if the account owners can be identified.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is provided.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "paymentInitiation": {
            "type": "boolean",
            "description": "Indicates if payment initiation services are available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is available.",
            "example": false
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is provided.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the account type offered by the institution.",
            "example": "Checking Account"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "123-456-7890"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the home application of the institution.",
            "example": "https://examplebank.com/home"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the login application of the institution.",
            "example": "https://examplebank.com/login"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the password recovery page.",
            "example": "https://examplebank.com/forgot-password"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration at the institution.",
            "example": "https://examplebank.com/register"
          },
          "class": {
            "type": "string",
            "description": "Classification of the institution (e.g., national, regional).",
            "example": "national"
          },
          "specialText": {
            "type": "string",
            "description": "Special text information about the institution.",
            "example": "Open to all customers"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution.",
            "example": "EST"
          },
          "specialInstructions": {
            "type": "array",
            "description": "Special instructions related to the institution.",
            "items": {
              "type": "string",
              "description": "An individual special instruction.",
              "example": "Special condition applies."
            }
          },
          "title": {
            "type": "string",
            "description": "Title of the institution.",
            "example": "Example Bank"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema representing an individual financial institution.",
        "example": {
          "id": 123,
          "name": "Example Bank",
          "transAgg": true,
          "ach": true,
          "stateAgg": false,
          "voi": false,
          "voa": false,
          "aha": false,
          "availBalance": true,
          "accountOwner": true,
          "studentLoanData": false,
          "loanPaymentDetails": false,
          "paymentInitiation": true,
          "billPayData": false,
          "liabilityData": false,
          "accountTypeDescription": "Checking Account",
          "phone": "123-456-7890",
          "urlHomeApp": "https://examplebank.com/home",
          "urlLogonApp": "https://examplebank.com/login",
          "oauthEnabled": true,
          "urlForgotPassword": "https://examplebank.com/forgot-password",
          "urlOnlineRegistration": "https://examplebank.com/register",
          "class": "national",
          "specialText": "Open to all customers",
          "timeZone": "EST",
          "specialInstructions": [],
          "title": "Example Bank",
          "address": {
            "city": "Example City",
            "state": "EX",
            "country": "Example Country",
            "postalCode": "12345"
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City where the institution is located.",
            "example": "Example City"
          },
          "state": {
            "type": "string",
            "description": "State where the institution is located.",
            "example": "EX"
          },
          "country": {
            "type": "string",
            "description": "Country where the institution is located.",
            "example": "Example Country"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the institution's address.",
            "example": "12345"
          }
        },
        "description": "Schema representing the address of an institution.",
        "example": {
          "city": "Example City",
          "state": "EX",
          "country": "Example Country",
          "postalCode": "12345"
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking correlation across systems.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the API response.",
        "example": {
          "responseId": "abc-123",
          "correlationId": "xyz-456",
          "generatedAt": "2023-01-01T00:00:00Z",
          "processingRegion": "US"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that has processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions-by-routing-number"
        },
        "example": "open-finance-api-get-institutions-by-routing-number"
      },
      "x-runtime-app": {
        "description": "The version of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, which requires a JSON Web Token (JWT) for authorization. The token must be included in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}