{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Liquidity Risk Model Management API",
    "description": "The Liquidity Risk Model Management API provides a robust platform for creating and managing liquidity risk models within banking applications. This API allows financial institutions to initiate the development of these models, ensuring compliance with regulatory standards and enhancing risk assessment capabilities. Typical consumers include risk management teams and financial analysts who need to implement effective models for liquidity risk analysis. By streamlining the model creation process, this API facilitates better decision-making in banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/liquidity-risk-models": {
      "post": {
        "tags": [
          "Liquidity Risk"
        ],
        "summary": "Create a new liquidity risk model.",
        "description": "This endpoint allows users to create a new liquidity risk model by providing the necessary parameters in the request body. The model will be validated upon creation, and a response will indicate success or failure with relevant details.",
        "operationId": "createLiquidityRiskModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new liquidity risk model. It should contain all required parameters as defined in the schema to ensure the successful creation of the model.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLiquidityRiskModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the given parameters.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLiquidityRiskModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLiquidityRiskModelRequest": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the liquidity risk model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the liquidity risk model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the model.",
            "example": "PORT-353551"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date for which the model is being evaluated.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model is being tested.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level for the predictions made by the model.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The identifier for the dataset used for validation purposes.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The number of months used to backtest the model.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "The approval status of the model.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "The unique identifier for the request.",
                "example": "request-101"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to track the request across systems.",
                "example": "correlation-202"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key to ensure the request is idempotent.",
                "example": "idempotent-key-303"
              },
              "requestedAt": {
                "type": "string",
                "description": "The timestamp when the request was made.",
                "example": "2023-10-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "source-system-A"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application that made the request.",
                "example": "source-app-B"
              },
              "channel": {
                "$ref": "#/components/schemas/RequestChannel"
              }
            },
            "description": "Context information for the request.",
            "example": {
              "requestId": "f0c2dcf0-5f2c-5301-9872-c5864ea91bac",
              "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
              "idempotencyKey": "b1f8df54-cc6c-53af-9177-f4ffafb6c232",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-481093"
              }
            }
          }
        },
        "description": "Request body for posting liquidity risk model operations.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-353551",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "f0c2dcf0-5f2c-5301-9872-c5864ea91bac",
            "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
            "idempotencyKey": "b1f8df54-cc6c-53af-9177-f4ffafb6c232",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-481093"
            }
          }
        }
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-404"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device from which the request originated.",
            "example": "device-505"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "CreateLiquidityRiskModelResponse_201": {
        "title": "Liquidity Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the liquidity risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the liquidity risk model.",
            "example": "PORT-348723"
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The unique identifier for the validation dataset used in the model.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the liquidity risk model.",
            "example": "RES-744667"
          },
          "status": {
            "type": "string",
            "description": "The current status of the liquidity risk model.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the liquidity risk model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for the Liquidity Risk Model created through the POST operation.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-348723",
          "validationDatasetId": "STANDARD",
          "resourceId": "RES-744667",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "903e9379-a13c-587b-8fe2-f98b27edeb3c",
            "correlationId": "6ab567e5-3378-525b-b27f-2e8c7e2b7d84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier for tracing requests in the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the liquidity risk model took place.",
            "example": "string"
          }
        },
        "description": "This schema represents meta information related to the liquidity risk model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint invoked. This helps in tracking the request and correlating logs across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "liquidity-risk-models-create-liquidity-risk-models"
        },
        "example": "liquidity-risk-models-create-liquidity-risk-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that processed the request. This provides context regarding the execution environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). To access restricted endpoints, include a valid JWT in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}