{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Acquiring Facility API",
    "description": "The Merchant Acquiring Facility API provides access to vital information concerning merchant card acquisition services. This endpoint allows users to retrieve details about available merchant services and card processing capabilities. It's designed for developers and businesses involved in payment processing, offering insights into supported functionalities and options for merchant transactions. Typical consumers include payment service providers and e-commerce platforms looking to integrate acquiring services into their offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility": {
      "get": {
        "tags": [
          "Merchant Services"
        ],
        "summary": "Retrieve merchant acquiring facilities.",
        "description": "This endpoint allows you to fetch the details of merchant acquiring facilities. It provides essential information that businesses need to understand their options for accepting card payments through merchant accounts.",
        "operationId": "getMerchantAcquiringFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching details about the merchant acquiring facility. This should contain any necessary identifiers or filter options to retrieve specific data about the facility.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantAcquiringFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of merchant acquiring facility information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantAcquiringFacilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantAcquiringFacilityRequest": {
        "type": "string",
        "description": "Request body for the GET operation on the merchant acquiring facility. This string typically contains valid JSON data related to the request.",
        "example": "{}"
      },
      "GetMerchantAcquiringFacilityResponse_200": {
        "title": "Merchant Acquiring Facility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of merchant details.",
            "example": [
              {
                "merchantId": "MER-291817",
                "legalName": "Olivia Bennett",
                "merchantCategoryCode": "5411",
                "settlementAccountId": "ACC-518605",
                "settlementCurrency": "USD",
                "pricingPlan": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MerchantDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of merchants.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for merchant acquiring facility operations.",
        "example": {
          "items": [
            {
              "merchantId": "MER-291817",
              "legalName": "Olivia Bennett",
              "merchantCategoryCode": "5411",
              "settlementAccountId": "ACC-518605",
              "settlementCurrency": "USD",
              "pricingPlan": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8ced20af-2ae1-5b7a-af3c-884c40645eed",
            "correlationId": "658b0110-3515-5ad4-b0fc-98a683b674f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MerchantDetails": {
        "title": "Merchant Details",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant."
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant as registered."
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant's category code representing the type of business."
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The ID of the account used for settling transactions."
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlements."
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan selected by the merchant."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant's record (e.g., Active, Inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the merchant's details."
          }
        },
        "description": "Detailed information about a merchant."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about the pagination of the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-search-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-search-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "The name and version of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, specifically in the format of JSON Web Tokens (JWT), for authorization. Clients must include the JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}