{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Orders Retrieval API",
    "description": "The Domestic Standing Orders Retrieval API allows users to access information about existing standing orders within the domestic banking framework. This endpoint retrieves details by specifying a unique identifier for the standing order. It is primarily designed for banks and financial institutions that wish to offer their clients easy access to their standing order details. Use cases include account management, transaction review, and customer service interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders/{param1}": {
      "get": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Retrieve a domestic standing order",
        "description": "This endpoint allows you to fetch the details of a specific domestic standing order using its unique identifier. It provides all relevant information regarding the standing order, including the amount, frequency, and associated account details.",
        "operationId": "getDomesticStandingOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific domestic standing order. The request should include the necessary parameters to identify the standing order being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticStandingOrderByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticStandingOrderByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticStandingOrderByIdRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation for domestic standing orders.",
        "example": "{}"
      },
      "GetDomesticStandingOrderByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticStandingOrderId": {
                "type": "string",
                "description": "The unique identifier for the domestic standing order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "The identifier for the consent associated with the standing order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the standing order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the standing order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the standing order.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetails"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/RefundAccount"
                  }
                },
                "description": "Information related to refunds for this standing order.",
                "example": {
                  "Account": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "SecondaryIdentification": "string"
                  }
                }
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "$ref": "#/components/schemas/RemittanceInformation"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments planned under the standing order.",
                    "example": "string"
                  },
                  "FirstPaymentAmount": {
                    "$ref": "#/components/schemas/PaymentAmount"
                  },
                  "RecurringPaymentAmount": {
                    "$ref": "#/components/schemas/PaymentAmount"
                  }
                },
                "description": "Details concerning the initiation of the standing order.",
                "example": {
                  "RemittanceInformation": {
                    "Structured": [],
                    "Unstructured": []
                  },
                  "NumberOfPayments": "string",
                  "FirstPaymentAmount": {
                    "Amount": "string",
                    "Currency": "string"
                  },
                  "RecurringPaymentAmount": {
                    "Amount": "string",
                    "Currency": "string"
                  }
                }
              }
            },
            "description": "Details of the domestic standing order.",
            "example": {
              "DomesticStandingOrderId": "ORD-634889",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "86f03b16-d6d9-5d03-b1cc-7e2a72083eb0",
              "correlationId": "ab40a5c6-57e3-53a1-9aa1-0939720ed8ab",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving domestic standing orders.",
        "example": {
          "Data": {
            "DomesticStandingOrderId": "ORD-634889",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "86f03b16-d6d9-5d03-b1cc-7e2a72083eb0",
            "correlationId": "ab40a5c6-57e3-53a1-9aa1-0939720ed8ab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetails": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details for the status reason of the standing order."
      },
      "RefundAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification details for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the account.",
            "example": "string"
          }
        },
        "description": "Information about the account related to the refund."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge (payer or payee).",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details regarding each charge associated with the standing order."
      },
      "Money": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "string"
          }
        },
        "description": "Specification of an amount of money."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Array of structured remittance information.",
            "example": [
              {
                "ReferredDocumentInformation": [],
                "ReferredDocumentAmount": "string",
                "CreditorReferenceInformation": {
                  "Code": "string",
                  "Issuer": "string",
                  "Reference": "string"
                },
                "Invoicer": "string",
                "Invoicee": "string",
                "TaxRemittance": "string",
                "AdditionalRemittanceInformation": []
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "ReferredDocumentInformation": {
                  "type": "array",
                  "description": "Information on referred documents.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "Code for the referring document.",
                        "example": "string"
                      },
                      "Issuer": {
                        "type": "string",
                        "description": "Issuer of the referring document.",
                        "example": "string"
                      },
                      "Number": {
                        "type": "string",
                        "description": "Document number.",
                        "example": "string"
                      },
                      "RelatedDate": {
                        "type": "string",
                        "description": "Date related to the referred document.",
                        "example": "string"
                      },
                      "LineDetails": {
                        "type": "array",
                        "description": "Details of the lines in the referred document.",
                        "items": {
                          "type": "string",
                          "description": "Line details for the referred document.",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "ReferredDocumentAmount": {
                  "type": "string",
                  "description": "Amount associated with referred documents.",
                  "example": "string"
                },
                "CreditorReferenceInformation": {
                  "type": "object",
                  "properties": {
                    "Code": {
                      "type": "string",
                      "description": "Code indicating the creditor reference.",
                      "example": "string"
                    },
                    "Issuer": {
                      "type": "string",
                      "description": "Issuer of the creditor reference.",
                      "example": "string"
                    },
                    "Reference": {
                      "type": "string",
                      "description": "Reference for the creditor.",
                      "example": "string"
                    }
                  },
                  "description": "Information regarding the creditor reference."
                },
                "Invoicer": {
                  "type": "string",
                  "description": "Details of the invoicer.",
                  "example": "string"
                },
                "Invoicee": {
                  "type": "string",
                  "description": "Details of the invoicee.",
                  "example": "string"
                },
                "TaxRemittance": {
                  "type": "string",
                  "description": "Tax remittance information.",
                  "example": "string"
                },
                "AdditionalRemittanceInformation": {
                  "type": "array",
                  "description": "Any additional remittance information provided.",
                  "items": {
                    "type": "string",
                    "description": "Additional remittance detail.",
                    "example": "string"
                  }
                }
              }
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Array of unstructured remittance information.",
            "items": {
              "type": "string",
              "description": "Unstructured remittance information detail.",
              "example": "string"
            }
          }
        },
        "description": "Detailed remittance information for the payment."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount of the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the payment.",
            "example": "string"
          }
        },
        "description": "Details about payment amounts in terms of currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-standing-order"
        },
        "example": "payment-initiation-openapi-get-domestic-standing-order"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that handled the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically designed for use with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header as a Bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}