{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Margin Insights API",
    "description": "The Credit Margin Insights API provides users with real-time data on credit margin calculations and trends in the banking sector. This endpoint allows consumers to access detailed metrics related to credit margins, including analytical insights that can guide financial decision-making and risk assessment. Common users of this API include financial analysts, risk managers, and banking software developers seeking to integrate credit margin information into their applications. By leveraging this API, organizations can enhance their strategies and improve their financial forecasting capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-margins": {
      "get": {
        "tags": [
          "Credit Management"
        ],
        "summary": "Retrieve credit margin details.",
        "description": "This endpoint allows developers to access detailed credit margin information, providing insights into credit risk assessments and adjustments based on market conditions.",
        "operationId": "getCreditMargins",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve credit margin data based on specific parameters. It should provide the necessary criteria for the query to be processed accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditMarginsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit margin data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditMarginsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditMarginsRequest": {
        "type": "string",
        "description": "Request body for the operations related to credit margins GET request.",
        "example": "{}"
      },
      "GetCreditMarginsResponse_200": {
        "title": "Credit Margins Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit margin models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-128800",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditMarginModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for Credit Margins operations with pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-128800",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c8fac009-94ec-56b6-befc-3f5ef78f30cc",
            "correlationId": "304f158f-cd7e-559e-ae67-2324c33b280a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditMarginModel": {
        "title": "Credit Margin Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the credit margin model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the credit margin model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model."
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the credit margin is calculated."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario for which the credit margins are calculated."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level associated with the credit margin calculation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the credit margin model."
          }
        },
        "description": "Schema representing a single credit margin model."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page (number of items per page).",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items in the dataset.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate between requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-and-margin-management-search-credit-and-margin-management"
        },
        "example": "credit-and-margin-management-search-credit-and-margin-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Token Authentication with JSON Web Tokens (JWT). Clients should include the token in the Authorization header in the format 'Authorization: Bearer {token}' to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}