{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Scheduled Payments Retrieval API",
    "description": "The Scheduled Payments Retrieval API enables users to access detailed information about scheduled payments linked to a specific financial account. This endpoint allows clients, such as banking applications and financial service providers, to retrieve and display scheduled payment data, facilitating transaction tracking and management. By utilizing the accountId parameter, consumers can efficiently retrieve relevant scheduled payments, providing insights into upcoming withdrawals or transfers. This API is particularly useful for users looking to maintain an organized view of their finance-related activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/scheduled-payments": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve scheduled payments for a specific account.",
        "description": "This endpoint allows users to fetch scheduled payment details associated with the specified account. It provides a comprehensive overview of upcoming payments, aiding in financial planning and management.",
        "operationId": "getScheduledPaymentsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving scheduled payments for a specific account identified by ACC-200045. This body is used to send any relevant identifiers or options related to the scheduled payments retrieval operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetScheduledPaymentsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved scheduled payments for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetScheduledPaymentsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetScheduledPaymentsForAccountRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving scheduled payments associated with account ACC-200045.",
        "example": "{}"
      },
      "GetScheduledPaymentsForAccountResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ScheduledPayment": {
                "type": "array",
                "description": "Array of scheduled payment details.",
                "items": {
                  "$ref": "#/components/schemas/ScheduledPayment"
                }
              }
            },
            "description": "Data object containing scheduled payments.",
            "example": {
              "ScheduledPayment": [
                {
                  "AccountId": "ACC-254529",
                  "id": "STANDARD",
                  "dateTime": "2026-09-15T14:30:00Z",
                  "ScheduledType": "STANDARD",
                  "Reference": "STANDARD",
                  "DebtorReference": "STANDARD",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-427",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for scheduled payments.",
        "example": {
          "Data": {
            "ScheduledPayment": [
              {
                "AccountId": "ACC-254529",
                "id": "STANDARD",
                "dateTime": "2026-09-15T14:30:00Z",
                "ScheduledType": "STANDARD",
                "Reference": "STANDARD",
                "DebtorReference": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-427",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD"
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "8cc0157e-86cf-537c-81a7-ad4eb841fe2c",
            "correlationId": "8686313b-8f72-57a4-8844-9aaa980274a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ScheduledPayment": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the scheduled payment."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the scheduled payment."
          },
          "dateTime": {
            "type": "string",
            "description": "Date and time when the payment is scheduled."
          },
          "ScheduledType": {
            "type": "string",
            "description": "Type of the scheduled payment."
          },
          "Reference": {
            "type": "string",
            "description": "Reference associated with the payment."
          },
          "DebtorReference": {
            "type": "string",
            "description": "Reference of the debtor."
          },
          "InstructedAmount": {
            "description": "Amount to be instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "CreditorAgent": {
            "description": "Agent representing the creditor.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Account details for the creditor.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Details of a scheduled payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount."
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount."
          }
        },
        "description": "Amount and currency details."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor agent."
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent."
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) for the creditor agent."
          }
        },
        "description": "Details of the creditor's agent."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor account."
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the creditor account."
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor account holder."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the creditor account."
          },
          "Proxy": {
            "description": "Proxy details for the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the creditor's account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business)."
          },
          "Department": {
            "type": "string",
            "description": "Department within the postal address."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the postal address."
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building."
          },
          "Room": {
            "type": "string",
            "description": "Room number within the building."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address information."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          },
          "Country": {
            "type": "string",
            "description": "Country name."
          },
          "AddressLine": {
            "type": "array",
            "description": "An array of address lines.",
            "items": {
              "type": "string",
              "description": "Individual line of the address."
            }
          }
        },
        "description": "Postal address details."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identification for the proxy."
          }
        },
        "description": "Proxy details for the creditor account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-scheduled-payments"
        },
        "example": "accounts-api-get-accounts-account-id-scheduled-payments"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must include the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}