{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mergers and Acquisitions Overview API",
    "description": "The Mergers and Acquisitions Overview API provides essential insights into corporate financial activities related to mergers and acquisitions. This API allows users to access detailed information about specific mergers and acquisitions, facilitating informed decision-making in corporate strategy. Typical consumers include financial analysts, corporate finance executives, and business development teams seeking to understand market trends and evaluate potential deals. By leveraging this API, organizations can enhance their competitive edge through data-driven analysis and strategy development.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/mergers-acquisitions/{param1}": {
      "get": {
        "tags": [
          "Mergers and Acquisitions"
        ],
        "summary": "Retrieve Mergers and Acquisitions Resource",
        "description": "This endpoint allows you to fetch detailed information about a specific mergers and acquisitions resource identified by its ID. Use this to gain insights into the resource and its attributes.",
        "operationId": "getMergersAcquisitionsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching the mergers and acquisitions data related to a specific resource identified by RES-100045. It should include any necessary parameters that the API requires for processing the request effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMergersAcquisitionsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested merger or acquisition details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMergersAcquisitionsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMergersAcquisitionsByIdRequest": {
        "type": "string",
        "description": "This schema represents the body of a request for the GET operation in the context of corporate finance, specifically regarding mergers and acquisitions. The body is expected to be a string format.",
        "example": "{}"
      },
      "GetMergersAcquisitionsByIdResponse_200": {
        "title": "Mergers and Acquisitions Response",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction (e.g., acquisition, merger).",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "The enterprise value of the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the transaction.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, closed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a Mergers and Acquisitions operation.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2fb7f314-4136-5b52-a33b-9aa0b77b8f94",
            "correlationId": "5b4980dc-c3ea-5568-84f3-90932824461f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the enterprise value amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the enterprise value details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema providing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed. Useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mergers-and-acquisitions-advisory-get-mergers-and-acquisitions-advisory"
        },
        "example": "mergers-and-acquisitions-advisory-get-mergers-and-acquisitions-advisory"
      },
      "X-Runtime-App": {
        "description": "The version of the application that handled the request. This can help in debugging and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their HTTP requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}