{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Management API",
    "description": "The Term Deposit Management API facilitates the creation and management of term deposit accounts within the banking ecosystem. This endpoint allows financial institutions to seamlessly register new term deposits, including specifying terms, amounts, and interest rates. It benefits banks and credit unions seeking to enhance their deposit product offerings and provide customers with tailored saving solutions. Developers integrating with this API can enable their applications to efficiently handle term deposit creation and enhance user experience in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit": {
      "post": {
        "tags": [
          "Term Deposit Management"
        ],
        "summary": "Create a new term deposit",
        "description": "This endpoint allows users to create a new term deposit in the lending system. Users need to provide necessary details such as amount, duration, and interest rate to successfully generate a term deposit.",
        "operationId": "createTermDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new term deposit under the deposit lending service. It includes the necessary details required for the term deposit creation, such as deposit amount, term length, interest rate, and any other relevant parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTermDepositRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Term deposit created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTermDepositResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error, please try again later.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTermDepositResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed for the provided data.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTermDepositResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTermDepositResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-448718"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the term deposit.",
            "example": "ACC-419057"
          },
          "productCode": {
            "type": "string",
            "description": "The code that represents the specific term deposit product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the created resource.",
            "example": "RES-268650"
          },
          "status": {
            "type": "string",
            "description": "The status of the term deposit operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the term deposit was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The identifier for the response generated by the operation.",
                "example": "RESP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used to correlate requests and responses.",
                "example": "CORR234567"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographical region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the term deposit operation.",
            "example": {
              "responseId": "c44f4518-b63e-5042-ad33-85db4dace5fe",
              "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "The response schema for creating a term deposit in the lending operations.",
        "example": {
          "customerId": "CUST-448718",
          "accountId": "ACC-419057",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-268650",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c44f4518-b63e-5042-ad33-85db4dace5fe",
            "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreateTermDepositResponse_500": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the error type.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A detailed message describing the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow in which the error occurred.",
            "example": "WF-004"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "Indicates the number of hops the request was processed through before failing.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema represents the structure of an error response returned when a POST operation fails.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-004",
          "failedAfterHop": 3
        }
      },
      "CreateTermDepositRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer making the request.",
            "example": "CUST-936599"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-517447"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the financial product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount being deposited, including currency.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the deposit term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency at which repayments are to be made.",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The total amount to be deposited, including currency.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "tenorDays": {
            "type": "integer",
            "description": "The duration of the deposit tenor in days.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions for handling the maturity of the deposit.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context in which the request is made, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "customerId": "CUST-936599",
          "accountId": "ACC-517447",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "requestContext": {
            "requestId": "537dbc08-ecd4-5aa1-bd26-3ff813e85e46",
            "correlationId": "a9eeba2b-7b5f-5c89-bb53-35aaba5e9985",
            "idempotencyKey": "be6de7ec-ed6d-577e-abfe-6d0faafa39d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-444243"
            }
          }
        }
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the financial amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount, following ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money, including its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "IDEMPOTENT_KEY"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "MobileApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that initiated the request.",
            "example": "MyBankApp"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request, including identifiers and source information."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Mobile, Web, ATM).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Represents the channel through which the request was submitted."
      },
      "CreateTermDepositResponse_422": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the type of error that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the error in logs.",
            "example": "c5f7ed8e-3528-467a-9129-ec6da08b444e"
          },
          "message": {
            "type": "string",
            "description": "A brief message describing the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Information about the workflow state during which the error occurred.",
            "example": "WF-004"
          }
        },
        "description": "Schema representing the error response for a failed term deposit operation.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "c5f7ed8e-3528-467a-9129-ec6da08b444e",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-004"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "88aa09f4-0fa3-4e6c-86da-5efb3639bacf"
        },
        "example": "88aa09f4-0fa3-4e6c-86da-5efb3639bacf"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "74ac91b1-3a67-4617-8ce3-431738fc9ef2"
        },
        "example": "74ac91b1-3a67-4617-8ce3-431738fc9ef2"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-create-term-deposit"
        },
        "example": "term-deposit-create-term-deposit"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the runtime occurred.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request, returned when the request cannot be processed due to validation errors.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-004"
        },
        "example": "WF-004"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Term Deposit Opening and Maturity Instruction"
        },
        "example": "Term Deposit Opening and Maturity Instruction"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "113e91b1-1760-4fba-93b1-3cbb85d8c624"
        },
        "example": "113e91b1-1760-4fba-93b1-3cbb85d8c624"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens based on JSON Web Tokens (JWT). This method involves the use of a secure token that must be sent in the Authorization header of requests to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}