{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Account Transaction Retrieval API",
    "description": "The Bank Account Transaction Retrieval API allows users to access detailed transaction data for specific account statements. By specifying the account ID and statement ID, financial institutions and developers can retrieve a comprehensive list of transactions to analyze account activity. This API serves as a key resource for applications focusing on budget tracking, financial planning, and banking services. Typical consumers include fintech applications, personal finance managers, and banking platforms looking to provide enhanced account insights to their users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}/transactions": {
      "get": {
        "tags": [
          "Account Statements"
        ],
        "summary": "Retrieve transactions for a specific account statement",
        "description": "This endpoint allows you to fetch all transactions associated with a specific account statement identified by its account ID and statement ID. Use this to gain insights into the financial activities recorded in the statement.",
        "operationId": "getAispAccountStatementsTransactionsAcc200045Res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of transactions for a specific account statement. It captures the necessary parameters required to filter and fetch the desired transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountStatementsTransactionsAcc200045Res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the transaction list.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountStatementsTransactionsAcc200045Res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountStatementsTransactionsAcc200045Res100045Request": {
        "type": "string",
        "description": "A request body containing transaction details in a specific format for operations related to account statements.",
        "example": "{}"
      },
      "GetAispAccountStatementsTransactionsAcc200045Res100045Response_200": {
        "title": "Transactions Response Schema",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "List of transactions associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Contains the transaction data.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-167234",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-310"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred."
              }
            },
            "description": "Metadata regarding the response.",
            "example": {
              "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
              "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the structure of the response for the transactions retrieval operation.",
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-167234",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-310"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "6161c50a-7189-5a65-92ab-768a670e137d",
            "correlationId": "dfc76468-8dea-5134-8ee2-773947e0946d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "title": "Transaction Schema",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier of the account associated with the transaction."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "reference": {
            "type": "string",
            "description": "Reference code for the transaction."
          },
          "StatementReference": {
            "type": "array",
            "description": "List of references to statements associated with the transaction.",
            "items": {
              "type": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator of whether the transaction is a credit or debit."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction."
          },
          "mutability": {
            "type": "string",
            "description": "Indicates if the transaction can be modified."
          },
          "BookingDateTime": {
            "type": "string",
            "description": "Date and time when the transaction was booked."
          },
          "ValueDateTime": {
            "type": "string",
            "description": "Date and time when the transaction value is recognized."
          },
          "information": {
            "type": "string",
            "description": "Additional information related to the transaction."
          },
          "AddressLine": {
            "type": "string",
            "description": "Address associated with the transaction."
          },
          "Amount": {
            "description": "The amount involved in the transaction.",
            "$ref": "#/components/schemas/Money"
          },
          "ChargeAmount": {
            "description": "Charge amount for the transaction, if applicable.",
            "$ref": "#/components/schemas/Money"
          },
          "CurrencyExchange": {
            "description": "Details of the currency exchange related to the transaction, if applicable.",
            "$ref": "#/components/schemas/CurrencyExchangeDetails"
          },
          "BankTransactionCode": {
            "description": "Bank transaction code and sub-code associated with the transaction.",
            "$ref": "#/components/schemas/BankTransactionCode"
          },
          "code": {
            "description": "Additional coding information related to the transaction.",
            "$ref": "#/components/schemas/TransactionCode"
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Extended proprietary bank transaction codes for the transaction.",
            "items": {
              "$ref": "#/components/schemas/ProprietaryBankTransactionCode"
            }
          },
          "Balance": {
            "description": "Balance information after the transaction.",
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "MerchantDetails": {
            "description": "Details of the merchant involved in the transaction.",
            "$ref": "#/components/schemas/MerchantDetails"
          }
        },
        "description": "Represents a financial transaction."
      },
      "Money": {
        "title": "Money Schema",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary value."
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated."
          }
        },
        "description": "Represents an amount of money with a currency."
      },
      "CurrencyExchangeDetails": {
        "title": "Currency Exchange Details Schema",
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "Currency being exchanged from."
          },
          "TargetCurrency": {
            "type": "string",
            "description": "Currency being exchanged to."
          },
          "UnitCurrency": {
            "type": "string",
            "description": "Currency used as a unit in the exchange."
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied."
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification number for the exchange contract."
          },
          "QuotationDate": {
            "type": "string",
            "description": "Date when the exchange rate was quoted."
          },
          "InstructedAmount": {
            "description": "The amount instructed for exchange.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Represents the details of a currency exchange transaction."
      },
      "BankTransactionCode": {
        "title": "Bank Transaction Code Schema",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The transaction code assigned by the bank."
          },
          "SubCode": {
            "type": "string",
            "description": "The sub-code associated with the transaction code."
          }
        },
        "description": "Represents a bank transaction code and its sub-code."
      },
      "TransactionCode": {
        "title": "Transaction Code Schema",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code related to the transaction."
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the transaction code."
          }
        },
        "description": "Represents additional coding related to the transaction."
      },
      "ProprietaryBankTransactionCode": {
        "title": "Proprietary Bank Transaction Code Schema",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Proprietary code assigned by the bank."
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the proprietary code."
          },
          "Description": {
            "type": "string",
            "description": "Description of the proprietary code."
          }
        },
        "description": "Contains proprietary bank transaction codes."
      },
      "BalanceDetails": {
        "title": "Balance Details Schema",
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indication of whether the balance is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of balance (e.g., available, current)."
          },
          "Amount": {
            "description": "Amount of the balance.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Represents balance information after a transaction."
      },
      "MerchantDetails": {
        "title": "Merchant Details Schema",
        "type": "object",
        "properties": {
          "MerchantName": {
            "type": "string",
            "description": "The name of the merchant."
          }
        },
        "description": "Contains details about the merchant involved in a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, formatted as JSON Web Tokens (JWT). This method is commonly used for providing access control to APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}