{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Building Maintenance Status API",
    "description": "The Building Maintenance Status API provides access to the current status of maintenance requests for various facilities. This API is essential for property managers and maintenance teams to efficiently monitor and manage maintenance activities. Users can retrieve details on ongoing, completed, or pending maintenance tasks, ensuring timely responses to facility needs. Typical consumers include building managers, maintenance staff, and operations teams seeking to enhance facility management workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve building maintenance facilities.",
        "description": "This endpoint allows you to access information about various facilities available for building maintenance. It provides details on resources and services available to ensure the upkeep of buildings.",
        "operationId": "getBuildingMaintenanceFacilities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving building maintenance information. This request expects a JSON object that specifies the desired parameters for the operation. Ensure that the provided data adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBuildingMaintenanceFacilitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved building maintenance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBuildingMaintenanceFacilitiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBuildingMaintenanceFacilitiesRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to building maintenance.",
        "example": "{}"
      },
      "GetBuildingMaintenanceFacilitiesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of maintenance items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-926158",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the building maintenance operations GET request.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-926158",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e5b7c3d4-d7d6-5887-9457-bda9141c2c4b",
            "correlationId": "54f392d6-0701-52da-8008-22e65222c4da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site where the maintenance is scheduled."
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset that requires maintenance."
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the work order associated with the maintenance."
          },
          "scheduledDate": {
            "type": "string",
            "description": "Scheduled date for the maintenance.",
            "format": "date-time"
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for the maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance is taking place."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the maintenance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the maintenance record was last updated."
          }
        },
        "description": "Schema representing individual maintenance item details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "format": "date-time"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value can be used for tracking requests and monitoring performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-search-building-maintenance"
        },
        "example": "building-maintenance-search-building-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the application executing the request. It provides context about the environment and may assist in debugging or logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method. Clients must include a JSON Web Token (JWT) in the `Authorization` header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}