{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Decisioning API",
    "description": "The Loan Application Decisioning API facilitates the submission of loan applications for assessment by the system. It allows users to initiate the decision-making process for specific loan applications identified by a unique parameter. Financial institutions and lending organizations typically use this API to automate decisions related to credit approvals and pricing. By integrating this service, businesses can enhance their lending workflows, ensuring quicker responses to applicants while maintaining compliance with internal policies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Create a decision for a specific loan application.",
        "description": "This endpoint allows authorized users to submit a decision for the loan application identified by RES-100045. The decision should reflect the outcome based on the assessment of the application.",
        "operationId": "createDecisionForLoanApplicationRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a decision for a loan application identified by 'RES-100045'. It requires data in JSON format that specifies the decision details, including approval status and any related comments or requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDecisionForLoanApplicationRES100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new decision for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDecisionForLoanApplicationRES100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDecisionForLoanApplicationRES100045Request": {
        "title": "Loan Application Decision Request",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from which the decision was made.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for decision making.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the applicant.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The probability of default expressed as a percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The applicant's debt-to-income ratio as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The approved term length in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "SuccessfulCreditCheck"
            }
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the approval.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "The ID of the decision this one supersedes, if applicable.",
            "example": "b8e4a0b7-4934-2767-1444-46494becc31b"
          },
          "requestContext": {
            "description": "Context related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to decide on a loan application.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "b8e4a0b7-4934-2767-1444-46494becc31b",
          "requestContext": {
            "requestId": "f86c867d-0a78-57c3-822e-b8ce3ca2eef6",
            "correlationId": "f2d41724-9ab0-50c4-af48-d9d13c1de2d7",
            "idempotencyKey": "a7844bf0-f1e9-5f50-992d-37c517d5f686",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-426281"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "title": "Approved Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the approved principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The approved principal amount.",
            "example": "10000"
          }
        },
        "description": "Schema representing the approved principal amount for a loan."
      },
      "Condition": {
        "title": "Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code for the condition.",
            "example": "C1"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the condition.",
            "example": "Provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be met.",
            "example": "2023-11-01"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition associated with the loan decision."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotent requests.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "LoanAppV1"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateDecisionForLoanApplicationRES100045Response_201": {
        "title": "Loan Application Decision Response",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source of the decision.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for the decision.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The probability of default percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The approved loan term in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "A list of reason codes for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "RA1"
            }
          },
          "conditions": {
            "type": "array",
            "description": "A list of conditions associated with the decision.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Any additional comments regarding the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "The identifier of any decision that this decision supersedes.",
            "example": "42a6c5b8-c5b1-6325-4612-2fa3d33a351a"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the decision.",
            "example": "e8ae3f8c-81e0-1918-7103-cc26c593e637"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp indicating when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "Identifier of the user or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata regarding the decision response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the decision response for a loan application.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "42a6c5b8-c5b1-6325-4612-2fa3d33a351a",
          "id": "e8ae3f8c-81e0-1918-7103-cc26c593e637",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "fecb8321-cf20-5da2-b2f4-4dab4ad31d71",
            "correlationId": "f2d41724-9ab0-50c4-af48-d9d13c1de2d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the audit record was created.",
            "example": "2023-10-01T14:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the audit record.",
            "example": "User123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the audit record was last updated.",
            "example": "2023-10-01T14:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the audit record.",
            "example": "User123"
          },
          "version": {
            "type": "integer",
            "description": "The version of the audit record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information for the decision."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-01T14:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Schema representing additional metadata for the decision response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-credit-decision"
        },
        "example": "banking-loans-openapi-create-credit-decision"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes a bearer token format, specifically JSON Web Tokens (JWT), to secure API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}