{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Collaterals API",
    "description": "The Manage Collaterals API enables financial institutions to update the details of collaterals associated with specific loan applications. Users can leverage this endpoint to ensure that collateral information is accurate and up-to-date, reflecting any changes in asset value or borrower circumstances. This API is particularly useful for loan officers and compliance teams involved in the loan management process. By maintaining precise collateral records, organizations can enhance risk assessment and decision-making in lending operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Collateral for Loan Application",
        "description": "This endpoint allows you to update the collateral information associated with a specific loan application. Ensure that you provide the necessary data in the request body to reflect the changes required for the collateral.",
        "operationId": "updateLoanApplicationCollateralRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the collateral details for a specific loan application identified by RES-100045. Ensure that the information provided is complete and accurate to facilitate the processing of the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationCollateralRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, collateral updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationCollateralRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationCollateralRes100045Request": {
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being offered.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-507851"
            ],
            "items": {
              "type": "string",
              "description": "A customer ID of an owner.",
              "example": "CUST12345"
            }
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "forcedSaleValue": {
            "description": "The estimated forced sale value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the valuation was conducted.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The name of the provider that conducted the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien associated with the collateral.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request related to the collateral.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the collateral details for a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-507851"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "requestContext": {
            "requestId": "b64709ac-6826-5914-bbd6-1db93b248f85",
            "correlationId": "cbbb28ce-b0cf-587a-a6ee-bb53b11a5444",
            "idempotencyKey": "242cb03c-99f0-5847-ace5-2f0d06fdd0be",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-525474"
            }
          }
        }
      },
      "MonetaryValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money represented.",
            "example": "300000"
          }
        },
        "description": "Represents a monetary value with currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate different requests or transactions.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-15T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that generated the request.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "Loan Processing App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "CHNL123456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "Mobile App"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEV123456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateLoanApplicationCollateralRes100045Response_200": {
        "title": "Collateral Response",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being offered.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The ownership type of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "A list of IDs representing the owners of the collateral.",
            "example": [
              "CUST-531301"
            ],
            "items": {
              "type": "string",
              "example": "owner-id-123"
            }
          },
          "description": {
            "type": "string",
            "description": "A brief description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "forcedSaleValue": {
            "description": "The forced sale value of the collateral.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The organization that provided the valuation of the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority level of the lien associated with the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "8c337dc0-591a-46b6-ae02-75a242e46a6a"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value percentage associated with the collateral.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the collateral.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata regarding the collateral response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the response for collateral information in a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-531301"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "8c337dc0-591a-46b6-ae02-75a242e46a6a",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "5d27aa3e-b862-5233-b5a9-10bc854399a8",
            "correlationId": "cbbb28ce-b0cf-587a-a6ee-bb53b11a5444",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the entity was created.",
            "example": "2023-09-30"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the entity.",
            "example": "user-id-789"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the entity was last updated.",
            "example": "2023-10-01"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the entity.",
            "example": "user-id-789"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the entity.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains audit information for the related entity."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response-id-321"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing related operations.",
            "example": "correlation-id-654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for logging and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-collateral"
        },
        "example": "banking-loans-openapi-replace-collateral"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request, aiding in system diagnostics and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, formatted as a JSON Web Token (JWT). This scheme is often used to secure APIs by requiring clients to include a valid token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}