{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Eligibility Inquiry API",
    "description": "The Product Eligibility Inquiry API enables organizations to verify customer eligibility for various financial products. This API allows users to retrieve detailed information regarding which products a customer qualifies for based on their profile and account status. Financial institutions and customer service teams leverage this functionality to enhance customer interactions and streamline the onboarding process. By providing quick access to eligibility data, this API supports informed decision-making and improves the customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve product eligibility details.",
        "description": "This endpoint allows you to retrieve the eligibility details for products associated with customers. It fetches comprehensive information about which products are available for the specified customer based on predefined criteria.",
        "operationId": "getProductEligibilities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product eligibility information for customers. Ensure the JSON structure complies with the designated schema to facilitate accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductEligibilitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of product eligibility information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductEligibilitiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductEligibilitiesRequest": {
        "title": "Product Eligibility Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving product eligibility in the customer management system.",
        "example": "{}"
      },
      "GetProductEligibilitiesResponse_200": {
        "title": "Product Eligibility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of product eligibility items for customers.",
            "example": [
              {
                "customerId": "CUST-498516",
                "partyId": "PARTY-985592",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductEligibilityItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response result.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product eligibility information for customers.",
        "example": {
          "items": [
            {
              "customerId": "CUST-498516",
              "partyId": "PARTY-985592",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b49bf26a-d81b-5ac1-8447-d203ebdb9b37",
            "correlationId": "3cf04423-0ec8-5423-8c60-dea9909b97c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductEligibilityItem": {
        "title": "Product Eligibility Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the eligibility is effective."
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship associated with the customer."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Schema representing an individual product eligibility detail for a customer."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for pagination.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the result set."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-search-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-search-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a valid JSON Web Token (JWT) to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}