{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Management Manual Retrieval API",
    "description": "The Management Manual Retrieval API allows users to access detailed management manuals that provide essential information and guidelines for banking operations. This endpoint is designed for financial institutions, compliance officers, and auditors who need to consult management protocols and practices. By retrieving specific management manuals using the provided parameter, consumers can ensure they are informed about standard operating procedures and regulations. This API serves as a crucial resource in maintaining regulatory compliance and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{param1}": {
      "get": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Retrieve Management Manual by ID",
        "description": "Fetches the details of a specific management manual identified by its unique ID. This operation allows users to access the content and attributes of the specified management manual to aid in knowledge management and documentation processes.",
        "operationId": "getManagementManualById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for the operation which retrieves the management manual associated with the specified resource identifier. This request expects a JSON formatted payload that describes the parameters or criteria for fetching the resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetManagementManualByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the requested data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetManagementManualByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetManagementManualByIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the knowledge management manual operations.",
        "example": "{}"
      },
      "GetManagementManualByIdResponse_200": {
        "title": "Management Manual Response",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the management manual.",
            "format": "int32",
            "example": 1
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the management manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the manual is effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the management manual.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the manual record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the manual was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the management manual.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema containing details about a management manual.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": 1,
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "recordStatus": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ee6e6735-141f-5ac6-a6b1-582ad8e72b54",
            "correlationId": "10c47dc9-abb4-5899-9024-cd1f9c6ad6b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the management manual."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called, useful for logging and tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-get-management-manual"
        },
        "example": "management-manual-get-management-manual"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, helpful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in JSON Web Token (JWT) format, to ensure secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}