{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Reward Configuration API",
    "description": "The Update Reward Configuration API enables businesses to modify existing reward configurations for their loyalty programs. With this operation, users can efficiently adjust reward parameters such as points value, eligibility, and expiration details based on changing business strategies or customer feedback. This API is typically utilized by program managers and developers looking to enhance the customer experience within their banking or loyalty platforms. By ensuring accurate and up-to-date reward offerings, businesses can drive customer engagement and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "patch": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Update a specific reward resource.",
        "description": "This endpoint allows you to modify the attributes of a specific reward identified by its unique identifier (RES-100045). Ensure to provide the necessary fields in the request body to apply your updates.",
        "operationId": "updateRewardRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the details for updating the reward identified by RES-100045. The request body should adhere to the schema specifications outlined below, detailing all necessary fields for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRewardRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRewardRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateRewardRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the entity requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating operational services rewards.",
        "example": {
          "changes": {
            "loyaltyAccountId": "ACC-411260",
            "customerId": "CUST-277988",
            "activityType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "af589cd2-2a72-541c-8238-1eb04ef090fe",
            "correlationId": "6e08197d-fd90-56e9-a705-67c24a922e63",
            "idempotencyKey": "8017d1a2-612d-5511-889e-4dc18692f703",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-145279"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity being logged or changed.",
            "example": "string"
          }
        },
        "description": "Schema representing the specific changes being requested."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across different systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Token ensuring that a request is only processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual data related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was sent.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel used for the request."
      },
      "UpdateRewardRes100045Response_200": {
        "title": "Operations PATCH Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the PATCH operation in the rewards service. This includes metadata about the request and the processing status.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "00b04b40-7f04-5cab-92e1-79ed399f4567",
            "correlationId": "6e08197d-fd90-56e9-a705-67c24a922e63",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests or responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information relevant to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-update-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-update-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication as defined in the OAuth 2.0 specification. It requires a valid JSON Web Token (JWT) to access secured endpoints, ensuring that only authorized users can perform certain operations.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}