{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Retrieval API",
    "description": "The Loan Application Retrieval API allows users to access detailed information regarding specific loan applications within the system. This endpoint is crucial for stakeholders, such as loan officers and applicants, who need to track the status and details of their loan requests. By providing comprehensive data about individual applications, this API enhances transparency and facilitates informed decision-making. Use cases include reviewing application history, verifying submission statuses, and managing client inquiries effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve a loan application by its unique identifier.",
        "description": "This endpoint allows developers to fetch the details of a specific loan application using its unique ID. The response will include all relevant information related to the loan application, enabling users to review its status and pertinent details.",
        "operationId": "getLoanApplicationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving loan application details for the specified resource ID. Ensure that the request is properly formatted to match the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning loan application data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationByIdRequest": {
        "type": "string",
        "description": "A JSON string representation of the loan application request body.",
        "example": "{}"
      },
      "GetLoanApplicationByIdResponse_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "PROD-835519"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for tracking.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was made.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan is requested.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested by the applicant.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan requested in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier for the primary customer applying for the loan.",
            "example": "CUST-941496"
          },
          "branchCode": {
            "type": "string",
            "description": "The code representing the branch handling the application.",
            "example": "CODE-765"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager assigned to the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The campaign code associated with the loan application.",
            "example": "CODE-374"
          },
          "customerConsent": {
            "description": "The consent information provided by the customer.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "11aa6459-7ddb-1c66-12a8-f399d3da0026"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number for tracking purposes.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the loan application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier of the booked loan if the application is successful.",
            "example": "LOAN-267023"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage completion of the loan application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information for tracking modifications to the application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response schema for a loan application.",
        "example": {
          "productId": "PROD-835519",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-941496",
          "branchCode": "CODE-765",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-374",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "11aa6459-7ddb-1c66-12a8-f399d3da0026",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-267023",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "313037ee-89ec-5015-a141-a59f6821acaf",
            "correlationId": "5527df2b-004a-5e39-9f7d-108774d04613",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is requested.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money requested as principal.",
            "example": "string"
          }
        },
        "description": "Details of the requested principal amount."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when consent was granted.",
            "example": "string"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference number associated with the consent.",
            "example": "string"
          }
        },
        "description": "Information about customer consents for the loan application."
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code identifying the outstanding requirement.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outstanding requirement.",
            "example": "string"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for fulfilling the outstanding requirement.",
            "example": "string"
          }
        },
        "description": "Represents an outstanding requirement for the loan application."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the application was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the application.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the application was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the application.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version of the application data.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information of the application throughout its lifecycle."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint through which the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-application"
        },
        "example": "banking-loans-openapi-get-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating where the response originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where a JSON Web Token (JWT) is provided in the `Authorization` header. The token grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}