{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Information Retrieval API",
    "description": "The Merchant Information Retrieval API provides access to detailed data about merchants within the system. This API enables users to retrieve comprehensive merchant profiles, including their business attributes, location details, and operational status. Typically utilized by business analysts, partners, and application developers, this API supports various use cases such as performance assessments, market analysis, and integration into operational workflows. By leveraging this API, consumers can facilitate better decision-making based on accurate merchant information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants": {
      "get": {
        "tags": [
          "Merchants"
        ],
        "summary": "Retrieve a list of all merchants.",
        "description": "This endpoint allows you to fetch the complete list of merchants available in the system. You can use this information to explore various merchants and their offerings.",
        "operationId": "getMerchants",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters for retrieving merchant information via a GET request. The body should encapsulate all necessary details for the operation, ensuring it aligns with the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of merchants.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on merchants.",
        "example": "{}"
      },
      "GetMerchantsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Links related to the merchant listing (e.g., pagination links).",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of merchant items.",
            "example": [
              {
                "merchantId": "MER-251194",
                "business": {
                  "legalName": "Olivia Bennett",
                  "tradingName": "Northstar Banking Service",
                  "registrationNumber": "NY-4587219",
                  "taxIdentificationNumber": "STANDARD",
                  "incorporationCountry": "STANDARD",
                  "incorporationDate": "2026-09-15",
                  "merchantType": "STANDARD",
                  "merchantCategoryCode": "5411"
                },
                "registeredAddress": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "stateOrProvince": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                },
                "contact": {
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "website": "https://example.com/resource"
                },
                "status": "ACTIVE",
                "kybStatus": "ACTIVE",
                "amlStatus": "ACTIVE",
                "capabilities": {
                  "channels": [
                    "STANDARD"
                  ],
                  "paymentMethods": [
                    "STANDARD"
                  ],
                  "supportsPartialCapture": true,
                  "supportsPartialRefund": true,
                  "supportsTips": true,
                  "supportsSplitPayments": true
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Merchant"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation fetching merchants' information.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "merchantId": "MER-251194",
              "business": {
                "legalName": "Olivia Bennett",
                "tradingName": "Northstar Banking Service",
                "registrationNumber": "NY-4587219",
                "taxIdentificationNumber": "STANDARD",
                "incorporationCountry": "STANDARD",
                "incorporationDate": "2026-09-15",
                "merchantType": "STANDARD",
                "merchantCategoryCode": "5411"
              },
              "registeredAddress": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "stateOrProvince": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD"
              },
              "contact": {
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "website": "https://example.com/resource"
              },
              "status": "ACTIVE",
              "kybStatus": "ACTIVE",
              "amlStatus": "ACTIVE",
              "capabilities": {
                "channels": [
                  "STANDARD"
                ],
                "paymentMethods": [
                  "STANDARD"
                ],
                "supportsPartialCapture": true,
                "supportsPartialRefund": true,
                "supportsTips": true,
                "supportsSplitPayments": true
              }
            }
          ],
          "metadata": {
            "responseId": "c6f9ab76-49e0-555f-b361-8f2b9a9015b2",
            "correlationId": "07f32381-7768-567b-83f0-07b64c247b87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relationship type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "URL for the link.",
            "example": "http://api.example.com/merchants?page=2"
          },
          "method": {
            "type": "string",
            "description": "HTTP method for the link operation.",
            "example": "GET"
          }
        },
        "description": "Representation of a link in the response."
      },
      "Merchant": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "merchant123"
          },
          "business": {
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "active"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status.",
            "example": "verified"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status.",
            "example": "compliant"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          }
        },
        "description": "Representation of a merchant's detailed information."
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "Example LLC"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name of the business.",
            "example": "Example Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Registration number of the business.",
            "example": "12345678"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "TAX123456"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country of incorporation.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date of incorporation.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "retail"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code.",
            "example": "5411"
          }
        },
        "description": "Business details of the merchant."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "Metropolis"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "USA"
          }
        },
        "description": "Registered address of the merchant."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contact.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contact.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "http://example.com"
          }
        },
        "description": "Contact details for the merchant."
      },
      "MerchantCapabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Channels through which the merchant operates.",
            "items": {
              "type": "string",
              "example": "online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Payment methods accepted by the merchant.",
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          }
        },
        "description": "Capabilities offered by the merchant."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "correlation_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-merchants"
        },
        "example": "banking-p2m-openapi-list-merchants"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens to secure API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}