{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Disbursement Details API",
    "description": "The Disbursement Details API provides access to specific disbursement information identified by a unique disbursement ID. This endpoint allows users to retrieve detailed data regarding transaction statuses, amounts, and associated reference details. It is particularly useful for financial institutions, accounting systems, or customer service applications that require visibility into disbursement transactions. By utilizing this API, developers can enhance their applications with real-time access to disbursement insights, leading to improved user experiences and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement/{disbursementId}": {
      "get": {
        "tags": [
          "Disbursement"
        ],
        "summary": "Retrieve disbursement details by ID.",
        "description": "This endpoint allows clients to fetch the details of a specific disbursement using its unique identifier, providing necessary information related to the disbursement for further processing or analysis.",
        "operationId": "getDisbursementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving disbursement details for the specified resource. The client should provide parameters formatted as JSON to specify the necessary information required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDisbursementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved disbursement details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDisbursementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDisbursementByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation regarding disbursement operations.",
        "example": "{}"
      },
      "GetDisbursementByIdResponse_200": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-499222"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "ACC-790183"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the operation schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operational services disbursement operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-499222",
          "accountId": "ACC-790183",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5016c934-dc5b-5853-abd9-ed81c07cc958",
            "correlationId": "b05b2806-1230-567a-9723-710915bcd2a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request and related responses.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata schema containing additional information about the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-get-disbursement"
        },
        "example": "disbursement-get-disbursement"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header for secure access to the API. The token should be included as a prefix, 'Bearer', followed by a space and then the token itself.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}