{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Security Advisory API",
    "description": "The Security Advisory API provides essential insights and information regarding security alerts and advisories for enterprise banking services. This API allows businesses to access up-to-date security recommendations and potential threats to their systems. It is primarily utilized by security teams and IT professionals looking to enhance their risk management strategies. By leveraging this resource, organizations can ensure compliance, bolster defenses, and minimize vulnerabilities in their banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Retrieve Security Advisory Information",
        "description": "Fetch detailed information about security advisories relevant to enterprise services. This endpoint provides users with insights into potential vulnerabilities and updates.",
        "operationId": "getSecurityAdvisory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about security advisories related to enterprise services. The specific parameters and details needed for the request are defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecurityAdvisoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, providing the requested security advisory information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecurityAdvisoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecurityAdvisoryRequest": {
        "type": "string",
        "description": "A request body for the Security Advisory operations in the enterprise services. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetSecurityAdvisoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of security advisory items.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecurityAdvisoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting method applied to the list of advisory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on security advisories, containing a list of advisory items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "38347fd2-0381-5f53-9652-72d2d534d075",
            "correlationId": "8a7418bb-b48a-5b84-9cb4-76c9a997c22b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecurityAdvisoryItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "string"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the security advisory engagement.",
            "example": "string"
          },
          "framework": {
            "type": "string",
            "description": "The framework associated with the security advisory.",
            "example": "string"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement.",
            "example": "string"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date for the engagement.",
            "example": "string"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date for the engagement.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the advisory record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the advisory was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual security advisory item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the complete result set.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the result set."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-search-security-advisory"
        },
        "example": "security-advisory-search-security-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires the client to provide a valid JSON Web Token (JWT) in the Authorization header for authentication. The token must be obtained through a secure login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}