{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Planning API",
    "description": "The Investment Portfolio Planning API provides tools for analyzing and managing investment portfolios. This API enables users to access portfolio data and insights, facilitating informed decision-making in investment strategies. Financial analysts, portfolio managers, and investment firms can leverage this endpoint to retrieve detailed plans, forecasts, and performance metrics. By using this API, stakeholders can enhance their portfolio management practices, aligning investments with broader financial goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve Investment Portfolio Details",
        "description": "Fetches the details of a specific investment portfolio identified by the given resource ID. Provides comprehensive information on the portfolio, including its performance, asset allocation, and historical data.",
        "operationId": "getInvestmentPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details related to investment portfolio planning. It expects a JSON object containing the necessary parameters to specify the investment portfolio of interest.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and the portfolio planning data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentPortfolioByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the investment portfolio planning API.",
        "example": "{}"
      },
      "GetInvestmentPortfolioByIdResponse_200": {
        "title": "Investment Portfolio Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the investment portfolio.",
            "example": "PORT-115321"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-692471"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective of the investment portfolio (e.g., growth, income, preservation).",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment portfolio (e.g., conservative, balanced, aggressive).",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency in which the portfolio is denominated.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the portfolio record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the portfolio record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the portfolio record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving an investment portfolio's details.",
        "example": {
          "portfolioId": "PORT-115321",
          "investmentAccountId": "ACC-692471",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b79b9e5f-197c-579a-b4b7-5070c337d66f",
            "correlationId": "3bc91311-639c-5feb-8d8c-746711126df8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata about the response for additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-get-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-get-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the API request is processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token. This token is typically a JSON Web Token (JWT) that verifies the identity of the user and allows access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}