{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Session Dialogue Management API",
    "description": "The Session Dialogue Management API enables the seamless handling of user sessions across various banking channels. This API facilitates the retrieval of dialogue history, ensuring a cohesive user experience by maintaining context in interactions. It serves as a critical resource for banking applications seeking to enhance customer engagement through contextual communication. Typical consumers include banking platforms and customer support systems that require access to session data for effective dialogue management and personalization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue": {
      "get": {
        "tags": [
          "Cross-Channel Interaction"
        ],
        "summary": "Retrieve session dialogue for cross-channel interactions.",
        "description": "This endpoint allows developers to fetch the session dialogue associated with cross-channel interactions. Use this API to access the dialogue history and context for sessions, facilitating better customer engagement and understanding.",
        "operationId": "getCrossChannelSessionDialogue",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a cross-channel session dialogue, which includes necessary parameters and data for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelSessionDialogueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning session dialogue data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelSessionDialogueResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelSessionDialogueRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to cross-channel session dialogue. It is expected to be a string value.",
        "example": "{}"
      },
      "GetCrossChannelSessionDialogueResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of interaction objects.",
            "example": [
              {
                "partyId": "PARTY-539791",
                "interactionId": "INT-980752",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InteractionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation of session dialogue across channels. Contains items related to interactions, pagination details, sorting order, and metadata.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-539791",
              "interactionId": "INT-980752",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "92011db9-6f44-52a5-a1ff-fe3004be9e80",
            "correlationId": "b1f17bcf-1b64-5476-810b-414c107541cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InteractionItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The communication channel through which the interaction took place."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The authentication level required for the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record for the interaction."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the interaction was last updated."
          }
        },
        "description": "Represents a single interaction item in the session dialogue."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated list.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Details about pagination for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-search-session-dialogue"
        },
        "example": "session-dialogue-search-session-dialogue"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This is useful for identifying which application the response is coming from.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}