{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debits Management API",
    "description": "The Direct Debits Management API enables financial institutions and third-party developers to access and manage direct debit information associated with customer accounts. This API facilitates the retrieval of details about active direct debits linked to a specified account, allowing users to monitor their payment obligations efficiently. It is particularly useful for fintech applications, personal finance management tools, and banking services aiming to enhance customer transparency and payment tracking. By providing quick access to essential direct debit data, it supports informed financial decisions for consumers and businesses alike.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/direct-debits": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Direct Debits for a Specific Account",
        "description": "This endpoint allows you to retrieve a list of direct debits associated with the specified account. It helps in understanding the recurring payments tied to your account, ensuring better financial management.",
        "operationId": "getDirectDebitsForAccountACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the direct debit details for the specified account. It must conform to the schema defined for the GET operation related to direct debits.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDirectDebitsForAccountACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of direct debits for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDirectDebitsForAccountACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDirectDebitsForAccountACC200045Request": {
        "type": "string",
        "description": "This schema represents the expected request body for the get direct debits operation related to the specified account.",
        "example": "{}"
      },
      "GetDirectDebitsForAccountACC200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DirectDebit": {
                "type": "array",
                "description": "List of direct debit records.",
                "items": {
                  "$ref": "#/components/schemas/DirectDebit"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Container for direct debit data.",
            "example": {
              "DirectDebit": [
                {
                  "AccountId": "ACC-113753",
                  "id": "STANDARD",
                  "statusCode": "CODE-966",
                  "MandateRelatedInformation": {
                    "MandateIdentification": "2026-09-15",
                    "Classification": "STANDARD",
                    "CategoryPurposeCode": "CODE-224",
                    "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                    "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                    "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                    "Frequency": {
                      "Type": "STANDARD",
                      "CountPerPeriod": 1,
                      "PointInTime": "STANDARD"
                    },
                    "Reason": "STANDARD"
                  },
                  "Name": "Northstar Banking Service",
                  "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                  "PreviousPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for retrieving direct debit information.",
        "example": {
          "Data": {
            "DirectDebit": [
              {
                "AccountId": "ACC-113753",
                "id": "STANDARD",
                "statusCode": "CODE-966",
                "MandateRelatedInformation": {
                  "MandateIdentification": "2026-09-15",
                  "Classification": "STANDARD",
                  "CategoryPurposeCode": "CODE-224",
                  "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                  "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                  "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                  "Frequency": {
                    "Type": "STANDARD",
                    "CountPerPeriod": 1,
                    "PointInTime": "STANDARD"
                  },
                  "Reason": "STANDARD"
                },
                "Name": "Northstar Banking Service",
                "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                "PreviousPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "15ede050-1f10-57bd-a96d-9af0b7cca6ba",
            "correlationId": "52f0b2f9-87bf-50fe-bc99-8b8947995495",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebit": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the associated account."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the direct debit."
          },
          "statusCode": {
            "type": "string",
            "description": "Current status of the direct debit."
          },
          "MandateRelatedInformation": {
            "$ref": "#/components/schemas/MandateRelatedInformation"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the direct debit."
          },
          "PreviousPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the last payment made."
          },
          "PreviousPaymentAmount": {
            "$ref": "#/components/schemas/PreviousPaymentAmount"
          }
        },
        "description": "Schema representing a direct debit record."
      },
      "MandateRelatedInformation": {
        "type": "object",
        "properties": {
          "MandateIdentification": {
            "type": "string",
            "description": "Identification number of the mandate."
          },
          "Classification": {
            "type": "string",
            "description": "Classification of the mandate."
          },
          "CategoryPurposeCode": {
            "type": "string",
            "description": "Purpose code categorizing the direct debit."
          },
          "FirstPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the first payment."
          },
          "RecurringPaymentDateTime": {
            "type": "string",
            "description": "Date and time of recurring payments."
          },
          "FinalPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the final payment."
          },
          "Frequency": {
            "$ref": "#/components/schemas/Frequency"
          },
          "Reason": {
            "type": "string",
            "description": "Reason for the direct debit mandate."
          }
        },
        "description": "Information related to the mandate of the direct debit."
      },
      "Frequency": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of frequency (e.g., monthly, quarterly)."
          },
          "CountPerPeriod": {
            "type": "integer",
            "description": "Number of payments per frequency period.",
            "format": "int32"
          },
          "PointInTime": {
            "type": "string",
            "description": "Specific point in time for the frequency."
          }
        },
        "description": "Details regarding the frequency of payments."
      },
      "PreviousPaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the previous payment."
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the payment was made."
          }
        },
        "description": "Amount and currency of the previous payment."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource."
          },
          "First": {
            "type": "string",
            "description": "Link to the first resource in the collection."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous resource in the collection."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next resource in the collection."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last resource in the collection."
          }
        },
        "description": "Object containing navigation links to related resources."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages in the response.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time of the first available record."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time of the last available record."
          }
        },
        "description": "Metadata about the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Additional information regarding the request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-direct-debits"
        },
        "example": "accounts-api-get-accounts-account-id-direct-debits"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, providing a token-based mechanism for securely exchanging information. The token must be a valid JWT (JSON Web Token).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}