{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Joint Borrower Generation API",
    "description": "The Joint Borrower Generation API facilitates the creation of joint borrower profiles within the financial application ecosystem. This endpoint enables lenders to efficiently manage and generate profiles for multiple borrowers, streamlining the loan approval process. The API caters to financial institutions and loan processing services that require the ability to handle joint applications. By utilizing this API, businesses can enhance customer service and accelerate decision-making in lending scenarios.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/jointborrower": {
      "post": {
        "tags": [
          "Borrower Management"
        ],
        "summary": "Create a joint borrower.",
        "description": "This endpoint allows users to create a joint borrower profile, facilitating shared borrowing between multiple parties. It ensures that all relevant borrower details are properly captured and processed for further actions.",
        "operationId": "createJointBorrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to generate a joint borrower operation, allowing multiple borrowers to be processed simultaneously within the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateJointBorrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the generated joint borrower data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateJointBorrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateJointBorrowerRequest": {
        "title": "Joint Borrower Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language used for the request.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The identifier for the partner.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "List of borrower objects.",
            "example": [
              {
                "customerId": "CUST-207734",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect to after processing.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL for notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "The user experience identifier.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The date from which to consider events, in epoch format.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields to include in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is for single use.",
            "example": true
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when generating joint borrowers.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-207734",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "singleUseUrl": true,
          "requestContext": {
            "requestId": "b52f7898-faf5-556d-a1ab-ae731cb42e4f",
            "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
            "idempotencyKey": "b8b9d742-a51c-5210-b077-b2ce1be51950",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-968648"
            }
          }
        }
      },
      "Borrower": {
        "title": "Borrower",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "customer123"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "consumer123"
          },
          "type": {
            "type": "string",
            "description": "The type of the borrower.",
            "example": "individual"
          },
          "optionalConsumerInfo": {
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          }
        },
        "description": "Schema representing a borrower."
      },
      "OptionalConsumerInfo": {
        "title": "Optional Consumer Info",
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "999-12-3456"
          },
          "dob": {
            "type": "integer",
            "description": "The date of birth of the consumer, in epoch format.",
            "format": "int32",
            "example": 1234567890
          }
        },
        "description": "Additional optional information about the consumer."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is displayed.",
            "example": true
          }
        },
        "description": "Schema representing a custom field in a report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key for ensuring idempotency.",
            "example": "idempotent-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "appX"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device making the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the channel through which request is made."
      },
      "CreateJointBorrowerResponse_200": {
        "title": "Joint Borrower Operation Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A string representing a link related to the joint borrower operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the joint borrower operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a joint borrower operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "290d0814-61fc-509b-8dbe-5577f437a2c3",
            "correlationId": "111688eb-3e94-5324-a78a-575f2868e749",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple operations.",
            "example": "abc-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the joint borrower operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-joint-borrower-connect-url"
        },
        "example": "open-finance-api-generate-joint-borrower-connect-url"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses a Bearer token for authentication. The token is in the JSON Web Token (JWT) format, which provides a secure way to transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}