{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Scheduled Payments Details API",
    "description": "The International Scheduled Payments Details API provides a comprehensive view of payment details for scheduled international transactions. This API allows financial institutions and payment service providers to retrieve specific information regarding payment requests, including status updates and transaction specifics. Typical consumers include banking applications and financial service platforms that facilitate cross-border payments. By leveraging this API, businesses can enhance their user experience and ensure transparency in payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve payment details for an international scheduled payment.",
        "description": "This operation allows users to fetch detailed information regarding a specific international scheduled payment using its unique identifier. It provides insights into the payment status, amount, and recipient details, helping users track their transactions effectively.",
        "operationId": "getPaymentDetailsForInternationalScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for the specified international scheduled payment. Make sure to include all necessary identifiers and parameters to ensure the correct payment information is retrieved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForInternationalScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForInternationalScheduledPaymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForInternationalScheduledPaymentRequest": {
        "type": "string",
        "description": "This schema represents the request body for international scheduled payments operations, specifically for GET requests. It is expected to contain a string value that conforms to the specified payment details format.",
        "example": "{}"
      },
      "GetPaymentDetailsForInternationalScheduledPaymentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "A list of payment statuses indicating the details of each payment transaction.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/PaginationLinks"
              },
              "Meta": {
                "$ref": "#/components/schemas/MetaInformation"
              },
              "metadata": {
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            },
            "description": "Contains payment status information and additional details.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-109323",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the payment details API, detailing the status of payments, links for pagination, metadata, and associated data.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-109323",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "a896835f-cb3a-570b-b105-5bdeacb1de65",
            "correlationId": "cb21e727-e413-568b-b25a-2ca875f2b9b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the payment status was last updated."
          },
          "StatusDetail": {
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Details of an individual payment transaction status."
      },
      "StatusDetail": {
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "The status associated with the payment in more detail."
          },
          "StatusReason": {
            "type": "string",
            "description": "The reason for the current status of the payment."
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "A description providing more context on the status reason."
          }
        },
        "description": "Detailed information related to the status of a payment transaction."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page of results."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results."
          }
        },
        "description": "Links for paginating through the payment details."
      },
      "MetaInformation": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available based on the result set.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when payments first became available."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when payments were last available."
          }
        },
        "description": "Meta information associated with the result set."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token authentication format, where a JSON Web Token (JWT) is required in the Authorization header of requests. This method is commonly used for securing RESTful APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}