{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Location Information API",
    "description": "The Branch Location Information API provides real-time access to geographic and operational details of branches within the banking network. This API enables authorized users to retrieve information such as branch addresses, contact details, and specific operational hours. It is particularly useful for banking applications, customer service platforms, and location-based services, helping consumers find the nearest branches and relevant banking services. With easy integration, this API can enhance user experiences by delivering crucial information quickly and efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-operations/{param1}": {
      "get": {
        "tags": [
          "Branch Location Operations"
        ],
        "summary": "Retrieve branch location operations by ID.",
        "description": "This endpoint allows you to fetch details about specific branch location operations identified by a unique resource ID. Users can leverage this information for operational insights and tracking.",
        "operationId": "getBranchLocationOperationsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific branch location operations based on the given resource ID. The payload must adhere to the defined schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchLocationOperationsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested branch location data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchLocationOperationsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchLocationOperationsByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to branch location operations.",
        "example": "{}"
      },
      "GetBranchLocationOperationsByIdResponse_200": {
        "title": "Branch Location Operations Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The defined operational hours for the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch for operations.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch (e.g., retail, online).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone applicable to the branch operations.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the operation details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the branch location operations, detailing service availability and metadata.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fcf46355-4da1-5092-83bd-62ac3ccb7e3d",
            "correlationId": "b45bf5ad-aa7a-5c00-80e4-1e41ac01adc8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service window.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service window.",
            "example": "17:00"
          }
        },
        "description": "Operational hours for branch service availability."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was invoked, used for tracking and diagnosing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-operations-get-branch-location-operations"
        },
        "example": "branch-location-operations-get-branch-location-operations"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the request was processed, useful for performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a means of authentication. Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}