{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer VOI History Management API",
    "description": "The Customer VOI History Management API allows businesses to manage and submit Voice of the Customer (VOI) history data for specific customers. This endpoint is designed for applications that require the tracking and review of customer interaction and feedback history. Typical consumers include customer service platforms and CRM systems that enhance client relationships through detailed insights. By utilizing this API, organizations can ensure they have access to the latest VOI data for informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voahistory": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Submit VOAs for a specific customer.",
        "description": "This endpoint allows you to submit Volume of Activity History (VOA) for the specified customer. Ensure that you have the appropriate data format and required fields as per the API specifications.",
        "operationId": "postVoahistoryForCustomerCust100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to submit a new voice order history entry for the customer identified by CUST-100045. Ensure that all required fields are properly populated according to the schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostVoahistoryForCustomerCust100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is in processing.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoahistoryForCustomerCust100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostVoahistoryForCustomerCust100045Request": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account IDs for which the VOAs are requested.",
            "example": "ACC-169722"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields to be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to include NSF (Non-Sufficient Funds) transactions in the report.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the report in Unix timestamp format.",
            "format": "int32",
            "example": 1
          },
          "incomeFromDate": {
            "type": "integer",
            "description": "The start date for the income report in Unix timestamp format.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence level for income streams to be included in the report.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the operation that retrieves the VOAs (Value of Assets) history for a specific customer.",
        "example": {
          "accountIds": "ACC-169722",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeFromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "a318f918-b89f-51d9-a99d-de1d8d0b47aa",
            "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
            "idempotencyKey": "c9214b1e-c3c9-51b6-972d-03cd245c8363",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-938986"
            }
          }
        }
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Custom Field 1"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "Value 1"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed in the report.",
            "example": true
          }
        },
        "description": "Represents a custom field with a label and value."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "key-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2021-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that originated the request.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "device-456"
          }
        },
        "description": "Represents information about the channel through which the request was made."
      },
      "PostVoahistoryForCustomerCust100045Response_202": {
        "title": "Customer VOAHistory Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the VOAHistory entry.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with this VOAHistory.",
            "example": "0f88e1a0-f6d5-53ea-ac48-77aaa376a17c"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with this VOAHistory.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp for when the VOAHistory was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title or brief description of the VOAHistory entry.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes related to the VOAHistory.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of VOAHistory entry.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the VOAHistory entry.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the VOAHistory entry.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata for the VOAHistory response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing VOAHistory details for a specific customer request.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "0f88e1a0-f6d5-53ea-ac48-77aaa376a17c",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-976151"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "b348f2c8-ded4-57c9-9e01-a6353d6ca9f0",
            "correlationId": "af7d45cb-9984-5c89-9979-fb0b432e6611",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "Jane Smith"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "jane.smith@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Details of the end user associated with the VOAHistory."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "CNS-123456"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Jane"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Smith"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "90210"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-1234"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "jane.smith@example.com"
          }
        },
        "description": "Detailed information about the consumer related to the VOAHistory."
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers related to the VOAHistory.",
            "items": {
              "type": "string",
              "example": "ACC-123"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting purposes.",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "Label for the custom report field.",
                  "example": "Report Type"
                },
                "value": {
                  "type": "string",
                  "description": "Value of the custom report field.",
                  "example": "Monthly"
                },
                "shown": {
                  "type": "boolean",
                  "description": "Indicates if the custom field should be displayed.",
                  "example": true
                }
              }
            }
          }
        },
        "description": "Constraints related to the VOAHistory entry."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2021-05-31T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata for the VOAHistory response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voa-with-income-report"
        },
        "example": "open-finance-api-generate-voa-with-income-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, allowing access tokens formatted as JSON Web Tokens (JWT) to be passed in the Authorization header. Clients must provide a valid token to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}