{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Lock Box Management API",
    "description": "The Cheque Lock Box Management API enables efficient handling and management of cheque deposits through a secure lock box system. This service allows businesses to deposit cheques electronically, streamlining reconciliation processes and improving cash flow management. Typical consumers include financial institutions and corporate clients seeking a reliable method to manage incoming payments. With the API, users can perform actions related to cheque processing and tracking, ensuring that funds are captured accurately and promptly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Create a new cheque lock box.",
        "description": "This endpoint allows you to create a new cheque lock box in the trade banking system. By providing the necessary details, you can securely set up a new lock box for managing incoming cheques.",
        "operationId": "createChequeLockBox",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate operations related to the cheque lock box in trade banking. It requires specific parameters as defined in the schema to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChequeLockBoxRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, cheque lock box established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChequeLockBoxResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChequeLockBoxRequest": {
        "title": "Cheque Lock Box Operation Request",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "The unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "The identifier for the deposit account associated with the cheque batch.",
            "example": "ACC-491072"
          },
          "chequeCount": {
            "type": "integer",
            "description": "The total number of cheques in the batch.",
            "format": "int32",
            "example": 1
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "The date on which the cheques should be cleared.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Cheque Lock Box operation.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-491072",
          "chequeCount": 1,
          "batchAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "clearingDate": "2026-09-15",
          "requestContext": {
            "requestId": "a2b1de56-2b78-55cc-bf4e-fe4699fa748f",
            "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
            "idempotencyKey": "5c58c05e-eee3-539b-90ba-474ff1f6fe58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-205206"
            }
          }
        }
      },
      "BatchAmount": {
        "title": "Batch Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the cheque batch.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the total amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the total amount of the cheque batch along with currency information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request through different systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel for the request."
      },
      "CreateChequeLockBoxResponse_201": {
        "title": "Cheque Lock Box Response",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Unique identifier for the deposit account.",
            "example": "ACC-715524"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the created resource.",
            "example": "RES-210888"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cheque lock box operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the cheque lock box was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating or updating a cheque lock box operation.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-715524",
          "resourceId": "RES-210888",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "67c93a38-12c1-51b3-bef3-3af585067592",
            "correlationId": "c9f03361-34e4-5122-ba68-9324f0673096",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates related requests and responses.",
            "example": "CORR_ABCDEF"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the cheque lock box operation was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the cheque lock box operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This is used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-create-cheque-lock-box"
        },
        "example": "cheque-lock-box-create-cheque-lock-box"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This helps to identify which service is being utilized in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via JSON Web Tokens (JWT). Please include the token in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}