{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Benefits Information API",
    "description": "The Employee Benefits Information API provides access to detailed information regarding employee benefits within an organization. This endpoint allows stakeholders to retrieve specific benefits data associated with an employee, identified by a unique parameter. Suitable for HR managers and benefits administrators, the API enhances productive decision-making by delivering precise insights into available benefits, aiding in employee engagement and satisfaction. Use cases include evaluating benefits utilization and streamlining human resources management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits/{param1}": {
      "get": {
        "tags": [
          "Employee Benefits"
        ],
        "summary": "Retrieve specific employee benefits information.",
        "description": "This endpoint allows you to retrieve detailed information about the employee benefits associated with a specified employee ID. This is part of the Human Resource Management system and is essential for managing employee-related benefits effectively.",
        "operationId": "getEmployeeBenefitsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific information related to employee benefits for the employee with ID EMP-900045. The information returned can include various benefit details such as eligibility, coverage options, and associated policies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeBenefitsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee benefits information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeBenefitsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeBenefitsByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the operation to retrieve employee benefits.",
        "example": "{}"
      },
      "GetEmployeeBenefitsByIdResponse_200": {
        "title": "Employee Benefits Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-112276"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment associated with the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the benefits become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of employment.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee's record (e.g., active, terminated).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the employee benefits record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP456789"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-10T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "aad9ae9f-ad7f-59da-bc6d-16c7d28ca2d8",
              "correlationId": "28baa302-229a-54b9-b496-ee614399ccec",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for employee benefits retrieval.",
        "example": {
          "employeeId": "EMP-112276",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aad9ae9f-ad7f-59da-bc6d-16c7d28ca2d8",
            "correlationId": "28baa302-229a-54b9-b496-ee614399ccec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-get-employee-benefits"
        },
        "example": "employee-benefits-get-employee-benefits"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs JSON Web Tokens (JWT) as a bearer authentication method, which allows clients to securely access API resources by including a token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}