{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advertising Details API",
    "description": "The Advertising Details API provides access to detailed information about specific advertising campaigns within the marketing domain. By utilizing the advertising ID, users can retrieve comprehensive insights into individual campaigns, including performance metrics and targeting information. This API is particularly valuable for marketing professionals, data analysts, and campaign managers who need to evaluate and optimize advertising strategies. Businesses can leverage this data to make informed decisions and improve their overall marketing effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/advertising/{advertisingId}": {
      "get": {
        "tags": [
          "Advertising Management"
        ],
        "summary": "Retrieve Advertising Resource",
        "description": "This endpoint allows you to retrieve the details of the specified advertising resource identified by the unique resource ID 'RES-100045'. Use this resource ID to access the associated marketing details and insights.",
        "operationId": "getAdvertisingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve advertising information for resource RES-100045. It contains parameters that specify desired attributes and configurations for the advertising query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvertisingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested advertising resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvertisingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAdvertisingResource100045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation in the marketing advertising operations.",
        "example": "{}"
      },
      "GetAdvertisingResource100045Response_200": {
        "title": "Advertising Campaign Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the advertising campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels included in the campaign mix.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Each channel used in the campaign.",
              "example": "Social Media"
            }
          },
          "budget": {
            "description": "Budget allocated for the advertising campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The starting date of the campaign.",
            "format": "date-time"
          },
          "endDate": {
            "type": "string",
            "description": "The ending date of the campaign.",
            "format": "date-time"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the campaign details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the campaign was last updated.",
            "format": "date-time",
            "example": 1789482600.0
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an advertising campaign operation.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2d371eba-ec16-52c8-84cd-93f2f4dff403",
            "correlationId": "aeec90b6-4420-5b0f-ba6b-3ea140ef63b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount allocated for the campaign budget.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details for an advertising campaign."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across services.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "format": "date-time",
            "example": 1696001400.0
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advertising-get-advertising"
        },
        "example": "advertising-get-advertising"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, which provides context about the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically utilizing JSON Web Tokens (JWT) for securing API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}