{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Rotate Secret Management API",
    "description": "The Rotate Secret Management API facilitates the secure rotation of secrets for webhook endpoints. This API allows businesses to enhance their security posture by regularly updating sensitive information, such as API keys or credentials, thus minimizing risks associated with exposure. Developers and security teams typically consume this API to automate secret rotation processes and ensure that their systems operate with the latest security credentials. This operation is critical for maintaining secure integrations and compliance with security best practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}/rotate-secret": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Rotate the secret for a specified webhook endpoint.",
        "description": "This endpoint allows you to securely rotate the secret associated with a specific webhook endpoint identified by its resource ID. By calling this operation, you can enhance the security of your application by ensuring that the secrets are regularly updated.",
        "operationId": "rotateWebhookEndpointSecret",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to rotate the secret for the specified webhook endpoint. The request should include all necessary parameters to successfully execute the secret rotation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RotateWebhookEndpointSecretRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation completed successfully, and the secret has been rotated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RotateWebhookEndpointSecretResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RotateWebhookEndpointSecretRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for rotating a secret in the webhook endpoints operation.",
        "example": {
          "requestContext": {
            "requestId": "8515321f-5c78-5edd-97a1-561a4787514f",
            "correlationId": "9618d497-e178-5fbb-a60c-65a77e73bd1a",
            "idempotencyKey": "675acbf4-c70f-56da-9a89-0d919f198b62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-437354"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "abcd-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to track related requests.",
            "example": "xyz-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure repeated request safety.",
            "example": "unique-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "source-system-name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application within the source system.",
            "example": "source-application-name"
          },
          "channel": {
            "description": "The communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., SMS, Email).",
            "example": "SMS"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-123"
          }
        },
        "description": "Represents the communication channel information."
      },
      "RotateWebhookEndpointSecretResponse_200": {
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "Unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the webhook endpoint was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for rotating a webhook secret, containing details about the webhook endpoint and metadata.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a55bd8ee-6194-5713-bd8e-893abd3ec92a",
            "correlationId": "9618d497-e178-5fbb-a60c-65a77e73bd1a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates related requests and responses.",
            "example": "correlation-abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T12:00:05Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata about the processing of the webhook rotation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-rotate-webhook-secret"
        },
        "example": "banking-p2m-openapi-rotate-webhook-secret"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization method that utilizes a bearer token in the HTTP header. The token is typically a JSON Web Token (JWT) which facilitates secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}