{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Clearing Management API",
    "description": "The Card Clearing Management API enables financial institutions and payment processors to efficiently manage and report card payment clearing transactions. This API provides resources for retrieving detailed information about card clearing events, including transaction statuses and settlement details. It is primarily utilized by banking applications, payment platforms, and financial services to drive insights and operational efficiencies in card transaction handling. By using this API, businesses can enhance their payment processing workflow and improve reconciliation processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-clearing": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve card clearing payment information.",
        "description": "This endpoint allows you to fetch detailed information about card clearing payments, including transaction statuses and related details. Utilize this functionality to monitor and manage payment transactions effectively.",
        "operationId": "getCardClearingPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card clearing operation. It contains the necessary data required for processing the card clearing request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardClearingPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of card clearing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardClearingPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardClearingPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card clearing in payments. It is defined as a string.",
        "example": "{}"
      },
      "GetCardClearingPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment operation records.",
            "example": [
              {
                "paymentId": "PAY-748245",
                "debtorAccountId": "ACC-878384",
                "creditorAccountId": "ACC-218292",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching card clearing operations.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-748245",
              "debtorAccountId": "ACC-878384",
              "creditorAccountId": "ACC-218292",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "249a1222-2297-54a6-8bc8-fef404a6113e",
            "correlationId": "70549e1a-9e25-53fb-8437-f9f005856ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOperation": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment operation."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor."
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The amount of money to be transferred."
              },
              "currency": {
                "type": "string",
                "description": "The currency of the instructed amount."
              }
            },
            "description": "Amount and currency details for the payment."
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the payment transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of this record."
          }
        },
        "description": "Details of an individual payment operation.",
        "example": {
          "paymentId": "12345",
          "debtorAccountId": "account-1",
          "creditorAccountId": "account-2",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2023-10-01",
          "remittanceInformation": "Payment for invoice #456",
          "recordStatus": "completed",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated result.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about pagination of the records.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs across different services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place."
          }
        },
        "description": "Additional metadata related to the request-response cycle.",
        "example": {
          "responseId": "response-123",
          "correlationId": "correlation-123",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "US"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-clearing-search-card-clearing"
        },
        "example": "card-clearing-search-card-clearing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, where a valid JSON Web Token (JWT) must be provided in the Authorization header for API requests. The token should be included in the following format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}