{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sub Custodian Agreement Retrieval API",
    "description": "The Sub Custodian Agreement Retrieval API enables users to access detailed sub custodian agreements held by financial institutions. This API is essential for banking partners, asset managers, and compliance officers seeking to review or audit custodial arrangements. By providing endpoint access to these agreements, it supports transparency and facilitates regulatory compliance. Typical consumers of this API include operational teams within banks and investment firms requiring up-to-date agreement information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement": {
      "get": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Retrieve sub-custodian agreement details.",
        "description": "This endpoint allows you to fetch the details of the sub-custodian agreement associated with the specified external agency. The response includes all pertinent information regarding the agreement, facilitating informed decision-making and compliance management.",
        "operationId": "getSubCustodianAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the sub-custodian agreement details from the external agency. It must conform to the required schema and contain the necessary parameters to successfully retrieve the information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSubCustodianAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the sub-custodian agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSubCustodianAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSubCustodianAgreementRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to the sub-custodian agreement for external agencies.",
        "example": "{}"
      },
      "GetSubCustodianAgreementResponse_200": {
        "title": "Sub-Custodian Agreement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of Sub-Custodian Agreement items.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-153622",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SubCustodianAgreementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response data.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving Sub-Custodian Agreements.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-153622",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2ddfd082-6318-5791-bed6-b11301b66522",
            "correlationId": "263a5655-0773-5068-8933-e925af429070",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubCustodianAgreementItem": {
        "title": "Sub-Custodian Agreement Item",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "institution123"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "agreement456"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "BICCODE123"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code associated with the agreement.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the agreement becomes effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the agreement was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing each individual Sub-Custodian Agreement item."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, used for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-search-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-search-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request, useful for identifying the service in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism through JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}