{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Authorization API",
    "description": "The Transaction Authorization API enables seamless processing of transaction approvals across various channels. This API is designed to facilitate secure and efficient authorizations for financial transactions. It primarily serves financial institutions, payment processors, and fintech applications that need to validate and grant transaction permissions in real-time. By utilizing this API, businesses can enhance user experiences and improve transaction security, ultimately driving customer satisfaction and operational effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/transaction-authorization": {
      "post": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Authorize a cross-channel transaction.",
        "description": "This endpoint allows you to authorize a transaction that spans multiple channels. It ensures that the transaction is valid and complies with all necessary authorization requirements before processing.",
        "operationId": "postCrossChannelTransactionAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a transaction authorization process in the cross-channel environment. It contains the necessary details required for any transaction including credentials, transaction specifics, and other relevant data formatted in JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCrossChannelTransactionAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and transaction authorized.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCrossChannelTransactionAuthorizationResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "Request parameters are invalid or cannot be processed.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCrossChannelTransactionAuthorizationResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCrossChannelTransactionAuthorizationResponse_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the transaction.",
            "example": "PARTY-754293"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction associated with the transaction.",
            "example": "INT-247324"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource being accessed or modified.",
            "example": "RES-872942"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction authorization.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the transaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response schema for transaction authorization operations.",
        "example": {
          "partyId": "PARTY-754293",
          "interactionId": "INT-247324",
          "resourceId": "RES-872942",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e5d64c21-1103-59d9-a73a-1793d2895cb5",
            "correlationId": "9cdf8336-474f-5853-8b0b-285b6c5f2c1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated from the authorization request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier that correlates this transaction with other related transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the transaction authorization."
      },
      "PostCrossChannelTransactionAuthorizationRequest": {
        "title": "Cross-Channel Transaction Authorization Request",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the transaction.",
            "example": "PARTY-588389"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction associated with the transaction.",
            "example": "INT-456144"
          },
          "channel": {
            "type": "string",
            "description": "Identifier for the communication channel used in the transaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Specifies the level of authentication required for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for POST operations related to cross-channel transaction authorization.",
        "example": {
          "partyId": "PARTY-588389",
          "interactionId": "INT-456144",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "3d1e1c22-e9a5-5af1-87cf-fd037daf1ad5",
            "correlationId": "9cdf8336-474f-5853-8b0b-285b6c5f2c1c",
            "idempotencyKey": "22cd00f2-84de-5604-83fe-a984294842c8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-123760"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema describing the context for the request including identifiers and sourcing information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the details of the communication channel used."
      },
      "PostCrossChannelTransactionAuthorizationResponse_422": {
        "title": "Transaction Authorization Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the transaction authorization failure.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, useful for tracing and debugging.",
            "example": "fb75a972-1b34-44bb-87ce-14fc1bf62efb"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing additional details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "An identifier for the workflow that was being executed at the time of the error.",
            "example": "WF-043"
          }
        },
        "description": "This schema represents the structure of the error response that may be returned when a transaction authorization request fails with a 422 status code.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "fb75a972-1b34-44bb-87ce-14fc1bf62efb",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-043"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dee7f4b6-a23a-4ea9-bae9-6d95438485fb"
        },
        "example": "dee7f4b6-a23a-4ea9-bae9-6d95438485fb"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6b05cb4e-d8e6-4b4d-a548-acffb5b49f0f"
        },
        "example": "6b05cb4e-d8e6-4b4d-a548-acffb5b49f0f"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint involved in the transaction authorization process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-authorization-create-transaction-authorization"
        },
        "example": "transaction-authorization-create-transaction-authorization"
      },
      "X-Runtime-App": {
        "description": "Identifies the application instance that is executing the transaction authorization operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-043"
        },
        "example": "WF-043"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "External ACH Credit Transfer"
        },
        "example": "External ACH Credit Transfer"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_PROCESSING"
        },
        "example": "ASYNC_PROCESSING"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2b160c7-696b-4704-9c4a-5e96e7c91d31"
        },
        "example": "a2b160c7-696b-4704-9c4a-5e96e7c91d31"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token formatted as JSON Web Token (JWT). Clients must include the JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}