{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_FCRA Payment Success Indicators API",
    "description": "The FCRA Payment Success Indicators API facilitates the submission of payment success metrics related to consumer accounts. This endpoint allows businesses to report specific indicators for payments made by customers, aiding in compliance with Fair Credit Reporting Act (FCRA) regulations. Users typically include financial institutions and service providers that need to track payment performance for regulatory reporting. By utilizing this API, organizations can ensure accurate reporting and foster greater financial accountability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/fcra-payment-success-indicators": {
      "post": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Create FCRA Payment Success Indicator",
        "description": "This endpoint allows you to create a new FCRA Payment Success Indicator for a specific customer account. By providing the necessary details in the request body, you can record a payment success status related to the customer's financial transactions, facilitating compliance and reporting.",
        "operationId": "createFcraPaymentSuccessIndicatorForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit payment success indicator information for a specific customer account. The provided data will be processed to reflect the payment success status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFcraPaymentSuccessIndicatorForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, and the operation is underway.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFcraPaymentSuccessIndicatorForCustomerAccountResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFcraPaymentSuccessIndicatorForCustomerAccountRequest": {
        "type": "object",
        "properties": {
          "transaction": {
            "description": "Details of the transaction.",
            "$ref": "#/components/schemas/Transaction"
          },
          "user": {
            "description": "Information about the user conducting the operation.",
            "$ref": "#/components/schemas/User"
          },
          "requestContext": {
            "description": "Context of the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the FCRA payment success indicators operation.",
        "example": {
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "user": {
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "address": {
              "streetLine1": "STANDARD",
              "streetLine2": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            },
            "phone": {
              "countryHint": "STANDARD",
              "number": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "f9acc1bc-d03b-5883-a581-a7942423dfef",
            "correlationId": "abf1b2b2-bf53-5295-b3b2-92e501bd825f",
            "idempotencyKey": "2d16da0f-ecea-50d4-98b7-460cfc3ad2ae",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-787261"
            }
          }
        }
      },
      "Transaction": {
        "title": "Transaction Details",
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "Date by which the transaction will be settled.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "The amount involved in the transaction.",
            "example": 0.0
          }
        },
        "description": "Schema representing details of a transaction in the payment request."
      },
      "User": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The user's name.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The user's email address.",
            "example": "john.doe@example.com"
          },
          "address": {
            "description": "The user's postal address.",
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "description": "The user's phone number details.",
            "$ref": "#/components/schemas/Phone"
          }
        },
        "description": "Schema representing user details."
      },
      "Address": {
        "type": "object",
        "properties": {
          "streetLine1": {
            "type": "string",
            "description": "The first line of the street address.",
            "example": "123 Main St"
          },
          "streetLine2": {
            "type": "string",
            "description": "The second line of the street address (optional).",
            "example": "Apt 4B"
          },
          "city": {
            "type": "string",
            "description": "The city of the address.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state of the address.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "The country of the address.",
            "example": "USA"
          }
        },
        "description": "Schema representing a postal address."
      },
      "Phone": {
        "type": "object",
        "properties": {
          "countryHint": {
            "type": "string",
            "description": "The country code or hint for the phone number.",
            "example": "+1"
          },
          "number": {
            "type": "string",
            "description": "The phone number.",
            "example": "555-123-4567"
          }
        },
        "description": "Schema representing phone number details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "cor-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system initiating the request.",
            "example": "BankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-123"
          }
        },
        "description": "Schema representing channel information."
      },
      "CreateFcraPaymentSuccessIndicatorForCustomerAccountResponse_202": {
        "title": "FCRA Payment Success Indicators Response",
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "Unique identifier of the payment request.",
            "example": "b1cb7c4d-fe10-51fd-a0ae-8753c462c086"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "CUST-520920"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier of the account.",
            "example": "ACC-444852"
          },
          "requestDate": {
            "type": "string",
            "description": "Date of the payment request.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Details of the transaction related to the payment request.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Indicates the risk associated with non-sufficient funds (NSF) for the transaction.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Indicates the risk associated with unauthorized returns for the transaction.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for successful FCRA payment operations.",
        "example": {
          "payRequestId": "b1cb7c4d-fe10-51fd-a0ae-8753c462c086",
          "status": "ACTIVE",
          "customerId": "CUST-520920",
          "accountId": "ACC-444852",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-581435",
              "externalTransactionId": "TXN-953988",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "919f9f98-18e8-5fc0-9f11-8d7968df2b24",
            "correlationId": "abf1b2b2-bf53-5295-b3b2-92e501bd825f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NsfReturnRisk": {
        "title": "NSF Return Risk",
        "type": "object",
        "properties": {
          "result": {
            "description": "Results of the NSF return risk assessment.",
            "$ref": "#/components/schemas/NsfReturnRiskResult"
          },
          "error": {
            "description": "Details regarding any errors that occurred during the assessment.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        },
        "description": "Schema representing the risk assessment related to non-sufficient funds (NSF)."
      },
      "NsfReturnRiskResult": {
        "title": "NSF Return Risk Assessment Result",
        "type": "object",
        "properties": {
          "availableBalance": {
            "type": "number",
            "description": "The available balance of the account.",
            "example": 0.0
          },
          "dailyResults": {
            "type": "array",
            "description": "List of daily risk assessment results.",
            "items": {
              "$ref": "#/components/schemas/DailyRiskAssessment"
            }
          }
        },
        "description": "Schema representing the results of the NSF return risk assessment."
      },
      "DailyRiskAssessment": {
        "title": "Daily Risk Assessment Results",
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The date when the transaction is likely to settle.",
            "example": "string"
          },
          "score": {
            "type": "integer",
            "description": "Risk score indicating the level of risk.",
            "format": "int32",
            "example": 0
          },
          "indicator": {
            "type": "string",
            "description": "Indicator that provides a qualitative assessment of the risk.",
            "example": "string"
          },
          "reasons": {
            "description": "Reasons for the assigned risk score.",
            "$ref": "#/components/schemas/RiskAssessmentReasons"
          }
        },
        "description": "Schema representing the results of daily risk assessments."
      },
      "RiskAssessmentReasons": {
        "title": "Risk Assessment Reasons",
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "The recent balance of the account.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "The history of balances for account analysis.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "History of NSF events.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent history of NSF events.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Number of recurring NSF occurrences.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "History of spending patterns.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "History of deposits made to the account.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the transaction under assessment.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing reasons for the risk assessment score."
      },
      "UnauthorizedReturnRisk": {
        "title": "Unauthorized Return Risk",
        "type": "object",
        "properties": {
          "result": {
            "description": "Results of the unauthorized return risk assessment.",
            "$ref": "#/components/schemas/UnauthorizedReturnRiskResult"
          },
          "error": {
            "description": "Details regarding any errors that occurred during the assessment.",
            "$ref": "#/components/schemas/ErrorDetails"
          }
        },
        "description": "Schema representing the risk assessment related to unauthorized returns."
      },
      "UnauthorizedReturnRiskResult": {
        "title": "Unauthorized Return Risk Assessment Result",
        "type": "object",
        "properties": {
          "score": {
            "type": "integer",
            "description": "Risk score indicating the level of unauthorized return risk.",
            "format": "int32",
            "example": 0
          },
          "indicator": {
            "type": "string",
            "description": "Indicator that provides a qualitative assessment of the unauthorized return risk.",
            "example": "string"
          }
        },
        "description": "Schema representing the results of the unauthorized return risk assessment."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the API response."
      },
      "ErrorDetails": {
        "title": "Error Details",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "Error status code.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Short description of the error.",
            "example": "string"
          },
          "level": {
            "type": "string",
            "description": "Severity level of the error.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message.",
            "example": "string"
          },
          "user_message": {
            "type": "string",
            "description": "Message intended for the user.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "Identifier of the asset associated with the error.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the account that encountered the error.",
            "example": "string"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "Identifier of the external transaction related to the error.",
            "example": "string"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error for categorization.",
            "example": "string"
          }
        },
        "description": "Schema representing details regarding errors that occur during payment processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-fcra-payment-success-indicators"
        },
        "example": "open-finance-api-generate-fcra-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows for the use of Bearer authentication using JSON Web Tokens (JWT). Include the token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}