{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Notional Pooling Management API",
    "description": "The Notional Pooling Management API enables financial institutions to manage notional pooling arrangements efficiently. This API allows users to set up, modify, and monitor notional pooling configurations, optimizing liquidity across multiple accounts. Typical consumers include treasury departments, financial analysts, and systems integrating with banking operations. By automating these processes, organizations can improve cash visibility and reduce interest expenses on surplus liquidity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Create Notional Pooling Trade",
        "description": "This endpoint allows users to initiate a notional pooling trade within the trade banking system, enabling efficient cash management across multiple accounts. It streamlines the process of pooling funds and optimizing interest results for businesses.",
        "operationId": "createNotionalPoolingTrade",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a notional pooling operation in trade banking. This should include all necessary parameters for the operation in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateNotionalPoolingTradeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in notional pooling.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNotionalPoolingTradeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateNotionalPoolingTradeRequest": {
        "title": "Notional Pooling Request Body",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the notional pooling arrangement.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier of the header account in the notional pooling setup.",
            "example": "ACC-442854"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of identifiers for participant accounts included in the notional pooling arrangement.",
            "example": [
              "ACC-278253"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a participant account.",
              "example": "string"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used for the notional pooling operations.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which balances are swept in the notional pooling arrangement.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance to be maintained in the notional pooling setup.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for performing operations related to notional pooling.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-442854",
          "participantAccountIds": [
            "ACC-278253"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "requestContext": {
            "requestId": "a4bb88cb-95f6-562b-8e51-fe45fcb016af",
            "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
            "idempotencyKey": "1c7696e4-fca4-52a2-b567-8becee843d8f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-456326"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information associated with a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., API, Mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel used for the request."
      },
      "CreateNotionalPoolingTradeResponse_201": {
        "title": "Notional Pooling Operation Response",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the notional pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account associated with the response.",
            "example": "ACC-530114"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource created or modified by the operation.",
            "example": "RES-219791"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a Notional Pooling operation.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-530114",
          "resourceId": "RES-219791",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "62561d2e-857f-5ea7-869e-2b4f622f8516",
            "correlationId": "35392bc7-be62-5d66-85f8-36e56609b72f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_abc"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "correlation_xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed within the trade banking notional pooling operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-create-notional-pooling"
        },
        "example": "notional-pooling-create-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request for the notional pooling operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication via JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header as a Bearer token when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}