{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Program Trading Insights API",
    "description": "The Program Trading Insights API provides comprehensive data retrieval capabilities for wholesale trading programs. It enables users to access critical information related to program trading metrics and performance. This API is primarily designed for financial analysts and traders seeking to make informed decisions based on real-time trading data. Use cases typically include performance analysis, strategy evaluation, and market trend assessment, enhancing the overall trading effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/program-trading/{param1}": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve program trading resource details.",
        "description": "This endpoint allows users to fetch detailed information about the program trading resource identified by RES-100045. It is intended for clients looking to gain insights into the specific trading program, including its parameters and status.",
        "operationId": "getProgramTradingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to a specific program trading operation. The payload should contain the necessary parameters to successfully fetch the desired data related to the operation identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProgramTradingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProgramTradingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProgramTradingResource100045Request": {
        "type": "string",
        "description": "A JSON string representation used in the request body for the wholesale trading program trading operations.",
        "example": "{}"
      },
      "GetProgramTradingResource100045Response_200": {
        "title": "Program Trading Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the trading instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates the side of the trade (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "Number of units being traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The price limit for the trade execution.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trade record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the trading record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the trading record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the program trading operations, providing detailed information about the trading session.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7692acf6-754f-52ff-93d2-bc892acd8b89",
            "correlationId": "f6642af8-656d-52ef-ba4e-ecf935065428",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value for the trade.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details for a trading transaction."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata for the trading response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "program-trading-get-program-trading"
        },
        "example": "program-trading-get-program-trading"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token format. This scheme requires the use of JSON Web Tokens (JWT) for secure and stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}