{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Decision Retrieval API",
    "description": "The Loan Decision Retrieval API provides access to specific loan application decisions. By utilizing this endpoint, developers can retrieve detailed decision information related to a particular loan application, identified by its unique parameters. This API is typically used by financial institutions and loan processing systems to facilitate transparency and decision tracking for customers and internal auditors. The robust data enables users to understand decision criteria and outcomes effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve Loan Application Decision",
        "description": "Fetches the decision associated with a specific loan application identified by the provided ID. This endpoint allows users to obtain detailed information about the decision made for a particular loan application.",
        "operationId": "getLoanApplicationDecisionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the decision information regarding the loan application identified by RES-100045. It may include specific parameters for filtering or customizing the output related to the decision process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationDecisionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the loan application decision.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationDecisionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationDecisionByIdRequest": {
        "type": "string",
        "description": "This schema represents a request body for retrieving loan application decisions. It is expected to contain a JSON string.",
        "example": "{}"
      },
      "GetLoanApplicationDecisionByIdResponse_200": {
        "title": "Loan Application Decision Response",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from which the decision was made.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates whether the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used for the decision.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The probability of default as a percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio as a percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "Details of the principal amount approved.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan approved in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate approved as a percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "No outstanding debts"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions attached to the loan approval.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Additional comments regarding the loan decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "ID of the decision this decision supersedes, if any.",
            "example": "a69b194d-e85a-299b-6856-c96ae2f3a73a"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the decision record.",
            "example": "020fb13d-5b4f-77d6-5682-e1d8f161a580"
          },
          "decidedAt": {
            "type": "string",
            "description": "Timestamp when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "The person or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit trail details of the decision.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the decision.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response containing the decision details of a loan application.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "a69b194d-e85a-299b-6856-c96ae2f3a73a",
          "id": "020fb13d-5b4f-77d6-5682-e1d8f161a580",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1869ef36-5dc9-5037-a1a2-b7d93f324675",
            "correlationId": "f41fa1ba-46b4-575c-8e9d-e9c53f75d9e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ApprovedPrincipal": {
        "title": "Approved Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the approved principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The approved principal amount.",
            "example": "10000"
          }
        },
        "description": "Details of the principal amount approved in the loan application."
      },
      "Condition": {
        "title": "Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the condition.",
            "example": "CODE123"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition.",
            "example": "Provide additional documentation."
          },
          "dueBefore": {
            "type": "string",
            "description": "The due date before which the condition must be met.",
            "example": "2023-11-01"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Details of a condition attached to the loan approval."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the decision was created.",
            "example": "2023-10-15T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The individual or system that created the decision.",
            "example": "System Admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the decision was last updated.",
            "example": "2023-10-15T10:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The individual or system that last updated the decision.",
            "example": "System Admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the decision record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit trail information for the loan decision."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T14:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata related to the loan decision."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-credit-decision"
        },
        "example": "banking-loans-openapi-get-credit-decision"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes JSON Web Tokens (JWT) to securely transmit information between parties, allowing for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}