{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Resolution API",
    "description": "The Dispute Resolution API enables users to update the status and details of existing disputes within the platform. This endpoint is essential for managing customer disputes effectively, allowing modifications to be made as new information becomes available. Typically utilized by customer service teams or dispute resolution specialists, it ensures timely and accurate updates to dispute cases. By maintaining up-to-date information, businesses can enhance customer satisfaction and streamline resolution processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}": {
      "patch": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Update a dispute by its ID",
        "description": "This operation allows you to modify the details of a specific dispute identified by its unique ID. You can update various fields of the dispute to reflect the latest information.",
        "operationId": "patchDisputeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating information regarding a specific dispute, identified by RES-100045. This body should include the necessary fields to specify the changes required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDisputeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDisputeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDisputeByIdRequest": {
        "title": "Dispute Operation Request Body",
        "type": "object",
        "properties": {
          "customerStatement": {
            "type": "string",
            "description": "A statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for modifying a dispute operation.",
        "example": {
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "a666d2fc-ffa3-5f52-bc2e-adc93d94f399",
            "correlationId": "b58122e2-3d1e-5eec-8f64-759fa06c60be",
            "idempotencyKey": "9eb164d5-3de9-539a-9152-3810a2db2cb0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-347694"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "key-abcdef"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "format": "date-time",
            "example": 1696161600.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system where the request originated.",
            "example": "Billing System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name that initiated the request.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context for the request, including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-999"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-abc123"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "PatchDisputeByIdResponse_200": {
        "title": "Dispute Response Schema",
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the dispute.",
            "example": "PAY-986954"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-237990"
          },
          "reason": {
            "type": "string",
            "description": "The reason provided for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount in dispute, including currency and value.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "The statement provided by the customer regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute (e.g., pending, resolved).",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The date and time by which a response to the dispute is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence provided for the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "Financial implications related to the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details of the resolution if the dispute has been resolved.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information regarding the dispute.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata related to the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a dispute operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-986954",
          "merchantId": "MER-237990",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "81ceb3ec-cf47-5f64-887e-2f2623038fa0",
            "correlationId": "b58122e2-3d1e-5eec-8f64-759fa06c60be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisputedAmount": {
        "title": "Disputed Amount Schema",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the disputed amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the disputed amount including currency and value."
      },
      "EvidenceItem": {
        "title": "Evidence Item Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence item.",
            "example": "evidence123"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the evidence file.",
            "example": "receipt.jpg"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "image/jpeg"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL where the evidence file can be accessed.",
            "example": "http://example.com/evidence/receipt.jpg"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file.",
            "example": "abc123def456..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "Schema representing an individual piece of evidence for the dispute."
      },
      "FinancialImpact": {
        "title": "Financial Impact Schema",
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the financial impact.",
            "items": {
              "$ref": "#/components/schemas/FeesItem"
            }
          },
          "reserveHeld": {
            "description": "The reserve amount that is held.",
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "Schema representing financial impact related to the dispute."
      },
      "FeesItem": {
        "title": "Fees Item Schema",
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee.",
            "example": "service fee"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "The bearer of the fee (who is responsible for it).",
            "example": "merchant"
          }
        },
        "description": "Schema representing a fee associated with the dispute."
      },
      "Resolution": {
        "title": "Resolution Schema",
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the resolution.",
            "example": "resolved"
          },
          "resolvedAmount": {
            "description": "The amount that has been resolved.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the resolution outcome.",
            "example": "settled in favor of the merchant"
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing the resolution outcome of the dispute."
      },
      "AuditInfo": {
        "title": "Audit Information Schema",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-09-30T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the dispute.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the dispute.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information related to the dispute."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request and response in logs.",
            "example": "correlationABC"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-dispute"
        },
        "example": "banking-p2m-openapi-update-dispute"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where users provide a JWT (JSON Web Token) in the Authorization header to gain access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}