{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Parties Management API",
    "description": "The Account Parties Management API enables users to retrieve detailed information about the parties associated with a specific bank account. This endpoint provides essential data regarding authorized entities and individuals that interact with a given account, ensuring compliance and enhancing transparency. Typical consumers include financial platforms, fintech applications, and compliance tools that require insight into account relationships. Leveraging this API, businesses can seamlessly integrate party information into their workflows for better account management and risk assessment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/parties": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve parties associated with a specific account.",
        "description": "This endpoint allows you to retrieve detailed information about the parties associated with the account identified by ACC-200045. You can use this information for various business purposes related to customer account management and interaction.",
        "operationId": "getAispAccountsPartiesAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about parties associated with a specific account (ACC-200045). Ensure that you provide the required parameters in the body according to the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountsPartiesAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of parties for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountsPartiesAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountsPartiesAcc200045Request": {
        "type": "string",
        "description": "This schema represents the request body structure for a GET operation related to parties in account management. The request body is a string that must conform to the specified format.",
        "example": "{}"
      },
      "GetAispAccountsPartiesAcc200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "type": "array",
                "description": "List of parties associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Party"
                }
              }
            },
            "description": "Contains the data of parties related to the account.",
            "example": {
              "Party": [
                {
                  "id": "STANDARD",
                  "number": "STANDARD",
                  "type": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "FullLegalName": "Northstar Banking Service",
                  "LegalStructure": "STANDARD",
                  "LEI": "STANDARD",
                  "BeneficialOwnership": true,
                  "AccountRole": "DEBIT",
                  "EmailAddress": "olivia.bennett@northstar.example",
                  "Phone": "+1-212-555-0147",
                  "Mobile": "STANDARD",
                  "Relationships": {
                    "Account": {
                      "Related": "https://example.com/resource",
                      "Id": "STANDARD"
                    }
                  },
                  "Address": [
                    {
                      "type": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-981",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "line": [
                        "STANDARD"
                      ]
                    }
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "string"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "string"
              }
            },
            "description": "Pagination and navigation links for the response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlates related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Contains metadata information about the response.",
            "example": {
              "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
              "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving account parties in the specified operation.",
        "example": {
          "Data": {
            "Party": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-981",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "85a20e28-4c3d-5b95-869e-98c94084bbcd",
            "correlationId": "0ac331a3-90ad-5711-a5d4-718e9ff9c894",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Account number associated with the party.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., individual, organization).",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the party.",
            "example": "string"
          },
          "FullLegalName": {
            "type": "string",
            "description": "The full legal name of the party.",
            "example": "string"
          },
          "LegalStructure": {
            "type": "string",
            "description": "Legal structure of the party (e.g., corporation, partnership).",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the party.",
            "example": "string"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if the party has beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Role of the party in relation to the account.",
            "example": "string"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party.",
            "example": "string"
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party.",
            "example": "string"
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile number of the party.",
            "example": "string"
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "object",
                "properties": {
                  "Related": {
                    "type": "string",
                    "description": "Description of the relationship with the related account.",
                    "example": "string"
                  },
                  "Id": {
                    "type": "string",
                    "description": "Unique identifier for the related account.",
                    "example": "string"
                  }
                },
                "description": "Details about the related account."
              }
            },
            "description": "Relationships with other accounts."
          },
          "Address": {
            "type": "array",
            "description": "List of addresses for the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Detailed representation of a party associated with an account."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within an organization, if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within an organization, if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Number of the building.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "P.O. Box number, if applicable.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address, if applicable.",
            "example": "string"
          },
          "PostCode": {
            "type": "string",
            "description": "Post code for the address.",
            "example": "string"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "string"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Sub-division of the country (e.g., state or province).",
            "example": "string"
          },
          "Country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "string"
          },
          "line": {
            "type": "array",
            "description": "List of address lines.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Representation of an address associated with a party."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-parties"
        },
        "example": "accounts-api-get-accounts-account-id-parties"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses JSON Web Tokens (JWT) as a bearer token. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}