{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Loan Management API",
    "description": "The Consumer Loan Management API allows financial institutions to efficiently update and manage consumer loan details, catering to operational needs in the banking sector. This API enables banks and lenders to modify existing consumer loan records, ensuring accurate and up-to-date information is maintained. Common use cases include adjusting loan terms, modifying payment schedules, or updating customer details. Designed for financial service providers and developers, this API supports seamless integration into broader banking solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/consumer-loan/{param1}": {
      "patch": {
        "tags": [
          "Consumer Loan Management"
        ],
        "summary": "Update Consumer Loan Details",
        "description": "This operation allows you to update the details of a specific consumer loan identified by its unique identifier. Ensure that the request body contains the necessary fields you wish to modify for the loan.",
        "operationId": "updateConsumerLoan_LOAN_500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the user to update specific fields of the consumer loan identified by LOAN-500045. It requires a valid JSON object that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerLoan_LOAN_500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource has been modified.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerLoan_LOAN_500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerLoan_LOAN_500045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be applied to the loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating loan operations.",
        "example": {
          "changes": {
            "customerId": "CUST-894283",
            "accountId": "ACC-672560",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6474dff2-451f-5b2c-94fd-92c9608c1b15",
            "correlationId": "5527f16d-fe3b-526d-a7ab-082eeae017f8",
            "idempotencyKey": "153315d7-0a2c-58c7-b7d9-65dffec2527f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-830849"
            }
          }
        }
      },
      "LoanChanges": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the loan.",
            "example": "C12345"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account linked to the loan.",
            "example": "A67890"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the loan product being modified.",
            "example": "PL-2023-01"
          }
        },
        "description": "Object containing specific loan changes requested by the user."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "CORR-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are processed only once.",
            "example": "IDEMPOTENCY-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "Internal Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application initiating the request.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Information about the request channel.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-123456"
          }
        },
        "description": "Information regarding the channel through which the request is made."
      },
      "UpdateConsumerLoan_LOAN_500045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the consumer loan resource, containing versioning and status information.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "593ac4f6-66db-5094-b7ad-636fc1f58fe5",
            "correlationId": "5527f16d-fe3b-526d-a7ab-082eeae017f8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response, including tracking and generation details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific API endpoint being called. This helps in tracking and debugging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-update-consumer-loan"
        },
        "example": "consumer-loan-update-consumer-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that initiated the request. This is useful for monitoring and logging application behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The bearer token is typically a JSON Web Token (JWT) that grants access to specific resources or endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}