{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Lock Box Retrieval API",
    "description": "The Cheque Lock Box Retrieval API allows users to access and manage cheque lock box details effectively. This API facilitates the retrieval of specific cheque lock box information using a unique identifier. It is typically utilized by financial institutions, bankers, and accounting professionals to streamline cheque processing and management activities. Users can leverage this API to enhance operational efficiencies and improve customer service by ensuring timely access to crucial banking data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cheque-lock-box/{param1}": {
      "get": {
        "tags": [
          "Cheque Lock Box"
        ],
        "summary": "Retrieve Cheque Lock Box Details",
        "description": "This endpoint allows you to retrieve the details of a specific Cheque Lock Box using its unique identifier. Ensure you have the necessary permissions to access this information.",
        "operationId": "getChequeLockBoxById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to cheque lockbox operations. It allows the client to specify the required parameters in JSON format to receive the relevant response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChequeLockBoxByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the details of the cheque lock box.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChequeLockBoxByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChequeLockBoxByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the cheque lock box in trade banking.",
        "example": "{}"
      },
      "GetChequeLockBoxByIdResponse_200": {
        "title": "Cheque Lock Box Response",
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch.",
            "example": "STANDARD"
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account associated with the cheque batch.",
            "example": "ACC-694305"
          },
          "chequeCount": {
            "type": "integer",
            "description": "Total number of cheques in the batch.",
            "format": "int32",
            "example": 1
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "Date on which the cheques are cleared, in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the cheque batch record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving cheque batch details from the cheque lock box.",
        "example": {
          "chequeBatchId": "STANDARD",
          "depositAccountId": "ACC-694305",
          "chequeCount": 1,
          "batchAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "clearingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9777d654-902f-55eb-8624-3706c38f6b89",
            "correlationId": "808b7397-b09a-5aba-9121-b23819c95aca",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BatchAmount": {
        "title": "Batch Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total amount of the cheque batch.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the cheque batch amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the total amount and currency of the cheque batch."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request and response.",
            "example": "C123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the cheque processing took place.",
            "example": "North America"
          }
        },
        "description": "Additional metadata associated with the cheque batch response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-lock-box-get-cheque-lock-box"
        },
        "example": "cheque-lock-box-get-cheque-lock-box"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme for accessing protected resources. This scheme utilizes a JSON Web Token (JWT) to authenticate the user and grant access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}