{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Sales Inquiry API",
    "description": "The Product Sales Inquiry API facilitates seamless interactions for submitting inquiries related to product sales. It enables businesses to collect and process sales support requests from customers, ensuring that inquiries are addressed efficiently. This API serves as a crucial resource for sales teams and customer support representatives, allowing them to manage customer questions and support needs effectively. Typical consumers of this API include sales departments, e-commerce platforms, and customer service teams seeking to enhance their product sales engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-sales-support": {
      "post": {
        "tags": [
          "Sales Support"
        ],
        "summary": "Request product sales support.",
        "description": "This endpoint allows users to request assistance with product sales. It is designed to provide support for inquiries related to sales processes, product details, and customer assistance. Ensure that all necessary information is provided in the request to receive timely support.",
        "operationId": "postSalesProductSupport",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the product sales support operation, which contains the necessary details to assist in processing sales support requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostSalesProductSupportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new product sales support resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostSalesProductSupportResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostSalesProductSupportRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the product is being sold.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling this prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value associated with the prospect.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a sales support operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "b1d0cb3f-ebc4-5f53-9efd-f17a6256debc",
            "correlationId": "60ce6a48-4e39-5265-be03-5a43e2ebde5d",
            "idempotencyKey": "cd6fe962-dd93-51ef-ac06-8a1ac49b1480",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-396808"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the sale.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the expected value is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected financial value including amount and currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and requests.",
            "example": "corr7890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system which generated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is sending the request.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the sales request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel567"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used in the transaction.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device12345"
          }
        },
        "description": "Schema representing information about the channel involved in the request."
      },
      "PostSalesProductSupportResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code associated with the product being sold.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier for the relationship manager handling the sale.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the sale.",
            "example": "RES-358806"
          },
          "status": {
            "type": "string",
            "description": "The current status of the sale.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the sale record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the sale.",
            "$ref": "#/components/schemas/SaleMetadata"
          }
        },
        "description": "Response schema for the Sales Support operation in the Product Sales API.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "resourceId": "RES-358806",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "69ab9e0f-96c9-50f7-9061-420ae08a0b27",
            "correlationId": "60ce6a48-4e39-5265-be03-5a43e2ebde5d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SaleMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated by the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of this sale took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the sale."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-sales-support-create-product-sales-support"
        },
        "example": "product-sales-support-create-product-sales-support"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism based on JSON Web Tokens (JWT). Clients are required to include the JWT in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}