{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intents Update API",
    "description": "The Payment Intents Update API enables businesses to modify existing payment intent records. This endpoint allows consumers to update important details associated with payments, such as amounts, payment methods, and customer information, facilitating seamless transaction adjustments. Typical users include e-commerce platforms and financial service providers that require dynamic payment management. By streamlining payment updates, this API helps ensure that user transactions remain accurate and up-to-date.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}": {
      "put": {
        "tags": [
          "Payments"
        ],
        "summary": "Update a Payment Intent",
        "description": "This endpoint allows you to update the details of a specific payment intent identified by its unique identifier. You can modify properties such as amount, currency, or payment method.",
        "operationId": "updatePaymentIntentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payment intent with the specified ID. It contains the necessary details to modify the payment intent, such as the amount, currency, and any additional metadata required for processing the payment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentIntentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, payment intent updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentIntentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentIntentPay300045Request": {
        "title": "Payment Intent Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-827483"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Details about the amount to be processed.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method of capturing the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment is processed.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Information about the order related to the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Context of the request including IDs and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request for creating or updating a payment intent.",
        "example": {
          "merchantId": "MER-827483",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-511863",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD"
                }
              }
            ]
          },
          "requestContext": {
            "requestId": "f5a3b00b-e2c4-5ba3-90d7-554c473774f5",
            "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
            "idempotencyKey": "8d7ef886-9342-5d8d-89f0-ddd01f75a4f0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-348275"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value amount in the specified currency.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the currency and value of the transaction amount."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer_12345"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "johndoe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification of the customer.",
            "example": "low"
          }
        },
        "description": "Details about the customer making the payment."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "order_123456"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order for electronic goods"
          },
          "items": {
            "type": "array",
            "description": "List of items in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Details about the order associated with the payment."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item.",
            "example": "item_123"
          },
          "name": {
            "type": "string",
            "description": "Name of the item.",
            "example": "Smartphone"
          },
          "description": {
            "type": "string",
            "description": "Description of the item.",
            "example": "Latest model smartphone with advanced features."
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "2"
          },
          "unitPrice": {
            "description": "Price per unit of the item.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "totalAmount": {
            "description": "Total amount for the item, considering the quantity.",
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Details of an item in the order."
      },
      "UnitPrice": {
        "title": "Unit Price Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the price.",
            "example": "USD"
          }
        },
        "description": "Schema representing the unit price of an item including its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "correlation_789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure the request is idempotent.",
            "example": "idempotency_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "payment_gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including various identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "device_456"
          }
        },
        "description": "Schema representing information about the channel through which the transaction is processed."
      },
      "UpdatePaymentIntentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-918902"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount involved in the transaction.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "amountAuthorized": {
            "description": "Amount that has been authorized for this payment intent.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "amountCaptured": {
            "description": "Amount that has been captured (collected) from the authorized amount.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "amountRefunded": {
            "description": "Amount that has been refunded from the payment.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used for capturing the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the payment method selected by the customer.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details about the order associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Additional information related to the payment intent.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment intent operation.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-918902",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-817",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-993142",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "128a9d9e-9f15-558d-9ae3-85774f8134c8",
            "correlationId": "16c24419-5501-5bec-9d86-e588701993bc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MonetaryValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code, e.g., 'USD'.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount of money, represented as a string.",
            "example": "100.00"
          }
        },
        "description": "Represents a monetary value with currency."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method, e.g., credit card, bank transfer.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "tok_123456"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank that issued the payment method.",
            "example": "bank_12345"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for payment method for security purposes.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet service if applicable.",
            "example": "Visa"
          }
        },
        "description": "Details of the payment method selected by the customer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is processed.",
            "example": "EU-West"
          }
        },
        "description": "Additional metadata associated with the payment intent."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the payment intent.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-payment-intent"
        },
        "example": "banking-p2m-openapi-replace-payment-intent"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, which is typically a JSON Web Token (JWT) issued by the authorization server. The token must be included in the Authorization header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}