{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Network Management API",
    "description": "The Branch Network Management API enables users to access and manage branch network information crucial for banking operations. This endpoint provides insights into the geographic distribution and status of bank branches, helping financial institutions optimize service delivery and resource allocation. Typical consumers include bank administrators and analysts looking to enhance branch performance and client accessibility. By leveraging this API, businesses can make informed decisions to improve operational efficiency and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management": {
      "get": {
        "tags": [
          "Network Management"
        ],
        "summary": "Retrieve Branch Network Management Details",
        "description": "This endpoint allows you to retrieve detailed information about the branch network management specific to a particular channel. You can use this information to monitor and manage the network effectively.",
        "operationId": "getBranchNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves branch network management data specific to a channel. It is essential to provide the necessary parameters to ensure accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved branch network management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchNetworkManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchNetworkManagementRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for operations related to branch network management in a specific channel.",
        "example": "{}"
      },
      "GetBranchNetworkManagementResponse_200": {
        "title": "Branch Network Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch management items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchManagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving branch network management details including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26bdeaf7-72ac-5440-b149-48a65a3c8a5a",
            "correlationId": "875ba7d4-3eb5-5579-afd9-ac76844f8a73",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchManagementItem": {
        "title": "Branch Management Item",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region.",
            "example": "string"
          },
          "serviceWindow": {
            "type": "object",
            "properties": {
              "opensAt": {
                "type": "string",
                "description": "Time at which the branch opens.",
                "example": "string"
              },
              "closesAt": {
                "type": "string",
                "description": "Time at which the branch closes.",
                "example": "string"
              }
            },
            "description": "Operational hours for the branch."
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch.",
            "format": "int32",
            "example": 0
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the branch operates.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the branch record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for the last update of the branch information.",
            "example": "string"
          }
        },
        "description": "Details about a specific branch management item.",
        "example": {
          "channelId": "string",
          "regionCode": "string",
          "serviceWindow": {
            "opensAt": "09:00",
            "closesAt": "17:00"
          },
          "dailyCapacity": 100,
          "branchId": "string",
          "branchType": "Retail",
          "timeZone": "UTC",
          "recordStatus": "Active",
          "updatedAt": "2023-10-01T10:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response.",
        "example": {
          "responseId": "resp-123456",
          "correlationId": "corr-123456",
          "generatedAt": "2023-10-01T10:00:00Z",
          "processingRegion": "us-east"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-network-management-search-branch-network-management"
        },
        "example": "branch-network-management-search-branch-network-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. It requires a valid JSON Web Token (JWT) to be included in the request headers for authorized access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}