{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Sales Support API",
    "description": "The Product Sales Support API enables businesses to efficiently update and manage product sales support information. This endpoint allows clients to modify specific sales support details for products, enhancing accuracy and responsiveness to market needs. It caters to sales teams, product managers, and customer service representatives looking to ensure that all product-related inquiries are accurately addressed. Utilize this API to refine your sales support processes and better serve your customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-sales-support/{param1}": {
      "patch": {
        "tags": [
          "Sales Support"
        ],
        "summary": "Update Product Sales Support details.",
        "description": "This endpoint allows you to update the sales support details for the specific product with ID PROD-700045. Ensure that you provide the necessary data in the request body to reflect the changes you want to make.",
        "operationId": "updateProductSalesSupport_PROD700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the sales support information for the specified product (PROD-700045). Provide the necessary data in JSON format to modify the existing details related to the product's sales support.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductSalesSupport_PROD700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductSalesSupport_PROD700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateProductSalesSupport_PROD700045Request": {
        "title": "Product Sales Support Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes that need to be applied to the product sales.",
            "$ref": "#/components/schemas/ProductSalesChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are expected to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for modifying product sales information.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c8700abf-43ff-5eb7-bcd2-9577926f5024",
            "correlationId": "c8612631-6c55-5f1f-88e9-bde9b1f0767b",
            "idempotencyKey": "61ecc7ec-7e65-5421-803b-935a9dcb17d3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-617782"
            }
          }
        }
      },
      "ProductSalesChanges": {
        "title": "Product Sales Changes",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Identifier for the prospect associated with the sales change.",
            "example": "example-prospect-id"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product that is subject to changes.",
            "example": "example-product-code"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is sold.",
            "example": "online"
          }
        },
        "description": "Details of the changes being made to product sales."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "example-request-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across different systems.",
            "example": "example-correlation-id"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "example-idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Information pertaining to the request being made."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "example-channel-id"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used to make the request.",
            "example": "example-device-id"
          }
        },
        "description": "Information related to the channel used for the request."
      },
      "UpdateProductSalesSupport_PROD700045Response_200": {
        "title": "Product Sales Support Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Product Sales Support operation. This schema describes the structure of the response returned after a successful PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "48457518-3b5b-53b5-a7ec-6234cee956c7",
            "correlationId": "c8612631-6c55-5f1f-88e9-bde9b1f0767b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "corr-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, in ISO 8601 format.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response which provides additional information such as identifiers and timing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-sales-support-update-product-sales-support"
        },
        "example": "product-sales-support-update-product-sales-support"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method in which a valid JSON Web Token (JWT) must be included in the request header to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}