{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Subscriptions API",
    "description": "The Event Subscriptions API facilitates the management of event subscriptions within the Open Banking ecosystem. This API allows consumers to initiate subscriptions to various banking events, enabling real-time notifications and updates for account activities. Financial institutions and application developers use this service to enhance user engagement and provide timely information to their customers. By leveraging this API, clients can easily track significant changes and events linked to their accounts, improving transparency and customer trust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event subscription.",
        "description": "This endpoint allows developers to create a new event subscription by specifying the necessary parameters. Successful creation will enable the system to notify the user of relevant events as they occur.",
        "operationId": "createEventSubscription",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to create an event subscription. It should include details such as the type of events to subscribe to and the callback URL where notifications will be sent.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventSubscriptionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the event subscription was established.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventSubscriptionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEventSubscriptionRequest": {
        "title": "Event Subscription Request",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating an event subscription.",
        "example": {
          "Data": {
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "2ef9c440-8394-573b-b146-b52f8223e41a",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "idempotencyKey": "0f6e9542-af28-5ded-8bf6-4b802c519c7e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-792048"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL to which the events will be sent.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "The version of the event subscription.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types the subscription is interested in.",
            "items": {
              "type": "string",
              "description": "An event type the subscription will be listening for.",
              "example": "string"
            }
          }
        },
        "description": "Details of the event subscription."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "ApplicationA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Webhook).",
            "example": "Webhook"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel information of the request."
      },
      "CreateEventSubscriptionResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the details of the created event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Navigation links related to the event subscriptions.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Metadata about the pagination status of the response.",
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Event Subscriptions POST operation.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "23299ba5-f29e-511b-8beb-03d4215f1374",
            "correlationId": "ca1de441-e2b6-520e-b255-592516910686",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "string"
          }
        },
        "description": "Self-descriptive links to navigate through pages of event subscriptions."
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages of event subscriptions.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Earliest available date and time for event subscriptions.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Latest available date and time for event subscriptions.",
            "example": "string"
          }
        },
        "description": "Metadata regarding pagination of the response data."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-event-subscriptions"
        },
        "example": "events-api-create-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer Token via an HTTP header. This typically involves a JSON Web Token (JWT) which allows for secure and stateless user verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}