{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis Reviews API",
    "description": "The Fraud Diagnosis Reviews API facilitates the submission of reviews related to fraud diagnosis in banking account management. This API allows institutions to gather feedback on the fraud detection process, enabling them to enhance their strategies for identifying and mitigating fraudulent activities. Typical users include banking professionals and fraud analysts who require a streamlined method to report observations and insights. By integrating this API, organizations can improve their fraud management systems through collaborative and informed decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis/{param1}/reviews": {
      "post": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Submit a review for fraud diagnosis.",
        "description": "This endpoint allows users to submit a review related to a specific fraud diagnosis resource. The review will help in evaluating the effectiveness and credibility of the diagnosis, contributing to overall improvements in the fraud management process.",
        "operationId": "createReviewForFraudDiagnosisResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the specified fraud diagnosis. It includes the necessary fields required for creating a new review, such as the reviewer's comments and ratings regarding the fraud diagnosis outcome.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForFraudDiagnosisResource100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForFraudDiagnosisResource100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForFraudDiagnosisResource100045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "List of scopes that the review pertains to.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Transaction"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Due date for completing the review, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for submitting a review related to fraud diagnosis operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0cfa8565-b81b-5a43-b1c5-f1b033f713f0",
            "correlationId": "7e6e2148-588c-51a0-8c0c-d9d06564bd2f",
            "idempotencyKey": "4a64ef03-559e-54ff-ad7e-27a310547092",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-685562"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests across systems.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring the request is processed only once.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made, in ISO 8601 format.",
            "example": "2023-09-30T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "FraudDetectionSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "FraudApp"
          },
          "channel": {
            "description": "Information about the communication channel of the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information of the request including identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details about the communication channel used in the request."
      },
      "CreateReviewForFraudDiagnosisResource100045Response_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was taken in the fraud diagnosis process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the fraud diagnosis operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudDiagnosisMetadata"
          }
        },
        "description": "Schema representing the response structure for the fraud diagnosis review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6c358490-2895-59aa-81e2-3b2501e0d573",
            "correlationId": "7e6e2148-588c-51a0-8c0c-d9d06564bd2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the fraud diagnosis operation."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-047"
        },
        "example": "WF-047"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0c50aa42-82d2-4bc5-8676-83da8dd9e742"
        },
        "example": "0c50aa42-82d2-4bc5-8676-83da8dd9e742"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4bba0dc5-0bf2-4a4c-b727-e81658a0f4d6"
        },
        "example": "4bba0dc5-0bf2-4a4c-b727-e81658a0f4d6"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-review-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-review-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-047"
        },
        "example": "WF-047"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow being executed. This helps identify the specific workflow in operational processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Fraud Investigation and Recovery"
        },
        "example": "Card Fraud Investigation and Recovery"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow. This indicates whether the workflow is still running, has completed, or encountered an error.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow. This ID can be used to track the specific instance of the workflow throughout its lifecycle.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4bba0dc5-0bf2-4a4c-b727-e81658a0f4d6"
        },
        "example": "4bba0dc5-0bf2-4a4c-b727-e81658a0f4d6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. This token is typically a JSON Web Token (JWT) and is used to authenticate user requests by including it in the HTTP headers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}