{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Deposit Switch Management API",
    "description": "The Deposit Switch Management API provides a mechanism for accessing and managing deposit switch settings for customers. With this API, financial institutions can retrieve the current deposit switch status for a specific customer using their unique identifier. This service is typically used by customer service representatives or financial analysts to analyze and modify deposit functionalities for clients, ensuring compliance and fast response times. The API enables efficient management of customer deposit preferences, thereby enhancing the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/deposit-switches/{param2}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve deposit switch details for a specific customer.",
        "description": "This endpoint allows you to fetch the deposit switch information associated with the customer identified by CUST-100045. Use this to check the deposit switch status and settings specific to the customer.",
        "operationId": "getDepositSwitchForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the deposit switch details for a specific customer and resource. The request body must conform to the specified schema to ensure proper data handling and response generation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositSwitchForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the deposit switch details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositSwitchForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositSwitchForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for retrieving the deposit switch operations for a customer.",
        "example": "{}"
      },
      "GetDepositSwitchForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-513014"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switchId": {
            "type": "string",
            "description": "The unique identifier for the switch associated with the customer.",
            "example": "STANDARD"
          },
          "switchStatus": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for any failure related to the switch, if applicable.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "Date and time when the switch was created.",
            "example": "2026-09-15"
          },
          "updatedDate": {
            "type": "string",
            "description": "Date and time when the switch was last updated.",
            "example": "2026-09-15"
          },
          "authenticated": {
            "type": "boolean",
            "description": "Indicates whether the customer is authenticated.",
            "example": true
          },
          "provider": {
            "description": "Details of the provider associated with the switch.",
            "$ref": "#/components/schemas/Provider"
          },
          "distributions": {
            "type": "array",
            "description": "List of distribution details related to the switch.",
            "example": [
              {
                "type": "STANDARD",
                "allocatedValue": 100.0,
                "bankIdentifier": "STANDARD",
                "accountNumberEndsWith": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Distribution"
            }
          },
          "metadata": {
            "description": "Metadata related to the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving deposit switch details for a specific customer.",
        "example": {
          "customerId": "CUST-513014",
          "customerType": "STANDARD",
          "switchId": "STANDARD",
          "switchStatus": "ACTIVE",
          "failureReason": "STANDARD",
          "createdDate": "2026-09-15",
          "updatedDate": "2026-09-15",
          "authenticated": true,
          "provider": {
            "id": "STANDARD",
            "name": "Northstar Banking Service"
          },
          "distributions": [
            {
              "type": "STANDARD",
              "allocatedValue": 100.0,
              "bankIdentifier": "STANDARD",
              "accountNumberEndsWith": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "19282c7d-e148-5483-9a74-1ee1e0de6c3e",
            "correlationId": "afcb6429-bf52-5e58-8504-30bb73676d15",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Provider": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the provider.",
            "example": "PROV-123456"
          },
          "name": {
            "type": "string",
            "description": "The name of the provider.",
            "example": "Provider Name"
          }
        },
        "description": "Details of the provider associated with the deposit switch."
      },
      "Distribution": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the distribution (e.g., commission, fee).",
            "example": "commission"
          },
          "allocatedValue": {
            "type": "number",
            "description": "The value allocated for the distribution.",
            "example": 0.0
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Identifier for the bank associated with the distribution.",
            "example": "BANK-001"
          },
          "accountNumberEndsWith": {
            "type": "string",
            "description": "Last few digits of the account number associated with the distribution.",
            "example": "1234"
          }
        },
        "description": "Details of the distribution related to the switch."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-654321"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "CORR-987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information associated with the processing of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-deposit-switch-details"
        },
        "example": "open-finance-api-get-deposit-switch-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a bearer token, typically a JSON Web Token (JWT), to authenticate requests to the API. Clients must include the token in the `Authorization` header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}