{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Currency Distribution Reviews API",
    "description": "The Branch Currency Distribution Reviews API enables users to submit and manage reviews related to currency distribution at specific bank branches. It serves financial institutions and service providers looking to gather feedback on currency availability and distribution effectiveness. The API facilitates the collection of user insights, which can help improve branch operations and customer satisfaction. Typical consumers of this API include banking applications and financial analysis tools that require detailed review data for decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-currency-distribution/{param1}/reviews": {
      "post": {
        "tags": [
          "Branch Currency Distribution"
        ],
        "summary": "Create a review for the branch currency distribution.",
        "description": "This endpoint allows you to submit a review for the specified branch currency distribution resource (RES-100045). Make sure to provide all required information in the request body to successfully create a review.",
        "operationId": "createBranchCurrencyDistributionReviewForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for a specific branch currency distribution under the resource identified by RES-100045. It must contain the necessary details for the review being submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBranchCurrencyDistributionReviewForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and processing is underway.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBranchCurrencyDistributionReviewForRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBranchCurrencyDistributionReviewForRes100045Request": {
        "title": "Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for submitting the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, defined as a list of facets or areas being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to evaluate the review request.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The date and time by which the review should be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review, including details about the review reason, assigned reviewer, and request context.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "92762d88-8da3-504f-82c3-c1a549431345",
            "correlationId": "6fb4521a-7402-5993-89a3-c785873bb4f3",
            "idempotencyKey": "11b1cece-f995-5218-be97-697db36dd125",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-864016"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests across systems.",
            "example": "corr123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent and can be retried safely.",
            "example": "idemp123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-11-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "Review App"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and timestamps."
      },
      "ChannelInformation": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123456"
          }
        },
        "description": "Schema providing details about the channel used for the request."
      },
      "CreateBranchCurrencyDistributionReviewForRes100045Response_202": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate this response with other related requests or responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Meta information about the response.",
            "example": {
              "responseId": "973c5b4d-bced-5331-b514-e71ca01756dd",
              "correlationId": "6fb4521a-7402-5993-89a3-c785873bb4f3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for a specific operation's POST request related to the branch currency distribution reviews.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "973c5b4d-bced-5331-b514-e71ca01756dd",
            "correlationId": "6fb4521a-7402-5993-89a3-c785873bb4f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request, ensuring tracking and validation of requests in the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-currency-distribution-review-branch-currency-distribution-processing"
        },
        "example": "branch-currency-distribution-review-branch-currency-distribution-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was processed. This header provides context for the environment and application handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, where the client must include a JSON Web Token (JWT) in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}