{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Institution Login Migration API",
    "description": "The Customer Institution Login Migration API facilitates the migration of institution login details for specific customers within the system. This API allows authorized users to update existing institution login information, ensuring a smooth transition of data during migrations. Typical consumers include system administrators and migration engineers who are tasked with managing customer data integrity and ensuring compliance during system upgrades or transitions. Utilize this endpoint to efficiently manage and update institution login records for a seamless customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/migration": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Migrate an institution login for a specific customer.",
        "description": "This endpoint allows for the migration of an institution login for the customer with ID CUST-100045. The process involves transferring necessary credentials and data from the current system to ensure a seamless transition. Ensure all required details are provided in the request body for a successful migration.",
        "operationId": "migrateCustomerInstitutionLogin",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the migration process for a specific institution login associated with a customer. The payload must include the necessary data to facilitate the migration and adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MigrateCustomerInstitutionLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The migration process completed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MigrateCustomerInstitutionLoginResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "MigrateCustomerInstitutionLoginRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the migration operation of institution logins.",
        "example": {
          "requestContext": {
            "requestId": "e025f9b3-a185-59ad-9ebc-9ee8de96567f",
            "correlationId": "b6ed7972-74b0-5bec-9898-587ea18c60e9",
            "idempotencyKey": "14c7413c-4552-5053-adf1-85fbfa7d65b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-613519"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates multiple related requests.",
            "example": "correlation-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the operation.",
            "example": "idempotent-key-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that is making the request.",
            "example": "source-app-1"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request containing various identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request is made.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel details through which the request is initiated."
      },
      "MigrateCustomerInstitutionLoginResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of account objects associated with the institution login.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-390487",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the migration operations related to institution logins.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-390487",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "9321ba2f-5377-5c9e-90b8-eedbd7789492",
            "correlationId": "b6ed7972-74b0-5bec-9898-587ea18c60e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "acct-123456"
          },
          "number": {
            "type": "string",
            "description": "The account number.",
            "example": "123456789"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "A display-friendly version of the account number.",
            "example": "****6789"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "6789"
          },
          "name": {
            "type": "string",
            "description": "The name of the account.",
            "example": "Savings Account"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 1000.5
          },
          "type": {
            "type": "string",
            "description": "Type of account (e.g., savings, checking).",
            "example": "savings"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code for the aggregation process.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "active"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the account.",
            "example": "cust-123456"
          },
          "institutionId": {
            "type": "string",
            "description": "The ID of the institution associated with the account.",
            "example": "inst-123456"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date of the last balance update represented as a timestamp.",
            "format": "int32",
            "example": 1633036800
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the last aggregation was successful.",
            "format": "int32",
            "example": 1633036800
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the last aggregation attempt occurred.",
            "format": "int32",
            "example": 1633036800
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 1609459200
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated.",
            "format": "int32",
            "example": 1633036800
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment the account falls under.",
            "example": "retail"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account balance.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date when the last transaction occurred in this account.",
            "format": "int32",
            "example": 1633036800
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction associated with the account.",
            "format": "int32",
            "example": 1609459200
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Identifier of the institution login associated with the account.",
            "format": "int32",
            "example": 1001
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "An object representing an account associated with an institution login."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "Date representing the status of the account information.",
            "format": "int32",
            "example": 1633036800
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "The available balance amount in the account.",
            "example": 950.0
          },
          "openDate": {
            "type": "integer",
            "description": "Date when the account was opened.",
            "format": "int32",
            "example": 1609459200
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the reporting period for specific account details.",
            "format": "int32",
            "example": 1630454400
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the reporting period for specific account details.",
            "format": "int32",
            "example": 1633046400
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable during the reporting period.",
            "example": 0.05
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Total deposit amount during the reporting period.",
            "example": 100.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Total interest earned during the reporting period.",
            "example": 4.5
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest amount earned on the account.",
            "example": 50.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Prior year-to-date interest amount earned on the account.",
            "example": 45.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date for term accounts.",
            "format": "int32",
            "example": 1672531199
          },
          "interestRate": {
            "type": "string",
            "description": "Current interest rate applied to the account.",
            "example": "0.05"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "The available credit amount on the account.",
            "example": 500.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "The maximum credit limit for the account.",
            "example": 1000.0
          }
        },
        "description": "Detailed information about an account, including balance details and interest rates."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "corr-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This header helps in tracking which endpoint produced the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-migrate-institution-login-accounts"
        },
        "example": "open-finance-api-migrate-institution-login-accounts"
      },
      "X-Runtime-App": {
        "description": "Indicates the application responsible for processing the request. This helps identify the service within the architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This method provides a straightforward way to secure APIs and verify the identity of users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}