{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Voietx Verification with Statement API",
    "description": "This API facilitates the verification of customer identity through Voietx, incorporating statement data for enhanced accuracy. It specifically allows businesses to submit verification requests for a specified customer by utilizing their unique customer ID. Ideal for financial institutions and compliance departments, this operation ensures thorough identity checks necessary for onboarding or transaction approvals. Users can expect reliable processing of verification data to bolster customer trust and regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voietxverify/withstatement": {
      "post": {
        "tags": [
          "Customer Verification"
        ],
        "summary": "Verify Voietx with Statement for a Customer",
        "description": "This endpoint allows you to perform a Voietx verification for a specific customer using their statement. It ensures accurate verification and compliance for the customer's records.",
        "operationId": "postVoietxVerifyWithStatementForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a voice verification process for customer CUST-100045 with a detailed statement. It contains all necessary parameters and data required for the verification operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostVoietxVerifyWithStatementForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing; check status later.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoietxVerifyWithStatementForCustomerResponse_202"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred; troubleshoot the server issue.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoietxVerifyWithStatementForCustomerResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "Validation failed; check the request parameters for errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoietxVerifyWithStatementForCustomerResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostVoietxVerifyWithStatementForCustomerResponse_202": {
        "title": "Customer Verification Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The internal identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with this response.",
            "example": "844c50c4-1940-5298-b3b2-173f0c5b9bb6"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the customer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp representing the creation date of the response.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the verification operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer including personal information.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any dispute raised by the customer.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of verification performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Status of the verification request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the Voie with statement verification.",
            "$ref": "#/components/schemas/VoieWithStatementConstraints"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the customer verification operation with detailed customer information.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "844c50c4-1940-5298-b3b2-173f0c5b9bb6",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "voieWithStatementData": {
              "assetIds": [
                "STANDARD"
              ],
              "extractEarnings": true,
              "extractDeductions": true,
              "extractDirectDeposit": true
            }
          },
          "metadata": {
            "responseId": "793a9212-fb4c-5cc0-bade-893d71dd48b9",
            "correlationId": "3b5f3300-04c0-5a17-b171-c5900ad99a68",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL of the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the consumer."
      },
      "VoieWithStatementConstraints": {
        "title": "Voie With Statement Constraints",
        "type": "object",
        "properties": {
          "voieWithStatementData": {
            "description": "Data pertaining to the Voie with statement constraints.",
            "$ref": "#/components/schemas/VoieWithStatementData"
          }
        },
        "description": "Constraints related to the Voie with statement data."
      },
      "VoieWithStatementData": {
        "type": "object",
        "properties": {
          "assetIds": {
            "type": "array",
            "description": "List of asset IDs related to the request.",
            "items": {
              "type": "string"
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Flag indicating whether to extract earnings data."
          },
          "extractDeductions": {
            "type": "boolean",
            "description": "Flag indicating whether to extract deductions data."
          },
          "extractDirectDeposit": {
            "type": "boolean",
            "description": "Flag indicating whether to extract direct deposit information."
          }
        },
        "description": "Schema for the Voie with Statement data."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      },
      "PostVoietxVerifyWithStatementForCustomerResponse_500": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A string providing a detailed message about the failure.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "A string indicating the workflow context in which the failure occurred.",
            "example": "WF-038"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer representing the hop count after which the failure occurred.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "Schema representing the response structure for a failed operation of the VoietX Verify service.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-038",
          "failedAfterHop": 3
        }
      },
      "PostVoietxVerifyWithStatementForCustomerRequest": {
        "type": "object",
        "properties": {
          "voieWithStatementData": {
            "description": "Contains the data for the Voie with Statement request.",
            "$ref": "#/components/schemas/VoieWithStatementData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the Voie with Statement operation.",
        "example": {
          "voieWithStatementData": {
            "assetIds": [
              "STANDARD"
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "requestContext": {
            "requestId": "676197e8-71dc-57fa-b08a-cf3c5c2d9247",
            "correlationId": "3b5f3300-04c0-5a17-b171-c5900ad99a68",
            "idempotencyKey": "4b6424e3-ce11-583c-8d14-2325e3685827",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-694576"
            }
          }
        }
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label for the custom field."
          },
          "value": {
            "type": "string",
            "description": "Value for the custom field."
          },
          "shown": {
            "type": "boolean",
            "description": "Flag indicating whether the custom field should be displayed."
          }
        },
        "description": "Schema representing a custom field in the report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system making the request."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the source application making the request."
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used."
          }
        },
        "description": "Schema representing the channel through which the request was submitted."
      },
      "PostVoietxVerifyWithStatementForCustomerResponse_422": {
        "title": "Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the specific error type.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "158326ac-1d39-4a3f-8c10-cabe70cc5e9a"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message providing details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Information about the workflow associated with the error.",
            "example": "WF-038"
          }
        },
        "description": "This schema represents the structure of the error response returned when a request fails with a 422 status code.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "158326ac-1d39-4a3f-8c10-cabe70cc5e9a",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-038"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0835c686-072c-4132-8206-ed41a5124137"
        },
        "example": "0835c686-072c-4132-8206-ed41a5124137"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "16d9fe5a-d191-4ef8-84b6-5a29aeb7fc64"
        },
        "example": "16d9fe5a-d191-4ef8-84b6-5a29aeb7fc64"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voie-paystub-report"
        },
        "example": "open-finance-api-generate-voie-paystub-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for tracking the workflow of the request. This is essential for examining failed requests and their respective logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-038"
        },
        "example": "WF-038"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the current operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Syndicated Loan Participation and Settlement"
        },
        "example": "Syndicated Loan Participation and Settlement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress or status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d7ed74d6-95e3-4c56-a8e2-b86b245daafa"
        },
        "example": "d7ed74d6-95e3-4c56-a8e2-b86b245daafa"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authorization. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}