{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Decisioning API",
    "description": "The Consumer Decisioning API enables businesses to retrieve detailed consumer insights associated with specific customers. By providing the customer ID, users can access comprehensive decisioning data that supports enhanced customer relationship management and personalized service delivery. This API is primarily aimed at marketing and sales teams seeking to leverage consumer data for targeted campaigns or product offerings. Ideal for use cases requiring customer analytics and informed decision-making, it streamlines the process of obtaining critical consumer information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/consumer": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve consumer details for a specific customer.",
        "description": "This endpoint allows developers to fetch detailed consumer information associated with a particular customer ID. It is essential for applications that need to display or manage customer-specific consumer data.",
        "operationId": "getCustomerConsumerDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching consumer information associated with a specific customer ID (CUST-100045). This request is designed to retrieve detailed consumer data, allowing for a better understanding of the customer's profile and associated information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerConsumerDetailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the consumer details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerConsumerDetailResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerConsumerDetailRequest": {
        "type": "string",
        "description": "This schema represents the request body expected in the GET operation for consumers. It is a string representation of the request payload.",
        "example": "{}"
      },
      "GetCustomerConsumerDetailResponse_200": {
        "title": "Customer Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "STANDARD"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique customer ID.",
            "format": "int32",
            "example": 1
          },
          "address": {
            "type": "string",
            "description": "Street address of the customer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "City where the customer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State where the customer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the customer's location.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the customer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "Birthday of the customer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the customer was created, represented as an integer (timestamp).",
            "format": "int32",
            "example": 1
          },
          "suffix": {
            "type": "string",
            "description": "Suffix for the customer's name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Details of the end user associated with the customer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "metadata": {
            "description": "Metadata related to the customer data.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the details of a customer.",
        "example": {
          "id": "STANDARD",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "customerId": 1,
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "createdDate": 1,
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "metadata": {
            "responseId": "32c0bfb4-3460-540b-9330-d6dd75253037",
            "correlationId": "7656b00b-24ba-5c4b-872c-0b74789d4e08",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "Year of the birthday.",
            "format": "int32",
            "example": 0
          },
          "month": {
            "type": "integer",
            "description": "Month of the birthday.",
            "format": "int32",
            "example": 0
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "Day of the month of the birthday.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing a customer's birthday."
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the end user."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with customer data."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint being accessed, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-consumer-for-customer"
        },
        "example": "open-finance-api-get-consumer-for-customer"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is making the API request, useful for identifying the source of traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a JSON Web Token (JWT) for securing API access. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}