{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mergers and Acquisitions API",
    "description": "The Mergers and Acquisitions API provides comprehensive access to data and insights regarding corporate finance transactions, particularly mergers and acquisitions. This API enables financial analysts, investment bankers, and corporate decision-makers to retrieve detailed information about ongoing and historical M&A activities. Users can leverage this data to inform strategic decisions, conduct market analysis, and evaluate potential partnership opportunities. With its focus on delivering precise financial details, the API serves as a vital tool for businesses navigating the complexities of corporate mergers and acquisitions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/mergers-acquisitions": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve information on mergers and acquisitions.",
        "description": "This endpoint allows users to fetch detailed information regarding mergers and acquisitions within the corporate finance sector, including transaction data, involved parties, and financial metrics. It provides a comprehensive overview for stakeholders interested in current and historical M&A activities.",
        "operationId": "getCorporateFinanceMergersAcquisitions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to mergers and acquisitions in corporate finance. It accepts a JSON payload conforming to the specified schema and allows for the filtering and querying of relevant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateFinanceMergersAcquisitionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of mergers and acquisitions data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateFinanceMergersAcquisitionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateFinanceMergersAcquisitionsRequest": {
        "type": "string",
        "description": "This schema represents a request body for GET operations related to mergers and acquisitions in corporate finance.",
        "example": "{}"
      },
      "GetCorporateFinanceMergersAcquisitionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of merger and acquisition items.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MergerAcquisitionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching merger and acquisition operations.",
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e29ba072-4807-5b35-892e-223b5117056d",
            "correlationId": "699fde13-f62f-5b51-9a46-7ac902973af3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MergerAcquisitionItem": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client."
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction (e.g., acquisition, merger)."
          },
          "enterpriseValue": {
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "Scheduled date for the transaction to close."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the record was last updated."
          }
        },
        "description": "Detailed information about a merger or acquisition."
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount of the enterprise value."
          },
          "currency": {
            "type": "string",
            "description": "Currency of the enterprise value."
          }
        },
        "description": "Enterprise value associated with the transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was performed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mergers-and-acquisitions-advisory-search-mergers-and-acquisitions-advisory"
        },
        "example": "mergers-and-acquisitions-advisory-search-mergers-and-acquisitions-advisory"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, enabling users to identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a JSON Web Token (JWT) as a means of providing access control. Clients should include the token in the Authorization header as 'Bearer {token}' when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}