{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Current Account Management API",
    "description": "The Current Account Management API facilitates seamless deposit transactions into current accounts. This API allows financial institutions and developers to initiate deposits into customer accounts, ensuring secure and efficient processing of funds. It is primarily aimed at banks and fintech companies looking to enhance their account offerings and integrate deposit functionalities into their applications. Use cases include mobile banking apps, online banking platforms, and automated lending solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a new current account for deposit lending.",
        "description": "This endpoint allows users to create a new current account specifically tailored for deposit lending purposes. It offers the ability to manage funds effectively while providing the necessary options for tracking and withdrawals.",
        "operationId": "createDepositLendingCurrentAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a deposit operation for a current account. It requires specific details regarding the transaction to be processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingCurrentAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingCurrentAccountResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingCurrentAccountResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be processed.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingCurrentAccountResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingCurrentAccountResponse_201": {
        "title": "Deposit Lending Current Account Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-998068"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the current account.",
            "example": "ACC-699252"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the current account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with this operation.",
            "example": "RES-424853"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the account was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the operations related to deposit lending current accounts.",
        "example": {
          "customerId": "CUST-998068",
          "accountId": "ACC-699252",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-424853",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71c244b2-2349-5a59-b7ea-a8e0dc358fec",
            "correlationId": "01e494cb-3502-5ab2-9644-a6394434d5ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses for tracing.",
            "example": "corr_98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information for the response, providing additional context."
      },
      "CreateDepositLendingCurrentAccountResponse_500": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow that encountered the error.",
            "example": "WF-001"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "The hop number after which the error occurred.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "Response schema for a 500 error from the deposit lending current account operations.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-001",
          "failedAfterHop": 3
        }
      },
      "CreateDepositLendingCurrentAccountRequest": {
        "title": "Current Account Operations Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-286140"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-842086"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Object containing the amount and currency of the principal.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of statements provided to the account holder.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if overdraft is allowed on the account.",
            "example": true
          },
          "requestContext": {
            "description": "Context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations related to current accounts in the deposit lending context.",
        "example": {
          "customerId": "CUST-286140",
          "accountId": "ACC-842086",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "909c1732-7d21-50de-84f7-50a5b8a8a1e4",
            "correlationId": "01e494cb-3502-5ab2-9644-a6394434d5ed",
            "idempotencyKey": "061a0d69-b2ca-5f54-ab27-fe5e2ce2f506",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-145136"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount of the loan, including the currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used by the customer.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel details through which the request is made."
      },
      "CreateDepositLendingCurrentAccountResponse_422": {
        "title": "Deposit Lending Current Account Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A short string representing the error code.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, useful for tracing and debugging.",
            "example": "cb632fab-caa2-4a98-a3b6-996736ac1a8c"
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow that generated the error response.",
            "example": "WF-001"
          }
        },
        "description": "Schema representing the error response returned when a POST operation on the current account results in a 422 Unprocessable Entity error.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "cb632fab-caa2-4a98-a3b6-996736ac1a8c",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-001"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-001"
        },
        "example": "WF-001"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "179c9f95-7fcf-4570-b466-5422ae15e808"
        },
        "example": "179c9f95-7fcf-4570-b466-5422ae15e808"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e084fc85-c6f7-4fb0-97fc-a62ab1044c6b"
        },
        "example": "e084fc85-c6f7-4fb0-97fc-a62ab1044c6b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This helps in tracing the requests made to specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-create-current-account"
        },
        "example": "current-account-create-current-account"
      },
      "X-Runtime-App": {
        "description": "The application name that is currently processing the request. Useful for identifying which service handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the operation that resulted in validation errors (status code 422). This ID assists in identifying the specific request context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-001"
        },
        "example": "WF-001"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Digital Customer Onboarding and Current Account Opening"
        },
        "example": "Digital Customer Onboarding and Current Account Opening"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a1582c05-bb59-4b64-a7eb-3df0b3845c73"
        },
        "example": "a1582c05-bb59-4b64-a7eb-3df0b3845c73"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure token-based authentication. Clients must include the token in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}