{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Bank Account API",
    "description": "The Internal Bank Account API provides functionalities to access and manage internal bank account information within the banking systems. This API allows users to retrieve account details, transaction history, and account statuses. Typical consumers include internal banking systems and financial applications requiring real-time account data for operational processes. By leveraging this API, organizations can enhance their financial service deliveries and streamline internal banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve information about internal bank accounts.",
        "description": "This endpoint allows users to fetch details of internal bank accounts managed by the operational services. It provides comprehensive data including account balances, transaction history, and account status, enabling informed decisions and efficient financial operations.",
        "operationId": "getInternalBankAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving internal bank account information. Ensure that the JSON structure adheres to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the internal bank account details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalBankAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalBankAccountRequest": {
        "type": "string",
        "description": "A request body schema for operations related to internal bank accounts. The value should be a JSON string representing necessary operational data.",
        "example": "{}"
      },
      "GetInternalBankAccountResponse_200": {
        "title": "Internal Bank Account Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation records related to bank accounts.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-982552",
                "accountId": "ACC-757443",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankAccountOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of bank account operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the internal bank account operations retrieval.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-982552",
              "accountId": "ACC-757443",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ef1cd73b-0cf0-525a-bfb3-d71cfdaefa4d",
            "correlationId": "502e0755-b4c0-546b-98c7-9684e0e077de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankAccountOperation": {
        "title": "Bank Account Operation",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the bank account involved in the operation."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation (e.g., high, medium, low)."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operation record (e.g., completed, pending)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation record was last updated."
          }
        },
        "description": "Schema representing a single operation related to a bank account."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place."
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-search-internal-bank-account"
        },
        "example": "internal-bank-account-search-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where the client must include a valid JWT (JSON Web Token) in the Authorization header of the request for authentication and access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}