{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Processing API",
    "description": "The Transaction Processing API facilitates the submission and execution of financial transactions within the account management framework. This endpoint allows clients to initiate various types of transactions such as deposits, withdrawals, and transfers. It is designed for banks and financial institutions looking to manage customer transactions seamlessly. Typical consumers include backend systems that require reliable transaction processing capabilities to enhance their banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/transaction-engine": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Initiates a transaction for the specified account.",
        "description": "This endpoint allows users to initiate transactions related to their accounts in the transaction engine. It is designed to facilitate secure and efficient processing of various account transactions.",
        "operationId": "processTransactionForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a transaction operation in the account management system. This includes the necessary details required for processing the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessTransactionForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The transaction has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessTransactionForAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ProcessTransactionForAccountRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The ID of the account associated with the transaction.",
            "example": "ACC-189337"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer making the transaction.",
            "example": "CUST-840710"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date for the transaction ledger.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction is to be processed.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger after the transaction.",
            "example": 100.0
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a transaction in the account management system.",
        "example": {
          "accountId": "ACC-189337",
          "customerId": "CUST-840710",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "a02dce48-740b-59a4-8633-ef06112cb6bb",
            "correlationId": "ceb98128-c5f7-58c8-9d57-a251e3e968f6",
            "idempotencyKey": "da409b87-c324-580e-8c92-3eefdc3c6e7a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-995801"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "ProcessTransactionForAccountResponse_201": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the transaction.",
            "example": "ACC-759175"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer who initiated the transaction.",
            "example": "CUST-346784"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the transaction.",
            "example": "RES-440294"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the transaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response schema for the successful creation of a transaction in the account management system.",
        "example": {
          "accountId": "ACC-759175",
          "customerId": "CUST-346784",
          "resourceId": "RES-440294",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "60562d7c-85f9-50a9-8d98-71b5f757d380",
            "correlationId": "ceb98128-c5f7-58c8-9d57-a251e3e968f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated by the transaction process.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the transaction, including tracing and timing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-engine-create-transaction-engine"
        },
        "example": "transaction-engine-create-transaction-engine"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A token issued following the JWT (JSON Web Token) standard must be provided in the authorization header for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}