{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payment Details API",
    "description": "The International Payment Details API enables consumers to access detailed information regarding specific international payment transactions. This API allows users to retrieve payment status, recipient details, and transaction logs, which are essential for transparency and tracking. Common use cases include customer inquiries regarding payment statuses and reconciliation purposes for financial institutions. Developers can integrate this API into their applications to enhance user experiences surrounding international payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve payment details for international payment PAY-300045",
        "description": "This endpoint allows you to fetch detailed information about the international payment with the identifier PAY-300045. It includes insights into the transaction's status, amounts, and other relevant details, assisting in tracking and processing payments seamlessly.",
        "operationId": "getPaymentDetailsForInternationalPaymentPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the retrieval of payment details for a specific international payment identified by the payment ID PAY-300045. Ensure that you provide the correct identifiers to fetch the intended payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForInternationalPaymentPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForInternationalPaymentPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForInternationalPaymentPAY300045Request": {
        "type": "string",
        "description": "This schema represents a request body for getting payment details in the context of international payments under the specified operations.",
        "example": "{}"
      },
      "GetPaymentDetailsForInternationalPaymentPAY300045Response_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment status entries.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current page of payment details."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of payment details."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of payment details."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of payment details."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of payment details."
                  }
                },
                "description": "Pagination links for navigating through payment details."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available in the response.",
                    "format": "int32"
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time of the first available payment."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Date and time of the last available payment."
                  }
                },
                "description": "Metadata regarding the payment details response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for correlating related requests."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Geographical region where the payment was processed."
                  }
                },
                "description": "Additional metadata related to the response."
              }
            },
            "description": "Main data object containing payment information.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-269589",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response for payment details in the international payments context.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-269589",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "046cfdd2-bc92-56d2-bc37-8a1144f63aaa",
            "correlationId": "415fe15b-d33f-5d95-aa85-272fce44e4c5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "title": "Payment Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "$ref": "#/components/schemas/StatusDetail"
          }
        },
        "description": "Schema representing an individual entry for payment status."
      },
      "StatusDetail": {
        "title": "Status Detail",
        "type": "object",
        "properties": {
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment."
          },
          "Status": {
            "type": "string",
            "description": "Detailed status of the payment."
          },
          "StatusReason": {
            "type": "string",
            "description": "Reason for the current payment status."
          },
          "StatusReasonDescription": {
            "type": "string",
            "description": "Description explaining the status reason."
          }
        },
        "description": "Schema representing detailed information about the payment status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the payment request, which can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment-details"
        },
        "example": "payment-initiation-openapi-get-international-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the payment operation, providing context for the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access. Clients must include a valid bearer token in the Authorization header to authenticate requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}