{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Administration Management API",
    "description": "The Systems Administration Management API enables businesses to efficiently manage IT systems and infrastructure related to banking operations. This API facilitates key administrative tasks such as configuring system settings, managing user permissions, and overseeing system performance metrics. Typical consumers include IT administrators and systems managers who need to ensure optimal functioning of banking products and services. By streamlining IT management processes, organizations can enhance their operational efficiency and responsiveness to changes in the financial landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-administration": {
      "post": {
        "tags": [
          "IT Management"
        ],
        "summary": "Create a new Systems Administration entry in IT Management.",
        "description": "This operation allows you to create a new entry in the Systems Administration section of IT Management, enabling effective management and organization of IT resources and processes.",
        "operationId": "createItManagementSystemAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate operations related to systems administration within IT management. It requires a JSON object that contains the necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateItManagementSystemAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateItManagementSystemAdministrationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateItManagementSystemAdministrationRequest": {
        "title": "System Administration POST Request Body",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change request associated with this operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The name of the team responsible for this system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier under which the system is provisioned, indicating the level of service provided.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system, ranging from 0 to 100.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the system, typically expressed in a specific time format.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for system administration operations, used to specify details about the system and context of the request.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "9097334b-d4ed-5f49-8020-a64380035a36",
            "correlationId": "7df3b63d-34a1-57e3-baff-fecdffd21bb4",
            "idempotencyKey": "f71ac1d0-245c-562f-9285-b1fc92041767",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-117958"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "Request789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that can be used for tracing the request across multiple services.",
            "example": "Correlation321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request can be safely retried without causing unintended effects.",
            "example": "IdempotencyKey001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name or identifier of the system from which the request originated.",
            "example": "SourceSystem01"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was generated.",
            "example": "SourceAppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information associated with a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "Channel100"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API) through which the request was made.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used for the request, if applicable.",
            "example": "DeviceXYZ"
          }
        },
        "description": "Schema representing the channel details used in a request."
      },
      "CreateItManagementSystemAdministrationResponse_201": {
        "title": "Response for Systems Administration Operation",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change made during the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier of the resource affected by the operation.",
            "example": "RES-668338"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response received after performing a systems administration operation.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "resourceId": "RES-668338",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "84da4e8c-d097-5827-af70-eaada8b8e22e",
            "correlationId": "7df3b63d-34a1-57e3-baff-fecdffd21bb4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-112233"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID to trace the request across services.",
            "example": "correlation-445566"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema holds additional metadata information associated with the systems administration operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-administration-create-systems-administration"
        },
        "example": "systems-administration-create-systems-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}