{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Instruction Retrieval API",
    "description": "The Payment Instruction Retrieval API allows users to access detailed payment instructions based on specific parameters. This API serves as a vital resource for financial institutions and businesses managing banking transactions. Users can retrieve essential data, including payment amounts, recipient information, and processing dates, to ensure accuracy in payment handling. Typical consumers of this API include banking applications, financial management systems, and payment processors seeking to automate transaction workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-instruction/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Instruction Details",
        "description": "Fetches the detailed information for a specific payment instruction identified by its unique ID. This endpoint is useful for obtaining all pertinent data related to the payment instruction, including status, amount, and relevant dates.",
        "operationId": "getPaymentInstructionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment instruction details for a specific payment ID (PAY-300045). It must contain the necessary authentication and parameter details as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentInstructionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment instruction details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentInstructionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentInstructionByIdRequest": {
        "type": "string",
        "description": "This schema represents a payment instruction request body in JSON format.",
        "example": "{}"
      },
      "GetPaymentInstructionByIdResponse_200": {
        "title": "Payment Instruction Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "A unique identifier for the payment.",
            "example": "PAY-399926"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor, from which the payment will be made.",
            "example": "ACC-456117"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor, to which the payment will be sent.",
            "example": "ACC-400308"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information related to the payment, useful for the creditor.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail or method used for the transaction.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges of the transaction.",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "A code indicating the purpose of the payment.",
            "example": "CODE-819"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the payment instruction record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the payment instruction.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment instruction was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a payment instruction request, detailing the key properties associated with the payment.",
        "example": {
          "paymentId": "PAY-399926",
          "debtorAccountId": "ACC-456117",
          "creditorAccountId": "ACC-400308",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-819",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cbd13c51-93b3-5965-87bc-d150b43d8a72",
            "correlationId": "a7f983c0-07cd-5df8-822c-ff973c538688",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount to be paid.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the instructed amount, represented by its ISO code.",
            "example": "USD"
          }
        },
        "description": "The amount and currency details for the instructed payment."
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the payment response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate different requests or responses for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment processing has occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment instruction, providing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the payment instruction. This helps in tracking and managing the call to the payment service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-instruction-get-payment-instruction"
        },
        "example": "payment-instruction-get-payment-instruction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the transaction. This header allows users to identify the specific service responsible for conducting the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method where JSON Web Tokens (JWT) can be provided for authentication. The JWT must be included in the Authorization header using the format 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}