{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Order Management API",
    "description": "The Market Order Management API enables users to seamlessly place and manage market orders within the wholesale trading environment. Designed for financial institutions and traders, this API provides the essential functionality to initiate market order transactions, ensuring efficient execution of trades. Typical consumers include brokerage firms and asset managers looking to optimize their trading strategies. With robust support for various order types and real-time processing, this API facilitates a streamlined trading experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create a market order in wholesale trading.",
        "description": "This endpoint allows users to create a market order for wholesale trading. Users must provide the necessary details in the request body to successfully execute the order in the market.",
        "operationId": "createMarketOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to place a market order in the wholesale trading system. It should contain all necessary details about the order such as quantity, product ID, and transaction type to ensure that the order is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the market order has been successfully processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketOrderRequest": {
        "title": "Market Order Request",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument being traded.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the order is a buy or sell.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price information for the order, if applicable.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "Type of the order (e.g., market, limit).",
            "example": "STANDARD"
          },
          "timeInForce": {
            "type": "string",
            "description": "Specifications for how long the order remains active.",
            "example": "STANDARD"
          },
          "venue": {
            "type": "string",
            "description": "The market venue where the order will be placed.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a market order request in wholesale trading operations.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "orderType": "STANDARD",
          "timeInForce": "STANDARD",
          "venue": "STANDARD",
          "requestContext": {
            "requestId": "3cce174b-71ed-5281-baf5-ad691921123c",
            "correlationId": "8ab9a79f-223c-5e33-ac00-5ccff947d89a",
            "idempotencyKey": "1478fa4b-effd-5812-b60e-c86331fcadd4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-225316"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency for the limit price.",
            "example": "string"
          }
        },
        "description": "Schema to define limit price details for an order."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing metadata about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing channel information."
      },
      "CreateMarketOrderResponse_201": {
        "title": "Market Order Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument involved in the order.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the order.",
            "example": "RES-271427"
          },
          "status": {
            "type": "string",
            "description": "The current status of the market order.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the market order was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the order response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a market order operation, providing details about the order processed.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-271427",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f4cb3864-f5ba-5480-8bdc-496fb439cc87",
            "correlationId": "8ab9a79f-223c-5e33-ac00-5ccff947d89a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Order Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the order was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information regarding the order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "An identifier for the endpoint being accessed.",
          "example": "market-order-create-market-order"
        },
        "example": "market-order-create-market-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that processed the request.",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}