{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Portfolio Retrieval API",
    "description": "The Customer Portfolio Retrieval API allows users to access specific portfolio details for a given customer. By providing the customer ID and portfolio ID, clients can retrieve essential information about the customer's financial assets, investment strategies, and overall portfolio performance. This API is particularly useful for financial analysts, customer support teams, and application developers who need to integrate portfolio data into their services or tools. It enables organizations to enhance customer engagement by offering tailored insights based on individual portfolio characteristics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Customer Portfolio Management"
        ],
        "summary": "Retrieve a specific portfolio for a customer.",
        "description": "This endpoint allows you to fetch the detailed information about a specific portfolio belonging to a customer identified by their unique ID. You can use this to review portfolio performance or details associated with the customer.",
        "operationId": "getCustomerPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the specific portfolio details for the customer identified by CUST-100045 and portfolio RES-100045. It includes all necessary parameters required to process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the portfolio data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerPortfolioByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON string body of a request for accessing portfolio operations for a specific customer.",
        "example": "{}"
      },
      "GetCustomerPortfolioByIdResponse_200": {
        "title": "Portfolio Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-248691"
          },
          "reports": {
            "type": "array",
            "description": "List of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-151977",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response containing portfolio details along with reports and metadata.",
        "example": {
          "portfolioId": "PORT-248691",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-151977",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "metadata": {
            "responseId": "e321358e-88e5-5b65-864d-8c18ccb39bac",
            "correlationId": "e538e625-ba80-5624-b2c6-e78559d7f951",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "title": "Report",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "report-001"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio to which the report belongs.",
            "example": "CUST-100045"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "summary"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "completed"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the report was created in epoch milliseconds.",
            "format": "int32",
            "example": 1634567890
          }
        },
        "description": "This schema represents a report associated with a portfolio."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was called. Helps in tracking the API usage per endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-customer"
        },
        "example": "open-finance-api-get-portfolio-by-customer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. Useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure API access. Please provide the Bearer token in the 'Authorization' header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}