{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Savings Account Information API",
    "description": "The Savings Account Information API provides access to detailed information regarding savings accounts within the banking system. This API enables financial institutions and developers to retrieve specific details about various savings accounts, such as balance, transaction history, and account status. Typical consumers include banking applications, financial dashboards, and account management tools that require up-to-date account information. By leveraging this API, institutions can enhance their customer experience through timely and relevant account insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/savings-account": {
      "get": {
        "tags": [
          "Savings Account"
        ],
        "summary": "Retrieve savings account information.",
        "description": "This endpoint allows users to retrieve detailed information about their savings accounts, including account balance, transaction history, and interest rates.",
        "operationId": "getSavingsAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to fetch details pertaining to the savings account in the context of deposit lending operations. Ensure that the JSON structure adheres to the defined schema for successful interaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSavingsAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved savings account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSavingsAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSavingsAccountDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on savings account operations in the deposit lending service.",
        "example": "{}"
      },
      "GetSavingsAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of savings account operations.",
            "example": [
              {
                "customerId": "CUST-915693",
                "accountId": "ACC-846267",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SavingsAccountOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria for the operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching operations related to savings accounts.",
        "example": {
          "items": [
            {
              "customerId": "CUST-915693",
              "accountId": "ACC-846267",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b622b614-42c8-5dd5-a695-f35e6bac86ed",
            "correlationId": "986407c2-77c2-5eed-a2b8-0ddf7c7dff38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SavingsAccountOperation": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the savings account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the savings account.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the savings account in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency at which repayments are made.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the savings account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of account statements issued.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if an overdraft is permitted on the account.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the account operation.",
            "example": "string"
          }
        },
        "description": "Details of a savings account operation."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount in the specified currency.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount and its currency for a savings account operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the result set.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the result set.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding pagination for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "savings-account-search-savings-account"
        },
        "example": "savings-account-search-savings-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically designed for JSON Web Tokens (JWT). This scheme allows clients to authenticate themselves by including a JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}