{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Item Lookup API",
    "description": "The Product Inventory Item Lookup API allows users to access detailed information about specific inventory items within the banking channel. This endpoint serves as a resource for businesses to view product availability, characteristics, and related metadata. Typical consumers of this API include inventory managers, banking application developers, and system integrators who need to incorporate product details into their solutions. By utilizing this API, organizations can efficiently manage product information and enhance their inventory oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management": {
      "get": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Retrieve inventory items for a specific channel.",
        "description": "This endpoint allows you to fetch the inventory items associated with a specific channel. It provides details necessary for managing product availability in various sales channels effectively.",
        "operationId": "getChannelSpecificProductInventory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the product inventory item management data specific to a channel. Ensure that the request adheres to the correct schema defined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificProductInventoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested inventory items.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificProductInventoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificProductInventoryRequest": {
        "type": "string",
        "description": "A string representing the JSON formatted request body for retrieving product inventory item management data.",
        "example": "{}"
      },
      "GetChannelSpecificProductInventoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of inventory items.",
            "example": [
              {
                "inventoryItemId": "STANDARD",
                "sku": "STANDARD",
                "branchId": "STANDARD",
                "quantityOnHand": 1,
                "reorderPoint": 1,
                "distributionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the retrieved inventory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product inventory items.",
        "example": {
          "items": [
            {
              "inventoryItemId": "STANDARD",
              "sku": "STANDARD",
              "branchId": "STANDARD",
              "quantityOnHand": 1,
              "reorderPoint": 1,
              "distributionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "779e12c7-1e9a-56d4-a70b-70c938197d7d",
            "correlationId": "647318d9-3c2a-52cf-bee2-df6200ede281",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItem": {
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item."
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifier for the inventory item."
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is stored."
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "The quantity of the inventory item currently on hand.",
            "format": "int32"
          },
          "reorderPoint": {
            "type": "integer",
            "description": "The quantity at which a reorder for the inventory item is necessary.",
            "format": "int32"
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity designated for distribution.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the inventory item record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update for the inventory item."
          }
        },
        "description": "Details of a single inventory item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value helps trace and log requests within the application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-search-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-search-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This can be useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}