{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sub Custodian Agreement Management API",
    "description": "This API facilitates the management of Sub Custodian Agreements within your banking system. By using this endpoint, financial institutions can initiate and establish agreements with external agencies that act as custodians for client assets. Typical consumers include compliance teams and operational staff responsible for maintaining regulatory standards and asset safety. The API streamlines the submission process and ensures that all pertinent information regarding agreements is captured accurately, providing a clear audit trail for future reference.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/sub-custodian-agreement": {
      "post": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Create a sub-custodian agreement for an external agency.",
        "description": "This operation allows users to create a new sub-custodian agreement associated with an external agency. Provide the required details in the request body to establish the agreement effectively.",
        "operationId": "createExternalAgencySubCustodianAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new sub-custodian agreement for processing by the external agency. It should contain all necessary details required to create the agreement, following the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencySubCustodianAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the sub-custodian agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencySubCustodianAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencySubCustodianAgreementRequest": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the agreement.",
            "example": "AGR-580838"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO country code for the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "The unique identifier for the request.",
                "example": "request-789"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate related requests.",
                "example": "correlation-abc"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key used to ensure that repeated requests produce the same result.",
                "example": "idempotency-key-123"
              },
              "requestedAt": {
                "type": "string",
                "description": "The timestamp when the request was made.",
                "example": "2023-10-01T14:30:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The source system that initiated the request.",
                "example": "SystemX"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The source application that initiated the request.",
                "example": "AppY"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "627b38b3-2092-5430-97b2-55a3508cbb1a",
              "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
              "idempotencyKey": "e218262e-3e55-55e9-bd99-5a0ff80f1546",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-575240"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating a sub-custodian agreement.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-580838",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "627b38b3-2092-5430-97b2-55a3508cbb1a",
            "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
            "idempotencyKey": "e218262e-3e55-55e9-bd99-5a0ff80f1546",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-575240"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel information used in the request context."
      },
      "CreateExternalAgencySubCustodianAgreementResponse_201": {
        "title": "Sub-Custodian Agreement Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution involved in the agreement.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier for the specific agreement.",
            "example": "AGR-418016"
          },
          "countryCode": {
            "type": "string",
            "description": "The two-letter ISO country code associated with the agreement.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the agreement.",
            "example": "RES-128794"
          },
          "status": {
            "type": "string",
            "description": "The current status of the agreement, indicating if it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional meta-information related to the agreement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a sub-custodian agreement operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-418016",
          "countryCode": "US",
          "resourceId": "RES-128794",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "386514e0-3b15-5b71-9138-f3d4a29b82ec",
            "correlationId": "6137d418-1670-5f80-810b-6646025e09b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this request with other related actions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region that processed the request.",
            "example": "string"
          }
        },
        "description": "Contains metadata about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-095"
        },
        "example": "WF-095"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b4266c60-a557-4cb3-95be-9071a613d279"
        },
        "example": "b4266c60-a557-4cb3-95be-9071a613d279"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "16262ecf-1d0d-4a1f-8c95-354cdec6a900"
        },
        "example": "16262ecf-1d0d-4a1f-8c95-354cdec6a900"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sub-custodian-agreement-create-sub-custodian-agreement"
        },
        "example": "sub-custodian-agreement-create-sub-custodian-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow that generated this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-095"
        },
        "example": "WF-095"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "External Information Provider and Market Data Onboarding"
        },
        "example": "External Information Provider and Market Data Onboarding"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "16262ecf-1d0d-4a1f-8c95-354cdec6a900"
        },
        "example": "16262ecf-1d0d-4a1f-8c95-354cdec6a900"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication strategy with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}