{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Details Retrieval API",
    "description": "The Institution Details Retrieval API allows users to access specific information about registered institutions using their unique identifiers. This endpoint is essential for applications that require detailed insights into institutional profiles, including attributes like name, location, and contact details. Typical consumers of this API include financial service providers, educational platforms, and regulatory bodies that need to verify or gather information on institutions. By utilizing this API, developers can seamlessly integrate institution data into their systems and improve user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions/{institutionId}": {
      "get": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Retrieve institution details by ID",
        "description": "Fetches detailed information about a specific institution using its unique ID, allowing users to access vital data and attributes associated with that institution.",
        "operationId": "getInstitutionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching institution details for RES-100045. This contains specifications for how to retrieve data related to the institution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of institution data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on institutions.",
        "example": "{}"
      },
      "GetInstitutionByIdResponse_200": {
        "title": "Institution Response",
        "type": "object",
        "properties": {
          "institution": {
            "$ref": "#/components/schemas/Institution"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving institution information.",
        "example": {
          "institution": {
            "id": 1,
            "name": "Northstar Banking Service",
            "transAgg": true,
            "ach": true,
            "stateAgg": true,
            "voi": true,
            "voa": true,
            "aha": true,
            "availBalance": true,
            "accountOwner": true,
            "studentLoanData": true,
            "loanPaymentDetails": true,
            "displayName": "Northstar Banking Service",
            "liabilityData": true,
            "billPayData": true,
            "accountTypeDescription": "STANDARD",
            "phone": "+1-212-555-0147",
            "urlHomeApp": "STANDARD",
            "urlLogonApp": "STANDARD",
            "oauthEnabled": true,
            "urlForgotPassword": "STANDARD",
            "urlOnlineRegistration": "STANDARD",
            "class": "STANDARD",
            "specialText": "STANDARD",
            "timeZone": "America/New_York",
            "specialInstructions": [
              "STANDARD"
            ],
            "title": "Banking operation completed",
            "address": {
              "city": "New York",
              "state": "STANDARD",
              "country": "STANDARD",
              "postalCode": "10001",
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200"
            },
            "currency": "USD",
            "email": "olivia.bennett@northstar.example"
          },
          "metadata": {
            "responseId": "56518af5-2744-51c4-97fe-d3d7bdb830be",
            "correlationId": "4b053ec3-75be-5ca1-bfa9-7943b2d5f7a9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Example Institution"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH transfers are supported.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if VOI (Verification of Identity) is available.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if VOA (Verification of Account) is available.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if AHA (Additional Health Attributes) are available.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if the available balance is shown.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if the account owner data is available.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is available.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are available.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "The display name of the institution.",
            "example": "Example Institution Display"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is available.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill payment data is available.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the account type.",
            "example": "Standard Account"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the institution.",
            "example": "123-456-7890"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL to the home application of the institution.",
            "example": "https://example.com/home"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL to the login application of the institution.",
            "example": "https://example.com/logon"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution's services.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL to reset the password.",
            "example": "https://example.com/forgot"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration.",
            "example": "https://example.com/register"
          },
          "class": {
            "type": "string",
            "description": "Class of the institution.",
            "example": "Business"
          },
          "specialText": {
            "type": "string",
            "description": "Special instructions or notes related to the institution.",
            "example": "Special Terms and Conditions apply."
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the institution operates.",
            "example": "UTC"
          },
          "specialInstructions": {
            "type": "array",
            "description": "List of special instructions for the institution.",
            "example": [
              "Instruction 1",
              "Instruction 2"
            ],
            "items": {
              "type": "string"
            }
          },
          "title": {
            "type": "string",
            "description": "Title of the institution.",
            "example": "Sample Institution Title"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "currency": {
            "type": "string",
            "description": "Currency used by the institution.",
            "example": "USD"
          },
          "email": {
            "type": "string",
            "description": "Contact email of the institution.",
            "example": "contact@example.com"
          }
        },
        "description": "Represents an institution with various attributes."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests across systems.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information pertaining to the response."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "city": {
            "type": "string",
            "description": "City of the institution's address.",
            "example": "Sample City"
          },
          "state": {
            "type": "string",
            "description": "State of the institution's address.",
            "example": "Sample State"
          },
          "country": {
            "type": "string",
            "description": "Country of the institution's address.",
            "example": "Sample Country"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the institution's address.",
            "example": "12345"
          },
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Sample St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address, if applicable.",
            "example": "Apt 456"
          }
        },
        "description": "Represents the address of the institution."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institution"
        },
        "example": "open-finance-api-get-institution"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format with JSON Web Tokens (JWT). Please include the token in the Authorization header using the format 'Bearer {token}' for authenticated requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}