{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Reporting Amendments API",
    "description": "The Regulatory Reporting Amendments API facilitates the modification of previously submitted regulatory reports. By utilizing this endpoint, users can submit amendments related to specific submissions identified by their unique submission IDs, ensuring that regulatory compliance is accurately maintained. This API is essential for financial institutions and compliance officers who need to address errors or updates in their reports. Typical use cases include correcting data, adding information, or responding to regulatory feedback, providing a streamlined process for managing reporting accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "RegulatoryReporting"
        ],
        "summary": "Submit an amendment for a regulatory reporting submission.",
        "description": "This endpoint allows users to submit an amendment for the regulatory reporting submission identified by RES-100045. Users should provide the necessary data in the request body to ensure the amendment is processed correctly, adhering to regulatory requirements.",
        "operationId": "postAmendmentsForSubmissionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for the regulatory reporting submissions identified by RES-100045. The request should contain the necessary details in JSON format to reflect the amendments being made.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostAmendmentsForSubmissionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed in due course.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostAmendmentsForSubmissionRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostAmendmentsForSubmissionRes100045Request": {
        "title": "Regulatory Reporting Amendments Request",
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment to the submission.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Reference ID for the original submission.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Details of changes being made to the submission.",
            "$ref": "#/components/schemas/SubmissionChanges"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to make amendments to regulatory reporting submissions.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4af8b283-f803-5410-b9c9-d1f2565c4144",
            "correlationId": "ca9c9839-9e2c-5e50-bb45-0a2c8fd94cc6",
            "idempotencyKey": "a39549a6-fd20-59b9-ac68-f4a21de586e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580925"
            }
          }
        }
      },
      "SubmissionChanges": {
        "title": "Submission Changes",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "SUB-1000"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "LE-2000"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction under which the submission is made.",
            "example": "US"
          }
        },
        "description": "Details of changes requested for the submission."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this request.",
            "example": "REQ-0001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs between different systems.",
            "example": "CORR-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request can be safely retried without duplication.",
            "example": "IDEMPOTENT-ABC123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system that made the request.",
            "example": "Internal System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "Reporting App"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Contextual information regarding the request submission."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-5678"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-9999"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "PostAmendmentsForSubmissionRes100045Response_202": {
        "title": "Regulatory Reporting Submission Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed (e.g., CREATE, UPDATE).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission (e.g., SUCCESS, FAILURE).",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "A response object for the regulatory reporting submission containing details about the action performed and its status.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "dff4ebd5-f109-5322-929c-08d8e68396b1",
            "correlationId": "ca9c9839-9e2c-5e50-bb45-0a2c8fd94cc6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "title": "Submission Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request across multiple systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the submission took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the submission process."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-amend-regulatory-reporting"
        },
        "example": "regulatory-reporting-amend-regulatory-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token schema for authentication. The token must be a JSON Web Token (JWT) that is typically included in the Authorization header of requests. Ensure that the token is securely generated and managed.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}