{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ACH Operations Management API",
    "description": "The ACH Operations Management API enables users to access and manage Automated Clearing House (ACH) operations within the banking system. This API allows developers to retrieve detailed information regarding specific ACH transactions, ensuring effective tracking and processing. Typical consumers include financial institutions and payment processors who require seamless integration for ACH data retrieval. Use cases may involve auditing, compliance checks, or operational monitoring of ACH payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/ach-operations/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve ACH operation details",
        "description": "Fetch the details of a specific ACH operation identified by the provided resource ID. This endpoint allows users to obtain comprehensive information about the operation, including its status and associated data.",
        "operationId": "getAchOperationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the details needed to retrieve ACH operation data for a specific resource identified by RES-100045. It must include all necessary parameters as defined in the associated schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAchOperationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested ACH operation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAchOperationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAchOperationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the ACH operations GET request, which is expected to be a string value.",
        "example": "{}"
      },
      "GetAchOperationByIdResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-209291"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-139384"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-629884"
          },
          "instructedAmount": {
            "description": "Details about the instructed amount for the transaction.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the payment remittance.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payment record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for ACH operations.",
        "example": {
          "paymentId": "PAY-209291",
          "debtorAccountId": "ACC-139384",
          "creditorAccountId": "ACC-629884",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b5c58541-8306-5be4-acd5-fbb30e215952",
            "correlationId": "2e24472c-5263-5168-a5cb-e7267bf8d094",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount instructed for the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount information for the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing miscellaneous metadata for the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ach-operations-get-ach-operations"
        },
        "example": "ach-operations-get-ach-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application server that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to securely transmit a JSON Web Token (JWT) as authorization for API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}