{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Commissions Management API",
    "description": "The Sales Commissions Management API allows businesses to efficiently manage and process commission-related transactions within their sales operations. Through this API, users can submit new commission entries, ensuring that sales representatives are duly compensated for their efforts. It is particularly beneficial for finance teams and sales departments seeking to optimize their commission structures and reporting. The API streamlines the commission submission process, enabling accurate and timely calculations to improve financial performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commissions": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales commission record.",
        "description": "This endpoint allows users to create a new sales commission record in the system. It requires detailed information about the commission and associated sales details to ensure proper processing.",
        "operationId": "createSalesCommission",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing commission details to be processed for sales. This body must contain the necessary fields as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesCommissionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New commission record successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesCommissionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesCommissionRequest": {
        "title": "Sales Commissions POST Request Body",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the commission.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is sold.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected monetary value related to the commission.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson receiving the commission.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan being applied.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "Amount of revenue that is eligible for commission calculation.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Context detailing the request specifics.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating sales commission records.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "requestContext": {
            "requestId": "0db934cc-f352-5e98-a2b7-2badd1c3f020",
            "correlationId": "106aec7c-7933-5aba-a9c4-7a07ccdc0277",
            "idempotencyKey": "f5438482-3be2-5b20-9b84-1a20588fb195",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-465000"
            }
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected monetary value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing metadata about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. online, offline).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the communication channel."
      },
      "CreateSalesCommissionResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code identifying the product associated with the sales commission.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier for the relationship manager handling this prospect.",
            "example": "STANDARD"
          },
          "salesPersonId": {
            "type": "string",
            "description": "The unique identifier for the salesperson associated with this transaction.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource linked to this commission.",
            "example": "RES-123560"
          },
          "status": {
            "type": "string",
            "description": "The current status of the sales commission.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the sales commission was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "resp-234"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier for correlating multiple requests and responses.",
                "example": "corr-567"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-10T14:48:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Metadata related to the sales commission response.",
            "example": {
              "responseId": "4045e950-9999-54dd-ae07-5f766db66c98",
              "correlationId": "106aec7c-7933-5aba-a9c4-7a07ccdc0277",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the sales commission operation upon successful creation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "salesPersonId": "STANDARD",
          "resourceId": "RES-123560",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4045e950-9999-54dd-ae07-5f766db66c98",
            "correlationId": "106aec7c-7933-5aba-a9c4-7a07ccdc0277",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commissions-create-commissions"
        },
        "example": "commissions-create-commissions"
      },
      "X-Runtime-App": {
        "description": "Specifies the application runtime environment where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization using the Bearer scheme with JSON Web Tokens (JWT). This allows clients to authenticate by passing a token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}