{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Information API",
    "description": "The Branch Information API provides access to detailed information about banking branches within the open banking framework. This endpoint allows users to retrieve essential details such as branch locations, services offered, and contact information. It is particularly useful for financial institutions, developers, and consumers seeking to explore available branch options for banking services. By leveraging this API, applications can enhance their user experience by integrating branch data seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/branches": {
      "get": {
        "tags": [
          "Banking Services"
        ],
        "summary": "Retrieve a list of bank branches.",
        "description": "This endpoint allows you to fetch a comprehensive list of bank branches, providing information such as branch locations, contact details, and services offered, facilitating easier access to banking services for customers.",
        "operationId": "getBranches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body to retrieve branch information from the Open Banking API. This request is used to specify the parameters or conditions under which branch data is to be fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of branches.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchesRequest": {
        "title": "Open Banking Branches GET Request Body",
        "type": "string",
        "description": "Schema representing the request body for GET operations on branches in the Open Banking context.",
        "example": "{}"
      },
      "GetBranchesResponse_200": {
        "title": "Open Banking Branch Operations Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-667",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchName": "Northstar Banking Service",
                "BranchIdentification": "STANDARD",
                "BranchType": "FULL_SERVICE",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-537",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "BranchDescription": "STANDARD",
                "BranchPhoto": "https://example.com/resource",
                "TelephoneNumber": "+1-212-555-0147",
                "AlternatePhone": [
                  {
                    "AlternateTelephoneNumber": "+1-212-555-0147",
                    "description": "Customer banking request processed successfully"
                  }
                ],
                "FaxNumber": [
                  "STANDARD"
                ],
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "DaysOfTheWeek": "STANDARD",
                "StopName": "Northstar Banking Service",
                "ArrivalTime": "STANDARD",
                "DepartureTime": "STANDARD",
                "ParkingLocation": "STANDARD",
                "OpeningTimes": [
                  {
                    "OpeningDay": "STANDARD",
                    "OpeningTime": "STANDARD"
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Branch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching branch operations in Open Banking.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-667",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchName": "Northstar Banking Service",
              "BranchIdentification": "STANDARD",
              "BranchType": "FULL_SERVICE",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-537",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "BranchDescription": "STANDARD",
              "BranchPhoto": "https://example.com/resource",
              "TelephoneNumber": "+1-212-555-0147",
              "AlternatePhone": [
                {
                  "AlternateTelephoneNumber": "+1-212-555-0147",
                  "description": "Customer banking request processed successfully"
                }
              ],
              "FaxNumber": [
                "STANDARD"
              ],
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "DaysOfTheWeek": "STANDARD",
              "StopName": "Northstar Banking Service",
              "ArrivalTime": "STANDARD",
              "DepartureTime": "STANDARD",
              "ParkingLocation": "STANDARD",
              "OpeningTimes": [
                {
                  "OpeningDay": "STANDARD",
                  "OpeningTime": "STANDARD"
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "9909b4d0-bbb4-56df-ab59-22f9f2ccb5b0",
            "correlationId": "9ecf7e21-9e87-5449-b846-8eb23769b490",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The last time the data was updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results retrieved.",
            "format": "int32",
            "example": 10
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement governing the use of this data.",
            "example": "Example Agreement"
          },
          "License": {
            "type": "string",
            "description": "License information regarding the data provided.",
            "example": "Example License"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the data provided.",
            "example": "Example Terms of Use"
          }
        },
        "description": "Metadata about the response including update time and agreements."
      },
      "Branch": {
        "title": "Branch Information",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "BranchName": {
            "type": "string",
            "description": "The name of the branch.",
            "example": "Main Branch"
          },
          "BranchIdentification": {
            "type": "string",
            "description": "A unique identifier for the branch.",
            "example": "BR12345"
          },
          "BranchType": {
            "type": "string",
            "description": "The type of the branch.",
            "example": "Retail"
          },
          "Address": {
            "$ref": "#/components/schemas/Address"
          },
          "BranchDescription": {
            "type": "string",
            "description": "A description of the branch.",
            "example": "This branch offers various banking services."
          },
          "BranchPhoto": {
            "type": "string",
            "description": "URL of the branch photo.",
            "example": "http://example.com/branchphoto.jpg"
          },
          "TelephoneNumber": {
            "type": "string",
            "description": "The main telephone number of the branch.",
            "example": "+1234567890"
          },
          "AlternatePhone": {
            "type": "array",
            "description": "List of alternate phone numbers for the branch.",
            "items": {
              "$ref": "#/components/schemas/AlternatePhone"
            }
          },
          "FaxNumber": {
            "type": "array",
            "description": "List of fax numbers for the branch.",
            "items": {
              "type": "string"
            }
          },
          "GeographicLocation": {
            "$ref": "#/components/schemas/GeographicLocation"
          },
          "DaysOfTheWeek": {
            "type": "string",
            "description": "Days the branch operates.",
            "example": "Monday to Friday"
          },
          "StopName": {
            "type": "string",
            "description": "The name of the nearby public transport stop.",
            "example": "Central Station"
          },
          "ArrivalTime": {
            "type": "string",
            "description": "Expected arrival time at this branch.",
            "example": "08:30"
          },
          "DepartureTime": {
            "type": "string",
            "description": "Expected departure time from this branch.",
            "example": "17:30"
          },
          "ParkingLocation": {
            "type": "string",
            "description": "Information about where to park.",
            "example": "Behind the building"
          },
          "OpeningTimes": {
            "type": "array",
            "description": "List of opening times for the branch.",
            "items": {
              "$ref": "#/components/schemas/OpeningTime"
            }
          }
        },
        "description": "Information about a specific branch including its operations."
      },
      "Organisation": {
        "title": "Organisation Information",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details about the organization to which the branch belongs."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier.",
            "example": "1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code.",
            "example": "BANKCODE123"
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Details about the parent organization."
      },
      "OrganisationName": {
        "title": "Organisation Name",
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organization.",
            "example": "Example Bank Limited"
          }
        },
        "description": "Legal name of the organization."
      },
      "Brand": {
        "title": "Brand Information",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark IPO code for the brand.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "TRADEMARKID123"
          }
        },
        "description": "Details about the brand associated with the organization."
      },
      "Address": {
        "title": "Branch Address",
        "type": "object",
        "properties": {
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "High Street"
          },
          "BuildingNumberOrName": {
            "type": "string",
            "description": "Building number or name.",
            "example": "42"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code.",
            "example": "AB12 3CD"
          },
          "OptionalAddressField": {
            "type": "string",
            "description": "Any additional address information.",
            "example": "Near the park"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "Townsville"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country.",
            "example": "England"
          },
          "Country": {
            "type": "string",
            "description": "Country.",
            "example": "United Kingdom"
          }
        },
        "description": "Physical address of the branch."
      },
      "AlternatePhone": {
        "title": "Alternate Phone Information",
        "type": "object",
        "properties": {
          "AlternateTelephoneNumber": {
            "type": "string",
            "description": "An alternate telephone number.",
            "example": "+0987654321"
          },
          "description": {
            "type": "string",
            "description": "Description for the alternate phone.",
            "example": "Emergency contact"
          }
        },
        "description": "Details about alternate telephone numbers."
      },
      "GeographicLocation": {
        "title": "Geographic Location",
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "Latitude of the branch location.",
            "example": "51.5074"
          },
          "Longitude": {
            "type": "string",
            "description": "Longitude of the branch location.",
            "example": "-0.1278"
          }
        },
        "description": "Geographical coordinates of the branch."
      },
      "OpeningTime": {
        "title": "Opening Time Information",
        "type": "object",
        "properties": {
          "OpeningDay": {
            "type": "string",
            "description": "The day of the week when the branch opens.",
            "example": "Monday"
          },
          "OpeningTime": {
            "type": "string",
            "description": "The opening time of the branch.",
            "example": "09:00"
          }
        },
        "description": "Opening times for the branch."
      },
      "Metadata": {
        "title": "Request Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "cor-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "EU-West"
          }
        },
        "description": "Metadata about the request that generated this response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-branches"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-branches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the Authorization header of the request to authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}