{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Treasury Reviews API",
    "description": "The Corporate Treasury Reviews API facilitates the submission and management of reviews related to corporate treasury analysis. This endpoint allows users to provide feedback on treasury performance and insights, thereby improving financial decision-making. Typical consumers include treasury management teams, financial analysts, and CFOs looking to enhance treasury operations. By leveraging this API, organizations can encourage collaborative assessments and drive strategic improvements in treasury management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Corporate Treasury"
        ],
        "summary": "Submit a review for a corporate treasury analysis.",
        "description": "This endpoint allows users to submit a review for the corporate treasury analysis identified by RES-100045. Providing a comprehensive review helps enhance the quality of analysis and inform other stakeholders. Ensure that all relevant information is included in your submission.",
        "operationId": "createTreasuryAnalysisReviewRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the corporate treasury analysis identified by RES-100045. It contains the necessary details to record the review, including the reviewer's input and any relevant metadata. Please ensure that the request adheres to the required schema to facilitate proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTreasuryAnalysisReviewRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing, but the processing is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTreasuryAnalysisReviewRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTreasuryAnalysisReviewRes100045Request": {
        "title": "Treasury Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, detailing specific areas to focus on.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific area included in the review scope.",
              "example": "Financial records"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier for the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for completing the review.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for reviewing treasury operations in the corporate treasury analysis.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "eebe2612-cefe-5838-a234-252961e09e03",
            "correlationId": "02cdebc7-4045-5ea0-b58a-0f21e07f82ad",
            "idempotencyKey": "e9bb7c9b-c390-5e71-8564-5dd289bd554f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-105041"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across different systems.",
            "example": "corr_54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idempotency_abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "Corporate Treasury System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Treasury Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Schema representing the context of a request, providing various identifiers and metadata."
      },
      "ChannelContext": {
        "title": "Channel Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_222"
          }
        },
        "description": "Schema representing the channel details used in a request's context."
      },
      "CreateTreasuryAnalysisReviewRes100045Response_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference to the specific action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action performed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate treasury analysis reviews operation, providing details about the action, status, and processing metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7318b76c-7caf-5247-9ae9-3cb50978054c",
            "correlationId": "02cdebc7-4045-5ea0-b58a-0f21e07f82ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata related to the processing of the action, containing identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-analysis-review-corporate-treasury-analysis"
        },
        "example": "corporate-treasury-analysis-review-corporate-treasury-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows for secure access to the API using JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}