{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Settlement Account API",
    "description": "The Update Settlement Account API enables clients to modify the details of existing settlement accounts. This functionality is essential for businesses managing financial transactions, allowing them to ensure account information is current and accurate. Typically used by financial institutions and payment processors, the API supports operations such as updating account balances, contact information, and other relevant attributes. By facilitating real-time updates, this API enhances operational efficiency and accountability in settlement processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "put": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Update a settlement account",
        "description": "This operation allows you to update the details of a specific settlement account identified by its unique identifier ACC-200045. You can modify various attributes of the account as needed.",
        "operationId": "updateSettlementAccountACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for updating settlement account details. This body should contain all necessary information required for the update operation, formatted as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettlementAccountACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed and resources updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettlementAccountACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSettlementAccountACC200045Request": {
        "title": "Settlement Account Update Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-272013"
          },
          "bankAccountToken": {
            "type": "string",
            "description": "Token representing the bank account.",
            "example": "STANDARD"
          },
          "account": {
            "description": "Details about the bank account.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "Schedule configuration for settlements.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this account is the default account.",
            "example": true
          },
          "requestContext": {
            "description": "Context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating a settlement account.",
        "example": {
          "merchantId": "MER-272013",
          "bankAccountToken": "STANDARD",
          "account": {
            "bankCode": "CODE-539",
            "branchCode": "CODE-315",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "requestContext": {
            "requestId": "87faae8b-9c55-5c6a-8ed4-2a8d9a24287c",
            "correlationId": "c803fa1f-0e5a-5fe6-a889-73c8342099aa",
            "idempotencyKey": "9fbfeb3e-d772-50b3-9d70-5e5258ccbcdc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-862990"
            }
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The bank code for the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code for the account.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked number of the account for security.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the bank account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the bank account (e.g., checking, savings).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the bank account.",
            "example": "string"
          }
        },
        "description": "Schema representing a bank account associated with a settlement account."
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Frequency of the settlements (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "Cutoff time for processing settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the schedule operates.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days to delay settlements.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "Minimum payout amount description.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schema representing the schedule for settlements."
      },
      "MinimumPayoutAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency for the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the minimum payout amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the minimum payout amount."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that triggered the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata and identifiers relevant to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateSettlementAccountACC200045Response_200": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-841950"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the settlement account.",
            "example": "MER-310557"
          },
          "account": {
            "description": "Detailed information about the bank account.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "Scheduling details for the settlement account.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information regarding the settlement account.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement account.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PUT operation on settlement accounts.",
        "example": {
          "settlementAccountId": "ACC-841950",
          "merchantId": "MER-310557",
          "account": {
            "bankCode": "CODE-201",
            "branchCode": "CODE-526",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c3d4404a-2646-5d44-a69f-80d5184bcaf0",
            "correlationId": "c803fa1f-0e5a-5fe6-a889-73c8342099aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the settlement account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit trail information for the settlement account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the settlement account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-settlement-account"
        },
        "example": "banking-p2m-openapi-replace-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which requires clients to send a token in the 'Authorization' header. The token should be a JWT (JSON Web Token) format, allowing secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}