{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Economic Capital Insights API",
    "description": "The Economic Capital Insights API provides financial institutions with access to critical data and analytics related to economic capital modeling. This API allows users to retrieve detailed assessments of their economic capital requirements, helping them make informed risk management decisions. It serves banking professionals, financial analysts, and risk managers seeking to enhance their understanding of capital adequacy and allocate financial resources effectively. With this endpoint, organizations can better align their capital structure with regulatory expectations and improve their overall financial resilience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/economic-capital": {
      "get": {
        "tags": [
          "Economic Capital"
        ],
        "summary": "Retrieve Economic Capital Models",
        "description": "This endpoint allows users to fetch the details of Economic Capital models available in the system, providing insights into their configurations and parameters.",
        "operationId": "getEconomicCapitalModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve economic capital model data. It must include required parameters according to the schema defined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEconomicCapitalModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved economic capital data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEconomicCapitalModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEconomicCapitalModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the economic capital operations GET request in JSON format. It is expected to be a stringified value.",
        "example": "{}"
      },
      "GetEconomicCapitalModelsResponse_200": {
        "title": "Economic Capital Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of model information objects.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-964621",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ModelInfo"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Economic Capital Operations GET request, including a list of items, pagination details, sort information, and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-964621",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "01ebe434-d92a-5f1c-8c1d-e16a2d8ab17e",
            "correlationId": "8b4b54c8-76ae-5c48-bfd2-04366cb43c87",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ModelInfo": {
        "title": "Model Information",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "model123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio associated with the model.",
            "example": "portfolio789"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model results are applicable.",
            "example": "2023-01-01"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model was run.",
            "example": "base"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the results from the model.",
            "example": 0.95
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the model record was last updated.",
            "example": "2023-01-02T10:00:00Z"
          }
        },
        "description": "Schema representing detailed information about a model."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the response.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request and response.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "economic-capital-search-economic-capital"
        },
        "example": "economic-capital-search-economic-capital"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism where the client must provide a JSON Web Token (JWT) in the HTTP Authorization header to access protected resources. The token serves as a credential to verify the identity of the user making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}