{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Payment Processing API",
    "description": "The Financial Payment Processing API enables businesses to initiate and manage payment transactions through a streamlined financial gateway. It allows users to securely process payments, ensuring accurate fund transfers and real-time transaction tracking. This API is ideal for financial institutions, e-commerce platforms, and payment service providers looking to enhance their payment capabilities. By leveraging this API, developers can integrate robust payment solutions into their applications effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-gateway": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Initiate a payment through the financial gateway.",
        "description": "This operation allows users to initiate a payment transaction via the financial gateway. It processes the payment details provided in the request, ensuring secure and efficient handling of financial transactions.",
        "operationId": "createPaymentFinancialGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to initiate a payment process through the financial gateway. It should include all necessary transaction details as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentFinancialGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The payment was processed and the resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePaymentFinancialGatewayResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePaymentFinancialGatewayRequest": {
        "title": "Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-750852"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-870641"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-514954"
          },
          "instructedAmount": {
            "description": "Amount instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a payment request in the financial gateway operations.",
        "example": {
          "paymentId": "PAY-750852",
          "debtorAccountId": "ACC-870641",
          "creditorAccountId": "ACC-514954",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "949268bb-2a02-5294-ae78-ca39ba7f6081",
            "correlationId": "5b26fe77-68e9-56c4-b2f3-ee52328d13dd",
            "idempotencyKey": "2a237065-1a85-5b42-ab3f-66c39121b99c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-263219"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount instructed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency instructed for payment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating the context of the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "Schema providing details about the channel used for the payment request."
      },
      "CreatePaymentFinancialGatewayResponse_201": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-851870"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account identifier of the debtor.",
            "example": "ACC-367519"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account identifier of the creditor.",
            "example": "ACC-866310"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the payment.",
            "example": "RES-785713"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information associated with the payment.",
            "$ref": "#/components/schemas/PaymentMetadata"
          }
        },
        "description": "Response schema for a successful financial gateway payment operation.",
        "example": {
          "paymentId": "PAY-851870",
          "debtorAccountId": "ACC-367519",
          "creditorAccountId": "ACC-866310",
          "resourceId": "RES-785713",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "33392d5f-31e7-576f-a50a-cde152552ba8",
            "correlationId": "5b26fe77-68e9-56c4-b2f3-ee52328d13dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to a payment transaction."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-034"
        },
        "example": "WF-034"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8338bae3-6e2d-45e4-a30d-20831c79d181"
        },
        "example": "8338bae3-6e2d-45e4-a30d-20831c79d181"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6"
        },
        "example": "6"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c2bd59ee-95f1-4e49-a860-e8c35ba2f42e"
        },
        "example": "c2bd59ee-95f1-4e49-a860-e8c35ba2f42e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-gateway-create-financial-gateway"
        },
        "example": "financial-gateway-create-financial-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that initiated this transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-034"
        },
        "example": "WF-034"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Corporate Loan Underwriting and Drawdown"
        },
        "example": "Corporate Loan Underwriting and Drawdown"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_FINALIZATION"
        },
        "example": "ASYNC_FINALIZATION"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c2bd59ee-95f1-4e49-a860-e8c35ba2f42e"
        },
        "example": "c2bd59ee-95f1-4e49-a860-e8c35ba2f42e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Secures the API using a Bearer authentication scheme with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header for access to protected resources. The JWT should be structured according to the standard JWT format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}