{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Market Order Cancellations API",
    "description": "The Wholesale Trading Market Order Cancellations API enables users to efficiently cancel market orders within the wholesale trading sector. This endpoint accommodates users looking to manage their orders by allowing immediate cancellations, thereby enhancing transactional control. Typical consumers include traders and financial institutions engaged in high-frequency trading. This API supports a seamless integration into trading platforms and financial applications, ensuring quick response times and reliable order management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution/{param1}/cancellations": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Cancel a market order.",
        "description": "This endpoint allows users to cancel a specific market order identified by its unique ID (RES-100045) within the wholesale trading system. Ensure that the order is eligible for cancellation before making this request.",
        "operationId": "cancelMarketOrderWholesaleTradingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a cancellation request for a specific market order execution. It contains the necessary details to identify and process the cancellation efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelMarketOrderWholesaleTradingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The cancellation request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelMarketOrderWholesaleTradingRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelMarketOrderWholesaleTradingRes100045Request": {
        "type": "object",
        "properties": {
          "cancellationReason": {
            "type": "string",
            "description": "The reason for the cancellation of the order.",
            "example": "STANDARD"
          },
          "instructionReference": {
            "type": "string",
            "description": "A reference to the instruction associated with the order cancellation.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user or system that requested the cancellation.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the cancellation request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context of the request for cancellation.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for cancelling an order in market order execution operations.",
        "example": {
          "cancellationReason": "STANDARD",
          "instructionReference": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0ef2899d-8b32-5766-be6e-7f59ae59dd2a",
            "correlationId": "d29714c9-d1c3-541f-aa9c-15a71bf21379",
            "idempotencyKey": "77cec057-83a8-5df6-9d56-45bfba8fd868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-168212"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different operations.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "IDEMPOTENT-KEY-1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context was established.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "OrderManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for initiating the request.",
            "example": "TradingApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-1234"
          }
        },
        "description": "Details about the communication channel for the request."
      },
      "CancelMarketOrderWholesaleTradingRes100045Response_202": {
        "title": "Market Order Cancellation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed, such as a cancellation ID.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed, e.g., 'CANCEL'.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action, providing insight into whether it was successful or encountered issues.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the cancellation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the action performed.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for a market order cancellation operation, providing information about the cancellation status and associated metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "893ef8de-4201-55bb-8c3b-9c2ea388c85a",
            "correlationId": "d29714c9-d1c3-541f-aa9c-15a71bf21379",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Operation",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated by the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this request with other related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation occurred.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context about the operation's execution, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint used in the request, which helps in tracing the specific operation performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-cancel-market-order-execution"
        },
        "example": "market-order-execution-cancel-market-order-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. Clients must provide a valid JSON Web Token (JWT) in the Authorization header to access secure endpoints. Ensure that the token is issued by a trusted authority.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}