{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Survey Management API",
    "description": "The Customer Survey Management API enables businesses to update and improve their marketing strategies through customer feedback. This API provides the capability to modify existing customer survey details, allowing stakeholders to enhance their understanding of customer preferences and satisfaction. Marketing teams, analysts, and product managers commonly use this API to iterate on survey content and questions as needed. By utilizing this endpoint, organizations can ensure their surveys remain relevant and aligned with their audience's expectations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-surveys/{param1}": {
      "patch": {
        "tags": [
          "Customer Surveys"
        ],
        "summary": "Update Customer Survey",
        "description": "This endpoint allows you to update the details of a specific customer survey identified by its unique ID. Ensure you provide the required data in the request body to successfully make the update.",
        "operationId": "updateCustomerSurveyCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the details of the customer survey identified by 'CUST-100045'. This request body should contain the necessary fields that need to be modified in the survey. Ensure to include all mandatory attributes to successfully update the record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerSurveyCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerSurveyCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerSurveyCUST100045Request": {
        "title": "Customer Survey Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "campaignId": {
                "type": "string",
                "description": "Identifier for the campaign associated with the survey.",
                "example": "string"
              },
              "targetSegmentId": {
                "type": "string",
                "description": "Identifier for the target segment of the survey.",
                "example": "string"
              },
              "channelMix": {
                "type": "array",
                "description": "List of channels to be used for the survey.",
                "example": [
                  "string"
                ],
                "items": {
                  "type": "string",
                  "description": "Identifier for a specific channel in the mix.",
                  "example": "string"
                }
              }
            },
            "description": "Changes to be applied to the customer survey.",
            "example": {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ]
            }
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating customer survey operations.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "28f7730c-f3d0-5b7d-8848-1778d457605e",
            "correlationId": "8851caf4-6a4c-5c11-bf35-cd1907c6ea6c",
            "idempotencyKey": "e235b0dd-9992-5e2a-9f07-87b600816157",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770428"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "Identifier for the channel.",
                "example": "string"
              },
              "channelType": {
                "type": "string",
                "description": "Type of the channel (e.g. mobile, web).",
                "example": "string"
              },
              "deviceId": {
                "type": "string",
                "description": "Identifier for the device used to make the request.",
                "example": "string"
              }
            },
            "description": "Information about the channel through which the request was made.",
            "example": {
              "channelId": "string",
              "channelType": "string",
              "deviceId": "string"
            }
          }
        },
        "description": "Schema representing the context of the request, including identifiers and source information.",
        "example": {
          "requestId": "string",
          "correlationId": "string",
          "idempotencyKey": "string",
          "requestedAt": "string",
          "sourceSystem": "string",
          "sourceApplication": "string",
          "channel": {
            "channelId": "string",
            "channelType": "string",
            "deviceId": "string"
          }
        }
      },
      "UpdateCustomerSurveyCUST100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Provides the current status of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the customer survey operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "52aad3f0-6dad-5bae-85fd-34426d5ca3ad",
            "correlationId": "8851caf4-6a4c-5c11-bf35-cd1907c6ea6c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-surveys-update-customer-surveys"
        },
        "example": "customer-surveys-update-customer-surveys"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) to securely transmit information between parties. Clients must include a valid JWT in the Authorization header when accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}