{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Runs API",
    "description": "The Reconciliation Runs API facilitates the retrieval of reconciliation run data, enabling users to access detailed reports on financial reconciliations. This endpoint allows typical consumers, such as financial analysts and accounting software, to gather information regarding reconciled transactions and outstanding discrepancies. By providing essential insights into reconciliation processes, this API supports effective monitoring and management of financial operations, helping businesses ensure accuracy and compliance in their financial reporting. Developers can integrate this functionality to enhance their financial reporting tools or dashboards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve reconciliation runs",
        "description": "This endpoint allows users to fetch a list of reconciliation runs, providing insights into their execution status and details. It is designed to help users monitor and analyze reconciliation processes efficiently.",
        "operationId": "getReconciliationRuns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about reconciliation runs. Please ensure all required parameters are correctly filled to get accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetReconciliationRunsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of reconciliation runs.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReconciliationRunsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetReconciliationRunsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the reconciliation runs operation when initiating a GET request. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetReconciliationRunsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available in the response.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there are more pages available beyond the current page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of link objects for navigation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of reconciliation run items.",
            "example": [
              {
                "reconciliationRunId": "STANDARD",
                "sourceA": "STANDARD",
                "sourceB": "STANDARD",
                "businessDate": "2026-09-15",
                "merchantId": "MER-525922",
                "currency": "USD",
                "matchingStrategy": "STANDARD",
                "status": "ACTIVE",
                "summary": {
                  "sourceACount": 1,
                  "sourceBCount": 1,
                  "matchedCount": 1,
                  "unmatchedSourceACount": 1,
                  "unmatchedSourceBCount": 1,
                  "amountMismatchCount": 1,
                  "duplicateCount": 1,
                  "totalSourceA": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalSourceB": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netDifference": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "startedAt": "2026-09-15T14:30:00Z",
                "completedAt": "2026-09-15T14:30:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReconciliationRunItem"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the structure of the reconciliation runs response for a GET operation.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "reconciliationRunId": "STANDARD",
              "sourceA": "STANDARD",
              "sourceB": "STANDARD",
              "businessDate": "2026-09-15",
              "merchantId": "MER-525922",
              "currency": "USD",
              "matchingStrategy": "STANDARD",
              "status": "ACTIVE",
              "summary": {
                "sourceACount": 1,
                "sourceBCount": 1,
                "matchedCount": 1,
                "unmatchedSourceACount": 1,
                "unmatchedSourceBCount": 1,
                "amountMismatchCount": 1,
                "duplicateCount": 1,
                "totalSourceA": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalSourceB": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netDifference": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "startedAt": "2026-09-15T14:30:00Z",
              "completedAt": "2026-09-15T14:30:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15"
              }
            }
          ],
          "metadata": {
            "responseId": "c33f3a28-5230-5df5-8038-750759f8cf71",
            "correlationId": "e8c69ae9-201f-59ea-97fb-727a379137fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method for the link.",
            "example": "string"
          }
        },
        "description": "Represents a navigational link."
      },
      "ReconciliationRunItem": {
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "Unique identifier for the reconciliation run.",
            "example": "string"
          },
          "sourceA": {
            "type": "string",
            "description": "Name of the first source for reconciliation.",
            "example": "string"
          },
          "sourceB": {
            "type": "string",
            "description": "Name of the second source for reconciliation.",
            "example": "string"
          },
          "businessDate": {
            "type": "string",
            "description": "Business date of this reconciliation run.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with this run.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the reconciliation.",
            "example": "string"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy used for matching items in the reconciliation.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the reconciliation run.",
            "example": "string"
          },
          "summary": {
            "type": "object",
            "description": "Summary of reconciliation run results.",
            "$ref": "#/components/schemas/Summary"
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run started.",
            "example": "string"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was completed.",
            "example": "string"
          },
          "audit": {
            "type": "object",
            "description": "Audit information related to the reconciliation run.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Represents an individual reconciliation run."
      },
      "Summary": {
        "type": "object",
        "properties": {
          "sourceACount": {
            "type": "integer",
            "description": "Count of items from source A.",
            "format": "int32",
            "example": 0
          },
          "sourceBCount": {
            "type": "integer",
            "description": "Count of items from source B.",
            "format": "int32",
            "example": 0
          },
          "matchedCount": {
            "type": "integer",
            "description": "Count of items that matched during reconciliation.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceACount": {
            "type": "integer",
            "description": "Count of items from source A that did not match.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceBCount": {
            "type": "integer",
            "description": "Count of items from source B that did not match.",
            "format": "int32",
            "example": 0
          },
          "amountMismatchCount": {
            "type": "integer",
            "description": "Count of items with mismatches in amount.",
            "format": "int32",
            "example": 0
          },
          "duplicateCount": {
            "type": "integer",
            "description": "Count of duplicate items found during reconciliation.",
            "format": "int32",
            "example": 0
          },
          "totalSourceA": {
            "type": "object",
            "description": "Total values from source A.",
            "$ref": "#/components/schemas/TotalAmount"
          },
          "totalSourceB": {
            "type": "object",
            "description": "Total values from source B.",
            "$ref": "#/components/schemas/TotalAmount"
          },
          "netDifference": {
            "type": "object",
            "description": "Net difference between the amounts of both sources.",
            "$ref": "#/components/schemas/TotalAmount"
          }
        },
        "description": "Summary statistics for reconciliation runs."
      },
      "TotalAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the total amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "String representation of the total value.",
            "example": "string"
          }
        },
        "description": "Represents a total amount with currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the reconciliation run.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation run was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the reconciliation run.",
            "example": "string"
          }
        },
        "description": "Audit information for the reconciliation run."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-runs"
        },
        "example": "banking-p2m-openapi-list-reconciliation-runs"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that uses Bearer tokens. The token is typically a JSON Web Token (JWT) that is passed in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}