{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Leasing Details API",
    "description": "The Leasing Details API allows users to retrieve comprehensive information about specific leasing contracts. By using a unique leasing identifier, consumers can access vital data such as contract terms, financial obligations, and associated assets. This endpoint is typically utilized by financial institutions, leasing companies, and their partners to gain insights into leasing arrangements for better decision-making and customer support. Whether for auditing, data management, or customer service purposes, this API serves as a critical resource for effective leasing operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/leasing/{leasingId}": {
      "get": {
        "tags": [
          "Leasing"
        ],
        "summary": "Retrieve leasing details by resource ID",
        "description": "This endpoint allows users to fetch detailed leasing information associated with a specific resource ID. By providing the appropriate resource identifier, developers can access relevant leasing data.",
        "operationId": "getLeasingByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for leasing information regarding a specific deposit lending resource identified by RES-100045. It requires application/json format and adheres to the schema definitions outlined in the components section.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLeasingByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLeasingByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLeasingByResourceIdRequest": {
        "type": "string",
        "description": "Request body for the GET operation in the leasing deposit lending API.",
        "example": "{}"
      },
      "GetLeasingByResourceIdResponse_200": {
        "title": "Deposit Lending Leasing Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-914593"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the customer.",
            "example": "ACC-926324"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product offered.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the principal amount.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "Details of the residual value at the end of the lease.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a deposit lending leasing operation, containing details about the customer, account, product, and financial specifics.",
        "example": {
          "customerId": "CUST-914593",
          "accountId": "ACC-926324",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b5cf6936-657f-57c7-a4b9-5490890189e0",
            "correlationId": "66dfbab9-d8b0-5e69-a0da-880906eeb3b7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents a financial amount including the currency and amount."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Contains additional information related to the processing of the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This helps in tracking and monitoring specific requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-get-leasing"
        },
        "example": "leasing-get-leasing"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application runtime that processed the request. This can be useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses the Bearer authentication scheme, which requires a valid JSON Web Token (JWT) for secure client-server communications. The token must be included in the Authorization header as 'Bearer {token}' for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}