{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Disbursement Transactions API",
    "description": "The Disbursement Transactions API enables users to access and retrieve detailed information about various disbursement transactions within the banking operational services. This API serves as a vital tool for financial institutions and developers looking to integrate disbursement tracking features into their applications. Typical use cases include auditing disbursements, checking transaction history, and analyzing financial operations. By leveraging this API, businesses can enhance their operational efficiency and improve customer service through timely access to transaction data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/disbursement": {
      "get": {
        "tags": [
          "Disbursement Management"
        ],
        "summary": "Retrieve Disbursement Information",
        "description": "This endpoint retrieves detailed information about disbursements processed through our operational services. It allows users to view the status, amount, and related transaction details of specific disbursements.",
        "operationId": "getDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operational service disbursement data. The data received will include details about disbursements, allowing clients to access critical financial information relevant to operational services.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved disbursement data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDisbursementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDisbursementRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to disbursement services.",
        "example": "{}"
      },
      "GetDisbursementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of disbursement operations.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-581845",
                "accountId": "ACC-439978",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DisbursementOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the disbursement operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the disbursement operations GET request.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-581845",
              "accountId": "ACC-439978",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0c83632f-d6a3-5f06-aef6-ee6d5bba37c3",
            "correlationId": "6ae96ce5-b6ad-53de-b328-f8e07743b374",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisbursementOperation": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "12345"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer requesting the disbursement.",
            "example": "cust-001"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the operation.",
            "example": "acc-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was requested.",
            "example": "2023-10-03T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the disbursement operation.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the disbursement record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement operation was last updated.",
            "example": "2023-10-03T13:00:00Z"
          }
        },
        "description": "Schema representing a single disbursement operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-03T13:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "disbursement-search-disbursement"
        },
        "example": "disbursement-search-disbursement"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JWT (JSON Web Tokens). Clients must include a valid token in the Authorization header as 'Bearer <token>' to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}