{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Training Management API",
    "description": "The Product Training Management API allows for the modification and enhancement of product training resources within the banking sector. This API primarily manages updates to existing training materials, ensuring that product information remains current and relevant for staff training purposes. Typical consumers of this API include product managers and training coordinators who need to maintain high-quality training programs. Use cases involve refining curriculum, updating training modules, and improving employee onboarding processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-training/{param1}": {
      "patch": {
        "tags": [
          "Product Training"
        ],
        "summary": "Update Product Training Details",
        "description": "This endpoint allows you to update the details of a specific product training session identified by PROD-700045. Use this operation to modify attributes such as training materials, schedules, and instructor information.",
        "operationId": "patchProductTrainingProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the product training information for the specified product code (PROD-700045). It contains the necessary fields that need to be modified in the existing product training details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductTrainingProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the product information was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProductTrainingProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchProductTrainingProd700045Request": {
        "title": "Product Management Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating product information in the product management system.",
        "example": {
          "changes": {
            "productCode": "CHK-PREMIUM-US",
            "productName": "Northstar Banking Service",
            "customerSegment": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "075f240d-2d90-5755-8fb9-57b4c9b1558b",
            "correlationId": "4ebbafc5-05e0-5252-be77-b5ce486466c4",
            "idempotencyKey": "7d30026f-4ec7-5fd1-8676-178d6988690a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-927590"
            }
          }
        }
      },
      "ProductChanges": {
        "title": "Product Changes",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "PROD-700045"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product being updated.",
            "example": "Example Product Name"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment that the product is targeted towards.",
            "example": "Retail"
          }
        },
        "description": "Details of the changes being made to the product."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr_789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idempotent_key_1"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "InventoryManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "ProductManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information about the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_001"
          }
        },
        "description": "Channel information through which the request was made."
      },
      "PatchProductTrainingProd700045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Describes the status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the product management system.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c55575ed-0b40-5c03-8bb2-230019118eb2",
            "correlationId": "4ebbafc5-05e0-5252-be77-b5ce486466c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking purposes across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-training-update-product-training"
        },
        "example": "product-training-update-product-training"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method. Clients must include a 'Bearer' token in the Authorization header, typically a JSON Web Token (JWT), to gain access to the API's secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}