{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Compliance Status API",
    "description": "The Regulatory Compliance Status API enables businesses to monitor and retrieve the current compliance status regarding various regulatory requirements. This API provides essential insights into compliance status, allowing organizations to maintain adherence to legal and industry standards. Typically used by compliance officers, risk management teams, and regulatory reporting personnel, this endpoint facilitates proactive compliance management. Users can easily access and assess compliance information to ensure ongoing regulatory adherence and mitigate potential risks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-compliance/status": {
      "get": {
        "tags": [
          "Regulatory Compliance"
        ],
        "summary": "Retrieve the status of regulatory compliance.",
        "description": "This endpoint allows users to fetch the current status of regulatory compliance, providing insights into compliance metrics and any outstanding issues that require attention.",
        "operationId": "getRegulatoryComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters necessary to retrieve the status of regulatory compliance. Ensure that you provide the required fields as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegulatoryComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, providing the current regulatory compliance status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegulatoryComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRegulatoryComplianceStatusRequest": {
        "type": "string",
        "description": "A string representation of the regulatory compliance status. This may include various compliance indicators relevant to operations.",
        "example": "{}"
      },
      "GetRegulatoryComplianceStatusResponse_200": {
        "title": "Regulatory Compliance Status",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "The unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the compliance is being reported.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the compliance submission.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the compliance is being reported.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the regulatory compliance submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the compliance record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ComplianceMetadata"
          }
        },
        "description": "Schema representing the status of a regulatory compliance submission.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7371505d-482c-50e6-ab30-d5afe44d8fe8",
            "correlationId": "3a937add-20b4-59a5-ac40-dec4d44e7ca1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceMetadata": {
        "title": "Compliance Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request-response chain.",
            "example": "correlation999"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "2023-03-15T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the compliance submission was processed.",
            "example": "North America"
          }
        },
        "description": "Schema representing the metadata associated with a compliance submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that is being accessed. This helps in tracking and managing API requests and responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-compliance-get-regulatory-compliance"
        },
        "example": "regulatory-compliance-get-regulatory-compliance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, providing insight into the system processing the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication strategy with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header using the format: 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}