{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution OAuth URLs Management API",
    "description": "The Institution OAuth URLs Management API enables the seamless generation and management of OAuth URLs for specified financial institutions. This API facilitates businesses in configuring secure access to their resources via OAuth protocols, ensuring that only authorized applications interact with their systems. Typical consumers include financial technology providers and business applications that integrate with various institutions to access user data securely. Using this API, developers can streamline user authentication processes, enhancing security and user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/oauth-urls": {
      "post": {
        "tags": [],
        "summary": "Create OAuth URL for Institution",
        "description": "This endpoint allows you to generate an OAuth URL for the specified institution, enabling secure authentication and data access. Make sure to provide the necessary parameters to successfully create the URL.",
        "operationId": "createOauthUrlForInstitutionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows you to create OAuth URLs for a specific institution identified by RES-100045. The request should contain information regarding the OAuth URLs to be generated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOauthUrlForInstitutionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and available for use.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOauthUrlForInstitutionRes100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOauthUrlForInstitutionRes100045Request": {
        "title": "OAuth Request Body",
        "type": "object",
        "properties": {
          "redirectURI": {
            "type": "string",
            "description": "The URI to redirect users after authentication.",
            "example": "https://example.com/resource"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer.",
            "example": "CUST-505200"
          },
          "configurationId": {
            "type": "string",
            "description": "The identifier for the configuration associated with this request.",
            "example": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562"
          },
          "serviceAgreement": {
            "description": "Details about the service agreement for the customer.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for OAuth URL operations.",
        "example": {
          "redirectURI": "https://example.com/resource",
          "customerId": "CUST-505200",
          "configurationId": "f1808dea-ce8c-bc2f-15c7-5562ff2fd562",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "621b5cf0-9cd1-5418-b71d-5337b45600ec",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "idempotencyKey": "e08e190e-e4e1-5954-a97b-be7243c9ff33",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903727"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference for the service agreement.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "2023-01-15"
          }
        },
        "description": "Schema representing the service agreement details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests produce the same result.",
            "example": "idempotent-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-15T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "App XYZ"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "device-202"
          }
        },
        "description": "Schema representing the channel information."
      },
      "CreateOauthUrlForInstitutionRes100045Response_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0"
          },
          "url": {
            "type": "string",
            "description": "The URL for the OAuth operation.",
            "example": "https://example.com/resource"
          },
          "eventStreamId": {
            "type": "string",
            "description": "The identifier for the event stream associated with this operation.",
            "example": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating OAuth URLs related to institutions.",
        "example": {
          "id": "17004f36-35b4-3016-fbe4-98b0f8c4b9a0",
          "url": "https://example.com/resource",
          "eventStreamId": "8b6e3889-3ba3-9fc0-25c1-9aa31daf69c3",
          "metadata": {
            "responseId": "ef3b059c-e721-58b2-abd7-ddc68741a9fd",
            "correlationId": "96a0eb67-b476-5856-8fd1-55a1f70d55e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to match related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information for the OAuth operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
        },
        "example": "open-finance-api-post-institutions-institution-id-oauth-urls"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires the client to provide a JSON Web Token (JWT) in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}