{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Syndication Management API",
    "description": "The Loan Syndication Management API facilitates the retrieval of details regarding syndicated loans within the banking system. It allows financial institutions to access comprehensive data related to loan syndications, including participant banks, loan amounts, and terms. Ideal for banking professionals and financial analysts, this API supports use cases such as performance tracking, risk assessment, and portfolio management. By providing real-time updates, the API enhances decision-making and operational efficiency in managing syndicated loans.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan syndication details.",
        "description": "This endpoint allows users to retrieve detailed information regarding loan syndications, including relevant data such as loan amounts, participating entities, and related timeframes. Utilize this API to gather insights into various loan syndication arrangements.",
        "operationId": "getLoanSyndication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters for loan syndication operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanSyndicationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan syndication details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanSyndicationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanSyndicationRequest": {
        "title": "Loan Syndication Operations GET Request Body",
        "type": "string",
        "description": "Represents the JSON body structure for a GET request in Loan Syndication Operations.",
        "example": "{}"
      },
      "GetLoanSyndicationResponse_200": {
        "title": "Loan Syndication Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of loan syndication requests.",
            "example": [
              {
                "customerId": "CUST-807901",
                "caseId": "CASE-482093",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanSyndicationRequest"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response for loan syndication operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-807901",
              "caseId": "CASE-482093",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3e1dfe57-615d-5a1e-b196-a2a8d0439fd9",
            "correlationId": "1c14ac05-0bbe-5e1e-ad1e-bf40f5636132",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanSyndicationRequest": {
        "title": "Loan Syndication Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the request.",
            "example": "cust123"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the case regarding the loan syndication.",
            "example": "case456"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the loan request.",
            "example": "categoryA"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the loan request.",
            "example": "high"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "online"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the request was last updated.",
            "example": "2023-10-01T10:00:00Z"
          }
        },
        "description": "A schema representing a loan syndication request item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "A schema representing pagination information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west"
          }
        },
        "description": "A schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that handles the loan syndication operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-search-loan-syndication"
        },
        "example": "loan-syndication-search-loan-syndication"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the loan syndication request, indicating which service processed the call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which involves providing a token (JWT) in the authorization header of the HTTP request. The token is used to validate the user's identity and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}