{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Products API",
    "description": "The Loan Products API provides access to a comprehensive list of loan products offered by the financial institution. Utilizing this endpoint, users can retrieve detailed information about various loan options available, including terms, interest rates, and eligibility criteria. This API is essential for developers building applications in the banking or fintech sectors, allowing them to facilitate product comparisons or enable informed borrowing decisions. Typical consumers include application developers, financial advisors, and end-users seeking to explore loan offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve a list of available loan products.",
        "description": "This endpoint allows users to fetch all available loan products, including their features and terms. It provides essential information for making informed borrowing decisions.",
        "operationId": "getLoanProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about available loan products. It may include filters or specific parameters to refine the results based on user needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of loan products.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanProductsRequest": {
        "title": "Get Loan Products Request Body",
        "type": "string",
        "description": "Schema representing the request body for retrieving loan products via GET operation.",
        "example": "{}"
      },
      "GetLoanProductsResponse_200": {
        "title": "Loan Products Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "The list of loan product items.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "productType": "STANDARD",
                "currency": "USD",
                "minPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "maxPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "minTermMonths": 1,
                "maxTermMonths": 1,
                "interestRateType": "STANDARD",
                "annualInterestRatePercent": "STANDARD",
                "baseRateCode": "CODE-587",
                "marginPercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "secured": true,
                "maximumLoanToValuePercent": "STANDARD",
                "eligibility": {
                  "minApplicantAge": 1,
                  "maxApplicantAgeAtMaturity": 1,
                  "minMonthlyIncome": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "allowedEmploymentTypes": [
                    "STANDARD"
                  ],
                  "allowedResidencyCountries": [
                    "STANDARD"
                  ],
                  "minCreditScore": 1
                },
                "fees": [
                  {
                    "code": "SUCCESS",
                    "name": "Northstar Banking Service",
                    "calculationMethod": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "percent": "STANDARD",
                    "capitalized": true
                  }
                ],
                "status": "ACTIVE",
                "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanProduct"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving loan products.",
        "example": {
          "items": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "description": "Customer banking request processed successfully",
              "productType": "STANDARD",
              "currency": "USD",
              "minPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "maxPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "minTermMonths": 1,
              "maxTermMonths": 1,
              "interestRateType": "STANDARD",
              "annualInterestRatePercent": "STANDARD",
              "baseRateCode": "CODE-587",
              "marginPercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "secured": true,
              "maximumLoanToValuePercent": "STANDARD",
              "eligibility": {
                "minApplicantAge": 1,
                "maxApplicantAgeAtMaturity": 1,
                "minMonthlyIncome": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "allowedEmploymentTypes": [
                  "STANDARD"
                ],
                "allowedResidencyCountries": [
                  "STANDARD"
                ],
                "minCreditScore": 1
              },
              "fees": [
                {
                  "code": "SUCCESS",
                  "name": "Northstar Banking Service",
                  "calculationMethod": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "percent": "STANDARD",
                  "capitalized": true
                }
              ],
              "status": "ACTIVE",
              "id": "dada9288-9d0b-bcc0-59d0-4b06cab71d92",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "28e862cf-d585-5534-a562-41321f1f58d8",
            "correlationId": "db1d8c5b-5d7d-51c0-9245-4943b85f4eb2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanProduct": {
        "title": "Loan Product",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifier for the loan product."
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product."
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product."
          },
          "productType": {
            "type": "string",
            "description": "The type of the product (e.g., PERSONAL, BUSINESS)."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan is denominated."
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term length for the loan in months.",
            "format": "int32"
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term length for the loan in months.",
            "format": "int32"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate (e.g., FIXED, VARIABLE)."
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage."
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code of the base interest rate used for the loan."
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percent added to the base rate."
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., MONTHLY, BI-WEEKLY)."
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured by collateral."
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio as a percentage."
          },
          "eligibility": {
            "description": "The eligibility criteria required for the loan.",
            "$ref": "#/components/schemas/Eligibility"
          },
          "fees": {
            "type": "array",
            "description": "The list of fees associated with the loan product.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product (e.g., ACTIVE, INACTIVE)."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product."
          },
          "audit": {
            "description": "Audit information for tracking changes to the loan product.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a loan product with its details."
      },
      "PrincipalAmount": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount."
          },
          "amount": {
            "type": "string",
            "description": "The amount of money specified."
          }
        },
        "description": "Schema representing a principal amount with currency."
      },
      "Eligibility": {
        "title": "Loan Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32"
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at the loan's maturity.",
            "format": "int32"
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income required for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "The allowed types of employment for the applicant.",
            "items": {
              "type": "string"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "The countries where applicants must be residents.",
            "items": {
              "type": "string"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for the loan application.",
            "format": "int32"
          }
        },
        "description": "Schema representing the eligibility criteria required for a loan."
      },
      "Fee": {
        "title": "Loan Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifier for the fee."
          },
          "name": {
            "type": "string",
            "description": "The name of the fee."
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the fee (e.g. FLAT, PERCENTAGE)."
          },
          "amount": {
            "description": "The amount for the fee specified in a currency.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "percent": {
            "type": "string",
            "description": "The percent value associated with the fee, if applicable."
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates whether the fee is capitalized into the loan."
          }
        },
        "description": "Schema representing a fee associated with a loan product."
      },
      "Audit": {
        "title": "Loan Product Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The creation date and time of the loan product."
          }
        },
        "description": "Schema representing audit details for loan products."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema representing metadata of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-products"
        },
        "example": "banking-loans-openapi-list-loan-products"
      },
      "X-Runtime-App": {
        "description": "The name of the application executing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients must include a valid JWT (JSON Web Token) in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}