{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Access Consents API",
    "description": "The Account Access Consents API facilitates management of consent agreements for account access in the Open Banking ecosystem. It allows third-party service providers to initiate consent requests on behalf of users, ensuring secure sharing of banking information. Typical users include financial applications and aggregators that need to access user account data with proper authorization. This API streamlines the consent process and enhances user control over their banking data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents": {
      "post": {
        "tags": [
          "Account Access"
        ],
        "summary": "Create a new account access consent.",
        "description": "This endpoint allows developers to create a new consent for accessing account data. It requires specific parameters that define the scope and duration of access, ensuring compliance with data protection regulations while facilitating account access requests.",
        "operationId": "createAccountAccessConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create account access consents for the AISP (Account Information Service Provider) operations. It requires the necessary user permissions and information for the consent to be granted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountAccessConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new account access consent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountAccessConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountAccessConsentRequest": {
        "title": "Account Access Consents Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/AccountAccessConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the Account Access Consents operation.",
        "example": {
          "Data": {
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "e7dd2e7d-e079-5a83-b054-dbd81ef98a12",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "idempotencyKey": "13909b8c-d655-5afa-a942-c0c13004f861",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-638482"
            }
          }
        }
      },
      "AccountAccessConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "A list of reasons for the current status of the consent.",
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "A code representing the status reason.",
                  "example": "string"
                },
                "description": {
                  "type": "string",
                  "description": "A detailed description of the status reason.",
                  "example": "string"
                },
                "Path": {
                  "type": "string",
                  "description": "The path related to the status reason.",
                  "example": "string"
                }
              }
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "string"
          },
          "Permissions": {
            "type": "array",
            "description": "The permissions granted by the consent.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The date and time when the consent expires.",
            "example": "string"
          },
          "TransactionFromDateTime": {
            "type": "string",
            "description": "The start date and time for transactions covered by the consent.",
            "example": "string"
          },
          "TransactionToDateTime": {
            "type": "string",
            "description": "The end date and time for transactions covered by the consent.",
            "example": "string"
          }
        },
        "description": "Details about the account access consent."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "banking_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "The context related to the request, including identifiers and metadata."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-123456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-123456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAccountAccessConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/AccountAccessConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the POST operation for account access consents, particularly for HTTP status 201.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "7b2e0f14-10a5-520a-87c8-cf415d6bca9a",
            "correlationId": "819f7ffa-8554-5dd5-bc65-268981cba409",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "string"
          }
        },
        "description": "Pagination links for navigating the data."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first date and time available in the data.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last date and time available in the data.",
            "example": "string"
          }
        },
        "description": "Metadata pertaining to the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-create-account-access-consents"
        },
        "example": "accounts-api-create-account-access-consents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, with JWT (JSON Web Token) as the format for the bearer token. Clients must send the token in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}