{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Behavior Insights API",
    "description": "The Customer Behavior Insights API enables businesses to analyze and leverage customer interaction data to enhance engagement strategies. This endpoint allows users to submit detailed insights related to customer behavior, facilitating strategic decisions in marketing and product development. Typical consumers include data analysts, marketing teams, and business strategists looking to optimize customer experiences and drive sales. By providing actionable insights, this API supports organizations in understanding customer trends and preferences effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-behavior-insights": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Customer Behavior Insights",
        "description": "This endpoint allows developers to submit data related to customer behavior to generate meaningful insights for better understanding and analyzing customer interactions.",
        "operationId": "createCustomerBehaviorInsights",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to retrieve insights related to customer behavior. The input should be in JSON format, providing relevant parameters to ensure accurate insights generation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerBehaviorInsightsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with customer behavior insights.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerBehaviorInsightsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerBehaviorInsightsRequest": {
        "title": "Customer Behavior Insights Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-412982"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-232230"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the insights become effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the customer's relationship.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for submitting customer behavior insights.",
        "example": {
          "customerId": "CUST-412982",
          "partyId": "PARTY-232230",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "3d0174cd-7d98-5193-bb5f-03cc8c5434e6",
            "correlationId": "95171b62-fc05-50b6-a87f-202f41d9a830",
            "idempotencyKey": "46002954-b9e9-5a0c-a308-2be6eb828105",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-613938"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMPOTENT-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system making the request.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHNL001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Device identifier from which the request originated.",
            "example": "DEVICE123"
          }
        },
        "description": "Details about the channel used in the request."
      },
      "CreateCustomerBehaviorInsightsResponse_201": {
        "title": "Customer Behavior Insights Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-975832"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier for the party associated with the customer.",
            "example": "PARTY-244715"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the customer.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource related to the customer behavior insights.",
            "example": "RES-571321"
          },
          "status": {
            "type": "string",
            "description": "The current status of the customer behavior insights.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the behavior insights were created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the customer behavior insights response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing behavior insights related to a customer.",
        "example": {
          "customerId": "CUST-975832",
          "partyId": "PARTY-244715",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-571321",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1dbd1183-6b0e-5f54-bb7b-12d07dc2c515",
            "correlationId": "95171b62-fc05-50b6-a87f-202f41d9a830",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Customer Behavior Insights",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP999"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request through the system.",
            "example": "CORREL123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response for customer behavior insights."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-behavior-insights-create-customer-behavior-insights"
        },
        "example": "customer-behavior-insights-create-customer-behavior-insights"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically formatted as a JSON Web Token (JWT). Users must include this token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}