{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Management API",
    "description": "The Order Management API facilitates the creation of servicing orders within the banking system. This endpoint allows clients to submit new servicing requests that are essential for handling customer inquiries and actions related to their accounts. Whether it's updating account information or processing specific banking services, this API serves financial institutions and their support teams. Typical use cases include initiating requests for account modifications or transaction adjustments, ensuring a seamless experience for banking customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order": {
      "post": {
        "tags": [
          "Servicing"
        ],
        "summary": "Create a new servicing order.",
        "description": "This endpoint allows users to create a new servicing order by providing the necessary order details. It ensures that all required information is supplied to process the order efficiently.",
        "operationId": "createServicingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new servicing order. It must include all required information pertaining to the servicing order such as customer details, service type, and specific requests.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateServicingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateServicingOrderResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateServicingOrderRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-373273"
          },
          "caseId": {
            "type": "string",
            "description": "The identifier for the associated case.",
            "example": "CASE-269670"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a servicing order.",
        "example": {
          "customerId": "CUST-373273",
          "caseId": "CASE-269670",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "ac15f009-4b2a-5e82-84e7-72578c55efa2",
            "correlationId": "52e6744b-065b-54eb-9dea-2c529f67b5f6",
            "idempotencyKey": "9fd5f254-d95b-5305-a929-5c3fb16cf1ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-649698"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "Req1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "Corr5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "IdempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-11T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system of the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application source of the request.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel for the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Context information for the request."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "Channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used, if applicable.",
            "example": "Device456"
          }
        },
        "description": "Information about the channel used to make the request."
      },
      "CreateServicingOrderResponse_202": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-702233"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the servicing order.",
            "example": "CASE-582842"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference number for tracking the processing of the order.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the servicing order.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for servicing order creation operations.",
        "example": {
          "customerId": "CUST-702233",
          "caseId": "CASE-582842",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4ec771d1-c731-51be-a92b-6b9217d0327d",
            "correlationId": "52e6744b-065b-54eb-9dea-2c529f67b5f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORRELATE123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the order is being processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for servicing order responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-order-process-servicing-order"
        },
        "example": "servicing-order-process-servicing-order"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that handled this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to secure endpoints. This ensures that the server can validate the user's identity and authorization level.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}