{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Case Management API",
    "description": "The Card Case Management API enables financial institutions to efficiently update and manage card case details associated with customer banking services. By utilizing this API, organizations can amend the status, details, or attributes of specific card cases identified by a unique parameter. This service is particularly beneficial for customer service teams and developers building systems for card servicing solutions. Through effective use of this API, businesses can enhance customer experiences and streamline operational processes related to card management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case/{param1}": {
      "put": {
        "tags": [
          "Card Case Management"
        ],
        "summary": "Update the details of a specific card case.",
        "description": "This operation allows you to update the information related to a specific card case identified by CARD-400045. Ensure that all required fields are populated correctly to avoid errors during the update process.",
        "operationId": "updateCardCase",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the servicing information for the specified card case (CARD-400045). This body must include the necessary fields to correctly modify the card case data as per the operations defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with specific details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardCaseResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error encountered during processing.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardCaseResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity; validation errors present.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardCaseResponse_422"
                }
              }
            }
          },
          "400": {
            "description": "Bad request; invalid parameters provided.",
            "headers": {},
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardCaseResponse_400"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCardCaseResponse_201": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-820501"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the specific case.",
            "example": "CASE-524334"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-590859"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for operations performed on card cases.",
        "example": {
          "customerId": "CUST-820501",
          "caseId": "CASE-524334",
          "resourceId": "RES-590859",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "137a93a3-1172-51a4-a6ec-ba9ae8ab7cce",
            "correlationId": "592238c9-f24b-5e1f-85aa-e5e486398405",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP78910"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of multiple requests.",
            "example": "CORR111213"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was carried out.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the operation."
      },
      "UpdateCardCaseResponse_500": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code associated with the response.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message detailing the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The specific workflow in which the error occurred.",
            "example": "WF-023"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "Indicates the hop in the workflow after which the failure occurred.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "Response object for a failed operation in the servicing card case API, containing error details.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-023",
          "failedAfterHop": 3
        }
      },
      "UpdateCardCaseResponse_422": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the response.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "b502e35c-15a9-43a6-9740-c76683144e37"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message explaining the error encountered.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Information about the workflow state at the time of the error.",
            "example": "WF-023"
          }
        },
        "description": "Response schema for a failed operation in the card servicing API, indicating issues with the request.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "b502e35c-15a9-43a6-9740-c76683144e37",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-023"
        }
      },
      "UpdateCardCaseRequest": {
        "type": "object",
        "properties": {
          "example": {
            "type": "string",
            "description": "An example string that demonstrates the structure of the request body."
          }
        },
        "description": "Schema representing the request body for the PUT operation on card case CARD-400045.",
        "example": {}
      },
      "UpdateCardCaseResponse_400": {
        "title": "Card Operation Error Response",
        "type": "object",
        "properties": {
          "fieldErrors": {
            "type": "array",
            "description": "A list of field errors that occurred during the operation. Each entry in the array is a string describing the error related to a specific field.",
            "example": [
              "$.customerId is required",
              "$.caseId is required",
              "$.requestCategory is required",
              "$.priority is required",
              "$.originatingChannel is required",
              "$.caseReason is required",
              "$.serviceLevelDueAt is required",
              "$.customerContactPreference is required",
              "$.requestContext is required"
            ],
            "items": {
              "type": "string",
              "example": "Invalid card number"
            }
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error that occurred.",
            "example": "Request payload does not match the API contract"
          },
          "code": {
            "type": "string",
            "description": "A unique code identifier for the error type.",
            "example": "INVALID_REQUEST"
          }
        },
        "description": "This schema represents the response structure for error messages returned during card operation requests.",
        "example": {
          "fieldErrors": [
            "$.customerId is required",
            "$.caseId is required",
            "$.requestCategory is required",
            "$.priority is required",
            "$.originatingChannel is required",
            "$.caseReason is required",
            "$.serviceLevelDueAt is required",
            "$.customerContactPreference is required",
            "$.requestContext is required"
          ],
          "message": "Request payload does not match the API contract",
          "code": "INVALID_REQUEST"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422",
            "MICROSERVICE_PROD_400"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint where the request was sent.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-create-card-case"
        },
        "example": "card-case-create-card-case"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the client error response, aiding in issue resolution by providing context.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-023"
        },
        "example": "WF-023"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card PIN Reset and Device Verification"
        },
        "example": "Card PIN Reset and Device Verification"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d5b2104b-d2b1-40fb-ae5e-fbc5b5801636"
        },
        "example": "d5b2104b-d2b1-40fb-ae5e-fbc5b5801636"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method along with JSON Web Tokens (JWT). Clients are expected to include a token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}