{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Risk Management API",
    "description": "The Counterparty Risk Management API enables financial institutions to update and manage risk assessments for counterparties dynamically. This API provides essential operations that allow users to patch existing risk information based on changing circumstances or new data inputs. It is particularly useful for risk management teams and compliance officers needing to ensure accurate and up-to-date counterparty evaluations. By leveraging this API, businesses can enhance their risk mitigation strategies and maintain regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/counterparty-risk/{param1}": {
      "patch": {
        "tags": [
          "Counterparty Risk Management"
        ],
        "summary": "Update Counterparty Risk Details",
        "description": "This operation allows you to update the details of a specified counterparty risk. Make sure to provide all required fields in the request body to ensure a successful update.",
        "operationId": "patchCounterpartyRiskParty600045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Update the counterparty risk details for the specified party. This request body should contain the necessary fields that need to be modified in the counterparty's risk profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCounterpartyRiskParty600045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the updated resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCounterpartyRiskParty600045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCounterpartyRiskParty600045Request": {
        "title": "Patch Request Body for Counterparty Risk Operations",
        "type": "object",
        "properties": {
          "changes": {
            "title": "Changes Object",
            "type": "object",
            "properties": {
              "accountId": {
                "type": "string",
                "description": "The unique identifier for the account.",
                "example": "string"
              },
              "customerId": {
                "type": "string",
                "description": "The unique identifier for the customer.",
                "example": "string"
              },
              "ledgerDate": {
                "type": "string",
                "description": "The date related to the ledger entry.",
                "example": "string"
              }
            },
            "description": "Contains details about the changes to be applied.",
            "example": {
              "accountId": "ACC-722572",
              "customerId": "CUST-493589",
              "ledgerDate": "2026-09-15"
            }
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "title": "Request Context Object",
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "The unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used for correlating requests across systems.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key to ensure that the request can be safely retried.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "The timestamp of when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "string"
              },
              "channel": {
                "title": "Channel Object",
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "The unique identifier of the channel.",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "The type of channel (e.g., web, mobile).",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "The unique identifier for the device used to make the request.",
                    "example": "string"
                  }
                },
                "description": "Information related to the channel through which the request was made.",
                "example": {
                  "channelId": "string",
                  "channelType": "string",
                  "deviceId": "string"
                }
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "cfc30261-3151-5aea-8dc1-2a8a63201128",
              "correlationId": "df64c2a7-54c6-54a4-b77e-496748609292",
              "idempotencyKey": "012b5663-eafb-56a6-baf9-3496466b2377",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-476257"
              }
            }
          }
        },
        "description": "The request body containing the changes to be made for a counterparty risk operation.",
        "example": {
          "changes": {
            "accountId": "ACC-722572",
            "customerId": "CUST-493589",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "cfc30261-3151-5aea-8dc1-2a8a63201128",
            "correlationId": "df64c2a7-54c6-54a4-b77e-496748609292",
            "idempotencyKey": "012b5663-eafb-56a6-baf9-3496466b2377",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-476257"
            }
          }
        }
      },
      "PatchCounterpartyRiskParty600045Response_200": {
        "title": "Party Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the party was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on a party entity.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2bb67a0b-8f1b-5c38-8b2e-e252216994ce",
            "correlationId": "df64c2a7-54c6-54a4-b77e-496748609292",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-risk-update-counterparty-risk"
        },
        "example": "counterparty-risk-update-counterparty-risk"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme utilizes JSON Web Tokens (JWT) to securely transmit information between parties, allowing for authorization without exposing sensitive data.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}