{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Payment Indicator API",
    "description": "The Customer Account Payment Indicator API provides insights into the payment behavior of specific customer accounts. By accessing this endpoint, users can retrieve detailed information about payment indicators associated with a customer's account, identified by unique customer and account IDs. This API is particularly beneficial for financial institutions and lenders seeking to assess creditworthiness or payment history. Typical consumers include risk analysts and loan officers who require accurate data to make informed lending decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator/fcra": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve FCRA Payment Indicator",
        "description": "Fetches the Fair Credit Reporting Act (FCRA) payment indicator for the specified customer account. This endpoint provides crucial information related to the payment status and compliance for financial services.",
        "operationId": "getPaymentIndicatorForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the payment indicator for a specific account under the designated customer. The request requires parameters that define the desired payment indicator type and can include multiple query parameters depending on the specific requirements for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentIndicatorForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment indicator data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentIndicatorForCustomerAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentIndicatorForCustomerAccountRequest": {
        "type": "string",
        "description": "This schema represents the payment indicator as part of the request body for the specified operation.",
        "example": "{}"
      },
      "GetPaymentIndicatorForCustomerAccountResponse_200": {
        "title": "Payment Indicator Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Response code indicating the status of the payment indicator request.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "Message providing details about the response.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-230271"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-838785"
          },
          "payReqId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "description": "Date by which the settlement should occur.",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "description": "Amount to be settled.",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "description": "Current available balance for the account.",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "description": "List of payment indicators categorized by day.",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentIndicatorByDay"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for payment indicator request containing various payment-related details.",
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-230271",
          "accountId": "ACC-838785",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b3661a1b-9cef-59d5-adc5-ccd40523936e",
            "correlationId": "a03dbbe5-e820-518e-b3a0-2e22d3896314",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIndicatorByDay": {
        "title": "Payment Indicator by Day",
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The date on which a potential settlement could occur.",
            "example": "2023-12-31"
          },
          "compositeScore": {
            "type": "integer",
            "description": "Composite score indicating the payment reliability.",
            "format": "int32",
            "example": 85
          },
          "scoreIndicator": {
            "type": "string",
            "description": "Indicator representing the overall score status.",
            "example": "Good"
          },
          "reasons": {
            "$ref": "#/components/schemas/ScoreReasons"
          }
        },
        "description": "Detailed payment indicator information for a particular day.",
        "example": {
          "potentialSettlementDate": "2023-12-31",
          "compositeScore": 85,
          "scoreIndicator": "Good",
          "reasons": {
            "recentBalance": 1,
            "balanceHistory": 0,
            "nsfHistory": 0,
            "recentNsfHistory": 0,
            "recurringNsf": 0,
            "spendHistory": 0,
            "depositHistory": 0,
            "transactionAmount": 200
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating this response with other processes.",
            "example": "corr-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-12-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response of the payment indicator request.",
        "example": {
          "responseId": "res-123456",
          "correlationId": "corr-654321",
          "generatedAt": "2023-12-01T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      },
      "ScoreReasons": {
        "title": "Score Reasons",
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Score related to recent balance history.",
            "format": "int32",
            "example": 1
          },
          "balanceHistory": {
            "type": "integer",
            "description": "Score associated with balance history.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "Score indicating non-sufficient funds history.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Score from recent non-sufficient funds history.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Score indicating recurring non-sufficient funds.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Score related to spending habits.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "Score based on deposit habits.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Total transaction amount affecting the score.",
            "format": "int32",
            "example": 200
          }
        },
        "description": "Detailed reasons behind the score calculation.",
        "example": {
          "recentBalance": 1,
          "balanceHistory": 0,
          "nsfHistory": 0,
          "recentNsfHistory": 0,
          "recurringNsf": 0,
          "spendHistory": 0,
          "depositHistory": 0,
          "transactionAmount": 200
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed in this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-fcra-payment-success-indicator"
        },
        "example": "open-finance-api-get-fcra-payment-success-indicator"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request to the API, providing context for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) as bearer tokens for secure API access. Clients must include the JWT in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}