{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity Insights API",
    "description": "The Channel Activity Insights API provides businesses with valuable analytics regarding customer interactions across various banking channels. By utilizing this API, developers can access detailed reports on channel performance and user engagement metrics, enabling data-driven decision-making. Typical users include banking analysts and product managers looking to optimize operational strategies. This API supports enhanced understanding of customer behavior and channel efficiency, facilitating targeted improvements and service enhancements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/{param1}": {
      "get": {
        "tags": [
          "Operational Insights"
        ],
        "summary": "Retrieve Channel Activity Analysis for specific resource.",
        "description": "This endpoint provides detailed insights and analysis of the channel activities associated with a specified resource ID (RES-100045). It helps stakeholders to understand the operational performance and make data-driven decisions.",
        "operationId": "getChannelActivityAnalysisByRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for analyzing channel activity. This payload contains necessary parameters required for the operational service to perform the analysis and return relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelActivityAnalysisByRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the response contains the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelActivityAnalysisByRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelActivityAnalysisByRes100045Request": {
        "type": "string",
        "description": "Represents the request body for the operations GET request for channel activity analysis.",
        "example": "{}"
      },
      "GetChannelActivityAnalysisByRes100045Response_200": {
        "title": "Channel Activity Analysis Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer.",
            "example": "CUST-660302"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the operation.",
            "example": "ACC-592575"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for the Channel Activity Analysis operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-660302",
          "accountId": "ACC-592575",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a51ca2c0-10db-553f-a75c-8cdfa7b444e8",
            "correlationId": "b79f21a6-0aaa-5db9-a30b-391cc135eafe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate calls between systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-get-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-get-channel-activity-analysis"
      },
      "x-runtime-app": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) as a bearer token. This method is used to securely transmit information between parties in a compact and URL-safe format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}