{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluation Insights API",
    "description": "The Employee Evaluation Insights API provides access to detailed employee performance evaluations. This API allows users to retrieve evaluation data for specific employees, facilitating better decision-making in human resource management. Typical consumers include HR managers and team leaders looking to analyze employee performance, gain insights into strengths and areas for improvement, and support talent development initiatives. The API streamlines the process of accessing essential evaluation information, enhancing organizational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/{param1}": {
      "get": {
        "tags": [
          "Employee Evaluation"
        ],
        "summary": "Retrieve employee evaluation details.",
        "description": "Fetch the detailed evaluation records for a specific employee identified by their unique ID. This operation provides insights into the employee's performance, feedback, and overall evaluation status.",
        "operationId": "getEmployeeEvaluationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve evaluation details for a specific employee identified by their unique ID. The response will contain information related to the employee's performance and any relevant evaluation metrics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeEvaluationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the employee evaluation data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeEvaluationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeEvaluationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the employee evaluation in the Human Resource Management system. It is expected to be a string that contains specific details related to the evaluation.",
        "example": "{}"
      },
      "GetEmployeeEvaluationByIdResponse_200": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-459582"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the department the employee belongs to.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The effective date of the employee's current details.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment for the employee (e.g. Full-time, Part-time, Contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The physical or remote location where the employee works.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record (e.g. Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the employee record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the employee record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESP-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request/response lifecycle.",
                "example": "CORR-54321"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the request was processed.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata related to the employee evaluation response.",
            "example": {
              "responseId": "11fb271b-9eb3-5958-873c-ddf426ba90cf",
              "correlationId": "741f3e65-562d-5fd2-8aa0-ceae82fd72dc",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema for employee evaluation response in the Human Resource Management system.",
        "example": {
          "employeeId": "EMP-459582",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11fb271b-9eb3-5958-873c-ddf426ba90cf",
            "correlationId": "741f3e65-562d-5fd2-8aa0-ceae82fd72dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint which enables monitoring and debugging of specific API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-get-employee-evaluation"
        },
        "example": "employee-evaluation-get-employee-evaluation"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request, providing insight into the backend services involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, requiring a JSON Web Token (JWT) to be passed in the authorization header of requests. The JWT must be obtained through a valid authentication flow.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}