{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Login Forms Submission API",
    "description": "The Login Forms Submission API facilitates the integration of user authentication by allowing institutions to submit user login forms. This endpoint enables seamless connection to various institutions based on a specified institution ID, ensuring secure and efficient handling of login credentials. Typically used by developers implementing authentication for applications serving multiple financial institutions, this API streamlines the login process while maintaining user data security. Consumers can leverage this API to enhance user experiences across their platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/institutions/{institutionId}/login-forms": {
      "post": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Create a Login Form for the Institution.",
        "description": "This endpoint allows you to create a login form for the specified institution, identified by its unique identifier. Utilize this functionality to streamline the login process for users associated with the institution.",
        "operationId": "postLoginFormForInstitutionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a login form for the institution with the identifier RES-100045. The information provided will be used to authenticate the user and initiate a login session.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostLoginFormForInstitutionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the login form.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostLoginFormForInstitutionRes100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostLoginFormForInstitutionRes100045Request": {
        "title": "Login Form Request Body Schema",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language preference of the customer.",
            "example": "en"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-848116"
          },
          "configurationId": {
            "type": "string",
            "description": "Identifier for the configuration type.",
            "example": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80"
          },
          "serviceAgreement": {
            "description": "Details of the service agreement for the customer.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body structure for logging into a system.",
        "example": {
          "language": "en",
          "customerId": "CUST-848116",
          "configurationId": "c8b7cfd8-0d5e-7806-b2ff-2a822d633b80",
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "requestContext": {
            "requestId": "a5dde256-5b3b-5ce3-b2ab-4aaf51754ee7",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "idempotencyKey": "ddf7900d-468f-558b-abe9-2fa779ad1e4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-628826"
            }
          }
        }
      },
      "ServiceAgreement": {
        "title": "Service Agreement Schema",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the agreement is presented.",
            "example": "en"
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing the service agreement details."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "key456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "appX"
          },
          "channel": {
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual data related to the request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel567"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device890"
          }
        },
        "description": "Schema representing the channel information for a request."
      },
      "PostLoginFormForInstitutionRes100045Response_201": {
        "title": "Login Form Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "b7219723-da31-e581-f6cf-5c5c634fc54d"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the event stream associated with the login form.",
            "example": "b0f87741-3c74-58c5-be51-97d06515c7a5"
          },
          "elements": {
            "type": "array",
            "description": "List of elements related to the login form.",
            "example": [
              {
                "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoginFormElement"
            }
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response of the login form operation.",
        "example": {
          "id": "b7219723-da31-e581-f6cf-5c5c634fc54d",
          "eventStreamId": "b0f87741-3c74-58c5-be51-97d06515c7a5",
          "elements": [
            {
              "id": "003d97b7-5cf5-f1a2-ec28-c8584bfc3c3f",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "fb936efe-cf93-5f04-a32d-6a93564c0b28",
            "correlationId": "1d877b2d-d2c8-5033-9c08-d7adc9fbc9b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoginFormElement": {
        "title": "Login Form Element",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the form element.",
            "example": "element-id"
          },
          "label": {
            "type": "string",
            "description": "Label of the form element.",
            "example": "Email Address"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Sort order for the form element in the display.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing an individual element in the login form."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request.",
            "example": "correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing the metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the specific endpoint being accessed. This helps in tracking the request within logs and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-institutions-institution-id-login-forms"
        },
        "example": "open-finance-api-post-institutions-institution-id-login-forms"
      },
      "x-runtime-app": {
        "description": "The version identifier of the application making the request. Useful for understanding which app version is interacting with the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP bearer authentication. A valid JSON Web Token (JWT) must be included in the authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}