{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Broker Agreement Retrieval API",
    "description": "The Product Broker Agreement Retrieval API allows users to access detailed information about broker agreements associated with various banking products. This endpoint facilitates financial institutions, internal users, and external agencies to efficiently retrieve and review the agreements, ensuring compliance and understanding of product offerings. By streamlining access to these documents, stakeholders can make informed decisions and maintain regulatory standards. It is particularly useful for brokers, compliance officers, and financial analysts seeking clarity on product terms and conditions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-broker-agreement": {
      "get": {
        "tags": [
          "External Agency Management"
        ],
        "summary": "Retrieve Product Broker Agreement",
        "description": "Fetches the details of the product broker agreement associated with the external agency. This endpoint allows users to obtain the necessary information regarding broker agreements currently in effect.",
        "operationId": "getExternalAgencyProductBrokerAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the product broker agreement from the external agency. This operation allows clients to fetch the associated data in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetExternalAgencyProductBrokerAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product broker agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetExternalAgencyProductBrokerAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetExternalAgencyProductBrokerAgreementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations related to product broker agreements in an external agency context.",
        "example": "{}"
      },
      "GetExternalAgencyProductBrokerAgreementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of product broker agreements.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-930576",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductBrokerAgreement"
            }
          },
          "pagination": {
            "description": "Pagination information for the list of items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving product broker agreements from an external agency.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-930576",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "71e418b3-d28e-5e8d-85b0-a584c354d0f2",
            "correlationId": "beeddb94-a714-5446-97f7-d72411bcbaf3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductBrokerAgreement": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "institution123"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "agreement456"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) for the institution.",
            "example": "DEUTDEDBXXX"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code where the institution is located.",
            "example": "DE"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement becomes effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the agreement record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the agreement record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a product broker agreement."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Schema containing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint in use.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-broker-agreement-search-product-broker-agreement"
        },
        "example": "product-broker-agreement-search-product-broker-agreement"
      },
      "X-Runtime-App": {
        "description": "The identifier for the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is required to access protected resources. Clients must include the JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}