{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card E-Commerce Gateway API",
    "description": "The Card E-Commerce Gateway API enables secure processing of electronic card transactions within e-commerce platforms. It allows businesses to facilitate payment gateway interactions, ensuring efficient authorizations and settlements. This API primarily serves online retailers and payment solution providers, offering a seamless integration to manage card payments. Key operations include transaction inquiries and status checks, empowering developers to deliver enhanced payment functionalities to their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve the status of a card payment for e-commerce.",
        "description": "This endpoint allows developers to fetch the payment status associated with a specific card transaction identified by the payment ID. It provides details on the transaction state and any related information necessary for order processing.",
        "operationId": "getCardEcommercePaymentStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving information via the card e-commerce gateway. It should be formatted as JSON and adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardEcommercePaymentStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response includes the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardEcommercePaymentStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardEcommercePaymentStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations related to the card payments in the e-commerce gateway. The expected input format is a string.",
        "example": "{}"
      },
      "GetCardEcommercePaymentStatusResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-223351"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the account from which the amount is debited.",
            "example": "ACC-233678"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the account to which the amount is credited.",
            "example": "ACC-381527"
          },
          "instructedAmount": {
            "description": "The amount that has been instructed for the transaction.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information related to the remittance.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a card payment operation in an e-commerce gateway.",
        "example": {
          "paymentId": "PAY-223351",
          "debtorAccountId": "ACC-233678",
          "creditorAccountId": "ACC-381527",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7398eda9-b7cc-58f0-9076-f1c393c54f0d",
            "correlationId": "4b03f76b-d704-5dbb-9561-0d7adc5dfe46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Represents the amount instructed for the payment transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the related requests or transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the payment took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint, used to track request routing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-get-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-get-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, allowing identification of the source application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token, which should be a JSON Web Token (JWT), to authorize and authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}