{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Certification Management API",
    "description": "The Employee Certification Management API enables organizations to effectively manage employee certifications within the banking industry. By utilizing this API, companies can streamline the process of certification submissions, ensuring that necessary qualifications are met and tracked. This endpoint is particularly useful for human resource departments and compliance teams looking to maintain up-to-date records of employee certifications. Typically, users include HR personnel, compliance officers, and managers who need to ensure that their teams are certified according to industry standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Create an Employee Certification",
        "description": "This endpoint allows the user to create a new certification for an employee within the human resource management system. Ensure that all the necessary employee and certification details are provided in the request body.",
        "operationId": "createEmployeeCertification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit employee certification information to the human resource management system. It should contain all necessary details related to the employee's certification, including relevant identifiers and any supporting data required by the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeCertificationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing a new employee certification entry.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeCertificationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeCertificationRequest": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-675026"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department where the employee works.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date the certification becomes effective (in ISO 8601 format).",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code for the employee's location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee will be working.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating employee certification in the operations module.",
        "example": {
          "employeeId": "EMP-675026",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "97ff4b92-3a2e-5f67-ab9a-b4956b07cc2d",
            "correlationId": "c90b0be7-34cf-5d44-8d22-4229cf6fd031",
            "idempotencyKey": "89ab6557-17b5-5d94-b8ed-3bf8c6ce42b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-105972"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests.",
            "example": "CORR123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "IDEMPOTENCY456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made (in ISO 8601 format).",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "HRSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "EmployeePortal"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing channel information."
      },
      "CreateEmployeeCertificationResponse_201": {
        "title": "Employee Certification Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-147250"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment tied to the employee certification.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the certification.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code of the country related to the employee.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the certification.",
            "example": "RES-749799"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee certification.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the certification was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the certification response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for employee certification operations, providing details of the certification process for an employee.",
        "example": {
          "employeeId": "EMP-147250",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-749799",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "47f3f888-38ed-5419-8826-8142a822210e",
            "correlationId": "c90b0be7-34cf-5d44-8d22-4229cf6fd031",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across services.",
            "example": "corr001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata schema containing additional information for the certification response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-081"
        },
        "example": "WF-081"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "d96db739-b0e5-42e2-b52f-e1145945c914"
        },
        "example": "d96db739-b0e5-42e2-b52f-e1145945c914"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8dd85a8c-19da-43bf-8834-ac3e7eba8d41"
        },
        "example": "8dd85a8c-19da-43bf-8834-ac3e7eba8d41"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-create-employee-certification"
        },
        "example": "employee-certification-create-employee-certification"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, which can help identify the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance associated with the request, allowing tracking of process flows.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-081"
        },
        "example": "WF-081"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Employee Onboarding and Access Provisioning"
        },
        "example": "Employee Onboarding and Access Provisioning"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8dd85a8c-19da-43bf-8834-ac3e7eba8d41"
        },
        "example": "8dd85a8c-19da-43bf-8834-ac3e7eba8d41"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, utilizing JSON Web Tokens (JWT) for secure access. Clients must include a valid JWT token in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}