{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payments Initiation API",
    "description": "The Domestic Payments Initiation API facilitates seamless transactions within the domestic payments ecosystem. It allows authorized users to initiate payments from one bank account to another, ensuring efficient and secure fund transfers. This API is particularly valuable for financial institutions and payment service providers looking to enhance their payment solutions. Typical consumers include banks and fintech companies aiming to streamline their payment processes and improve user experience. Ensuring compliance with regulations, this API promotes transparency and security in the payment initiation process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Initiate a domestic payment through PISP.",
        "description": "This endpoint allows users to initiate a domestic payment utilizing the Payment Initiation Service Provider (PISP). Ensure that all required parameters are provided to successfully complete the transaction.",
        "operationId": "createPispDomesticPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a domestic payment via the PISP (Payment Initiation Service Provider). It should contain all the necessary details required to process the payment such as the amount, payer details, and beneficiary information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispDomesticPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment initiated successfully and resource created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispDomesticPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispDomesticPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for initiating domestic payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "74057b4c-8858-5d2d-a213-50e903870ff9",
            "correlationId": "a319a954-8dcd-57c0-8034-e7b754d0cf1b",
            "idempotencyKey": "c2da8f6b-e5df-5c75-b795-31131ec38502",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-204174"
            }
          }
        }
      },
      "PaymentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Data related to the payment initiation."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation Details",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "INST123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment.",
            "example": "E2E123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "SEPA"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount to be instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "type": "object",
            "description": "Account information of the debtor.",
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "type": "object",
            "description": "Agent information for the creditor.",
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Schema representing the details for payment initiation."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The actual amount to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "The amount to be instructed for payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme used.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the debtor's account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the debtor account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the debtor's account."
      },
      "CreditorAgent": {
        "title": "Creditor Agent Information",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name of the creditor's account.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the creditor's agent.",
            "example": "DEUTDEDBXXX"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor's agent.",
            "example": "Deutsche Bank"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor's agent.",
            "example": "LEI123456789"
          },
          "PostalAddress": {
            "type": "object",
            "description": "Postal address of the creditor's agent.",
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Schema representing information related to the creditor's agent."
      },
      "Proxy": {
        "title": "Proxy Information",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification for the proxy.",
            "example": "proxy_identification"
          },
          "Code": {
            "type": "string",
            "description": "Code representing the proxy.",
            "example": "proxy_code"
          },
          "Type": {
            "type": "string",
            "description": "Type of the proxy.",
            "example": "email"
          }
        },
        "description": "Schema representing proxy details associated with an account."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business).",
            "example": "Business"
          }
        },
        "description": "Schema representing postal address details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique request identifier.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application generating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context for the request made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details of the channel through which the request is made."
      },
      "CreatePispDomesticPaymentResponse_201": {
        "title": "Domestic Payments Response Schema",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticPaymentId": {
                "type": "string",
                "description": "Unique identifier for the domestic payment.",
                "example": "DP123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent related to this payment.",
                "example": "C123456"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the payment was created.",
                "example": "2023-10-05T14:48:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the domestic payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-10-05T15:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the payment.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time of execution for the payment.",
                "example": "2023-10-06T10:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time of settlement for the payment.",
                "example": "2023-10-06T11:00:00Z"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "Details of any charges related to the payment.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/PaymentInitiation"
              },
              "metadata": {
                "type": "object",
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "example": {
              "DomesticPaymentId": "PAY-938476",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD"
                  }
                }
              }
            }
          }
        },
        "description": "Schema representing the response for a domestic payment operation.",
        "example": {
          "Data": {
            "DomesticPaymentId": "PAY-938476",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "3a091f84-9c8a-552e-a9df-6ad12ddb64f6",
            "correlationId": "a319a954-8dcd-57c0-8034-e7b754d0cf1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Payment Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "SR001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Insufficient funds"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "/statuses/insufficient-funds"
          }
        },
        "description": "Schema representing a reason for the payment status."
      },
      "Refund": {
        "title": "Refund Details",
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Account information where the refund is processed.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Schema representing refund details of a domestic payment."
      },
      "Charge": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge (e.g., debtor, creditor).",
            "example": "Debtor"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "Transaction Fee"
          },
          "Amount": {
            "type": "object",
            "description": "Amount and currency details of the charge.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing details of a charge related to a payment."
      },
      "Account": {
        "title": "Account Information",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme of the account.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any secondary identifier for the account.",
            "example": "123456"
          },
          "Proxy": {
            "type": "object",
            "description": "Proxy details associated with the account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing account information."
      },
      "Amount": {
        "title": "Amount and Currency",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "EUR"
          }
        },
        "description": "Schema representing an amount along with its currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "corr123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T15:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing has occurred.",
            "example": "EU"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-020"
        },
        "example": "WF-020"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "832e3eb9-aef6-4cf3-8459-a27c6bf0335f"
        },
        "example": "832e3eb9-aef6-4cf3-8459-a27c6bf0335f"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cb0ff7f5-7e42-4550-95d6-033f2af663eb"
        },
        "example": "cb0ff7f5-7e42-4550-95d6-033f2af663eb"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint processing the domestic payment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-domestic-payment"
        },
        "example": "payment-initiation-openapi-initiate-domestic-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow under which the domestic payment operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-020"
        },
        "example": "WF-020"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with this payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Payment Recall Reversal and Investigation"
        },
        "example": "Payment Recall Reversal and Investigation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cb0ff7f5-7e42-4550-95d6-033f2af663eb"
        },
        "example": "cb0ff7f5-7e42-4550-95d6-033f2af663eb"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Ensure to include the token in the Authorization header as 'Bearer {token}' for API requests. JWTs are commonly used for secure authentication and information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}