{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Compliance API",
    "description": "The Financial Compliance API enables organizations to access and verify compliance-related information in the financial sector. This endpoint allows users to retrieve detailed compliance data necessary for regulatory reporting and audits. Typical consumers include compliance officers, financial analysts, and regulatory bodies seeking to ensure adherence to legal standards. By utilizing this API, businesses can efficiently manage their compliance requirements and improve overall governance in their financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-compliance": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Retrieve financial compliance information.",
        "description": "This endpoint allows you to fetch the latest financial compliance data for the organization, ensuring adherence to relevant regulations and standards.",
        "operationId": "getFinancialCompliance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial compliance information for the specified operations. It should contain the necessary parameters required for querying the financial compliance data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialComplianceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning financial compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialComplianceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialComplianceRequest": {
        "title": "Financial Compliance Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for the GET operation related to financial compliance queries.",
        "example": "{}"
      },
      "GetFinancialComplianceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of financial records.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialRecord"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial compliance operation GET request.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ce3c723a-220f-5b1d-b14d-65c4aef2d1e4",
            "correlationId": "b6351ae8-91ca-5169-bb8b-f8464218766f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialRecord": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The ID of the legal entity."
          },
          "ledgerId": {
            "type": "string",
            "description": "The ID of the ledger."
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial record."
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The monetary amount.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the monetary amount.",
                "example": "string"
              }
            },
            "description": "Amount details including value and currency."
          },
          "postingDate": {
            "type": "string",
            "description": "The date the record was posted."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the financial record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents a financial record with associated details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the request results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request through systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-compliance-search-financial-compliance"
        },
        "example": "financial-compliance-search-financial-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This is a security scheme that uses the HTTP Bearer authentication method. Clients must include a valid JWT (JSON Web Token) in the Authorization header when making requests to endpoints that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}