{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Authentication Management API",
    "description": "The Partner Authentication Management API enables businesses to manage authentication processes for partner integrations effectively. This endpoint allows for updating authentication details related to partner accounts, ensuring secure and streamlined access. Common use cases include managing access permissions and updating credentials for partner applications. This API serves developers involved in enhancing partner collaboration while maintaining security standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/authentication": {
      "put": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Update Partner Authentication",
        "description": "This endpoint allows clients to update the authentication details of a partner. Ensure that you include the necessary credentials and parameters to successfully modify the partner's authentication information.",
        "operationId": "updatePartnerAuthentication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for authenticating a partner. This should include the necessary credentials for the authentication process, formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartnerAuthenticationRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Authentication request processed successfully with no response body.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePartnerAuthenticationResponse_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePartnerAuthenticationRequest": {
        "title": "Partner Authentication Update Request",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "partnerSecret": {
            "type": "string",
            "description": "The current secret associated with the partner.",
            "example": "STANDARD"
          },
          "newPartnerSecret": {
            "type": "string",
            "description": "The new secret to be set for the partner.",
            "example": "STANDARD"
          },
          "immediate": {
            "type": "boolean",
            "description": "Indicates whether the update should be performed immediately.",
            "example": true
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body required for updating partner authentication details.",
        "example": {
          "partnerId": "STANDARD",
          "partnerSecret": "STANDARD",
          "newPartnerSecret": "STANDARD",
          "immediate": true,
          "requestContext": {
            "requestId": "129baf23-b9ee-5c35-8f2b-5018241a4d18",
            "correlationId": "61a8c9cc-79b7-5014-a867-dfa52299096f",
            "idempotencyKey": "f6d7055a-551f-5169-a104-593ad6a71eb0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-800598"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace related requests across systems.",
            "example": "correlation123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the operation can be repeated without side effects.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "system1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "app1"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the request.",
            "example": "device123"
          }
        },
        "description": "This schema contains information about the channel through which the request was made."
      },
      "UpdatePartnerAuthenticationResponse_204": {
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Metadata providing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful PUT operation on partners authentication with a 204 status code.",
        "example": {
          "metadata": {
            "responseId": "53ab964c-882f-5435-880b-d4d28b36e453",
            "correlationId": "61a8c9cc-79b7-5014-a867-dfa52299096f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others in the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-partner-secret"
        },
        "example": "open-finance-api-modify-partner-secret"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token authentication method, where the client must provide a JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}