{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trading Book Oversight API",
    "description": "The Trading Book Oversight API facilitates the retrieval of trading book data for wholesale banking operations. This API helps compliance and risk management teams to monitor and assess the activities captured within the trading books. Typically utilized by financial analysts and compliance officers, this resource allows users to ensure adherence to regulatory standards and internal policies. By providing insights into trading activities, the API supports decision-making processes and risk assessments effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-book-oversight": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve trading book oversight information.",
        "description": "Fetch detailed oversight data for trading books to analyze performance, risk, and compliance in wholesale trading activities.",
        "operationId": "getTradingBookOversight",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data pertaining to the wholesale trading trading book oversight. It includes necessary parameters to specify the request context and desired information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradingBookOversightRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the trading book oversight data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradingBookOversightResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradingBookOversightRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the 'GET' operation in the wholesale trading trading book oversight API.",
        "example": "{}"
      },
      "GetTradingBookOversightResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trading book entries.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingBookEntry"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the trading book oversight operation. Contains trading book entries along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "88ed2d2d-93da-5441-9895-c90101080687",
            "correlationId": "3c78e972-d135-5a4c-84ba-965df12023f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingBookEntry": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier of the trading book.",
            "example": "TB123"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the financial instrument.",
            "example": "INST456"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, either 'buy' or 'sell'.",
            "example": "buy"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument traded.",
            "format": "int32",
            "example": 100
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the trading record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the entry was last updated.",
            "example": "2023-01-01T01:00:00Z"
          }
        },
        "description": "Represents an entry in the trading book."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 150.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the limit price for a trading entry."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page, i.e., number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for pagination.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace requests across services.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that was executed within the wholesale trading API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-book-oversight-search-trading-book-oversight"
        },
        "example": "trading-book-oversight-search-trading-book-oversight"
      },
      "X-Runtime-App": {
        "description": "This header indicates the specific application runtime environment that was used to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). Clients are required to include a bearer token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}