{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Treasury Analysis Submission API",
    "description": "The Corporate Treasury Analysis Submission API facilitates the submission of comprehensive treasury analyses for corporate banking operations. This endpoint enables users to upload analysis data, which can be utilized by treasury professionals and financial analysts to assess liquidity, manage risk, and optimize cash flow. Typical consumers include corporate treasury departments and financial institutions looking to enhance their treasury management processes. By integrating this API, organizations can streamline their analysis workflows and improve financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury-analysis/analyses": {
      "post": {
        "tags": [
          "Corporate Treasury"
        ],
        "summary": "Create a new corporate treasury analysis.",
        "description": "This endpoint allows users to create new corporate treasury analyses by submitting the required data. It is essential for organizations to manage and assess their treasury operations effectively.",
        "operationId": "createCorporateTreasuryAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new corporate treasury analysis. This should include all necessary information to generate the requested analysis, such as financial metrics, parameters, and any specific configurations related to the treasury analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateTreasuryAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the request and returned the analysis results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateTreasuryAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateTreasuryAnalysisRequest": {
        "title": "Corporate Treasury Analysis Request Body",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-286297"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-553400"
          },
          "notionalAmount": {
            "description": "The amount involved in the transaction along with the currency.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body expected when creating a new corporate treasury analysis operation.",
        "example": {
          "portfolioId": "PORT-286297",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-553400",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "e8b9fe71-1305-5b34-8ab0-d4421b0341d0",
            "correlationId": "f98b5471-035d-5874-904e-1b9b9497097e",
            "idempotencyKey": "9bd18486-a713-56b1-8b5e-a0dbdb71687d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-827036"
            }
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the transaction.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the monetary amount, following ISO 4217.",
            "example": "USD"
          }
        },
        "description": "This schema describes the notional amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "requestId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used to correlate logs across services.",
            "example": "correlationId456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotencyKey789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "sourceSystemName"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request was initiated.",
            "example": "sourceApplicationName"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema includes various identifiers and timestamps related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channelId123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "deviceId456"
          }
        },
        "description": "This schema provides details about the channel through which the request was made."
      },
      "CreateCorporateTreasuryAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-842642"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument involved in the analysis.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty in the transaction.",
            "example": "PARTY-104917"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the specific analysis performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis (e.g., pending, completed).",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "A timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings that resulted from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for this specific API response.",
                "example": "resp-111213"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier for tracking the request through various services.",
                "example": "corr-141516"
              },
              "generatedAt": {
                "type": "string",
                "description": "A timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region in which the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata associated with the response, providing additional context.",
            "example": {
              "responseId": "dab14dc2-7dd3-5d88-a800-88933dd3d111",
              "correlationId": "f98b5471-035d-5874-904e-1b9b9497097e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response object for the corporate treasury analysis operation, providing details about the analysis results.",
        "example": {
          "portfolioId": "PORT-842642",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-104917",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "dab14dc2-7dd3-5d88-a800-88933dd3d111",
            "correlationId": "f98b5471-035d-5874-904e-1b9b9497097e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric that was analyzed.",
            "example": "Return on Investment"
          },
          "value": {
            "type": "number",
            "description": "The calculated value for the metric.",
            "example": 5.5
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the value (e.g., percent, dollars).",
            "example": "percent"
          }
        },
        "description": "Represents a finding from the analysis, containing the metric evaluated and its corresponding value and unit."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the specific endpoint that was accessed for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-analysis-analyze-corporate-treasury-analysis"
        },
        "example": "corporate-treasury-analysis-analyze-corporate-treasury-analysis"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication, which requires a valid JSON Web Token (JWT) to authenticate requests. The token should be included in the Authorization header of the HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}