{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Current Account Retrieval API",
    "description": "The Corporate Current Account Retrieval API enables businesses to access detailed information about specific corporate current accounts. This endpoint supports queries for balances, transactions, and account details, thereby facilitating financial management for corporate clients. Financial institutions, accounting systems, and corporate finance teams are typical consumers of this functionality, aiming to streamline account tracking and reporting. By leveraging this API, organizations can ensure effective cash flow management and informed decision-making regarding their financial resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-current-account/{param1}": {
      "get": {
        "tags": [
          "Corporate Banking"
        ],
        "summary": "Retrieve corporate current account details by ID.",
        "description": "Fetch the specific details of a corporate current account using its unique identifier. This operation allows users to view account information such as balance, transaction history, and account status.",
        "operationId": "getCorporateCurrentAccountById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch information related to the corporate current account identified by ACC-200045. The request retrieves account-specific operations and related data in a structured JSON format. Proper authorization and valid account credentials are required to access this endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateCurrentAccountByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate current account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateCurrentAccountByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateCurrentAccountByIdRequest": {
        "type": "string",
        "description": "Request body schema for the GET operation on Corporate Current Account Operations.",
        "example": "{}"
      },
      "GetCorporateCurrentAccountByIdResponse_200": {
        "title": "Corporate Current Account Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-539579"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the corporate current account.",
            "example": "ACC-290797"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details regarding the principal amount of the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term duration of the account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment associated with the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose for which the corporate current account is established.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency at which account statements are generated.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether an overdraft is allowed on the account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the account record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the account was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the account record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate current account operation.",
        "example": {
          "customerId": "CUST-539579",
          "accountId": "ACC-290797",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d9b58777-5d90-54e6-9c08-e98e1af134dd",
            "correlationId": "21afa1e0-a438-5dd5-8f5b-b85bf80a7da2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount Information",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount that is the principal.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and currency details."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr-345678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T14:21:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata about the account response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-current-account-get-corporate-current-account"
        },
        "example": "corporate-current-account-get-corporate-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, which can aid in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}