{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Collections Reporting API",
    "description": "The Card Collections Reporting API provides stakeholders with essential insights into card collection activities within the banking operational services. By leveraging this API, users can access detailed reports and metrics regarding card collections, facilitating financial analysis and decision-making. Typical consumers of this API include financial analysts, compliance officers, and banking operations teams seeking to monitor performance and optimize collections strategies. This API is crucial for improving operational efficiency and enhancing revenue management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve all card collections.",
        "description": "This endpoint allows you to access the complete list of card collections available in the operational services. You can use it to view details about each collection and manage them accordingly.",
        "operationId": "getCardCollections",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving card collections in the operational services. The body should adhere to the defined schema and provide the necessary criteria for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCollectionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of card collections.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCollectionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCollectionsRequest": {
        "type": "string",
        "description": "A request body schema for the card collections operational services GET operation.",
        "example": "{}"
      },
      "GetCardCollectionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card collection items.",
            "example": [
              {
                "cardAccountId": "ACC-750943",
                "customerId": "CUST-271097",
                "daysPastDue": 1,
                "outstandingBalance": {
                  "amount": 100,
                  "currency": "USD"
                },
                "collectionStrategy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCollectionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving operational card collections.",
        "example": {
          "items": [
            {
              "cardAccountId": "ACC-750943",
              "customerId": "CUST-271097",
              "daysPastDue": 1,
              "outstandingBalance": {
                "amount": 100,
                "currency": "USD"
              },
              "collectionStrategy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62acb9be-c6ed-5b88-b2a4-e814d9596776",
            "correlationId": "a77a5a0a-e69e-59ce-b3cf-57ca6467a594",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCollectionItem": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "Identifier for the card account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the card account.",
            "example": "string"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "Number of days the account is past due.",
            "format": "int32",
            "example": 0
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "Strategy used for collection of this account.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this record.",
            "example": "string"
          }
        },
        "description": "Individual card collection item."
      },
      "OutstandingBalance": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the outstanding balance.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the outstanding balance amount.",
            "example": "string"
          }
        },
        "description": "The outstanding balance details for a card account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-search-card-collections"
        },
        "example": "card-collections-search-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses Bearer authentication with a JSON Web Token (JWT) for secure access to the API. This scheme requires the client to include a valid JWT in the Authorization header as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}