{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Scheduled Payments API",
    "description": "The International Scheduled Payments API enables businesses to automate and manage recurring payments for international transactions efficiently. Through this API, users can schedule payments to be executed at predetermined intervals, ensuring timely and seamless transfers across borders. This capability is essential for businesses dealing with subscriptions, services, or any recurring commitments that necessitate foreign currency transactions. Typical consumers include financial institutions, e-commerce platforms, and service providers that require reliable payment scheduling solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Initiate an international scheduled payment.",
        "description": "This endpoint allows users to initiate a scheduled payment to an international recipient. It is designed for financial institutions and payment service providers to facilitate cross-border transactions efficiently and securely.",
        "operationId": "createInternationalScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating an international scheduled payment. This should contain all necessary details including amount, currency, and recipient information, as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, payment scheduled.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalScheduledPaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalScheduledPaymentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalScheduledPaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to initiate international scheduled payments.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "d3279cb2-44dc-5769-9f5c-1465daff8cf9",
            "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
            "idempotencyKey": "25ecc5ca-3cf7-576e-b34e-3c95b1390c23",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-215121"
            }
          }
        }
      },
      "InternationalScheduledPaymentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent related to this payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Contains the data required to initiate an international scheduled payment."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identification for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for the end-to-end transaction.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument code used for the payment.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the instruction for processing.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the transaction.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for the transaction execution.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code of the payment recipient's country.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Details regarding the payment initiation."
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount to be transferred.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "EUR"
          }
        },
        "description": "Represents the amount instructed for the payment."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency in which the unit of account is defined.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate for the transaction.",
            "example": 0.85
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate (e.g., 'fixed', 'floating').",
            "example": "fixed"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "The identifier for the contract related to the exchange rate.",
            "example": "CONTRACT123"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The expiration date and time for the exchange rate.",
            "example": "2023-11-01T12:00:00Z"
          }
        },
        "description": "Contains information about the currency exchange rate used for the payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme for the account identification.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the debtor's account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the debtor's account.",
            "example": "string"
          }
        },
        "description": "Details of the debtor's account used for the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application initiating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel through which the request was made.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateInternationalScheduledPaymentResponse_201": {
        "title": "International Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentData"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema defines the response structure for the international scheduled payments operation.",
        "example": {
          "Data": {
            "paymentId": "PAY-138605",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "f92bbe18-2e14-5098-9cab-a3a5a0db06a8",
            "correlationId": "d5b4a1cb-4e49-57a5-906a-a5ca6b76a53a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentData": {
        "title": "Payment Data",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "12345"
          },
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent related to the payment.",
            "example": "67890"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the payment was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the payment.",
            "example": "Pending"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the payment status was last updated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the payment.",
            "example": [
              {
                "code": "001",
                "description": "Payment is under review.",
                "Path": "/status/review"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time for the payment execution.",
            "example": "2023-10-02T12:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected date and time for the payment settlement.",
            "example": "2023-10-03T12:00:00Z"
          },
          "Refund": {
            "$ref": "#/components/schemas/Refund"
          },
          "Charges": {
            "type": "array",
            "description": "Details about the charges associated with the payment.",
            "example": [
              {
                "ChargeBearer": "SHAR",
                "Type": "Fee",
                "Amount": {
                  "Amount": "5.00",
                  "Currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "Initiation": {
            "$ref": "#/components/schemas/Initiation"
          }
        },
        "description": "Contains detailed information about the initiated payment."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the reason.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "A human-readable description of the reason.",
            "example": "Payment is under review."
          },
          "Path": {
            "type": "string",
            "description": "The path associated with the status reason, if applicable.",
            "example": "/status/review"
          }
        },
        "description": "Represents a reason associated with the payment status."
      },
      "Refund": {
        "title": "Refund Information",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/RefundAccount"
          }
        },
        "description": "Contains details about the refund process for the payment."
      },
      "RefundAccount": {
        "title": "Refund Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme used for the account.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any additional identification related to the account.",
            "example": "Ref1234"
          }
        },
        "description": "Details about the account to which the refund will be processed."
      },
      "Charge": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "SHAR"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied.",
            "example": "Fee"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the charge.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the charge amount.",
                "example": "USD"
              }
            },
            "description": "The amount and currency of the charge."
          }
        },
        "description": "Represents a charge applied to the payment."
      },
      "Initiation": {
        "title": "Initiation Details",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "A unique identifier for the payment instruction.",
            "example": "INST123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier used for cross-border payment.",
            "example": "E2E12345678"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Specifies the local instrument for the payment.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the payment instruction.",
            "example": "HIGH"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment initiation.",
            "example": "Invoice Payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who is responsible for the payment charges.",
            "example": "SHAR"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for the execution of the payment.",
            "example": "2023-10-04T12:00:00Z"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is to be made.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "The country code for the payment destination.",
            "example": "DE"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Contains information required to initiate the payment."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating the request with the response.",
            "example": "corr567"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:10:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the payment occurred.",
            "example": "EU"
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-international-scheduled-payment"
        },
        "example": "payment-initiation-openapi-initiate-international-scheduled-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication protocol, allowing clients to authenticate using a JSON Web Token (JWT). The JWT should be included in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}