{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Reconciliation Management API",
    "description": "The Account Reconciliation Management API facilitates the process of updating and finalizing account reconciliation records. This endpoint allows financial institutions and businesses to adjust reconciliation details efficiently, ensuring that all transactions are accurately reflected in their accounting systems. Typical consumers of this API include financial analysts and accounting software developers who seek to automate and streamline their reconciliation workflows. By using this API, organizations can maintain precise financial records and enhance their reporting capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/account-reconciliation/{param1}": {
      "patch": {
        "tags": [
          "Account Management"
        ],
        "summary": "Update account reconciliation details.",
        "description": "This endpoint allows you to patch the details of a specific account reconciliation identified by the unique code ACC-200045, making it easy to modify and update relevant information as needed.",
        "operationId": "patchAccountReconciliation_ACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update account reconciliation details for a specified account. Ensure that the request adheres to the defined schema to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchAccountReconciliation_ACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The account reconciliation update was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchAccountReconciliation_ACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchAccountReconciliation_ACC200045Request": {
        "title": "Account Reconciliation Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/AccountReconciliationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being made to the account.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation on account reconciliation.",
        "example": {
          "changes": {
            "accountId": "ACC-911740",
            "customerId": "CUST-121479",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1de69208-7998-5353-957c-1592c63ea495",
            "correlationId": "95fc17fc-332f-547a-bcd3-4bd7929b2101",
            "idempotencyKey": "cbb26877-f918-52f2-b682-e593cbbd46ea",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-464217"
            }
          }
        }
      },
      "AccountReconciliationChanges": {
        "title": "Account Reconciliation Changes",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account being updated.",
            "example": "ACC-200045"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the account.",
            "example": "CUST-001"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger associated with this account.",
            "example": "2023-09-30"
          }
        },
        "description": "Schema representing the details of changes made to an account reconciliation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "CORR-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotent operations to avoid duplicate processing.",
            "example": "IDEMP-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "AppB"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context in which the request was made."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel used.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., API, UI, etc.).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request, if applicable.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "PatchAccountReconciliation_ACC200045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on account reconciliation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aafe409d-9784-5aa9-b47e-4f2f02a412f7",
            "correlationId": "95fc17fc-332f-547a-bcd3-4bd7929b2101",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata providing additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-reconciliation-update-account-reconciliation"
        },
        "example": "account-reconciliation-update-account-reconciliation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which requires the client to include a token in the Authorization header of requests. The token should be in JWT (JSON Web Token) format, providing a way to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}