{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Procurement API",
    "description": "The Enterprise Procurement API facilitates access to vital procurement information for enterprises. It enables users to retrieve data related to procurement processes, sourcing, and contract management seamlessly. Typical consumers of this API include procurement managers, finance teams, and supply chain analysts looking to optimize purchasing strategies. By integrating this API, organizations can enhance decision-making with real-time data insights, driving efficient procurement operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement": {
      "get": {
        "tags": [
          "Procurement"
        ],
        "summary": "Retrieve procurement details from enterprise services.",
        "description": "This endpoint allows clients to fetch comprehensive procurement details from the enterprise services module, providing vital information needed for procurement processes and decision-making.",
        "operationId": "getProcurementDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve procurement information from the enterprise services. Ensure that the request body is structured according to the defined schema for accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcurementDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the procurement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcurementDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcurementDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the procurement services, specifically formatted as application/json.",
        "example": "{}"
      },
      "GetProcurementDetailsResponse_200": {
        "title": "Procurement Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of procurement items.",
            "example": [
              {
                "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-374563",
                "categoryCode": "CODE-300",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcurementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the request.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the procurement operations GET request, containing a list of procurement items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "requestId": "51fbb978-684c-53ed-9ea5-8f8abf5aa1d3",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-374563",
              "categoryCode": "CODE-300",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "19657d2a-a2fc-5d19-82bd-c6d490207e1e",
            "correlationId": "5148b7f5-99b8-5cdf-b5de-afaba5f722e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcurementItem": {
        "title": "Procurement Item",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-12345"
          },
          "supplierId": {
            "type": "string",
            "description": "The unique identifier of the supplier.",
            "example": "sup-54321"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the procurement.",
            "example": "cost-001"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The monetary value of the procurement.",
                "example": 1500.0
              },
              "currency": {
                "type": "string",
                "description": "The currency in which the amount is denominated.",
                "example": "USD"
              }
            },
            "description": "Amount details of the procurement item."
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person who requested the procurement.",
            "example": "employee-001"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The unique identifier for the associated purchase order.",
            "example": "po-0001"
          },
          "categoryCode": {
            "type": "string",
            "description": "The code that classifies the procurement category.",
            "example": "cat-002"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The level of approval required for the procurement.",
            "example": "level-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the item was last updated.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Represents a single procurement item in the procurement operations response."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details regarding pagination of the response results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response of the procurement operations request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint being accessed, representing the specific point of interaction in the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-search-procurement"
        },
        "example": "procurement-search-procurement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, providing context about which application is processing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must provide a valid JWT in the Authorization header using the 'Bearer' format to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}