{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fixed Asset Register Validation API",
    "description": "The Fixed Asset Register Validation API is designed to facilitate the validation of asset records within the enterprise's fixed asset register. This endpoint allows users to submit specific parameters for checking the accuracy and completeness of asset data, ensuring compliance and proper financial reporting. Typical consumers include finance teams, asset managers, and auditors who require reliable tools for asset verification. By integrating this API, organizations can streamline their asset management processes and enhance data integrity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register/{param1}/validations": {
      "post": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Validate a fixed asset register entry.",
        "description": "This endpoint allows you to validate a specific entry in the fixed asset register identified by RES-100045. Ensure the data adheres to required business rules for proper asset management.",
        "operationId": "validateFixedAssetRegisterResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate the fixed asset register entry for the specified asset ID (RES-100045). It contains the necessary information and parameters required for the validation process, ensuring that all data meets the expected criteria before proceeding with any further operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ValidateFixedAssetRegisterResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and validation passed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ValidateFixedAssetRegisterResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ValidateFixedAssetRegisterResource100045Request": {
        "title": "Fixed Asset Register Validation Request",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "Array of validation scope strings.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "validationScopeExample"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the validation is requested, formatted as an ISO 8601 string.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or entity that requested the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the validation request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for validating fixed asset register operations.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "182293ae-fade-5b66-86d0-f953829d9943",
            "correlationId": "d2579924-048c-5221-bac5-000a44f552e2",
            "idempotencyKey": "2546098a-71e0-554f-8fe7-359fa2218f9d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-203921"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "correlation-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "idempotent-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made, formatted as an ISO 8601 string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system from which the request originated.",
            "example": "system-xyz"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that sent the request.",
            "example": "app-123"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "ValidateFixedAssetRegisterResource100045Response_200": {
        "title": "Fixed Asset Register Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action being processed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the Fixed Asset Register validation operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6b3c8e44-b0d0-5711-b75b-db5d39691f96",
            "correlationId": "d2579924-048c-5221-bac5-000a44f552e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response of the operation.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate log entries across multiple services or operations.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "exampleRegion"
          }
        },
        "description": "Schema representing metadata information related to a processed operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed, which can help in tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-validate-fixed-asset-register"
        },
        "example": "fixed-asset-register-validate-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request. This header is useful for identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. It requires the use of a JSON Web Token (JWT) as a means of securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}