{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Building Maintenance Request API",
    "description": "The Building Maintenance Request API enables users to submit maintenance requests for facilities effectively. This API serves as a primary resource for facility managers and maintenance teams to track and manage building maintenance issues. Typical use cases include reporting repairs, scheduling maintenance tasks, and monitoring the status of ongoing requests. By providing a streamlined process for submitting and managing requests, this API enhances operational efficiency and ensures timely attention to maintenance needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/building-maintenance": {
      "post": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Create a building maintenance request.",
        "description": "This endpoint allows you to submit a request for maintenance services in a facility's building. Ensure that all required information is provided to facilitate a prompt response.",
        "operationId": "createBuildingMaintenanceRequest",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating building maintenance operations. The body must adhere to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBuildingMaintenanceRequestRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Building maintenance request created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBuildingMaintenanceRequestResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBuildingMaintenanceRequestRequest": {
        "title": "Building Maintenance Request Body",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-767235"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the maintenance is scheduled.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for maintenance.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where maintenance needs to occur.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance to be performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of maintenance in minutes.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a building maintenance operation.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-767235",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "requestContext": {
            "requestId": "25575c5e-3b71-56eb-bc88-5a78adeee593",
            "correlationId": "4327ba64-75ae-5dc7-a639-c5b98eddd61f",
            "idempotencyKey": "f7ddf60f-23fc-5400-80ca-2576db82655c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-727733"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "FacilityManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-004"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., mobile, web).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-005"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateBuildingMaintenanceRequestResponse_201": {
        "title": "Building Maintenance Operation Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-376943"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-466623"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Response schema for the building maintenance operations.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-376943",
          "vendorId": "STANDARD",
          "resourceId": "RES-466623",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ce03f09a-a8c8-5896-990b-7c4d349aa632",
            "correlationId": "4327ba64-75ae-5dc7-a639-c5b98eddd61f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-303"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to track the correlation of related operations.",
            "example": "correlation-404"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called. This value is unique for each request and helps trace the request in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "building-maintenance-create-building-maintenance"
        },
        "example": "building-maintenance-create-building-maintenance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is provided in the `Authorization` header for authentication purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}