{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Information Retrieval API",
    "description": "The Loan Information Retrieval API allows users to access detailed information about specific loans using a unique loan identifier. This endpoint caters to financial institutions, customer service representatives, and developers who need to retrieve and display loan data efficiently. By leveraging this API, users can quickly obtain insights into loan terms, payment history, and current status, enhancing customer engagement and operational efficiency. Ideal for integration into banking applications and services, this API streamlines the management of loan-related inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/loan/{loanId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan details for a specific loan ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific loan, identified by its unique loan ID. It provides insights into loan terms, interest rates, and repayment schedules to help users understand their loan better.",
        "operationId": "getDepositLendingLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters needed to retrieve details for loan LOAN-500045. It specifies the conditions and identifiers necessary for processing the loan information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDepositLendingLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDepositLendingLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDepositLendingLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the loan resource. It should contain a JSON string representation of the loan data.",
        "example": "{}"
      },
      "GetDepositLendingLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-418159"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "ACC-530888"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details about the principal amount of the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the loan response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching loan details.",
        "example": {
          "customerId": "CUST-418159",
          "accountId": "ACC-530888",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "557a327f-4d83-58e1-9232-42115607a0d3",
            "correlationId": "041f9be9-3194-5ae7-9b50-199b4ac4eda2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the loan amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and currency for the loan."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint being accessed in the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-get-loan"
        },
        "example": "loan-get-loan"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application context of the API request, providing insights into the application responsible for processing it.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). Include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}