{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Aggregation API",
    "description": "The Customer Aggregation API facilitates the retrieval of consolidated customer data from various sources. This API allows businesses to access comprehensive insights on their customer base, enabling effective decision-making and personalized service strategies. It serves as a valuable resource for data analysts, marketing teams, and customer relationship managers who seek to improve engagement and retention. By aggregating customer information, organizations can uncover trends and opportunities for growth.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve a list of customers.",
        "description": "This endpoint allows you to fetch a list of all customers in the system, providing details such as their names, contact information, and associated accounts.",
        "operationId": "getCustomers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve customer information. This structure is used to specify the criteria for fetching customer data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning customer data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomersRequest": {
        "type": "string",
        "description": "This schema represents the request body content for retrieving customer operations.",
        "example": "{}"
      },
      "GetCustomersResponse_200": {
        "title": "Get Customers Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of customers found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of customers being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more customers are available beyond the displayed list.",
            "example": true
          },
          "customers": {
            "type": "array",
            "description": "List of customer details.",
            "example": [
              {
                "id": "STANDARD",
                "username": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "phone": "+1-212-555-0147",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "createdDate": "2026-09-15",
                "lastModifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Customer"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving customers information.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "customers": [
            {
              "id": "STANDARD",
              "username": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "createdDate": "2026-09-15",
              "lastModifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "e56e6657-656e-578b-a952-e021f3c8d5c1",
            "correlationId": "c6d02511-f062-53b6-819f-025a43e869ec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "username": {
            "type": "string",
            "description": "Username of the customer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the customer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of customer.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the customer was created.",
            "example": "string"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "The date when the customer was last modified.",
            "example": "string"
          }
        },
        "description": "Details of a customer."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customers"
        },
        "example": "open-finance-api-get-customers"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication standard, leveraging JSON Web Tokens (JWT) to secure the API. Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}