{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Current Account Management API",
    "description": "The Corporate Current Account Management API enables businesses to efficiently manage their corporate banking needs. This API facilitates the creation and setup of corporate current accounts, allowing organizations to streamline their financial operations. Typical consumers include corporate finance teams and banking applications that require account management functionality. Developers can integrate this API to enhance features related to account creation, improve user onboarding, and support financial transactions seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-current-account": {
      "post": {
        "tags": [
          "Corporate Deposits"
        ],
        "summary": "Initiates a deposit for a corporate current account.",
        "description": "This operation allows users to initiate a deposit transaction into a corporate current account, facilitating the efficient management of corporate funds.",
        "operationId": "createCorporateCurrentAccountDeposit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a corporate current account transaction. Ensure that all required fields are correctly provided to facilitate the processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateCurrentAccountDepositRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for the corporate current account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateCurrentAccountDepositResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateCurrentAccountDepositRequest": {
        "title": "Corporate Current Account Operations Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-995069"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-658151"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product offered.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Contains the principal amount and its currency.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "How often statements are issued.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates if an overdraft is allowed on the account.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for operations related to a corporate current account, including customer and account details as well as lending information.",
        "example": {
          "customerId": "CUST-995069",
          "accountId": "ACC-658151",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "requestContext": {
            "requestId": "96f90e97-28df-54be-b556-b91f4880de95",
            "correlationId": "e8a39bc5-6038-55a0-ae98-3333c7e36ee0",
            "idempotencyKey": "502c8876-0fbe-5563-8ecf-62235e16e194",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-770922"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount and Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount and the currency used."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating logs across services.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to identify the idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details of the request, including correlation and source information."
      },
      "Channel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., Mobile, Web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateCorporateCurrentAccountDepositResponse_201": {
        "title": "Corporate Current Account Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-119845"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-603254"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the operation.",
            "example": "RES-591415"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation (e.g., successful, failed).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "This schema represents the response object returned after a successful operation on a corporate current account.",
        "example": {
          "customerId": "CUST-119845",
          "accountId": "ACC-603254",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-591415",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "01d7950d-aa4c-5c8d-809f-da3bcb7aecad",
            "correlationId": "e8a39bc5-6038-55a0-ae98-3333c7e36ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used for correlating logs and events across different services.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "US-East-1"
          }
        },
        "description": "This schema contains metadata related to the operation performed on the account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-current-account-create-corporate-current-account"
        },
        "example": "corporate-current-account-create-corporate-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An HTTP authentication scheme that uses JSON Web Tokens (JWT) for securing API endpoints. Clients must include a valid bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}