{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fiduciary Agreement Management API",
    "description": "The Fiduciary Agreement Management API facilitates the creation and management of fiduciary agreements between clients and financial institutions. This API allows users to initiate new agreements, ensuring regulatory compliance and transparency in financial operations. Typical consumers include banking institutions and financial service providers looking to streamline their fiduciary agreement processes. By offering a structured approach to agreement management, the API enhances operational efficiency and client satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a fiduciary agreement for deposit lending.",
        "description": "Initiate a new fiduciary agreement within the deposit lending service. This endpoint allows you to establish a fiduciary relationship that governs the handling and management of deposit funds.",
        "operationId": "createFiduciaryAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a fiduciary agreement for deposit lending. It should contain all necessary details required to establish the agreement between the parties involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFiduciaryAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fiduciary agreement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFiduciaryAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFiduciaryAgreementRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-317701"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the fiduciary agreement.",
            "example": "ACC-270608"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the financial product involved in the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount to be involved in the fiduciary agreement.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the agreement in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the fiduciary agreement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a fiduciary agreement in a deposit lending operation.",
        "example": {
          "customerId": "CUST-317701",
          "accountId": "ACC-270608",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "a43e6d4d-b29f-5b86-974d-474a1ddf6af9",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "idempotencyKey": "07d66d4f-59b0-592d-9522-6200b629432f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-953429"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money for the principal.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the principal amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "CORR789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key to ensure the operation is idempotent.",
            "example": "IDEMPOTENTKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WEB_APP"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to access the service.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing the channel used for the transaction."
      },
      "CreateFiduciaryAgreementResponse_201": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-409369"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account.",
            "example": "ACC-770499"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific product associated with the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-108668"
          },
          "status": {
            "type": "string",
            "description": "Current status of the fiduciary agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the fiduciary agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the fiduciary agreement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the fiduciary agreement operation.",
        "example": {
          "customerId": "CUST-409369",
          "accountId": "ACC-770499",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-108668",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fdadbd29-4636-5001-afd3-a9396c3e98ae",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU-Central1"
          }
        },
        "description": "Schema representing the metadata details for a fiduciary agreement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed. This value is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-create-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-create-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request, indicating where the request originated from.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which is designed to authenticate requests using JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}