{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relations API",
    "description": "The Merchant Relations API facilitates seamless interaction between banking services and merchants. This API allows consumers to retrieve essential information regarding merchant relationships associated with banking cards. Typical users include financial institutions, fintech developers, and merchant service providers looking to enhance their integration with banking systems. By using this API, businesses can efficiently manage and access merchant-related data, fostering better relationship management and support for clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations": {
      "get": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Retrieve Merchant Relations Data",
        "description": "This endpoint allows you to fetch the current merchant relations data, providing insights into the partnerships and agreements with merchants. It returns comprehensive details about active merchant relations.",
        "operationId": "getMerchantRelations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve merchant relations for cards. This payload should conform to the specified schema that details the necessary parameters and their data types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantRelationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the merchant relations data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantRelationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantRelationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Merchant Relations operations in the context of the Cards API. Typically, it would contain the necessary parameters for retrieving merchant relation information.",
        "example": "{}"
      },
      "GetMerchantRelationsResponse_200": {
        "title": "Merchant Relations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of merchants.",
            "example": [
              {
                "merchantId": "MER-161576",
                "legalName": "Olivia Bennett",
                "merchantCategoryCode": "5411",
                "settlementAccountId": "ACC-259829",
                "settlementCurrency": "USD",
                "pricingPlan": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Merchant"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for merchant relations operations.",
        "example": {
          "items": [
            {
              "merchantId": "MER-161576",
              "legalName": "Olivia Bennett",
              "merchantCategoryCode": "5411",
              "settlementAccountId": "ACC-259829",
              "settlementCurrency": "USD",
              "pricingPlan": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "826b9b0b-5c9c-5ecd-93ec-15a4cdd436f5",
            "correlationId": "43719ae2-870f-5815-93b6-3541f00284da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Merchant": {
        "title": "Merchant",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "string"
          },
          "legalName": {
            "type": "string",
            "description": "Legal name of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Category code representing the type of business of the merchant.",
            "example": "string"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the account used for settlement.",
            "example": "string"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement.",
            "example": "string"
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan associated with the merchant.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the merchant record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the merchant information was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a merchant's information.",
        "example": {
          "merchantId": "string",
          "legalName": "string",
          "merchantCategoryCode": "string",
          "settlementAccountId": "string",
          "settlementCurrency": "string",
          "pricingPlan": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for pagination information in the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this specific response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata in the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the endpoint that processed the request, useful for tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-search-merchant-relations"
        },
        "example": "merchant-relations-search-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, enabling identification of the service layer.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where a JSON Web Token (JWT) is provided in the authorization header. The token should be included in the 'Authorization' header as 'Bearer <token>'. This method is commonly used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}