{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Suspension Management API",
    "description": "The Merchant Suspension Management API enables the suspension of merchants within the platform, offering businesses the ability to manage active merchant accounts efficiently. This API is essential for ensuring compliance and risk management by allowing swift action to suspend a merchant's operations when necessary. Typical consumers include administrators and compliance officers who are responsible for maintaining merchant integrity. The API streamlines the process of merchant account management, ensuring that businesses can respond quickly to emerging issues.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/suspend": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Suspend a merchant account.",
        "description": "This endpoint allows you to temporarily suspend a merchant account identified by the provided merchant ID. Once suspended, the merchant will not be able to process transactions until they are reactivated.",
        "operationId": "suspendMerchant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to suspend a merchant identified by their unique merchant ID. Ensure that all required parameters are provided in accordance with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_s_merchants_s_MER-800045_s_suspend_-_Operations_-POST_-_RequestBody_-_application_json"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; merchant suspended.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuspendMerchantResponse_200"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred during the request.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuspendMerchantResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuspendMerchantResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SuspendMerchantResponse_200": {
        "title": "Merchant Suspension Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-501526"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactInfo"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response data for suspending a merchant operation.",
        "example": {
          "merchantId": "MER-501526",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5d9b2a97-23a8-5ea2-bdef-3b8024fe9025",
            "correlationId": "0fdcfe98-6b6c-525e-9d7d-ce0b4d5e1860",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "title": "Business Details",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "Example Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name used by the business.",
            "example": "Example Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Registration number of the business.",
            "example": "REG-123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "TIN-987654321"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "United States"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "2010-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "RETAIL"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code.",
            "example": "5411"
          }
        },
        "description": "Schema representing the details of the merchant's business.",
        "example": {
          "legalName": "Example Corp",
          "tradingName": "Example Trading"
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Example St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "Metropolis"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "90001"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "United States"
          }
        },
        "description": "Schema representing the registered address of the merchant.",
        "example": {
          "line1": "123 Example St",
          "city": "Metropolis"
        }
      },
      "ContactInfo": {
        "title": "Contact Information",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "contact@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "+12345678900"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the contact information for the merchant.",
        "example": {
          "email": "contact@example.com",
          "phone": "+12345678900"
        }
      },
      "MerchantCapabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Channels through which the merchant can transact.",
            "example": [
              "Online",
              "In-store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Available payment methods for the merchant.",
            "example": [
              "Credit Card",
              "PayPal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial payment captures.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum percentage allowed for tips.",
            "example": "20%"
          }
        },
        "description": "Schema representing the capabilities of the merchant.",
        "example": {
          "channels": [
            "Online",
            "In-store"
          ],
          "paymentMethods": [
            "Credit Card",
            "PayPal"
          ]
        }
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan associated with the merchant.",
            "example": "PLAN-001"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees: merchant or customer.",
            "example": "MERCHANT"
          },
          "paymentFee": {
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Schema representing the commercial terms applicable to the merchant.",
        "example": {
          "pricingPlanId": "PLAN-001",
          "feeBearer": "MERCHANT"
        }
      },
      "PaymentFee": {
        "title": "Payment Fee",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of fee (e.g., percentage, fixed).",
            "example": "PERCENTAGE"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee applied on payments.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Schema representing the payment fee structure for the merchant.",
        "example": {
          "type": "PERCENTAGE",
          "percentage": "2.5%"
        }
      },
      "FixedAmount": {
        "title": "Fixed Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency for the fixed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Fixed value of the fee.",
            "example": "5.00"
          }
        },
        "description": "Schema representing a fixed fee amount for the merchant.",
        "example": {
          "currency": "USD",
          "value": "5.00"
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for matching requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata related to the merchant operation.",
        "example": {
          "responseId": "response-123",
          "correlationId": "correlation-456"
        }
      },
      "SuspendMerchantResponse_500": {
        "title": "Merchant Suspension Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code returned by the suspension operation.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message that describes the error occurred during the merchant suspension.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "A string indicating the workflow process at which the failure occurred.",
            "example": "WF-025"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer indicating the hop in the workflow after which the operation failed.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema represents the error response returned when a merchant suspension operation fails. It includes details about the error code, message, workflow, and the specific point at which the operation failed.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-025",
          "failedAfterHop": 3
        }
      },
      "SuspendMerchantRequest": {
        "title": "Suspend Merchant Operations Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the suspension.",
            "example": "SUSPENSION_CODE"
          },
          "reason": {
            "type": "string",
            "description": "A detailed description of the reason for the suspension.",
            "example": "Suspension due to policy violation."
          },
          "suspendPayments": {
            "type": "boolean",
            "description": "Indicates whether to suspend payment processing for the merchant.",
            "example": false
          },
          "holdSettlements": {
            "type": "boolean",
            "description": "Indicates whether to hold settled transactions for the merchant.",
            "example": false
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for suspending merchant operations. It includes details such as the reason for suspension, payment holds, and the context of the request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "MerchantSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application name from which the request originated.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "SuspendMerchantResponse_422": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the operation that generated this error response.",
            "example": "468cd7bc-3e6a-4bf0-aa9c-b55b6976c97d"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message providing more details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow context in which the error occurred.",
            "example": "WF-025"
          }
        },
        "description": "Response schema for the 422 error when attempting to suspend a merchant operation.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "468cd7bc-3e6a-4bf0-aa9c-b55b6976c97d",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-025"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "46fb0314-e7f3-488f-ac35-0e735b78db5a"
        },
        "example": "46fb0314-e7f3-488f-ac35-0e735b78db5a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2ac2461c-f584-4606-aeb7-b951fb9e9b69"
        },
        "example": "2ac2461c-f584-4606-aeb7-b951fb9e9b69"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-suspend-merchant"
        },
        "example": "banking-p2m-openapi-suspend-merchant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-025"
        },
        "example": "WF-025"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card Purchase Authorization and Clearing"
        },
        "example": "Card Purchase Authorization and Clearing"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "0c8339b1-a466-4ebd-9a85-de3c1c6afa4f"
        },
        "example": "0c8339b1-a466-4ebd-9a85-de3c1c6afa4f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. Clients must include a JWT (JSON Web Token) in the Authorization header when making requests. The expected format for the token is a standard JWT format, ensuring secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}