{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Supplier Agreements Retrieval API",
    "description": "The Supplier Agreements Retrieval API allows users to access and review existing supplier agreements efficiently. This API is designed for businesses to manage their supplier relationships effectively by providing the necessary information on agreements with external agencies. Typical users include procurement teams, compliance officers, and financial analysts who need to monitor contractual obligations and terms. Utilizing this API, organizations can ensure they are aligned with supplier terms and can streamline their operations in managing supplier contracts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "get": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Retrieve supplier agreements for external agencies.",
        "description": "This endpoint allows users to fetch a list of supplier agreements associated with external agencies. It provides essential information about each agreement, helping users manage and view existing supplier partnerships efficiently.",
        "operationId": "getSupplierAgreements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch supplier agreements from the external agency. It typically includes parameters that help in filtering or modifying the results returned by the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSupplierAgreementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of supplier agreements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSupplierAgreementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSupplierAgreementsRequest": {
        "type": "string",
        "description": "This schema represents the request body for obtaining supplier agreements in the external agency's operations.",
        "example": "{}"
      },
      "GetSupplierAgreementsResponse_200": {
        "title": "Supplier Agreements Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of supplier agreements.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-101226",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "purchaseOrderId": "ORD-193759",
                "categoryCode": "CODE-709",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SupplierAgreement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the agreements.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving supplier agreements, including details about the agreements and pagination metadata.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-101226",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "purchaseOrderId": "ORD-193759",
              "categoryCode": "CODE-709",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9897b299-024f-53d3-bbd5-8624343cc916",
            "correlationId": "d5d99433-1e76-521a-b5ac-54913e4e7fd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SupplierAgreement": {
        "title": "Supplier Agreement",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "12345"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the supplier agreement.",
            "example": "AG123"
          },
          "bic": {
            "type": "string",
            "description": "Business Identifier Code for the institution.",
            "example": "BANKUS33"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country associated with the agreement.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2021-01-01"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Identifier for the associated purchase order.",
            "example": "PO456"
          },
          "categoryCode": {
            "type": "string",
            "description": "Category classification for the agreement.",
            "example": "CAT1"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The approval level required for the agreement.",
            "example": "Level 1"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the agreement record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the agreement.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing a supplier agreement's details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema providing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr-1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-search-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-search-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Token authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}