{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Applications Aggregation API",
    "description": "The Partner Applications Aggregation API enables users to efficiently access a comprehensive collection of partner application details. This API allows consumers to retrieve and aggregate application information from multiple partners, facilitating insights and data-driven decisions. Typical users include business analysts, integration developers, and operational teams looking to consolidate application data for reporting or integration purposes. By leveraging this API, organizations can enhance their partner management strategies and improve overall collaboration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "get": {
        "tags": [
          "Partner Applications"
        ],
        "summary": "Retrieve applications for partners",
        "description": "This endpoint allows you to fetch a list of applications associated with partners, providing insight into their application statuses and details.",
        "operationId": "getApplicationsForPartners",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to specify the parameters required to fetch the partner applications. Ensure that the JSON structure adheres to the defined schema for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApplicationsForPartnersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, returning the current applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationsForPartnersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetApplicationsForPartnersRequest": {
        "type": "string",
        "description": "This schema represents the request body used in the GET operation for partners' applications.",
        "example": "{}"
      },
      "GetApplicationsForPartnersResponse_200": {
        "title": "Applications Response",
        "type": "object",
        "properties": {
          "totalRecords": {
            "type": "integer",
            "description": "Total number of application records available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "pageNumber": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "numberOfRecordsPerPage": {
            "type": "integer",
            "description": "Number of application records per page.",
            "format": "int32",
            "example": 1
          },
          "applications": {
            "type": "array",
            "description": "List of application objects.",
            "example": [
              {
                "partnerId": "STANDARD",
                "preAppId": "STANDARD",
                "note": "STANDARD",
                "applicationId": "APP-312557",
                "appName": "Northstar Banking Service",
                "submittedDate": 1,
                "modifiedDate": 1,
                "status": "ACTIVE",
                "scopes": "STANDARD",
                "institutionDetails": [
                  {
                    "id": 1,
                    "abbrvName": "Northstar Banking Service",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "decryptionKeyActivated": true,
                    "createdDate": 1,
                    "lastModifiedDate": 1,
                    "status": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for fetching applications.",
        "example": {
          "totalRecords": 1,
          "totalPages": 1,
          "pageNumber": 1,
          "numberOfRecordsPerPage": 1,
          "applications": [
            {
              "partnerId": "STANDARD",
              "preAppId": "STANDARD",
              "note": "STANDARD",
              "applicationId": "APP-312557",
              "appName": "Northstar Banking Service",
              "submittedDate": 1,
              "modifiedDate": 1,
              "status": "ACTIVE",
              "scopes": "STANDARD",
              "institutionDetails": [
                {
                  "id": 1,
                  "abbrvName": "Northstar Banking Service",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "decryptionKeyActivated": true,
                  "createdDate": 1,
                  "lastModifiedDate": 1,
                  "status": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "44563bdc-842d-5a57-a47c-db62305355c5",
            "correlationId": "f8e771c5-bf60-57a2-9d99-57dfe30688b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Application": {
        "title": "Application",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "string"
          },
          "preAppId": {
            "type": "string",
            "description": "Pre-application identifier.",
            "example": "string"
          },
          "note": {
            "type": "string",
            "description": "Additional notes regarding the application.",
            "example": "string"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application.",
            "example": "string"
          },
          "appName": {
            "type": "string",
            "description": "Name of the application.",
            "example": "string"
          },
          "submittedDate": {
            "type": "integer",
            "description": "Date the application was submitted, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "modifiedDate": {
            "type": "integer",
            "description": "Date the application was last modified, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the application.",
            "example": "string"
          },
          "scopes": {
            "type": "string",
            "description": "Permissions or scopes associated with the application.",
            "example": "string"
          },
          "institutionDetails": {
            "type": "array",
            "description": "List of institution objects related to the application.",
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          }
        },
        "description": "Represents an individual application."
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "abbrvName": {
            "type": "string",
            "description": "Abbreviated name of the institution.",
            "example": "string"
          },
          "logoUrl": {
            "type": "string",
            "description": "URL to the institution's logo.",
            "example": "string"
          },
          "decryptionKeyActivated": {
            "type": "boolean",
            "description": "Indicates whether the decryption key is activated for the institution.",
            "example": false
          },
          "createdDate": {
            "type": "integer",
            "description": "Date the institution was created, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "lastModifiedDate": {
            "type": "integer",
            "description": "Date the institution was last modified, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "boolean",
            "description": "Indicates whether the institution is currently active.",
            "example": false
          }
        },
        "description": "Represents an institution associated with an application."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs across different systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called, useful for tracing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-app-registration-status"
        },
        "example": "open-finance-api-get-app-registration-status"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application handling the request, providing context about the application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires the client to submit a JSON Web Token (JWT) as a means of authentication. The JWT must be included in the Authorization header of the request as 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}