{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Position Overview Retrieval API",
    "description": "The Position Overview Retrieval API allows users to access comprehensive details about financial positions within their banking accounts. Through this endpoint, clients can retrieve vital information regarding their current positions, including balances and transaction histories. Typical consumers of this API include financial institutions, investment managers, and personal finance applications that require up-to-date position information for analysis and reporting. This API is essential for optimizing investment strategies and ensuring informed decision-making within account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-management": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Position Management Data",
        "description": "This endpoint allows clients to retrieve position management data from the account management system. It provides detailed information about various positions, enabling efficient management and analysis.",
        "operationId": "getPositionManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving position management details. The system will accept a JSON formatted request that provides necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPositionManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of positions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPositionManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPositionManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching position management details in the account management system.",
        "example": "{}"
      },
      "GetPositionManagementResponse_200": {
        "title": "Account Management Position Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of account management positions.",
            "example": [
              {
                "accountId": "ACC-694760",
                "customerId": "CUST-921944",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountManagementPosition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving account management position information.",
        "example": {
          "items": [
            {
              "accountId": "ACC-694760",
              "customerId": "CUST-921944",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "60c88674-23c2-5c86-8e9f-113fe9d207f9",
            "correlationId": "e8faf2bf-f20e-5291-9af3-bc8c1227eecd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountManagementPosition": {
        "title": "Account Management Position",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency type of the balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Balance recorded in the ledger.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the record.",
            "example": "string"
          }
        },
        "description": "Details of an account management position."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination of the results."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-management-search-position-management"
        },
        "example": "position-management-search-position-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be included in the Authorization header of each request, prefixed with 'Bearer '. The expected format for the token is a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}