{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Flow Personalization API",
    "description": "The Cash Flow Personalization API allows businesses to create and manage personalized cash flow scenarios for individual customers. This API enables financial institutions to tailor cash flow assessments based on diverse customer profiles, enhancing their ability to offer customized financial solutions. Typical consumers include financial advisors, banking applications, and other fintech platforms. By leveraging this API, organizations can better understand customer behaviors and preferences, ultimately driving engagement and improving financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/cashflowpersonal": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Personal Cash Flow for Customer",
        "description": "This operation allows you to create a personal cash flow record for a specified customer, providing a comprehensive overview of their financial activities.",
        "operationId": "createCashflowPersonalForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit cash flow information for a specific customer identified by CUST-100045. The data provided should adhere to the defined schema to ensure proper processing of the cash flow details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCashflowPersonalForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCashflowPersonalForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCashflowPersonalForCustomerRequest": {
        "title": "Cash Flow Personal Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account IDs.",
            "example": "ACC-110221"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields for the report. Each field contains a label, value, and visibility status.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show non-sufficient funds (NSF) information.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report in epoch format.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence level for income stream identification.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cash flow personal operations.",
        "example": {
          "accountIds": "ACC-110221",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "57446530-6726-508a-86af-98c74d9e566c",
            "correlationId": "286a28e7-120f-57e4-87ad-297f094dd1fe",
            "idempotencyKey": "bccb19d0-5585-5100-9763-0a88312a7043",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-527834"
            }
          }
        }
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Transaction Type"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "Deposit"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown in the report.",
            "example": false
          }
        },
        "description": "Represents a custom field for the report, containing a label, value, and visibility status."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp indicating when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "CreditApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Represents the contextual information regarding the request being processed."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device using the channel.",
            "example": "device-456"
          }
        },
        "description": "Details about the channel through which the request was submitted."
      },
      "CreateCashflowPersonalForCustomerResponse_202": {
        "title": "Cash Flow Personal Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the cash flow personal response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer in the system.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request related to this cash flow operation.",
            "example": "1a6d8ecb-dcd4-52bf-9937-fc7dd0011d3a"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who requested the cash flow operation.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user making the request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the cash flow personal request was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the cash flow personal request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the request.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer making the request.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement for any disputes related to the request.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of operation being performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cash flow request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints applicable to the cash flow operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata about the cash flow request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a cash flow personal operation request.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "1a6d8ecb-dcd4-52bf-9937-fc7dd0011d3a",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-657090"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "850ef11c-6233-52b1-9269-aedb02b2832b",
            "correlationId": "286a28e7-120f-57e4-87ad-297f094dd1fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website URL related to the end user, if applicable.",
            "example": "string"
          }
        },
        "description": "Represents details of the end user associated with a cash flow request."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if any.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's location.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Contains detailed information about the consumer requesting the cash flow."
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers that are subject to constraints.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields that may be included in reports related to the cash flow request.",
            "items": {
              "type": "object",
              "properties": {
                "label": {
                  "type": "string",
                  "description": "Label for the custom field.",
                  "example": "string"
                },
                "value": {
                  "type": "string",
                  "description": "Value for the custom field.",
                  "example": "string"
                },
                "shown": {
                  "type": "boolean",
                  "description": "Indicates if the custom field should be shown.",
                  "example": false
                }
              }
            }
          }
        },
        "description": "Defines constraints applicable to the cash flow operation."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different events in the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the cash flow request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint, used to trace requests within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-cash-flow-personal-report"
        },
        "example": "open-finance-api-generate-cash-flow-personal-report"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that is processing the request, useful for monitoring and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme. Clients must provide a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}