{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Reference Data Directory API",
    "description": "The Party Reference Data Directory API provides a comprehensive resource for accessing and managing customer-related reference data within the banking sector. This API allows financial institutions to retrieve detailed information about various parties, including individuals and organizations, enhancing customer management processes. Typical consumers of this API include banking applications and customer relationship management systems that require accurate reference data for effective operations. With this API, organizations can ensure compliance, improve data accuracy, and streamline interactions with their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/party-reference-data-directory": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve party reference data directory.",
        "description": "This endpoint allows users to fetch the directory of party reference data, providing essential information for customer management operations.",
        "operationId": "getPartyReferenceDataDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the party reference data directory for customer management. It accepts parameters in JSON format to specify the required data attributes. Ensure that all necessary fields are included to receive accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyReferenceDataDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the party reference data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyReferenceDataDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyReferenceDataDirectoryRequest": {
        "type": "string",
        "description": "The request body used to retrieve party reference data from the customer management system.",
        "example": "{}"
      },
      "GetPartyReferenceDataDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer and party reference data.",
            "example": [
              {
                "customerId": "CUST-241818",
                "partyId": "PARTY-907389",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyReferenceDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on the party reference data directory, containing a list of items, pagination details, sort order, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-241818",
              "partyId": "PARTY-907389",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "49344df5-b77d-545c-8ba5-8a30c5403b64",
            "correlationId": "b23cc9e8-08a1-56d9-b8e0-cf0912a219c2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyReferenceDataItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST123"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the associated product.",
            "example": "PROD789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the relationship is effective.",
            "example": "2023-10-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier level of the relationship.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-15T10:00:00Z"
          }
        },
        "description": "Individual item representing party reference data for a customer."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response, including current page, page size, and total number of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track requests in distributed systems.",
            "example": "corr-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-15T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the response including response and correlation identifiers, generation timestamp, and processing region."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-reference-data-directory-search-party-reference-data-directory"
        },
        "example": "party-reference-data-directory-search-party-reference-data-directory"
      },
      "X-Runtime-App": {
        "description": "Name of the application or service that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) must be provided in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}