{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Event History API",
    "description": "The Customer Event History API enables businesses to retrieve historical data about customer interactions and events. This endpoint provides insights into customer behavior, allowing organizations to analyze past activities, track engagement levels, and improve customer relationship management strategies. Typical consumers include marketing teams, customer service representatives, and analytics professionals who seek to enhance customer experience and tailor communications. By leveraging this API, businesses can better understand their customer journey and make data-driven decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-event-history/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve event history for a specified customer.",
        "description": "This endpoint allows developers to retrieve the complete event history for a specific customer identified by their unique ID. It provides detailed information about all events associated with the customer, facilitating better tracking and management of customer interactions.",
        "operationId": "getCustomerEventHistoryForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the event history of a specific customer identified by CUST-100045. This request body contains the parameters or filters that can be used to tailor the event history results returned by the API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerEventHistoryForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the event history for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerEventHistoryForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerEventHistoryForCustomerCUST100045Request": {
        "type": "string",
        "description": "Represents the request body for retrieving customer event history related to a specific customer.",
        "example": "{}"
      },
      "GetCustomerEventHistoryForCustomerCUST100045Response_200": {
        "title": "Customer Event History Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-773576"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "PARTY-756607"
          },
          "productCode": {
            "type": "string",
            "description": "The product code related to the customer's account.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the current record becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the customer's relationship.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the customer record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the customer record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the customer record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "RESP-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier to correlate requests and responses.",
                "example": "CORR-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-01-10T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "f82ab04f-22c6-5bfb-bda6-fc481d7f8971",
              "correlationId": "591a7c8d-7a97-55bb-8735-e22adf85b7fa",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for retrieving customer event history.",
        "example": {
          "customerId": "CUST-773576",
          "partyId": "PARTY-756607",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f82ab04f-22c6-5bfb-bda6-fc481d7f8971",
            "correlationId": "591a7c8d-7a97-55bb-8735-e22adf85b7fa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-event-history-get-customer-event-history"
        },
        "example": "customer-event-history-get-customer-event-history"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Tokens). Clients must provide a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}