{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Certification Management API",
    "description": "The Employee Certification Management API facilitates the updating of employee certification records within the human resource management system. This endpoint allows authorized users to patch specific certification details for employees, ensuring accurate and up-to-date information. Typical consumers include HR personnel and managers seeking to maintain compliance and track employee qualifications. The API streamlines operations related to workforce development and regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification/{param1}": {
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update Employee Certification Details",
        "description": "This operation allows you to update the certification details of a specific employee identified by their unique employee ID. Utilize this endpoint to modify information related to certifications, ensuring that employee records remain accurate and up to date.",
        "operationId": "updateEmployeeCertification_EMP_900045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Update the employee certification details for the specified employee ID (EMP-900045). This request body should contain the necessary fields to modify the existing certification information, such as certification type, issue date, and expiration date.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeCertification_EMP_900045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The employee certification was updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEmployeeCertification_EMP_900045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEmployeeCertification_EMP_900045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the details of the employee certification changes.",
            "$ref": "#/components/schemas/EmployeeCertificationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change in employee certification.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including request metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating employee certification details in the system.",
        "example": {
          "changes": {
            "employeeId": "EMP-955831",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "92529f42-e4f4-543a-b1dc-709967b01be5",
            "correlationId": "0598ea3e-3b78-539f-b7b2-4b0bafa0692d",
            "idempotencyKey": "e0f11d74-b88f-5baa-afb2-3d1d8236414a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-867674"
            }
          }
        }
      },
      "EmployeeCertificationChanges": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-001"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the specific assignment related to the certification.",
            "example": "ASSIGN-123"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department in which the employee works.",
            "example": "DEPT-456"
          }
        },
        "description": "Schema representing the changes made to employee certifications."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request across different services.",
            "example": "CORR-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests do not produce different results.",
            "example": "IDEMP-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Originating system that made the request.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema that contains metadata about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CHANNEL-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "DEVICE-789"
          }
        },
        "description": "Schema that describes the channel used for the request."
      },
      "UpdateEmployeeCertification_EMP_900045Response_200": {
        "title": "Employee Certification Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee certification update.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the employee certification was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for updating employee certification details.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3e8c0110-78dc-5f95-a993-c849f548d72f",
            "correlationId": "0598ea3e-3b78-539f-b7b2-4b0bafa0692d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for this response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information for the response, containing identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-update-employee-certification"
        },
        "example": "employee-certification-update-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) as the bearer token. This allows for secure transmission of user identity and claims between the client and the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}