{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Knowledge Exchange API",
    "description": "The Knowledge Exchange API enables businesses to update and manage their banking knowledge assets efficiently. This endpoint allows users to modify specific knowledge assets identified by a unique parameter, enhancing the accuracy and relevance of accessible information. It is tailored for financial institutions and developers involved in knowledge management, ensuring that users can keep their data current and aligned with industry standards. Utilize this API to streamline knowledge asset updates and improve resource sharing across your organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/knowledge-exchange/{param1}": {
      "patch": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Update a specific knowledge exchange resource.",
        "description": "This operation allows you to update the attributes of a specific knowledge exchange resource identified by RES-100045. Utilize this endpoint to modify details related to knowledge sharing, ensuring the latest information is accurately reflected.",
        "operationId": "patchKnowledgeAssetKnowledgeExchangeRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to update specific knowledge asset details for the knowledge exchange resource identified by RES-100045. Provide the necessary fields in the JSON format to apply the desired modifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchKnowledgeAssetKnowledgeExchangeRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchKnowledgeAssetKnowledgeExchangeRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchKnowledgeAssetKnowledgeExchangeRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Describes the changes to be made to the knowledge asset.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update knowledge assets.",
        "example": {
          "changes": {
            "knowledgeItemId": "STANDARD",
            "topic": "STANDARD",
            "authorId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5c7dedeb-82b9-50bf-9550-cc7d847469ea",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "idempotencyKey": "426a30d2-88fb-5e51-a74f-d866803a0e19",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-331795"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "knowledgeItemId": {
            "type": "string",
            "description": "The identifier of the knowledge item being changed.",
            "example": "item123"
          },
          "topic": {
            "type": "string",
            "description": "The updated topic of the knowledge item.",
            "example": "Machine Learning"
          },
          "authorId": {
            "type": "string",
            "description": "The identifier of the author making the change.",
            "example": "author456"
          }
        },
        "description": "Schema describing the specific changes to a knowledge item."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing related requests.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure idempotency in requests.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system where the request originated.",
            "example": "User Interface"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Knowledge Management App"
          },
          "channel": {
            "description": "The channel through which the request was submitted.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual details about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel used.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "PatchKnowledgeAssetKnowledgeExchangeRes100045Response_200": {
        "title": "Knowledge Exchange Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the knowledge exchange operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf59fac8-7c2e-5681-ad44-f8fbc5ce7ea8",
            "correlationId": "f33167ed-2c52-5cf2-abd1-db11bebf38c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request across systems.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "A schema representing the metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This header may contain a specific string representing the endpoint ID, which assists in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "knowledge-exchange-update-knowledge-exchange"
        },
        "example": "knowledge-exchange-update-knowledge-exchange"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application associated with the request. The string value represents the application context in which the request was processed, aiding in application tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients must provide a valid JSON Web Token (JWT) as a bearer token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}