{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Guarantee Inquiry API",
    "description": "The Bank Guarantee Inquiry API allows users to retrieve detailed information about bank guarantees within the trade banking domain. This API is essential for financial institutions and corporate clients seeking to verify or analyze existing bank guarantee agreements. Common use cases include checking the status, terms, and obligations associated with a specific guarantee. By facilitating efficient data access, the API supports better decision-making and risk management in trade finance transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/bank-guarantee": {
      "get": {
        "tags": [
          "Bank Guarantee"
        ],
        "summary": "Retrieve bank guarantee details.",
        "description": "This endpoint allows users to fetch detailed information about bank guarantees issued through the trade banking service. Users can specify criteria to filter the search and obtain relevant guarantee data efficiently.",
        "operationId": "getBankGuarantee",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding bank guarantees. Ensure that the data sent adheres to the defined schema to receive accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankGuaranteeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the bank guarantee information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankGuaranteeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankGuaranteeRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to bank guarantees in trade banking.",
        "example": "{}"
      },
      "GetBankGuaranteeResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of bank guarantee records.",
            "example": [
              {
                "corporateCustomerId": "CUST-405352",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-841642",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "guaranteeType": "STANDARD",
                "beneficiaryId": "STANDARD",
                "claimExpiryDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BankGuarantee"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the bank guarantees.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for bank guarantee operations.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-405352",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-841642",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "guaranteeType": "STANDARD",
              "beneficiaryId": "STANDARD",
              "claimExpiryDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7a8b2895-6e92-5a82-9954-808a36d84d06",
            "correlationId": "52414b23-7d0a-5f67-af4e-2d148dcbe16a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BankGuarantee": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer."
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility associated with the guarantee."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the guarantee matures."
          },
          "guaranteeType": {
            "type": "string",
            "description": "Type of the bank guarantee."
          },
          "beneficiaryId": {
            "type": "string",
            "description": "Identifier for the beneficiary of the guarantee."
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The date when a claim can no longer be made against the guarantee."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the bank guarantee record."
          },
          "updatedAt": {
            "type": "string",
            "description": "When the record was last updated."
          }
        },
        "description": "Schema representing a bank guarantee record."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numerical value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount (e.g., USD, EUR)."
          }
        },
        "description": "Schema representing the monetary amount and currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the bank guarantee records."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This header reflects the specific endpoint within the trade banking operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-search-bank-guarantee"
        },
        "example": "bank-guarantee-search-bank-guarantee"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This header helps in identifying which application instance processed the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens in HTTP headers for securing API endpoints. This scheme is specifically designed to support JSON Web Tokens (JWT) for transmitting claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}