{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Orders Payment Details API",
    "description": "This API provides access to detailed payment information related to domestic standing orders associated with a specified account. Users can retrieve essential details, such as payment amounts, due dates, and beneficiary information, to facilitate effective financial management. Typical consumers of this API include financial institutions, banking applications, and personal finance management tools. By integrating this API, developers can enable users to view and manage their standing order payments seamlessly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders/{param1}/payment-details": {
      "get": {
        "tags": [
          "Domestic Standing Orders"
        ],
        "summary": "Retrieve Payment Details for Domestic Standing Order",
        "description": "This endpoint allows you to retrieve the detailed payment information associated with the domestic standing order identified by RES-100045. It is essential for users who need to review the specific payment details before processing or making inquiries.",
        "operationId": "getPaymentDetailsForDomesticStandingOrderRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for a specific domestic standing order identified by RES-100045. It should contain the necessary parameters required for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForDomesticStandingOrderRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details for the specified standing order.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForDomesticStandingOrderRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForDomesticStandingOrderRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for fetching payment details related to domestic standing orders.",
        "example": "{}"
      },
      "GetPaymentDetailsForDomesticStandingOrderRes100045Response_200": {
        "title": "Domestic Standing Orders Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "Array of payment statuses for domestic standing orders.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results."
                  }
                },
                "description": "Pagination and navigation links for the response."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of available pages.",
                    "format": "int32"
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time when the first payment becomes available."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time when the last payment becomes available."
                  }
                },
                "description": "Metadata related to the response such as pagination information."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier to correlate related requests."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the data was processed."
                  }
                },
                "description": "Additional metadata for the response."
              }
            },
            "description": "Contains payment details.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-570230",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Schema representing the response structure for fetching payment details of domestic standing orders.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-570230",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "36db5c33-ec8b-5fb2-9971-55c11c2624e0",
            "correlationId": "0b164bd9-f0e9-5775-a86d-34d85cceb47c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "title": "Payment Status",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the payment status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "Type of local instrument used for the payment."
              },
              "Status": {
                "type": "string",
                "description": "Detailed status of the payment."
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current status of the payment."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Description explaining the reason for the current payment status."
              }
            },
            "description": "Detailed information regarding the status of the payment."
          }
        },
        "description": "Schema representing the status of a payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-standing-order-details"
        },
        "example": "payment-initiation-openapi-get-domestic-standing-order-details"
      },
      "X-Runtime-App": {
        "description": "The identifier for the application that handled the request, providing insight into its source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method based on JSON Web Tokens (JWT), allowing users to securely transmit user information across APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}