{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Business Details API",
    "description": "The Update Business Details API allows users to modify specific information related to a registered business. This endpoint accepts updates for various business attributes, such as contact information, operational hours, and services offered. It is primarily utilized by businesses looking to maintain accurate profiles and enhance their service delivery. The API is beneficial for service providers, business owners, and developers who integrate business management solutions into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "put": {
        "tags": [
          "Business Management"
        ],
        "summary": "Update Business Resource",
        "description": "This operation allows you to update the details of a specific business identified by its unique resource ID. Ensure that the necessary fields are provided in the request body to successfully update the business information.",
        "operationId": "updateBusinessRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific business identified by the RES-100045 code. It includes all necessary fields that should be modified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBusinessRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resource updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBusinessRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBusinessRes100045Request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the individual is personally liable.",
            "example": true
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The business's website URL.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email contact for the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating business operations.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "requestContext": {
            "requestId": "d5c71239-b6ac-51db-88db-5ec5b291655c",
            "correlationId": "cc747f43-e5f0-5f4e-a050-06f083a2d7f4",
            "idempotencyKey": "d4f0d566-ad98-5084-bd45-c2a2da8ffb42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-402640"
            }
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address, if applicable.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city portion of the address.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state portion of the address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "The country portion of the address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal or ZIP code.",
            "example": "string"
          }
        },
        "description": "Schema representing the address of a business."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "The country code for the phone number.",
            "example": "string"
          },
          "phoneNo": {
            "type": "string",
            "description": "The local phone number.",
            "example": "string"
          }
        },
        "description": "Schema representing a phone number with country code."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for correlating requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key to ensure idempotency in operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateBusinessRes100045Response_200": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Northstar Banking Service"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates whether the person is personally liable.",
            "example": true
          },
          "address": {
            "description": "The physical address of the business.",
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "description": "The contact phone number of the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "The website URL of the business.",
            "example": "https://example.com/resource"
          },
          "email": {
            "type": "string",
            "description": "The email address of the business.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of business.",
            "example": "STANDARD"
          },
          "taxId": {
            "type": "string",
            "description": "The tax identification number for the business.",
            "example": "STANDARD"
          },
          "businessId": {
            "type": "string",
            "description": "The unique identifier for the business.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the business was created.",
            "example": "2026-09-15"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the business was last modified.",
            "example": "2026-09-15"
          },
          "metadata": {
            "description": "Additional metadata related to the business.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a business operation.",
        "example": {
          "name": "Northstar Banking Service",
          "personallyLiable": true,
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001"
          },
          "phoneNumber": {
            "countryCode": "US",
            "phoneNo": "+1-212-555-0147"
          },
          "url": "https://example.com/resource",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "taxId": "STANDARD",
          "businessId": "STANDARD",
          "createdDate": "2026-09-15",
          "modifiedDate": "2026-09-15",
          "metadata": {
            "responseId": "321a5ca6-dcab-5906-b35d-496701cdbc23",
            "correlationId": "cc747f43-e5f0-5f4e-a050-06f083a2d7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the operation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the business."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-business"
        },
        "example": "open-finance-api-update-business"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}