{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commission Agreement Management API",
    "description": "The Commission Agreement Management API allows businesses to update the details of existing commission agreements for their sales operations. By utilizing this endpoint, authorized users can modify terms, rates, and conditions associated with specific agreements, enhancing flexibility in managing compensation structures. This API is particularly useful for sales teams and financial departments that need to adapt to changing business requirements quickly. Through the PATCH method, businesses ensure that their commission agreements remain current and aligned with organizational goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement/{param1}": {
      "patch": {
        "tags": [
          "Sales"
        ],
        "summary": "Update Sales Commission Agreement",
        "description": "This endpoint allows you to update the details of a specific sales commission agreement identified by the resource ID provided. Ensure that the appropriate fields are included in the patch request to modify the agreement correctly.",
        "operationId": "updateSalesCommissionAgreementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the commission agreement with ID RES-100045. This JSON object contains the fields that can be updated in the commission agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesCommissionAgreementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSalesCommissionAgreementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSalesCommissionAgreementRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being made to the commission agreement.",
            "$ref": "#/components/schemas/CommissionAgreementChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating sales commission agreements.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "082e892e-6f10-52c9-9f53-1745342180df",
            "correlationId": "400bda39-fa42-5dd2-9406-ee5aea3f50b4",
            "idempotencyKey": "c6ac87ec-8376-5df2-bc7d-97ec901031b1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702945"
            }
          }
        }
      },
      "CommissionAgreementChanges": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect associated with the changes.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Identifier for the product related to the commission agreement changes.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the transaction is to be processed.",
            "example": "string"
          }
        },
        "description": "Represents the changes to the commission agreement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate various parts of the transaction.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request can be safely retried without unintended side effects.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Detailed context of the request."
      },
      "ChannelContext": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, retail, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information related to the sales channel."
      },
      "UpdateSalesCommissionAgreementRes100045Response_200": {
        "title": "Commission Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the commission agreement operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information about the response metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the commission agreement operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c73039a3-8a6c-5142-8562-08bef0ef4421",
            "correlationId": "400bda39-fa42-5dd2-9406-ee5aea3f50b4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the API endpoint being accessed, which helps in tracking the origin of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-update-commission-agreement"
        },
        "example": "commission-agreement-update-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the API request, allowing for better monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. The bearer token must be provided in the Authorization header as a 'Bearer <token>' string. The token is typically a JSON Web Token (JWT) that grants access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}