{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commission Agreement Management API",
    "description": "The Commission Agreement Management API enables businesses to create and manage commission agreements efficiently. This API facilitates the submission of new commission agreements, ensuring accurate tracking and processing of sales commissions. Typical consumers include sales teams and finance departments that require dynamic management of commission structures. By automating agreement handling, organizations can enhance operational efficiency and ensure compliance with established commission policies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a new sales commission agreement.",
        "description": "This endpoint allows you to create a new commission agreement for sales representatives. Provide the necessary details in the request body to set up the agreement effectively.",
        "operationId": "createSalesCommissionAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new commission agreement. It must adhere to the specified schema and include all necessary details for the agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesCommissionAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The commission agreement has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesCommissionAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesCommissionAgreementRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being sold.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "ID of the relationship manager managing the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Expected financial value associated with the sale.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the salesperson involved in the transaction.",
            "example": "STANDARD"
          },
          "commissionPlanId": {
            "type": "string",
            "description": "Identifier for the commission plan associated with the sale.",
            "example": "STANDARD"
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "Amount of revenue eligible for commission.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a sales commission agreement.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "salesPersonId": "STANDARD",
          "commissionPlanId": "STANDARD",
          "eligibleRevenue": 100.0,
          "requestContext": {
            "requestId": "c95e7430-b98b-5006-97a3-40c2035d3603",
            "correlationId": "c000b661-f558-57b7-a690-79d7ce23d1b5",
            "idempotencyKey": "28fc0cbd-9566-53a7-b955-a695ffe7bd6d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-780762"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of money expected.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is expressed.",
            "example": "USD"
          }
        },
        "description": "Financial value expected from the sale."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-111"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "correlation-222"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "idempotency-333"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system generating the request.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the transaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-444"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the sales channel (e.g., online, retail).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-555"
          }
        },
        "description": "Information about the sales channel."
      },
      "CreateSalesCommissionAgreementResponse_201": {
        "title": "Commission Agreement Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect associated with the agreement.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "salesPersonId": {
            "type": "string",
            "description": "Identifier for the sales person associated with the agreement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource allocated for this agreement.",
            "example": "RES-141972"
          },
          "status": {
            "type": "string",
            "description": "Current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the commission agreement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for commission agreement operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "salesPersonId": "STANDARD",
          "resourceId": "RES-141972",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f4aa904-7b11-5c77-a7e3-3ab2c73195f5",
            "correlationId": "c000b661-f558-57b7-a690-79d7ce23d1b5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata containing additional tracking information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked, allowing for easier tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-create-commission-agreement"
        },
        "example": "commission-agreement-create-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application context in which the request was processed, providing insights into the environment settings.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication, providing a secure method to authorize users on the API. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}