{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Campaign Execution Management API",
    "description": "The Customer Campaign Execution Management API enables businesses to effectively manage and execute marketing campaigns directed at customers. This API allows users to initiate executions related to customer campaigns, facilitating targeted outreach and promotional activities. It is particularly useful for marketing teams and customer relationship managers aiming to optimize engagement strategies. Key operations include creating campaign execution records and associating them with relevant customer data to enhance the effectiveness of marketing efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-campaign-execution/executions": {
      "post": {
        "tags": [
          "Customer Campaigns"
        ],
        "summary": "Create a new customer campaign execution.",
        "description": "This endpoint allows you to initiate a new execution for a customer campaign. It takes the necessary data to define the execution and processes it accordingly. Ensure that all required fields are filled in the request body to successfully create the execution.",
        "operationId": "createCustomerCampaignExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the execution of a customer campaign. It must include all relevant parameters required for the execution process. Ensure that any necessary fields are provided according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCampaignExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing. The execution will be carried out asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCampaignExecutionResponse_202"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred. Please try again later.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCampaignExecutionResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCampaignExecutionResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCampaignExecutionResponse_202": {
        "title": "Campaign Execution Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the campaign.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference number used for processing.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the campaign execution.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the campaign execution.",
            "$ref": "#/components/schemas/CampaignExecutionMetadata"
          }
        },
        "description": "This schema describes the response structure for the campaign execution operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "a0f401db-eaca-56ed-8185-992a88906e58",
            "correlationId": "dc4c61ca-abff-51fa-8a48-32a59c65a9c3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignExecutionMetadata": {
        "title": "Campaign Execution Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "CORR1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema describes additional metadata for the campaign execution."
      },
      "CreateCustomerCampaignExecutionResponse_500": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string code representing the error type.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A message providing details about the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The identifier of the workflow during which the error occurred.",
            "example": "WF-076"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer indicating after which hop the error occurred.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "Schema representing the response for a 500 error in the Customer Campaign Execution API.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-076",
          "failedAfterHop": 3
        }
      },
      "CreateCustomerCampaignExecutionRequest": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is being executed.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier for the relationship manager handling this execution.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected monetary value associated with this execution.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The objective of the campaign.",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group in the campaign.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "The frequency cap for contacting a prospect.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for executing customer campaign operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "requestContext": {
            "requestId": "2247f931-2088-50ab-8e1f-ee71f6339cb5",
            "correlationId": "dc4c61ca-abff-51fa-8a48-32a59c65a9c3",
            "idempotencyKey": "47b400e0-cbc3-5a08-be40-640735ded579",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-447079"
            }
          }
        }
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount expected from the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is represented.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected monetary value and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across systems.",
            "example": "corr_12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "idempotent_key_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Email, SMS, Web).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device used for the channel.",
            "example": "device_123"
          }
        },
        "description": "Schema representing the channel used in the request."
      },
      "CreateCustomerCampaignExecutionResponse_422": {
        "title": "Customer Campaign Execution Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the specific error.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating logs and troubleshooting.",
            "example": "01c6805b-948e-4db5-8217-9c8f81f77652"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow that encountered the error.",
            "example": "WF-076"
          }
        },
        "description": "Schema representing the error response for failed customer campaign execution operations.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "01c6805b-948e-4db5-8217-9c8f81f77652",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-076"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-076"
        },
        "example": "WF-076"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "77412f9e-f2dc-451d-8486-e591754c1537"
        },
        "example": "77412f9e-f2dc-451d-8486-e591754c1537"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "69b7b246-2c0d-48c6-b7e9-47b97ceb1168"
        },
        "example": "69b7b246-2c0d-48c6-b7e9-47b97ceb1168"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being called within this API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-execution-execute-customer-campaign-execution"
        },
        "example": "customer-campaign-execution-execute-customer-campaign-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow related to the request that failed validation. This helps in diagnosing the issues that led to the 422 error.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-076"
        },
        "example": "WF-076"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Campaign Design Execution and Offer Acceptance"
        },
        "example": "Customer Campaign Design Execution and Offer Acceptance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "85705a95-6eb7-42e8-a79b-c772b22e312a"
        },
        "example": "85705a95-6eb7-42e8-a79b-c772b22e312a"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication (JWT) mechanism to authorize users. A JSON Web Token (JWT) must be supplied in the 'Authorization' header as a bearer token when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}