{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API allows financial institutions to verify the availability of funds for customers' payment requests. This API is designed to enable efficient and secure transactions, ensuring that users have the necessary balance before processing payments. Typical consumers include banks, payment processors, and third-party service providers. By integrating this API, businesses can enhance customer experience and streamline their payment operations, reducing risks associated with payment failures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmations": {
      "post": {
        "tags": [
          "Funds Transfer"
        ],
        "summary": "Request confirmation for funds transfer.",
        "description": "This endpoint allows clients to request a confirmation regarding a funds transfer in the CBPII framework. It verifies the status of the funds and responds with relevant information to ensure smooth transaction handling.",
        "operationId": "postFundsConfirmation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a funds confirmation operation. Ensure that all required parameters are included to successfully process the funds confirmation request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostFundsConfirmationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New funds confirmation created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostFundsConfirmationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "_s_cbpii_s_funds-confirmations_-_operations_-_post_-_requestbody_-_application_json": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the data related to the funds confirmation.",
            "$ref": "#/components/schemas/FundsConfirmationData"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the Funds Confirmations operation."
      },
      "FundsConfirmationData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent related to this operation.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "Reference identifier for the operation.",
            "example": "string"
          },
          "InstructedAmount": {
            "description": "The instructed amount for the funds confirmation.",
            "$ref": "#/components/schemas/InstructedAmount"
          }
        },
        "description": "Data structure containing consent and amount information."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of funds instructed.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "The instructed amount for a funds confirmation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to associate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure operations are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details about the request execution."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "PostFundsConfirmationResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsConfirmationId": {
                "type": "string",
                "description": "Unique identifier for the funds confirmation.",
                "example": "FUND123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent related to the funds confirmation.",
                "example": "CONSENT123456"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the funds confirmation was created.",
                "example": "2023-10-12T14:30:00Z"
              },
              "FundsAvailable": {
                "type": "boolean",
                "description": "Indicates whether the funds are available.",
                "example": false
              },
              "Reference": {
                "type": "string",
                "description": "Reference information related to the funds confirmation.",
                "example": "REF123456"
              },
              "InstructedAmount": {
                "$ref": "#/components/schemas/InstructedAmount"
              }
            },
            "description": "Contains the details of the funds confirmation.",
            "example": {
              "FundsConfirmationId": "STANDARD",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true,
              "Reference": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "/funds-confirmation/self"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "/funds-confirmation?page=1"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "/funds-confirmation?page=1"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results.",
                "example": "/funds-confirmation?page=3"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "/funds-confirmation?page=10"
              }
            },
            "description": "Pagination and navigation links for the response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available in the response.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "The first date and time available for funds confirmation.",
                "example": "2023-10-10T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "The last date and time available for funds confirmation.",
                "example": "2023-10-12T23:59:59Z"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE123456"
              },
              "correlationId": {
                "type": "string",
                "description": "ID for tracking the correlation of requests and responses.",
                "example": "CORRELATION123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-12T14:30:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "a496ac11-e539-5595-b37d-1ee6804924e0",
              "correlationId": "f3ce570f-8002-5515-b973-a23125890f3e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for Funds Confirmation operations.",
        "example": {
          "Data": {
            "FundsConfirmationId": "STANDARD",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "FundsAvailable": true,
            "Reference": "STANDARD",
            "InstructedAmount": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "a496ac11-e539-5595-b37d-1ee6804924e0",
            "correlationId": "f3ce570f-8002-5515-b973-a23125890f3e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PostFundsConfirmationRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "example": "string"
              },
              "Reference": {
                "type": "string",
                "example": "string"
              },
              "InstructedAmount": {
                "type": "object",
                "properties": {
                  "Amount": {
                    "type": "string",
                    "example": "string"
                  },
                  "Currency": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "Reference": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "example": "string"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "example": "string"
                  },
                  "channelType": {
                    "type": "string",
                    "example": "string"
                  },
                  "deviceId": {
                    "type": "string",
                    "example": "string"
                  }
                },
                "example": "string"
              }
            },
            "example": {
              "requestId": "326e32b9-e49f-5f1b-9fd5-d98dd4480779",
              "correlationId": "f3ce570f-8002-5515-b973-a23125890f3e",
              "idempotencyKey": "22d2ab1f-afda-5fed-aabe-0a45dd706f91",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-113665"
              }
            }
          }
        },
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Reference": "STANDARD",
            "InstructedAmount": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "requestContext": {
            "requestId": "326e32b9-e49f-5f1b-9fd5-d98dd4480779",
            "correlationId": "f3ce570f-8002-5515-b973-a23125890f3e",
            "idempotencyKey": "22d2ab1f-afda-5fed-aabe-0a45dd706f91",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-113665"
            }
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-create-funds-confirmations"
        },
        "example": "funds-api-create-funds-confirmations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token, typically a JSON Web Token (JWT), which is passed in the HTTP Authorization header to authorize requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}