{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Billing Inquiry API",
    "description": "The Corporate Billing Inquiry API enables users to retrieve detailed billing information for corporate accounts. It provides essential insights into billing summaries, transaction histories, and payment statuses, helping businesses manage their financial obligations effectively. Typical consumers of this API include finance departments, accounting software integrations, and corporate clients seeking transparency in their billing processes. By facilitating access to vital billing data, this API supports timely decision-making and enhances overall financial management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing": {
      "get": {
        "tags": [
          "Billing Services"
        ],
        "summary": "Retrieve corporate billing information",
        "description": "This endpoint allows users to fetch the corporate billing details associated with their enterprise account, including invoices and payment history.",
        "operationId": "getCorporateBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving corporate billing information in the enterprise services context. This should include the necessary parameters to successfully query for billing data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateBillingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved corporate billing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateBillingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateBillingRequest": {
        "type": "string",
        "description": "Represents the request body for the Corporate Billing Operations GET request in application/json format.",
        "example": "{}"
      },
      "GetCorporateBillingResponse_200": {
        "title": "Corporate Billing Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of billing request items.",
            "example": [
              {
                "requestId": "6f2d4f51-2e0f-5377-8e63-0e213e418c7c",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingRequestItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria used in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for corporate billing operations.",
        "example": {
          "items": [
            {
              "requestId": "6f2d4f51-2e0f-5377-8e63-0e213e418c7c",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "269173bf-8d4d-5f99-ab94-fba8bdc5aa74",
            "correlationId": "f6a1a8e0-6fbb-517a-8b21-bbf2b0cd20a5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingRequestItem": {
        "title": "Billing Request Item",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the billing request."
          },
          "supplierId": {
            "type": "string",
            "description": "The unique identifier of the supplier associated with the billing request."
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the billing request."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The user who requested the billing."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the billing record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Details of a billing request."
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the billing amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the billing amount is denominated."
          }
        },
        "description": "Contains the value and currency of a billing amount."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available for pagination.",
            "format": "int32"
          }
        },
        "description": "Details for paginating the response data."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for tracing the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-search-company-billing-and-payments"
        },
        "example": "company-billing-and-payments-search-company-billing-and-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a Bearer token format, specifically using JSON Web Tokens (JWT) for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}