{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Mandate Management API",
    "description": "The Servicing Mandate Management API allows organizations to efficiently modify existing servicing mandates for banking services. This API provides essential operations to update mandate details, ensuring compliance with changing customer requirements or regulations. Typical consumers include financial institutions and banking applications that need to manage servicing agreements seamlessly. Users can leverage this API to maintain accurate records and respond to customer needs without delay.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-mandate/{param1}": {
      "patch": {
        "tags": [
          "Servicing Mandate"
        ],
        "summary": "Update the servicing mandate details.",
        "description": "This endpoint allows you to update the details of a specific servicing mandate identified by the given resource ID. Ensure that you provide the necessary fields to modify the existing mandate information.",
        "operationId": "updateServicingMandateRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the servicing mandate details for the specified RES-100045. This body contains the necessary fields to modify the existing resources related to the servicing mandate.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateServicingMandateRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateServicingMandateRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateServicingMandateRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing various changes to be applied in the request.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the individual or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations on servicing mandates.",
        "example": {
          "changes": {
            "customerId": "CUST-495120",
            "caseId": "CASE-549598",
            "requestCategory": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "0de5d6af-9216-5970-b6dd-ca7600aea44a",
            "correlationId": "bb2a44b6-1c17-5a85-9563-7d24a8e47fb6",
            "idempotencyKey": "3e86abad-da81-5ddb-8388-29210cea1239",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-354261"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the mandate.",
            "example": "cust_456"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the case related to the change.",
            "example": "case_789"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request being made.",
            "example": "Account Update"
          }
        },
        "description": "Schema representing the changes to be made to the servicing mandate."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to trace the request across systems.",
            "example": "corr_002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests produce the same result.",
            "example": "idemp_003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request like IDs and source."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used to make the request.",
            "example": "channel_004"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel from which the request was made.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device_005"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "UpdateServicingMandateRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations on servicing mandates.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fd9639cf-e61b-5eb2-8b00-d735447996e1",
            "correlationId": "bb2a44b6-1c17-5a85-9563-7d24a8e47fb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracing the request through different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-mandate-update-servicing-mandate"
        },
        "example": "servicing-mandate-update-servicing-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This information is useful for logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method which involves providing a JSON Web Token (JWT) as the authorization credential. The token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}