{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Statement Retrieval API",
    "description": "The Account Statement Retrieval API enables clients to access detailed statements for specific accounts. Users can retrieve financial transaction histories by specifying the account and statement IDs, making it a vital tool for consumers needing insight into their account activity. This API is typically used by financial applications, banking systems, and advisory services to facilitate compliance and provide transparency to account holders. By offering seamless access to statement data, it enhances user engagement and supports informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/statements/{statementId}": {
      "get": {
        "tags": [
          "Account Statements"
        ],
        "summary": "Retrieve a specific statement for an account.",
        "description": "This API endpoint allows users to retrieve a detailed statement for a specific account identified by its account ID (ACC-200045) and statement ID (RES-100045). Ideal for accessing financial transaction records associated with the account.",
        "operationId": "getAispAccountStatementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving account statements for the specified account and statement identifiers. This body should conform to the defined schema for the operation to ensure correct data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountStatementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountStatementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountStatementByIdRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on account statements.",
        "example": "{}"
      },
      "GetAispAccountStatementByIdResponse_200": {
        "title": "Account Statements Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "Array of transaction statements associated with the account.",
                "example": [
                  {
                    "AccountId": "ACC-123456",
                    "id": "Trans-7890",
                    "reference": "Ref-12345",
                    "Type": "credit",
                    "StartDateTime": "2023-01-01T00:00:00Z",
                    "EndDateTime": "2023-01-31T23:59:59Z",
                    "CreationDateTime": "2023-01-01T01:00:00Z",
                    "description": [
                      "Payment received",
                      "Monthly interest"
                    ],
                    "benefit": [
                      {
                        "Type": "interest",
                        "Amount": {
                          "Amount": "50.00",
                          "Currency": "USD"
                        }
                      }
                    ],
                    "fee": [
                      {
                        "Description": "Monthly maintenance fee",
                        "CreditDebitIndicator": "Debit",
                        "Type": "service",
                        "Rate": 5.0,
                        "RateType": "fixed",
                        "Frequency": "monthly",
                        "Amount": {
                          "Amount": "5.00",
                          "Currency": "USD"
                        }
                      }
                    ],
                    "interest": [
                      {
                        "Description": "Annual interest",
                        "CreditDebitIndicator": "Credit",
                        "Type": "interest",
                        "Rate": 1.5,
                        "RateType": "annual",
                        "Frequency": "monthly",
                        "Amount": {
                          "Amount": "0.10",
                          "Currency": "USD"
                        }
                      }
                    ],
                    "amount": [
                      {
                        "CreditDebitIndicator": "Credit",
                        "Type": "transfer",
                        "Amount": {
                          "Amount": "100.00",
                          "Currency": "USD",
                          "SubType": "deposit"
                        },
                        "LocalAmount": {
                          "Amount": "100.00",
                          "Currency": "USD",
                          "SubType": "deposit"
                        }
                      }
                    ]
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/TransactionStatement"
                }
              }
            },
            "description": "Contains the account statement details.",
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-126158",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating logs.",
                "example": "corr-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T01:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "US-East"
              }
            },
            "description": "Information about the response such as IDs and timestamps.",
            "example": {
              "responseId": "0c66d769-2c7f-54a7-a86e-914c65e80d77",
              "correlationId": "2c51fada-c3c3-574a-b2c5-633dd9cfb577",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for account statements retrieval, including detailed transactions and metadata.",
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-126158",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "0c66d769-2c7f-54a7-a86e-914c65e80d77",
            "correlationId": "2c51fada-c3c3-574a-b2c5-633dd9cfb577",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionStatement": {
        "title": "Transaction Statement",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction.",
            "example": "ACC-123456"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "Trans-7890"
          },
          "reference": {
            "type": "string",
            "description": "External reference code for the transaction.",
            "example": "Ref-12345"
          },
          "Type": {
            "type": "string",
            "description": "Type of transaction (e.g., credit, debit).",
            "example": "credit"
          },
          "StartDateTime": {
            "type": "string",
            "description": "Datetime when the transaction period starts.",
            "example": "2023-01-01T00:00:00Z"
          },
          "EndDateTime": {
            "type": "string",
            "description": "Datetime when the transaction period ends.",
            "example": "2023-01-31T23:59:59Z"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Datetime when the transaction was created.",
            "example": "2023-01-01T01:00:00Z"
          },
          "description": {
            "type": "array",
            "description": "Array of descriptions or comments related to the transaction.",
            "items": {
              "type": "string",
              "example": "Payment received"
            }
          },
          "benefit": {
            "type": "array",
            "description": "Array of benefits related to the transaction, such as interest or bonuses.",
            "example": "string",
            "items": {
              "type": "object",
              "properties": {
                "Type": {
                  "type": "string",
                  "description": "Type of benefit provided.",
                  "example": "interest"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Amount of the benefit.",
                      "example": "50.00"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the benefit amount.",
                      "example": "USD"
                    }
                  },
                  "description": "Amount of benefit received."
                }
              }
            }
          },
          "fee": {
            "type": "array",
            "description": "Array of fees associated with the transaction.",
            "example": "string",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string",
                  "description": "Description of the fee.",
                  "example": "Monthly maintenance fee"
                },
                "CreditDebitIndicator": {
                  "type": "string",
                  "description": "Indicator if the fee is a credit or debit.",
                  "example": "Debit"
                },
                "Type": {
                  "type": "string",
                  "description": "Type of fee (e.g., service, transfer).",
                  "example": "service"
                },
                "Rate": {
                  "type": "number",
                  "description": "Rate of the fee.",
                  "example": 5.0
                },
                "RateType": {
                  "type": "string",
                  "description": "Type of the fee rate (fixed, variable).",
                  "example": "fixed"
                },
                "Frequency": {
                  "type": "string",
                  "description": "Frequency of the fee charge.",
                  "example": "monthly"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Amount of the fee.",
                      "example": "5.00"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the fee amount.",
                      "example": "USD"
                    }
                  },
                  "description": "Amount charged for the fee."
                }
              }
            }
          },
          "interest": {
            "type": "array",
            "description": "Array of interest entries related to the transaction.",
            "example": "string",
            "items": {
              "type": "object",
              "properties": {
                "Description": {
                  "type": "string",
                  "description": "Description of the interest.",
                  "example": "Annual interest"
                },
                "CreditDebitIndicator": {
                  "type": "string",
                  "description": "Indicator if the interest is a credit or debit.",
                  "example": "Credit"
                },
                "Type": {
                  "type": "string",
                  "description": "Type of interest (e.g., annual, monthly).",
                  "example": "interest"
                },
                "Rate": {
                  "type": "number",
                  "description": "Interest rate applicable.",
                  "example": 1.5
                },
                "RateType": {
                  "type": "string",
                  "description": "Type of interest rate (e.g., fixed, variable).",
                  "example": "annual"
                },
                "Frequency": {
                  "type": "string",
                  "description": "Frequency of interest application.",
                  "example": "monthly"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Amount of interest.",
                      "example": "0.10"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the interest amount.",
                      "example": "USD"
                    }
                  },
                  "description": "Amount of interest to be applied."
                }
              }
            }
          },
          "amount": {
            "type": "array",
            "description": "Array of amount entries associated with the transaction.",
            "example": "string",
            "items": {
              "type": "object",
              "properties": {
                "CreditDebitIndicator": {
                  "type": "string",
                  "description": "Indicator if the amount entry is a credit or debit.",
                  "example": "Credit"
                },
                "Type": {
                  "type": "string",
                  "description": "Type of amount entry (e.g., transfer, withdrawal).",
                  "example": "transfer"
                },
                "Amount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Amount value.",
                      "example": "100.00"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the amount.",
                      "example": "USD"
                    },
                    "SubType": {
                      "type": "string",
                      "description": "Sub-type of the amount entry.",
                      "example": "deposit"
                    }
                  },
                  "description": "The amount related to the entry."
                },
                "LocalAmount": {
                  "type": "object",
                  "properties": {
                    "Amount": {
                      "type": "string",
                      "description": "Amount value in local currency.",
                      "example": "100.00"
                    },
                    "Currency": {
                      "type": "string",
                      "description": "Currency of the local amount.",
                      "example": "USD"
                    },
                    "SubType": {
                      "type": "string",
                      "description": "Sub-type of the local amount entry.",
                      "example": "deposit"
                    }
                  },
                  "description": "Local amount related to the entry."
                }
              }
            }
          }
        },
        "description": "Schema representing a single transaction in the account statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request. This value helps in tracking the specific endpoint being utilized.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-statements-statement-id"
        },
        "example": "accounts-api-get-accounts-account-id-statements-statement-id"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that executed the request. Useful for logging and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, providing a way to authenticate using a JSON Web Token (JWT). The client should include the JWT token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}