{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Benefits Management API",
    "description": "The Employee Benefits Management API enables businesses to access and retrieve comprehensive information about employee benefits. This API allows HR professionals and administrators to efficiently query details related to various benefits programs, including health insurance, retirement plans, and wellness initiatives. By providing a consistent and streamlined way to access employee benefits data, organizations can enhance their workforce management strategies and ensure employees are well-informed about their options. Typical consumers include HR teams, payroll systems, and benefit administration platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve employee benefits information.",
        "description": "This endpoint allows you to fetch detailed information about the benefits available to employees within the organization. It includes various types of benefits such as health insurance, retirement plans, and other perks.",
        "operationId": "getEmployeeBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving employee benefits information. This should contain the necessary parameters to fetch the relevant data on employee benefits within the human resource management system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee benefits information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeBenefitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeBenefitsRequest": {
        "type": "string",
        "description": "This schema represents the request body for employee benefits operations in the human resource management system.",
        "example": "{}"
      },
      "GetEmployeeBenefitsResponse_200": {
        "title": "Employee Benefits Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of employee benefits.",
            "example": [
              {
                "employeeId": "EMP-321934",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeBenefitItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items returned.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving employee benefits.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-321934",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ec5b03f6-743f-50e1-bfcf-035fac2dcb66",
            "correlationId": "63668692-8733-5714-94de-f0808da7ca81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeBenefitItem": {
        "title": "Employee Benefit Item",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "emp123"
          },
          "assignmentId": {
            "type": "string",
            "description": "Unique identifier for the employment assignment.",
            "example": "assign123"
          },
          "departmentId": {
            "type": "string",
            "description": "Unique identifier for the employee's department.",
            "example": "dept123"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the employee benefit becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., full-time, part-time).",
            "example": "full-time"
          },
          "managerId": {
            "type": "string",
            "description": "Unique identifier for the employee's manager.",
            "example": "mgr123"
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee works.",
            "example": "New York"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the employee record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the employee benefit record was last updated.",
            "example": "2023-01-02"
          }
        },
        "description": "Schema representing an individual employee benefit record."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for a response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-search-employee-benefits"
        },
        "example": "employee-benefits-search-employee-benefits"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that processed the request, helpful for debugging and version control.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token in the format of JSON Web Token (JWT). This scheme allows clients to authenticate by including the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}