{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Current Accounts Reference Data API",
    "description": "The Business Current Accounts Reference Data API provides access to key information related to business current accounts offered by financial institutions. This API allows developers to retrieve comprehensive details such as account features, fees, eligibility criteria, and more, enabling seamless integration of banking services into applications. It is designed for use by fintech developers, banking partners, and financial service providers looking to enhance their offerings or develop new applications. By leveraging this API, businesses can confidently navigate the offerings within the competitive landscape of business banking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/business-current-accounts": {
      "get": {
        "tags": [
          "Business Banking"
        ],
        "summary": "Retrieve business current account details",
        "description": "This endpoint allows you to fetch details of business current accounts, including balance, transactions, and account information. It serves as a vital resource for businesses to manage their finances effectively.",
        "operationId": "getBusinessCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving business current account information through Open Banking. This body may include specific filters or parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of business current accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessCurrentAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on business current accounts in the Open Banking API.",
        "example": "{}"
      },
      "GetBusinessCurrentAccountsResponse_200": {
        "title": "Business Current Accounts Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/MetaData"
          },
          "data": {
            "type": "array",
            "description": "Array of business current account data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-983",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-240748",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessAccount"
            }
          }
        },
        "description": "Response schema for retrieving business current accounts information.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-983",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-240748",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "7c3df032-3a32-556d-b2f1-205120433687",
            "correlationId": "cc51f312-d23f-529a-82fb-0550a1ae7d89",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MetaData": {
        "title": "Meta Information",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The last time the data was updated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned.",
            "format": "int32",
            "example": 10
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement under which the data is provided.",
            "example": "Standard Agreement"
          },
          "License": {
            "type": "string",
            "description": "License information for the API.",
            "example": "License XYZ"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the service.",
            "example": "Terms of use apply."
          }
        },
        "description": "Metadata for the API response."
      },
      "BusinessAccount": {
        "title": "Business Account",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the product.",
            "example": "Current Account"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Business Current Account"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segmentation for the product.",
            "items": {
              "type": "string",
              "example": "Segment A"
            }
          },
          "InternationalPaymentsSupported": {
            "type": "boolean",
            "description": "Indicates whether international payments are supported.",
            "example": true
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Identifier for the product.",
            "example": "ABC123"
          },
          "CardWithdrawalLimit": {
            "type": "string",
            "description": "Limit for card withdrawals.",
            "example": "1000"
          },
          "ProductDescription": {
            "type": "string",
            "description": "Description of the product.",
            "example": "This is a business current account."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions for the product.",
            "items": {
              "type": "string",
              "example": "Standard fees apply."
            }
          },
          "AccessChannels": {
            "type": "array",
            "description": "Channels available to access the product.",
            "items": {
              "type": "string",
              "example": "Online Banking"
            }
          },
          "CardType": {
            "type": "array",
            "description": "Types of cards associated with the product.",
            "items": {
              "type": "string",
              "example": "Debit Card"
            }
          },
          "Contactless": {
            "type": "boolean",
            "description": "Indicates whether contactless payments are supported.",
            "example": true
          },
          "MobileWallet": {
            "type": "array",
            "description": "Mobile wallets associated with the product.",
            "items": {
              "type": "string",
              "example": "Apple Pay"
            }
          },
          "CardNotes": {
            "type": "string",
            "description": "Notes regarding the card.",
            "example": "This card is for international use."
          },
          "ChequeBookAvailable": {
            "type": "boolean",
            "description": "Indicates whether a cheque book is available.",
            "example": false
          },
          "CreditScoringPartOfAccountOpening": {
            "type": "boolean",
            "description": "Indicates whether credit scoring is part of the account opening process.",
            "example": true
          },
          "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Type of credit score used during account opening.",
            "items": {
              "type": "string",
              "example": "Soft"
            }
          },
          "CreditScoringPartOfAccountOpeningText": {
            "type": "string",
            "description": "Text explaining the credit scoring during account opening.",
            "example": "A soft credit check will be performed."
          },
          "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Type of credit score used for ID verification.",
            "items": {
              "type": "string",
              "example": "Hard"
            }
          },
          "CreditScoringPartOfAccountOpeningIDVerificationText": {
            "type": "array",
            "description": "Text explaining the credit scoring during ID verification.",
            "items": {
              "type": "string",
              "example": "A hard credit check will be performed."
            }
          },
          "MaximumMonthlyCharge": {
            "type": "string",
            "description": "Maximum monthly charge for the account.",
            "example": "20"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for the product.",
            "items": {
              "type": "string",
              "example": "http://example.com/product"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Supported currencies for the account.",
            "items": {
              "type": "string",
              "example": "GBP"
            }
          },
          "OverdraftOffered": {
            "type": "boolean",
            "description": "Indicates whether an overdraft is offered.",
            "example": false
          },
          "Feature": {
            "type": "array",
            "description": "List of features available for the product.",
            "items": {
              "type": "object",
              "properties": {
                "ExistingFeature": {
                  "type": "boolean",
                  "description": "Indicates whether the feature exists.",
                  "example": true
                }
              }
            }
          }
        },
        "description": "Information about a specific business account."
      },
      "Organisation": {
        "title": "Organisation",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Information about the organisation associated with the account."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the parent organisation.",
            "example": "1234567890"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code of the parent organisation.",
            "example": "ABCDEF01"
          },
          "OrganisationName": {
            "type": "object",
            "properties": {
              "LegalName": {
                "type": "string",
                "description": "The legal name of the organisation.",
                "example": "Example Organisation Ltd."
              }
            },
            "description": "The name of the organisation."
          }
        },
        "description": "Details of the parent organisation."
      },
      "Brand": {
        "title": "Brand",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark registration code.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Unique identifier for the trademark.",
            "example": "BRAND123"
          }
        },
        "description": "Brand information related to the organisation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-business-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-business-current-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be provided in the 'Authorization' header as 'Bearer <token>'. It is expected to follow the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}