{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Status Inquiry API",
    "description": "The Refund Status Inquiry API allows users to retrieve detailed information about a specific refund using its unique identifier. This endpoint is essential for customers and merchants looking to track the status of refunds, ensuring transparency and timely updates. Typical consumers include customer support teams, finance departments, and end-users seeking clarity on their refund processing. By providing real-time data on refund statuses, this API enhances user satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "get": {
        "tags": [
          "Refund Operations"
        ],
        "summary": "Retrieve refund details",
        "description": "Fetches detailed information about a specific refund using its unique identifier. This endpoint is useful for understanding the status and history of a given refund request.",
        "operationId": "getRefundById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve detailed information about the refund identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRefundByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the refund details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefundByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRefundByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body used for the GET operation related to refunds. It provides a string representation of the refund request details.",
        "example": "{}"
      },
      "GetRefundByIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the refund.",
            "example": "PAY-323259"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-982001"
          },
          "amount": {
            "description": "Details about the amount being refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-616"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference identifier used by the merchant for this refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Information related to the processor handling the refund.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit details regarding the refund transaction.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for refund operations which includes details about the refund process.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-323259",
          "merchantId": "MER-982001",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-616",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-497",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-654136",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-335"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2e470a0a-eedb-531a-babe-f4ecd0c53e08",
            "correlationId": "73c13a4c-304c-57d5-a714-a76a0452c5ef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The actual monetary value of the refund.",
            "example": "100.00"
          }
        },
        "description": "Represents the amount details including currency and value."
      },
      "Failure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "TransactionError"
          },
          "code": {
            "type": "string",
            "description": "Specific error code associated with the failure.",
            "example": "ERR123"
          },
          "message": {
            "type": "string",
            "description": "Descriptive message about the failure.",
            "example": "Insufficient funds"
          },
          "declineCode": {
            "type": "string",
            "description": "Code indicating the reason for the decline if applicable.",
            "example": "DECLINE123"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Represents details of a failure that occurred during the refund process."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID assigned by the payment scheme.",
            "example": "TX123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number assigned by the acquirer.",
            "example": "ACQ12345"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference information from the issuer bank.",
            "example": "ISSUER987"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number to retrieve the transaction.",
            "example": "RRN123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Reference information related to the payment processor."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the refund was created.",
            "example": "2021-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the refund.",
            "example": "system_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the refund was last updated.",
            "example": "2021-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the refund.",
            "example": "admin_user"
          },
          "version": {
            "type": "integer",
            "description": "The version of the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains information about the audit trail of the refund transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2021-01-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Contains metadata related to the refund response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-refund"
        },
        "example": "banking-p2m-openapi-get-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header as a Bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}