{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Partner Application API",
    "description": "The Update Partner Application API allows businesses to modify the details of existing applications submitted by partners. This endpoint is particularly useful for managing changes or corrections to application data, ensuring the information remains up-to-date. Typical consumers include partner relationship managers and application administrators who need to make adjustments based on partner feedback or internal requirements. By providing a streamlined way to update application details, this API enhances operational efficiency and partner satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications/{applicationId}": {
      "put": {
        "tags": [
          "Partner Applications"
        ],
        "summary": "Update Partner Application",
        "description": "This operation allows you to update the details of a specific partner application identified by the resource ID (RES-100045). Use this endpoint to modify existing information related to the application based on the provided payload.",
        "operationId": "updatePartnerApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the application with ID RES-100045. It contains the necessary data to modify the existing application details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartnerApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePartnerApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePartnerApplicationRes100045Request": {
        "title": "ApplicationUpdateRequest",
        "type": "object",
        "properties": {
          "appDescription": {
            "type": "string",
            "description": "A brief description of the application.",
            "example": "STANDARD"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application.",
            "example": "Northstar Banking Service"
          },
          "appUrl": {
            "type": "string",
            "description": "The URL where the application is hosted.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "ownerAddressLine1": {
            "type": "string",
            "description": "First line of the owner's address.",
            "example": "STANDARD"
          },
          "ownerAddressLine2": {
            "type": "string",
            "description": "Second line of the owner's address (optional).",
            "example": "STANDARD"
          },
          "ownerCity": {
            "type": "string",
            "description": "City where the owner is located.",
            "example": "STANDARD"
          },
          "ownerCountry": {
            "type": "string",
            "description": "Country where the owner resides.",
            "example": "STANDARD"
          },
          "ownerName": {
            "type": "string",
            "description": "Name of the application owner.",
            "example": "Northstar Banking Service"
          },
          "ownerPostalCode": {
            "type": "string",
            "description": "Postal code for the owner's address.",
            "example": "CODE-501"
          },
          "ownerState": {
            "type": "string",
            "description": "State where the owner is located.",
            "example": "STANDARD"
          },
          "image": {
            "type": "string",
            "description": "URL to an image representing the application.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an application.",
        "example": {
          "appDescription": "STANDARD",
          "appName": "Northstar Banking Service",
          "appUrl": "https://banking.northstar.example/callbacks/status",
          "ownerAddressLine1": "STANDARD",
          "ownerAddressLine2": "STANDARD",
          "ownerCity": "STANDARD",
          "ownerCountry": "STANDARD",
          "ownerName": "Northstar Banking Service",
          "ownerPostalCode": "CODE-501",
          "ownerState": "STANDARD",
          "image": "STANDARD",
          "requestContext": {
            "requestId": "c003d1b2-52f2-54ae-b2e1-bcc219c08305",
            "correlationId": "1c2da35f-bc84-522d-9b4e-deef211ec484",
            "idempotencyKey": "21bb9719-238c-5d77-9583-c32dea8169a0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-807937"
            }
          }
        }
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing across systems.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "RequestChannel": {
        "title": "RequestChannel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the specific channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request was made.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel information for a request."
      },
      "UpdatePartnerApplicationRes100045Response_200": {
        "title": "Application Response Schema",
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The unique identifier for the pre-application.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata associated with the application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an application operation.",
        "example": {
          "preAppId": 1,
          "status": "ACTIVE",
          "metadata": {
            "responseId": "ec41fdc2-f86b-5c6f-ae3a-2da90ac22293",
            "correlationId": "1c2da35f-bc84-522d-9b4e-deef211ec484",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the application was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-app-registration"
        },
        "example": "open-finance-api-modify-app-registration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) as bearer tokens. This method is commonly used for securing API endpoints and allows clients to authenticate by including the JWT in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}