{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Rail Operations API",
    "description": "The Payment Rail Operations API provides a comprehensive interface for managing payment rail operations within the financial ecosystem. It allows users to retrieve detailed information about various payment transactions and their statuses. Typical consumers of this API include banking institutions, payment processors, and financial service providers who require real-time insights into payment operations. This API facilitates seamless tracking, reporting, and management of payment flows, ensuring that users can efficiently handle their payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-rail-operations": {
      "get": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Retrieve Payment Rail Operations",
        "description": "This endpoint allows you to fetch the detailed operations related to payment rails, including their statuses and processed transactions. It is essential for monitoring and analysis of payment workflows.",
        "operationId": "getPaymentRailOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payment rail operation details. It should contain parameters necessary for fetching the desired payment rail information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentRailOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the payment rail operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentRailOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentRailOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to payment rail operations.",
        "example": "{}"
      },
      "GetPaymentRailOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment items.",
            "example": [
              {
                "paymentId": "PAY-689230",
                "debtorAccountId": "ACC-987788",
                "creditorAccountId": "ACC-666863",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "description": "Information about pagination, including current page number, size of the page, and total number of items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sort order applied to the payment items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operations in payment rail, providing a collection of payment items along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-689230",
              "debtorAccountId": "ACC-987788",
              "creditorAccountId": "ACC-666863",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "534135ab-01cd-5342-80db-52d766ea4896",
            "correlationId": "a3aa28da-e199-59cf-95d4-d5dc3eee693d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account identifier of the debtor.",
            "example": "string"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account identifier of the creditor.",
            "example": "string"
          },
          "instructedAmount": {
            "description": "The amount and currency for the payment instruction.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "string"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Optional information regarding the remittance.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payment record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single payment item."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the amount instructed for the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the payment is made.",
            "example": "string"
          }
        },
        "description": "Schema defining the instructed amount for the payment."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items displayed on each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the collection.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for pagination information in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this particular response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the payment occurred.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-rail-operations-search-payment-rail-operations"
        },
        "example": "payment-rail-operations-search-payment-rail-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens in the Authorization header. This scheme supports JSON Web Tokens (JWT) for secure access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}