{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Leasing Item Management API",
    "description": "The Leasing Item Management API facilitates the creation and administration of leasing items within the operational banking services. This endpoint allows users to register new leasing items, which can be vital for financial institutions keen on managing their asset portfolios effectively. Typical consumers of this API include financial service providers and banking institutions that seek to streamline their leasing processes. Utilize this API to enhance your operational efficiency in leasing item administration.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/leasing-item-administration": {
      "post": {
        "tags": [],
        "summary": "Create a new leasing item.",
        "description": "This endpoint allows users to create a new leasing item in the system. It accepts relevant details for the leasing item and processes the request, returning the newly created item information upon success.",
        "operationId": "createLeasingItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send information related to the administration of leasing items. It should include all necessary details required for processing the leasing operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLeasingItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and available for use.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeasingItemResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server.",
            "headers": {
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeasingItemResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "Validation error due to unprocessable entity.",
            "headers": {
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLeasingItemResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLeasingItemResponse_201": {
        "title": "Leasing Item Administration Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "A unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the operation.",
            "example": "CUST-557411"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the operation.",
            "example": "ACC-227306"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the leased asset involved in the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the leased asset.",
            "example": "RES-130211"
          },
          "status": {
            "type": "string",
            "description": "The current status of the leasing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the leasing item administration operation in the operating services.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-557411",
          "accountId": "ACC-227306",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-130211",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b07894a7-31b1-5dc6-92aa-dc6045078702",
            "correlationId": "6744eda3-4147-5150-acbb-7d9dd2f57de4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2021-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema encapsulates the metadata for operations, providing auxiliary information relevant to the record."
      },
      "CreateLeasingItemResponse_500": {
        "title": "Error Response for Leasing Item Administration POST Operation",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the error.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "A string indicating the current state of the workflow at the time of the error.",
            "example": "WF-039"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer representing the hop after which the operation failed.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema describes the structure of the error response returned by the Leasing Item Administration service in case of a server error (500) during a POST operation.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-039",
          "failedAfterHop": 3
        }
      },
      "CreateLeasingItemRequest": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "CUST-839909"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the operation.",
            "example": "ACC-590803"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "NORMAL"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for the leased asset.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "Details regarding the residual value of the leased asset.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease term in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the POST operation to manage leasing item administration.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-839909",
          "accountId": "ACC-590803",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "9468f0a3-297b-5514-a528-cee994a230d5",
            "correlationId": "6744eda3-4147-5150-acbb-7d9dd2f57de4",
            "idempotencyKey": "fec9a4ec-5018-5edc-8ce4-bb783ebb0a4c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-528650"
            }
          }
        }
      },
      "ResidualValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the residual value.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the residual value amount.",
            "example": "USD"
          }
        },
        "description": "Details about the residual value associated with a leased asset."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the specific request.",
            "example": "req-xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across services.",
            "example": "correlation-abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated operations are handled idempotently.",
            "example": "idempotent-key-987"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system initiating the request.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "LeaseManagementApp"
          },
          "channel": {
            "description": "Channel through which the request was received.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information surrounding the request made for the operation."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-12345"
          }
        },
        "description": "Information related to the channel of the request."
      },
      "CreateLeasingItemResponse_422": {
        "title": "Leasing Item Administration Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "An error code that identifies the nature of the problem.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request which might be helpful for debugging.",
            "example": "438083da-a024-4ddf-8035-a5216a758885"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing more details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow where the error occurred.",
            "example": "WF-039"
          }
        },
        "description": "This schema represents the error response returned by the leasing item administration operations when a 422 Unprocessable Entity error occurs.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "438083da-a024-4ddf-8035-a5216a758885",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-039"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-039"
        },
        "example": "WF-039"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3ed214b7-8ea4-4a28-914c-ee6357e7fde8"
        },
        "example": "3ed214b7-8ea4-4a28-914c-ee6357e7fde8"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "38780f44-0f11-4bdd-96d1-4a0abfea9c7e"
        },
        "example": "38780f44-0f11-4bdd-96d1-4a0abfea9c7e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request, useful for tracing the request through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "leasing-item-administration-create-leasing-item-administration"
        },
        "example": "leasing-item-administration-create-leasing-item-administration"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that executed the operation, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-039"
        },
        "example": "WF-039"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Leasing Application and Asset Administration"
        },
        "example": "Leasing Application and Asset Administration"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "02edf305-2f40-4a26-95e8-b19429b74de5"
        },
        "example": "02edf305-2f40-4a26-95e8-b19429b74de5"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) is sent as a part of the authorization header to secure the API. Ensure that the JWT is included in requests to access protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}