{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Balance Sheet Management API",
    "description": "The Balance Sheet Management API allows financial institutions to update key components of their balance sheets in real-time. It supports operations related to adjusting asset and liability allocations, ensuring regulatory compliance, and enhancing financial reporting accuracy. Typical users include treasury managers and financial analysts looking to optimize their capital structure and manage liquidity effectively. By utilizing this API, businesses can respond swiftly to changing market conditions and maintain a robust financial standing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/balance-sheet-management/{param1}": {
      "patch": {
        "tags": [],
        "summary": "Update the balance sheet management resource.",
        "description": "This endpoint allows for updating the details of a specific balance sheet management resource identified by its unique ID. Users can modify various attributes of the resource as needed.",
        "operationId": "patchTreasuryBalanceSheetManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A JSON object that contains the necessary data to update the balance sheet management resource identified by RES-100045. Ensure that all required fields are included, and the data adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTreasuryBalanceSheetManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTreasuryBalanceSheetManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchTreasuryBalanceSheetManagementRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being requested in the balance sheet management.",
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes are intended to be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching operations related to balance sheet management in the treasury system.",
        "example": {
          "changes": {
            "portfolioId": "PORT-643478",
            "instrumentId": "STANDARD",
            "counterpartyId": "PARTY-256221"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "58770a63-d4b2-501d-9fcc-0ffbc9f634d3",
            "correlationId": "ea9d6395-a8ad-5a7b-aea4-fa7757b09589",
            "idempotencyKey": "1b19a6eb-c569-58a0-96e6-27cefdd3a2bf",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-854081"
            }
          }
        }
      },
      "ChangeDetails": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier of the portfolio related to the change.",
            "example": "portfolio-123"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the financial instrument involved in the change.",
            "example": "instrument-456"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the transaction.",
            "example": "counterparty-789"
          }
        },
        "description": "Details about the specific changes requested for the balance sheet management."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the specific request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "corr-002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idempotency-003"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Context information about the request, useful for tracing and correlation."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device that initiated the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "PatchTreasuryBalanceSheetManagementRes100045Response_200": {
        "title": "Balance Sheet Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the PATCH operation related to balance sheet management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "abb90c11-cd78-53a9-bda0-eb884d1c3263",
            "correlationId": "ea9d6395-a8ad-5a7b-aea4-fa7757b09589",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abcd1234"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "efgh5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema represents metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-and-liability-management-update-asset-and-liability-management"
        },
        "example": "asset-and-liability-management-update-asset-and-liability-management"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows for security of API endpoints through a JSON Web Token (JWT). The token is included in the HTTP Authorization header and grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}