{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Management API",
    "description": "The Counterparty Management API allows users to update the details of counterparties in a banking system. This API facilitates the modification of existing counterparty information such as contact details, credit limits, and compliance data. Ideal for financial institutions and firms managing extensive counterparty relationships, this endpoint specifically supports critical updates that ensure compliance and operational efficiency. Developers can leverage this API to maintain accurate counterparty records as part of their risk management and trading operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/counterparty-administration/{param1}": {
      "patch": {
        "tags": [
          "Counterparty Management"
        ],
        "summary": "Update counterparty information.",
        "description": "This endpoint allows users to update the details of a specific counterparty identified by the given ID. Ensure to provide the necessary fields in the request to successfully modify the counterparty's information.",
        "operationId": "patchCounterpartyAdministrationParty600045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the specified counterparty identified by PARTY-600045. Ensure that all required fields are included as per the schema to successfully apply the changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCounterpartyAdministrationParty600045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCounterpartyAdministrationParty600045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCounterpartyAdministrationParty600045Request": {
        "title": "Patch Request Body for Counterparty Administration Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be made in the counterparty administration.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the change should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching operations related to counterparty administration.",
        "example": {
          "changes": {
            "instrumentId": "STANDARD",
            "isin": "STANDARD",
            "marketIdentifierCode": "CODE-163"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "82361023-81d3-55ee-927b-82a4883853ea",
            "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
            "idempotencyKey": "c413fddb-caa0-5c8c-aead-fd1fefaee146",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-359794"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Counterparty Administration",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The ID of the instrument being changed.",
            "example": "instrument_001"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number (ISIN) of the instrument.",
            "example": "US0378331005"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The market identifier code associated with the instrument.",
            "example": "XYZ"
          }
        },
        "description": "Schema representing the specific changes to the counterparty administration."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing related requests.",
            "example": "corr_123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for ensuring idempotency of the request.",
            "example": "idemp_key_456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-25T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system from which the request originated.",
            "example": "source_system_abc"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for making the request.",
            "example": "app_name"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema for contextual information of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request was sent.",
            "example": "device_789"
          }
        },
        "description": "Schema representing the details of the communication channel used for the request."
      },
      "PatchCounterpartyAdministrationParty600045Response_200": {
        "title": "Counterparty Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on Counterparty Administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a3352536-72f4-5f22-8aa7-3786fe56bb16",
            "correlationId": "5fde063e-488d-5dfe-a9dc-ce019e365ad8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-administration-update-counterparty-administration"
        },
        "example": "counterparty-administration-update-counterparty-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, aiding in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as bearer tokens to authenticate users. Clients must provide a JWT token in the Authorization header when making requests to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}