{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Reference Data Update API",
    "description": "The Financial Instrument Reference Data Update API enables users to modify existing financial instrument records in the system efficiently. This API is crucial for maintaining accuracy and up-to-date information regarding various financial instruments used in banking and investment activities. Typical consumers include financial institutions and trading platforms that require frequent updates to their reference data for compliance and operational purposes. With this endpoint, organizations can ensure that their financial data reflects the latest market conditions and regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/financial-instrument-reference-data-management": {
      "put": {
        "tags": [
          "Financial Instrument Management"
        ],
        "summary": "Update financial instrument reference data.",
        "description": "This endpoint allows users to update the reference data for financial instruments, ensuring that the most current and accurate information is maintained in the system. Utilize this operation to modify details such as instrument definitions, pricing information, and other relevant metadata.",
        "operationId": "updateFinancialInstrumentReferenceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial instrument reference data. It requires the necessary details to be provided in the JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFinancialInstrumentReferenceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource is updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFinancialInstrumentReferenceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateFinancialInstrumentReferenceDataRequest": {
        "title": "Financial Instrument Reference Data Management Request",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number (ISIN) for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The market identifier code where the instrument is traded.",
            "example": "CODE-574"
          },
          "asOf": {
            "type": "string",
            "description": "Date as of which the data is applicable.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the data is obtained.",
            "example": "STANDARD"
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument (e.g., Equity, Bond, etc.).",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol of the instrument.",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument is issued.",
            "example": "USD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing financial instrument reference data.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-574",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "7e77b663-d18c-5243-baf1-d1a595a061c9",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "idempotencyKey": "96af832c-3547-5490-aa06-b8caaa80ba1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531060"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-key-unique"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was generated.",
            "example": "Market Data App"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-987"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, etc.).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "UpdateFinancialInstrumentReferenceDataResponse_200": {
        "title": "FinancialInstrumentReferenceDataResponse",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code that uniquely identifies the market where the instrument is traded.",
            "example": "CODE-748"
          },
          "version": {
            "type": "integer",
            "description": "Version of the financial instrument data.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the financial instrument data (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the financial instrument data was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial instrument reference data management PUT operation.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-748",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2fd87479-5a51-54aa-9514-9f57048ee009",
            "correlationId": "a104d9ef-cf8b-5ff2-948b-c72f9800a005",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the specific response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
        },
        "example": "financial-instrument-reference-data-management-upsert-financial-instrument-reference-data-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses Bearer Authentication with a JSON Web Token (JWT). The client must include the token in the Authorization header as 'Bearer {token}' to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}