{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Deposit Switch Integration API",
    "description": "The Deposit Switch Integration API facilitates seamless electronic fund transfers through various deposit switching mechanisms. Designed for financial institutions, this endpoint enables users to execute deposit transactions, ensuring efficient movement of funds between accounts. Typical consumers include banking applications and financial service providers that require reliable deposit processing functionality. By leveraging this API, developers can enhance their platforms with robust deposit management features, improving user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/deposit-switch": {
      "post": {
        "tags": [
          "Transfer Management"
        ],
        "summary": "Initiate a deposit switch transfer.",
        "description": "This operation allows users to initiate a transfer using the deposit switch feature. It facilitates seamless transactions by managing related account information and ensuring compliance with necessary protocols.",
        "operationId": "createDepositSwitchTransfer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to initiate a deposit switch operation. It must include all required fields as defined in the schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositSwitchTransferRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositSwitchTransferResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositSwitchTransferRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "external": {
            "$ref": "#/components/schemas/ExternalContext"
          },
          "accounts": {
            "type": "array",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-866814"
          },
          "language": {
            "type": "string",
            "description": "The preferred language of the customer.",
            "example": "en"
          },
          "webhook": {
            "type": "string",
            "description": "The URL where notifications regarding the operation will be sent.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type for the webhook notifications.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URL to redirect to after the operation is completed.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Information regarding the user experience preferences.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the deposit switch operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "external": {
            "id": "STANDARD",
            "context": "STANDARD"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-866814",
          "language": "en",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "redirectUri": "STANDARD",
          "experience": "STANDARD",
          "requestContext": {
            "requestId": "ace02e15-99fd-51d2-9192-0087a5922d37",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "idempotencyKey": "c3f6ef80-ce4e-5873-8754-5f28bf353018",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-809905"
            }
          }
        }
      },
      "ServiceAgreement": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language used in the service agreement."
          },
          "acceptedDate": {
            "type": "string",
            "description": "The date when the service agreement was accepted."
          }
        },
        "description": "This schema represents the service agreement details."
      },
      "ExternalContext": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the external context."
          },
          "context": {
            "type": "string",
            "description": "Additional context information."
          }
        },
        "description": "This schema represents external context details."
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "The unique account number."
          },
          "bankIdentifier": {
            "type": "string",
            "description": "The identifier for the bank (e.g., IBAN, SWIFT)."
          },
          "title": {
            "type": "string",
            "description": "The title or name associated with the account."
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., savings, checking)."
          }
        },
        "description": "This schema represents details for an individual account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple messages or transactions."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent operations."
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system where the request originates from."
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is made."
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used."
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel."
          }
        },
        "description": "This schema represents details about the channel used for the request."
      },
      "CreateDepositSwitchTransferResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link associated with the transfer deposit operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the transfer deposit operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "c2c02187-d612-51ce-aa90-516bded2ae91",
            "correlationId": "3e27ff77-c8a0-5cab-ab50-62e00f60a71d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information for the transfer deposit response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-deposit-switch-url"
        },
        "example": "open-finance-api-generate-transfer-deposit-switch-url"
      },
      "x-runtime-app": {
        "description": "The name or version of the application making the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes Bearer tokens in HTTP headers, leveraging JSON Web Tokens (JWT) for secure access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}