{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payments API",
    "description": "The File Payments API facilitates the submission and processing of bulk payment files through the open banking framework. This allows financial institutions and businesses to efficiently manage large-scale payments, ensuring timely and accurate transaction delivery. Common use cases include payroll processing and bulk supplier payments. By leveraging this API, developers can seamlessly integrate file payment capabilities into their applications to enhance user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payments": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Initiate a file payment through PISP.",
        "description": "This operation allows users to initiate a file payment using the Payment Initiation Service Provider (PISP). It facilitates secure and efficient money transfers based on the provided file payment instructions.",
        "operationId": "createPispFilePayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a file payment operation. It includes the necessary details such as sender and recipient information, payment amount, and any associated metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePispFilePaymentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the file payment has been processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePispFilePaymentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePispFilePaymentRequest": {
        "title": "File Payments Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentsData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for initiating file payments containing necessary data and context.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "e3f157c5-173d-5e96-9a05-92e446b70017",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "idempotencyKey": "b0b1b086-1fef-57de-9da4-6b486b8f00b2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-930440"
            }
          }
        }
      },
      "FilePaymentsData": {
        "title": "File Payments Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent required for the payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/FileInitiation"
          }
        },
        "description": "Contains details about the file payment including consent and initiation information."
      },
      "FileInitiation": {
        "title": "File Initiation",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "The type of the file being used for the payment.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "A hash representing the file for validation purposes.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "A reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "The number of transactions included in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "The total sum of all transactions in the file.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for executing the file payment.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment transaction.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Details regarding the initiation of the file payment."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name associated with the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "The Legal Entity Identifier for the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information about the creditor's bank or agent involved in the payment."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "The type of address (e.g., business or personal).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "The department associated with the address.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "The sub-department associated with the address.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "The name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "The building number for the address.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "The name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "The floor number.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "The unit or apartment number.",
            "example": "string"
          }
        },
        "description": "The postal address of the creditor agent."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key for ensuring that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the current request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreatePispFilePaymentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FilePaymentId": {
                "type": "string",
                "description": "A unique identifier for the file payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the transaction.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the file payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the file payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the file payment.",
                "example": [
                  {}
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the file payment.",
                "example": [
                  {}
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "FileType": {
                    "type": "string",
                    "description": "The type of file being processed.",
                    "example": "string"
                  },
                  "FileHash": {
                    "type": "string",
                    "description": "Hash of the file for verification.",
                    "example": "string"
                  },
                  "FileReference": {
                    "type": "string",
                    "description": "Reference identifier for the file.",
                    "example": "string"
                  },
                  "NumberOfTransactions": {
                    "type": "string",
                    "description": "Number of transactions included in the file.",
                    "example": "string"
                  },
                  "ControlSum": {
                    "type": "number",
                    "description": "Total value of all transactions in the file.",
                    "example": 0.0
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "Date and time when execution of the payment is requested.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local instrument identifier for the payment.",
                    "example": "string"
                  },
                  "DebtorAccount": {
                    "$ref": "#/components/schemas/Account"
                  },
                  "CreditorAgent": {
                    "$ref": "#/components/schemas/Agent"
                  }
                },
                "description": "Details about the initiation of the file payment.",
                "example": {}
              }
            },
            "description": "Contains information about the file payment details.",
            "example": {
              "FilePaymentId": "PAY-569881",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD"
                  }
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking purposes.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata related to the API response.",
            "example": {
              "responseId": "6aa31550-361f-53c6-affd-84f5519f3fe0",
              "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "FilePaymentId": "PAY-569881",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6aa31550-361f-53c6-affd-84f5519f3fe0",
            "correlationId": "29031874-ffe5-5fbb-b067-fa2514e97fbb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details about the reason for the status of the file payment."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Monetary value of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency in which the charge is expressed.",
                "example": "string"
              }
            },
            "description": "Amount details of the charge."
          }
        },
        "description": "Details about a charge associated with the file payment."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the account.",
            "example": "string"
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "Proxy identification.",
                "example": "string"
              },
              "Code": {
                "type": "string",
                "description": "Proxy code.",
                "example": "string"
              },
              "Type": {
                "type": "string",
                "description": "Proxy type.",
                "example": "string"
              }
            },
            "description": "Proxy details for the account."
          }
        },
        "description": "Details of a payment account."
      },
      "Agent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the agent scheme.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the agent.",
            "example": "string"
          },
          "PostalAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address.",
                "example": "string"
              },
              "Department": {
                "type": "string",
                "description": "Department name if applicable.",
                "example": "string"
              },
              "SubDepartment": {
                "type": "string",
                "description": "Sub-department name if applicable.",
                "example": "string"
              },
              "StreetName": {
                "type": "string",
                "description": "Street name of the address.",
                "example": "string"
              },
              "BuildingNumber": {
                "type": "string",
                "description": "Building number of the address.",
                "example": "string"
              }
            },
            "description": "Postal address details of the agent."
          }
        },
        "description": "Details of an agent involved in the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint used in the transaction. This helps in tracking the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-file-payment"
        },
        "example": "payment-initiation-openapi-submit-file-payment"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is processing the payment request. This is useful for identifying which application is handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the Authorization header when making requests. The JWT should contain the necessary claims to authenticate the user and authorize access to the API's resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}