{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Query API",
    "description": "The Transaction Query API enables users to retrieve detailed data regarding transactions associated with specific banking accounts. By leveraging this API, developers can efficiently access transaction history, balance updates, and activity logs. Typical consumers include financial applications and account management systems that require real-time insights into user transactions. This API is designed to streamline the integration of transaction information for reporting and analytics purposes, enhancing overall financial management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/transaction-engine": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve transaction data from the account management system.",
        "description": "This endpoint allows users to fetch transaction details from the account management system. It provides a comprehensive view of all transactions associated with a specific account, helping users to manage their financial activities effectively.",
        "operationId": "getAccountManagementTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET request to the transaction engine for retrieving account management transactions. Ensure the necessary parameters are included to fetch the desired transaction details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountManagementTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved transaction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountManagementTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountManagementTransactionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the transaction engine related to account management. It is expected to be a string format.",
        "example": "{}"
      },
      "GetAccountManagementTransactionsResponse_200": {
        "title": "Transaction Engine Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of transaction items.",
            "example": [
              {
                "accountId": "ACC-294728",
                "customerId": "CUST-316388",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TransactionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order of the transaction items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Transaction Engine GET operation, containing a list of transaction items, pagination details, sorting info, and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-294728",
              "customerId": "CUST-316388",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "62467d25-fbfc-5c28-a89b-aa7d304ce4d3",
            "correlationId": "738b3a17-b1b9-5df9-9a59-ef777d89fb78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionItem": {
        "title": "Transaction Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the transaction.",
            "example": "account-123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the transaction.",
            "example": "customer-456"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the transaction as recorded in the ledger.",
            "example": "2023-10-01"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction was processed.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger after the transaction was accounted.",
            "example": 1000.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the transaction record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the transaction record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a transaction item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for a list of items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs between different services.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp at which the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-engine-search-transaction-engine"
        },
        "example": "transaction-engine-search-transaction-engine"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP authentication to secure endpoints via a Bearer token. The token must be a valid JSON Web Token (JWT), ensuring that requests can be authenticated and authorized.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}