{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_QR Payment Requests API",
    "description": "The QR Payment Requests API enables businesses to efficiently manage and retrieve payment requests initiated through QR code transactions. This endpoint allows users to access detailed information regarding individual payment requests, making it ideal for payment processors, financial institutions, and merchants looking to track and settle transactions. Typical consumers include system integrators and developers implementing QR payment solutions. Through this API, you can enhance your payment processing capabilities and improve the customer experience by offering seamless payment options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests": {
      "get": {
        "tags": [
          "QR Payment Processing"
        ],
        "summary": "Retrieve QR Payment Requests",
        "description": "This endpoint allows you to fetch all QR payment requests that have been made. You can use it to view the status and details of the requests made for payment processing via QR codes.",
        "operationId": "getQrPaymentRequests",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving QR payment requests. This body must conform to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQrPaymentRequestsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of QR payment requests.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQrPaymentRequestsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQrPaymentRequestsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the QR payment requests operation when using the GET method.",
        "example": "{}"
      },
      "GetQrPaymentRequestsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of the page (number of items per page).",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Links related to navigation in the paginated response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of QR payment request items.",
            "example": [
              {
                "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
                "merchantId": "MER-581922",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "mode": "STANDARD",
                "standard": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "merchantOrderId": "ORD-539874",
                "description": "Customer banking request processed successfully",
                "tipOptions": {
                  "mode": "STANDARD",
                  "fixedAmounts": [
                    {
                      "currency": "USD",
                      "value": "STANDARD"
                    }
                  ],
                  "percentages": [
                    "STANDARD"
                  ],
                  "maximumTip": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "qrPayload": "STANDARD",
                "qrImageUrl": "https://example.com/resource",
                "status": "ACTIVE",
                "singleUse": true,
                "paidAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "paymentId": "PAY-773179",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/QrPaymentRequest"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
              "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for getting QR payment requests.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "qrPaymentRequestId": "a4a08fc6-99db-5e87-8190-151dcf43fcf4",
              "merchantId": "MER-581922",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "mode": "STANDARD",
              "standard": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "merchantOrderId": "ORD-539874",
              "description": "Customer banking request processed successfully",
              "tipOptions": {
                "mode": "STANDARD",
                "fixedAmounts": [
                  {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                ],
                "percentages": [
                  "STANDARD"
                ],
                "maximumTip": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "qrPayload": "STANDARD",
              "qrImageUrl": "https://example.com/resource",
              "status": "ACTIVE",
              "singleUse": true,
              "paidAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "paymentId": "PAY-773179",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "83b2232e-9296-5d78-b829-42163ed24ede",
            "correlationId": "cc47b416-50b5-51d2-860f-00524fc44f47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link, e.g., 'next', 'prev'.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used when following the link.",
            "example": "string"
          }
        },
        "description": "A navigation link for pagination.",
        "example": {
          "rel": "next",
          "href": "http://example.com/next",
          "method": "GET"
        }
      },
      "QrPaymentRequest": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "string"
          },
          "mode": {
            "type": "string",
            "description": "Payment mode used for the request.",
            "example": "string"
          },
          "standard": {
            "type": "string",
            "description": "Payment standard being applied.",
            "example": "string"
          },
          "amount": {
            "description": "The amount to be paid in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "string"
          },
          "tipOptions": {
            "description": "Options available for tipping.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload contained in the QR code.",
            "example": "string"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL of the QR code image.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "string"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the payment request is for single use.",
            "example": false
          },
          "paidAmount": {
            "description": "Amount that has been paid for this transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment.",
            "example": "string"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment request expires.",
            "example": "string"
          },
          "audit": {
            "description": "Audit information related to the payment request.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a single QR payment request.",
        "example": {}
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code, e.g., USD, EUR.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount, represented as a string.",
            "example": "string"
          }
        },
        "description": "Currency and value of an amount.",
        "example": {
          "currency": "USD",
          "value": "100.00"
        }
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode of tipping, e.g., fixed or percentage.",
            "example": "string"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed amount options for tips.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage options for tips.",
            "example": [],
            "items": {
              "type": "string",
              "description": "Percentage values as strings."
            }
          },
          "maximumTip": {
            "description": "The maximum amount that can be tipped.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Available options for tipping a payment.",
        "example": {}
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the item was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the item.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the item.",
            "example": "string"
          }
        },
        "description": "Audit information for tracking changes.",
        "example": {}
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This value is essential for logging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-qr-payment-requests"
        },
        "example": "banking-p2m-openapi-list-qr-payment-requests"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service responsible for handling the request. This is useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) for authorization. The client must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}