{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Reference Data Directory API",
    "description": "The Party Reference Data Directory API facilitates the management and updating of essential party reference data within a banking context. This API allows organizations to synchronize and enrich their customer information, ensuring accuracy and compliance. Typical consumers include financial institutions and customer relationship management systems seeking to enhance their customer data repositories. Operations may involve updating existing party records or integrating new information to maintain a robust and reliable database of customer entities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/party-reference-data-directory": {
      "put": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update party reference data in customer management.",
        "description": "This operation allows developers to update existing party reference data within the customer management system, ensuring that all information is current and accurate for customer interactions.",
        "operationId": "putCustomerManagementPartyReferenceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating party reference data in the customer management system. This body should contain the necessary information structured according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PutCustomerManagementPartyReferenceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, indicating the update was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PutCustomerManagementPartyReferenceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PutCustomerManagementPartyReferenceDataRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-254819"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-512819"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the party.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the relationship becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the relationship.",
            "example": "GOLD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating party reference data in the customer management system.",
        "example": {
          "customerId": "CUST-254819",
          "partyId": "PARTY-512819",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "27f10b8d-4dc5-57fc-b187-c9bb373d599c",
            "correlationId": "86446519-0ec9-5b1f-aaa9-abd566a42bb8",
            "idempotencyKey": "d240936a-e756-5994-9390-dc0675d26c5b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160200"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "CORR78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is processed only once.",
            "example": "IDEMPOTENCYKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system that initiated the request.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL567"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the channel is accessed.",
            "example": "DEVICE12345"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "PutCustomerManagementPartyReferenceDataResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-999452"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-532676"
          },
          "productCode": {
            "type": "string",
            "description": "The code that identifies the product associated with the party.",
            "example": "CHK-PREMIUM-US"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer management party reference data directory operation.",
        "example": {
          "customerId": "CUST-999452",
          "partyId": "PARTY-532676",
          "productCode": "CHK-PREMIUM-US",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7ac783c1-5a69-5a97-a728-741034a55fe8",
            "correlationId": "86446519-0ec9-5b1f-aaa9-abd566a42bb8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp_56789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr_98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-reference-data-directory-upsert-party-reference-data-directory"
        },
        "example": "party-reference-data-directory-upsert-party-reference-data-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) as the bearer token. Clients must provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}