{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Historic Transaction Insights API",
    "description": "The Historic Transaction Insights API enables businesses to access and analyze historic transaction data for a specific customer account. This API allows users to retrieve a comprehensive overview of past transactions, facilitating insights into customer behavior and financial trends. Typical consumers include financial analysts and customer service representatives, who use this data for reporting and customer inquiries. The endpoint supports the aggregation of transaction records, ensuring organizations can leverage historical data to enhance decision-making and customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions/historic": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a Historic Transaction",
        "description": "This endpoint allows you to record a historic transaction for a specified customer account. It is designed to enable businesses to maintain an accurate transaction history, which can be vital for auditing, compliance, and customer relationship management.",
        "operationId": "createHistoricTransactionForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for posting historic transactions for a specific account. This operation allows you to submit transaction details which will be processed accordingly. Ensure all required fields are filled as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHistoricTransactionForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "203": {
            "description": "Request processed successfully, additional content is available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHistoricTransactionForCustomerAccountResponse_203"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHistoricTransactionForCustomerAccountRequest": {
        "title": "Historic Transaction Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting historic transactions.",
        "example": {
          "requestContext": {
            "requestId": "3600aa95-43e1-5111-ba32-5958abde8fe2",
            "correlationId": "ed953d30-56ae-5f6e-8d7e-39e894fc6608",
            "idempotencyKey": "48ff66db-9831-5f49-9ae8-a9fb9ff48f7b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-936345"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateHistoricTransactionForCustomerAccountResponse_203": {
        "title": "Transaction History Response",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Contains additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the Transaction History API call. Contains metadata about the response.",
        "example": {
          "metadata": {
            "responseId": "b91009c5-c703-5ec0-b907-b35439e8b578",
            "correlationId": "ed953d30-56ae-5f6e-8d7e-39e894fc6608",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "abc-1234-correlation"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Meta-information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_203"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-load-historic-transactions-for-customer-account"
        },
        "example": "open-finance-api-load-historic-transactions-for-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token must be provided in the Authorization header as a JWT (JSON Web Token) for securing the API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}