{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Document Management API",
    "description": "The Loan Document Management API enables financial institutions to efficiently manage documents related to loan applications. This endpoint allows users to update specific documents for a loan application, ensuring that all information is current and accurate. Typical consumers of this API include loan officers and processing teams who need streamlined access to document updates. By facilitating timely document revisions, the API enhances the overall loan processing experience and improves compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update a document for a loan application.",
        "description": "This operation allows you to update a specific document associated with a loan application identified by its unique ID. Ensure that the document you're updating meets the required specifications.",
        "operationId": "updateLoanApplicationDocumentRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the documents related to a specific loan application. This payload should include all necessary data needed to modify the existing document identified by its unique resource ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationDocumentRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The document was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationDocumentRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationDocumentRES100045Request": {
        "title": "Loan Application Document",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being submitted (e.g., ID, credit report).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "62d3813a-2e67-c38a-585a-a95af4a3a20f"
          },
          "collateralId": {
            "type": "string",
            "description": "Identifier for the collateral associated with the loan.",
            "example": "1041d230-c945-6723-061e-0800f31bf6bf"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being submitted.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the file being submitted.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the location where the document is stored.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA-256 checksum of the file for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date when the document will expire.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the details of a document related to a loan application.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "62d3813a-2e67-c38a-585a-a95af4a3a20f",
          "collateralId": "1041d230-c945-6723-061e-0800f31bf6bf",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "0c7fd573-6fc1-5c54-8fd8-144eea66e1b0",
            "correlationId": "cdaf3302-731a-5091-9a23-cbb26781bea2",
            "idempotencyKey": "f4cdcefc-d845-52ab-ab43-b08635c8c687",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-349379"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing through logs.",
            "example": "corr-abcdef"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-key-98765"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "webapp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "LoanApprovalApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., online, mobile, branch).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Schema representing the channel information from which the request originated."
      },
      "UpdateLoanApplicationDocumentRES100045Response_200": {
        "title": "Loan Application Document Response",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being submitted.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant.",
            "example": "2bf7d4bd-c146-42ce-926d-7f497620cb70"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral associated with the application.",
            "example": "92944354-4ac5-996b-6664-2fa4c45e80de"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file submitted.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "A reference to where the document is stored.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the document entry.",
            "example": "817055c2-ff26-ed58-fe9d-265e8d2c8855"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current verification status of the document.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Any comments related to the verification process.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Date and time when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "The identifier of the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Information regarding the audit history of the document.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the document submission.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing a response for a loan application document.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "2bf7d4bd-c146-42ce-926d-7f497620cb70",
          "collateralId": "92944354-4ac5-996b-6664-2fa4c45e80de",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "817055c2-ff26-ed58-fe9d-265e8d2c8855",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c29705df-97a7-5a67-aad9-f8891e4237d9",
            "correlationId": "cdaf3302-731a-5091-9a23-cbb26781bea2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date and time when the record was created.",
            "example": "2023-01-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "creator-12345"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2023-01-02T09:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "updater-54321"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for an entity."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T09:45:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with a document submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, allowing tracing of requests through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-application-document"
        },
        "example": "banking-loans-openapi-replace-application-document"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application or service that handled the request, which can be useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, typically a JSON Web Token (JWT). Clients must include the bearer token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}