{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Compliance Insights API",
    "description": "The Financial Compliance Insights API provides access to vital financial accounting data essential for auditing and compliance assessments. Users can retrieve detailed records and ensure adherence to regulatory standards. This API supports financial institutions and compliance officers who need to monitor and validate accounting transactions effectively. It facilitates the seamless integration of financial insights into corporate compliance frameworks, enhancing transparency and decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-accounting/{param1}": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve compliance details for financial accounting.",
        "description": "This endpoint allows users to retrieve compliance details associated with the financial accounting resource identified by ACC-200045. Ensure you have the necessary permissions to access this information.",
        "operationId": "getComplianceFinancialAccountingAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial accounting information for the specified account. It contains parameters related to compliance and financial data filtering.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceFinancialAccountingAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceFinancialAccountingAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceFinancialAccountingAcc200045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to financial accounting. It is expected to be a string that contains relevant information.",
        "example": "{}"
      },
      "GetComplianceFinancialAccountingAcc200045Response_200": {
        "title": "Financial Accounting Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the reporting is made.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the report is generated.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation that applies to the submission.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., pending, completed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the submission.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the submission was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information related to the submission.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the GET operation in the financial accounting compliance context.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9cc35fe8-07ab-530a-8e47-7cfe78d3bf5a",
            "correlationId": "aebc61be-8892-5e0f-b6f7-46f6be1f890b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the submission took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata details for the financial accounting response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-accounting-get-financial-accounting"
        },
        "example": "financial-accounting-get-financial-accounting"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime serving the request, used for performance analysis and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication scheme as defined in RFC 6750. A valid JSON Web Token (JWT) is required to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}