{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Outlet Management API",
    "description": "The Outlet Management API enables businesses to update the details of existing outlets within their operations. This endpoint allows for modifications to key outlet information, ensuring the data is current and reflective of any changes. Common use cases involve retail managers and administrative staff who need to adjust outlet features or characteristics. By utilizing this API, organizations can maintain the accuracy and integrity of their outlet records in real-time, improving overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets/{outletId}": {
      "put": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Update Outlet Information",
        "description": "This endpoint allows you to update the information for a specific outlet identified by the unique ID 'RES-100045'. You can modify various attributes of the outlet, ensuring the data remains current and accurate.",
        "operationId": "updateOutletRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the outlet specified by the identifier 'RES-100045'. Ensure that all required fields are populated correctly to avoid validation errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateOutletRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The outlet was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateOutletRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateOutletRes100045Request": {
        "title": "Outlet Update Request",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-833842"
          },
          "name": {
            "type": "string",
            "description": "Name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "Type of the outlet (e.g., retail, service).",
            "example": "STANDARD"
          },
          "address": {
            "description": "The physical address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the outlet operates.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in transactions at the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference ID for integration purposes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an outlet information.",
        "example": {
          "merchantId": "MER-833842",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "320873e3-1a2b-558c-8220-9b108d9a55a3",
            "correlationId": "a7c4c24c-8100-56ac-abea-28eed15a67c6",
            "idempotencyKey": "ec44624c-1fde-53a3-82de-6356fe6a21b4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-186714"
            }
          }
        }
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 400"
          },
          "city": {
            "type": "string",
            "description": "City where the outlet is located.",
            "example": "Metropolis"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province where the outlet is located.",
            "example": "CA"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the outlet address.",
            "example": "90210"
          },
          "country": {
            "type": "string",
            "description": "Country where the outlet is located.",
            "example": "USA"
          }
        },
        "description": "Schema representing the address of an outlet."
      },
      "Contact": {
        "title": "Contact",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the outlet.",
            "example": "contact@outlet.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the outlet.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the outlet.",
            "example": "http://outlet.com"
          }
        },
        "description": "Schema representing contact information for an outlet."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "correlation_54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency_key_example"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "SalesSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_112233"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device_456789"
          }
        },
        "description": "Schema representing details about the channel related to the request."
      },
      "UpdateOutletRes100045Response_200": {
        "title": "Outlet Response",
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant owning the outlet.",
            "example": "MER-975835"
          },
          "name": {
            "type": "string",
            "description": "The name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "Type of the outlet.",
            "example": "STANDARD"
          },
          "address": {
            "description": "Address of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact details for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the outlet operates.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "Currency used by the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outlet.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the outlet.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the outlet.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for outlet operations.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-975835",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "7b67e6a0-4f14-5154-8d52-c0f93ce87ea8",
            "correlationId": "a7c4c24c-8100-56ac-abea-28eed15a67c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the outlet was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the outlet.",
            "example": "admin_user"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the outlet was last updated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the outlet.",
            "example": "admin_user"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the outlet record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit information of the outlet."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing requests.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-11T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the outlet."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This value is used to trace requests and responses in API logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-outlet"
        },
        "example": "banking-p2m-openapi-replace-outlet"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime environment of the application, which can help in debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request. The token serves as proof of identity and authorization for the requester.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}