{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Credit Risk Management API",
    "description": "This API supports the management of operational actions related to credit risk within wholesale trading environments. Users can initiate various actions aimed at mitigating and managing credit risks associated with trading activities. Typical consumers include risk managers, compliance officers, and trading platforms looking to streamline their risk management processes. This API facilitates real-time operational adjustments, driving efficiency and accuracy in credit risk assessments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/credit-risk-operations/operational-actions": {
      "post": {
        "tags": [
          "Credit Risk Management"
        ],
        "summary": "Create a new operational action for credit risk management.",
        "description": "This endpoint allows users to create a new operational action related to credit risk operations within wholesale trading. It's designed for developers looking to integrate or automate tasks regarding credit risk management, ensuring accurate and efficient handling of operational actions.",
        "operationId": "createOperationalActionForCreditRisk",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to submit operational actions related to credit risk within wholesale trading. The client must provide all necessary fields as defined in the schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOperationalActionForCreditRiskRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOperationalActionForCreditRiskResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOperationalActionForCreditRiskRequest": {
        "title": "Operational Action Request",
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action requested (e.g., 'approve', 'reject').",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action (e.g., 'high', 'medium', 'low').",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action being requested.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that made the request.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A request body for performing an operational action in the credit risk operations context.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "14b6e1f1-3c0f-5a4d-bf81-3bc821705108",
            "correlationId": "a01d25ae-2eb5-5396-be01-ad3f55a329a6",
            "idempotencyKey": "c06c5e56-4525-5ba2-8d3e-d4767065f42b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-591690"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlates multiple requests and responses.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to prevent duplicate processing of the request.",
            "example": "idemp-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the context information was recorded.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "SalesApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., 'API', 'WebUI').",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was sent.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateOperationalActionForCreditRiskResponse_202": {
        "title": "Operational Action Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operational action response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an operational action in the wholesale trading credit risk operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "efa7f741-7036-5ada-a6a6-cf34655106af",
            "correlationId": "a01d25ae-2eb5-5396-be01-ad3f55a329a6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related actions or events.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing additional information related to the operational action response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-operations-create-credit-risk-operations-operational-action"
        },
        "example": "credit-risk-operations-create-credit-risk-operations-operational-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token, which is a type of token that can be passed along with your HTTP requests. The token format is JWT (JSON Web Token), allowing for efficient and secure user authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}