{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchandising Loan Management API",
    "description": "The Merchandising Loan Management API enables users to update and manage existing merchandising loan records efficiently. This API facilitates modifications to loan details, catering to businesses looking to adjust loan terms or specific attributes as needed. Typical consumers include banking services, financial institutions, and retail companies that require flexible loan management capabilities. The API supports a seamless experience for users by allowing quick updates via the PATCH method for specific loan identifiers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan/{param1}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update Loan Details",
        "description": "This endpoint allows you to update the details of a specific merchandising loan identified by its loan ID. Submit the necessary changes in the request body to modify the loan attributes as needed.",
        "operationId": "patchMerchandisingLoanLOAN500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Update the details of the merchandising loan identified by LOAN-500045. This request body allows clients to submit modifications to specific fields of the loan, ensuring that all updates conform to the expected structure defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMerchandisingLoanLOAN500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMerchandisingLoanLOAN500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMerchandisingLoanLOAN500045Request": {
        "title": "Loan Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/LoanChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change in loan details.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change will be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating loan operations via a PATCH request.",
        "example": {
          "changes": {
            "customerId": "CUST-342632",
            "accountId": "ACC-519838",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "51801af6-ca27-5e8d-a7d8-5454499f39a8",
            "correlationId": "840b680e-12be-515c-96dd-975af6dc0c80",
            "idempotencyKey": "bff82c0f-04a0-5c27-8fea-0189f6fa1983",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-243201"
            }
          }
        }
      },
      "LoanChangeDetails": {
        "title": "Loan Change Details",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the loan.",
            "example": "cust_456"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the loan.",
            "example": "acc_789"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product.",
            "example": "loan-product-001"
          }
        },
        "description": "Details of the changes requested for the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req_123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "correlation_abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is processed only once.",
            "example": "idempotency_key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-05T09:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "WebApplication"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual details pertaining to the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_2023"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "PatchMerchandisingLoanLOAN500045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Status indicating the outcome of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation of a merchandising loan.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c22650da-81f1-52ac-81b0-8b33a866db2b",
            "correlationId": "840b680e-12be-515c-96dd-975af6dc0c80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracing operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-update-merchandising-loan"
        },
        "example": "merchandising-loan-update-merchandising-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for securely transmitting information between parties. This format is commonly used to authenticate users in web applications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}