{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Current Account Inquiry API",
    "description": "The Current Account Inquiry API allows users to access detailed information about their current account status. This API is essential for financial institutions and their customers who need real-time insights into account balances, transaction histories, and related banking activities. Typical consumers include bank customers checking their current balances and developers integrating account features into banking applications. This API helps enhance the user experience by providing quick access to important financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve current account details for deposit lending.",
        "description": "This endpoint allows users to retrieve detailed information about their current accounts related to deposit lending, including balance, transaction history, and account status.",
        "operationId": "getCurrentAccountDepositLending",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve current account information for deposit lending operations. It should include all necessary parameters required for the query to be processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrentAccountDepositLendingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrentAccountDepositLendingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCurrentAccountDepositLendingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the current account in the deposit lending service.",
        "example": "{}"
      },
      "GetCurrentAccountDepositLendingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of current account operations.",
            "example": [
              {
                "customerId": "CUST-388539",
                "accountId": "ACC-593304",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrentAccountOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET current account operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-388539",
              "accountId": "ACC-593304",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "05b75572-b998-5905-8a46-ba8ce91e3ba5",
            "correlationId": "fae94928-9475-5c11-97e1-8e5fd203df78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrentAccountOperation": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type of the account.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the account in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the account.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency of statement generation.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicator if overdrafts are allowed on the account.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the account operation was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a current account operation."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount and currency for the current account operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier of the endpoint being accessed. This header is used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-search-current-account"
        },
        "example": "current-account-search-current-account"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application processing the request. This header can aid in debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}