{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Assignment Management API",
    "description": "The Employee Assignment Management API provides endpoints for retrieving and managing employee assignments within the organization's human resource framework. By leveraging this API, users can access detailed information about specific employee assignments identified by unique parameters. It is particularly useful for HR personnel and managers who need to monitor assignment statuses, track resource allocation, and ensure optimal workforce management. This API enhances operational efficiency by centralizing assignment data and facilitating quick retrieval for reporting and decision-making purposes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment/{param1}": {
      "get": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Retrieve Employee Assignment Details",
        "description": "Fetch the details of the employee assignment based on the provided identifier. This endpoint allows users to obtain specific information about a given employee assignment for analysis and record-keeping.",
        "operationId": "getEmployeeAssignmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the employee assignment for the specified employee ID (EMP-900045). It includes necessary identifiers and parameters required for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeAssignmentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of employee assignment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeAssignmentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeAssignmentByIdRequest": {
        "title": "Employee Assignment Request Body",
        "type": "string",
        "description": "This schema defines the structure of the request body when retrieving employee assignment information.",
        "example": "{}"
      },
      "GetEmployeeAssignmentByIdResponse_200": {
        "title": "Employee Assignment Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-388450"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the employee assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department to which the employee is assigned.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the assignment becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the employee's work location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment, e.g., full-time, part-time, contract.",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the manager of the employee.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The primary location where the employee performs their work.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, e.g., active, inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the employee assignment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for employee assignment details.",
        "example": {
          "employeeId": "EMP-388450",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "53c419f2-54f0-5d25-a980-166b2f1f1306",
            "correlationId": "8474e100-259b-5162-a532-f1db43ea03e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests and responses.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema represents the metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-get-employee-assignment"
        },
        "example": "employee-assignment-get-employee-assignment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication mechanism, allowing clients to access resources by including a JSON Web Token (JWT) in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}