{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Public Reference Data Management API",
    "description": "The Public Reference Data Management API facilitates the efficient management of banking market data, enabling users to create and manage reference data essential for various financial applications. This API allows businesses to streamline their data processes by integrating public reference data into their systems seamlessly. Typical consumers include financial institutions, fintech companies, and application developers who require reliable market data for analytics and reporting. With this API, users can ensure they have accurate and up-to-date reference data to support decision-making and strategy development.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/public-reference-data-management": {
      "post": {
        "tags": [
          "Market Data Management"
        ],
        "summary": "Create Public Reference Data",
        "description": "This operation allows the user to create new public reference data in the market data system. By providing the necessary details in the request body, you can manage and store essential reference data for public use.",
        "operationId": "createPublicReferenceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update market data public reference data management entries. It requires a valid JSON object that conforms to the specified schema, containing the necessary details for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePublicReferenceDataRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the new entry has been recorded.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePublicReferenceDataResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePublicReferenceDataRequest": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number (ISIN) for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The market identifier code (MIC) which identifies the market where the instrument is traded.",
            "example": "CODE-383"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time as of which the data is being requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source of the data being requested.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for managing public reference data through market operations.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-383",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "requestContext": {
            "requestId": "f9d5431c-46f6-5ac5-b9f4-2ac6fcf4bef4",
            "correlationId": "77cb8830-c81f-5b97-a9ae-c5b5331931ee",
            "idempotencyKey": "aa933032-fbd5-5d9a-a4fe-217ccf1282e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-890641"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "Internal System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "App XYZ"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information about the request context such as identifiers and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-111"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request was made.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used to make the request.",
            "example": "device-222"
          }
        },
        "description": "Details about the channel that was used to make the request."
      },
      "CreatePublicReferenceDataResponse_201": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "A code that identifies the market.",
            "example": "CODE-404"
          },
          "resourceId": {
            "type": "string",
            "description": "A unique identifier for the resource.",
            "example": "RES-971540"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response for the POST operation in the public reference data management operations for market data.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-404",
          "resourceId": "RES-971540",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4731436e-9956-5ff5-bf31-c3391da68a85",
            "correlationId": "77cb8830-c81f-5b97-a9ae-c5b5331931ee",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request and its responses.",
            "example": "corr-xyz-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata regarding the response, such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-reference-data-management-create-public-reference-data-management"
        },
        "example": "public-reference-data-management-create-public-reference-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication, specifically in the JWT (JSON Web Token) format. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}