{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Combination Management API",
    "description": "The Product Combination Management API enables businesses to update existing product combinations offered within their banking services. By utilizing this API, clients can modify the features or terms of specific product combinations to better meet customer needs. Typical consumers include financial institutions and developers working on banking applications that require dynamic product offerings. This API supports seamless updates, ensuring that the latest product combinations are available for customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/product-combination/{param1}": {
      "patch": {
        "tags": [
          "Product Management"
        ],
        "summary": "Update product combination details",
        "description": "This endpoint allows you to update the details of the specified product combination. Ensure to provide the correct data to reflect the necessary changes.",
        "operationId": "patchProductCombinationPROD700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the product combination with the specified ID. It allows for partial updates to the properties of the product combination. The request must include a JSON payload that aligns with the defined schema, enabling clients to modify specific fields as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProductCombinationPROD700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProductCombinationPROD700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchProductCombinationPROD700045Request": {
        "title": "Patch Request Body for Product Combination Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details about the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for patching product combination operations in the account management system.",
        "example": {
          "changes": {
            "accountId": "ACC-531018",
            "customerId": "CUST-761797",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2a234771-9108-5903-9fdf-3b233699599d",
            "correlationId": "5d737ec5-eedd-5080-b57b-35a40d5700ac",
            "idempotencyKey": "8b2679a8-bab9-502f-a698-46a13e7d17a9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-374113"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          }
        },
        "description": "This schema defines the changes to be applied in the product combination."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to track the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request can be repeated without adverse effects.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema captures the context in which the request was made."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "This schema describes the channel used for the request."
      },
      "PatchProductCombinationPROD700045Response_200": {
        "title": "Product Combination Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate multiple requests.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata providing additional information about the response.",
            "example": {
              "responseId": "098f56ee-4b9e-5f8e-b77b-304d039c4c30",
              "correlationId": "5d737ec5-eedd-5080-b57b-35a40d5700ac",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for product combination operations when a PATCH request is made.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "098f56ee-4b9e-5f8e-b77b-304d039c4c30",
            "correlationId": "5d737ec5-eedd-5080-b57b-35a40d5700ac",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-combination-update-product-combination"
        },
        "example": "product-combination-update-product-combination"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, typically formatted as a JSON Web Token (JWT), to secure API endpoints. Clients must include this token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}