{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Voie Payroll Submission API",
    "description": "The Customer Voie Payroll Submission API allows businesses to submit payroll data for specific customers efficiently. This endpoint is essential for companies needing to integrate payroll information seamlessly into their decision-making processes. Typically, this API is utilized by payroll administrators and financial teams to ensure accurate and timely submissions for processing. By using this API, organizations can enhance their operational efficiency and maintain compliance with payroll regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voiepayroll": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Voie Payroll for a specific customer.",
        "description": "This operation allows you to create a Voie Payroll record for the customer identified by CUST-100045. Ensure that all required fields are included in the request body to successfully create the record.",
        "operationId": "createVoiePayrollForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to process payroll for customer CUST-100045. Ensure that all required fields are populated accurately to facilitate a successful payroll operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoiePayrollForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoiePayrollForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoiePayrollForCustomerCUST100045Request": {
        "title": "Payroll Operations Request Body",
        "type": "object",
        "properties": {
          "payrollData": {
            "$ref": "#/components/schemas/PayrollData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "payStatementsFromDate": {
            "type": "integer",
            "description": "The starting date for pay statements, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment associated with the payroll request.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the payroll request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for payroll operations.",
        "example": {
          "payrollData": {
            "ssn": "STANDARD",
            "dob": 1,
            "reportId": "STANDARD",
            "payrollAccountIds": [
              "ACC-290769"
            ]
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "payStatementsFromDate": 1,
          "marketSegment": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "e88f9109-7b23-5dea-b039-b5078a4a79f2",
            "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
            "idempotencyKey": "d6f66774-32c4-5503-b1e5-c986b9dc05ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-855525"
            }
          }
        }
      },
      "PayrollData": {
        "title": "Payroll Data",
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the individual.",
            "example": "string"
          },
          "dob": {
            "type": "integer",
            "description": "Date of birth of the individual, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "reportId": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "string"
          },
          "payrollAccountIds": {
            "type": "array",
            "description": "List of payroll account identifiers associated with the individual.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the payroll data for an individual."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "Schema representing custom fields within a report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request is made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateVoiePayrollForCustomerCUST100045Response_202": {
        "title": "Customer Payroll Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer payroll response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer, represented as an integer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with this response.",
            "example": "d5a17579-a1cf-5bc9-8831-674db703fdad"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person or entity making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user associated with the payroll request.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the response was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title or subject of the payroll request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the payroll request.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer related to the payroll request.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement related to any disputes regarding the payroll request.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the payroll request (e.g., new request, update).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payroll request (e.g., pending, completed).",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the payroll processing.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer payroll operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "d5a17579-a1cf-5bc9-8831-674db703fdad",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "payrollData": {
              "retrievalId": "STANDARD",
              "payrollAggregatorResponseId": "509912de-a238-5415-85de-4fa2a2ae8644",
              "consentMethod": "STANDARD",
              "employmentIds": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "855fa8ee-19eb-5710-acdc-a1ee08fa4daf",
            "correlationId": "3d43e33d-7c74-5dc1-9b19-2c59b2aa0f30",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address for the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website or URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the end user.",
        "example": {
          "name": "John Doe",
          "address": "123 Main St",
          "city": "Anytown",
          "state": "CA",
          "zip": "90210",
          "phone": "555-1234",
          "email": "john.doe@example.com",
          "url": "http://example.com"
        }
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer, if applicable.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address for the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about a consumer.",
        "example": {
          "id": "string",
          "firstName": "John",
          "middleName": "A",
          "lastName": "Doe",
          "address": "456 Elm St",
          "city": "Othertown",
          "state": "NY",
          "zip": "12345",
          "phone": "555-5678",
          "ssn": "123-45-6789",
          "email": "john.doe@consumer.com"
        }
      },
      "Constraints": {
        "title": "Payroll Constraints",
        "type": "object",
        "properties": {
          "payrollData": {
            "type": "object",
            "properties": {
              "retrievalId": {
                "type": "string",
                "description": "Identifier for the payroll data retrieval.",
                "example": "string"
              },
              "payrollAggregatorResponseId": {
                "type": "string",
                "description": "Identifier for the payroll aggregator response.",
                "example": "string"
              },
              "consentMethod": {
                "type": "string",
                "description": "Method used for consent regarding payroll processing.",
                "example": "string"
              },
              "employmentIds": {
                "type": "array",
                "description": "List of employment identifiers associated with the payroll data.",
                "example": [
                  "string"
                ],
                "items": {
                  "type": "string",
                  "description": "An employment identifier.",
                  "example": "string"
                }
              }
            }
          }
        },
        "description": "Schema representing constraints related to payroll processing.",
        "example": {
          "payrollData": {
            "retrievalId": "string",
            "payrollAggregatorResponseId": "string",
            "consentMethod": "string",
            "employmentIds": [
              "string"
            ]
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "US-East"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with this request, used for tracing and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-voie-payroll-report"
        },
        "example": "open-finance-api-refresh-voie-payroll-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically utilizing JSON Web Tokens (JWT) for secure and stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}