{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Banking Account Statements API",
    "description": "The Open Banking Account Statements API provides consumers with access to their financial account statements through a secure digital interface. This API enables financial institutions to deliver detailed transaction histories and balance information to authorized third-party applications. Typical users include banks, financial service providers, and fintech applications that want to enhance their services with comprehensive account data. By integrating this API, developers can ensure their applications are compliant with open banking regulations while providing users with valuable insights into their financial activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/statements": {
      "get": {
        "tags": [
          "Financial Data"
        ],
        "summary": "Retrieve AISP Statements",
        "description": "This endpoint allows you to retrieve the account information service provider (AISP) statements, providing detailed insights into the financial statements available for the user. It's designed for seamless integration into applications that require financial data retrieval.",
        "operationId": "getAispStatements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving account statements. This should contain the necessary parameters to fetch the statements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispStatementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning account statements.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispStatementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispStatementsRequest": {
        "title": "AISP Statements GET Request Body",
        "type": "string",
        "description": "This schema represents the request body for the AISP Statements GET operation. It is expected to be a string input that may hold specific parameters or query information in string format.",
        "example": "{}"
      },
      "GetAispStatementsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Statement": {
                "type": "array",
                "description": "A list of statements associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Statement"
                }
              }
            },
            "description": "Contains the main data returned in the response, including statements.",
            "example": {
              "Statement": [
                {
                  "AccountId": "ACC-840423",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "Type": "STANDARD",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "CreationDateTime": "2026-09-15T14:30:00Z",
                  "description": [
                    "Customer banking request processed successfully"
                  ],
                  "benefit": [
                    {
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "fee": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "interest": [
                    {
                      "Description": "Customer banking request processed successfully",
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Rate": 100.0,
                      "RateType": "STANDARD",
                      "Frequency": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "amount": [
                    {
                      "CreditDebitIndicator": "STANDARD",
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      },
                      "LocalAmount": {
                        "Amount": "1250.75",
                        "Currency": "USD",
                        "SubType": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Indicates the region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Contains metadata about the response.",
            "example": {
              "responseId": "d30a1322-17aa-5202-ba3f-1f54c95015f0",
              "correlationId": "265b7b23-e310-5dee-ad8a-d1f769d6844a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Statement": [
              {
                "AccountId": "ACC-840423",
                "id": "STANDARD",
                "reference": "STANDARD",
                "Type": "STANDARD",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "CreationDateTime": "2026-09-15T14:30:00Z",
                "description": [
                  "Customer banking request processed successfully"
                ],
                "benefit": [
                  {
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "fee": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "interest": [
                  {
                    "Description": "Customer banking request processed successfully",
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Rate": 100.0,
                    "RateType": "STANDARD",
                    "Frequency": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "amount": [
                  {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    },
                    "LocalAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD",
                      "SubType": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "d30a1322-17aa-5202-ba3f-1f54c95015f0",
            "correlationId": "265b7b23-e310-5dee-ad8a-d1f769d6844a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Statement": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the statement.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the statement.",
            "example": "string"
          },
          "reference": {
            "type": "string",
            "description": "A reference number for the statement.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of the statement.",
            "example": "string"
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time for the statement period.",
            "example": "string"
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time for the statement period.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the statement was created.",
            "example": "string"
          },
          "description": {
            "type": "array",
            "description": "An array of descriptions associated with the statement.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "benefit": {
            "type": "array",
            "description": "A list of benefits associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Benefit"
            }
          },
          "fee": {
            "type": "array",
            "description": "A list of fees associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "interest": {
            "type": "array",
            "description": "A list of interest charges associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Interest"
            }
          },
          "amount": {
            "type": "array",
            "description": "A list of amounts associated with the statement.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          }
        },
        "description": "Represents a financial statement associated with an account."
      },
      "Benefit": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "The type of benefit.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The actual amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "string"
              }
            },
            "description": "The amount of the benefit."
          }
        },
        "description": "Represents a benefit associated with a financial statement."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "A description of the fee.",
            "example": "string"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the fee is a credit or debit.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of fee.",
            "example": "string"
          },
          "Rate": {
            "type": "number",
            "description": "The rate at which the fee is applied.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "The type of rate (e.g., fixed, variable).",
            "example": "string"
          },
          "Frequency": {
            "type": "string",
            "description": "The frequency at which the fee is charged.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The actual amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "string"
              }
            },
            "description": "The amount of the fee."
          }
        },
        "description": "Represents a fee associated with a financial statement."
      },
      "Interest": {
        "type": "object",
        "properties": {
          "Description": {
            "type": "string",
            "description": "A description of the interest charge.",
            "example": "string"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the interest is a credit or debit.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of interest charge.",
            "example": "string"
          },
          "Rate": {
            "type": "number",
            "description": "The interest rate.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "The type of rate for the interest.",
            "example": "string"
          },
          "Frequency": {
            "type": "string",
            "description": "The frequency at which the interest is applied.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The actual amount of interest.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the interest amount.",
                "example": "string"
              }
            },
            "description": "The amount of interest charged."
          }
        },
        "description": "Represents an interest charge associated with a financial statement."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the amount is a credit or debit.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of amount (e.g., principal, fee).",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the amount.",
                "example": "string"
              },
              "SubType": {
                "type": "string",
                "description": "An optional subtype for the amount.",
                "example": "string"
              }
            },
            "description": "The actual amount."
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The value of the local amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the local amount.",
                "example": "string"
              },
              "SubType": {
                "type": "string",
                "description": "An optional subtype for the local amount.",
                "example": "string"
              }
            },
            "description": "The local amount related to the transaction."
          }
        },
        "description": "Represents an amount associated with a financial statement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-statements"
        },
        "example": "accounts-api-get-statements"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a token (JWT) to be sent in the Authorization header. The token must be a valid JSON Web Token, providing necessary credentials to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}