{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_IT Systems Direction Management API",
    "description": "The IT Systems Direction Management API provides stakeholders with the tools to effectively update and manage the strategic direction of IT systems within the banking sector. By leveraging this API, organizations can make real-time adjustments to their IT systems configurations and ensure alignment with business objectives. This service is aimed at IT managers and system administrators who need to implement systematic changes without the disruption of full system overhauls. Utilize this API to streamline critical updates and ensure operational efficiency in IT processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction/{param1}": {
      "patch": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update IT System Direction Resource",
        "description": "This endpoint allows you to update the details of the IT System Direction identified by RES-100045. Ensure to provide the necessary fields in the request body for successful modification.",
        "operationId": "updateItSystemDirection_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the system direction for the IT management resource identified by RES-100045. It allows you to provide the necessary information to modify various operational attributes associated with this resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateItSystemDirection_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateItSystemDirection_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateItSystemDirection_res100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/PolicyChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patching the operations related to IT systems. It contains the changes to be made, the reason for the change, and context information about the request.",
        "example": {
          "changes": {
            "policyId": "STANDARD",
            "title": "Banking operation completed",
            "ownerTeam": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "2e141063-64ff-5eaf-9561-18e5f812ba48",
            "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
            "idempotencyKey": "74bb4de7-8764-573e-95b8-e3e5ad5176e3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848362"
            }
          }
        }
      },
      "PolicyChanges": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier of the policy to be changed.",
            "example": "policy-456"
          },
          "title": {
            "type": "string",
            "description": "The new title of the policy.",
            "example": "Data Protection Policy"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the ownership of the policy.",
            "example": "Compliance Team"
          }
        },
        "description": "Schema representing the changes to be made to the policy."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that a request is processed only once.",
            "example": "idemp-456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "Internal Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request is made.",
            "example": "Policy Management App"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateItSystemDirection_res100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on IT systems direction.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a20c50e2-1ced-5b00-a88a-1dea5218c1ec",
            "correlationId": "41067b31-b7f4-577a-9024-32f90f4cfa33",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-update-it-systems-direction"
        },
        "example": "it-systems-direction-update-it-systems-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, which involves sending a token as part of the request to access secure resources. The token format is JSON Web Token (JWT), ensuring compact and self-contained information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}