{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intents Retrieval API",
    "description": "The Payment Intents Retrieval API allows businesses to access and review existing payment intents within the payment system. This endpoint provides detailed information related to payment authorization and transaction processing, making it suitable for developers integrating payment solutions into their applications. Typical consumers of this API include e-commerce platforms, mobile applications, and financial service providers looking to manage customer payments efficiently. Utilize this API to retrieve crucial payment data and enhance the user experience during transaction management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve all payment intents",
        "description": "Fetch a list of all payment intents created in the system. This endpoint allows you to view the details of each payment intent, including status and amount, facilitating better management and tracking of payment processes.",
        "operationId": "getPaymentIntent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request retrieves the payment intents based on the criteria specified. Ensure that the request body follows the defined schema to successfully obtain the payment intents information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentIntentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment intents.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentIntentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentIntentRequest": {
        "type": "string",
        "description": "A string representing the request body for the GET operation on payment intents.",
        "example": "{}"
      },
      "GetPaymentIntentResponse_200": {
        "title": "Payment Intents Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page in terms of item count.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of available pages.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Boolean flag indicating if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of links related to the current response (e.g., navigation links).",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaginationLink"
            }
          },
          "items": {
            "type": "array",
            "description": "List of payment intents.",
            "example": [
              {
                "paymentIntentId": "STANDARD",
                "merchantId": "MER-593941",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountAuthorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountCaptured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amountRefunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captureMethod": "STANDARD",
                "channel": "STANDARD",
                "allowedPaymentMethods": [
                  "STANDARD"
                ],
                "selectedPaymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-571",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "order": {
                  "merchantOrderId": "ORD-447908",
                  "description": "Customer banking request processed successfully"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentIntent"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing is done.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "eb4b1a16-8a4e-50d6-a4aa-8bc347545697",
              "correlationId": "bf9bb8b8-d6aa-54c8-bf17-aa81b5d81b1b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving payment intents, including pagination details and list of payment intents.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentIntentId": "STANDARD",
              "merchantId": "MER-593941",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountAuthorized": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountCaptured": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amountRefunded": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "captureMethod": "STANDARD",
              "channel": "STANDARD",
              "allowedPaymentMethods": [
                "STANDARD"
              ],
              "selectedPaymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-571",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "order": {
                "merchantOrderId": "ORD-447908",
                "description": "Customer banking request processed successfully"
              }
            }
          ],
          "metadata": {
            "responseId": "eb4b1a16-8a4e-50d6-a4aa-8bc347545697",
            "correlationId": "bf9bb8b8-d6aa-54c8-bf17-aa81b5d81b1b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaginationLink": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relationship type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "URL to the related resource.",
            "example": "https://api.example.com/next"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to use for the link.",
            "example": "GET"
          }
        },
        "description": "Represents a link for navigation related to pagination."
      },
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "pi_123456789"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the payment intent.",
            "example": "merchant_123"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the transaction took place.",
            "example": "outlet_456"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used in the transaction.",
            "example": "terminal_789"
          },
          "amount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountAuthorized": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountCaptured": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "amountRefunded": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "captureMethod": {
            "type": "string",
            "description": "Method used for capturing the payment.",
            "example": "manual"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made (e.g., online, in-store).",
            "example": "online"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods allowed for this payment intent.",
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/CustomerInfo"
          },
          "order": {
            "$ref": "#/components/schemas/OrderDetails"
          }
        },
        "description": "Represents a payment intent transaction."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The amount value as a string.",
            "example": "100.00"
          }
        },
        "description": "Details of the monetary amount including currency and value."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method used (e.g., card, wallet).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "token_123456789"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer bank for the payment method.",
            "example": "bank_001"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet if applicable.",
            "example": "Apple Pay"
          }
        },
        "description": "Details of the selected payment method."
      },
      "CustomerInfo": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer_123"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+123456789"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment categorization for the customer.",
            "example": "high"
          }
        },
        "description": "Information related to the customer associated with the payment intent."
      },
      "OrderDetails": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant order.",
            "example": "order_12345"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order for electronics"
          }
        },
        "description": "Details of the order associated with the payment intent."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint where the request was made.",
          "example": "banking-p2m-openapi-list-payment-intents"
        },
        "example": "banking-p2m-openapi-list-payment-intents"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that processed the request.",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header. The JWT is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}