{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Management Manual Submission API",
    "description": "The Management Manual Submission API enables businesses to upload and manage knowledge assets related to their operations. This functionality is crucial for maintaining up-to-date documentation, ensuring compliance, and optimizing workflow within an organization. Typically used by compliance officers, operations managers, and knowledge managers, this API provides an efficient way to submit and retrieve management manuals. By utilizing this endpoint, teams can enhance their operational efficiency and knowledge sharing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual": {
      "post": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Create a new management manual.",
        "description": "This endpoint allows users to create a new management manual within the knowledge assets. Ensure that all required fields are included in your request body for successful creation.",
        "operationId": "createManagementManual",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new management manual within the knowledge assets framework. It should include all necessary information as defined by the schema, ensuring that the manual complies with the required specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateManagementManualRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateManagementManualResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateManagementManualRequest": {
        "title": "Management Manual Request Body",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "Unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "Title of the management manual.",
            "example": "Banking operation completed"
          },
          "version": {
            "type": "string",
            "description": "Version of the management manual.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier for the owner of the management manual.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date on which the management manual becomes effective.",
            "example": "2026-09-15"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the management manual.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a management manual.",
        "example": {
          "manualId": "STANDARD",
          "title": "Banking operation completed",
          "version": "STANDARD",
          "ownerId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "classification": "STANDARD",
          "requestContext": {
            "requestId": "417daeeb-1368-5600-9a85-57f9e0a69d4b",
            "correlationId": "44a71649-9363-5c24-80c4-12f7c5d2bffa",
            "idempotencyKey": "4e4575fe-ae3c-5b12-b3a0-13519c8f1340",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523381"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs for the same request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name or identifier of the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name or identifier of the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateManagementManualResponse_201": {
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "The unique identifier for the management manual.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "The unique identifier of the owner of the management manual.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the management manual.",
            "example": "RES-601868"
          },
          "status": {
            "type": "string",
            "description": "The current status of the management manual.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the management manual was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the creation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of management manual assets.",
        "example": {
          "manualId": "STANDARD",
          "ownerId": "STANDARD",
          "resourceId": "RES-601868",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "908bf753-f143-560b-ab74-edf322a2664f",
            "correlationId": "44a71649-9363-5c24-80c4-12f7c5d2bffa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating requests and responses.",
            "example": "correlation-def"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east"
          }
        },
        "description": "Metadata associated with the response of the management manual creation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "management-manual-create-management-manual"
        },
        "example": "management-manual-create-management-manual"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer token authentication method via HTTP. The token should be a JSON Web Token (JWT) which is passed in the Authorization header as a bearer token, providing a secure means of authorization for accessing protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}