{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Data Management API",
    "description": "The Employee Data Management API facilitates the efficient handling of employee information within the organization. This API enables businesses to onboard new employees, update existing records, and manage various aspects of human resource data seamlessly. It serves HR professionals and system integrators looking to maintain accurate and up-to-date employee profiles, ensuring compliance with legal and organizational requirements. Typical use cases include adding new employee details, modifying roles and responsibilities, and ensuring data consistency across HR systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-data-management": {
      "post": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Create new employee data.",
        "description": "This endpoint allows the creation of new employee data in the human resource management system. Ensure all required fields are populated to successfully add a new employee record.",
        "operationId": "createEmployeeData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary information to create or update employee data within the human resource management system. Ensure that all fields are filled according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeDataRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the employee data management system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeDataResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeDataRequest": {
        "title": "Employee Data Management Request Body",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-865201"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the employee's assignment.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department to which the employee belongs.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date on which the employee's assignment becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The two-letter country code representing the employee's location.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier of the employee's manager.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for employee data management operations.",
        "example": {
          "employeeId": "EMP-865201",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "requestContext": {
            "requestId": "288f0519-70c5-5557-a27a-cb70867c72a6",
            "correlationId": "b89b497a-6aa0-5e1f-9f2f-0d701696b9f2",
            "idempotencyKey": "5a38dfeb-eaea-5643-ab62-844422806024",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-101802"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to track related requests.",
            "example": "CORR-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "IDEM-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "Employee Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing contextual information about the API request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "C001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateEmployeeDataResponse_201": {
        "title": "Employee Data Management Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-854549"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment associated with the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department to which the employee belongs.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code for the country in which the employee is located.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique resource identifier for the employee.",
            "example": "RES-772373"
          },
          "status": {
            "type": "string",
            "description": "The current status of the employee.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the employee record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema containing details about the employee data management operation.",
        "example": {
          "employeeId": "EMP-854549",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-772373",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4fc1b03d-cd00-5111-8357-7c6977d2546a",
            "correlationId": "b89b497a-6aa0-5e1f-9f2f-0d701696b9f2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "R78901"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses in a transaction.",
            "example": "C45678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata information associated with the employee data management response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-data-management-create-employee-data-management"
        },
        "example": "employee-data-management-create-employee-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, typically used with JSON Web Tokens (JWT). The client must include a valid JWT token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}