{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Business Services API",
    "description": "The Customer Business Services API enables businesses to access and manage the business-related information of individual customers. By using the customer's unique identifier, users can retrieve comprehensive details about the associated businesses. This API is particularly beneficial for businesses that need to evaluate customer profiles, manage relationships, or enhance customer offerings based on their business activities. Typical consumers include customer relationship management systems, analytics platforms, and customer support applications, all aimed at improving service delivery and personalization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/customers/{customerId}/businesses": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve businesses associated with a specific customer.",
        "description": "This endpoint allows the retrieval of all businesses that are linked to the specified customer, identified by their unique customer ID. Use this information to understand the business landscape for the selected customer.",
        "operationId": "getBusinessesByCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the business information associated with the customer ID 'CUST-100045'. It must adhere to the specified schema to ensure that the request is valid.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessesByCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of businesses for the specified customer.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessesByCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessesByCustomerCUST100045Request": {
        "type": "string",
        "description": "A request body containing details related to businesses operations for customer CUST-100045.",
        "example": "{}"
      },
      "GetBusinessesByCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business entities.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving operations related to businesses.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "2062ab0c-79c3-57ee-91c9-09aa0db7ec98",
            "correlationId": "93336772-30ea-5ff2-a189-35f455cefc40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the business."
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the owner is personally liable for the business."
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "Website URL of the business."
          },
          "email": {
            "type": "string",
            "description": "Email address of the business."
          },
          "type": {
            "type": "string",
            "description": "Type or category of the business."
          },
          "taxId": {
            "type": "string",
            "description": "Tax identification number of the business."
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business."
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the business was created."
          },
          "modifiedDate": {
            "type": "string",
            "description": "Date when the business details were last modified."
          }
        },
        "description": "Represents a business entity."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional)."
          },
          "city": {
            "type": "string",
            "description": "City of the business location."
          },
          "state": {
            "type": "string",
            "description": "State of the business location."
          },
          "country": {
            "type": "string",
            "description": "Country of the business location."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the business location."
          }
        },
        "description": "Physical address of the business."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code for the phone number."
          },
          "phoneNo": {
            "type": "string",
            "description": "The main phone number of the business."
          }
        },
        "description": "Contact phone number details for the business."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done."
          }
        },
        "description": "Metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-customer"
        },
        "example": "open-finance-api-get-business-by-customer"
      },
      "x-runtime-app": {
        "description": "The version of the application that processed the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens. Clients must include the JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}