{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Syndication Data Retrieval API",
    "description": "The Loan Syndication Data Retrieval API enables users to access detailed information regarding loan syndications within the banking system. This API is designed to facilitate the retrieval of pertinent data for specific syndications identified by a unique parameter. Typical consumers include financial analysts, loan officers, and risk management teams who require insights for decision-making and reporting. By leveraging this API, businesses can enhance their understanding of loan syndication activities and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/loan-syndication/{param1}": {
      "get": {
        "tags": [
          "Loan Syndication"
        ],
        "summary": "Retrieve loan syndication details.",
        "description": "This endpoint allows clients to fetch detailed information about a specific loan syndication identified by its unique ID. This includes all relevant data such as terms, participants, and current status.",
        "operationId": "getLoanSyndicationDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve information regarding the loan syndication specified by the loan ID LOAN-500045. It is essential to ensure that all required fields are properly filled to facilitate a successful retrieval of the loan details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanSyndicationDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the loan syndication details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanSyndicationDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanSyndicationDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Loan Syndication API operation.",
        "example": "{}"
      },
      "GetLoanSyndicationDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-513431"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case associated with the operation.",
            "example": "CASE-839290"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request related to the loan syndication.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation (e.g., High, Medium, Low).",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "description": "Additional metadata information regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan syndication operations.",
        "example": {
          "customerId": "CUST-513431",
          "caseId": "CASE-839290",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1327b2fe-addf-52ef-babb-ad11c9b7c12a",
            "correlationId": "c3dacee9-a2f2-5724-8f83-73f24305f819",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with others.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing was carried out.",
            "example": "US-West"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint that was called, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-syndication-get-loan-syndication"
        },
        "example": "loan-syndication-get-loan-syndication"
      },
      "X-Runtime-App": {
        "description": "Name of the application or service that is making the request, useful for identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) for authentication. Clients must send the token in the Authorization header as 'Bearer {token}' to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}