{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Execution API",
    "description": "The Payment Execution API is designed to facilitate the retrieval of payment execution details based on a specific payment identifier. This endpoint allows users, such as financial institutions and developers, to access the status and metadata of completed payment transactions. By using the provided payment identifier, clients can obtain necessary information to confirm executions and manage user inquiries efficiently. Typical consumers include banking applications, financial service providers, and transaction monitoring systems that require up-to-date execution insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-execution/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve details of a specific payment execution.",
        "description": "This endpoint allows you to fetch the details of a specific payment execution identified by the payment ID. Ensure that you have the right payment ID to retrieve the correct information.",
        "operationId": "getPaymentExecutionPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is required to specify the necessary parameters for executing payment with the provided payment ID (PAY-300045). Ensure the request is properly formatted according to the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentExecutionPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the payment execution details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentExecutionPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentExecutionPay300045Request": {
        "type": "string",
        "description": "Represents the request body format for the payment execution operations.",
        "example": "{}"
      },
      "GetPaymentExecutionPay300045Response_200": {
        "title": "Payment Execution Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-996520"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor making the payment.",
            "example": "ACC-728203"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor receiving the payment.",
            "example": "ACC-870702"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The requested date for executing the payment.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information provided by the debtor to help the creditor identify the purpose of the payment.",
            "example": "STANDARD"
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail used for processing the payment.",
            "example": "STANDARD"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the payment charges (debtor, creditor, or shared).",
            "example": "STANDARD"
          },
          "purposeCode": {
            "type": "string",
            "description": "The purpose code for the payment transaction.",
            "example": "CODE-515"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response object for the payment execution operation, containing details about the payment.",
        "example": {
          "paymentId": "PAY-996520",
          "debtorAccountId": "ACC-728203",
          "creditorAccountId": "ACC-870702",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "paymentRail": "STANDARD",
          "chargeBearer": "STANDARD",
          "purposeCode": "CODE-515",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7367ad6a-57bd-5a4c-ae79-e992083bd8dd",
            "correlationId": "2166f798-b0a1-5948-b69c-0a3a346b14d3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be transferred.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is denominated.",
            "example": "string"
          }
        },
        "description": "Details about the amount being instructed for the payment, including the currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple related transactions or requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the payment is being processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata associated with the payment execution response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-execution-get-payment-execution"
        },
        "example": "payment-execution-get-payment-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. A JWT (JSON Web Token) must be provided in the Authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}