{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Payment History Reporting API",
    "description": "The Business Payment History Reporting API allows organizations to submit and retrieve comprehensive payment history reports for specific business user types. This endpoint serves as a vital resource for financial institutions and service providers seeking to analyze customer payment behaviors and trends. By leveraging this API, developers can enhance their applications with insights into user payment patterns, aiding in credit assessments and improving customer service. Typical consumers include analysts, customer service teams, and financial advisors who require detailed payment history data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/payment-history/usertypes/business": {
      "post": {
        "tags": [
          "Customer Reports"
        ],
        "summary": "Generate a payment history report for business user types.",
        "description": "This operation allows users to generate a detailed payment history report specifically for business user types associated with a given customer. The generated report can help businesses analyze their payment trends and history effectively.",
        "operationId": "createBusinessUserTypePaymentHistoryReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a payment history report for a business user type under customer CUST-100045. Ensure that you provide all required fields as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessUserTypePaymentHistoryReportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted for processing and is pending completion.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessUserTypePaymentHistoryReportResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessUserTypePaymentHistoryReportRequest": {
        "title": "Payment History Request Body",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Contains data relevant to the analytics report for the payment history.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "A comma-separated list of account IDs to retrieve payment history for.",
            "example": "ACC-969291"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields that can be included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date for the report, in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a payment history report for a business operation.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "applicantIsPersonalGuarantor": true,
            "timeIntervalTypes": [
              "STANDARD"
            ]
          },
          "accountIds": "ACC-969291",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "requestContext": {
            "requestId": "771220da-5117-5bd4-a2a9-3eb7f8f7a7a2",
            "correlationId": "e3d9303c-28a5-5b79-bc67-5070f8b41324",
            "idempotencyKey": "9a7f5f71-9eea-55f0-8ea2-66e1d8c9161d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-130824"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the data is for CRA (Credit Reporting Agency) purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "List of time interval types applicable for the report.",
            "example": [
              "Monthly",
              "Quarterly"
            ],
            "items": {
              "type": "string",
              "description": "Type of time interval."
            }
          }
        },
        "description": "Schema defining analytics report data constraints."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be shown in the report.",
            "example": false
          }
        },
        "description": "Represents a custom field within the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is only processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context in which the request was made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel information related to the request."
      },
      "CreateBusinessUserTypePaymentHistoryReportResponse_202": {
        "title": "Payment History Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment history record.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., business or individual).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "50edb0a4-82c1-5ad7-946c-8556896681ad"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the payment history.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the payment history record was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the payment history record.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details of the consumer related to the payment history.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes related to the payment history.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of payment history (e.g., historical, current).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment history request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints applied to the payment history request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata associated with the payment history response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a payment history request.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "50edb0a4-82c1-5ad7-946c-8556896681ad",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-464745"
            ]
          },
          "metadata": {
            "responseId": "c74b0f3e-a389-5022-9685-237ff8bdb6c8",
            "correlationId": "e3d9303c-28a5-5b79-bc67-5070f8b41324",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "Jane Smith"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St."
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the end user's address.",
            "example": "10001"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "123-456-7890"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "jane.smith@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing details of the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "CON-987654"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Alice"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "B."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Johnson"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "456 Oak St."
          },
          "city": {
            "type": "string",
            "description": "City of residence for the consumer.",
            "example": "Los Angeles"
          },
          "state": {
            "type": "string",
            "description": "State of residence for the consumer.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the consumer's address.",
            "example": "90001"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "987-654-3210"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "987-65-4321"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "alice.johnson@example.com"
          }
        },
        "description": "Schema representing the details of the consumer."
      },
      "Constraints": {
        "title": "Payment History Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Details related to analytical report constraints.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers associated with the payment history.",
            "example": [
              "ACC-123",
              "ACC-456"
            ],
            "items": {
              "type": "string",
              "description": "Account identifier."
            }
          }
        },
        "description": "Schema defining constraints for the payment history request."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-789456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "CORR-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata for the payment history response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, ensuring traceability across services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-payment-history-report"
        },
        "example": "open-finance-api-generate-payment-history-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization. Clients must include a valid JWT (JSON Web Token) in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}