{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Adjustment API",
    "description": "The Market Adjustment API allows authorized users to adjust parameters related to market making activities, enhancing the efficiency and competitiveness of wholesale trading. It enables the modification of crucial trading attributes, ensuring real-time synchronization with market conditions. Typically utilized by trading firms and financial institutions, this API supports activities such as revising pricing strategies and updating liquidity provision. By leveraging this API, users can enhance their trading operations, respond to market dynamics promptly, and optimize their overall trading performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-making/{param1}": {
      "patch": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Update market-making resource settings.",
        "description": "This endpoint allows you to update the settings of a specific market-making resource identified by its unique ID. Please ensure to provide the necessary data in the request body.",
        "operationId": "updateMarketMakingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the market-making parameters for the specific resource identified by RES-100045. The parameters must adhere to the defined schema and can include various fields necessary for proper configuration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketMakingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patch updates were applied successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketMakingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketMakingResource100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "A collection of changes to be applied in the market making operation.",
            "$ref": "#/components/schemas/MarketMakingChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the requested changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating market making operations in wholesale trading.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9d151f30-5d1e-5f73-84e9-1942b8f80cb9",
            "correlationId": "cc1df7c2-c151-532b-8b88-76834654c762",
            "idempotencyKey": "47a00dbd-627a-59ba-89ff-dc163ee47a80",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-982851"
            }
          }
        }
      },
      "MarketMakingChanges": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The ID of the trading book that is being modified.",
            "example": "book123"
          },
          "instrumentId": {
            "type": "string",
            "description": "The ID of the instrument involved in the changes.",
            "example": "instrument456"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, e.g., Buy or Sell.",
            "example": "Buy"
          }
        },
        "description": "Details of the changes to apply in the market making operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate execution of the same request.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MarketApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Describes the request context for the change operation."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to send the request.",
            "example": "device-789"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateMarketMakingResource100045Response_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the structure of the response for the PATCH operation in the market-making service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57b28127-f5d9-5a26-97f1-b94e23c19250",
            "correlationId": "cc1df7c2-c151-532b-8b88-76834654c762",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the operation in a correlated request.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:34:55Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema encapsulates additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-making-update-market-making"
        },
        "example": "market-making-update-market-making"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, indicating which part of the system processed it.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes Bearer tokens in the HTTP Authorization header. The Bearer token should be in JSON Web Token (JWT) format to ensure secure and verifiable communication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}