{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Hedge Fund Administration Update API",
    "description": "The Hedge Fund Administration Update API facilitates the efficient management of hedge fund details through updates to existing records. This endpoint allows authorized users to modify various aspects of hedge fund operations, such as financial transactions and compliance information. Typical consumers include fund administrators and finance teams who need to keep hedge fund records accurate and up-to-date. By utilizing this API, organizations can enhance their operational efficiency and ensure regulatory compliance in their hedge fund activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/hedge-fund-administration/{param1}": {
      "patch": {
        "tags": [
          "Hedge Fund Administration"
        ],
        "summary": "Update Hedge Fund Administration Resource",
        "description": "This operation allows you to update an existing hedge fund administration resource identified by RES-100045. It enables modifications to various attributes of the resource to reflect current data and requirements.",
        "operationId": "updateHedgeFundAdministrationResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific fields of the hedge fund administration operations for the given resource identified by RES-100045. Ensure that all required fields are included and valid according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateHedgeFundAdministrationResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateHedgeFundAdministrationResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateHedgeFundAdministrationResource100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/FundChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating hedge fund operations. This schema captures the changes to be made and the context of the request.",
        "example": {
          "changes": {
            "fundId": "STANDARD",
            "shareClassId": "STANDARD",
            "valuationDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "16a095e2-eaa8-5c1e-b29f-d816cce84a84",
            "correlationId": "dce02071-6be0-5d02-aa43-47ed48fea0a1",
            "idempotencyKey": "52ce9b8a-5b1d-5ebb-9cbf-61ba02aa3dbf",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-808969"
            }
          }
        }
      },
      "FundChanges": {
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Identifier for the fund to which changes apply.",
            "example": "fund_001"
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the specific share class affected by the changes.",
            "example": "shareClass_A"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date on which the valuation should occur.",
            "example": "2023-10-01"
          }
        },
        "description": "Details of the changes to be made to the fund's configuration."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests across multiple systems.",
            "example": "corr_abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests result in the same effect.",
            "example": "idemp_12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "AppX"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Metadata related to the request, providing context and traceability."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel, e.g., web, mobile, etc.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device_456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateHedgeFundAdministrationResource100045Response_200": {
        "title": "Patch Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the PATCH operations on hedge fund administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0311ec6d-218c-5802-bdd7-05398e0ab017",
            "correlationId": "dce02071-6be0-5d02-aa43-47ed48fea0a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata of a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "hedge-fund-administration-update-hedge-fund-administration"
        },
        "example": "hedge-fund-administration-update-hedge-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing Bearer tokens. Clients need to include a valid JWT (JSON Web Token) in the authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}