{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer SBCA Submission API",
    "description": "The Customer SBCA Submission API allows businesses to submit SBCA requests for specific customers using their unique identifiers. This API facilitates the decisioning process by enabling quick and efficient information exchange related to customer profiles. Typical consumers include customer service representatives and automated systems seeking to enhance customer service offerings. The endpoint is designed to streamline SBCA operations, improve accuracy in decisioning, and ultimately lead to better customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/sbca": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create SBCA for a specific customer.",
        "description": "This endpoint allows you to create a new SBCA (Secure Business Communication Agreement) associated with the customer identified by CUST-100045. Ensure that all required fields are provided in the request body for successful creation.",
        "operationId": "createSbcaForCustomerCUST-100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update the service-based customer account for the specified customer ID (CUST-100045). The JSON payload must adhere to the defined schema, containing necessary fields that outline the operations to be performed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSbcaForCustomerCUST-100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the operation completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSbcaForCustomerCUST-100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSbcaForCustomerCUST-100045Request": {
        "title": "SBCA Operations Request Body",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for SBCA operations.",
        "example": {
          "analyticsReportData": {
            "sbcaParams": {
              "hasConsent": true,
              "metricFrequency": "STANDARD",
              "metricType": "STANDARD",
              "locationId": "ab88a542-f122-281b-1d70-97e66b47d330"
            },
            "businessDetails": {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          },
          "requestContext": {
            "requestId": "aed010f9-6def-5032-8bf6-fb275468b0bb",
            "correlationId": "aa620c77-8aab-5fc9-8466-d94fb77d6c47",
            "idempotencyKey": "bd6a96c6-62fe-58fa-84d8-45e5a2fb9c59",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-510174"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "sbcaParams": {
            "description": "Parameters for SBCA.",
            "$ref": "#/components/schemas/SBCAParams"
          },
          "businessDetails": {
            "description": "Details about the business.",
            "$ref": "#/components/schemas/BusinessDetails"
          }
        },
        "description": "Schema for analytics report data including SBCA parameters and business details."
      },
      "SBCAParams": {
        "title": "SBCA Parameters",
        "type": "object",
        "properties": {
          "hasConsent": {
            "type": "boolean",
            "description": "Indicates whether consent has been granted.",
            "example": false
          },
          "metricFrequency": {
            "type": "string",
            "description": "Frequency of the metrics.",
            "example": "string"
          },
          "metricType": {
            "type": "string",
            "description": "Type of the metrics.",
            "example": "string"
          },
          "locationId": {
            "type": "string",
            "description": "Identifier for the location.",
            "example": "string"
          }
        },
        "description": "Schema for SBCA parameters related to analytics."
      },
      "BusinessDetails": {
        "title": "Business Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the business.",
            "example": "string"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the individual is personally liable.",
            "example": false
          },
          "phoneNumber": {
            "description": "Contact phone number for the business.",
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "address": {
            "description": "Address of the business.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Schema containing business details including name, liability, and contact information."
      },
      "PhoneNumber": {
        "title": "Phone Number",
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code of the phone number.",
            "example": "string"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "string"
          }
        },
        "description": "Schema for representing a phone number with country code."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "string"
          }
        },
        "description": "Schema representing a postal address."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context of the request including identifiers and source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateSbcaForCustomerCUST-100045Response_200": {
        "title": "Customer Operation Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer operation.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The creation date of the record in epoch time.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The identifier for the request associated with this operation.",
            "example": "542439f7-621b-5501-98f3-d9bc5963ffc0"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "partnerName": {
            "type": "string",
            "description": "The name of the partner associated with this operation.",
            "example": "Northstar Banking Service"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the operation.",
            "example": "Banking operation completed"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "retailSalesAnalyticsMetrics": {
            "type": "array",
            "description": "List of retail sales analytics metrics.",
            "example": [
              {
                "locationId": "63b36964-9333-5fec-1732-28df11375467",
                "merchantCategoryCode": 100.0,
                "naicsCode": 100.0,
                "industryName": "Northstar Banking Service",
                "firstSeenTxnDate": "2026-09-15",
                "lastSeenTxnDate": "2026-09-15",
                "metricsFrequency": "STANDARD",
                "metricsLists": [
                  {
                    "periodStartDate": "2026-09-15",
                    "periodEndDate": "2026-09-15",
                    "year": 100.0,
                    "metrics": [
                      {
                        "name": "Northstar Banking Service"
                      }
                    ]
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RetailSalesAnalyticsMetric"
            }
          },
          "metadata": {
            "description": "Metadata for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for customer operations.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "createdDate": 1,
          "requestId": "542439f7-621b-5501-98f3-d9bc5963ffc0",
          "requesterName": "Northstar Banking Service",
          "partnerName": "Northstar Banking Service",
          "type": "STANDARD",
          "title": "Banking operation completed",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "sbcaParams": {
                "hasConsent": true,
                "metricFrequency": "STANDARD",
                "metricType": "STANDARD",
                "locationId": "07cedd74-f8e2-8c6a-5652-6af5a15b2371"
              },
              "businessDetails": {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            }
          },
          "retailSalesAnalyticsMetrics": [
            {
              "locationId": "63b36964-9333-5fec-1732-28df11375467",
              "merchantCategoryCode": 100.0,
              "naicsCode": 100.0,
              "industryName": "Northstar Banking Service",
              "firstSeenTxnDate": "2026-09-15",
              "lastSeenTxnDate": "2026-09-15",
              "metricsFrequency": "STANDARD",
              "metricsLists": [
                {
                  "periodStartDate": "2026-09-15",
                  "periodEndDate": "2026-09-15",
                  "year": 100.0,
                  "metrics": [
                    {
                      "name": "Northstar Banking Service"
                    }
                  ]
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "ae37a3b7-6492-5e31-bf93-d6ca65aed800",
            "correlationId": "aa620c77-8aab-5fc9-8466-d94fb77d6c47",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data related to the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          }
        },
        "description": "Schema representing the specific constraints linked to customer operations."
      },
      "RetailSalesAnalyticsMetric": {
        "title": "Retail Sales Analytics Metric",
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Identifier for the location associated with these metrics.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "number",
            "description": "Merchant category code for the sales data.",
            "example": 0.0
          },
          "naicsCode": {
            "type": "number",
            "description": "North American Industry Classification System code.",
            "example": 0.0
          },
          "industryName": {
            "type": "string",
            "description": "Name of the industry.",
            "example": "string"
          },
          "firstSeenTxnDate": {
            "type": "string",
            "description": "Date of the first transaction seen for this metric.",
            "example": "string"
          },
          "lastSeenTxnDate": {
            "type": "string",
            "description": "Date of the last transaction seen for this metric.",
            "example": "string"
          },
          "metricsFrequency": {
            "type": "string",
            "description": "Frequency of reporting the metrics.",
            "example": "string"
          },
          "metricsLists": {
            "type": "array",
            "description": "List of metrics with time periods.",
            "items": {
              "$ref": "#/components/schemas/MetricList"
            }
          }
        },
        "description": "Schema for retail sales analytics metrics collected for a location."
      },
      "MetricList": {
        "title": "Metric List",
        "type": "object",
        "properties": {
          "periodStartDate": {
            "type": "string",
            "description": "Start date of the reporting period.",
            "example": "string"
          },
          "periodEndDate": {
            "type": "string",
            "description": "End date of the reporting period.",
            "example": "string"
          },
          "year": {
            "type": "number",
            "description": "Year of the metrics.",
            "example": 0.0
          },
          "metrics": {
            "type": "array",
            "description": "List of metrics.",
            "items": {
              "$ref": "#/components/schemas/Metric"
            }
          }
        },
        "description": "Schema representing a list of metrics with corresponding time periods."
      },
      "Metric": {
        "title": "Metric",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the metric.",
            "example": "string"
          }
        },
        "description": "Schema representing a single metric with its name."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-sbca-metrics-report"
        },
        "example": "open-finance-api-generate-sbca-metrics-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was processed, indicating where the runtime environment is associated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a JSON Web Token (JWT) in the `Authorization` header to authenticate requests. The JWT should be obtained through an appropriate authentication process and must be valid for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}