{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Relationship Management API",
    "description": "The Customer Relationship Management API facilitates the maintenance and enhancement of customer relationships by allowing businesses to update customer information and manage interactions effectively. With this API, users can perform actions such as altering customer details and managing preferences, helping to streamline customer service operations. It is typically utilized by CRM systems and customer service platforms to ensure that customer data is accurate and up-to-date. This API is crucial for organizations aiming to improve customer engagement and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-relationship-management/{param1}": {
      "patch": {
        "tags": [
          "Customer Relationship Management"
        ],
        "summary": "Update Customer Relationship Management Data",
        "description": "This endpoint allows you to update the details of a specific customer relationship management record identified by 'CUST-100045'. Ensure to provide the necessary fields to be updated in the request.",
        "operationId": "updateCustomerRelationshipManagementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the customer relationship management details for customer CUST-100045. It contains the data fields that need to be modified in the customer's record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerRelationshipManagementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerRelationshipManagementCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerRelationshipManagementCUST100045Request": {
        "title": "Customer Relationship Management Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/CustomerChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating customer relationship management data, including changes, reasons for changes, and context of the request.",
        "example": {
          "changes": {
            "customerId": "CUST-348479",
            "partyId": "PARTY-596765",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "76d42d97-8c93-55f8-b3b8-0ab73fecc204",
            "correlationId": "da43ec1f-1863-5a1b-b755-34f944a7f6e9",
            "idempotencyKey": "3bbc3308-f48d-5bc9-a377-8c95f80ab5c0",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-282411"
            }
          }
        }
      },
      "CustomerChanges": {
        "title": "Customer Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party associated with the customer.",
            "example": "PARTY-1001"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product related to the customer.",
            "example": "PROD-001"
          }
        },
        "description": "Contains the details of the changes requested for the customer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "CORR-78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is processed only once.",
            "example": "IDEMPOTENCY-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T11:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM-System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request, e.g. API, Web, Mobile.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateCustomerRelationshipManagementCUST100045Response_200": {
        "title": "Customer Relationship Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response of the Customer Relationship Management operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8c586735-a622-556a-9413-f8589f8eb7e8",
            "correlationId": "da43ec1f-1863-5a1b-b755-34f944a7f6e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-relationship-management-update-customer-relationship-management"
        },
        "example": "customer-relationship-management-update-customer-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, employing JSON Web Tokens (JWT) for secure API access. Clients must include a valid authorization token in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}