{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Reporting API",
    "description": "The Regulatory Reporting API provides secure access to generate and retrieve compliance reports essential for banking institutions. This API enables financial organizations to automate the reporting process, ensuring adherence to regulatory requirements. Typical consumers include compliance officers, risk management teams, and financial analysts who need timely and accurate reporting mechanisms. By leveraging this API, institutions can enhance their operational efficiency and maintain compliance with industry regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/regulatory-reporting": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve regulatory reporting information.",
        "description": "This endpoint allows users to access the latest regulatory reporting data, ensuring compliance with relevant regulations. You can use this to get an overview or specific details regarding your compliance status.",
        "operationId": "getRegulatoryReporting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve compliance regulatory reporting information. It requires a JSON payload that specifies the necessary parameters to execute the GET request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegulatoryReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the regulatory reporting data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegulatoryReportingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRegulatoryReportingRequest": {
        "title": "Regulatory Reporting Request Body",
        "type": "string",
        "description": "The body of the request for regulatory reporting operations, expected to be a string format.",
        "example": "{}"
      },
      "GetRegulatoryReportingResponse_200": {
        "title": "Regulatory Reporting Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of regulatory reporting items.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RegulatoryReportingItem"
            }
          },
          "pagination": {
            "description": "Pagination information related to the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the regulatory reporting GET operation, including items, pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "12a3f379-1389-5dd7-8b0a-f5f660f2ea4e",
            "correlationId": "5201f481-5dd5-59dd-859f-a638d49b97f9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RegulatoryReportingItem": {
        "title": "Regulatory Reporting Item",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "submission-123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity associated with the submission.",
            "example": "entity-456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the report is filed.",
            "example": "USA"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the submission.",
            "example": "2023-01"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation that governs the submission.",
            "example": "Regulation A"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the submission.",
            "example": "2023-02-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "submitted"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the item was last updated.",
            "example": "2023-01-15T12:00:00Z"
          }
        },
        "description": "Represents an individual regulatory reporting item."
      },
      "Pagination": {
        "title": "Pagination Info",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing and debugging purposes.",
            "example": "correlation-101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "NA"
          }
        },
        "description": "Contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-reporting-search-regulatory-reporting"
        },
        "example": "regulatory-reporting-search-regulatory-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires the user to provide a valid JSON Web Token (JWT) in the Authorization header for secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}