{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Application Submission API",
    "description": "The Application Submission API facilitates the onboarding of partners by enabling the submission of business applications. This endpoint is designed for partners seeking to integrate with our services, streamlining the application process for enhanced collaboration. Typical users include businesses aiming to leverage our platform for innovative solutions. The API supports the submission of various application types, allowing for efficient processing and integration tailored to partner needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/applications": {
      "post": {
        "tags": [
          "Partner Applications"
        ],
        "summary": "Submit a new partner application.",
        "description": "This endpoint allows businesses to submit new partner applications for consideration. The submission should include all required information to ensure a complete application process.",
        "operationId": "createPartnerApplication",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This payload is used to submit a new application for partnership. Ensure that all required fields are correctly filled out to successfully process the application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartnerApplicationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the application has been processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartnerApplicationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartnerApplicationRequest": {
        "title": "Application Request Body",
        "type": "object",
        "properties": {
          "appDescription": {
            "type": "string",
            "description": "A brief description of the application.",
            "example": "STANDARD"
          },
          "appName": {
            "type": "string",
            "description": "The name of the application.",
            "example": "Northstar Banking Service"
          },
          "appUrl": {
            "type": "string",
            "description": "The URL where the application can be accessed.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "ownerAddressLine1": {
            "type": "string",
            "description": "The first line of the owner's address.",
            "example": "STANDARD"
          },
          "ownerAddressLine2": {
            "type": "string",
            "description": "The second line of the owner's address.",
            "example": "STANDARD"
          },
          "ownerCity": {
            "type": "string",
            "description": "The city where the application owner is located.",
            "example": "STANDARD"
          },
          "ownerCountry": {
            "type": "string",
            "description": "The country where the application owner is located.",
            "example": "STANDARD"
          },
          "ownerName": {
            "type": "string",
            "description": "The name of the application owner.",
            "example": "Northstar Banking Service"
          },
          "ownerPostalCode": {
            "type": "string",
            "description": "The postal code for the owner's address.",
            "example": "CODE-126"
          },
          "ownerState": {
            "type": "string",
            "description": "The state where the application owner resides.",
            "example": "STANDARD"
          },
          "image": {
            "type": "string",
            "description": "A URL pointing to an image representing the application.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-1234"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracing requests across services.",
                "example": "corr-5678"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure idempotency of the request.",
                "example": "key-001"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp of when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifier of the system originating the request.",
                "example": "systemA"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Identifier of the application making the request.",
                "example": "appA"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the channel.",
                    "example": "channel-1"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the channel (e.g., mobile, web).",
                    "example": "web"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier of the device used for the request.",
                    "example": "device-123"
                  }
                },
                "description": "Information about the channel used to make the request."
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
              "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
              "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-451820"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating a new application.",
        "example": {
          "appDescription": "STANDARD",
          "appName": "Northstar Banking Service",
          "appUrl": "https://banking.northstar.example/callbacks/status",
          "ownerAddressLine1": "STANDARD",
          "ownerAddressLine2": "STANDARD",
          "ownerCity": "STANDARD",
          "ownerCountry": "STANDARD",
          "ownerName": "Northstar Banking Service",
          "ownerPostalCode": "CODE-126",
          "ownerState": "STANDARD",
          "image": "STANDARD",
          "requestContext": {
            "requestId": "b24ef130-5a90-5793-915d-3518b89f652f",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "idempotencyKey": "fa86c645-e902-513b-92cf-90c15f44db74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-451820"
            }
          }
        }
      },
      "CreatePartnerApplicationResponse_201": {
        "title": "Application Response",
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The unique identifier for the pre-application.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata associated with the application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful application submission.",
        "example": {
          "preAppId": 1,
          "status": "ACTIVE",
          "metadata": {
            "responseId": "e0dfe30d-c701-5d26-aa27-7be292355c7b",
            "correlationId": "65602838-6c0d-5704-ad20-c7c8ae73b98b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing additional information about the application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint invoked. This header helps in tracing the specific endpoint used during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-register-app"
        },
        "example": "open-finance-api-register-app"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request. This header provides context about the environment in which the application is running.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}