{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Applications Retrieval API",
    "description": "The Loan Applications Retrieval API enables consumers to access and review loan applications submitted within the system. It provides insights into the status and details of each application, allowing users to track progress and make informed decisions. Typical users include loan officers, financial analysts, and customer service representatives who need to access this information for evaluation and support purposes. This endpoint ensures efficient retrieval of valuable application data within the loan processing workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve a list of loan applications.",
        "description": "This endpoint allows users to fetch and view all loan applications submitted to the system. You can use this to check the status, details, and history of loan applications.",
        "operationId": "getLoanApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving loan application data. This request body should contain the necessary parameters to filter or customize the response for loan applications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of loan applications.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching loan applications.",
        "example": "{}"
      },
      "GetLoanApplicationsResponse_200": {
        "title": "Loan Applications Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of loan application objects.",
            "example": [
              {
                "productId": "PROD-847968",
                "externalReference": "STANDARD",
                "channel": "STANDARD",
                "purpose": "STANDARD",
                "purposeDescription": "STANDARD",
                "requestedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "requestedTermMonths": 1,
                "preferredRepaymentDay": 1,
                "primaryCustomerId": "CUST-182029",
                "branchCode": "CODE-627",
                "relationshipManagerId": "STANDARD",
                "campaignCode": "CODE-652",
                "customerConsent": {
                  "creditBureauConsent": true,
                  "dataProcessingConsent": true,
                  "marketingConsent": true,
                  "consentTimestamp": "2026-09-15T14:30:00Z",
                  "consentReference": "STANDARD"
                },
                "id": "f1345a8e-6a3e-bbfb-1197-83127f2bb28f",
                "applicationNumber": "STANDARD",
                "status": "ACTIVE",
                "submittedAt": "2026-09-15T14:30:00Z",
                "decisionAt": "2026-08-11T12:00:00Z",
                "bookedLoanId": "LOAN-949229",
                "completionPercent": 1,
                "outstandingRequirements": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "status": "ACTIVE",
                    "dueDate": "2026-09-15"
                  }
                ],
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanApplication"
            }
          },
          "page": {
            "$ref": "#/components/schemas/PageInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response format for retrieving loan applications.",
        "example": {
          "items": [
            {
              "productId": "PROD-847968",
              "externalReference": "STANDARD",
              "channel": "STANDARD",
              "purpose": "STANDARD",
              "purposeDescription": "STANDARD",
              "requestedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "requestedTermMonths": 1,
              "preferredRepaymentDay": 1,
              "primaryCustomerId": "CUST-182029",
              "branchCode": "CODE-627",
              "relationshipManagerId": "STANDARD",
              "campaignCode": "CODE-652",
              "customerConsent": {
                "creditBureauConsent": true,
                "dataProcessingConsent": true,
                "marketingConsent": true,
                "consentTimestamp": "2026-09-15T14:30:00Z",
                "consentReference": "STANDARD"
              },
              "id": "f1345a8e-6a3e-bbfb-1197-83127f2bb28f",
              "applicationNumber": "STANDARD",
              "status": "ACTIVE",
              "submittedAt": "2026-09-15T14:30:00Z",
              "decisionAt": "2026-08-11T12:00:00Z",
              "bookedLoanId": "LOAN-949229",
              "completionPercent": 1,
              "outstandingRequirements": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "status": "ACTIVE",
                  "dueDate": "2026-09-15"
                }
              ],
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "page": {
            "page": 1
          },
          "metadata": {
            "responseId": "5e59fea0-edee-52f6-87f4-8eb46f1533db",
            "correlationId": "3fa6a4c3-50b0-513d-aab0-2ed9214e3c3e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanApplication": {
        "title": "Loan Application",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The unique identifier for the product related to this loan application.",
            "example": "string"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference ID associated with the loan application.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the loan application was submitted.",
            "example": "string"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan is being requested.",
            "example": "string"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the purpose for the loan.",
            "example": "string"
          },
          "requestedPrincipal": {
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan requested in months.",
            "format": "int32",
            "example": 0
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for repayment.",
            "format": "int32",
            "example": 0
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The unique identifier of the primary customer associated with this application.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch handling this loan application.",
            "example": "string"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The unique identifier of the relationship manager handling this application.",
            "example": "string"
          },
          "campaignCode": {
            "type": "string",
            "description": "The code associated with the marketing campaign that led to this application.",
            "example": "string"
          },
          "customerConsent": {
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for this loan application.",
            "example": "string"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned to this loan application.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "string"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "string"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when a decision was made on the application.",
            "example": "string"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The ID of the booked loan if the application was successful.",
            "example": "string"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The completion percentage of the loan application process.",
            "format": "int32",
            "example": 0
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements for the loan application.",
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Represents a single loan application submitted by a customer."
      },
      "PageInfo": {
        "title": "Page Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information about the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the API response."
      },
      "RequestedPrincipal": {
        "title": "Requested Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested principal amount.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of principal requested.",
            "example": "string"
          }
        },
        "description": "Details about the principal amount requested in the loan application."
      },
      "CustomerConsent": {
        "title": "Customer Consent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to a credit bureau check.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to receive marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "The timestamp when consent was given.",
            "example": "string"
          },
          "consentReference": {
            "type": "string",
            "description": "A reference associated with the consent.",
            "example": "string"
          }
        },
        "description": "Contains customer consent information related to the loan application."
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code identifying the outstanding requirement.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A description of the outstanding requirement.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the outstanding requirement.",
            "example": "string"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the outstanding requirement.",
            "example": "string"
          }
        },
        "description": "Describes a requirement that is still pending for the loan application."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan application was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the loan application.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the loan application was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the loan application.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan application record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains audit information for the loan application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-applications"
        },
        "example": "banking-loans-openapi-list-loan-applications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be sent in the Authorization header of the request. The token should be prefixed with 'Bearer '. This mechanism is commonly used for securing API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}