{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Recruitment Management API",
    "description": "The Recruitment Management API facilitates the recruitment process within banking human resource management systems. It enables businesses to streamline candidate submissions, manage job postings, and enhance collaboration among hiring teams. This API serves HR professionals, recruiters, and hiring managers who are looking to efficiently integrate recruitment functionalities into their existing systems. With this API, organizations can automate workflows and improve the overall hiring experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment": {
      "post": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Create new recruitment entry.",
        "description": "This operation allows you to create a new recruitment entry in the human resource management system. It facilitates the addition of candidates, job postings, and relevant recruitment details to streamline the hiring process.",
        "operationId": "createRecruitmentEntry",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit recruitment operations within the human resource management system. It contains all the necessary details for processing a recruitment request, allowing for data entry on potential new hires and their associated information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecruitmentEntryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for the recruitment process.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecruitmentEntryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRecruitmentEntryRequest": {
        "title": "Recruitment Request Body",
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the job requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position being recruited for.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department making the requisition.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment for the position (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "The location where the position is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "The date by which the employer intends to fill the position.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contains contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for recruitment operations.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "requestContext": {
            "requestId": "efe71f6d-b634-5628-b1f5-0d8dec09ebad",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "idempotencyKey": "9eab9f25-f0cb-5836-b1b1-a3a3a773e0ff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-343893"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-ABC-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests across services.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure that a request is processed only once.",
            "example": "IDEMP-KEY-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system from which the request originated.",
            "example": "HR Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that sent the request.",
            "example": "Recruitment Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for a request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the communication channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., web, mobile, API).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Schema representing the channel information connected to the request."
      },
      "CreateRecruitmentEntryResponse_201": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the requisition.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the requisition.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource (candidate) being managed.",
            "example": "RES-767257"
          },
          "status": {
            "type": "string",
            "description": "The current status of the recruitment process.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the requisition was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the recruitment operation.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the recruitment operation.",
        "example": {
          "requisitionId": "STANDARD",
          "departmentId": "STANDARD",
          "resourceId": "RES-767257",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "68f02b3a-cd4e-5273-b802-562ceb63db4e",
            "correlationId": "40621a6b-1530-5382-a365-c8c3ea5aa98d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this request with others.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-03T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of this operation took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata related to the recruitment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed during the recruitment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-create-recruitment"
        },
        "example": "recruitment-create-recruitment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processes the request related to recruitment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication to access protected resources. Users must provide a valid JWT (JSON Web Token) in the authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}