{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Notional Pooling Overview API",
    "description": "The Notional Pooling Overview API provides comprehensive insights into the notional pooling arrangements within a banking context. This API allows users to retrieve information on balance aggregation and fund utilization across multiple accounts, enabling effective liquidity management. Typical consumers include financial analysts and treasury departments seeking to optimize cash management strategies. By harnessing this API, stakeholders can enhance operational efficiency and gain a better understanding of their liquidity status.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/notional-pooling": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve notional pooling details.",
        "description": "This endpoint fetches information related to notional pooling within trade banking. Notional pooling allows for the aggregation of balances across different accounts to optimize interest offsetting and manage liquidity more effectively.",
        "operationId": "getNotionalPooling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving notional pooling information in the trade banking context. Ensure that the request is properly structured according to the defined schema to achieve the desired results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetNotionalPoolingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the notional pooling data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetNotionalPoolingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetNotionalPoolingRequest": {
        "type": "string",
        "description": "A representation of the request body for the Notional Pooling Operations GET operation in the Trade Banking API.",
        "example": "{}"
      },
      "GetNotionalPoolingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of notional pooling objects.",
            "example": [
              {
                "poolId": "STANDARD",
                "headerAccountId": "ACC-414410",
                "participantAccountIds": [
                  "ACC-554861"
                ],
                "currency": "USD",
                "sweepFrequency": "STANDARD",
                "targetBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/NotionalPooling"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Notional Pooling GET operation in Trade Banking.",
        "example": {
          "items": [
            {
              "poolId": "STANDARD",
              "headerAccountId": "ACC-414410",
              "participantAccountIds": [
                "ACC-554861"
              ],
              "currency": "USD",
              "sweepFrequency": "STANDARD",
              "targetBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "67214387-307a-51d5-b099-0b2663c5fa0a",
            "correlationId": "050824ca-0000-5571-b37b-e7af51032f83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalPooling": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the pooling account."
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account associated with the pool."
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of account IDs participating in the notional pooling.",
            "items": {
              "type": "string",
              "description": "Identifier of each participant account."
            }
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the pooling operates."
          },
          "sweepFrequency": {
            "type": "string",
            "description": "Frequency with which funds are swept between accounts."
          },
          "targetBalance": {
            "type": "number",
            "description": "Target balance for the pooling operation."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the notional pool record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Represents a notional pooling account."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "notional-pooling-search-notional-pooling"
        },
        "example": "notional-pooling-search-notional-pooling"
      },
      "X-Runtime-App": {
        "description": "Specifies which runtime application handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Tokens). Clients must include a valid JWT in the Authorization header when making API requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}