{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Agreement Management API",
    "description": "The Customer Agreement Management API enables the creation and management of customer agreements within the banking system. This API allows financial institutions to effectively onboard customers by facilitating the submission of necessary agreement documentation. Typical users include customer service representatives and digital banking platforms that streamline agreement handling processes. By utilizing this API, organizations can enhance customer satisfaction through efficient management of agreements and associated information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-agreement": {
      "post": {
        "tags": [
          "Customer Agreement Management"
        ],
        "summary": "Create a new customer agreement.",
        "description": "This endpoint allows you to create a new customer agreement, capturing all necessary details and attributes associated with the agreement. Ensure that all required fields are populated for a successful operation.",
        "operationId": "createCustomerAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new customer agreement. It should include all necessary details required to establish the agreement between the customer and the service provider.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer agreement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerAgreementRequest": {
        "title": "Customer Agreement Creation Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-908307"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer agreement.",
            "example": "PARTY-347259"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the customer agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the customer agreement becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier representing the relationship status of the customer.",
            "example": "GOLD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a customer agreement in the system.",
        "example": {
          "customerId": "CUST-908307",
          "partyId": "PARTY-347259",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "requestContext": {
            "requestId": "6b3b871f-e21b-55d8-8594-ea3489242695",
            "correlationId": "e5adf109-1b9f-531d-8355-46c3dda8e200",
            "idempotencyKey": "5067ddbb-c128-5ec7-9585-2691781ec821",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-405220"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate different requests across systems.",
            "example": "CORR67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "IDEMPOTENCYKEY123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from where the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request was sent.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema containing details about the channel through which the request was made."
      },
      "CreateCustomerAgreementResponse_201": {
        "title": "Customer Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-243673"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the agreement.",
            "example": "PARTY-532996"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the customer agreement.",
            "example": "RES-537165"
          },
          "status": {
            "type": "string",
            "description": "The current status of the customer agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the customer agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AgreementMetadata"
          }
        },
        "description": "Represents the response returned after creating a customer agreement.",
        "example": {
          "customerId": "CUST-243673",
          "partyId": "PARTY-532996",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-537165",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "498c869f-05f6-5ee3-ac21-5c2e77f93e4e",
            "correlationId": "e5adf109-1b9f-531d-8355-46c3dda8e200",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AgreementMetadata": {
        "title": "Agreement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains additional metadata information for the customer agreement response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-006"
        },
        "example": "WF-006"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3398cb3e-4e0f-4a9b-8596-30546d01c62e"
        },
        "example": "3398cb3e-4e0f-4a9b-8596-30546d01c62e"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3f56f992-8aa6-4cd0-948f-98c66843944e"
        },
        "example": "3f56f992-8aa6-4cd0-948f-98c66843944e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-agreement-create-customer-agreement"
        },
        "example": "customer-agreement-create-customer-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow process associated with the current request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-006"
        },
        "example": "WF-006"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Profile Change and Identity Reverification"
        },
        "example": "Customer Profile Change and Identity Reverification"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3f56f992-8aa6-4cd0-948f-98c66843944e"
        },
        "example": "3f56f992-8aa6-4cd0-948f-98c66843944e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is provided in the request header. It is crucial for securing API endpoints and ensuring that only authorized users can access certain resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}