{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Network Management API",
    "description": "The ATM Network Management API facilitates the oversight and administration of ATM operations within a banking ecosystem. This API enables financial institutions to manage various functionalities related to their ATM networks, including configuration, monitoring, and optimization of services. Typical consumers include banking developers and IT teams seeking to enhance ATM functionalities or integrate ATM management into broader banking applications. It serves as a critical tool for ensuring efficient cash management and maintaining service availability across ATM networks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management": {
      "post": {
        "tags": [
          "ATM Network Management"
        ],
        "summary": "Create ATM Network Management Resource",
        "description": "This operation allows clients to create a new ATM network management resource. It handles the configuration and registration of ATM networks as part of the channel-specific management.",
        "operationId": "createAtmNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform operations related to ATM network management for a specific channel. Ensure that all required fields conform to the specified schema, enabling effective network management through this API endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAtmNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAtmNetworkManagementResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAtmNetworkManagementResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAtmNetworkManagementResponse_201": {
        "title": "ATM Network Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region where the ATM is located.",
            "example": "US-EAST-1"
          },
          "atmId": {
            "type": "string",
            "description": "The unique identifier for the ATM.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the ATM.",
            "example": "RES-903741"
          },
          "status": {
            "type": "string",
            "description": "The current status of the ATM.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the ATM operation response.",
            "$ref": "#/components/schemas/ATMNetworkMetadata"
          }
        },
        "description": "Schema representing the response for the ATM network management operation.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "atmId": "STANDARD",
          "resourceId": "RES-903741",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f69c1218-d915-5df2-85c4-3492151b9ad8",
            "correlationId": "793609d7-ea24-585a-bdd6-d6d21c3e0fb0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ATMNetworkMetadata": {
        "title": "ATM Network Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T08:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to an ATM network operation response."
      },
      "CreateAtmNetworkManagementRequest": {
        "title": "ATM Network Management Request",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of the ATM.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions the ATM can perform daily.",
            "format": "int32",
            "example": 1
          },
          "atmId": {
            "type": "string",
            "description": "Unique identifier for the ATM.",
            "example": "STANDARD"
          },
          "cashStatus": {
            "type": "string",
            "description": "Current cash availability status of the ATM.",
            "example": "AVAILABLE"
          },
          "terminalHealth": {
            "type": "string",
            "description": "Current health status of the ATM terminal.",
            "example": "ONLINE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for ATM network management operations including details about the channel, service availability, daily capacity, and request context.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "atmId": "STANDARD",
          "cashStatus": "AVAILABLE",
          "terminalHealth": "ONLINE",
          "requestContext": {
            "requestId": "88e5c84a-cdaf-53c5-8926-4513c5089077",
            "correlationId": "793609d7-ea24-585a-bdd6-d6d21c3e0fb0",
            "idempotencyKey": "ba8bbc40-b845-5dda-85c7-54691f7b430c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-645608"
            }
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the ATM opens, in a valid time format.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the ATM closes, in a valid time format.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the operational hours of the ATM."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to identify the idempotent request, preventing duplicate processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that contains details of the request context for the ATM operation."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device interacting with the ATM.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for the ATM operation."
      },
      "CreateAtmNetworkManagementResponse_422": {
        "title": "ATM Network Management Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the error type.",
            "example": "BUSINESS_RULE_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, used for tracing.",
            "example": "0d872993-d9e0-48e3-9962-c9c2a529230f"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error.",
            "example": "The request failed an account/customer eligibility rule"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow state or process where the error occurred.",
            "example": "WF-072"
          }
        },
        "description": "Schema representing an error response returned for an invalid request in the ATM network management operations.",
        "example": {
          "code": "BUSINESS_RULE_REJECTED",
          "correlationId": "0d872993-d9e0-48e3-9962-c9c2a529230f",
          "message": "The request failed an account/customer eligibility rule",
          "workflow": "WF-072"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-072"
        },
        "example": "WF-072"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "132c8abe-d34f-49eb-916f-f432b5db77cc"
        },
        "example": "132c8abe-d34f-49eb-916f-f432b5db77cc"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "BUSINESS_REJECT"
        },
        "example": "BUSINESS_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "684c78fa-b2b8-4b18-80d6-be5f68661bd3"
        },
        "example": "684c78fa-b2b8-4b18-80d6-be5f68661bd3"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-create-atm-network-management"
        },
        "example": "atm-network-management-create-atm-network-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-072"
        },
        "example": "WF-072"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being processed or triggered.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ATM Network Incident and Cash Replenishment"
        },
        "example": "ATM Network Incident and Cash Replenishment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, allowing tracking and management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "684c78fa-b2b8-4b18-80d6-be5f68661bd3"
        },
        "example": "684c78fa-b2b8-4b18-80d6-be5f68661bd3"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the 'Authorization' header when making requests to secure endpoints. The JWT should be issued by a trusted authentication server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}