{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Scheduled Payments Retrieval API",
    "description": "This API enables users to access details of international scheduled payments, providing a streamlined way to manage cross-border transactions. The endpoint allows for the retrieval of specific payment information using a unique identifier. Typical consumers include banking institutions and financial services that require efficient oversight of scheduled payments for their clients. This API is essential for organizations looking to facilitate transparent and reliable international payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payments/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve details of a specific international scheduled payment.",
        "description": "This endpoint allows users to fetch the details of an international scheduled payment by its unique identifier. It provides essential information related to the payment, including the status, amount, and recipient details, helping users track their transactions effectively.",
        "operationId": "getInternationalScheduledPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about an international scheduled payment, identified by the payment ID 'PAY-300045'. It includes all necessary attributes in the specified format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalScheduledPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalScheduledPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalScheduledPaymentByIdRequest": {
        "title": "International Scheduled Payments Request Body",
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to international scheduled payments.",
        "example": "{}"
      },
      "GetInternationalScheduledPaymentByIdResponse_200": {
        "title": "International Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "paymentId": {
                "type": "string",
                "description": "Unique identifier for the payment.",
                "example": "123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the payment.",
                "example": "consent_789"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the payment was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the payment.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for the payment execution.",
                "example": "2023-10-02T12:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for the payment settlement.",
                "example": "2023-10-03T12:00:00Z"
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "type": "object",
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/Initiation"
              }
            },
            "description": "Container for the details of the payment.",
            "example": {
              "paymentId": "PAY-446463",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response_abc"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier to trace the request.",
                "example": "corr_123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Datetime when the response was generated.",
                "example": "2023-10-01T12:10:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the payment was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "ebf567e1-43f1-5d6c-8650-dd5f34da928e",
              "correlationId": "826e0159-4558-580e-ade3-e2ccb208d279",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for international scheduled payments.",
        "example": {
          "Data": {
            "paymentId": "PAY-446463",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "ebf567e1-43f1-5d6c-8650-dd5f34da928e",
            "correlationId": "826e0159-4558-580e-ade3-e2ccb208d279",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "STATUS_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "Payment is under review"
          },
          "Path": {
            "type": "string",
            "description": "Path to additional information or a related entity.",
            "example": "/path/to/resource"
          }
        },
        "description": "Describes a reason for the payment's current status."
      },
      "Refund": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Account information related to the refund.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Details regarding the account information for the refund."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge for the payment.",
            "example": "SHA"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied.",
            "example": "Fee"
          },
          "Amount": {
            "type": "object",
            "description": "Amount information of the charge.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details about a charge associated with the payment."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency for which the unit rate is applicable.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "Exchange rate applicable to the transaction.",
            "example": 1.2
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate applied.",
            "example": "FLOAT"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification for the exchange rate contract.",
            "example": "contract_456"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the exchange rate expires.",
            "example": "2023-10-05T12:00:00Z"
          }
        },
        "description": "Information regarding the exchange rate relevant to the transaction."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique instruction identifier for the payment.",
            "example": "instruction_123"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment.",
            "example": "e2e_456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Instrument type used to execute the payment.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the instruction.",
            "example": "HIGH"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the transaction.",
            "example": "Invoice payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charges related to this transaction.",
            "example": "OUR"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested execution date and time for the payment.",
            "example": "2023-10-01T12:00:00Z"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer amount is denominated.",
            "example": "GBP"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code where the payment is to be sent.",
            "example": "GB"
          },
          "InstructedAmount": {
            "type": "object",
            "description": "Amount specified for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "ExchangeRateInformation": {
            "type": "object",
            "description": "Information on exchange rate if applicable.",
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Initiation details for the payment request."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the identification scheme used.",
            "example": "UK.001"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account, if applicable.",
            "example": "DD123456"
          }
        },
        "description": "Account information for a payment or refund."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The value of the amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "EUR"
          }
        },
        "description": "Represents an amount and its currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request, used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-payment"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "Name of the application or service that is responsible for executing the request, useful for debugging and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) to secure API requests. Clients must include a valid bearer token in the authorization header of their HTTP requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}