{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Orders Management API",
    "description": "The Domestic Standing Orders Management API enables financial institutions and payment service providers to automate and manage recurring payment instructions. This API allows users to initiate new standing orders, update existing ones, or cancel them as needed. Typically utilized by banking applications, it streamlines the process of managing periodic payments, ensuring accurate transaction execution. Developers can integrate this API for enhanced customer experiences in personal finance management and bill payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-orders": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a domestic standing order.",
        "description": "This operation allows users to create a domestic standing order, facilitating regular payments from one bank account to another based on predefined instructions.",
        "operationId": "createDomesticStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a domestic standing order. This includes necessary details to process the standing order operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticStandingOrderRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/StandingOrderData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating domestic standing orders in the PISP (Payment Initiation Service Provider) operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "requestContext": {
            "requestId": "99d9021e-f3c4-514b-b3cf-72df0c60bdd8",
            "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
            "idempotencyKey": "3b93a4be-c439-59d3-8932-a3613abedd0b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-655415"
            }
          }
        }
      },
      "StandingOrderData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/StandingOrderInitiation"
          }
        },
        "description": "Schema containing the details necessary for the standing order."
      },
      "StandingOrderInitiation": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments to be made.",
            "example": "string"
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "RecurringPaymentAmount": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          }
        },
        "description": "Schema for initiating a standing order including payment details."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured remittance information.",
            "items": {
              "type": "string",
              "example": "Payment for invoice 123"
            }
          }
        },
        "description": "Detailed remittance information for the standing order."
      },
      "StructuredRemittanceItem": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents associated with the remittance.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "The amount associated with the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Information about the invoicer.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "Information about the invoicee.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Information about tax remittance.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional information regarding the remittance.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing a single structured remittance item."
      },
      "ReferredDocument": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code of the referred document.",
            "example": "INV"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the referred document.",
            "example": "Supplier Inc."
          },
          "Number": {
            "type": "string",
            "description": "Document number.",
            "example": "12345"
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date related to the document.",
            "example": "2023-01-01"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details of line items in the referred document.",
            "items": {
              "type": "string",
              "example": "Item description"
            }
          }
        },
        "description": "Details of a referred document."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code representing the creditor reference.",
            "example": "CR123"
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the creditor reference.",
            "example": "Tax Office"
          },
          "Reference": {
            "type": "string",
            "description": "Detailed reference for the creditor.",
            "example": "Ref-001"
          }
        },
        "description": "Creditor reference details."
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount with an associated currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema describing the channel information from which the request was made."
      },
      "CreateDomesticStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticStandingOrderId": {
                "type": "string",
                "description": "Unique identifier for the domestic standing order.",
                "example": "DSO123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the standing order.",
                "example": "CNS987654"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the standing order was created.",
                "example": "2023-01-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the domestic standing order.",
                "example": "Active"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the standing order.",
                "items": {
                  "$ref": "#/components/schemas/StatusReasonItem"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/AccountDetails"
                  }
                },
                "description": "Information regarding any refund associated with the standing order."
              },
              "Charges": {
                "type": "array",
                "description": "List of charges related to the standing order.",
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "$ref": "#/components/schemas/RemittanceInformation"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments for this standing order.",
                    "example": "12"
                  },
                  "FirstPaymentAmount": {
                    "$ref": "#/components/schemas/PaymentAmount"
                  },
                  "RecurringPaymentAmount": {
                    "$ref": "#/components/schemas/PaymentAmount"
                  }
                },
                "description": "Details about the initiation of the standing order."
              }
            },
            "description": "Detailed information about the domestic standing order.",
            "example": {
              "DomesticStandingOrderId": "ORD-143991",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "res-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Id to correlate the request and response.",
                "example": "corr-56789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "0f0fd439-9882-5a08-b707-43ca227a7935",
              "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for creating domestic standing orders.",
        "example": {
          "Data": {
            "DomesticStandingOrderId": "ORD-143991",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "0f0fd439-9882-5a08-b707-43ca227a7935",
            "correlationId": "7b171d06-99f4-5686-9938-0078b71d5a38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason status.",
            "example": "R01"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason status.",
            "example": "Reason for status update."
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason for the current status.",
            "example": "/orders/standing-order"
          }
        },
        "description": "Status reason details."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the account.",
            "example": "UK Account"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification for the account, if applicable.",
            "example": "Customer ID 12345"
          }
        },
        "description": "Details of the account related to the refund."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge.",
            "example": "SHARE"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Fixed"
          },
          "Amount": {
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Details of the charges associated with the standing order."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information related to referred documents.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount related to the referred document.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Invoicer's name.",
            "example": "Company ABC"
          },
          "Invoicee": {
            "type": "string",
            "description": "Invoicee's name.",
            "example": "Client XYZ"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax related to the remittance.",
            "example": "VAT"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional remittance information if applicable.",
            "items": {
              "type": "string",
              "example": "Extra notes"
            }
          }
        },
        "description": "Structured remittance item."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount value.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "ISO 4217 currency code.",
            "example": "GBP"
          }
        },
        "description": "Amount details including currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking and logging requests for specific endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-domestic-standing-order"
        },
        "example": "payment-initiation-openapi-submit-domestic-standing-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This aids in identifying the source of requests, especially in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, where a JSON Web Token (JWT) is provided for authorization. The token should be included in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}