{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Capture API",
    "description": "The Payment Capture API facilitates the processing of captured payments for transactions initiated through the payment system. By issuing a capture request for a specific payment ID, merchants and payment processors can confirm and finalize the transaction, ensuring funds are transferred and the order is fulfilled. Typical consumers of this API include e-commerce platforms and payment gateways, where capturing payments is essential for revenue allocation. This API streamlines the payment lifecycle, enhancing operational efficiency for businesses engaged in online sales.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}/capture": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Capture a payment for a specific transaction.",
        "description": "This endpoint allows you to capture a payment that has been previously authorized. You need to provide the payment ID to perform this action successfully. Capturing a payment will confirm the transaction and initiate the transfer of funds.",
        "operationId": "capturePaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Captures a payment for a specified payment ID. The request must include the necessary details for processing the capture.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CapturePaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment capture request was successful and confirmed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapturePaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CapturePaymentPay300045Request": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be captured including the currency.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "tipAmount": {
            "description": "An optional tip amount associated with the payment.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "finalCapture": {
            "type": "boolean",
            "description": "Indicates if this is the final capture for the transaction.",
            "example": true
          },
          "merchantReference": {
            "type": "string",
            "description": "A reference provided by the merchant for the transaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for capturing a payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "finalCapture": true,
          "merchantReference": "STANDARD",
          "requestContext": {
            "requestId": "1d0ae40b-2d5c-59a4-87a3-159eb7afe977",
            "correlationId": "ce4195b8-ac71-5d95-8b43-07c4c0a7a8e7",
            "idempotencyKey": "ae0cbb20-2b11-529f-be2d-5b30a63ffbb6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-572067"
            }
          }
        }
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The monetary value of the payment amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across systems.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency for the operation.",
            "example": "idemp-345678"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system originating the request.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiates the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema for the contextual information for a request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel details of the request."
      },
      "CapturePaymentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-778232"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent associated with this payment.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "fe2b5d42-58bb-5b68-b182-97592bc8dd56"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the payment.",
            "example": "MER-605142"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the payment was processed.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for the transaction.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order associated with this payment.",
            "example": "ORD-812939"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was made (e.g., online, in-store).",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details of the payment method used for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer making the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Various amounts related to the payment transaction.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for capturing a payment operation.",
        "example": {
          "paymentId": "PAY-778232",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "fe2b5d42-58bb-5b68-b182-97592bc8dd56",
          "merchantId": "MER-605142",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-812939",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-567",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "5085707e-56dd-509a-a962-880403ed1744",
            "correlationId": "ce4195b8-ac71-5d95-8b43-07c4c0a7a8e7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, e-wallet).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code for the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g., last four digits of a card).",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet, if applicable.",
            "example": "string"
          }
        },
        "description": "Details the payment method used in the transaction."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Details about the customer making the payment."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "Amount that was requested for the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "authorized": {
            "description": "Amount that was authorized for the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "captured": {
            "description": "Amount that was captured from the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "refunded": {
            "description": "Amount that was refunded from the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "reversed": {
            "description": "Amount that was reversed from the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "tip": {
            "description": "Tip amount associated with the transaction.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/FeeDetails"
            }
          },
          "netToMerchant": {
            "description": "Net amount received by the merchant after deductions.",
            "$ref": "#/components/schemas/NetToMerchant"
          }
        },
        "description": "Various amounts associated with the payment transaction."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is denoted.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Details about a monetary amount, including currency and value."
      },
      "FeeDetails": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of fee charged.",
            "example": "string"
          },
          "amount": {
            "description": "Amount of the fee charged.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the cost of the fee (merchant or customer).",
            "example": "string"
          }
        },
        "description": "Details about the fee charged in the transaction."
      },
      "NetToMerchant": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the net amount is denoted.",
            "example": "string"
          }
        },
        "description": "Net amount that the merchant receives after all deductions."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response from the payment processor.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the transaction across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Additional data associated with the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-capture-payment"
        },
        "example": "banking-p2m-openapi-capture-payment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves sending a JSON Web Token (JWT) as part of the Authorization header. This token must be included in requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}