{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Runs Management API",
    "description": "The Reconciliation Runs Management API allows users to update the status and details of existing reconciliation runs. This endpoint is crucial for financial institutions and businesses that need to maintain accurate records of transactions and ensure data integrity. By utilizing this API, developers can programmatically adjust reconciliation run parameters, facilitating timely updates and corrections. Common use cases include modifying the status of reconciliation processes or updating associated metadata to reflect changes in data processing operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}": {
      "patch": {
        "tags": [
          "Reconciliation Management"
        ],
        "summary": "Update a reconciliation run by its ID.",
        "description": "This operation allows you to update the details of a specific reconciliation run, identified by its unique ID. Ensure that you provide the necessary fields in the request body for the update to take effect.",
        "operationId": "patchReconciliationRunById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates specific fields of the reconciliation run identified by RES-100045. This request body should include any fields that need to be changed or modified. Ensure that the provided data conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchReconciliationRunByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchReconciliationRunByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchReconciliationRunByIdRequest": {
        "title": "Reconciliation Runs Patch Request Body",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a reconciliation run operation.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1df93188-614a-5a56-aace-1b8f2dacb19f",
            "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
            "idempotencyKey": "f7d0d9e6-238c-5efd-b983-b3dbf70cbb23",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733711"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotent-key-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "reconciliation-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-34567"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used with the channel.",
            "example": "device-7890"
          }
        },
        "description": "Schema containing information about the communication channel used for the request."
      },
      "PatchReconciliationRunByIdResponse_200": {
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "Unique identifier for the reconciliation run.",
            "example": "STANDARD"
          },
          "sourceA": {
            "type": "string",
            "description": "Identifier for source A.",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "description": "Identifier for source B.",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "description": "Business date for the reconciliation.",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "MER-478392"
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the reconciliation.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy used for matching.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary statistics of the reconciliation run.",
            "$ref": "#/components/schemas/ReconciliationSummary"
          },
          "startedAt": {
            "type": "string",
            "description": "Timestamp indicating when the reconciliation started.",
            "example": "2026-09-15T14:30:00Z"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the reconciliation completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "audit": {
            "description": "Audit information related to the reconciliation run.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the response for reconciliation runs operation.",
        "example": {
          "reconciliationRunId": "STANDARD",
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-478392",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "status": "ACTIVE",
          "summary": {
            "sourceACount": 1,
            "sourceBCount": 1,
            "matchedCount": 1,
            "unmatchedSourceACount": 1,
            "unmatchedSourceBCount": 1,
            "amountMismatchCount": 1,
            "duplicateCount": 1,
            "totalSourceA": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "totalSourceB": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netDifference": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "startedAt": "2026-09-15T14:30:00Z",
          "completedAt": "2026-09-15T14:30:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "d361d683-83fd-539c-aa94-cad8fea43ae8",
            "correlationId": "42f363c9-553d-5644-8362-5385f2f195b1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconciliationSummary": {
        "type": "object",
        "properties": {
          "sourceACount": {
            "type": "integer",
            "description": "Count of records from source A.",
            "format": "int32",
            "example": 0
          },
          "sourceBCount": {
            "type": "integer",
            "description": "Count of records from source B.",
            "format": "int32",
            "example": 0
          },
          "matchedCount": {
            "type": "integer",
            "description": "Count of matched records.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceACount": {
            "type": "integer",
            "description": "Count of unmatched records from source A.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceBCount": {
            "type": "integer",
            "description": "Count of unmatched records from source B.",
            "format": "int32",
            "example": 0
          },
          "amountMismatchCount": {
            "type": "integer",
            "description": "Count of records with amount mismatches.",
            "format": "int32",
            "example": 0
          },
          "duplicateCount": {
            "type": "integer",
            "description": "Count of duplicate records found.",
            "format": "int32",
            "example": 0
          },
          "totalSourceA": {
            "description": "Total value and currency for source A.",
            "$ref": "#/components/schemas/CurrencyValue"
          },
          "totalSourceB": {
            "description": "Total value and currency for source B.",
            "$ref": "#/components/schemas/CurrencyValue"
          },
          "netDifference": {
            "description": "Net difference in values with currency.",
            "$ref": "#/components/schemas/CurrencyValue"
          }
        },
        "description": "Summary statistics for a reconciliation run.",
        "example": {
          "sourceACount": 0,
          "sourceBCount": 0,
          "matchedCount": 0,
          "unmatchedSourceACount": 0,
          "unmatchedSourceBCount": 0,
          "amountMismatchCount": 0,
          "duplicateCount": 0,
          "totalSourceA": {
            "currency": "string",
            "value": "string"
          },
          "totalSourceB": {
            "currency": "string",
            "value": "string"
          },
          "netDifference": {
            "currency": "string",
            "value": "string"
          }
        }
      },
      "CurrencyValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value amount as a string.",
            "example": "string"
          }
        },
        "description": "Object representing a currency value with its associated currency."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the record.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information associated with the reconciliation run."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the specific API endpoint involved in the reconciliation process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-reconciliation-run"
        },
        "example": "banking-p2m-openapi-update-reconciliation-run"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) as a bearer token for authorization. Clients must include the JWT in the 'Authorization' header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}