{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicate Management API",
    "description": "The Syndicate Management API enables financial institutions to efficiently manage syndicate transactions with external agencies. Through this API, users can create and manage syndicates, facilitating collaboration across various banking entities. This service primarily serves banking professionals and external agency representatives involved in syndication processes. Typical use cases include initiating new syndicates, monitoring their status, and updating relevant information as transactions progress.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/syndicate-management": {
      "post": {
        "tags": [
          "Syndicate Management"
        ],
        "summary": "Create a new syndicate management entry.",
        "description": "This endpoint allows you to create a new entry in the syndicate management system of an external agency. You will need to provide the necessary details in the request body to successfully create the syndicate management entry.",
        "operationId": "createExternalAgencySyndicateManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or manage syndicate operations for external agencies. It requires specific parameters to ensure correct processing of the syndicate management actions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExternalAgencySyndicateManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateExternalAgencySyndicateManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateExternalAgencySyndicateManagementRequest": {
        "title": "Syndicate Management Request Body",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution involved in the syndicate.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement related to the syndicate.",
            "example": "AGR-281955"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code for the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for syndicate management operations.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-281955",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "50af6785-8fba-5aeb-ae94-c7a31ad39347",
            "correlationId": "70d81343-71e6-5eaf-86d7-fb25e66a1b46",
            "idempotencyKey": "a38395d2-58bb-5a8f-b533-ea60145d927b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-459869"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this request with other related activities.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application initiating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., WEB, MOBILE, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema for details about the channel through which the request was made."
      },
      "CreateExternalAgencySyndicateManagementResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The identifier for the institution involved in the operation.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The identifier for the agreement associated with the operation.",
            "example": "AGR-402774"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country related to the operation.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource impacted by the operation.",
            "example": "RES-238197"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the external agency syndicate management POST operation, indicating the results of the request.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-402774",
          "countryCode": "US",
          "resourceId": "RES-238197",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "85cb08b4-3ada-5f62-8606-fd1c2b4c6dbd",
            "correlationId": "70d81343-71e6-5eaf-86d7-fb25e66a1b46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses across the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata that provides additional context regarding the operation response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-091"
        },
        "example": "WF-091"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bb6f7407-f926-40fd-bc6a-2f3ebf32ca8d"
        },
        "example": "bb6f7407-f926-40fd-bc6a-2f3ebf32ca8d"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dbe6df25-e658-4fae-aeb6-861627934146"
        },
        "example": "dbe6df25-e658-4fae-aeb6-861627934146"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicate-management-create-syndicate-management"
        },
        "example": "syndicate-management-create-syndicate-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, which can help identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with this operation, allowing for better tracking of processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-091"
        },
        "example": "WF-091"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Regulatory Reporting and Authority Submission"
        },
        "example": "Regulatory Reporting and Authority Submission"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dbe6df25-e658-4fae-aeb6-861627934146"
        },
        "example": "dbe6df25-e658-4fae-aeb6-861627934146"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme utilizes a token containing a JSON Web Token (JWT) for secure API access. Clients must include this token in the Authorization header when making requests to authenticate successfully.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}