{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Approved Supplier Directory API",
    "description": "The Approved Supplier Directory API allows users to access a curated list of approved suppliers for enterprise services. This resource is essential for businesses seeking reliable partners and vendors for their operational needs. Developers can utilize this API to retrieve supplier details, ensuring compliance with organizational policies and enhancing procurement efficiency. Typical consumers include purchasing departments, vendors, and integration systems that require supplier validation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory": {
      "get": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Retrieve the approved supplier directory.",
        "description": "This endpoint allows you to fetch a list of approved suppliers within the enterprise services. The response includes details such as supplier names, contact information, and approval status, facilitating quick access to vetted suppliers.",
        "operationId": "getApprovedSupplierDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the approved supplier directory through the enterprise services. This should contain the necessary parameters to filter and fetch the required data in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApprovedSupplierDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the approved supplier directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApprovedSupplierDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetApprovedSupplierDirectoryRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the approved supplier directory service. It is expected to contain the necessary input in string format.",
        "example": "{}"
      },
      "GetApprovedSupplierDirectoryResponse_200": {
        "title": "Approved Supplier Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of approved supplier entries.",
            "example": [
              {
                "requestId": "7c94f15f-09f5-55ee-8ec6-985e5c24a137",
                "supplierId": "STANDARD",
                "costCenter": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "requestedBy": "STANDARD",
                "purchaseOrderId": "ORD-404798",
                "categoryCode": "CODE-625",
                "approvalLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SupplierItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of supplier items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the approved supplier directory operation, containing a list of approved supplier items along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "requestId": "7c94f15f-09f5-55ee-8ec6-985e5c24a137",
              "supplierId": "STANDARD",
              "costCenter": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "requestedBy": "STANDARD",
              "purchaseOrderId": "ORD-404798",
              "categoryCode": "CODE-625",
              "approvalLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fcce9fbe-fbeb-594d-9058-fa247b74550d",
            "correlationId": "4ccd787c-d670-547f-bbf4-917f4cb4c0d1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SupplierItem": {
        "title": "Supplier Item",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "abc123"
          },
          "supplierId": {
            "type": "string",
            "description": "The unique identifier for the supplier.",
            "example": "supplier456"
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the supplier.",
            "example": "cost-center-789"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "The name of the person who requested the supplier.",
            "example": "John Doe"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The identifier for the associated purchase order.",
            "example": "po-001"
          },
          "categoryCode": {
            "type": "string",
            "description": "The code representing the category of the supplier's goods or services.",
            "example": "cat-101"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The level of approval for this supplier.",
            "example": "level-2"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the supplier record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "An individual entry representing an approved supplier."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "The monetary amount associated with the supplier entry."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paged response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available in the dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across services.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-search-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-search-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This mechanism is commonly used for stateless authentication where a valid token is sent in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}