{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Enrichment API",
    "description": "The Transaction Enrichment API allows businesses to enhance transaction data by associating additional contextual information. This endpoint is designed for clients looking to maximize the utility of transactional data through dynamic enrichment processes, facilitating improved data analysis and decision-making. Use cases include financial institutions seeking to provide a comprehensive view of customer spending or businesses aiming to generate insights into purchasing behavior. The API supports the submission of transaction data which can then be processed for enriched insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/data-enrichment/transactions": {
      "post": {
        "tags": [
          "Transaction Management"
        ],
        "summary": "Create a new transaction",
        "description": "This endpoint allows users to create a new transaction by providing the necessary details. It processes the request and returns the transaction details upon successful creation.",
        "operationId": "createTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new transaction. It requires details of the transaction such as amount, currency, and transaction type.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the transaction details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTransactionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTransactionRequest": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "An array of transaction objects to be processed.",
            "example": [
              {
                "externalCustomerId": "CUST-166933",
                "externalAccountId": "ACC-669678",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-452018",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100.0,
                "transactionFee": 100.0,
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service",
                  "line1": "350 Fifth Avenue",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for posting transactions. Contains an array of transaction objects and contextual information regarding the request.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-166933",
              "externalAccountId": "ACC-669678",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-452018",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100.0,
              "transactionFee": 100.0,
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service",
                "line1": "350 Fifth Avenue",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "requestContext": {
            "requestId": "9bd38ff1-fa08-5882-bfaa-d3e1464fdb56",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "idempotencyKey": "1ab9f562-3a0f-508d-ab3a-f8350b55a8e8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-758843"
            }
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "externalCustomerId": {
            "type": "string",
            "description": "Unique identifier for the external customer.",
            "example": "string"
          },
          "externalAccountId": {
            "type": "string",
            "description": "Unique identifier for the external account.",
            "example": "string"
          },
          "accountType": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings).",
            "example": "string"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "Unique identifier for the external transaction.",
            "example": "string"
          },
          "postedTimestamp": {
            "type": "string",
            "description": "Timestamp when the transaction was posted.",
            "example": "string"
          },
          "transactionTimestamp": {
            "type": "string",
            "description": "Timestamp when the transaction occurred.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the transaction.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "Optional memo for the transaction.",
            "example": "string"
          },
          "amount": {
            "type": "integer",
            "description": "Monetary amount involved in the transaction.",
            "format": "int32",
            "example": 0
          },
          "transactionFee": {
            "type": "integer",
            "description": "Fee associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "transactionCategory": {
            "type": "string",
            "description": "Category of the transaction.",
            "example": "string"
          },
          "transactionCategoryScore": {
            "type": "integer",
            "description": "Score indicating the category of the transaction.",
            "format": "int32",
            "example": 0
          },
          "transactionCategoryGroup": {
            "type": "string",
            "description": "Group for categorizing transactions.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the transaction (e.g., credit, debit).",
            "example": "string"
          },
          "directionIndicator": {
            "type": "string",
            "description": "Direction of the transaction (e.g., incoming, outgoing).",
            "example": "string"
          },
          "entities": {
            "type": "array",
            "description": "List of entities associated with the transaction.",
            "items": {
              "$ref": "#/components/schemas/Entity"
            }
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "cardAcceptorId": {
            "type": "string",
            "description": "Identifier for the card acceptor.",
            "example": "string"
          },
          "inputIsRecurringTransaction": {
            "type": "boolean",
            "description": "Indicates if the transaction is recurring.",
            "example": false
          },
          "inputMerchantInformation": {
            "$ref": "#/components/schemas/MerchantInformation"
          }
        },
        "description": "Represents a financial transaction."
      },
      "MerchantInformation": {
        "type": "object",
        "properties": {
          "merchantDescriptor": {
            "type": "string",
            "description": "Descriptor for the merchant.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the merchant.",
            "example": "string"
          }
        },
        "description": "Information related to the merchant involved in the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the transaction.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the communication channel used for the request."
      },
      "CreateTransactionResponse_200": {
        "type": "object",
        "properties": {
          "transactions": {
            "type": "array",
            "description": "List of transaction objects.",
            "example": [
              {
                "externalCustomerId": "CUST-434103",
                "externalAccountId": "ACC-314144",
                "accountType": "CHECKING",
                "externalTransactionId": "TXN-346225",
                "postedTimestamp": "2026-09-15T14:30:00Z",
                "transactionTimestamp": "2026-09-15T14:30:00Z",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "amount": 100,
                "transactionFee": 100,
                "transactionCategory": "STANDARD",
                "transactionCategoryScore": 100,
                "transactionCategoryGroup": "STANDARD",
                "type": "STANDARD",
                "directionIndicator": "STANDARD",
                "entities": [
                  {
                    "id": "STANDARD",
                    "name": "Northstar Banking Service",
                    "group": "STANDARD",
                    "category": "STANDARD",
                    "website": "STANDARD",
                    "logoUrl": "https://banking.northstar.example/callbacks/status",
                    "entityStandardizationConfidenceScore": 100
                  }
                ],
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD",
                  "latitude": 100,
                  "longitude": 100,
                  "phoneNumber": "+1-212-555-0147"
                },
                "cardAcceptorId": "STANDARD",
                "inputIsRecurringTransaction": true,
                "inputMerchantInformation": {
                  "merchantDescriptor": "STANDARD",
                  "name": "Northstar Banking Service"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the transactions operation POST request.",
        "example": {
          "transactions": [
            {
              "externalCustomerId": "CUST-434103",
              "externalAccountId": "ACC-314144",
              "accountType": "CHECKING",
              "externalTransactionId": "TXN-346225",
              "postedTimestamp": "2026-09-15T14:30:00Z",
              "transactionTimestamp": "2026-09-15T14:30:00Z",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "amount": 100,
              "transactionFee": 100,
              "transactionCategory": "STANDARD",
              "transactionCategoryScore": 100,
              "transactionCategoryGroup": "STANDARD",
              "type": "STANDARD",
              "directionIndicator": "STANDARD",
              "entities": [
                {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "group": "STANDARD",
                  "category": "STANDARD",
                  "website": "STANDARD",
                  "logoUrl": "https://banking.northstar.example/callbacks/status",
                  "entityStandardizationConfidenceScore": 100
                }
              ],
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "country": "STANDARD",
                "latitude": 100,
                "longitude": 100,
                "phoneNumber": "+1-212-555-0147"
              },
              "cardAcceptorId": "STANDARD",
              "inputIsRecurringTransaction": true,
              "inputMerchantInformation": {
                "merchantDescriptor": "STANDARD",
                "name": "Northstar Banking Service"
              }
            }
          ],
          "metadata": {
            "responseId": "e4c0a7be-1e91-5f0b-b61e-9435e42e4bcf",
            "correlationId": "4a2baaf6-38bf-5f59-a7a4-23c013c1d05c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Entity": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the entity.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the entity.",
            "example": "string"
          },
          "group": {
            "type": "string",
            "description": "Group classification of the entity.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "Category of the entity.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the entity.",
            "example": "string"
          },
          "logoUrl": {
            "type": "string",
            "description": "URL to the entity's logo.",
            "example": "string"
          },
          "entityStandardizationConfidenceScore": {
            "type": "integer",
            "description": "Confidence score of entity standardization.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Represents an entity involved in a transaction."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address, if any.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the address.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "string"
          },
          "latitude": {
            "type": "integer",
            "description": "Latitude coordinate of the address.",
            "format": "int32",
            "example": 0
          },
          "longitude": {
            "type": "integer",
            "description": "Longitude coordinate of the address.",
            "format": "int32",
            "example": 0
          },
          "phoneNumber": {
            "type": "string",
            "description": "Phone number associated with the address.",
            "example": "string"
          }
        },
        "description": "Represents an address associated with a transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for traceability.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the transaction response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-enrich-transactions"
        },
        "example": "open-finance-api-enrich-transactions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism. Clients must provide a JSON Web Token (JWT) in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}