{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_IT Systems Direction API",
    "description": "The IT Systems Direction API provides stakeholders with vital insights into the strategic direction of IT systems within the organization. This API allows users to retrieve key data about ongoing IT projects, technology adoption trends, and alignment with business goals. Typical consumers include project managers, IT strategists, and business analysts who need to monitor or align IT initiatives with organizational strategy. By leveraging this API, users can make informed decisions regarding resource allocation and IT investment priorities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT systems direction.",
        "description": "Fetches the current direction and strategies for IT systems management, providing insights into planning and development priorities.",
        "operationId": "getItSystemsDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for retrieving IT systems direction information. It should include all necessary details as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItSystemsDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved IT systems direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItSystemsDirectionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItSystemsDirectionRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in IT management systems direction.",
        "example": "{}"
      },
      "GetItSystemsDirectionResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of IT system management policies.",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Policy"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving IT system management policies.",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5891ae38-5563-59ee-a8f4-600334978e42",
            "correlationId": "cfc72a3c-10b9-5079-be87-a53e516f16c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Policy": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Unique identifier for the policy.",
            "example": "POLICY123"
          },
          "title": {
            "type": "string",
            "description": "Title of the policy.",
            "example": "Data Retention Policy"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the policy.",
            "example": "IT Security Team"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the policy comes into effect.",
            "example": "2023-01-01"
          },
          "reviewDate": {
            "type": "string",
            "description": "Date when the policy is due for review.",
            "example": "2023-12-31"
          },
          "applicability": {
            "type": "array",
            "description": "List of contexts or conditions under which the policy applies.",
            "items": {
              "type": "string",
              "example": "Company-wide"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the policy.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the policy was last updated.",
            "example": "2023-06-15T12:00:00Z"
          }
        },
        "description": "Represents an individual IT system management policy."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "CORR67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-search-it-systems-direction"
        },
        "example": "it-systems-direction-search-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens formatted as JSON Web Tokens (JWT). This method is used to authenticate requests by including a Bearer token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}