{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Retrieval API",
    "description": "The Advanced Voice Services Retrieval API provides access to specific voice management functionalities within the banking sector. This endpoint allows users to retrieve detailed information regarding advanced voice services based on predefined parameters. It is primarily used by developers and system integrators looking to enhance customer engagement through voice-based solutions. Typical use cases include accessing service configurations, monitoring usage statistics, and optimizing performance for voice interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management/{param1}": {
      "get": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Retrieve advanced voice service details by ID",
        "description": "This endpoint allows developers to fetch detailed information about a specific advanced voice service identified by a unique resource ID. It provides comprehensive data essential for managing and utilizing advanced voice features effectively.",
        "operationId": "getAdvancedVoiceServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains parameters for retrieving advanced voice services management information specific to the resource identified by RES-100045. Please ensure all required fields are included.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvancedVoiceServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvancedVoiceServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAdvancedVoiceServiceByIdRequest": {
        "title": "Advanced Voice Services Management Request Body",
        "type": "string",
        "description": "Schema representing the request body for the Advanced Voice Services Management API when querying specific operations via GET.",
        "example": "{}"
      },
      "GetAdvancedVoiceServiceByIdResponse_200": {
        "title": "Advanced Voice Services Management Response",
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform.",
            "example": "STANDARD"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Identifier for the Interactive Voice Response (IVR) flow.",
            "example": "STANDARD"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A supported language code.",
              "example": "string"
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "Maximum number of concurrent calls that the platform can handle.",
            "format": "int32",
            "example": 1
          },
          "regionCode": {
            "type": "string",
            "description": "Code of the region where the voice platform is hosted.",
            "example": "US-EAST-1"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of call recording, indicating whether recording is enabled or disabled.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the voice platform configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the voice platform configuration was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response that includes additional tracking information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for advanced voice services management operations in a specific channel.",
        "example": {
          "voicePlatformId": "STANDARD",
          "ivrFlowId": "STANDARD",
          "supportedLanguages": [
            "STANDARD"
          ],
          "concurrentCallCapacity": 1,
          "regionCode": "US-EAST-1",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "12d6bb25-6c6d-5bfd-8f73-63c6060c3b20",
            "correlationId": "e0853cc4-7621-53d1-a039-fd359f33a228",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east"
          }
        },
        "description": "Additional metadata for responses related to the voice platform operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-get-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-get-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, typically in the form of a JSON Web Token (JWT). This method involves sending the token in the Authorization header of the request, allowing for secure access control and user identity verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}