{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Letter of Credit Retrieval API",
    "description": "The Letter of Credit Retrieval API allows users to access and view detailed information about issued letters of credit within the banking and trade finance domain. This endpoint is essential for clients, compliance officers, and trade finance specialists who need to monitor and manage credit transactions effectively. By retrieving specific records, users can ensure transparency and facilitate smoother trade operations. Typical use cases include audits, transaction verification, and client inquiries regarding the status and details of their letters of credit.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/letter-of-credit": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve Letter of Credit details.",
        "description": "This endpoint allows users to retrieve specific details about Letters of Credit within the Trade Banking system. It provides the necessary information for better financial decision-making and supports trade transactions.",
        "operationId": "getLetterOfCredit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about a letter of credit in the trade banking context. This payload must adhere to the specified schema, which defines the required parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLetterOfCreditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved letter of credit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLetterOfCreditResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLetterOfCreditRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to letter of credit retrieval in the trade banking service.",
        "example": "{}"
      },
      "GetLetterOfCreditResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of letter of credit operations associated with corporate customers.",
            "example": [
              {
                "corporateCustomerId": "CUST-249885",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-658316",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "applicantId": "STANDARD",
                "beneficiaryId": "STANDARD",
                "expiryDate": "2026-09-15",
                "incoterm": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LetterOfCreditOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The field by which the results are sorted.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching letter of credit operations in the trade banking system.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-249885",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-658316",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "applicantId": "STANDARD",
              "beneficiaryId": "STANDARD",
              "expiryDate": "2026-09-15",
              "incoterm": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "542fd725-f351-5540-b8fe-7973a66dc131",
            "correlationId": "58d664cb-d71e-5bf6-833c-bd103c0d7779",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LetterOfCreditOperation": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The ID of the corporate customer associated with the operation."
          },
          "facilityId": {
            "type": "string",
            "description": "The ID of the facility related to the letter of credit."
          },
          "counterpartyId": {
            "type": "string",
            "description": "The ID of the counterparty involved in the letter of credit."
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The amount of the letter of credit.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency in which the amount is denoted."
              }
            },
            "description": "The monetary value and currency of the letter of credit."
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the letter of credit matures."
          },
          "applicantId": {
            "type": "string",
            "description": "The ID of the applicant for the letter of credit."
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The ID of the beneficiary of the letter of credit."
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the letter of credit."
          },
          "incoterm": {
            "type": "string",
            "description": "The international commercial term related to the transaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the letter of credit record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Represents an individual letter of credit operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region that processed the request."
          }
        },
        "description": "Contains metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID helps in tracking the specific endpoint handling the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "letter-of-credit-search-letter-of-credit"
        },
        "example": "letter-of-credit-search-letter-of-credit"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation. This helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme implements the Bearer Authentication mechanism, using JSON Web Tokens (JWT) for authentication. It ensures that clients present a valid token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}