{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Management API",
    "description": "The Underwriting Management API facilitates seamless integration of underwriting processes within banking sales operations. This endpoint enables the initiation of underwriting requests, enabling financial institutions to evaluate and manage risk assessments effectively. By streamlining data collection and analysis, the API supports underwriters in making informed decisions. Typical consumers include banking institutions and financial service providers looking to enhance their underwriting workflows. Leverage this API to expedite underwriting submissions and enhance customer response times.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Initiate the underwriting process for a sale.",
        "description": "This endpoint allows you to start the underwriting process for a specific sale. It collects necessary details to evaluate the risk and financial aspects involved in the sale transaction. Use this API call to ensure all underwriting data is received and processed efficiently.",
        "operationId": "createSalesUnderwriting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating the underwriting process in the sales module. This should include necessary details related to the sales underwriting operation, structured according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesUnderwritingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for underwriting.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesUnderwritingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesUnderwritingRequest": {
        "title": "Underwriting Request Body Schema",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code of the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is conducted.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected financial value related to the underwriting request.",
            "$ref": "#/components/schemas/FinancialValue"
          },
          "applicationId": {
            "type": "string",
            "description": "Unique identifier for the application.",
            "example": "APP-159378"
          },
          "requestedLimit": {
            "description": "The financial limit that is being requested.",
            "$ref": "#/components/schemas/FinancialValue"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "Ratio indicating the coverage of debt service.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for underwriting operations in the sales process.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "applicationId": "APP-159378",
          "requestedLimit": {
            "amount": 100.0,
            "currency": "USD"
          },
          "debtServiceCoverageRatio": 100.0,
          "requestContext": {
            "requestId": "3498ce63-5460-5012-8b45-d134aa678a3c",
            "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
            "idempotencyKey": "87406151-2ad6-5f7a-bf73-d1aac6f1fe42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-511365"
            }
          }
        }
      },
      "FinancialValue": {
        "title": "Financial Value Schema",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing a financial value with amount and currency."
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the sales channel."
      },
      "CreateSalesUnderwritingResponse_201": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "A unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "The code identifying the product associated with the application.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "applicationId": {
            "type": "string",
            "description": "A unique identifier for the application submitted.",
            "example": "APP-826119"
          },
          "resourceId": {
            "type": "string",
            "description": "An identifier for the resource associated with the application.",
            "example": "RES-783473"
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response generated.",
                "example": "RESP-001"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate requests and responses.",
                "example": "CORR-001"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T12:01:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the application processing took place.",
                "example": "US-West"
              }
            },
            "description": "Metadata about the application response.",
            "example": {
              "responseId": "7db7f50f-b225-53e0-b105-cb9370d17b5a",
              "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the underwriting operation POST request.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "applicationId": "APP-826119",
          "resourceId": "RES-783473",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7db7f50f-b225-53e0-b105-cb9370d17b5a",
            "correlationId": "622ecca5-1d8c-592f-818d-747cf94d5a94",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-create-underwriting"
        },
        "example": "underwriting-create-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for authorization. Clients must include a valid JWT in the Authorization header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}