{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Acceptance API",
    "description": "The Dispute Acceptance API allows organizations to confirm the acceptance of disputes, ensuring resolution processes can proceed smoothly. By sending a request with the specific dispute ID, users can formally acknowledge a dispute within the system. This API is typically utilized by customer service representatives and operations teams who manage dispute records. It plays a crucial role in streamlining dispute handling and enhancing customer relations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}/accept": {
      "post": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Accept a specific dispute.",
        "description": "This endpoint allows the user to formally accept a dispute identified by its unique ID. Upon acceptance, the dispute will be updated in the system, reflecting the user's decision.",
        "operationId": "acceptDisputeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Accepts the dispute identified by RES-100045. This operation confirms that the disputing party agrees to the terms and conditions associated with the dispute resolution process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptDisputeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully. The dispute has been accepted.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptDisputeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "AcceptDisputeByIdRequest": {
        "title": "Dispute Accept Request Body",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for accepting the dispute.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for accepting a dispute operation.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "b21ae907-de21-5c7e-b7fc-0090ccf76273",
            "correlationId": "728ae7b6-0bc0-54fc-9510-3508920c8cd9",
            "idempotencyKey": "f4eb4993-8a95-507b-bd33-4de3791573fa",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-840328"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "idempotency-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Order Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was sent.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used.",
            "example": "device-12345"
          }
        },
        "description": "Details about the communication channel used."
      },
      "AcceptDisputeByIdResponse_200": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "Unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "PAY-280249"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the dispute.",
            "example": "MER-335950"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount disputed, including currency.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Customer's statement regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "Deadline for the response to the dispute.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence documents related to the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Evidence"
            }
          },
          "financialImpact": {
            "description": "Details about the financial impact of the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details regarding the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Audit information about the dispute.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for accepting a dispute operation.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-280249",
          "merchantId": "MER-335950",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1b24e10b-f89a-5941-8b66-ea1bf5785a98",
            "correlationId": "728ae7b6-0bc0-54fc-9510-3508920c8cd9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the disputed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The disputed amount value.",
            "example": "100.00"
          }
        },
        "description": "The amount that is disputed, including currency."
      },
      "Evidence": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the evidence document.",
            "example": "evidence-123"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the evidence file.",
            "example": "invoice.pdf"
          },
          "contentType": {
            "type": "string",
            "description": "MIME type of the evidence file.",
            "example": "application/pdf"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "Size of the evidence file in bytes.",
            "format": "int32",
            "example": 2048
          },
          "fileUrl": {
            "type": "string",
            "description": "URL to access the evidence file.",
            "example": "https://example.com/evidence/invoice.pdf"
          },
          "sha256": {
            "type": "string",
            "description": "SHA-256 hash of the evidence file.",
            "example": "abc123def456..."
          },
          "uploadedAt": {
            "type": "string",
            "description": "Timestamp when the evidence was uploaded.",
            "example": "2023-10-10T12:34:56Z"
          }
        },
        "description": "Details of the evidence submitted for the dispute."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount debited from the merchant due to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "example": "string",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "reserveHeld": {
            "description": "Amount held in reserve due to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "Financial impact details related to the dispute."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of fee.",
            "example": "Dispute Fee"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "The entity responsible for the fee.",
            "example": "Merchant"
          }
        },
        "description": "Details about a fee associated with the dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the dispute resolution.",
            "example": "Resolved"
          },
          "resolvedAmount": {
            "description": "Amount resolved in the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the outcome of the resolution.",
            "example": "Accepted payment."
          },
          "resolvedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was resolved.",
            "example": "2023-10-12T12:00:00Z"
          }
        },
        "description": "Details regarding the resolution of the dispute."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the dispute was created.",
            "example": "2023-10-10T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the dispute.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the dispute was last updated.",
            "example": "2023-10-11T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the dispute.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the dispute record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details for tracking dispute updates."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-12T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-EAST"
          }
        },
        "description": "Metadata accompanying the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that is being utilized for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-accept-dispute"
        },
        "example": "banking-p2m-openapi-accept-dispute"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is executing the runtime operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where JSON Web Tokens (JWT) are provided in the Authorization header during API requests. Ensure that valid tokens are used to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}