{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Order Retrieval API",
    "description": "The Payment Order Retrieval API enables users to access the status of payment orders within the banking system. This operation allows developers to retrieve details about specific payment orders, including their current status and associated metadata. It is primarily intended for use by financial institutions and developers building applications that require up-to-date payment information for user transactions. Typical use cases include integrating payment order tracking into dashboard applications or providing real-time payment updates to customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-order": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a specific payment order",
        "description": "This endpoint allows you to fetch the details of a particular payment order using its unique identifier. It is essential for tracking and managing payment processes.",
        "operationId": "getPaymentOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching payment order details. This payload contains the necessary information to retrieve specific payment order data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentOrderRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation of the payment order API.",
        "example": "{}"
      },
      "GetPaymentOrderResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payment order items.",
            "example": [
              {
                "paymentId": "PAY-546441",
                "debtorAccountId": "ACC-349808",
                "creditorAccountId": "ACC-704658",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "paymentRail": "STANDARD",
                "chargeBearer": "STANDARD",
                "purposeCode": "CODE-340",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the payment orders.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the payment order GET operation which includes items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-546441",
              "debtorAccountId": "ACC-349808",
              "creditorAccountId": "ACC-704658",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "paymentRail": "STANDARD",
              "chargeBearer": "STANDARD",
              "purposeCode": "CODE-340",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e8c3a827-2ec0-5f83-9379-869a4a911ac5",
            "correlationId": "75f8e337-89a0-56c0-8692-80a238c3f6ca",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentOrderItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "example_payment_id"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "example_debtor_account_id"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "example_creditor_account_id"
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The monetary amount.",
                "example": 100.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the instructed amount.",
                "example": "USD"
              }
            },
            "description": "The amount of money to be transferred."
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date the payment is requested to be executed.",
            "example": "2023-01-01"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information regarding the remittance.",
            "example": "Payment for invoice #1234"
          },
          "paymentRail": {
            "type": "string",
            "description": "The payment rail used (e.g., SWIFT, SEPA).",
            "example": "SWIFT"
          },
          "chargeBearer": {
            "type": "string",
            "description": "The entity that bears the charges for the payment.",
            "example": "SHA"
          },
          "purposeCode": {
            "type": "string",
            "description": "The purpose of the payment.",
            "example": "PAYMENT"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "COMPLETED"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the payment was last updated.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing a single payment order item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "example_response_id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "example_correlation_id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Schema representing metadata of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-order-search-payment-order"
        },
        "example": "payment-order-search-payment-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method where a token (in JWT format) must be included in the request header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}