{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Surveys Management API",
    "description": "The Customer Surveys Management API provides businesses with the functionality to access and analyze customer feedback collected through survey initiatives. This API allows authorized users to retrieve survey data, including responses and trends, enabling organizations to enhance their marketing strategies and improve customer satisfaction. Typical consumers of this API include marketing teams and data analysts seeking insights from survey results to inform decision-making. By leveraging this API, users can effectively gauge customer sentiment and adjust their service offerings accordingly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-surveys": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve customer surveys.",
        "description": "This endpoint allows users to fetch all customer surveys available in the marketing department, providing insights into customer feedback and preferences.",
        "operationId": "getCustomerSurveys",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer survey data. Ensure that the request contains the appropriate parameters in JSON format to specify the surveys you are interested in.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerSurveysRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer surveys data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerSurveysResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerSurveysRequest": {
        "type": "string",
        "description": "Represents the JSON request body for retrieving customer surveys in the Marketing operations.",
        "example": "{}"
      },
      "GetCustomerSurveysResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer survey campaign responses.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "surveyTemplateId": "STANDARD",
                "deliveryChannel": "STANDARD",
                "responseWindowDays": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SurveyCampaignResponse"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the survey responses.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the successful response structure for customer survey data.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "surveyTemplateId": "STANDARD",
              "deliveryChannel": "STANDARD",
              "responseWindowDays": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fa081548-517f-5c35-84bb-bc1276ddf77c",
            "correlationId": "1c1ac29a-68cd-50b2-87ba-9eda8708d72b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SurveyCampaignResponse": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign."
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign."
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "items": {
              "type": "string",
              "description": "A channel used in the campaign."
            }
          },
          "budget": {
            "$ref": "#/components/schemas/BudgetDetails"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format."
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format."
          },
          "surveyTemplateId": {
            "type": "string",
            "description": "Identifier for the survey template used."
          },
          "deliveryChannel": {
            "type": "string",
            "description": "Delivery channel used for the survey."
          },
          "responseWindowDays": {
            "type": "integer",
            "description": "Number of days the responses are collected.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          }
        },
        "description": "Schema representing the details of a customer survey campaign response."
      },
      "BudgetDetails": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total budget amount allocated for the campaign."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount."
          }
        },
        "description": "Schema representing the budget details for a survey campaign."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the survey response list."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema representing metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-surveys-search-customer-surveys"
        },
        "example": "customer-surveys-search-customer-surveys"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method wherein the client must provide a JSON Web Token (JWT) in the Authorization header for API requests. The token serves to verify the identity of the user and grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}