{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Development Insights API",
    "description": "The Business Development Insights API provides access to critical marketing data relevant to business growth strategies. This endpoint allows users to retrieve detailed insights based on specific parameters, aiding businesses in refining their marketing efforts. Typical consumers include marketing teams and business analysts seeking to enhance their market strategies via data-driven decisions. Utilize this API to better understand consumer behavior and optimize marketing campaigns for increased effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/business-development/{param1}": {
      "get": {
        "tags": [
          "Business Development"
        ],
        "summary": "Retrieve Business Development Resource",
        "description": "This endpoint allows you to fetch details about a specific business development resource identified by the ID RES-100045.",
        "operationId": "getBusinessDevelopmentResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the GET method in the Business Development operations, specifically for the RES-100045 endpoint. This body must conform to the defined JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessDevelopmentResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessDevelopmentResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessDevelopmentResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body used for the GET operation in the specified marketing business development context. It is expected to be a plain string value.",
        "example": "{}"
      },
      "GetBusinessDevelopmentResource100045Response_200": {
        "title": "Marketing Campaign Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Individual channel included in the channel mix.",
              "example": "Email"
            }
          },
          "budget": {
            "description": "The budget allocated for the marketing campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the marketing campaign.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the marketing campaign.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the campaign record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the campaign record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a marketing campaign request, including details such as campaign identification, target segments, budget allocations, and metadata.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f35cea0-6b7e-503c-bcc3-8b84a7b9395f",
            "correlationId": "4c2762ad-d61e-553b-89d5-0800772938e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget Information",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount budgeted for the marketing campaign.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing budget information for the marketing campaign."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the campaign took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This helps in tracing requests and understanding which endpoint the response corresponds to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-development-get-business-development"
        },
        "example": "business-development-get-business-development"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. Useful for identifying the source of the response in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) as the method for transmitting authorization tokens. The bearer token must be included in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}