{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intents Management API",
    "description": "The Payment Intents Management API enables businesses to update existing payment intents, facilitating dynamic payment processing. This API is designed for payment service providers and e-commerce platforms that need to modify payment details, such as amounts or customer information, on the fly. Typical use cases include adjusting transactions due to user requests or error corrections. With this endpoint, developers can ensure that payment processes remain agile and responsive to changing business requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}": {
      "patch": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Update Payment Intent",
        "description": "This operation allows you to patch the details of a specific payment intent identified by its unique identifier PAY-300045. Use this endpoint to modify attributes such as payment status, amount, or other metadata associated with the payment intent.",
        "operationId": "updatePaymentIntentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payment intent with ID PAY-300045. It allows for modifications such as changing the amount, currency, or associated metadata. Ensure all required fields are included for a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentIntentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated payment intent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentIntentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentIntentPay300045Request": {
        "title": "Payment Intent PATCH Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be charged, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "customer": {
            "description": "Information about the customer associated with the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details about the order being paid.",
            "$ref": "#/components/schemas/Order"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a payment intent.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-988752",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "category": "STANDARD"
              }
            ]
          },
          "requestContext": {
            "requestId": "c6a8a9f3-af11-505f-b726-c87d682e86fc",
            "correlationId": "9d7b6518-da9e-540a-a816-572903e57292",
            "idempotencyKey": "304d4758-01c3-57ce-9ab1-222ffbca27ac",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-823113"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents a monetary amount in a specific currency."
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust_001"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1234567890"
          },
          "riskSegment": {
            "type": "string",
            "description": "The risk segment classification of the customer.",
            "example": "low_risk"
          }
        },
        "description": "Details of the customer associated with the payment."
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "order_001"
          },
          "description": {
            "type": "string",
            "description": "A description of the order.",
            "example": "Purchase of electronics"
          },
          "items": {
            "type": "array",
            "description": "The list of items included in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "The unique identifier for the item.",
                  "example": "item_001"
                },
                "name": {
                  "type": "string",
                  "description": "The name of the item.",
                  "example": "Laptop"
                },
                "description": {
                  "type": "string",
                  "description": "A description of the item.",
                  "example": "15-inch laptop with 16GB RAM"
                },
                "quantity": {
                  "type": "string",
                  "description": "The quantity of the item ordered.",
                  "example": "1"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              }
            }
          }
        },
        "description": "Details of the order associated with the payment transaction."
      },
      "OrderItem": {
        "title": "Order Item",
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "The unique identifier for the item.",
            "example": "item_98765"
          },
          "name": {
            "type": "string",
            "description": "The name of the item.",
            "example": "Laptop"
          },
          "description": {
            "type": "string",
            "description": "A description of the item.",
            "example": "High performance laptop"
          },
          "quantity": {
            "type": "string",
            "description": "The quantity of the item ordered.",
            "example": "1"
          },
          "unitPrice": {
            "description": "The price for a single unit of the item.",
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "description": "The total amount for this line item.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "description": "The amount of tax applicable to this item.",
            "$ref": "#/components/schemas/Amount"
          },
          "category": {
            "type": "string",
            "description": "The category of the item.",
            "example": "Electronics"
          }
        },
        "description": "An item included in the order with its details."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "corr_123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "key_123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "payment_gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "shopping_app"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, in-store, mobile).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the transaction.",
            "example": "device_123456"
          }
        },
        "description": "Details about the channel through which the payment was requested."
      },
      "UpdatePaymentIntentPay300045Response_200": {
        "title": "Payment Intent Response",
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "The unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant initiating the payment.",
            "example": "MER-566577"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier for the outlet where the transaction takes place.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal processing the payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "The amount that has been authorized for this transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "The amount that has been captured from the authorized amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "The amount that has been refunded from the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used to capture the payment.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The sales channel used for the transaction.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "The list of payment methods allowed for this transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "The payment method selected by the customer for this transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "The customer details associated with this transaction.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "The order details associated with this payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object containing details about the payment intent after a PATCH operation.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-566577",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-303",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-534139",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "f8e1084e-e761-5323-b65d-990c6596a7b3",
            "correlationId": "9d7b6518-da9e-540a-a816-572903e57292",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method (e.g., credit_card, debit_card).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "The token representing the payment method.",
            "example": "tok_123456789"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "The bank code of the issuer bank.",
            "example": "bank_001"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "The masked identifier for the payment method.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "The wallet provider associated with the payment method, if applicable.",
            "example": "Visa"
          }
        },
        "description": "Details of the payment method selected by the customer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Additional response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-payment-intent"
        },
        "example": "banking-p2m-openapi-update-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which is designed to secure API requests by requiring a JSON Web Token (JWT) to be included in the Authorization header. The JWT must be valid and correspond to an authenticated user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}