{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Verification with Interview API",
    "description": "The Customer Verification with Interview API facilitates the verification process for customers through an interview-based approach. This API enables businesses to initiate the interview process for specific customers identified by their customer ID. Typical consumers of this API include customer support teams and financial institutions needing to conduct thorough identity checks. By leveraging this API, organizations can enhance their KYC (Know Your Customer) practices and improve compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voietxverify/withinterview": {
      "post": {
        "tags": [
          "Customer Verification"
        ],
        "summary": "Initiates a voice verification interview for the specified customer.",
        "description": "This endpoint allows you to start a voice verification interview for a specific customer identified by their unique ID. The process ensures enhanced verification through an interview process, improving the accuracy and security of customer identity verification.",
        "operationId": "postVoietxVerifyWithInterviewForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the Voietx verification process with an interview for a specific customer identified by CUST-100045. It contains all the required information to perform the verification.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostVoietxVerifyWithInterviewForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing; the processing will continue asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostVoietxVerifyWithInterviewForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostVoietxVerifyWithInterviewForCustomerRequest": {
        "title": "Voie With Interview Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing the account IDs.",
            "example": "ACC-902702"
          },
          "voieWithInterviewData": {
            "description": "Data related to the Voie with interview process.",
            "$ref": "#/components/schemas/VoieWithInterviewData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields included in the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The start date represented as an integer timestamp.",
            "format": "int32",
            "example": 1
          },
          "incomeStreamConfidenceMinimum": {
            "type": "integer",
            "description": "The minimum confidence threshold for income streams.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "The context for the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for the Voie With Interview operation. It includes account IDs and various data related to interviews and earnings.",
        "example": {
          "accountIds": "ACC-902702",
          "voieWithInterviewData": {
            "txVerifyInterview": [
              {
                "assetId": "STANDARD",
                "accounts": [
                  "STANDARD"
                ]
              }
            ],
            "extractEarnings": true,
            "extractDeductions": true,
            "extractDirectDeposit": true
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "incomeStreamConfidenceMinimum": 1,
          "requestContext": {
            "requestId": "7d22eddb-9ce9-545e-8cbf-afdf22b2f9ff",
            "correlationId": "e7ccfbe7-1edd-5263-bb99-3b60866a23eb",
            "idempotencyKey": "82e33b2f-486d-56e0-973b-236a31f622f8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-266435"
            }
          }
        }
      },
      "VoieWithInterviewData": {
        "title": "VOIE with Interview Data",
        "type": "object",
        "properties": {
          "txVerifyInterview": {
            "type": "array",
            "description": "List of transaction verification interviews.",
            "items": {
              "type": "object",
              "properties": {
                "assetId": {
                  "type": "string",
                  "description": "Unique identifier for the asset being verified.",
                  "example": "asset123"
                },
                "accounts": {
                  "type": "array",
                  "description": "List of account identifiers associated with this transaction.",
                  "items": {
                    "type": "string",
                    "description": "An identifier for an account.",
                    "example": "account456"
                  }
                }
              }
            }
          },
          "extractEarnings": {
            "type": "boolean",
            "description": "Indicates whether to extract earnings data.",
            "example": false
          }
        },
        "description": "Schema representation of VOIE verification data including interviews."
      },
      "TransactionVerifyInterview": {
        "title": "Transaction Verify Interview",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset related to the interview.",
            "example": "asset123"
          },
          "accounts": {
            "type": "array",
            "description": "List of account identifiers associated with the transaction.",
            "example": [
              "account1",
              "account2"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Schema for an individual transaction verification interview."
      },
      "CustomField": {
        "title": "Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether this field should be shown in the report.",
            "example": true
          }
        },
        "description": "Schema for a custom field in the report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests between different systems.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for ensuring idempotent requests.",
            "example": "idempotency-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Indicates the source system of the request.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Indicates the source application making the request.",
            "example": "Application B"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request including identifiers and source details."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "PostVoietxVerifyWithInterviewForCustomerResponse_202": {
        "title": "Customer Verification Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the verification request.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the verification request.",
            "example": "4e4c084f-ac29-5509-9bf0-847ddc7c258e"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user involved in the verification.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date the verification was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title or description of the verification request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer making the request.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes raised in the verification process.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of verification request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the verification.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the verification request.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representation of a response for customer verification with interview data.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "4e4c084f-ac29-5509-9bf0-847ddc7c258e",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-306963"
            ],
            "voieWithInterviewData": {
              "txVerifyInterview": [
                {
                  "assetId": "STANDARD",
                  "accounts": [
                    "STANDARD"
                  ]
                }
              ],
              "extractEarnings": true
            }
          },
          "metadata": {
            "responseId": "a99de97b-780f-5f4b-a00c-34924337858d",
            "correlationId": "e7ccfbe7-1edd-5263-bb99-3b60866a23eb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Details",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code of the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(123) 456-7890"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "john.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representation of the details of the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Jane"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP or postal code of the consumer's address.",
            "example": "67890"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(987) 654-3210"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "jane.doe@example.com"
          }
        },
        "description": "Schema representation of the details of the consumer."
      },
      "Constraints": {
        "title": "Verification Constraints",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers associated with the verification.",
            "items": {
              "type": "string",
              "description": "An identifier for an account.",
              "example": "account123"
            }
          },
          "voieWithInterviewData": {
            "description": "Data related to the VOIE verification with interview.",
            "$ref": "#/components/schemas/VoieWithInterviewData"
          }
        },
        "description": "Schema representation of constraints associated with the verification request."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representation of additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed or processed. This can help in tracking which endpoint the request pertains to.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voie-paystub-with-tx-verify-report"
        },
        "example": "open-finance-api-generate-voie-paystub-with-tx-verify-report"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This can be useful for diagnostics and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer token for authentication, which is expected to be provided in the Authorization header of requests. The token must be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}