{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Outlet Details Retrieval API",
    "description": "The Outlet Details Retrieval API allows users to fetch specific information about individual outlets in the system. By providing a unique outlet identifier, consumers can access detailed data such as location, status, and operational hours. This API is particularly useful for businesses managing multiple outlet locations or applications that require outlet-specific information for reporting and analytics. Developers integrating this API can enhance their applications with real-time access to outlet data, benefiting retail management and customer service operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/outlets/{outletId}": {
      "get": {
        "tags": [
          "Outlet Management"
        ],
        "summary": "Retrieve outlet details by ID.",
        "description": "Fetches detailed information about a specific outlet identified by its unique ID, allowing users to view and manage outlet information effectively.",
        "operationId": "getOutletById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for retrieving the outlet details for the outlet with ID RES-100045. The content type of the request is application/json, and it includes the necessary schema to format the request appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOutletByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved outlet details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOutletByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOutletByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on outlets. It is expected to be a string containing the necessary data for the operation.",
        "example": "{}"
      },
      "GetOutletByIdResponse_200": {
        "type": "object",
        "properties": {
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the outlet.",
            "example": "MER-988306"
          },
          "name": {
            "type": "string",
            "description": "Name of the outlet.",
            "example": "Northstar Banking Service"
          },
          "outletType": {
            "type": "string",
            "description": "Type of the outlet (e.g., retail, caf\u00e9).",
            "example": "STANDARD"
          },
          "address": {
            "description": "Address details of the outlet.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the outlet.",
            "$ref": "#/components/schemas/Contact"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone of the outlet.",
            "example": "America/New_York"
          },
          "currency": {
            "type": "string",
            "description": "Currency used for transactions in the outlet.",
            "example": "USD"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference related to the outlet.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outlet (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information detailing creation and updates.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving outlet information.",
        "example": {
          "outletId": "STANDARD",
          "merchantId": "MER-988306",
          "name": "Northstar Banking Service",
          "outletType": "STANDARD",
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "timezone": "America/New_York",
          "currency": "USD",
          "externalReference": "STANDARD",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "da421545-a1f9-5307-90d1-5b9a68e20e10",
            "correlationId": "bc74c30b-3090-5e20-b896-cd533704ff85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Coffee St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (if any).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City name.",
            "example": "New York"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province name.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal or ZIP code.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country name.",
            "example": "USA"
          }
        },
        "description": "Schema representing a physical address."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the outlet.",
            "example": "contact@coffeeshop.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the outlet.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the outlet.",
            "example": "www.coffeeshop.com"
          }
        },
        "description": "Schema representing contact information."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the outlet was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the outlet.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the outlet was last updated.",
            "example": "2023-06-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the outlet.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the outlet entity.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for the outlet."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_101112"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "corr_131415"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "NA"
          }
        },
        "description": "Schema representing additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-outlet"
        },
        "example": "banking-p2m-openapi-get-outlet"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication method where a JSON Web Token (JWT) is provided in the authorization header of the request. The token serves as a key for secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}