{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debit Management API",
    "description": "The Direct Debit Management API facilitates the initiation and management of direct debit transactions within the banking system. This API enables financial institutions to automate and streamline payment collections, enhancing cash flow management for businesses. Typical use cases include consumer bill payments, subscription services, and loan repayments. By providing seamless integration capabilities, this API caters to banks and payment processors looking to optimize their direct debit offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit": {
      "post": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Initiates a direct debit transaction.",
        "description": "This endpoint allows users to create a new direct debit transaction within the trade banking sector. It requires specific details about the transaction and the account involved. Ensure that all necessary information is provided to successfully process the direct debit.",
        "operationId": "createDirectDebit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a direct debit operation within the trade banking system. It contains the necessary details required to process the direct debit transaction such as account information and amount.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDirectDebitRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed shortly.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDirectDebitResponse_202"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred while processing the request.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDirectDebitResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but could not be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDirectDebitResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDirectDebitResponse_202": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Unique identifier for the debtor's account.",
            "example": "ACC-502606"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor scheme.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for the processing of the direct debit.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the direct debit operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Collection of metadata related to the direct debit operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the direct debit operation POST request.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-502606",
          "creditorSchemeId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "a1d0fc83-2d34-55f8-87e0-5686aa188b45",
            "correlationId": "15929d2b-02f4-52e5-be58-cd12638282a4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correl-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-12T14:31:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU-West"
          }
        },
        "description": "Additional metadata information for the direct debit operation."
      },
      "CreateDirectDebitResponse_500": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A detailed message describing the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The name or identifier of the workflow where the error occurred.",
            "example": "WF-063"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer representing the hop number after which the operation failed.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "Response schema for handling 500 errors in direct debit operations.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-063",
          "failedAfterHop": 3
        }
      },
      "CreateDirectDebitRequest": {
        "title": "Direct Debit Request Body",
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the direct debit mandate.",
            "example": "2026-09-15"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account for the debit operation.",
            "example": "ACC-890864"
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier of the creditor's scheme.",
            "example": "STANDARD"
          },
          "collectionAmount": {
            "description": "The amount to be collected during the debit operation.",
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "Date when the collection is to take place.",
            "example": "2026-09-15"
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of the direct debit collection (e.g., monthly, weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the payload for a Direct Debit operation.",
        "example": {
          "mandateId": "2026-09-15",
          "debtorAccountId": "ACC-890864",
          "creditorSchemeId": "STANDARD",
          "collectionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "collectionDate": "2026-09-15",
          "frequency": "STANDARD",
          "requestContext": {
            "requestId": "d95c3989-0294-5842-aa8c-226a570e7201",
            "correlationId": "15929d2b-02f4-52e5-be58-cd12638282a4",
            "idempotencyKey": "aa2457fa-8d55-506e-a27e-d12a66f0197c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-605882"
            }
          }
        }
      },
      "CollectionAmount": {
        "title": "Collection Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be collected.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount (e.g., USD, EUR).",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for a collection."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information about a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateDirectDebitResponse_422": {
        "title": "Direct Debit Operations Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string code representing the specific error that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request to trace the issue across systems.",
            "example": "ecc5febc-d6c6-4a14-9c01-d78e904e4ef7"
          },
          "message": {
            "type": "string",
            "description": "A human-readable description of the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow associated with the error, if applicable.",
            "example": "WF-063"
          }
        },
        "description": "This schema represents the error response for Direct Debit operations when a 422 status code is encountered. The error response includes a code indicating the type of error, a correlation ID for tracing, a descriptive message about the error, and any associated workflow information.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "ecc5febc-d6c6-4a14-9c01-d78e904e4ef7",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-063"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-063"
        },
        "example": "WF-063"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "9707477f-9818-49ce-9e71-c6a0a950ed16"
        },
        "example": "9707477f-9818-49ce-9e71-c6a0a950ed16"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6ec1d4a4-3229-44d4-a97c-d7a245387085"
        },
        "example": "6ec1d4a4-3229-44d4-a97c-d7a245387085"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-process-direct-debit"
        },
        "example": "direct-debit-process-direct-debit"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow that generated the error response, aiding in troubleshooting the issue.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-063"
        },
        "example": "WF-063"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Trade Finance Documentary Collection"
        },
        "example": "Trade Finance Documentary Collection"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3d9ca50c-78d2-466b-a5ea-f33dd18783a9"
        },
        "example": "3d9ca50c-78d2-466b-a5ea-f33dd18783a9"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication, specifically leveraging JSON Web Tokens (JWT). The token must be included in the Authorization header of requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}