{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Validation Service API",
    "description": "The Product Validation Service API facilitates the validation of products within the banking product management system. Through this endpoint, users can submit specific product parameters to ensure their compliance with required standards and regulations. This service is beneficial for financial institutions and product managers to streamline the onboarding of new products and mitigate risks associated with non-compliance. Typical use cases include validating new product offerings before launch or ensuring existing products meet updated regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Product Management"
        ],
        "summary": "Create validation for product PROD-700045.",
        "description": "This endpoint allows users to create validations for the product with ID PROD-700045 in the product directory. Input the necessary validation details to ensure the product meets all required checks.",
        "operationId": "createProductValidationForProd700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit validation data for the specified product (PROD-700045) in the product directory. Ensure that the provided JSON adheres to the schema defined to successfully validate the product information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductValidationForProd700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The validation process was completed successfully and returned the relevant data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductValidationForProd700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductValidationForProd700045Request": {
        "title": "Product Validation Request Body",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "List of validation scopes.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "exampleScope"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is requested.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for validating a product.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e2990f70-6430-5693-890d-ab6ca47c370d",
            "correlationId": "005bce7c-c130-5246-b5d8-ef4393a06db6",
            "idempotencyKey": "d719b7dc-d59b-5b41-94cf-4fb64d3e5fec",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506263"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests are handled idempotently.",
            "example": "idempotent-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "inventory-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "product-app"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateProductValidationForProd700045Response_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action execution.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the action response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations performed in the product management system.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "b65e5263-76f7-5454-854b-4907f61a89f5",
            "correlationId": "005bce7c-c130-5246-b5d8-ef4393a06db6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate events across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Detailed metadata information pertaining to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-directory-validate-product-directory"
        },
        "example": "product-directory-validate-product-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}