{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Release Management API",
    "description": "The Production Release Management API provides endpoints to manage and track the deployment of production releases in banking IT systems. This API allows users to retrieve details about specific production release events, facilitating effective oversight and coordination among development and operations teams. Typical consumers include IT managers and DevOps professionals who need to monitor and ensure a smooth deployment process. By utilizing this API, organizations can enhance their release management practices and improve service reliability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve production release details",
        "description": "Fetches detailed information about the specific production release identified by the provided ID (PROD-700045). This operation allows developers to access key data related to the particular release, including status, deployment date, and associated changes.",
        "operationId": "getProductionReleaseDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the production release specified by the identifier PROD-700045. Please ensure that all required parameters are properly defined and follow the schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductionReleaseDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductionReleaseDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductionReleaseDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the production release operations in the IT management system.",
        "example": "{}"
      },
      "GetProductionReleaseDetailsResponse_200": {
        "title": "Production Release Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "Name of the environment where the release is applied.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change being released.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the release.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Planned date and time for the release.",
            "example": "2026-08-11T12:00:00Z"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Identifier for the leased asset associated with the release.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value of the leased asset.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Duration of the lease term in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the release.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the release.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful production release operation.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af1d2f1f-4a67-50bd-b39f-473d7e645317",
            "correlationId": "179a2c3d-0024-5afc-9116-10cf291f5ccd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of the residual value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the residual value amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-get-production-release"
        },
        "example": "production-release-get-production-release"
      },
      "X-Runtime-App": {
        "description": "The runtime application version used for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the request's Authorization header. The JWT should be formatted according to the specified bearer format to ensure compatibility with the authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}