{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Direction API",
    "description": "The Business Unit Direction API provides crucial insights into the strategic directions of various business units within the banking sector. By accessing this API, users can retrieve information related to organizational goals, operational performance, and alignment with overall corporate strategy. Typical consumers of this API include financial analysts, business strategists, and decision-makers seeking to understand and leverage business unit capabilities. This data supports informed decision-making and strategic planning within the financial services industry.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-direction": {
      "get": {
        "tags": [
          "Business Control"
        ],
        "summary": "Retrieve Business Unit Direction",
        "description": "This endpoint allows you to fetch the current direction of the business unit, providing insights into strategic decisions and operational guidance.",
        "operationId": "getBusinessUnitDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the direction of business units within the business control system. It allows clients to specify parameters for the request in a structured JSON format, ensuring that all necessary data is correctly formatted and sent for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessUnitDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved business unit direction data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessUnitDirectionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessUnitDirectionRequest": {
        "type": "string",
        "description": "This schema represents a request body for the business unit direction operations with a string value.",
        "example": "{}"
      },
      "GetBusinessUnitDirectionResponse_200": {
        "title": "Business Unit Direction Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business unit direction items.",
            "example": [
              {
                "businessUnitId": "STANDARD",
                "costCenter": "STANDARD",
                "planningPeriod": "STANDARD",
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "forecastVersion": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessUnitDirectionItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Contains metadata related to the response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response schema for fetching business unit direction details in operations.",
        "example": {
          "items": [
            {
              "businessUnitId": "STANDARD",
              "costCenter": "STANDARD",
              "planningPeriod": "STANDARD",
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "forecastVersion": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6a98750d-6958-5764-b37b-c5fb5a28025b",
            "correlationId": "7ebbe158-b6f0-57a7-bd2f-4134e8f53478",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessUnitDirectionItem": {
        "title": "Business Unit Direction Item",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "string"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the business unit.",
            "example": "string"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Planning period for the budget.",
            "example": "string"
          },
          "budget": {
            "description": "Budget details for the business unit.",
            "$ref": "#/components/schemas/BudgetInfo"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast being used.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "string"
          }
        },
        "description": "Details of an individual business unit direction item."
      },
      "BudgetInfo": {
        "title": "Budget Information",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the budget amount.",
            "example": "string"
          }
        },
        "description": "Details about the budget including amount and currency."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the pagination of the response."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate logs and requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-direction-search-business-unit-direction"
        },
        "example": "business-unit-direction-search-business-unit-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token. This scheme supports JSON Web Tokens (JWT) for secure authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}