{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Portfolio Management API",
    "description": "The Channel Portfolio Management API enables businesses to update and refine their channel portfolios effectively. With this API, users can modify specific channel parameters to optimize performance and align with strategic objectives. It is especially useful for financial institutions and enterprises aiming to enhance their business analysis and decision-making processes. Developers can utilize this API to ensure their channel offerings remain competitive and responsive to market needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/channel-portfolio/{param1}": {
      "patch": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Update channel portfolio resource",
        "description": "This operation allows updating the details of a specific channel portfolio resource identified by its unique ID. It is designed to facilitate modifications to existing data while ensuring data integrity and consistency.",
        "operationId": "patchBusinessAnalysisChannelPortfolioRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the channel portfolio identified by RES-100045. It contains data that specifies the changes to be applied to the existing resources.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBusinessAnalysisChannelPortfolioRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, with updated resource information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBusinessAnalysisChannelPortfolioRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchBusinessAnalysisChannelPortfolioRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes being requested for the channel portfolio.",
            "$ref": "#/components/schemas/ChannelPortfolioChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date for the changes to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating channel portfolio operations.",
        "example": {
          "changes": {
            "analysisId": "STANDARD",
            "segmentId": "STANDARD",
            "periodStart": "2026-08-11"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b59c46b6-d8c3-58fd-9ead-ba9cc797f5f4",
            "correlationId": "05b88668-573c-5dbf-a55d-4e389000e84c",
            "idempotencyKey": "26f163f1-bd58-55f0-a4fe-0e3e061beaf1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-800914"
            }
          }
        }
      },
      "ChannelPortfolioChanges": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "string"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment being analyzed.",
            "example": "string"
          },
          "periodStart": {
            "type": "string",
            "description": "Start period for the analysis.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to the channel portfolio."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel related to the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., online, offline.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Information about the specific channel."
      },
      "PatchBusinessAnalysisChannelPortfolioRes100045Response_200": {
        "title": "Operations PATCH Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the channel portfolio.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "677913fb-669c-5315-b5a2-267592e91708",
            "correlationId": "05b88668-573c-5dbf-a55d-4e389000e84c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata structure containing response-related information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-portfolio-update-channel-portfolio"
        },
        "example": "channel-portfolio-update-channel-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where a JSON Web Token (JWT) is provided in the Authorization header of requests. The token is used to securely transmit user identity and claims across the network.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}