{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_System Development Configuration API",
    "description": "The System Development Configuration API facilitates the modification of components within the IT management framework of banking services. This endpoint allows users to update critical settings and parameters associated with system development efforts, ensuring that configurations align with business requirements. Typical consumers include IT managers, system administrators, and developers involved in project delivery. Utilize this API to manage system development infrastructure effectively and adapt to evolving operational needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-development/{param1}": {
      "patch": {
        "tags": [
          "System Development"
        ],
        "summary": "Update System Development Resource",
        "description": "This endpoint allows you to update the details of a specific System Development resource identified by its unique identifier. You can modify various attributes of the resource to keep it up-to-date with the latest information.",
        "operationId": "patchItManagementSystemDevelopmentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to update the existing resource with the identifier RES-100045 in the system development area of IT management. It requires a JSON formatted payload to provide the new values for the fields that need to be updated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchItManagementSystemDevelopmentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, reflecting the updated resource state.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchItManagementSystemDevelopmentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchItManagementSystemDevelopmentRes100045Request": {
        "required": [
          "changeReason",
          "changes",
          "effectiveAt",
          "requestContext",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes requested in the system development operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata about the request for tracking and identification.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "changes": {
            "systemId": "STANDARD",
            "environment": "STANDARD",
            "changeId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c520b0c4-3aa9-55c2-8ff4-9365c5ccfd63",
            "correlationId": "eb876679-f235-500d-a0bd-cb4e50e5ff76",
            "idempotencyKey": "613db5f8-f0a1-5412-bbd0-42338a55b0c7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-510572"
            }
          }
        }
      },
      "Changes": {
        "required": [
          "changeId",
          "environment",
          "systemId"
        ],
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system that will be changed.",
            "example": "system-123"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the change is to be applied (e.g., production, development).",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change request.",
            "example": "change-456"
          }
        },
        "description": "Details about the changes being requested."
      },
      "RequestContext": {
        "required": [
          "channel",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the specific request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace related requests.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request can be retried without side effects.",
            "example": "key-112"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source-system-113"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "source-app-114"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-115"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device making the request.",
            "example": "device-116"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PatchItManagementSystemDevelopmentRes100045Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the system development resource.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d927d962-697b-5645-af14-570e31e821b3",
            "correlationId": "eb876679-f235-500d-a0bd-cb4e50e5ff76",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "1234"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating requests and responses across systems.",
            "example": "abcd-efgh-ijkl"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata containing additional context about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-development-update-system-development"
        },
        "example": "system-development-update-system-development"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using the Bearer HTTP authentication scheme, which requires a valid JSON Web Token (JWT) in the Authorization header to securely access the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}