{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Component Configuration Retrieval API",
    "description": "The Component Configuration Retrieval API provides access to critical configuration data for connect components within the microservice architecture. This API allows consumers to fetch current configuration details, ensuring that all components operate consistently and efficiently. Typical use cases include application monitoring, debugging, and optimizing component interactions by examining their configurations. Developers and system administrators can leverage this API to maintain a seamless integration and operational integrity across services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "get": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Retrieve a list of configurations.",
        "description": "This endpoint allows users to fetch all available configurations from the system. It provides an overview of the current configurations and their respective details, enabling users to understand the setup of the application.",
        "operationId": "fetchConfigurations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve configurations from the server. It must adhere to the specified schema, which defines the structure and types of the data required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchConfigurationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The configurations were retrieved successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchConfigurationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "FetchConfigurationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation under configurations.",
        "example": "{}"
      },
      "FetchConfigurationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of configuration items.",
            "example": [
              {
                "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
                "filterAccounts": [
                  "STANDARD"
                ],
                "accountClassificationType": [
                  "STANDARD"
                ],
                "aoRequired": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConfigurationItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on configurations, providing details about items and metadata.",
        "example": {
          "items": [
            {
              "id": "535cc747-adcb-b3d8-4068-dbc4eb8a9494",
              "filterAccounts": [
                "STANDARD"
              ],
              "accountClassificationType": [
                "STANDARD"
              ],
              "aoRequired": true
            }
          ],
          "metadata": {
            "responseId": "c1ea2f3d-d65a-5b60-885f-c092dfab8afb",
            "correlationId": "b6753cf6-0be0-57bb-9fa8-0ed41d067631",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConfigurationItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the configuration item.",
            "example": "configItem123"
          },
          "filterAccounts": {
            "type": "array",
            "description": "List of accounts to filter for the configuration.",
            "items": {
              "type": "string",
              "example": "account1"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "Types of account classification associated with the configuration.",
            "items": {
              "type": "string",
              "example": "classificationTypeA"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether AO (Account Owner) is required for this configuration.",
            "example": false
          }
        },
        "description": "Represents a single configuration item with its properties."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlationId123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information about the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-configurations"
        },
        "example": "open-finance-api-get-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include the token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}