{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Point of Service Transaction API",
    "description": "The Point of Service Transaction API facilitates the processing of financial transactions at various customer touchpoints. By utilizing this API, businesses can streamline their payment processes, ensuring that transactions are handled efficiently and securely. It primarily serves retail businesses and financial institutions that require seamless integration for point-of-sale functionalities. Common use cases include processing customer payments, managing transaction records, and enhancing overall customer experience during checkout.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service": {
      "post": {
        "tags": [
          "Point of Service Management"
        ],
        "summary": "Create a new point of service across channels.",
        "description": "This endpoint allows users to create a new point of service that integrates various channels to improve operational efficiency and customer experience. Provide the necessary details in the request body to set up the point of service.",
        "operationId": "createCrossChannelPointOfService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit point-of-service data related to cross-channel operations. Ensure that the payload adheres to the specified schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelPointOfServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelPointOfServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelPointOfServiceRequest": {
        "title": "Point of Service Operations Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the transaction.",
            "example": "PARTY-894126"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction.",
            "example": "INT-337123"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the request is initiated (e.g., web, mobile).",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the transaction.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal executing the transaction.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant processing the transaction.",
            "example": "MER-412243"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating logs for the request.",
                "example": "corr-123"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotency of the request.",
                "example": "idempotent-unique-key"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System that initiated the request.",
                "example": "SystemA"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application that initiated the request.",
                "example": "AppB"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information for the request.",
            "example": {
              "requestId": "a18f763c-e88c-5e91-8ba0-b69523e48cdd",
              "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
              "idempotencyKey": "7a172783-a218-526d-bee5-7a756eb681d2",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-826093"
              }
            }
          }
        },
        "description": "Request body schema for POST operations in a cross-channel point of service context.",
        "example": {
          "partyId": "PARTY-894126",
          "interactionId": "INT-337123",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "terminalId": "STANDARD",
          "merchantId": "MER-412243",
          "terminalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "a18f763c-e88c-5e91-8ba0-b69523e48cdd",
            "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
            "idempotencyKey": "7a172783-a218-526d-bee5-7a756eb681d2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-826093"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-001"
          }
        },
        "description": "Represents details of the channel used for the request."
      },
      "CreateCrossChannelPointOfServiceResponse_201": {
        "title": "Cross-Channel Point of Service Operation Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the transaction.",
            "example": "PARTY-974881"
          },
          "interactionId": {
            "type": "string",
            "description": "A unique identifier for the interaction session.",
            "example": "INT-223432"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal where the transaction took place.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the transaction.",
            "example": "MER-372277"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource that was processed.",
            "example": "RES-169302"
          },
          "status": {
            "type": "string",
            "description": "The status of the transaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the transaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier used for correlating logs or events.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the transaction was processed.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the transaction response.",
            "example": {
              "responseId": "db0542ac-b2d4-5f13-a4d6-69192aea1a18",
              "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the Cross-Channel Point of Service operation when a POST request is successful.",
        "example": {
          "partyId": "PARTY-974881",
          "interactionId": "INT-223432",
          "terminalId": "STANDARD",
          "merchantId": "MER-372277",
          "resourceId": "RES-169302",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "db0542ac-b2d4-5f13-a4d6-69192aea1a18",
            "correlationId": "9589b1ff-092d-5925-800c-6c83267c3fce",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed in the cross-channel operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-create-point-of-service"
        },
        "example": "point-of-service-create-point-of-service"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application name that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing API endpoints. Clients must include a valid JWT in the Authorization header using the Bearer schema.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}