{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Terminal Management API",
    "description": "The Terminal Management API facilitates the provisioning and configuration of terminals within a payment processing system. This endpoint allows businesses to onboard new terminals, ensuring they are correctly integrated into the overall payment infrastructure. Ideal for merchants and service providers, this API supports use cases such as setting up payment points in retail environments or managing device configurations. With detailed options for terminal management, it empowers users to streamline operations and enhance customer transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals": {
      "post": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Create a new terminal resource.",
        "description": "This endpoint allows you to create a new terminal in the system. You need to provide the necessary details for the terminal in the request body. Upon successful creation, the terminal will be available for further operations.",
        "operationId": "createTerminal",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new terminal. It must include all the necessary information required for the terminal setup and configuration. Ensure that the data provided adheres to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTerminalRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTerminalResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTerminalRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-307890"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet associated with the terminal.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal being created or updated.",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "Friendly name or label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "Unique serial number of the terminal device.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "Fingerprint identifier for the terminal device.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A capability that the terminal can perform.",
              "example": "contactless_payments"
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to trace related requests.",
                "example": "corr-654321"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure idempotent operations.",
                "example": "idemp-112233"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T12:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifier for the system making the request.",
                "example": "backend-system"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application originating the request.",
                "example": "terminal-management-app"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "78ec7262-3a86-5a2d-84f6-1b500cc24352",
              "correlationId": "f388f2d0-405f-5c45-ab5d-3861d1ceea6a",
              "idempotencyKey": "6e8be093-e682-5b41-a4ab-166de7627265",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-749264"
              }
            }
          }
        },
        "description": "Request body schema for creating or updating terminal operations.",
        "example": {
          "merchantId": "MER-307890",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "78ec7262-3a86-5a2d-84f6-1b500cc24352",
            "correlationId": "f388f2d0-405f-5c45-ab5d-3861d1ceea6a",
            "idempotencyKey": "6e8be093-e682-5b41-a4ab-166de7627265",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-749264"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-001"
          }
        },
        "description": "Details of the channel through which the request was made."
      },
      "CreateTerminalResponse_201": {
        "title": "Terminal Operation Response",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant that owns the terminal.",
            "example": "MER-419651"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier of the outlet where the terminal is located.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "The type of the terminal (e.g., POS, mobile, etc.).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "A human-readable label for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number assigned to the terminal by the manufacturer.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique fingerprint representing the device.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "A list of capabilities of the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A capability the terminal can perform.",
              "example": "contactless_payment"
            }
          },
          "status": {
            "type": "string",
            "description": "The current operational status of the terminal.",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen or active.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information regarding the creation and updates of the terminal.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata regarding the terminal operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a successful terminal operation.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-419651",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "6bc7f4b8-d3b1-50ea-afe4-f47aab2c332b",
            "correlationId": "f388f2d0-405f-5c45-ab5d-3861d1ceea6a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for records."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-terminal"
        },
        "example": "banking-p2m-openapi-create-terminal"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. Tokens are typically JWT (JSON Web Tokens) that must be included in the 'Authorization' header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}