{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Authorization Status Inquiry API",
    "description": "The Authorization Status Inquiry API allows users to retrieve the current status of authorization requests within the system. This endpoint provides important insights for businesses regarding whether specific transactions or actions have been authorized, enabling effective decision-making and resource allocation. Typical consumers include finance and operations teams that require real-time updates on authorization statuses for processing transactions or managing service access. Integrating this API helps businesses enhance operational efficiency and improve customer service by ensuring timely and informed responses to authorization inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations": {
      "get": {
        "tags": [
          "Authorization"
        ],
        "summary": "Retrieve a list of all authorizations.",
        "description": "This endpoint allows you to fetch a comprehensive list of authorizations from the system. It can be used for auditing purposes or to understand which authorizations are currently active.",
        "operationId": "getAuthorizations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for obtaining authorization details. This can include parameters such as user credentials, scopes, and other relevant data to retrieve specific authorization information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAuthorizationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of authorizations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthorizationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAuthorizationsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to authorizations.",
        "example": "{}"
      },
      "GetAuthorizationsResponse_200": {
        "title": "Authorization Operations Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the result.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available in the result.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicator of whether there is a next page in the paginated results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of hyperlinks related to the authorization operation.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of authorization items returned in the result.",
            "example": [
              {
                "authorizationId": "STANDARD",
                "paymentId": "PAY-781955",
                "merchantId": "MER-143606",
                "authorizedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "capturedAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "approvalCode": "CODE-262",
                "expiresAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AuthorizationItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across services.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the operation was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response of the operation.",
            "example": {
              "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
              "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response of the GET operation on authorizations, including pagination metadata and list of authorization items.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "authorizationId": "STANDARD",
              "paymentId": "PAY-781955",
              "merchantId": "MER-143606",
              "authorizedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "capturedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "approvalCode": "CODE-262",
              "expiresAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "8edd6f9b-c5ea-55f5-a23f-5d2e056189b1",
            "correlationId": "97e67d46-1bb0-5d5c-948c-a814ee23903d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link Object",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used with the link.",
            "example": "string"
          }
        },
        "description": "Schema representing a hyperlink related to the authorization operation."
      },
      "AuthorizationItem": {
        "title": "Authorization Item",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "string"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the authorization.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the authorization.",
            "example": "string"
          },
          "authorizedAmount": {
            "description": "Amount that has been authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "Amount that has been captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount of the authorization.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "string"
          },
          "approvalCode": {
            "type": "string",
            "description": "Code indicating the approval of the authorization.",
            "example": "string"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization expires.",
            "example": "string"
          },
          "audit": {
            "description": "Audit information related to the authorization.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a single authorization item in the response."
      },
      "Amount": {
        "title": "Amount Object",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount of money with currency information."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the authorization was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the authorization.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the authorization.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the authorization.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the authorization.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing audit details of the authorization."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-authorizations"
        },
        "example": "banking-p2m-openapi-list-authorizations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which requires the client to provide a JSON Web Token (JWT) in the request header. The token should be formatted correctly to ensure proper authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}