{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Decisions API",
    "description": "The Routing Decisions API enables financial institutions to efficiently manage and direct card transaction requests based on operational criteria. This endpoint is designed for the submission of transaction data to determine the appropriate routing path, enhancing processing efficiency and ensuring compliance with regulatory requirements. Typical consumers include payment processors and banking platforms that need to optimize card transaction flows. By utilizing this API, developers can implement intelligent decision-making capabilities that improve transaction handling within their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch/routing-decisions": {
      "post": {
        "tags": [
          "Card Transaction Services"
        ],
        "summary": "Create a routing decision for card transactions.",
        "description": "This endpoint allows users to create routing decisions based on card transaction criteria. The decision generated will determine the processing path for the specified card transaction, optimizing for efficiency and accuracy.",
        "operationId": "postCardTransactionSwitchRoutingDecision",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit routing decisions for card transaction switches. The payload must conform to the specified schema, which includes all necessary parameters required for processing the routing decision.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCardTransactionSwitchRoutingDecisionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCardTransactionSwitchRoutingDecisionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCardTransactionSwitchRoutingDecisionRequest": {
        "title": "Card Transaction Switch Routing Decisions Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation being performed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer associated with the transaction.",
            "example": "CUST-320690"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the account involved in the transaction.",
            "example": "ACC-932815"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level for processing the transaction request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for routing decisions in card transaction processing operations.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-320690",
          "accountId": "ACC-932815",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "9a69655c-ad97-540d-8276-b37495df6489",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "idempotencyKey": "8e0a7216-174d-51ad-b282-e8440bf7529b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-687368"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency in the request.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "appA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains context information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel used in the request."
      },
      "PostCardTransactionSwitchRoutingDecisionResponse_202": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The ID of the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer associated with the transaction.",
            "example": "CUST-941124"
          },
          "accountId": {
            "type": "string",
            "description": "The ID of the account used for the transaction.",
            "example": "ACC-731473"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference number for processing the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the transaction operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the transaction was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp_001"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracing the request across systems.",
                "example": "corr_001"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-10-01T10:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the transaction was processed.",
                "example": "US"
              }
            },
            "description": "Additional metadata related to the transaction.",
            "example": {
              "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
              "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the card transaction switch routing decisions operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-941124",
          "accountId": "ACC-731473",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ec939e2e-56b9-5724-a78f-120d56cf0305",
            "correlationId": "a03dcb4d-7c6f-5942-99b3-d4d15b98b15e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-route-card-transaction-switch"
        },
        "example": "card-transaction-switch-route-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) for access. The client must include the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}