{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fiduciary Agreement Management API",
    "description": "The Fiduciary Agreement Management API facilitates the creation and management of fiduciary agreements within the banking and lending context. This API allows financial institutions to establish, track, and modify fiduciary agreements accurately. Common consumers include bank personnel, loan officers, and compliance teams who require a streamlined process for managing these critical agreements. This functionality helps ensure regulatory compliance and enhances operational efficiency within financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Create a fiduciary agreement.",
        "description": "This endpoint allows users to create a new fiduciary agreement, which is essential for deposit lending transactions. Ensure that all required information is provided in the request body to successfully establish the agreement.",
        "operationId": "createFiduciaryAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a fiduciary agreement under the deposit lending operations. It requires the necessary parameters in JSON format to successfully process the agreement.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFiduciaryAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Fiduciary agreement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFiduciaryAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFiduciaryAgreementRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-317701"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the fiduciary agreement.",
            "example": "ACC-270608"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the fiduciary agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the loan, including its currency.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information surrounding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for initiating a fiduciary agreement in deposit lending operations. Contains details regarding the customer, account, product, principal amount, term, repayment frequency, and request context.",
        "example": {
          "customerId": "CUST-317701",
          "accountId": "ACC-270608",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "a43e6d4d-b29f-5b86-974d-474a1ddf6af9",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "idempotencyKey": "07d66d4f-59b0-592d-9522-6200b629432f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-953429"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Details about the principal amount of the loan."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information of the request to assist with tracking and auditing."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request has been made."
      },
      "CreateFiduciaryAgreementResponse_201": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer associated with the fiduciary agreement.",
            "example": "CUST-409369"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the account associated with the fiduciary agreement.",
            "example": "ACC-770499"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the fiduciary agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the fiduciary agreement.",
            "example": "RES-108668"
          },
          "status": {
            "type": "string",
            "description": "Current status of the fiduciary agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the fiduciary agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FiduciaryAgreementMetadata"
          }
        },
        "description": "Response schema for the fiduciary agreement operation. This includes information about the customer, account, product, and metadata related to the request.",
        "example": {
          "customerId": "CUST-409369",
          "accountId": "ACC-770499",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-108668",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fdadbd29-4636-5001-afd3-a9396c3e98ae",
            "correlationId": "61f6c998-c6eb-5cc6-872e-159969900212",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FiduciaryAgreementMetadata": {
        "title": "Fiduciary Agreement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for tracking the response.",
            "example": "response_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation_xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the fiduciary agreement response, including tracking identifiers and processing details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-create-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-create-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "The application that was used to process the request, indicating the environment and version.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, which are typically in JSON Web Token (JWT) format. This method is often used to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}