{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Position Management API",
    "description": "The Securities Position Management API provides essential access to real-time data on securities held within customer accounts. It enables users to retrieve detailed information about their current securities positions, including quantities, valuations, and relevant market data. This API serves financial institutions, asset managers, and individual investors who rely on accurate securities tracking for decision-making. Use cases include compliance reporting, portfolio analysis, and investment strategy development.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping": {
      "get": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Retrieve Securities Position Information",
        "description": "This operation retrieves the current securities position for a specified account, providing detailed insights into the holdings and their statuses. Useful for traders and portfolio managers to assess current investments.",
        "operationId": "getSecuritiesPosition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the securities position keeping information for a specific account. The server uses the details provided in the body to fetch the relevant data and returns insights into the holdings and positions of the specified account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecuritiesPositionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of securities positions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecuritiesPositionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecuritiesPositionRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operations in the securities position keeping context.",
        "example": "{}"
      },
      "GetSecuritiesPositionResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of securities positions.",
            "example": [
              {
                "accountId": "ACC-755536",
                "customerId": "CUST-507029",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "safekeepingAccountId": "ACC-342383",
                "custodyLocation": "STANDARD",
                "positionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SecuritiesPosition"
            }
          },
          "pagination": {
            "description": "Pagination information for the result set.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation on securities position keeping.",
        "example": {
          "items": [
            {
              "accountId": "ACC-755536",
              "customerId": "CUST-507029",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "safekeepingAccountId": "ACC-342383",
              "custodyLocation": "STANDARD",
              "positionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3d08bd99-2719-5fc4-9c28-d6b81c8b83bc",
            "correlationId": "e9a892de-128e-5ac8-8150-b064484cbd45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SecuritiesPosition": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer."
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the account in the ledger."
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The identifier for the safekeeping account."
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where the assets are held."
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of positions held.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record."
          }
        },
        "description": "Schema representing a single securities position.",
        "example": {
          "accountId": "string",
          "customerId": "string",
          "ledgerDate": "string",
          "currency": "string",
          "ledgerBalance": 0.0,
          "safekeepingAccountId": "string",
          "custodyLocation": "string",
          "positionQuantity": 0,
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Schema representing meta information about the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-search-securities-position-keeping"
        },
        "example": "securities-position-keeping-search-securities-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token, usually in the format of a JSON Web Token (JWT), must be included in the 'Authorization' header of HTTP requests to access secured resources. Ensure that the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}