{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Order Query API",
    "description": "The Servicing Order Query API allows users to retrieve detailed information about servicing orders within the banking system. This API provides access to data regarding the status, details, and history of each order, catering to banking personnel overseeing customer service requests. Typical consumers include customer service representatives and operational teams who need to track order fulfillment and address customer inquiries efficiently. Utilize this API to enhance customer experience and streamline servicing workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing order details",
        "description": "This endpoint allows you to retrieve the details of a servicing order, including its status and associated services. It's essential for tracking and managing servicing requests efficiently.",
        "operationId": "getServicingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the servicing order information. Ensure that the correct parameters are provided in the body to get the desired results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved servicing order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingOrderRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation on servicing orders in the servicing API.",
        "example": "{}"
      },
      "GetServicingOrderResponse_200": {
        "title": "Servicing Order Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of servicing order items.",
            "example": [
              {
                "customerId": "CUST-821922",
                "caseId": "CASE-118069",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for servicing order operations containing a list of items, pagination details, sort order, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-821922",
              "caseId": "CASE-118069",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f739b3d0-880c-5cb6-834c-8b26d1674357",
            "correlationId": "838567bb-022f-57ff-8f85-54553be3f222",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingOrderItem": {
        "title": "Servicing Order Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the servicing order.",
            "example": "12345"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the case associated with the servicing order.",
            "example": "case-123"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request for the servicing order.",
            "example": "inquiry"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the servicing order.",
            "example": "high"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the servicing order was initiated.",
            "example": "mobile"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the servicing order record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the servicing order was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single servicing order item."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request.",
            "example": "corr-abc123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The unique identifier of the endpoint being accessed, useful for monitoring and analytics.",
          "example": "servicing-order-search-servicing-order"
        },
        "example": "servicing-order-search-servicing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application runtime executing the request, used for tracing and performance analysis.",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT), allowing clients to authenticate by providing a token in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}