{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Status Inquiry API",
    "description": "The Payment Status Inquiry API enables users to retrieve real-time information on payment initiation requests. This endpoint allows businesses to check the status of payments that have been initiated, helping to ensure transparency and facilitate better cash flow management. Typical consumers of this API include financial institutions and payment service providers that need to monitor transaction progress. By leveraging this API, users can streamline their operations and enhance their customer service related to payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation/{param1}": {
      "get": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Retrieve Payment Initiation Details",
        "description": "Fetches detailed information about a specific payment initiation identified by its unique ID. This endpoint allows developers to access relevant data related to the payment, enabling effective tracking and management of payment processes.",
        "operationId": "getPaymentInitiationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body must be included to initiate a payment for the specified service. Make sure to adhere to the schema definition to ensure all necessary information is provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentInitiationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the initiated payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentInitiationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentInitiationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the payment initiation API. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetPaymentInitiationByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-827655"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case related to the payment initiation.",
            "example": "CASE-247268"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the request.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment initiation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the payment initiation operation.",
        "example": {
          "customerId": "CUST-827655",
          "caseId": "CASE-247268",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bd5f976c-ba55-5104-bbb7-0df5474c3c01",
            "correlationId": "917b27ff-cd59-571a-9bda-88aa605574f9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP23456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "CORR78901"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US-EAST"
          }
        },
        "description": "Contains additional metadata for the payment initiation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-get-payment-initiation"
        },
        "example": "payment-initiation-get-payment-initiation"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application that executed the request, providing context for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate via a JSON Web Token (JWT). Clients should include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}