{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Campaign Insights API",
    "description": "The Customer Campaign Insights API enables businesses to monitor and analyze marketing campaigns directed at their customers. By utilizing this endpoint, users can retrieve detailed information about active campaigns, including performance metrics and customer engagement data. This API serves marketing teams and analysts looking to optimize their marketing strategies and improve customer targeting. With comprehensive insights into campaign effectiveness, organizations can make informed decisions to enhance customer relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-campaign-management": {
      "get": {
        "tags": [
          "Customer Campaign Management"
        ],
        "summary": "Retrieve customer campaign data.",
        "description": "This endpoint allows developers to access and retrieve data regarding customer campaigns, including details on current and past campaigns, their performance metrics, and relevant customer interactions.",
        "operationId": "getCustomerCampaigns",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer campaign management information. This should include details that identify the specific campaign and any filters required for the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCampaignsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer campaign data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCampaignsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCampaignsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the customer campaign management service. It is expected to include specific informational parameters as a plain string.",
        "example": "{}"
      },
      "GetCustomerCampaignsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of campaign details.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CampaignDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer campaign management details.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7d33aaa0-b745-564a-86ff-411dc4b214a7",
            "correlationId": "db481cfd-70c8-59ea-b4d7-533ae5b5ed83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CampaignDetail": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "campaign-123"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "segment-456"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "items": {
              "type": "string",
              "example": "email"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign.",
            "example": "2023-01-01"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign.",
            "example": "2023-12-31"
          },
          "campaignObjective": {
            "type": "string",
            "description": "Objective of the campaign.",
            "example": "Increase brand awareness"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group used in the campaign.",
            "format": "int32",
            "example": 10
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Frequency cap for contacting users.",
            "format": "int32",
            "example": 3
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the campaign (e.g., active, paused).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the campaign was last updated.",
            "example": "2023-10-01"
          }
        },
        "description": "Details of an individual campaign."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount of the budget.",
            "example": 5000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Budget details associated with a campaign."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details for pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "correlation-987"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-management-search-customer-campaign-management"
        },
        "example": "customer-campaign-management-search-customer-campaign-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where a JSON Web Token (JWT) is provided in the Authorization header. Clients must include a valid token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}