{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API provides a secure mechanism for validating the availability of funds for international scheduled payments. By invoking this endpoint, users can asynchronously check the current status of their funds consent, ensuring that sufficient resources are available before initiating a payment. This API is typically consumed by financial institutions and payment service providers, aiding them in their compliance with open banking standards while enhancing transaction reliability. It plays a crucial role in streamlining payment processes and improving customer experience in banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve funds confirmation for the specified international scheduled payment consent.",
        "description": "This operation allows you to check the confirmation of funds availability for a specific international scheduled payment consent identified by the consent ID. It ensures the funds are available before proceeding with the payment.",
        "operationId": "getFundsConfirmationForInternationalScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a funds confirmation for an international scheduled payment consent. It supports the retrieval of funds availability information crucial for proceeding with the payment transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationForInternationalScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Funds are available and confirmation successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationForInternationalScheduledPaymentConsentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationForInternationalScheduledPaymentConsentRequest": {
        "title": "International Scheduled Payment Consent Funds Confirmation Request",
        "type": "string",
        "description": "A JSON string representing the request body for confirming funds related to an international scheduled payment consent.",
        "example": "{}"
      },
      "GetFundsConfirmationForInternationalScheduledPaymentConsentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "FundsAvailableResult": {
                "$ref": "#/components/schemas/FundsAvailableResult"
              }
            },
            "description": "Container for the data related to the funds availability result.",
            "example": {
              "FundsAvailableResult": {
                "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
                "FundsAvailable": true
              }
            }
          },
          "Links": {
            "description": "Holds the navigation links related to the response.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Metadata information regarding the response pagination.",
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "description": "Contains additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the funds confirmation operation in the international scheduled payment consent API.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "e1c718da-034b-5d1a-9908-a9cb4efe59a8",
            "correlationId": "873304ac-0869-5e54-a92e-18d8e5998cf7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsAvailableResult": {
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was checked.",
            "example": "2023-03-10T14:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": false
          }
        },
        "description": "Schema containing the result of the funds availability check."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/funds-confirmation/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "https://api.example.com/funds-confirmation/first"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "https://api.example.com/funds-confirmation/prev"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "https://api.example.com/funds-confirmation/next"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/funds-confirmation/last"
          }
        },
        "description": "Holds pagination links for the response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available based on the results.",
            "format": "int32",
            "example": 10
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time of the first available funds.",
            "example": "2023-03-10T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time of the last available funds.",
            "example": "2023-03-10T23:59:59Z"
          }
        },
        "description": "Contains metadata about the pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-03-10T14:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was carried out.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header identifies the endpoint that processed the request, which helps in tracing the execution of operations and understanding the source of data.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-international-scheduled-funds"
        },
        "example": "payment-initiation-openapi-confirm-international-scheduled-funds"
      },
      "X-Runtime-App": {
        "description": "This header specifies the name of the runtime application that handled the request, providing insight into the environment in which the API call was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients are required to include a valid token in the Authorization header of their HTTP requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}