{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Item Retrieval API",
    "description": "The Product Inventory Item Retrieval API provides access to detailed information about specific product inventory items within the banking channel. It allows users to retrieve current inventory levels, descriptions, and other relevant data related to a product. Typical consumers of this API include banking applications, inventory management systems, and financial institutions looking to track product availability. By facilitating efficient access to product details, this API supports informed decision-making and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management/{param1}": {
      "get": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Retrieve product inventory item details.",
        "description": "This endpoint allows developers to fetch detailed information about a specific product inventory item identified by its ID. Use this endpoint to access the attributes and status of the product, which can assist in inventory management and reporting tasks.",
        "operationId": "getProductInventoryItemById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product inventory item details specific to the channel. This should include any necessary parameters to filter or specify the request as required by the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductInventoryItemByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product inventory item details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductInventoryItemByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductInventoryItemByIdRequest": {
        "type": "string",
        "description": "A request body for managing product inventory items in a specific channel.",
        "example": "{}"
      },
      "GetProductInventoryItemByIdResponse_200": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit identifier for the product.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "Current quantity of the inventory item available in stock.",
            "format": "int32",
            "example": 1
          },
          "reorderPoint": {
            "type": "integer",
            "description": "Threshold quantity for triggering a reorder of the inventory item.",
            "format": "int32",
            "example": 1
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "Quantity of the inventory item to be distributed.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the inventory item record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the inventory item record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the inventory item record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the inventory item response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the product inventory item management operation.",
        "example": {
          "inventoryItemId": "STANDARD",
          "sku": "STANDARD",
          "branchId": "STANDARD",
          "quantityOnHand": 1,
          "reorderPoint": 1,
          "distributionQuantity": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af4b7d60-215f-567c-a976-ef9222318b69",
            "correlationId": "001313fe-de57-581b-956c-7491fc44ff54",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place."
          }
        },
        "description": "This schema contains metadata information pertinent to the inventory item response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the operation, allowing for tracking and monitoring of the specific API endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-get-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-get-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling the request, useful for identifying which application context the response originates from.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method using JSON Web Tokens (JWT). It allows for secure transmission of authentication credentials in the HTTP header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}