{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Information Retrieval API",
    "description": "The Party Information Retrieval API enables clients to access information related to parties involved in financial transactions. Through this endpoint, users can retrieve detailed data about individuals or entities participating in open banking activities. This API is primarily used by financial institutions, fintech developers, and service providers looking to enhance their customer onboarding processes and streamline account management operations. It supports compliance with regulatory requirements and improves the efficiency of financial service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/party": {
      "get": {
        "tags": [
          "AISP"
        ],
        "summary": "Retrieve party information.",
        "description": "This endpoint allows clients to fetch details about parties in the AISP system. It provides essential information necessary for transactions and identity verification.",
        "operationId": "getAispParty",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific party. It includes parameters that define the criteria for fetching the party details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispPartyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of parties.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispPartyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispPartyRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the aisp_s_party API.",
        "example": "{}"
      },
      "GetAispPartyResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "$ref": "#/components/schemas/Party"
              }
            },
            "description": "Holds the main response data containing detailed party information.",
            "example": {
              "Party": {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-654",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "The link to the current resource.",
                "example": "https://api.example.com/resource/self"
              },
              "First": {
                "type": "string",
                "description": "The link to the first resource in the collection.",
                "example": "https://api.example.com/resource/first"
              },
              "Prev": {
                "type": "string",
                "description": "The link to the previous resource in the collection.",
                "example": "https://api.example.com/resource/prev"
              }
            },
            "description": "Contains navigation links related to the request.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "res-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier to trace the request across systems.",
                "example": "correlation-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "responseId": "265270bf-68e6-5a5c-b52f-4c1210d251c4",
              "correlationId": "daf32473-57e6-58e1-ad9e-6b0b7d3e523b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Party": {
              "id": "STANDARD",
              "number": "STANDARD",
              "type": "STANDARD",
              "Name": "Northstar Banking Service",
              "FullLegalName": "Northstar Banking Service",
              "LegalStructure": "STANDARD",
              "LEI": "STANDARD",
              "BeneficialOwnership": true,
              "AccountRole": "DEBIT",
              "EmailAddress": "olivia.bennett@northstar.example",
              "Phone": "+1-212-555-0147",
              "Mobile": "STANDARD",
              "Relationships": {
                "Account": {
                  "Related": "https://example.com/resource",
                  "Id": "STANDARD"
                }
              },
              "Address": [
                {
                  "type": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service",
                  "CareOf": "STANDARD",
                  "PostCode": "CODE-654",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD",
                  "line": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "265270bf-68e6-5a5c-b52f-4c1210d251c4",
            "correlationId": "daf32473-57e6-58e1-ad9e-6b0b7d3e523b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "party-123"
          },
          "number": {
            "type": "string",
            "description": "Number associated with the party.",
            "example": "123456789"
          },
          "type": {
            "type": "string",
            "description": "Type of the party.",
            "example": "individual"
          },
          "Name": {
            "type": "string",
            "description": "Official name of the party.",
            "example": "John Doe"
          },
          "FullLegalName": {
            "type": "string",
            "description": "The full legal name of the party.",
            "example": "Johnathan Doe Smith"
          },
          "LegalStructure": {
            "type": "string",
            "description": "The legal structure of the party (e.g., corporation, partnership).",
            "example": "LLC"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the party.",
            "example": "5493001KJTIIGC8O3R26"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates whether the party has beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "Role of the party concerning the account.",
            "example": "account_holder"
          },
          "EmailAddress": {
            "type": "string",
            "description": "Email address of the party.",
            "example": "john.doe@example.com"
          },
          "Phone": {
            "type": "string",
            "description": "Phone number of the party.",
            "example": "+1234567890"
          },
          "Mobile": {
            "type": "string",
            "description": "Mobile number of the party.",
            "example": "+0987654321"
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "$ref": "#/components/schemas/AccountRelationship"
              }
            },
            "description": "Relationships the party has with other accounts."
          },
          "Address": {
            "type": "array",
            "description": "List of addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Represents a party with various attributes related to its identity and relationships."
      },
      "AccountRelationship": {
        "type": "object",
        "properties": {
          "Related": {
            "type": "string",
            "description": "Details about the related account.",
            "example": "Related account description"
          },
          "Id": {
            "type": "string",
            "description": "Unique identifier for the related account.",
            "example": "account-987"
          }
        },
        "description": "Describes a relationship between the party and an account."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the address (e.g., residential, commercial).",
            "example": "residential"
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the address.",
            "example": "Sales"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department associated with the address.",
            "example": "International Sales"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "123 Main St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address.",
            "example": "456"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "Central Plaza"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building.",
            "example": "2"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "B"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit.",
            "example": "202"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number if applicable.",
            "example": "P.O. Box 123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "Springfield"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "Downtown"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of (c/o) information, if any.",
            "example": "c/o John Doe"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code of the address.",
            "example": "12345"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "Riverdale"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (state, province, etc.), if applicable.",
            "example": "California"
          },
          "Country": {
            "type": "string",
            "description": "Country of the address.",
            "example": "USA"
          },
          "line": {
            "type": "array",
            "description": "Additional address lines.",
            "items": {
              "type": "string",
              "description": "Line of the address.",
              "example": "Suite 200"
            }
          }
        },
        "description": "Represents an address with various components."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used to track and manage API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-party"
        },
        "example": "accounts-api-get-party"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, providing context about the source of the API response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically JSON Web Tokens (JWT), to securely transmit information between parties. This scheme authenticates users by allowing them to pass a token in HTTP headers to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}