{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Endpoint Testing API",
    "description": "The Webhook Endpoint Testing API facilitates the validation and testing of webhook integrations within the system. By allowing users to send test requests to specified webhook endpoints, this API ensures that consumer applications can reliably process incoming data. Typical consumers include developers and integration engineers who need to confirm that their webhook configurations work as expected. This API is essential for maintaining the robustness and reliability of webhook communications in production environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}/test": {
      "post": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Trigger a test for the specified webhook endpoint.",
        "description": "This operation allows you to trigger a test for the webhook endpoint associated with the resource ID RES-100045. It is useful for validating the configuration of the webhook before it goes live.",
        "operationId": "testWebhookEndpointForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The payload for triggering the test webhook endpoint. Ensure that the JSON body structure adheres to the specified schema to avoid processing errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TestWebhookEndpointForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestWebhookEndpointForResource100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "TestWebhookEndpointForResource100045Request": {
        "title": "Webhook Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the webhook operation.",
        "example": {
          "requestContext": {
            "requestId": "3a19a681-abf9-5644-8761-874020c70d76",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "idempotencyKey": "234c1291-12c1-56b9-a0e3-53720ddf99f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-274531"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed information about the request's context, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request, including device and channel identifiers."
      },
      "TestWebhookEndpointForResource100045Response_202": {
        "title": "Webhook Event Response",
        "type": "object",
        "properties": {
          "eventId": {
            "type": "string",
            "description": "Unique identifier for the event.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of the event.",
            "example": "STANDARD"
          },
          "occurredAt": {
            "type": "string",
            "description": "Timestamp indicating when the event occurred.",
            "example": "2026-08-11T12:00:00Z"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the event.",
            "example": "MER-480941"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource impacted by the event.",
            "example": "RES-564757"
          },
          "resourceType": {
            "type": "string",
            "description": "The type of resource that has been impacted.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/EventMetadata"
          }
        },
        "description": "Schema representing the response structure for a webhook event.",
        "example": {
          "eventId": "STANDARD",
          "type": "STANDARD",
          "occurredAt": "2026-08-11T12:00:00Z",
          "merchantId": "MER-480941",
          "resourceId": "RES-564757",
          "resourceType": "STANDARD",
          "metadata": {
            "responseId": "043b5854-abae-53ce-9d09-8bcfdb7109f0",
            "correlationId": "e0fa0151-289a-54cd-b4a9-36d25f8e3d83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventMetadata": {
        "title": "Event Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response related to the event.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlation of related events or requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the event was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the event."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-test-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-test-webhook-endpoint"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JWT (JSON Web Token) is used as a means of accessing protected resources. Clients must include the token in the `Authorization` header of each request to authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}