{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commercial Credit Cards Reference API",
    "description": "The Commercial Credit Cards Reference API provides access to essential information and resources related to commercial credit card offerings. This API enables users to retrieve details about various credit card products, terms, and conditions. It serves financial institutions, businesses, and developers looking to integrate commercial credit card functionalities into their applications. By utilizing this API, users can enhance their financial services with detailed credit card insights and streamline their open banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/commercial-credit-cards": {
      "get": {
        "tags": [
          "Commercial Credit Cards"
        ],
        "summary": "Retrieve a list of commercial credit cards.",
        "description": "This endpoint allows users to fetch details about available commercial credit cards, including features, benefits, and terms. Ideal for businesses looking to compare options and choose the best fit for their financial needs.",
        "operationId": "getCommercialCreditCards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about commercial credit card options available through the Open Banking API. It allows the client to specify parameters for filtering and acquiring data about different credit card products.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCommercialCreditCardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the commercial credit card data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCommercialCreditCardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCommercialCreditCardsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on commercial credit cards in the Open Banking API.",
        "example": "{}"
      },
      "GetCommercialCreditCardsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "Array of commercial credit card data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-645",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductName": "Northstar Banking Service",
                "ProductType": "STANDARD",
                "ProductSegment": [
                  "STANDARD"
                ],
                "ProductIdentifier": "PROD-996234",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Description": "Customer banking request processed successfully",
                "KeyFeatures": "STANDARD",
                "PaymentHoliday": true,
                "PaymentHolidayDescription": "STANDARD",
                "OtherKeyFeatures": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "Details": {
                  "CCSubType": "STANDARD",
                  "CommercialCreditCardItem": {
                    "StartPromotionOrFutureTerms": "STANDARD",
                    "StopPromotionOrFutureTerms": "STANDARD",
                    "LengthPromotionalInDays": 1,
                    "DateOfChange": "2026-09-15",
                    "MinimumCreditLimit": "STANDARD",
                    "RepaymentFrequency": "STANDARD",
                    "APRRate": "STANDARD",
                    "BalanceTransferInterestRatePeriod": "STANDARD",
                    "PurchaseRate": "STANDARD",
                    "BalanceTransferRate": "STANDARD",
                    "CashAdvanceRate": "STANDARD",
                    "OverLimitFee": "STANDARD",
                    "MaximumNumberOfCardsPermitted": 1
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CommercialCreditCard"
            }
          },
          "metadata": {
            "description": "Additional response metadata including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on commercial credit cards in Open Banking.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-645",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductName": "Northstar Banking Service",
              "ProductType": "STANDARD",
              "ProductSegment": [
                "STANDARD"
              ],
              "ProductIdentifier": "PROD-996234",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Description": "Customer banking request processed successfully",
              "KeyFeatures": "STANDARD",
              "PaymentHoliday": true,
              "PaymentHolidayDescription": "STANDARD",
              "OtherKeyFeatures": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "Details": {
                "CCSubType": "STANDARD",
                "CommercialCreditCardItem": {
                  "StartPromotionOrFutureTerms": "STANDARD",
                  "StopPromotionOrFutureTerms": "STANDARD",
                  "LengthPromotionalInDays": 1,
                  "DateOfChange": "2026-09-15",
                  "MinimumCreditLimit": "STANDARD",
                  "RepaymentFrequency": "STANDARD",
                  "APRRate": "STANDARD",
                  "BalanceTransferInterestRatePeriod": "STANDARD",
                  "PurchaseRate": "STANDARD",
                  "BalanceTransferRate": "STANDARD",
                  "CashAdvanceRate": "STANDARD",
                  "OverLimitFee": "STANDARD",
                  "MaximumNumberOfCardsPermitted": 1
                }
              }
            }
          ],
          "metadata": {
            "responseId": "e29bc9f5-7f5f-5dde-bac6-c9b47dc10186",
            "correlationId": "05b62ff8-b49e-5e7c-8b9b-9dfc527193b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The timestamp of the last update.",
            "example": "2023-10-12T12:34:56Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned in the response.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "Terms of agreement related to the data.",
            "example": "Terms apply."
          },
          "License": {
            "type": "string",
            "description": "License agreement that governs the use of the data.",
            "example": "Open Data License"
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use that apply to the information provided.",
            "example": "User must comply with terms."
          }
        },
        "description": "Meta information pertaining to the response."
      },
      "CommercialCreditCard": {
        "type": "object",
        "properties": {
          "Organisation": {
            "description": "Details about the organization offering the credit card.",
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the credit card product.",
            "example": "Business Platinum Card"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the credit card product.",
            "example": "Commercial"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Array of segments the product targets.",
            "items": {
              "type": "string",
              "example": "Small Business"
            }
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the credit card product.",
            "example": "123456789"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for more information about the credit card product.",
            "items": {
              "type": "string",
              "example": "http://example.com/product-details"
            }
          },
          "Description": {
            "type": "string",
            "description": "Description of the credit card product.",
            "example": "A credit card tailored for business expenses."
          },
          "KeyFeatures": {
            "type": "string",
            "description": "Key features of the credit card product.",
            "example": "Rewards on business purchases"
          },
          "PaymentHoliday": {
            "type": "boolean",
            "description": "Indicates if a payment holiday is available.",
            "example": false
          },
          "PaymentHolidayDescription": {
            "type": "string",
            "description": "Description of the payment holiday feature.",
            "example": "Eligible after 6 months of usage."
          },
          "OtherKeyFeatures": {
            "type": "string",
            "description": "Other significant features of the credit card.",
            "example": "No foreign transaction fees"
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions associated with the credit card product.",
            "items": {
              "type": "string",
              "example": "Late payment fees apply"
            }
          },
          "Details": {
            "description": "Detailed specifications regarding the credit card product.",
            "$ref": "#/components/schemas/CreditCardDetails"
          }
        },
        "description": "Representation of a commercial credit card product."
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "description": "Information about the parent organization.",
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "description": "Branding information for the credit card.",
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Information about the organization offering the credit card."
      },
      "ParentOrganisation": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the parent organization.",
            "example": "1234567890ABCDE"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code of the parent organization.",
            "example": "ABCDEF12"
          },
          "OrganisationName": {
            "description": "The official name of the parent organization.",
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Details about the parent organization managing the branding."
      },
      "OrganisationName": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organization.",
            "example": "Example Corporation"
          }
        },
        "description": "Official naming details of the organization."
      },
      "Brand": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "IPO code for the brand's trademark.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the brand's trademark.",
            "example": "ID12345"
          }
        },
        "description": "Details related to the brand of the credit card."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating this response with its request.",
            "example": "corr_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-12T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response including request identifiers."
      },
      "CreditCardDetails": {
        "type": "object",
        "properties": {
          "CCSubType": {
            "type": "string",
            "description": "Subtype of the credit card.",
            "example": "Corporate"
          },
          "CommercialCreditCardItem": {
            "type": "object",
            "properties": {
              "StartPromotionOrFutureTerms": {
                "type": "string",
                "description": "Start date for promotional terms.",
                "example": "2023-10-01"
              },
              "StopPromotionOrFutureTerms": {
                "type": "string",
                "description": "End date for promotional terms.",
                "example": "2024-10-01"
              },
              "LengthPromotionalInDays": {
                "type": "integer",
                "description": "Duration of promotional period in days.",
                "format": "int32",
                "example": 30
              },
              "DateOfChange": {
                "type": "string",
                "description": "Date when changes take effect.",
                "example": "2023-09-15"
              },
              "MinimumCreditLimit": {
                "type": "string",
                "description": "Minimum credit limit for the credit card.",
                "example": "$5000"
              },
              "RepaymentFrequency": {
                "type": "string",
                "description": "Frequency of repayments.",
                "example": "Monthly"
              },
              "APRRate": {
                "type": "string",
                "description": "Annual Percentage Rate for the credit card.",
                "example": "15.99%"
              },
              "BalanceTransferInterestRatePeriod": {
                "type": "string",
                "description": "Period during which balance transfer interest rates apply.",
                "example": "6 months"
              },
              "PurchaseRate": {
                "type": "string",
                "description": "Interest rate applied to purchases.",
                "example": "15.99%"
              },
              "BalanceTransferRate": {
                "type": "string",
                "description": "Interest rate for balance transfers.",
                "example": "3.00%"
              },
              "CashAdvanceRate": {
                "type": "string",
                "description": "Interest rate for cash advances.",
                "example": "24.99%"
              },
              "OverLimitFee": {
                "type": "string",
                "description": "Fee charged for exceeding the credit limit.",
                "example": "$35"
              },
              "MaximumNumberOfCardsPermitted": {
                "type": "integer",
                "description": "Maximum number of cards permitted under this account.",
                "format": "int32",
                "example": 5
              }
            },
            "description": "Specific items related to the commercial credit card."
          }
        },
        "description": "Details of the credit card specifications."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-commercial-credit-cards"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-commercial-credit-cards"
      },
      "X-Runtime-App": {
        "description": "Name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Tokens). The client must include a valid JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}