{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Creation API",
    "description": "The Merchant Creation API enables businesses to onboard new merchants to their platform efficiently. This endpoint facilitates the seamless submission of merchant details, allowing companies to expand their network of partner merchants quickly. Typically used by e-commerce platforms and payment processors, this API streamlines the merchant registration process, ensuring compliance and proper data capture. It serves as a foundational tool for businesses looking to enhance their merchant services and improve operational agility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants": {
      "post": {
        "tags": [
          "Merchants"
        ],
        "summary": "Create a new merchant.",
        "description": "This endpoint allows the creation of a new merchant in the system. Provide the necessary details for the merchant, and this operation will store the information securely.",
        "operationId": "createMerchant",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new merchant entry in the system. It requires specific information about the merchant, including details such as name, contact information, and address. Ensure that all required fields are populated accurately to avoid errors during processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The merchant resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchantRequest": {
        "type": "object",
        "properties": {
          "business": {
            "description": "Details of the merchant's business entity.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "capabilities": {
            "description": "The capabilities supported by the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "requestContext": {
            "description": "Context related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for creating a merchant.",
        "example": {
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true
          },
          "requestContext": {
            "requestId": "f8c719b6-111a-546d-859e-9b7948a740d1",
            "correlationId": "96f1a97d-cea4-5a70-9037-b8c0411a7dd8",
            "idempotencyKey": "c43dca17-6a2a-5781-8857-8f3dd54073d4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-159881"
            }
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "Acme Corporation"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "Acme Trade Co."
          },
          "registrationNumber": {
            "type": "string",
            "description": "The business registration number.",
            "example": "REG-123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number for the business.",
            "example": "TIN-987654"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "USA"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date the business was incorporated.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "The type of merchant (e.g., retail, service).",
            "example": "Retail"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code.",
            "example": "5722"
          }
        },
        "description": "Information regarding the merchant's business."
      },
      "RegisteredAddress": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "This schema defines the registered address of the merchant."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "contact@acmecorp.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "(123) 456-7890"
          },
          "website": {
            "type": "string",
            "description": "Website URL for the merchant.",
            "example": "https://www.acmecorp.com"
          }
        },
        "description": "Contact information for the merchant."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels the merchant sells through.",
            "items": {
              "type": "string",
              "example": "Online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods accepted by the merchant.",
            "items": {
              "type": "string",
              "example": "Credit Card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture of payments.",
            "example": false
          }
        },
        "description": "Capabilities supported by the merchant."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "key-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "AppX"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-xyz"
          }
        },
        "description": "Information about the channel used for the transaction."
      },
      "CreateMerchantResponse_201": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-721280"
          },
          "business": {
            "$ref": "#/components/schemas/BusinessDetails"
          },
          "registeredAddress": {
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "$ref": "#/components/schemas/ContactDetails"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "$ref": "#/components/schemas/MerchantCapabilities"
          },
          "commercialTerms": {
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a successful merchant creation operation.",
        "example": {
          "merchantId": "MER-721280",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "09f1cfcc-b791-5e33-8d95-662dedb2f644",
            "correlationId": "96f1a97d-cea4-5a70-9037-b8c0411a7dd8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessDetails": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "Legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "Trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Business registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date of incorporation of the business.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code for classification.",
            "example": "string"
          }
        },
        "description": "This schema contains business-related details for the merchant."
      },
      "ContactDetails": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for contacting the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "string"
          }
        },
        "description": "This schema contains the contact details for the merchant."
      },
      "MerchantCapabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Available channels for the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Supported payment methods by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum percentage allowed for tips.",
            "example": "string"
          }
        },
        "description": "This schema represents the capabilities of the merchant."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan associated with the merchant.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees in transactions.",
            "example": "string"
          },
          "paymentFee": {
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "This schema represents the commercial terms associated with the merchant."
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment fee (e.g., fixed, percentage).",
            "example": "string"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee for the transaction.",
            "example": "string"
          },
          "fixedAmount": {
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "This schema provides details about the payment fee structure."
      },
      "FixedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the fixed amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The fixed amount value.",
            "example": "string"
          }
        },
        "description": "This schema represents a fixed amount charged for transactions."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata information related to the merchant operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. This ID can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-merchant"
        },
        "example": "banking-p2m-openapi-create-merchant"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request, providing context about the processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication where the client must include a valid JWT (JSON Web Token) as a bearer token in the authorization header of the request. The token represents the user's identity and access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}