{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Limits API",
    "description": "The Credit Limits API facilitates the retrieval of credit limit information for trade banking customers. This endpoint allows users to access detailed credit limits associated with accounts, helping financial analysts and customer service representatives make informed decisions regarding credit risk and management. Typical consumers include banking personnel and financial institutions looking to assess client creditworthiness. The API ensures that users can efficiently gather necessary financial data to support informed lending and risk assessment activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-limits": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve credit limit details.",
        "description": "This endpoint allows users to retrieve detailed information about credit limits within the trade banking sector. Users can access current limits and related data to inform their banking decisions.",
        "operationId": "getCreditLimits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving credit limits in trade banking. This request should contain necessary parameters in JSON format to specify the details of the credit limit being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditLimitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current credit limits.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditLimitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditLimitsRequest": {
        "type": "string",
        "description": "A request body string for retrieving credit limits in trade banking operations.",
        "example": "{}"
      },
      "GetCreditLimitsResponse_200": {
        "title": "Credit Limits Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit limit items.",
            "example": [
              {
                "corporateCustomerId": "CUST-933142",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-831951",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditLimitItem"
            }
          },
          "pagination": {
            "type": "object",
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "description": "Metadata information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Credit Limits GET operation in the trade banking service.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-933142",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-831951",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "46b5b60a-6484-52c9-b833-051dfeaa1bb5",
            "correlationId": "1a6a7bc9-2a58-51f1-8578-99494f781c81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditLimitItem": {
        "title": "Credit Limit Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "string"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the facility.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty.",
            "example": "string"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "number",
                "description": "The numeric value of the credit limit.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the credit limit amount.",
                "example": "string"
              }
            },
            "description": "The amount of the credit limit along with the currency."
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the credit limit.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual credit limit item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of each page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking and correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "limit-and-exposure-management-search-limit-and-exposure-management"
        },
        "example": "limit-and-exposure-management-search-limit-and-exposure-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. It requires a bearer token, typically a JSON Web Token (JWT), that is included in the Authorization header of the request. This token is used to authenticate and authorize the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}