{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Current Account Information API",
    "description": "The Current Account Information API provides access to detailed information regarding customers' current accounts within the banking system. This API allows authorized users to retrieve account balances, transaction history, and other relevant data essential for account management. Typical consumers include banking applications, financial institutions, and customer service platforms needing to deliver accurate account details to users or clients. This endpoint facilitates efficient banking operations by providing real-time insights into account activities and statuses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve current account details for deposit lending.",
        "description": "This endpoint allows you to fetch the detailed information about a current account in the context of deposit lending. It provides insights into account balances, transaction history, and other pertinent account-related data, facilitating informed decision-making for users engaged in financial activities.",
        "operationId": "getCurrentAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the current account details for deposit lending operations. It specifies the parameters needed to fetch the current account information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrentAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved current account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrentAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "_s_deposit-lending_s_current-account_-_operations_-_get_-_requestbody_-_application_json": {
        "type": "string",
        "description": "This schema represents the request body that is expected for GET operations related to the current account in the deposit lending context.",
        "example": "string"
      },
      "GetCurrentAccountDetailsResponse_200": {
        "title": "Current Account Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of current account operation entries.",
            "example": [
              {
                "customerId": "CUST-388539",
                "accountId": "ACC-593304",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "accountPurpose": "STANDARD",
                "statementFrequency": "STANDARD",
                "overdraftAllowed": true,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrentAccountOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the current account operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for retrieving current account operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-388539",
              "accountId": "ACC-593304",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "accountPurpose": "STANDARD",
              "statementFrequency": "STANDARD",
              "overdraftAllowed": true,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "05b75572-b998-5905-8a46-ba8ce91e3ba5",
            "correlationId": "fae94928-9475-5c11-97e1-8e5fd203df78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrentAccountOperation": {
        "title": "Current Account Operation",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the account.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the account in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the account.",
            "example": "string"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose of the account.",
            "example": "string"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency at which statements are generated for the account.",
            "example": "string"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Flag indicating whether overdraft is allowed on the account.",
            "example": false
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the account record.",
            "example": "string"
          }
        },
        "description": "Detailed information about a specific current account operation."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the money amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the monetary value.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount of money with associated currency."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the API response."
      },
      "GetCurrentAccountDetailsRequest": {
        "type": "string",
        "example": "{}"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-search-current-account"
        },
        "example": "current-account-search-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the HTTP Authorization header. This token should be kept confidential and used to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}