{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Development Strategy Update API",
    "description": "The Business Development Strategy Update API allows organizations to modify their business development strategies effectively. This API primarily manages the updating of various strategic parameters that influence marketing and banking operations. Typical consumers include marketing teams and business analysts seeking to adapt strategies based on current market trends. It supports targeted changes that enhance business initiatives and improve operational outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/business-development/{param1}": {
      "patch": {
        "tags": [
          "Business Development"
        ],
        "summary": "Update business development resource details.",
        "description": "This operation allows you to modify the details of the specified business development resource, identified by RES-100045. It is essential for keeping your resource information up-to-date and relevant to your marketing efforts.",
        "operationId": "patchMarketingBusinessDevelopmentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows for updating specific properties of the business development resource identified by RES-100045. The payload should contain the relevant fields that need to be modified in the existing record. Ensure the attributes conform to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMarketingBusinessDevelopmentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMarketingBusinessDevelopmentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMarketingBusinessDevelopmentRes100045Request": {
        "title": "Marketing Business Development Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "campaignId": {
                "type": "string",
                "description": "The unique identifier for the marketing campaign.",
                "example": "string"
              },
              "targetSegmentId": {
                "type": "string",
                "description": "The unique identifier for the targeted customer segment.",
                "example": "string"
              },
              "channelMix": {
                "type": "array",
                "description": "Array of strings representing the mix of channels to be used in the marketing initiative.",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "description": "Object containing the details of changes requested.",
            "example": {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ]
            }
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the changes are to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to track the request across multiple systems.",
                "example": "corr-67890"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure the request is processed only once.",
                "example": "idempotency-1234"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-09-30T12:34:56Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The name of the originating system for the request.",
                "example": "CRM"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application generating the request.",
                "example": "MarketingTool"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the communication channel.",
                    "example": "channel-001"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of channel (e.g., email, SMS).",
                    "example": "email"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier of the device used to send the request.",
                    "example": "device-1234"
                  }
                },
                "description": "Details regarding the channel used for the request.",
                "example": {
                  "channelId": "channel-001",
                  "channelType": "email",
                  "deviceId": "device-1234"
                }
              }
            },
            "description": "Contextual information regarding the request.",
            "example": {
              "requestId": "5e485d7e-a3fc-5b8d-b8ec-5565b06fc8e6",
              "correlationId": "43482b53-e9df-569b-9e50-8649cdbddb0a",
              "idempotencyKey": "3d01ca72-a45d-5f89-9309-50731d48953f",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-461382"
              }
            }
          },
          "example": {}
        },
        "description": "Schema for updating marketing business development operations through a PATCH request.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5e485d7e-a3fc-5b8d-b8ec-5565b06fc8e6",
            "correlationId": "43482b53-e9df-569b-9e50-8649cdbddb0a",
            "idempotencyKey": "3d01ca72-a45d-5f89-9309-50731d48953f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-461382"
            }
          }
        }
      },
      "PatchMarketingBusinessDevelopmentRes100045Response_200": {
        "title": "Operations Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operations update.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operations were updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operations update.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the structure of the response returned after successfully updating the operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "91f21772-9dcc-51f1-b526-fa6f0b020e31",
            "correlationId": "43482b53-e9df-569b-9e50-8649cdbddb0a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to track the correlation of requests and responses.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the operation took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains various metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-development-update-business-development"
        },
        "example": "business-development-update-business-development"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication scheme utilizing JSON Web Tokens (JWT). Clients must include a valid token in the 'Authorization' header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}