{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Portfolio Management API",
    "description": "The Bank Portfolio Management API facilitates the administration and oversight of banking portfolios. It allows financial institutions to create and manage various portfolio configurations and transactions, ensuring optimal allocation of assets. Typical consumers of this API include bank administrators and financial analysts who require streamlined processes for portfolio adjustments and analytics. This API supports critical operations that enhance treasury management and strategic decision-making in banking environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-administration": {
      "post": {
        "tags": [
          "Bank Portfolio Management"
        ],
        "summary": "Create a new bank portfolio.",
        "description": "This endpoint allows you to create a new bank portfolio within the treasury management system. You can define specific parameters and attributes for the portfolio, which will be stored in the system for tracking and management purposes.",
        "operationId": "createBankPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating bank portfolio administration. This request allows clients to manage bank portfolio configurations effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBankPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "New resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBankPortfolioRequest": {
        "required": [
          "counterpartyId",
          "instrumentId",
          "maturityDate",
          "notionalAmount",
          "portfolioId",
          "requestContext"
        ],
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-928551"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-163973"
          },
          "notionalAmount": {
            "description": "The notional amount associated with the transaction.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the financial instrument matures.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "portfolioId": "PORT-928551",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-163973",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "2ab5bf1e-ebf7-59e4-8f02-c4c5b7554918",
            "correlationId": "d3da7bbb-7313-5c94-bc36-8f8db22446fc",
            "idempotencyKey": "c19a1137-35cc-53e4-9d85-82e90ea2a0c7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-591773"
            }
          }
        }
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the notional amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the notional amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents the notional amount and its currency."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to correlate requests and responses.",
            "example": "correlation-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application from which the request originated.",
            "example": "app-1"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information regarding the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, mobile, web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-1"
          }
        },
        "description": "Represent channel information related to the request."
      },
      "CreateBankPortfolioResponse_201": {
        "title": "Bank Portfolio Administration Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-768086"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument within the portfolio.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-980586"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource linked to this operation.",
            "example": "RES-513891"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation (e.g., 'completed', 'pending').",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the creation of a bank portfolio administration operation.",
        "example": {
          "portfolioId": "PORT-768086",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-980586",
          "resourceId": "RES-513891",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4835d3fa-b7ba-585b-ae8f-554203167ee7",
            "correlationId": "d3da7bbb-7313-5c94-bc36-8f8db22446fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-890"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was conducted.",
            "example": "US-East"
          }
        },
        "description": "This schema represents additional metadata information related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-administration-create-bank-portfolio-administration"
        },
        "example": "bank-portfolio-administration-create-bank-portfolio-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of their requests. This token allows secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}