{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Consumer Profile API",
    "description": "The Update Consumer Profile API allows businesses to modify existing consumer details within the system. By providing the consumer ID, users can update personal information and preferences, thereby improving consumer engagement and service customization. This API is primarily utilized by customer service teams and account managers who require up-to-date consumer data for interactions and follow-ups. Efficiently managing consumer information enhances overall operational effectiveness and supports targeted marketing efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}": {
      "put": {
        "tags": [
          "Consumer Management"
        ],
        "summary": "Update Consumer Details",
        "description": "This endpoint allows you to update the details of a specific consumer identified by their unique resource identifier. Ensure that all required fields are included in the request body to successfully update the consumer information.",
        "operationId": "updateConsumerRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the details of a consumer identified by the specified resource ID. The request body must contain updated information in JSON format for the consumer identified by 'RES-100045'.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConsumerRes100045Request"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully, no content returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateConsumerRes100045Response_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateConsumerRes100045Request": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Northstar Banking Service"
          },
          "address": {
            "type": "string",
            "description": "The street address of the consumer.",
            "example": "STANDARD"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "New York"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "STANDARD"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the consumer's address.",
            "example": "STANDARD"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "+1-212-555-0147"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "birthday": {
            "description": "The birth date of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "olivia.bennett@northstar.example"
          },
          "suffix": {
            "type": "string",
            "description": "The suffix for the consumer's name (e.g., Jr., Sr.).",
            "example": "STANDARD"
          },
          "endUser": {
            "description": "Information regarding the end user associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating consumer information.",
        "example": {
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "address": "STANDARD",
          "city": "New York",
          "state": "STANDARD",
          "zip": "STANDARD",
          "phone": "+1-212-555-0147",
          "ssn": "STANDARD",
          "birthday": {
            "year": 1,
            "month": 1,
            "dayOfMonth": 1
          },
          "email": "olivia.bennett@northstar.example",
          "suffix": "STANDARD",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "requestId": "dc9282cb-b89b-5bdb-a2e8-098eb83c3d13",
            "correlationId": "439493d1-47dc-5eb3-ac1e-f2b90718cb74",
            "idempotencyKey": "99012c40-7136-5d59-a803-efe38308817e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-212275"
            }
          }
        }
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "The year of birth.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "The month of birth (1-12).",
            "format": "int32",
            "example": 5
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "The day of the month of birth (1-31).",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing a person's birthday information."
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "Jane Smith"
          },
          "address": {
            "type": "string",
            "description": "The street address of the end user.",
            "example": "456 South St"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the end user's address.",
            "example": "10001"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "(987) 654-3210"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "jane.smith@example.com"
          }
        },
        "description": "Schema representing information about the end user."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests across systems.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to identify idempotent requests.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "ConsumerApp"
          },
          "channel": {
            "description": "Details about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the communication channel for the request."
      },
      "UpdateConsumerRes100045Response_204": {
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations PUT request.",
        "example": {
          "metadata": {
            "responseId": "148e8762-ef4b-5f88-bc66-bcbba8ca3086",
            "correlationId": "439493d1-47dc-5eb3-ac1e-f2b90718cb74",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request through systems.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where processing took place.",
            "example": "us-west"
          }
        },
        "description": "Detailed metadata about the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-modify-consumer"
        },
        "example": "open-finance-api-modify-consumer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with JSON Web Tokens (JWT). The client must include a valid JWT in the 'Authorization' header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}