{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Collections API",
    "description": "The Manage Collections API enables businesses to modify existing collections in their collateral management systems. With the PATCH operation, users can update details related to a specific collection identified by its unique collectionId. This API is essential for financial institutions and organizations that need to maintain accurate collateral records. Typical consumers include banking professionals and system integrators who manage asset-backed securities and collateral transactions. Streamlining and customizing collection data is crucial for compliance and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections/{collectionId}": {
      "patch": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Update Collateral Collection",
        "description": "This operation allows the user to update the details of a specific collateral collection identified by RES-100045. Ensure all required fields are provided to successfully execute the update.",
        "operationId": "updateCollateralCollectionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specified collateral administration collection with the given identifier. It should contain the necessary fields to modify the existing collection properties according to the requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCollateralCollectionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully completed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCollateralCollectionRes100045Response_200"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred while processing the request.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCollateralCollectionRes100045Response_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be followed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCollateralCollectionRes100045Response_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCollateralCollectionRes100045Response_200": {
        "title": "Patch Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a PATCH operation in the collateral administration collections API.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f2410886-1f1b-5fe3-9985-f9a07893f136",
            "correlationId": "68d80adc-3656-5bc0-b66b-963644d8b735",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate logs and events across services.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata for the operation response."
      },
      "UpdateCollateralCollectionRes100045Response_500": {
        "title": "Operation Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A detailed message explaining the error that occurred.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "A string representing the name or context of the workflow where the error occurred.",
            "example": "WF-036"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer indicating the hop index after which the operation failed.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema represents the error response returned when a PATCH operation fails. It contains details such as error code, message, the workflow context, and the hop after which the failure occurred.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-036",
          "failedAfterHop": 3
        }
      },
      "UpdateCollateralCollectionRes100045Request": {
        "title": "Patch Request Body for Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the collateral changes requested.",
            "$ref": "#/components/schemas/CollateralChange"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a PATCH operation in the collateral administration process. It includes details on changes to collateral, along with the request context.",
        "example": {
          "changes": {
            "collateralId": "STANDARD",
            "partyId": "PARTY-341547",
            "assetType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b22e86cf-8e8f-55ff-9f34-ce35a09e0193",
            "correlationId": "68d80adc-3656-5bc0-b66b-963644d8b735",
            "idempotencyKey": "05e143c8-f9cb-5954-8908-1f6e5409f841",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-119252"
            }
          }
        }
      },
      "CollateralChange": {
        "title": "Collateral Change Details",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral being changed.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the collateral.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset associated with the collateral.",
            "example": "string"
          }
        },
        "description": "Schema for the details of changes to collateral."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests through the system.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of repeated requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Schema for contextual information regarding the request."
      },
      "ChannelInformation": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema for information regarding the channel used for the request."
      },
      "UpdateCollateralCollectionRes100045Response_422": {
        "title": "Patch Operation Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the specific error that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request across systems.",
            "example": "f098ec37-88a6-4451-a431-bcb076a1082c"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message that provides additional details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Information about the state of the workflow at the time of the error.",
            "example": "WF-036"
          }
        },
        "description": "This schema represents the error response structure returned when a PATCH operation encounters an error in the collateral administration collections service.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "f098ec37-88a6-4451-a431-bcb076a1082c",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-036"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-036"
        },
        "example": "WF-036"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a4312cc5-8429-4f56-b17d-b64db7d814c1"
        },
        "example": "a4312cc5-8429-4f56-b17d-b64db7d814c1"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8dd953ee-074e-4f19-a1fe-84f848e88dba"
        },
        "example": "8dd953ee-074e-4f19-a1fe-84f848e88dba"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-update-collections"
        },
        "example": "collections-update-collections"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier that represents the workflow for which the error occurred, useful for debugging and resolving issues related to the specified request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-036"
        },
        "example": "WF-036"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Loan Repayment and Delinquency Handling"
        },
        "example": "Loan Repayment and Delinquency Handling"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "893ff5c0-807c-4ca4-ab80-a67023d80d5f"
        },
        "example": "893ff5c0-807c-4ca4-ab80-a67023d80d5f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is used to verify the identity of the user. Clients must include the token in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}