{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Owner Verification Matching API",
    "description": "The Account Owner Verification Matching API facilitates the verification process for account ownership, ensuring secure and compliant identification of customers. By submitting a request with specific customer and account identifiers, businesses can accurately match account details to the respective owners. This API is particularly valuable for financial institutions and service providers that need to validate customer accounts during onboarding or transactions. Typical consumers include compliance teams, risk management, and customer service units seeking to enhance fraud prevention measures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/account-owner-verification-matchings/customers/{customerId}/accounts/{accountId}": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new account for a specified customer.",
        "description": "This endpoint allows you to create a new account associated with a specific customer identified by their customer ID. It requires the necessary account details to be provided in the request body, ensuring that the account is set up correctly in the system.",
        "operationId": "createAccountForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This POST request creates a new account for the specified customer. The body of the request must include all necessary information to successfully create the account, as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the updated resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountForCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "string",
            "description": "The name of the owner associated with the account.",
            "example": "Northstar Banking Service"
          },
          "name": {
            "$ref": "#/components/schemas/FullName"
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the account owner.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the account owner.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating account operations.",
        "example": {
          "ownerName": "Northstar Banking Service",
          "name": {
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "suffix": "STANDARD"
          },
          "address": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "line3": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "country": "STANDARD",
            "postalCode": "10001",
            "type": "STANDARD"
          },
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "757ab06a-e79d-504c-8b5c-86559548a810",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "idempotencyKey": "7506908b-a065-5b90-b0d9-048d56db3197",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-802972"
            }
          }
        }
      },
      "FullName": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "The first name of the person.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the person.",
            "example": "Michael"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the person.",
            "example": "Doe"
          },
          "suffix": {
            "type": "string",
            "description": "Any suffix related to the person's name, such as Jr., Sr., etc.",
            "example": "Jr."
          }
        },
        "description": "Represents the full name of a person."
      },
      "Address": {
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "The full owner address."
          },
          "line1": {
            "type": "string",
            "description": "Address line 1."
          },
          "line2": {
            "type": "string",
            "description": "Address line 2."
          },
          "line3": {
            "type": "string",
            "description": "Address line 3."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "type": {
            "type": "string",
            "description": "Type of the address (e.g., home, work)."
          },
          "addressScores": {
            "$ref": "#/components/schemas/AddressScores"
          }
        },
        "description": "Represents an address associated with an account holder."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "corr-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate operations.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that originated the request.",
            "example": "Customer Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application used to make the request.",
            "example": "Web Portal"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Represents the channel through which the request was made."
      },
      "CreateAccountForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "A list of holders associated with the account.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameScores": {
                  "ownerName": 1,
                  "firstName": 1,
                  "middleName": 1,
                  "lastName": 1,
                  "suffix": 1
                },
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "country": "STANDARD",
                    "postalCode": "10001",
                    "type": "STANDARD",
                    "addressScores": {
                      "ownerAddress": 1,
                      "type": 1,
                      "line1": 1,
                      "line2": 1,
                      "line3": 1,
                      "city": 1,
                      "country": 1,
                      "postalCode": 1,
                      "state": 1
                    }
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example",
                    "cores": {
                      "email": 1
                    }
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response of the POST operation for a specific account including customer holders and metadata.",
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameScores": {
                "ownerName": 1,
                "firstName": 1,
                "middleName": 1,
                "lastName": 1,
                "suffix": 1
              },
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001",
                  "type": "STANDARD",
                  "addressScores": {
                    "ownerAddress": 1,
                    "type": 1,
                    "line1": 1,
                    "line2": 1,
                    "line3": 1,
                    "city": 1,
                    "country": 1,
                    "postalCode": 1,
                    "state": 1
                  }
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example",
                  "cores": {
                    "email": 1
                  }
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "d5cbf397-f8e1-5f08-9209-ee4f9df3f8ea",
            "correlationId": "bd94e65e-ef9f-5d5a-94a3-d41cd50cdade",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Holder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship type of the holder with the account."
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the owner."
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the owner."
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the owner."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the owner."
          },
          "suffix": {
            "type": "string",
            "description": "The suffix for the owner's name, if applicable."
          },
          "nameScores": {
            "$ref": "#/components/schemas/NameScores"
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the name."
          },
          "nameClassificationconfidencescore": {
            "type": "integer",
            "description": "Confidence score for the name classification.",
            "format": "int32"
          },
          "addresses": {
            "type": "array",
            "description": "List of addresses associated with the holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "List of email addresses associated with the holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          }
        },
        "description": "Represents an account holder's details."
      },
      "NameScores": {
        "type": "object",
        "properties": {
          "ownerName": {
            "type": "integer",
            "description": "Score for the owner name.",
            "format": "int32"
          },
          "firstName": {
            "type": "integer",
            "description": "Score for the first name.",
            "format": "int32"
          },
          "middleName": {
            "type": "integer",
            "description": "Score for the middle name.",
            "format": "int32"
          },
          "lastName": {
            "type": "integer",
            "description": "Score for the last name.",
            "format": "int32"
          },
          "suffix": {
            "type": "integer",
            "description": "Score for the suffix.",
            "format": "int32"
          }
        },
        "description": "Scores for various name components."
      },
      "AddressScores": {
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "integer",
            "description": "Score for the owner address.",
            "format": "int32"
          },
          "type": {
            "type": "integer",
            "description": "Score for the type of address.",
            "format": "int32"
          },
          "line1": {
            "type": "integer",
            "description": "Score for address line 1.",
            "format": "int32"
          },
          "line2": {
            "type": "integer",
            "description": "Score for address line 2.",
            "format": "int32"
          },
          "line3": {
            "type": "integer",
            "description": "Score for address line 3.",
            "format": "int32"
          },
          "city": {
            "type": "integer",
            "description": "Score for the city.",
            "format": "int32"
          },
          "country": {
            "type": "integer",
            "description": "Score for the country.",
            "format": "int32"
          },
          "postalCode": {
            "type": "integer",
            "description": "Score for the postal code.",
            "format": "int32"
          },
          "state": {
            "type": "integer",
            "description": "Score for the state.",
            "format": "int32"
          }
        },
        "description": "Scores for various address components."
      },
      "Email": {
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates whether this email is the primary email address."
          },
          "email": {
            "type": "string",
            "description": "The email address."
          },
          "emailType": {
            "type": "string",
            "description": "The type of the email (e.g., personal, work)."
          },
          "cores": {
            "$ref": "#/components/schemas/EmailCores"
          }
        },
        "description": "Represents an email address associated with an account holder."
      },
      "EmailCores": {
        "type": "object",
        "properties": {
          "email": {
            "type": "integer",
            "description": "Core score for the email.",
            "format": "int32"
          }
        },
        "description": "Cores associated with the email."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-account-matching-score-details"
        },
        "example": "open-finance-api-account-matching-score-details"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses JWT (JSON Web Token) for securing API endpoints. Client applications must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}