{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Management API",
    "description": "The Loan Management API provides access to comprehensive loan data, allowing users to retrieve detailed information about various loans. This API facilitates inquiries about loan terms, interest rates, repayment schedules, and borrower information. Typical consumers of this API include financial institutions, loan processors, and developers creating financial applications who require integration with loan management systems. By leveraging this API, businesses can streamline their loan management processes and enhance customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "get": {
        "tags": [
          "Loans Management"
        ],
        "summary": "Retrieve a list of loans.",
        "description": "This endpoint allows you to fetch all available loans from the database. You can use various query parameters to filter the results based on your requirements.",
        "operationId": "getLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for the GET operation on loans, specifying the parameters and filters for retrieving loan information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of loans.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoansRequest": {
        "type": "string",
        "description": "The request body for retrieving loan operations in JSON format.",
        "example": "{}"
      },
      "GetLoansResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of loan items.",
            "example": [
              {
                "sourceApplicationId": "APP-926194",
                "productId": "PROD-206878",
                "primaryCustomerId": "CUST-203196",
                "borrowerCustomerIds": [
                  "CUST-854121"
                ],
                "principal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "interestRateType": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "bookingDate": "2026-09-15",
                "firstPaymentDate": "2026-09-15",
                "maturityDate": "2026-09-15",
                "repaymentAccountNumber": "STANDARD",
                "servicingBranchCode": "CODE-906",
                "relationshipManagerId": "STANDARD",
                "purpose": "STANDARD",
                "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
                "accountNumber": "STANDARD",
                "status": "ACTIVE",
                "balance": {
                  "principalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "accruedInterest": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalOutstanding": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "availableToDraw": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                },
                "totalDisbursed": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalRepaid": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET loans operation.",
        "example": {
          "items": [
            {
              "sourceApplicationId": "APP-926194",
              "productId": "PROD-206878",
              "primaryCustomerId": "CUST-203196",
              "borrowerCustomerIds": [
                "CUST-854121"
              ],
              "principal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "interestRateType": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "bookingDate": "2026-09-15",
              "firstPaymentDate": "2026-09-15",
              "maturityDate": "2026-09-15",
              "repaymentAccountNumber": "STANDARD",
              "servicingBranchCode": "CODE-906",
              "relationshipManagerId": "STANDARD",
              "purpose": "STANDARD",
              "id": "e94ffb04-7afb-daf7-c26a-299b0e64143c",
              "accountNumber": "STANDARD",
              "status": "ACTIVE",
              "balance": {
                "principalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "accruedInterest": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalOutstanding": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "availableToDraw": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              },
              "totalDisbursed": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalRepaid": {
                "currency": "USD"
              }
            }
          ],
          "metadata": {
            "responseId": "7cbf7ea1-597a-5310-bf13-b6bacffc521c",
            "correlationId": "bcb866cd-0a87-53e8-a7f1-80e0989f5c4a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanItem": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the application that sourced the loan."
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the loan product."
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer associated with the loan."
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrower customers.",
            "items": {
              "type": "string",
              "description": "Identifier for a borrower customer."
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate for the loan in percentage."
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applicable to the loan."
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the loan."
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked."
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first repayment."
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures."
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number for loan repayments."
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Branch code for servicing the loan."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the loan."
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for taking the loan."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan."
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan."
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan."
          },
          "balance": {
            "description": "Current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "totalRepaid": {
            "description": "Total amount repaid for the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          }
        },
        "description": "Details of an individual loan."
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR)."
          },
          "amount": {
            "type": "string",
            "description": "Amount in the specified currency."
          }
        },
        "description": "Represents a monetary amount."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "accruedInterest": {
            "description": "Accrued interest on the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "feesOutstanding": {
            "description": "Outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties on the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount of the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "availableToDraw": {
            "description": "Total amount available to draw on the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          }
        },
        "description": "Balance details of a loan."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loans"
        },
        "example": "banking-loans-openapi-list-loans"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, aiding in the identification of the source service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header. It is commonly used for securing APIs and allows for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}