{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Management API",
    "description": "The Loan Application Management API provides tools for updating existing loan applications in the system. This endpoint allows users to submit changes to specific loan application details, enhancing operational efficiency and accuracy. Financial institutions and service providers can utilize this API to streamline the management of loan applications and ensure that the latest information is reflected in their systems. Typical use cases include modifying borrower information, adjusting loan terms, or correcting application details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update Loan Application",
        "description": "This endpoint allows you to update the details of an existing loan application identified by the specified unique ID. Make sure to provide all necessary information in the request body to ensure a successful update.",
        "operationId": "updateLoanApplication_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan application with the specified ID. Provide the necessary data for the update in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplication_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the loan application has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplication_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplication_res100045Request": {
        "title": "Loan Application Request",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the product for the loan.",
            "example": "PROD-427579"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application is submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the purpose of the loan.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The customer's preferred day of the month for repayments.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer applying for the loan.",
            "example": "CUST-162720"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the loan application is being processed.",
            "example": "CODE-989"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with the loan application.",
            "example": "CODE-967"
          },
          "customerConsent": {
            "description": "Consent details from the customer regarding data processing and credit bureau checks.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "description": "Details about the context of the request for auditing and tracking.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a loan application request.",
        "example": {
          "productId": "PROD-427579",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-162720",
          "branchCode": "CODE-989",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-967",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "b14f177e-adde-58db-8cca-ef218dd1a629",
            "correlationId": "a0681006-b31e-5919-ad16-b91ca86d5e6a",
            "idempotencyKey": "a913b840-60f8-5f03-898c-91af6a2c582a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-465688"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested principal amount.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The requested principal amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the requested loan principal amount."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has given consent for credit bureau checks.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has consented to data processing.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer has agreed to receive marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp of when the consent was given.",
            "example": "string"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference identifier for the consent.",
            "example": "string"
          }
        },
        "description": "Schema representing customer consent information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "correlation-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is idempotent.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system from where the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that initiated the request.",
            "example": "appB"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema containing context information about the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device from which the request is made.",
            "example": "device-456"
          }
        },
        "description": "Schema representing details about the channel used for submitting the request."
      },
      "UpdateLoanApplication_res100045Response_200": {
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The identifier of the loan product.",
            "example": "PROD-736272"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested for the loan.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer for the loan application.",
            "example": "CUST-525316"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch processing the application.",
            "example": "CODE-281"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The marketing campaign code associated with the application.",
            "example": "CODE-717"
          },
          "customerConsent": {
            "description": "Consent from the customer regarding data processing and credit checks.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "31b32c11-02ef-d783-b961-66d9f88aca8a"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number assigned for tracking.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp indicating when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp indicating when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The identifier for the booked loan, if applicable.",
            "example": "LOAN-957750"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The completion percentage of the application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of outstanding requirements for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information related to the loan application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for loan application operations.",
        "example": {
          "productId": "PROD-736272",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-525316",
          "branchCode": "CODE-281",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-717",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "31b32c11-02ef-d783-b961-66d9f88aca8a",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-957750",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "e108c7d8-40fa-5359-97b1-96c6b3807a1f",
            "correlationId": "a0681006-b31e-5919-ad16-b91ca86d5e6a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code associated with the outstanding requirement.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the outstanding requirement.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the requirement.",
            "example": "string"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for fulfilling the requirement.",
            "example": "string"
          }
        },
        "description": "Schema representing an outstanding requirement for the loan application."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the application was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the application.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the application was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the application.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan application.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing audit information for the loan application."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-application"
        },
        "example": "banking-loans-openapi-replace-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses bearer tokens as a means of authorization. Clients must include a valid JWT (JSON Web Token) in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}