{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Technology Standards Management API",
    "description": "The Technology Standards Management API enables organizations to update and manage their technology standards effectively. Through this endpoint, users can modify existing standards to ensure they meet evolving business requirements and compliance needs. This API is particularly valuable for IT management teams and technology governance stakeholders who require an efficient way to keep their standards up-to-date. Seamlessly integrate this API into your workflows to enhance organizational agility and maintain best practices in technology deployment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards/{param1}": {
      "patch": {
        "tags": [
          "Technology Standards"
        ],
        "summary": "Update the technology standard details.",
        "description": "This operation allows users to update specific details of the technology standard identified by RES-100045. Providing the necessary fields in the request body will modify the existing state of the resource.",
        "operationId": "updateTechnologyStandardRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Provides the details required to update the technology standards associated with the resource identifier RES-100045. Ensure to specify the fields that need to be modified in the JSON object provided within the request body.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTechnologyStandardRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTechnologyStandardRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTechnologyStandardRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes being requested in the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the PATCH request body to update technology standards operations.",
        "example": {
          "changes": {
            "policyId": "STANDARD",
            "title": "Banking operation completed",
            "ownerTeam": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "83c58605-125e-52ff-a120-7d73b8b07ef8",
            "correlationId": "77be7b3f-dd23-51cc-afe0-1d7fd86d8b80",
            "idempotencyKey": "46781b7e-83a6-5120-a80a-ea0868e6e407",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702802"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "Identifier for the policy being changed.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Title of the policy being changed.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the policy.",
            "example": "string"
          }
        },
        "description": "Schema representing the changes to be made."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details regarding the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "string"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateTechnologyStandardRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response object.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3885b397-3c5e-58a9-a230-f12b368e764a",
            "correlationId": "77be7b3f-dd23-51cc-afe0-1d7fd86d8b80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, allowing for easy tracking and reference in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-update-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-update-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens. This scheme requires clients to send a JSON Web Token (JWT) in the `Authorization` header of the request. The server uses the JWT to verify the identity and claims of the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}