{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Assurance Assessment Submission API",
    "description": "The Systems Assurance Assessment Submission API allows businesses to submit assessments related to IT management systems assurance. This API streamlines the process of assessment creation, enabling users to efficiently document and manage their evaluations within the banking sector. Typical consumers of this API include IT managers and compliance officers who need to ensure systems meet regulatory and operational standards. By providing a structured submission process, the API supports organizations in maintaining high levels of assurance and continuous improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance/assessments": {
      "post": {
        "tags": [
          "Systems Assurance"
        ],
        "summary": "Create a new Systems Assurance Assessment.",
        "description": "This endpoint allows users to create a new assessment within the Systems Assurance framework of IT Management. Use this API to submit necessary data for the assessment and receive confirmation of its successful creation.",
        "operationId": "createSystemsAssuranceAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to submit a new assessment in the systems assurance management section. The payload should contain all necessary information required to create the assessment, adhering to the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemsAssuranceAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the assessment data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemsAssuranceAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSystemsAssuranceAssessmentRequest": {
        "title": "Systems Assurance Request Body",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Identifier for the system being assessed.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "Deployment environment of the system (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change related to this assessment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Planned date and time for the assessment in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier of the system (e.g., Gold, Silver, Bronze).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system in ISO 8601 format.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a systems assurance assessment.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "5bf3bae2-1ef4-540f-a793-1f8c42f1a288",
            "correlationId": "d12474cb-c52f-5977-ab58-5bd4f2651025",
            "idempotencyKey": "9360c4fa-bec3-5433-8a34-fb80d49d45f2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-750700"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and requests.",
            "example": "correlation-101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idempotency-202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "source-system-303"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "source-app-404"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual metadata for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-505"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-606"
          }
        },
        "description": "Information related to the communication channel used for the request."
      },
      "CreateSystemsAssuranceAssessmentResponse_200": {
        "title": "Assessment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier of the system being assessed.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The unique identifier for the change related to this assessment.",
            "example": "STANDARD"
          },
          "assessmentId": {
            "type": "string",
            "description": "The unique identifier for the assessment.",
            "example": "STANDARD"
          },
          "outcome": {
            "type": "string",
            "description": "The outcome of the assessment.",
            "example": "STANDARD"
          },
          "score": {
            "type": "integer",
            "description": "Numeric score reflecting the assessment result.",
            "format": "int32",
            "example": 1
          },
          "assessedAt": {
            "type": "string",
            "description": "Timestamp when the assessment was conducted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/AssessmentMetadata"
          }
        },
        "description": "Schema representing the response of an assessment for a system.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "assessmentId": "STANDARD",
          "outcome": "STANDARD",
          "score": 1,
          "assessedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "4d6779dd-db2d-575f-88f3-ea6c24e84d4b",
            "correlationId": "d12474cb-c52f-5977-ab58-5bd4f2651025",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AssessmentMetadata": {
        "title": "Assessment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-101112"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this assessment with other transactions.",
            "example": "correlation-131415"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the assessment was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional information related to the assessment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-assure-systems-assurance"
        },
        "example": "systems-assurance-assure-systems-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme that uses bearer tokens for authentication. Clients can authenticate themselves using a JSON Web Token (JWT), which should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}