{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Management API",
    "description": "The Investment Portfolio Management API enables users to effectively manage their investment portfolios through various services. This API facilitates the creation and adjustment of investment portfolios, allowing users to tailor their assets according to individual financial goals. Typical consumers include financial advisors, investment firms, and personal investors seeking to optimize their investment strategies. With functionalities designed to enhance investment decision-making, this API supports the dynamic needs of today's financial landscape.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Create a new investment portfolio.",
        "description": "This endpoint allows the user to create a new investment portfolio by providing the necessary investment details. Make sure to include all required fields for a successful portfolio creation.",
        "operationId": "createInvestmentPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the creation or management of an investment portfolio. Ensure that all required fields are filled out according to the investment management schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new investment portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentPortfolioRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the investment portfolio.",
            "example": "PORT-434027"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "The unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-864546"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective for this investment portfolio, e.g., growth, income.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the investment portfolio, e.g., conservative, aggressive.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency in which the portfolio is denominated.",
            "example": "USD"
          },
          "requestContext": {
            "description": "Information regarding the context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "portfolioId": "PORT-434027",
          "investmentAccountId": "ACC-864546",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "560ffc4e-1376-592d-9929-4f7168b9dc43",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "idempotencyKey": "769d1398-9b0d-5709-b1f4-fd1476696839",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-890236"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that tracks the request across systems.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "idempotent-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "app-B"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains information related to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-456"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, e.g., web, mobile.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-789"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "CreateInvestmentPortfolioResponse_201": {
        "title": "Investment Portfolio Management Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the investment portfolio.",
            "example": "PORT-485210"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the associated investment account.",
            "example": "ACC-969087"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource being managed.",
            "example": "RES-963975"
          },
          "status": {
            "type": "string",
            "description": "Current status of the investment portfolio operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the investment portfolio was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a successful investment portfolio management operation.",
        "example": {
          "portfolioId": "PORT-485210",
          "investmentAccountId": "ACC-969087",
          "resourceId": "RES-963975",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c6d019c5-feff-5a4d-9825-5d55a9239a00",
            "correlationId": "f9dffaa1-465b-5089-889b-b5de21668f07",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation-xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema represents additional metadata information related to the investment portfolio response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being requested. This helps in tracking the specific API endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-create-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-create-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application runtime that processed the request, useful for identifying the environment in which the API is running.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically JSON Web Tokens (JWT). Clients must include the JWT in the HTTP Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}