{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reward Detail Retrieval API",
    "description": "The Reward Detail Retrieval API allows users to access detailed information about specific rewards within the banking operational services. This endpoint is geared towards developers who need to integrate reward data into their applications or services. By using the unique reward identifier, consumers can retrieve essential attributes such as the reward type, eligibility criteria, and expiration dates. Typical use cases include enhancing customer engagement through personalized offers or maintaining accurate records of reward entitlements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/rewards/{rewardId}": {
      "get": {
        "tags": [
          "Rewards Management"
        ],
        "summary": "Retrieve reward details by ID",
        "description": "Fetches the details of a specific reward using its unique identifier. This endpoint allows you to access important information related to the reward, including its attributes and status.",
        "operationId": "getRewardsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve rewards associated with the specified operational service. It requires the appropriate schema to ensure that all necessary parameters are included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRewardsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRewardsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRewardsByIdRequest": {
        "type": "string",
        "description": "Request body schema for the GET operation in the rewards service.",
        "example": "{}"
      },
      "GetRewardsByIdResponse_200": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "The unique identifier for the loyalty account.",
            "example": "ACC-959048"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-467208"
          },
          "activityType": {
            "type": "string",
            "description": "The type of activity that generated this reward.",
            "example": "STANDARD"
          },
          "points": {
            "type": "integer",
            "description": "The number of points awarded for the activity.",
            "format": "int32",
            "example": 1
          },
          "partnerCode": {
            "type": "string",
            "description": "The code representing the partner associated with the activity.",
            "example": "CODE-861"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the reward record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the reward entry.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to this reward record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response generated.",
                "example": "RESP123456"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier to correlate requests and responses across services.",
                "example": "CORR123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the reward record was generated.",
                "example": "2023-10-01T11:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the reward was processed.",
                "example": "US-EAST"
              }
            },
            "description": "Metadata related to the reward processing.",
            "example": {
              "responseId": "a9d576f2-de49-5b50-8624-2f23a47da847",
              "correlationId": "c67143ea-9cc5-5257-ae53-8b13d9efe92f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving operational service rewards.",
        "example": {
          "loyaltyAccountId": "ACC-959048",
          "customerId": "CUST-467208",
          "activityType": "STANDARD",
          "points": 1,
          "partnerCode": "CODE-861",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a9d576f2-de49-5b50-8624-2f23a47da847",
            "correlationId": "c67143ea-9cc5-5257-ae53-8b13d9efe92f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
        },
        "example": "reward-points-awards-and-redemption-get-reward-points-awards-and-redemption"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically in the JWT (JSON Web Token) format. Clients must include a valid token in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}