{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Strategy API",
    "description": "The Product Strategy API provides insights and data regarding the strategic direction of banking products. It allows users to access vital information regarding the performance and positioning of various products within the market. This API is primarily targeted towards product managers and analysts who want to review and assess the effectiveness of current product strategies. By leveraging this API, businesses can make informed decisions to optimize their product offerings and align them with market trends and customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy": {
      "get": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Retrieve the product strategy details.",
        "description": "This endpoint allows developers to access the current product strategy defined for the business. It provides insights into product focus, target markets, and strategic objectives.",
        "operationId": "getProductStrategy",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body containing parameters for retrieving product strategy information. This payload should conform to the specified JSON schema to ensure correct handling of data during the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductStrategyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product strategy information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductStrategyResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductStrategyRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving product strategy operations.",
        "example": "{}"
      },
      "GetProductStrategyResponse_200": {
        "title": "Product Strategy Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product strategy initiatives.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductStrategyInitiative"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Product Strategy GET operation, containing a list of items and pagination details.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "574bad1e-64ec-5bdf-b4c0-91c9d2311e91",
            "correlationId": "0ecb8de0-b648-5089-8ca1-f5d6021c8903",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductStrategyInitiative": {
        "title": "Product Strategy Initiative",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative."
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative."
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative."
          },
          "targetDate": {
            "type": "string",
            "description": "The target date for the initiative."
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative."
          },
          "recordStatus": {
            "type": "string",
            "description": "Record status of the initiative."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the initiative was last updated."
          }
        },
        "description": "Schema representing an individual product strategy initiative."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema containing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-search-products-and-services-direction"
        },
        "example": "products-and-services-direction-search-products-and-services-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer token format, specifically a JSON Web Token (JWT), to provide secure access to the API. The token should be provided in the `Authorization` header of the request as 'Bearer {token}'. Ensure that the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}