{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Recruitment Update API",
    "description": "The Recruitment Update API allows organizations to modify existing recruitment records efficiently. This API is designed for updating details such as candidate information, job postings, and interview schedules associated with a specific recruitment process. It is primarily utilized by HR professionals and recruitment teams to streamline their hiring processes. By leveraging this API, businesses can ensure that their recruitment data is current and accurate, improving overall hiring efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment/{recruitmentId}": {
      "patch": {
        "tags": [
          "Recruitment Management"
        ],
        "summary": "Update Recruitment Resource",
        "description": "This operation allows for the modification of an existing recruitment resource, enabling updates to attributes and status as needed.",
        "operationId": "updateRecruitmentResource",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the recruitment process identified by RES-100045. You can modify various attributes related to the recruitment record based on the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRecruitmentResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The update was successful and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRecruitmentResourceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateRecruitmentResourceRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made in the recruitment process.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being made.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A schema representing the request body for the PATCH operation on recruitment operations.",
        "example": {
          "changes": {
            "requisitionId": "STANDARD",
            "positionTitle": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "58bdef74-4c19-5d85-82d8-ad2eff5e5380",
            "correlationId": "34989f77-2a0e-550c-971f-bc2fcfba4746",
            "idempotencyKey": "f85e23df-98c2-5de4-9e89-0a358a08f72b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-880787"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the requisition.",
            "example": "REQ-1234"
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position being modified.",
            "example": "Software Engineer"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the position.",
            "example": "DEP-5678"
          }
        },
        "description": "An object containing various changes in the recruitment process."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-9876"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "CORR-5432"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "IDEMP-1111"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T08:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Indicates the system from which the request originated.",
            "example": "HR System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "HR Management App"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object providing additional context for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "CHAN-1234"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE-5678"
          }
        },
        "description": "An object containing information about the communication channel of the request."
      },
      "UpdateRecruitmentResourceResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b20b751b-5d38-5ac8-8ef9-0e8d91f88b34",
            "correlationId": "34989f77-2a0e-550c-971f-bc2fcfba4746",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was made, allowing for tracking and management of API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-update-recruitment"
        },
        "example": "recruitment-update-recruitment"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which this operation was executed, useful for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method using JSON Web Tokens (JWT). These tokens must be included in the Authorization header of HTTP requests to authenticate and authorize access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}