{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Management API",
    "description": "The Collateral Management API provides essential functionalities for managing and retrieving information about collateral assets within a banking system. Using this API, developers can access detailed data regarding specific collateral assets, enabling streamlined decision-making and enhanced risk management. Typical consumers include banking and financial institutions that need to monitor and assess collateral in real time. This API plays a critical role in asset administration workflows, ensuring efficient operations and compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-asset-administration/{param1}": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve Collateral Asset Administration Details",
        "description": "Fetch the details of a specific collateral asset administration using its unique identifier. This endpoint allows developers to access essential information related to collateral asset management.",
        "operationId": "getCollateralAssetAdministrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to retrieve specific information about the collateral asset identified by RES-100045. It requires a correctly formatted JSON object that complies with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAssetAdministrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested collateral asset details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAssetAdministrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAssetAdministrationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request under the Collateral Asset Administration.",
        "example": "{}"
      },
      "GetCollateralAssetAdministrationByIdResponse_200": {
        "title": "Collateral Asset Administration Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the collateral.",
            "example": "PARTY-742395"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the asset was valued.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage of haircut applied to the asset value.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the collateral.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the collateral record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Collateral Asset Administration API.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-742395",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c2de52a5-24fb-5a25-ab78-01423599056a",
            "correlationId": "521599a5-6a0b-5bbd-a55e-f648b2b94d79",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount representing the market value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the market value is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value of an asset."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-asset-administration-get-collateral-asset-administration"
        },
        "example": "collateral-asset-administration-get-collateral-asset-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism based on JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}