{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_System Development Management API",
    "description": "The System Development Management API facilitates the retrieval of operational insights and performance metrics related to IT system development within the banking sector. This endpoint allows users to access critical data about project statuses, resource allocations, and development timelines. Typical consumers include project managers, IT teams, and stakeholders who need to monitor development progress and make data-driven decisions. By utilizing this API, organizations can enhance their project visibility and streamline communication across teams.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-development": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve system development information.",
        "description": "This endpoint retrieves details about the current system development processes and their statuses within the IT management framework. It provides insights into ongoing projects and resources allocated to system development.",
        "operationId": "getSystemDevelopment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving system development details in the IT management context. This request may include parameters that specify criteria for fetching relevant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemDevelopmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemDevelopmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemDevelopmentRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to system development in the IT management domain.",
        "example": "{}"
      },
      "GetSystemDevelopmentResponse_200": {
        "title": "System Development Response Schema",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of system details.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemDetail"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Key used for sorting the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for the system development operations.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4c07c8c1-68d3-57fb-9f0c-fad94ac83962",
            "correlationId": "a376537e-72c5-5603-ae4c-952fd93cee7b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemDetail": {
        "title": "System Detail",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "exampleSystemId"
          },
          "environment": {
            "type": "string",
            "description": "The environment where the system is deployed (e.g., production, staging).",
            "example": "exampleEnvironment"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change related to the system.",
            "example": "exampleChangeId"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "exampleOwnerTeam"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the system operation.",
            "example": "2023-10-10T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the system.",
            "example": "exampleServiceTier"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled window for maintenance operations.",
            "example": "2023-10-10T00:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the system record (e.g., ACTIVE, INACTIVE).",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Last updated timestamp for the system details.",
            "example": "2023-10-10T12:00:00Z"
          }
        },
        "description": "Detailed information about a specific system."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the returned items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation between requests and responses.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-development-search-system-development"
        },
        "example": "system-development-search-system-development"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, specifically a JSON Web Token (JWT), to authenticate requests. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}