{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Reviews API",
    "description": "This API enables users to submit reviews for investment portfolio analyses, enhancing the quality of feedback and insights for financial decisions. By allowing users to contribute their experiences and perspectives, it fosters a collaborative environment aimed at improved investment strategies. Typical consumers of this API include financial advisors, investment firms, and individual investors seeking to share their evaluations and recommendations on specific investment portfolios. This facilitates better-informed decisions and drives strategic enhancements in investment management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Investment Portfolio Management"
        ],
        "summary": "Create a review for an investment portfolio.",
        "description": "This endpoint allows you to create a new review for a specific investment portfolio identified by RES-100045. Provide the necessary review details, and upon successful submission, the review will be stored in the system.",
        "operationId": "createInvestmentPortfolioReviewRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for a specific investment portfolio analysis identified by RES-100045. It requires a JSON object that contains the review data, which includes various parameters such as rating, comments, and reviewer information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInvestmentPortfolioReviewRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and will be processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInvestmentPortfolioReviewRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInvestmentPortfolioReviewRes100045Request": {
        "title": "Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for conducting the review",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, detailing the areas to be evaluated",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific area included in the review",
              "example": "Risk assessment"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this request",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The deadline for completing the review, in ISO 8601 format",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a review request for investment portfolio analysis",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "a4b16bf6-90eb-5f42-9602-e6fd67fd95d4",
            "correlationId": "61d3f9a4-ef39-50e2-878d-56f4c99802d5",
            "idempotencyKey": "50c982ec-9707-5270-bc3f-af09d2ad4507",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-998475"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing",
            "example": "key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating this request",
            "example": "InvestmentManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request originated",
            "example": "FinancialAnalyticsApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the review request"
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Web, Mobile)",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request",
            "example": "device-123"
          }
        },
        "description": "Information about the channel from which the request was made"
      },
      "CreateInvestmentPortfolioReviewRes100045Response_202": {
        "title": "Investment Portfolio Analysis Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken in this review response.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that has been performed in the context of this review.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action processed in this review.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata provides additional information about the processing of the review action.",
            "$ref": "#/components/schemas/ReviewMetadata"
          }
        },
        "description": "This schema represents the response structure for reviews related to investment portfolio analysis operations.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "d9f3b11b-6611-5539-9941-16c1ca41b23f",
            "correlationId": "61d3f9a4-ef39-50e2-878d-56f4c99802d5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReviewMetadata": {
        "title": "Review Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated by the review process.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this review with other processes or workflows.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the review response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the review took place.",
            "example": "string"
          }
        },
        "description": "This schema provides metadata details related to the review process."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-051"
        },
        "example": "WF-051"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6593bfce-a5e4-46ec-aad0-b6ff1f76e308"
        },
        "example": "6593bfce-a5e4-46ec-aad0-b6ff1f76e308"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1e53cfd4-1ac8-4ba1-a682-0df751771d69"
        },
        "example": "1e53cfd4-1ac8-4ba1-a682-0df751771d69"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-review-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-review-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-051"
        },
        "example": "WF-051"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Investment Account Opening and Suitability"
        },
        "example": "Investment Account Opening and Suitability"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1e53cfd4-1ac8-4ba1-a682-0df751771d69"
        },
        "example": "1e53cfd4-1ac8-4ba1-a682-0df751771d69"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) as bearer tokens for authorizing requests. The client must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}