{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Processing API",
    "description": "The Settlement Processing API allows users to initiate the processing of a specific settlement by providing its unique settlement ID. This endpoint is essential for financial institutions and organizations looking to efficiently manage settlement workflows. Typical consumers include payment processors and financial services applications that require real-time settlement updates. Using this API, developers can automate settlement operations, ensuring timely updates and improved transaction handling.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/process": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Process a specific settlement.",
        "description": "This endpoint allows you to process the settlement identified by RES-100045. It performs the necessary actions to finalize the transaction associated with this settlement.",
        "operationId": "processSettlementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to process settlements for the specified resource with ID RES-100045. It includes necessary parameters and data required for the processing operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessSettlementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the settlement process has been initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessSettlementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ProcessSettlementRes100045Request": {
        "type": "object",
        "properties": {
          "payoutDate": {
            "type": "string",
            "description": "The date when the payout is scheduled to occur.",
            "example": "2026-09-15"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "A brief explanation of the reason for this request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the settlements process operation in the POST request.",
        "example": {
          "payoutDate": "2026-09-15",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "afca0e04-195c-5091-b86f-4f2adddb9b56",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "idempotencyKey": "1af264f9-ca22-5808-a8ce-dbcdaf13bf2d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-292121"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace related requests.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "idemp-9012"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "App B"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and timestamps.",
        "example": {
          "requestId": "req-1234",
          "correlationId": "corr-5678",
          "idempotencyKey": "idemp-9012",
          "requestedAt": "2023-10-01T00:00:00Z",
          "sourceSystem": "System A",
          "sourceApplication": "App B",
          "channel": {}
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-111"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device from which the request was made.",
            "example": "device-222"
          }
        },
        "description": "Schema representing the communication channel details of the request.",
        "example": {
          "channelId": "channel-111",
          "channelType": "mobile",
          "deviceId": "device-222"
        }
      },
      "ProcessSettlementRes100045Response_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the settlement.",
            "example": "MER-151605"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the settlement account.",
            "example": "ACC-518302"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the settlement is processed.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of financial activities related to the settlement.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "The number of lines or transactions included in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number for the bank payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date and time of the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date and time when the payout was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the creation and updates of the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata about the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a settlement operation, including details about the settlement, summary of financial activities, and metadata.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-151605",
          "settlementAccountId": "ACC-518302",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "6a2e9aba-0f74-5762-8b2a-36e401db3f55",
            "correlationId": "8d27904b-a31a-5838-84ad-bb78afdee08a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments for this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "refunds": {
            "description": "Total refunds processed in this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "reversals": {
            "description": "Total reversals in this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "disputes": {
            "description": "Total disputes processed in this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "fees": {
            "description": "Total fees applied in this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "taxes": {
            "description": "Total taxes applied in this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "reserveHeld": {
            "description": "Amount of funds held in reserve for this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "reserveReleased": {
            "description": "Amount of funds released from reserve for this settlement.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "adjustments": {
            "description": "Any adjustments made to the settlement total.",
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "netSettlement": {
            "description": "Total net settlement amount after all adjustments.",
            "$ref": "#/components/schemas/FinancialDetails"
          }
        },
        "description": "Summary of financial activities related to the settlement."
      },
      "FinancialDetails": {
        "title": "Financial Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the financial amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Monetary value of the transaction.",
            "example": "10000"
          }
        },
        "description": "Detailed financial information including currency and value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the settlement was created.",
            "example": "2023-01-31T08:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User or system that created the settlement.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the settlement.",
            "example": "2023-01-31T09:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User or system that last updated the settlement.",
            "example": "admin"
          }
        },
        "description": "Information related to the creation and update history of the settlement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "corr_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-31T08:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata pertaining to the settlement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-process-settlement"
        },
        "example": "banking-p2m-openapi-process-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism defined in RFC 6750. Clients must include a JSON Web Token (JWT) in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}