{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Message Review Submission API",
    "description": "The Financial Message Review Submission API facilitates the process of submitting reviews for financial messages within banking transactions. This endpoint allows users to provide feedback or comments related to specific financial messages, enhancing the quality and reliability of banking services. Typical consumers of this API include banking institutions and financial service providers looking to analyze and improve financial messaging systems. By incorporating user reviews, organizations can make informed decisions to enhance their operational processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-message-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a review for the financial message analysis.",
        "description": "This endpoint allows users to submit a review for a specific financial message analysis identified by its reference ID. Provide the necessary details about the review in the request body to successfully create a review.",
        "operationId": "createReviewForFinancialMessageAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the financial message analysis with identifier RES-100045. It contains the necessary data and parameters required for processing the review, which may include details such as rating, comments, and other relevant information related to the financial message.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForFinancialMessageAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForFinancialMessageAnalysisResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForFinancialMessageAnalysisRequest": {
        "title": "Financial Message Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review expressed as an array of strings.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific area or aspect to be reviewed.",
              "example": "Data completeness"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to perform the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The deadline for completing the review, represented in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a review request for financial message analysis.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "43f99131-1433-540f-b2bd-8f8fd7ae7bc4",
            "correlationId": "09fdbf6e-15af-5a5a-9204-b0128810829f",
            "idempotencyKey": "a6b35643-d53c-54fd-8cf1-aaf058f44e28",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-937822"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotency of the request.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "financial-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "financial-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., 'API', 'UI').",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing information about the communication channel used."
      },
      "CreateReviewForFinancialMessageAnalysisResponse_202": {
        "title": "Financial Message Analysis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the processing of the financial message.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for financial message analysis operation, returning details about the action performed and its metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "62635772-bf46-5187-bfe1-0a37ed8f8508",
            "correlationId": "09fdbf6e-15af-5a5a-9204-b0128810829f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests or actions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata containing details about the response and processing context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-message-analysis-review-financial-message-analysis"
        },
        "example": "financial-message-analysis-review-financial-message-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, typically a JSON Web Token (JWT). Clients must include the JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}