{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Management API",
    "description": "The Customer Management API facilitates the creation and management of customer profiles within the system. This endpoint is designed to handle the addition of new customer data by utilizing the customer ID for identification. Businesses can leverage this API to streamline customer onboarding and enhance service personalization. Typical consumers include developers looking to integrate customer management functionalities into their applications or systems, allowing for improved customer relationship management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer entry.",
        "description": "This endpoint creates a new customer with the provided details. You must specify all necessary fields in the request body to successfully create the customer record.",
        "operationId": "createCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to submit information for the customer with ID CUST-100045. Ensure that the data conforms to the expected schema to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the operation completed without issues.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCUST100045Request": {
        "type": "object",
        "properties": {
          "institutionLoginId": {
            "type": "string",
            "description": "The login ID associated with the institution.",
            "example": "STANDARD"
          },
          "receiver": {
            "description": "Details of the receiver for the transaction.",
            "$ref": "#/components/schemas/Receiver"
          },
          "callbackUrl": {
            "type": "string",
            "description": "The URL to callback after the operation is processed.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new operation for a customer.",
        "example": {
          "institutionLoginId": "STANDARD",
          "receiver": {
            "routingNumber": "021000021",
            "accountNumber": "STANDARD",
            "accountType": "CHECKING",
            "name": "Northstar Banking Service",
            "memo": "STANDARD"
          },
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "5e9892f1-f137-50bd-b6c5-b63f628d41e4",
            "correlationId": "018194ac-08cd-5cb5-bca5-565a84979770",
            "idempotencyKey": "5cb76455-f938-584c-9834-7dc09c56ae71",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-289765"
            }
          }
        }
      },
      "Receiver": {
        "type": "object",
        "properties": {
          "routingNumber": {
            "type": "string",
            "description": "The routing number for the receiver's bank.",
            "example": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number of the receiver.",
            "example": "string"
          },
          "accountType": {
            "type": "string",
            "description": "The type of account the receiver has (e.g., checking, savings).",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the receiver.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "An optional memo for the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the information of the receiver."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information related to the request."
      },
      "CreateCustomerCUST100045Response_200": {
        "title": "Customer Operation Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer account.",
            "example": "ACC-479395"
          },
          "status": {
            "type": "string",
            "description": "The current status of the customer operation.",
            "example": "ACTIVE"
          },
          "depositCount": {
            "type": "integer",
            "description": "The total number of deposits associated with the account.",
            "format": "int32",
            "example": 1
          },
          "statusDescription": {
            "type": "string",
            "description": "A detailed description of the current status.",
            "example": "STANDARD"
          },
          "railType": {
            "type": "string",
            "description": "The type of rail used for the operation.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for customer operation requests.",
        "example": {
          "accountId": "ACC-479395",
          "status": "ACTIVE",
          "depositCount": 1,
          "statusDescription": "STANDARD",
          "railType": "STANDARD",
          "metadata": {
            "responseId": "4f16354e-7053-50a7-af47-30cae308fe02",
            "correlationId": "018194ac-08cd-5cb5-bca5-565a84979770",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request. This value can be useful for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-initiate-micro-amount-deposits"
        },
        "example": "open-finance-api-initiate-micro-amount-deposits"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that handled the request. This information is valuable for identifying the environment and analyzing performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism, specifically designed for JSON Web Tokens (JWT). It allows clients to authenticate by providing a token in the Authorization header of their HTTP requests. Ensure that the token is valid and securely generated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}