{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Virtual Account Balance Inquiry API",
    "description": "The Virtual Account Balance Inquiry API enables users to access the current balance of their deposit lending virtual accounts. This endpoint serves financial institutions and developers managing virtual account services, allowing them to effectively verify account balances for customers or internal processes. By offering easy access to real-time balance information, the API enhances customer experience and operational efficiency. Ideal for banking applications and financial dashboards, it supports both individual users and enterprise solutions that require accurate account details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/virtual-account/{param1}": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve details of a specific virtual account.",
        "description": "This endpoint allows you to fetch detailed information about a specific virtual account identified by its unique account number. It provides all relevant data associated with the virtual account, enabling efficient management and tracking of account status.",
        "operationId": "getVirtualAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about a specific virtual account under deposit lending. This allows the user to request details such as account balance and transaction history associated with the specified virtual account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetVirtualAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the virtual account details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetVirtualAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetVirtualAccountDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to virtual account with identifier ACC-200045 in the deposit lending service.",
        "example": "{}"
      },
      "GetVirtualAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-503046"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-262551"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "The purpose of the account.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "The frequency at which statements are issued for the account.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is allowed for this account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the account information.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the account information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "customerId": "CUST-503046",
          "accountId": "ACC-262551",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "11a8e92e-5b9f-5cea-9161-a47f86b88bac",
            "correlationId": "dd7611eb-13df-5523-a1ea-e6742ce51dda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "virtual-account-get-virtual-account"
        },
        "example": "virtual-account-get-virtual-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication schema that utilizes JSON Web Tokens (JWT) for secure communication and authorization; clients must include a valid JWT in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}