{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offers Retrieval API",
    "description": "The Loan Offers Retrieval API enables users to fetch specific loan offer details associated with a loan application. By providing a unique loan application ID and the corresponding offer ID, consumers can access comprehensive information about available offers for a given application. This API is particularly useful for financial institutions and service providers who need to present tailored loan options to customers. Typical use cases include displaying loan offers in customer portals or integrating with financial advisory tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve loan offers for a specific loan application.",
        "description": "This endpoint allows you to fetch all loan offers associated with a specified loan application identified by its unique ID. Use this to gather potential financing options available to the applicant.",
        "operationId": "getLoanOffersByApplicationId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Retrieve the loan offers related to the specific loan application identified by RES-100045. The request body should contain any necessary parameters specified by the API schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanOffersByApplicationIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanOffersByApplicationIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanOffersByApplicationIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving offers related to loan applications.",
        "example": "{}"
      },
      "GetLoanOffersByApplicationIdResponse_200": {
        "title": "Loan Application Offer Response",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "Type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount of the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "Annual percentage rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of the loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "Estimated installment amount for the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "originationFee": {
            "description": "Origination fee applied to the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "insurancePremium": {
            "description": "Insurance premium applicable to the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until this offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions applicable to this loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Required disclosures related to this loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "This is a variable rate loan."
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "dbe2aaf2-e333-cca2-dbd5-38efbf5b1624"
          },
          "offerNumber": {
            "type": "string",
            "description": "The number associated with the specific loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "Timestamp for when the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp for when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier for the customer who accepted the loan offer.",
            "example": "CUST-772118"
          },
          "audit": {
            "description": "Audit information for tracking changes made to the offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata regarding the loan offer.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for loan application offers.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "dbe2aaf2-e333-cca2-dbd5-38efbf5b1624",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-772118",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "857ba75d-ef87-5981-8746-a97f977ea94e",
            "correlationId": "1a8b2ba1-10d1-57c5-92ca-b35feeb41b86",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount expressed as a string, usually to account for decimal figures.",
            "example": "2500.00"
          }
        },
        "description": "An amount of money with associated currency."
      },
      "Condition": {
        "title": "Loan Offer Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code representing the condition.",
            "example": "C001"
          },
          "description": {
            "type": "string",
            "description": "Text description of the condition.",
            "example": "Must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "Date by which the condition must be met.",
            "example": "2023-08-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Active"
          }
        },
        "description": "Conditions that need to be fulfilled for the loan offer."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-10T15:23:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-12T15:23:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information related to the auditing of the loan offer."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID used for tracking requests and responses.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "2023-01-15T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Additional information that is not part of the primary data."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-offer"
        },
        "example": "banking-loans-openapi-get-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, allowing clients to authenticate using a JSON Web Token (JWT). The token must be included in the `Authorization` header of the requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}