{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Making Analytics API",
    "description": "The Market Making Analytics API provides essential insights and data for wholesale trading activities in the market making domain. Users can retrieve detailed market data and performance metrics related to their trading strategies through this endpoint. Typically utilized by traders, analysts, and financial institutions, this API supports informed decision-making and optimization of trading operations. It enables consumers to access relevant information efficiently, enhancing their trading effectiveness and responsiveness to market changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-making/{param1}": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve market making details for a specific resource.",
        "description": "This endpoint allows users to fetch detailed market making information associated with the specified resource ID. It's useful for obtaining insights on trading activities and market dynamics for the particular resource.",
        "operationId": "getMarketMakingByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving market making information related to wholesale trading for the specified resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketMakingByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved market-making data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketMakingByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketMakingByResourceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operations in the wholesale trading market making system. It is expected to contain a string value.",
        "example": "{}"
      },
      "GetMarketMakingByResourceIdResponse_200": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, such as 'buy' or 'sell'.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units for the trade.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the trade which defines the maximum price to pay (for buy) or the minimum price to receive (for sell).",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record, such as 'active' or 'inactive'.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the trading record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market making operations in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "949f30f3-8c84-5604-9e2e-db270306da03",
            "correlationId": "eb4317ee-f149-5af5-9e17-b120ec0a12ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The value of the limit price.",
            "example": 100.25
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "USD"
          }
        },
        "description": "Schema representing the limit price of a trade."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate the request and response.",
            "example": "CORREL789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the API endpoint that was called, ensuring traceability for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-making-get-market-making"
        },
        "example": "market-making-get-market-making"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that executed the API call, providing context for the request's origins.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be provided in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}