{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Details API",
    "description": "The Customer Billing Details API allows users to access and retrieve detailed billing information for individual customers. By providing a unique identifier, typically representing the customer, businesses can obtain comprehensive insights into billing history and current charges. This API is essential for financial departments and customer service applications, enabling them to manage customer accounts effectively and address inquiries promptly. Use cases include generating billing reports, analyzing payment histories, and facilitating customer support processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing/{param1}": {
      "get": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Retrieve customer billing information by ID.",
        "description": "This endpoint allows you to fetch the billing details for a specific customer identified by their unique ID. You can access all relevant billing data associated with the customer, providing insights into their transaction history and current billing status.",
        "operationId": "getCustomerBillingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving billing information for a specific customer. This request is structured in JSON format and is used to specify any optional parameters or filters that might be necessary to refine the results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBillingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer billing information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBillingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBillingByIdRequest": {
        "type": "string",
        "description": "Request body specifying the customer billing operation.",
        "example": "{}"
      },
      "GetCustomerBillingByIdResponse_200": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "Unique identifier for the billing account.",
            "example": "ACC-354690"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-743392"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for which the charges are calculated.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with the billing account.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for payment of the charges.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the billing record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for customer billing operations.",
        "example": {
          "billingAccountId": "ACC-354690",
          "customerId": "CUST-743392",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "00b02946-93fd-5146-a283-9f98887574e0",
            "correlationId": "f91ee682-2bda-5e1b-86af-800b2110964d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "Type of the charge (e.g., subscription, one-time fee).",
            "example": "subscription"
          },
          "amount": {
            "type": "integer",
            "description": "The amount of the charge.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency of the charge amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing a charge item in the billing."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating requests and responses.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the data was generated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the billing record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-get-customer-billing"
        },
        "example": "customer-billing-get-customer-billing"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This allows the use of JWT (JSON Web Tokens) for secure access, ensuring that resources can be accessed only by authenticated users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}