{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Position Update Management API",
    "description": "The Position Update Management API allows for the efficient modification of account positions within the banking framework. By utilizing this API, financial institutions can adjust position details based on changing market conditions or client requests. This service primarily benefits account managers and financial analysts who need to maintain accurate and up-to-date records of asset positions. Typical use cases include updating position values, reallocating assets, or changing investment strategies. Seamlessly integrate this API to ensure your organization remains agile in a dynamic financial environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/position-management/{param1}": {
      "patch": {
        "tags": [
          "Account Management"
        ],
        "summary": "Update Position Management for a Specific Account",
        "description": "This endpoint allows you to update the position management details for a specific account identified by the resource ID. Use this operation to modify attributes such as position status, allocation, and other related parameters to ensure accurate account management.",
        "operationId": "updatePositionManagementForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This operation updates the position management details for the specified resource. The request body must contain the details of the position that needs to be modified, following the schema defined for this operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePositionManagementForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePositionManagementForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePositionManagementForAccountRequest": {
        "title": "Position Management Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing details about the changes being made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The ID of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the structure of a PATCH request body for managing position changes.",
        "example": {
          "changes": {
            "accountId": "ACC-417270",
            "customerId": "CUST-846763",
            "ledgerDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ff2d91cc-ffff-5c04-a456-3873ec98f57a",
            "correlationId": "2b4340cf-e382-59d2-a10c-5f02aec14813",
            "idempotencyKey": "10069516-c586-5b03-a19c-5169b418c72f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-996956"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Details",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "acc-456"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cust-789"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date for the ledger entry associated with the changes.",
            "example": "2023-10-01"
          }
        },
        "description": "Schema representing the details of the changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-1111"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing the request across systems.",
            "example": "corr-2222"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotent-3333"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system which generates the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "An object containing channel information for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request made to the API."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for communication.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the channel.",
            "example": "device-202"
          }
        },
        "description": "Schema representing details about the channel used to make the request."
      },
      "UpdatePositionManagementForAccountResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in the Position Management API.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e6afbdcf-1b63-5b04-9bde-a30c06ab93bb",
            "correlationId": "2b4340cf-e382-59d2-a10c-5f02aec14813",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the response.",
        "example": {
          "responseId": "12345",
          "correlationId": "abcde-12345-fghij",
          "generatedAt": "2023-10-10T12:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "position-management-update-position-management"
        },
        "example": "position-management-update-position-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that produced the response. This helps identify the source of the response in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must include a valid JSON Web Token (JWT) in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}