{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Details Retrieval API",
    "description": "The Product Details Retrieval API allows users to access detailed information about a specific product associated with a given account. This endpoint is particularly useful for financial institutions, onboarding teams, or customer service representatives looking to provide tailored assistance to clients. By utilizing the account ID, developers can fetch essential product data, ensuring that customers have all the necessary information for informed decision-making. The API seamlessly integrates with open banking systems, facilitating enriched user experiences in banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/product": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Product Information for a Specific Account",
        "description": "This endpoint allows you to fetch detailed product information associated with a specific account, identified by its unique account ID. Use this to get insights into the products related to the account in question.",
        "operationId": "getAispAccountProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve product information for a specific account (ACC-200045) under the AISP service. It must comply with the defined schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved product information for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountProductResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountProductRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving account product information.",
        "example": "{}"
      },
      "GetAispAccountProductResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "description": "List of products associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "Container for the product data associated with the account.",
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-762879",
                  "SecondaryProductId": "PROD-761452",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request correlation.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
              "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for the GET operation on accounts, including product and metadata information.",
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-762879",
                "SecondaryProductId": "PROD-761452",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "4b42ce10-d693-5187-908e-b6797069e55a",
            "correlationId": "f08d19f3-d3fc-52dd-b693-760678fb1618",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the product.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "string"
          },
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with this product.",
            "example": "string"
          },
          "SecondaryProductId": {
            "type": "string",
            "description": "Secondary identifier for the product, if applicable.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the product.",
            "example": "string"
          },
          "MarketingStateId": {
            "type": "string",
            "description": "Identifier for the marketing state of the product.",
            "example": "string"
          },
          "OtherProductType": {
            "$ref": "#/components/schemas/OtherProductType"
          }
        },
        "description": "Schema representing a product associated with an account."
      },
      "OtherProductType": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "Name of the other product type.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "Description of the other product type.",
            "example": "string"
          },
          "ProductDetails": {
            "$ref": "#/components/schemas/ProductDetails"
          }
        },
        "description": "Schema representing additional details about other product types."
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "Segment": {
            "type": "array",
            "description": "Array of segments related to the product.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "FeeFreeLength": {
            "type": "integer",
            "description": "Length of time the product is fee-free.",
            "format": "int32",
            "example": 0
          },
          "FeeFreeLengthPeriod": {
            "type": "string",
            "description": "Time period associated with the fee-free length.",
            "example": "string"
          },
          "MonthlyMaximumCharge": {
            "type": "string",
            "description": "Maximum monthly charge for the product.",
            "example": "string"
          },
          "Notes": {
            "type": "array",
            "description": "Additional notes related to the product details.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "OtherSegment": {
            "$ref": "#/components/schemas/OtherSegment"
          }
        },
        "description": "Schema encapsulating detailed information about a product."
      },
      "OtherSegment": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code identifying the segment.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the segment.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "Detailed description of the segment.",
            "example": "string"
          }
        },
        "description": "Schema representing additional segment details."
      },
      "CreditInterest": {
        "type": "object",
        "properties": {
          "TierBandSet": {
            "type": "array",
            "description": "Set of tier bands for credit interest.",
            "items": {
              "$ref": "#/components/schemas/TierBand"
            }
          }
        },
        "description": "Schema for credit interest information associated with a product."
      },
      "TierBand": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identification for the tier band.",
            "example": "string"
          },
          "TierValueMinimum": {
            "type": "string",
            "description": "Minimum value of the tier.",
            "example": "string"
          },
          "TierValueMaximum": {
            "type": "string",
            "description": "Maximum value of the tier.",
            "example": "string"
          },
          "CalculationFrequency": {
            "type": "string",
            "description": "Frequency of interest calculation.",
            "example": "string"
          },
          "ApplicationFrequency": {
            "type": "string",
            "description": "Frequency of application for interest.",
            "example": "string"
          },
          "DepositInterestAppliedCoverage": {
            "type": "string",
            "description": "Coverage for applied deposit interest.",
            "example": "string"
          },
          "FixedVariableInterestRateType": {
            "type": "string",
            "description": "Type of interest rate (fixed or variable).",
            "example": "string"
          },
          "AER": {
            "type": "string",
            "description": "Annual Equivalent Rate (AER) associated with the tier.",
            "example": "string"
          },
          "BankInterestRateType": {
            "type": "string",
            "description": "Bank's type of interest rate for this tier.",
            "example": "string"
          }
        },
        "description": "Schema representing the tier band structure for credit interest."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-product"
        },
        "example": "accounts-api-get-accounts-account-id-product"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) for secure communication. Clients must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}