{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Procurement Management API",
    "description": "The Procurement Management API enables businesses to enhance and modify their procurement processes efficiently. Through this API, users can update procurement details, manage supplier relationships, and streamline approval workflows. Targeted primarily at procurement departments and finance teams, this API supports use cases such as adjusting order quantities, changing delivery schedules, and revising pricing agreements. It provides a robust interface for integrating procurement activities into enterprise workflows while ensuring accuracy and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement/{procurementId}": {
      "patch": {
        "tags": [
          "Procurement"
        ],
        "summary": "Update the procurement resource",
        "description": "This operation allows you to update the details of a specific procurement resource identified by RES-100045. You can modify various attributes as needed to ensure the information is current and accurate.",
        "operationId": "patchEnterpriseServicesProcurementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the procurement information for the specified resource (RES-100045) within the enterprise services. The JSON structure must conform to the defined schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchEnterpriseServicesProcurementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchEnterpriseServicesProcurementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchEnterpriseServicesProcurementRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The details of the changes to be made in the procurement operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for making the changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the PATCH request body of the Procurement Operations with changes to be applied.",
        "example": {
          "changes": {
            "requestId": "b7198bba-8d95-5f42-a1f2-4eb602988686",
            "supplierId": "STANDARD",
            "costCenter": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "36fc5a80-80ff-56c7-bfd7-54775aa00c9c",
            "correlationId": "78a0a772-f573-597a-ae67-1585fb37e4c6",
            "idempotencyKey": "ae1de9a3-0b9e-5fe8-8f9c-b61f82a81284",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-797705"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_67890"
          },
          "supplierId": {
            "type": "string",
            "description": "The identifier for the supplier involved in the change.",
            "example": "supplier_456"
          },
          "costCenter": {
            "type": "string",
            "description": "The identifier for the cost center associated with the changes.",
            "example": "cost_center_789"
          }
        },
        "description": "Contains the specific changes being requested for the procurement operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request context.",
            "example": "req_context_987"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across systems.",
            "example": "correlation_123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to define the idempotency of the request.",
            "example": "idempotency_key_321"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "ProcurementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the change request is made.",
            "example": "ProcurementApp"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_1011"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device making the request.",
            "example": "device_2022"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "PatchEnterpriseServicesProcurementRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response model.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response object for the successful execution of the PATCH operation in the procurement service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "65e2337b-f4cd-54b4-97af-29bba5f215cf",
            "correlationId": "78a0a772-f573-597a-ae67-1585fb37e4c6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used to trace the request.",
            "example": "corr-7891011"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing identifiers and timestamps for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-update-procurement"
        },
        "example": "procurement-update-procurement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme. A valid JWT (JSON Web Token) must be included in the Authorization header of the request in the format 'Bearer <token>'. Use this to authenticate users and protect endpoints by confirming their identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}