{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Applicant Update Management API",
    "description": "The Applicant Update Management API enables modification of existing applicant details within loan applications. This endpoint allows users to update critical information related to an applicant by specifying the loan application and applicant ID. Typical consumers include loan officers and financial institutions seeking to maintain accurate applicant records throughout the loan processing lifecycle. Whether it's correcting data or making necessary adjustments, this API supports efficient management of applicant-related information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update Applicant Information",
        "description": "This endpoint allows you to update the details of a specific applicant associated with a loan application. Ensure that the request body contains the relevant fields you wish to modify.",
        "operationId": "updateLoanApplicationApplicantRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the applicant details for a specific loan application. It contains the fields that can be modified, allowing for the most current applicant information to be submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationApplicantRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the applicant's details were updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationApplicantRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationApplicantRes100045Request": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application process.",
            "example": "PRIMARY_HOLDER"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary borrower.",
            "example": "STANDARD"
          },
          "income": {
            "description": "The income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "declaredAssets": {
            "type": "array",
            "description": "A list of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "A list of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "requestContext": {
            "description": "Context of the request for the loan application.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "role": "PRIMARY_HOLDER",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "48485be2-f3bf-5b1a-82ec-4aa0284066a6",
            "correlationId": "eee406da-b9e4-5ffc-b444-e0d635b03f2f",
            "idempotencyKey": "0ca9c66e-0f06-55f0-9d4f-15e73cd4a3df",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-436464"
            }
          }
        }
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g. Full-time, Part-time, Self-employed).",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "XYZ Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The date when the applicant started their current employment.",
            "example": "2020-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BRN-123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Financials"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/Financials"
          },
          "otherMonthlyIncome": {
            "description": "Other monthly income sources of the applicant.",
            "$ref": "#/components/schemas/Financials"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Status of income verification.",
            "example": "Verified"
          }
        },
        "description": "Represents the income details of the applicant."
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the financial amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The financial amount.",
            "example": "3000"
          }
        }
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset (e.g. Real Estate, Vehicle).",
            "example": "Real Estate"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "House in New York"
          },
          "estimatedValue": {
            "description": "The estimated value of the declared asset.",
            "$ref": "#/components/schemas/Financials"
          }
        },
        "description": "Represents a declared asset by the applicant."
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of the liability (e.g. Mortgage, Credit Card).",
            "example": "Mortgage"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender for the liability.",
            "example": "ABC Bank"
          },
          "outstandingBalance": {
            "description": "The current outstanding balance of the liability.",
            "$ref": "#/components/schemas/Financials"
          },
          "monthlyPayment": {
            "description": "The monthly payment amount for the liability.",
            "$ref": "#/components/schemas/Financials"
          }
        },
        "description": "Represents a declared liability of the applicant."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idempotency-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "Loan Management System"
          },
          "channel": {
            "description": "Information about the channel that initiated the request.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "device-1234"
          }
        }
      },
      "UpdateLoanApplicationApplicantRes100045Response_200": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in relation to the loan (e.g. Primary Borrower, Co-borrower).",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-346527"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "Describes the relationship of the applicant to the primary borrower.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details regarding the income of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/MonthlyFinancials"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the applicant record.",
            "example": "e208f392-ad91-5b9b-54d8-83e12594d8af"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "The status response from the credit bureau.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for tracking changes to the applicant's data.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the applicant.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the details of a loan applicant in the loan application process.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-346527",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "e208f392-ad91-5b9b-54d8-83e12594d8af",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1e8a97dd-9c6a-5c45-876c-7ba1cc4d1d0e",
            "correlationId": "eee406da-b9e4-5ffc-b444-e0d635b03f2f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Financials": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g. USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "5000.00"
          }
        },
        "description": "Represents a financial entry with currency and amount."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the record.",
            "example": "adminUser"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2023-01-15T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the record.",
            "example": "editorUser"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Represents audit log information for tracking data changes."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information related to the applicant's record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint being accessed in the loan application service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-applicant"
        },
        "example": "banking-loans-openapi-update-applicant"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application that processed the request, providing insights into the system environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token to authenticate requests. The token should be a JSON Web Token (JWT) that contains the required claims for access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}