{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Location Management API",
    "description": "The Branch Location Management API facilitates the updating of branch location details within the banking system. This endpoint allows authorized users to modify specific attributes of branch locations, ensuring the accuracy and relevance of branch data. Typical consumers include bank administrators and branch managers who require the ability to adjust location information efficiently, especially in response to changes in service areas or operational requirements. By utilizing this API, institutions can maintain strong operational oversight and improve customer accessibility to their banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-management/{param1}": {
      "patch": {
        "tags": [
          "Branch Location Management"
        ],
        "summary": "Update Branch Location",
        "description": "This endpoint allows you to update the details of a specific branch location identified by RES-100045 within the channel-specific management system. Make sure to provide the necessary data to reflect the changes required.",
        "operationId": "updateBranchLocationChannelSpecific_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the branch location management details for a specific resource identified by RES-100045. Ensure to include all necessary fields that are relevant to the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBranchLocationChannelSpecific_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBranchLocationChannelSpecific_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBranchLocationChannelSpecific_res100045Request": {
        "title": "Patch Branch Location Management Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "Unique identifier for the channel.",
                "example": "channel_123"
              },
              "regionCode": {
                "type": "string",
                "description": "Code representing the region where the branch is located.",
                "example": "US-WA"
              },
              "serviceWindow": {
                "$ref": "#/components/schemas/ServiceWindow"
              }
            },
            "description": "Details of the changes to be applied to the branch location.",
            "example": {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              }
            }
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "req_789"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracking related requests.",
                "example": "corr_123"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Unique key to ensure the request is only processed once.",
                "example": "idempotent_key_abc"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T11:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifier of the system where the request originated.",
                "example": "main_system"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Identifier of the application where the request originated.",
                "example": "branch_management_app"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "fcc17f89-938f-546c-a14c-b59f73285f64",
              "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
              "idempotencyKey": "e6f02ca4-7a57-510a-aec9-670269940107",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-156767"
              }
            }
          }
        },
        "description": "Schema for the request body when making PATCH requests for branch location management operations.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "fcc17f89-938f-546c-a14c-b59f73285f64",
            "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
            "idempotencyKey": "e6f02ca4-7a57-510a-aec9-670269940107",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-156767"
            }
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the branch opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the branch closes.",
            "example": "17:00"
          }
        },
        "description": "Represents the operating hours of a branch location."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, offline).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used in the channel.",
            "example": "device_001"
          }
        },
        "description": "Details about the channel related to the request."
      },
      "UpdateBranchLocationChannelSpecific_res100045Response_200": {
        "title": "Response for Branch Location Management Operations",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response object.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the object was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for branch location management operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e84246e8-fe15-5640-aef8-5891c584e90e",
            "correlationId": "e6af5087-e09c-54f9-8f0a-432878c6f7f1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Operation",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema defines the metadata structure associated with the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-management-update-branch-location-management"
        },
        "example": "branch-location-management-update-branch-location-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication method, allowing clients to authenticate requests by including a JSON Web Token (JWT) in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}