{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_P2M QR Payment Requests API",
    "description": "This API facilitates the processing of person-to-merchant (P2M) QR code payment requests. It allows merchants to initiate payment transactions by providing a unique QR code identifier. Typical consumers include retail businesses and e-commerce platforms looking to streamline payment acceptance. This API ensures secure and efficient processing of payments, enabling businesses to enhance their customer experience. By utilizing this endpoint, merchants can enhance their transaction capabilities in a digital economy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}/pay": {
      "post": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Initiate a QR payment for the specified request.",
        "description": "This endpoint allows you to initiate a QR payment for a specific payment request identified by the request ID. Make sure to include all necessary details when calling this operation.",
        "operationId": "createQrPaymentRequestPay",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a QR payment request with the specified payment ID. It contains all necessary information to process the payment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateQrPaymentRequestPayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful processing of the payment request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateQrPaymentRequestPayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateQrPaymentRequestPayRequest": {
        "title": "Payment Request",
        "type": "object",
        "properties": {
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "tipAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "customerConsentId": {
            "type": "string",
            "description": "Identifier for the customer's consent.",
            "example": "STANDARD"
          },
          "deviceContext": {
            "$ref": "#/components/schemas/DeviceContext"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a payment request.",
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-923",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "tipAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-906825",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0
            }
          },
          "requestContext": {
            "requestId": "35b43539-6542-57f4-accd-042594f850f1",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "idempotencyKey": "652e7db0-9115-51a1-9bde-683b1c421268",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-160315"
            }
          }
        }
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token associated with the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank that issued the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier of the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet if applicable.",
            "example": "string"
          }
        },
        "description": "Schema representing a payment method."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount."
          },
          "value": {
            "type": "string",
            "description": "The actual monetary value."
          }
        },
        "description": "Represents a monetary amount along with its currency.",
        "example": {
          "currency": "string",
          "value": "string"
        }
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification of the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing a customer's information."
      },
      "DeviceContext": {
        "title": "Device Context",
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the device.",
            "example": "string"
          },
          "userAgent": {
            "type": "string",
            "description": "User agent string of the device.",
            "example": "string"
          },
          "geolocation": {
            "$ref": "#/components/schemas/Geolocation"
          }
        },
        "description": "Schema representing the context of the device used for the payment."
      },
      "Geolocation": {
        "title": "Geolocation",
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude of the device's location.",
            "example": 0.0
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the device's location.",
            "example": 0.0
          }
        },
        "description": "Schema representing geolocation coordinates of a device."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Source application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information through which the request was made."
      },
      "CreateQrPaymentRequestPayResponse_200": {
        "title": "QR Payment Request Response",
        "type": "object",
        "properties": {
          "qrPaymentRequest": {
            "description": "Detailed information about the QR payment request.",
            "$ref": "#/components/schemas/QrPaymentRequest"
          },
          "payment": {
            "description": "Information regarding the payment linked to the QR payment request.",
            "$ref": "#/components/schemas/Payment"
          },
          "metadata": {
            "description": "Metadata related to the payment processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing the details of a QR payment request.",
        "example": {
          "qrPaymentRequest": {
            "id": "STANDARD",
            "merchantId": "MER-369866",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "mode": "STANDARD",
            "standard": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "merchantOrderId": "ORD-146454",
            "description": "Customer banking request processed successfully",
            "tipOptions": {
              "mode": "STANDARD",
              "fixedAmounts": [
                {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              ],
              "percentages": [
                "STANDARD"
              ],
              "maximumTip": {
                "currency": "USD",
                "value": "STANDARD"
              }
            },
            "qrPayload": "STANDARD",
            "qrImageUrl": "https://example.com/resource",
            "status": "ACTIVE",
            "singleUse": true,
            "paidAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "paymentId": "PAY-465612",
            "expiresAt": "2026-08-11T12:00:00Z",
            "audit": {
              "createdAt": "2026-09-15T14:30:00Z",
              "createdBy": "STANDARD",
              "updatedAt": "2026-09-15T14:30:00Z",
              "updatedBy": "2026-09-15",
              "version": 1
            }
          },
          "payment": {
            "id": "STANDARD",
            "intentId": "STANDARD",
            "qrPaymentRequestId": "7f183355-0786-5c97-b18d-18a6b940eff9",
            "merchantId": "MER-385026",
            "outletId": "STANDARD",
            "terminalId": "STANDARD"
          },
          "metadata": {
            "responseId": "db003854-8d46-5ffe-b3d2-c788dce23e22",
            "correlationId": "e600007e-237b-58a0-a805-f040089b71fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "QrPaymentRequest": {
        "title": "QR Payment Request",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the QR payment request."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier of the merchant making the request."
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier of the outlet handling the transaction."
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier of the terminal where the payment is processed."
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment request (e.g., sandbox or production)."
          },
          "standard": {
            "type": "string",
            "description": "The payment standard used in the transaction."
          },
          "amount": {
            "description": "The amount to be charged, including currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order."
          },
          "description": {
            "type": "string",
            "description": "Description regarding the payment request."
          },
          "tipOptions": {
            "description": "Options for tips provided by the customer.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload for the QR code."
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL to the generated QR code image."
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request."
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the QR code can be used only once."
          },
          "paidAmount": {
            "description": "Amount that has been paid so far.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiry timestamp for the payment request."
          },
          "audit": {
            "description": "Audit information for the payment request.",
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Represents a QR payment request issued to the payment processor.",
        "example": {
          "id": "string",
          "merchantId": "string",
          "outletId": "string",
          "terminalId": "string",
          "mode": "string",
          "standard": "string",
          "amount": {
            "currency": "string",
            "value": "string"
          },
          "merchantOrderId": "string",
          "description": "string",
          "tipOptions": {
            "mode": "string",
            "fixedAmounts": [
              {
                "currency": "string",
                "value": "string"
              }
            ],
            "percentages": [
              "string"
            ],
            "maximumTip": {
              "currency": "string",
              "value": "string"
            }
          },
          "qrPayload": "string",
          "qrImageUrl": "string",
          "status": "string",
          "singleUse": false,
          "paidAmount": {
            "currency": "string",
            "value": "string"
          },
          "paymentId": "string",
          "expiresAt": "string",
          "audit": {
            "createdAt": "string",
            "createdBy": "string",
            "updatedAt": "string",
            "updatedBy": "string",
            "version": 0
          }
        }
      },
      "Payment": {
        "title": "Payment",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "intentId": {
            "type": "string",
            "description": "Identifier for the payment intent."
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier of the QR payment request associated with this payment."
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier of the merchant handling the payment."
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier of the outlet where the payment is processed."
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used to process the payment."
          }
        },
        "description": "Details about a specific payment processed through the QR payment request.",
        "example": {
          "id": "string",
          "intentId": "string",
          "qrPaymentRequestId": "string",
          "merchantId": "string",
          "outletId": "string",
          "terminalId": "string"
        }
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to this payment."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the payment across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp at which the metadata was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is being processed."
          }
        },
        "description": "Metadata containing information about the payment processing lifecycle.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      },
      "TipOptions": {
        "title": "Tip Options",
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode for handling tips (e.g., enabled, disabled)."
          },
          "fixedAmounts": {
            "type": "array",
            "description": "A list of fixed tip amounts the customer can choose from.",
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "A list of percentage-based tip options the customer can choose from.",
            "items": {
              "type": "string",
              "description": "A percentage string representation."
            }
          },
          "maximumTip": {
            "description": "The maximum allowable tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents the options for adding tips to the payment.",
        "example": {
          "mode": "string",
          "fixedAmounts": [
            {
              "currency": "string",
              "value": "string"
            }
          ],
          "percentages": [
            "string"
          ],
          "maximumTip": {
            "currency": "string",
            "value": "string"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the QR payment request was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the QR payment request."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the QR payment request was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the QR payment request."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the QR payment request.",
            "format": "int32"
          }
        },
        "description": "Logs for tracking changes and updates to the payment request.",
        "example": {
          "createdAt": "string",
          "createdBy": "string",
          "updatedAt": "string",
          "updatedBy": "string",
          "version": 0
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ed862de3-b7a2-4983-a083-c1ead5a39c28"
        },
        "example": "ed862de3-b7a2-4983-a083-c1ead5a39c28"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4dd92b7b-242f-4f4f-acf9-2d5092024be9"
        },
        "example": "4dd92b7b-242f-4f4f-acf9-2d5092024be9"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-execute-qr-payment"
        },
        "example": "banking-p2m-openapi-execute-qr-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request, which can be useful for debugging and auditing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the payment request, helping track its status through various processes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-026"
        },
        "example": "WF-026"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card-not-present eCommerce Payment"
        },
        "example": "Card-not-present eCommerce Payment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4dd92b7b-242f-4f4f-acf9-2d5092024be9"
        },
        "example": "4dd92b7b-242f-4f4f-acf9-2d5092024be9"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication method where a JSON Web Token (JWT) is provided in the authorization header. Clients must include this token to authenticate requests, ensuring secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}