{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Contribution Reviews API",
    "description": "The Business Contribution Reviews API allows users to submit reviews related to business contribution analyses within a banking context. This API facilitates the collection and organization of feedback on various aspects of business contributions, helping stakeholders understand insights and enhance decision-making. Typical consumers include business analysts, financial advisors, and any banking professionals involved in assessing contributions. By centralizing review submissions, organizations can refine their analyses and bolster client relations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/contribution-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Contribution Analysis"
        ],
        "summary": "Create a review for contribution analysis RES-100045.",
        "description": "This endpoint allows users to submit a review pertaining to the contribution analysis of the resource identified by RES-100045. Users can provide feedback and insights that will contribute to the analysis process.",
        "operationId": "createContributionAnalysisReviewRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the specified business analysis contribution. Ensure that all required fields are filled out correctly to successfully create a review.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContributionAnalysisReviewRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContributionAnalysisReviewRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateContributionAnalysisReviewRes100045Request": {
        "title": "Contribution Analysis Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of review, which includes the areas to be reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific areas included in the review scope.",
              "example": "Performance metrics"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review submission.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a contribution analysis review in the operations context.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "8b5ee1cd-2135-524b-ac36-3c6244a28273",
            "correlationId": "f751dbb5-8753-50d4-b468-e9d4922e0ed3",
            "idempotencyKey": "90548ec7-6a80-580a-b9e3-ef26b3bedbd7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-603459"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track this request across systems.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system where the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application initiating the request.",
            "example": "Web App"
          },
          "channel": {
            "description": "Details about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including relevant identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "CreateContributionAnalysisReviewRes100045Response_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference to the specific action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the request or action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the contribution analysis reviews operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f0714021-def9-527d-905d-2c7270d19ff4",
            "correlationId": "f751dbb5-8753-50d4-b468-e9d4922e0ed3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called, which helps in tracking the specific API endpoint in use.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-analysis-review-contribution-analysis"
        },
        "example": "contribution-analysis-review-contribution-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request is being processed, aiding in the identification of the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as bearer tokens. This scheme allows clients to securely authenticate to the API by including the JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}