{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Endpoints Management API",
    "description": "The Webhook Endpoints Management API enables users to efficiently retrieve and manage webhook endpoints used in product integrations. This API facilitates access to endpoint configurations, allowing for seamless interaction between systems and real-time updates. Typical consumers include developers and system integrators looking to monitor or modify webhook settings securely. This API supports diverse use cases such as ensuring data consistency, automating workflows, and enhancing system interconnectivity.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints": {
      "get": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retrieve webhook endpoint configurations.",
        "description": "This endpoint allows developers to retrieve the current configurations of all webhook endpoints that are set up in the system. Useful for understanding the application's integration points.",
        "operationId": "getWebhookEndpoints",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters necessary to retrieve webhook endpoints. Ensure that all required fields are correctly filled to successfully receive the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhookEndpointsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of webhook endpoints.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookEndpointsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhookEndpointsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on webhook endpoints, represented as a string.",
        "example": "{}"
      },
      "GetWebhookEndpointsResponse_200": {
        "title": "Webhook Endpoints Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of links related to pagination and other operations.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of webhook endpoint items.",
            "example": [
              {
                "webhookEndpointId": "STANDARD",
                "merchantId": "MER-472116",
                "url": "https://example.com/resource",
                "description": "Customer banking request processed successfully",
                "events": [
                  "STANDARD"
                ],
                "status": "ACTIVE",
                "secretLastRotatedAt": "2026-08-11T12:00:00Z",
                "lastDeliveryAt": "2026-08-11T12:00:00Z",
                "lastDeliveryStatus": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEndpoint"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for fetching the list of webhook endpoints.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "webhookEndpointId": "STANDARD",
              "merchantId": "MER-472116",
              "url": "https://example.com/resource",
              "description": "Customer banking request processed successfully",
              "events": [
                "STANDARD"
              ],
              "status": "ACTIVE",
              "secretLastRotatedAt": "2026-08-11T12:00:00Z",
              "lastDeliveryAt": "2026-08-11T12:00:00Z",
              "lastDeliveryStatus": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "5d1762e0-bc75-5a70-bfd4-209454157953",
            "correlationId": "8c39d77d-cee2-5dc6-bdaa-cfff7a290838",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship of the link to the current resource.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "The URL of the linked resource.",
            "example": "https://api.example.com/next"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use when following the link.",
            "example": "GET"
          }
        },
        "description": "Represent information about a hyperlink used for pagination and navigation."
      },
      "WebhookEndpoint": {
        "title": "Webhook Endpoint",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "endpoint123"
          },
          "merchantId": {
            "type": "string",
            "description": "The ID of the merchant who owns the webhook endpoint.",
            "example": "merchant456"
          },
          "url": {
            "type": "string",
            "description": "The URL that the webhook will send requests to.",
            "example": "https://my.callback.url"
          },
          "description": {
            "type": "string",
            "description": "A description of what the webhook is for.",
            "example": "A description of the webhook"
          },
          "events": {
            "type": "array",
            "description": "List of events for which this webhook will trigger.",
            "items": {
              "type": "string",
              "example": "event1"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint.",
            "example": "active"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp when the secret for the webhook was last rotated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp of the last delivery attempt to the webhook.",
            "example": "2023-01-02T00:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt.",
            "example": "delivered"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Represents a webhook endpoint configuration."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the webhook endpoint was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the webhook endpoint.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the webhook endpoint.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the webhook endpoint.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the webhook endpoint.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains information regarding the creation and update history of the webhook endpoint."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier used for correlating logs.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the webhook endpoint that triggered the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-webhook-endpoints"
        },
        "example": "banking-p2m-openapi-list-webhook-endpoints"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the webhook.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that requires a JSON Web Token (JWT) to be included in requests, providing secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}