{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Private Placement Information API",
    "description": "The Private Placement Information API allows users to access detailed insights regarding private placement opportunities in corporate finance. This API serves as a resource for financial analysts, investment managers, and corporate finance professionals seeking to understand market trends, investment potentials, and specific offerings. Users can retrieve valuable information by providing relevant parameters, ensuring informed decision-making in investment strategies. The API is designed to support financial services applications requiring up-to-date private placement data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/private-placement/{param1}": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve Private Placement Information",
        "description": "Fetches detailed information about a specific private placement by its unique identifier. This endpoint allows clients to access important details related to the private placement, ensuring they have up-to-date and comprehensive data.",
        "operationId": "getPrivatePlacementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the private placement operation identified by RES-100045. Ensure that the request includes all necessary parameters in the specified format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPrivatePlacementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivatePlacementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPrivatePlacementByIdRequest": {
        "title": "Corporate Finance Private Placement Request Body",
        "type": "string",
        "description": "This schema represents the request body for the Corporate Finance Private Placement operations, specifically the GET operation with the identifier RES-100045.",
        "example": "{}"
      },
      "GetPrivatePlacementByIdResponse_200": {
        "title": "Private Placement Response",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction being processed.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "The enterprise value associated with the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the transaction.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Private Placement operations in the corporate finance domain.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0d8b810b-db27-574e-a959-63117d2f0322",
            "correlationId": "87d380d5-0224-5e7f-95a1-5ab7b1a45369",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "title": "Enterprise Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount representing the enterprise value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the enterprise value is expressed.",
            "example": "USD"
          }
        },
        "description": "Represents the enterprise value with currency information."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "private-placement-get-private-placement"
        },
        "example": "private-placement-get-private-placement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, specifically formatted as a JSON Web Token (JWT). The client must include this token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}