{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Account Management API",
    "description": "The Investment Account Management API provides access to detailed information about investment accounts within the banking management system. This API allows users to retrieve data regarding account balances, transaction history, and investment performance. It is aimed at financial institutions, investment managers, and clients looking to monitor their investment portfolios. By leveraging this API, developers can create applications that empower users to make informed decisions about their investment strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-account": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve investment account details.",
        "description": "This endpoint allows users to fetch detailed information about their investment accounts managed through the investment management system. It provides insights into account balances, transactions, and other relevant data.",
        "operationId": "getInvestmentAccountInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving investment account information. This body can include various parameters and filters to tailor the response to specific investment accounts.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentAccountInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentAccountInfoResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentAccountInfoRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving investment account operations.",
        "example": "{}"
      },
      "GetInvestmentAccountInfoResponse_200": {
        "title": "Investment Account Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of investment account items.",
            "example": [
              {
                "portfolioId": "PORT-887785",
                "investmentAccountId": "ACC-360586",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentAccountItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the investment accounts.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Investment Account Operations GET request, containing a list of investment account items along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-887785",
              "investmentAccountId": "ACC-360586",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "02f253ec-6c6a-5be6-bb78-fed5828d6d61",
            "correlationId": "87fd2a9e-57a7-5c47-889c-b62940e0a8fc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentAccountItem": {
        "title": "Investment Account Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "string"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account.",
            "example": "string"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective associated with the account.",
            "example": "string"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile of the investment account.",
            "example": "string"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency of the investment account.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the investment record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the investment account was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an investment account item with its associated properties."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response, including page number, page size, and total items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information pertaining to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was used to process the request. This helps in tracking and identifying the specific endpoint involved in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-account-search-investment-account"
        },
        "example": "investment-account-search-investment-account"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request. This information is useful for debugging and understanding the environment where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method where a JWT (JSON Web Token) is provided in the Authorization header. The token should be included in the format 'Bearer {token}' for access control. JWTs are a compact and self-contained way for securely representing information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}