{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Allocation API",
    "description": "The Order Allocation API streamlines the process of managing and allocating orders within the banking market operations context. This endpoint enables users to retrieve pertinent information about order allocations, facilitating effective decision-making for financial transactions. Typical consumers include financial analysts, operational teams, and system integrators working to enhance efficiency in order management. By leveraging this API, organizations can ensure accurate tracking and allocation of orders, contributing to improved operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/order-allocation": {
      "get": {
        "tags": [
          "Order Management"
        ],
        "summary": "Retrieve all order allocations",
        "description": "Fetches a list of all order allocations present in the market operations database. This endpoint provides essential information regarding the allocation of orders, allowing users to analyze and manage their order distribution effectively.",
        "operationId": "getAllOrderAllocations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body specifies the parameters needed to allocate orders in the market operations. It includes detailed configurations for order handling.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAllOrderAllocationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning all order allocations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAllOrderAllocationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAllOrderAllocationsRequest": {
        "type": "string",
        "description": "A string representation of the request body used in the market operations for order allocation.",
        "example": "{}"
      },
      "GetAllOrderAllocationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trade items involved in the order allocation.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradeItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata providing additional context about the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET request related to order allocation operations, containing a list of trade items, pagination information, sorting details, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "68eac8b8-9acb-5f34-99b5-14f9025a177a",
            "correlationId": "161d3c00-8883-5e29-8d82-63688a6269b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeItem": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "trade123"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "instrument456"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade is settled.",
            "example": "2023-10-01"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument traded.",
            "format": "int32",
            "example": 100
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Unique identifier for the custodian managing the trade.",
            "example": "custodian789"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the trade record.",
            "example": "confirmed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the trade record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a trade item involved in the order allocation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items in the result set.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination information for the returned list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request through the system.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata related to the request and response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "order-allocation-search-order-allocation"
        },
        "example": "order-allocation-search-order-allocation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer token authentication. The client must include a JSON Web Token (JWT) in the Authorization header of the request to authenticate. This token is typically obtained from an authentication server and should be kept secure.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}