{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Disbursement Management API",
    "description": "The Loan Disbursement Management API facilitates the processing of disbursements related to specific loan accounts. This endpoint allows authorized users to initiate disbursement transactions for a given loan identified by loanId. It caters to financial institutions and lending platforms looking to enhance their loan management capabilities by automating disbursement workflows. By leveraging this API, developers can integrate seamless payment handling into their applications, improving efficiency and user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new loan disbursement.",
        "description": "This endpoint allows you to create a new disbursement for a specified loan. Ensure that all required loan details are provided to process the disbursement successfully.",
        "operationId": "createLoanDisbursement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a disbursement for the specified loan identified by LOAN-500045. It includes the necessary details required for processing the disbursement request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanDisbursementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Disbursement created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanDisbursementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanDisbursementRequest": {
        "title": "Disbursement Request",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount to be disbursed, including currency information.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method of disbursement, e.g., bank transfer, cheque, etc.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement will be effective.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Information about the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "A list of deductions associated with the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description for the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier related to the disbursement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing a disbursement operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-330",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "requestContext": {
            "requestId": "781a1918-c553-56d8-9852-45a6d1b765f7",
            "correlationId": "9805d91a-6473-5481-827f-7081b8f7a36a",
            "idempotencyKey": "f10e72da-2926-59f4-8533-ae1a77dedbe8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-202772"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format)."
          },
          "amount": {
            "type": "string",
            "description": "The financial amount represented as a string."
          }
        },
        "description": "This schema represents an amount of money, including its currency."
      },
      "Beneficiary": {
        "title": "Beneficiary",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number of the beneficiary."
          },
          "bankCode": {
            "type": "string",
            "description": "The bank code where the beneficiary holds the account."
          },
          "bankName": {
            "type": "string",
            "description": "The name of the bank where the beneficiary holds the account."
          },
          "address": {
            "description": "The address of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Details about the beneficiary receiving the disbursement."
      },
      "Address": {
        "title": "Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional)."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          }
        },
        "description": "Details of an address, including multiple components."
      },
      "Deduction": {
        "title": "Deduction",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of deduction (e.g., fees, taxes)."
          },
          "amount": {
            "description": "The amount deducted, including currency information.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Represents a deduction applied to a disbursement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-7890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "idemp-5678"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system making the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application making the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel, e.g., online, mobile.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-1234"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateLoanDisbursementResponse_201": {
        "title": "Disbursement Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount for the disbursement including currency information.",
            "$ref": "#/components/schemas/Amount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method used for disbursement.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement is valued.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details regarding the beneficiary of the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "A list of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description accompanying the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for tracking purposes.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the disbursement.",
            "example": "7395521a-e68b-0cb9-88d4-b5eed5856eb5"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "The number assigned to the disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "The gross amount before any deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "description": "The net amount after deductions.",
            "$ref": "#/components/schemas/Amount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference for the transaction associated with the disbursement.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating the failure reason if applicable.",
            "example": "CODE-753"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message describing the failure reason if applicable.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information for the disbursement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the disbursement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for disbursement operations related to loans, detailing the amount, methods, beneficiary information, and other relevant metadata.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-597",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "7395521a-e68b-0cb9-88d4-b5eed5856eb5",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-753",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "6a3c4ea3-5264-569c-8674-86214addda9b",
            "correlationId": "9805d91a-6473-5481-827f-7081b8f7a36a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the disbursement."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the disbursement was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the disbursement."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the disbursement.",
            "format": "int32"
          }
        },
        "description": "Audit information detailing who created or updated the disbursement and when."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response generated for tracking."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the disbursement was processed."
          }
        },
        "description": "Additional metadata associated with the disbursement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the API endpoint being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-disbursement"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that is making the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which allows the usage of JSON Web Tokens (JWT) for user authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}