{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Management API",
    "description": "The Refund Management API enables businesses to efficiently process and track refund requests associated with payment transactions. It provides endpoints for retrieving details of existing refunds, giving users visibility into refund statuses and related transaction information. This API is essential for financial teams, customer support, and operations personnel who need to manage and monitor refund activities. Typical use cases include querying refund histories, validating refund eligibility, and integrating refund data into financial reporting systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds": {
      "get": {
        "tags": [
          "Refunds"
        ],
        "summary": "Retrieve a list of refunds.",
        "description": "This endpoint allows you to retrieve a list of all refunds processed by the system. You can use this to audit refund transactions or provide customer support regarding financial adjustments.",
        "operationId": "getRefunds",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve refund information. It should contain the necessary parameters to filter and specify the refund details being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRefundsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of refund records.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRefundsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRefundsRequest": {
        "type": "string",
        "description": "The request body for the refunds operations GET request, represented as a string.",
        "example": "{}"
      },
      "GetRefundsResponse_200": {
        "title": "Refunds Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of links related to the current response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of refund items in the response.",
            "example": [
              {
                "refundId": "STANDARD",
                "paymentId": "PAY-827728",
                "merchantId": "MER-416183",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reasonCode": "CODE-330",
                "reason": "STANDARD",
                "merchantRefundReference": "STANDARD",
                "status": "ACTIVE",
                "failure": {
                  "category": "STANDARD",
                  "code": "SUCCESS",
                  "message": "STANDARD",
                  "declineCode": "CODE-765",
                  "retryable": true
                },
                "processorReference": {
                  "network": "STANDARD",
                  "schemeTransactionId": "TXN-453774",
                  "acquirerReferenceNumber": "STANDARD",
                  "issuerReference": "STANDARD",
                  "retrievalReferenceNumber": "STANDARD",
                  "approvalCode": "CODE-614"
                },
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RefundItem"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T00:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "2571729e-2ba8-53f8-b2c6-aca13c103194",
              "correlationId": "6cbf6577-3db5-508d-a99c-4ae5f8503543",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for fetching refunds.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "refundId": "STANDARD",
              "paymentId": "PAY-827728",
              "merchantId": "MER-416183",
              "amount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "reasonCode": "CODE-330",
              "reason": "STANDARD",
              "merchantRefundReference": "STANDARD",
              "status": "ACTIVE",
              "failure": {
                "category": "STANDARD",
                "code": "SUCCESS",
                "message": "STANDARD",
                "declineCode": "CODE-765",
                "retryable": true
              },
              "processorReference": {
                "network": "STANDARD",
                "schemeTransactionId": "TXN-453774",
                "acquirerReferenceNumber": "STANDARD",
                "issuerReference": "STANDARD",
                "retrievalReferenceNumber": "STANDARD",
                "approvalCode": "CODE-614"
              },
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "2571729e-2ba8-53f8-b2c6-aca13c103194",
            "correlationId": "6cbf6577-3db5-508d-a99c-4ae5f8503543",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "The URL to the linked resource.",
            "example": "https://api.example.com/refunds?page=1"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to be used for the link.",
            "example": "GET"
          }
        },
        "description": "Schema representing a link with relation, href, and method."
      },
      "RefundItem": {
        "title": "Refund Item",
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "refund_123"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "payment_456"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "merchant_789"
          },
          "amount": {
            "description": "The amount of the refund, including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "customer_cancelled"
          },
          "reason": {
            "type": "string",
            "description": "Descriptive reason for the refund.",
            "example": "Customer decided to cancel the purchase."
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Merchant's own reference for the refund.",
            "example": "merchant_ref_001"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "completed"
          },
          "failure": {
            "description": "Details of any failure related to the refund, if applicable.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Details of the processor's reference for the transaction.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit information regarding the refund.",
            "$ref": "#/components/schemas/Audit"
          }
        },
        "description": "Schema representing a single refund item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount for a refund, including currency and value."
      },
      "Failure": {
        "title": "Failure",
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "processing_error"
          },
          "code": {
            "type": "string",
            "description": "Error code associated with the failure.",
            "example": "ERR001"
          },
          "message": {
            "type": "string",
            "description": "Description of the error message.",
            "example": "Insufficient funds."
          },
          "declineCode": {
            "type": "string",
            "description": "Decline code provided by the payment processor.",
            "example": "DECLINE123"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the failure is retryable.",
            "example": false
          }
        },
        "description": "Schema detailing any failure related to a refund."
      },
      "ProcessorReference": {
        "title": "Processor Reference",
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network used for the transaction.",
            "example": "Visa"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction ID from the payment scheme.",
            "example": "trans_123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "acquiring_7890"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number provided by the issuer.",
            "example": "issuer_4567"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number used to retrieve transaction details.",
            "example": "retrieval_5678"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code for the transaction.",
            "example": "APPROVAL123"
          }
        },
        "description": "Schema representing processor references for a transaction."
      },
      "Audit": {
        "title": "Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user_001"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user_002"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for a refund."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-refunds"
        },
        "example": "banking-p2m-openapi-list-refunds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a means of authentication. Clients must include the JWT in the Authorization header of their requests to securely access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}