{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Branch Operations API",
    "description": "The E-Branch Operations API provides a streamlined interface for accessing various functionalities related to e-branch banking operations. It allows financial institutions and partners to retrieve crucial information about branch operations, including service availability, operational hours, and specific service offerings. This API is particularly useful for developers building banking applications or integrations that enhance user experience by providing up-to-date branch-related data. Typical consumers include mobile banking developers and financial service providers aiming to deliver comprehensive e-branch functionality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations": {
      "get": {
        "tags": [
          "E-Branch Operations"
        ],
        "summary": "Retrieve e-branch operations by channel.",
        "description": "This endpoint allows you to fetch a list of operations specific to the e-branch channel, providing insights into available services and functionalities that can be applied within this branch channel.",
        "operationId": "getEbranchOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve channel-specific e-branch operations. It should contain the necessary parameters in JSON format to specify the request details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEbranchOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEbranchOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEbranchOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for a specific operation related to channel-specific branch operations in an application context.",
        "example": "{}"
      },
      "GetEbranchOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of branch operation items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to branch-specific services for the channel.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e857e0a2-cb5e-5ff8-a867-f8c7a54d4360",
            "correlationId": "83ad4539-6116-5912-b5b1-bdb173c01fc1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchOperationItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region.",
            "example": "US-WA"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Total capacity of the branch per day.",
            "format": "int32",
            "example": 100
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "BR456"
          },
          "branchType": {
            "type": "string",
            "description": "Type of branch (e.g., main, sub).",
            "example": "main"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the branch location.",
            "example": "PST"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the branch record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the branch operation was last updated.",
            "example": "2023-10-10T12:00:00Z"
          }
        },
        "description": "Details of a specific branch operation."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the branch.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the branch.",
            "example": "17:00"
          }
        },
        "description": "Operating hours for the branch services."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details for paginating through the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "COR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where processing occurred.",
            "example": "US"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps to differentiate between various endpoints in the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-search-e-branch-operations"
        },
        "example": "e-branch-operations-search-e-branch-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment where the request was processed. Useful for debugging and tracking performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must provide the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}