{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Available Balance API",
    "description": "The Customer Account Available Balance API allows users to retrieve the current available balance for a specific account belonging to a customer. This endpoint provides real-time data crucial for financial applications, helping clients track their account status effectively. It is typically used by banking and financial service providers to enhance customer experience and offer timely insights into account management. By accessing this API, developers can integrate balance checks into their applications, ensuring users have the latest financial information at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/availablebalance/live": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve live available balance for a specific customer account.",
        "description": "This endpoint allows you to fetch the current available balance for a specified customer account in real-time. It provides crucial financial information that can be used for various banking and account management functionalities.",
        "operationId": "getAvailableBalanceForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the live available balance for a specific account associated with a customer. Ensure that the request adheres to the intended structure and includes all required fields as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailableBalanceForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the current available balance.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableBalanceForCustomerAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAvailableBalanceForCustomerAccountRequest": {
        "type": "string",
        "description": "The available balance for the specified account in the system.",
        "example": "{}"
      },
      "GetAvailableBalanceForCustomerAccountResponse_200": {
        "title": "Account Available Balance Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the account.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "STANDARD"
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance in the account.",
            "example": 100.0
          },
          "availableBalanceDate": {
            "type": "integer",
            "description": "The date when the available balance was last updated, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "clearedBalance": {
            "type": "number",
            "description": "The cleared balance in the account.",
            "example": 100.0
          },
          "clearedBalanceDate": {
            "type": "integer",
            "description": "The date when the cleared balance was last updated, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The status code representing the aggregation status of the account.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the account balances are represented.",
            "example": "USD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "resp-123456"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation ID for tracking purposes.",
                "example": "corr-789012"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "874ffad4-cb6a-5d63-a6ff-99ba740cc462",
              "correlationId": "b76570f9-91f4-5a29-9d3a-a3cce750a91f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response structure for retrieving the available balance of an account.",
        "example": {
          "id": 1,
          "realAccountNumberLast4": "STANDARD",
          "availableBalance": 100.0,
          "availableBalanceDate": 1,
          "clearedBalance": 100.0,
          "clearedBalanceDate": 1,
          "aggregationStatusCode": 1,
          "currency": "USD",
          "metadata": {
            "responseId": "874ffad4-cb6a-5d63-a6ff-99ba740cc462",
            "correlationId": "b76570f9-91f4-5a29-9d3a-a3cce750a91f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking and logging interactions with the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-available-balance-live"
        },
        "example": "open-finance-api-get-available-balance-live"
      },
      "X-Runtime-App": {
        "description": "An identifier for the application that processed the request. It assists in monitoring and debugging performance-related issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}