{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Void Authorization API",
    "description": "The Void Authorization API allows businesses to reverse or cancel previously processed authorizations based on a specific authorization ID. This endpoint is particularly useful for payment processing services, enabling merchants to manage their transactions effectively. Typical consumers include application developers and payment platform providers who need to ensure that incorrect or unnecessary authorizations can be voided in a timely manner. This operation aids in maintaining accurate financial records and enhancing customer service by preventing unwanted charges.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/void": {
      "post": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Void an authorization by its ID.",
        "description": "This endpoint allows you to void an existing authorization using its unique identifier. This operation is crucial for managing and correcting transactions when necessary.",
        "operationId": "voidAuthorizationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for voiding a specific authorization. This body must contain the necessary parameters to successfully process the void operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VoidAuthorizationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully voided the authorization.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VoidAuthorizationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "VoidAuthorizationByIdRequest": {
        "title": "Void Operation Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the void operation.",
            "example": "CODE-662"
          },
          "reason": {
            "type": "string",
            "description": "The detailed reason for the void operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for void operations.",
        "example": {
          "reasonCode": "CODE-662",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "01f5bc3a-fa55-53cc-a30a-72a4f913430c",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "idempotencyKey": "960e8dc2-0d4c-52e5-a1eb-1df2d48644f3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-506913"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application initiating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing additional context information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema containing details about the channel used for the request."
      },
      "VoidAuthorizationByIdResponse_200": {
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "The unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment associated with the authorization.",
            "example": "PAY-627632"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant who initiated the authorization.",
            "example": "MER-345800"
          },
          "authorizedAmount": {
            "description": "The amount that was authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that was captured from the authorized amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount involved in the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "The current status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "The code given in response to the authorization request.",
            "example": "CODE-102"
          },
          "expiresAt": {
            "type": "string",
            "description": "The time at which the authorization will expire.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the authorization.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the authorization response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for void authorization operation. This schema contains details about the authorization status and related amounts.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-627632",
          "merchantId": "MER-345800",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-102",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "065c5a39-dd84-5db5-b933-cd932e99c33a",
            "correlationId": "4839e87b-509d-50d9-97ce-e188a13eb666",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount with a currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the authorization was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "User or system that created the authorization.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the authorization was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "User or system that last updated the authorization.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the authorization.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for the authorization lifecycle."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the authorization response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-void-authorization"
        },
        "example": "banking-p2m-openapi-void-authorization"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application running the runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs a JSON Web Token (JWT) for authorization. This scheme requires the client to include a Bearer token in the Authorization header of requests to verify their identity and access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}