{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mortgage Loan Information API",
    "description": "The Mortgage Loan Information API provides access to comprehensive details about mortgage loan offerings available through the banking system. Consumers, including financial advisors and individual borrowers, can utilize this API to retrieve current mortgage products, interest rates, and eligibility criteria. This endpoint is essential for integrating mortgage loan information into applications or systems that support financial decision-making. By leveraging this API, users can enhance their understanding of mortgage options and make informed choices related to home financing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Mortgage Loan Details",
        "description": "This endpoint allows users to retrieve comprehensive details about mortgage loans available for deposit lending, including terms, conditions, and interest rates.",
        "operationId": "getMortgageLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving mortgage loan information. It contains the necessary parameters to specify the loan details being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMortgageLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning mortgage loan data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMortgageLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMortgageLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to mortgage loan transactions under deposit lending.",
        "example": "{}"
      },
      "GetMortgageLoanDetailsResponse_200": {
        "title": "Mortgage Loan Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of mortgage loan items.",
            "example": [
              {
                "customerId": "CUST-101330",
                "accountId": "ACC-124860",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "propertyId": "STANDARD",
                "propertyValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "loanToValuePercent": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MortgageLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for mortgage loan operations, containing an array of loan items and pagination metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-101330",
              "accountId": "ACC-124860",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "propertyId": "STANDARD",
              "propertyValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "loanToValuePercent": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b63e5541-a7f9-5e3d-8793-8c0a0468f598",
            "correlationId": "0a376720-f333-5ff4-963c-71d0b3c31a40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MortgageLoanItem": {
        "title": "Mortgage Loan Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account.",
            "example": "67890"
          },
          "productCode": {
            "type": "string",
            "description": "The product code for the mortgage loan.",
            "example": "MORT123"
          },
          "principal": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 360
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment.",
            "example": "monthly"
          },
          "propertyId": {
            "type": "string",
            "description": "Unique identifier for the property associated with the loan.",
            "example": "property-123"
          },
          "propertyValue": {
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value ratio as a percentage.",
            "example": 83.33
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, closed).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-10-10T12:00:00Z"
          }
        },
        "description": "Schema representing an individual mortgage loan with relevant details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination metadata for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abcd-1234-efgh-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "ijkl-9101-mnop-1213"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing was performed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata information about the response."
      },
      "AmountWithCurrency": {
        "title": "Amount with Currency",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 250000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format).",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount of money with its currency."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-search-mortgage-loan"
        },
        "example": "mortgage-loan-search-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Token Authorization method, where the client must include a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}