{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ACH Payment Status API",
    "description": "The ACH Payment Status API provides real-time information about the status of ACH payment operations. This endpoint allows users to track the progress of their payments, ensuring transparency and facilitating effective financial management. Common consumers of this API include financial institutions and businesses that rely on electronic payments. By leveraging this API, users can quickly access critical status updates for their ACH transactions, enhancing their operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/ach-operations/status": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve status of ACH operations.",
        "description": "This endpoint allows you to fetch the current status of Automated Clearing House (ACH) operations, providing insight into the success or failure of ACH transactions.",
        "operationId": "getAchOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the status of ACH operations, providing necessary parameters in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAchOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAchOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAchOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the ACH operations status GET request.",
        "example": "{}"
      },
      "GetAchOperationStatusResponse_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-209291"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account identifier of the debtor.",
            "example": "ACC-139384"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account identifier of the creditor.",
            "example": "ACC-629884"
          },
          "instructedAmount": {
            "description": "The amount that has been instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the remittance for this payment.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the status of ACH operations.",
        "example": {
          "paymentId": "PAY-209291",
          "debtorAccountId": "ACC-139384",
          "creditorAccountId": "ACC-629884",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b5c58541-8306-5be4-acd5-fbb30e215952",
            "correlationId": "2e24472c-5263-5168-a5cb-e7267bf8d094",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the instructed amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the instructed amount is denominated.",
            "example": "string"
          }
        },
        "description": "This schema represents the instructed amount for a payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the payment was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata for the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ach-operations-get-ach-operations"
        },
        "example": "ach-operations-get-ach-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JWT (JSON Web Token) in the Authorization header to access the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}