{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Operations API",
    "description": "The Contact Center Operations API enables seamless access to channel-specific contact center data and operations. This API serves as a resource for retrieving comprehensive information regarding customer interactions, service requests, and performance metrics across different banking channels. Typical consumers include customer service agents and management systems looking to analyze and optimize customer support workflows. By leveraging this API, organizations can enhance their customer relationship management and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations/{param1}": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve specific contact center operation details.",
        "description": "This endpoint allows you to access detailed information about a specific contact center operation identified by its unique resource ID. It provides essential data and insights related to the operation for effective management and analysis.",
        "operationId": "getContactCenterOperationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving channel-specific contact center operations. The expected JSON structure should align with the defined schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContactCenterOperationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContactCenterOperationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContactCenterOperationByIdRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the contact center operations channel specific API. This request body is expected to be a string.",
        "example": "{}"
      },
      "GetContactCenterOperationByIdResponse_200": {
        "title": "Channel-specific Contact Center Operations Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code indicating the geographical region of operation.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Operational hours during which the service is available.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum number of operations that can be handled in a day.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "Unique identifier for the operational queue.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "Identifier for the skill group assigned to handle operations.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "Target response time in seconds for incoming operations.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the operational record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operational response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for channel-specific contact center operations, detailing operational parameters such as service windows, capacity, and metadata.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d693df1b-c77d-514f-908b-049aca41f8e3",
            "correlationId": "f957561b-0f0d-5a80-ab3d-1cc08409923d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "17:00"
          }
        },
        "description": "Defines the opening and closing times during which the service is accessible."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the flow of requests and responses related to a specific operation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional contextual information related to the operational response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-operations-get-contact-center-operations"
        },
        "example": "contact-center-operations-get-contact-center-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token in the HTTP Authorization header to authenticate to the API. The token format is JSON Web Token (JWT), which allows for secure information exchange between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}