{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Management API",
    "description": "The Collateral Management API facilitates the retrieval of collateral information associated with specific loan applications. It allows users to query details for a particular collateral item given the loan application ID and collateral ID. This API is particularly useful for financial institutions and loan officers needing to assess the collateral backing a loan. By providing concise and relevant collateral data, it enhances decision-making in lending processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve collateral details for a specified loan application.",
        "description": "This endpoint allows users to fetch the collateral information associated with a loan application identified by its unique ID. It serves as a crucial step in managing loan records and assessing financial risk.",
        "operationId": "getLoanApplicationCollateralsForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving collateral details related to a specific loan application. This body is expected to be in JSON format and is used to specify details necessary for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationCollateralsForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved collateral details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationCollateralsForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationCollateralsForRes100045Request": {
        "type": "string",
        "description": "This schema represents the JSON body format for GET operations regarding loan applications and collaterals.",
        "example": "{}"
      },
      "GetLoanApplicationCollateralsForRes100045Response_200": {
        "title": "Collateral",
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral (e.g. real estate, vehicle).",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The ownership status of the collateral (e.g. owned, leased).",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "List of customer IDs who own the collateral.",
            "example": [
              "CUST-558489"
            ],
            "items": {
              "type": "string",
              "description": "A unique identifier for a customer owning the collateral.",
              "example": "string"
            }
          },
          "description": {
            "type": "string",
            "description": "A brief description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Value"
          },
          "forcedSaleValue": {
            "description": "The estimated value of the collateral in a forced sale scenario.",
            "$ref": "#/components/schemas/Value"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was last valued.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation of the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral (e.g. first priority, second priority).",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the collateral item.",
            "example": "dcb056f2-299f-a8e9-7c65-9977c91fed77"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral (e.g. active, inactive).",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the collateral.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A representation of a loan collateral item, including its type, ownership details, values, and related metadata.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-558489"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "dcb056f2-299f-a8e9-7c65-9977c91fed77",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f24e1c81-4f02-5ab1-9a1c-727c5f114e97",
            "correlationId": "5c5862ce-1104-5790-aabb-7b9b6b4ca121",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Value": {
        "title": "Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g. USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "10000.00"
          }
        },
        "description": "A monetary value representation with currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the collateral was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the collateral.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the collateral was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the collateral.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Metadata related to the creation and modification of the collateral."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response that includes this collateral data.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing the request and response flow.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the collateral was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata associated with the loan collateral."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-collateral"
        },
        "example": "banking-loans-openapi-get-collateral"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires the client to send a JSON Web Token (JWT) as part of the HTTP Authorization header. The JWT should be obtained through a login process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}