{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Item Update API",
    "description": "The Product Inventory Item Update API facilitates the modification of existing product inventory items within a banking context. This endpoint allows users to adjust attributes such as pricing, availability, and specifications based on current market conditions or operational needs. Typical consumers of this API include inventory managers and financial analysts who require real-time updates to inventory data for accurate reporting and decision-making. By utilizing this API, businesses can enhance their inventory accuracy and responsiveness to market changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management/{param1}": {
      "patch": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Update Product Inventory Item",
        "description": "This operation allows you to update the details of a specific product inventory item identified by its unique identifier. Ensure that you provide the necessary data in the request body to apply the changes.",
        "operationId": "updateProductInventoryItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the product inventory item with the identifier PROD-700045. It requires the necessary fields to reflect the changes in inventory, such as stock levels, pricing, or other relevant inventory attributes. Please ensure all required fields are included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateProductInventoryItemRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, inventory item updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateProductInventoryItemResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateProductInventoryItemRequest": {
        "title": "Product Inventory Item Management Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes that need to be made to the inventory item.",
            "$ref": "#/components/schemas/ProductInventoryChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating product inventory items.",
        "example": {
          "changes": {
            "inventoryItemId": "STANDARD",
            "sku": "STANDARD",
            "branchId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3ebb6e96-d3d0-52f6-90be-d698a5609e33",
            "correlationId": "e7e8fef3-26b7-5918-8da6-8ebb3bfa4755",
            "idempotencyKey": "2ac1d5e0-67af-5788-9c4f-24cb8f9528c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-286464"
            }
          }
        }
      },
      "ProductInventoryChanges": {
        "title": "Product Inventory Changes",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "The unique identifier for the inventory item.",
            "example": "abc123"
          },
          "sku": {
            "type": "string",
            "description": "The Stock Keeping Unit of the inventory item.",
            "example": "SKU-001"
          },
          "branchId": {
            "type": "string",
            "description": "The identifier for the branch location of the inventory item.",
            "example": "branch-001"
          }
        },
        "description": "Schema representing the specific changes to be made to a product inventory item."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace the request through various services.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key to ensure that the request is processed only once.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time when the request was made.",
            "example": "2023-10-19T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that is making the request.",
            "example": "POS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "InventoryApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing additional context information related to the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, in-store).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing details about the channel from which the request originated."
      },
      "UpdateProductInventoryItemResponse_200": {
        "title": "Product Inventory Item Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the inventory item was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on product inventory items.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "927325b4-dba8-5f08-bef4-7c0a0e877767",
            "correlationId": "e7e8fef3-26b7-5918-8da6-8ebb3bfa4755",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-25T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata that provides additional context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-update-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-update-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header of their requests for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}