{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Promotional Events Retrieval API",
    "description": "The Promotional Events Retrieval API enables businesses to access detailed information about promotional events related to banking marketing initiatives. By utilizing this endpoint, users can retrieve data associated with specific promotional events, enhancing engagement and user experience. This API is particularly beneficial for marketing teams and data analysts who need to analyze the effectiveness of promotional campaigns. Typical use cases include generating reports, evaluating event performance, and tailoring marketing strategies based on consumer interaction data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events/{param1}": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve promotional event details",
        "description": "This endpoint allows you to fetch detailed information about a specific promotional event using its unique identifier. It is designed for marketing analysis and event management purposes.",
        "operationId": "getMarketingPromotionalEventById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding promotional events associated with the specific identifier RES-100045. It contains parameters that specify the details about the request being made.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketingPromotionalEventByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and promotional event details were retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketingPromotionalEventByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketingPromotionalEventByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to promotional events in the marketing system.",
        "example": "{}"
      },
      "GetMarketingPromotionalEventByIdResponse_200": {
        "title": "Promotional Event Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "A list of channels used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A channel used for the promotional event.",
              "example": "email"
            }
          },
          "budget": {
            "description": "The budget details for the marketing campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the campaign record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number for the campaign record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the campaign was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a promotional event operation, detailing various properties related to marketing campaigns.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8360e7fb-fa6a-5217-9c7a-9ede9f9fdf5b",
            "correlationId": "156d8892-afd7-5fe3-86f3-fd6c29d8c041",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget Information",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total budget amount allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details of a marketing campaign."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate events or processes.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the promotional event response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processes the promotional events request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-get-promotional-events"
        },
        "example": "promotional-events-get-promotional-events"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request for the promotional events.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, where a valid JSON Web Token (JWT) is required for API access. The token must be included in the Authorization header of the request, formatted as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}