{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Indicator Retrieval API",
    "description": "The Payment Indicator Retrieval API is designed to provide insights into payment activities associated with specific customer accounts. By querying this endpoint, users can obtain valuable indicators that reflect the payment status and history of transactions for a given customer and account. This API is particularly useful for financial institutions, accounting software, and customer service applications that need to assess payment patterns. Typical consumers include operational teams aiming to enhance customer transparency and support decision-making processes regarding account management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/payments/paymentindicator": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment indicator for a specific account",
        "description": "This endpoint allows you to retrieve the payment indicator for a specific account identified by the provided customer and account IDs. Use this to understand the payment status related to the specified account.",
        "operationId": "getPaymentIndicatorForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment indicator for a specific account associated with a customer. It provides essential payment information that can be utilized for further processing or analytical purposes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentIndicatorForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning payment indicator information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentIndicatorForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentIndicatorForAccountRequest": {
        "title": "Payment Indicator",
        "type": "string",
        "description": "Represents the payment indicator data for the specified account and customer.",
        "example": "{}"
      },
      "GetPaymentIndicatorForAccountResponse_200": {
        "title": "Payment Indicator Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code indicating the status of the response.",
            "example": "SUCCESS"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message related to the response.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-425687"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-172873"
          },
          "payReqId": {
            "type": "string",
            "description": "The payment request identifier.",
            "example": "STANDARD"
          },
          "settleByDate": {
            "type": "string",
            "description": "The date by which the settlement is to be completed.",
            "example": "2026-09-15"
          },
          "settlementAmount": {
            "type": "number",
            "description": "The amount to be settled.",
            "example": 100.0
          },
          "availableBalance": {
            "type": "number",
            "description": "The balance available in the account.",
            "example": 100.0
          },
          "indicatorsByDay": {
            "type": "array",
            "description": "An array of daily indicators related to the payment.",
            "example": [
              {
                "potentialSettlementDate": "2026-09-15",
                "compositeScore": 1,
                "scoreIndicator": "STANDARD",
                "reasons": {
                  "recentBalance": 1,
                  "balanceHistory": 1,
                  "nsfHistory": 1,
                  "recentNsfHistory": 1,
                  "recurringNsf": 1,
                  "spendHistory": 1,
                  "depositHistory": 1,
                  "transactionAmount": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DailyPaymentIndicator"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response object for payment indicators associated with a specific account and customer.",
        "example": {
          "code": "SUCCESS",
          "message": "STANDARD",
          "customerId": "CUST-425687",
          "accountId": "ACC-172873",
          "payReqId": "STANDARD",
          "settleByDate": "2026-09-15",
          "settlementAmount": 100.0,
          "availableBalance": 100.0,
          "indicatorsByDay": [
            {
              "potentialSettlementDate": "2026-09-15",
              "compositeScore": 1,
              "scoreIndicator": "STANDARD",
              "reasons": {
                "recentBalance": 1,
                "balanceHistory": 1,
                "nsfHistory": 1,
                "recentNsfHistory": 1,
                "recurringNsf": 1,
                "spendHistory": 1,
                "depositHistory": 1,
                "transactionAmount": 1
              }
            }
          ],
          "metadata": {
            "responseId": "011d6fa6-9e3e-5e3a-b7e7-bcfa9f244964",
            "correlationId": "60024ba5-6259-5d0b-8dcb-50c4f1bda65a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DailyPaymentIndicator": {
        "title": "Daily Payment Indicator",
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The date when the payment is potentially set to settle.",
            "example": "2023-10-01"
          },
          "compositeScore": {
            "type": "integer",
            "description": "A composite score representing payment reliability.",
            "format": "int32",
            "example": 75
          },
          "scoreIndicator": {
            "type": "string",
            "description": "An indicator representing the score status.",
            "example": "Good"
          },
          "reasons": {
            "$ref": "#/components/schemas/PaymentIndicatorReasons"
          }
        },
        "description": "Schema representing daily payment indicators for a specific date."
      },
      "PaymentIndicatorReasons": {
        "title": "Payment Indicator Reasons",
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "The recent balance of the account.",
            "format": "int32",
            "example": 200
          },
          "balanceHistory": {
            "type": "integer",
            "description": "The history of balances over a certain period.",
            "format": "int32",
            "example": 180
          },
          "nsfHistory": {
            "type": "integer",
            "description": "The number of non-sufficient funds occurrences in history.",
            "format": "int32",
            "example": 1
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "The recent count of non-sufficient funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Indicates if there are recurring non-sufficient funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "The historical data of spending patterns.",
            "format": "int32",
            "example": 150
          },
          "depositHistory": {
            "type": "integer",
            "description": "The history of deposits made into the account.",
            "format": "int32",
            "example": 200
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the most recent transaction.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Schema representing reasons for the payment indicator score."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-789012"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with a request.",
            "example": "CORR-345678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing was done.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was called. This header helps in tracking and managing API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicator"
        },
        "example": "open-finance-api-get-payment-success-indicator"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header is useful for monitoring application performance and behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the authorization header of requests. Ensure that the token is valid and properly signed to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}