{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Hedge Fund Administration API",
    "description": "The Hedge Fund Administration API enables users to access and manage various market operations related to hedge funds. This API allows financial institutions and asset managers to retrieve crucial data regarding hedge fund activities, including transaction histories, valuations, and compliance metrics. Typical consumers of this API include hedge fund administrators, compliance officers, and finance analysts who need real-time insights into financial operations. The endpoint provides essential information to streamline operations and enhance decision-making in hedge fund management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/hedge-fund-administration": {
      "get": {
        "tags": [
          "Hedge Fund Operations"
        ],
        "summary": "Retrieve hedge fund administration details",
        "description": "This endpoint allows users to retrieve detailed information about hedge fund administration operations, including relevant metrics and statuses. It is crucial for users to maintain an overview of hedge fund activities and ensures that stakeholders have access to important data.",
        "operationId": "getHedgeFundAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the hedge fund administration operations details. Provide necessary parameters in the JSON format to specify the required data for the GET request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHedgeFundAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of hedge fund administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHedgeFundAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHedgeFundAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for the GET operation related to hedge fund administration operations.",
        "example": "{}"
      },
      "GetHedgeFundAdministrationResponse_200": {
        "title": "Hedge Fund Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of fund items with their respective details.",
            "example": [
              {
                "fundId": "STANDARD",
                "shareClassId": "STANDARD",
                "valuationDate": "2026-09-15",
                "netAssetValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "unitsOutstanding": 1,
                "administratorId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FundItem"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for hedge fund administration operations.",
        "example": {
          "items": [
            {
              "fundId": "STANDARD",
              "shareClassId": "STANDARD",
              "valuationDate": "2026-09-15",
              "netAssetValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "unitsOutstanding": 1,
              "administratorId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "64d962f2-0cae-5734-b88b-ce269796cf16",
            "correlationId": "233cb506-0b8a-5ef4-9596-90ecdf22da25",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundItem": {
        "title": "Fund Item",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "Unique identifier of the fund."
          },
          "shareClassId": {
            "type": "string",
            "description": "Identifier for the share class associated with the fund."
          },
          "valuationDate": {
            "type": "string",
            "description": "The date for which the fund's valuation is calculated."
          },
          "netAssetValue": {
            "description": "Net Asset Value of the fund.",
            "$ref": "#/components/schemas/NetAssetValue"
          },
          "unitsOutstanding": {
            "type": "integer",
            "description": "Total number of units outstanding for the fund.",
            "format": "int32"
          },
          "administratorId": {
            "type": "string",
            "description": "Identifier for the administrator managing the fund."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the fund record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the fund information."
          }
        },
        "description": "Detailed information about a single fund item."
      },
      "NetAssetValue": {
        "title": "Net Asset Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of net asset value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the net asset value is denominated."
          }
        },
        "description": "Structure representing the net asset value and its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred."
          }
        },
        "description": "Metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "hedge-fund-administration-search-hedge-fund-administration"
        },
        "example": "hedge-fund-administration-search-hedge-fund-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, typically a JSON Web Token (JWT), which must be included in the Authorization header for authentication purposes. It allows for stateless authentication and enables secure data exchange between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}