{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payment Consents API",
    "description": "The Domestic Scheduled Payment Consents API enables financial institutions to securely manage consents for domestic scheduled payments. This API is designed for use by banking applications and payment service providers to retrieve consent information associated with specific scheduled payment transactions. Typical consumers include developers implementing open banking solutions that require compliance with regulatory frameworks. Through this API, users can efficiently access critical consent data to facilitate seamless customer transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payment-consents/{param1}": {
      "get": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Retrieve Domestic Scheduled Payment Consent",
        "description": "Fetches the details of a domestic scheduled payment consent identified by its unique reference ID. This endpoint is used to view consent information required for executing a scheduled payment.",
        "operationId": "getDomesticScheduledPaymentConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details of a specific domestic scheduled payment consent identified by the unique resource identifier RES-100045. The response will provide information related to the payment consent details, which are essential for processing payments in a scheduled manner.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticScheduledPaymentConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the scheduled payment consent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticScheduledPaymentConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticScheduledPaymentConsentByIdRequest": {
        "type": "string",
        "description": "A placeholder for the JSON body in a request related to scheduled payment consents.",
        "example": "{}"
      },
      "GetDomesticScheduledPaymentConsentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "C123456789"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the consent was created.",
                "example": "2023-01-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-01-02T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Permission": {
                "type": "string",
                "description": "Permission granted for the scheduled payment.",
                "example": "PAYMENTS"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "Yes"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for processing the payment.",
                "example": "2023-01-01T12:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for executing the payment.",
                "example": "2023-01-03T12:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected settlement date and time for the payment.",
                "example": "2023-01-04T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains details about the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for Domestic Scheduled Payment Consents.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "metadata": {
            "responseId": "3a7eb77f-f94d-5faa-97bd-f940f732e170",
            "correlationId": "c4d38500-2c4c-5925-9251-9f5a7dc5131e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "Reason for the status"
          },
          "Path": {
            "type": "string",
            "description": "Path reference for further details.",
            "example": "/path/to/details"
          }
        },
        "description": "Describes the reason for a certain status."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge.",
            "example": "DEBTOR"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "TRANSFER"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value of the charge.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency code of the charge amount.",
                "example": "USD"
              }
            },
            "description": "The amount and currency of the charge."
          }
        },
        "description": "Details about the charges associated with the consent."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the instruction.",
            "example": "INST123456"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for the end-to-end transaction.",
            "example": "E2E123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument to be used for the transaction.",
            "example": "SEPA"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "2023-01-03T12:00:00Z"
          },
          "InstructedAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount value to be instructed.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency code of the instructed amount.",
                "example": "USD"
              }
            },
            "description": "The instructed amount details."
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the account.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account.",
            "example": "12345"
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "Identifier for the proxy.",
                "example": "PROXY123"
              },
              "Code": {
                "type": "string",
                "description": "Code for the proxy type.",
                "example": "EMAIL"
              },
              "Type": {
                "type": "string",
                "description": "Type of proxy identifier.",
                "example": "EMAIL"
              }
            },
            "description": "Proxy information related to the account."
          }
        },
        "description": "Details about a bank account used in the transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-consent"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication through a JSON Web Token (JWT). Clients must include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}