{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Submission API",
    "description": "The Loan Application Submission API facilitates the efficient processing of new loan requests from clients. It enables financial institutions to capture essential loan details and submit applications for approval. This API typically serves banks and credit unions that are looking to streamline their loan origination processes. By automating application submissions, institutions can enhance customer experience and reduce turnaround time for loan approvals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new loan",
        "description": "This endpoint allows you to initiate the creation of a new loan. You will need to provide necessary details such as the borrower information and loan amount.",
        "operationId": "createLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the creation of a new loan. The JSON object should include all required fields as defined in the schema for the loan request. Ensure that the data adheres to the specified format and constraints for a successful loan creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Loan resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanRequest": {
        "title": "Loan Request Body",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application from which the request originates.",
            "example": "APP-675178"
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the specific loan product.",
            "example": "PROD-329451"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer applying for the loan.",
            "example": "CUST-317783"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for additional customers who are borrowers.",
            "example": [
              "CUST-391663"
            ],
            "items": {
              "type": "string",
              "description": "Identifier for a borrower customer.",
              "example": "string"
            }
          },
          "principal": {
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applied to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment installments.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date on which the loan is booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Scheduled date for the first payment.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code for the branch servicing the loan.",
            "example": "CODE-667"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose for which the loan is being taken.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for loan operations.",
        "example": {
          "sourceApplicationId": "APP-675178",
          "productId": "PROD-329451",
          "primaryCustomerId": "CUST-317783",
          "borrowerCustomerIds": [
            "CUST-391663"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-667",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "c5bd98e1-1c3c-5ad7-b610-2de2ee1edd6d",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "idempotencyKey": "eca69b19-b8ae-514b-a72a-198c305a7e36",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-116556"
            }
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the loan principal.",
            "example": "10000"
          }
        },
        "description": "Represents the principal amount details of a loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing context for the loan request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateLoanResponse_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier of the source application that initiated the loan request.",
            "example": "APP-738601"
          },
          "productId": {
            "type": "string",
            "description": "Identifier of the loan product.",
            "example": "PROD-206979"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier of the primary customer associated with the loan.",
            "example": "CUST-588715"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of identifiers for borrowers associated with the loan.",
            "example": [
              "CUST-404459"
            ],
            "items": {
              "type": "string",
              "example": "cust-22222"
            }
          },
          "principal": {
            "description": "Details about the principal amount of the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate for the loan, expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (fixed or variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first payment due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number from which repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code of the branch servicing the loan.",
            "example": "CODE-305"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan operation.",
            "example": "59e2dd26-2d29-a612-8ea5-803512888484"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "Details about the balance of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "Total amount disbursed for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalRepaid": {
            "description": "Total amount repaid towards the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "metadata": {
            "description": "Metadata associated with the loan response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response schema for creating a loan operation, containing details about the loan and associated metadata.",
        "example": {
          "sourceApplicationId": "APP-738601",
          "productId": "PROD-206979",
          "primaryCustomerId": "CUST-588715",
          "borrowerCustomerIds": [
            "CUST-404459"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-305",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "59e2dd26-2d29-a612-8ea5-803512888484",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "0abdd200-6bc3-5cea-b4d9-af15f69a15f8",
            "correlationId": "88f93a76-918f-5f0b-8845-958ffee9a1ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "Outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "accruedInterest": {
            "description": "Accrued interest amount on the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "feesOutstanding": {
            "description": "Outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesOutstanding": {
            "description": "Outstanding penalties associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "totalOutstanding": {
            "description": "Total outstanding amount on the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "availableToDraw": {
            "description": "Amount available to draw from the loan.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Represents the breakdown of the loan balance."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000"
          }
        },
        "description": "Represents a monetary amount with currency."
      },
      "LoanMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the loan occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata details related to the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-create-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer token. This scheme uses JSON Web Tokens (JWT) that are supplied in the authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}