{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Disbursement Details API",
    "description": "The Loan Disbursement Details API provides access to information regarding the disbursements associated with a specific loan. This API allows users to query disbursement details by loan ID, enabling accurate tracking and management of financial transactions. Typical consumers of this API include financial institutions, lending platforms, and other stakeholders involved in loan management. By utilizing this endpoint, developers can integrate disbursement data into their applications for improved visibility and reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve disbursements for a specific loan.",
        "description": "This endpoint allows you to fetch all disbursements associated with the specified loan. Users can retrieve detailed information on the financial transactions made regarding this loan, which is essential for tracking and managing loan finances.",
        "operationId": "getLoanDisbursementsLOAN500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching disbursements related to a specific loan. This body should include any necessary parameters that the API requires to process the request accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanDisbursementsLOAN500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the disbursement details for the specified loan.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanDisbursementsLOAN500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanDisbursementsLOAN500045Request": {
        "title": "Loan Disbursement Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for retrieving loan disbursement information through the GET operation.",
        "example": "{}"
      },
      "GetLoanDisbursementsLOAN500045Response_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of disbursement records.",
            "example": [
              {
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "disbursementMethod": "STANDARD",
                "valueDate": "2026-09-15",
                "beneficiary": {
                  "name": "Northstar Banking Service",
                  "accountNumber": "STANDARD",
                  "bankCode": "CODE-912",
                  "bankName": "Northstar Banking Service",
                  "address": {
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                },
                "deductions": [
                  {
                    "type": "STANDARD",
                    "amount": {
                      "currency": "USD",
                      "amount": "1250.75"
                    }
                  }
                ],
                "narrative": "STANDARD",
                "externalReference": "STANDARD",
                "id": "4707bc3e-7150-0a69-2443-2ae037c8d4c0",
                "disbursementNumber": "STANDARD",
                "status": "ACTIVE",
                "grossAmount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "netAmount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "transactionReference": "STANDARD",
                "processedAt": "2026-08-11T12:00:00Z",
                "failureCode": "CODE-327",
                "failureMessage": "STANDARD",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "amount": {
                  "$ref": "#/components/schemas/MonetaryAmount"
                },
                "disbursementMethod": {
                  "type": "string",
                  "description": "The method used for the disbursement."
                },
                "valueDate": {
                  "type": "string",
                  "description": "The date when the value was disbursed."
                },
                "beneficiary": {
                  "$ref": "#/components/schemas/Beneficiary"
                },
                "deductions": {
                  "type": "array",
                  "description": "List of deductions applied to the disbursement.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "type": {
                        "type": "string",
                        "description": "Type of deduction."
                      },
                      "amount": {
                        "$ref": "#/components/schemas/MonetaryAmount"
                      }
                    },
                    "description": "Details of a deduction."
                  }
                },
                "narrative": {
                  "type": "string",
                  "description": "A narrative description of the disbursement."
                },
                "externalReference": {
                  "type": "string",
                  "description": "An external reference associated with the disbursement."
                },
                "id": {
                  "type": "string",
                  "description": "Unique identifier for the disbursement."
                },
                "disbursementNumber": {
                  "type": "string",
                  "description": "Number associated with the disbursement."
                },
                "status": {
                  "type": "string",
                  "description": "Current status of the disbursement."
                },
                "grossAmount": {
                  "$ref": "#/components/schemas/MonetaryAmount"
                },
                "netAmount": {
                  "$ref": "#/components/schemas/MonetaryAmount"
                },
                "transactionReference": {
                  "type": "string",
                  "description": "Reference for tracking the transaction."
                },
                "processedAt": {
                  "type": "string",
                  "description": "Timestamp indicating when the disbursement was processed."
                },
                "failureCode": {
                  "type": "string",
                  "description": "Code indicating any failure in processing the disbursement."
                },
                "failureMessage": {
                  "type": "string",
                  "description": "Detailed message regarding any failures."
                },
                "audit": {
                  "$ref": "#/components/schemas/AuditInformation"
                }
              },
              "description": "Details of a single disbursement."
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for disbursements related to a specific loan.",
        "example": {
          "items": [
            {
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "disbursementMethod": "STANDARD",
              "valueDate": "2026-09-15",
              "beneficiary": {
                "name": "Northstar Banking Service",
                "accountNumber": "STANDARD",
                "bankCode": "CODE-912",
                "bankName": "Northstar Banking Service",
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              },
              "deductions": [
                {
                  "type": "STANDARD",
                  "amount": {
                    "currency": "USD",
                    "amount": "1250.75"
                  }
                }
              ],
              "narrative": "STANDARD",
              "externalReference": "STANDARD",
              "id": "4707bc3e-7150-0a69-2443-2ae037c8d4c0",
              "disbursementNumber": "STANDARD",
              "status": "ACTIVE",
              "grossAmount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "netAmount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "transactionReference": "STANDARD",
              "processedAt": "2026-08-11T12:00:00Z",
              "failureCode": "CODE-327",
              "failureMessage": "STANDARD",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "7d857383-22a0-577b-abdf-7035453f439b",
            "correlationId": "23024d69-f1eb-594e-9ddf-aa649e9a5b67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount."
          },
          "amount": {
            "type": "string",
            "description": "The numeric value of the amount."
          }
        },
        "description": "Represents an amount of money and its currency."
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the beneficiary."
          },
          "accountNumber": {
            "type": "string",
            "description": "Bank account number of the beneficiary."
          },
          "bankCode": {
            "type": "string",
            "description": "Code representing the bank of the beneficiary."
          },
          "bankName": {
            "type": "string",
            "description": "Name of the bank where the beneficiary holds an account."
          },
          "address": {
            "description": "Address of the beneficiary.",
            "$ref": "#/components/schemas/Address"
          }
        },
        "description": "Information about the beneficiary of a disbursement."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (if applicable)."
          },
          "city": {
            "type": "string",
            "description": "City where the beneficiary resides."
          },
          "state": {
            "type": "string",
            "description": "State where the beneficiary resides."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the beneficiary's address."
          },
          "country": {
            "type": "string",
            "description": "Country of the beneficiary."
          }
        },
        "description": "Address details associated with a beneficiary."
      },
      "AuditInformation": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created."
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the record."
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32"
          }
        },
        "description": "Audit information related to record creation and updates."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed, which helps in tracking API usage and diagnosing issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-disbursements"
        },
        "example": "banking-loans-openapi-list-disbursements"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about the source of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate using a bearer token. The bearer token is typically a JSON Web Token (JWT) that is issued after a successful login and must be included in the Authorization header of requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}