{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Risk Models API",
    "description": "The Business Risk Models API provides developers with access to a comprehensive suite of risk assessment tools tailored for banking applications. This endpoint allows users to retrieve detailed information about various business risk models employed by financial institutions. Typical consumers of this API include banking software developers, risk management teams, and compliance officers seeking to enhance their risk assessment capabilities. By integrating these models, organizations can better evaluate potential financial threats and make informed decisions regarding risk management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/business-risk-models": {
      "get": {
        "tags": [
          "BusinessRisk"
        ],
        "summary": "Retrieve a list of business risk models.",
        "description": "This endpoint allows you to fetch a comprehensive list of business risk models available in the system. You can use this to assess potential risks in various business scenarios.",
        "operationId": "getBusinessRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve business risk models. It includes specifications for filtering or querying the models as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of business risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessRiskModelsRequest": {
        "type": "string",
        "description": "A string representation of the body for the GET request regarding business risk models in operations.",
        "example": "{}"
      },
      "GetBusinessRiskModelsResponse_200": {
        "title": "Business Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of business risk model items.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-274288",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BusinessRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order applied to the business risk models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving business risk models.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-274288",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d17afb25-a907-575f-a004-80b24b5e67fd",
            "correlationId": "ca7e521f-c4cf-51c5-a0b7-021d129c9214",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BusinessRiskModel": {
        "title": "Business Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the business risk model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the business risk model.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "The ID of the portfolio associated with the business risk model.",
            "example": "string"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is applicable.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model was developed.",
            "example": "string"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level associated with the model's predictions.",
            "example": 0.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The ID of the dataset used for model validation.",
            "example": "string"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "The length of the backtest window in months.",
            "format": "int32",
            "example": 0
          },
          "approvalStatus": {
            "type": "string",
            "description": "The approval status of the business risk model.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The record status indicating if the model is active or inactive.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last update timestamp of the business risk model.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual business risk model."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-risk-models-search-business-risk-models"
        },
        "example": "business-risk-models-search-business-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, typically formatted as a JSON Web Token (JWT). This scheme is commonly used for securing API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}