{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Control Data Retrieval API",
    "description": "The Financial Control Data Retrieval API enables users to access critical financial control data necessary for effective banking operations. By utilizing this endpoint, clients can retrieve specific financial metrics and insights based on the provided parameter. This API is especially useful for financial analysts and banking professionals looking to monitor and evaluate financial performance. Whether for compliance purposes or strategic decision-making, users can leverage this data to enhance their financial oversight processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-control/{param1}": {
      "get": {
        "tags": [
          "Financial Management"
        ],
        "summary": "Retrieve financial control details.",
        "description": "This endpoint allows users to retrieve the detailed financial control information associated with the specified resource ID. It provides insights into the financial management aspect of the entity, facilitating better decision-making and resource allocation.",
        "operationId": "getFinancialControlById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed financial control data for RES-100045. It includes parameters necessary to specify the specific operations to be performed, tailored to meet the requirements for this financial control request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialControlByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial control data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialControlByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialControlByIdRequest": {
        "type": "string",
        "description": "Represents the request body for the financial control GET operation. This string contains the details necessary for the operation.",
        "example": "{}"
      },
      "GetFinancialControlByIdResponse_200": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "Unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "Identifier for the ledger associated with the transaction.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "Accounting period for which the records are being retrieved.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Monetary amount associated with the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "Date when the transaction was posted.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record, e.g., active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the financial control operations GET request.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8306acb6-ca5b-5b8e-8966-fa48817f6bf4",
            "correlationId": "3a7f44e4-9f70-5841-9da9-a3a0072e85ec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the monetary amount."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata about the record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was accessed. It is used for tracking purposes to manage API usage and monitor performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-control-get-financial-control"
        },
        "example": "financial-control-get-financial-control"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header is useful for debugging and identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}