{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Risk Models API",
    "description": "The Production Risk Models API provides access to critical risk assessment models used in the banking sector. This API allows users to retrieve detailed information on specific risk models by their unique identifiers. It is particularly useful for financial analysts and risk management professionals seeking to evaluate or integrate these models into their applications. Typical use cases include assessing the potential impact of various risk factors and enhancing decision-making processes in financial institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/production-risk-models/{param1}": {
      "get": {
        "tags": [
          "Production Risk Models"
        ],
        "summary": "Retrieve a specific production risk model by its ID.",
        "description": "This endpoint allows you to retrieve detailed information about a specific production risk model using its unique identifier. You can use this information for analysis or auditing purposes.",
        "operationId": "getProductionRiskModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the production risk model with identifier PROD-700045. This request body allows the client to specify necessary parameters for the query, ensuring that relevant data is fetched accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductionRiskModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the production risk model details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductionRiskModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductionRiskModelByIdRequest": {
        "type": "string",
        "description": "A string representing the request body for the production risk models operations.",
        "example": "{}"
      },
      "GetProductionRiskModelByIdResponse_200": {
        "title": "Production Risk Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-421364"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model was generated.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Specific scenario for which the model is applicable.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level of the model's predictions.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the validation dataset used in model evaluation.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months in the backtest window for model validation.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the model.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the model retrieval.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving a production risk model, including model details, metadata, and associated properties.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-421364",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4dc2f946-f36f-5c0d-a78b-3395b00ca0c7",
            "correlationId": "afd2f90c-1c67-51de-af2b-9408f33ebdea",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Production Risk Model Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking request correlations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data was processed.",
            "example": "string"
          }
        },
        "description": "This schema defines additional metadata fields associated with the production risk model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-risk-models-get-production-risk-models"
        },
        "example": "production-risk-models-get-production-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. It allows access to secured endpoints by providing a JSON Web Token (JWT) as a bearer token. Clients should include the JWT in the 'Authorization' header in their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}