{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payment Consents Retrieval API",
    "description": "The File Payment Consents Retrieval API allows users to access and retrieve payment consent details related to file payments. This endpoint is designed for financial institutions and payment service providers who need to confirm and review consented payment transactions. Typical use cases include verifying consent for compliance purposes and enabling secure payment processing. The API streamlines the management of payment consents, ensuring that users can efficiently manage information while adhering to regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents/{param1}": {
      "get": {
        "tags": [
          "File Payment Consent"
        ],
        "summary": "Retrieve File Payment Consent.",
        "description": "This operation allows you to retrieve the details of a specific file payment consent identified by its unique reference number. It provides essential information about the consent including its status and associated metadata.",
        "operationId": "getFilePaymentConsentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the file payment consent for the specified identifier. It should contain the necessary information to process the request and fulfill the required business logic.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFilePaymentConsentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested payment consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFilePaymentConsentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFilePaymentConsentRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body required for the GET operation concerning file payment consents.",
        "example": "{}"
      },
      "GetFilePaymentConsentRes100045Response_200": {
        "title": "File Payment Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the payment consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment consent.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons explaining the current status of the payment consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the consent status was last updated.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cut-off date and time for payment processing.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment consent.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "FileType": {
                    "type": "string",
                    "description": "Type of file for the payment initiation.",
                    "example": "string"
                  },
                  "FileHash": {
                    "type": "string",
                    "description": "Hash of the file submitted for payment.",
                    "example": "string"
                  },
                  "FileReference": {
                    "type": "string",
                    "description": "Reference for the file submitted.",
                    "example": "string"
                  },
                  "NumberOfTransactions": {
                    "type": "string",
                    "description": "Number of transactions included in the payment.",
                    "example": "string"
                  },
                  "ControlSum": {
                    "type": "number",
                    "description": "Total amount of all transactions in the payment file.",
                    "example": 0.0
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "Requested date and time for executing the payment.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local instrument used for the payment.",
                    "example": "string"
                  },
                  "CreditorAgent": {
                    "$ref": "#/components/schemas/CreditorAgent"
                  }
                },
                "description": "Details about the payment initiation."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "string"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier used to correlate requests and responses.",
                    "example": "string"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "string"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place.",
                    "example": "string"
                  }
                },
                "description": "Metadata related to the response."
              }
            },
            "description": "Contains detailed information about the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for file payment consent retrieval operations. Contains metadata and detailed data related to payment consent.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "4f7542dc-0e7b-5a61-a0ad-3c36aef6a594",
            "correlationId": "4f0e7636-5dc2-59d4-a4a1-3930eed96f77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason for additional context.",
            "example": "string"
          }
        },
        "description": "Reason object providing additional context on the status of the payment consent."
      },
      "Charge": {
        "title": "Charge",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge (e.g., payer or payee).",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied to the payment.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Charge object containing details regarding the charges associated with the payment consent."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The actual monetary amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the monetary amount and currency for a charge or transaction."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the creditor agent operates.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification information for the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the creditor agent, if applicable.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Information regarding the agent representing the creditor in a payment transaction."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department name within an organization, if applicable.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name within an organization, if applicable.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Building name of the address.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building, if applicable.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit, if applicable.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          }
        },
        "description": "Object representing a postal address."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that the request is targeting. This header helps in tracking and logging specific requests to the intended endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-file-payment-consent"
        },
        "example": "payment-initiation-openapi-get-file-payment-consent"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime application processing the request. It can be used for debugging and monitoring the performance of different applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token, specifically in the JSON Web Token (JWT) format, to authorize requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}