{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Directory API",
    "description": "The Correspondent Bank Directory API provides access to a comprehensive database of correspondent banks essential for facilitating international transactions. Users can retrieve detailed information about correspondent banks, including their codes, contact details, and geographical presence. This API is primarily utilized by financial institutions, banks, and payment service providers for improved cross-border payment efficiency. It aids in streamlining operations by offering quick access to vital banking relationships essential for global financial activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-directory": {
      "get": {
        "tags": [
          "Correspondent Banks"
        ],
        "summary": "Retrieve Correspondent Bank Directory",
        "description": "This endpoint allows users to retrieve the directory of correspondent banks associated with external agencies. It provides a comprehensive list of these banks, their details, and relevant information to facilitate banking operations.",
        "operationId": "getCorrespondentBankDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the correspondent bank directory for external agencies. Ensure that the format adheres to the expected JSON schema as outlined in the documentation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the correspondent bank directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankDirectoryRequest": {
        "type": "string",
        "description": "A request body indicating the external agency correspondent bank directory operation, formatted as a JSON string.",
        "example": "{}"
      },
      "GetCorrespondentBankDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of correspondent banks.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-927178",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "nostroAccountId": "ACC-218279",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorrespondentBank"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the correspondent bank directory, which includes details about various banks as well as pagination and metadata.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-927178",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "nostroAccountId": "ACC-218279",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5c8b0590-a30c-5a4f-b0bc-caecfcfcb79f",
            "correlationId": "81eac5a7-60cb-5a21-8219-58c939e39d95",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorrespondentBank": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement related to the correspondent bank.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the correspondent bank.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country where the bank is located.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the agreement with the bank becomes effective.",
            "example": "string"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account associated with the bank.",
            "example": "string"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlement with the correspondent bank.",
            "example": "string"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the relationship with the correspondent bank.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the bank record (e.g., active, inactive).",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the correspondent bank record.",
            "example": "string"
          }
        },
        "description": "Details of a correspondent bank."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information about pagination in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response, useful for tracking requests."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-directory-search-correspondent-bank-directory"
        },
        "example": "correspondent-bank-directory-search-correspondent-bank-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication via JSON Web Tokens (JWT). Clients must include the spawned JWT in the `Authorization` header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}