{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Management Collections API",
    "description": "The Collateral Management Collections API enables financial institutions to effectively manage and track collections associated with collateralized loans. This API supports the initiation of collection processes for outstanding debts, allowing for prompt and efficient handling of accounts. Typical consumers include banking operations teams and financial services applications that require management of collateral-related transactions. By utilizing this API, organizations can enhance their debt recovery strategies and ensure compliance with relevant regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections": {
      "post": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Create a new collection in collateral administration.",
        "description": "This endpoint allows you to create a new collection within the collateral administration system, helping to manage and track collateral effectively.",
        "operationId": "createCollateralAdministrationCollection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to create a new collection within the collateral administration system. The request body must include necessary details regarding the collection being created, such as identifiers, statuses, and relevant attributes as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollateralAdministrationCollectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollateralAdministrationCollectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCollateralAdministrationCollectionRequest": {
        "title": "Collateral Administration Collections Request",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the transaction.",
            "example": "PARTY-581177"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset being considered.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the collateral.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure associated with the collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage of haircut applied to the collateral's valuation.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for operations related to collateral administration collections.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-581177",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "55e05d37-3ed6-588f-9313-23b2676d692b",
            "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
            "idempotencyKey": "e434bd7e-6b31-5de8-96f8-3f03b83fdb9b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-509111"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount representing the market value.",
            "example": 500000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the market value is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value of an asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotence of the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that originated the request.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that sent the request.",
            "example": "Collateral Manager"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to submit the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing a communication channel for the request."
      },
      "CreateCollateralAdministrationCollectionResponse_201": {
        "title": "Collateral Administration Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the collateral.",
            "example": "PARTY-492500"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the collateral.",
            "example": "RES-539998"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region in which the collateral was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response",
            "example": {
              "responseId": "675fbe51-97e3-51b9-a215-eae50a85006d",
              "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the collateral administration operation, indicating the result of a POST request.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-492500",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-539998",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "675fbe51-97e3-51b9-a215-eae50a85006d",
            "correlationId": "32425b20-cbcb-5b43-bc74-8d34f376634f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called, which can be used for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-create-collections"
        },
        "example": "collections-create-collections"
      },
      "X-Runtime-App": {
        "description": "The name of the application that invoked the API request, useful for identifying the source of the request during debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows access tokens (in JSON Web Token format) to be transmitted in HTTP headers for authorization purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}