{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Relationship Management API",
    "description": "The Customer Relationship Management API provides businesses with powerful tools to manage and enhance their customer interactions. By utilizing this API, organizations can retrieve detailed insights about customer relationships, enabling informed decision-making and improved engagement strategies. Typical consumers of this API include Business Analysts and Customer Service Representatives who require real-time access to customer data and analytics. This API streamlines customer management processes by providing seamless data integration and facilitating enhanced customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-relationship-management": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Customer Relationship Management data.",
        "description": "This endpoint allows you to retrieve detailed Customer Relationship Management (CRM) data, which includes information about customer interactions, preferences, and history. Use this to get insights into customer behavior and improve relationship management strategies.",
        "operationId": "getCustomerRelationshipManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve customer relationship management data. It should contain the necessary parameters to filter and fetch customer details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerRelationshipManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; returns customer relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerRelationshipManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerRelationshipManagementRequest": {
        "title": "Customer Relationship Management Request Body",
        "type": "string",
        "description": "This schema represents the expected format for the request body of the Customer Relationship Management operations.",
        "example": "{}"
      },
      "GetCustomerRelationshipManagementResponse_200": {
        "title": "Customer Relationship Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of customer relationship items.",
            "example": [
              {
                "customerId": "CUST-544938",
                "partyId": "PARTY-325428",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerRelationshipItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for retrieving customer relationship management data, including a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-544938",
              "partyId": "PARTY-325428",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4dff430f-5404-5e62-b3ac-b744a873d805",
            "correlationId": "26d60a6c-f203-5db2-b3e4-1d8d3a1d6a46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerRelationshipItem": {
        "title": "Customer Relationship Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product linked to the customer relationship.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the relationship became effective.",
            "example": "string"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier level of the customer relationship.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record indicating its current visibility.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single customer relationship item within the customer relationship management system."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response, including current page, page size, and total items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-relationship-management-search-customer-relationship-management"
        },
        "example": "customer-relationship-management-search-customer-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. A bearer token must be included in the Authorization header of the request, allowing access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}