{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Customer Account Data Access Tiers API",
    "description": "This API enables businesses to define and manage data access tiers for customer accounts. By utilizing this endpoint, users can specify varying levels of data accessibility tailored to specific customer needs. Typical consumers include account managers and developers who oversee customer data permissions. Leveraging this API enhances data governance and ensures compliance with access policies. This operation is essential for effectively managing how data is utilized across different account types.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/data-access-tiers": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create Data Access Tiers",
        "description": "This endpoint allows you to create data access tiers for a specific customer account. It enables you to manage and configure the data access levels according to the customer's requirements.",
        "operationId": "createDataAccessTiersForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to define data access tiers for the specified customer account. It should contain all necessary parameters to create or modify the data access tier settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDataAccessTiersForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Request completed successfully with no content returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDataAccessTiersForCustomerResponse_204"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDataAccessTiersForCustomerRequest": {
        "title": "Request Body for Data Access Tiers Operations",
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contains contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for managing data access tiers operations in the customers' accounts.",
        "example": {
          "requestContext": {
            "requestId": "e3ca2008-2bcd-5131-a210-224a505ca471",
            "correlationId": "84f301bf-88cd-5683-98b6-789b3dad34c4",
            "idempotencyKey": "58303ed9-8b8b-551e-bf7b-b820fb579d49",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-500639"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace related requests across different systems.",
            "example": "xyz456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is idempotent.",
            "example": "key789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2022-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InternalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the context of an API request, providing metadata about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device456"
          }
        },
        "description": "This schema represents information about the channel used for the request."
      },
      "CreateDataAccessTiersForCustomerResponse_204": {
        "title": "Data Access Tiers Response",
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Contains metadata about the response including various identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for Data Access Tiers POST operation.",
        "example": {
          "metadata": {
            "responseId": "0d0c4e7a-b8fe-5342-88ad-ceb1051fe655",
            "correlationId": "84f301bf-88cd-5683-98b6-789b3dad34c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_204"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This can be used for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts-v2"
        },
        "example": "open-finance-api-refresh-customer-accounts-v2"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which allows users to authenticate by providing a JSON Web Token (JWT) as a means of identifying themselves. The JWT should be included in the Authorization header of HTTP requests, formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}