{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Terminal Configuration API",
    "description": "The Card Terminal Configuration API enables businesses to manage and update configurations for their card terminals dynamically. This endpoint allows authorized users to modify specific parameters to optimize terminal performance and adapt to changing operational needs. Primarily utilized by banking institutions and payment service providers, the API supports use cases such as adjusting transaction settings and enhancing security measures. This streamlined approach ensures that card terminals are always aligned with the latest compliance standards and customer preferences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-administration/{param1}": {
      "patch": {
        "tags": [
          "Card Terminal Management"
        ],
        "summary": "Update Card Terminal Administration",
        "description": "This operation updates the configuration or settings related to the specific card terminal administration identified by CARD-400045. Ensure to provide the necessary fields in the request body to apply the desired changes.",
        "operationId": "updateCardTerminalAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the configuration or settings for the specific card terminal identified by CARD-400045. Ensure that the request body includes all necessary parameters as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardTerminalAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardTerminalAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCardTerminalAdministrationRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be made to the card terminal.",
            "$ref": "#/components/schemas/CardTerminalChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes will become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for PATCH operation on card terminal administration.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "10ac8387-3774-5fca-92de-bae797f0fb0f",
            "correlationId": "dcdc938e-9eb5-5ceb-a270-0826bb50e529",
            "idempotencyKey": "cbd79a31-28a5-53ce-9bcc-41626ca92109",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-101521"
            }
          }
        }
      },
      "CardTerminalChanges": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "The region code for the card terminal.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "The operational hours for the card terminal.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "Changes to a card terminal's properties."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time at which the service window opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time at which the service window closes.",
            "example": "17:00"
          }
        },
        "description": "Service window timings for a card terminal."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel making the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, in-store).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the channel."
      },
      "UpdateCardTerminalAdministrationResponse_200": {
        "title": "Card Terminal Administration Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for the PATCH operation on card terminal administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "667fd28c-f304-5ec2-97db-cabc4a099929",
            "correlationId": "dcdc938e-9eb5-5ceb-a270-0826bb50e529",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-administration-update-card-terminal-administration"
        },
        "example": "card-terminal-administration-update-card-terminal-administration"
      },
      "X-Runtime-App": {
        "description": "Name of the application in which the runtime environment is executing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses JSON Web Tokens (JWT) to ensure secure bearer token access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}