{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Management API",
    "description": "The Term Deposit Management API provides financial institutions and their customers with seamless access to term deposit information. This endpoint allows users to retrieve details about available term deposit products, including interest rates, terms, and eligibility criteria. Typical consumers of this API include banking applications that support customer inquiries and financial service dashboards. By integrating this API, developers can enhance user experiences for managing savings and investment options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve term deposit details.",
        "description": "This endpoint allows you to fetch detailed information regarding term deposits available in the deposit lending system. You can use it to view options, interest rates, and terms associated with various deposits.",
        "operationId": "getTermDepositDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters necessary to retrieve term deposit information in the lending system. Ensure to populate the required fields to fetch the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTermDepositDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved term deposit details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermDepositDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTermDepositDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for performing operations related to term deposits in the deposit lending service.",
        "example": "{}"
      },
      "GetTermDepositDetailsResponse_200": {
        "title": "Term Deposit Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of term deposit items.",
            "example": [
              {
                "customerId": "CUST-260323",
                "accountId": "ACC-932004",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "depositAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "tenorDays": 1,
                "maturityInstruction": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TermDepositItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for Term Deposit operations GET request. Contains an array of term deposit items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-260323",
              "accountId": "ACC-932004",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "depositAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "tenorDays": 1,
              "maturityInstruction": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "080a2d4b-ccd7-59d2-991a-77533fe5b1e2",
            "correlationId": "6b506935-ed04-568b-86fe-bd13e21f96dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TermDepositItem": {
        "title": "Term Deposit Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "string"
          },
          "principal": {
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the deposit in months.",
            "format": "int32",
            "example": 0
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment.",
            "example": "string"
          },
          "depositAmount": {
            "$ref": "#/components/schemas/Money"
          },
          "tenorDays": {
            "type": "integer",
            "description": "Tenor of the deposit in days.",
            "format": "int32",
            "example": 0
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions regarding the maturity of the deposit.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single term deposit item.",
        "example": "string"
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "string"
          }
        },
        "description": "Schema to represent amounts and their associated currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information in the response.",
        "example": "string"
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the response.",
        "example": "string"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-search-term-deposit"
        },
        "example": "term-deposit-search-term-deposit"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens consisting of JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}