{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reseller Billing Information API",
    "description": "The Reseller Billing Information API provides essential billing details for specific reseller partners. By utilizing this endpoint, businesses can access historical billing records and current invoice statuses associated with a given partner ID. This functionality is particularly beneficial for resellers and financial analysts who need to monitor billing complexities and ensure accurate invoicing. Typical use cases include reconciliation of billing issues and operational reporting for partner transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/partners/{partnerId}/billing/reseller": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve billing information for a specific reseller.",
        "description": "This endpoint allows you to fetch detailed billing information related to the specified reseller partner, including invoices, payment history, and usage summaries. This information is crucial for managing financial relationships and understanding reseller performance.",
        "operationId": "getBillingForReseller",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving billing information for the specified reseller partner. This request will provide the necessary parameters to obtain detailed billing data associated with the reseller.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBillingForResellerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested billing information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillingForResellerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBillingForResellerRequest": {
        "title": "Billing Reseller Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the billing reseller endpoint.",
        "example": "{}"
      },
      "GetBillingForResellerResponse_200": {
        "title": "PagingResponse",
        "type": "object",
        "properties": {
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available in the response.",
            "format": "int32",
            "example": 1
          },
          "totalElements": {
            "type": "integer",
            "description": "The total number of elements present in the response.",
            "format": "int32",
            "example": 1
          },
          "numberOfElements": {
            "type": "integer",
            "description": "The number of elements in the current page.",
            "format": "int32",
            "example": 1
          },
          "pageable": {
            "description": "Metadata about the pagination state.",
            "$ref": "#/components/schemas/Pageable"
          },
          "sort": {
            "description": "Information about the sorting applied to the elements.",
            "$ref": "#/components/schemas/Sort"
          },
          "number": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "first": {
            "type": "boolean",
            "description": "Indicates if this is the first page.",
            "example": true
          },
          "last": {
            "type": "boolean",
            "description": "Indicates if this is the last page.",
            "example": true
          },
          "size": {
            "type": "integer",
            "description": "The size of the current page.",
            "format": "int32",
            "example": 1
          },
          "content": {
            "type": "array",
            "description": "A list of content items for the current page.",
            "example": [
              {
                "reseller": "STANDARD",
                "resellerProvider": "STANDARD",
                "platformProvider": "STANDARD",
                "customerId": 1,
                "consumerId": "STANDARD",
                "consumerSsn": "STANDARD",
                "consumerCustomId": "STANDARD",
                "firstName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "lastFourReportId": "STANDARD",
                "reportId": "STANDARD",
                "createdDate": 1,
                "reportType": "STANDARD",
                "status": "ACTIVE",
                "reportCustomFields": [
                  {
                    "label": "STANDARD",
                    "value": "STANDARD",
                    "shown": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContentItem"
            }
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response format for a paginated billing operation for resellers.",
        "example": {
          "totalPages": 1,
          "totalElements": 1,
          "numberOfElements": 1,
          "pageable": {
            "paged": true,
            "unpaged": true,
            "pageNumber": 1,
            "pageSize": 1,
            "sort": {
              "unsorted": true,
              "ed": true,
              "empty": true
            },
            "offset": 1
          },
          "sort": {
            "unsorted": true,
            "ed": true,
            "empty": true
          },
          "number": 1,
          "first": true,
          "last": true,
          "size": 1,
          "content": [
            {
              "reseller": "STANDARD",
              "resellerProvider": "STANDARD",
              "platformProvider": "STANDARD",
              "customerId": 1,
              "consumerId": "STANDARD",
              "consumerSsn": "STANDARD",
              "consumerCustomId": "STANDARD",
              "firstName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "lastFourReportId": "STANDARD",
              "reportId": "STANDARD",
              "createdDate": 1,
              "reportType": "STANDARD",
              "status": "ACTIVE",
              "reportCustomFields": [
                {
                  "label": "STANDARD",
                  "value": "STANDARD",
                  "shown": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "b0dfe86a-406f-5567-9ec6-239820396e58",
            "correlationId": "259e19e4-81ac-5d8e-8e37-4e252a60c549",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Pageable": {
        "type": "object",
        "properties": {
          "paged": {
            "type": "boolean",
            "description": "Indicates if the pagination is enabled.",
            "example": false
          },
          "unpaged": {
            "type": "boolean",
            "description": "Indicates if the pagination is disabled.",
            "example": true
          },
          "pageNumber": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "sort": {
            "description": "Information about the sorting applied to the items.",
            "$ref": "#/components/schemas/Sort"
          },
          "offset": {
            "type": "integer",
            "description": "The offset from the first item in the list.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Represents the pagination information regarding the requested page."
      },
      "Sort": {
        "type": "object",
        "properties": {
          "unsorted": {
            "type": "boolean",
            "description": "Indicates if the items are not sorted.",
            "example": false
          },
          "ed": {
            "type": "boolean",
            "description": "Indicates if the items are sorted in a descending order.",
            "example": true
          },
          "empty": {
            "type": "boolean",
            "description": "Indicates if the sort order is empty.",
            "example": false
          }
        },
        "description": "Describes the sort order applied to the list of items."
      },
      "ContentItem": {
        "type": "object",
        "properties": {
          "reseller": {
            "type": "string",
            "description": "The name of the reseller.",
            "example": "Reseller A"
          },
          "resellerProvider": {
            "type": "string",
            "description": "The provider of the reseller service.",
            "example": "Provider X"
          },
          "platformProvider": {
            "type": "string",
            "description": "The platform service provider.",
            "example": "Platform Y"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier for the customer.",
            "format": "int32",
            "example": 12345
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "67890"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "consumerCustomId": {
            "type": "string",
            "description": "A custom identifier assigned to the consumer.",
            "example": "custom-001"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "Doe"
          },
          "lastFourReportId": {
            "type": "string",
            "description": "The last four digits of the report identifier.",
            "example": "5678"
          },
          "reportId": {
            "type": "string",
            "description": "The unique identifier for the report.",
            "example": "report-1234"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the report was created in a timestamp format.",
            "format": "int32",
            "example": 1617187200
          },
          "reportType": {
            "type": "string",
            "description": "The type of report generated.",
            "example": "Financial Report"
          },
          "status": {
            "type": "string",
            "description": "The current status of the report.",
            "example": "Completed"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the report.",
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Represents a single content item within the paginated response."
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "Custom Field 1"
          },
          "value": {
            "type": "string",
            "description": "The value stored in the custom field.",
            "example": "Value 1"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates if this custom field is shown.",
            "example": true
          }
        },
        "description": "Represents a custom field associated with a report."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abcd-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-05T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Contains additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-reseller-billing-report"
        },
        "example": "open-finance-api-get-reseller-billing-report"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, which is typically a JSON Web Token (JWT). This format allows secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}