{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Interactive Help API",
    "description": "The Interactive Help API facilitates seamless assistance across banking platforms by enabling users to access tailored support and guidance. This API allows businesses to enhance customer satisfaction by integrating dynamic help resources directly into their applications, ensuring users receive relevant information in real-time. Typical consumers of this API include financial institutions and their online platforms, which can implement interactive help features to improve user experience. By leveraging this service, clients can address user inquiries efficiently and reduce support costs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/interactive-help": {
      "post": {
        "tags": [
          "CrossChannelSupport"
        ],
        "summary": "Create interactive help content for cross-channel support.",
        "description": "This operation allows you to generate and submit interactive help resources that enhance user experience across multiple channels. It is designed to streamline the support process by providing tailored assistance seamlessly.",
        "operationId": "postCrossChannelInteractiveHelp",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary data to initiate an interactive help session across channels. Ensure that all required fields are populated correctly to facilitate a smooth interaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCrossChannelInteractiveHelpRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCrossChannelInteractiveHelpResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCrossChannelInteractiveHelpRequest": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-533132"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "INT-337152"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction is occurring.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the interaction.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for cross-channel interactive help operations.",
        "example": {
          "partyId": "PARTY-533132",
          "interactionId": "INT-337152",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "37a57583-c56a-5879-8ea3-d3a9ee65dcf7",
            "correlationId": "5225c392-f321-5f44-af58-a713ccc651c9",
            "idempotencyKey": "2d2de139-a244-5f84-84da-900f6ded22d5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-999157"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr_101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotent_key_102"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-12T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "crm_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Information about the channel used for the interaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details related to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "device_123"
          }
        },
        "description": "Information related to the communication channel used in the interaction."
      },
      "PostCrossChannelInteractiveHelpResponse_201": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-853812"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction that was processed.",
            "example": "INT-446277"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the interaction.",
            "example": "RES-483776"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed (e.g., success, failure).",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp representing when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the interactive help operation indicating the result of the POST request.",
        "example": {
          "partyId": "PARTY-853812",
          "interactionId": "INT-446277",
          "resourceId": "RES-483776",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "de57af74-91ec-5fb1-9fe1-9c84f08f43a9",
            "correlationId": "5225c392-f321-5f44-af58-a713ccc651c9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this specific response.",
            "example": "response-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this operation with others in a distributed system.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata schema containing additional details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interactive-help-create-interactive-help"
        },
        "example": "interactive-help-create-interactive-help"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request, helpful for distinguishing between different applications in a multi-app environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients must include a Bearer token in the Authorization header of their requests. The token should be in JWT (JSON Web Token) format for enhanced security and claims-based access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}