{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Disbursement Retrieval API",
    "description": "The Loan Disbursement Retrieval API enables users to access detailed information about specific disbursements related to loans. By utilizing this endpoint, stakeholders such as financial institutions and loan processors can retrieve vital data associated with disbursements by specifying their unique identifiers. This functionality supports operations involving loan tracking, financial reporting, and auditing, facilitating a better understanding of disbursement activities. Typical consumers of this API include loan management systems and financial analysts who require accurate and timely disbursement information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/disbursements/{disbursementId}": {
      "get": {
        "tags": [
          "Loans"
        ],
        "summary": "Retrieve a specific disbursement for a loan.",
        "description": "Fetches detailed information about a specific disbursement associated with the given loan ID. This endpoint allows developers to access disbursement details for managing loan operations effectively.",
        "operationId": "getLoanDisbursementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details of a disbursement for a specific loan by specifying the loan ID and the disbursement ID. The structure of the request body is defined in the referenced schema, which outlines all necessary fields and their types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanDisbursementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the disbursement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanDisbursementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanDisbursementByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving disbursement information related to a specific loan.",
        "example": "{}"
      },
      "GetLoanDisbursementByIdResponse_200": {
        "title": "Loan Disbursement Details",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount of money disbursed along with its currency.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "disbursementMethod": {
            "type": "string",
            "description": "The method through which the disbursement is made.",
            "example": "STANDARD"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the disbursement value is effective.",
            "example": "2026-09-15"
          },
          "beneficiary": {
            "description": "Details of the beneficiary receiving the disbursement.",
            "$ref": "#/components/schemas/Beneficiary"
          },
          "deductions": {
            "type": "array",
            "description": "A list of deductions applied to the disbursement.",
            "example": [
              {
                "type": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Deduction"
            }
          },
          "narrative": {
            "type": "string",
            "description": "Narrative information or comments regarding the disbursement.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier for the transaction.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the disbursement.",
            "example": "ad20c8fb-690c-b224-5dab-c20720b1cafc"
          },
          "disbursementNumber": {
            "type": "string",
            "description": "A number identifying the specific disbursement.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the disbursement.",
            "example": "ACTIVE"
          },
          "grossAmount": {
            "description": "The gross amount before any deductions.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "netAmount": {
            "description": "The net amount after all deductions.",
            "$ref": "#/components/schemas/CurrencyAmount"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference to the transaction associated with the disbursement.",
            "example": "STANDARD"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the disbursement was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "failureCode": {
            "type": "string",
            "description": "Code indicating any failure during the transaction.",
            "example": "CODE-799"
          },
          "failureMessage": {
            "type": "string",
            "description": "Message describing the reason for any failure.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Details related to the auditing of the disbursement transaction.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata about the disbursement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the details of a loan disbursement including financial amounts, beneficiary information, and transaction metadata.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "disbursementMethod": "STANDARD",
          "valueDate": "2026-09-15",
          "beneficiary": {
            "name": "Northstar Banking Service",
            "accountNumber": "STANDARD",
            "bankCode": "CODE-662",
            "bankName": "Northstar Banking Service",
            "address": {
              "line1": "350 Fifth Avenue",
              "line2": "Suite 4200",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "country": "STANDARD"
            }
          },
          "deductions": [
            {
              "type": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "narrative": "STANDARD",
          "externalReference": "STANDARD",
          "id": "ad20c8fb-690c-b224-5dab-c20720b1cafc",
          "disbursementNumber": "STANDARD",
          "status": "ACTIVE",
          "grossAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "netAmount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "transactionReference": "STANDARD",
          "processedAt": "2026-08-11T12:00:00Z",
          "failureCode": "CODE-799",
          "failureMessage": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "971644ce-2acb-573a-994c-05404a078320",
            "correlationId": "4a4d391c-ed9e-5643-9bbc-1e7a1e88e9f5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyAmount": {
        "title": "Currency Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount, e.g., USD.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numeric representation of the amount.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing an amount of money along with its currency."
      },
      "Beneficiary": {
        "title": "Beneficiary Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the beneficiary.",
            "example": "John Doe"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number of the beneficiary's account.",
            "example": "123456789"
          },
          "bankCode": {
            "type": "string",
            "description": "The code of the beneficiary's bank.",
            "example": "XYZ123"
          },
          "bankName": {
            "type": "string",
            "description": "The name of the beneficiary's bank.",
            "example": "Bank of Example"
          },
          "address": {
            "description": "The address of the beneficiary.",
            "$ref": "#/components/schemas/BeneficiaryAddress"
          }
        },
        "description": "Details about the beneficiary receiving the funds."
      },
      "BeneficiaryAddress": {
        "title": "Beneficiary Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Apt 4"
          },
          "city": {
            "type": "string",
            "description": "City where the beneficiary is located.",
            "example": "Metropolis"
          },
          "state": {
            "type": "string",
            "description": "State where the beneficiary is located.",
            "example": "NY"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the beneficiary's address.",
            "example": "10001"
          },
          "country": {
            "type": "string",
            "description": "Country where the beneficiary resides.",
            "example": "USA"
          }
        },
        "description": "Schema representing the address details of the beneficiary."
      },
      "Deduction": {
        "title": "Deduction Information",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of deduction (e.g., tax, fee, etc.).",
            "example": "Tax"
          },
          "amount": {
            "description": "The amount of the deduction along with its currency.",
            "$ref": "#/components/schemas/CurrencyAmount"
          }
        },
        "description": "Schema representing the details of a deduction applied to the disbursement."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details for a disbursement."
      },
      "Metadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response associated with the transaction.",
            "example": "resp-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema providing additional context for the transaction involved in the disbursement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-banking-loans-openapi-get-disbursement"
        },
        "example": "banking-loans-openapi-banking-loans-openapi-get-disbursement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism, where a JWT (JSON Web Token) is required for authorization. The token should be included in the 'Authorization' header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}