{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Asset Securitization Information API",
    "description": "The Asset Securitization Information API provides access to detailed data regarding asset securitization processes within the banking treasury framework. Users can retrieve specific asset securitization records by providing the relevant parameters. This API is beneficial for financial analysts, compliance officers, and banking professionals interested in understanding and managing asset-backed securities. It supports use cases such as portfolio analysis, regulatory reporting, and financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/asset-securitization/{param1}": {
      "get": {
        "tags": [
          "Asset Securitization"
        ],
        "summary": "Retrieve Asset Securitization Details",
        "description": "Fetches the detailed information of a specific asset securitization identified by its unique ID. This endpoint provides all relevant data associated with asset securitization for better decision-making and analysis.",
        "operationId": "getAssetSecuritizationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve asset securitization details specific to the RES-100045 identifier. It takes in a JSON object formatted according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAssetSecuritizationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the asset securitization resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAssetSecuritizationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAssetSecuritizationByIdRequest": {
        "type": "string",
        "description": "This schema represents the body of the request for the GET operation related to asset securitization in the treasury system.",
        "example": "{}"
      },
      "GetAssetSecuritizationByIdResponse_200": {
        "title": "Asset Securitization Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-939925"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the transaction.",
            "example": "PARTY-496387"
          },
          "notionalAmount": {
            "description": "Represents the notional amount of the instrument.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record representing the current state.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record for change tracking.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching asset securitization details.",
        "example": {
          "portfolioId": "PORT-939925",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-496387",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d2fbe027-de08-5322-910d-fd8581fb877b",
            "correlationId": "8a9cab05-aedc-5612-8055-f65516fd2702",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the notional amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema for defining the notional amount and its currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "abcde-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "xyz-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema for providing metadata about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracing back the specific endpoint involved in the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-securitization-get-asset-securitization"
        },
        "example": "asset-securitization-get-asset-securitization"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application responsible for handling the request. This information is vital for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using 'Bearer' token format, typically utilizing JSON Web Tokens (JWT) for secure token-based authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}