{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Quality Assurance API",
    "description": "The Product Quality Assurance API facilitates the evaluation and management of product quality within banking services. It provides tools for assessing and ensuring compliance with quality standards, helping financial institutions maintain the integrity and reliability of their product offerings. Typical consumers include product managers, quality assurance teams, and compliance officers who require insights on product quality metrics. This API enables organizations to proactively manage product quality, ensuring customer satisfaction and regulatory adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product quality assurance details.",
        "description": "This endpoint is used to fetch detailed information about the quality assurance measures in place for products within the product management system. It provides insights into the effectiveness of quality checks and standards compliance.",
        "operationId": "getProductQualityAssurance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the quality assurance details for product management. It must conform to the specified JSON schema to ensure all required data is accurately submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductQualityAssuranceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning product quality assurance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductQualityAssuranceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductQualityAssuranceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the product quality assurance operations in the product management API.",
        "example": "{}"
      },
      "GetProductQualityAssuranceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of products with their associated details.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the product list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for product quality assurance operations.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8ec724be-9284-572c-8d8d-48ad380680ac",
            "correlationId": "d9779d69-86d2-5218-bc4b-26c62e985b4e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductItem": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code identifying the product.",
            "example": "PROD-001"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Quality Assurance Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "Customer segment for which the product is targeted.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency for the product pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the product becomes effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the product record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of the product record.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Detailed information about a product."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the product list."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate requests and responses.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-search-product-quality-assurance"
        },
        "example": "product-quality-assurance-search-product-quality-assurance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token authentication method, where JWT (JSON Web Token) is the expected format for the access token. It is required for authorization in secure endpoints of the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}