{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Deposit Switches API",
    "description": "The Customer Deposit Switches API allows businesses to manage and retrieve deposit switch configurations for specified customers. By accessing this endpoint, developers can query the current status of a customer's deposit switches, enabling financial institutions to efficiently handle deposit preferences. Typical consumers include banking applications and financial service providers seeking real-time updates on customer deposit options. This functionality is essential for enhancing the customer experience and streamlining operational workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/deposit-switches": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve deposit switches for a specific customer.",
        "description": "This endpoint allows you to fetch the deposit switches associated with a customer identified by their unique ID. It provides insights into the available deposit switch options for that customer, helping to manage their banking preferences effectively.",
        "operationId": "retrieveDepositSwitchesForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving deposit switches for a specific customer CUST-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RetrieveDepositSwitchesForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the deposit switches information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RetrieveDepositSwitchesForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "RetrieveDepositSwitchesForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents a request body format for the deposit switches operation related to customer CUST-100045.",
        "example": "{}"
      },
      "RetrieveDepositSwitchesForCustomerCUST100045Response_200": {
        "title": "Deposit Switches Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-597910"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "List of switches associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the deposit switches operation for a specific customer.",
        "example": {
          "customerId": "CUST-597910",
          "customerType": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "3c249180-de12-5ca9-8cf6-ab6a2f729c14",
            "correlationId": "7bf0dc98-72b7-5e84-b60e-5512143d6263",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "title": "Switch",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the switch.",
            "example": "switch1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "active"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for the switch's failure, if applicable."
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the switch was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual switch linked to a customer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-deposit-switches"
        },
        "example": "open-finance-api-get-all-deposit-switches"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as bearer tokens. Clients must include the JWT in the 'Authorization' header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}