{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Evaluation Review Submission API",
    "description": "The Employee Evaluation Review Submission API allows organizations to submit reviews for employee evaluations in their human resource management processes. This API facilitates the recording of performance assessments and provides a structured approach to evaluate employee contributions. Typical consumers include HR professionals and managers who need to document and track employee performance feedback. By leveraging this API, companies can enhance their evaluation processes and ensure transparent communication regarding employee assessments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-evaluation/{param1}/reviews": {
      "post": {
        "tags": [
          "Employee Evaluation"
        ],
        "summary": "Create a review for employee evaluation.",
        "description": "This endpoint allows you to create a review for the employee evaluation process of a specific employee identified by EMP-900045. It enables HR managers to assess performance and gather feedback effectively.",
        "operationId": "createEmployeeEvaluationReviewForEmp900045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting a review regarding an employee's performance evaluation. The payload should conform to the specified JSON schema, which outlines the necessary fields and their expected data types for a successful review submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEmployeeEvaluationReviewForEmp900045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEmployeeEvaluationReviewForEmp900045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEmployeeEvaluationReviewForEmp900045Request": {
        "title": "Employee Evaluation Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for conducting the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "Scope of the review, detailing specific areas or metrics being evaluated.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific aspect of performance being evaluated.",
              "example": "Team collaboration"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier of the reviewer assigned to the evaluation.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Due date for the review to be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information for the request, providing metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting a review of an employee evaluation.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "20becef2-fac8-5130-abef-a1ae2293e43f",
            "correlationId": "c72da39f-eb91-5714-968e-e8b89e2a685f",
            "idempotencyKey": "30c1c276-70a1-5232-abf5-7e63d81b06b7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-401235"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-00123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across services.",
            "example": "corr-00123456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the operation is idempotent.",
            "example": "idempotent-key-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application responsible for generating the request.",
            "example": "Performance Review Tool"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing information about the communication channel."
      },
      "CreateEmployeeEvaluationReviewForEmp900045Response_202": {
        "title": "Employee Evaluation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken during the evaluation.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the evaluation process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the evaluation action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the evaluation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the evaluation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for employee evaluation review action.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "318130ac-0478-5087-b215-72718cb61445",
            "correlationId": "c72da39f-eb91-5714-968e-e8b89e2a685f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation between requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the evaluation processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata for the employee evaluation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the employee evaluation review processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-evaluation-review-employee-evaluation"
        },
        "example": "employee-evaluation-review-employee-evaluation"
      },
      "X-Runtime-App": {
        "description": "Name of the application or service responsible for executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, which is typically a JSON Web Token (JWT). Delete the reduction. To access secured endpoints, a valid JWT must be included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}