{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation API",
    "description": "The Funds Confirmation API enables financial institutions to verify the availability of funds in a customer's account before processing a domestic payment. This service plays a crucial role in facilitating secure and efficient transactions by ensuring that the necessary funds are available. It is primarily used by payment initiation service providers (PISPs) to confirm account balance status during payment initiation. By leveraging this API, developers can enhance user experiences and reduce transaction failures due to insufficient funds.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents/{param1}/funds-confirmation": {
      "get": {
        "tags": [
          "Domestic Payment"
        ],
        "summary": "Retrieve funds confirmation for a domestic payment consent",
        "description": "This endpoint allows you to check if there are sufficient funds available for a domestic payment based on the specified payment consent. It ensures that the transaction can be executed successfully without any issues related to insufficient funds.",
        "operationId": "getFundsConfirmationForDomesticPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for confirming funds related to the domestic payment consent identified by RES-100045. This body should contain all necessary details required for the funds confirmation process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationForDomesticPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved funds confirmation status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationForDomesticPaymentConsentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationForDomesticPaymentConsentRequest": {
        "type": "string",
        "description": "This schema represents a request body for a funds confirmation operation related to domestic payment consents.",
        "example": "{}"
      },
      "GetFundsConfirmationForDomesticPaymentConsentResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FundsConfirmationData"
          },
          "Links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving funds confirmation details.",
        "example": {
          "Data": {
            "FundsAvailableResult": {
              "FundsAvailableDateTime": "2026-09-15T14:30:00Z",
              "FundsAvailable": true
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "dd4ba341-3879-51ee-8b0e-175a1bd58e00",
            "correlationId": "40b2bbb3-38b7-542a-a604-4e3f55fca713",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsConfirmationData": {
        "type": "object",
        "properties": {
          "FundsAvailableResult": {
            "$ref": "#/components/schemas/FundsAvailableResult"
          }
        },
        "description": "Contains details about the funds availability confirmation."
      },
      "FundsAvailableResult": {
        "type": "object",
        "properties": {
          "FundsAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the funds availability was confirmed.",
            "example": "2023-10-01T10:00:00Z"
          },
          "FundsAvailable": {
            "type": "boolean",
            "description": "Indicates whether the funds are available.",
            "example": true
          }
        },
        "description": "The result of the funds availability check."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/resources/self"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of resources.",
            "example": "https://api.example.com/resources?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of resources.",
            "example": "https://api.example.com/resources?page=2"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of resources.",
            "example": "https://api.example.com/resources?page=4"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of resources.",
            "example": "https://api.example.com/resources?page=5"
          }
        },
        "description": "Links for pagination of the response."
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time of the first available resource.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time of the last available resource.",
            "example": "2023-10-31T23:59:59Z"
          }
        },
        "description": "Metadata information for pagination."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "useast1"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-confirm-domestic-payment-funds"
        },
        "example": "payment-initiation-openapi-confirm-domestic-payment-funds"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a JSON Web Token (JWT) as a bearer token. This scheme is commonly used for securing APIs by validating user identity and authorizing access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}