{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bill Pay Switch Management API",
    "description": "The Bill Pay Switch Management API enables businesses to manage bill pay preferences for their customers effectively. Through this endpoint, users can retrieve the current state of bill pay switches tailored to individual customers. This capability streamlines customer interactions with billing services and supports use cases such as account management and service customization. Typical consumers of this API include financial institutions and service providers looking to enhance customer billing experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches/{param2}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Bill Pay Switch details for a specific customer.",
        "description": "This endpoint allows you to fetch the Bill Pay Switch settings for a given customer identified by their unique identifier. Ensure you have the correct customer ID to retrieve the relevant information.",
        "operationId": "getBillPaySwitchForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status or settings of the bill pay switch for a specific customer identified by CUST-100045 and the specific resource identified by RES-100045. The structure of the request body must conform to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBillPaySwitchForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the bill pay switch details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillPaySwitchForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBillPaySwitchForCustomerRequest": {
        "type": "string",
        "description": "This schema represents the request body format expected for the operation related to bill pay switches for customer CUST-100045.",
        "example": "{}"
      },
      "GetBillPaySwitchForCustomerResponse_200": {
        "title": "Bill Pay Switch Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-591628"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switchId": {
            "type": "string",
            "description": "Identifier for the switch associated with the customer.",
            "example": "STANDARD"
          },
          "switchStatus": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for any failure associated with the switch.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "Date and time when the switch was created.",
            "example": "2026-09-15"
          },
          "updatedDate": {
            "type": "string",
            "description": "Date and time when the switch was last updated.",
            "example": "2026-09-15"
          },
          "authenticated": {
            "type": "boolean",
            "description": "Indicates whether the customer has been authenticated.",
            "example": true
          },
          "provider": {
            "description": "Details of the provider associated with the switch.",
            "$ref": "#/components/schemas/Provider"
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods associated with the customer.",
            "example": [
              {
                "type": "STANDARD",
                "title": "Banking operation completed",
                "brand": "STANDARD",
                "bankIdentifier": "STANDARD",
                "endsWith": "STANDARD",
                "bankAccountType": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentMethod"
            }
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving bill pay switch information for a customer.",
        "example": {
          "customerId": "CUST-591628",
          "customerType": "STANDARD",
          "switchId": "STANDARD",
          "switchStatus": "ACTIVE",
          "failureReason": "STANDARD",
          "createdDate": "2026-09-15",
          "updatedDate": "2026-09-15",
          "authenticated": true,
          "provider": {
            "id": "STANDARD",
            "name": "Northstar Banking Service"
          },
          "paymentMethods": [
            {
              "type": "STANDARD",
              "title": "Banking operation completed",
              "brand": "STANDARD",
              "bankIdentifier": "STANDARD",
              "endsWith": "STANDARD",
              "bankAccountType": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "e30c5a09-fb53-53b5-b427-63e3cffb74f1",
            "correlationId": "98c0aad9-4a9a-5c81-8ba4-bb6208e28067",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Provider": {
        "title": "Provider Information",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the provider.",
            "example": "PROV-001"
          },
          "name": {
            "type": "string",
            "description": "Name of the provider.",
            "example": "PayPal"
          }
        },
        "description": "Schema representing provider information related to the switch."
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., credit card, bank transfer).",
            "example": "credit_card"
          },
          "title": {
            "type": "string",
            "description": "Title or label for the payment method.",
            "example": "Visa"
          },
          "brand": {
            "type": "string",
            "description": "Brand associated with the payment method.",
            "example": "Visa"
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Identifier for the bank associated with the payment method.",
            "example": "BANK-001"
          },
          "endsWith": {
            "type": "string",
            "description": "Last few digits of the bank account or card number.",
            "example": "1234"
          },
          "bankAccountType": {
            "type": "string",
            "description": "Type of the bank account (e.g., savings, checking).",
            "example": "checking"
          }
        },
        "description": "Schema representing a payment method associated with a customer."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-bill-pay-switch-details"
        },
        "example": "open-finance-api-get-bill-pay-switch-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which allows users to authenticate by including a JSON Web Token (JWT) in the Authorization header of their requests. Ensure that the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}