{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Statements API",
    "description": "The Financial Statements API provides access to comprehensive financial reports and statements related to banking transactions. Users can retrieve detailed financial data for specific accounts by providing the relevant account identifier. This API is essential for financial analysts and auditors who require accurate and timely financial information for reporting or compliance purposes. By integrating this API, businesses can enhance their financial analytics capabilities and streamline their reporting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-statements/{param1}": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Retrieve financial statement details by ID.",
        "description": "This endpoint allows you to fetch the financial statement associated with the specified ID. Use this to access detailed financial data for analysis or reporting.",
        "operationId": "getFinancialStatementsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the financial statements for the specified resource. Ensure that the required parameters are included in the payload to receive the appropriate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialStatementsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the financial statement data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialStatementsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialStatementsByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for retrieving financial statements operations.",
        "example": "{}"
      },
      "GetFinancialStatementsByIdResponse_200": {
        "title": "Financial Statement Response",
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for the financial statement, formatted as YYYY-MM.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The monetary amount along with its currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date the financial record was posted, formatted as YYYY-MM-DD.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the financial record (e.g., 'active', 'inactive').",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the financial statement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the financial record was last updated, formatted in ISO 8601.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the financial statement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response object for the financial statement API, containing details about the financial records.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "445e5774-7505-5277-b0b7-63c799ec4190",
            "correlationId": "9400c001-5484-54cd-bed5-803393b546d6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The amount of money.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed (e.g., 'USD').",
            "example": "USD"
          }
        },
        "description": "Represents a monetary amount and its currency details."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response.",
            "example": "R123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request across different systems.",
            "example": "C789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, formatted in ISO 8601.",
            "example": "2023-09-15T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the financial statement was processed.",
            "example": "US"
          }
        },
        "description": "Contains additional metadata for the financial statement response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statements-get-financial-statements"
        },
        "example": "financial-statements-get-financial-statements"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling the request, which can help in identifying the source of the data.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token, typically in the form of a JSON Web Token (JWT), for securing API access. Clients must include this token in the Authorization header with their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}