{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Case Root Cause Analysis API",
    "description": "The Case Root Cause Analysis API provides insights into the underlying causes of issues within banking services. By querying specific case parameters, users can retrieve detailed analyses that help identify problems and streamline resolution processes. This API is essential for support teams, analysts, and decision-makers who need to enhance operational efficiency and improve customer satisfaction. Typical use cases include investigating service interruptions, understanding customer complaints, and driving continuous improvements in service quality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis/{param1}": {
      "get": {
        "tags": [
          "Servicing Case Management"
        ],
        "summary": "Retrieve root cause analysis for a specific servicing case.",
        "description": "This endpoint allows you to fetch the root cause analysis for the servicing case identified by 'RES-100045'. It provides insights into the underlying issues pertaining to the case, aiding in better understanding and resolution of cases.",
        "operationId": "getServicingCaseRootCauseAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the root cause analysis for a specific servicing case identified by the provided case ID 'RES-100045'. Ensure that the request body conforms to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingCaseRootCauseAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingCaseRootCauseAnalysisRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingCaseRootCauseAnalysisRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the root cause analysis operation in the servicing case API.",
        "example": "{}"
      },
      "GetServicingCaseRootCauseAnalysisRes100045Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-224724"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-578474"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Due date for service level agreement.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Preferred contact method of the customer.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the case record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the case record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the case was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Unique identifier for correlating requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the case.",
            "example": {
              "responseId": "c574e770-744d-58db-a8ac-72e4602b1990",
              "correlationId": "cc3d4f64-c7cb-5328-9ac4-a56684ea34dd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for root cause analysis in servicing case operations.",
        "example": {
          "customerId": "CUST-224724",
          "caseId": "CASE-578474",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c574e770-744d-58db-a8ac-72e4602b1990",
            "correlationId": "cc3d4f64-c7cb-5328-9ac4-a56684ea34dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-get-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-get-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the OAuth 2.0 Bearer token authentication method. The client must include a valid JWT (JSON Web Token) in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}