{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Risk Models Retrieval API",
    "description": "The Credit Risk Models Retrieval API allows users to access and retrieve detailed information about various credit risk models employed in banking. This endpoint serves as a valuable resource for analysts and financial institutions seeking to understand model performance, methodologies, and applications. Typical consumers include risk management teams, compliance officers, and data analysts who require timely access to credit risk assessment tools. By leveraging this API, organizations can enhance their risk evaluation processes and make informed financial decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-risk-models": {
      "get": {
        "tags": [
          "CreditRiskManagement"
        ],
        "summary": "Retrieve a list of credit risk models.",
        "description": "This endpoint allows users to retrieve a comprehensive list of available credit risk models, providing essential details and parameters for each model. Utilized primarily by financial institutions, this resource aids in assessing and managing credit risk effectively.",
        "operationId": "getCreditRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving credit risk models. This should include the required parameters for the operation, formatted as per the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the credit risk models have been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditRiskModelsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on credit risk models. It is expected to contain a string value.",
        "example": "{}"
      },
      "GetCreditRiskModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit risk models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-896770",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria used for sorting the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving credit risk models.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-896770",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1cd120d9-0423-5c97-bf47-e47ed28d19ad",
            "correlationId": "c95b7c1a-b375-5f04-acba-d2eb339bc5b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditRiskModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "exampleModelId"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the credit risk model.",
            "example": "v1.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "examplePortfolioId"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model was evaluated.",
            "example": "2023-10-01"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model was evaluated.",
            "example": "baseline"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model's predictions.",
            "example": 0.95
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier of the dataset used for validation.",
            "example": "exampleValidationDatasetId"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months for the backtesting window.",
            "format": "int32",
            "example": 12
          },
          "approvalStatus": {
            "type": "string",
            "description": "Approval status of the model.",
            "example": "approved"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a credit risk model."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page (number of items per page).",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Meta information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, which can be useful for logging and tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-risk-models-search-credit-risk-models"
        },
        "example": "credit-risk-models-search-credit-risk-models"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application runtime environment that processed the request, aiding in performance and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must provide a valid JSON Web Token (JWT) as a means of authorization with each request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}