{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Asset Securitization Management API",
    "description": "The Asset Securitization Management API enables financial institutions to manage the process of securitizing assets, enhancing liquidity and risk management. This API allows users to initiate the securitization of various asset classes, ensuring compliance with regulatory requirements while optimizing financial performance. Typical consumers include treasury departments, risk managers, and investment teams looking to efficiently streamline asset transactions. The API facilitates seamless integration into existing financial workflows, supporting robust asset management and strategic investment opportunities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/asset-securitization": {
      "post": {
        "tags": [
          "Asset Management"
        ],
        "summary": "Create a new asset securitization.",
        "description": "This endpoint allows you to initiate the creation of a new asset securitization process. Ensure that all required details are provided in the request body to successfully set up the asset for securitization.",
        "operationId": "createAssetSecuritization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit asset securitization operations. It requires a structured payload complying with the specified schema and is primarily intended for creating new asset securitization entries in the system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAssetSecuritizationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new asset securitization resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAssetSecuritizationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAssetSecuritizationRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-101058"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-257750"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the financial instrument matures.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "portfolioId": "PORT-101058",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-257750",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "0f22b235-75fd-5940-b859-992973e76841",
            "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
            "idempotencyKey": "d7d53c6f-717c-5851-91c4-82ffc9b20433",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872229"
            }
          }
        }
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the notional amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code corresponding to the notional amount.",
            "example": "string"
          }
        },
        "description": "Represents the notional amount details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, Web, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAssetSecuritizationResponse_201": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-430722"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-388550"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-962635"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata information related to the operation.",
            "example": {
              "responseId": "0b565f28-f312-5388-a746-7dee81a29895",
              "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the asset securitization operation.",
        "example": {
          "portfolioId": "PORT-430722",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-388550",
          "resourceId": "RES-962635",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0b565f28-f312-5388-a746-7dee81a29895",
            "correlationId": "544ed403-db8f-5952-8f73-32c8643a43e2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that was called, allowing clients to trace requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-securitization-create-asset-securitization"
        },
        "example": "asset-securitization-create-asset-securitization"
      },
      "X-Runtime-App": {
        "description": "This header provides the name of the application that processed the request, useful for debugging and tracking performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens in HTTP Authorization headers. Specifically designed for JSON Web Tokens (JWT), allowing secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}