{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Standing Orders Management API",
    "description": "The Standing Orders Management API enables financial institutions to manage and retrieve details of standing orders associated with specific accounts. Through this API, users can access important information regarding recurring payment instructions, facilitating better financial planning and management. Typical consumers include banks, fintech applications, and accounting software that require insights into account activities. The API simplifies the integration of standing order functionalities into various applications, enhancing the user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/standing-orders": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve standing orders for a specific account.",
        "description": "This endpoint allows users to fetch all standing orders associated with a particular account identified by the provided account ID. It provides crucial information regarding scheduled payments and their frequency, helping users manage their financial commitments effectively.",
        "operationId": "getStandingOrdersForAccountACC200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the standing orders associated with a specific account identified by ACC-200045. It is important to ensure that the account exists and that the requester has the necessary permissions to access this information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStandingOrdersForAccountACC200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved standing orders for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingOrdersForAccountACC200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetStandingOrdersForAccountACC200045Request": {
        "type": "string",
        "description": "A JSON string representing the request body for obtaining standing orders related to the specified account.",
        "example": "{}"
      },
      "GetStandingOrdersForAccountACC200045Response_200": {
        "title": "Standing Orders Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "StandingOrder": {
                "type": "array",
                "description": "A list of standing orders associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/StandingOrder"
                }
              }
            },
            "description": "Contains the details of the standing orders.",
            "example": {
              "StandingOrder": [
                {
                  "AccountId": "ACC-483513",
                  "id": "STANDARD",
                  "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                  "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                  "NumberOfPayments": "STANDARD",
                  "statusCode": "CODE-462",
                  "FirstPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "NextPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "LastPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "FinalPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-661",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving standing orders related to an account.",
        "example": {
          "Data": {
            "StandingOrder": [
              {
                "AccountId": "ACC-483513",
                "id": "STANDARD",
                "NextPaymentDateTime": "2026-09-15T14:30:00Z",
                "LastPaymentDateTime": "2026-09-15T14:30:00Z",
                "NumberOfPayments": "STANDARD",
                "statusCode": "CODE-462",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "NextPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "LastPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-661",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "97e45a4f-7621-5868-a574-c75a157baca1",
            "correlationId": "1b19c7d1-733d-5159-983a-99001386691d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StandingOrder": {
        "title": "Standing Order",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The identifier of the account to which this standing order belongs."
          },
          "id": {
            "type": "string",
            "description": "The unique identifier of the standing order."
          },
          "NextPaymentDateTime": {
            "type": "string",
            "description": "The date and time of the next scheduled payment."
          },
          "LastPaymentDateTime": {
            "type": "string",
            "description": "The date and time when the last payment was made."
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The total number of payments scheduled for this standing order."
          },
          "statusCode": {
            "type": "string",
            "description": "The current status of the standing order."
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "NextPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "LastPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "FinalPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Represents an individual standing order associated with an account."
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary value of the payment."
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the payment is made."
          }
        },
        "description": "Represents the amount and currency for a payment."
      },
      "CreditorAgent": {
        "title": "Creditor Agent",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme under which the creditor operates."
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the creditor agent."
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent."
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the agent representing the creditor."
      },
      "PostalAddress": {
        "title": "Postal Address",
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "The type of address (e.g., residential, business, etc.)."
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the address."
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department associated with the address."
          },
          "StreetName": {
            "type": "string",
            "description": "The name of the street."
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Number of the building."
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building."
          },
          "Floor": {
            "type": "string",
            "description": "Floor number in the building."
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building."
          },
          "Room": {
            "type": "string",
            "description": "Room number within the building."
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number."
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location."
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district."
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the address."
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country."
          },
          "Country": {
            "type": "string",
            "description": "Country of the address."
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional address lines if necessary.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Represents the postal address details of the creditor agent."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used to trace requests in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-standing-orders"
        },
        "example": "accounts-api-get-accounts-account-id-standing-orders"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request, allowing for identification of the source application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer token authentication. Tokens are expected to be in the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}