{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Term Deposit Framework Agreement API",
    "description": "This API allows financial institutions to update terms of existing term deposit framework agreements. It facilitates modifications to interest rates, conditions, and account details to better serve clientele needs. Typical consumers of this API include banking systems and financial service providers looking to enhance customer account management functionalities. The endpoint streamlines the process of maintaining up-to-date agreements in line with regulatory compliance and customer preferences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement/{param1}": {
      "patch": {
        "tags": [
          "Term Deposit Management"
        ],
        "summary": "Update a term deposit framework agreement.",
        "description": "This operation allows you to update the details of a specific term deposit framework agreement identified by its resource ID. Use this endpoint to adjust terms, rates, or any other relevant details associated with the agreement to ensure it meets your requirements.",
        "operationId": "patchTermDepositAgreementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This PATCH request updates the term deposit framework agreement for the specified resource. Ensure that the payload conforms to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchTermDepositAgreementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with updated resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchTermDepositAgreementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchTermDepositAgreementRes100045Request": {
        "title": "Patch Request Body for Deposit Lending Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the operation.",
            "$ref": "#/components/schemas/OperationChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are to be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context surrounding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating operations related to deposit lending.",
        "example": {
          "changes": {
            "customerId": "CUST-702915",
            "accountId": "ACC-848316",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4a7a7282-124c-5cce-ada4-10dbb2f31164",
            "correlationId": "4b24f4de-c306-5104-8a25-5c776c567cc2",
            "idempotencyKey": "538f4865-0688-59ae-95d4-9e354d5fe83a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-303525"
            }
          }
        }
      },
      "OperationChanges": {
        "title": "Operation Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "cus_abc123"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account to be modified.",
            "example": "acc_123xyz"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product to be modified.",
            "example": "prd_456def"
          }
        },
        "description": "Schema representing the specific changes to be applied to an operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_789ghi"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "corr_012jkl"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp_345mno"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-03-01T09:45:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "CustomerApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_456pqr"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request originated.",
            "example": "device_789stu"
          }
        },
        "description": "Schema representing details about the channel through which the request was made."
      },
      "PatchTermDepositAgreementRes100045Response_200": {
        "title": "Patch Operation Response for Term Deposit Framework Agreement",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for a PATCH operation on the Term Deposit Framework Agreement, containing the response version, status, last updated timestamp, and additional metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0c2ae547-fdd4-59dc-8e96-1e021c2175eb",
            "correlationId": "4b24f4de-c306-5104-8a25-5c776c567cc2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Patch Operation Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information important for tracing and processing the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being used for this transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-update-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-update-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens to authenticate requests securely. This format utilizes JSON Web Tokens (JWT), which can encapsulate essential user information and can be verified and trusted through cryptographic signatures.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}