{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Banking Account Information Retrieval API",
    "description": "The Open Banking Account Information Retrieval API enables clients to securely access and manage account information from various financial institutions. This API allows consumers to retrieve details about their accounts, including balances and transaction histories, facilitating enhanced financial transparency and decision-making. Typical users of this API include banking applications, personal finance management tools, and third-party service providers looking to offer integrated financial solutions. By leveraging this API, developers can create seamless experiences for users seeking to monitor and analyze their banking resources.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve a list of AISP accounts.",
        "description": "This endpoint allows users to retrieve a list of accounts through the Account Information Service Provider (AISP). It returns detailed information about each account, enabling users to view and manage their financial data effectively.",
        "operationId": "getAispAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving bank account information via the AISP (Account Information Service Provider) service. This body must conform to the specified schema to ensure that the request is processed correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved list of accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountsRequest": {
        "type": "string",
        "description": "The request body for the GET operation on AISP accounts. This schema does not include any structured JSON data but is simply a placeholder for potential future modifications or metadata.",
        "example": "{}"
      },
      "GetAispAccountsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "description": "A list of accounts associated with the user.",
                "items": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            },
            "description": "The data containing account information.",
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-246",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-575",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET account operations.",
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-246",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-575",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "5fba91ed-5b6c-519f-bf0c-912c0e64a474",
            "correlationId": "49c73627-f730-5a08-b7a4-21e97e545481",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "12345678"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "Active"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "Currency": {
            "type": "string",
            "description": "Currency in which the account is held.",
            "example": "GBP"
          },
          "category": {
            "type": "string",
            "description": "Category of the account.",
            "example": "Personal"
          },
          "typeCode": {
            "type": "string",
            "description": "Type code of the account.",
            "example": "SAV"
          },
          "Description": {
            "type": "string",
            "description": "Description of the account.",
            "example": "Personal Savings Account"
          },
          "Nickname": {
            "type": "string",
            "description": "Nickname assigned to the account.",
            "example": "My Savings"
          },
          "OpeningDate": {
            "type": "string",
            "description": "Date when the account was opened.",
            "example": "2020-01-01"
          },
          "MaturityDate": {
            "type": "string",
            "description": "Date when the account matures.",
            "example": "2025-01-01"
          },
          "SwitchStatus": {
            "type": "string",
            "description": "Switching status of the account.",
            "example": "Not Switched"
          },
          "Account": {
            "type": "array",
            "description": "Details of sub-accounts associated with this account.",
            "items": {
              "$ref": "#/components/schemas/SubAccountDetails"
            }
          },
          "StatementFrequencyAndFormat": {
            "type": "array",
            "description": "Preferred statement frequency and format for the account.",
            "items": {
              "$ref": "#/components/schemas/StatementDetails"
            }
          }
        },
        "description": "Detailed information about a specific account."
      },
      "SubAccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the identification scheme used.",
            "example": "UK Bank Account"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification number of the sub-account.",
            "example": "87654321"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the sub-account.",
            "example": "Savings Account"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the sub-account.",
            "example": "1234567890"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the sub-account.",
            "example": "Sub Account 1"
          }
        },
        "description": "Details of a sub-account."
      },
      "StatementDetails": {
        "type": "object",
        "properties": {
          "Frequency": {
            "type": "string",
            "description": "Frequency of the statements (e.g., monthly, quarterly).",
            "example": "Monthly"
          },
          "CommunicationMethod": {
            "type": "string",
            "description": "Method of communication for delivering statements.",
            "example": "Email"
          },
          "Format": {
            "type": "string",
            "description": "Format of the statements (e.g., PDF, HTML).",
            "example": "PDF"
          },
          "DeliveryAddress": {
            "$ref": "#/components/schemas/DeliveryAddress"
          }
        },
        "description": "Details about the statement frequency and format."
      },
      "DeliveryAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "Residential"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization, if applicable.",
            "example": "Accounts"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization, if applicable.",
            "example": "Accounting"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "Main St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "My Office"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building.",
            "example": "2"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "5A"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit.",
            "example": "B"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "P.O. Box 123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town location.",
            "example": "Springfield"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "Downtown"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of address information, if applicable.",
            "example": "John Doe"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code.",
            "example": "12345"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "Springfield"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country.",
            "example": "IL"
          }
        },
        "description": "Address details for statement delivery."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "corr-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that was invoked. This value can be used for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts"
        },
        "example": "accounts-api-get-accounts"
      },
      "X-Runtime-App": {
        "description": "Identifier of the application that executed the request. This helps in tracing the source of requests in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs a Bearer Authentication method using JSON Web Tokens (JWT). Clients must include the token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}