{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Currency Exchange API",
    "description": "The Currency Exchange API provides a platform for accessing real-time foreign exchange rates and currency conversion services. Businesses can leverage this API to facilitate transactions involving multiple currencies, ensuring accurate pricing and cost management. Typical consumers include financial institutions, e-commerce platforms, and travel agencies that require up-to-date currency data for their operations. This API empowers users to make informed decisions based on current market trends, enhancing the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange": {
      "get": {
        "tags": [
          "Currency Exchange"
        ],
        "summary": "Retrieve currency exchange rates.",
        "description": "This endpoint allows users to fetch the latest currency exchange rates for various currencies. Users can specify the currencies they are interested in and receive real-time exchange information.",
        "operationId": "getCurrencyExchange",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the Currency Exchange operation. This request can be used to obtain exchange rates and related currency information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrencyExchangeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the exchange rates are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrencyExchangeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCurrencyExchangeRequest": {
        "type": "string",
        "description": "The request body for the Currency Exchange operation, formatted as a string.",
        "example": "{}"
      },
      "GetCurrencyExchangeResponse_200": {
        "title": "Currency Exchange Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of currency exchange items.",
            "example": [
              {
                "customerId": "CUST-414610",
                "serviceRequestId": "2f9312b3-a9dc-5c43-a0aa-e8770c4fc3ed",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "sourceCurrency": "USD",
                "targetCurrency": "USD",
                "quotedRate": 100,
                "cashDenominations": [
                  1
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CurrencyExchangeItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the currency exchange operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-414610",
              "serviceRequestId": "2f9312b3-a9dc-5c43-a0aa-e8770c4fc3ed",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "sourceCurrency": "USD",
              "targetCurrency": "USD",
              "quotedRate": 100,
              "cashDenominations": [
                1
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "10017cc4-a533-593b-9aa0-6ec16efaed6b",
            "correlationId": "1bac1281-1d51-5d96-85a2-28a62313cad3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CurrencyExchangeItem": {
        "title": "Currency Exchange Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request."
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product associated with the exchange."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the exchange was requested."
          },
          "sourceCurrency": {
            "type": "string",
            "description": "Currency code for the source currency."
          },
          "targetCurrency": {
            "type": "string",
            "description": "Currency code for the target currency."
          },
          "quotedRate": {
            "type": "integer",
            "description": "The quoted exchange rate.",
            "format": "int32"
          },
          "cashDenominations": {
            "type": "array",
            "description": "Denominations of cash involved in the exchange.",
            "items": {
              "type": "integer",
              "description": "Value of each cash denomination.",
              "format": "int32"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the item was last updated."
          }
        },
        "description": "Schema representing a currency exchange item."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "Numeric value of the amount.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the amount."
          }
        },
        "description": "Schema representing the amount and its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "This header contains a unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-search-currency-exchange"
        },
        "example": "currency-exchange-search-currency-exchange"
      },
      "x-runtime-app": {
        "description": "This header indicates the name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication which is commonly implemented using JSON Web Tokens (JWT). When using bearer authentication, the client must include a valid token in the Authorization header of each request to fully authenticate and authorize API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}