{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Retrieve Webhook Endpoint Details API",
    "description": "This API allows users to access detailed information about specific webhook endpoints configured in the system. By using the endpoint, consumers can retrieve essential data such as status, configuration settings, and event triggers associated with the specified webhook. Typical users include developers and system integrators who leverage webhook functionality for real-time data processing and notifications. This API is crucial for maintaining the operational integrity of webhook integrations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/webhook-endpoints/{param1}": {
      "get": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Retrieve a specific webhook endpoint.",
        "description": "This endpoint allows you to retrieve the details of a specific webhook endpoint by its unique identifier. You can use this to get information about the webhook's configuration and status.",
        "operationId": "getWebhookEndpointById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve webhook endpoint details for a specific resource. Ensure that the request conforms to the expected JSON schema for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhookEndpointByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhookEndpointByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhookEndpointByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the webhook endpoint related to operations. It is expected to be a string type that provides the necessary input data.",
        "example": "{}"
      },
      "GetWebhookEndpointByIdResponse_200": {
        "title": "Webhook Endpoint Response",
        "type": "object",
        "properties": {
          "webhookEndpointId": {
            "type": "string",
            "description": "The unique identifier for the webhook endpoint.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with the webhook endpoint.",
            "example": "MER-139702"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook events will be delivered.",
            "example": "https://example.com/resource"
          },
          "description": {
            "type": "string",
            "description": "A description of the webhook endpoint.",
            "example": "Customer banking request processed successfully"
          },
          "events": {
            "type": "array",
            "description": "The list of events that trigger the webhook.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An event type for the webhook."
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the webhook endpoint (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "secretLastRotatedAt": {
            "type": "string",
            "description": "The timestamp when the secret for the webhook endpoint was last rotated.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryAt": {
            "type": "string",
            "description": "The timestamp when the last delivery attempt was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "lastDeliveryStatus": {
            "type": "string",
            "description": "The status of the last delivery attempt.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Information related to the audit of the webhook endpoint.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata associated with the webhook endpoint.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing the details of a webhook endpoint response.",
        "example": {
          "webhookEndpointId": "STANDARD",
          "merchantId": "MER-139702",
          "url": "https://example.com/resource",
          "description": "Customer banking request processed successfully",
          "events": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "secretLastRotatedAt": "2026-08-11T12:00:00Z",
          "lastDeliveryAt": "2026-08-11T12:00:00Z",
          "lastDeliveryStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f29681d5-85d4-5dce-be89-304387cb68a2",
            "correlationId": "831fcbf5-f12d-502d-b20b-f24df8d9394c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the webhook endpoint.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the webhook endpoint was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the webhook endpoint.",
            "example": "user@example.com"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the webhook endpoint.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing the audit details for the webhook endpoint."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating requests and responses.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the webhook occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata for the webhook endpoint."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID can be used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-webhook-endpoint"
        },
        "example": "banking-p2m-openapi-get-webhook-endpoint"
      },
      "X-Runtime-App": {
        "description": "The version of the application that handled the request. This can assist in identifying which version of the app is serving the API response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication using JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}