{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Product Management API",
    "description": "The Loan Product Management API allows for the modification of existing loan products within the system. This operation is essential for financial institutions that need to adjust terms, rates, or features of their loan offerings in response to market conditions or customer feedback. Typical consumers of this API include application developers, product managers, and financial analysts seeking to keep loan product information up to date. Use cases may involve adjusting interest rates, updating eligibility criteria, or enhancing product features to better align with customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products/{param1}": {
      "patch": {
        "tags": [
          "Loan Products"
        ],
        "summary": "Update Loan Product Details",
        "description": "This endpoint allows you to update the details of an existing loan product. Ensure to provide the necessary fields for the update.",
        "operationId": "patchLoanProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to update specific attributes of a loan product identified by LOAN-500045. Clients should provide the necessary fields that need to be modified in the loan product. Ensure all updates adhere to the provided schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan product was updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanProductResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanProductRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage added to the benchmark interest rate.",
            "example": "STANDARD"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "eligibility": {
            "description": "The eligibility criteria for applicants.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context of the request including identifiers and sources.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Patch request body for loan product updates.",
        "example": {
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "annualInterestRatePercent": "STANDARD",
          "marginPercent": "STANDARD",
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxTermMonths": 1,
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "34f5f8ca-b360-52c2-b4b7-6d64522c3eb6",
            "correlationId": "1cf6077a-a396-582c-9e86-ec9612a3dd38",
            "idempotencyKey": "5119426a-8044-56f8-82f6-a9101f6e72d8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-421927"
            }
          }
        }
      },
      "AmountWithCurrency": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code, e.g., USD, EUR.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money, usually represented in the smallest units.",
            "example": "50000"
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "EligibilityCriteria": {
        "title": "Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at loan maturity.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income required from the applicant.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "Allowed types of employment for applicants.",
            "items": {
              "type": "string",
              "example": "full-time"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "Countries of residence that are allowed for this loan.",
            "items": {
              "type": "string",
              "example": "USA"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required to be eligible.",
            "format": "int32",
            "example": 650
          }
        },
        "description": "Schema containing the criteria for eligibility to apply for the loan."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Unique key to ensure idempotency of the request.",
            "example": "key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system originating the request.",
            "example": "LoanSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application sending the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "The context relevant to the request such as identifiers and source information."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g. Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel through which the request was initiated."
      },
      "PatchLoanProductResponse_200": {
        "title": "Loan Product Details Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifier for the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan product operates.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan product.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan product.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term length of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term length of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate in percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code representing the base rate used for calculating interest.",
            "example": "CODE-889"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage applied to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio allowed for this loan product.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The eligibility criteria required for applicants.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "fees": {
            "type": "array",
            "description": "A list of fees associated with the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "1cabeacb-0b37-9feb-6910-73615a4649f1"
          },
          "audit": {
            "description": "Audit information about the loan product.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Additional metadata related to the loan product.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response details of a loan product after a PATCH operation.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-889",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "1cabeacb-0b37-9feb-6910-73615a4649f1",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "26010e97-99e5-5a92-bd4d-e4460d73d98e",
            "correlationId": "1cf6077a-a396-582c-9e86-ec9612a3dd38",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the loan.",
            "example": "50000"
          }
        },
        "description": "Schema representing the loan amount details including currency and specific amount."
      },
      "LoanFee": {
        "title": "Loan Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code for the fee.",
            "example": "FEE001"
          },
          "name": {
            "type": "string",
            "description": "The name of the fee.",
            "example": "Processing Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method of calculating the fee.",
            "example": "percentage"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "percent": {
            "type": "string",
            "description": "The percentage rate for the fee, if applicable.",
            "example": "1.5"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates whether the fee is capitalized in the loan amount.",
            "example": true
          }
        },
        "description": "Schema representing a fee associated with a loan product."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the loan product was created.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema containing audit details for the loan product."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The time when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the loan processing took place.",
            "example": "NA"
          }
        },
        "description": "Schema for additional metadata related to the loan product."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-product"
        },
        "example": "banking-loans-openapi-update-loan-product"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens, specifically JSON Web Tokens (JWT), to securely access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}