{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Service Validation API",
    "description": "The Service Validation API facilitates the validation of service directory entries across multiple banking channels. It allows authorized users to submit service validation requests for specific services identified by parameters. This API is essential for maintaining data integrity and verifying the accuracy of service information. Typical consumers include financial institutions and service providers who need to ensure their service listings are up-to-date and accurate. This streamlined process supports efficient cross-channel banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/service-directory/{param1}/validations": {
      "post": {
        "tags": [],
        "summary": "Create Validation for Service Directory Resource.",
        "description": "This endpoint allows you to create a new validation for the specified service directory resource identified by RES-100045. Make sure to provide the necessary details in the request body to successfully create the validation entry.",
        "operationId": "createValidationForServiceDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to validate service details for the specified resource. The input should include all necessary fields required for validation according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationForServiceDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and validation results returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateValidationForServiceDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateValidationForServiceDirectoryRes100045Request": {
        "title": "Validation Request Body",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "List of validation scopes to apply.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific validation scope."
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is being requested.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the entity making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the structure of the request body for validation operations in the service directory.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5875ab90-e959-5c10-af70-d33445eee8bd",
            "correlationId": "28fd4273-b696-530d-8784-641f388c4fe8",
            "idempotencyKey": "219fe61c-0b0a-5d2b-920d-ba40fa3de93a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-607903"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "cor-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for ensuring idempotency of the requests.",
            "example": "idempotent-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-09T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "appA"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "CreateValidationForServiceDirectoryRes100045Response_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation after execution.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional data related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the validation operations performed via POST request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "903c984f-c1bf-5f27-b312-e2eb4f88ee8b",
            "correlationId": "28fd4273-b696-530d-8784-641f388c4fe8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "corr-abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata containing additional details about the request and its processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint on which the operation was performed. This header helps in tracing and identifying the specific service endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "service-directory-validate-service-directory"
        },
        "example": "service-directory-validate-service-directory"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This helps in identifying the source of the requests within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JWT (JSON Web Tokens) for securely transmitting information between parties as a JSON object. This type of token is used to verify the identity of the user and ensure that the communication is secure.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}