{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Routing Profile Management API",
    "description": "The Party Routing Profile Management API allows users to efficiently configure and manage routing profiles for banking parties. This functionality is crucial for enabling seamless processing of transactions and enhancing customer interactions. Businesses can utilize this API to create and update routing profiles tailored to their operational needs, ensuring optimal routing of requests. Typical consumers include banking applications and financial institutions aiming to streamline party management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile": {
      "post": {
        "tags": [],
        "summary": "Create a new party routing profile.",
        "description": "This endpoint allows the creation of a new party routing profile, enabling you to define how parties should be routed within the system. Ensure that all required fields are filled out in the request body.",
        "operationId": "createPartyRoutingProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a party routing profile. It requires details pertaining to the routing configuration that determines how communication is managed for the associated parties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePartyRoutingProfileRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePartyRoutingProfileResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePartyRoutingProfileRequest": {
        "title": "Party Routing Profile Request Body",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-353598"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the party.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The legal entity identifier for the party.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO code representing the country of the party.",
            "example": "US"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a party routing profile.",
        "example": {
          "partyId": "PARTY-353598",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "requestContext": {
            "requestId": "ed5cafb6-bcd6-51fb-a1b0-799c556ef8f6",
            "correlationId": "58db1928-078f-5c9e-888e-7ea451acbd46",
            "idempotencyKey": "4d4c518d-6ab8-5ba2-8784-486c9ee24373",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-120590"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure operation idempotency.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "CreatePartyRoutingProfileResponse_201": {
        "title": "Party Routing Profile Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "A unique identifier for the party.",
            "example": "PARTY-446366"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code in which the party is located, formatted according to ISO 3166-1 alpha-2.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier associated with the party.",
            "example": "RES-481038"
          },
          "status": {
            "type": "string",
            "description": "The current status of the party routing profile.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the party routing profile was created, formatted in RFC 3339.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional context about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for creating a party routing profile. Contains information about the party and metadata related to the request.",
        "example": {
          "partyId": "PARTY-446366",
          "countryCode": "US",
          "resourceId": "RES-481038",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9d3c072d-e6cb-57a5-b50a-a7c5de875c97",
            "correlationId": "58db1928-078f-5c9e-888e-7ea451acbd46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating multiple requests.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated, formatted in RFC 3339.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the request and response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-093"
        },
        "example": "WF-093"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5a2fda42-110f-4926-898d-d15b57ab1b18"
        },
        "example": "5a2fda42-110f-4926-898d-d15b57ab1b18"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "05e1270d-77a9-4b87-b555-629da4ff005e"
        },
        "example": "05e1270d-77a9-4b87-b555-629da4ff005e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-create-party-routing-profile"
        },
        "example": "party-routing-profile-create-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-093"
        },
        "example": "WF-093"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the request, which can be used for tracking and identification.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Legal Entity and Party Reference Data Maintenance"
        },
        "example": "Legal Entity and Party Reference Data Maintenance"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its progress within the overall process.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution of the workflow, useful for debugging and tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "05e1270d-77a9-4b87-b555-629da4ff005e"
        },
        "example": "05e1270d-77a9-4b87-b555-629da4ff005e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically JSON Web Tokens (JWT). This scheme allows clients to authenticate by including a JWT in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}