{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Partner Access Key Management API",
    "description": "This API enables the creation and management of access keys for various partners. It provides developers with the ability to generate unique access keys that facilitate secure interactions with the service. Typically, integration partners and service providers use this API to streamline authorization processes and enhance security protocols. By employing this API, businesses can ensure that only authorized partners have the necessary access to their services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey": {
      "post": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Create a new access key for a partner.",
        "description": "This endpoint allows you to generate a new access key that can be used by a partner for authentication. Ensure that you have the necessary permissions to create access keys for partners.",
        "operationId": "createAccessKeyForPartner",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating an access key for partners. This includes necessary details required to successfully generate the access key.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccessKeyForPartnerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and access key returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccessKeyForPartnerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccessKeyForPartnerRequest": {
        "title": "Access Key Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-611286"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "description": "Identifier for the third-party partner.",
            "example": "STANDARD"
          },
          "provenance": {
            "description": "Information regarding the origin of the request.",
            "$ref": "#/components/schemas/Provenance"
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the request.",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-558587",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for accessing a partner's API with a specific access key.",
        "example": {
          "customerId": "CUST-611286",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-558587",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "8ffa9d30-71e2-5e73-95bc-c6508c45bd8b",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "idempotencyKey": "8073fff2-2c9e-5bd1-8d94-62a2ef4e3868",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-228533"
            }
          }
        }
      },
      "Provenance": {
        "title": "Provenance Information",
        "type": "object",
        "properties": {
          "clientFingerprint": {
            "type": "string",
            "description": "Unique fingerprint for the client.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the client making the request.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Authentication token related to the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the provenance details such as client information and token."
      },
      "Product": {
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "The name or identifier of the product.",
            "example": "string"
          },
          "payorId": {
            "type": "string",
            "description": "Identifier of the payor.",
            "example": "string"
          },
          "maxCalls": {
            "type": "integer",
            "description": "Maximum number of calls allowed.",
            "format": "int32",
            "example": 0
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the account associated with the product.",
            "example": "string"
          },
          "accessPeriod": {
            "$ref": "#/components/schemas/AccessPeriod"
          }
        },
        "description": "Details regarding a product associated with the access key."
      },
      "AccessPeriod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of access period.",
            "example": "string"
          },
          "startTime": {
            "type": "string",
            "description": "Start time of the access period.",
            "example": "string"
          },
          "endTime": {
            "type": "string",
            "description": "End time of the access period.",
            "example": "string"
          }
        },
        "description": "Time frame during which the access key is valid."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema representing details of the communication channel."
      },
      "CreateAccessKeyForPartnerResponse_200": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "List of retrieved access key data.",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-469489",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-633031",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccessKeyData"
            }
          }
        },
        "description": "Response schema for the POST operation on partners' access key retrieving data and metadata.",
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-469489",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-633031",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "21277188-b8cb-5c24-85cc-e67d768605d5",
            "correlationId": "88bd8582-742d-5319-9571-33052deff3f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccessKeyData": {
        "type": "object",
        "properties": {
          "receipt": {
            "$ref": "#/components/schemas/Receipt"
          },
          "proof": {
            "$ref": "#/components/schemas/Proof"
          }
        },
        "description": "Detailed information about an access key."
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "profile": {
            "type": "integer",
            "description": "The profile identifier.",
            "format": "int32",
            "example": 0
          },
          "version": {
            "type": "string",
            "description": "Version of the receipt.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the receipt.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer.",
            "example": "string"
          },
          "partnerId": {
            "type": "string",
            "description": "Identifier of the partner.",
            "example": "string"
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the receipt.",
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp when the receipt was generated.",
            "example": "string"
          }
        },
        "description": "Receipt associated with the access key, containing profile and product details."
      },
      "Proof": {
        "type": "object",
        "properties": {
          "signature": {
            "type": "string",
            "description": "Signature for verification purposes.",
            "example": "string"
          },
          "keyId": {
            "type": "string",
            "description": "Identifier of the key used for signing.",
            "example": "string"
          },
          "timestamp": {
            "type": "string",
            "description": "Timestamp when the proof was generated.",
            "example": "string"
          }
        },
        "description": "Proof information associated with the access key."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint where the request was sent. This helps in tracking and monitoring the API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-third-party-access-key"
        },
        "example": "open-finance-api-generate-third-party-access-key"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This value provides context about which application is handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) to ensure secure communication. Users must provide a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}