{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Guarantee Status API",
    "description": "The Bank Guarantee Status API allows users to retrieve the current status of a bank guarantee. This API provides detailed insights into the status of bank guarantees, aiding financial institutions in managing trade-related obligations efficiently. Typical consumers include bankers, trade finance professionals, and enterprises involved in international transactions. By utilizing this API, organizations can ensure that they have up-to-date information vital for decision-making and risk assessment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/bank-guarantee/{param1}": {
      "get": {
        "tags": [
          "Bank Guarantee"
        ],
        "summary": "Retrieve a specific bank guarantee details.",
        "description": "This endpoint allows users to fetch detailed information about a specific bank guarantee identified by its unique resource ID. Ensure to have the correct resource ID to get accurate results.",
        "operationId": "getBankGuaranteeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to bank guarantee operation RES-100045. It includes necessary parameters to specify the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankGuaranteeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of bank guarantee details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankGuaranteeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankGuaranteeByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations related to bank guarantee in the trade banking system.",
        "example": "{}"
      },
      "GetBankGuaranteeByIdResponse_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier for the corporate customer.",
            "example": "CUST-601485"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier for the facility associated with the bank guarantee.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty in the transaction.",
            "example": "PARTY-688466"
          },
          "amount": {
            "description": "The amount associated with the bank guarantee, specifying value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the bank guarantee matures.",
            "example": "2026-09-15"
          },
          "guaranteeType": {
            "type": "string",
            "description": "The type of guarantee being provided.",
            "example": "STANDARD"
          },
          "beneficiaryId": {
            "type": "string",
            "description": "The unique identifier for the beneficiary of the bank guarantee.",
            "example": "STANDARD"
          },
          "claimExpiryDate": {
            "type": "string",
            "description": "The date when a claim against the guarantee will expire.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the bank guarantee record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the bank guarantee record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the bank guarantee information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving bank guarantee operations.",
        "example": {
          "corporateCustomerId": "CUST-601485",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-688466",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "guaranteeType": "STANDARD",
          "beneficiaryId": "STANDARD",
          "claimExpiryDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c19f6ec3-6ba0-5a3c-a9b3-e0b76467f071",
            "correlationId": "175e216b-300a-536b-bec7-25f8ed4c8c17",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the bank guarantee amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Object representing the amount details including currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests.",
            "example": "corr-789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the bank guarantee took place.",
            "example": "EU-West"
          }
        },
        "description": "Additional metadata about the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-guarantee-get-bank-guarantee"
        },
        "example": "bank-guarantee-get-bank-guarantee"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JWT (JSON Web Token) must be included in the request to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}