{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Update API",
    "description": "The Corporate Lease Update API enables businesses to modify existing corporate lease agreements efficiently. This endpoint supports operations to update specific lease details, ensuring accurate financial reporting and compliance. Typical consumers include finance teams, leasing managers, and integrators who manage corporate leasing systems. By providing a streamlined approach to updating lease information, this API enhances operational efficiency and improves data accuracy across business applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease/{param1}": {
      "patch": {
        "tags": [
          "Corporate Lease Management"
        ],
        "summary": "Update Corporate Lease Details",
        "description": "This endpoint allows authorized users to update the details of a specific corporate lease identified by its resource ID. Ensure that all required fields are provided to successfully process the update.",
        "operationId": "patchCorporateLeaseRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specified corporate lease details of a deposit lending operation. It contains all required fields that need to be updated in the corporate lease object, represented in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCorporateLeaseRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCorporateLeaseRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCorporateLeaseRes100045Request": {
        "title": "Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being requested.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A string indicating the reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "A timestamp indicating when the change will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for the Operations patch request under the corporate lease lending context.",
        "example": {
          "changes": {
            "customerId": "CUST-107652",
            "accountId": "ACC-217287",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4ab7e41b-85ec-5968-88f1-997ca450cc5c",
            "correlationId": "fdae9d5a-127e-5eda-a796-827881485df5",
            "idempotencyKey": "5cc7c2c4-f168-5362-bc2e-ae38b9f88b51",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-111637"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the changes.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account related to the customer.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The product code related to the changes.",
            "example": "string"
          }
        },
        "description": "An object containing the specific changes requested."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "A timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The identifier of the source system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "An object containing the details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object that holds contextual information regarding the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "An object representing the channel through which the request originated."
      },
      "PatchCorporateLeaseRes100045Response_200": {
        "title": "Corporate Lease Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for an operation on corporate lease, indicating the status and metadata of the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9f5ae427-dbb9-5631-8ab4-3086b0df984e",
            "correlationId": "fdae9d5a-127e-5eda-a796-827881485df5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracking the request through the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata object containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request, allowing for tracking and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-update-corporate-lease"
        },
        "example": "corporate-lease-update-corporate-lease"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, providing context about the processing environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token. This method utilizes JSON Web Tokens (JWT) to securely transmit information between parties as a JSON object. The bearer token must be included in the `Authorization` header of requests to authenticate API calls.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}