{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Gap Analysis API",
    "description": "The Gap Analysis API provides businesses with insights into the discrepancies between current banking models and desired outcomes. This API allows users to fetch detailed reports on existing banking frameworks and evaluate potential improvements. Typical consumers include financial analysts and decision-makers looking to bridge gaps in their product offerings or operational efficiencies. By leveraging this API, organizations can enhance their strategic planning and ensure alignment with market demands.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/gap-analysis": {
      "get": {
        "tags": [
          "Model Analysis"
        ],
        "summary": "Retrieve gap analysis data for models.",
        "description": "This endpoint allows users to fetch detailed gap analysis results for the specified models, providing insights into performance and areas for improvement.",
        "operationId": "getModelsGapAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the Gap Analysis operation. This operation retrieves data necessary for performing a gap analysis based on the specified criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetModelsGapAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the gap analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetModelsGapAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetModelsGapAnalysisRequest": {
        "type": "string",
        "description": "A request body schema for gap analysis operations in GET requests. This schema is intended to capture the necessary input format for the analysis process.",
        "example": "{}"
      },
      "GetModelsGapAnalysisResponse_200": {
        "title": "Gap Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of gap analysis results.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-646400",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/GapAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a gap analysis operation.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-646400",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b8b7eb17-4d28-5330-8511-5c4cc3d273ab",
            "correlationId": "3ff78d81-20a1-5d2f-b502-9356f04d472d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GapAnalysisItem": {
        "title": "Gap Analysis Item",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "string"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "string"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date the analysis is as of.",
            "example": "string"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario related to the gap analysis.",
            "example": "string"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the analysis result.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual item in the gap analysis results."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema containing information about pagination."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "gap-analysis-search-gap-analysis"
        },
        "example": "gap-analysis-search-gap-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWTs). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}