{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Management API",
    "description": "The Credit Card Position Management API allows businesses to adjust and update the status of their credit card positions efficiently. This endpoint is particularly useful for managing dynamic financial data, ensuring accurate tracking of credit card holdings. Typical users include financial institutions and account managers who need to modify card position details based on real-time changes. With this capability, organizations can enhance their financial reporting and customer service by providing accurate and timely updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping/{param1}": {
      "patch": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Update Credit Card Position Keeping.",
        "description": "This operation allows you to update the credit card position keeping for a specific card identified by its unique card number. Ensure that the provided data in the request body accurately reflects the changes intended to be made.",
        "operationId": "updateCreditCardPositionKeeping_CARD-400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the position keeping information for the specified credit card, identified by CARD-400045. This request body should include all necessary details in JSON format to make the updates. Ensure that the fields conform to the defined schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCreditCardPositionKeeping_CARD-400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the card position.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCreditCardPositionKeeping_CARD-400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCreditCardPositionKeeping_CARD-400045Request": {
        "title": "Credit Card Position Keeping Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "cardToken": {
                "type": "string",
                "description": "The token representing the credit card.",
                "example": "string"
              },
              "cardholderId": {
                "type": "string",
                "description": "The identifier for the cardholder.",
                "example": "string"
              },
              "merchantId": {
                "type": "string",
                "description": "The identifier for the merchant associated with the transaction.",
                "example": "string"
              }
            },
            "description": "An object containing the changes to be applied to the credit card position.",
            "example": {
              "cardToken": "TOK-926715",
              "cardholderId": "STANDARD",
              "merchantId": "MER-124826"
            }
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes made to the credit card position.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the change should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing context about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating credit card positions in the system. It includes changes, reasons for changes, and request metadata.",
        "example": {
          "changes": {
            "cardToken": "TOK-926715",
            "cardholderId": "STANDARD",
            "merchantId": "MER-124826"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "13e55505-4df4-5f20-ba8d-26cfebee75fe",
            "correlationId": "48fcc151-6459-5180-af49-f33c3867aa68",
            "idempotencyKey": "71a9eaa0-3cb0-5d11-98d7-5c5a30f991d7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-934093"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "An object representing the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates metadata related to a request, including identifiers and timestamps.",
        "example": "string"
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "This schema represents the communication channel through which the request was made.",
        "example": "string"
      },
      "UpdateCreditCardPositionKeeping_CARD-400045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on Credit Card Position Keeping, indicating the result of the operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e4410494-0f9c-5290-9ee7-5d6b27979dc2",
            "correlationId": "48fcc151-6459-5180-af49-f33c3867aa68",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request and its response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information relevant to the response."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "64ffb56c29f30a92"
        },
        "example": "64ffb56c29f30a92"
      },
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4b77fb36-44c2-4899-ab07-b63f80c0b894"
        },
        "example": "4b77fb36-44c2-4899-ab07-b63f80c0b894"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8bcab069-d8e1-4ae8-9543-2b7db5894e4f"
        },
        "example": "8bcab069-d8e1-4ae8-9543-2b7db5894e4f"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-update-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-update-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "A unique identifier for the workflow that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-021"
        },
        "example": "WF-021"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Debit Card Issuance and Activation"
        },
        "example": "Debit Card Issuance and Activation"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow, indicating its processing status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the execution of the workflow, used for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8bcab069-d8e1-4ae8-9543-2b7db5894e4f"
        },
        "example": "8bcab069-d8e1-4ae8-9543-2b7db5894e4f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with a JSON Web Token (JWT). Clients must include the token in the 'Authorization' header to authenticate requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}