{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Linking API",
    "description": "The Account Linking API facilitates the connection of specific accounts to a customer\u2019s institution login. By submitting details through this endpoint, users can securely associate accounts with their respective institution logins, enabling streamlined access and management of financial data. Ideal for developers working with financial applications, this API is crucial for functionalities like account aggregation and enhanced user experience in personal finance management. This API supports seamless data integration for services looking to leverage account information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "post": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Create an account for a customer's institution login.",
        "description": "This operation allows you to create a new account associated with a specific institution login for a given customer. Ensure all required account information is provided in the request body to successfully create the account.",
        "operationId": "createInstitutionLoginAccountForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new account for the specified institutional login under the customer. Ensure that all required fields are included to successfully process the account creation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInstitutionLoginAccountForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully created the account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInstitutionLoginAccountForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInstitutionLoginAccountForCustomerRequest": {
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Context of the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating accounts in the system.",
        "example": {
          "requestContext": {
            "requestId": "ca02b219-5942-563e-855d-2f86456ffb41",
            "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
            "idempotencyKey": "eb73f1ab-9e24-5833-9f2c-fe8b17680525",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-872533"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs for the request.",
            "example": "abcdef123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "unique-idempotency-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "ApplicationX"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains context information about the request being processed."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device from which the request originated.",
            "example": "device-12345"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateInstitutionLoginAccountForCustomerResponse_200": {
        "title": "Account Operations Response",
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "A list of account objects associated with the institution login.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-168851",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for account operations, containing account details and metadata.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-168851",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "ced65231-c717-51ca-9f51-c94478c98cd4",
            "correlationId": "a72d8c83-3433-5c21-8332-f4195c130156",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Account number.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display format of the account number.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 0.0
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings).",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Code indicating the aggregation status of the account.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the institution holding the account.",
            "example": "string"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date corresponding to the balance in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the aggregation was successful, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the aggregation was attempted, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment that the account belongs to.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the account balance is held.",
            "example": "string"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction on the account, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Identifier for the institution login associated with the account.",
            "format": "int32",
            "example": 0
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Detailed information about an individual account."
      },
      "AccountDetail": {
        "title": "Account Detail",
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date at which the financial details are applicable, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "The available balance amount in the account.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "The date when the account was opened, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "The start date of the current financial period, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "The end date of the current financial period, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable for the current financial period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Total deposit amount during the current financial period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Total interest accrued during the current financial period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Total interest accrued year-to-date.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Total interest accrued in the prior year-to-date.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "The maturity date of the account, in UNIX timestamp format.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "The interest rate for the account, if applicable.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "The available credit amount against the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "The maximum credit amount available for the account.",
            "example": 0.0
          }
        },
        "description": "Detailed information regarding the account's financial state and history."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts-by-institution-login"
        },
        "example": "open-finance-api-refresh-customer-accounts-by-institution-login"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, used for monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header using the Bearer scheme when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}