{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Distribution API",
    "description": "The Product Inventory Distribution API allows users to retrieve detailed information on product inventory across various channels. This API provides insights into product availability and distribution patterns, enabling businesses to make informed inventory decisions. Typical consumers include retail managers and supply chain analysts who require real-time data to optimize stock levels and respond to market demands. By leveraging this API, organizations can enhance their inventory management processes and improve overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-distribution": {
      "get": {
        "tags": [
          "Product Inventory"
        ],
        "summary": "Retrieve product inventory distribution by channel.",
        "description": "This API endpoint allows you to fetch the distribution of product inventory across different channels. It provides insights into inventory levels, helping businesses make informed decisions regarding stock management and distribution strategies.",
        "operationId": "getChannelSpecificProductInventoryDistribution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the product inventory distribution for a specific channel. Ensure that the necessary parameters are included in the body to accurately reflect the desired channel's inventory details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificProductInventoryDistributionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product inventory distribution.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificProductInventoryDistributionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificProductInventoryDistributionRequest": {
        "type": "string",
        "description": "A string representing the request body for fetching the product inventory distribution for a specific channel.",
        "example": "{}"
      },
      "GetChannelSpecificProductInventoryDistributionResponse_200": {
        "title": "Product Inventory Distribution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of inventory items.",
            "example": [
              {
                "inventoryItemId": "STANDARD",
                "sku": "STANDARD",
                "branchId": "STANDARD",
                "quantityOnHand": 1,
                "reorderPoint": 1,
                "distributionQuantity": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InventoryItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the inventory items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Product Inventory Distribution GET operation.",
        "example": {
          "items": [
            {
              "inventoryItemId": "STANDARD",
              "sku": "STANDARD",
              "branchId": "STANDARD",
              "quantityOnHand": 1,
              "reorderPoint": 1,
              "distributionQuantity": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "85802ba0-cd70-562e-9d5b-e16c249fd8ef",
            "correlationId": "731f64e2-e77b-5156-8c8b-a54ff2c209d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItem": {
        "title": "Inventory Item",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "The unique identifier for the inventory item."
          },
          "sku": {
            "type": "string",
            "description": "The stock keeping unit identifier for the item."
          },
          "branchId": {
            "type": "string",
            "description": "The identifier for the branch managing this inventory item."
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "The current quantity available on hand.",
            "format": "int32"
          },
          "reorderPoint": {
            "type": "integer",
            "description": "The threshold quantity at which the item should be reordered.",
            "format": "int32"
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "The quantity of the item allocated for distribution.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the inventory record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the inventory item was last updated."
          }
        },
        "description": "A single inventory item in the product inventory distribution."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information regarding pagination of the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests in a single operation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was performed."
          }
        },
        "description": "Additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-distribution-search-product-inventory-distribution"
        },
        "example": "product-inventory-distribution-search-product-inventory-distribution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token must be included in the authorization header of the request. The expected format for the token is JSON Web Token (JWT), which allows secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}