{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Guideline Compliance API",
    "description": "The Guideline Compliance API provides a comprehensive solution for accessing compliance guidelines related to banking operations. This API allows users to retrieve up-to-date information on various regulatory requirements and standards, helping financial institutions ensure adherence to compliance protocols. Typical consumers of this API include compliance officers, risk management teams, and software applications in the financial sector that require real-time compliance data. By utilizing this API, organizations can streamline their compliance processes and enhance their regulatory reporting capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve compliance guidelines.",
        "description": "Fetch the latest compliance guidelines to ensure adherence to regulatory standards. This endpoint returns a list of guidelines that organizations need to follow to remain compliant.",
        "operationId": "getGuidelineCompliance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving guideline compliance information. This body should include the necessary parameters for the query to ensure accurate compliance data is fetched based on the specified guidelines.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGuidelineComplianceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of guideline compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGuidelineComplianceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetGuidelineComplianceRequest": {
        "type": "string",
        "description": "A JSON string representing the compliance guideline for Operations, to be used in a GET request body.",
        "example": "{}"
      },
      "GetGuidelineComplianceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of compliance items.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ComplianceItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the compliance items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the compliance guideline operation. It contains an array of compliance items, pagination information, sort criteria, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "271d9a1c-85e2-571d-bb9f-7de0ff91d4fa",
            "correlationId": "5a788bdc-16d2-592b-ad20-b03e03e47784",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceItem": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission."
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity."
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction related to the compliance item."
          },
          "reportingPeriod": {
            "type": "string",
            "description": "Period for which the report is applicable."
          },
          "regulation": {
            "type": "string",
            "description": "Regulation associated with the compliance item."
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for the compliance submission."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the compliance record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the compliance record was last updated."
          }
        },
        "description": "Detailed information about a compliance item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the resulting data set."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done."
          }
        },
        "description": "Metadata for the response, useful for tracking and debugging."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-search-guideline-compliance"
        },
        "example": "guideline-compliance-search-guideline-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via a JSON Web Token (JWT). The client must include the JWT in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}