{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Update API",
    "description": "The Order Update API allows for the modification of existing orders within the operational services framework. By employing this API, businesses can efficiently adjust order details such as quantities, delivery information, or status updates in a seamless manner. Typical consumers include order management systems and e-commerce platforms looking to enhance order handling capabilities. This API plays a crucial role in maintaining order accuracy and improving customer satisfaction through timely updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order/{param1}": {
      "patch": {
        "tags": [
          "Processing Order"
        ],
        "summary": "Update Processing Order RES-100045",
        "description": "This endpoint allows users to update the details of a specific processing order identified by RES-100045. All relevant fields can be modified as necessary to reflect the current state of the order.",
        "operationId": "patchProcessingOrderRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update an existing processing order with identification RES-100045. It should contain the necessary fields to reflect the updated state of the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchProcessingOrderRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchProcessingOrderRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchProcessingOrderRes100045Request": {
        "title": "Patch RequestBody for Processing Order",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes requested for the processing order.",
            "$ref": "#/components/schemas/ChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp when the change should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context for the request, including identifiers and timing.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a processing order with operational changes.",
        "example": {
          "changes": {
            "operationId": "STANDARD",
            "customerId": "CUST-864495",
            "accountId": "ACC-941684"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f2e908ee-7659-53a0-85fa-006601acac1d",
            "correlationId": "a07501d7-2bcc-5297-84f0-5ad4a69c2100",
            "idempotencyKey": "378c2153-6223-5538-9212-258ef49d14e5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-250436"
            }
          }
        }
      },
      "ChangeDetails": {
        "title": "Change Details",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation being changed.",
            "example": "operation_456"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer related to the operation.",
            "example": "customer_789"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the operation.",
            "example": "account_101112"
          }
        },
        "description": "Schema defining the details of the changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across different services.",
            "example": "corr_654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent_key_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains details regarding the request context, such as request and correlation identifiers."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_456"
          }
        },
        "description": "Information related to the request's communication channel."
      },
      "PatchProcessingOrderRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the processing order.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the processing order was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on processing orders.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9022e14e-ce75-560d-9158-7e362a4108ed",
            "correlationId": "a07501d7-2bcc-5297-84f0-5ad4a69c2100",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the API endpoint being accessed, which helps in tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-update-processing-order"
        },
        "example": "processing-order-update-processing-order"
      },
      "x-runtime-app": {
        "description": "The name of the application that is responsible for processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme using the Bearer authentication method. It requires a JSON Web Token (JWT) for authorization. This token must be included in the 'Authorization' header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}