{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Current Account Management API",
    "description": "The Current Account Management API allows authorized users to update specific details of current accounts, facilitating smooth account maintenance. This endpoint is primarily used by financial institutions and banking applications to modify customer account information as needed. Typical consumers include bank customer service representatives and system administrators when handling updates for account features or customer requests. This API enhances operational efficiency and customer satisfaction by streamlining account management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/current-account/{param1}": {
      "patch": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Update Current Account Deposit Lending",
        "description": "This endpoint allows users to update the details of a current account in the deposit lending system. It supports partial updates to various fields of the account.",
        "operationId": "updateCurrentAccountDepositLendingAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request allows the client to update specific details of the current account identified by ACC-200045. Ensure that all necessary fields are included in the request body to accurately reflect the desired changes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCurrentAccountDepositLendingAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the current account details have been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCurrentAccountDepositLendingAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCurrentAccountDepositLendingAcc200045Request": {
        "title": "Account Operation Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the account.",
            "$ref": "#/components/schemas/AccountChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for making the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request, including metadata about the transaction.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for updating account operations in the lending service.",
        "example": {
          "changes": {
            "customerId": "CUST-186370",
            "accountId": "ACC-467242",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "08abce4e-1adc-58b7-b5d3-5d1c7e262cfb",
            "correlationId": "b746b904-78c3-5ff9-afbd-f491ec40b6f0",
            "idempotencyKey": "bedb9662-5d3d-523b-a76e-8d9c26e9cd78",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-273080"
            }
          }
        }
      },
      "AccountChangeDetails": {
        "title": "Account Change Details",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "cust-001"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the specific account being updated.",
            "example": "acc-001"
          },
          "productCode": {
            "type": "string",
            "description": "The product code associated with the account.",
            "example": "prod-abc"
          }
        },
        "description": "Contains the properties representing the details of the changes to the account."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "lending-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata and identifiers related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateCurrentAccountDepositLendingAcc200045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for PATCH operation on current account.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a2259b5c-9552-52a0-8749-c50ce9387fc4",
            "correlationId": "b746b904-78c3-5ff9-afbd-f491ec40b6f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint corresponding to this request. This helps track the source of the request for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "current-account-update-current-account"
        },
        "example": "current-account-update-current-account"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that processed this request. Useful for identifying the environment or version of the application handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a Bearer token, specifically in the JSON Web Token (JWT) format. This token is used to authorize requests to secure resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}