{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Credit Rating API",
    "description": "The Customer Credit Rating API provides essential insights into a customer's creditworthiness, enabling businesses to make informed lending and credit decisions. This API allows users to retrieve credit ratings based on historical data and current financial behavior. Typical consumers include financial institutions, credit agencies, and businesses that extend credit. By utilizing this endpoint, developers can seamlessly integrate credit assessment functionalities into their applications, enhancing risk management and customer evaluation processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer credit rating.",
        "description": "Fetches the credit rating information for a specified customer, enabling businesses to assess their creditworthiness and make informed decisions.",
        "operationId": "getCustomerCreditRating",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the credit rating information of a customer. It should include all necessary attributes required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCreditRatingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer credit rating.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCreditRatingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCreditRatingRequest": {
        "type": "string",
        "description": "Represents the request body for retrieving credit rating information of a customer.",
        "example": "{}"
      },
      "GetCustomerCreditRatingResponse_200": {
        "title": "Customer Credit Rating Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of customer credit rating items.",
            "example": [
              {
                "customerId": "CUST-720211",
                "partyId": "PARTY-298326",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "ratingScale": "STANDARD",
                "currentRating": "STANDARD",
                "reviewReason": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCreditRatingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the result set.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for fetching customer credit ratings.",
        "example": {
          "items": [
            {
              "customerId": "CUST-720211",
              "partyId": "PARTY-298326",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "ratingScale": "STANDARD",
              "currentRating": "STANDARD",
              "reviewReason": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "349c71cc-551a-5753-967b-a8e9046eecc7",
            "correlationId": "215f6f90-2c72-5703-aee7-8864e424f343",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCreditRatingItem": {
        "title": "Customer Credit Rating Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST123"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the customer.",
            "example": "PARTY456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "PROD789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the credit rating became effective.",
            "example": "2023-10-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the relationship with the customer.",
            "example": "Gold"
          },
          "ratingScale": {
            "type": "string",
            "description": "Scale used for the credit rating.",
            "example": "1-10"
          },
          "currentRating": {
            "type": "string",
            "description": "Current credit rating of the customer.",
            "example": "A"
          },
          "reviewReason": {
            "type": "string",
            "description": "Reason for the current rating review.",
            "example": "Annual review"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the credit rating record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-05T12:00:00Z"
          }
        },
        "description": "Schema representing an individual customer credit rating item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-search-customer-credit-rating"
        },
        "example": "customer-credit-rating-search-customer-credit-rating"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, allowing clients to authenticate via a JSON Web Token (JWT). The token must be included in the `Authorization` header for requests requiring authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}