{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Currency Exchange Rate Retrieval API",
    "description": "The Currency Exchange Rate Retrieval API enables users to obtain real-time exchange rates for various currencies. This endpoint is designed primarily for financial applications, travel agencies, and businesses that need up-to-date currency information for transactions or reporting. By specifying a currency parameter, consumers can access the latest exchange values, facilitating informed decision-making and enhancing customer service. Ideal for developers looking to integrate live currency data into their applications, this API makes currency conversion seamless.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/currency-exchange/{param1}": {
      "get": {
        "tags": [
          "Currency Exchange"
        ],
        "summary": "Retrieve specific currency exchange details.",
        "description": "This endpoint allows developers to fetch the details of a specific currency exchange resource using its unique identifier. It provides comprehensive information necessary for integrating currency exchange functionalities into applications.",
        "operationId": "getCurrencyExchangeById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for currency exchange service. This request allows clients to retrieve currency exchange information based on specified parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCurrencyExchangeByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested currency exchange information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCurrencyExchangeByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCurrencyExchangeByIdRequest": {
        "type": "string",
        "description": "This schema represents a request body in string format for the currency exchange service operations.",
        "example": "{}"
      },
      "GetCurrencyExchangeByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-344948"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "506d2aa9-0c25-50d7-b53a-c3ba2f0182d9"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the currency exchange.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "Details regarding the amount involved in the currency exchange transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the currency exchange request was made.",
            "example": "2026-09-15"
          },
          "sourceCurrency": {
            "type": "string",
            "description": "Currency code of the original currency being exchanged.",
            "example": "USD"
          },
          "targetCurrency": {
            "type": "string",
            "description": "Currency code of the currency being received in exchange.",
            "example": "USD"
          },
          "quotedRate": {
            "type": "integer",
            "description": "The rate at which the exchange is quoted.",
            "format": "int32",
            "example": 100
          },
          "cashDenominations": {
            "type": "array",
            "description": "Array of integer values representing the cash denominations used in the exchange.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "Single cash denomination value.",
              "format": "int32",
              "example": 20
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record, indicating whether it is active, completed, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update of the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the currency exchange operation, providing details about the customer's request and the exchange transaction.",
        "example": {
          "customerId": "CUST-344948",
          "serviceRequestId": "506d2aa9-0c25-50d7-b53a-c3ba2f0182d9",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "sourceCurrency": "USD",
          "targetCurrency": "USD",
          "quotedRate": 100,
          "cashDenominations": [
            1
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d7d252e2-4885-5964-b1b0-430136e532f1",
            "correlationId": "32810222-e618-59f1-abe0-4db71389ea9c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount being exchanged.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency code corresponding to the amount value.",
            "example": "USD"
          }
        },
        "description": "Schema representing the amount details for a currency exchange operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing related requests throughout their lifecycle.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-02T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US-EAST"
          }
        },
        "description": "Schema for additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "An identifier for the endpoint that processed the request. This helps in tracking the specific service endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "currency-exchange-get-currency-exchange"
        },
        "example": "currency-exchange-get-currency-exchange"
      },
      "x-runtime-app": {
        "description": "The name or identifier of the application that handled the request, useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}