{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Inventory Item Management API",
    "description": "This API enables businesses to manage product inventory items effectively within a banking channel context. It allows for the addition of new inventory items, ensuring that product availability is consistently updated and accurately reflected in the system. Typical consumers include inventory managers and application developers looking to integrate product management capabilities into their banking applications. The API facilitates operations that enhance inventory accuracy and streamline product-related workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/product-inventory-item-management": {
      "post": {
        "tags": [
          "Product Inventory Management"
        ],
        "summary": "Create a new channel-specific product inventory item.",
        "description": "This endpoint allows you to create a new product inventory item that is specific to a particular sales channel. Ensure that all required fields are populated according to the business rules for product inventory management.",
        "operationId": "createChannelSpecificProductInventoryItem",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to manage product inventory items specific to a channel. It allows for the creation or update of inventory details including item specifications and quantities.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificProductInventoryItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully. Returns the newly created item.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificProductInventoryItemResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificProductInventoryItemRequest": {
        "title": "Product Inventory Item Management Request Body",
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "sku": {
            "type": "string",
            "description": "Stock Keeping Unit for the inventory item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch associated with the inventory item.",
            "example": "STANDARD"
          },
          "quantityOnHand": {
            "type": "integer",
            "description": "The current quantity of the item available in stock.",
            "format": "int32",
            "example": 1
          },
          "reorderPoint": {
            "type": "integer",
            "description": "The minimum quantity of the item before a reorder is triggered.",
            "format": "int32",
            "example": 1
          },
          "distributionQuantity": {
            "type": "integer",
            "description": "The quantity of the item to be distributed.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for managing product inventory items including details for inventory, reorder points, and request context.",
        "example": {
          "inventoryItemId": "STANDARD",
          "sku": "STANDARD",
          "branchId": "STANDARD",
          "quantityOnHand": 1,
          "reorderPoint": 1,
          "distributionQuantity": 1,
          "requestContext": {
            "requestId": "fb10c423-7738-5d65-b46a-88798bf33db9",
            "correlationId": "7c56d044-02aa-576b-afd3-b2fa390a9f53",
            "idempotencyKey": "bf99ce66-1302-5b47-b3ee-690f09458530",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-863152"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2021-07-15T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "OrderManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request being made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., retail, online).",
            "example": "Retail"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Information about the channel from which the request is made."
      },
      "CreateChannelSpecificProductInventoryItemResponse_201": {
        "type": "object",
        "properties": {
          "inventoryItemId": {
            "type": "string",
            "description": "Unique identifier for the inventory item.",
            "example": "STANDARD"
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch where the inventory item is located.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the inventory item.",
            "example": "RES-744837"
          },
          "status": {
            "type": "string",
            "description": "Current status of the inventory item.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the inventory item was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/InventoryItemMetadata"
          }
        },
        "description": "Response schema for the successful creation of a product inventory item.",
        "example": {
          "inventoryItemId": "STANDARD",
          "branchId": "STANDARD",
          "resourceId": "RES-744837",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bfa3e164-a7a4-58c8-92c6-25fca879b239",
            "correlationId": "7c56d044-02aa-576b-afd3-b2fa390a9f53",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InventoryItemMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information related to the inventory item."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-inventory-item-management-create-product-inventory-item-management"
        },
        "example": "product-inventory-item-management-create-product-inventory-item-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a Bearer token for authentication. Tokens must be formatted as JSON Web Tokens (JWT), which provide a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}