{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Intellectual Property Portfolio Management API",
    "description": "The Intellectual Property Portfolio Management API provides businesses with the capability to effectively manage their intellectual property assets. By using this API, organizations can submit new intellectual property entries, including patents and trademarks, to enhance their portfolio management strategies. Typical consumers of this API include legal teams, IP managers, and product developers who require streamlined processes for IP asset management. This API ensures that businesses maintain a well-organized inventory of their intellectual assets, fostering innovation and competitive advantage.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "post": {
        "tags": [
          "Knowledge Management"
        ],
        "summary": "Create a new intellectual property portfolio.",
        "description": "This endpoint allows users to create a new intellectual property portfolio, adding key assets that contribute to their overall knowledge management strategy. Provide the necessary details in the request body to establish the portfolio successfully.",
        "operationId": "createIntellectualPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update an intellectual property portfolio within the knowledge assets. It should include all relevant details regarding the assets to be managed, such as descriptions, categories, and associated metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateIntellectualPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The intellectual property portfolio has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateIntellectualPropertyPortfolioResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateIntellectualPropertyPortfolioRequest": {
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the intellectual property asset, such as patent, trademark, or copyright.",
            "example": "STANDARD"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number assigned to the intellectual property asset.",
            "example": "NY-4587219"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The legal jurisdiction where the intellectual property asset is registered.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity that owns the intellectual property asset.",
            "example": "STANDARD"
          },
          "renewalDate": {
            "type": "string",
            "description": "The date when the intellectual property asset needs to be renewed.",
            "format": "date",
            "example": 1789430400000
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating an intellectual property portfolio asset.",
        "example": {
          "ipAssetId": "STANDARD",
          "assetType": "STANDARD",
          "registrationNumber": "NY-4587219",
          "jurisdiction": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "renewalDate": "2026-09-15",
          "requestContext": {
            "requestId": "dc143a17-66dd-5ee8-8f93-37f614150f18",
            "correlationId": "c0b514b8-41c8-574f-b938-03195fe6ba79",
            "idempotencyKey": "136016af-375d-5acd-a951-ba457c9642ba",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-247362"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "format": "date-time",
            "example": 1690891200.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "App XYZ"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel from which the request was made.",
            "example": "channel-01"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile, etc.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing information about the channel through which the request was made."
      },
      "CreateIntellectualPropertyPortfolioResponse_201": {
        "title": "Intellectual Property Portfolio Response",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "The unique identifier for the intellectual property asset.",
            "example": "STANDARD"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity that owns the intellectual property asset.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the associated resource.",
            "example": "RES-688955"
          },
          "status": {
            "type": "string",
            "description": "The current status of the intellectual property asset.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the intellectual property asset was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of an intellectual property portfolio asset.",
        "example": {
          "ipAssetId": "STANDARD",
          "ownerLegalEntityId": "STANDARD",
          "resourceId": "RES-688955",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c5a0c5a2-f1c2-50ab-a7ff-9c6fe18801bc",
            "correlationId": "c0b514b8-41c8-574f-b938-03195fe6ba79",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with its request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing various identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-create-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-create-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token. The token must be a valid JSON Web Token (JWT) that allows access to the secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}