{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Terminal Configuration API",
    "description": "The Update Terminal Configuration API enables businesses to modify the settings and parameters of specific terminals in the payment processing ecosystem. By providing the terminal ID, users can adjust configurations such as payment methods, security settings, and operational parameters. This endpoint is particularly useful for system administrators managing multiple terminals to ensure they are optimized for current business needs. Typical consumers include IT teams and payment system managers seeking to maintain efficient terminal operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "patch": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Update terminal configuration.",
        "description": "This operation allows you to update the configuration for the specified terminal identified by RES-100045. You can modify various attributes as needed to ensure the terminal operates correctly within your system.",
        "operationId": "updateTerminalRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to partially update the terminal with the identifier RES-100045. It allows you to modify specific attributes of the terminal based on the provided JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateTerminalRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, terminal details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateTerminalRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateTerminalRes100045Request": {
        "title": "Update Terminal Request Body",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the terminal.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the terminal.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities that the terminal supports.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A capability of the terminal.",
              "example": "Capability X"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a terminal's details.",
        "example": {
          "label": "STANDARD",
          "status": "ACTIVE",
          "capabilities": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "c13c9354-257a-5312-972e-ada109f230a3",
            "correlationId": "339dede8-077d-5462-a5d8-1aec318ee948",
            "idempotencyKey": "47161846-c50b-51f4-8338-b978fe824c22",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-546849"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests or operations.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the operation is idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "Inventory System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Terminal Manager"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., WEB, MOBILE).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the transaction.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "UpdateTerminalRes100045Response_200": {
        "title": "Terminal Response",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the terminal.",
            "example": "MER-444282"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet where the terminal is located.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal (e.g., mobile, desktop).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "User-friendly label or name for the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the terminal device.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique identifier generated from the device hardware.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "List of capabilities supported by the terminal.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific capability provided by the terminal.",
              "example": "contactless payment"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp indicating when the terminal was last seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditMetadata"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a PATCH operation on terminals.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-444282",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "4f0ed470-3fc6-5e67-96a0-628388247456",
            "correlationId": "339dede8-077d-5462-a5d8-1aec318ee948",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditMetadata": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the terminal.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the terminal was last updated.",
            "example": "2023-10-05T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the terminal.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the terminal representation.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information related to terminal operations."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier to track the request across systems.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-terminal"
        },
        "example": "banking-p2m-openapi-update-terminal"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication format, specifically tailored for JSON Web Tokens (JWT). When using this scheme, the client must include a valid JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}