{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Margin Calculation API",
    "description": "The Credit Margin Calculation API provides essential functionality for financial institutions to assess credit margins effectively. This endpoint enables the creation of new credit margin models, allowing users to input various financial parameters and obtain precise margin calculations. Typical consumers include banking analysts and risk management teams who rely on accurate data to inform lending decisions and risk assessments. By leveraging this API, organizations can streamline their credit evaluation processes, enhancing their ability to manage financial risks efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/credit-margins": {
      "post": {
        "tags": [
          "Credit Management"
        ],
        "summary": "Create a new credit margin entry.",
        "description": "This operation allows users to create a new credit margin record. It is essential for managing credit risk and financial analysis within the application.",
        "operationId": "createCreditMargin",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit credit margin data for processing. It allows the user to define specific parameters required for the credit margin calculations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditMarginRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The new credit margin resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCreditMarginResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCreditMarginRequest": {
        "title": "Credit Margins Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model being used.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-143497"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the data is relevant.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the margins are being calculated.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The confidence level for the margins, expressed as a decimal.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for the Credit Margins POST operation. It contains necessary identification, configuration, and contextual information for processing the request.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-143497",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "478cf173-6400-5d25-9724-9ab7088f4772",
            "correlationId": "e4058aa9-4fbb-56b9-9fbf-3bdb07120a0a",
            "idempotencyKey": "a767ad97-1a04-5507-a337-b040a7357e62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-673551"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the contextual information related to the request, including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., Web, Mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "This schema contains information about the communication channel used for the request."
      },
      "CreateCreditMarginResponse_201": {
        "title": "Credit Margins Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Identifier for the credit margin model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio related to the credit margin.",
            "example": "PORT-847715"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the credit margin.",
            "example": "RES-279178"
          },
          "status": {
            "type": "string",
            "description": "The current status of the credit margin operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the credit margin was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the credit margin operation.",
            "$ref": "#/components/schemas/CreditMarginMetadata"
          }
        },
        "description": "Response schema for the Credit Margins operation that provides detailed information about the operation's result.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-847715",
          "resourceId": "RES-279178",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "71d52eb3-bbe7-51ec-a927-911f89c8af16",
            "correlationId": "e4058aa9-4fbb-56b9-9fbf-3bdb07120a0a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditMarginMetadata": {
        "title": "Credit Margin Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the credit margin operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-and-margin-management-create-credit-and-margin-management"
        },
        "example": "credit-and-margin-management-create-credit-and-margin-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a JSON Web Token (JWT) for secured access. A bearer token must be included in the request authorization header to validate access permissions for the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}