{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Asset Securitization Management API",
    "description": "The Asset Securitization Management API allows users to modify existing asset securitization records within the banking treasury framework. This API is designed for financial institutions and treasury managers seeking to update asset configurations, manage risk profiles, or adjust terms. Typical consumers of this API include treasury operations teams and asset managers who require efficient tools for regulatory compliance and financial analysis. By leveraging this endpoint, users can ensure accurate records and streamlined updates essential for effective asset securitization strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/asset-securitization/{param1}": {
      "patch": {
        "tags": [
          "Asset Securitization"
        ],
        "summary": "Update Asset Securitization Resource",
        "description": "This endpoint allows the user to update details of a specific asset securitization resource identified by RES-100045, including attributes and associated data. Ensure all required fields are provided in the request.",
        "operationId": "updateAssetSecuritizationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Payload for updating the asset securitization details for the specified resource. This includes the operations you want to perform on the existing asset, such as modifying attributes or changing status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAssetSecuritizationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAssetSecuritizationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateAssetSecuritizationRes100045Request": {
        "title": "Asset Securitization Operation Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the specific changes to be made as part of the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for initiating the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information surrounding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing asset securitization operations.",
        "example": {
          "changes": {
            "portfolioId": "PORT-496237",
            "instrumentId": "STANDARD",
            "counterpartyId": "PARTY-758910"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "41e9a2f4-37e7-5514-bee4-7dbbfb59b33c",
            "correlationId": "c4e3c7f3-6371-51a4-98d0-31d8da185883",
            "idempotencyKey": "8f208d50-7990-5b5e-9fd0-30a5d5fc3f69",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-679106"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio being modified.",
            "example": "portfolio-12345"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument being modified.",
            "example": "instrument-56789"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the transaction.",
            "example": "counterparty-abc"
          }
        },
        "description": "Schema representing the details of changes to be made."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-12T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that is sending the request.",
            "example": "source-system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "source-app-2"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, API).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing information about the communication channel for the request."
      },
      "UpdateAssetSecuritizationRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful operation of asset securitization.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "99062345-1486-528e-8267-5b22a97aa065",
            "correlationId": "c4e3c7f3-6371-51a4-98d0-31d8da185883",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata that contains identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-securitization-update-asset-securitization"
        },
        "example": "asset-securitization-update-asset-securitization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request during runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JWT (JSON Web Tokens) for secure access to the API. Clients must provide a valid token in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}