{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Network Participant Facility Management API",
    "description": "The Card Network Participant Facility Management API allows businesses to update the details of network participant facilities associated with their card services. This operation is essential for maintaining accurate facility information, ensuring compliance, and enhancing service quality. Typical consumers of this API include financial institutions and card service providers that need to manage participant details as they adapt to changing business needs. By utilizing this API, organizations can effectively oversee their network participant facilities and support seamless card operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility/{param1}": {
      "patch": {
        "tags": [
          "Card Network Management"
        ],
        "summary": "Update Card Network Participant Facility",
        "description": "This endpoint allows you to update the details of a specific card network participant facility identified by the given ID. You can modify various attributes related to the facility to ensure that the information is up-to-date and accurate.",
        "operationId": "updateCardNetworkParticipantFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific card network participant facility, identified by CARD-400045. It contains the necessary information in JSON format to perform the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardNetworkParticipantFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The patch request was successfully executed, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardNetworkParticipantFacilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCardNetworkParticipantFacilityRequest": {
        "title": "Card Network Participant Facility Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the card information.",
            "$ref": "#/components/schemas/CardChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating a card's network participant facility information.",
        "example": {
          "changes": {
            "cardToken": "TOK-512155",
            "cardholderId": "STANDARD",
            "merchantId": "MER-849809"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b9864b63-06a3-5d4c-955f-493313ab6ee6",
            "correlationId": "aa98767b-912c-524c-8cae-6940c2bff5bb",
            "idempotencyKey": "fd369ccb-95b7-5e0a-85ae-30386350f201",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-336441"
            }
          }
        }
      },
      "CardChanges": {
        "title": "Card Changes",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token identifying the card.",
            "example": "abcd-1234-efgh-5678"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier for the cardholder associated with the card.",
            "example": "holder987"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant to whom the card is linked.",
            "example": "merchant456"
          }
        },
        "description": "The set of changes that can be applied to a card."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-0001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating related requests and responses.",
            "example": "corr-1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to identify requests that should be treated as idempotent.",
            "example": "idempotency_key_5678"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateCardNetworkParticipantFacilityResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the card network participant facility.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a8f4f6c0-0398-5db0-a4ad-c734eea384bb",
            "correlationId": "aa98767b-912c-524c-8cae-6940c2bff5bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the API endpoint being accessed. This value helps with tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-update-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-update-card-network-participant-facility"
      },
      "x-runtime-app": {
        "description": "Identifier for the application runtime environment. This information is crucial for understanding the context in which the API is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes a bearer token for user validation. The token is expected to be a JSON Web Token (JWT), which allows for secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}