{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Products Management API",
    "description": "The Loan Products Management API enables financial institutions to create and manage a variety of loan products. This endpoint facilitates the submission of new loan product details, including specifications such as interest rates, terms, and eligibility criteria. It is designed for developers working within banking systems and loan servicing applications that require dynamic loan product offerings. Typical consumers include financial product managers and integration developers looking to enhance their loan service capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new loan product",
        "description": "This endpoint allows the creation of a new loan product in the system. The request must include all necessary details about the loan product, such as interest rates, terms, and eligibility criteria.",
        "operationId": "createLoanProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new loan product. Please provide all necessary details required for the loan product, including but not limited to product type, interest rate, terms, and any associated fees.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanProductRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new loan product.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanProductResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanProductRequest": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "Name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "Type of the loan product, e.g., personal, home, auto.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amount is denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "Minimum principal amount allowed for the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "maxPrincipal": {
            "description": "Maximum principal amount allowed for the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "Minimum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "Maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "Interest rate type, e.g., fixed, variable.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "Code indicating the base rate used for calculations.",
            "example": "CODE-489"
          },
          "marginPercent": {
            "type": "string",
            "description": "Margin percentage added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments, e.g., monthly, quarterly.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "Maximum loan-to-value ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Eligibility criteria for the loan.",
            "$ref": "#/components/schemas/Eligibility"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating loan products in the system.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-489",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1
          },
          "requestContext": {
            "requestId": "e9fd069a-16a1-56e6-b381-67af3b715183",
            "correlationId": "65f5f0ee-013f-5e28-bc3f-d95b83259c3b",
            "idempotencyKey": "06489918-74a1-5f63-8205-9e20f100f2fa",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-688928"
            }
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of principal in the specified currency.",
            "example": "10000"
          }
        },
        "description": "Schema representing the principal amount and its currency."
      },
      "Eligibility": {
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "Minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "Maximum age of the applicant at loan maturity.",
            "format": "int32",
            "example": 65
          }
        },
        "description": "Schema defining eligibility criteria for applicants."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across services.",
            "example": "CORR67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed once.",
            "example": "IDEMP12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates.",
            "example": "LoanManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originates.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Channel information through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context details of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CH001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "DEVICE12345"
          }
        },
        "description": "Schema detailing the channel information."
      },
      "CreateLoanProductResponse_201": {
        "title": "Loan Product Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code assigned to the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "Name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "Description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "Type of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the loan amounts are denominated.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "Minimum loan principal amount.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maxPrincipal": {
            "description": "Maximum loan principal amount.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "Minimum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "Maximum loan term in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate applicable to the loan product.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "Base rate code that the interest rate is based on.",
            "example": "CODE-278"
          },
          "marginPercent": {
            "type": "string",
            "description": "Margin added to the base rate to calculate the final interest rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured or unsecured.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "Maximum loan-to-value percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Eligibility criteria for the loan product.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan product.",
            "example": "60a19e98-d743-486a-5a81-c6d61eb813aa"
          },
          "audit": {
            "description": "Audit information related to the loan product.",
            "$ref": "#/components/schemas/AuditInformation"
          },
          "metadata": {
            "description": "Metadata related to the loan product response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Represents the response returned when a loan product is successfully created.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-278",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "60a19e98-d743-486a-5a81-c6d61eb813aa",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "3f037037-cda8-5a12-9d95-0bf0bd6602b3",
            "correlationId": "65f5f0ee-013f-5e28-bc3f-d95b83259c3b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "10000"
          }
        },
        "description": "Represents an amount of money with a specified currency."
      },
      "EligibilityCriteria": {
        "title": "Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "Minimum age of the applicant.",
            "format": "int32",
            "example": 21
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "Maximum age of the applicant at loan maturity.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "Minimum monthly income required for eligibility.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "List of employment types allowed for applicants.",
            "items": {
              "type": "string",
              "example": "Employed"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "List of countries where residency is allowed for applicants.",
            "items": {
              "type": "string",
              "example": "USA"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "Minimum credit score required for eligibility.",
            "format": "int32",
            "example": 650
          }
        },
        "description": "Criteria that need to be met for loan eligibility."
      },
      "Fee": {
        "title": "Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code for the fee.",
            "example": "F001"
          },
          "name": {
            "type": "string",
            "description": "Name of the fee.",
            "example": "Origination Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "Method used to calculate the fee.",
            "example": "Percentage"
          },
          "amount": {
            "description": "Amount of the fee with a specified currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "percent": {
            "type": "string",
            "description": "Percentage of the fee if applicable.",
            "example": "1.0"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee is capitalized.",
            "example": false
          }
        },
        "description": "Represents a fee associated with a loan product."
      },
      "AuditInformation": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the loan product was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Information related to the audit of the loan product."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "r7890"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "c1234"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Metadata associated with the loan product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-product"
        },
        "example": "banking-loans-openapi-create-loan-product"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients are expected to send the JWT in the Authorization header as a Bearer token in their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}