{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Point of Service Inquiry API",
    "description": "The Point of Service Inquiry API provides real-time access to various banking services available at physical and digital points of service. This endpoint allows clients to retrieve information about service offerings and support available across channels. Typical consumers include app developers, financial service providers, and customer support teams seeking to enhance user experience and operational efficiency. By leveraging this API, users can ensure that customers receive accurate and timely assistance wherever they engage with banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/point-of-service": {
      "get": {
        "tags": [
          "Point of Service"
        ],
        "summary": "Retrieve point of service details across channels",
        "description": "This endpoint allows you to access detailed information about the point of service across different channels, supporting businesses in managing their services efficiently.",
        "operationId": "getPointOfService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for the GET operation to retrieve information from the cross-channel point of service. This body contains the necessary parameters to customize the response from the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPointOfServiceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the server returned the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPointOfServiceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPointOfServiceRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the cross-channel point of service operations via a GET request.",
        "example": "{}"
      },
      "GetPointOfServiceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operation items.",
            "example": [
              {
                "partyId": "PARTY-394459",
                "interactionId": "INT-543756",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "terminalId": "STANDARD",
                "merchantId": "MER-187127",
                "terminalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving point-of-service operations across channels.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-394459",
              "interactionId": "INT-543756",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "terminalId": "STANDARD",
              "merchantId": "MER-187127",
              "terminalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "60cddf8d-3367-58a3-9856-38667ce73197",
            "correlationId": "505ec127-222f-5ef8-a89f-21e697845dda",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the operation.",
            "example": "examplePartyId"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction.",
            "example": "exampleInteractionId"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the operation was conducted.",
            "example": "exampleChannel"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used in the operation.",
            "example": "exampleLevel"
          },
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal where the operation took place.",
            "example": "exampleTerminalId"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant involved in the operation.",
            "example": "exampleMerchantId"
          },
          "terminalStatus": {
            "type": "string",
            "description": "The current status of the terminal.",
            "example": "exampleStatus"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record associated with the operation.",
            "example": "exampleRecordStatus"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was last updated.",
            "example": "2023-10-30T12:34:56Z"
          }
        },
        "description": "An item representing an operation in the point-of-service system."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-30T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "exampleRegion"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request. This header helps in tracing the specific endpoint that was hit.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "point-of-service-search-point-of-service"
        },
        "example": "point-of-service-search-point-of-service"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This can be useful for diagnosing the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). Clients must include the token in the Authorization header for secure access to the API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}