{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Delinquent Account Handling API",
    "description": "The Delinquent Account Handling API facilitates the management of accounts that are overdue or in default status. This API allows users to retrieve detailed information about delinquent accounts, including account balances, payment histories, and contact information. It is designed for financial institutions and collections agencies that need to monitor and act on high-risk accounts efficiently. Typical consumers of this API include customer service representatives and collection agents, who rely on this data to strategize recovery actions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling": {
      "get": {
        "tags": [
          "Delinquent Accounts"
        ],
        "summary": "Retrieve delinquent account handling information",
        "description": "This endpoint allows you to fetch information related to the handling of delinquent accounts. It provides details on the processes and actions taken to manage such accounts effectively.",
        "operationId": "getDelinquentAccountHandling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for retrieving information related to delinquent account handling operations. Please ensure that the JSON object adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDelinquentAccountHandlingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of delinquent accounts.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDelinquentAccountHandlingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDelinquentAccountHandlingRequest": {
        "type": "string",
        "description": "This schema represents the JSON string data type expected in the request body for the GET operation related to delinquent account handling.",
        "example": "{}"
      },
      "GetDelinquentAccountHandlingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of delinquent account records.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-684225",
                "accountId": "ACC-334489",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DelinquentAccount"
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer",
                "description": "The current page number.",
                "format": "int32",
                "example": 1
              },
              "pageSize": {
                "type": "integer",
                "description": "The number of items per page.",
                "format": "int32",
                "example": 20
              },
              "totalItems": {
                "type": "integer",
                "description": "The total number of items available.",
                "format": "int32",
                "example": 100
              }
            },
            "description": "Information about the pagination of the response.",
            "example": {
              "page": 1,
              "pageSize": 1,
              "totalItems": 1
            }
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "response123"
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation identifier for tracking requests across systems.",
                "example": "correlation456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata information related to the response.",
            "example": {
              "responseId": "dc2ebc7b-eb89-54a5-853b-e0a26d650eaa",
              "correlationId": "b6d09cfe-686a-5667-b68a-9171d6fceb4f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the delinquent account handling operation, containing a list of accounts and auxiliary information.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-684225",
              "accountId": "ACC-334489",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dc2ebc7b-eb89-54a5-853b-e0a26d650eaa",
            "correlationId": "b6d09cfe-686a-5667-b68a-9171d6fceb4f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DelinquentAccount": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation related to the account.",
            "example": "operation123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the account.",
            "example": "customer456"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the delinquent account.",
            "example": "account789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the account handling was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of handling the account.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the account record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the account record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual delinquent account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-search-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-search-delinquent-account-handling"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request, useful for identifying where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method wherein a JWT (JSON Web Token) is provided in the authorization header of the request. Ensure that the token is valid and properly signed to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}