{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Case Management API",
    "description": "The Card Case Management API enables consumers to effectively manage card cases within the banking system. This endpoint facilitates the deletion of specific card cases, identified by a unique parameter. Typical users include customer service representatives and banking operations teams who need to maintain accurate records and workflows regarding card-related issues. By leveraging this API, organizations can streamline their card servicing processes and minimize operational clutter.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case/{param1}": {
      "delete": {
        "tags": [
          "Card Case Management"
        ],
        "summary": "Delete a specific card case",
        "description": "This endpoint allows you to delete a card case identified by its unique ID. Ensure that you have the appropriate permissions before attempting to delete the case, as this action is irreversible.",
        "operationId": "deleteCardCase400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to delete a specific card case identified by CARD-400045. Ensure that you provide any required fields as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeleteCardCase400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully deleted the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCardCase400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "DeleteCardCase400045Request": {
        "type": "string",
        "description": "A request body for deleting a card case operation. This should contain the details required to perform the delete operation.",
        "example": "{}"
      },
      "DeleteCardCase400045Response_200": {
        "title": "Card Case Deletion Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the deletion operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the card case was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the deletion operation of a card case, containing versioning, status, and metadata information.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "58d354b2-3629-5259-a69c-fe8307a511c6",
            "correlationId": "cb532099-8a8e-5111-8249-4a1dee05a44e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "cor456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional context for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier of the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-update-card-case"
        },
        "example": "card-case-update-card-case"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that handled the processing of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "This header provides the unique identifier for the workflow associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-027"
        },
        "example": "WF-027"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is currently being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Lost or Stolen Card Block and Replacement"
        },
        "example": "Lost or Stolen Card Block and Replacement"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "The unique identifier for the current execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3ea0bab5-ad78-4685-b307-44e75e7ffc6e"
        },
        "example": "3ea0bab5-ad78-4685-b307-44e75e7ffc6e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a token in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}