{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offer Acceptance API",
    "description": "The Loan Offer Acceptance API enables users to formally accept a specified loan offer associated with their loan application. This functionality is crucial for transitioning the transaction from the offer stage to acceptance, allowing financial institutions to process the necessary documentation and finalize terms. Typical consumers include loan applicants and financial service representatives. The API allows them to specify the loan application and offer ID, facilitating a seamless acceptance process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}/accept": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Accept a loan application offer.",
        "description": "This endpoint allows users to accept a specific loan application offer identified by its unique ID. Once accepted, the offer status will be updated accordingly.",
        "operationId": "acceptLoanApplicationOfferForRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Accepts an offer associated with a loan application, identified by the provided loan and offer IDs. This request should be made to confirm the acceptance of the specified offer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptLoanApplicationOfferForRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully accepted the loan offer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AcceptLoanApplicationOfferForRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "AcceptLoanApplicationOfferForRES100045Request": {
        "title": "Loan Application Acceptance Request",
        "type": "object",
        "properties": {
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The unique identifier of the customer who accepted the loan offer.",
            "example": "CUST-787376"
          },
          "acceptanceMethod": {
            "type": "string",
            "description": "The method through which the loan offer was accepted (e.g., online, in-person).",
            "example": "STANDARD"
          },
          "termsAccepted": {
            "type": "boolean",
            "description": "Indicates whether the terms have been accepted by the customer.",
            "example": true
          },
          "signatureReference": {
            "type": "string",
            "description": "A reference to the customer's signature for the acceptance of the terms.",
            "example": "STANDARD"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contains contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents a request to accept a loan application offer.",
        "example": {
          "acceptedByCustomerId": "CUST-787376",
          "acceptanceMethod": "STANDARD",
          "termsAccepted": true,
          "signatureReference": "STANDARD",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "3b2cfa7b-9d29-58ab-919a-50b6bd67bd6f",
            "correlationId": "975b11c9-f134-5f45-9be3-b8408f6985d0",
            "idempotencyKey": "419515c7-af45-52bb-abe7-19c372f27dd3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-118103"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace the request through various system components.",
            "example": "corr-abc456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure that the request is processed only once.",
            "example": "key-78910"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T11:59:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that originated the request.",
            "example": "web-portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "loan-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information about a particular request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel used.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-xyz123"
          }
        },
        "description": "This schema provides information about the channel used for the request."
      },
      "AcceptLoanApplicationOfferForRES100045Response_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer being provided.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated amount to be paid in each installment.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "originationFee": {
            "description": "The fee charged for processing the loan application.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "insurancePremium": {
            "description": "The insurance premium associated with the loan.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that apply to the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "code": {
                  "type": "string",
                  "description": "Condition code.",
                  "example": "COND123"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the condition.",
                  "example": "Must have a minimum credit score."
                },
                "dueBefore": {
                  "type": "string",
                  "description": "Date by which the condition must be met.",
                  "example": "2023-11-30"
                },
                "status": {
                  "type": "string",
                  "description": "Status of the condition (e.g., fulfilled, not fulfilled).",
                  "example": "not fulfilled"
                }
              }
            }
          },
          "disclosures": {
            "type": "array",
            "description": "List of disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "This is an unsecured loan."
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the offer.",
            "example": "d0f06011-6ad8-de3a-708e-db6abc103a28"
          },
          "offerNumber": {
            "type": "string",
            "description": "The unique offer number.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date when the offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date when the offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier of the customer who accepted the offer.",
            "example": "CUST-639480"
          },
          "audit": {
            "description": "Audit information related to the offer.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional information regarding the offer.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing an offer response for loan applications.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "d0f06011-6ad8-de3a-708e-db6abc103a28",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-639480",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c05a7568-c634-5936-a9a7-5351914f2ecb",
            "correlationId": "975b11c9-f134-5f45-9be3-b8408f6985d0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the financial amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "10000"
          }
        },
        "description": "Schema representing a financial amount including currency and value."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the offer was created.",
            "example": "2023-09-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the offer.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the offer was last updated.",
            "example": "2023-09-15T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the offer.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information of an offer."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purposes.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-09-20T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema for additional metadata information related to the loan offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-accept-loan-offer"
        },
        "example": "banking-loans-openapi-accept-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. A bearer token is required for accessing secured resources. The token should be provided in the 'Authorization' header of the request, prefixed by the word 'Bearer'. The token is typically in JWT (JSON Web Token) format, which contains encoded information that verifies the identity of the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}