{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Event History API",
    "description": "The Customer Event History API provides a comprehensive view of an individual customer's transaction and interaction history within the banking system. This endpoint allows authorized users to retrieve detailed logs of customer events, which can include account activities, support interactions, and other engagement metrics. It is primarily targeted at customer service representatives and financial analysts who require insights for personalized customer service and decision-making. By leveraging this API, organizations can enhance customer engagement and improve service efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-event-history": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve customer event history",
        "description": "Fetches the event history associated with a specific customer. This endpoint provides insights into the events that have occurred for the customer over time, helping to track activities and interactions.",
        "operationId": "getCustomerEventHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve the event history for a specified customer. This body must adhere to the defined schema and include appropriate parameters to filter the event history based on customer identifiers or event types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerEventHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer event history.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerEventHistoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerEventHistoryRequest": {
        "type": "string",
        "description": "A request body for retrieving customer event history in JSON format.",
        "example": "{}"
      },
      "GetCustomerEventHistoryResponse_200": {
        "title": "Customer Event History Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer events.",
            "example": [
              {
                "customerId": "CUST-795330",
                "partyId": "PARTY-642028",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerEvent"
            }
          },
          "pagination": {
            "description": "Pagination details for the list of customer events.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for customer event history retrieval, including a list of events, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-795330",
              "partyId": "PARTY-642028",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "aa6cac3a-4bd8-5958-803f-ffefef9b50a0",
            "correlationId": "8d12b2fc-cfc0-5055-811e-ae4ae67ed460",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerEvent": {
        "title": "Customer Event",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "C123456"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the transaction.",
            "example": "P123456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the event.",
            "example": "PRD001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the event becomes effective.",
            "example": "2023-10-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The tier of the relationship (e.g., Gold, Silver, Bronze).",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the event record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the event record.",
            "example": "2023-10-15T12:34:56Z"
          }
        },
        "description": "Represents a customer event with various associated attributes."
      },
      "Pagination": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details about pagination in the list of events."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request and response correlation.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-event-history-search-customer-event-history"
        },
        "example": "customer-event-history-search-customer-event-history"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication, providing a secure way to transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}