{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Order Consents API",
    "description": "The International Standing Order Consents API enables businesses to initiate and manage consent for international standing orders securely. This API provides functionalities to create consents that permit electronic payments based on predefined schedules. Financial institutions and payment service providers can utilize this service to enhance customer experience by facilitating smooth transaction processes. Typical use cases include setting up automated payments for services or subscriptions across borders, thereby simplifying cross-border financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-order-consents": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Create an international standing order consent.",
        "description": "This endpoint allows you to create a consent for an international standing order. It is essential for initiating payments that require authorization from the payer. Ensure all required information is included in the request body for successful processing.",
        "operationId": "createInternationalStandingOrderConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to create an international standing order consent. The details provided here will be used to process the consent for the standing order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalStandingOrderConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and consent established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalStandingOrderConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalStandingOrderConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/StandingOrderConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the international standing order consents POST request body.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD"
            }
          },
          "requestContext": {
            "requestId": "ad3fd3f0-512a-5d39-983e-5bf1a3f892b5",
            "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
            "idempotencyKey": "d192e6c1-91ec-5752-8826-2b4596e6f425",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-672037"
            }
          }
        }
      },
      "StandingOrderConsentData": {
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "Permission status for the standing order."
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates whether the refund account can be read."
          },
          "Initiation": {
            "$ref": "#/components/schemas/StandingOrderInitiation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments to be made."
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Additional purpose for the standing order."
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Defines who bears the charges for the transaction."
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer will be made."
          }
        },
        "description": "Contains information for the standing order consent request."
      },
      "StandingOrderInitiation": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "$ref": "#/components/schemas/RemittanceInformation"
          }
        },
        "description": "Initiation details for the standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Unstructured remittance information."
            }
          }
        },
        "description": "Information related to the remittance of the payment."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ReferredDocument"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Total amount linked to the referred documents."
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Information about the invoicer."
          },
          "Invoicee": {
            "type": "string",
            "description": "Information about the invoicee."
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information."
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Any additional remittance information."
            }
          }
        },
        "description": "Structured remittance information."
      },
      "ReferredDocument": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code associated with the referred document."
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the referred document."
          },
          "Number": {
            "type": "string",
            "description": "Document number of the referred document."
          },
          "RelatedDate": {
            "type": "string",
            "description": "Date associated with the referred document."
          },
          "LineDetails": {
            "type": "array",
            "items": {
              "type": "string",
              "description": "Details of the line items in the referred document."
            }
          }
        },
        "description": "Information related to a referred document for remittance."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Creditor reference code."
          },
          "Issuer": {
            "type": "string",
            "description": "Issuer of the creditor reference."
          },
          "Reference": {
            "type": "string",
            "description": "The reference number for the creditor."
          }
        },
        "description": "Information related to the creditor reference."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "An ID used to correlate this request with others."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent handling of the request."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that generated the request."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application name from which the request originated."
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "The context of the request containing metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "ID of the channel used for the request."
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "ID of the device from which the request was made."
          }
        },
        "description": "Information related to the channel through which the request was made."
      },
      "CreateInternationalStandingOrderConsentResponse_201": {
        "title": "International Standing Order Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "123456"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp indicating when the consent was created.",
                "example": "2023-10-05T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "example": [
                  {
                    "code": "001",
                    "description": "Consent is active.",
                    "Path": "/consents/123456"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp when the status was last updated.",
                "example": "2023-10-05T12:00:00Z"
              },
              "Permission": {
                "type": "string",
                "description": "Permission given for the consent.",
                "example": "ALLOW"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for transactions related to this consent.",
                "example": "2023-10-10T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges applied to the consent.",
                "example": [
                  {
                    "ChargeBearer": "DEBTOR",
                    "Type": "FEE",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "example": [
                          {
                            "ReferredDocumentInformation": [
                              {
                                "Code": "INV123",
                                "Issuer": "Company",
                                "Number": "456",
                                "RelatedDate": "2023-10-05",
                                "LineDetails": [
                                  "Line 1 details"
                                ]
                              }
                            ],
                            "ReferredDocumentAmount": "500.00",
                            "CreditorReferenceInformation": {
                              "Code": "REF123",
                              "Issuer": "Bank",
                              "Reference": "987654"
                            },
                            "Invoicer": "Company",
                            "Invoicee": "Client",
                            "TaxRemittance": "N/A",
                            "AdditionalRemittanceInformation": [
                              "Additional info"
                            ]
                          }
                        ],
                        "items": {
                          "$ref": "#/components/schemas/RemittanceStructured"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance information.",
                        "example": [
                          "Rent payment for October"
                        ],
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Information related to the remittance."
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Number of payments to be made.",
                    "example": "3"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "description": "Extended purpose of the payment.",
                    "example": "Monthly subscription"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "description": "Indicates who bears the charges.",
                    "example": "DEBTOR"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "description": "Currency in which the transfer will be made.",
                    "example": "USD"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "description": "Country code of the destination.",
                    "example": "US"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "The amount to be transferred.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the instructed amount.",
                        "example": "USD"
                      }
                    },
                    "description": "Amount to be transferred."
                  }
                },
                "description": "Details of the initiation information."
              }
            },
            "description": "Details of the consent data.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp_789321"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracing requests.",
                "example": "corr_123"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-05T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Metadata regarding the response.",
            "example": {
              "responseId": "7ff37080-738b-55ca-89fc-b85c970e97c4",
              "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for International Standing Order Consent creation requests.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "7ff37080-738b-55ca-89fc-b85c970e97c4",
            "correlationId": "722c68c3-6634-5659-ac2f-239ee715a8d2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Consent is active."
          },
          "Path": {
            "type": "string",
            "description": "Path to the resource associated with this status.",
            "example": "/consents/123456"
          }
        },
        "description": "Details regarding the status reason of the consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who is responsible for the charge.",
            "example": "DEBTOR"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "FEE"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The charge amount.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "USD"
              }
            },
            "description": "The amount related to the charge."
          }
        },
        "description": "Charge details applicable to the consent."
      },
      "RemittanceStructured": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Document information that is being referred to.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code associated with the referred document.",
                  "example": "INV123"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the referred document.",
                  "example": "Company"
                },
                "Number": {
                  "type": "string",
                  "description": "Number associated with the referred document.",
                  "example": "456"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Date relevant to the referred document.",
                  "example": "2023-10-05"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Detailed description of lines within the referred document.",
                  "example": [
                    "Line 1 details"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Total amount associated with the referred document.",
            "example": "500.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Code for the creditor reference.",
                "example": "REF123"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "Bank"
              },
              "Reference": {
                "type": "string",
                "description": "Reference number for the creditor.",
                "example": "987654"
              }
            },
            "description": "Reference information related to the creditor."
          },
          "Invoicer": {
            "type": "string",
            "description": "Entity invoicing the payment.",
            "example": "Company"
          },
          "Invoicee": {
            "type": "string",
            "description": "Entity receiving the invoice.",
            "example": "Client"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Tax remittance information.",
            "example": "N/A"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional information related to the remittance.",
            "example": [
              "Additional info"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured remittance information for payment initiation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called. This helps to route the request to the correct service and track its performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-international-standing-order-consent"
        },
        "example": "payment-initiation-openapi-create-international-standing-order-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request. This information may be useful for monitoring and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the request to ensure secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}