{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Competitor Analysis API",
    "description": "The Competitor Analysis API provides insights into the competitive landscape of businesses within the banking sector. By accessing this endpoint, users can retrieve comprehensive analysis data that highlights competitor performance metrics, market trends, and strategic positioning. Typical consumers of this API include business analysts, strategists, and financial institutions seeking to enhance their competitive strategies. This data empowers stakeholders to make informed decisions based on current industry dynamics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/competitor-analysis": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve competitor analysis data.",
        "description": "This endpoint allows users to fetch detailed information and insights regarding competitor performance in the market. It provides analytical data that can help inform business strategies and decision-making processes.",
        "operationId": "getCompetitorAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to competitor analysis in the business analysis module. It should contain the necessary parameters in JSON format required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCompetitorAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of competitor analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCompetitorAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCompetitorAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Competitor Analysis operation under Business Analysis. It is expected to be a string containing the relevant data for the analysis.",
        "example": "{}"
      },
      "GetCompetitorAnalysisResponse_200": {
        "title": "Competitor Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of competitor analysis records.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CompetitorAnalysisItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the result set.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for a Competitor Analysis operation, including analyses, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cd9e65ce-b285-59b2-a0a5-ab43edc1c4fc",
            "correlationId": "98600deb-ad0e-589d-9f07-9651d7c259f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CompetitorAnalysisItem": {
        "title": "Competitor Analysis Item",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "analysis_1"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment associated with the analysis.",
            "example": "segment_1"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2022-01-01"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2022-12-31"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as the base for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario being analyzed.",
            "example": "Best Case"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the analysis record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual competitor analysis record."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_1"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests and responses.",
            "example": "correlation_1"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west"
          }
        },
        "description": "Schema representing metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that was called, useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "competitor-analysis-search-competitor-analysis"
        },
        "example": "competitor-analysis-search-competitor-analysis"
      },
      "X-Runtime-App": {
        "description": "The application runtime environment that processed the request, indicating where the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses Bearer tokens to securely transmit information. The token is a JSON Web Token (JWT), which can encapsulate user credentials or any other claims, ensuring secure and seamless API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}