{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offer Generation API",
    "description": "The Loan Offer Generation API allows users to submit loan applications and generate tailored loan offers based on specific application details. By providing the necessary parameters, financial institutions can efficiently process applications and deliver competitive loan options to applicants. This API typically serves banks and lending platforms looking to enhance their customer service by providing instant loan offers. It streamlines the loan application process and improves decision-making for prospective borrowers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create an offer for a specific loan application.",
        "description": "This endpoint allows users to create and submit an offer for a specified loan application identified by its unique resource ID. Utilize this operation to initiate the offer process and provide relevant details for consideration.",
        "operationId": "createLoanApplicationOffer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit offer details for a loan application identified by RES-100045. It contains the necessary fields that are required to process the offer appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationOfferRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new offer for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationOfferResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationOfferRequest": {
        "title": "Loan Offer Request",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "Type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount of the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "Estimated installment amount for the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "originationFee": {
            "description": "Origination fee for processing the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "insurancePremium": {
            "description": "Insurance premium associated with the loan.",
            "$ref": "#/components/schemas/AmountWithCurrency"
          },
          "validUntil": {
            "type": "string",
            "description": "Date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions associated with the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanCondition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Disclosures associated with the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Important terms and conditions"
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request for a loan offer including various financial parameters.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "e443c207-637c-52dc-8fa9-6f56c59392a5",
            "correlationId": "7e791002-0b52-5157-9162-a541dc8f7ed1",
            "idempotencyKey": "f36eb89d-9dc0-5ae4-a2b9-c30652aa57ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-904227"
            }
          }
        }
      },
      "AmountWithCurrency": {
        "title": "Amount with Currency",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "10000"
          }
        },
        "description": "Schema representing an amount of money in a specific currency."
      },
      "LoanCondition": {
        "title": "Loan Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique code for the condition.",
            "example": "COD001"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Must have a credit score above 700."
          },
          "dueBefore": {
            "type": "string",
            "description": "Date by which the condition must be met.",
            "example": "2023-12-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition that must be met for the loan offer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests through various systems.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotent-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System originating the request.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema encapsulating the context of the request including identifiers and source information."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateLoanApplicationOfferResponse_201": {
        "title": "Loan Offer Response",
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of offer being presented.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate applied to the loan.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate (APR) of the loan, reflecting the cost over a year.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "originationFee": {
            "description": "The fee charged for processing the loan application.",
            "$ref": "#/components/schemas/Money"
          },
          "insurancePremium": {
            "description": "The premium for any insurance related to the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that must be met for the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Important disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "b8341408-ee2c-9c2f-875c-4f6abc430c73"
          },
          "offerNumber": {
            "type": "string",
            "description": "The offer number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "Timestamp when the offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The ID of the customer who accepted the offer.",
            "example": "CUST-857191"
          },
          "audit": {
            "description": "Audit details regarding the creation and modification of the loan offer.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the loan offer response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the details of a loan offer response including financial terms and conditions.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "b8341408-ee2c-9c2f-875c-4f6abc430c73",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-857191",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "a6d2a712-1be1-5708-a3b0-7e0d16f307c7",
            "correlationId": "7e791002-0b52-5157-9162-a541dc8f7ed1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "1000.00"
          }
        },
        "description": "Represents a monetary value with its currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the condition.",
            "example": "CON001"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Must provide proof of income."
          },
          "dueBefore": {
            "type": "string",
            "description": "Deadline by which the condition must be fulfilled.",
            "example": "2023-12-31"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition (e.g., fulfilled, not fulfilled).",
            "example": "not fulfilled"
          }
        },
        "description": "Represents a specific condition associated with a loan offer."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the offer was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the offer.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the offer was last updated.",
            "example": "2023-01-02T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the offer.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for tracking changes to the loan offer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "corr_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the offer took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the loan offer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that is processing this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-loan-offer"
        },
        "example": "banking-loans-openapi-create-loan-offer"
      },
      "X-Runtime-App": {
        "description": "Identifies the runtime application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. A JWT (JSON Web Token) is expected as the token format. Include the token as `Authorization: Bearer <token>` in your requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}