{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payments Information API",
    "description": "The Domestic Payments Information API allows users to retrieve detailed information about domestic payment transactions. This endpoint provides critical insights into payment statuses, amounts, and recipient details. It is mainly designed for financial institutions and developers who require access to transaction data for reconciliation and auditing purposes. By leveraging this API, clients can enhance their financial services, improve customer experience, and ensure compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Domestic Payment Details",
        "description": "This endpoint allows you to fetch detailed information about a specific domestic payment using its unique identifier. It is essential for reviewing payment status, amounts, and other relevant details.",
        "operationId": "getPispDomesticPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for initiating a GET operation to retrieve details for the domestic payment identified by PAY-300045. It may include relevant parameters if applicable.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPispDomesticPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response contains the requested details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPispDomesticPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPispDomesticPaymentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to domestic payments in the PISP (Payment Initiation Service Provider) context.",
        "example": "{}"
      },
      "GetPispDomesticPaymentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DomesticPaymentId": {
                "type": "string",
                "description": "Unique identifier for the domestic payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier of the consent associated with the payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the domestic payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current payment status.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for payment execution.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for payment settlement.",
                "example": "string"
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/AccountDetails"
                  }
                },
                "description": "Details about the refund associated with the payment.",
                "example": {
                  "Account": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "SecondaryIdentification": "string"
                  }
                }
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "description": "Identifier for the payment instruction.",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "description": "Unique identifier for the end-to-end payment process.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Type of local instrument used for the payment.",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "$ref": "#/components/schemas/AmountDetails"
                  },
                  "DebtorAccount": {
                    "$ref": "#/components/schemas/AccountDetails"
                  },
                  "CreditorAgent": {
                    "$ref": "#/components/schemas/AgentDetails"
                  }
                },
                "description": "Initiation details of the domestic payment.",
                "example": {
                  "InstructionIdentification": "string",
                  "EndToEndIdentification": "string",
                  "LocalInstrument": "string",
                  "InstructedAmount": {
                    "Amount": "string",
                    "Currency": "string"
                  },
                  "DebtorAccount": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "SecondaryIdentification": "string",
                    "Proxy": {
                      "Identification": "string",
                      "Code": "string",
                      "Type": "string"
                    }
                  },
                  "CreditorAgent": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "LEI": "string",
                    "PostalAddress": {
                      "AddressType": "string"
                    }
                  }
                }
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "string"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Correlation identifier for tracking.",
                    "example": "string"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "string"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place.",
                    "example": "string"
                  }
                },
                "description": "Metadata related to the response.",
                "example": {
                  "responseId": "string",
                  "correlationId": "string",
                  "generatedAt": "string",
                  "processingRegion": "string"
                }
              }
            },
            "description": "Detailed information about the domestic payment.",
            "example": {
              "DomesticPaymentId": "PAY-994873",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for retrieving domestic payment details.",
        "example": {
          "Data": {
            "DomesticPaymentId": "PAY-994873",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD"
                }
              }
            }
          },
          "metadata": {
            "responseId": "b2488c8b-f200-5af1-8acd-b05f1256e7a6",
            "correlationId": "a688c41a-0c07-5c58-b8d4-83a3adc0ce29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code indicating the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path or reference related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details of the status reason."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme the account belongs to.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identifier for the account, if applicable.",
            "example": "string"
          },
          "Proxy": {
            "type": "object",
            "properties": {
              "Identification": {
                "type": "string",
                "description": "Proxy identifier.",
                "example": "string"
              },
              "Code": {
                "type": "string",
                "description": "Proxy code.",
                "example": "string"
              },
              "Type": {
                "type": "string",
                "description": "Type of proxy.",
                "example": "string"
              }
            },
            "description": "Proxy information related to the account."
          }
        },
        "description": "Details of an account associated with the payment."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge for the transaction.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetails"
          }
        },
        "description": "Details of charges associated with the payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          }
        },
        "description": "Details of a monetary amount."
      },
      "AgentDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme the agent belongs to.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identifier of the agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the agent.",
            "example": "string"
          },
          "PostalAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address.",
                "example": "string"
              }
            },
            "description": "Postal address of the agent."
          }
        },
        "description": "Details of the agent involved in the payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment"
        },
        "example": "payment-initiation-openapi-get-domestic-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request was processed, providing context about the environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token format, specifically utilizing JSON Web Tokens (JWT) for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}