{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Gap Analysis Submission API",
    "description": "The Gap Analysis Submission API facilitates the process of submitting gap analysis models within the banking domain. This endpoint allows users to upload detailed analyses that identify discrepancies between current and desired performance levels in banking operations. Designed primarily for analysts and banking professionals, this API supports improved decision-making by helping organizations pinpoint areas for enhancement. Users can leverage this functionality for both regulatory compliance and operational efficiency initiatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/gap-analysis/analyses": {
      "post": {
        "tags": [
          "Gap Analysis"
        ],
        "summary": "Create a new gap analysis.",
        "description": "This endpoint allows users to create a new gap analysis by providing the necessary data in the request body. It is used to evaluate and identify gaps in various processes or data sets.",
        "operationId": "createGapAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new gap analysis. It should include all necessary information required for the analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGapAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the request and returned the result.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGapAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGapAnalysisRequest": {
        "title": "Gap Analysis Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model being used.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the analysis.",
            "example": "PORT-412446"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the analysis is valid, formatted as an ISO date string.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario for which the analysis is being conducted.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the analysis, expressed as a decimal.",
            "example": 100.0
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for the gap analysis operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-412446",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "requestContext": {
            "requestId": "fa473116-ce7d-5ae6-a348-d304ddaed71e",
            "correlationId": "75b7a80a-c38c-52f7-a55b-6035363bd65e",
            "idempotencyKey": "01e216fe-8032-517e-a187-4b89f44d077c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-305313"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "corr123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempKey456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as an ISO date string.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "sourceSystem1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "appName1"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel being used.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device456"
          }
        },
        "description": "Information related to the channel through which the request was made."
      },
      "CreateGapAnalysisResponse_200": {
        "title": "Gap Analysis Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the model involved in the analysis.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio related to the analysis.",
            "example": "PORT-636634"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the specific analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a gap analysis operation.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-636634",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "6dd69f79-080b-560e-b3a3-662dc9aafd2e",
            "correlationId": "75b7a80a-c38c-52f7-a55b-6035363bd65e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "title": "Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric for the finding.",
            "example": "Example Metric"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 5.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric value.",
            "example": "units"
          }
        },
        "description": "Represents a single finding from the gap analysis."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "The unique identifier used for correlating requests and responses.",
            "example": "correlationId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata related to the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was invoked, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "gap-analysis-analyze-gap-analysis"
        },
        "example": "gap-analysis-analyze-gap-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime in which the endpoint was executed, helpful in diagnosing environment-specific issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must present a valid JWT in the Authorization header to access protected routes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}