{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Strategy Development API",
    "description": "The Product Strategy Development API enables businesses to establish and refine their product direction in the banking sector. This endpoint facilitates the submission of new product strategy proposals, allowing organizations to align their objectives with market demands and customer needs. Typical consumers of this API include product managers and strategists who aim to innovate and drive growth in a competitive landscape. By leveraging this API, companies can streamline their product strategy planning processes, ensuring that all initiatives are data-driven and strategically sound.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/product-strategy": {
      "post": {
        "tags": [
          "Product Strategy"
        ],
        "summary": "Create a new product strategy.",
        "description": "This endpoint allows you to create a new product strategy within the business direction framework. It involves defining goals, target markets, and unique selling propositions to guide product development and marketing.",
        "operationId": "createProductStrategy",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to define the product strategy for the business direction. It includes all necessary details and parameters required to effectively outline the strategy, such as market analysis, target audience, and actionable steps.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductStrategyRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductStrategyResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductStrategyRequest": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "A unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The timeframe for planning the initiative.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target date for the initiative completion.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Details regarding the context of the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a product strategy initiative in the operations context.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "2f3b0ee3-2179-5122-ac22-7c91a7fb28e6",
            "correlationId": "6397a8b1-36b7-52ba-aea3-480aa0ccb4f0",
            "idempotencyKey": "86ae0eec-d4d7-51d7-a18d-463ba4644d6b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-953302"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates related requests.",
            "example": "CORR-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotent operations.",
            "example": "IDEMPOT-ABC123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-05T08:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "Backend Service A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "Product Management App"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel.",
            "example": "CHNL-112233"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device being used (if applicable).",
            "example": "DEV-445566"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "CreateProductStrategyResponse_201": {
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor associated with the initiative.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier of the resource allocated for the initiative.",
            "example": "RES-833761"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the initiative was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Operations POST request related to product strategy.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "resourceId": "RES-833761",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "444ae4c0-6862-566b-aba9-eaf3aedf9ed7",
            "correlationId": "6397a8b1-36b7-52ba-aea3-480aa0ccb4f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request and response.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for tracking and response correlation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "products-and-services-direction-create-products-and-services-direction"
        },
        "example": "products-and-services-direction-create-products-and-services-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security schema uses Bearer Authentication. A JWT (JSON Web Token) must be provided in the Authorization header to authenticate requests. The format should be 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}