{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Portfolio Administration API",
    "description": "The Bank Portfolio Administration API provides tools for managing and overseeing banking portfolios, allowing financial institutions to perform detailed analysis and decision-making regarding their assets. This API enables users to retrieve comprehensive data about various banking portfolios, facilitating efficient financial management. Typical consumers of this API include financial analysts and banking professionals who need to evaluate portfolio performance and optimize asset allocation. By leveraging this API, institutions can enhance their portfolio strategies and achieve better financial outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-administration": {
      "get": {
        "tags": [
          "Bank Portfolio Management"
        ],
        "summary": "Retrieve Bank Portfolio Administration data",
        "description": "This endpoint allows users to access information pertaining to bank portfolio administration, providing valuable insights into financial management within the treasury.",
        "operationId": "getBankPortfolioAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to bank portfolio administration in the treasury system. It allows clients to specify parameters needed to filter or modify the data being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBankPortfolioAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the bank portfolio data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBankPortfolioAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBankPortfolioAdministrationRequest": {
        "type": "string",
        "description": "This schema represents a request body for the GET operation of the bank portfolio administration with respect to treasury operations.",
        "example": "{}"
      },
      "GetBankPortfolioAdministrationResponse_200": {
        "title": "Bank Portfolio Administration Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of portfolio items.",
            "example": [
              {
                "portfolioId": "PORT-691219",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-621618",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PortfolioItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema that defines the response structure for the GET operation on bank portfolio administration.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-691219",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-621618",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fd3d1537-7a25-5aeb-95de-039f93ef6c10",
            "correlationId": "f417b13c-e633-58a2-861e-4857d58a4213",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PortfolioItem": {
        "title": "Portfolio Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier of the portfolio."
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the instrument associated with the portfolio item."
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the transaction."
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the portfolio item matures."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the portfolio record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the portfolio item was last updated."
          }
        },
        "description": "A schema that describes a single portfolio item."
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated."
          }
        },
        "description": "A schema that represents the notional amount and its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "A schema that describes the pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Token used to correlate a request with its response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "A schema that contains metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-administration-search-bank-portfolio-administration"
        },
        "example": "bank-portfolio-administration-search-bank-portfolio-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, specifically favoring JSON Web Tokens (JWT) for secure authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}