{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Banking AISP Products API",
    "description": "The Open Banking AISP Products API enables financial institutions to access and retrieve a list of available financial products. This API serves as a vital resource for account information service providers (AISPs) looking to provide consumers with insights on various financial offerings. Typical consumers of this API include fintech companies, banks, and third-party financial service providers. By leveraging this API, businesses can enhance their product comparison tools and make informed recommendations to users.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/products": {
      "get": {
        "tags": [
          "AISP"
        ],
        "summary": "Retrieve all AISP products",
        "description": "This endpoint allows you to retrieve a list of all available AISP products. The response includes details about each product, such as its features, pricing, and eligibility criteria.",
        "operationId": "getAispProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product information. This request body structure is necessary to ensure proper data transmission in the application/json format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of product information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispProductsRequest": {
        "type": "string",
        "description": "Request body for the GET operation in the AISP products schema.",
        "example": "{}"
      },
      "GetAispProductsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Product": {
                "type": "array",
                "description": "List of products with detailed information.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            },
            "description": "Contains the main product data.",
            "example": {
              "Product": [
                {
                  "name": "Northstar Banking Service",
                  "id": "STANDARD",
                  "AccountId": "ACC-724758",
                  "SecondaryProductId": "PROD-657713",
                  "type": "STANDARD",
                  "MarketingStateId": "STANDARD",
                  "OtherProductType": {
                    "Name": "Northstar Banking Service",
                    "Description": "Customer banking request processed successfully",
                    "ProductDetails": {
                      "Segment": [
                        "STANDARD"
                      ],
                      "FeeFreeLength": 1,
                      "FeeFreeLengthPeriod": "STANDARD",
                      "MonthlyMaximumCharge": "STANDARD",
                      "Notes": [
                        "STANDARD"
                      ],
                      "OtherSegment": {
                        "Code": "SUCCESS",
                        "Name": "Northstar Banking Service",
                        "Description": "Customer banking request processed successfully"
                      }
                    },
                    "CreditInterest": {
                      "TierBandSet": [
                        {
                          "TierBandMethod": "STANDARD",
                          "CalculationMethod": "STANDARD",
                          "Destination": "STANDARD",
                          "Notes": [
                            "STANDARD"
                          ],
                          "OtherCalculationMethod": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "OtherDestination": {
                            "Code": "SUCCESS",
                            "Name": "Northstar Banking Service",
                            "Description": "Customer banking request processed successfully"
                          },
                          "TierBand": [
                            {
                              "Identification": "STANDARD",
                              "TierValueMinimum": "STANDARD",
                              "TierValueMaximum": "STANDARD",
                              "CalculationFrequency": "STANDARD",
                              "ApplicationFrequency": "STANDARD",
                              "DepositInterestAppliedCoverage": "STANDARD",
                              "FixedVariableInterestRateType": "STANDARD",
                              "AER": "STANDARD",
                              "BankInterestRateType": "STANDARD"
                            }
                          ]
                        }
                      ]
                    }
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-001"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracing the request.",
                "example": "correlation-001"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the API response.",
            "example": {
              "responseId": "e689efd2-36e2-5d06-8b02-8ea0148c70b0",
              "correlationId": "108be79b-6728-5a4f-956a-da03dbe79d3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving product information.",
        "example": {
          "Data": {
            "Product": [
              {
                "name": "Northstar Banking Service",
                "id": "STANDARD",
                "AccountId": "ACC-724758",
                "SecondaryProductId": "PROD-657713",
                "type": "STANDARD",
                "MarketingStateId": "STANDARD",
                "OtherProductType": {
                  "Name": "Northstar Banking Service",
                  "Description": "Customer banking request processed successfully",
                  "ProductDetails": {
                    "Segment": [
                      "STANDARD"
                    ],
                    "FeeFreeLength": 1,
                    "FeeFreeLengthPeriod": "STANDARD",
                    "MonthlyMaximumCharge": "STANDARD",
                    "Notes": [
                      "STANDARD"
                    ],
                    "OtherSegment": {
                      "Code": "SUCCESS",
                      "Name": "Northstar Banking Service",
                      "Description": "Customer banking request processed successfully"
                    }
                  },
                  "CreditInterest": {
                    "TierBandSet": [
                      {
                        "TierBandMethod": "STANDARD",
                        "CalculationMethod": "STANDARD",
                        "Destination": "STANDARD",
                        "Notes": [
                          "STANDARD"
                        ],
                        "OtherCalculationMethod": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "OtherDestination": {
                          "Code": "SUCCESS",
                          "Name": "Northstar Banking Service",
                          "Description": "Customer banking request processed successfully"
                        },
                        "TierBand": [
                          {
                            "Identification": "STANDARD",
                            "TierValueMinimum": "STANDARD",
                            "TierValueMaximum": "STANDARD",
                            "CalculationFrequency": "STANDARD",
                            "ApplicationFrequency": "STANDARD",
                            "DepositInterestAppliedCoverage": "STANDARD",
                            "FixedVariableInterestRateType": "STANDARD",
                            "AER": "STANDARD",
                            "BankInterestRateType": "STANDARD"
                          }
                        ]
                      }
                    ]
                  }
                }
              }
            ]
          },
          "metadata": {
            "responseId": "e689efd2-36e2-5d06-8b02-8ea0148c70b0",
            "correlationId": "108be79b-6728-5a4f-956a-da03dbe79d3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Example Product"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "prod-123"
          },
          "AccountId": {
            "type": "string",
            "description": "Identifier for the associated account.",
            "example": "acc-456"
          },
          "SecondaryProductId": {
            "type": "string",
            "description": "Identifier for any secondary product.",
            "example": "sec-prod-789"
          },
          "type": {
            "type": "string",
            "description": "Type of the product (e.g., Loan, Credit Card).",
            "example": "Loan"
          },
          "MarketingStateId": {
            "type": "string",
            "description": "Identifier for the marketing state of the product.",
            "example": "mkt-101"
          },
          "OtherProductType": {
            "description": "Additional information about other product types.",
            "$ref": "#/components/schemas/OtherProductType"
          },
          "CreditInterest": {
            "description": "Details regarding credit interest for the product.",
            "$ref": "#/components/schemas/CreditInterest"
          }
        },
        "description": "Represents a product with its specific details."
      },
      "OtherProductType": {
        "type": "object",
        "properties": {
          "Name": {
            "type": "string",
            "description": "The name of the other product type.",
            "example": "High Yield Savings Account"
          },
          "Description": {
            "type": "string",
            "description": "Description of the other product type.",
            "example": "A savings account with a higher interest rate."
          },
          "ProductDetails": {
            "description": "Details specific to the other product type.",
            "$ref": "#/components/schemas/ProductDetails"
          }
        },
        "description": "Information about types of products other than the primary type."
      },
      "ProductDetails": {
        "type": "object",
        "properties": {
          "Segment": {
            "type": "array",
            "description": "Segments associated with the product.",
            "items": {
              "type": "string",
              "example": "Consumer"
            }
          },
          "FeeFreeLength": {
            "type": "integer",
            "description": "Length of the fee-free period (in months).",
            "format": "int32",
            "example": 12
          },
          "FeeFreeLengthPeriod": {
            "type": "string",
            "description": "Period unit for fee-free length.",
            "example": "months"
          },
          "MonthlyMaximumCharge": {
            "type": "string",
            "description": "Maximum monthly charge applicable.",
            "example": "5.00"
          },
          "Notes": {
            "type": "array",
            "description": "Additional notes regarding the product.",
            "items": {
              "type": "string",
              "example": "This product has competitive rates."
            }
          },
          "OtherSegment": {
            "description": "Additional segment information.",
            "$ref": "#/components/schemas/OtherSegment"
          }
        },
        "description": "Detailed information related to a product."
      },
      "OtherSegment": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "Code representing the other segment.",
            "example": "SEG001"
          },
          "Name": {
            "type": "string",
            "description": "Name of the other segment.",
            "example": "Business"
          },
          "Description": {
            "type": "string",
            "description": "Description of the other segment.",
            "example": "Business related financial products."
          }
        },
        "description": "Alternative segment information for a product."
      },
      "CreditInterest": {
        "type": "object",
        "properties": {
          "TierBandSet": {
            "type": "array",
            "description": "Set of tier bands for interest calculations.",
            "items": {
              "$ref": "#/components/schemas/TierBand"
            }
          }
        },
        "description": "Details related to credit interest calculations."
      },
      "TierBand": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the tier band.",
            "example": "tier-001"
          },
          "TierValueMinimum": {
            "type": "string",
            "description": "Minimum value for the tier.",
            "example": "0.01"
          },
          "TierValueMaximum": {
            "type": "string",
            "description": "Maximum value for the tier.",
            "example": "10000.00"
          },
          "CalculationFrequency": {
            "type": "string",
            "description": "Frequency of interest calculation.",
            "example": "Monthly"
          },
          "ApplicationFrequency": {
            "type": "string",
            "description": "Frequency at which the tier is applied.",
            "example": "Yearly"
          },
          "DepositInterestAppliedCoverage": {
            "type": "string",
            "description": "Coverage type for deposit interest.",
            "example": "Whole Deposit"
          },
          "FixedVariableInterestRateType": {
            "type": "string",
            "description": "Indicates if the interest rate is fixed or variable.",
            "example": "Fixed"
          },
          "AER": {
            "type": "string",
            "description": "Annual Equivalent Rate.",
            "example": "1.50%"
          },
          "BankInterestRateType": {
            "type": "string",
            "description": "Type of bank interest rate applicable.",
            "example": "Standard"
          }
        },
        "description": "Represents a tier band for interest calculations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-products"
        },
        "example": "accounts-api-get-products"
      },
      "X-Runtime-App": {
        "description": "The version of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically a JSON Web Token (JWT), to authorize users. The client must include the JWT in the Authorization header as a Bearer token to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}