{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Recovery API",
    "description": "The Account Recovery API facilitates the recovery process for customer accounts, enabling users to securely update their account details following a recovery request. This API allows authorized personnel to modify recovery parameters, ensuring that customers regain access to their accounts with proper verification. Common consumers of this API include banking service providers and customer support teams, who utilize it to assist clients in preventing unauthorized access and ensuring smooth account recovery. By leveraging this API, organizations can enhance their customer experience and maintain account security.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/account-recovery/{param1}": {
      "patch": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update account recovery details",
        "description": "This endpoint allows for the modification of account recovery information for a specific customer. Use this to ensure that account recovery settings are up-to-date and accurately reflect the customer's preferences.",
        "operationId": "patchCustomerManagementAccountRecoveryAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the account recovery process for a specific customer identified by the account number. It allows for the modification of account recovery details, ensuring secure access to the account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCustomerManagementAccountRecoveryAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and account details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerManagementAccountRecoveryAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCustomerManagementAccountRecoveryAcc200045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made for the account recovery.",
            "$ref": "#/components/schemas/AccountChangeDetails"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for making the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time the changes should be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating account recovery operations.",
        "example": {
          "changes": {
            "customerId": "CUST-548174",
            "partyId": "PARTY-911864",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "de6e5101-9039-5fb1-9bea-0d37c5acee48",
            "correlationId": "82b1065d-9647-57f6-b37d-a56ab7533145",
            "idempotencyKey": "5967e6a1-e965-56da-ae3b-15934ad12ac4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-157787"
            }
          }
        }
      },
      "AccountChangeDetails": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The ID of the customer whose account is being changed.",
            "example": "CUST-12345"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the account.",
            "example": "PARTY-67890"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the product related to the account.",
            "example": "PRODUCT-ABC"
          }
        },
        "description": "Details of the account changes."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-001234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and requests.",
            "example": "CORR-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency in requests.",
            "example": "IDEMPOTENCY-KEY-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CustomerPortal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual metadata about the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "DEVICE-456"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "PatchCustomerManagementAccountRecoveryAcc200045Response_200": {
        "title": "Account Recovery Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the account recovery operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for account recovery operations indicating the status and metadata of the request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "938eb10b-4f18-511d-84e4-8919fa258784",
            "correlationId": "82b1065d-9647-57f6-b37d-a56ab7533145",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate between requests and responses.",
            "example": "cor-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata about the response, including tracking and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request. This can be used for tracking the request's flow through the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "account-recovery-update-account-recovery"
        },
        "example": "account-recovery-update-account-recovery"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request. This header helps to identify which application instance processed the user's request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}