{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Case Retrieval API",
    "description": "The Card Case Retrieval API allows users to access detailed information about specific card cases within the banking system. This endpoint is designed for banking operations, serving internal users who need to review or audit card-related issues. It retrieves data that may include transaction histories, limits, and user reports associated with card cases. Ideal for compliance teams and customer service representatives, this API enhances operational efficiency by providing on-demand access to crucial card case information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/card-case": {
      "get": {
        "tags": [
          "Card Servicing"
        ],
        "summary": "Retrieve card case details",
        "description": "Fetches detailed information about a specific card case, allowing users to view all relevant data and statuses related to it.",
        "operationId": "getCardCase",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Payload containing the necessary parameters for retrieving card case information. Ensure that the request complies with the specified schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCaseRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of card case details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCaseResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCaseRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card case servicing.",
        "example": "{}"
      },
      "GetCardCaseResponse_200": {
        "title": "Card Case Retrieval Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of card cases retrieved.",
            "example": [
              {
                "customerId": "CUST-825911",
                "caseId": "CASE-881118",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardCase"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the retrieved card cases.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response format for retrieving card cases.",
        "example": {
          "items": [
            {
              "customerId": "CUST-825911",
              "caseId": "CASE-881118",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "fb8fe9a1-d50b-5e6e-aded-3ebb1b40337b",
            "correlationId": "8f35d4e8-e7cf-5a96-be86-0b13d6f579e7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardCase": {
        "title": "Card Case",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "C123"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "Case456"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request related to the case.",
            "example": "Loan"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case (e.g., High, Medium, Low).",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the case was created.",
            "example": "Mobile App"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case's creation.",
            "example": "Application Issue"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Timestamp indicating the service level due date.",
            "example": "2023-12-01T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred method of contact.",
            "example": "Email"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the case record.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the case was last updated.",
            "example": "2023-10-01T09:00:00Z"
          }
        },
        "description": "Details of a card case."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "Resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems.",
            "example": "Corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-case-search-card-case"
        },
        "example": "card-case-search-card-case"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients should include the JWT in the Authorization header of HTTP requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}