{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Intellectual Property Portfolio API",
    "description": "The Intellectual Property Portfolio API provides access to a comprehensive collection of intellectual property assets. Users can retrieve detailed information about various knowledge assets, including patents, trademarks, and copyrights. This API is particularly useful for legal teams, product managers, and innovation specialists who need to understand the existing intellectual property landscape. By leveraging this API, businesses can make informed decisions regarding asset management, licensing opportunities, and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio": {
      "get": {
        "tags": [
          "Intellectual Property Management"
        ],
        "summary": "Retrieve the intellectual property portfolio.",
        "description": "Fetch a comprehensive overview of all intellectual properties within the portfolio, allowing users to understand the assets held and their statuses.",
        "operationId": "getIntellectualPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the intellectual property portfolio within the knowledge assets. Ensure that the payload conforms to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetIntellectualPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the intellectual property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetIntellectualPropertyPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetIntellectualPropertyPortfolioRequest": {
        "type": "string",
        "description": "A string representation of the request body for fetching the intellectual property portfolio. It is expected to be serialized in JSON format.",
        "example": "{}"
      },
      "GetIntellectualPropertyPortfolioResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of intellectual property assets.",
            "example": [
              {
                "ipAssetId": "STANDARD",
                "assetType": "STANDARD",
                "registrationNumber": "NY-4587219",
                "jurisdiction": "STANDARD",
                "ownerLegalEntityId": "STANDARD",
                "renewalDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/IPAsset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching the intellectual property portfolio.",
        "example": {
          "items": [
            {
              "ipAssetId": "STANDARD",
              "assetType": "STANDARD",
              "registrationNumber": "NY-4587219",
              "jurisdiction": "STANDARD",
              "ownerLegalEntityId": "STANDARD",
              "renewalDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cc95b981-46da-5726-97e5-bd2bd99f1df9",
            "correlationId": "ea49b3d9-e1d0-5a34-a2bd-10d01a279a04",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IPAsset": {
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "Unique identifier for the intellectual property asset.",
            "example": "ip-asset-001"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the intellectual property asset.",
            "example": "Patent"
          },
          "registrationNumber": {
            "type": "string",
            "description": "Registration number of the intellectual property asset.",
            "example": "REG-123456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "Jurisdiction where the intellectual property asset is registered.",
            "example": "US"
          },
          "ownerLegalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity that owns the asset.",
            "example": "entity-001"
          },
          "renewalDate": {
            "type": "string",
            "description": "Date when the asset needs to be renewed.",
            "example": "2024-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the asset record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the asset.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Details about an intellectual property asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-search-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. It requires a 'Bearer' token, typically a JSON Web Token (JWT), to be included in the `Authorization` header of requests. This approach is commonly used for securing APIs and involves validating the token to ensure the client's identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}