{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Details Retrieval API",
    "description": "The Business Details Retrieval API allows users to access comprehensive information about specific businesses by their unique identifiers. This API streamlines the process of obtaining key business data, which is essential for various applications such as market analysis, customer relationship management, and service enhancements. Typical consumers include developers and business analysts who require detailed insights for decision-making or reporting purposes. By providing streamlined access to business profiles, this API supports enhanced visibility and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/business-services/businesses/{businessId}": {
      "get": {
        "tags": [
          "Business Operations"
        ],
        "summary": "Retrieve a business by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific business identified by its unique ID. Use this to get insights into the business's attributes and operations.",
        "operationId": "getBusinessById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific business identified by the unique resource identifier 'RES-100045'. It typically includes parameters that dictate the information to be returned in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the business details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the businesses resource.",
        "example": "{}"
      },
      "GetBusinessByIdResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of business objects.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "personallyLiable": true,
                "address": {
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                },
                "phoneNumber": {
                  "countryCode": "US",
                  "phoneNo": "+1-212-555-0147"
                },
                "url": "https://example.com/resource",
                "email": "olivia.bennett@northstar.example",
                "type": "STANDARD",
                "taxId": "STANDARD",
                "businessId": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Business"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving a list of businesses.",
        "example": {
          "items": [
            {
              "name": "Northstar Banking Service",
              "personallyLiable": true,
              "address": {
                "line1": "350 Fifth Avenue",
                "line2": "Suite 4200",
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              },
              "phoneNumber": {
                "countryCode": "US",
                "phoneNo": "+1-212-555-0147"
              },
              "url": "https://example.com/resource",
              "email": "olivia.bennett@northstar.example",
              "type": "STANDARD",
              "taxId": "STANDARD",
              "businessId": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "777788b9-0ac3-533c-8ce5-8a8e265dbec2",
            "correlationId": "015432fb-d821-598c-9e39-614b36219b65",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the business.",
            "example": "Acme Corporation"
          },
          "personallyLiable": {
            "type": "boolean",
            "description": "Indicates if the owner is personally liable for the business.",
            "example": false
          },
          "address": {
            "$ref": "#/components/schemas/Address"
          },
          "phoneNumber": {
            "$ref": "#/components/schemas/PhoneNumber"
          },
          "url": {
            "type": "string",
            "description": "Website URL of the business.",
            "example": "https://www.acmecorp.com"
          },
          "email": {
            "type": "string",
            "description": "Contact email address of the business.",
            "example": "contact@acmecorp.com"
          },
          "type": {
            "type": "string",
            "description": "Business type (e.g., LLC, Corporation, etc.).",
            "example": "Corporation"
          },
          "taxId": {
            "type": "string",
            "description": "Tax identification number of the business.",
            "example": "12-3456789"
          },
          "businessId": {
            "type": "string",
            "description": "Unique identifier for the business.",
            "example": "BUS123456"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the business was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "Date when the business details were last modified.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Schema representing a business entity."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City where the business is located.",
            "example": "Springfield"
          },
          "state": {
            "type": "string",
            "description": "State where the business is located.",
            "example": "IL"
          },
          "country": {
            "type": "string",
            "description": "Country where the business is located.",
            "example": "United States"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the business address.",
            "example": "62701"
          }
        },
        "description": "Schema representing an address associated with a business."
      },
      "PhoneNumber": {
        "type": "object",
        "properties": {
          "countryCode": {
            "type": "string",
            "description": "Country code for the phone number.",
            "example": "+1"
          },
          "phoneNo": {
            "type": "string",
            "description": "The actual phone number.",
            "example": "5551234567"
          }
        },
        "description": "Schema representing a phone number associated with a business."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-2001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing response metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called, useful for tracking specific API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-business-by-id"
        },
        "example": "open-finance-api-get-business-by-id"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request, which can aid in debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. To access protected resources, clients must include the token in the Authorization header using the Bearer schema.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}