{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cross-Channel Session Dialogue API",
    "description": "The Cross-Channel Session Dialogue API is designed to facilitate dynamic interactions between users and banking services across various channels. This API allows consumers to retrieve session dialogue details based on unique session identifiers. Fintech developers and banking service providers can utilize this endpoint to enhance user experiences by providing contextual information relevant to ongoing banking interactions. Typical use cases include customer support, personalized service offerings, and improving user engagement in digital banking platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/session-dialogue/{param1}": {
      "get": {
        "tags": [
          "Session Management"
        ],
        "summary": "Retrieve session dialogue for a specific resource.",
        "description": "This endpoint allows developers to fetch the session dialogue details associated with the resource ID RES-100045. It provides insights into the current status and interactions captured in the session dialogue for further analysis or processing.",
        "operationId": "getSessionDialogueForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific session dialogue details for the given resource identifier (RES-100045). It expects the payload to conform to the defined schema, which outlines the structure and required fields necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSessionDialogueForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the session dialogue data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSessionDialogueForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSessionDialogueForResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in cross-channel session dialogues. It is expected to be a JSON string.",
        "example": "{}"
      },
      "GetSessionDialogueForResource100045Response_200": {
        "title": "Session Dialogue Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party involved in the interaction.",
            "example": "PARTY-549515"
          },
          "interactionId": {
            "type": "string",
            "description": "The unique identifier for the interaction session.",
            "example": "INT-806763"
          },
          "channel": {
            "type": "string",
            "description": "The communication channel used for the interaction.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication required for the session.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the session dialogue.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the session dialogue was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the session dialogue response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a session dialogue operation.",
        "example": {
          "partyId": "PARTY-549515",
          "interactionId": "INT-806763",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c4e8b6fb-a955-5208-85cc-a5fde467d84b",
            "correlationId": "5d382bab-fb23-5867-8c0f-bad9cf3df631",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Session Dialogue Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information related to the session dialogue response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "session-dialogue-get-session-dialogue"
        },
        "example": "session-dialogue-get-session-dialogue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication. Clients must provide a JSON Web Token (JWT) to access secured endpoints. When presented, this token authenticates the client and verifies the content within the provided JWT, which includes claims about the user and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}