{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Balances Retrieval API",
    "description": "The Account Balances Retrieval API provides access to the current balances of specified accounts within the open banking framework. This endpoint enables financial institutions and fintech applications to retrieve accurate balance information for an account identified by its unique account ID. Typical consumers of this API include banking applications and financial service providers looking to deliver detailed account insights to their users. Utilizing this API enhances user experience by enabling real-time updates on account balances.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/balances": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve account balances",
        "description": "Fetches the current balances for the specified account, allowing users to track their financial status effectively.",
        "operationId": "getAispAccountBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve the balance information for a specific bank account identified by ACC-200045. The request body must conform to the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account balance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountBalancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountBalancesRequest": {
        "type": "string",
        "description": "This schema represents a request body for retrieving account balance operations in a JSON format.",
        "example": "{}"
      },
      "GetAispAccountBalancesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Balance": {
                "type": "array",
                "description": "List of balance entries.",
                "items": {
                  "$ref": "#/components/schemas/BalanceEntry"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current page of results."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results."
                  }
                },
                "description": "Links for pagination and navigation."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32"
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "First available date-time for balances."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "Last available date-time for balances."
                  }
                },
                "description": "Metadata about the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for tracking the request across services."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the request was processed."
                  }
                },
                "description": "Additional metadata related to the response."
              }
            },
            "description": "Contains account balance data.",
            "example": {
              "Balance": [
                {
                  "AccountId": "ACC-901872",
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "DateTime": "2026-09-15T14:30:00Z",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  },
                  "CreditLine": [
                    {
                      "Included": true,
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "LocalAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  }
                }
              ],
              "TotalValue": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          }
        },
        "description": "Response schema for fetching account balances.",
        "example": {
          "Data": {
            "Balance": [
              {
                "AccountId": "ACC-901872",
                "CreditDebitIndicator": "STANDARD",
                "Type": "STANDARD",
                "DateTime": "2026-09-15T14:30:00Z",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                },
                "CreditLine": [
                  {
                    "Included": true,
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "LocalAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                }
              }
            ],
            "TotalValue": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "87281ae6-4ea3-5376-81e7-60b85bd7ab45",
            "correlationId": "6a157f54-9165-52ae-9d06-acde14c5f3b2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceEntry": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates if the balance entry is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of the balance entry."
          },
          "DateTime": {
            "type": "string",
            "description": "Date and time of the balance entry."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The actual amount value."
              },
              "Currency": {
                "type": "string",
                "description": "The currency of the amount."
              },
              "SubType": {
                "type": "string",
                "description": "Subtype of the amount entry."
              }
            },
            "description": "Amount of the balance entry."
          },
          "CreditLine": {
            "type": "array",
            "description": "List of credit lines associated with the balance.",
            "items": {
              "$ref": "#/components/schemas/CreditLine"
            }
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The local amount value."
              },
              "Currency": {
                "type": "string",
                "description": "The local currency."
              },
              "SubType": {
                "type": "string",
                "description": "Subtype of the local amount."
              }
            },
            "description": "Local currency amount for the balance entry."
          },
          "TotalValue": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Total amount value."
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the total amount."
              }
            },
            "description": "Total value of the balance entry."
          }
        },
        "description": "Represents a balance entry for an account."
      },
      "CreditLine": {
        "type": "object",
        "properties": {
          "Included": {
            "type": "boolean",
            "description": "Indicates if the credit line is included."
          },
          "Type": {
            "type": "string",
            "description": "The type of the credit line."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the credit line."
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the credit line amount."
              }
            },
            "description": "Amount details of the credit line."
          }
        },
        "description": "Represents a credit line associated with an account balance."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-balances"
        },
        "example": "accounts-api-get-accounts-account-id-balances"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token in the HTTP Authorization header. This implementation uses JSON Web Tokens (JWT) for secure user authentication and information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}