{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Management API",
    "description": "The Contact Center Management API enables efficient updates to various aspects of contact center operations within the banking sector. This API allows for the management of channel-specific contact center configurations, supporting tasks such as modifying agent availability, adjusting service parameters, and enhancing customer engagement strategies. Typical consumers include customer service administrators and banking IT teams looking to optimize their contact center functionality. By providing a streamlined approach to patching critical settings, this API contributes to enhanced customer satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-management/{param1}": {
      "patch": {
        "tags": [
          "Contact Center Management"
        ],
        "summary": "Update a specific contact center management resource.",
        "description": "This operation allows you to update details of a specific contact center management object identified by the resource ID (RES-100045). Ensure that you provide the correct data fields that need to be updated. Use this endpoint for managing and modifying the configuration of your contact center effectively.",
        "operationId": "updateContactCenterManagementForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the specified resource in the channel-specific contact center management system. It expects a JSON payload that adheres to the defined schema, allowing for efficient updates to the resource's attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateContactCenterManagementForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateContactCenterManagementForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateContactCenterManagementForRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the contact center operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for when the changes should take place.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating operations in the contact center management system.",
        "example": {
          "changes": {
            "channelId": "MOBILE-US",
            "regionCode": "US-EAST-1",
            "serviceWindow": {
              "opensAt": "STANDARD",
              "closesAt": "STANDARD"
            }
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "bbebe4a9-47e6-5575-9bc4-7a8d010ded21",
            "correlationId": "09364cd5-47ea-5d25-8992-d3fee8e82b16",
            "idempotencyKey": "af2e80b9-c31d-5a8e-ab1e-9061b78ab876",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-524160"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel being changed.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region associated with the change.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "The service window details, including opening and closing times.",
            "$ref": "#/components/schemas/ServiceWindow"
          }
        },
        "description": "Details of the changes being made."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "string"
          }
        },
        "description": "Defines the service operating hours."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of events across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Date and time when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel related to the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., email, chat, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details about the communication channel."
      },
      "UpdateContactCenterManagementForRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation on contact center management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0830a700-6c1c-5ea9-82c9-7916509063f2",
            "correlationId": "09364cd5-47ea-5d25-8992-d3fee8e82b16",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed."
          }
        },
        "description": "Schema representing metadata information.",
        "example": {
          "responseId": "12345",
          "correlationId": "abcde-56789",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-management-update-contact-center-management"
        },
        "example": "contact-center-management-update-contact-center-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}