{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Accounts Management API",
    "description": "The Customer Accounts Management API enables businesses to create and manage customer accounts efficiently. By providing the ability to aggregate account information for specific customers, this API supports operations such as account registration and linking. Typical consumers include financial institutions and service providers looking to streamline customer onboarding processes. This API is designed to enhance customer experience by simplifying account management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create an account for the specified customer.",
        "description": "This endpoint allows you to create a new account associated with the customer identified by 'CUST-100045'. Ensure you provide all required information in the request body to successfully create the account.",
        "operationId": "createAccountForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for adding a new account for the specified customer. This body contains all required details to create the account successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returns account data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountForCustomerCUST100045Request": {
        "title": "Request Body for Customer Account Operations",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used in customer account operations. It contains context about the request and the source of the request.",
        "example": {
          "requestContext": {
            "requestId": "0712733b-e31f-5879-93dd-bf98c281170b",
            "correlationId": "fcbca5ab-f773-5aa7-b7e9-7ade1cd1a0e1",
            "idempotencyKey": "c508c984-2728-5c76-924f-8bbe0fca9610",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-481590"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs and events across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that originated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., API, Web, Mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateAccountForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of account details associated with the specified customer.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-527345",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response object for the operation of retrieving account details for a specific customer.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-527345",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "acd4d92b-f421-528e-b4db-b09b7e874bab",
            "correlationId": "fcbca5ab-f773-5aa7-b7e9-7ade1cd1a0e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Account number.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display representation of the account number.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the actual account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "string"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 0.0
          },
          "type": {
            "type": "string",
            "description": "Type of the account, e.g., savings, checking.",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation state of the account.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the financial institution holding the account.",
            "example": "string"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date when the balance was last updated.",
            "format": "int32",
            "example": 0
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the account aggregation was successful.",
            "format": "int32",
            "example": 0
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the account aggregation attempt was made.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 0
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account details were last updated.",
            "format": "int32",
            "example": 0
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment to which the account belongs.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the account balance is denominated.",
            "example": "string"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction recorded on the account.",
            "format": "int32",
            "example": 0
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login identifier for the institution managing the account.",
            "format": "int32",
            "example": 0
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Detailed information about a financial account."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "Date as of which the detailed information is applicable.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Available balance amount for transactions.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "Date when the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate applicable during the reporting period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Total amount deposited during the reporting period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Total interest earned during the reporting period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest earned on the account.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Interest earned in the previous year up to date.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date for investment accounts.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "Current interest rate for the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Available credit amount on the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit limit for the account.",
            "example": 0.0
          }
        },
        "description": "Additional details related to the financial account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with other related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request. Useful for tracking and debugging API usage across different endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-refresh-customer-accounts"
        },
        "example": "open-finance-api-refresh-customer-accounts"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the operation. This header helps in identifying the specific backend service involved in processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to grant access to secured resources. The client must include a valid JSON Web Token (JWT) in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}