{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Beneficiaries API",
    "description": "The Manage Beneficiaries API facilitates the retrieval of beneficiary information associated with a specific account. Financial institutions and developers can use this API to access detailed lists of beneficiaries linked to user accounts, enhancing user experience in account management and financial operations. Typical consumers include fintech applications, personal finance management tools, and bank applications. With streamlined access to beneficiary details, users can efficiently manage and conduct transactions with their listed beneficiaries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/beneficiaries": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve Beneficiaries for a Specific Account",
        "description": "This endpoint allows you to fetch the list of beneficiaries associated with the specified account (ACC-200045). It provides detailed information on each beneficiary tied to the account, enabling better financial management and transparency.",
        "operationId": "getBeneficiariesForAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify parameters for retrieving beneficiary information associated with the specified account. Ensure that all required fields are provided for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBeneficiariesForAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of beneficiaries.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBeneficiariesForAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBeneficiariesForAccountAcc200045Request": {
        "type": "string",
        "description": "This schema represents the body of a request to get beneficiaries information for the specified account.",
        "example": "{}"
      },
      "GetBeneficiariesForAccountAcc200045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Beneficiary": {
                "type": "array",
                "description": "List of beneficiaries associated with the account.",
                "items": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            },
            "description": "Contains information about the beneficiaries.",
            "example": {
              "Beneficiary": [
                {
                  "AccountId": "ACC-413831",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Reference": "STANDARD",
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-266",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD",
                      "Code": "SUCCESS",
                      "Type": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "http://example.com/self"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of beneficiaries.",
                "example": "http://example.com/beneficiaries?page=1"
              }
            },
            "description": "Contains navigation links related to the beneficiaries data.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "corr-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "04f8c591-7e71-532e-b2e6-3d09c4968079",
              "correlationId": "b12a7118-82f2-5b38-a247-2d764fbb6a7a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema for the response of the GET operation on beneficiaries associated with an account.",
        "example": {
          "Data": {
            "Beneficiary": [
              {
                "AccountId": "ACC-413831",
                "id": "STANDARD",
                "type": "STANDARD",
                "Reference": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-266",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "04f8c591-7e71-532e-b2e6-3d09c4968079",
            "correlationId": "b12a7118-82f2-5b38-a247-2d764fbb6a7a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with this beneficiary.",
            "example": "acc-789"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the beneficiary.",
            "example": "ben-101"
          },
          "type": {
            "type": "string",
            "description": "The type of the beneficiary.",
            "example": "Individual"
          },
          "Reference": {
            "type": "string",
            "description": "Reference information related to the beneficiary.",
            "example": "ref-202"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Details about a beneficiary associated with an account."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name under which the creditor is identified.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor agent.",
            "example": "AGENT123456"
          },
          "Name": {
            "type": "string",
            "description": "The name of the creditor agent.",
            "example": "Bank of Example"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent (if applicable).",
            "example": "12345678ABCDEF12"
          }
        },
        "description": "Information about the creditor's agent."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name under which the creditor account is identified.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the creditor account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the creditor account.",
            "example": "SEC-123456"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Information regarding the creditor's account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of the address (e.g., residential, business).",
            "example": "Business"
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the postal address.",
            "example": "Accounts Payable"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department associated with the postal address.",
            "example": "Finance"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street for the address.",
            "example": "Example St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number for the postal address.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building (if applicable).",
            "example": "Example Building"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the building.",
            "example": "1"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number of the building.",
            "example": "Unit 2"
          },
          "Room": {
            "type": "string",
            "description": "Room number (if applicable).",
            "example": "Room A"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number (if applicable).",
            "example": "PB123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "The town location name.",
            "example": "Example Town"
          },
          "DistrictName": {
            "type": "string",
            "description": "The district name.",
            "example": "Example District"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of information (if applicable).",
            "example": "Care of John Smith"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the address.",
            "example": "EX1 2YZ"
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town.",
            "example": "Example Town"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state, province).",
            "example": "Example State"
          },
          "Country": {
            "type": "string",
            "description": "The country name.",
            "example": "Example Country"
          },
          "AddressLine": {
            "type": "array",
            "description": "Detailed address lines.",
            "items": {
              "type": "string",
              "example": "Example Address Line"
            }
          }
        },
        "description": "Postal address details of the creditor agent."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification number for the proxy.",
            "example": "PROXY123"
          },
          "Code": {
            "type": "string",
            "description": "The code for the proxy type.",
            "example": "CODE123"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy used.",
            "example": "TYPE123"
          }
        },
        "description": "Proxy information related to the creditor account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, used for tracing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-beneficiaries"
        },
        "example": "accounts-api-get-accounts-account-id-beneficiaries"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, helping to identify the source of the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}