{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Advisory Services API",
    "description": "The Legal Advisory Services API provides users with access to comprehensive legal support for banking and enterprise services. This endpoint allows clients to retrieve vital legal information and guidance tailored to their business needs. Typical consumers include financial institutions, corporate legal teams, and compliance officers seeking legal insights to navigate regulatory requirements. By leveraging this API, businesses can ensure they remain compliant and make informed decisions based on expert legal advice.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/legal-advisory": {
      "get": {
        "tags": [
          "Legal Services"
        ],
        "summary": "Retrieve legal advisory services",
        "description": "This endpoint allows users to fetch a list of available legal advisory services provided by the enterprise. It provides detailed information about each service, aiding in informed decision-making for clients seeking legal assistance.",
        "operationId": "getLegalAdvisoryServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving legal advisory information specific to enterprise services. This input should adhere to the schema defined in the components section, ensuring that the required data structure is met for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLegalAdvisoryServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the legal advisory data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLegalAdvisoryServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLegalAdvisoryServicesRequest": {
        "title": "Legal Advisory Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Legal Advisory service in the enterprise services domain. It is expected to contain a string value.",
        "example": "{}"
      },
      "GetLegalAdvisoryServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of engagement items.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the engagement items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the legal advisory operations GET request, including items related to engagements, pagination information, sort order, and metadata.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3a044de2-9650-5ff5-ab77-810f2656d759",
            "correlationId": "4c6bee81-52f6-5076-bc7f-ed990120c048",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "12345"
          },
          "scope": {
            "type": "string",
            "description": "Scope of the engagement.",
            "example": "Consultation"
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the engagement operates.",
            "example": "Legal Compliance"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier of the owner responsible for the engagement.",
            "example": "owner-1"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The planned start date of the engagement in ISO 8601 format.",
            "example": "2023-01-01"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target completion date of the engagement in ISO 8601 format.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the engagement record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last time the engagement was updated.",
            "example": "2023-10-01"
          }
        },
        "description": "Represents an individual engagement item with relevant details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Pagination information for the list of items returned."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-987"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking requests across systems.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-advisory-search-legal-advisory"
        },
        "example": "legal-advisory-search-legal-advisory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication scheme in which a JSON Web Token (JWT) is expected to be provided in the Authorization header of the request. The JWT is a compact token format that is securely transmitted across network requests, ensuring protected access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}