{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fixed Asset Register Retrieval API",
    "description": "The Fixed Asset Register Retrieval API allows users to access detailed information about an enterprise's fixed assets. This endpoint is essential for financial teams and asset managers seeking to track and manage asset records effectively. By supplying the specific asset identifier, users can retrieve comprehensive data, including asset values, depreciation schedules, and location details. This API supports various use cases in asset management and reporting, ensuring transparency and accuracy in asset tracking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register/{param1}": {
      "get": {
        "tags": [],
        "summary": "Retrieve Fixed Asset Register details by ID",
        "description": "This endpoint allows you to fetch the details of a specific fixed asset in the asset register using its unique identifier. It provides comprehensive information related to the asset, enabling effective asset management and reporting.",
        "operationId": "getFixedAssetRegisterById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about a specific fixed asset identified by RES-100045. Ensure that all required fields in the schema are correctly populated to obtain the expected response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFixedAssetRegisterByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, returning the resource data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFixedAssetRegisterByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFixedAssetRegisterByIdRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation to retrieve the fixed asset register.",
        "example": "{}"
      },
      "GetFixedAssetRegisterByIdResponse_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "The classification of the asset.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "The date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "description": "The cost associated with the acquisition of the asset.",
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "The useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the asset.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the asset record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the asset record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the asset record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving fixed asset details.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ad7a1947-29b0-52ca-99af-6774dc8d6141",
            "correlationId": "7c5c1490-2cfd-5c7b-aca4-da6bf1008fab",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the acquisition cost.",
            "example": 25000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the acquisition cost is denoted.",
            "example": "USD"
          }
        },
        "description": "Schema representing the acquisition cost of an asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request and response.",
            "example": "corr-7891011"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to the asset record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-get-fixed-asset-register"
        },
        "example": "fixed-asset-register-get-fixed-asset-register"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the bearer authentication method, which allows users to authenticate using a JSON Web Token (JWT). The token should be included in the 'Authorization' header prefixed with 'Bearer '. Ensure that the JWT is valid and securely signed before use.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}