{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Retrieval API",
    "description": "The Customer Account Retrieval API allows businesses to access account information linked to specific customer and institution login identifiers. This endpoint is a vital resource for integrating account details into customer service platforms, financial management tools, or dashboard applications. Typical consumers of this API include financial institutions and service providers looking to enhance their customer relationship management systems by providing seamless account visibility. By utilizing this API, developers can easily retrieve and present relevant account data for better user experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/institutionlogins/{institutionloginId}/accounts": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve all accounts related to a specific institution login for a customer.",
        "description": "This endpoint allows developers to fetch all the associated accounts for a specific institution login of a customer identified by their unique customer ID. It is useful for managing and viewing account information linked to a customer's institution login.",
        "operationId": "getInstitutionLoginsAccountsForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account information for a specific institution login associated with the customer. Ensure that the correct identifiers are used to access the desired account details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionLoginsAccountsForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionLoginsAccountsForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionLoginsAccountsForCustomerRequest": {
        "title": "Institution Login Request Body",
        "type": "string",
        "description": "Schema representing the request body for retrieving account information from the institution login endpoint.",
        "example": "{}"
      },
      "GetInstitutionLoginsAccountsForCustomerResponse_200": {
        "title": "Customer Institution Login Accounts Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-584574"
          },
          "errorCount": {
            "type": "integer",
            "description": "Number of errors encountered during the account retrieval process.",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "description": "Total number of accounts associated with the customer.",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "description": "Number of successful account identity retrievals.",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "description": "Number of successful balance details retrievals.",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "description": "Number of successful payment instructions.",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the correlation of requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata related to the request response.",
            "example": {
              "responseId": "a5e06809-43d1-564c-b6a2-7d51fa8f2f18",
              "correlationId": "ec1ad275-23bc-5891-addf-910d143b18e9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving customer accounts linked to institution logins.",
        "example": {
          "customerId": "CUST-584574",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "a5e06809-43d1-564c-b6a2-7d51fa8f2f18",
            "correlationId": "ec1ad275-23bc-5891-addf-910d143b18e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "title": "Account",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last 4 digits of the real account number.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "Identifier for the financial institution.",
            "example": "string"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the financial institution.",
            "example": "string"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Unique identifier for the institution login.",
            "format": "int32",
            "example": 0
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "balanceDetails": {
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "accountIdentity": {
            "$ref": "#/components/schemas/AccountIdentity"
          }
        },
        "description": "Schema representing an account associated with a customer."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account details.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display representation of the account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of account (e.g., checking, savings).",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation status.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "aggregationSuccessDate": {
            "type": "string",
            "description": "Date when the aggregation was successful.",
            "example": "string"
          },
          "aggregationAttemptDate": {
            "type": "string",
            "description": "Date when the aggregation was attempted.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency type for the account.",
            "example": "string"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Position of the account in a list.",
            "format": "int32",
            "example": 0
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier of the parent account if applicable.",
            "example": "string"
          }
        },
        "description": "Detailed information about an account."
      },
      "BalanceDetails": {
        "title": "Balance Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the balance details.",
            "format": "int32",
            "example": 0
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last 4 digits of the real account number.",
            "example": "string"
          },
          "availableBalance": {
            "type": "number",
            "description": "Current available balance in the account.",
            "example": 0.0
          },
          "availableBalanceDate": {
            "type": "string",
            "description": "Date the available balance was recorded.",
            "example": "string"
          },
          "clearedBalance": {
            "type": "number",
            "description": "Cleared balance amount in the account.",
            "example": 0.0
          },
          "clearedBalanceDate": {
            "type": "string",
            "description": "Date the cleared balance was recorded.",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation of balance.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the balance.",
            "example": "string"
          }
        },
        "description": "Schema for account balance details."
      },
      "AccountIdentity": {
        "title": "Account Identity",
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of account holders.",
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          }
        },
        "description": "Schema representing the identity of an account."
      },
      "AccountHolder": {
        "title": "Account Holder",
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "Relationship of the holder to the account.",
            "example": "string"
          },
          "ownerName": {
            "type": "string",
            "description": "Full name of the account owner.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the account holder.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the account holder.",
            "example": "string"
          }
        },
        "description": "Schema representing an account holder's information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that is being called in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-institution-login-id"
        },
        "example": "open-finance-api-get-account-details-by-institution-login-id"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime environment in which the request is processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}