{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Access Entitlement Management API",
    "description": "The Customer Access Entitlement Management API enables businesses to update customer access permissions dynamically. This API allows authorized users to modify entitlements for specific customers, ensuring that they have the appropriate access to services and data. Common use cases include adjusting access levels following changes in customer status or service subscriptions. Targeted primarily at banking and customer relationship management systems, this API supports efficient management of customer entitlements in a secure manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-access-entitlement/{param1}": {
      "patch": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Access Entitlement",
        "description": "This endpoint allows you to update the access entitlement for a specific customer identified by CUST-100045. Ensure to provide the necessary fields in the request body for the update to be successful.",
        "operationId": "patchCustomerAccessEntitlementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Allows the client to update specific access entitlements for the customer identified by 'CUST-100045'. This operation includes modifying the customer's access rights and privileges within the system, ensuring that the customer has the appropriate level of access required for their needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCustomerAccessEntitlementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerAccessEntitlementCUST100045Response_200"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred while processing the request.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerAccessEntitlementCUST100045Response_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerAccessEntitlementCUST100045Response_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCustomerAccessEntitlementCUST100045Response_200": {
        "title": "Customer Access Entitlement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response returned for customer access entitlement operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bc4301b8-91d1-50d1-b45b-2dc0e37b3e38",
            "correlationId": "7b88512c-aa0b-5daa-876c-31b76a232f41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata information related to the response."
      },
      "PatchCustomerAccessEntitlementCUST100045Response_500": {
        "title": "Customer Access Entitlement Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code associated with the failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message detailing the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow in context where the error occurred.",
            "example": "WF-010"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "Indicates after which hop the failure happened in a multi-step process.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This object represents the error response returned when a PATCH operation fails in the customer management access entitlement service.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-010",
          "failedAfterHop": 3
        }
      },
      "PatchCustomerAccessEntitlementCUST100045Request": {
        "title": "Customer Access Entitlement Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made for the customer access entitlement.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching customer access entitlements.",
        "example": {
          "changes": {
            "customerId": "CUST-875404",
            "partyId": "PARTY-721112",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "01e59eaf-3704-589c-93bb-8f03a269c2f5",
            "correlationId": "7b88512c-aa0b-5daa-876c-31b76a232f41",
            "idempotencyKey": "58e012a4-2c95-57d0-a5ba-e46a7ae7891f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-314684"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-100045"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being accessed or modified.",
            "example": "PRODUCT-100045"
          }
        },
        "description": "Details of the changes made to customer access entitlement."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORRELATE-100045"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request can be retried safely.",
            "example": "IDEMPOTENCY-100045"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source-system-name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "source-app-name"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the context in which the request was made."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL-100045"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel through which the request is made.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-100045"
          }
        },
        "description": "Details about the communication channel for the request."
      },
      "PatchCustomerAccessEntitlementCUST100045Response_422": {
        "title": "Customer Access Entitlement Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A specific code representing the error type.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "ab855e12-31d6-4880-b92a-a5cc967b989f"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message that provides more details on the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The context or workflow in which the error occurred.",
            "example": "WF-010"
          }
        },
        "description": "Schema representing the error response when a PATCH request to the customer access entitlement endpoint fails with a 422 status code.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "ab855e12-31d6-4880-b92a-a5cc967b989f",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-010"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-010"
        },
        "example": "WF-010"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "69577766-2f1d-4c94-95f7-55e41ff5edab"
        },
        "example": "69577766-2f1d-4c94-95f7-55e41ff5edab"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "de25f4bb-0394-4c6e-b45a-af7266748868"
        },
        "example": "de25f4bb-0394-4c6e-b45a-af7266748868"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being invoked in this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-access-entitlement-update-customer-access-entitlement"
        },
        "example": "customer-access-entitlement-update-customer-access-entitlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the workflow associated with the error response.",
          "example": "WF-010"
        },
        "example": "WF-010"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Access Recovery and Entitlement Reset"
        },
        "example": "Customer Access Recovery and Entitlement Reset"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ee5b4f05-3d03-49bd-8cfe-de120ae6b08a"
        },
        "example": "ee5b4f05-3d03-49bd-8cfe-de120ae6b08a"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a token (usually a JWT) is provided in the authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}