{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Product Details API",
    "description": "The Loan Product Details API provides access to specific information regarding various loan products offered by the organization. By utilizing this API, users can retrieve detailed data about loan products, including terms, rates, and eligibility criteria. It is primarily intended for financial institutions and developers looking to integrate loan product information into their applications or services. This API serves as a crucial resource for enhancing customer decision-making and ensuring that users have access to the most relevant loan options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products/{param1}": {
      "get": {
        "tags": [
          "Loan Products"
        ],
        "summary": "Retrieve details of a specific loan product.",
        "description": "This endpoint allows users to fetch detailed information about a particular loan product identified by its unique ID, providing insights into its features, terms, and conditions.",
        "operationId": "getLoanProductById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving loan product details associated with LOAN-500045. This request expects a JSON object that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanProductByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the loan product data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanProductByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanProductByIdRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for retrieving loan product operations.",
        "example": "{}"
      },
      "GetLoanProductByIdResponse_200": {
        "title": "Loan Product Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifying the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type/category of the loan product.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan is offered.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount that can be borrowed.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount that can be borrowed.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applied to the loan.",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code representing the base interest rate.",
            "example": "CODE-984"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments.",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates if the loan is secured or unsecured.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Eligibility criteria for obtaining this loan product.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "fees": {
            "type": "array",
            "description": "List of associated fees for this loan product.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "412a3880-40f4-800d-c768-aebe387bba96"
          },
          "audit": {
            "description": "Information related to the creation and management of the loan product.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Represents the response structure for loan product retrieval.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-984",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "412a3880-40f4-800d-c768-aebe387bba96",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "29551bd1-7ada-5ba5-845d-8a69472de36c",
            "correlationId": "9cd69c8d-eb8c-55bd-ac36-d57f00819829",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual monetary value.",
            "example": "5000"
          }
        },
        "description": "Represents an amount in a specific currency."
      },
      "LoanEligibility": {
        "title": "Loan Eligibility",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant when the loan matures.",
            "format": "int32",
            "example": 65
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income required for eligibility.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "Types of employment that are acceptable for loan eligibility.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "Countries of residency that are acceptable for loan eligibility.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for eligibility.",
            "format": "int32",
            "example": 650
          }
        },
        "description": "Criteria that an applicant must meet to be eligible for the loan."
      },
      "LoanFee": {
        "title": "Loan Fee",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code identifying the fee.",
            "example": "FE001"
          },
          "name": {
            "type": "string",
            "description": "The name of the fee.",
            "example": "Processing Fee"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the fee.",
            "example": "Flat"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "percent": {
            "type": "string",
            "description": "The percentage applicable for the fee, if any.",
            "example": "3.5"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates whether the fee is capitalized into the loan.",
            "example": false
          }
        },
        "description": "Represents a fee associated with the loan product."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan product was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Details surrounding the auditing of the loan product."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata information related to the loan product response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-product"
        },
        "example": "banking-loans-openapi-get-loan-product"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication mechanism via a JSON Web Token (JWT) for securing APIs. Clients must include a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}