{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Collections API",
    "description": "The Card Collections API facilitates access to detailed transactional and operational data related to card collections. It enables users to retrieve specific information using unique identifiers, making it essential for financial institutions and support teams managing card-related services. Use cases include analyzing collection statuses, verifying transactions, and monitoring operational health. This API is designed for developers looking to enhance banking applications with comprehensive card collection insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections/{param1}": {
      "get": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Retrieve card collection details.",
        "description": "This endpoint allows you to fetch the details of a specific card collection using its unique identifier. It provides all relevant information associated with the card collection that you can utilize for further processing or display.",
        "operationId": "getCardCollectionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operational data for the specified card collection identified by the CARD-400045 identifier. It expects a JSON payload conforming to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCollectionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request completed successfully and the card collection information is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCollectionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCollectionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request for a specific card collection service.",
        "example": "{}"
      },
      "GetCardCollectionByIdResponse_200": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "The unique identifier for the card account.",
            "example": "ACC-500138"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the card account.",
            "example": "CUST-224716"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "The number of days the payment is past due.",
            "format": "int32",
            "example": 1
          },
          "outstandingBalance": {
            "$ref": "#/components/schemas/OutstandingBalance"
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy to be employed for collection of outstanding payment.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record for managing changes.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for card collection information, including account details, balances, and metadata.",
        "example": {
          "cardAccountId": "ACC-500138",
          "customerId": "CUST-224716",
          "daysPastDue": 1,
          "outstandingBalance": {
            "amount": 100,
            "currency": "USD"
          },
          "collectionStrategy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8e30dae6-1298-5bdf-9ec5-bd524b9620bc",
            "correlationId": "e0204384-7a16-5e8d-b811-7d0590291de8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingBalance": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of outstanding balance.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the outstanding balance is represented.",
            "example": "string"
          }
        },
        "description": "Schema representing the outstanding balance associated with a card account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the record was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the card account took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the card collection response providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-get-card-collections"
        },
        "example": "card-collections-get-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. This scheme employs JSON Web Tokens (JWT) as a way to securely transmit information between parties. The token must be included in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}