{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Trust Services API",
    "description": "The Corporate Trust Services API allows users to modify and enhance various aspects of corporate trust management. It provides operations to manage trust accounts, streamline service requests, and update beneficiary information. This API is designed for financial institutions and corporate clients that require dynamic adjustments to their trust services. Common use cases include updating trust beneficiary details, adjusting account settings, and handling service changes efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services/{param1}": {
      "patch": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Update Corporate Trust Service",
        "description": "This operation allows the client to update the details of a specific corporate trust service identified by RES-100045. Properly formatted request bodies must be submitted to reflect the new state of the resource.",
        "operationId": "patchCorporateTrustServiceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update details related to corporate trust services. Make sure to provide the necessary fields in the JSON format as specified in the schema, which defines the structure and data types required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCorporateTrustServiceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCorporateTrustServiceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCorporateTrustServiceRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Object containing the changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating operations in the corporate trust services.",
        "example": {
          "changes": {
            "customerId": "CUST-983205",
            "serviceRequestId": "5fe3bdec-e795-5305-814b-61a78049f29c",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5140389d-e86a-5252-bdee-fd7bed5a3ce4",
            "correlationId": "2150ac47-aedb-50e9-8bea-950885d920b4",
            "idempotencyKey": "ed9c62b7-2c31-5976-a0bb-7cf8e6b51087",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-858803"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer whose information is being changed.",
            "example": "CUST12345"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request related to the changes.",
            "example": "SR-2023-001"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the changes.",
            "example": "PRODUCT_XYZ"
          }
        },
        "description": "This object includes the specific modifications being requested."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "CORR-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "IDEMP-KEY-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "Internal CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Frontend App"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "PatchCorporateTrustServiceRes100045Response_200": {
        "title": "Corporate Trust Service Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response from the Corporate Trust Service API after a PATCH operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c5e5bfe5-1f5a-5858-bc43-961b7f098003",
            "correlationId": "2150ac47-aedb-50e9-8bea-950885d920b4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-update-corporate-trust-services"
        },
        "example": "corporate-trust-services-update-corporate-trust-services"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a JWT in the Authorization header as a bearer token to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}