{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Actions Management API",
    "description": "The Operational Actions Management API facilitates the execution of various e-branch operational tasks in the banking sector. This API allows for the initiation of specific actions related to channel management, enhancing efficiency and responsiveness in service delivery. Typical consumers of this API include banking application developers and IT teams looking to automate or streamline their operational workflows. With this API, institutions can effectively manage and execute operational strategies tailored to their e-branch environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations/operational-actions": {
      "post": {
        "tags": [
          "E-Branch Operations"
        ],
        "summary": "Create Operational Action for E-Branch",
        "description": "This endpoint allows the creation of an operational action specifically for the E-Branch, enabling users to efficiently manage and initiate actions related to branch operations.",
        "operationId": "createEBranchOperationalAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate specific operational actions within the e-branch operations channel. It contains parameters necessary for the operation, structured in JSON format. Ensure that all required fields are included and adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/_s_channel-specific_s_e-branch-operations_s_operational-actions_-_POST_-_RequestBody_-_application_json"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and will be processed soon.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEBranchOperationalActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEBranchOperationalActionRequest": {
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the action request.",
            "example": "string"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the user requesting the action.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "requestContext": {
            "description": "The context of the request, including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for channel-specific branch operations."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request context was created.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request, containing various identifiers and source details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel used in the request."
      },
      "CreateEBranchOperationalActionResponse_202": {
        "title": "Operational Actions Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference string that identifies the action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operational action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from an operational actions request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "33abcf32-1a73-5ee5-8c02-974db4038fb1",
            "correlationId": "3b5841a1-d9ae-5066-92c4-e7f6ee6ca85a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation_abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2021-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata related to the operational action."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This header helps to track and log the specific endpoint for operational actions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-create-e-branch-operations-operational-action"
        },
        "example": "e-branch-operations-create-e-branch-operations-operational-action"
      },
      "X-Runtime-App": {
        "description": "The identifier for the runtime application that is processing the request. Useful for monitoring and debugging application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows the client to authenticate using a JavaScript Web Token (JWT). It is typically included in HTTP headers to authorize API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}