{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payment Consent Management API",
    "description": "The File Payment Consent Management API facilitates the submission of file payment consents in an open banking context. This API allows financial institutions and third-party providers to create and manage file payment consents efficiently. By using this endpoint, authorized users can initiate file-based payments on behalf of their clients, ensuring compliance with regulatory standards. Typical consumers include banks, payment service providers, and fintech applications that require integration with open banking practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents/{param1}/file": {
      "post": {
        "tags": [
          "Payment Consents"
        ],
        "summary": "Create a file payment consent for a specific resource.",
        "description": "This endpoint allows you to create a file payment consent associated with a specific resource ID. It is designed for Payment Initiation Service Providers (PISPs) to manage consents efficiently and facilitate secure payment operations.",
        "operationId": "createFilePaymentConsentForPisp",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a file payment consent process for the specified resource. It should contain all necessary data in JSON format that defines the payment consent being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFilePaymentConsentForPispRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the file has been processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilePaymentConsentForPispResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFilePaymentConsentForPispRequest": {
        "title": "File Payment Consent Request",
        "type": "object",
        "properties": {
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a file payment consent operation.",
        "example": {
          "requestContext": {
            "requestId": "33fcd3e9-870f-5872-8253-8b5775f455a0",
            "correlationId": "9ef782a1-918c-5524-a7f6-a5679abbee25",
            "idempotencyKey": "54ddfdd8-76b9-5119-8d0a-5788486cde9f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-515487"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "123e4567-e89b-12d3-a456-426614174000"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs and events.",
            "example": "abc123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests are idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "payment-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "payment-app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-001"
          }
        },
        "description": "Schema containing information about the communication channel used for the request."
      },
      "CreateFilePaymentConsentForPispResponse_200": {
        "title": "File Payment Consents Response",
        "type": "object",
        "properties": {
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for file payment consents operation.",
        "example": {
          "metadata": {
            "responseId": "b56c0705-943d-5d40-b055-fe8c847fe1f5",
            "correlationId": "9ef782a1-918c-5524-a7f6-a5679abbee25",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the originating request.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-20T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the file payment consents response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-upload-file-payment-consent"
        },
        "example": "payment-initiation-openapi-upload-file-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing insights into the backend service responsible for the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the Authorization header of requests. Tokens should be acquired through an authentication process and can be used to authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}