{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Instructions Retrieval API",
    "description": "The Payment Instructions Retrieval API provides access to the payment instructions associated with a specific customer account. By utilizing this endpoint, users can obtain crucial details such as payment methods, schedules, and processing requirements. Typical consumers include financial institutions, payment processors, and customer service representatives who need to verify payment setups. This API facilitates seamless transactions by ensuring timely access to pertinent payment information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/details/payment-instructions": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve payment instructions for a specific account.",
        "description": "This endpoint allows you to fetch the payment instructions associated with the specified account. It is crucial for managing the financial transactions related to the customer account.",
        "operationId": "getPaymentInstructionsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve payment instructions for a specific account under a customer. Ensure that the appropriate identifiers for the customer and account are used.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentInstructionsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment instructions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentInstructionsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentInstructionsForAccountRequest": {
        "type": "string",
        "description": "A JSON string representing the payment instructions for the specified customer account.",
        "example": "{}"
      },
      "GetPaymentInstructionsForAccountResponse_200": {
        "type": "object",
        "properties": {
          "paymentInstruction": {
            "type": "array",
            "description": "A list of payment instructions related to the account.",
            "example": [
              {
                "type": "STANDARD",
                "accountNumber": "STANDARD",
                "tanEnabled": true,
                "descriptors": [
                  {
                    "type": "STANDARD",
                    "value": "STANDARD"
                  }
                ],
                "transferInEnabled": true,
                "transferOutEnabled": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentInstruction"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving payment instructions associated with a specific account.",
        "example": {
          "paymentInstruction": [
            {
              "type": "STANDARD",
              "accountNumber": "STANDARD",
              "tanEnabled": true,
              "descriptors": [
                {
                  "type": "STANDARD",
                  "value": "STANDARD"
                }
              ],
              "transferInEnabled": true,
              "transferOutEnabled": true
            }
          ],
          "metadata": {
            "responseId": "f8897837-f63f-5a53-837c-2936584ed7a4",
            "correlationId": "1ea3317a-3a25-5710-ac49-9011b635055d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentInstruction": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment instruction.",
            "example": "string"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number associated with the payment instruction.",
            "example": "string"
          },
          "tanEnabled": {
            "type": "boolean",
            "description": "Indicates if transaction authentication number (TAN) is enabled.",
            "example": false
          },
          "descriptors": {
            "type": "array",
            "description": "List of descriptors for the payment instruction.",
            "items": {
              "$ref": "#/components/schemas/Descriptor"
            }
          },
          "transferInEnabled": {
            "type": "boolean",
            "description": "Indicates if transfer in is enabled.",
            "example": false
          },
          "transferOutEnabled": {
            "type": "boolean",
            "description": "Indicates if transfer out is enabled.",
            "example": false
          }
        },
        "description": "Details of a payment instruction."
      },
      "Descriptor": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the descriptor.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value associated with the descriptor.",
            "example": "string"
          }
        },
        "description": "Descriptor for payment instruction."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-payment-instruction-details"
        },
        "example": "open-finance-api-get-account-payment-instruction-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method based on JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header of their requests to authenticate and gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}