{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Resolution API",
    "description": "The Fraud Resolution API facilitates the review and analysis of potential fraudulent activities in banking transactions. By leveraging this endpoint, users can retrieve detailed information regarding specific fraud cases identified through the compliance system. This API is designed for compliance officers, risk management teams, and financial analysts who require access to critical data for effective decision-making and investigation. It streamlines the process of addressing fraud-related issues, ensuring that banking operations maintain integrity and compliance with regulatory standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/fraud-resolution/{param1}": {
      "get": {
        "tags": [
          "Fraud Resolution"
        ],
        "summary": "Retrieve fraud resolution details by ID.",
        "description": "This endpoint allows developers to query and retrieve detailed information related to a specific fraud resolution by its unique identifier. It is designed to assist in the compliance and investigation processes.",
        "operationId": "getFraudResolutionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the details associated with a specific fraud resolution operation. The request must include the necessary parameters formatted in JSON to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudResolutionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the relevant data has been returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudResolutionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudResolutionByIdRequest": {
        "title": "Fraud Resolution Request Body",
        "type": "string",
        "description": "A string representation of the request body for the fraud resolution operation under compliance rules.",
        "example": "{}"
      },
      "GetFraudResolutionByIdResponse_200": {
        "title": "Fraud Resolution Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity involved in the transaction.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the transaction falls.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period during which the transaction was reported.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The applicable regulation governing the transaction.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for any actions required as part of the fraud resolution process.",
            "example": "2026-09-15"
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "TXN-744722"
          },
          "riskScore": {
            "type": "number",
            "description": "The calculated risk score for the transaction based on various factors.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold value used to make fraud detection decisions.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level assigned to the device used in the transaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record in the fraud resolution process.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the fraud resolution response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-abcdef"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "correlation-ijklmn"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-15T10:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the fraud resolution processing took place.",
                "example": "us-west-2"
              }
            },
            "description": "Metadata related to the fraud resolution process.",
            "example": {
              "responseId": "708db9a1-2bb2-5edc-84da-f059a20f878d",
              "correlationId": "86932c8a-e1db-57e7-85dc-c86813426a96",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for fraud resolution operations.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "transactionId": "TXN-744722",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "708db9a1-2bb2-5edc-84da-f059a20f878d",
            "correlationId": "86932c8a-e1db-57e7-85dc-c86813426a96",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-resolution-get-fraud-resolution"
        },
        "example": "fraud-resolution-get-fraud-resolution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, formatted as JSON Web Tokens (JWT). This scheme is used for accessing secure endpoints by presenting a token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}