{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contribution Models Retrieval API",
    "description": "The Contribution Models Retrieval API provides access to various contribution models used in banking services. This endpoint allows users to retrieve specific contribution model details by providing a unique identifier. It is designed for developers working on financial applications, enabling them to integrate banking models effectively. Typical consumers include financial institutions and software developers looking to enhance their applications with real-time banking functionalities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/contribution-models/{param1}": {
      "get": {
        "tags": [
          "Contribution Models"
        ],
        "summary": "Retrieve a specific contribution model by its ID.",
        "description": "This endpoint allows you to fetch the details of a specific contribution model using its unique identifier. The information returned will include all relevant attributes of the contribution model.",
        "operationId": "getContributionModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the contribution model for the specified resource RES-100045. It encapsulates the necessary information required by the server to process the request and return the appropriate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContributionModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContributionModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContributionModelByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body of the GET operation for the resource identified as RES-100045. It serves as a placeholder for string content.",
        "example": "{}"
      },
      "GetContributionModelByIdResponse_200": {
        "title": "Contribution Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the associated portfolio.",
            "example": "PORT-630309"
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model is valid.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name related to the model.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model results.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the model record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the model was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the model response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the contribution model query.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-630309",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f843e7a1-91c9-539f-a368-eb882ac3764b",
            "correlationId": "c1baa95a-12cb-5385-b7ae-b1e0eb65c09a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata for the contribution model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the specific endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-models-get-contribution-models"
        },
        "example": "contribution-models-get-contribution-models"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, where the client sends a JSON Web Token (JWT) as part of the authorization header in the request. The JWT contains claims that can be used to verify the identity of the user and their permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}