{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Adjustment API",
    "description": "The Settlement Adjustment API allows users to modify existing settlement records for payment processing. This API enables businesses to update details related to previously created settlements, ensuring accuracy and compliance in financial transactions. Typical consumers include financial institutions and accounting software that require real-time adjustment capabilities. Use cases may involve correcting discrepancies, updating status, or modifying details relevant to settlements, providing a seamless payment experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}": {
      "patch": {
        "tags": [
          "settlements"
        ],
        "summary": "Update a specific settlement.",
        "description": "This endpoint allows you to modify the details of a specific settlement identified by its unique ID. Make sure to provide the necessary data in the request body to ensure successful updates.",
        "operationId": "updateSettlementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific fields of the settlement identified by RES-100045. Ensure that only the fields that need to be modified are included in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettlementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettlementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSettlementByIdRequest": {
        "title": "Patch Request Body for Settlement Operations",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure for the request body when updating settlement operations through a PATCH request.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "95e859c9-c487-56e7-b0df-1ae848a4ab06",
            "correlationId": "85c1909a-84ac-55b1-9098-1fe2267c978a",
            "idempotencyKey": "18aa9190-ee95-5b24-bc3d-1c4f0b0d11c2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-569920"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the operation.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains metadata about the request, providing tracking and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g. web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateSettlementByIdResponse_200": {
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-738263"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the settlement account used in the transaction.",
            "example": "ACC-952028"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the settlement is processed.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the settlement transactions.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Total number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference number for the bank payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date/time for the payout.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date/time when the payment was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit details related to the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata pertaining to the settlement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the patch operation of settlements.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-738263",
          "settlementAccountId": "ACC-952028",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "e712e9f2-b8c9-5d66-bf4a-2e512805f125",
            "correlationId": "85c1909a-84ac-55b1-9098-1fe2267c978a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments processed in the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "refunds": {
            "description": "Total refunds processed in the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "reversals": {
            "description": "Total reversals processed in the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "disputes": {
            "description": "Total disputes recorded in the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "fees": {
            "description": "Total fees deducted during the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "taxes": {
            "description": "Total taxes associated with the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "reserveHeld": {
            "description": "Total amount held as reserves during the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "reserveReleased": {
            "description": "Total amount released from reserves during the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "adjustments": {
            "description": "Total adjustments made in the settlement.",
            "$ref": "#/components/schemas/MoneyDetail"
          },
          "netSettlement": {
            "description": "Net settlement amount after all calculations.",
            "$ref": "#/components/schemas/MoneyDetail"
          }
        },
        "description": "Summary of financial transactions within the settlement."
      },
      "MoneyDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type for the monetary amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Monetary value expressed as a string.",
            "example": "string"
          }
        },
        "description": "Details of monetary values including currency and amount."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the settlement was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the settlement.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement.",
            "example": "string"
          }
        },
        "description": "Audit information for tracking changes in the settlement."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the settlement to aid in tracking and processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header carries a unique identifier for the endpoint that is processing the request, facilitating tracking and logging of the operations associated with this specific endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-settlement"
        },
        "example": "banking-p2m-openapi-update-settlement"
      },
      "X-Runtime-App": {
        "description": "This header indicates the application version or name that is executing the request, useful for ensuring compatibility and managing versioning across different service updates.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, which requires a JSON Web Token (JWT). Users must provide a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}