{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Communications API",
    "description": "The Corporate Communications API enables businesses to access essential communications related to corporate relations. This endpoint provides users with insights into current communications, announcements, and updates that are crucial for stakeholder engagement. Typical consumers include corporate communication teams, public relations professionals, and internal stakeholders who require timely information. By leveraging this API, organizations can enhance their communication strategies and maintain transparent interactions with their stakeholders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-communications": {
      "get": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Retrieve corporate communications.",
        "description": "This endpoint allows you to fetch the latest corporate communications related to corporate relations. Use this to stay updated with the information and announcements relevant to corporate stakeholders.",
        "operationId": "getCorporateCommunications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a GET operation on corporate communications, containing all necessary parameters for successful execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateCommunicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of corporate communications data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateCommunicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateCommunicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the corporate communications operations GET request in JSON format.",
        "example": "{}"
      },
      "GetCorporateCommunicationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of corporate communication items.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateCommunicationItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the retrieved items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving corporate communications, including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b90feef6-69bc-5151-b3ba-d5837961d88d",
            "correlationId": "ec8c4f25-e94f-5508-9bac-a39901636afb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateCommunicationItem": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder."
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "subject": {
            "type": "string",
            "description": "Subject of the communication."
          },
          "scheduledAt": {
            "type": "string",
            "description": "Datetime when the communication is scheduled."
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Datetime when the record was last updated."
          }
        },
        "description": "Schema for a single corporate communication item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Datetime when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-communications-search-corporate-communications"
        },
        "example": "corporate-communications-search-corporate-communications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer tokens for authentication. Clients must provide a valid JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}