{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Model Management API",
    "description": "The Wholesale Trading Model Management API enables users to create and manage trading models used in wholesale banking operations. With this API, financial institutions can efficiently develop tailored trading strategies that align with their business goals. This service is primarily designed for traders and banking professionals who require automated model creation and updates. The API allows for seamless integration of trading models into existing workflows, enhancing decision-making in dynamic market environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-models": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create a new trading model.",
        "description": "This endpoint allows users to create a new trading model within the wholesale trading system. It accepts a request body containing the necessary details for the trading model and returns a confirmation upon successful creation.",
        "operationId": "createWholesaleTradingModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary components to create a new trading model in the wholesale trading system. Ensure that all required fields are provided in the JSON format as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWholesaleTradingModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Trading model created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWholesaleTradingModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWholesaleTradingModelRequest": {
        "title": "Trading Operation Request Body",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier of the trading book associated with the operation.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier of the financial instrument being traded.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the trade is a buy or sell operation.",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The maximum price at which a trade will be executed.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a trading operation, containing details such as trading book ID, instrument ID, trade side, quantities, limit prices, and request context.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "e90a348c-66ea-5faf-86d8-4c994b63e28e",
            "correlationId": "fc82ec5d-a215-5f82-b394-5b810f877703",
            "idempotencyKey": "bdde265e-b2c9-5f87-85b3-b4f44c71ac2b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-152460"
            }
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is expressed.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details of a trading operation, including value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is not processed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual details of a trade request, including request identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel through which the request was made.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details through which a request is made, including channel ID, type, and device ID."
      },
      "CreateWholesaleTradingModelResponse_201": {
        "title": "Trading Operation Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the trading instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the trading operation.",
            "example": "RES-922727"
          },
          "status": {
            "type": "string",
            "description": "The current status of the trading operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the trading operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the trading operation.",
            "$ref": "#/components/schemas/TradeMetadata"
          }
        },
        "description": "Response schema for a trading operation.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-922727",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4f831f4b-dbbb-5f8f-b6df-d7ba1371a2c9",
            "correlationId": "fc82ec5d-a215-5f82-b394-5b810f877703",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeMetadata": {
        "title": "Trade Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the trading operation took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with a trading operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, used for tracing and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-models-create-trading-models"
        },
        "example": "trading-models-create-trading-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that was responsible for handling the request, helping in identifying which service processed it.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, where a JSON Web Token (JWT) is provided to authorize API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}