{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Technology Standards API",
    "description": "The Technology Standards API facilitates access to essential IT management standards within the banking sector. This API allows developers and system integrators to retrieve up-to-date technology standards that govern systems and processes. Typical consumers include IT managers, compliance officers, and software developers seeking to ensure adherence to industry standards and best practices. By leveraging this API, organizations can streamline their technology alignment, enhance risk management, and improve operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/technology-standards": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT Management Technology Standards",
        "description": "This endpoint allows users to retrieve the technology standards established by the IT management team. It provides an overview of the current standards in place, ensuring that all technological implementations are aligned with organizational requirements.",
        "operationId": "getTechnologyStandards",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve technology standards within the IT management domain. It includes criteria for filtering or sorting the standards, which will guide the returned results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTechnologyStandardsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the technology standards data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTechnologyStandardsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTechnologyStandardsRequest": {
        "type": "string",
        "description": "This schema defines the request body format for retrieving technology standards in IT management operations.",
        "example": "{}"
      },
      "GetTechnologyStandardsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of technology policies.",
            "example": [
              {
                "policyId": "STANDARD",
                "title": "Banking operation completed",
                "ownerTeam": "STANDARD",
                "effectiveDate": "2026-09-15",
                "reviewDate": "2026-09-15",
                "applicability": [
                  "STANDARD"
                ],
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TechnologyPolicy"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation that returns technology standards in IT management.",
        "example": {
          "items": [
            {
              "policyId": "STANDARD",
              "title": "Banking operation completed",
              "ownerTeam": "STANDARD",
              "effectiveDate": "2026-09-15",
              "reviewDate": "2026-09-15",
              "applicability": [
                "STANDARD"
              ],
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "427a296a-bcd5-5379-b1c0-567a748a83ba",
            "correlationId": "a07d8331-442d-53f4-bda4-8940570a7a09",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TechnologyPolicy": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy."
          },
          "title": {
            "type": "string",
            "description": "The title of the policy."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the policy."
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date on which the policy becomes effective."
          },
          "reviewDate": {
            "type": "string",
            "description": "The date the policy should be reviewed."
          },
          "applicability": {
            "type": "array",
            "description": "An array of strings representing the applicability of the policy.",
            "items": {
              "type": "string",
              "description": "A string indicating a specific applicability."
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the policy record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the policy record."
          }
        },
        "description": "Schema representing a technology policy."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing take place."
          }
        },
        "description": "Schema representing metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-standards-and-guidelines-search-it-standards-and-guidelines"
        },
        "example": "it-standards-and-guidelines-search-it-standards-and-guidelines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method, which requires a valid JSON Web Token (JWT) to access protected resources. This token should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}