{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cheque Processing API",
    "description": "The Cheque Processing API provides functionalities to handle cheque-related transactions efficiently. This API allows users to retrieve the status and details of cheque processing operations, enabling seamless integration into banking applications. Typical consumers include financial institutions and developers working on payment systems, where tracking cheque processing is essential for maintaining accurate financial records. The API supports queries related to payment status, ensuring that users can manage their cheque operations effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/cheque-processing": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve cheque processing information",
        "description": "This endpoint allows you to retrieve information related to the processing of cheque payments, including status and details of the transactions.",
        "operationId": "getChequeProcessing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to process cheque payments and retrieve relevant information. Ensure the JSON payload adheres to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChequeProcessingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved cheque processing details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChequeProcessingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChequeProcessingRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the cheque processing GET operation.",
        "example": "{}"
      },
      "GetChequeProcessingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of cheque batch details.",
            "example": [
              {
                "chequeBatchId": "STANDARD",
                "depositAccountId": "ACC-948405",
                "chequeCount": 1,
                "batchAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "clearingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChequeBatch"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cheque processing GET operation.",
        "example": {
          "items": [
            {
              "chequeBatchId": "STANDARD",
              "depositAccountId": "ACC-948405",
              "chequeCount": 1,
              "batchAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "clearingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6343b71b-379c-529d-9e7e-17b47c31334d",
            "correlationId": "00a25933-95e0-5317-8d71-f1a3f99182bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChequeBatch": {
        "type": "object",
        "properties": {
          "chequeBatchId": {
            "type": "string",
            "description": "Unique identifier for the cheque batch."
          },
          "depositAccountId": {
            "type": "string",
            "description": "Identifier for the deposit account associated with the cheque batch."
          },
          "chequeCount": {
            "type": "integer",
            "description": "The total number of cheques in the batch.",
            "format": "int32"
          },
          "batchAmount": {
            "$ref": "#/components/schemas/BatchAmount"
          },
          "clearingDate": {
            "type": "string",
            "description": "The date on which the cheques are cleared."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the cheque batch record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the cheque batch was last updated."
          }
        },
        "description": "Represents the details of a cheque batch."
      },
      "BatchAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount of the cheque batch."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the cheque batch amount."
          }
        },
        "description": "Represents the amount details of a cheque batch."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request/response pair."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing was done."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cheque-processing-search-cheque-processing"
        },
        "example": "cheque-processing-search-cheque-processing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for bearer authentication. Clients must include a valid JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}