{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Reviews Submission API",
    "description": "The Business Reviews Submission API facilitates the collection and submission of reviews related to market analysis in the banking sector. This endpoint allows businesses to share their insights and feedback based on market research findings. Typical consumers of this API include banking analysts, market researchers, and business intelligence teams looking to enhance their reports with qualitative data. By aggregating reviews, the API aims to improve decision-making and strategy formulation within the banking industry.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Market Analysis"
        ],
        "summary": "Create a review for the market analysis.",
        "description": "This endpoint allows users to submit a review for a specific market analysis identified by the resource ID RES-100045. Users can provide feedback that contributes to the evaluation of the market analysis.",
        "operationId": "createReviewForMarketAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for adding a new review related to the market analysis with the specific resource identifier. This body must adhere to the specified JSON schema, containing all required fields to ensure a successful review submission.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForMarketAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForMarketAnalysisRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForMarketAnalysisRes100045Request": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which can include multiple areas of focus.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An area included in the review scope.",
              "example": "Product"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The deadline for completing the review, formatted as an ISO 8601 date string.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a review in the market analysis operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "db2eed4f-74fb-5271-bebf-038a6d350ce5",
            "correlationId": "dc0fb009-2fed-5316-bc95-034913646e39",
            "idempotencyKey": "64a1e4f6-a32d-50bd-8886-8b10f884ed04",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-793981"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing through multiple systems.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that requests can be retried safely.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, formatted as an ISO 8601 date string.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "Internal System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Review App"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-0987"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "CreateReviewForMarketAnalysisRes100045Response_202": {
        "title": "Market Analysis Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action performed in the market analysis review.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action executed during the review process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the market analysis review.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the review was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the review response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a market analysis review operation, including action details and metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "450051bd-55e9-5a58-a7ef-55f4974e8907",
            "correlationId": "dc0fb009-2fed-5316-bc95-034913646e39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier correlating this response to the relevant request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information related to the market analysis review response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint in the API. This helps track which endpoint was called for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-analysis-review-market-analysis"
        },
        "example": "market-analysis-review-market-analysis"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application or service that handled the request, useful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token, typically in the form of a JSON Web Token (JWT), to authenticate requests. Clients must include this token in the Authorization header when making API calls to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}