{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Special Pricing Conditions API",
    "description": "The Manage Special Pricing Conditions API allows businesses to update and modify existing special pricing conditions associated with banking products. This capability is essential for financial institutions aiming to adjust pricing strategies based on market demands or customer negotiations. Typical consumers include product managers and pricing analysts who require dynamic control over pricing conditions to enhance competitiveness and customer satisfaction. The API facilitates streamlined updates, ensuring pricing accuracy and responsiveness to changing market conditions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions/{param1}": {
      "patch": {
        "tags": [
          "Special Pricing Management"
        ],
        "summary": "Update Special Pricing Condition",
        "description": "This operation allows users to update the details of a specific special pricing condition identified by the resource ID. It enables modifications to pricing strategy and associated rules for better alignment with business objectives.",
        "operationId": "patchSpecialPricingConditionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates specific special pricing conditions for the product identified by RES-100045. Ensure the request body adheres to the required schema to successfully modify the pricing conditions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSpecialPricingConditionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the special pricing condition has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSpecialPricingConditionRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchSpecialPricingConditionRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes being requested for the product.",
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for patching special pricing conditions in product management.",
        "example": {
          "changes": {
            "productCode": "CHK-PREMIUM-US",
            "productName": "Northstar Banking Service",
            "customerSegment": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e58f4ae2-f740-56b0-bfe0-4bce585a1481",
            "correlationId": "bdc2435f-61fe-5d97-a3c6-193901ec580f",
            "idempotencyKey": "9996ab94-a64b-533b-a610-a740e8713dc9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-883806"
            }
          }
        }
      },
      "ProductChanges": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "PRD-001"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Sample Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment for which the change applies.",
            "example": "Retail"
          }
        },
        "description": "Schema representing the changes to the product details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Sales System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Web App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing information about the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is made.",
            "example": "Online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "PatchSpecialPricingConditionRes100045Response_200": {
        "title": "Special Pricing Conditions Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema for the special pricing conditions operation, detailing the version, status, updated timestamp, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d022edf9-5ef3-5da4-b027-f8c271a7e7cf",
            "correlationId": "bdc2435f-61fe-5d97-a3c6-193901ec580f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata structure that contains additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This can be used for tracing requests across distributed systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-update-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-update-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This helps identify which service processed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses a token-based authentication method. The token is a JSON Web Token (JWT) that should be included in the 'Authorization' header of the HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}