{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mergers and Acquisitions Management API",
    "description": "The Mergers and Acquisitions Management API enables businesses to efficiently oversee and modify details related to ongoing merger and acquisition transactions. This functionality allows authorized users to update specific parameters and operational details of each deal, fostering seamless collaboration among financial analysts and corporate finance teams. Typical consumers include corporate lawyers, financial advisors, and investment bankers looking to maintain accurate and up-to-date records of their transaction activities. Enhance your transaction management processes with precise updates through this API.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/mergers-acquisitions/{param1}": {
      "patch": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Update Mergers and Acquisitions Resource",
        "description": "This operation allows users to update the details of a specific resource under the corporate finance mergers and acquisitions sector, identified by the resource ID. Detailed information can be modified to ensure accurate records and data management.",
        "operationId": "updateCorporateFinanceMergersAcquisitionsRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update specific details related to mergers and acquisitions under the corporate finance category. Ensure that you provide all required fields as specified in the schema to successfully modify the existing resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateFinanceMergersAcquisitionsRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Patch request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateFinanceMergersAcquisitionsRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateFinanceMergersAcquisitionsRES100045Request": {
        "title": "Mergers & Acquisitions Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes being requested in the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date of the changes being requested.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context in which the request is made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations related to mergers and acquisitions.",
        "example": {
          "changes": {
            "clientId": "STANDARD",
            "engagementId": "STANDARD",
            "transactionType": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "747ed336-709c-5027-a47f-61409213e623",
            "correlationId": "22167c40-62db-5281-865d-8db7c84afdfc",
            "idempotencyKey": "b3fb20ee-5bed-50f7-be76-93708f0fc3d5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-760444"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The ID of the client involved in the transaction.",
            "example": "string"
          },
          "engagementId": {
            "type": "string",
            "description": "The ID associated with the engagement.",
            "example": "string"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being requested.",
            "example": "string"
          }
        },
        "description": "Schema representing the specific changes in the operation."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context details of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the communication channel."
      },
      "UpdateCorporateFinanceMergersAcquisitionsRES100045Response_200": {
        "title": "Operations Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status indicating the result of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation in the mergers and acquisitions corporate finance context.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7ed553b6-87a6-5f37-b234-f32e22ea2399",
            "correlationId": "22167c40-62db-5281-865d-8db7c84afdfc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "corr-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This value is useful for tracing requests in a corporate finance application focusing on mergers and acquisitions.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mergers-and-acquisitions-advisory-update-mergers-and-acquisitions-advisory"
        },
        "example": "mergers-and-acquisitions-advisory-update-mergers-and-acquisitions-advisory"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This header helps identify which application instance is responsible for a particular transaction in the mergers and acquisitions domain.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which provides access tokens as part of the HTTP Authorization header. The tokens must conform to the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}