{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Event History API",
    "description": "The Servicing Event History API provides a comprehensive overview of servicing events within the banking system. It enables users to retrieve historical data related to customer servicing activities across various channels. This API is essential for financial analysts, customer support teams, and compliance officers who need to monitor and review servicing interactions. By leveraging this API, organizations can enhance their customer service strategies and ensure regulatory compliance through detailed event tracking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-event-history": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing event history across channels.",
        "description": "Fetches the historical records of servicing events that occurred across different channels. This endpoint allows users to monitor, analyze, and understand servicing interactions over time.",
        "operationId": "getCrossChannelServicingEventHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body containing the necessary parameters to retrieve the servicing event history for cross-channel operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelServicingEventHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of servicing event history.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelServicingEventHistoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelServicingEventHistoryRequest": {
        "title": "Service Event History Request Body",
        "type": "string",
        "description": "This schema represents the request body for the service event history retrieval operation using GET method.",
        "example": "{}"
      },
      "GetCrossChannelServicingEventHistoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of servicing events.",
            "example": [
              {
                "partyId": "PARTY-605551",
                "interactionId": "INT-560570",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingEvent"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the servicing event history across channels.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-605551",
              "interactionId": "INT-560570",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2021ff13-e3fd-580c-84be-c152fadfb74e",
            "correlationId": "7e5af787-b883-5216-9150-5935f386b54f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingEvent": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction event."
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the interaction took place."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication used for the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the event record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the event record was last updated."
          }
        },
        "description": "Details about a servicing event."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request/responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-event-history-search-servicing-event-history"
        },
        "example": "servicing-event-history-search-servicing-event-history"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme enables the use of Bearer authentication, where a valid JWT (JSON Web Token) is required in the Authorization header for API requests. It follows the OAuth 2.0 authorization framework.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}