{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Network Operation Status API",
    "description": "The Internal Network Operation Status API provides real-time information about the status of various internal network operations essential for banking IT management. This API enables IT teams to monitor operational performance, ensuring uninterrupted service delivery and prompt identification of issues. Typical consumers of this API include system administrators and IT support teams who need to access current status updates and historical data for internal network operations. Utilize this API to enhance operational efficiency and improve incident response times.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/internal-network-operation/status": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the status of internal network operations.",
        "description": "This endpoint allows you to access the current status of internal network operations managed by the IT department. It provides detailed information about the operational state and any issues that may be present.",
        "operationId": "getInternalNetworkOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for retrieving the status of internal network operations. The client must provide the appropriate JSON payload as detailed in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalNetworkOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalNetworkOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalNetworkOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation status in the IT management internal network operation.",
        "example": "{}"
      },
      "GetInternalNetworkOperationStatusResponse_200": {
        "title": "Internal Network Operation Status Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is taking place (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the specific change associated with the operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team that owns this operation.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation is planned.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The tier of service associated with this operation.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage of availability for this operation.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The designated maintenance window for this operation.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for retrieving the status of internal network operations.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "05206ff3-1b01-5400-aa2c-8b00a8425c0a",
            "correlationId": "2c9d9c0b-8d9c-5b8c-9fc5-7cea25c9b78f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "corr-321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains additional metadata about the operation's response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-network-operation-get-internal-network-operation"
        },
        "example": "internal-network-operation-get-internal-network-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method which transmits a cryptographic token (JWT) in the HTTP header. The token grants access to protected resources and is typically used in stateless client-server communications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}