{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Repayment Schedules Management API",
    "description": "The Repayment Schedules Management API enables the creation of customized repayment schedules for specific loans. By submitting a request to this endpoint, users can establish tailored payment plans that align with borrower needs and obligations. This API is particularly useful for financial institutions and loan servicers looking to enhance their loan management functionalities. Typical consumers include financial institutions, loan officers, and developers creating financial applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Create a new repayment schedule for a specific loan.",
        "description": "This endpoint allows the user to create a repayment schedule for the specified loan identified by its loan ID. It takes the necessary details for the repayment schedule as input and returns the verification of creation along with the new schedule details.",
        "operationId": "createRepaymentScheduleForLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create repayment schedules for a specific loan identified by LOAN-500045. The values provided must conform to the schema to ensure that the repayment schedule is accurately processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRepaymentScheduleForLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Repayment schedule created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRepaymentScheduleForLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRepaymentScheduleForLoanRequest": {
        "title": "Repayment Schedule Request",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate repayments.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for creating the repayment schedule.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "A list of repayment installments.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating repayment schedules for a loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD"
              }
            }
          ],
          "requestContext": {
            "requestId": "c6841c92-d9ca-5b2e-b389-0b9e541a52a2",
            "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
            "idempotencyKey": "8643dad9-8bd1-574f-82ea-341a58b9eb98",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-492633"
            }
          }
        }
      },
      "Installment": {
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The sequence number of the installment.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the installment payment.",
            "example": "2023-10-15"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "principalDue": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "interestDue": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "feesDue": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "totalDue": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "status": {
            "type": "string",
            "description": "The current status of the installment.",
            "example": "Paid"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp indicating when the installment was paid.",
            "example": "2023-10-14T12:00:00Z"
          }
        },
        "description": "Details of a single repayment installment."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "1000.00"
          }
        },
        "description": "This schema represents an amount of money, including currency."
      },
      "ClosingPrincipal": {
        "title": "Closing Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the closing principal amount.",
            "example": "USD"
          }
        },
        "description": "This schema represents the closing principal amount of the installment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across different systems.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "An optional key to ensure the request is idempotent.",
            "example": "idempotent-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "core-banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "mobile-app"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used.",
            "example": "device-123456"
          }
        },
        "description": "This schema represents the channel through which the request is made."
      },
      "CreateRepaymentScheduleForLoanResponse_201": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment schedule becomes effective.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayments.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule or any changes made.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "List of repayment installments details.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "797a9484-e86b-a94a-7695-0ad73c2de586"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier for the previous schedule which this one supersedes.",
            "example": "408cf88f-7e11-92fe-8578-13a8ffcf3fcf"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for repayment schedule operations associated with a loan.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "797a9484-e86b-a94a-7695-0ad73c2de586",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "408cf88f-7e11-92fe-8578-13a8ffcf3fcf",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "09c9e700-481f-5a5f-9e03-267e0e947e04",
            "correlationId": "cefd478e-6951-5ad6-85d2-fd5991ade68b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217) of the monetary amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value as a string representation.",
            "example": "1000.00"
          }
        },
        "description": "Represents a monetary amount including currency and value."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information regarding the repayment schedule."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RID-500045"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests/responses.",
            "example": "CID-500045"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response, useful for tracking."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-repayment-schedule"
        },
        "example": "banking-loans-openapi-create-repayment-schedule"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, typically a JSON Web Token (JWT), to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}