{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Book Loan Application API",
    "description": "The Book Loan Application API facilitates the process of booking loan applications within the system. This endpoint allows users to securely submit loan application details for processing. Typically utilized by financial institutions, mortgage brokers, and loan officers, it streamlines the initiation phase of loan processing. By capturing essential information, it enhances operational efficiency and improves customer experience during the loan application journey.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/book": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Book a loan application.",
        "description": "This operation allows you to book a loan application identified by its unique reference number. Upon successful booking, you'll receive confirmation along with relevant details about the loan application.",
        "operationId": "bookLoanApplication_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the details necessary to book a loan application with the ID 'RES-100045'. The input data should conform to the specified schema and includes all required fields for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BookLoanApplication_res100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The loan application was successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookLoanApplication_res100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "BookLoanApplication_res100045Request": {
        "type": "object",
        "properties": {
          "offerId": {
            "type": "string",
            "description": "The unique identifier for the loan offer.",
            "example": "b36bde08-caf4-9bc2-7260-c3b447e09b59"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code of the branch responsible for servicing the loan.",
            "example": "CODE-742"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number where repayments will be made.",
            "example": "STANDARD"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date when the first payment is due.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "accountingProductCode": {
            "type": "string",
            "description": "The accounting product code associated with this loan.",
            "example": "CODE-773"
          },
          "generateSchedule": {
            "type": "boolean",
            "description": "Indicates whether a repayment schedule should be generated.",
            "example": true
          },
          "requestContext": {
            "description": "Information about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for loan applications.",
        "example": {
          "offerId": "b36bde08-caf4-9bc2-7260-c3b447e09b59",
          "servicingBranchCode": "CODE-742",
          "repaymentAccountNumber": "STANDARD",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "accountingProductCode": "CODE-773",
          "generateSchedule": true,
          "requestContext": {
            "requestId": "3e27a256-cd03-5717-915c-2ed0df9905f0",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "idempotencyKey": "5367355c-867e-56cf-b39e-293cabb36c8e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-815344"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent accidental duplicate submissions.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "BookLoanApplication_res100045Response_201": {
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "Identifier for the source application.",
            "example": "APP-112303"
          },
          "productId": {
            "type": "string",
            "description": "Identifier for the loan product.",
            "example": "PROD-677587"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer associated with the loan.",
            "example": "CUST-326329"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "List of borrower customer identifiers.",
            "example": [
              "CUST-837509"
            ],
            "items": {
              "type": "string",
              "example": "customer-101"
            }
          },
          "principal": {
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "Type of interest rate (fixed or variable).",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "Date when the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "Date of the first payment.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "Account number for repayments.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code for the servicing branch.",
            "example": "CODE-410"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "Purpose of the loan.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e"
          },
          "accountNumber": {
            "type": "string",
            "description": "Account number associated with the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "balance": {
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "$ref": "#/components/schemas/Money"
          },
          "totalRepaid": {
            "$ref": "#/components/schemas/Money"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of a loan application request.",
        "example": {
          "sourceApplicationId": "APP-112303",
          "productId": "PROD-677587",
          "primaryCustomerId": "CUST-326329",
          "borrowerCustomerIds": [
            "CUST-837509"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-410",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "d78fbc2d-73d9-29cb-e0f5-4d14a913055e",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "b33c5138-2469-53d5-94bd-c009cb2acbcf",
            "correlationId": "1f75052e-5135-5740-96c3-6508765a6830",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of principal in the specified currency.",
            "example": "10000.00"
          }
        },
        "description": "Schema representing the principal amount of the loan."
      },
      "LoanBalance": {
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "$ref": "#/components/schemas/Money"
          },
          "accruedInterest": {
            "$ref": "#/components/schemas/Money"
          },
          "feesOutstanding": {
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesOutstanding": {
            "$ref": "#/components/schemas/Money"
          },
          "totalOutstanding": {
            "$ref": "#/components/schemas/Money"
          },
          "availableToDraw": {
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing the balance details of the loan."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount in the specified currency.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing an amount of money with currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across services.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-book-loan-application"
        },
        "example": "banking-loans-openapi-book-loan-application"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication mechanism where a JWT (JSON Web Token) is provided in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}