{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Transaction Detail API",
    "description": "The Customer Transaction Detail API provides detailed information about a specific transaction associated with a customer. This endpoint enables users to retrieve comprehensive data, including transaction amounts, dates, and statuses. Typical consumers of this API include financial applications, reporting systems, and customer service platforms that require access to transaction information. This API enhances transparency and aids in effective management of customer finance-related queries, facilitating better customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions/{transactionId}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Customer Transactions",
        "description": "Fetches the transaction details for the specified customer identified by their ID. This endpoint provides data regarding all transactions associated with the customer, facilitating insights into their purchase history and behavior.",
        "operationId": "getCustomerTransactionsCUST100045Resource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve transaction details for a specific customer identified by their unique customer ID (CUST-100045) and a specific transaction ID (RES-100045). The response will contain transaction information such as date, amount, status, and any relevant details associated with the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerTransactionsCUST100045Resource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the transaction details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerTransactionsCUST100045Resource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerTransactionsCUST100045Resource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on transactions associated with customer CUST-100045.",
        "example": "{}"
      },
      "GetCustomerTransactionsCUST100045Resource100045Response_200": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 1
          },
          "amount": {
            "type": "number",
            "description": "Total amount of the transaction.",
            "example": 100.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "A unique identifier for the transaction.",
            "example": "TXN-803890"
          },
          "accountId": {
            "type": "integer",
            "description": "Identifier of the account associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier of the customer related to the transaction.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction.",
            "example": "ACTIVE"
          },
          "description": {
            "type": "string",
            "description": "Description of the transaction.",
            "example": "Customer banking request processed successfully"
          },
          "memo": {
            "type": "string",
            "description": "Any additional notes regarding the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the transaction (e.g., debit, credit).",
            "example": "STANDARD"
          },
          "transactionDate": {
            "type": "integer",
            "description": "Date when the transaction occurred.",
            "format": "int32",
            "example": 1
          },
          "postedDate": {
            "type": "integer",
            "description": "Date the transaction was posted to the account.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Date the transaction was created.",
            "format": "int32",
            "example": 1
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "The first effective date for this transaction.",
            "format": "int32",
            "example": 1
          },
          "effectiveDate": {
            "type": "integer",
            "description": "Date this transaction becomes effective.",
            "format": "int32",
            "example": 1
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "Expiration date for any options related to this transaction.",
            "format": "int32",
            "example": 1
          },
          "checkNum": {
            "type": "string",
            "description": "Check number associated with the transaction, if applicable.",
            "example": "STANDARD"
          },
          "escrowAmount": {
            "type": "number",
            "description": "Amount held in escrow related to the transaction.",
            "example": 100.0
          },
          "feeAmount": {
            "type": "number",
            "description": "Fee associated with the transaction.",
            "example": 100.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "Suspense amount related to the transaction.",
            "example": 100.0
          },
          "interestAmount": {
            "type": "number",
            "description": "Interest amount applicable to this transaction.",
            "example": 100.0
          },
          "principalAmount": {
            "type": "number",
            "description": "Principal amount associated with the transaction.",
            "example": 100.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "Strike price for any options related to this transaction.",
            "example": 100.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "Quantity of units involved in the transaction.",
            "example": 100.0
          },
          "unitPrice": {
            "type": "number",
            "description": "Price per unit for the transaction.",
            "example": 100.0
          },
          "categorization": {
            "description": "Categorization details for the transaction.",
            "$ref": "#/components/schemas/Categorization"
          },
          "runningBalanceAmount": {
            "type": "number",
            "description": "The balance remaining after this transaction.",
            "example": 100.0
          },
          "subaccountSecurityType": {
            "type": "string",
            "description": "Security type associated with the transaction's subaccount.",
            "example": "STANDARD"
          },
          "commissionAmount": {
            "type": "integer",
            "description": "Commission amount related to the transaction.",
            "format": "int32",
            "example": 1
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol for any related security.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents a response containing transaction details for a specific customer.",
        "example": {
          "id": 1,
          "amount": 100.0,
          "uniqueTransactionId": "TXN-803890",
          "accountId": 1,
          "customerId": 1,
          "status": "ACTIVE",
          "description": "Customer banking request processed successfully",
          "memo": "STANDARD",
          "type": "STANDARD",
          "transactionDate": 1,
          "postedDate": 1,
          "createdDate": 1,
          "firstEffectiveDate": 1,
          "effectiveDate": 1,
          "optionExpireDate": 1,
          "checkNum": "STANDARD",
          "escrowAmount": 100.0,
          "feeAmount": 100.0,
          "suspenseAmount": 100.0,
          "interestAmount": 100.0,
          "principalAmount": 100.0,
          "optionStrikePrice": 100.0,
          "unitQuantity": 100.0,
          "unitPrice": 100.0,
          "categorization": {
            "normalizedPayeeName": "Northstar Banking Service",
            "category": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD",
            "bestRepresentation": "STANDARD"
          },
          "runningBalanceAmount": 100.0,
          "subaccountSecurityType": "STANDARD",
          "commissionAmount": 1,
          "ticker": "STANDARD",
          "metadata": {
            "responseId": "f8ec0b61-bb56-5d0b-9962-6e4d71a361f7",
            "correlationId": "cb040eae-06c8-5821-8e6c-b5beaa3e639b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Categorization": {
        "title": "Transaction Categorization",
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "Normalized name of the payee involved in the transaction.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "Category of the transaction.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the transaction occurred.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the transaction occurred.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the transaction location.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country where the transaction occurred.",
            "example": "string"
          },
          "bestRepresentation": {
            "type": "string",
            "description": "Best textual representation associated with the transaction.",
            "example": "string"
          }
        },
        "description": "Details related to the categorization of a transaction."
      },
      "Metadata": {
        "title": "Transaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the transaction.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the transaction across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata details associated with the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-transaction-by-unique-transaction-id"
        },
        "example": "open-finance-api-get-transaction-by-unique-transaction-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves transmitting a JSON Web Token (JWT) in the 'Authorization' header of HTTP requests. The JWT should be securely generated and validated on the server to ensure authenticated access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}