{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Administration Collections API",
    "description": "The Collateral Administration Collections API provides access to manage and retrieve information about collateral collections in a banking context. This API enables financial institutions to oversee their collection processes, ensuring efficient handling of collateralized assets. Typical use cases include tracking collection statuses, viewing detailed collection records, and integrating collection data into financial applications. This API serves risk managers, compliance teams, and operational staff looking to maintain accurate collateral management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collections": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve a list of collections related to collateral administration.",
        "description": "This endpoint allows users to fetch all collections associated with collateral administration. The data can be utilized for monitoring and managing collateral assets effectively.",
        "operationId": "getCollectionsFromCollateralAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to retrieve collections relevant to collateral administration. The schema defines the expected input format and structure for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollectionsFromCollateralAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the collections data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollectionsFromCollateralAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollectionsFromCollateralAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the collateral administration collections endpoint. It is expected to contain a JSON string.",
        "example": "{}"
      },
      "GetCollectionsFromCollateralAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of collateral items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-127886",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on collateral collections, providing a list of collateral items along with pagination and metadata.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-127886",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5b309602-aecf-546e-99af-4aa4d087d8e9",
            "correlationId": "a4dc05d9-b5b1-5e2b-a9a5-30723f16446a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralItem": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral item.",
            "example": "string"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset represented by the collateral.",
            "example": "string"
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date of the collateral valuation.",
            "example": "string"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral.",
            "example": "string"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the collateral.",
            "example": 0.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the collateral item.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the collateral record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the collateral item.",
            "example": "string"
          }
        },
        "description": "Represents a collateral item in the collection."
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the market value is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the market value of a collateral item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response, indicating current page and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlated requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint, used for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collections-search-collections"
        },
        "example": "collections-search-collections"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). To authenticate, include the 'Authorization' header with the format 'Bearer <token>'. This allows for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}