{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Partnerships API",
    "description": "The Corporate Partnerships API provides a streamlined interface for accessing and managing corporate partnership data within the banking ecosystem. This endpoint allows users to retrieve detailed information about existing partnerships, enabling financial institutions and corporate clients to assess relationship dynamics and optimize collaboration. Typical consumers include banking professionals, corporate relationship managers, and data analysts who leverage this information to inform strategic decisions. By utilizing this API, organizations can enhance their partnership engagements and drive innovation in cooperative financial endeavors.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-partnerships": {
      "get": {
        "tags": [
          "Corporate Partnerships"
        ],
        "summary": "Retrieve corporate partnerships.",
        "description": "This endpoint allows users to fetch a list of corporate partnerships under corporate relations. It provides information about each partnership, including details necessary for evaluation and collaboration opportunities.",
        "operationId": "getCorporatePartnerships",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about corporate partnerships within the corporate relations module. Ensure that all necessary parameters are included in the request to receive the most accurate and relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePartnershipsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, returning the list of corporate partnerships.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePartnershipsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePartnershipsRequest": {
        "type": "string",
        "description": "A request body representing the JSON string for the corporate partnerships operation in corporate relations.",
        "example": "{}"
      },
      "GetCorporatePartnershipsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of corporate partnership items.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporatePartnershipItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for corporate partnerships retrieval operations.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6a7391b2-9a81-56d3-a232-cf904d63823b",
            "correlationId": "0ea5b4a8-df24-5fce-9eee-d99dbf120d9a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporatePartnershipItem": {
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder."
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "subject": {
            "type": "string",
            "description": "Subject of the partnership engagement."
          },
          "scheduledAt": {
            "type": "string",
            "description": "Scheduled date and time for the engagement."
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Unique identifier for the owner of the relationship."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Represents a single corporate partnership item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-alliance-and-stake-holder-search-corporate-alliance-and-stake-holder"
        },
        "example": "corporate-alliance-and-stake-holder-search-corporate-alliance-and-stake-holder"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses JSON Web Tokens (JWT) as a bearer token for user authentication. This scheme is typically used to allow secure access to protected resources via an access token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}