{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Banking Factoring API",
    "description": "The Trade Banking Factoring API provides businesses with a streamlined method to manage and optimize their accounts receivable financing. This API enables users to retrieve detailed information on factoring agreements, allowing financial institutions and businesses to monitor transaction statuses, terms, and associated fees. It's typically utilized by financial institutions and corporate clients seeking to enhance cash flow and improve liquidity management. Accessing this API assists users in making informed financial decisions and fostering robust trade relations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/factoring": {
      "get": {
        "tags": [
          "Factoring Services"
        ],
        "summary": "Retrieve factoring information.",
        "description": "This endpoint allows users to fetch detailed information regarding factoring services in trade banking. Utilize this resource to understand the specific offerings, terms, and conditions associated with factoring.",
        "operationId": "getFactoringInfo",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve factoring operations in the trade banking service. It may include various parameters that define the specifics of the factoring requests the client is making, allowing for tailored responses.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFactoringInfoRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of factoring information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFactoringInfoResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFactoringInfoRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the trade banking factoring API.",
        "example": "{}"
      },
      "GetFactoringInfoResponse_200": {
        "title": "Factoring Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of factoring operations.",
            "example": [
              {
                "sellerId": "STANDARD",
                "debtorId": "STANDARD",
                "invoiceId": "STANDARD",
                "invoiceAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "advanceRatePercent": 100.0,
                "invoiceDueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FactoringOperation"
            }
          },
          "pagination": {
            "description": "Information regarding the pagination of the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation retrieving factoring items.",
        "example": {
          "items": [
            {
              "sellerId": "STANDARD",
              "debtorId": "STANDARD",
              "invoiceId": "STANDARD",
              "invoiceAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "advanceRatePercent": 100.0,
              "invoiceDueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d11b1baa-201a-5824-948b-7d3f7e12a2e2",
            "correlationId": "279ae1c2-1832-5793-810b-b89d15f759dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FactoringOperation": {
        "title": "Factoring Operation",
        "type": "object",
        "properties": {
          "sellerId": {
            "type": "string",
            "description": "Unique identifier for the seller.",
            "example": "string"
          },
          "debtorId": {
            "type": "string",
            "description": "Unique identifier for the debtor.",
            "example": "string"
          },
          "invoiceId": {
            "type": "string",
            "description": "Unique identifier for the invoice.",
            "example": "string"
          },
          "invoiceAmount": {
            "description": "The amount associated with the invoice.",
            "$ref": "#/components/schemas/InvoiceAmount"
          },
          "advanceRatePercent": {
            "type": "number",
            "description": "The percentage of the invoice amount that can be advanced.",
            "example": 0.0
          },
          "invoiceDueDate": {
            "type": "string",
            "description": "Due date of the invoice.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single factoring operation detail."
      },
      "InvoiceAmount": {
        "title": "Invoice Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount of the invoice.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Represents the amount and currency of an invoice."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the list of results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "factoring-search-factoring"
        },
        "example": "factoring-search-factoring"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. The client must supply a valid JSON Web Token (JWT) in the `Authorization` header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}