{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Line Details API",
    "description": "The Settlement Line Details API allows users to retrieve detailed information about specific settlement lines associated with a given settlement ID. This operation is essential for financial analysts and system integrators who need to examine the components of settlements for reporting or reconciliation purposes. With this API, developers can access granular details, aiding in transparency and compliance within financial transactions. Typical consumers include accounting software providers and financial service platforms looking to enhance their settlement processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/lines": {
      "get": {
        "tags": [
          "Settlement Operations"
        ],
        "summary": "Retrieve lines associated with a settlement.",
        "description": "This endpoint allows you to retrieve detailed lines related to the settlement identified by the specific resource ID. Use this to get comprehensive information about each line entry, including amounts and descriptions.",
        "operationId": "getSettlementLinesRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the lines for the specified settlement with the ID 'RES-100045'. It should conform to the defined schema in order to ensure that the request is properly processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementLinesRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the settlement lines.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementLinesRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementLinesRes100045Request": {
        "title": "Settlement Lines Request Body",
        "type": "string",
        "description": "A string representation of the request body for the settlement lines operation in the GET request.",
        "example": "{}"
      },
      "GetSettlementLinesRes100045Response_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of link objects providing related resources and actions.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of settlement line items.",
            "example": [
              {
                "lineId": "STANDARD",
                "type": "STANDARD",
                "referenceId": "STANDARD",
                "grossAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "feeAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "occurredAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementLineItem"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving settlements.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "lineId": "STANDARD",
              "type": "STANDARD",
              "referenceId": "STANDARD",
              "grossAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "feeAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "taxAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "netAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "occurredAt": "2026-08-11T12:00:00Z"
            }
          ],
          "metadata": {
            "responseId": "af357c42-d49d-5d3e-9f85-9f5e19ae0650",
            "correlationId": "b6184dee-5d45-534a-a2bc-12479e825945",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL of the link.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use when accessing the link.",
            "example": "string"
          }
        },
        "description": "Schema representing a hyperlink and its relation."
      },
      "SettlementLineItem": {
        "title": "Settlement Line Item",
        "type": "object",
        "properties": {
          "lineId": {
            "type": "string",
            "description": "Unique identifier for the line item.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the settlement line.",
            "example": "string"
          },
          "referenceId": {
            "type": "string",
            "description": "Reference identifier associated with the settlement line.",
            "example": "string"
          },
          "grossAmount": {
            "type": "object",
            "description": "Total amount before any fees or taxes.",
            "$ref": "#/components/schemas/Amount"
          },
          "feeAmount": {
            "type": "object",
            "description": "Amount deducted as a fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "taxAmount": {
            "type": "object",
            "description": "Amount deducted as tax.",
            "$ref": "#/components/schemas/Amount"
          },
          "netAmount": {
            "type": "object",
            "description": "Total amount after fees and taxes.",
            "$ref": "#/components/schemas/Amount"
          },
          "occurredAt": {
            "type": "string",
            "description": "Timestamp of when the line item occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing a line item in a settlement."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Three-letter ISO currency code.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The monetary value.",
            "example": "string"
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlement-lines"
        },
        "example": "banking-p2m-openapi-list-settlement-lines"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}