{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Program Trading API",
    "description": "The Program Trading API enables users to access and manage wholesale trading programs seamlessly. It provides endpoints for retrieving detailed information about various trading programs, including performance data and trading strategies. Ideal for financial institutions, trading firms, and developers, this API empowers brokers and traders to optimize their trading efficiency and decision-making. Users can leverage this functionality to enhance their trading systems or integrate advanced trading logic into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/program-trading": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve Program Trading Data",
        "description": "This endpoint allows users to fetch the latest data regarding program trading under the wholesale trading umbrella. The response includes various metrics and insights related to the program trading activities.",
        "operationId": "fetchWholesaleTradingProgramTrading",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving program trading information in the wholesale trading context. This body must be formatted as JSON and conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FetchWholesaleTradingProgramTradingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of program trading data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FetchWholesaleTradingProgramTradingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "FetchWholesaleTradingProgramTradingRequest": {
        "type": "string",
        "description": "A request body schema representing the JSON payload expected for a wholesale trading program trading operation.",
        "example": "{}"
      },
      "FetchWholesaleTradingProgramTradingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of trading items associated with the program trading.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the trading items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET operation related to program trading in wholesale trading. This includes the list of trading items, pagination information, sorting, and metadata for the response.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cf479bf2-5efe-52ad-98cc-2d964ef3245f",
            "correlationId": "3b12bcd4-01c0-5ee2-a253-159c74fd1e66",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument being traded.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "Indicates whether the trade is a buy or sell.",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units to be traded.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "description": "The limit price for the trade.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trade record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the trading item was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual trading item related to the program trading."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the limit price.",
            "example": "string"
          }
        },
        "description": "Schema representing the limit price details for a trading item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This helps in tracking the specific operation within the wholesale trading system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "program-trading-search-program-trading"
        },
        "example": "program-trading-search-program-trading"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment in which the request is processed. This aids in identifying the operational context of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) to securely transmit information between parties. The bearer token must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}