{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Management API",
    "description": "The Customer Billing Management API facilitates the processing and management of billing information for clients. This API enables the creation and updating of customer billing records, allowing businesses to streamline their invoicing processes. Typical consumers of this API include financial service providers and billing system integrators who need to automate billing workflows and enhance customer account management. By leveraging this API, organizations can ensure accurate and timely billing while improving overall financial transaction efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "post": {
        "tags": [
          "Billing Services"
        ],
        "summary": "Create a new customer billing entry.",
        "description": "This endpoint allows the creation of a new billing record for a customer. Ensure to provide all necessary billing information in the request body to successfully create the entry.",
        "operationId": "createCustomerBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary details for processing customer billing operations. Provide the required information in JSON format to invoke the billing service effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerBillingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new customer billing record.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerBillingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerBillingRequest": {
        "title": "Customer Billing Request",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "Unique identifier for the billing account.",
            "example": "ACC-196245"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-853730"
          },
          "billingPeriod": {
            "type": "string",
            "description": "Billing period for which the charges are applicable.",
            "example": "STANDARD"
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with the billing.",
            "example": [
              {
                "chargeType": "SERVICE_FEE",
                "amount": 100.0,
                "currency": "USD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingCharge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "The date by which payment is due.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for customer billing operations in the application.",
        "example": {
          "billingAccountId": "ACC-196245",
          "customerId": "CUST-853730",
          "billingPeriod": "STANDARD",
          "charges": [
            {
              "chargeType": "SERVICE_FEE",
              "amount": 100.0,
              "currency": "USD"
            }
          ],
          "dueDate": "2026-09-15",
          "requestContext": {
            "requestId": "bb25c717-0b18-5c76-92dc-ca22892a8acd",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "idempotencyKey": "6f673889-7b36-5b8e-8295-d2b235428d88",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-323086"
            }
          }
        }
      },
      "BillingCharge": {
        "title": "Billing Charge",
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "Type of charge (e.g., service fee, tax, etc.).",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "Amount of the charge.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency used for the charge amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual billing charge."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCustomerBillingResponse_201": {
        "title": "Customer Billing Response",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The unique identifier for the billing account.",
            "example": "ACC-828590"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-654131"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the billing.",
            "example": "RES-883747"
          },
          "status": {
            "type": "string",
            "description": "The status of the billing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the billing entry was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/BillingMetadata"
          }
        },
        "description": "Schema representing the response for customer billing operations.",
        "example": {
          "billingAccountId": "ACC-828590",
          "customerId": "CUST-654131",
          "resourceId": "RES-883747",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f51fb34-6eb8-5d7c-bbf4-5970c49af50e",
            "correlationId": "010ae7ac-e0fe-5ff5-a419-841bc4a9758e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingMetadata": {
        "title": "Billing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with billing operations."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific API endpoint that was called, used for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-create-customer-billing"
        },
        "example": "customer-billing-create-customer-billing"
      },
      "x-runtime-app": {
        "description": "The name and version of the application that processed the request, which can help in understanding the context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JSON Web Token (JWT) must be included in the authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}