{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis API",
    "description": "The Fraud Diagnosis API is designed to provide insights and assessments regarding potential fraud in banking account activities. By leveraging advanced analytics, it allows financial institutions to identify and diagnose fraudulent behavior effectively. This API serves as a vital resource for risk management teams and fraud analysts, enabling them to access detailed information on specific accounts through the unique parameter provided. Typical use cases include real-time fraud detection, post-incident analysis, and regulatory compliance monitoring.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis/{param1}": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve Fraud Diagnosis for a Specific Account",
        "description": "This endpoint allows the retrieval of detailed fraud diagnosis information for a specific account identified by its unique resource ID. Utilize this to assess and understand the fraud status of the account.",
        "operationId": "getFraudDiagnosisForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a fraud diagnosis for a particular account. It requires specific parameters to effectively assess potential fraud issues associated with the account identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudDiagnosisForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fraud diagnosis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudDiagnosisForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudDiagnosisForAccountRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the fraud diagnosis endpoint of the account management service.",
        "example": "{}"
      },
      "GetFraudDiagnosisForAccountResponse_200": {
        "title": "Fraud Diagnosis Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-751636"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-545855"
          },
          "ledgerDate": {
            "type": "string",
            "description": "Date of the ledger entry.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "Currency type for the account balance.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "Current balance in the ledger.",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "TXN-424503"
          },
          "riskScore": {
            "type": "number",
            "description": "Calculated risk score based on transaction patterns.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "Threshold score for making a decision regarding transaction risk.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "Trust level of the device used for the transaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the fraud diagnosis operation, containing account and transaction details.",
        "example": {
          "accountId": "ACC-751636",
          "customerId": "CUST-545855",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "transactionId": "TXN-424503",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8fd8c3a5-0e24-5462-b51e-ee4095f40d45",
            "correlationId": "7ba27d09-7805-5eb2-9d96-222072836b34",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr_456def"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata information for a fraud diagnosis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This value helps track which endpoint was accessed for auditing and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-get-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-get-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header provides context regarding which application instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, specifically a JSON Web Token (JWT), for authorization. It allows clients to securely access resources by presenting the token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}