{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Generate FIX Connection API",
    "description": "The Generate FIX Connection API facilitates the creation of FIX connections for financial trading applications. This endpoint allows clients to generate necessary configurations and credentials needed to establish a communication link within a financial ecosystem. Typical consumers include trading platforms, brokerage firms, and financial institutions aiming to streamline their trading operations. By automating connection generation, this API enhances efficiency and reduces the time required to set up secure trading environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/fix": {
      "post": {
        "tags": [
          "IssueManagement"
        ],
        "summary": "Generate a fix for a specified issue.",
        "description": "This endpoint allows users to generate a fix for a specified issue. It processes the request and returns the appropriate solution based on the input data provided.",
        "operationId": "generateFixPost",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary parameters and data to initiate the fix generation process. Ensure that all required fields are populated correctly to achieve the desired outcome.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateFixPostRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the expected data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateFixPostResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateFixPostRequest": {
        "title": "Operation Request Body",
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language used for the operation.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-301596"
          },
          "institutionLoginId": {
            "type": "string",
            "description": "Login identifier for the institution.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect the user after the operation.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URI for callback notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type for the webhook notifications.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Description of the customer experience.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is a single-use.",
            "example": true
          },
          "isHostedInMobileApp": {
            "type": "boolean",
            "description": "Indicates if the operation is hosted in a mobile application.",
            "example": true
          },
          "isWebView": {
            "type": "boolean",
            "description": "Indicates if the operation is using a web view.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the POST operation.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-301596",
          "institutionLoginId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "singleUseUrl": true,
          "isHostedInMobileApp": true,
          "isWebView": true,
          "requestContext": {
            "requestId": "e0f784e6-c9f8-595c-95ab-89d6cd9ad72c",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "idempotencyKey": "ca83fb80-fa9c-5dad-a3d3-d093588167ce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-427595"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency for the operation.",
            "example": "idempotent-key"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the originating system.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the originating application.",
            "example": "appB"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g. web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in this channel.",
            "example": "device-abc"
          }
        },
        "description": "Details about the communication channel."
      },
      "OperationsResponse": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link related to the operation result.",
            "example": "https://example.com/operation/result"
          },
          "metadata": {
            "description": "Metadata information about the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the Operations POST request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this operation with other related operations.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata details for the operation response."
      },
      "GenerateFixPostResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "example": "STANDARD"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "02b18d61-26ea-536b-b2ae-7c87ed2bc39b",
              "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "02b18d61-26ea-536b-b2ae-7c87ed2bc39b",
            "correlationId": "1129b5f1-95ea-5c91-9403-3a199f9e0cba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-fix-connect-url"
        },
        "example": "open-finance-api-generate-fix-connect-url"
      },
      "x-runtime-app": {
        "description": "Indicates the application runtime environment that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method, which requires a valid JSON Web Token (JWT) to be sent in the Authorization header of the request. This token is typically issued after a successful authentication process and grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}