{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Management API",
    "description": "The Advanced Voice Services Management API is designed to optimize and manage sophisticated voice service configurations within banking channels. This endpoint allows users to update and modify existing voice service parameters, enabling precise control over voice interactions. Typical consumers of this API include banking operators and IT professionals who need to enhance customer engagement and improve operational efficiencies. By utilizing this API, organizations can ensure that their voice services are tailored to meet evolving customer needs and preferences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management/{param1}": {
      "patch": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Update Advanced Voice Service Configuration",
        "description": "This endpoint allows developers to update the configuration settings for the specified advanced voice service. Ensure that you provide the necessary parameters to modify the service according to your requirements.",
        "operationId": "updateAdvancedVoiceServiceRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to update advanced voice services for a specific channel. This operation modifies the settings or configurations associated with the resource identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAdvancedVoiceServiceRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully processed the update request.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAdvancedVoiceServiceRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateAdvancedVoiceServiceRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the voice service.",
            "$ref": "#/components/schemas/VoiceServiceChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating advanced voice services management operations.",
        "example": {
          "changes": {
            "voicePlatformId": "STANDARD",
            "ivrFlowId": "STANDARD",
            "supportedLanguages": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b597dd23-1011-512d-aff2-d38d6214d233",
            "correlationId": "cc977024-2dfc-51c8-8ada-2640a5d601be",
            "idempotencyKey": "182760a2-5b6e-5e03-b4d0-1993abdda542",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-557955"
            }
          }
        }
      },
      "VoiceServiceChanges": {
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "The identifier of the voice platform.",
            "example": "platform123"
          },
          "ivrFlowId": {
            "type": "string",
            "description": "The identifier of the IVR flow associated with the voice service.",
            "example": "ivr-flow-456"
          },
          "supportedLanguages": {
            "type": "array",
            "description": "A list of supported languages for the voice service.",
            "items": {
              "type": "string",
              "description": "A supported language code (e.g., 'en-US', 'fr-FR').",
              "example": "en-US"
            }
          }
        },
        "description": "An object that encapsulates the modifications to the voice service."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier to track related requests.",
            "example": "corr-345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "An optional key used to ensure the request is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-05T14:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "VoiceApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Details about the request context, including identifiers and source information."
      },
      "ChannelInformation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., 'SMS', 'VOICE').",
            "example": "VOICE"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used in the communication channel.",
            "example": "device-1234"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "UpdateAdvancedVoiceServiceRes100045Response_200": {
        "title": "Response for Advanced Voice Services Management",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the successful response structure for the PATCH operation on advanced voice services management.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0ff2c8e3-7900-5b9f-b994-64b7946fac05",
            "correlationId": "cc977024-2dfc-51c8-8ada-2640a5d601be",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema holds metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-update-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-update-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication based on JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}