{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Details Retrieval API",
    "description": "The Transaction Details Retrieval API allows consumers to access detailed transaction information for specific accounts within the open banking framework. Using this API, developers can retrieve a comprehensive list of transactions based on the provided accountId, enabling businesses to provide insights into customer spending habits and financial activities. This API is particularly useful for financial institutions, fintech applications, and third-party service providers focused on enhancing user experience by integrating real-time transaction data into their platforms. Ensure to authenticate requests to maintain security and comply with financial data regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/transactions": {
      "get": {
        "tags": [
          "Account Transactions"
        ],
        "summary": "Retrieve transactions for a specific account.",
        "description": "This endpoint allows clients to fetch all transactions associated with the specified account ID, providing insight into financial activities and records.",
        "operationId": "getAispAccountTransactionsAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body used to retrieve transactions for a specific account identified by ACC-200045. The body should adhere to the specified schema for a successful request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispAccountTransactionsAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of transactions for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispAccountTransactionsAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispAccountTransactionsAcc200045Request": {
        "type": "string",
        "description": "This schema represents the request body for retrieving transaction data for a specific account.",
        "example": "{}"
      },
      "GetAispAccountTransactionsAcc200045Response_200": {
        "title": "Transaction Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "A list of transactions associated with the account.",
                "example": [
                  {
                    "AccountId": "string",
                    "id": "string",
                    "reference": "string",
                    "StatementReference": [
                      "string"
                    ],
                    "CreditDebitIndicator": "string",
                    "Status": "string",
                    "mutability": "string",
                    "BookingDateTime": "string",
                    "ValueDateTime": "string",
                    "information": "string",
                    "AddressLine": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    },
                    "ChargeAmount": {
                      "Amount": "string",
                      "Currency": "string"
                    },
                    "CurrencyExchange": {
                      "SourceCurrency": "string",
                      "TargetCurrency": "string",
                      "UnitCurrency": "string",
                      "ExchangeRate": 0.0,
                      "ContractIdentification": "string",
                      "QuotationDate": "string",
                      "InstructedAmount": {
                        "Amount": "string",
                        "Currency": "string"
                      }
                    },
                    "BankTransactionCode": {
                      "Code": "string",
                      "SubCode": "string"
                    },
                    "code": {
                      "Code": "string",
                      "Issuer": "string"
                    },
                    "ExtendedProprietaryBankTransactionCodes": [
                      {
                        "Code": "string",
                        "Issuer": "string",
                        "Description": "string"
                      }
                    ],
                    "Balance": {
                      "CreditDebitIndicator": "string",
                      "Type": "string",
                      "Amount": {
                        "Amount": "string",
                        "Currency": "string"
                      }
                    },
                    "MerchantDetails": {
                      "MerchantName": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/TransactionDetails"
                }
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "ID to correlate logs and requests."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the request was processed."
                  }
                },
                "description": "Meta information about the response.",
                "example": {
                  "responseId": "string",
                  "correlationId": "string",
                  "generatedAt": "string",
                  "processingRegion": "string"
                }
              }
            },
            "description": "Container for transaction details.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-487474",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-911"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          }
        },
        "description": "A response schema containing metadata and transaction data.",
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-487474",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-911"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "30580a67-e2dd-5391-b45d-146e86911043",
            "correlationId": "318d758c-3e8b-5963-9d0a-8a6d3eb8d186",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionDetails": {
        "title": "Transaction Details",
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the transaction."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction."
          },
          "StatementReference": {
            "type": "array",
            "description": "List of references associated with the statement.",
            "items": {
              "type": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator of whether the transaction is a credit or a debit."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction."
          },
          "mutability": {
            "type": "string",
            "description": "Indicates whether the transaction can be modified."
          },
          "BookingDateTime": {
            "type": "string",
            "description": "Date and time when the transaction was booked."
          },
          "ValueDateTime": {
            "type": "string",
            "description": "Date and time when the transaction value is effective."
          },
          "information": {
            "type": "string",
            "description": "Additional information about the transaction."
          },
          "AddressLine": {
            "type": "string",
            "description": "Address associated with the transaction."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The monetary amount."
              },
              "Currency": {
                "type": "string",
                "description": "Currency code of the amount."
              }
            },
            "description": "Amount associated with the transaction."
          },
          "ChargeAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Monetary charge amount."
              },
              "Currency": {
                "type": "string",
                "description": "Currency code of the charge amount."
              }
            },
            "description": "Charge amount related to the transaction."
          },
          "CurrencyExchange": {
            "type": "object",
            "properties": {
              "SourceCurrency": {
                "type": "string",
                "description": "Currency in which the initial amount is denominated."
              },
              "TargetCurrency": {
                "type": "string",
                "description": "Currency to which the amount has been converted."
              },
              "UnitCurrency": {
                "type": "string",
                "description": "Currency in which the exchange rate is quoted."
              },
              "ExchangeRate": {
                "type": "number",
                "description": "The exchange rate applied during the conversion."
              },
              "ContractIdentification": {
                "type": "string",
                "description": "Identifier for the contract related to the currency exchange."
              },
              "QuotationDate": {
                "type": "string",
                "description": "Date when the exchange rate was quoted."
              },
              "InstructedAmount": {
                "type": "object",
                "properties": {
                  "Amount": {
                    "type": "string",
                    "description": "Amount in the instructed currency."
                  },
                  "Currency": {
                    "type": "string",
                    "description": "Currency code of the instructed amount."
                  }
                },
                "description": "The amount that was instructed for conversion."
              }
            },
            "description": "Details regarding currency exchange, if applicable."
          },
          "BankTransactionCode": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "The bank transaction code."
              },
              "SubCode": {
                "type": "string",
                "description": "Additional sub-code for the bank transaction."
              }
            },
            "description": "Bank-specific transaction codes."
          },
          "code": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "The standard transaction code."
              },
              "Issuer": {
                "type": "string",
                "description": "The entity that issued the transaction code."
              }
            },
            "description": "Standard codes defined by the issuer."
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Additional proprietary transaction codes from banks.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Proprietary transaction code."
                },
                "Issuer": {
                  "type": "string",
                  "description": "The issuer of the proprietary transaction code."
                },
                "Description": {
                  "type": "string",
                  "description": "Description of the proprietary transaction code."
                }
              }
            }
          },
          "Balance": {
            "type": "object",
            "properties": {
              "CreditDebitIndicator": {
                "type": "string",
                "description": "Indicator if the balance is a credit or debit."
              },
              "Type": {
                "type": "string",
                "description": "Type of balance (available, current, etc.)."
              },
              "Amount": {
                "type": "object",
                "properties": {
                  "Amount": {
                    "type": "string",
                    "description": "The monetary amount of the balance."
                  },
                  "Currency": {
                    "type": "string",
                    "description": "Currency code of the balance amount."
                  }
                },
                "description": "Amount associated with the balance."
              }
            },
            "description": "Balance details related to the transaction."
          },
          "MerchantDetails": {
            "type": "object",
            "properties": {
              "MerchantName": {
                "type": "string",
                "description": "Name of the merchant."
              }
            },
            "description": "Information about the merchant involved in the transaction."
          }
        },
        "description": "Detailed information about a single transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-transactions"
        },
        "example": "accounts-api-get-accounts-account-id-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that made the request, useful for identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, wherein a token is included in the Authorization header to verify the user's identity. The expected format for the token is JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}