{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Payment Details API",
    "description": "The Loan Payment Details API allows consumers to access comprehensive information about specific payments associated with a given loan. By providing a loan ID and a payment ID, users can retrieve detailed payment data, including amounts, due dates, and status. This API is essential for financial institutions, loan servicers, and customers who need to monitor and manage loan payments efficiently. Typical use cases include auditing payment history and providing customer support related to loan transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve payment details for a specific loan.",
        "description": "This endpoint allows you to retrieve detailed information about a specific payment made towards a loan. You can use the loan ID and payment ID to access specific transaction data, including amount, date, and status.",
        "operationId": "getLoanPaymentDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving payment information associated with the specified loan and payment IDs. The JSON payload should adhere to the defined schema, which contains all necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanPaymentDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanPaymentDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanPaymentDetailsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for retrieving payment operation details related to a specific loan.",
        "example": "{}"
      },
      "GetLoanPaymentDetailsResponse_200": {
        "title": "Loan Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total amount involved in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date value of the payment as per accounting rules.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., credit card, bank transfer).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference related to the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "The installment numbers to which this payment is allocated.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32"
            }
          },
          "manualAllocation": {
            "description": "Details of any manual allocation of the payment.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A brief description or narrative of the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier of the payment.",
            "example": "8dafd251-3a80-8668-bbfd-89d466d0f8c7"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The payment number assigned.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the payment (e.g., Pending, Completed).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of how the payment amount was allocated.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "The transaction reference for tracking purposes.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "The date and time when the payment was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "8dafd251-3a80-8668-bbfd-89d466d0f8c7",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6d4692b1-53b9-5256-bd2d-651583cf7dcb",
            "correlationId": "43970106-5277-5074-bdf9-905aeb161101",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in string format, to accommodate precision.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money with a currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The allocated amount to the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The allocated amount to the interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The allocated amount to any fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The allocated amount to any penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "The allocated excess amount, if any.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of the manual allocation of different amounts in a payment."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The allocated amount to the principal.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The allocated amount to the interest.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The allocated amount to any fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The allocated amount to any penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "The allocated excess amount, if any.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details of the payment allocation to different components."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-loan-payment"
        },
        "example": "banking-loans-openapi-get-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens to grant access to resources. This format expects a JSON Web Token (JWT) as the credential.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}