{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Information API",
    "description": "The Corporate Lease Information API provides access to detailed information about corporate leasing options available within the banking framework. This endpoint allows users to retrieve data related to specific corporate leases by passing a designated parameter. Typical consumers of this API include financial institutions and businesses looking to manage or analyze their corporate leasing arrangements. By utilizing this API, stakeholders can streamline their leasing operations and enhance decision-making processes related to corporate finance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease/{param1}": {
      "get": {
        "tags": [
          "Corporate Lease"
        ],
        "summary": "Retrieve Corporate Lease Details",
        "description": "Fetch detailed information about a specific corporate lease using its unique identifier. This endpoint allows users to view the terms, conditions, and status of the lease.",
        "operationId": "getCorporateLeaseById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding the corporate lease operation identified by RES-100045. It contains specific parameters that define the filtration and sorting of the returned data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLeaseByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLeaseByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLeaseByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the GET operations related to the corporate lease in the deposit lending service.",
        "example": "{}"
      },
      "GetCorporateLeaseByIdResponse_200": {
        "title": "Corporate Lease Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-158414"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account.",
            "example": "ACC-645463"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product type.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount related to the corporate lease.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset being leased.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The estimated residual value of the leased asset at the end of the lease.",
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Total duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the lease record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the lease record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the lease record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the lease response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a corporate lease operation.",
        "example": {
          "customerId": "CUST-158414",
          "accountId": "ACC-645463",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bf98156a-eff2-51bf-9285-d0f49813bcbd",
            "correlationId": "ddd4e405-d345-5048-8a12-4482c796d4c8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount to be financed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the principal amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount of the corporate lease."
      },
      "ResidualValue": {
        "title": "Residual Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Estimated residual value of the asset.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the residual value.",
            "example": "string"
          }
        },
        "description": "Schema representing the residual value of the leased asset."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the lease response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-get-corporate-lease"
        },
        "example": "corporate-lease-get-corporate-lease"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer Authentication, which requires a token provided in the Authorization header. The token should be a JSON Web Token (JWT) that represents the user\u2019s identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}