{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payment Consents API",
    "description": "The International Payment Consents API supports the retrieval of payment consent information for international transactions. This endpoint enables authorized applications to access consent data necessary for processing international payments, ensuring compliant and secure transaction handling. Typical consumers include financial institutions and payment service providers that require visibility into existing payment consents for regulatory or operational purposes. By leveraging this API, developers can build solutions that enhance cross-border payment experiences for their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payment-consents/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve International Payment Consent Details",
        "description": "Fetches detailed information about the specified international payment consent based on its unique identifier. This endpoint allows developers to access consent data, including status and associated transaction information.",
        "operationId": "getInternationalPaymentConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching the international payment consent with the specified ID. This allows the user to retrieve the details of a specific consent in the payment processing system.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalPaymentConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the payment consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalPaymentConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalPaymentConsentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to international payment consents.",
        "example": "{}"
      },
      "GetInternationalPaymentConsentByIdResponse_200": {
        "title": "International Payment Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "title": "Payment Consent Data",
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the consent was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons associated with the current status.",
                "example": [
                  {
                    "code": "001",
                    "description": "Pending Review",
                    "Path": "/payments/consents"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "2023-10-01T14:00:00Z"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether refund account details are available.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cutoff date and time for processing the payment.",
                "example": "2023-10-02T15:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "The expected date and time for the execution of the payment.",
                "example": "2023-10-03T12:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "The expected date and time of settlement of the payment.",
                "example": "2023-10-03T18:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [
                  {
                    "ChargeBearer": "SHA",
                    "Type": "Fee",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Data related to the international payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD",
                  "ContractIdentification": "STANDARD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service"
                }
              }
            }
          }
        },
        "description": "Response schema for international payment consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service"
              }
            }
          },
          "metadata": {
            "responseId": "a88666cd-d04a-5a12-a32b-e4e21461593a",
            "correlationId": "7aa0c390-0479-5824-8bcc-41dd175d4041",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code indicating the reason for the status.",
            "example": "001"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the reason.",
            "example": "Pending Review"
          },
          "Path": {
            "type": "string",
            "description": "The path related to the status reason.",
            "example": "/payments/consents"
          }
        },
        "description": "Reason for the status of the payment consent."
      },
      "Charge": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges.",
            "example": "SHA"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "Fee"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "USD"
              }
            },
            "description": "Amount details for the charge."
          }
        },
        "description": "Details of the charges associated with the payment."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency in which the exchange rate is expressed.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "Ratio of the currency being converted to the unit currency.",
            "example": 1.2
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate, e.g., fixed or floating.",
            "example": "FIXED"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Contract ID associated with the exchange rate.",
            "example": "CONTRACT-123"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration date and time for the exchange rate.",
            "example": "2023-10-02T23:59:59Z"
          }
        },
        "description": "Contains details regarding exchange rates for cross-currency transactions."
      },
      "Initiation": {
        "title": "Payment Initiation Details",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identification of the payment instruction.",
            "example": "INSTRUCTION-001"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Unique identifier for the transaction that ends the payment.",
            "example": "E2E-001"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "NORMAL"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "Invoice Payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges.",
            "example": "SHA"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency of the transfer amount.",
            "example": "EUR"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the destination of the payment.",
            "example": "DE"
          },
          "InstructedAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount for the instruction.",
                "example": "100.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the instructed amount.",
                "example": "EUR"
              }
            },
            "description": "Amount that is being instructed to be transferred."
          },
          "ExchangeRateInformation": {
            "description": "Exchange rate information for this payment initiation.",
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "DebtorAccount": {
            "type": "object",
            "properties": {
              "SchemeName": {
                "type": "string",
                "description": "Name of the scheme for the account.",
                "example": "IBAN"
              }
            },
            "description": "Account details of the debtor."
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The identifier for the endpoint that processed the request. This ID is used for tracing the request in the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment-consent"
        },
        "example": "payment-initiation-openapi-get-international-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request. This provides context on the environment where the request was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that leverages JSON Web Tokens (JWT) for secure access. Ensure to include the token in the Authorization header as 'Bearer {token}' in your requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}