{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Email Dispatch API",
    "description": "The Email Dispatch API facilitates the efficient sending of emails within business applications. It allows users to programmatically send transactional and promotional emails to customers, enhancing communication and engagement. This API streamlines workflows for developers looking to integrate email capabilities into their services, ensuring timely delivery of important messages. Common consumers include e-commerce platforms, marketing tools, and customer relationship management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email": {
      "post": {
        "tags": [
          "Email Services"
        ],
        "summary": "Send an email notification.",
        "description": "This endpoint allows you to send an email notification to specified recipients. You must provide the email content and recipient details within the request body.",
        "operationId": "sendEmail",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to send an email with the specified details. It should include all necessary parameters for email dispatch, including the recipient's address, subject, body, and any attachments if applicable.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SendEmailRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language in which the email should be sent.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The identifier for the partner sending the email.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer receiving the email.",
            "example": "CUST-921150"
          },
          "consumerId": {
            "type": "string",
            "description": "The identifier for the consumer related to the email.",
            "example": "STANDARD"
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to which the user should be redirected after the email action.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "Webhook URL to send asynchronous notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook payload.",
            "example": "STANDARD"
          },
          "email": {
            "description": "Email object containing the details of the message being sent.",
            "$ref": "#/components/schemas/Email"
          },
          "experience": {
            "type": "string",
            "description": "Description of the user experience related to the email.",
            "example": "STANDARD"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Specify if the URL is a single-use link.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for the email to be valid (as a Unix timestamp).",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields for reporting purposes.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomField"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for sending an email operation.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "customerId": "CUST-921150",
          "consumerId": "STANDARD",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "singleUseUrl": true,
          "fromDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD"
            }
          ],
          "requestContext": {
            "requestId": "bc96b757-1981-5818-aaa1-e210339117cc",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "idempotencyKey": "84dc6f0a-0f8f-5351-89c7-e89a0cbef190",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-227953"
            }
          }
        }
      },
      "Email": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient's email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender's email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Contact phone number for support.",
            "example": "+123456789"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Welcome to our service!"
          },
          "firstName": {
            "type": "string",
            "description": "Recipient's first name.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Acme Corp"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "123 Main St, Anytown, USA"
          },
          "signature": {
            "type": "array",
            "description": "Signature block to be included in the email.",
            "items": {
              "type": "string",
              "example": "Best regards,\nAcme Corp Team"
            }
          }
        },
        "description": "Details of the email to be sent."
      },
      "CustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "Order ID"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "ORD123456"
          }
        },
        "description": "Custom fields for reporting purposes containing a label and a value."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "correlation_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "key_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of the request.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system of the request.",
            "example": "system_ABC"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "app_XYZ"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., email, SMS).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used by the channel.",
            "example": "device_123"
          }
        },
        "description": "Information about the communication channel used in the request."
      },
      "SendEmailResponse_200": {
        "title": "Send Email Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the email operation.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the send email operation, containing a link and configuration details.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "ecee59f7-11f4-5924-a3be-55ff69364f74",
            "correlationId": "2c47ccf7-2024-56a4-a705-97d007faf303",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "title": "Email Configuration",
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support phone number.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Welcome to Our Service"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example Institution"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "123 Example St, Example City, EC 12345"
          },
          "signature": {
            "type": "array",
            "description": "An array of strings representing the email signature elements.",
            "items": {
              "type": "string",
              "example": "Best Regards"
            }
          }
        },
        "description": "Schema representing the configuration details for the email sent."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the request.",
            "example": "corr_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the email was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata about the email response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-connect-email"
        },
        "example": "open-finance-api-send-connect-email"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens. A valid JWT (JSON Web Token) must be provided in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}