{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fixed Asset Register Management API",
    "description": "The Fixed Asset Register Management API provides businesses with a comprehensive solution for updating and managing their fixed asset records. This API allows users to modify details related to their fixed assets, ensuring up-to-date information for effective financial and operational reporting. Typical consumers of this API include finance teams, asset managers, and IT administrators responsible for maintaining accurate asset records. Utilize this endpoint to streamline asset data management within your enterprise systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "put": {
        "tags": [
          "Fixed Asset Management"
        ],
        "summary": "Update Fixed Asset Register",
        "description": "This operation allows you to update the details of the fixed asset register, ensuring your asset information is current and accurate. Use this endpoint to modify existing records as needed.",
        "operationId": "updateFixedAssetRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the fixed asset register. It requires a JSON object that includes all necessary fields to modify an existing record in the register.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFixedAssetRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFixedAssetRegisterResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateFixedAssetRegisterRequest": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "assetClass": {
            "type": "string",
            "description": "The class or category of the asset.",
            "example": "STANDARD"
          },
          "acquisitionDate": {
            "type": "string",
            "description": "The date when the asset was acquired.",
            "example": "2026-09-15"
          },
          "acquisitionCost": {
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "The useful life of the asset in months.",
            "format": "int32",
            "example": 1
          },
          "costCenter": {
            "type": "string",
            "description": "The cost center associated with the asset.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a fixed asset register.",
        "example": {
          "assetId": "STANDARD",
          "assetClass": "STANDARD",
          "acquisitionDate": "2026-09-15",
          "acquisitionCost": {
            "amount": 100.0,
            "currency": "USD"
          },
          "usefulLifeMonths": 1,
          "costCenter": "STANDARD",
          "requestContext": {
            "requestId": "646125b8-01fc-552b-9ef1-01bc04737c6d",
            "correlationId": "bb5d610f-ac2f-5596-a63b-21045e7d91aa",
            "idempotencyKey": "18c1c79d-5714-5f92-a847-0c976ae29201",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-482579"
            }
          }
        }
      },
      "AcquisitionCost": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total cost of acquiring the asset.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the acquisition cost is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the acquisition cost of an asset."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the operation.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device making the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information of the request."
      },
      "UpdateFixedAssetRegisterResponse_200": {
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "The version of the asset record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the asset.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the asset was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the asset, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the successful update of a fixed asset record.",
        "example": {
          "assetId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "329d78c8-8d07-5946-a156-584a03fd8cae",
            "correlationId": "bb5d610f-ac2f-5596-a63b-21045e7d91aa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to trace requests and responses across systems.",
            "example": "correlation-91011"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the asset took place.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata that provides additional context or tracking for the asset operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-upsert-fixed-asset-register"
        },
        "example": "fixed-asset-register-upsert-fixed-asset-register"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header for requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}