{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payment Consents Retrieval API",
    "description": "This API allows users to retrieve details regarding domestic payment consents within the open banking framework. It enables financial institutions and third-party service providers to access specific consent information related to payment transactions. Typical consumers include banking applications and fintech services that require consent verification for processing domestic payments. By utilizing this API, developers can efficiently manage consent lifecycle and enhance payment processing security.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents/{param1}": {
      "get": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Retrieve Domestic Payment Consent Details",
        "description": "This endpoint allows users to fetch detailed information about a specific domestic payment consent identified by its unique reference. It's essential for tracking and managing payment consents within the PISP framework.",
        "operationId": "getDomesticPaymentConsentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves domestic payment consent information for a specific consent ID. It contains necessary details to identify and process the consent request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticPaymentConsentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticPaymentConsentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticPaymentConsentRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on domestic payment consents.",
        "example": "{}"
      },
      "GetDomesticPaymentConsentRes100045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains details about the domestic payment consent.",
            "$ref": "#/components/schemas/PaymentConsentData"
          }
        },
        "description": "The response schema for the GET operation on domestic payment consents.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "6033b0db-6e24-54c5-95e6-4e29c6673ad0",
            "correlationId": "f9eb10da-4fdc-5817-b5cc-7c008cb04517",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the consent.",
            "example": "Pending"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the status of the consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "The account to which any refunds will be read.",
            "example": "string"
          },
          "CutOffDateTime": {
            "type": "string",
            "description": "Cut off time for executing the payment.",
            "example": "2023-10-01T12:00:00Z"
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "The expected date and time for the execution of the payment.",
            "example": "2023-10-02T12:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "The expected settlement date and time for the payment.",
            "example": "2023-10-03T12:00:00Z"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the payment consent.",
            "items": {
              "$ref": "#/components/schemas/ChargeDetail"
            }
          },
          "Initiation": {
            "description": "Contains the initiation details of the payment.",
            "$ref": "#/components/schemas/PaymentInitiation"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Details regarding the payment consent."
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason.",
            "example": "SD01"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason.",
            "example": "Transaction Pending"
          },
          "Path": {
            "type": "string",
            "description": "Path for more information about the status reason.",
            "example": "/status/reasons/SD01"
          }
        },
        "description": "Describes a reason for a status change."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "SHA"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Fee"
          },
          "Amount": {
            "description": "The amount of the charge.",
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details regarding the charges associated with the payment."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric value of the charge amount.",
            "example": "10.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the charge amount.",
            "example": "USD"
          }
        },
        "description": "The amount of a charge along with its currency."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "IN12345678"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identification for tracking the transaction.",
            "example": "E2E123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument being used for the payment.",
            "example": "SEPA"
          },
          "InstructedAmount": {
            "description": "The amount that is being instructed for payment.",
            "$ref": "#/components/schemas/AmountCurrency"
          },
          "DebtorAccount": {
            "description": "Details about the debtor's account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "CreditorAgent": {
            "description": "Details about the creditor's agent.",
            "$ref": "#/components/schemas/AgentDetail"
          }
        },
        "description": "Initiation details for the payment."
      },
      "AmountCurrency": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount for the transaction.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "EUR"
          }
        },
        "description": "The amount and currency for transactions."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme used for identification.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the account, if any.",
            "example": "1234"
          },
          "Proxy": {
            "description": "Proxy information for the account, if applicable.",
            "$ref": "#/components/schemas/ProxyDetail"
          }
        },
        "description": "Details of the debtor's bank account."
      },
      "ProxyDetail": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification for the proxy.",
            "example": "proxyID123"
          },
          "Code": {
            "type": "string",
            "description": "Code defining the type of proxy.",
            "example": "email"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy used (e.g., email, phone number).",
            "example": "email"
          }
        },
        "description": "Details about the proxy associated with the account."
      },
      "AgentDetail": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme used for identification.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the agent.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "Name of the agent.",
            "example": "Bank XYZ"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the agent.",
            "example": "LEI123456789"
          },
          "PostalAddress": {
            "description": "Postal address details of the agent.",
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details about the agent for the creditor."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "Business"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization, if applicable.",
            "example": "Finance"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization, if applicable.",
            "example": "Accounts Payable"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street for the address.",
            "example": "Main Street"
          }
        },
        "description": "Represents the postal address of a party."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment-consent"
        },
        "example": "payment-initiation-openapi-get-domestic-payment-consent"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, which should be a JSON Web Token (JWT). This token should be included in the Authorization header of the request to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}