{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Authority Updates API",
    "description": "The Regulatory Authority Updates API enables businesses to modify existing regulatory authority information within the corporate relations framework. This API provides essential functionalities for updating attribute details of regulatory authorities, ensuring that businesses maintain accurate and compliant relationships. It is typically used by financial institutions and compliance officers to ensure adherence to regulatory requirements. With streamlined operations, organizations can efficiently manage their regulatory data and enhance their corporate governance practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/regulatory-authorities/{param1}": {
      "patch": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Update Regulatory Authority",
        "description": "This endpoint allows for updating the details of a specific regulatory authority identified by its unique reference ID. Ensure to provide all the necessary information to successfully update the record.",
        "operationId": "patchCorporateRelationsRegulatoryAuthorityRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the regulatory authority's information for the specified entity. This data should include all necessary fields that are subject to modification. Ensure that the information adheres to the schema definition to facilitate accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCorporateRelationsRegulatoryAuthorityRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCorporateRelationsRegulatoryAuthorityRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCorporateRelationsRegulatoryAuthorityRes100045Request": {
        "title": "Regulatory Authorities Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing metadata about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for patching regulatory authorities operations.",
        "example": {
          "changes": {
            "stakeholderId": "STANDARD",
            "engagementId": "STANDARD",
            "subject": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "960ec7f8-311d-534f-b694-02661d590349",
            "correlationId": "c90796e6-f7b0-53eb-a123-0026527ce13c",
            "idempotencyKey": "a2751250-29cd-5408-a686-44fdd98c8256",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-944449"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier of the stakeholder whose details are to be changed.",
            "example": "stakeholder-001"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement session.",
            "example": "engagement-001"
          },
          "subject": {
            "type": "string",
            "description": "The subject or title associated with the changes.",
            "example": "Change in contact details"
          }
        },
        "description": "An object representing the individual changes to be made in the request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "correlation-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is idempotent.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time at which the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request is originating.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application from which the request is made.",
            "example": "RegulatoryApp"
          },
          "channel": {
            "description": "The channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "An object containing metadata about the request context."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used, e.g., Email, SMS, Web.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device from which the request is made.",
            "example": "device-001"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "PatchCorporateRelationsRegulatoryAuthorityRes100045Response_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for operations related to regulatory authorities.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1518c9b7-2a0c-5ffc-b297-2b12c30c6021",
            "correlationId": "c90796e6-f7b0-53eb-a123-0026527ce13c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation between requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata associated with the operation response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-097"
        },
        "example": "WF-097"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cfeea5ec-30d5-4e1f-bde3-2cd9f8d6b6ea"
        },
        "example": "cfeea5ec-30d5-4e1f-bde3-2cd9f8d6b6ea"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "64d75ff6-dd1d-4658-899b-8f01e7d4458e"
        },
        "example": "64d75ff6-dd1d-4658-899b-8f01e7d4458e"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-and-legal-authority-update-regulatory-and-legal-authority"
        },
        "example": "regulatory-and-legal-authority-update-regulatory-and-legal-authority"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      },
      "X-Workflow-Id": {
        "description": "The identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-097"
        },
        "example": "WF-097"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "M&A Advisory Engagement and Deal Execution"
        },
        "example": "M&A Advisory Engagement and Deal Execution"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "64d75ff6-dd1d-4658-899b-8f01e7d4458e"
        },
        "example": "64d75ff6-dd1d-4658-899b-8f01e7d4458e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method that requires a JSON Web Token (JWT) for authorization. Clients must include this token in the Authorization header when making requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}