{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Compliance Reporting API",
    "description": "The Compliance Reporting API facilitates the retrieval of compliance reports related to banking activities. It enables financial institutions to access comprehensive reports that outline adherence to regulatory requirements and standards. Typical consumers include compliance officers and auditors who need timely access to compliance data for review and analysis. This API streamlines the process of obtaining critical information to ensure transparency and regulatory compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/compliance-reporting": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve compliance reporting details.",
        "description": "This endpoint allows users to fetch the details of compliance reporting, providing insights into various compliance metrics and statuses. Use this to monitor compliance adherence and performance over relevant reporting periods.",
        "operationId": "getComplianceReporting",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving compliance reporting data. Ensure that the structure matches the expected schema as defined in the documentation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceReportingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning compliance report data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceReportingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceReportingRequest": {
        "title": "Compliance Reporting Request Body",
        "type": "string",
        "description": "Schema representing the request body for compliance reporting operations.",
        "example": "{}"
      },
      "GetComplianceReportingResponse_200": {
        "title": "Compliance Reporting Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of compliance report items related to the submission.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ComplianceReportItem"
            }
          },
          "pagination": {
            "description": "Pagination details for navigating through the compliance reporting items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria used for sorting the compliance report items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response received from the compliance reporting operation, containing an array of reporting items, pagination details, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "de1561e3-ba33-5a96-ba47-6ff06dfff89f",
            "correlationId": "46c3b5d2-fe78-5483-98d2-118faf8bb241",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceReportItem": {
        "title": "Compliance Report Item",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "12345"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "abcde"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the report is filed.",
            "example": "USA"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the compliance report.",
            "example": "2023-01"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the report is filed.",
            "example": "Reg A"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for filing the compliance report.",
            "example": "2023-02-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "submitted"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2023-02-10"
          }
        },
        "description": "Schema representing a single compliance report item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number being viewed.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema for pagination details in a list of items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of this response with requests.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-02-14T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the response was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "compliance-reporting-search-compliance-reporting"
        },
        "example": "compliance-reporting-search-compliance-reporting"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of Bearer Authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}