{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Delivery Management API",
    "description": "The Document Delivery Management API facilitates the creation and submission of various banking documents within the microservice architecture. This API enables businesses to process a wide range of document types efficiently, supporting financial institutions and service providers in documenting transactions and communications. Typical consumers include banking applications and financial service platforms that require seamless document workflows. By leveraging this API, users can enhance their document handling capabilities while ensuring compliance and timely delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services": {
      "post": {
        "tags": [
          "Document Services"
        ],
        "summary": "Create a new document service.",
        "description": "This endpoint allows users to create a new document service within the system. Ensure that all required parameters are included in the request to successfully create the service.",
        "operationId": "createDocumentService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new document service operation. Ensure that the request follows the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocumentServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the document service request was successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentServiceResponse_201"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable entity; the request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentServiceResponse_422"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred while processing the request.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocumentServiceResponse_500"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDocumentServiceResponse_201": {
        "title": "Document Creation Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier for the created document.",
            "example": "DOC-898076"
          },
          "ownerId": {
            "type": "string",
            "description": "The unique identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier associated with the resource related to the document.",
            "example": "RES-916549"
          },
          "status": {
            "type": "string",
            "description": "The current status of the document.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the document was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "This schema represents the response structure when a document is successfully created.",
        "example": {
          "documentId": "DOC-898076",
          "ownerId": "STANDARD",
          "resourceId": "RES-916549",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "da0e5b4c-faa5-5ee1-bade-800b2fd8c9d9",
            "correlationId": "0c8c0963-61ec-5bcc-8c52-d03e25fb381d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated by the system.",
            "example": "response-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses together.",
            "example": "correlation-xyz"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T12:35:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the document was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information associated with the created document."
      },
      "CreateDocumentServiceResponse_422": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, useful for tracing and debugging.",
            "example": "290955a4-fe84-4e51-8eaa-43c495a3a35e"
          },
          "code": {
            "type": "string",
            "description": "A short code representing the type of error.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow where the error occurred.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing more details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          }
        },
        "description": "This schema represents the response structure for an error occurring during the POST operation for document services.",
        "example": {
          "correlationId": "290955a4-fe84-4e51-8eaa-43c495a3a35e",
          "code": "RISK_REVIEW_REJECTED",
          "workflow": "WF-042",
          "message": "Enhanced fraud/compliance review rejected the request"
        }
      },
      "CreateDocumentServiceRequest": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-803521"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., invoice, report).",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification of the document for organization purposes.",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention policy class for the document, indicating the duration it should be kept.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner or creator of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document file.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for document service operations, specifically for creating or updating documents.",
        "example": {
          "documentId": "DOC-803521",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "requestContext": {
            "requestId": "fa0632fd-673f-5e29-a691-04024f10c4c3",
            "correlationId": "0c8c0963-61ec-5bcc-8c52-d03e25fb381d",
            "idempotencyKey": "ea3cfd1d-e543-529f-946d-e7a56a832c59",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-381199"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests or operations.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the operation is idempotent.",
            "example": "idemp-67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system initiating the request.",
            "example": "DocManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from where the request originated.",
            "example": "DocumentUploader"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request for tracking and logging purposes."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, web, mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device used to make the request.",
            "example": "device-67890"
          }
        },
        "description": "Information about the channel through which the request was received."
      },
      "CreateDocumentServiceResponse_500": {
        "title": "Error Response for Document Service Operations",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code associated with the failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "The hop number after which the request failed. This helps in identifying where in the process the error occurred.",
            "format": "int32",
            "example": 3
          },
          "workflow": {
            "type": "string",
            "description": "The workflow identifier indicating which workflow was being executed when the error occurred.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message explaining the error that occurred.",
            "example": "A required core banking dependency is unavailable"
          }
        },
        "description": "This schema represents the structure of the error response returned from the Document Service when an operation fails with a 500 status code.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "failedAfterHop": 3,
          "workflow": "WF-042",
          "message": "A required core banking dependency is unavailable"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "b493aca2-8ee3-4e08-b1b8-1419f6b1e9fd"
        },
        "example": "b493aca2-8ee3-4e08-b1b8-1419f6b1e9fd"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2"
        },
        "example": "2"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "SYSTEM_FAILURE"
        },
        "example": "SYSTEM_FAILURE"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "df0dee16-04f4-4147-8866-270f6a874324"
        },
        "example": "df0dee16-04f4-4147-8866-270f6a874324"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_422",
            "MICROSERVICE_PROD_500"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-create-document-services"
        },
        "example": "document-services-create-document-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Account Takeover Investigation and Freeze"
        },
        "example": "Account Takeover Investigation and Freeze"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "REJECTED"
        },
        "example": "REJECTED"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6de132d1-ecf1-4410-96ba-3d211679fa81"
        },
        "example": "6de132d1-ecf1-4410-96ba-3d211679fa81"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A valid JWT (JSON Web Token) must be included in the authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}