{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Analysis API",
    "description": "The Investment Portfolio Analysis API offers essential insights into an investor's portfolio performance by analyzing various investment parameters. This API allows users to retrieve detailed information about their investment holdings, asset allocations, and performance metrics. Financial analysts, portfolio managers, and other stakeholders can leverage this data for assessment and strategic planning. By utilizing this API, users can make informed decisions to optimize investment strategies and enhance financial outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis/{param1}": {
      "get": {
        "tags": [
          "Investment Portfolio Management"
        ],
        "summary": "Retrieve Investment Portfolio Analysis",
        "description": "This endpoint allows users to fetch the investment portfolio analysis for the specified resource ID. It provides insights into the portfolio's performance, allocation, and other key metrics, enabling informed decision-making.",
        "operationId": "getInvestmentPortfolioAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate an analysis of the investment portfolio with the identifier RES-100045. It contains necessary parameters for evaluating the portfolio's performance and risk profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentPortfolioAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the investment portfolio analysis details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentPortfolioAnalysisRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentPortfolioAnalysisRes100045Request": {
        "type": "string",
        "description": "Represents the request body for the investment portfolio analysis operation. This schema is expected to be a JSON string with specific formatting.",
        "example": "{}"
      },
      "GetInvestmentPortfolioAnalysisRes100045Response_200": {
        "title": "Investment Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the investment portfolio.",
            "example": "PORT-304544"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-799930"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective for investing within this portfolio.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "Description of the risk tolerance level associated with the portfolio.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency in which the portfolio is denominated.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the investment portfolio record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the portfolio record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the portfolio details were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the investment portfolio analysis operation.",
        "example": {
          "portfolioId": "PORT-304544",
          "investmentAccountId": "ACC-799930",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "82bf2732-8f70-55f3-9ee2-125772e07ef2",
            "correlationId": "c372fe77-5f49-5792-ba55-09294f8a9c39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request-response correlation.",
            "example": "COR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the investment portfolio analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was accessed. This helps in tracking and monitoring specific requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-get-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-get-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This can be useful for debugging and understanding the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where a JSON Web Token (JWT) is provided in the request header. The token should be included in the 'Authorization' header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}