{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Archive Services Retrieval API",
    "description": "The Archive Services Retrieval API enables users to access archived banking documents with ease. This API provides essential capabilities for retrieving historical records related to banking transactions, ensuring users can efficiently manage their document archives. Typical consumers include financial institutions, accountants, and auditors who require access to archived information for compliance and review purposes. By offering a streamlined way to obtain these documents, the API enhances operational efficiency and support for various banking processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve archive services for documents.",
        "description": "This endpoint allows users to retrieve the available archive services associated with documents. It provides insights into the various options for archiving documents efficiently.",
        "operationId": "getArchiveServicesForDocuments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended to facilitate the retrieval of archive service documents. It outlines the required structure and parameters needed to successfully execute the GET operation for accessing archived documents.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetArchiveServicesForDocumentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved archive services data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArchiveServicesForDocumentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetArchiveServicesForDocumentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to archive services.",
        "example": "{}"
      },
      "GetArchiveServicesForDocumentsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of document objects retrieved from the archive.",
            "example": [
              {
                "documentId": "DOC-590354",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the documents.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for retrieving documents from the archive services.",
        "example": {
          "items": [
            {
              "documentId": "DOC-590354",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "090bd032-b82e-50bc-b854-d92ae18033fe",
            "correlationId": "58fa1b57-378e-5036-aa21-11c04619a1dc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "12345"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., pdf, docx).",
            "example": "pdf"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the document (e.g., confidential).",
            "example": "confidential"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class assigned to the document.",
            "example": "permanent"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "user_001"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "document.pdf"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document file.",
            "example": "application/pdf"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document file for integrity verification.",
            "example": "abcdef1234567890"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record (e.g., active, archived).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a document in the archive system."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination metadata for the document list response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-search-archive-services"
        },
        "example": "archive-services-search-archive-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses bearer tokens to authenticate users. This method utilizes JSON Web Tokens (JWT) to securely transmit information between parties, requiring the user to include the token in the 'Authorization' header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}