{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brokered Product Update API",
    "description": "The Brokered Product Update API facilitates the modification of existing brokered product details within the banking system. It allows authorized users to update attributes related to consumer services, ensuring that product information is current and accurate. This functionality is crucial for financial institutions and service providers, enabling them to maintain competitive offerings and enhance customer satisfaction. Typical consumers of this API include banking applications, CRM systems, and financial service platforms that require real-time product updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product/{param1}": {
      "patch": {
        "tags": [
          "Brokered Product"
        ],
        "summary": "Update Brokered Product Details",
        "description": "This endpoint allows you to update the details of a specific brokered product identified by its unique ID. Ensure to provide the necessary data in the request body to successfully perform the update operation.",
        "operationId": "updateBrokeredProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the brokered product identified by PROD-700045. This body should include the necessary fields to modify the existing product attributes according to the business logic.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBrokeredProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the updated resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateBrokeredProductResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateBrokeredProductRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes being requested for the product.",
            "$ref": "#/components/schemas/ProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating the brokered product operations.",
        "example": {
          "changes": {
            "customerId": "CUST-233653",
            "serviceRequestId": "b5730a0a-5f41-50d2-bba3-a0de974de14b",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "a6012ad8-eefd-5143-8d42-c8fc04fe1143",
            "correlationId": "168ae5fb-20b6-5858-8a35-a0fcec2659b6",
            "idempotencyKey": "3903fe86-48f8-5d82-b5be-15b86ec41955",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-865327"
            }
          }
        }
      },
      "ProductChanges": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the product change.",
            "example": "cust-001"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The identifier for the service request related to this change.",
            "example": "req-123"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product that is being updated.",
            "example": "PROD-500"
          }
        },
        "description": "Represents the specific changes being made to a product."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that links multiple related requests.",
            "example": "corr-xyz-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests do not result in duplicate operations.",
            "example": "idemp-keys-0001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The time at which the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides context for the operation request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., 'web', 'mobile', etc.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request originated.",
            "example": "device-123"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateBrokeredProductResponse_200": {
        "title": "Brokered Product Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the brokered product.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the brokered product operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the brokered product was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the brokered product operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on a brokered product.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fc6b2241-9444-541f-a65a-b823a8a11985",
            "correlationId": "168ae5fb-20b6-5858-8a35-a0fcec2659b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata containing additional information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-update-brokered-product"
        },
        "example": "brokered-product-update-brokered-product"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that handled the request, aiding in troubleshooting and performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where the client must send a JSON Web Token (JWT) as part of the HTTP authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}