{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Allocation Management API",
    "description": "The Collateral Allocation Management API provides essential capabilities for managing and monitoring collateral allocations within a banking environment. It allows users to access detailed information regarding collateral distribution and availability, ensuring efficient management of risk and assets. This API is particularly useful for financial analysts, risk management teams, and portfolio managers who need to make informed decisions based on real-time data. By leveraging this API, institutions can optimize their collateral usage and enhance their overall financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-allocation-management": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve collateral allocation management data.",
        "description": "This endpoint allows you to retrieve detailed information about collateral allocation management, providing insights into the status and organization of collateral assets.",
        "operationId": "getCollateralAllocationManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary parameters for retrieving collateral allocation information. Ensure that the JSON structure adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCollateralAllocationManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the allocated collateral data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCollateralAllocationManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCollateralAllocationManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the collateral allocation management context.",
        "example": "{}"
      },
      "GetCollateralAllocationManagementResponse_200": {
        "title": "Collateral Allocation Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of collateral allocation items.",
            "example": [
              {
                "collateralId": "STANDARD",
                "partyId": "PARTY-396540",
                "assetType": "STANDARD",
                "marketValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "valuationDate": "2026-09-15",
                "securedExposureId": "STANDARD",
                "haircutPercent": 100.0,
                "lienStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CollateralAllocationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information related to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "A response schema representing the results of a collateral allocation management request, including items, pagination, sort information, and metadata.",
        "example": {
          "items": [
            {
              "collateralId": "STANDARD",
              "partyId": "PARTY-396540",
              "assetType": "STANDARD",
              "marketValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "valuationDate": "2026-09-15",
              "securedExposureId": "STANDARD",
              "haircutPercent": 100.0,
              "lienStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c3635dd9-5e28-50e6-b974-f5eb433ff881",
            "correlationId": "49e1c031-b164-5b4e-abee-0381a0bb3323",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CollateralAllocationItem": {
        "title": "Collateral Allocation Item",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral."
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral."
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset being used as collateral."
          },
          "marketValue": {
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the collateral was valued."
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral."
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage reduction applied to the market value for risk management purposes."
          },
          "lienStatus": {
            "type": "string",
            "description": "Lien status of the collateral."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the collateral record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the collateral record."
          }
        },
        "description": "Represents an individual collateral allocation item with detailed information."
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The market value amount of the collateral asset."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the market value is denominated."
          }
        },
        "description": "Represents the market value of a collateral asset, including the amount and currency."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information related to pagination of the response."
      },
      "MetadataInfo": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the response was processed."
          }
        },
        "description": "Metadata associated with the response, providing additional context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-allocation-management-search-collateral-allocation-management"
        },
        "example": "collateral-allocation-management-search-collateral-allocation-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, helpful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication using JSON Web Tokens (JWT). Clients must include a valid JWT token in the Authorization header of requests to gain access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}