{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicated Loan Details API",
    "description": "The Syndicated Loan Details API provides users with access to specific information about syndicated loans. This endpoint allows developers to retrieve detailed records, including terms, conditions, and borrower information for a given loan identifier. It is designed for financial institutions and developers working in banking, enabling them to integrate loan data into their applications seamlessly. Typical consumers include loan officers, risk managers, and financial analysts who require accurate loan documentation to make informed decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan/{param1}": {
      "get": {
        "tags": [
          "Syndicated Loan"
        ],
        "summary": "Retrieve details of a specific syndicated loan.",
        "description": "This endpoint allows you to fetch detailed information about a specific syndicated loan using its unique identifier. Utilize this API to access relevant data regarding the loan, including its terms, participants, and current status.",
        "operationId": "getSyndicatedLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific syndicated loan identified by LOAN-500045. Ensure all required fields are included in the request to receive the accurate loan details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSyndicatedLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSyndicatedLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSyndicatedLoanByIdRequest": {
        "title": "Syndicated Loan Operations Request Body",
        "type": "string",
        "description": "A string representation of the request body for the Syndicated Loan Operations GET request.",
        "example": "{}"
      },
      "GetSyndicatedLoanByIdResponse_200": {
        "title": "Loan Response",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier of the corporate customer.",
            "example": "CUST-250471"
          },
          "facilityId": {
            "type": "string",
            "description": "The unique identifier of the facility associated with the loan.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the loan.",
            "example": "PARTY-941428"
          },
          "amount": {
            "description": "The amount of the loan including value and currency.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the loan matures.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a loan request.",
        "example": {
          "corporateCustomerId": "CUST-250471",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-941428",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2ee16688-8924-5797-bb47-15332a193741",
            "correlationId": "d7669d2f-4b48-52b7-a5d4-4484f8237a57",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the loan amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the loan amount, following ISO 4217 standards.",
            "example": "USD"
          }
        },
        "description": "Schema representing the monetary amount and currency of the loan."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP223344"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "CORR556677"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "NA"
          }
        },
        "description": "Schema providing metadata for the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-get-syndicated-loan"
        },
        "example": "syndicated-loan-get-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens that follow the JWT (JSON Web Token) format, which is commonly used for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}