{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Training Management API",
    "description": "The Product Training Management API enables businesses to initiate and manage training programs for their banking products. It allows organizations to efficiently create and customize training modules aimed at enhancing employee knowledge and customer service. Ideal for training coordinators and human resources, this API streamlines the training process by providing a centralized platform for creation and management. Utilize this API to ensure your staff is well-informed about product features and updates, ultimately improving customer interactions and satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-training": {
      "post": {
        "tags": [
          "Product Training"
        ],
        "summary": "Create a new product training session.",
        "description": "This endpoint allows users to create a new training session for a product, providing necessary details and resources to successfully onboard users and teams.",
        "operationId": "postProductManagementTraining",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to initiate product training in the product management system. It expects a JSON object that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostProductManagementTrainingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The product training resource has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostProductManagementTrainingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostProductManagementTrainingRequest": {
        "title": "Product Training Operation Request Body",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers targeted by the product.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for pricing the product.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product is effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a new product training operation request.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "3ee1f8e4-b720-58ee-995b-6496454435e3",
            "correlationId": "bacd59e8-8e4c-57da-9231-068cf6ba2d8b",
            "idempotencyKey": "437f824d-98bd-5a5c-a813-0b6100442f4d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-635045"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotent-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Web Portal"
          },
          "channel": {
            "description": "The channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for tracking the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "device-456"
          }
        },
        "description": "Details about the channel used to make the request."
      },
      "PostProductManagementTrainingResponse_201": {
        "title": "Product Training Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-793388"
          },
          "status": {
            "type": "string",
            "description": "The current status of the product training operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the product training was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProductTrainingMetadata"
          }
        },
        "description": "Schema representing the response from the product training operation including product details and metadata.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-793388",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4e35bf29-cd6f-5e30-8db6-6c777421f00c",
            "correlationId": "bacd59e8-8e4c-57da-9231-068cf6ba2d8b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductTrainingMetadata": {
        "title": "Product Training Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESPONSE-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate multiple operations.",
            "example": "CORRELATION-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the product training response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-training-create-product-training"
        },
        "example": "product-training-create-product-training"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing a bearer token, specifically formatted as a JSON Web Token (JWT). This allows for stateless authentication and authorization of users.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}