{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Offer API",
    "description": "The Update Loan Offer API allows authorized users to modify existing loan offers provided to applicants. This endpoint is primarily designed for financial institutions and loan managers who need to adjust offer details based on evolving circumstances or applicant requirements. By enabling updates to loan offers, it supports dynamic interactions in the loan application process, ensuring that offers remain relevant and competitive. Typical users include loan officers and application processors managing multiple client cases.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update an offer for a specific loan application.",
        "description": "This endpoint allows you to update an existing offer associated with a particular loan application by providing the necessary details. Ensure that you have the required permissions to perform this action.",
        "operationId": "updateLoanApplicationOfferRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan offer for a specific loan application identified by RES-100045. It must include all necessary details for the loan offer as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationOfferRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the offer has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationOfferRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationOfferRes100045Request": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of loan offer being presented.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount that has been approved for the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate applied to the loan as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate (APR) including fees and interest.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the loan (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount to be paid based on the loan terms.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "originationFee": {
            "description": "The fee charged for processing the loan application.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "insurancePremium": {
            "description": "The insurance premium associated with the loan.",
            "$ref": "#/components/schemas/MonetaryAmount"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "The conditions that must be met for the offer to be valid.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Important disclosures regarding the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Terms and conditions apply."
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request for the loan offer.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "2fe1de8b-5950-5b49-8e2b-1abf9499c9b7",
            "correlationId": "374cbdab-d4d8-512c-85e5-37a014e77ef4",
            "idempotencyKey": "7abe1c96-0d8f-5b69-818e-3c78fb163724",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-266166"
            }
          }
        }
      },
      "MonetaryAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount represented in the specified currency.",
            "example": "10000"
          }
        },
        "description": "Represents a monetary amount with currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the condition.",
            "example": "CREDIT_CHECK"
          },
          "description": {
            "type": "string",
            "description": "Description of the condition.",
            "example": "Customer must pass a credit check."
          },
          "dueBefore": {
            "type": "string",
            "description": "Deadline by which the condition must be fulfilled.",
            "example": "2023-11-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition (e.g., fulfilled, pending).",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition that must be met for the loan offer."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-1234-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests.",
            "example": "corr-1234-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request can be safely retried without unintended effects.",
            "example": "idemp-key-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-05T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that initiated the request.",
            "example": "LoanApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request for tracking and identification purposes."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-1234"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-5678"
          }
        },
        "description": "Represents the channel through which the request was submitted."
      },
      "UpdateLoanApplicationOfferRes100045Response_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "Type of the loan offer.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate for the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate for the loan expressed as a percentage, which includes fees and other costs.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount the borrower will need to pay.",
            "$ref": "#/components/schemas/Money"
          },
          "originationFee": {
            "description": "The origination fee for processing the loan application.",
            "$ref": "#/components/schemas/Money"
          },
          "insurancePremium": {
            "description": "The insurance premium associated with the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that the borrower must meet to accept the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Information disclosures associated with the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Early repayment may incur penalties."
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "839cdc01-1a21-1a33-80df-de932fe3d389"
          },
          "offerNumber": {
            "type": "string",
            "description": "Reference number for the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer (e.g., accepted, pending).",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "Timestamp when the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier for the customer who accepted the loan offer.",
            "example": "CUST-851825"
          },
          "audit": {
            "description": "Audit trail information for the loan offer.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the loan offer.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for loan offer details.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "839cdc01-1a21-1a33-80df-de932fe3d389",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-851825",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "de6f2d50-de1a-5130-9c45-e2bfcfd67a9f",
            "correlationId": "374cbdab-d4d8-512c-85e5-37a014e77ef4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money, typically formatted as a decimal.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing a monetary value with currency and amount."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan offer was created.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the loan offer.",
            "example": "user-id-001"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the loan offer was last updated.",
            "example": "2023-10-05T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the loan offer.",
            "example": "user-id-002"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan offer.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit trail information for the loan offer."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the loan offer.",
            "example": "response-id-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests and responses.",
            "example": "correlation-id-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan application is being processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for the loan offer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This helps in tracking the specific execution context of the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-offer"
        },
        "example": "banking-loans-openapi-replace-loan-offer"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request. This can be useful for understanding which application version is serving the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}