{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Special Pricing Conditions Management API",
    "description": "The Special Pricing Conditions Management API enables businesses to create and configure specific pricing conditions for products within their banking portfolio. This API supports operations that allow users to define pricing rules based on various criteria, ensuring competitive offerings to clients. Typical consumers include product managers and financial analysts who need to adjust pricing strategies based on market demands. By leveraging this API, organizations can enhance their pricing models and maintain flexibility in product management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions": {
      "post": {
        "tags": [
          "Pricing Management"
        ],
        "summary": "Create a new special pricing condition.",
        "description": "This endpoint allows users to create a new special pricing condition for products within the product management system. Ensure all required fields are populated to successfully create a pricing condition.",
        "operationId": "createSpecialPricingCondition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to create or update special pricing conditions for products in the product management system. Ensure that all required fields are included as per the schema specifications.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSpecialPricingConditionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Special pricing condition created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSpecialPricingConditionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSpecialPricingConditionRequest": {
        "title": "Special Pricing Conditions Request",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Northstar Banking Service"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment associated with this special pricing condition.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency used for pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the special pricing becomes effective.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "The context under which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating special pricing conditions for products.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "productName": "Northstar Banking Service",
          "customerSegment": "STANDARD",
          "baseCurrency": "USD",
          "effectiveDate": "2026-09-15",
          "requestContext": {
            "requestId": "6ab1553b-da57-57cb-a287-d6c096ce7386",
            "correlationId": "6cc60f3f-7fc6-5640-a112-e91b56567bb0",
            "idempotencyKey": "c1e21ac4-509f-58a8-8210-f9755230ad05",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-829619"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to track the request across different systems.",
            "example": "corr-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that requests are idempotent.",
            "example": "idempotent-key-value"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was initiated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for making the request.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema outlines the contextual details of the request, including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device used in the channel.",
            "example": "device-12345"
          }
        },
        "description": "This schema contains details about the channel through which the request was made."
      },
      "CreateSpecialPricingConditionResponse_201": {
        "title": "Special Pricing Conditions Response",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The code associated with the product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource.",
            "example": "RES-886220"
          },
          "status": {
            "type": "string",
            "description": "The status of the special pricing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the special pricing condition was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the special pricing operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for creating special pricing conditions.",
        "example": {
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-886220",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0d01b33a-fd02-5b23-b663-39d76538abb3",
            "correlationId": "6cc60f3f-7fc6-5640-a112-e91b56567bb0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the API response.",
            "example": "resp-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to track the request across systems.",
            "example": "corr-2002"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-create-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-create-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication. The token should be provided in the 'Authorization' header using the format: 'Bearer {token}'. It is recommended to use JSON Web Tokens (JWT) for this purpose.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}