{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Notifications API",
    "description": "The Event Notifications API facilitates the real-time delivery of banking event notifications. It empowers financial institutions and third-party developers to subscribe to and manage event notifications effectively, ensuring timely updates on critical activities such as account changes or transaction statuses. This API is designed for use cases that require immediate awareness of banking events, offering seamless integration for applications that enhance user experience or compliance. Typical consumers include fintech companies, banking partners, and app developers seeking to leverage event-driven architectures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-notifications": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event notification",
        "description": "This endpoint allows users to create a new event notification in the system. By sending a POST request with the necessary data, users can successfully register an event that they want to be notified about.",
        "operationId": "createEventNotification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the details necessary to create and send an event notification. It should include all relevant information required for processing the event, structured according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventNotificationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for asynchronous processing.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventNotificationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEventNotificationRequest": {
        "title": "Event Notification Request",
        "type": "object",
        "properties": {
          "value": {
            "type": "string",
            "description": "The notification message.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting event notifications.",
        "example": {
          "value": "STANDARD",
          "requestContext": {
            "requestId": "5d24a0c2-6cc3-54ac-bb9f-265ba766cb75",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "idempotencyKey": "bb612007-4f61-59e5-9ace-6df9c509cacb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-627387"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency in the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the notification is sent.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for notifications.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details for notification."
      },
      "CreateEventNotificationResponse_202": {
        "type": "object",
        "properties": {
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful event notifications POST operation.",
        "example": {
          "metadata": {
            "responseId": "a4cdd510-9e38-55f0-bdcf-c6fd8dd45bb8",
            "correlationId": "ac5cf6a9-29ee-585e-94fc-2a138f73ed92",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with the original request.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Contains metadata information about the event notification response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint involved in processing the notification event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-notifications-api-create-event-notification"
        },
        "example": "events-notifications-api-create-event-notification"
      },
      "x-runtime-app": {
        "description": "The name of the application that generated the runtime environment for this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate by including a JSON Web Token (JWT) in the Authorization header of the request. The JWT should contain information about the user's identity and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}