{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Products Management API",
    "description": "The Loan Products Management API enables financial institutions to update and manage their loan products efficiently. Through this API, users can modify existing loan product details, ensuring that the offerings remain relevant to market standards and consumer needs. Typical consumers of this API include banking software developers and financial service providers who need to enhance their loan product portfolio dynamically. The API facilitates seamless integration with other financial services, ensuring a comprehensive product management experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-products/{param1}": {
      "put": {
        "tags": [
          "Loan Products"
        ],
        "summary": "Update an existing loan product.",
        "description": "This endpoint allows users to update the details of a specific loan product identified by its ID. Ensure that all required fields are provided in the request to successfully update the product's information.",
        "operationId": "updateLoanProduct_loan500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan product identified by LOAN-500045. It contains all necessary properties and fields required to modify the existing loan product details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanProduct_loan500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanProduct_loan500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanProduct_loan500045Request": {
        "title": "Loan Product Update Request",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code representing the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of loan product (e.g., personal, mortgage).",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amounts are denoted.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate for the loan (fixed, variable).",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code for the base interest rate used.",
            "example": "CODE-915"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin percentage added to the base rate.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured by collateral.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "Criteria that define the eligibility for the loan.",
            "$ref": "#/components/schemas/EligibilityCriteria"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to update a loan product.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-915",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1
          },
          "requestContext": {
            "requestId": "585bb3b9-4c10-57c4-a1e4-7378b045b38d",
            "correlationId": "7102d0f8-3ab4-5324-ba5f-4331800a3bcc",
            "idempotencyKey": "b1946aaf-6a61-5a38-b42c-52e4a7391c15",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-444987"
            }
          }
        }
      },
      "PrincipalAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The principal amount being specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount with currency."
      },
      "EligibilityCriteria": {
        "title": "Loan Eligibility Criteria",
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 18
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at loan maturity.",
            "format": "int32",
            "example": 65
          }
        },
        "description": "Schema defining the eligibility criteria for applying for the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracking requests across systems.",
            "example": "abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify the idempotency of requests.",
            "example": "idempotent-key-1234"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that initiated the request.",
            "example": "banking-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context of the request including identifiers and timestamps."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel details used in the request context."
      },
      "UpdateLoanProduct_loan500045Response_200": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code representing the loan product.",
            "example": "SUCCESS"
          },
          "name": {
            "type": "string",
            "description": "The name of the loan product.",
            "example": "Northstar Banking Service"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the loan product.",
            "example": "Customer banking request processed successfully"
          },
          "productType": {
            "type": "string",
            "description": "The type of loan product (e.g., personal, mortgage).",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan is offered.",
            "example": "USD"
          },
          "minPrincipal": {
            "description": "The minimum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "maxPrincipal": {
            "description": "The maximum principal amount for the loan.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "minTermMonths": {
            "type": "integer",
            "description": "The minimum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "maxTermMonths": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applied to the loan (e.g., fixed, variable).",
            "example": "STANDARD"
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "baseRateCode": {
            "type": "string",
            "description": "The code identifying the base rate used for loan calculations.",
            "example": "CODE-806"
          },
          "marginPercent": {
            "type": "string",
            "description": "The margin added to the base rate, expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, biweekly).",
            "example": "STANDARD"
          },
          "secured": {
            "type": "boolean",
            "description": "Indicates whether the loan is secured or unsecured.",
            "example": true
          },
          "maximumLoanToValuePercent": {
            "type": "string",
            "description": "The maximum loan-to-value ratio as a percentage.",
            "example": "STANDARD"
          },
          "eligibility": {
            "description": "The eligibility criteria for applicants.",
            "$ref": "#/components/schemas/LoanEligibility"
          },
          "fees": {
            "type": "array",
            "description": "A list of fees associated with the loan.",
            "example": [
              {
                "code": "SUCCESS",
                "name": "Northstar Banking Service",
                "calculationMethod": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "percent": "STANDARD",
                "capitalized": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanFee"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan product.",
            "example": "ACTIVE"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "cc22492a-1b2d-b44e-9080-4f974ecafefd"
          },
          "audit": {
            "description": "Information related to the audit of the loan product.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the loan product.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Schema representing a loan product with various attributes and eligibility criteria.",
        "example": {
          "code": "SUCCESS",
          "name": "Northstar Banking Service",
          "description": "Customer banking request processed successfully",
          "productType": "STANDARD",
          "currency": "USD",
          "minPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "maxPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "minTermMonths": 1,
          "maxTermMonths": 1,
          "interestRateType": "STANDARD",
          "annualInterestRatePercent": "STANDARD",
          "baseRateCode": "CODE-806",
          "marginPercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "secured": true,
          "maximumLoanToValuePercent": "STANDARD",
          "eligibility": {
            "minApplicantAge": 1,
            "maxApplicantAgeAtMaturity": 1,
            "minMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "allowedEmploymentTypes": [
              "STANDARD"
            ],
            "allowedResidencyCountries": [
              "STANDARD"
            ],
            "minCreditScore": 1
          },
          "fees": [
            {
              "code": "SUCCESS",
              "name": "Northstar Banking Service",
              "calculationMethod": "STANDARD",
              "amount": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "percent": "STANDARD",
              "capitalized": true
            }
          ],
          "status": "ACTIVE",
          "id": "cc22492a-1b2d-b44e-9080-4f974ecafefd",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "ca3d7cf0-806b-566b-aead-8a45af1825c3",
            "correlationId": "7102d0f8-3ab4-5324-ba5f-4331800a3bcc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanEligibility": {
        "type": "object",
        "properties": {
          "minApplicantAge": {
            "type": "integer",
            "description": "The minimum age of the applicant.",
            "format": "int32",
            "example": 0
          },
          "maxApplicantAgeAtMaturity": {
            "type": "integer",
            "description": "The maximum age of the applicant at maturity of the loan.",
            "format": "int32",
            "example": 0
          },
          "minMonthlyIncome": {
            "description": "The minimum monthly income requirement for eligibility.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "allowedEmploymentTypes": {
            "type": "array",
            "description": "A list of employment types permitted for applicants.",
            "items": {
              "type": "string",
              "description": "Type of employment allowed.",
              "example": "string"
            }
          },
          "allowedResidencyCountries": {
            "type": "array",
            "description": "A list of countries where applicants can reside.",
            "items": {
              "type": "string",
              "description": "Country of residence allowed.",
              "example": "string"
            }
          },
          "minCreditScore": {
            "type": "integer",
            "description": "The minimum credit score required for eligibility.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema defining eligibility criteria for loan applicants."
      },
      "LoanFee": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code identifying the fee.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the fee.",
            "example": "string"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the fee.",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/PrincipalAmount"
          },
          "percent": {
            "type": "string",
            "description": "The fee amount expressed as a percentage.",
            "example": "string"
          },
          "capitalized": {
            "type": "boolean",
            "description": "Indicates if the fee can be capitalized.",
            "example": false
          }
        },
        "description": "Schema representing a fee associated with a loan."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan product was created.",
            "example": "string"
          }
        },
        "description": "Schema containing audit information for the loan product."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema for additional metadata related to the loan product."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed. This helps in tracking or logging the specific endpoint utilized in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-product"
        },
        "example": "banking-loans-openapi-replace-loan-product"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that is handling the request. Useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing JSON Web Tokens (JWT) for securing API access. Clients must include the token in the 'Authorization' header using the format 'Bearer {token}' to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}