{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bill Pay Switch API",
    "description": "The Bill Pay Switch API facilitates the seamless initiation of bill payment transactions. Designed for financial institutions and payment processors, this API allows users to generate transfers specifically for bill payments through a reliable switch mechanism. By leveraging this API, businesses can enhance their payment solutions, streamline customer transactions, and improve operational efficiency. Typical consumers include banks, fintech companies, and payment service providers looking to integrate bill payment functionalities into their systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/transfer/bill-pay-switch": {
      "post": {
        "tags": [
          "Bill Payment"
        ],
        "summary": "Initiates a bill payment transfer.",
        "description": "This endpoint allows users to initiate a transfer for paying bills through the bill pay switch functionality. It handles the necessary validations and processes the bill payment accordingly.",
        "operationId": "generateTransferBillPaySwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for initiating a transfer operation via the bill pay switch. It requires specific parameters to facilitate the transaction process and must comply with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateTransferBillPaySwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the bill payment transfer was processed.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateTransferBillPaySwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GenerateTransferBillPaySwitchRequest": {
        "type": "object",
        "properties": {
          "serviceAgreement": {
            "description": "The service agreement details of the transaction.",
            "$ref": "#/components/schemas/ServiceAgreement"
          },
          "accounts": {
            "type": "array",
            "description": "An array of account details associated with the transaction.",
            "example": [
              {
                "accountNumber": "STANDARD",
                "bankIdentifier": "STANDARD",
                "title": "Banking operation completed",
                "type": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-786921"
          },
          "experience": {
            "type": "string",
            "description": "User experience context.",
            "example": "STANDARD"
          },
          "language": {
            "type": "string",
            "description": "Preferred language of the user.",
            "example": "en"
          },
          "singleUseUrl": {
            "type": "boolean",
            "description": "Indicates if the URL is single-use.",
            "example": true
          },
          "redirectUri": {
            "type": "string",
            "description": "URI to redirect after processing.",
            "example": "STANDARD"
          },
          "cards": {
            "type": "array",
            "description": "An array of card details for the transaction.",
            "example": [
              {
                "title": "Banking operation completed",
                "number": "STANDARD",
                "expiry": "STANDARD",
                "cvv": "STANDARD",
                "brand": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Card"
            }
          },
          "identity": {
            "description": "The identity information of the user.",
            "$ref": "#/components/schemas/Identity"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the Bill Pay Switch operation.",
        "example": {
          "serviceAgreement": {
            "language": "en",
            "acceptedDate": "2026-09-15"
          },
          "accounts": [
            {
              "accountNumber": "STANDARD",
              "bankIdentifier": "STANDARD",
              "title": "Banking operation completed",
              "type": "STANDARD"
            }
          ],
          "partnerId": "STANDARD",
          "customerId": "CUST-786921",
          "experience": "STANDARD",
          "language": "en",
          "singleUseUrl": true,
          "redirectUri": "STANDARD",
          "cards": [
            {
              "title": "Banking operation completed",
              "number": "STANDARD",
              "expiry": "STANDARD",
              "cvv": "STANDARD",
              "brand": "STANDARD"
            }
          ],
          "identity": {
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "zipCode": "CODE-868"
          },
          "requestContext": {
            "requestId": "ddb91bab-517f-52fd-b18f-0471e9abecf5",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "idempotencyKey": "a9575ded-64ad-569e-9823-10a68ac813cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-523301"
            }
          }
        }
      },
      "ServiceAgreement": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "Language used in the service agreement."
          },
          "acceptedDate": {
            "type": "string",
            "description": "Date when the service agreement was accepted."
          }
        },
        "description": "Details of the service agreement."
      },
      "Account": {
        "type": "object",
        "properties": {
          "accountNumber": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "bankIdentifier": {
            "type": "string",
            "description": "Bank identifier for the account."
          },
          "title": {
            "type": "string",
            "description": "Title or name of the account."
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings)."
          }
        },
        "description": "Details of a financial account."
      },
      "Card": {
        "type": "object",
        "properties": {
          "title": {
            "type": "string",
            "description": "The name or title of the card."
          },
          "number": {
            "type": "string",
            "description": "The card number."
          },
          "expiry": {
            "type": "string",
            "description": "Expiry date of the card."
          },
          "cvv": {
            "type": "string",
            "description": "CVV/CVC number on the card."
          },
          "brand": {
            "type": "string",
            "description": "Brand of the card (e.g., Visa, MasterCard)."
          }
        },
        "description": "Details of a payment card."
      },
      "Identity": {
        "type": "object",
        "properties": {
          "firstName": {
            "type": "string",
            "description": "First name of the user."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the user."
          },
          "zipCode": {
            "type": "string",
            "description": "Zip code of the user's address."
          }
        },
        "description": "Identity information of the user."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace and correlate requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent processing of requests."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that made the request."
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details regarding the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used."
          }
        },
        "description": "Details regarding the communication channel."
      },
      "GenerateTransferBillPaySwitchResponse_200": {
        "title": "Bill Pay Switch Operation Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link providing further information or actions related to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata pertaining to the response, including various identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the Bill Pay Switch operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "8b18d155-1c5a-5b57-8696-fc20001fb353",
            "correlationId": "b0861fce-b05a-516e-8632-f1de64f9e388",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests or responses.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata for the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific API endpoint that was invoked. This is useful for tracing requests in logs or monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
        },
        "example": "open-finance-api-generate-transfer-bill-pay-switch-url"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime environment in which the API call was processed. This can provide context for performance monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically JSON Web Tokens (JWT). Ensure to include the 'Authorization' header with the 'Bearer' prefix followed by the token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}