{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Access Key Management API",
    "description": "The Access Key Management API allows partners to update their access keys used for secure integration with the platform. This API provides a mechanism for managing the lifecycle of access keys, ensuring that partners can maintain control over their security credentials. Typical consumers include technology partners needing to programmatically change their access keys to enhance security or refresh expired credentials. The update operation supports the partner's ongoing compliance and security practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/partners/accesskey/{accesskeyId}": {
      "put": {
        "tags": [
          "Partner Management"
        ],
        "summary": "Update Partner Access Key",
        "description": "This operation allows you to update the access key for a specific partner identified by the resource ID 'RES-100045'. It ensures that the partner has the necessary credentials to access protected resources.",
        "operationId": "updateAccessKeyForPartnerRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the access key with ID RES-100045. It should contain necessary fields for modification as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAccessKeyForPartnerRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateAccessKeyForPartnerRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateAccessKeyForPartnerRes100045Request": {
        "title": "Partner Access Key Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-192971"
          },
          "partnerId": {
            "type": "string",
            "description": "The unique identifier for the partner.",
            "example": "STANDARD"
          },
          "thirdPartyPartnerId": {
            "type": "string",
            "description": "The unique identifier for the third-party partner.",
            "example": "STANDARD"
          },
          "provenance": {
            "description": "Information about the source of the request.",
            "$ref": "#/components/schemas/Provenance"
          },
          "products": {
            "type": "array",
            "description": "List of products associated with the request.",
            "example": [
              {
                "product": "STANDARD",
                "payorId": "STANDARD",
                "maxCalls": 1,
                "accountId": "ACC-357756",
                "accessPeriod": {
                  "type": "STANDARD",
                  "startTime": "2026-08-11T12:00:00Z",
                  "endTime": "2026-08-11T12:00:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the Partner Access Key operation.",
        "example": {
          "customerId": "CUST-192971",
          "partnerId": "STANDARD",
          "thirdPartyPartnerId": "STANDARD",
          "provenance": {
            "clientFingerprint": "STANDARD",
            "ipAddress": "STANDARD",
            "token": "STANDARD"
          },
          "products": [
            {
              "product": "STANDARD",
              "payorId": "STANDARD",
              "maxCalls": 1,
              "accountId": "ACC-357756",
              "accessPeriod": {
                "type": "STANDARD",
                "startTime": "2026-08-11T12:00:00Z",
                "endTime": "2026-08-11T12:00:00Z"
              }
            }
          ],
          "requestContext": {
            "requestId": "ba0fceb7-37ea-5171-90e6-32203195cfa9",
            "correlationId": "0b672fb2-622b-5ef3-8251-dbd349bdb83d",
            "idempotencyKey": "03807947-b136-5051-a790-fc2de85e6c74",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-148020"
            }
          }
        }
      },
      "Provenance": {
        "title": "Provenance Information",
        "type": "object",
        "properties": {
          "clientFingerprint": {
            "type": "string",
            "description": "Fingerprints of the client making the request.",
            "example": "string"
          },
          "ipAddress": {
            "type": "string",
            "description": "The IP address from which the request originated.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Authentication token for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the provenance information of the request."
      },
      "Product": {
        "type": "object",
        "properties": {
          "product": {
            "type": "string",
            "description": "Name or identifier of the product.",
            "example": "string"
          },
          "payorId": {
            "type": "string",
            "description": "Identifier for the payor associated with the product.",
            "example": "string"
          },
          "maxCalls": {
            "type": "integer",
            "description": "Maximum number of calls allowed for the product.",
            "format": "int32",
            "example": 0
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the product.",
            "example": "string"
          },
          "accessPeriod": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "description": "Type of access period.",
                "example": "string"
              },
              "startTime": {
                "type": "string",
                "description": "Start time of the access period.",
                "example": "string"
              },
              "endTime": {
                "type": "string",
                "description": "End time of the access period.",
                "example": "string"
              }
            },
            "description": "Period for which access to the product is granted."
          }
        },
        "description": "Schema representing a product within a receipt."
      },
      "AccessPeriod": {
        "title": "Access Period Information",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of access period.",
            "example": "string"
          },
          "startTime": {
            "type": "string",
            "description": "The start time of the access period.",
            "example": "string"
          },
          "endTime": {
            "type": "string",
            "description": "The end time of the access period.",
            "example": "string"
          }
        },
        "description": "Schema representing the access period of a product."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Idempotency key to ensure request is only processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application associated with the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context details for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "UpdateAccessKeyForPartnerRes100045Response_200": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "description": "Array of receipt objects containing detailed access key data.",
            "example": [
              {
                "receipt": {
                  "profile": 1,
                  "version": "STANDARD",
                  "id": "STANDARD",
                  "customerId": "CUST-637249",
                  "partnerId": "STANDARD",
                  "products": [
                    {
                      "product": "STANDARD",
                      "payorId": "STANDARD",
                      "maxCalls": 1,
                      "accountId": "ACC-867783",
                      "accessPeriod": {
                        "type": "STANDARD",
                        "startTime": "2026-08-11T12:00:00Z",
                        "endTime": "2026-08-11T12:00:00Z"
                      }
                    }
                  ],
                  "provenance": {
                    "clientFingerprint": "STANDARD",
                    "ipAddress": "STANDARD",
                    "token": "STANDARD"
                  },
                  "timestamp": "2026-09-15T14:30:00Z"
                },
                "proof": {
                  "signature": "STANDARD",
                  "keyId": "STANDARD",
                  "timestamp": "2026-09-15T14:30:00Z"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Receipt"
            }
          }
        },
        "description": "Response schema for the access key operations PUT request.",
        "example": {
          "data": [
            {
              "receipt": {
                "profile": 1,
                "version": "STANDARD",
                "id": "STANDARD",
                "customerId": "CUST-637249",
                "partnerId": "STANDARD",
                "products": [
                  {
                    "product": "STANDARD",
                    "payorId": "STANDARD",
                    "maxCalls": 1,
                    "accountId": "ACC-867783",
                    "accessPeriod": {
                      "type": "STANDARD",
                      "startTime": "2026-08-11T12:00:00Z",
                      "endTime": "2026-08-11T12:00:00Z"
                    }
                  }
                ],
                "provenance": {
                  "clientFingerprint": "STANDARD",
                  "ipAddress": "STANDARD",
                  "token": "STANDARD"
                },
                "timestamp": "2026-09-15T14:30:00Z"
              },
              "proof": {
                "signature": "STANDARD",
                "keyId": "STANDARD",
                "timestamp": "2026-09-15T14:30:00Z"
              }
            }
          ],
          "metadata": {
            "responseId": "90f683fc-6945-5d51-a64b-47a7a27c4044",
            "correlationId": "0b672fb2-622b-5ef3-8251-dbd349bdb83d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Receipt": {
        "type": "object",
        "properties": {
          "receipt": {
            "type": "object",
            "properties": {
              "profile": {
                "type": "integer",
                "description": "Profile identifier associated with the receipt.",
                "format": "int32",
                "example": 0
              },
              "version": {
                "type": "string",
                "description": "Version of the receipt.",
                "example": "string"
              },
              "id": {
                "type": "string",
                "description": "Unique identifier for the receipt.",
                "example": "string"
              },
              "customerId": {
                "type": "string",
                "description": "Identifier for the customer.",
                "example": "string"
              },
              "partnerId": {
                "type": "string",
                "description": "Identifier for the partner.",
                "example": "string"
              },
              "products": {
                "type": "array",
                "description": "List of products associated with the receipt.",
                "items": {
                  "$ref": "#/components/schemas/Product"
                }
              },
              "provenance": {
                "type": "object",
                "properties": {
                  "clientFingerprint": {
                    "type": "string",
                    "description": "Fingerprint of the client that generated the receipt.",
                    "example": "string"
                  },
                  "ipAddress": {
                    "type": "string",
                    "description": "IP address from which the request originated.",
                    "example": "string"
                  },
                  "token": {
                    "type": "string",
                    "description": "Token associated with the receipt.",
                    "example": "string"
                  }
                },
                "description": "Information regarding the source of the receipt."
              },
              "timestamp": {
                "type": "string",
                "description": "Timestamp when the receipt was generated.",
                "example": "string"
              }
            },
            "description": "Detailed information about the receipt."
          },
          "proof": {
            "type": "object",
            "properties": {
              "signature": {
                "type": "string",
                "description": "Digital signature of the receipt.",
                "example": "string"
              },
              "keyId": {
                "type": "string",
                "description": "Identifier for the key used to sign the receipt.",
                "example": "string"
              },
              "timestamp": {
                "type": "string",
                "description": "Timestamp of when the proof was generated.",
                "example": "string"
              }
            },
            "description": "Proof of receipt authenticity."
          }
        },
        "description": "Schema representing a receipt for an access key operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the endpoint being accessed. It should correspond to the specific operation being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-third-party-access-key"
        },
        "example": "open-finance-api-update-third-party-access-key"
      },
      "X-Runtime-App": {
        "description": "This header indicates the runtime environment of the application managing the request. It provides context for the server regarding the source application.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication with a JSON Web Token (JWT). Clients must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}