{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Release API",
    "description": "The Settlement Release API allows users to initiate the release of specific settlements identified by their unique settlement IDs. This operation is crucial for financial processes where timely settlement management is necessary. Commonly used by accounting teams, financial institutions, and payment processors, this API ensures that settlements are promptly released, facilitating cash flows and reconciliations. Developers can integrate this endpoint within their applications to automate the settlement release process, enhancing efficiency and reducing operational delays.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/release": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Release a specific settlement.",
        "description": "This endpoint allows you to release the settlement identified by RES-100045. Upon successful execution, the settlement will be marked as released, reflecting the updated status in the system.",
        "operationId": "releaseSettlementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to release a specified settlement identified by 'RES-100045'. The body must include necessary parameters to successfully execute the release operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReleaseSettlementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful release of the specified settlement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReleaseSettlementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReleaseSettlementRes100045Request": {
        "title": "Settlement Release Request",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for the settlement release.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to release a settlement operation.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "02169c5f-e36e-5722-96b0-ec21c44b45ae",
            "correlationId": "deca3060-de46-5ef0-8f4a-c77f1e433c32",
            "idempotencyKey": "d42d3367-824f-50a8-83c6-85bd702d4bfb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-945866"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request can be safely retried.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifies the source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifies the application that is making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context for tracking and correlation purposes."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "ReleaseSettlementRes100045Response_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-370569"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Account identifier where the settlement is credited.",
            "example": "ACC-448744"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency code representing the currency of the settlement.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the settlement transaction details.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Total number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference used by the bank for the payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Expected date and time for the payout in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Date and time when the payout was made in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the settlement.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata for the settlement response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing details of a settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-370569",
          "settlementAccountId": "ACC-448744",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "5eb41527-c94f-50f0-b664-60866645b7a9",
            "correlationId": "deca3060-de46-5ef0-8f4a-c77f1e433c32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the gross payments.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of gross payments.",
                "example": "1000.00"
              }
            },
            "description": "Gross payments made during the settlement."
          },
          "refunds": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the refunds.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of refunds.",
                "example": "50.00"
              }
            },
            "description": "Total refunds issued during the settlement."
          },
          "reversals": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the reversals.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of reversals.",
                "example": "20.00"
              }
            },
            "description": "Total reversals made during the settlement."
          },
          "disputes": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the disputes.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of disputes.",
                "example": "5.00"
              }
            },
            "description": "Total disputes during the settlement."
          },
          "fees": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the fees.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of fees.",
                "example": "10.00"
              }
            },
            "description": "Total fees applied during the settlement."
          },
          "taxes": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the taxes.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of taxes.",
                "example": "15.00"
              }
            },
            "description": "Total taxes applied during the settlement."
          },
          "reserveHeld": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the held reserves.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of reserves held.",
                "example": "200.00"
              }
            },
            "description": "Reserves that are held during the settlement."
          },
          "reserveReleased": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the released reserves.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of reserves released.",
                "example": "100.00"
              }
            },
            "description": "Reserves that have been released during the settlement."
          },
          "adjustments": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the adjustments.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of adjustments.",
                "example": "0.00"
              }
            },
            "description": "Any adjustments made during the settlement."
          },
          "netSettlement": {
            "type": "object",
            "properties": {
              "currency": {
                "type": "string",
                "description": "Currency code of the net settlement.",
                "example": "USD"
              },
              "value": {
                "type": "string",
                "description": "Total value of net settlement.",
                "example": "750.00"
              }
            },
            "description": "Total net settlement amount."
          }
        },
        "description": "Summary details for the settlement including payment and adjustments."
      },
      "Audit": {
        "title": "Settlement Audit",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date and time when the settlement was created in ISO 8601 format.",
            "example": "2023-10-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user or system that created the settlement.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the settlement was last updated in ISO 8601 format.",
            "example": "2023-10-31T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user or system that last updated the settlement.",
            "example": "admin"
          }
        },
        "description": "Audit information for tracking changes to the settlement."
      },
      "Metadata": {
        "title": "Settlement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple API calls.",
            "example": "correlation_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated in ISO 8601 format.",
            "example": "2023-10-31T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-EAST"
          }
        },
        "description": "Additional metadata for the settlement, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-release-settlement"
        },
        "example": "banking-p2m-openapi-release-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service responding to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses Bearer authentication scheme with JWT (JSON Web Tokens) for secure access. Clients must include a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}