{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Directory API",
    "description": "The Product Directory API provides access to a comprehensive list of banking products available for customers. By utilizing this API, developers can retrieve detailed information about various financial products, such as loans, credit cards, and investment options. This allows businesses to enhance their product offerings and offer customized solutions to their clients. Typical consumers of this API include financial institutions and application developers seeking to integrate updated product data into their platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-directory": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve the product directory.",
        "description": "This endpoint allows you to fetch the complete list of products available in the product directory, providing essential details about each product.",
        "operationId": "getProductDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching the product directory. This payload is used to define the specific criteria for retrieving product listings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product directory.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductDirectoryRequest": {
        "type": "string",
        "description": "The request body for the product management operations, formatted as JSON.",
        "example": "{}"
      },
      "GetProductDirectoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of products returned in the response.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching products in the product directory.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "74173995-d644-5511-add1-3aa98634c279",
            "correlationId": "0557c092-45d0-5dd3-ab28-441ca760da2c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code assigned to the product.",
            "example": "P001"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Sample Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment targeted by the product.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product's price is listed.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product information is effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the product record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the product was last updated.",
            "example": "2023-01-02T12:00:00Z"
          }
        },
        "description": "Schema representing a single product."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-directory-search-product-directory"
        },
        "example": "product-directory-search-product-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token in the HTTP Authorization header. It is designed to authenticate API requests securely using JSON Web Tokens (JWT). Clients must include a valid JWT as a bearer token to gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}