{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Location Data Retrieval API",
    "description": "The Location Data Retrieval API provides access to critical banking market data focused on location management. This API allows users to retrieve detailed information about various locations relevant to banking activities, ensuring accurate and efficient data utilization. Typical consumers of this API include financial analysts, market researchers, and banking developers who need up-to-date location insights for decision-making processes. By leveraging this API, organizations can enhance their operational efficiency and improve their market strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/location-data-management": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve location data management details.",
        "description": "This endpoint allows you to access detailed information about location data management in the market data system. Utilize this endpoint to understand and manage location-based data effectively.",
        "operationId": "getLocationData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request retrieves location data management information. Ensure that you provide the necessary parameters and any required authentication tokens in order to successfully call this endpoint.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLocationDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved location data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLocationDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLocationDataRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation in the location data management API.",
        "example": "{}"
      },
      "GetLocationDataResponse_200": {
        "title": "Market Data Location Data Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-104",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort parameter for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market data location data management operations.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-104",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "663a9295-d184-5e8d-a124-e9c098d48e28",
            "correlationId": "f64caa17-b9ed-58bf-a973-10a5bcacf878",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "title": "Market Data Item",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument."
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number."
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code identifying the market."
          },
          "asOf": {
            "type": "string",
            "description": "Date and time for which the data is relevant."
          },
          "dataSource": {
            "type": "string",
            "description": "Source of the data."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Schema representing a single market data item.",
        "example": {
          "instrumentId": "inst-101",
          "isin": "US1234567890",
          "marketIdentifierCode": "NYSE",
          "asOf": "2023-10-01T12:00:00Z",
          "dataSource": "Bloomberg",
          "recordStatus": "active",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema providing pagination details for the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 100
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the data was processed."
          }
        },
        "description": "Schema containing metadata information for the response.",
        "example": {
          "responseId": "resp-12345",
          "correlationId": "corr-67890",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "us-east-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "location-data-management-search-location-data-management"
        },
        "example": "location-data-management-search-location-data-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This token is typically a JSON Web Token (JWT) that is used to authorize requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}