{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Transaction Processing API",
    "description": "The Customer Account Transaction Processing API facilitates real-time transaction updates for designated customer accounts. Through this endpoint, businesses can push transaction notifications for specific accounts, enhancing communication and financial tracking. This functionality is critical for financial institutions and service providers that require timely updates on account activity. Typical consumers include banking applications and financial dashboards that need to replicate transactions in a user-friendly format.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/txpush": {
      "post": {
        "tags": [
          "Customer Account Management"
        ],
        "summary": "Push a transaction to a customer's account.",
        "description": "This endpoint allows you to push a transaction to a specified account of a customer. It facilitates easy transaction processing and helps in maintaining accurate financial records for accounts.",
        "operationId": "pushTransactionToAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to push transactions related to a specific account. It should contain the necessary data to create or update the transaction as per the specifications defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PushTransactionToAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for the transaction push.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushTransactionToAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PushTransactionToAccountRequest": {
        "title": "Transaction Push Request Body",
        "type": "object",
        "properties": {
          "callbackUrl": {
            "type": "string",
            "description": "The URL to which notifications about the transaction status will be sent.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for initiating a transaction push operation.",
        "example": {
          "callbackUrl": "https://banking.northstar.example/callbacks/status",
          "requestContext": {
            "requestId": "aba19f97-9ef9-52ab-ae44-16ba5cbb372a",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "idempotencyKey": "5328559c-451f-595e-b1f1-860712c6149c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-676570"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the operation is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "payment-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "mobile-app"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual data related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device initiating the request.",
            "example": "device-12345"
          }
        },
        "description": "Information regarding the channel used for the request."
      },
      "PushTransactionToAccountResponse_201": {
        "type": "object",
        "properties": {
          "subscriptions": {
            "type": "array",
            "description": "A list of transaction push subscriptions.",
            "example": [
              {
                "id": 1,
                "accountId": 1,
                "type": "STANDARD",
                "callbackUrl": "https://banking.northstar.example/callbacks/status",
                "signingKey": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Subscription"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation that retrieves transaction push subscriptions and metadata.",
        "example": {
          "subscriptions": [
            {
              "id": 1,
              "accountId": 1,
              "type": "STANDARD",
              "callbackUrl": "https://banking.northstar.example/callbacks/status",
              "signingKey": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "a21ca7c6-a813-5696-b64b-b81200c20959",
            "correlationId": "d14e9091-001e-54be-87cb-4fc279c6fe9f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the subscription.",
            "format": "int32",
            "example": 0
          },
          "accountId": {
            "type": "integer",
            "description": "Identifier for the associated account.",
            "format": "int32",
            "example": 0
          },
          "type": {
            "type": "string",
            "description": "Type of the subscription.",
            "example": "string"
          },
          "callbackUrl": {
            "type": "string",
            "description": "URL to which notifications will be sent.",
            "example": "string"
          },
          "signingKey": {
            "type": "string",
            "description": "Key used for signing notifications.",
            "example": "string"
          }
        },
        "description": "Schema representing a transaction push subscription."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID of the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. Useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-subscribe-to-tx-push-notifications"
        },
        "example": "open-finance-api-subscribe-to-tx-push-notifications"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is running the endpoint. This can help in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token in HTTP headers. The token must be a valid JSON Web Token (JWT) that grants access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}