{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Procurement Details API",
    "description": "The Procurement Details API provides access to detailed information regarding specific procurement processes in the enterprise banking ecosystem. By utilizing this endpoint, users can retrieve comprehensive data related to a particular procurement identified by its unique ID. This API is designed for procurement managers, compliance teams, and financial analysts seeking to track procurement activities and assess associated documentation. Use cases include reviewing procurement history, auditing transactions, and facilitating decision-making in procurement strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/procurement/{procurementId}": {
      "get": {
        "tags": [
          "Procurement"
        ],
        "summary": "Retrieve details for the procurement resource RES-100045.",
        "description": "This endpoint allows you to access the detailed information for the specific procurement resource identified by RES-100045. It provides essential data that may include pricing, availability, and specifications related to the resource.",
        "operationId": "getProcurementResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the procurement operation specified by the identifier RES-100045. The request expects a JSON payload that adheres to the defined schema, which includes all necessary parameters for a successful retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcurementResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcurementResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcurementResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the procurement service.",
        "example": "{}"
      },
      "GetProcurementResource100045Response_200": {
        "title": "Procurement Operations Response",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the procurement request.",
            "example": "8eb4a181-3efe-5351-80c4-df8699cf906f"
          },
          "supplierId": {
            "type": "string",
            "description": "Unique identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the procurement.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Details of the monetary amount associated with the procurement.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who made the request.",
            "example": "STANDARD"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Unique identifier for the purchase order.",
            "example": "ORD-743285"
          },
          "categoryCode": {
            "type": "string",
            "description": "Code representing the category of the procurement.",
            "example": "CODE-330"
          },
          "approvalLevel": {
            "type": "string",
            "description": "Approval level for the procurement request.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the procurement record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the procurement record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the procurement record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the procurement request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for procurement operations.",
        "example": {
          "requestId": "8eb4a181-3efe-5351-80c4-df8699cf906f",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "purchaseOrderId": "ORD-743285",
          "categoryCode": "CODE-330",
          "approvalLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f8985de2-65bb-5e0a-a78d-ec3272626586",
            "correlationId": "a6c84edc-9b81-5f25-bf38-3ba0b7469f55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing a monetary amount and its currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "corr789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east"
          }
        },
        "description": "Schema representing metadata associated with the procurement request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "procurement-get-procurement"
        },
        "example": "procurement-get-procurement"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme defined in RFC 6750. Clients must include a valid JSON Web Token (JWT) in the Authorization header to authenticate API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}