{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Initiation API",
    "description": "The Payment Initiation API enables businesses to facilitate the seamless initiation of payment transactions within their banking systems. This service allows users to submit payment requests efficiently, ensuring quick processing and confirmation. Typical consumers include financial institutions and third-party applications that require an interface to initiate payments on behalf of their customers. By streamlining payment initiation, this API enhances user experience and operational efficiency in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Initiates a payment process in the servicing system.",
        "description": "This operation allows users to initiate a payment within the servicing system, ensuring that all necessary information is provided for processing the payment securely and efficiently.",
        "operationId": "initiatePaymentServicing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a payment process. It must contain all necessary information for successful payment initiation, including recipient details, payment amount, and any associated metadata.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePaymentServicingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but not yet completed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiatePaymentServicingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "InitiatePaymentServicingRequest": {
        "title": "Payment Initiation Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-930124"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case related to the payment.",
            "example": "CASE-246539"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request being made.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Indicates the priority of the payment request.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel from which the request originated.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating a payment.",
        "example": {
          "customerId": "CUST-930124",
          "caseId": "CASE-246539",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "requestContext": {
            "requestId": "f62f0bf3-2748-5121-b140-5b8ace13bf76",
            "correlationId": "c484e1ce-b7dd-555c-a93a-ac70c95ac8f6",
            "idempotencyKey": "779045de-fcf9-5613-b321-85ac7b1c6ebc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-171351"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating this request with other related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Unique key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Indicates the source system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Indicates the source application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the payment request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel used."
      },
      "InitiatePaymentServicingResponse_202": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-806502"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case associated with the payment initiation.",
            "example": "CASE-597445"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference for tracking the processing of the payment initiation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment initiation request.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the payment initiation was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/PaymentInitiationMetadata"
          }
        },
        "description": "Response schema for the payment initiation operation when successful.",
        "example": {
          "customerId": "CUST-806502",
          "caseId": "CASE-597445",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "2b36400a-b2d6-579f-9e6d-77faa964c802",
            "correlationId": "c484e1ce-b7dd-555c-a93a-ac70c95ac8f6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentInitiationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for this response.",
            "example": "response101"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "corr202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the payment processing is occurring.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the payment initiation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-initiate-payment-initiation"
        },
        "example": "payment-initiation-initiate-payment-initiation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) with a bearer schema. Clients must include a valid JWT in the `Authorization` header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}