{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Position Management API",
    "description": "The Customer Position Management API enables financial institutions to submit and maintain customer position data relating to their bank accounts. This API allows users to manage aspects such as balances, transactions, and account statuses effectively. Typically utilized by banking personnel and financial advisors, the API supports use cases such as portfolio analysis, auditing customer accounts, and facilitating informed decision-making. By leveraging this API, organizations can enhance their customer service while ensuring accurate financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/customer-position": {
      "post": {
        "tags": [
          "Account Management"
        ],
        "summary": "Create a new customer position.",
        "description": "This endpoint allows you to create a new customer position in the account management system. You must provide the required details for the customer position in the request body.",
        "operationId": "createCustomerPosition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a customer position within account management. It requires a valid JSON structure that defines the details of the customer position being managed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerPositionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerPositionResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "An internal server error occurred.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerPositionResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "Request parameters are unprocessable.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerPositionResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerPositionResponse_201": {
        "title": "Customer Position Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier of the account associated with the customer position.",
            "example": "ACC-425373"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier of the customer associated with the position.",
            "example": "CUST-703190"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier of the resource related to the customer position.",
            "example": "RES-218626"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer position.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the customer position was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional context about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to customer positions. This schema provides details about the customer position created or modified.",
        "example": {
          "accountId": "ACC-425373",
          "customerId": "CUST-703190",
          "resourceId": "RES-218626",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3e807d58-9ee4-5da8-801d-24809251c2f5",
            "correlationId": "fb053e25-f304-53ea-a4cd-35247b5900bf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-xyz-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related operations.",
            "example": "correlation-abc-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response, providing additional information such as IDs and timestamps."
      },
      "CreateCustomerPositionResponse_500": {
        "title": "Error Response for Customer Position Operations",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code representing the type of error.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow that encountered the error.",
            "example": "WF-002"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "The number of hops the request went through before failing.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema defines the structure of the error response returned when a customer position operation fails with a 500 status code.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-002",
          "failedAfterHop": 3
        }
      },
      "CreateCustomerPositionRequest": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-920310"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-847961"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date for the ledger entry.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the ledger balance is represented.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the ledger as of the specified date.",
            "example": 100.0
          },
          "requestContext": {
            "description": "The context for the request containing metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "accountId": "ACC-920310",
          "customerId": "CUST-847961",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "346bee66-87aa-5a70-b4f4-a86a9181e954",
            "correlationId": "fb053e25-f304-53ea-a4cd-35247b5900bf",
            "idempotencyKey": "68d189c8-5440-5902-b530-61650c236056",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-959481"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "correlation-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key ensuring the idempotency of the request.",
            "example": "idempotent-key-9876"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source-system-name"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "source-application-name"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-1234"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, e.g., web, mobile.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "device-5678"
          }
        },
        "description": "Details about the communication channel."
      },
      "CreateCustomerPositionResponse_422": {
        "title": "ErrorResponse",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code representing the error type.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for the request, used for tracking.",
            "example": "34533034-7e85-4dc5-8d00-988c829712b8"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message providing more details about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow state associated with the error, if applicable.",
            "example": "WF-002"
          }
        },
        "description": "Schema representing the error response for a customer position operation.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "34533034-7e85-4dc5-8d00-988c829712b8",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-002"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-002"
        },
        "example": "WF-002"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fcd8763b-4fb2-49da-b8ef-888035d820f9"
        },
        "example": "fcd8763b-4fb2-49da-b8ef-888035d820f9"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "58a853ba-e43b-46e5-ae55-8da145b50c39"
        },
        "example": "58a853ba-e43b-46e5-ae55-8da145b50c39"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that was invoked to fulfill this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-position-create-customer-position"
        },
        "example": "customer-position-create-customer-position"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow related to an invalid request (422). This header allows for better tracking and debugging of the request that failed due to client-side validation errors.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-002"
        },
        "example": "WF-002"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Joint Account Onboarding and Relationship Setup"
        },
        "example": "Joint Account Onboarding and Relationship Setup"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "009b8d6c-f4e4-407a-b2d5-65c1bacf5548"
        },
        "example": "009b8d6c-f4e4-407a-b2d5-65c1bacf5548"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using bearer tokens, specifically in the JSON Web Token (JWT) format. This mechanism allows secure access to resources by including a token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}