{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Wholesale Trading Models API",
    "description": "The Wholesale Trading Models API provides access to various trading models utilized in wholesale banking operations. This API allows users to retrieve comprehensive information regarding existing trading models, enabling financial institutions to optimize their trading strategies and improve decision-making. Typical consumers include traders, quantitative analysts, and risk management teams seeking to leverage model insights for enhanced trading performance. By integrating this API, organizations can gain real-time visibility into their trading frameworks, facilitating more agile responses to market conditions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trading-models": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve trading models for wholesale trading.",
        "description": "This operation fetches a list of trading models available in the wholesale trading sector. It provides details about different strategies and methodologies used in trading, allowing users to select the appropriate model for their needs.",
        "operationId": "getTradingModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving trading models in wholesale trading. This should include the necessary parameters to define the operation for fetching the trading models.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradingModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the trading models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradingModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradingModelsRequest": {
        "type": "string",
        "description": "A string used as the request body for the trading operations API. It is expected to contain relevant trading data in JSON format.",
        "example": "{}"
      },
      "GetTradingModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of trading models.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving trading model operations.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "63b38a8d-d9ab-5966-990b-3cba61367617",
            "correlationId": "2d401f43-aedc-577e-9bd3-6425d18807b0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingModel": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The ID of the trading book associated with the model."
          },
          "instrumentId": {
            "type": "string",
            "description": "The ID of the financial instrument."
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, e.g., buy or sell."
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be traded.",
            "format": "int32"
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the trading record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for when the trading model was last updated."
          }
        },
        "description": "Schema representing a trading model."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price."
          }
        },
        "description": "Schema representing the limit price for a trade."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trading-models-search-trading-models"
        },
        "example": "trading-models-search-trading-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme utilizes JSON Web Tokens (JWT) for securing API endpoints, ensuring safe and authorized access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}