{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Loan Details API",
    "description": "The Consumer Loan Details API provides access to information regarding consumer loans offered by the banking service. This API allows users to retrieve detailed information about loan options, including interest rates, terms, and eligibility criteria. Financial institutions, brokers, and individuals seeking insights into available consumer loans can benefit from this API. It serves as a resource for decision-making and comparison of loan products in the marketplace.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/consumer-loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve details for consumer loans in deposit lending.",
        "description": "This endpoint allows users to fetch detailed information about consumer loans available under deposit lending. It provides insights into interest rates, terms, eligibility, and other relevant features to assist customers in understanding their loan options.",
        "operationId": "getConsumerLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for consumer loan-related information within the deposit lending service. Ensure that the request adheres to the defined schema, which outlines the necessary parameters and structure required for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved consumer loan data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerLoanDetailsRequest": {
        "title": "Consumer Loan Operations Request Body",
        "type": "string",
        "description": "The request body for consumer loan operations in the deposit lending context.",
        "example": "{}"
      },
      "GetConsumerLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of consumer loan operation items.",
            "example": [
              {
                "customerId": "CUST-889074",
                "accountId": "ACC-879109",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConsumerLoanOperation"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the loan operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching consumer loan operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-889074",
              "accountId": "ACC-879109",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "20dd286e-cead-5d38-b1bd-2c0192ff288a",
            "correlationId": "f1896d18-bb5c-56ef-8734-67f674f4a14d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsumerLoanOperation": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer_123"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "account_456"
          },
          "productCode": {
            "type": "string",
            "description": "Code that identifies the product.",
            "example": "loan_product_1"
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment.",
            "example": "monthly"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the loan record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a consumer loan operation."
      },
      "Money": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount, e.g., USD, EUR.",
            "example": "USD"
          }
        },
        "description": "Represents a monetary value with currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for a set of results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "correlation_abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This helps in tracking and logging the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "consumer-loan-search-consumer-loan"
        },
        "example": "consumer-loan-search-consumer-loan"
      },
      "X-Runtime-App": {
        "description": "The identifier for the application that processed the request. This is useful for debugging and monitoring the application\u2019s performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication approach to secure API endpoints. Tokens should be provided in the authorization header using the 'Bearer' prefix. The expected format for the token is a JSON Web Token (JWT), which allows the client to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}