{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Transactions API",
    "description": "The Customer Account Transactions API facilitates the submission of transaction records for specific customer accounts. By leveraging this API, businesses can seamlessly add new transactions, thereby enhancing account activity tracking and financial reporting. It primarily supports financial institutions and service providers that require detailed transaction management for individual customer accounts. Use cases include processing customer payments, recording purchase activities, and maintaining comprehensive financial histories.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/transactions": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new transaction for a specific customer account.",
        "description": "This endpoint allows the creation of a transaction associated with a specific account of a customer. Users can submit transaction details to be recorded under the specified account.",
        "operationId": "createCustomerAccountTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new transaction for a specific account associated with a customer. It requires the details of the transaction, including the amount, type, and other relevant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerAccountTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerAccountTransactionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerAccountTransactionRequest": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 100.0
          },
          "description": {
            "type": "string",
            "description": "A brief description of the transaction.",
            "example": "Customer banking request processed successfully"
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "ACTIVE"
          },
          "postedDate": {
            "type": "integer",
            "description": "The date when the transaction was posted.",
            "format": "int32",
            "example": 1
          },
          "transactionDate": {
            "type": "integer",
            "description": "The date when the transaction occurred.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body when creating a transaction.",
        "example": {
          "amount": 100.0,
          "description": "Customer banking request processed successfully",
          "status": "ACTIVE",
          "postedDate": 1,
          "transactionDate": 1,
          "requestContext": {
            "requestId": "e478ffcd-3fbe-5eb7-8984-8c443ff61e30",
            "correlationId": "d0f9021b-2792-57d3-92d5-a6e4d7dc7521",
            "idempotencyKey": "7c0dab5f-e940-511f-9742-e56d5cac5a10",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-214358"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema that contains contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema that describes the channel through which the transaction was requested."
      },
      "CreateCustomerAccountTransactionResponse_201": {
        "title": "TransactionResponse",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the transaction.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the transaction was created, represented in epoch format.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "description": "Metadata related to the transaction, including identifiers and timestamps.",
            "$ref": "#/components/schemas/TransactionMetadata"
          }
        },
        "description": "Response schema for a transaction operation indicating the status and details of the transaction.",
        "example": {
          "id": 1,
          "createdDate": 1,
          "metadata": {
            "responseId": "99b9e07f-52bd-5572-95dc-a241cfa9e9a2",
            "correlationId": "d0f9021b-2792-57d3-92d5-a6e4d7dc7521",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionMetadata": {
        "title": "TransactionMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating this transaction with other related transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint associated with the transaction request. This header is crucial for tracing the API call back to its source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-tx-push-test-transaction"
        },
        "example": "open-finance-api-create-tx-push-test-transaction"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that initiated this transaction request. Useful for tracking performance and debugging issues related to specific apps.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes a bearer token, specifically in the form of a JSON Web Token (JWT), for authenticating requests to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}