{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_QR Payment Request Management API",
    "description": "The QR Payment Request Management API enables businesses to update existing QR payment requests efficiently. This endpoint allows authorized users to modify various attributes of a specific payment request identified by its unique parameter. Typical consumers include financial institutions and payment service providers seeking to manage QR payment workflows seamlessly. This API is crucial for maintaining accurate transaction data and enhancing the user experience in payment solutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}": {
      "put": {
        "tags": [
          "QR Payment"
        ],
        "summary": "Update QR Payment Request",
        "description": "This endpoint allows you to update the details of a specific QR Payment Request identified by its unique ID. Ensure that you provide the necessary information in the request to reflect the desired changes.",
        "operationId": "updateQrPaymentRequestPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to update the details of a specific QR payment request identified by the provided ID. The structure of the request must adhere to the defined schema, which specifies the required fields and their formats.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateQrPaymentRequestPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateQrPaymentRequestPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateQrPaymentRequestPay300045Request": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-461377"
          },
          "outletId": {
            "type": "string",
            "description": "The identifier for the outlet where the transaction is occurring.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "The identifier for the terminal processing the payment.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "The mode of payment (e.g., test or live).",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "The payment standard being used.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount to be processed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "ORD-312501"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options related to tips that can be added to the payment.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "expiresAt": {
            "type": "string",
            "description": "The timestamp at which the payment request expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the payment request is for single use.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information regarding the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for initiating a payment via QR code.",
        "example": {
          "merchantId": "MER-461377",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-312501",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "expiresAt": "2026-08-11T12:00:00Z",
          "singleUse": true,
          "requestContext": {
            "requestId": "542e71e9-3c33-59c1-9dd3-20212f3db9d1",
            "correlationId": "02b8ad47-7f95-557e-86d0-c31c98d69138",
            "idempotencyKey": "fac268af-4a07-5501-a785-36aeedf689ee",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-538037"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code of the payment (e.g., USD, EUR).",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the payment amount.",
            "example": "string"
          }
        },
        "description": "Contains the currency and value of the payment amount."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Mode for tip calculation (e.g., fixed, percentage).",
            "example": "string"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "Array of fixed tip amounts.",
            "example": "[{\"currency\": \"USD\", \"value\": \"5\"}]",
            "items": {
              "$ref": "#/components/schemas/PaymentAmount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "Array of percentage values for tips.",
            "example": "[\"10\", \"15\"]",
            "items": {
              "type": "string",
              "description": "Tip percentage value.",
              "example": "string"
            }
          },
          "maximumTip": {
            "description": "Maximum tip amount allowed.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing the options for tips associated with a payment request."
      },
      "TipAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the tip amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the tip amount.",
            "example": "5.00"
          }
        },
        "description": "Represents a fixed amount for tipping."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The time at which the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the transaction.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details of the payment request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device making the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the payment."
      },
      "UpdateQrPaymentRequestPay300045Response_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "f184179a-e9e5-503d-a027-a1288c03dbb2"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the payment request.",
            "example": "MER-481260"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet associated with the payment request.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal processing the payment request.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Mode of the payment request.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Standard used for the payment request.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "Amount of the payment request.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order associated with the payment request.",
            "example": "ORD-987714"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tips associated with the payment request.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload to be encoded in the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL for the QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates if the payment request is single-use.",
            "example": true
          },
          "paidAmount": {
            "description": "Amount that has been paid for the payment request.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-261600"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date and time of the payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the payment request.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the payment request.",
            "$ref": "#/components/schemas/MetadataInfo"
          }
        },
        "description": "Response schema for QR payment request operations.",
        "example": {
          "qrPaymentRequestId": "f184179a-e9e5-503d-a027-a1288c03dbb2",
          "merchantId": "MER-481260",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-987714",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-261600",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "b0b38b0f-229c-5ad4-a041-1d70eda6ef12",
            "correlationId": "02b8ad47-7f95-557e-86d0-c31c98d69138",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount with its currency."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the payment request was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the payment request.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the payment request was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the payment request.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payment request.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for tracking changes to the payment request."
      },
      "MetadataInfo": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the payment request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment request is processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The unique identifier for the endpoint associated with the request.",
          "example": "banking-p2m-openapi-replace-qr-payment-request"
        },
        "example": "banking-p2m-openapi-replace-qr-payment-request"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that is executing the transaction.",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to secure API access. It requires a valid JSON Web Token (JWT) to be included in the request's Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}