{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Terminal Details API",
    "description": "The Terminal Details API provides businesses with access to detailed information about specific payment terminals. Users can retrieve data such as terminal status, configuration settings, and transaction history for a given terminal, identified by its unique terminal ID. This API is essential for merchants and support teams to monitor terminal performance and troubleshoot issues efficiently. Typical use cases include integrating terminal data into dashboards and support systems, enhancing operational visibility and customer service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals/{terminalId}": {
      "get": {
        "tags": [
          "Terminals"
        ],
        "summary": "Retrieve terminal details",
        "description": "This endpoint allows you to fetch detailed information about a specific terminal using its unique identifier. It includes data about the terminal's status, location, and settings.",
        "operationId": "getTerminalById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the terminal identified by the specified terminal ID (RES-100045). It includes any necessary parameters for the operation to execute successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTerminalByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested terminal data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTerminalByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTerminalByIdRequest": {
        "type": "string",
        "description": "A string representing the request body for the GET operation on the terminals resource.",
        "example": "{}"
      },
      "GetTerminalByIdResponse_200": {
        "title": "Terminal Response",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "The unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant to which the terminal belongs.",
            "example": "MER-237241"
          },
          "outletId": {
            "type": "string",
            "description": "The unique identifier for the outlet associated with the terminal.",
            "example": "STANDARD"
          },
          "terminalType": {
            "type": "string",
            "description": "The type of terminal (e.g., POS, ATM, etc.).",
            "example": "STANDARD"
          },
          "label": {
            "type": "string",
            "description": "The label or name associated with the terminal.",
            "example": "STANDARD"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the terminal.",
            "example": "STANDARD"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique fingerprint for the device.",
            "example": "STANDARD"
          },
          "capabilities": {
            "type": "array",
            "description": "The capabilities of the terminal (e.g., payment methods supported).",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific capability of the terminal.",
              "example": "Credit Cards"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the terminal (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "The timestamp when the terminal was last seen.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Contains audit information related to the terminal.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Contains metadata regarding the terminal response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the terminal information endpoint.",
        "example": {
          "terminalId": "STANDARD",
          "merchantId": "MER-237241",
          "outletId": "STANDARD",
          "terminalType": "STANDARD",
          "label": "STANDARD",
          "serialNumber": "STANDARD",
          "deviceFingerprint": "STANDARD",
          "capabilities": [
            "STANDARD"
          ],
          "status": "ACTIVE",
          "lastSeenAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "4ccfc858-f8de-5577-a3a5-ad50f4dc22ea",
            "correlationId": "09a477b9-8b2d-5b1f-95db-f65e04d51dd5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the terminal was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the terminal.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the terminal was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the terminal.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "The version of the terminal record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "This schema contains audit information for a terminal."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The ID used to correlate requests and responses.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "This schema contains metadata about the terminal response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-terminal"
        },
        "example": "banking-p2m-openapi-get-terminal"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, specifically JWT (JSON Web Token) format, to provide secure access to the API. Clients must include a JWT token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}