{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Orders Retrieval API",
    "description": "The International Standing Orders Retrieval API provides users with access to international standing orders associated with their accounts. This API allows consumers, such as financial institutions and payment service providers, to fetch detailed information regarding these orders efficiently. It enables the retrieval of transaction details, order statuses, and related metadata. Use cases typically involve checking the status of payments or monitoring scheduled transfers, thus enhancing transparency and operational efficiency in financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders/{param1}": {
      "get": {
        "tags": [
          "International Standing Orders"
        ],
        "summary": "Retrieve International Standing Order Details",
        "description": "Fetches the details of an international standing order using its unique identifier. This endpoint allows users to obtain relevant information such as order status, payment details, and beneficiary information.",
        "operationId": "getInternationalStandingOrderById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details for the specified international standing order. Ensure that the order ID provided is correct to retrieve accurate information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalStandingOrderByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested standing order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalStandingOrderByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalStandingOrderByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to international standing orders. The content is expected to be in JSON format.",
        "example": "{}"
      },
      "GetInternationalStandingOrderByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier for the standing order.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the standing order.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the standing order was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the standing order.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons related to the current status of the standing order.",
                "items": {
                  "$ref": "#/components/schemas/StatusReasonItem"
                }
              },
              "Refund": {
                "type": "object",
                "$ref": "#/components/schemas/RefundDetails"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges applied to the standing order.",
                "items": {
                  "$ref": "#/components/schemas/ChargeDetails"
                }
              },
              "Initiation": {
                "type": "object",
                "$ref": "#/components/schemas/InitiationDetails"
              },
              "NumberOfPayments": {
                "type": "string",
                "description": "Total number of payments to be made via this standing order.",
                "example": "string"
              },
              "ExtendedPurpose": {
                "type": "string",
                "description": "Extended purpose for which the standing order was created.",
                "example": "string"
              },
              "ChargeBearer": {
                "type": "string",
                "description": "Indicates who will bear the charges associated with the standing order.",
                "example": "string"
              },
              "CurrencyOfTransfer": {
                "type": "string",
                "description": "Currency used for the transfer.",
                "example": "string"
              },
              "DestinationCountryCode": {
                "type": "string",
                "description": "ISO code of the destination country for the standing order.",
                "example": "string"
              }
            },
            "description": "Data object containing order details.",
            "example": {
              "orderId": "ORD-517370",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate related requests or responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Metadata object containing additional information about the response.",
            "example": {
              "responseId": "215620af-7e0e-5ced-b445-8def8e365c25",
              "correlationId": "66ccfa18-fa40-53bc-9f45-391254536cba",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for international standing orders operations, includes details about the order and metadata.",
        "example": {
          "Data": {
            "orderId": "ORD-517370",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "metadata": {
            "responseId": "215620af-7e0e-5ced-b445-8def8e365c25",
            "correlationId": "66ccfa18-fa40-53bc-9f45-391254536cba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Error or status code related to the order.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path or source of the status information.",
            "example": "string"
          }
        },
        "description": "Reason associated with the status of an order."
      },
      "RefundDetails": {
        "type": "object",
        "properties": {
          "Account": {
            "type": "object",
            "description": "Account details that are related to the refund.",
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details related to the refund process for the standing order."
      },
      "ChargeDetails": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who will bear the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "description": "Amount details for the charge.",
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details regarding charges associated with the standing order."
      },
      "InitiationDetails": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "type": "object",
            "description": "Information related to the remittance.",
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "Total number of payments in the standing order.",
            "example": "string"
          }
        },
        "description": "Details required for the initiation of the standing order."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the payment scheme of the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identifier for the account.",
            "example": "string"
          }
        },
        "description": "Details of the person's or entity's account associated with the refund."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the charge amount.",
            "example": "string"
          }
        },
        "description": "Details about the amount associated with the charge."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "List of structured remittance information.",
            "items": {
              "type": "object",
              "properties": {
                "ReferredDocumentInformation": {
                  "type": "array",
                  "description": "List of referred document information relating to remittance.",
                  "items": {
                    "type": "object",
                    "properties": {
                      "Code": {
                        "type": "string",
                        "description": "Code of the referred document.",
                        "example": "string"
                      },
                      "Issuer": {
                        "type": "string",
                        "description": "Issuer of the referred document.",
                        "example": "string"
                      },
                      "Number": {
                        "type": "string",
                        "description": "Document number of the referred document.",
                        "example": "string"
                      },
                      "RelatedDate": {
                        "type": "string",
                        "description": "Date related to the referred document.",
                        "example": "string"
                      },
                      "LineDetails": {
                        "type": "array",
                        "description": "Detailed lines associated with the referred document.",
                        "items": {
                          "type": "string",
                          "example": "string"
                        }
                      }
                    }
                  }
                },
                "ReferredDocumentAmount": {
                  "type": "string",
                  "description": "Amount related to the referred document.",
                  "example": "string"
                },
                "CreditorReferenceInformation": {
                  "type": "object",
                  "properties": {
                    "Code": {
                      "type": "string",
                      "description": "Creditor reference code.",
                      "example": "string"
                    },
                    "Issuer": {
                      "type": "string",
                      "description": "Issuer of the creditor reference.",
                      "example": "string"
                    },
                    "Reference": {
                      "type": "string",
                      "description": "Reference string for the creditor.",
                      "example": "string"
                    }
                  },
                  "description": "Reference information regarding the creditor."
                },
                "Invoicer": {
                  "type": "string",
                  "description": "Name of the invoicer.",
                  "example": "string"
                },
                "Invoicee": {
                  "type": "string",
                  "description": "Name of the invoicee.",
                  "example": "string"
                },
                "TaxRemittance": {
                  "type": "string",
                  "description": "Information about tax remittance.",
                  "example": "string"
                },
                "AdditionalRemittanceInformation": {
                  "type": "array",
                  "description": "Array of additional information related to remittance.",
                  "items": {
                    "type": "string",
                    "example": "string"
                  }
                }
              }
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "List of unstructured remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Information related to remittance details including structured and unstructured remittance."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-standing-order"
        },
        "example": "payment-initiation-openapi-get-international-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a JSON Web Token (JWT) for bearer authentication. Clients must provide the token in the 'Authorization' header in the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}