{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Credit Rating Update API",
    "description": "The Customer Credit Rating Update API provides an interface for modifying the credit rating details of individual customers. This API is essential for financial institutions and credit agencies that need to adjust customer credit scores based on updated information or changed circumstances. Users may typically include credit analysts, customer service representatives, and financial application developers who need to ensure accurate credit information for decision-making purposes. This endpoint supports maintaining the integrity and accuracy of customer financial data through efficient updates.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-credit-rating/{param1}": {
      "patch": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Customer Credit Rating",
        "description": "This endpoint allows you to update the credit rating information for a specific customer identified by their unique ID. Ensure that you provide the necessary details in the request body to reflect the changes to their credit rating.",
        "operationId": "updateCustomerCreditRatingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for updating the credit rating of a specific customer identified by CUST-100045. The JSON object should contain the updated credit information for the customer.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerCreditRatingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the credit rating has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerCreditRatingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerCreditRatingCUST100045Request": {
        "title": "Customer Credit Rating Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/CreditRatingChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating customer credit rating information via a PATCH request.",
        "example": {
          "changes": {
            "customerId": "CUST-711616",
            "partyId": "PARTY-104014",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "717e5d9f-19df-515a-b2a6-3b793f69024c",
            "correlationId": "1a67a339-3c06-52ae-8d56-6a3c273bff3c",
            "idempotencyKey": "af2c7151-c8d9-5d05-887a-b3934b08f373",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-181764"
            }
          }
        }
      },
      "CreditRatingChanges": {
        "title": "Credit Rating Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the customer.",
            "example": "PARTY-200001"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product related to the customer.",
            "example": "PROD-300002"
          }
        },
        "description": "Schema representing the changes to be made to a customer's credit rating."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-400003"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "CORR-500004"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMP-600005"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM-System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "CreditManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-700006"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request, e.g., web, mobile.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-800007"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "UpdateCustomerCreditRatingCUST100045Response_200": {
        "title": "Customer Credit Rating Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the credit rating operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the credit rating was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on customer credit rating, containing the version, status, updated date, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6c9db76c-981c-5d9a-bdbb-7868bfd49cf6",
            "correlationId": "1a67a339-3c06-52ae-8d56-6a3c273bff3c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems.",
            "example": "67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-04T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being called, which can be useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-credit-rating-update-customer-credit-rating"
        },
        "example": "customer-credit-rating-update-customer-credit-rating"
      },
      "X-Runtime-App": {
        "description": "The name of the application that generated the response, which aids in identifying the source of the data.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}