{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Quantitative Market Data Retrieval API",
    "description": "The Quantitative Market Data Retrieval API allows users to access detailed quantitative models related to market data. This endpoint provides insights and analytics that are essential for financial analysts, quantitative researchers, and traders. By retrieving specific model data using a designated parameter, users can integrate sophisticated quantitative analysis into their applications or research workflows. This API empowers consumers to make informed decisions based on robust market analytics.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve Quant Model Data",
        "description": "This endpoint allows users to fetch specific quant model data identified by the resource ID 'RES-100045'. It returns detailed information about the quant model, enabling better decision-making based on the latest market insights.",
        "operationId": "getQuantModelMarketDataRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains parameters that are used to retrieve market data specific to the quant model identified as RES-100045. The parameters provided here should comply with the specifications outlined in the referred schema, ensuring the proper functioning of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuantModelMarketDataRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested quant model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuantModelMarketDataRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQuantModelMarketDataRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the market data quant model.",
        "example": "{}"
      },
      "GetQuantModelMarketDataRes100045Response_200": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code that identifies the market where the instrument is traded.",
            "example": "CODE-458"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time as of which the data is relevant.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data is obtained.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record, indicating whether it is active or inactive.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the data record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier used to correlate this response with a request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographical region where the response was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "0a10925b-b6f4-54f2-84ee-0914bab7eff9",
              "correlationId": "b1722061-42d7-5f4f-a87b-88262b175b64",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving market data related to a specific financial instrument.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-458",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a10925b-b6f4-54f2-84ee-0914bab7eff9",
            "correlationId": "b1722061-42d7-5f4f-a87b-88262b175b64",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being called. This is useful for tracking and logging API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-get-quant-model"
        },
        "example": "quant-model-get-quant-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the request. This helps in identifying which service handled the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Users must provide a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}