{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Agreement Management API",
    "description": "The Customer Agreement Management API enables businesses to update and manage customer agreements efficiently. With this API, users can modify existing agreements to reflect changes in terms or customer details. It is designed for financial institutions and customer service teams seeking to streamline the agreement management process. Typical use cases include adjusting terms due to customer requests or compliance updates, ensuring all agreements remain current and accurate.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-agreement/{param1}": {
      "patch": {
        "tags": [
          "Customer Agreements"
        ],
        "summary": "Update Customer Agreement",
        "description": "This operation allows the user to update the details of a specific customer agreement identified by CUST-100045. All necessary fields should be provided in the request to ensure a successful update.",
        "operationId": "updateCustomerAgreementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a customer agreement identified by CUST-100045. It must contain the necessary fields that reflect the modifications to be made to the existing agreement. Ensure that all required fields are included to process the update successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerAgreementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the customer agreement has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerAgreementCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerAgreementCUST100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made to the customer agreement.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating customer agreement operations.",
        "example": {
          "changes": {
            "customerId": "CUST-548573",
            "partyId": "PARTY-499562",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7609849a-4295-510a-9090-0a9aa5bfd359",
            "correlationId": "8f1e2ecc-f53f-5afc-a1ff-06c1e81b961e",
            "idempotencyKey": "7838bd01-39cf-5de3-a950-ea4fce710c8b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-943996"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-100045"
          },
          "partyId": {
            "type": "string",
            "description": "The identifier of the party involved in the agreement.",
            "example": "PARTY-1234"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the product related to the customer agreement.",
            "example": "PROD-XYZ"
          }
        },
        "description": "The changes to be applied to the customer agreement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-78910"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate and trace requests across systems.",
            "example": "CORR-1111"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate processing of requests.",
            "example": "IDEMPOTENCY-KEY-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp at which the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM-SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the specific application making the request.",
            "example": "CustomerManagementApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual data about the request process."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateCustomerAgreementCUST100045Response_200": {
        "title": "Customer Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the customer agreement.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the customer agreement operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the customer agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the customer agreement operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for updating customer agreement operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "756eaf9e-dc45-51b5-b29f-77c9884ae991",
            "correlationId": "8f1e2ecc-f53f-5afc-a1ff-06c1e81b961e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Indicates the region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata for operations related to customer agreements."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the specific endpoint being accessed in the customer management system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-agreement-update-customer-agreement"
        },
        "example": "customer-agreement-update-customer-agreement"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is responsible for processing the request within the customer management system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication is provided using a Bearer token in the format of JWT (JSON Web Token). This scheme is typically used for accessing secure endpoints, where users must provide a valid token in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}