{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Unsecured SME Loans Reference API",
    "description": "The Unsecured SME Loans Reference API provides businesses with essential information regarding unsecured loans tailored for small and medium enterprises (SMEs). This API allows users to access detailed data on loan products, eligibility criteria, interest rates, and application processes. It is ideal for financial institutions, developers, and third-party service providers looking to integrate SME financing options into their applications. Gain insights into available lending solutions and support SMEs in securing the necessary funding for their growth ambitions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/unsecured-sme-loans": {
      "get": {
        "tags": [
          "SME Loans"
        ],
        "summary": "Retrieve unsecured SME loans",
        "description": "This endpoint allows you to retrieve a list of unsecured loans specifically designed for small and medium enterprises (SMEs). It provides essential information related to loan options available for SMEs.",
        "operationId": "getUnsecuredSmeLoans",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about unsecured SME loans. Ensure that all required fields are populated correctly to get the expected response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetUnsecuredSmeLoansRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of unsecured SME loans.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetUnsecuredSmeLoansResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetUnsecuredSmeLoansRequest": {
        "type": "string",
        "description": "This schema represents the request body for the unsecured SME loans operation in an Open Banking API context. It is intended to specify the content type for a GET request.",
        "example": "{}"
      },
      "GetUnsecuredSmeLoansResponse_200": {
        "title": "Unsecured SME Loans Response",
        "type": "object",
        "properties": {
          "meta": {
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "A list of loan products available.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-272",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductName": "Northstar Banking Service",
                "ProductIdentifier": "PROD-909424",
                "ArrearsTreatment": "STANDARD",
                "ProductTypeName": "Northstar Banking Service",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "ProductSegment": [
                  "STANDARD"
                ],
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "CustomerAccessChannels": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumLoanTerm": 1,
                "MaximumLoanTerm": 1,
                "MinimumLoanAmount": "100.00",
                "MaximumLoanAmount": "25000.00",
                "PaymentHoliday": true,
                "LoanItem": [
                  {
                    "ProductState": "STANDARD",
                    "StartPromotionOrFutureTerms": "STANDARD",
                    "StopPromotionOrFutureTerms": "STANDARD",
                    "LengthPromotionalInDays": 1,
                    "DateOfChange": "2026-09-15",
                    "LoanPricing": [
                      {
                        "SizeIncrement": "STANDARD",
                        "LoanLengthIncrement": "STANDARD",
                        "RepaymentFrequency": [
                          "STANDARD"
                        ],
                        "LoanSizeBandLower": "STANDARD",
                        "LoanSizeBandUpper": "STANDARD"
                      }
                    ]
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanProduct"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for the unsecured SME loans API request.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-272",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductName": "Northstar Banking Service",
              "ProductIdentifier": "PROD-909424",
              "ArrearsTreatment": "STANDARD",
              "ProductTypeName": "Northstar Banking Service",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "ProductSegment": [
                "STANDARD"
              ],
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "CustomerAccessChannels": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumLoanTerm": 1,
              "MaximumLoanTerm": 1,
              "MinimumLoanAmount": "100.00",
              "MaximumLoanAmount": "25000.00",
              "PaymentHoliday": true,
              "LoanItem": [
                {
                  "ProductState": "STANDARD",
                  "StartPromotionOrFutureTerms": "STANDARD",
                  "StopPromotionOrFutureTerms": "STANDARD",
                  "LengthPromotionalInDays": 1,
                  "DateOfChange": "2026-09-15",
                  "LoanPricing": [
                    {
                      "SizeIncrement": "STANDARD",
                      "LoanLengthIncrement": "STANDARD",
                      "RepaymentFrequency": [
                        "STANDARD"
                      ],
                      "LoanSizeBandLower": "STANDARD",
                      "LoanSizeBandUpper": "STANDARD"
                    }
                  ]
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "a6771025-2068-5049-8808-ec1bba86803d",
            "correlationId": "cf469e13-c763-5cc7-8242-6a49576689f1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "title": "Meta Information",
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The timestamp when the data was last updated."
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results available.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement details related to the data."
          },
          "License": {
            "type": "string",
            "description": "License information for the usage of the data."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "The terms of use associated with the data."
          }
        },
        "description": "Metadata information associated with the API response."
      },
      "LoanProduct": {
        "title": "Loan Product",
        "type": "object",
        "properties": {
          "Organisation": {
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductName": {
            "type": "string",
            "description": "The name of the loan product."
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the loan product."
          },
          "ArrearsTreatment": {
            "type": "string",
            "description": "Information about the treatment of arrears."
          },
          "ProductTypeName": {
            "type": "string",
            "description": "Type of the loan product."
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for more information about the loan product.",
            "items": {
              "type": "string"
            }
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments that the loan product targets.",
            "items": {
              "type": "string"
            }
          },
          "ProductDescription": {
            "type": "string",
            "description": "A detailed description of the loan product."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions associated with the loan product.",
            "items": {
              "type": "string"
            }
          },
          "CustomerAccessChannels": {
            "type": "array",
            "description": "Channels through which customers can access the loan product.",
            "items": {
              "type": "string"
            }
          },
          "Currency": {
            "type": "array",
            "description": "List of currencies accepted for the loan.",
            "items": {
              "type": "string"
            }
          },
          "MinimumLoanTerm": {
            "type": "integer",
            "description": "The minimum term of the loan in months.",
            "format": "int32",
            "example": 0
          },
          "MaximumLoanTerm": {
            "type": "integer",
            "description": "The maximum term of the loan in months.",
            "format": "int32",
            "example": 0
          },
          "MinimumLoanAmount": {
            "type": "string",
            "description": "The minimum amount that can be borrowed."
          },
          "MaximumLoanAmount": {
            "type": "string",
            "description": "The maximum amount that can be borrowed."
          },
          "PaymentHoliday": {
            "type": "boolean",
            "description": "Indicates if a payment holiday is offered."
          },
          "LoanItem": {
            "type": "array",
            "description": "Details about specific loan items.",
            "items": {
              "$ref": "#/components/schemas/LoanItemDetails"
            }
          }
        },
        "description": "Schema representing a loan product offered by an organization."
      },
      "Organisation": {
        "title": "Organisation Information",
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Schema representing the organization offering the loan products."
      },
      "ParentOrganisation": {
        "title": "Parent Organisation",
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the organization."
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code for the organization."
          },
          "OrganisationName": {
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Schema representing the parent organization details."
      },
      "OrganisationName": {
        "title": "Organisation Name",
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organization."
          }
        },
        "description": "Schema representing the name of the organization."
      },
      "Brand": {
        "title": "Brand Information",
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "IPO code associated with the brand."
          },
          "TrademarkID": {
            "type": "string",
            "description": "Unique identifier for the trademark."
          }
        },
        "description": "Schema representing brand details of the organisation."
      },
      "LoanItemDetails": {
        "title": "Loan Item Details",
        "type": "object",
        "properties": {
          "ProductState": {
            "type": "string",
            "description": "Current state of the loan product."
          },
          "StartPromotionOrFutureTerms": {
            "type": "string",
            "description": "Details about the start of promotion or future terms."
          },
          "StopPromotionOrFutureTerms": {
            "type": "string",
            "description": "Details about the end of promotion or future terms."
          },
          "LengthPromotionalInDays": {
            "type": "integer",
            "description": "Length of promotional terms in days.",
            "format": "int32",
            "example": 0
          },
          "DateOfChange": {
            "type": "string",
            "description": "Date of the change in loan terms."
          },
          "LoanPricing": {
            "type": "array",
            "description": "Pricing details for loan items.",
            "items": {
              "$ref": "#/components/schemas/LoanPricingDetails"
            }
          }
        },
        "description": "Schema representing details of loan items associated with a product."
      },
      "LoanPricingDetails": {
        "title": "Loan Pricing Details",
        "type": "object",
        "properties": {
          "SizeIncrement": {
            "type": "string",
            "description": "Incremental size amount for the loan."
          },
          "LoanLengthIncrement": {
            "type": "string",
            "description": "Incremental loan length detail."
          },
          "RepaymentFrequency": {
            "type": "array",
            "description": "Frequency at which loan repayments are made.",
            "items": {
              "type": "string"
            }
          },
          "LoanSizeBandLower": {
            "type": "string",
            "description": "Lower limit for the loan size band."
          },
          "LoanSizeBandUpper": {
            "type": "string",
            "description": "Upper limit for the loan size band."
          }
        },
        "description": "Schema representing the pricing details for a loan."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Additional metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that processed the request, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-unsecured-sme-loans"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-unsecured-sme-loans"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context for where the response originated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme with JSON Web Tokens (JWT). Clients should include a token in the Authorization header in the following format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}