{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Payroll Benefits API",
    "description": "The Update Payroll Benefits API allows organizations to modify existing payroll benefits for their employees. By providing necessary parameters, this API enables HR departments to efficiently adjust benefits such as health insurance, retirement plans, and other employee perks. This functionality is crucial for ensuring employees receive the most suitable benefits tailored to their circumstance. Typical consumers include HR personnel and payroll administrators who require seamless integration into their human resource management systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/{param1}": {
      "patch": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Update Employee Payroll Benefits",
        "description": "This operation updates the payroll benefits for a specific employee identified by their unique employee ID. Users can modify various aspects of the employee's benefits information to ensure that it is current and accurate.",
        "operationId": "updateEmployeePayrollBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the payroll benefits information for the specified employee. Ensure that all required fields are filled with valid data to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeePayrollBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEmployeePayrollBenefitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEmployeePayrollBenefitsRequest": {
        "title": "Payroll Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the changes being requested to the payroll.",
            "$ref": "#/components/schemas/PayrollChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date for the requested changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context object for the request, providing additional metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for operations related to payroll management, including changes to various payroll attributes.",
        "example": {
          "changes": {
            "payrollRunId": "STANDARD",
            "employeeId": "EMP-543592",
            "payPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9422af69-da95-532e-a111-140502c37756",
            "correlationId": "bdd6672a-39da-5fd9-8d63-c1cef8e00c58",
            "idempotencyKey": "13f59849-8936-552f-8fab-16ee8c0442ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-702830"
            }
          }
        }
      },
      "PayrollChanges": {
        "title": "Payroll Changes",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "The identifier for the payroll run being modified.",
            "example": "PR123"
          },
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee associated with the changes.",
            "example": "EMP001"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the changes apply.",
            "example": "2023-Q4"
          }
        },
        "description": "This schema defines the specific payroll attributes that can be altered in a request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests through systems.",
            "example": "CORR-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEMP-XYZ"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "HRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Payroll Application"
          },
          "channel": {
            "description": "Information about the communication channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides context about the request, including identifiers and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the communication channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "This schema defines the communication channel used for the request."
      },
      "UpdateEmployeePayrollBenefitsResponse_200": {
        "title": "Payroll Benefits Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing the details of the payroll benefits operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6ccf9712-bb1b-5ef3-b58f-1597f0eef960",
            "correlationId": "bdd6672a-39da-5fd9-8d63-c1cef8e00c58",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking the processing of a request across systems.",
            "example": "54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the specific API endpoint that was invoked. This helps in tracking the request and response associated with particular operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-update-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-update-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. It indicates which application instance processed this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication using JSON Web Tokens (JWT). To access secured endpoints, clients must include a valid JWT in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}