{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Operations Status API",
    "description": "The Correspondent Bank Operations Status API provides real-time updates on the status of banking payments processed through correspondent banks. This API is essential for financial institutions and payment processors that need to monitor transaction statuses and ensure seamless operations. By querying the status of specific operations, users can quickly resolve issues, improve customer service, and maintain compliance. Developers integrating this API into their systems will facilitate smoother transaction tracking and enhance the overall banking experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/correspondent-bank-operations/status": {
      "get": {
        "tags": [
          "Banking Operations"
        ],
        "summary": "Fetch status of correspondent bank operations.",
        "description": "This endpoint allows you to retrieve the current status of correspondent bank operations, providing insights on the processing state and any relevant details associated with the operations.",
        "operationId": "getCorrespondentBankOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters needed to retrieve the status of correspondent bank operations. The expected data format is JSON, which should adhere to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of correspondent bank operation status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankOperationStatusRequest": {
        "type": "string",
        "description": "A string representation of the correspondent bank operations status used in GET requests.",
        "example": "{}"
      },
      "GetCorrespondentBankOperationStatusResponse_200": {
        "title": "Payment Status Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier of the payment.",
            "example": "PAY-261354"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor.",
            "example": "ACC-673970"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor.",
            "example": "ACC-874442"
          },
          "instructedAmount": {
            "description": "The amount and currency that was instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment execution is requested.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information regarding the remittance.",
            "example": "STANDARD"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "The account ID used for nostro transactions.",
            "example": "ACC-639563"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement of the payment.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "The current status of the relationship involved in the payment.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record for the payment operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the payment record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the payment operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for fetching the status of payment operations.",
        "example": {
          "paymentId": "PAY-261354",
          "debtorAccountId": "ACC-673970",
          "creditorAccountId": "ACC-874442",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "nostroAccountId": "ACC-639563",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45eae5eb-d103-5f4c-8dc0-e255180788fe",
            "correlationId": "61e50875-1ed3-5b0e-abff-7b82d9429c21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount to be paid.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the instructed amount.",
            "example": "USD"
          }
        },
        "description": "Represents the instructed amount and its currency for the payment."
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The ID of the response related to this payment.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the payment operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, indicating the specific endpoint involved in the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-operations-get-correspondent-bank-operations"
        },
        "example": "correspondent-bank-operations-get-correspondent-bank-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that is executing the request, useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, where the token is provided in the authorization header. The token must be a valid JSON Web Token (JWT) encoded string.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}