{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Issue Retrieval API",
    "description": "The Servicing Issue Retrieval API is designed to provide access to detailed information regarding servicing issues within the banking domain. This API allows users to retrieve specific servicing problems associated with customer accounts, enhancing issue resolution and customer support processes. Typical consumers include customer service representatives and technical support teams who need to ensure prompt handling of client inquiries. By leveraging this API, organizations can streamline their servicing workflows and improve overall customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-issue": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing issue details",
        "description": "This endpoint allows you to fetch the details of a servicing issue. You can use this to get information about specific issues related to servicing requests.",
        "operationId": "getServicingIssue",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving servicing issue information. This object should include the necessary parameters according to the defined schema for the servicing issue API.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingIssueRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the servicing issue details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingIssueResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingIssueRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving servicing issue details in JSON format.",
        "example": "{}"
      },
      "GetServicingIssueResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A collection of servicing issue records.",
            "example": [
              {
                "customerId": "CUST-473753",
                "caseId": "CASE-328195",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingIssue"
            }
          },
          "pagination": {
            "description": "Pagination information for the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the records.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the servicing issue retrieval operation.",
        "example": {
          "items": [
            {
              "customerId": "CUST-473753",
              "caseId": "CASE-328195",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5c4b0ae9-08f2-5a0e-a07b-ca7ef347cc47",
            "correlationId": "c562bc1e-cacd-5a60-b2d9-dc59f9b13393",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingIssue": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case."
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request."
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case."
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the request originated."
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for the case."
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Due date for the service level."
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred contact method."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update."
          }
        },
        "description": "Represents a servicing issue record."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination metadata for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed, typically used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-issue-search-servicing-issue"
        },
        "example": "servicing-issue-search-servicing-issue"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime environment that is handling the request, useful for diagnosis and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. The client must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}