{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Term Deposit Framework Agreement API",
    "description": "The Term Deposit Framework Agreement API facilitates the retrieval of detailed information regarding term deposit agreements. This endpoint allows users to access specific framework agreements based on a unique identifier, providing critical insights into terms, conditions, and associated benefits. Financial institutions, advisors, and clients can utilize this API to review or verify agreement details seamlessly. By integrating this endpoint, developers can enhance applications that manage banking products, ensuring users are well-informed about their term deposit options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/term-deposit-framework-agreement/{param1}": {
      "get": {
        "tags": [
          "Term Deposit Management"
        ],
        "summary": "Retrieve Term Deposit Framework Agreement by ID",
        "description": "This endpoint allows you to fetch the details of a specific Term Deposit Framework Agreement using its unique identifier. This is useful for accessing essential information related to the agreement, such as terms, rates, and conditions.",
        "operationId": "getTermDepositAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the term deposit framework agreement details for the specified resource identifier. This request should follow the defined schema and provide the necessary parameters for successful execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTermDepositAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the term deposit framework agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTermDepositAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTermDepositAgreementByIdRequest": {
        "type": "string",
        "description": "The JSON representation of the request body for the GET operation involving the term deposit framework agreement.",
        "example": "{}"
      },
      "GetTermDepositAgreementByIdResponse_200": {
        "title": "Term Deposit Framework Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-982871"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the term deposit.",
            "example": "ACC-255224"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the specific product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount for the term deposit.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the term deposit in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment.",
            "example": "STANDARD"
          },
          "depositAmount": {
            "description": "The total deposit amount for the term deposit.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "tenorDays": {
            "type": "integer",
            "description": "Duration of the deposit in days.",
            "format": "int32",
            "example": 1
          },
          "maturityInstruction": {
            "type": "string",
            "description": "Instructions for the maturity of the term deposit.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the term deposit record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the details of a term deposit framework agreement.",
        "example": {
          "customerId": "CUST-982871",
          "accountId": "ACC-255224",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "depositAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "tenorDays": 1,
          "maturityInstruction": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "457a1643-3f81-59f7-87e9-f54a1b052649",
            "correlationId": "068089f3-2fcb-564d-ab5e-43458e04910a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount of money.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The three-letter currency code (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money with its currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "RESP1001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID that helps to track requests across different services.",
            "example": "CORR2002"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request is processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
        },
        "example": "term-deposit-framework-agreement-get-term-deposit-framework-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request, helpful for identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where tokens are sent via the `Authorization` header. The token is in the form of a JSON Web Token (JWT), which is used to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}