{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Processing Order Inquiry API",
    "description": "The Processing Order Inquiry API allows users to query the status and details of orders within the banking operational services. This endpoint is critical for financial institutions and customer service representatives needing to track order progress or retrieve specific order information. Typical consumers include bank support teams and operational staff who rely on real-time data to assist clients and manage workflows effectively. The API provides essential insights into order processing, ensuring transparency and efficiency in banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve processing order details.",
        "description": "This endpoint allows developers to retrieve detailed information about processing orders, including current status, items involved, and timestamps for each stage of processing.",
        "operationId": "getProcessingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve processing order details from the operational services. Ensure that the request adheres to the specified schema for successful execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProcessingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProcessingOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProcessingOrderRequest": {
        "type": "string",
        "description": "A request body schema for retrieving processing order operations. It is expected to contain a valid processing order identifier.",
        "example": "{}"
      },
      "GetProcessingOrderResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of processing order items.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-518379",
                "accountId": "ACC-799737",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProcessingOrderItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used in the request.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the successful retrieval of processing orders.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-518379",
              "accountId": "ACC-799737",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7d32b3a1-f90f-5706-aa27-a23f07fdeae3",
            "correlationId": "ff326266-e094-52c6-a611-1cc7129e169c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcessingOrderItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "operation-123"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "customer-456"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "account-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the processing order.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the order.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was last updated.",
            "example": "2023-10-02T12:00:00Z"
          }
        },
        "description": "Represents a single processing order item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across multiple systems.",
            "example": "request-abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-search-processing-order"
        },
        "example": "processing-order-search-processing-order"
      },
      "x-runtime-app": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication schema that uses a bearer token issued via JSON Web Tokens (JWT). This token should be included in the Authorization header of requests to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}