{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Lookup API",
    "description": "The Institution Lookup API provides a means to retrieve detailed information about institutions associated with specific applications. By utilizing the application ID, users can access critical data such as institution identifiers, names, and statuses. This API is mainly used by developers integrating institution-related functionalities into their applications, enabling better decision-making and enhanced user experiences. It serves those in the education, finance, and compliance sectors who require comprehensive institution insights for efficient operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/applications/{applicationId}/institutions": {
      "get": {
        "tags": [
          "Resource Management"
        ],
        "summary": "Retrieve institutions for a specific resource.",
        "description": "This endpoint allows you to retrieve the list of institutions associated with the specified resource identified by RES-100045. It provides essential data regarding the institutions linked to this resource.",
        "operationId": "getInstitutionsForResourceRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of institutions associated with the resource identified by RES-100045. The expected input format is JSON, which includes parameters related to the request for enhanced filtering or specific details required for the query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionsForResourceRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of institutions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionsForResourceRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionsForResourceRES100045Request": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation on institutions.",
        "example": "{}"
      },
      "GetInstitutionsForResourceRES100045Response_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more institutions are available beyond the current display.",
            "example": true
          },
          "institutions": {
            "type": "array",
            "description": "A list of institutions.",
            "example": [
              {
                "institutionId": 1,
                "institutionName": "Northstar Banking Service",
                "status": true,
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching institution information.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "institutions": [
            {
              "institutionId": 1,
              "institutionName": "Northstar Banking Service",
              "status": true,
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "c555babf-e2ca-516b-85d0-f3929e02d1d8",
            "correlationId": "77147fde-2f57-53b7-89f2-8586ded18fb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "integer",
            "description": "Unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "Example Institution"
          },
          "status": {
            "type": "boolean",
            "description": "Current status of the institution (active/inactive).",
            "example": false
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the institution was created.",
            "example": "2023-01-01"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the institution was last modified.",
            "example": "2023-01-01"
          }
        },
        "description": "Schema representing an institution."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the request across systems.",
            "example": "correlation-xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-registered-institutions"
        },
        "example": "open-finance-api-get-registered-institutions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}