{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Deployment Management API",
    "description": "The Product Deployment Management API enables users to efficiently retrieve information regarding the deployment status of banking products. It serves as a crucial resource for stakeholders involved in product management, allowing them to monitor and assess product availability and performance across various regions. Typical consumers of this API include product managers, operations teams, and analytics professionals who require up-to-date insights into product deployments. With this API, businesses can ensure timely updates and maintain a competitive edge in the financial services market.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-deployment": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product deployment details.",
        "description": "This endpoint allows you to fetch information about product deployments, including their current statuses and configurations. Use this to monitor the deployment process and verify the deployment of products.",
        "operationId": "getProductDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters and options for a product deployment operation. Ensure that all required fields are populated correctly to initiate the deployment process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning deployment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductDeploymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductDeploymentRequest": {
        "type": "string",
        "description": "This schema represents the request body for product deployment operations when retrieving product information.",
        "example": "{}"
      },
      "GetProductDeploymentResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of products in the deployment.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for product deployment operations.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1c52152f-ff93-591c-a777-89bba6f0116f",
            "correlationId": "b56cee7a-c0e9-5a60-b0f7-056b3c1fdbe4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique identifier for the product.",
            "example": "P12345"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Sample Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "The customer segment associated with the product.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency for pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product is effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the product record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp of the product.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing a product in deployment."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking.",
            "example": "xyz-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata information of the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-deployment-search-product-deployment"
        },
        "example": "product-deployment-search-product-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer authentication scheme utilizes a bearer token, usually in the form of a JSON Web Token (JWT), which must be included in the `Authorization` header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}