{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Trading Workbench API",
    "description": "The E-Trading Workbench API provides users with access to comprehensive investment management tools vital for trading operations. Through this API, developers can retrieve real-time data and analytics related to e-trading activities, enabling informed decision-making for traders and financial analysts. Typical consumers include investment firms and brokers seeking to enhance their trading applications. By leveraging this API, users can efficiently manage their trading portfolios and gain insights into market trends.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve e-trading workbench data.",
        "description": "This endpoint allows users to fetch the relevant data from the e-trading workbench within the investment management system, providing insights and analytics for better trading decisions.",
        "operationId": "getETradingWorkbench",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve data related to the e-trading workbench in the investment management context. It should contain the necessary parameters specified by the schema to facilitate the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetETradingWorkbenchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the trading workbench data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetETradingWorkbenchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetETradingWorkbenchRequest": {
        "type": "string",
        "description": "This schema represents the request body for performing operations in the investment management trading workbench.",
        "example": "{}"
      },
      "GetETradingWorkbenchResponse_200": {
        "title": "Investment Management Operation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of investment management items.",
            "example": [
              {
                "portfolioId": "PORT-819583",
                "investmentAccountId": "ACC-260642",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentManagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting method applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Get Operations in Investment Management, detailing items, pagination, sort criteria, and metadata related to the response.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-819583",
              "investmentAccountId": "ACC-260642",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5a07e764-11c1-584c-a86e-5a54f3c44e4f",
            "correlationId": "49d695ae-fd49-50bf-8781-cd64d15ce62e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentManagementItem": {
        "title": "Investment Management Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "portfolio-123"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account.",
            "example": "account-456"
          },
          "investmentObjective": {
            "type": "string",
            "description": "Objective of the investment.",
            "example": "Growth"
          },
          "riskProfile": {
            "type": "string",
            "description": "Risk profile associated with the investment.",
            "example": "Moderate"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used in the investment account.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the investment record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the investment record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents an individual investment management item in the response."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination details for the response items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracing requests.",
            "example": "correlation-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Contains metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-search-e-trading-workbench"
        },
        "example": "e-trading-workbench-search-e-trading-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) as a Bearer token. Clients are required to include this token in the Authorization header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}