{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Custody Administration Update API",
    "description": "The Custody Administration Update API facilitates the management of custody operations within the banking sector. This API enables authorized users to update essential details related to custody accounts, ensuring that records remain accurate and compliant with regulatory standards. Typical consumers include financial institutions and compliance teams that require efficient and secure updates to their custody information. By leveraging this endpoint, organizations can maintain their operational integrity and enhance service delivery to clients.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/custody-administration/{param1}": {
      "patch": {
        "tags": [
          "Custody Operations"
        ],
        "summary": "Update custody administration resource",
        "description": "This operation allows you to update the details of a specific custody administration resource identified by RES-100045. Ensure that all necessary fields are provided to complete the update successfully.",
        "operationId": "patchCustodyAdministrationResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the custody administration details for the specified operation. It includes necessary fields for modification, allowing the caller to specify the changes needed for the custody operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCustodyAdministrationResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustodyAdministrationResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCustodyAdministrationResource100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes being requested for the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A description of the reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating operations in the custody administration service.",
        "example": {
          "changes": {
            "tradeId": "STANDARD",
            "instrumentId": "STANDARD",
            "settlementDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "674da342-df16-52f7-a7a2-450d9f9966b0",
            "correlationId": "7d6133ee-915d-5ada-ae80-5686d8a86119",
            "idempotencyKey": "bc0548bb-7c4d-5855-a4d3-f8209d80dfff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-164337"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier of the trade being modified.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier of the financial instrument involved in the trade.",
            "example": "string"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date for settlement of the transaction.",
            "example": "string"
          }
        },
        "description": "A set of changes related to a trade operation."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this request with other related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A unique key to ensure that repeated requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The name of the system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata and context about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used (e.g., API, web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device from which the request is made.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel used to make the request."
      },
      "PatchCustodyAdministrationResource100045Response_200": {
        "title": "Patch Operations Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation in the custody administration market operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "29fe3b71-0e68-5892-9a1e-dcb63b369dfa",
            "correlationId": "7d6133ee-915d-5ada-ae80-5686d8a86119",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request, used for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "custody-administration-update-custody-administration"
        },
        "example": "custody-administration-update-custody-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for identifying the source of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}