{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Branch Operations Status API",
    "description": "The E-Branch Operations Status API provides real-time information about the status of various e-branch operations within the banking channel. This API enables developers to seamlessly integrate and monitor the availability and performance of specific banking services. Typical consumers of this API include banking applications, customer service platforms, and operational dashboards that require up-to-date status reporting. By utilizing this API, businesses can enhance user experience and ensure timely service delivery across their digital banking channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-operations/status": {
      "get": {
        "tags": [
          "E-Branch Operations"
        ],
        "summary": "Retrieve the status of e-branch operations.",
        "description": "This API endpoint allows users to fetch the current status of e-branch operations, providing essential information needed for effective management and tracking.",
        "operationId": "getEbranchOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of e-branch operations specific to a channel. It should include all necessary parameters to identify the specific operation status being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEbranchOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the status of e-branch operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEbranchOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEbranchOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents a request body for GET operations regarding the status of channel-specific branch operations.",
        "example": "{}"
      },
      "GetEbranchOperationStatusResponse_200": {
        "title": "Channel Specific Branch Operations Status",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Details of the branch's service window.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Total capacity of the branch for daily operations.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch (e.g., retail, online).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the branch operation status.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the branch operation status.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the status of branch operations for a specific channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "342371a5-07cf-5bac-a089-1813bb439a00",
            "correlationId": "15164e3a-1dcf-5032-b09c-899d5adab9a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service in HH:mm format.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service in HH:mm format.",
            "example": "17:00"
          }
        },
        "description": "Represents the opening and closing times of a service."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across systems.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Contains additional information related to the branch operation status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-operations-get-e-branch-operations"
        },
        "example": "e-branch-operations-get-e-branch-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include the token in the Authorization header of requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}