{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Order Retrieval API",
    "description": "The Servicing Order Retrieval API enables users to access detailed information about specific servicing orders within the banking system. By using the provided order identifier, consumers can retrieve the status, history, and associated details of a servicing order. This API is particularly useful for customer service representatives and automated systems requiring real-time order data. It plays a critical role in ensuring efficient customer support and service management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-order/{param1}": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve a servicing order by its ID.",
        "description": "This endpoint allows clients to retrieve detailed information about a specific servicing order using its unique identifier (RES-100045). It provides essential data related to the servicing order, facilitating further actions or insights.",
        "operationId": "getServicingOrderByResId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve servicing order details for a specific order ID (RES-100045). It requires a JSON object that adheres to the defined schema, containing information necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingOrderByResIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the servicing order details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingOrderByResIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingOrderByResIdRequest": {
        "type": "string",
        "description": "Request body schema for the servicing order operation, specifically for the GET request operation identified by RES-100045.",
        "example": "{}"
      },
      "GetServicingOrderByResIdResponse_200": {
        "title": "Service Order Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-405118"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case associated with the service order.",
            "example": "CASE-867474"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request associated with the service order.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the service order.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the service order originated.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the service order record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the service order record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update made to the service order.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the service order.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for retrieving service order details.",
        "example": {
          "customerId": "CUST-405118",
          "caseId": "CASE-867474",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fd87fe51-8d4a-5a09-8023-9dfc03eb35c0",
            "correlationId": "3043e0b5-b231-5af2-a4ad-e3ae8a49bfeb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking the request across systems.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-10T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Contains additional information about the service order response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Unique identifier for the API endpoint that was called.",
          "example": "servicing-order-get-servicing-order"
        },
        "example": "servicing-order-get-servicing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "Name of the application that processed the request.",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, which requires a valid JSON Web Token (JWT) as a means of granting access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}