{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Details Retrieval API",
    "description": "The Merchant Details Retrieval API provides users with comprehensive information about a specific merchant by accessing their unique merchant ID. This endpoint is essential for applications that require detailed merchant data for display, analysis, or integration purposes. Typical consumers of this API include e-commerce platforms, financial services, and mobile applications seeking to enrich their user experience. With a straightforward GET request, developers can efficiently retrieve merchant details to enhance their application's functionality and user engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "get": {
        "tags": [
          "Merchant Operations"
        ],
        "summary": "Retrieve merchant details",
        "description": "This endpoint allows you to fetch detailed information about a specific merchant using their unique identifier. It provides all the relevant data associated with the merchant, enabling you to make informed decisions or perform further analyses.",
        "operationId": "getMerchantDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about a specific merchant identified by 'MER-800045'. The body should conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchantDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved merchant details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchantDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchantDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to merchants.",
        "example": "{}"
      },
      "GetMerchantDetailsResponse_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-253731"
          },
          "business": {
            "description": "Details about the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities available to the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms agreed upon for the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the details of a merchant.",
        "example": {
          "merchantId": "MER-253731",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "4c2cd6e9-399e-5c14-86f9-2cb09ce2c8b8",
            "correlationId": "31c80aa0-b20b-5112-a1be-956f27521c85",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The official registration number of the business.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "Country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "Date when the business was incorporated.",
            "example": "string"
          },
          "merchantType": {
            "type": "string",
            "description": "The type of merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code for classification.",
            "example": "string"
          }
        },
        "description": "Details regarding the business operations of the merchant."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "string"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the registered address.",
            "example": "string"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province of the registered address.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "string"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "string"
          }
        },
        "description": "Details about the registered address of the merchant."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Email address for reaching out to the merchant.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number for contacting the merchant.",
            "example": "string"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "string"
          }
        },
        "description": "Contact information for the merchant."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "Channels through which the merchant operates.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "Payment methods accepted by the merchant.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial payments capture.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "Maximum tip percentage that can be applied.",
            "example": "string"
          }
        },
        "description": "Various capabilities that the merchant can support."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "ID of the pricing plan for the merchant.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees.",
            "example": "string"
          },
          "paymentFee": {
            "description": "Details regarding the payment fees applicable to the merchant.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Commercial terms defined for the merchant."
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment fee.",
            "example": "string"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage of the payment fee.",
            "example": "string"
          },
          "fixedAmount": {
            "description": "Fixed amount details associated with the payment fee.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Details regarding the payment fees for the merchant."
      },
      "FixedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the fixed amount fee.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the fixed amount fee.",
            "example": "string"
          }
        },
        "description": "Details regarding fixed amount fees."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the merchant response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that was hit. This value helps to track specific endpoints in logs and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-merchant"
        },
        "example": "banking-p2m-openapi-get-merchant"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that executed the request. This is useful for identifying which application context the response is associated with.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer Authentication method, where the client must send a JSON Web Token (JWT) as a part of the request header to authenticate. The token should be included in the format 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}