{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Capture API",
    "description": "The Card Capture API enables users to securely retrieve and manage card capture information for banking transactions. This endpoint provides access to card capture data, which is essential for financial reporting and transaction reconciliation. Typical consumers include financial institutions and transaction processing systems that require up-to-date information about card captures. By leveraging this API, developers can streamline their operations and ensure accurate tracking of card-related activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve card capture details.",
        "description": "This endpoint allows you to fetch the details of a specific card capture transaction. Use this operation to monitor the status and additional information related to the card capture process.",
        "operationId": "getCardCapture",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for capturing card transaction details. It includes all necessary parameters to initiate the card capture process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardCaptureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning card capture details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardCaptureResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardCaptureRequest": {
        "type": "string",
        "description": "This schema represents the request body for the card capture operation via a GET request. It is expected to be a JSON string that encapsulates the necessary information for processing the request.",
        "example": "{}"
      },
      "GetCardCaptureResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of card operation objects.",
            "example": [
              {
                "cardToken": "TOK-214323",
                "cardholderId": "STANDARD",
                "merchantId": "MER-961288",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the card capture operation GET request, containing a list of card operations along with pagination and metadata.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-214323",
              "cardholderId": "STANDARD",
              "merchantId": "MER-961288",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "18f7757d-195c-5193-adb7-753831110149",
            "correlationId": "bb1f5706-9786-5f4b-bf07-6413d971db8a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardOperation": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the card token.",
            "example": "abc123"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "holder123"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction.",
            "example": "merchant456"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the merchant category.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the card operation record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the card operation.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual card operation."
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount of the transaction in the smallest unit (e.g., cents).",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the transaction, e.g., 'USD'.",
            "example": "USD"
          }
        },
        "description": "Schema representing the transaction amount including currency."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the data set.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correl123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-search-card-capture"
        },
        "example": "card-capture-search-card-capture"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method. Clients must include a JWT (JSON Web Token) in the Authorization header of their requests. The server will validate the token to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}