{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Equipment Maintenance Insights API",
    "description": "The Equipment Maintenance Insights API provides users with vital information regarding the maintenance status of banking facilities' equipment. It enables business stakeholders to access up-to-date insights about equipment conditions, upcoming maintenance schedules, and historical maintenance records. This API is crucial for facility managers and maintenance teams looking to optimize operational efficiency and reduce downtime. Through this endpoint, organizations can ensure their equipment remains in peak condition, thereby supporting continuous service availability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/equipment-maintenance": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve equipment maintenance information",
        "description": "Fetch details regarding the maintenance of equipment within facilities. This endpoint provides insights into the maintenance schedules, status, and history of the equipment to ensure operational efficiency.",
        "operationId": "getFacilitiesEquipmentMaintenance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch details regarding equipment maintenance within facilities. It includes all necessary parameters to specify the type of equipment and maintenance information required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFacilitiesEquipmentMaintenanceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the equipment maintenance details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFacilitiesEquipmentMaintenanceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFacilitiesEquipmentMaintenanceRequest": {
        "type": "string",
        "description": "This schema represents the request body for the maintenance operations on equipment in facilities. It contains the necessary information required to perform GET operations related to equipment maintenance.",
        "example": "{}"
      },
      "GetFacilitiesEquipmentMaintenanceResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of maintenance operation items.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-328456",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MaintenanceOperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving equipment maintenance operations.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-328456",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "435dee84-37c4-507d-9b08-08a789df7bed",
            "correlationId": "bd665298-6773-54b5-942e-4b12f6e43219",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MaintenanceOperationItem": {
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "Identifier for the site."
          },
          "assetId": {
            "type": "string",
            "description": "Identifier for the asset being maintained."
          },
          "workOrderId": {
            "type": "string",
            "description": "Identifier for the associated work order."
          },
          "scheduledDate": {
            "type": "string",
            "description": "Date when the maintenance is scheduled."
          },
          "vendorId": {
            "type": "string",
            "description": "Identifier for the vendor responsible for maintenance."
          },
          "facilityZone": {
            "type": "string",
            "description": "Zone within the facility where the maintenance occurs."
          },
          "maintenanceType": {
            "type": "string",
            "description": "Type of maintenance being performed."
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "Estimated duration of the maintenance in minutes.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Date when the maintenance record was last updated."
          }
        },
        "description": "Details of a single maintenance operation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "equipment-maintenance-search-equipment-maintenance"
        },
        "example": "equipment-maintenance-search-equipment-maintenance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT) to provide access. Clients must provide a valid JWT in the Authorization header to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}