{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Authorization Reversals API",
    "description": "The Card Authorization Reversals API allows businesses to process reversals for specific card authorizations effectively. This functionality is crucial for managing customer transactions, ensuring that erroneous charges can be corrected swiftly. Typical users of this API include financial services platforms and payment processors that need to handle transaction adjustments on behalf of their clients. By utilizing this API, developers can streamline the reversal process and maintain a positive customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization/authorizations/{authorizationId}/reversals": {
      "post": {
        "tags": [
          "Card Management"
        ],
        "summary": "Reverses a card authorization.",
        "description": "This endpoint allows you to reverse a specific card authorization using the provided authorization ID. It is used to cancel a previously approved authorization, effectively freeing up the funds that were held against the card for the transaction.",
        "operationId": "reverseCardAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to initiate a reversal for a specific card authorization identified by CARD-400045. Please ensure that all required fields are correctly populated before submitting the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReverseCardAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing; reversal is in progress.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReverseCardAuthorizationResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReverseCardAuthorizationRequest": {
        "title": "Card Reversal Request",
        "type": "object",
        "properties": {
          "reversalReason": {
            "type": "string",
            "description": "The reason for reversing the transaction.",
            "example": "STANDARD"
          },
          "originalReference": {
            "type": "string",
            "description": "The reference identifier of the original transaction being reversed.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user or entity requesting the reversal.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the reversal request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for a card reversal operation.",
        "example": {
          "reversalReason": "STANDARD",
          "originalReference": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "61a30c18-e579-5c0b-ae5c-f566fc048444",
            "correlationId": "c27c8ec4-b4e5-5ad4-b50c-3505c176471c",
            "idempotencyKey": "4f2a09d5-e023-52fa-a340-96a85d5058ef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-166269"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr_101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "ido_131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Payment Gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Mobile App"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "channel_161718"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used, if applicable.",
            "example": "device_192021"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "ReverseCardAuthorizationResponse_202": {
        "title": "Card Reversal Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action associated with the reversal.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action that was performed as part of the reversal.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the reversal operation.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the reversal was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the reversal operation.",
            "$ref": "#/components/schemas/ReversalMetadata"
          }
        },
        "description": "Response schema for card reversal operations indicating the result of the reversal request.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "75e257ce-f689-5d8b-8124-51969e426228",
            "correlationId": "c27c8ec4-b4e5-5ad4-b50c-3505c176471c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReversalMetadata": {
        "title": "Reversal Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the reversal operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this reversal operation with other related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the reversal processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the reversal operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, often used for debugging and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-reverse-card-authorization"
        },
        "example": "card-authorization-reverse-card-authorization"
      },
      "x-runtime-app": {
        "description": "The name of the application runtime that handled the request, useful for analytics and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme where a JSON Web Token (JWT) is used as the token type. Clients must send the JWT in the Authorization header of the request to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}