{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Current Account Details API",
    "description": "The Corporate Current Account Details API provides access to detailed information for corporate current accounts. This endpoint enables users to retrieve specific account information based on the provided account identifier. Typically used by financial institutions and corporate clients, this API facilitates account management and reporting. It is ideal for developers looking to integrate banking functionalities into their applications and improve the overall user experience in corporate financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-current-account/{param1}": {
      "get": {
        "tags": [
          "Corporate Banking"
        ],
        "summary": "Retrieve corporate current account details.",
        "description": "This endpoint allows you to fetch detailed information about a specific corporate current account, identified by its account number. You can use this information to assess account status, transaction history, and balances pertinent to corporate banking operations.",
        "operationId": "getCorporateCurrentAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving operations related to the corporate current account with ID ACC-200045. The structure contains necessary parameters and fields that are required for fetching the relevant account operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateCurrentAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the current account details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateCurrentAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateCurrentAccountDetailsRequest": {
        "type": "string",
        "description": "A request body that contains information related to the corporate current account operations. This is typically a placeholder for capturing JSON request data pertaining to the operation of the specified account.",
        "example": "{}"
      },
      "GetCorporateCurrentAccountDetailsResponse_200": {
        "title": "Corporate Current Account Details Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the account.",
            "example": "CUST-539579"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the corporate current account.",
            "example": "ACC-290797"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the account.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the principal amount of the corporate current account.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term duration of the account in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments for the account.",
            "example": "STANDARD"
          },
          "accountPurpose": {
            "type": "string",
            "description": "Purpose for which the account is opened.",
            "example": "STANDARD"
          },
          "statementFrequency": {
            "type": "string",
            "description": "Frequency at which account statements are generated.",
            "example": "STANDARD"
          },
          "overdraftAllowed": {
            "type": "boolean",
            "description": "Indicates whether overdraft is allowed on the account.",
            "example": true
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the account record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the account details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the account details.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the account retrieval.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving details about a corporate current account.",
        "example": {
          "customerId": "CUST-539579",
          "accountId": "ACC-290797",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "accountPurpose": "STANDARD",
          "statementFrequency": "STANDARD",
          "overdraftAllowed": true,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d9b58777-5d90-54e6-9c08-e98e1af134dd",
            "correlationId": "21afa1e0-a438-5dd5-8f5b-b85bf80a7da2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value of the principal amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the principal amount.",
            "example": "string"
          }
        },
        "description": "This schema represents the principal amount details of the corporate current account."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata for the response received."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-current-account-get-corporate-current-account"
        },
        "example": "corporate-current-account-get-corporate-current-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to authenticate users using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}