{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Design Management API",
    "description": "The Product Design Management API enables seamless retrieval of product design information essential for banking products. This API provides consumers, such as product managers and developers, with access to detailed specifications and design elements for various banking offerings. Use cases include integration into product management systems and enhancing user experience through tailored financial solutions. The API facilitates efficient management and reference of product designs to streamline banking operations and foster innovation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-design": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve product design details",
        "description": "This endpoint allows users to fetch detailed information about product designs available in the product management system. It provides insights into specifications, features, and design options for each product.",
        "operationId": "getProductDesign",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve product design details from the product management system. It should accurately reflect the parameters needed for a successful retrieval of information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductDesignRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product design data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductDesignResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductDesignRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to product design within product management.",
        "example": "{}"
      },
      "GetProductDesignResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product design items.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductDesignItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving product design operations.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "48b899c0-1abd-587b-84ab-966b31894e4e",
            "correlationId": "07c526b3-d056-5ddd-bfe8-5fc8964f78b8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductDesignItem": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "The unique code identifying the product.",
            "example": "P12345"
          },
          "productName": {
            "type": "string",
            "description": "The name of the product.",
            "example": "Sample Product"
          },
          "customerSegment": {
            "type": "string",
            "description": "The segment of customers for which the product is intended.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the product price is stated.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the product design is effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the product record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp for the product design.",
            "example": "2023-10-01T12:34:56Z"
          }
        },
        "description": "Schema representing a single product design item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID used to track the correlation of requests and responses.",
            "example": "corr_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-design-search-product-design"
        },
        "example": "product-design-search-product-design"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, typically JSON Web Tokens (JWT). This scheme involves a token that is passed in the Authorization header to verify the identity of the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}