{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Network Operations Status API",
    "description": "The ATM Network Operations Status API provides real-time updates and information regarding the operational status of ATM networks across channels. This endpoint allows consumers to monitor the availability and functioning of ATMs, enabling them to quickly assess network health. Typical use cases include integration in banking applications, customer service portals, and operational dashboards. Financial institutions and third-party service providers can leverage this API to enhance customer experiences and manage service availability efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-operations/status": {
      "get": {
        "tags": [
          "ATM Network Operations"
        ],
        "summary": "Retrieve the status of ATM network operations.",
        "description": "This endpoint allows users to fetch the current status of ATM network operations, providing essential information about operational health and performance metrics.",
        "operationId": "getAtmNetworkOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the current status of the ATM network operations specific to the channel. Ensure that the JSON payload adheres to the specified schema to facilitate accurate processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAtmNetworkOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the current status of the ATM network operations is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAtmNetworkOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAtmNetworkOperationStatusRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for getting the status of ATM network operations.",
        "example": "{}"
      },
      "GetAtmNetworkOperationStatusResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Region code where the ATM is located",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Details about the service window for the ATM",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily transaction capacity of the ATM",
            "format": "int32",
            "example": 1
          },
          "atmId": {
            "type": "string",
            "description": "Unique identifier for the ATM",
            "example": "STANDARD"
          },
          "cashStatus": {
            "type": "string",
            "description": "Current cash status of the ATM (e.g. 'In Service', 'Out of Service')",
            "example": "AVAILABLE"
          },
          "terminalHealth": {
            "type": "string",
            "description": "Health status of the ATM terminal (e.g. 'Healthy', 'Requires Maintenance')",
            "example": "ONLINE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g. 'Active', 'Inactive')",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the status record",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for the last update of the record",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the ATM status response",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving the status of ATM network operations, including channel details and service information.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "atmId": "STANDARD",
          "cashStatus": "AVAILABLE",
          "terminalHealth": "ONLINE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "455ec007-0f1c-505a-9a6a-ef3f794f2689",
            "correlationId": "9be193ca-6138-5d92-a491-dae701010354",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service window opens",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service window closes",
            "example": "20:00"
          }
        },
        "description": "Represents the operating hours of the ATM service window."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response",
            "example": "Response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests",
            "example": "Correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed",
            "example": "US-CA"
          }
        },
        "description": "Metadata contains additional information about the ATM status response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Uniquely identifies the endpoint that processed the request. This is primarily used for monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-operations-get-atm-network-operations"
        },
        "example": "atm-network-operations-get-atm-network-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This helps identify which service is responsible for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for bearer authentication. Clients must include a valid JWT in the 'Authorization' header of their requests using the format 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}