{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investor Relations Management API",
    "description": "The Investor Relations Management API enables businesses to efficiently manage and access corporate investor relations information. This API provides capabilities to retrieve detailed insights related to investor inquiries, reports, and corporate governance materials. Common consumers include financial analysts, investor relations teams, and corporate communications departments looking to enhance transparency and engagement with stakeholders. By utilizing this API, organizations can streamline their investor interactions and ensure timely dissemination of critical information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/investor-relations/{param1}": {
      "get": {
        "tags": [
          "Investor Relations"
        ],
        "summary": "Retrieve investor relations details by ID.",
        "description": "Fetches comprehensive details about a specific investor relation record identified by the provided ID. This endpoint allows users to gain insights into investor-related information efficiently.",
        "operationId": "getInvestorRelationsById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding investor relations for the specific corporate relation identified by RES-100045. The request requires a well-formed JSON input that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestorRelationsByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of investor relations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestorRelationsByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestorRelationsByIdRequest": {
        "type": "string",
        "description": "A JSON string that represents the request body for the GET operation pertaining to investor relations in corporate relations.",
        "example": "{}"
      },
      "GetInvestorRelationsByIdResponse_200": {
        "title": "Investor Relations Response",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement record.",
            "example": "STANDARD"
          },
          "subject": {
            "type": "string",
            "description": "Subject of the engagement.",
            "example": "STANDARD"
          },
          "scheduledAt": {
            "type": "string",
            "description": "Date and time when the engagement is scheduled, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier for the person responsible for managing the stakeholder relationship.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-abc"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate multiple requests/responses.",
                "example": "correlation-xyz"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated, in ISO 8601 format.",
                "example": "2023-10-01T10:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Geographical region where the processing occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata associated with the engagement.",
            "example": {
              "responseId": "6e66bee4-3825-520a-97ba-3585a5fa76a8",
              "correlationId": "d3cdba7f-b67d-5d49-803e-6271004c2bbb",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for the Investor Relations API, detailing stakeholder engagement information.",
        "example": {
          "stakeholderId": "STANDARD",
          "engagementId": "STANDARD",
          "subject": "STANDARD",
          "scheduledAt": "2026-08-11T12:00:00Z",
          "relationshipOwnerId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6e66bee4-3825-520a-97ba-3585a5fa76a8",
            "correlationId": "d3cdba7f-b67d-5d49-803e-6271004c2bbb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investor-relations-get-investor-relations"
        },
        "example": "investor-relations-get-investor-relations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism using bearer tokens, specifically JSON Web Tokens (JWT). This method allows clients to securely access resources by providing a token in the 'Authorization' header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}