{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Activity Analysis API",
    "description": "The Servicing Activity Analysis API provides insights into the various servicing activities across different channels in the banking sector. Enabling users to retrieve comprehensive data analysis, this endpoint serves to enhance strategic decision-making and improve customer engagement. Typical consumers include data analysts, business intelligence teams, and financial institutions looking to optimize service offerings. The API supports operations that allow for detailed exploration of service patterns and performance metrics, ultimately facilitating better service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis": {
      "get": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Retrieve servicing activity analysis data.",
        "description": "This endpoint allows you to access detailed analysis of servicing activities across different channels. Use this to evaluate performance and identify areas for improvement.",
        "operationId": "getServicingActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve servicing activity analysis for cross-channel interactions. It should contain the necessary parameters defined in the schema to effectively filter and retrieve the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved servicing activity analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingActivityAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the string data structure for the request body in the cross-channel servicing activity analysis GET operation.",
        "example": "{}"
      },
      "GetServicingActivityAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of servicing activity items.",
            "example": [
              {
                "partyId": "PARTY-488075",
                "interactionId": "INT-805002",
                "channel": "STANDARD",
                "authenticationLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingActivityItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the cross-channel servicing activity analysis operation, containing items, pagination details, sort order, and metadata information.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-488075",
              "interactionId": "INT-805002",
              "channel": "STANDARD",
              "authenticationLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1d72dc78-3a69-5838-bf67-2542ec24a9c7",
            "correlationId": "8ffb1124-481f-5c61-9b25-257133d35b5b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingActivityItem": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved in the interaction."
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction."
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred."
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication for the interaction."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Describes a single entry of a servicing activity item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Details about the pagination of the items list."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the request and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-search-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-search-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Utilizes JSON Web Tokens (JWT) as a bearer authentication method, allowing secure access to the API by presenting a valid token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}