{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Asset Management API",
    "description": "The Party Asset Management API streamlines the process of updating and managing asset information associated with various parties within the banking sector. This API allows authorized users to modify details of assets recorded in the directory, ensuring that asset data is current and accurate. Typical consumers include financial institutions and administrative teams that require real-time updates to asset characteristics, aiding in compliance and operational efficiency. Utilize this API to effectively maintain and enhance your asset records in a centralized directory.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{param1}": {
      "put": {
        "tags": [
          "Collateral Administration"
        ],
        "summary": "Update Party Asset Directory",
        "description": "This operation allows for updating the details of a specific party's asset directory entry identified by PARTY-600045. Ensure to provide the updated asset information in the request body.",
        "operationId": "updatePartyAssetDirectory_PARTY_600045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the asset directory of the specified party. This operation allows the modification of existing asset entries within a party's asset directory. Ensure that the provided data correctly matches the schema requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePartyAssetDirectory_PARTY_600045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The asset directory has been updated successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePartyAssetDirectory_PARTY_600045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePartyAssetDirectory_PARTY_600045Request": {
        "title": "Party Asset Directory PUT Request Body",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-502792"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset being referenced.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the asset, including amount and currency.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date when the asset was valued.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for secured exposure.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the asset value.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the asset.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema to represent the request body for updating a party asset in the collateral administration system.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-502792",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "7adcfa2a-8609-56c4-af15-523e0ce7a6ca",
            "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
            "idempotencyKey": "7510b8bc-917a-5f46-adf4-08208929f4f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-595991"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value of the asset.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the market value is expressed.",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value of an asset, including amount and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs across different services.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idemp789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "ApplicationB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "device202"
          }
        },
        "description": "Schema representing channel information."
      },
      "UpdatePartyAssetDirectory_PARTY_600045Response_200": {
        "title": "Party Asset Response",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party associated with the asset.",
            "example": "PARTY-261983"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "version": {
            "type": "integer",
            "description": "Version of the collateral record.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the request took place.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "1776c8ba-22fe-5024-a1fa-0290c125177c",
              "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for a party asset operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-261983",
          "securedExposureId": "STANDARD",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1776c8ba-22fe-5024-a1fa-0290c125177c",
            "correlationId": "ac538fa6-cda8-57af-8730-872e9540117b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-upsert-party-asset-directory-record"
        },
        "example": "party-asset-directory-upsert-party-asset-directory-record"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the authorization header to access secure endpoints. The JWT allows for secure transmission of information between parties and can be used to verify the identity of the user as well as ensure that the content has not been altered.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}