{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Legal Entity Directory Management API",
    "description": "The Legal Entity Directory Management API enables businesses to update and manage legal entity information efficiently. This API supports operations that allow users to modify attributes associated with various legal entities, ensuring that data remains accurate and current. Typical consumers include financial institutions, regulatory bodies, and compliance teams who require up-to-date details for reporting and operational purposes. Utilize this API to maintain the integrity of legal entity records in your banking systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/legal-entity-directory/{param1}": {
      "put": {
        "tags": [
          "Legal Entities"
        ],
        "summary": "Update Legal Entity Directory Entry",
        "description": "This operation allows you to update the details of a specific legal entity entry in the directory using its unique resource identifier. Ensure that the provided data adheres to the required structure for successful updates.",
        "operationId": "updateLegalEntityDirectoryRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the details of a specific legal entity in the directory. Ensure that all required fields are included and properly formatted as per the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLegalEntityDirectoryRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the entity was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLegalEntityDirectoryRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLegalEntityDirectoryRes100045Request": {
        "title": "Legal Entity Update Request",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "PARTY-835860"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the entity.",
            "example": "Olivia Bennett"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The identifier assigned to the legal entity.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code of the country where the entity is registered.",
            "example": "US"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number of the legal entity.",
            "example": "NY-4587219"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the entity was incorporated, in ISO format.",
            "example": "2026-09-15"
          },
          "entityStatus": {
            "type": "string",
            "description": "Current status of the legal entity (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating legal entity details.",
        "example": {
          "partyId": "PARTY-835860",
          "legalName": "Olivia Bennett",
          "legalEntityIdentifier": "STANDARD",
          "countryCode": "US",
          "registrationNumber": "NY-4587219",
          "incorporationDate": "2026-09-15",
          "entityStatus": "ACTIVE",
          "requestContext": {
            "requestId": "79a705f5-8ee4-5651-a073-8a9add6b27da",
            "correlationId": "e5653c9b-dfe1-5649-850c-2ddb3b96c08c",
            "idempotencyKey": "cb575778-a0d4-50aa-9c3d-422f173ff66d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-832367"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO format.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "This schema contains details about the channel used for the request."
      },
      "UpdateLegalEntityDirectoryRes100045Response_200": {
        "title": "Legal Entity Directory Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party.",
            "example": "PARTY-836028"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code associated with the party.",
            "example": "US"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the party entity.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the party.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the party information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for a legal entity operation in the directory.",
        "example": {
          "partyId": "PARTY-836028",
          "countryCode": "US",
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3b77d429-726b-52d6-9cc0-5678cee51807",
            "correlationId": "e5653c9b-dfe1-5649-850c-2ddb3b96c08c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across services.",
            "example": "corr-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "legal-entity-directory-upsert-legal-entity-directory-record"
        },
        "example": "legal-entity-directory-upsert-legal-entity-directory-record"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token in the HTTP Authorization header. A JSON Web Token (JWT) is utilized to authenticate the user with the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}