{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Valuation API",
    "description": "The Financial Instrument Valuation API provides critical insights into the current valuations of various financial instruments in real-time. This API supports users such as traders, analysts, and financial institutions by allowing them to retrieve accurate market valuations based on up-to-date data. The endpoint serves as a key resource for decision-making processes in trading and risk management. Users can leverage this API to enhance their analytical capabilities and ensure informed financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/financial-instrument-valuation": {
      "get": {
        "tags": [
          "Market Operations"
        ],
        "summary": "Retrieve valuation for financial instruments.",
        "description": "This endpoint allows users to fetch the current valuation of specified financial instruments, providing necessary insights for decision-making and portfolio management.",
        "operationId": "getFinancialInstrumentValuation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a financial instrument valuation operation. It requires specific parameters to define the financial instrument and the valuation method to be applied.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialInstrumentValuationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the financial instrument valuation data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialInstrumentValuationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialInstrumentValuationRequest": {
        "type": "string",
        "description": "This schema represents the request body for obtaining the financial instrument valuation operations.",
        "example": "{}"
      },
      "GetFinancialInstrumentValuationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of financial instrument valuation details.",
            "example": [
              {
                "tradeId": "STANDARD",
                "instrumentId": "STANDARD",
                "settlementDate": "2026-09-15",
                "quantity": 1,
                "settlementCurrency": "USD",
                "custodianId": "STANDARD",
                "instrumentType": "STANDARD",
                "ticker": "STANDARD",
                "issueCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialInstrumentValuation"
            }
          },
          "pagination": {
            "description": "Information about pagination in the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for financial instrument valuation operations, including item details, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "tradeId": "STANDARD",
              "instrumentId": "STANDARD",
              "settlementDate": "2026-09-15",
              "quantity": 1,
              "settlementCurrency": "USD",
              "custodianId": "STANDARD",
              "instrumentType": "STANDARD",
              "ticker": "STANDARD",
              "issueCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "941c7e39-4887-5567-ac32-b7c4b3e52a65",
            "correlationId": "97a03d4e-62b8-53aa-b668-d6b5a5a88d93",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialInstrumentValuation": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade."
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument."
          },
          "settlementDate": {
            "type": "string",
            "description": "The date the instrument is set to be settled."
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the financial instrument.",
            "format": "int32"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur."
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian holding the financial instrument."
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of the financial instrument, e.g., stock, bond."
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol for the financial instrument."
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument was issued."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated."
          }
        },
        "description": "Detailed information about a financial instrument valuation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-search-financial-instrument-valuation"
        },
        "example": "financial-instrument-valuation-search-financial-instrument-valuation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid token in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}