{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Promotional Events Management API",
    "description": "The Promotional Events Management API streamlines the creation and management of marketing promotional events. This API allows businesses to efficiently plan, initiate, and track various promotional activities aimed at enhancing customer engagement and driving sales. Typical consumers include marketing teams and product managers who leverage this API to launch targeted campaigns and promotions. Through a user-friendly interface, users can submit event details, ensuring an organized and effective promotional strategy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/promotional-events": {
      "post": {
        "tags": [
          "Marketing"
        ],
        "summary": "Create a new promotional event.",
        "description": "This endpoint allows you to create a new promotional event within the marketing segment. It accepts necessary details about the event in the request body.",
        "operationId": "createPromotionalEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new promotional event in the marketing system. It contains the necessary details and parameters required for the event, as specified by the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePromotionalEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Promotional event created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatePromotionalEventResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreatePromotionalEventRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the marketing campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment of the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "A list of channels through which the campaign will be executed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "The identifier for each channel in the channel mix.",
              "example": "email_channel"
            }
          },
          "budget": {
            "description": "The budget details for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for creating a promotional event.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "d196bdbc-724d-5abf-b74b-962e7a7d7821",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "idempotencyKey": "de9099ac-b683-529d-8e4b-8bc619c404c9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-948274"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount allocated for the campaign.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the budget amount.",
            "example": "USD"
          }
        },
        "description": "Details about the budget allocated for the campaign."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across services.",
            "example": "corr_321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is processed only once.",
            "example": "idemp_654"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information regarding the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "channel_abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the campaign.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device associated with the channel.",
            "example": "device_123"
          }
        },
        "description": "Details about the channel used for the marketing campaign."
      },
      "CreatePromotionalEventResponse_201": {
        "title": "PromotionalEventResponse",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the promotional event.",
            "example": "RES-604853"
          },
          "status": {
            "type": "string",
            "description": "The current status of the promotional event.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the promotional event was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the creation of a promotional event.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-604853",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "77b42f60-2f7a-54a9-a1ca-5d3666b1fc95",
            "correlationId": "8fd1a78c-a085-5319-a47f-aa2abb0b4690",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "ResponseMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response101"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:35:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "promotional-events-create-promotional-events"
        },
        "example": "promotional-events-create-promotional-events"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token that is formatted as a JSON Web Token (JWT). The client must include this token in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}