{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Property Portfolio Details API",
    "description": "This API facilitates the retrieval of detailed information regarding property portfolios within the banking facilities. It serves as a resource for users seeking insights on property assets, including valuations, locations, and overall portfolio performance. Typical consumers include financial analysts, portfolio managers, and real estate professionals looking to assess property investment opportunities. By leveraging this API, stakeholders can make informed decisions based on comprehensive property portfolio data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/property-portfolio": {
      "get": {
        "tags": [
          "Facilities Management"
        ],
        "summary": "Retrieve the property portfolio of facilities.",
        "description": "This endpoint allows you to access the complete property portfolio associated with facilities, providing detailed information and insights for management and planning purposes.",
        "operationId": "getFacilitiesPropertyPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve property portfolio data. It specifies the parameters required to filter and obtain the relevant information regarding facilities in the property portfolio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFacilitiesPropertyPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the property portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFacilitiesPropertyPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFacilitiesPropertyPortfolioRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for getting the property portfolio operations.",
        "example": "{}"
      },
      "GetFacilitiesPropertyPortfolioResponse_200": {
        "title": "Facility Portfolio Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operations for facilities, including details such as site ID, asset ID, work order ID, scheduled date, vendor ID, and more.",
            "example": [
              {
                "siteId": "STANDARD",
                "assetId": "STANDARD",
                "workOrderId": "ORD-473119",
                "scheduledDate": "2026-09-15",
                "vendorId": "STANDARD",
                "facilityZone": "STANDARD",
                "maintenanceType": "STANDARD",
                "estimatedDurationMinutes": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FacilityOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the operations returned in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response schema for the Facility Portfolio Operations GET request, including items, pagination details, sorting, and metadata.",
        "example": {
          "items": [
            {
              "siteId": "STANDARD",
              "assetId": "STANDARD",
              "workOrderId": "ORD-473119",
              "scheduledDate": "2026-09-15",
              "vendorId": "STANDARD",
              "facilityZone": "STANDARD",
              "maintenanceType": "STANDARD",
              "estimatedDurationMinutes": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "41899292-157d-5547-90c0-bf0842bf070e",
            "correlationId": "49360c74-5e1c-5d3e-a7ba-a5c054f27854",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FacilityOperation": {
        "title": "Facility Operation",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site where the operation is taking place.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset involved in the operation.",
            "example": "string"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order related to the operation.",
            "example": "string"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The date when the operation is scheduled to take place.",
            "example": "string"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor associated with the operation.",
            "example": "string"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone within the facility where the operation is occurring.",
            "example": "string"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance associated with the operation.",
            "example": "string"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation record was last updated.",
            "example": "string"
          }
        },
        "description": "Details about a specific operation in a facility."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page in the pagination.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response, indicating the current page, page size, and total number of items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request and related actions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "property-portfolio-search-property-portfolio"
        },
        "example": "property-portfolio-search-property-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token format, specifically designed for JSON Web Tokens (JWT). This method allows the client to authenticate requests by passing a JWT in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}