{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Action Review Submission API",
    "description": "The Corporate Action Review Submission API facilitates the posting of reviews related to various corporate actions within the banking sector. This endpoint allows financial institutions and corporate users to submit valuable feedback on market operations and corporate actions, enhancing decision-making and operational efficiency. Typical consumers include financial analysts, corporate governance teams, and compliance officers who utilize this service to ensure transparency and accountability in corporate actions. Utilizing this API helps improve the overall review process by capturing essential insights from stakeholders.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action/{param1}/reviews": {
      "post": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Create a review for a corporate action.",
        "description": "This operation allows users to submit a review for a specific corporate action identified by its unique reference. Users can provide feedback and insights, contributing to the overall evaluation of the corporate action process.",
        "operationId": "createCorporateActionReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Submits a review for the specified corporate action. This operation allows users to provide feedback or comments regarding the corporate action identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateActionReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but the processing is not yet complete.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateActionReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateActionReviewRequest": {
        "title": "Corporate Action Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, detailing specific areas to be addressed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Scope item"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier for the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review completion in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for requesting a review of a corporate action with relevant details.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e1d6e1a4-aa5d-5f02-89e3-da8fbb1c734f",
            "correlationId": "8aa6bd5b-e03a-56ab-b3b2-981b1dfdadc7",
            "idempotencyKey": "8fc6854f-f8e4-536b-91f5-c6e5457b8053",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-203864"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs between different systems.",
            "example": "corr67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is idempotent.",
            "example": "idemp09876"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-20T15:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application generating the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request is submitted.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing additional context for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device456"
          }
        },
        "description": "Schema defining the details of the channel used in the request."
      },
      "CreateCorporateActionReviewResponse_202": {
        "title": "Corporate Action Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A unique reference identifier for the corporate action.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action being reviewed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the corporate action review.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response received from a corporate action review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c8bee773-ca61-5a2c-a301-68c5afbf080b",
            "correlationId": "8aa6bd5b-e03a-56ab-b3b2-981b1dfdadc7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RE-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate multiple requests and responses.",
            "example": "CORR-321098"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains additional metadata related to the corporate action review response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value helps in tracking and managing requests across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-review-corporate-action-processing"
        },
        "example": "corporate-action-review-corporate-action-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the application that is processing the request. This information can be useful for debugging and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a JSON Web Token (JWT) for secure access to the API. The token must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}