{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Terminal Operations API",
    "description": "The Card Terminal Operations API facilitates the management and retrieval of operations associated with card terminals in banking channels. This endpoint allows users to access specific details related to card terminal operations, such as transaction history and terminal status. Typically used by financial institutions and payment service providers, this API supports seamless integration and operational efficiency. Developers can leverage this resource to enhance the user experience by providing real-time updates and insights on card terminal functionalities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-operation/{param1}": {
      "get": {
        "tags": [
          "Card Terminal Operations"
        ],
        "summary": "Retrieve details of a specific card terminal operation.",
        "description": "This endpoint allows you to fetch details for a specific card terminal operation identified by its unique ID. It provides essential information that can be used in various business processes, ensuring smooth and accurate transaction handling.",
        "operationId": "getCardTerminalOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve information about the card terminal operation identified by CARD-400045. Ensure all required fields are included as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTerminalOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested card terminal operation details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTerminalOperationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTerminalOperationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the card terminal. It is expected to be a string value.",
        "example": "{}"
      },
      "GetCardTerminalOperationResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region where the terminal operates.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Service window hours for the terminal.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Daily capacity of the terminal, indicating the total number of transactions it can handle in a day.",
            "format": "int32",
            "example": 1
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the terminal.",
            "example": "MER-486955"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the terminal's record in the database.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the terminal record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the terminal's information.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response including identifiers and processing information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for card terminal operations, providing detailed information about the terminal's status and operational parameters.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "terminalId": "STANDARD",
          "merchantId": "MER-486955",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e6ea5f16-272a-5245-bdf8-934e4b47d1d7",
            "correlationId": "61b27736-c841-5c66-816c-6b061875f463",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service window opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service window closes.",
            "example": "22:00"
          }
        },
        "description": "Defines the operational hours for the terminal service."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID to track the correlation of requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transaction took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata about the response such as identifiers for tracking."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-operation-get-card-terminal-operation"
        },
        "example": "card-terminal-operation-get-card-terminal-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, typically in the form of a JSON Web Token (JWT). Clients must include this token in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}