{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Activation API",
    "description": "The Merchant Activation API facilitates the activation of merchant accounts within the system, enabling them to start transacting. This endpoint allows authorized users to submit activation requests for a specified merchant using their unique merchant ID. It is typically utilized by financial institutions and platform administrators to onboard new merchants swiftly. This API ensures that merchants can begin operations promptly and adhere to compliance requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}/activate": {
      "post": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Activate a specific merchant account.",
        "description": "This endpoint allows you to activate a merchant account identified by its unique ID. Once activated, the merchant can begin transactions and use other related services. Ensure that all required criteria for activation are met before making this request.",
        "operationId": "activateMerchantMer800045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for activating the specified merchant. Include the necessary details to successfully activate the merchant, which may include various attributes as defined in the associated schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateMerchantMer800045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with activation confirmation.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActivateMerchantMer800045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ActivateMerchantMer800045Request": {
        "type": "object",
        "properties": {
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the activation takes effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "reason": {
            "type": "string",
            "description": "The reason for activating the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for activating merchant operations.",
        "example": {
          "effectiveAt": "2026-09-15T14:30:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "0620a300-2463-5fbb-8d2a-bfb49016a453",
            "correlationId": "f26be6fb-3046-5000-8829-fc7033bc54a7",
            "idempotencyKey": "4e73a352-a2d8-559c-a22f-a706fe7ad92d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-947432"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "idemp-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "MerchantApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Detailed context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "ActivateMerchantMer800045Response_200": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-385417"
          },
          "business": {
            "description": "Details of the merchant's business.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/Address"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status of the merchant.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status of the merchant.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities offered to the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms associated with the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for activating a merchant.",
        "example": {
          "merchantId": "MER-385417",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "7604bf32-fde1-5207-9bfc-8dac3a55574e",
            "correlationId": "f26be6fb-3046-5000-8829-fc7033bc54a7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "string"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The business's registration number.",
            "example": "string"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "The tax identification number of the business.",
            "example": "string"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "string"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The date when the business was incorporated.",
            "format": "date",
            "example": 1672531200000
          },
          "merchantType": {
            "type": "string",
            "description": "The type of merchant.",
            "example": "string"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code.",
            "example": "string"
          }
        },
        "description": "Represents the business details of the merchant."
      },
      "Address": {
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "The first line of the address.",
            "example": "123 Main St"
          },
          "line2": {
            "type": "string",
            "description": "The second line of the address (optional).",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "The city of the address.",
            "example": "Sample City"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "The state or province of the address.",
            "example": "Sample State"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code of the address.",
            "example": "12345"
          },
          "country": {
            "type": "string",
            "description": "The country of the address.",
            "example": "Sample Country"
          }
        },
        "description": "Represents the registered address of the merchant."
      },
      "Contact": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "The email address for the merchant.",
            "example": "merchant@example.com"
          },
          "phone": {
            "type": "string",
            "description": "The phone number for the merchant.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "The website URL for the merchant.",
            "example": "https://www.merchantwebsite.com"
          }
        },
        "description": "Represents the merchant's contact information."
      },
      "Capabilities": {
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "The channels supported by the merchant.",
            "example": [
              "online",
              "in-store"
            ],
            "items": {
              "type": "string"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "The payment methods accepted by the merchant.",
            "example": [
              "credit_card",
              "paypal"
            ],
            "items": {
              "type": "string"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if partial capture is supported.",
            "example": false
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if partial refund is supported.",
            "example": false
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if tips are supported.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if split payments are supported.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if recurring payments are supported.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "The maximum percentage allowed for tips.",
            "example": "15%"
          }
        },
        "description": "Represents the various capabilities offered to the merchant."
      },
      "CommercialTerms": {
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "The identifier for the pricing plan.",
            "example": "string"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fee (merchant or customer).",
            "example": "merchant"
          },
          "paymentFee": {
            "description": "Details about the payment fee.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Represents the commercial terms associated with the merchant."
      },
      "PaymentFee": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of fee (e.g., flat, percentage).",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "The percentage for the fee, if applicable.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "description": "A fixed amount structure for the fee.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Represents the structure of payment fees."
      },
      "FixedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency for the fixed amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the fixed amount.",
            "example": "10.00"
          }
        },
        "description": "Represents the fixed amount associated with a fee."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "format": "date-time",
            "example": 1672574400.0
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request has been processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-activate-merchant"
        },
        "example": "banking-p2m-openapi-activate-merchant"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication method that uses a Bearer token, specifically formatted as a JSON Web Token (JWT), to verify the identity of the client making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}