{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicated Loan Management API",
    "description": "This API enables efficient management of syndicated loans, allowing users to update details and terms of existing loans. It is designed for financial institutions and banking professionals who require real-time modifications to loan agreements. By utilizing this API, developers can streamline the process of updating loan parameters, ensuring compliance and accuracy in financial reporting. Typical use cases include adjusting interest rates, changing loan amounts, or modifying borrower information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan/{param1}": {
      "patch": {
        "tags": [
          "Syndicated Loan Management"
        ],
        "summary": "Update details of a syndicated loan.",
        "description": "This endpoint allows you to update the details of a specified syndicated loan, identified by its unique loan ID. You can modify various attributes of the loan as needed to reflect the latest information or changes in terms.",
        "operationId": "updateSyndicatedLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a syndicated loan identified by LOAN-500045. Ensure that you provide the necessary fields to accurately reflect the current status and parameters of the loan.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSyndicatedLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSyndicatedLoanResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSyndicatedLoanRequest": {
        "title": "Syndicated Loan Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes to be applied to the loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Information about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for patching a syndicated loan operation.",
        "example": {
          "changes": {
            "corporateCustomerId": "CUST-627760",
            "facilityId": "STANDARD",
            "counterpartyId": "PARTY-890785"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3391d407-1546-51dc-b8c4-c09e3bc9a9b5",
            "correlationId": "3d437357-9a74-543a-a411-ad3a6ae7553c",
            "idempotencyKey": "e9d5e2ae-0281-5a73-a48b-e6440c98f21d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-480889"
            }
          }
        }
      },
      "LoanChanges": {
        "title": "Loan Changes",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The unique identifier of the corporate customer.",
            "example": "CUST12345"
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the facility associated with the loan.",
            "example": "FAC12345"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier of the counterparty involved in the loan.",
            "example": "CPTY12345"
          }
        },
        "description": "Represents the specific changes being made to the syndicated loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BankingApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contains context information for the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CH12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "DEVICE123456"
          }
        },
        "description": "Describes the channel through which the request was made."
      },
      "UpdateSyndicatedLoanResponse_200": {
        "title": "Patch Loan Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the loan was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information pertaining to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response returned when a PATCH request is made to update a loan operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1b54b91f-0435-519e-8ed1-3b8212eef84d",
            "correlationId": "3d437357-9a74-543a-a411-ad3a6ae7553c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate requests.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "This schema describes the metadata information related to the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that has been called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-update-syndicated-loan"
        },
        "example": "syndicated-loan-update-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, providing information on where the request was handled.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) as a bearer authentication mechanism, enabling secure access to the API by transmitting tokens in the HTTP authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}