{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Commerce Card Payment Gateway API",
    "description": "The E-Commerce Card Payment Gateway API enables seamless online transactions for businesses by providing access to secure payment processing services. This endpoint allows for the retrieval of transaction details and payment status information related to card payments made through the e-commerce platform. Ideal for developers and businesses that require efficient, reliable access to payment data, this API supports various use cases, including payment reconciliation and customer transaction history review. Ensure smooth operational efficiency and enhance the customer experience with this vital banking service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-e-commerce-gateway": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve e-commerce payment details via card.",
        "description": "This endpoint allows you to fetch the details of card-based e-commerce payments. You can query specific transactions and view their status, amount, and other relevant information.",
        "operationId": "getCardEcommerceGatewayPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card e-commerce payment operation. It contains the necessary details that will facilitate the processing of a payment through an e-commerce gateway.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardEcommerceGatewayPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and returned the payment gateway details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardEcommerceGatewayPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardEcommerceGatewayPaymentsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card e-commerce gateway payments.",
        "example": "{}"
      },
      "GetCardEcommerceGatewayPaymentsResponse_200": {
        "title": "E-commerce Gateway Payment Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of payment objects representing individual payment transactions.",
            "example": [
              {
                "paymentId": "PAY-566419",
                "debtorAccountId": "ACC-383284",
                "creditorAccountId": "ACC-602182",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the e-commerce gateway payment operations. It contains a list of payment items, pagination details, sorting information, and metadata about the response.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-566419",
              "debtorAccountId": "ACC-383284",
              "creditorAccountId": "ACC-602182",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "06b3a0cb-b9b9-5d14-b5c4-35a27eca35bc",
            "correlationId": "ab7da7e5-c0d3-5270-a542-9e8d1ec56726",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Payment": {
        "title": "Payment",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date when the payment was requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information related to the payment remittance."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated."
          }
        },
        "description": "Represents a payment transaction including various transaction details."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical amount of the payment.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the payment amount."
          }
        },
        "description": "Represents the amount and currency for the payment transaction."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the pagination.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details for paginating the response data."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate the request with the response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that handles the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-e-commerce-gateway-search-card-e-commerce-gateway"
        },
        "example": "card-e-commerce-gateway-search-card-e-commerce-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a Bearer token for authentication. The token must be a JSON Web Token (JWT) that provides the necessary credentials to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}