{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Service Agency API",
    "description": "The Product Service Agency API allows users to access information about product services provided by external agencies. It facilitates retrieving details of specific services based on a provided identifier, enabling seamless integration for businesses looking to enhance their product offerings. Typical consumers include developers within financial institutions and third-party service providers looking to leverage agency services for client solutions. This API streamlines the process of fetching relevant product data, ensuring efficient and effective service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/product-service-agency/{param1}": {
      "get": {
        "tags": [
          "Product Service"
        ],
        "summary": "Retrieve Product Service Details",
        "description": "This endpoint allows users to fetch detailed information about a specific product service identified by its unique identifier PROD-700045 from the external agency's database.",
        "operationId": "getProductServiceByExternalAgency700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve product information from the external agency service. Ensure that the request parameters comply with the expected schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductServiceByExternalAgency700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the requested product details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductServiceByExternalAgency700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductServiceByExternalAgency700045Request": {
        "title": "External Agency Product Service Request Body",
        "type": "string",
        "description": "A string representation of the request body used for the external agency product service operation.",
        "example": "{}"
      },
      "GetProductServiceByExternalAgency700045Response_200": {
        "title": "Product Service Agency Response",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-662118"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) for the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code for the country of the institution.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the agreement is effective.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the agreement.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Product Service Agency API providing institutional details.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-662118",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c1702a27-d6e7-552a-b32b-66aa718cac9c",
            "correlationId": "c23758df-9437-56bc-8afd-3d7b3b493e16",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata details for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-service-agency-get-product-service-agency"
        },
        "example": "product-service-agency-get-product-service-agency"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens as part of the HTTP Authorization header. The tokens are formatted according to the JSON Web Token (JWT) standard, which enables secure information exchange between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}