{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Assurance API",
    "description": "The Systems Assurance API enables users to evaluate and ensure the reliability of IT systems within the banking sector. This endpoint facilitates retrieval of comprehensive assessments regarding system performance, compliance, and security metrics. Common consumers of this API include IT auditors, system administrators, and compliance officers who require detailed insights to enhance operational effectiveness and mitigate risks. Through the data provided by this API, organizations can make informed decisions about infrastructure investments and compliance adherence.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve systems assurance information.",
        "description": "This endpoint allows you to fetch detailed information regarding the systems assurance processes and metrics within IT management. It is essential for assessing the effectiveness and compliance of systems in an IT environment.",
        "operationId": "getSystemsAssurance",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve system assurance information relevant to IT management operations. Ensure that proper authorization and parameters are set to get the desired results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemsAssuranceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemsAssuranceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemsAssuranceRequest": {
        "type": "string",
        "description": "A placeholder string representing the request body for the IT management systems assurance operations GET request.",
        "example": "{}"
      },
      "GetSystemsAssuranceResponse_200": {
        "title": "Systems Assurance Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of system items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Systems Assurance GET operation, containing a list of system items with pagination and metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8e27f291-68a5-50eb-8327-b193c091bb05",
            "correlationId": "e02642f3-ff5d-5707-9907-40dbec8cc868",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemItem": {
        "title": "System Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier of the system.",
            "example": "example-system-id"
          },
          "environment": {
            "type": "string",
            "description": "Deployment environment of the system (e.g., production, staging).",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the associated change.",
            "example": "example-change-id"
          },
          "ownerTeam": {
            "type": "string",
            "description": "Team responsible for the system.",
            "example": "example-owner-team"
          },
          "plannedAt": {
            "type": "string",
            "description": "Planned date and time for changes or maintenance.",
            "example": "2023-10-01T00:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "Service tier level of the system.",
            "example": "premium"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "Target availability percentage for the system.",
            "example": 99.9
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system.",
            "example": "2023-10-01T01:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the system record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the system item was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Represents a single system item with relevant details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the full dataset.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains pagination information for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID to trace the request through the system.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was called, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-search-systems-assurance"
        },
        "example": "systems-assurance-search-systems-assurance"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request, aiding in monitoring and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication to ensure that the request is authorized by requiring a valid JSON Web Token (JWT) to be included in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}