{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Payment API",
    "description": "The Update Loan Payment API allows users to modify existing payment details associated with a specific loan. By providing the loan ID and payment ID, consumers can update various attributes of the payment, such as amounts or payment dates. This API is typically used by financial institutions and service applications that need to manage loan payment processes efficiently. Utilize this endpoint to ensure that payment records are current and accurately reflect the latest transaction details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a payment for the specified loan.",
        "description": "This operation allows you to update the details of a specific payment associated with a loan identified by LOAN-500045. Ensure you provide the necessary payment information in the request body to successfully update the payment details.",
        "operationId": "updateLoanPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body updates the payment details for a specific loan. It should contain all necessary payment information such as amount, payment date, and any associated fees. Ensure to provide the correct format as outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanPaymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanPaymentRequest": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details about the payment amount including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment is made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the value of the payment is recognized.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is sourced.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference for tracking the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used to allocate the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "A list of installment numbers to which this payment should be applied.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "description": "An installment number.",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details about manual allocation of the payment to various components.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or comment about the payment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "requestContext": {
            "requestId": "0986fe7e-4467-56b2-b872-d1d503827016",
            "correlationId": "1e69156c-66d1-5718-a112-fd4a9eaa1bb6",
            "idempotencyKey": "e456c66b-3efd-55fe-8a02-8e50422e392a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-818605"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money being paid.",
            "example": "100.00"
          }
        },
        "description": "Represents the financial amount including the currency."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The manual allocation amount directed towards the principal of the loan.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "interest": {
            "description": "The manual allocation amount directed towards interest charges.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "fees": {
            "description": "The manual allocation amount directed towards any applicable fees.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "penalties": {
            "description": "The manual allocation amount directed towards penalties incurred.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "excess": {
            "description": "The manual allocation amount for any excess payment not allocated to specific components.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing details of the manual allocation of a payment toward specific loan components."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing requests through the system.",
            "example": "correlation-987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "idempotent-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "payment_gateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "mobile_app"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel used.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the transaction.",
            "example": "device-12345"
          }
        },
        "description": "Represents the channel information through which the request was initiated."
      },
      "UpdateLoanPaymentResponse_200": {
        "title": "Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "The total payment amount, including currency and specific monetary values.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date when the payment value is applied to the loan account.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., bank transfer, credit card).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment is made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "A reference identifier for the payment, used for external tracking.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment against loan components.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of installment numbers that the payment applies to.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Details regarding any manual allocation of the payment towards specific loan components.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or description accompanying the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "492e2e6f-1d9c-6012-a608-83a8029ecd7f"
          },
          "paymentNumber": {
            "type": "string",
            "description": "The identifier of the payment for reference in the system.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment (e.g., processed, pending).",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Breakdown of how the payment is allocated among various components of the loan.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "A reference for tracking the transaction externally.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment was recorded in the system.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment processing and tracking.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the payment details and allocation information in response to a loan payment operation.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "492e2e6f-1d9c-6012-a608-83a8029ecd7f",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cb02fa78-1f9c-50db-8559-984942482367",
            "correlationId": "1e69156c-66d1-5718-a112-fd4a9eaa1bb6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentAmount": {
        "title": "Payment Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the payment amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The numerical value of the payment amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing the amount related to a payment including currency and monetary value."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The allocated amount for the principal repayment.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "interest": {
            "description": "The allocated amount for interest repayment.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "fees": {
            "description": "The allocated amount for fees associated with the payment.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "penalties": {
            "description": "The allocated amount for penalties related to the payment.",
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "excess": {
            "description": "The allocated amount for any excess payment that exceeds the required payment.",
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Schema representing the breakdown of payment allocation across loan components."
      },
      "Metadata": {
        "title": "Payment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response of the payment processing.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the payment request.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata related to the payment processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan-payment"
        },
        "example": "banking-loans-openapi-replace-loan-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request runtime.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token for accessing secured endpoints. The Bearer token should be a valid JSON Web Token (JWT), which contains claims that can be verified and used to determine the access privileges of the bearer.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}