{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Portfolio Retrieval API",
    "description": "The Portfolio Retrieval API allows users to access detailed information about specific portfolios identified by their unique portfolio IDs. This endpoint is essential for consumers such as financial analysts and decision-makers who need up-to-date insights into portfolio performance, asset allocation, and other critical metrics. By utilizing this API, organizations can enhance their decision-making processes with accurate and timely data about their investments. Whether it's for reporting, analysis, or strategy development, this API serves as a vital resource for effective portfolio management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Portfolio Management"
        ],
        "summary": "Retrieve a specific portfolio by its ID.",
        "description": "This endpoint allows you to fetch detailed information about a portfolio identified by its unique ID. It provides insights into the portfolio's attributes and current status, enabling users to make informed decisions regarding their investments.",
        "operationId": "getPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to retrieve information pertaining to the portfolio identified by 'RES-100045'. It requires a well-formed JSON object for successful execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Portfolio retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPortfolioByIdRequest": {
        "title": "Portfolio Operations Request Body",
        "type": "string",
        "description": "This schema represents the payload for the Portfolio Operations GET request. It is a string type that typically holds a JSON payload.",
        "example": "{}"
      },
      "GetPortfolioByIdResponse_200": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-764332"
          },
          "consumer": {
            "description": "Details of the consumer associated with the portfolio.",
            "$ref": "#/components/schemas/Consumer"
          },
          "reports": {
            "type": "array",
            "description": "List of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-155591",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for retrieving portfolio operations.",
        "example": {
          "portfolioId": "PORT-764332",
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "email": "olivia.bennett@northstar.example",
            "createdDate": 1,
            "suffix": "STANDARD",
            "endUser": {
              "name": "Northstar Banking Service",
              "address": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "zip": "STANDARD",
              "phone": "+1-212-555-0147",
              "email": "olivia.bennett@northstar.example",
              "url": "https://banking.northstar.example/callbacks/status"
            }
          },
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-155591",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "metadata": {
            "responseId": "dd6dcb86-aa50-5125-8e3f-3f6ff6f85687",
            "correlationId": "ceb72080-17d5-5518-bec4-9fee0d232773",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Consumer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique customer identifier.",
            "format": "int32",
            "example": 0
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the consumer.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the consumer.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "birthday": {
            "description": "Birthday details of the consumer.",
            "$ref": "#/components/schemas/Birthday"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the consumer record was created.",
            "format": "int32",
            "example": 0
          },
          "suffix": {
            "type": "string",
            "description": "Suffix for the consumer's name (if applicable).",
            "example": "string"
          },
          "endUser": {
            "description": "Details of the end user associated with the consumer.",
            "$ref": "#/components/schemas/EndUser"
          }
        },
        "description": "Schema representing consumer details."
      },
      "Birthday": {
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "Year of birth.",
            "format": "int32",
            "example": 0
          },
          "month": {
            "type": "integer",
            "description": "Month of birth.",
            "format": "int32",
            "example": 0
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "Day of birth.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing birthday information."
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City of the end user.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State of the end user.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website or URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing end user details."
      },
      "Report": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "string"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the report.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of report.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "string"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the report was created.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing report details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing response metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-path-param-port-folio-id"
        },
        "example": "open-finance-api-get-portfolio-by-path-param-port-folio-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method which allows users to authenticate by providing a bearer token in the Authorization header. The token should be a valid JSON Web Token (JWT), which must be included in requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}