{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Network Participant Facility API",
    "description": "The Card Network Participant Facility API enables seamless access to information about card network participants for banking and financial systems. By utilizing this API, developers can retrieve detailed profiles of various network participants, enhancing collaboration and operational efficiency within payment ecosystems. This API is particularly valuable for financial institutions, payment processors, and fintech applications that require real-time participant data to support transaction processing and compliance needs. Use cases include the integration of participant information into banking applications, fraud detection systems, and network analysis tools.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-network-participant-facility": {
      "get": {
        "tags": [
          "Card Network Management"
        ],
        "summary": "Retrieve card network participant facility details.",
        "description": "This endpoint allows you to fetch the details of a card network participant facility, including relevant information such as its status and associated attributes. Ensure you have the necessary permissions to access this data.",
        "operationId": "getCardNetworkParticipantFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving card network participant facility information. This body should provide any necessary parameters or filter criteria needed to obtain the desired data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardNetworkParticipantFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the card network participant facility details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardNetworkParticipantFacilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardNetworkParticipantFacilityRequest": {
        "type": "string",
        "description": "The request body expected when fetching card network participant facility details. It should contain the required string representation.",
        "example": "{}"
      },
      "GetCardNetworkParticipantFacilityResponse_200": {
        "title": "Card Network Participant Facility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of card-related information.",
            "example": [
              {
                "cardToken": "TOK-586303",
                "cardholderId": "STANDARD",
                "merchantId": "MER-781606",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Card Network Participant Facility GET operation. This schema includes details about the items, pagination, sorting, and metadata of the response.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-586303",
              "cardholderId": "STANDARD",
              "merchantId": "MER-781606",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a525f052-2a22-5f9f-8154-e2872109e759",
            "correlationId": "8e187c33-d253-5d14-8963-f3009b10bd2e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardItem": {
        "title": "Card Item",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique identifier for the card."
          },
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier of the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant."
          },
          "transactionAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "integer",
                "description": "The amount of the transaction.",
                "format": "int32",
                "example": 0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the transaction amount."
              }
            },
            "description": "Details of the transaction amount."
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code for the merchant."
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the card."
          },
          "availabilityTargetPercent": {
            "type": "integer",
            "description": "The target availability percentage.",
            "format": "int32"
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The maintenance window for the card."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the card record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the card record was last updated."
          }
        },
        "description": "Schema representing details of an individual card item.",
        "example": {
          "cardToken": "string",
          "cardholderId": "string",
          "merchantId": "string",
          "transactionAmount": {
            "amount": 0,
            "currency": "string"
          },
          "merchantCategoryCode": "string",
          "serviceTier": "string",
          "availabilityTargetPercent": 0,
          "maintenanceWindow": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details of the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema representing metadata information related to the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-network-participant-facility-search-card-network-participant-facility"
        },
        "example": "card-network-participant-facility-search-card-network-participant-facility"
      },
      "x-runtime-app": {
        "description": "Indicates the runtime environment of the application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which is a widely used method for transmitting access tokens. The tokens are typically in JSON Web Token (JWT) format, allowing for secure and stateless user authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}