{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Root Cause Analysis Submission API",
    "description": "The Root Cause Analysis Submission API enables businesses to submit detailed analyses concerning case root causes. This endpoint facilitates the collection of analysis reports, which are crucial for understanding and mitigating issues in service delivery. Typically used by customer service teams and operational analysts, the API allows for streamlined data gathering related to service performance and issues. By integrating this API, organizations can enhance their problem-solving processes and improve overall service quality.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/case-root-cause-analysis/analyses": {
      "post": {
        "tags": [
          "Case Analysis"
        ],
        "summary": "Create a new case root cause analysis.",
        "description": "This endpoint allows you to create a new root cause analysis for a servicing case. It involves submitting the necessary data to initiate the analysis and can be used to investigate issues and identify underlying causes.",
        "operationId": "createCaseRootCauseAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new case root cause analysis. It contains details that describe the analysis to be performed along with relevant data and parameters needed for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCaseRootCauseAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, returning the analysis results.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCaseRootCauseAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCaseRootCauseAnalysisRequest": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-720545"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "CASE-741186"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request being made.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel from which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for case creation.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Timestamp indicating when the service level agreement is due.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Preferred method of contact from the customer.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ123456"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating multiple requests.",
                "example": "CORR789012"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure that the request is processed only once.",
                "example": "IDEMPOTENT-KEY-001"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp indicating when the request was made.",
                "example": "2023-10-31T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "System from which the request originated.",
                "example": "CRM"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Application from which the request originated.",
                "example": "Customer Portal"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Context of the request with specific identifiers.",
            "example": {
              "requestId": "017ed4cd-54f6-5afd-adae-b98257b92635",
              "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
              "idempotencyKey": "5cf91a6e-c066-5858-8b14-ae9a134f0eb4",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-434316"
              }
            }
          }
        },
        "description": "Request body for root cause analysis service case creation.",
        "example": {
          "customerId": "CUST-720545",
          "caseId": "CASE-741186",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "017ed4cd-54f6-5afd-adae-b98257b92635",
            "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
            "idempotencyKey": "5cf91a6e-c066-5858-8b14-ae9a134f0eb4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-434316"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH999"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "DEV123"
          }
        },
        "description": "Information about the communication channel used in the request."
      },
      "CreateCaseRootCauseAnalysisResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-664175"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case associated with the analysis.",
            "example": "CASE-148552"
          },
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis conducted.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis, each consisting of metrics and their values.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Finding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the root cause analysis operations, providing details about the customer, case, analysis, and associated findings.",
        "example": {
          "customerId": "CUST-664175",
          "caseId": "CASE-148552",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "fa97ac91-f318-5520-993a-47c38469a340",
            "correlationId": "7b8188eb-50ce-5db1-b857-2811efad6fdd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Finding": {
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric being analyzed.",
            "example": "Response Time"
          },
          "value": {
            "type": "number",
            "description": "The numerical value associated with the metric.",
            "example": 200.5
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric value.",
            "example": "ms"
          }
        },
        "description": "This schema represents a single finding from the analysis, including its metric, value, and unit."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "Response12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracing the request.",
            "example": "Corr56789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the analysis was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema contains metadata related to the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "case-root-cause-analysis-analyze-case-root-cause-analysis"
        },
        "example": "case-root-cause-analysis-analyze-case-root-cause-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment in which the operation was executed, aiding in diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, defined in RFC 6750. A JSON Web Token (JWT) must be included in the Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}