{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Case Retrieval API",
    "description": "The Customer Case Retrieval API allows users to access specific customer case information related to banking services. Utilizing this API, businesses can retrieve detailed insights about open and resolved customer cases to enhance support operations. Typical consumers include customer service representatives and support teams who require quick access to customer issues and their resolutions. This API facilitates better customer engagement by providing essential data needed for informed decision-making and effective case management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case/{param1}": {
      "get": {
        "tags": [
          "Customer Case Management"
        ],
        "summary": "Retrieve Customer Case Details",
        "description": "This endpoint allows you to fetch detailed information about a specific customer case identified by a unique case ID. It provides essential data related to the case and helps in understanding the customer\u2019s situation better.",
        "operationId": "getCustomerCaseCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details of the customer case identified by the unique ID 'CUST-100045'. It requires a JSON object containing the necessary parameters for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCaseCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer case details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCaseCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCaseCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the operation on customer case CUST-100045.",
        "example": "{}"
      },
      "GetCustomerCaseCUST100045Response_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-734702"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "CASE-103222"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request associated with the case.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level assigned to the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the case was created.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason provided for the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The service level agreement deadline for the case.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The preferred method for contacting the customer.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the case record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the case record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the case was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the details of a customer case including identification and metadata.",
        "example": {
          "customerId": "CUST-734702",
          "caseId": "CASE-103222",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7f851c55-fb0e-5926-a7ca-4b634b0dab85",
            "correlationId": "ce485c03-7709-5f77-b49b-e072f2d01237",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "Resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "Corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp at which the response was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema for metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-get-customer-case"
        },
        "example": "customer-case-get-customer-case"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT) to authorize requests. Clients must include a valid JWT in the Authorization header to access protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}