{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Assurance Management API",
    "description": "The Systems Assurance Management API offers tools for monitoring and evaluating the performance of IT systems within banking operations. It provides access to critical information related to system health and compliance, helping businesses ensure operational reliability and mitigate risks. This API is essential for IT managers and system administrators in the banking sector, enabling them to efficiently retrieve system assurance metrics. Use cases include assessing compliance with regulatory standards and identifying potential system enhancements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-assurance/{param1}": {
      "get": {
        "tags": [
          "Systems Assurance"
        ],
        "summary": "Retrieve detailed information about a specific systems assurance resource.",
        "description": "This operation allows developers to fetch comprehensive details for the systems assurance resource identified by the given ID (RES-100045). It provides all relevant information necessary for further actions or assessments related to this resource.",
        "operationId": "getSystemsAssuranceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving systems assurance details for the specified resource ID. The body should adhere to the schema defined for the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemsAssuranceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemsAssuranceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemsAssuranceByIdRequest": {
        "type": "string",
        "description": "A request body template for the REST operation that specifies parameters in application/json format.",
        "example": "{}"
      },
      "GetSystemsAssuranceByIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system operates (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with the system.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the next operation on the system.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the system (e.g., Basic, Premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The scheduled maintenance window for the system.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the system record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the system.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the system details were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "resp-7890"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracing requests.",
                "example": "correlation-3333"
              },
              "generatedAt": {
                "type": "string",
                "description": "The date and time when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the response was processed.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "5d6307a3-7b29-500c-b4f2-f0c0bc17a0d9",
              "correlationId": "3f445a09-6441-568b-907b-4825054aeadd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema defines the structure of the response for the GET operation on systems assurance.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5d6307a3-7b29-500c-b4f2-f0c0bc17a0d9",
            "correlationId": "3f445a09-6441-568b-907b-4825054aeadd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-assurance-get-systems-assurance"
        },
        "example": "systems-assurance-get-systems-assurance"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token format, specifically the JSON Web Token (JWT) standard, which allows secure data transmission between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}