{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brokered Product Information API",
    "description": "The Brokered Product Information API provides access to detailed information about financial products available through brokerage services. This API enables users to retrieve up-to-date data on various brokered products, including features, pricing, and eligibility criteria. It is beneficial for financial institutions and developers looking to integrate product information into their applications or services. Use cases include generating product comparisons, aiding customer decision-making, and enhancing user experiences within financial platforms.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/brokered-product": {
      "get": {
        "tags": [
          "Brokered Products"
        ],
        "summary": "Retrieve a list of brokered products.",
        "description": "This endpoint allows you to fetch all available brokered products within the consumer services domain. Use this to get detailed information about each product offered.",
        "operationId": "getBrokeredProduct",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the brokered product available under consumer services. Ensure to provide the necessary parameters in the schema to get the desired details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBrokeredProductRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBrokeredProductResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBrokeredProductRequest": {
        "title": "Brokered Product Request Body",
        "type": "string",
        "description": "A string representation of the request body for operations related to brokered products.",
        "example": "{}"
      },
      "GetBrokeredProductResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of brokered product items.",
            "example": [
              {
                "customerId": "CUST-445910",
                "serviceRequestId": "546caf81-92cf-5a7b-a666-051f718497d8",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BrokeredProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the product items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on brokered products in consumer services.",
        "example": {
          "items": [
            {
              "customerId": "CUST-445910",
              "serviceRequestId": "546caf81-92cf-5a7b-a666-051f718497d8",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "04fc744d-92bf-5541-8d19-b7d61b2ef157",
            "correlationId": "a82e79ef-cebe-5118-a015-f75a5349e3c0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BrokeredProductItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Identifier for the service request associated with the product.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Identifier for the product.",
            "example": "string"
          },
          "amount": {
            "type": "object",
            "properties": {
              "value": {
                "type": "integer",
                "description": "Numeric value of the amount.",
                "format": "int32",
                "example": 0
              },
              "currency": {
                "type": "string",
                "description": "Currency type of the amount.",
                "example": "string"
              }
            },
            "description": "Amount details for the product."
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the product was requested.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single brokered product item.",
        "example": {
          "customerId": "string",
          "serviceRequestId": "string",
          "productCode": "string",
          "amount": {
            "value": 0,
            "currency": "string"
          },
          "requestedDate": "string",
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information about the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brokered-product-search-brokered-product"
        },
        "example": "brokered-product-search-brokered-product"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that employs a bearer token, typically in the form of a JSON Web Token (JWT), allowing access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}