{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Accounts Aggregation API",
    "description": "The Customer Accounts Aggregation API enables businesses to retrieve comprehensive account information for specific customers. By querying this endpoint, developers can access details about all accounts associated with a given customer ID, facilitating customer relationship management and providing insights into account statuses. This API is particularly useful for financial institutions, customer support teams, and data analysts who need to efficiently consolidate account data for reporting or customer service purposes. It supports a streamlined process for accessing vital consumer account information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve accounts for a specific customer.",
        "description": "This operation allows you to retrieve all accounts associated with the customer identified by the given customer ID (CUST-100045). It provides detailed information about each account, enabling you to manage and utilize customer-related data effectively.",
        "operationId": "getCustomersAccountsCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving account information associated with the specified customer ID. The provided data will be used to filter or paginate the results based on the supplied criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomersAccountsCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomersAccountsCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomersAccountsCUST100045Request": {
        "type": "string",
        "description": "A request body in JSON format for retrieving account operations related to a specific customer.",
        "example": "{}"
      },
      "GetCustomersAccountsCUST100045Response_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "List of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "number": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "name": "Northstar Banking Service",
                "balance": 100.0,
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-815850",
                "institutionId": "STANDARD",
                "balanceDate": 1,
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "lastUpdatedDate": 1,
                "marketSegment": "STANDARD",
                "currency": "USD",
                "lastTransactionDate": 1,
                "oldestTransactionDate": 1,
                "institutionLoginId": 1,
                "detail": {
                  "dateAsOf": 1,
                  "availableBalanceAmount": 100.0,
                  "openDate": 1,
                  "periodStartDate": 1,
                  "periodEndDate": 1,
                  "periodInterestRate": 100.0,
                  "periodDepositAmount": 100.0,
                  "periodInterestAmount": 100.0,
                  "interestYtdAmount": 100.0,
                  "interestPriorYtdAmount": 100.0,
                  "maturityDate": 1,
                  "interestRate": "STANDARD",
                  "creditAvailableAmount": 100.0,
                  "creditMaxAmount": 100.0
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the GET Accounts operation.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "number": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "name": "Northstar Banking Service",
              "balance": 100.0,
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-815850",
              "institutionId": "STANDARD",
              "balanceDate": 1,
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "lastUpdatedDate": 1,
              "marketSegment": "STANDARD",
              "currency": "USD",
              "lastTransactionDate": 1,
              "oldestTransactionDate": 1,
              "institutionLoginId": 1,
              "detail": {
                "dateAsOf": 1,
                "availableBalanceAmount": 100.0,
                "openDate": 1,
                "periodStartDate": 1,
                "periodEndDate": 1,
                "periodInterestRate": 100.0,
                "periodDepositAmount": 100.0,
                "periodInterestAmount": 100.0,
                "interestYtdAmount": 100.0,
                "interestPriorYtdAmount": 100.0,
                "maturityDate": 1,
                "interestRate": "STANDARD",
                "creditAvailableAmount": 100.0,
                "creditMaxAmount": 100.0
              }
            }
          ],
          "metadata": {
            "responseId": "7e2a54a8-97f3-5860-9182-f53d5ad00ee2",
            "correlationId": "781e49cc-038e-5546-96cd-08735fbc5047",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "The account number.",
            "example": "string"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display format of the account number.",
            "example": "string"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the real account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "balance": {
            "type": "number",
            "description": "Current balance of the account.",
            "example": 0.0
          },
          "type": {
            "type": "string",
            "description": "Type of the account.",
            "example": "string"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation status of the account.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution holding the account.",
            "example": "string"
          },
          "balanceDate": {
            "type": "integer",
            "description": "Date of the balance information.",
            "format": "int32",
            "example": 0
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the aggregation succeeded.",
            "format": "int32",
            "example": 0
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date of the last aggregation attempt.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32",
            "example": 0
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "Date when the account was last updated.",
            "format": "int32",
            "example": 0
          },
          "marketSegment": {
            "type": "string",
            "description": "Market segment of the account.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency type of the account.",
            "example": "string"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "Date of the last transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "Date of the oldest transaction on the account.",
            "format": "int32",
            "example": 0
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login ID used for the financial institution's online platform.",
            "format": "int32",
            "example": 0
          },
          "detail": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Schema representing an individual account."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "Date as of which the detail information is valid.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "Amount available in the account.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "Date when the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "Start date of the interest calculation period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "End date of the interest calculation period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "Interest rate for the calculation period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "Deposit amount during the interest calculation period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "Interest amount earned during the calculation period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest amount for the account.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Interest amount earned prior to the current year.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "Maturity date of the account, if applicable.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "Interest rate for the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "Available credit amount associated with the account.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "Maximum credit amount for the account.",
            "example": 0.0
          }
        },
        "description": "Schema representing detailed information about an account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts"
        },
        "example": "open-finance-api-get-customer-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer token for authentication. The token must be a JSON Web Token (JWT) that is included in the Authorization header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}