{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Concentration Management API",
    "description": "The Cash Concentration Management API enables organizations to efficiently manage and optimize their cash flow through consolidated banking activities. This API provides access to vital information regarding cash movements and balances across various accounts, facilitating better decision-making. Common use cases include financial institutions and corporate finance teams seeking to streamline cash positions and enhance liquidity management. Developers can integrate this API to retrieve real-time data necessary for effective cash concentration strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve cash concentration details.",
        "description": "This endpoint allows users to fetch detailed information regarding cash concentration strategies in trade banking, providing insights into fund movement and liquidity management.",
        "operationId": "getCashConcentration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving cash concentration operations in trade banking. This request includes the necessary parameters and filters to specify the cash concentration details required by the client.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCashConcentrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved cash concentration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCashConcentrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCashConcentrationRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Cash Concentration API within Trade Banking. It accepts a string value.",
        "example": "{}"
      },
      "GetCashConcentrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of cash concentration pool details.",
            "example": [
              {
                "poolId": "STANDARD",
                "headerAccountId": "ACC-830539",
                "participantAccountIds": [
                  "ACC-127188"
                ],
                "currency": "USD",
                "sweepFrequency": "STANDARD",
                "targetBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CashConcentrationPool"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Cash Concentration operation in Trade Banking, containing a list of cash concentration pools and pagination metadata.",
        "example": {
          "items": [
            {
              "poolId": "STANDARD",
              "headerAccountId": "ACC-830539",
              "participantAccountIds": [
                "ACC-127188"
              ],
              "currency": "USD",
              "sweepFrequency": "STANDARD",
              "targetBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "61952eb2-80cb-50cf-9582-b61cae10ad30",
            "correlationId": "c4884c20-0a3e-52df-bc09-17a800dc3333",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CashConcentrationPool": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Unique identifier for the cash concentration pool.",
            "example": "string"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account associated with the pool.",
            "example": "string"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "List of participant account identifiers included in the pool.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "currency": {
            "type": "string",
            "description": "Currency used in the cash concentration pool.",
            "example": "string"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "Frequency of cash sweeps for the pool.",
            "example": "string"
          },
          "targetBalance": {
            "type": "number",
            "description": "Target balance to maintain in the cash concentration pool.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the cash concentration pool record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the pool.",
            "example": "string"
          }
        },
        "description": "Schema representing a cash concentration pool."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema defining pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request. This ID can be used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-search-cash-concentration"
        },
        "example": "cash-concentration-search-cash-concentration"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that processed the request. This header provides visibility into which application instance handled the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate requests. Clients must include a valid bearer token in the `Authorization` header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}