{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Systems Help Desk API",
    "description": "The Systems Help Desk API provides a seamless interface for retrieving information related to IT management and support issues within the banking system. It allows users to query specific help desk tickets or issues using unique identifiers. Typical consumers include IT support staff and managers who require quick access to ticket statuses and details in order to facilitate effective problem resolution. This API enhances operational efficiency by enabling timely access to pertinent help desk data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/systems-help-desk/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve details for help desk system RES-100045.",
        "description": "This endpoint allows you to fetch detailed information on the help desk system identified by RES-100045. It provides insights into its status, configurations, and recent activities, essential for managing IT support resources effectively.",
        "operationId": "getHelpDeskSystemRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain detailed information regarding the help desk system operation specified by the resource identifier RES-100045. It should include all necessary parameters required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHelpDeskSystemRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHelpDeskSystemRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHelpDeskSystemRes100045Request": {
        "type": "string",
        "description": "A request body that contains a string representing the specific operation request for the IT management systems help desk.",
        "example": "{}"
      },
      "GetHelpDeskSystemRes100045Response_200": {
        "title": "Incident Response",
        "type": "object",
        "properties": {
          "incidentId": {
            "type": "string",
            "description": "Unique identifier for the incident.",
            "example": "STANDARD"
          },
          "affectedSystemId": {
            "type": "string",
            "description": "Identifier for the system affected by the incident.",
            "example": "STANDARD"
          },
          "impact": {
            "type": "string",
            "description": "Impact level of the incident on operations.",
            "example": "STANDARD"
          },
          "urgency": {
            "type": "string",
            "description": "Urgency level of the incident requiring resolution.",
            "example": "STANDARD"
          },
          "summary": {
            "type": "string",
            "description": "Brief summary of the incident.",
            "example": "STANDARD"
          },
          "reportedBy": {
            "type": "string",
            "description": "Name of the person who reported the incident.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the incident record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the incident record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the incident record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the incident.",
            "$ref": "#/components/schemas/IncidentMetadata"
          }
        },
        "description": "Schema representing the response for an incident from the help desk operations.",
        "example": {
          "incidentId": "STANDARD",
          "affectedSystemId": "STANDARD",
          "impact": "STANDARD",
          "urgency": "STANDARD",
          "summary": "STANDARD",
          "reportedBy": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "918b6208-35cb-5386-9e8a-26f98d9747a3",
            "correlationId": "d5fa353e-feee-5fc4-b32a-b60e60c02541",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncidentMetadata": {
        "title": "Incident Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-654321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR-111222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the incident is being processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata containing additional information about the incident."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "systems-help-desk-get-systems-help-desk"
        },
        "example": "systems-help-desk-get-systems-help-desk"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes Bearer tokens. The tokens are in JSON Web Token (JWT) format, allowing for secure transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}