{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Concentration Management API",
    "description": "The Cash Concentration Management API allows businesses to efficiently manage and optimize their cash flow across multiple accounts. By retrieving cash concentration data, users can gain insights into their cash positions and make informed financial decisions. This API is essential for treasury teams and finance professionals looking to monitor cash balances and streamline operations. Typical use cases include regular cash analysis and integration with financial reporting systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration/{param1}": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve cash concentration details",
        "description": "Fetches the details of a specific cash concentration resource identified by its unique ID. This endpoint enables users to access key information necessary for managing cash concentrations effectively.",
        "operationId": "getCashConcentrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch details related to cash concentration operations, specifically tailored for the unique identifier RES-100045. Please ensure that the required parameters are provided to receive the appropriate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCashConcentrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the cash concentration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCashConcentrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCashConcentrationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to cash concentration in the trade banking context.",
        "example": "{}"
      },
      "GetCashConcentrationByIdResponse_200": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The unique identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account associated with the cash concentration.",
            "example": "ACC-406836"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of identifiers for participant accounts included in the cash concentration.",
            "example": [
              "ACC-547510"
            ],
            "items": {
              "type": "string",
              "description": "The identifier for a participant account.",
              "example": "participant-abc"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency used in the cash concentration operations.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which sweeps occur for this cash concentration pool.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance that must be maintained in the cash concentration pool.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the cash concentration record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the cash concentration configuration.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when this record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for a cash concentration operation.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-406836",
          "participantAccountIds": [
            "ACC-547510"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ab8c52b1-7731-5db1-95da-153ba4ce1756",
            "correlationId": "ae735b63-1ec3-58e5-b76d-70ac86da305f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests across services.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-get-cash-concentration"
        },
        "example": "cash-concentration-get-cash-concentration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) as a means of authentication. Clients must provide a valid JWT in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}