{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Billing Review Submission API",
    "description": "The Corporate Billing Review Submission API allows businesses to submit reviews related to their corporate billing services. Typically used by finance or billing departments, this API streamlines feedback collection and enhances service improvements. Users can contribute insights about their experiences, helping the organization to better understand client needs and to refine billing processes. This facilitates a stronger relationship with clients through transparent communication and responsiveness to concerns.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing/{param1}/reviews": {
      "post": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Submit a review for a corporate billing transaction.",
        "description": "This endpoint allows users to submit reviews for a specific corporate billing transaction identified by its payment ID. Providing feedback helps improve service quality and addresses customer concerns effectively.",
        "operationId": "createCorporateBillingReviewForPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the details required to create a new review for the specified corporate billing service. Ensure that the data adheres to the defined schema to validate the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateBillingReviewForPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateBillingReviewForPaymentResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateBillingReviewForPaymentRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "An array defining the scope of the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific aspect included in the review.",
              "example": "Performance"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for submitting reviews in the operations system.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "6a1d77a9-ee3b-562a-806c-844a19d1c388",
            "correlationId": "27cb2731-3a24-57ac-9783-6062a93232e6",
            "idempotencyKey": "f6c2a1de-26bb-50c6-bfb4-fb83568b45d8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-192409"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs across services.",
            "example": "corr-654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idemp-key-987"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was initiated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., email, SMS).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Device identifier from which the request was made.",
            "example": "device-abc123"
          }
        },
        "description": "Details about the communication channel used."
      },
      "CreateCorporateBillingReviewForPaymentResponse_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed, e.g., 'create', 'update', or 'delete'.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation, e.g., 'success' or 'failure'.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "A timestamp indicating when the operation was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional information about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the operations related to corporate billing reviews.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "1afe2d6c-9c6a-555b-b167-f4669d00aa2b",
            "correlationId": "27cb2731-3a24-57ac-9783-6062a93232e6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing related requests across systems.",
            "example": "corr-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata schema containing various identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the endpoint for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-review-company-billing-and-payments-processing"
        },
        "example": "company-billing-and-payments-review-company-billing-and-payments-processing"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime environment for the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication. The token is provided in the HTTP Authorization header and should be in JWT (JSON Web Token) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}