{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Branch Management API",
    "description": "The E-Branch Management API facilitates the retrieval of information regarding electronic banking branches. This API allows financial institutions to manage and query various aspects of their e-branch offerings. Users can access key details on branch functionalities, customer support, and service availability specific to electronic channels. Typical consumers of this API include banking operations teams and product managers looking to enhance their digital banking services. It aims to improve customer experience by providing timely and accurate data on e-branch operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/e-branch-management": {
      "get": {
        "tags": [
          "E-Branch Management"
        ],
        "summary": "Retrieve E-Branch Management Details",
        "description": "Fetches detailed information related to E-Branch Management, allowing users to view and manage specific aspects of the e-branch setup.",
        "operationId": "getEbranchManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the e-branch management operations for a specific channel. It should include all necessary parameters in JSON format to specify the criteria for the data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEbranchManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of e-branch management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEbranchManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEbranchManagementRequest": {
        "title": "Channel Specific Branch Management Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operations in the channel-specific branch management context. The type is a string that contains the relevant request data.",
        "example": "{}"
      },
      "GetEbranchManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch management items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchManagementItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching channel-specific branch management operations.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5bcc243b-156f-5ac9-877c-a0a1b81891d5",
            "correlationId": "ff1a41b4-1a16-5975-9772-37f2c87c1503",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchManagementItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region.",
            "example": "string"
          },
          "serviceWindow": {
            "description": "Service window details for the branch.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The daily capacity of the branch.",
            "format": "int32",
            "example": 0
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Timezone in which the branch operates.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for the last update.",
            "example": "string"
          }
        },
        "description": "Details about a specific branch management item."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time the branch opens.",
            "example": "string"
          },
          "closesAt": {
            "type": "string",
            "description": "The time the branch closes.",
            "example": "string"
          }
        },
        "description": "Defines the service opening and closing times for a branch."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the dataset.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details about the pagination of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-branch-management-search-e-branch-management"
        },
        "example": "e-branch-management-search-e-branch-management"
      },
      "X-Runtime-App": {
        "description": "The version of the application that processed the request, useful for debugging and compatibility checks.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header of the request to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}