{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Subscriptions Management API",
    "description": "The Event Subscriptions Management API provides a mechanism for clients to access and monitor event subscriptions in the open banking environment. This API allows users to retrieve details about existing subscriptions, ensuring they can stay updated with relevant financial events. Typical consumers include application developers integrating notification systems or financial institutions managing customer engagements. By leveraging this API, businesses can enhance their event-driven architectures effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions": {
      "get": {
        "tags": [
          "Event Management"
        ],
        "summary": "Retrieve a list of event subscriptions.",
        "description": "This endpoint allows you to retrieve all existing event subscriptions. You can use it to view the details of each subscription, including their configuration and status.",
        "operationId": "getEventSubscriptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving event subscriptions. This typically includes filters or parameters necessary to specify the desired subscriptions or other relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEventSubscriptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully fetched the list of event subscriptions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEventSubscriptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEventSubscriptionsRequest": {
        "type": "string",
        "description": "This schema represents the request body that is expected for the GET operation on event subscriptions. It is a string type.",
        "example": "{}"
      },
      "GetEventSubscriptionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "EventSubscription": {
                "type": "array",
                "description": "List of event subscriptions.",
                "items": {
                  "$ref": "#/components/schemas/EventSubscription"
                }
              }
            },
            "description": "Contains event subscription data.",
            "example": {
              "EventSubscription": [
                {
                  "id": "STANDARD",
                  "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                  "Version": "STANDARD",
                  "EventTypes": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource.",
                "example": "https://api.example.com/event-subscriptions/page/1"
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of results.",
                "example": "https://api.example.com/event-subscriptions/page/1"
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of results.",
                "example": "https://api.example.com/event-subscriptions/page/0"
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of results.",
                "example": "https://api.example.com/event-subscriptions/page/2"
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of results.",
                "example": "https://api.example.com/event-subscriptions/page/5"
              }
            },
            "description": "Pagination links for the response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages available.",
                "format": "int32",
                "example": 5
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the first subscription became available.",
                "example": "2023-01-01T00:00:00Z"
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the last subscription became available.",
                "example": "2023-12-31T23:59:59Z"
              }
            },
            "description": "Metadata about the response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for tracking the request across systems.",
                "example": "def456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-01-01T00:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "us-east-1"
              }
            },
            "description": "Additional information related to the response.",
            "example": {
              "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
              "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for successful event subscription retrieval operation.",
        "example": {
          "Data": {
            "EventSubscription": [
              {
                "id": "STANDARD",
                "CallbackUrl": "https://banking.northstar.example/callbacks/status",
                "Version": "STANDARD",
                "EventTypes": [
                  "STANDARD"
                ]
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "b854d0f2-cb27-5e4c-84c8-3a8ec51bd174",
            "correlationId": "a794f144-f9c6-5ec7-8ae3-feed382c089d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EventSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the event subscription.",
            "example": "sub_12345"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "URL that will receive event notifications.",
            "example": "https://example.com/callback"
          },
          "Version": {
            "type": "string",
            "description": "Version of the event subscription model.",
            "example": "1.0"
          },
          "EventTypes": {
            "type": "array",
            "description": "List of event types that this subscription is interested in.",
            "items": {
              "type": "string",
              "example": "user.created"
            }
          }
        },
        "description": "Schema representing an individual event subscription."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-get-event-subscriptions"
        },
        "example": "events-api-get-event-subscriptions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer Token. The token is typically a JSON Web Token (JWT) which is used to verify the identity of the bearer and to authorize access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}