{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_P2M Payments Retrieval API",
    "description": "The P2M Payments Retrieval API allows businesses to efficiently access and view payment data between users. This endpoint helps to aggregate payment information for transactions conducted through a P2M (Person-to-Merchant) framework. Developers can utilize this API to facilitate reporting, reconciliation, and user inquiries regarding payment statuses. Typical consumers include merchants tracking their sales, financial analysts assessing payment trends, and customer service teams responding to user queries about transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a list of payments.",
        "description": "This endpoint allows you to retrieve all payments made. You can use various query parameters to filter the results based on date, amount, and payment method.",
        "operationId": "getPayments",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving payment information. This body must adhere to the specified schema and may include parameters relevant to the query, such as filters or pagination details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning payment data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the payments operations.",
        "example": "{}"
      },
      "GetPaymentsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the result set.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages based on the items and page size.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "An array of links related to the current response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "An array of payment items.",
            "example": [
              {
                "paymentId": "PAY-373314",
                "paymentIntentId": "STANDARD",
                "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
                "merchantId": "MER-382914",
                "outletId": "STANDARD",
                "terminalId": "STANDARD",
                "merchantOrderId": "ORD-425816",
                "channel": "STANDARD",
                "paymentMethod": {
                  "type": "STANDARD",
                  "token": "STANDARD",
                  "issuerBankCode": "CODE-170",
                  "maskedIdentifier": "STANDARD",
                  "walletProvider": "STANDARD"
                },
                "customer": {
                  "id": "STANDARD",
                  "name": "Northstar Banking Service",
                  "email": "olivia.bennett@northstar.example",
                  "phone": "+1-212-555-0147",
                  "riskSegment": "STANDARD"
                },
                "amounts": {
                  "requested": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "authorized": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "captured": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunded": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversed": {
                    "currency": "USD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching payment operations.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "paymentId": "PAY-373314",
              "paymentIntentId": "STANDARD",
              "qrPaymentRequestId": "65e09737-38fe-5b28-b979-d54541b6f896",
              "merchantId": "MER-382914",
              "outletId": "STANDARD",
              "terminalId": "STANDARD",
              "merchantOrderId": "ORD-425816",
              "channel": "STANDARD",
              "paymentMethod": {
                "type": "STANDARD",
                "token": "STANDARD",
                "issuerBankCode": "CODE-170",
                "maskedIdentifier": "STANDARD",
                "walletProvider": "STANDARD"
              },
              "customer": {
                "id": "STANDARD",
                "name": "Northstar Banking Service",
                "email": "olivia.bennett@northstar.example",
                "phone": "+1-212-555-0147",
                "riskSegment": "STANDARD"
              },
              "amounts": {
                "requested": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "authorized": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "captured": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunded": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversed": {
                  "currency": "USD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "bb1fa281-6d95-50c7-b7ec-f301c822a571",
            "correlationId": "db5ace05-e956-52d7-aa91-b619cfb3867d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL to navigate to.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to use when accessing the link.",
            "example": "string"
          }
        },
        "description": "Represents a navigational link for the response."
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "string"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "string"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "string"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Order identifier from the merchant.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The payment channel used.",
            "example": "string"
          },
          "paymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "$ref": "#/components/schemas/Amounts"
          }
        },
        "description": "Represents a single payment item."
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method.",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token associated with the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Wallet provider for the payment, if applicable.",
            "example": "string"
          }
        },
        "description": "Details about the payment method used."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Details about the customer making the payment."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "authorized": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "captured": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "refunded": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "reversed": {
            "$ref": "#/components/schemas/ReverseDetail"
          }
        },
        "description": "Different amounts associated with the payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "string"
          }
        },
        "description": "Details about an amount in a specific currency."
      },
      "ReverseDetail": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the reversed amount.",
            "example": "string"
          }
        },
        "description": "Details about reversed amounts."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking purpose.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-payments"
        },
        "example": "banking-p2m-openapi-list-payments"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method, which requires a bearer token, typically in the format of a JSON Web Token (JWT). The token must be included in the Authorization header of requests to gain access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}