{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Management API",
    "description": "The Contact Center Management API enables businesses to efficiently manage interactions with their customers across various banking channels. This API facilitates the creation, configuration, and management of contact center resources, ensuring seamless communication and service delivery. Typical consumers of this API include customer service teams and CRM applications that aim to enhance user experiences and operational efficiency. With this API, organizations can streamline their contact center operations, providing responsive support tailored to customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-management": {
      "post": {
        "tags": [
          "Contact Center Management"
        ],
        "summary": "Create a new contact center management entry.",
        "description": "This endpoint allows the creation of a new contact center management entry specific to a channel. Ensure all required information is provided to successfully create the entry.",
        "operationId": "createContactCenterManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or managing operations within a specific channel of the contact center. This body allows for the configuration and handling of user communications and interactions within that channel.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactCenterManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateContactCenterManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateContactCenterManagementRequest": {
        "title": "Contact Center Management Operation Request Body",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region for the service.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Operating hours for the service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Maximum number of requests that can be handled in a day.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the queue associated with the channel.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "Identifier for the skill group that the agents belong to.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "Target response time in seconds.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for managing contact center operations through a specified channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "requestContext": {
            "requestId": "590a4e9e-f4fe-5362-8bf0-088de192de32",
            "correlationId": "3d586eb5-a1d3-5b97-b07d-323e4f6c949b",
            "idempotencyKey": "19f5db2b-9ce9-5b29-8a4a-690c60ad0f13",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-538484"
            }
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the opening and closing hours of a service."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests are treated as the same request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that is making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing detailed context about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., phone, email, chat).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of a communication channel."
      },
      "CreateContactCenterManagementResponse_201": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region where the operation is performed.",
            "example": "US-EAST-1"
          },
          "queueId": {
            "type": "string",
            "description": "The unique identifier for the queue associated with the operation.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the operation.",
            "example": "RES-350091"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata regarding the operation, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to the contact center management on a specific channel. This includes various identifiers and metadata regarding the request processed.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "queueId": "STANDARD",
          "resourceId": "RES-350091",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "df1ffcdc-b87e-5922-a093-b156e1b46447",
            "correlationId": "3d586eb5-a1d3-5b97-b07d-323e4f6c949b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response generated by the operation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the operation, providing additional identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used to track and log API requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-management-create-contact-center-management"
        },
        "example": "contact-center-management-create-contact-center-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application context in which the request is being processed, useful for monitoring and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing users to securely authenticate using a JSON Web Token (JWT) for access control.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}