{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Access Management API",
    "description": "The Employee Access Management API enables organizations to monitor and control employee access to banking and human resource management systems. This API provides secure access to employee records and permissions, allowing HR and administrative personnel to efficiently manage user access levels. It is essential for maintaining compliance and ensuring that employees have the appropriate permissions based on their roles. Typical users include HR managers and system administrators who require a reliable interface for managing employee access rights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-access": {
      "get": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Retrieve employee access information",
        "description": "This endpoint allows you to fetch detailed access information for employees within the human resource management system. It ensures that you can monitor and manage access privileges effectively.",
        "operationId": "getEmployeeAccess",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows clients to request access to employee data within the human resource management system. The request must include the necessary credentials and any specific filters or parameters required to retrieve the appropriate employee information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeAccessRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning employee access details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeAccessResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeAccessRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Employee Access GET operation in the Human Resource Management system.",
        "example": "{}"
      },
      "GetEmployeeAccessResponse_200": {
        "title": "Employee Access Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of employee records.",
            "example": [
              {
                "employeeId": "EMP-957439",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order for the employee records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for employee access operations, including a list of employee records, pagination information, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-957439",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "89f20275-ecfa-5583-a566-d9d89cf1d572",
            "correlationId": "754b5e01-4b22-5a60-88ab-b43a0ed9bc55",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeRecord": {
        "title": "Employee Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the employee's assignment.",
            "example": "A1"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department where the employee works.",
            "example": "D1"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the employee record becomes effective.",
            "example": "2023-10-01"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is based.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., Full-Time, Part-Time).",
            "example": "Full-Time"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the employee's manager.",
            "example": "M1"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee works.",
            "example": "Office"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the employee record (e.g., Active, Inactive).",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the employee record was last updated.",
            "example": "2023-10-02T10:00:00Z"
          }
        },
        "description": "Schema representing an individual employee's information."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema providing pagination details for the items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-access-search-employee-access"
        },
        "example": "employee-access-search-employee-access"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header for accessing secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}