{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Commission Agreement Lookup API",
    "description": "The Commission Agreement Lookup API enables users to retrieve details of commission agreements associated with sales transactions in the banking system. This endpoint allows businesses to access important terms, conditions, and specifics regarding commissions, enhancing transparency and facilitating effective management of sales agreements. Typical consumers include finance teams, sales managers, and integration developers seeking to automate commission-related workflows. By leveraging this API, organizations can ensure they are informed about the commissions applicable to their sales activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/commission-agreement": {
      "get": {
        "tags": [
          "Sales Operations"
        ],
        "summary": "Retrieve the commission agreement details for sales.",
        "description": "This endpoint allows users to fetch the specific details of the commission agreements related to sales transactions. It provides essential information that can be used for analysis and decision-making in sales strategies.",
        "operationId": "getSalesCommissionAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves the commission agreement details associated with sales operations. Ensure that the request includes all necessary parameters for accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesCommissionAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the commission agreement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesCommissionAgreementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesCommissionAgreementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on commission agreements in the sales context. It is expected to be a string that may contain necessary parameters or identifiers.",
        "example": "{}"
      },
      "GetSalesCommissionAgreementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of commission agreement items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "salesPersonId": "STANDARD",
                "commissionPlanId": "STANDARD",
                "eligibleRevenue": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CommissionAgreementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "A string indicating the order in which the items are sorted.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for the commission agreement operation.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "salesPersonId": "STANDARD",
              "commissionPlanId": "STANDARD",
              "eligibleRevenue": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6beb54e1-003c-5240-8fa8-234d52e56f2f",
            "correlationId": "45f91e44-78ab-5ac7-b619-3f5de4402010",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CommissionAgreementItem": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect."
          },
          "productCode": {
            "type": "string",
            "description": "The code associated with the product."
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the product was sold."
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager."
          },
          "expectedValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The amount of expected value.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency in which the amount is represented."
              }
            },
            "description": "The expected value of the commission agreement."
          },
          "salesPersonId": {
            "type": "string",
            "description": "The identifier for the salesperson associated with the agreement."
          },
          "commissionPlanId": {
            "type": "string",
            "description": "The identifier for the commission plan."
          },
          "eligibleRevenue": {
            "type": "number",
            "description": "The amount of revenue eligible for commission.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated."
          }
        },
        "description": "Schema representing a single commission agreement item.",
        "example": {
          "prospectId": "string",
          "productCode": "string",
          "salesChannel": "string",
          "relationshipManagerId": "string",
          "expectedValue": {
            "amount": 0.0,
            "currency": "string"
          },
          "salesPersonId": "string",
          "commissionPlanId": "string",
          "eligibleRevenue": 0.0,
          "recordStatus": "string",
          "updatedAt": "string"
        }
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response.",
        "example": {
          "page": 0,
          "pageSize": 0,
          "totalItems": 0
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests or responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema containing metadata about the response.",
        "example": {
          "responseId": "string",
          "correlationId": "string",
          "generatedAt": "string",
          "processingRegion": "string"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed in the current API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "commission-agreement-search-commission-agreement"
        },
        "example": "commission-agreement-search-commission-agreement"
      },
      "X-Runtime-App": {
        "description": "Name of the application where the API request was initiated.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication via a bearer token in the HTTP Authorization header, using JSON Web Tokens (JWT) for secure transmission of information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}