{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Evaluation Reviews API",
    "description": "The Fraud Evaluation Reviews API enables businesses to submit reviews related to fraud assessments associated with specific banking accounts. This endpoint allows authorized users to provide insights and evaluations based on the fraud detection processes. Typical consumers include risk management teams and fraud analysts tasked with enhancing account security. By utilizing this API, organizations can streamline their fraud evaluation procedures, ensuring timely responses and improved management of potentially fraudulent activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation/{param1}/reviews": {
      "post": {
        "tags": [
          "Fraud Evaluation"
        ],
        "summary": "Submit a review for fraud evaluation.",
        "description": "This endpoint allows users to submit a review for a specific fraud evaluation case identified by ID RES-100045. The review will include necessary details for consideration in the evaluation process.",
        "operationId": "createReviewForFraudEvaluationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for fraud evaluations associated with a specific account, identified by the RES-100045 identifier. The submitted data will help in assessing the validity of the fraud case.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForFraudEvaluationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "422": {
            "description": "Request cannot be processed due to validation errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForFraudEvaluationRes100045Response_422"
                }
              }
            }
          },
          "202": {
            "description": "Request successfully accepted for processing.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForFraudEvaluationRes100045Response_202"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForFraudEvaluationRes100045Response_500"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForFraudEvaluationRes100045Response_422": {
        "title": "Fraud Evaluation Error Response",
        "type": "object",
        "properties": {
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request across systems.",
            "example": "290955a4-fe84-4e51-8eaa-43c495a3a35e"
          },
          "code": {
            "type": "string",
            "description": "A code representing the specific error that occurred.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "workflow": {
            "type": "string",
            "description": "Indicates the workflow state during the evaluation process.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          }
        },
        "description": "Response schema for a failed fraud evaluation request, containing error details.",
        "example": {
          "correlationId": "290955a4-fe84-4e51-8eaa-43c495a3a35e",
          "code": "RISK_REVIEW_REJECTED",
          "workflow": "WF-042",
          "message": "Enhanced fraud/compliance review rejected the request"
        }
      },
      "CreateReviewForFraudEvaluationRes100045Response_202": {
        "title": "Fraud Evaluation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken during the fraud evaluation.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed as part of the fraud evaluation process.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the fraud evaluation action, indicating success, failure, etc.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/FraudEvaluationMetadata"
          }
        },
        "description": "Response schema for fraud evaluation operations indicating the action taken and its status.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f326aea1-1f53-5b98-b5a5-d8513896f236",
            "correlationId": "b9e892c8-cdf6-5877-9261-6e80a6b36353",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudEvaluationMetadata": {
        "title": "Fraud Evaluation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response of the fraud evaluation.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this response with other operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the fraud evaluation processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata relevant to the fraud evaluation process, containing identifiers and timestamps."
      },
      "CreateReviewForFraudEvaluationRes100045Request": {
        "title": "Fraud Evaluation Review Request",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review of the fraud evaluation.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "An array of strings representing the scope of the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific aspect to be included in the review.",
              "example": "Transaction limits"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date and time for completing the review, in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request for the fraud evaluation review.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for reviewing a fraud evaluation in the account management system.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "a0686e6f-7ef9-5d09-aa45-cb6df841b4a6",
            "correlationId": "b9e892c8-cdf6-5877-9261-6e80a6b36353",
            "idempotencyKey": "a2d200a0-51d2-52a6-91e5-1b45ad83bf52",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-961233"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that repeated requests have the same effect.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made, in ISO 8601 format.",
            "example": "2023-10-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "fraud-detection-service"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "account-management-app"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel information from which the request was made."
      },
      "CreateReviewForFraudEvaluationRes100045Response_500": {
        "title": "Fraud Evaluation Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representation of the error code indicating the type of error.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer representing the hop count at which the evaluation failed.",
            "format": "int32",
            "example": 3
          },
          "workflow": {
            "type": "string",
            "description": "A string describing the workflow that was being processed during the fraud evaluation.",
            "example": "WF-042"
          },
          "message": {
            "type": "string",
            "description": "A string containing a detailed message about the error encountered.",
            "example": "A required core banking dependency is unavailable"
          }
        },
        "description": "Response schema for error cases when evaluating fraud in account management operations.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "failedAfterHop": 3,
          "workflow": "WF-042",
          "message": "A required core banking dependency is unavailable"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "491c3fe7-7faf-417e-aa5a-1b72e757f9f5"
        },
        "example": "491c3fe7-7faf-417e-aa5a-1b72e757f9f5"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "SYSTEM_FAILURE"
        },
        "example": "SYSTEM_FAILURE"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "df0dee16-04f4-4147-8866-270f6a874324"
        },
        "example": "df0dee16-04f4-4147-8866-270f6a874324"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_422",
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500"
          ]
        }
      }
    },
    "headers": {
      "X-Workflow-Id": {
        "description": "A unique identifier for tracking the workflow associated with the request, which helps in identifying the processing context during error resolution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-042"
        },
        "example": "WF-042"
      },
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-review-fraud-evaluation"
        },
        "example": "fraud-evaluation-review-fraud-evaluation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method where a JSON Web Token (JWT) is passed in the Authorization header for user authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}