{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Clearing API",
    "description": "The Trade Clearing API facilitates the processing and settlement of trades within the financial market. It enables users to submit trade clearing requests, ensuring timely and accurate reconciliation of transactions. This API is designed for financial institutions, trading platforms, and market participants looking to automate their trade clearing operations. By leveraging this API, businesses can enhance operational efficiency and reduce settlement risks associated with trade activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-clearing": {
      "post": {
        "tags": [
          "Market Operations"
        ],
        "summary": "Clears a trade within the market operations.",
        "description": "This operation initiates the clearing process for a trade, ensuring that all necessary validations and settlements are completed efficiently and effectively. It handles the clearing logic for the trade input and updates the relevant market states.",
        "operationId": "postTradeClearing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a trade clearing operation within the market operations API. It contains all necessary information to process the trade and ensure compliance with the market rules.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTradeClearingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTradeClearingResponse_202"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred while processing the request.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTradeClearingResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but unable to be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTradeClearingResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostTradeClearingResponse_202": {
        "title": "Trade Clearing Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house responsible for the trade.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing of the trade.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the trade processing.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp when the trade was accepted for processing.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the trade processing.",
            "$ref": "#/components/schemas/TradeMetadata"
          }
        },
        "description": "Response schema for the POST operation on trade clearing. Contains details regarding the trade and its processing.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "f17b1c13-3580-563a-b147-c57548336d15",
            "correlationId": "92651e88-01ee-5081-a29d-46fbae4bb8b2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradeMetadata": {
        "title": "Trade Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response associated with the trade processing.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related processing requests.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-05T14:49:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing is taking place.",
            "example": "us-west"
          }
        },
        "description": "Contains additional metadata for the trade processing."
      },
      "PostTradeClearingResponse_500": {
        "title": "Trade Clearing Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The error code associated with the trade clearing failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message outlining the error encountered during trade clearing.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The name of the workflow that encountered the failure.",
            "example": "WF-053"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "Indicates the step after which the failure occurred in the workflow.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema represents an error response for failed trade clearing operations. It provides details about the error code, message, affected workflow, and the failed hop point in the process.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-053",
          "failedAfterHop": 3
        }
      },
      "PostTradeClearingRequest": {
        "title": "Trade Clearing Request Payload",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the trade is to be settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of instruments involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "clearingHouseId": {
            "type": "string",
            "description": "Identifier for the clearing house responsible for clearing the trade.",
            "example": "STANDARD"
          },
          "settlementMethod": {
            "type": "string",
            "description": "Method of settlement for the trade.",
            "example": "STANDARD"
          },
          "matchingStatus": {
            "type": "string",
            "description": "Current matching status of the trade.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for trade clearing operations.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "clearingHouseId": "STANDARD",
          "settlementMethod": "STANDARD",
          "matchingStatus": "ACTIVE",
          "requestContext": {
            "requestId": "25970e51-d8d1-5021-9bd9-f26a9c7247c4",
            "correlationId": "92651e88-01ee-5081-a29d-46fbae4bb8b2",
            "idempotencyKey": "138cde22-fe16-506d-8c8e-6b07a44d8af2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843911"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing requests through the system.",
            "example": "correlation_12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that repeated requests do not have unintended effects.",
            "example": "idempotent_key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "trading_system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "trade_app_ABC"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request made to the trade clearing system."
      },
      "Channel": {
        "title": "Communication Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel_56789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_001"
          }
        },
        "description": "Information regarding the channel used for making the request."
      },
      "PostTradeClearingResponse_422": {
        "title": "Trade Clearing Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representation of the error code.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request across systems.",
            "example": "415fdcb7-4fc6-456b-83eb-4fcc7326d327"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message describing the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "Identifies the workflow or process that generated the error.",
            "example": "WF-053"
          }
        },
        "description": "Schema representing the error response for operations related to trade clearing.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "415fdcb7-4fc6-456b-83eb-4fcc7326d327",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-053"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-053"
        },
        "example": "WF-053"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "4a86aede-41af-4971-be40-7def085fb166"
        },
        "example": "4a86aede-41af-4971-be40-7def085fb166"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a2859867-3c2e-4832-969a-79491d40c8f9"
        },
        "example": "a2859867-3c2e-4832-969a-79491d40c8f9"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-clearing-process-trade-clearing"
        },
        "example": "trade-clearing-process-trade-clearing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-053"
        },
        "example": "WF-053"
      },
      "X-Workflow-Name": {
        "description": "Identifies the name of the workflow that is executing this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Securities Trade Capture Clearing and Settlement"
        },
        "example": "Securities Trade Capture Clearing and Settlement"
      },
      "X-Workflow-State": {
        "description": "Indicates the current state of the workflow, such as COMPLETED, IN_PROGRESS, or FAILED.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution of the workflow, which can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2bcbc47c-a8a3-4513-b6aa-fc21c489872e"
        },
        "example": "2bcbc47c-a8a3-4513-b6aa-fc21c489872e"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a token (JSON Web Token) is included in the HTTP Authorization header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}