{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dispute Evidence Submission API",
    "description": "The Dispute Evidence Submission API enables users to submit evidence associated with specific disputes. This endpoint allows businesses to effectively manage dispute resolutions by providing necessary documentation or information to support their cases. Typical consumers of this API include customer support teams and dispute resolution specialists who need to upload relevant evidence quickly and efficiently. By streamlining the evidence collection process, organizations can enhance their dispute handling workflows and improve customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/disputes/{disputeId}/evidence": {
      "post": {
        "tags": [
          "Dispute Management"
        ],
        "summary": "Submit evidence for a specific dispute.",
        "description": "This endpoint allows users to upload evidence related to a specific dispute identified by its unique resolution number. Ensure that the evidence provided is relevant and formatted correctly to facilitate proper review.",
        "operationId": "submitEvidenceForDispute",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit evidence for the specified dispute identified by RES-100045. The evidence should be provided in JSON format and must adhere to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitEvidenceForDisputeRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence submitted successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitEvidenceForDisputeResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitEvidenceForDisputeRequest": {
        "type": "object",
        "properties": {
          "merchantStatement": {
            "type": "string",
            "description": "A statement from the merchant related to the dispute.",
            "example": "STANDARD"
          },
          "evidence": {
            "type": "array",
            "description": "A list of evidence items associated with the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for submitting evidence related to disputes.",
        "example": {
          "merchantStatement": "STANDARD",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "requestContext": {
            "requestId": "99d52f7b-00dc-52c0-829f-a1e019c8f451",
            "correlationId": "025f2eab-997f-567b-9a52-ae3d4743a626",
            "idempotencyKey": "25883f6e-686f-56bc-8dbd-6b668f869384",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-443310"
            }
          }
        }
      },
      "EvidenceItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the evidence item.",
            "example": "string"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file associated with the evidence.",
            "example": "string"
          },
          "contentType": {
            "type": "string",
            "description": "The content type of the evidence file.",
            "example": "string"
          },
          "fileSizeBytes": {
            "type": "integer",
            "description": "The size of the evidence file in bytes.",
            "format": "int32",
            "example": 0
          },
          "fileUrl": {
            "type": "string",
            "description": "The URL to access the evidence file.",
            "example": "string"
          },
          "sha256": {
            "type": "string",
            "description": "The SHA-256 hash of the evidence file.",
            "example": "string"
          },
          "uploadedAt": {
            "type": "string",
            "description": "The timestamp when the evidence was uploaded.",
            "example": "string"
          }
        },
        "description": "An item of evidence related to a dispute."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to trace the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application originating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "SubmitEvidenceForDisputeResponse_200": {
        "type": "object",
        "properties": {
          "disputeId": {
            "type": "string",
            "description": "The unique identifier for the dispute.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment associated with the dispute.",
            "example": "PAY-283681"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant involved in the dispute.",
            "example": "MER-989066"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the dispute.",
            "example": "STANDARD"
          },
          "disputedAmount": {
            "description": "The amount disputed in the transaction.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "customerStatement": {
            "type": "string",
            "description": "Customer statement regarding the dispute.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the dispute.",
            "example": "ACTIVE"
          },
          "responseDueAt": {
            "type": "string",
            "description": "The date by which a response is due for this dispute.",
            "example": "2026-08-11T12:00:00Z"
          },
          "evidence": {
            "type": "array",
            "description": "List of evidence associated with the dispute.",
            "example": [
              {
                "id": "STANDARD",
                "fileName": "Northstar Banking Service",
                "contentType": "STANDARD",
                "fileSizeBytes": 1,
                "fileUrl": "https://example.com/resource",
                "sha256": "STANDARD",
                "uploadedAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EvidenceItem"
            }
          },
          "financialImpact": {
            "description": "The financial impact related to the dispute.",
            "$ref": "#/components/schemas/FinancialImpact"
          },
          "resolution": {
            "description": "Details about the resolution of the dispute.",
            "$ref": "#/components/schemas/Resolution"
          },
          "audit": {
            "description": "Information regarding the audit trail of the dispute.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata regarding the dispute response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a dispute evidence operation, containing detailed information about a dispute.",
        "example": {
          "disputeId": "STANDARD",
          "paymentId": "PAY-283681",
          "merchantId": "MER-989066",
          "reason": "STANDARD",
          "disputedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "customerStatement": "STANDARD",
          "status": "ACTIVE",
          "responseDueAt": "2026-08-11T12:00:00Z",
          "evidence": [
            {
              "id": "STANDARD",
              "fileName": "Northstar Banking Service",
              "contentType": "STANDARD",
              "fileSizeBytes": 1,
              "fileUrl": "https://example.com/resource",
              "sha256": "STANDARD",
              "uploadedAt": "2026-08-11T12:00:00Z"
            }
          ],
          "financialImpact": {
            "amountDebitedFromMerchant": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "resolution": {
            "outcome": "STANDARD",
            "resolvedAmount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reason": "STANDARD",
            "resolvedAt": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "05f6eb7f-d24d-5e12-8430-19c080585e68",
            "correlationId": "025f2eab-997f-567b-9a52-ae3d4743a626",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DisputedAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the disputed amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the disputed amount.",
            "example": "string"
          }
        },
        "description": "The amount disputed in a transaction, containing currency and value."
      },
      "FinancialImpact": {
        "type": "object",
        "properties": {
          "amountDebitedFromMerchant": {
            "description": "The amount debited from the merchant as part of the financial impact.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the dispute.",
            "items": {
              "$ref": "#/components/schemas/FeeItem"
            }
          },
          "reserveHeld": {
            "description": "The amount held in reserve related to the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          }
        },
        "description": "The financial impact related to a dispute."
      },
      "FeeItem": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "The type of the fee.",
            "example": "string"
          },
          "amount": {
            "description": "The amount of the fee.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "bearer": {
            "type": "string",
            "description": "The entity bearing the cost of the fee.",
            "example": "string"
          }
        },
        "description": "An item representing a fee related to a dispute."
      },
      "Resolution": {
        "type": "object",
        "properties": {
          "outcome": {
            "type": "string",
            "description": "The outcome of the resolution process.",
            "example": "string"
          },
          "resolvedAmount": {
            "description": "The amount resolved in favor of the dispute.",
            "$ref": "#/components/schemas/DisputedAmount"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the resolution outcome.",
            "example": "string"
          },
          "resolvedAt": {
            "type": "string",
            "description": "The timestamp when the dispute was resolved.",
            "example": "string"
          }
        },
        "description": "Details about the resolution of a dispute."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the dispute was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the dispute.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the dispute was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the dispute.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the dispute.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information regarding the audit trail of a dispute."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata regarding the dispute response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-submit-dispute-evidence"
        },
        "example": "banking-p2m-openapi-submit-dispute-evidence"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, helps in identifying the service within microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, where the client must provide a JSON Web Token (JWT) as a part of the authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}