{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Data Switch Operation API",
    "description": "The Market Data Switch Operation API facilitates efficient management and retrieval of market data operations. This API enables users to query the market data switch configurations and their current statuses, ensuring timely access to crucial financial data. Typical consumers include trading platforms, financial analysts, and risk management systems that rely on up-to-date market information. By integrating this API, users can streamline their operations and enhance decision-making processes in dynamic market environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve market data switch operation information.",
        "description": "This endpoint allows developers to fetch details about the market data switch operation, providing critical insights and operational data necessary for effective market management and analysis.",
        "operationId": "getMarketDataSwitchOperation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for the market data switch operation. It is used to perform a specific operation related to market data retrieval and processing. Please ensure to include all required fields as per the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataSwitchOperationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested market data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataSwitchOperationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataSwitchOperationRequest": {
        "type": "string",
        "description": "The payload for the market data switch operation request.",
        "example": "{}"
      },
      "GetMarketDataSwitchOperationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-815",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "feedId": "STANDARD",
                "protocol": "STANDARD",
                "messagesPerSecond": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the market data switch operation GET request.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-815",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "feedId": "STANDARD",
              "protocol": "STANDARD",
              "messagesPerSecond": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "4d7a0663-0fc7-530d-9615-f1ad746d2e9e",
            "correlationId": "7663aed8-79e2-58a0-8637-1b4f649118a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument.",
            "example": "12345"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number.",
            "example": "US0378331005"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market where the instrument is traded.",
            "example": "XNAS"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp indicating when the market data is relevant.",
            "example": "2023-10-12T00:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data is obtained.",
            "example": "MarketDataFeed"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed.",
            "example": "Feed123"
          },
          "protocol": {
            "type": "string",
            "description": "Communication protocol used for data transfer.",
            "example": "FIX"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "Number of messages received per second.",
            "format": "int32",
            "example": 10
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the market data record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the market data item.",
            "example": "2023-10-12T00:00:00Z"
          }
        },
        "description": "Detailed information about a specific market data item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information for paging through results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "Response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "Corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-12T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-search-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-search-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token which should be provided in the `Authorization` header of requests. The token is a JSON Web Token (JWT) that represents the user's authentication and authorization information.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}