{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Evaluation API",
    "description": "The Fraud Evaluation API allows businesses to assess and evaluate potential fraud risks associated with banking accounts. This API provides capabilities to retrieve detailed fraud risk evaluations, which can be essential for financial institutions conducting due diligence or customer verification processes. Typical consumers include fraud analysts, risk management teams, and financial service providers seeking to protect their assets and comply with regulatory standards. With this API, organizations can enhance their fraud detection frameworks and improve overall security measures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-evaluation": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve fraud evaluation details for a specific account.",
        "description": "This endpoint allows you to fetch the fraud evaluation results associated with a particular account, providing insights into any potential fraudulent activity detected.",
        "operationId": "getFraudEvaluationForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for submitting data related to fraud evaluation in the account management context. The data provided will be used to assess potential fraudulent activities associated with the account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudEvaluationForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The fraud evaluation request was successful and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudEvaluationForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudEvaluationForAccountRequest": {
        "type": "string",
        "description": "This schema represents the request body for the fraud evaluation operation in account management.",
        "example": "{}"
      },
      "GetFraudEvaluationForAccountResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of fraud evaluation items.",
            "example": [
              {
                "accountId": "ACC-411368",
                "customerId": "CUST-315033",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-781352",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudEvaluationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the fraud evaluation operation, containing a list of items along with pagination, sort, and metadata.",
        "example": {
          "items": [
            {
              "accountId": "ACC-411368",
              "customerId": "CUST-315033",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-781352",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bf8c5b4e-ab3a-5c97-a796-93d77230305f",
            "correlationId": "141dbd98-933b-56c3-b26a-c677da6d8479",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudEvaluationItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the item.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the item.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the ledger balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the ledger as of the ledger date.",
            "example": 0.0
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction.",
            "example": "string"
          },
          "riskScore": {
            "type": "number",
            "description": "The risk score associated with the fraud evaluation.",
            "example": 0.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold value for making a decision based on the risk score.",
            "example": 0.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level assigned to the device used for the transaction.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating if it is active or inactive.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a single fraud evaluation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracing the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-evaluation-search-fraud-evaluation"
        },
        "example": "fraud-evaluation-search-fraud-evaluation"
      },
      "X-Runtime-App": {
        "description": "Indicates the specific application runtime environment handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme defines Bearer authentication using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}