{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Certification Retrieval API",
    "description": "This API provides access to employee certification data within the human resource management domain. It enables users to efficiently retrieve certification information for employees, which is essential for compliance and performance assessment. Typical consumers include HR personnel and compliance officers who utilize this data for various reporting and decision-making purposes. The API supports operations that facilitate the management of employee qualifications and certifications, ensuring businesses can maintain an accurate record of their workforce\u2019s competencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-certification": {
      "get": {
        "tags": [
          "Human Resources"
        ],
        "summary": "Retrieve Employee Certification Information",
        "description": "This endpoint allows the retrieval of certification details for employees within the human resource management system. You can access specific certifications associated with employees to ensure compliance and track qualifications.",
        "operationId": "getEmployeeCertification",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The body of the request should contain the necessary parameters for fetching employee certification details. Ensure the JSON format adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEmployeeCertificationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved employee certification data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEmployeeCertificationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEmployeeCertificationRequest": {
        "type": "string",
        "description": "The JSON string representation of the request body for retrieving employee certification information.",
        "example": "{}"
      },
      "GetEmployeeCertificationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee certification details.",
            "example": [
              {
                "employeeId": "EMP-129901",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "employmentType": "STANDARD",
                "managerId": "STANDARD",
                "workLocation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeCertification"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the employee certification operations GET request.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-129901",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "employmentType": "STANDARD",
              "managerId": "STANDARD",
              "workLocation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f28c3740-169e-5a46-9c63-5d223897606d",
            "correlationId": "d6a40ce7-13fd-5b1c-9c20-4f518ebf6f29",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeCertification": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee."
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment related to the employee."
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department where the employee works."
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the certification became effective."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code of the country related to the employee."
          },
          "employmentType": {
            "type": "string",
            "description": "Type of employment for the employee (e.g., full-time, part-time)."
          },
          "managerId": {
            "type": "string",
            "description": "Identifier for the manager of the employee."
          },
          "workLocation": {
            "type": "string",
            "description": "Location where the employee performs their work."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the certification record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the certification record."
          }
        },
        "description": "Schema representing an employee's certification details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information in the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request and response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred."
          }
        },
        "description": "Schema containing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-certification-search-employee-certification"
        },
        "example": "employee-certification-search-employee-certification"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate using a JSON Web Token (JWT) in the Authorization header. The JWT should be included in requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}