{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bank Portfolio Analysis API",
    "description": "The Bank Portfolio Analysis API provides financial institutions with the ability to access detailed insights and diagnostics on their banking portfolios. By utilizing the API, users can retrieve essential analytical data related to treasury operations and asset management. This service is primarily aimed at financial analysts and portfolio managers who require comprehensive analytics for strategic decision-making. Typical use cases include performance evaluation, risk assessment, and compliance monitoring, allowing users to optimize their portfolio strategies effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/bank-portfolio-analysis/{param1}": {
      "get": {
        "tags": [
          "Bank Portfolio Management"
        ],
        "summary": "Retrieve bank portfolio analysis for a specific record.",
        "description": "This endpoint allows users to obtain a detailed analysis of the bank portfolio associated with a specific record ID. The response includes comprehensive insights and metrics related to the portfolio's performance and trends.",
        "operationId": "getTreasuryBankPortfolioAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the bank portfolio analysis for the specified resource. This request body adheres to the defined schema and must contain the required fields to ensure successful analysis retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTreasuryBankPortfolioAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the bank portfolio analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTreasuryBankPortfolioAnalysisRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTreasuryBankPortfolioAnalysisRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the Bank Portfolio Analysis API.",
        "example": "{}"
      },
      "GetTreasuryBankPortfolioAnalysisRes100045Response_200": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-956100"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-495175"
          },
          "notionalAmount": {
            "description": "The notional amount associated with the transaction.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the instrument matures.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for bank portfolio analysis operations.",
        "example": {
          "portfolioId": "PORT-956100",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-495175",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1c8e2b94-3e38-5c0f-80c3-8a9450a652a6",
            "correlationId": "dbc30c5c-1af1-5bae-be91-d8573ebcd5cf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the notional amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the notional amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema for the metadata object containing additional response information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bank-portfolio-analysis-get-bank-portfolio-analysis"
        },
        "example": "bank-portfolio-analysis-get-bank-portfolio-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the JWT (JSON Web Token) format for bearer authentication. Clients must include the JWT in the 'Authorization' header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}