{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis API",
    "description": "The Fraud Diagnosis API provides critical insights into potential fraudulent activities associated with banking accounts. It enables financial institutions to assess risks by analyzing transaction patterns and user behaviors. This API is typically utilized by fraud detection teams and compliance officers to enhance security measures and make informed decisions. By leveraging its analytics capabilities, organizations can proactively mitigate risks and protect their customers from fraud.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve fraud diagnosis information.",
        "description": "This endpoint allows you to retrieve detailed information about fraud diagnoses related to user accounts. It provides insights into potential fraudulent activities associated with accounts to enhance security measures and risk assessments.",
        "operationId": "getFraudDiagnosis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a fraud diagnosis analysis for an account. The payload should contain relevant parameters that the service will use to evaluate potential fraud indicators.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudDiagnosisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved fraud diagnosis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudDiagnosisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudDiagnosisRequest": {
        "type": "string",
        "description": "The request body for the fraud diagnosis operation, expected to be a string.",
        "example": "{}"
      },
      "GetFraudDiagnosisResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of account fraud diagnosis items.",
            "example": [
              {
                "accountId": "ACC-957493",
                "customerId": "CUST-464007",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-131247",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudDiagnosisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the fraud diagnosis operation.",
        "example": {
          "items": [
            {
              "accountId": "ACC-957493",
              "customerId": "CUST-464007",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-131247",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8177c55-bc9b-59f4-be99-0e57e3dcafdb",
            "correlationId": "8c2ec1ff-a0ae-5037-a931-831ec531fef1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisItem": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the account ledger.",
            "example": 0.0
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction.",
            "example": "string"
          },
          "riskScore": {
            "type": "number",
            "description": "The calculated risk score for the account.",
            "example": 0.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold for making a decision based on the risk score.",
            "example": 0.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level assigned to the device used for the transaction.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the record.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual fraud diagnosis item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-search-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-search-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method based on JSON Web Tokens (JWT). Users must provide a valid JWT as part of the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}