{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Event Subscriptions API",
    "description": "The Manage Event Subscriptions API allows users to update and manage their event subscriptions within the Open Banking framework. This endpoint enables businesses to modify existing subscriptions based on specific parameters, facilitating real-time access to relevant financial events. Typical consumers include developers integrating banking services into their applications, as well as financial institutions looking to enhance user engagement through tailored notifications. By leveraging this API, organizations can streamline their subscription management processes and create responsive systems to meet customer needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/event-subscriptions/{param1}": {
      "put": {
        "tags": [
          "Event Management"
        ],
        "summary": "Update Event Subscription",
        "description": "Allows the modification of the details of an existing event subscription identified by its unique resource ID. Provide the necessary data in the request body to update the subscription parameters.",
        "operationId": "updateEventSubscriptionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to update the event subscription with the specified ID. The payload must conform to the expected schema and provide all necessary data to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEventSubscriptionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEventSubscriptionRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEventSubscriptionRes100045Request": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the details of the event subscription being updated.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Provides hyperlink references related to the event subscription.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Meta information about the event subscription request.",
            "$ref": "#/components/schemas/Meta"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating event subscriptions.",
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "requestContext": {
            "requestId": "a82cba23-88fd-5d44-9ee3-1359d61949ab",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "idempotencyKey": "8e43305a-d705-5228-a566-c8a65cf93228",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-837345"
            }
          }
        }
      },
      "EventSubscriptionData": {
        "type": "object",
        "properties": {
          "EventSubscriptionId": {
            "type": "string",
            "description": "The unique identifier for the event subscription.",
            "example": "string"
          },
          "CallbackUrl": {
            "type": "string",
            "description": "The URL where events will be sent.",
            "example": "string"
          },
          "Version": {
            "type": "string",
            "description": "The version of the event subscription.",
            "example": "string"
          },
          "EventTypes": {
            "type": "array",
            "description": "A list of event types that the subscription is interested in.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing the data related to an event subscription."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first resource in the collection.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous resource in the collection.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next resource in the collection.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last resource in the collection.",
            "example": "string"
          }
        },
        "description": "Schema representing the navigation links for the event subscription."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the first event is available.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The date and time when the last event is available.",
            "example": "string"
          }
        },
        "description": "Metadata about pagination and availability of events."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing requests through systems."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated."
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request."
          },
          "channel": {
            "description": "Channel information from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request including IDs and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, Web, etc.)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made."
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateEventSubscriptionRes100045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains information about the event subscription.",
            "$ref": "#/components/schemas/EventSubscriptionData"
          },
          "Links": {
            "description": "Contains navigation links related to the event subscription.",
            "$ref": "#/components/schemas/Links"
          },
          "Meta": {
            "description": "Metadata about the API response.",
            "$ref": "#/components/schemas/Meta"
          },
          "metadata": {
            "description": "Contains additional metadata regarding the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "Data": {
            "EventSubscriptionId": "STANDARD",
            "CallbackUrl": "https://banking.northstar.example/callbacks/status",
            "Version": "STANDARD",
            "EventTypes": [
              "STANDARD"
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "bbfb94dd-31f5-5144-989d-2fcee46b3322",
            "correlationId": "c7aa6cec-dab0-5414-b4cb-48e2facf81d8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata regarding the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-change-event-subscriptions-event-subscription-id"
        },
        "example": "events-api-change-event-subscriptions-event-subscription-id"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authorization. The client must include a valid JWT token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}