{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Terminals Management API",
    "description": "The Terminals Management API provides access to a comprehensive list of terminals available for processing transactions. It allows users to retrieve detailed information about each terminal, including their operational status and capabilities. This API is essential for developers integrating terminal management into financial services applications or point-of-sale systems. Typical consumers include software developers and system integrators who need to ensure terminal availability and manage transaction workflows effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/terminals": {
      "get": {
        "tags": [
          "Terminal Management"
        ],
        "summary": "Retrieve all terminals.",
        "description": "This endpoint allows you to fetch a list of all terminals available in the system, providing essential information for management or operational needs.",
        "operationId": "getTerminals",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving terminal information. Ensure that the request adheres to the schema defined for the operation, and provides all necessary information to fetch the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTerminalsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of terminals.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTerminalsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTerminalsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on terminals. It is a string representation that may contain serialized data or identifiers related to terminal operations.",
        "example": "{}"
      },
      "GetTerminalsResponse_200": {
        "title": "Terminal Operations Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there are more pages available after the current page.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "A list of links related to the current request.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of terminal items.",
            "example": [
              {
                "terminalId": "STANDARD",
                "merchantId": "MER-288826",
                "outletId": "STANDARD",
                "terminalType": "STANDARD",
                "label": "STANDARD",
                "serialNumber": "STANDARD",
                "deviceFingerprint": "STANDARD",
                "capabilities": [
                  "STANDARD"
                ],
                "status": "ACTIVE",
                "lastSeenAt": "2026-08-11T12:00:00Z",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Terminal"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking purposes.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "c1f40183-01ef-5776-b7b3-1282698acf34",
              "correlationId": "d3e5e242-34cc-5eb2-b8bf-780c8a9ca51d",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for fetching terminal operations.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "terminalId": "STANDARD",
              "merchantId": "MER-288826",
              "outletId": "STANDARD",
              "terminalType": "STANDARD",
              "label": "STANDARD",
              "serialNumber": "STANDARD",
              "deviceFingerprint": "STANDARD",
              "capabilities": [
                "STANDARD"
              ],
              "status": "ACTIVE",
              "lastSeenAt": "2026-08-11T12:00:00Z",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "c1f40183-01ef-5776-b7b3-1282698acf34",
            "correlationId": "d3e5e242-34cc-5eb2-b8bf-780c8a9ca51d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link Object",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relation type of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL the link points to.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to be used when following the link.",
            "example": "string"
          }
        },
        "description": "Represents a hyperlink related to the terminal operations response."
      },
      "Terminal": {
        "title": "Terminal Object",
        "type": "object",
        "properties": {
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the terminal.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet where the terminal is located.",
            "example": "string"
          },
          "terminalType": {
            "type": "string",
            "description": "Type of the terminal.",
            "example": "string"
          },
          "label": {
            "type": "string",
            "description": "Human-readable label for the terminal.",
            "example": "string"
          },
          "serialNumber": {
            "type": "string",
            "description": "The serial number of the terminal.",
            "example": "string"
          },
          "deviceFingerprint": {
            "type": "string",
            "description": "A unique fingerprint for the device.",
            "example": "string"
          },
          "capabilities": {
            "type": "array",
            "description": "The capabilities supported by the terminal.",
            "items": {
              "type": "string",
              "description": "A specific capability of the terminal.",
              "example": "string"
            }
          },
          "status": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "string"
          },
          "lastSeenAt": {
            "type": "string",
            "description": "Timestamp of the last time the terminal was seen or checked.",
            "example": "string"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "Timestamp when the terminal was created.",
                "example": "string"
              },
              "createdBy": {
                "type": "string",
                "description": "Identifier of who created the terminal.",
                "example": "string"
              },
              "updatedAt": {
                "type": "string",
                "description": "Timestamp when the terminal was last updated.",
                "example": "string"
              },
              "updatedBy": {
                "type": "string",
                "description": "Identifier of who last updated the terminal.",
                "example": "string"
              },
              "version": {
                "type": "integer",
                "description": "Version of the terminal data.",
                "format": "int32",
                "example": 0
              }
            },
            "description": "Audit information regarding the terminal."
          }
        },
        "description": "Represents a terminal's details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-terminals"
        },
        "example": "banking-p2m-openapi-list-terminals"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication. Clients must send a JWT (JSON Web Token) in the `Authorization` header as a Bearer token in order to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}