{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Success Indicators API",
    "description": "The Payment Success Indicators API provides insights into the success metrics related to payments for specific customer accounts. It allows developers to retrieve key performance indicators that gauge payment effectiveness and reliability based on various parameters. Typical consumers include financial analysts and software applications focused on payment processing optimization. This API is essential for understanding customer payment behavior and enhancing payment strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/payments/customers/{customerId}/accounts/{accountId}/payment-success-indicators/{param3}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve Payment Success Indicator",
        "description": "Fetches the payment success indicators related to a specific account for a given customer. This endpoint aids in analyzing the success rates of various payment transactions associated with the account.",
        "operationId": "getPaymentSuccessIndicatorForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment success indicators for a specific account within a customer's profile. It allows for querying the status of transactions and understanding payment success metrics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentSuccessIndicatorForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of payment success indicators.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentSuccessIndicatorForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentSuccessIndicatorForAccountRequest": {
        "type": "string",
        "description": "This schema represents a JSON string payload used for the successful payment indicators request.",
        "example": "{}"
      },
      "GetPaymentSuccessIndicatorForAccountResponse_200": {
        "type": "object",
        "properties": {
          "payRequestId": {
            "type": "string",
            "description": "Unique identifier for the payment request.",
            "example": "48068230-053b-5cd0-861e-da74f4604932"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment request.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the payment.",
            "example": "CUST-366475"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the payment.",
            "example": "ACC-661929"
          },
          "requestDate": {
            "type": "string",
            "description": "Date when the payment request was made.",
            "example": "2026-09-15"
          },
          "transaction": {
            "description": "Transaction details related to the payment request.",
            "$ref": "#/components/schemas/Transaction"
          },
          "nsfReturnRisk": {
            "description": "Non-Sufficient Funds (NSF) return risk assessment.",
            "$ref": "#/components/schemas/NsfReturnRisk"
          },
          "unauthorizedReturnRisk": {
            "description": "Unauthorized return risk assessment.",
            "$ref": "#/components/schemas/UnauthorizedReturnRisk"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment success indicators including request and transaction details.",
        "example": {
          "payRequestId": "48068230-053b-5cd0-861e-da74f4604932",
          "status": "ACTIVE",
          "customerId": "CUST-366475",
          "accountId": "ACC-661929",
          "requestDate": "2026-09-15",
          "transaction": {
            "settleByDate": "2026-09-15",
            "amount": 100.0
          },
          "nsfReturnRisk": {
            "result": {
              "availableBalance": 100.0,
              "dailyResults": [
                {
                  "potentialSettlementDate": "2026-09-15",
                  "score": 1,
                  "indicator": "STANDARD",
                  "reasons": {
                    "recentBalance": 1,
                    "balanceHistory": 1,
                    "nsfHistory": 1,
                    "recentNsfHistory": 1,
                    "recurringNsf": 1,
                    "spendHistory": 1,
                    "depositHistory": 1,
                    "transactionAmount": 1
                  }
                }
              ]
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD",
              "assetId": "STANDARD",
              "accountId": "ACC-856097",
              "externalTransactionId": "TXN-400022",
              "tags": "STANDARD"
            }
          },
          "unauthorizedReturnRisk": {
            "result": {
              "score": 1,
              "indicator": "STANDARD"
            },
            "error": {
              "status": "ACTIVE",
              "title": "Banking operation completed",
              "level": "STANDARD",
              "message": "STANDARD",
              "user_message": "STANDARD"
            }
          },
          "metadata": {
            "responseId": "f563e7af-3a6d-5821-a61f-00425117cd93",
            "correlationId": "605cce0f-2ed5-5d79-9bcd-5914c61487ff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "settleByDate": {
            "type": "string",
            "description": "Date by which the transaction is expected to be settled.",
            "example": "string"
          },
          "amount": {
            "type": "number",
            "description": "The amount involved in the transaction.",
            "example": 0.0
          }
        },
        "description": "Details of the transaction associated with a payment request."
      },
      "NsfReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "availableBalance": {
                "type": "number",
                "description": "The available balance in the account.",
                "example": 0.0
              },
              "dailyResults": {
                "type": "array",
                "description": "Daily assessment results for the NSF risk.",
                "items": {
                  "$ref": "#/components/schemas/DailyResult"
                }
              }
            },
            "example": "string"
          },
          "error": {
            "description": "Error response details if the NSF return risk assessment fails.",
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "description": "Assessment of the risk of a non-sufficient funds return."
      },
      "DailyResult": {
        "type": "object",
        "properties": {
          "potentialSettlementDate": {
            "type": "string",
            "description": "The potential date for settlement of transactions.",
            "example": "string"
          },
          "score": {
            "type": "integer",
            "description": "Score representing the risk level.",
            "format": "int32",
            "example": 0
          },
          "indicator": {
            "type": "string",
            "description": "Indicator of the risk assessment.",
            "example": "string"
          },
          "reasons": {
            "description": "Reasons for the risk assessment score.",
            "$ref": "#/components/schemas/RiskReasons"
          }
        },
        "description": "Details related to daily assessment results for NSF return risk."
      },
      "RiskReasons": {
        "type": "object",
        "properties": {
          "recentBalance": {
            "type": "integer",
            "description": "Recent balance in the account.",
            "format": "int32",
            "example": 0
          },
          "balanceHistory": {
            "type": "integer",
            "description": "Historical balance data.",
            "format": "int32",
            "example": 0
          },
          "nsfHistory": {
            "type": "integer",
            "description": "History of non-sufficient funds occurrences.",
            "format": "int32",
            "example": 0
          },
          "recentNsfHistory": {
            "type": "integer",
            "description": "Recent occurrences of non-sufficient funds.",
            "format": "int32",
            "example": 0
          },
          "recurringNsf": {
            "type": "integer",
            "description": "Count of recurring non-sufficient funds events.",
            "format": "int32",
            "example": 0
          },
          "spendHistory": {
            "type": "integer",
            "description": "Historical data on spending.",
            "format": "int32",
            "example": 0
          },
          "depositHistory": {
            "type": "integer",
            "description": "Historical data on deposits.",
            "format": "int32",
            "example": 0
          },
          "transactionAmount": {
            "type": "integer",
            "description": "Amount of the last transaction.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Reasons explaining the risk assessment score."
      },
      "UnauthorizedReturnRisk": {
        "type": "object",
        "properties": {
          "result": {
            "type": "object",
            "properties": {
              "score": {
                "type": "integer",
                "description": "Score representing the risk of an unauthorized return.",
                "format": "int32",
                "example": 0
              },
              "indicator": {
                "type": "string",
                "description": "Indicator of the unauthorized return risk assessment.",
                "example": "string"
              }
            },
            "example": "string"
          },
          "error": {
            "description": "Error response details if the unauthorized return risk assessment fails.",
            "$ref": "#/components/schemas/ErrorResponse"
          }
        },
        "description": "Assessment of the risk of an unauthorized return."
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP status of the error.",
            "example": "string"
          },
          "title": {
            "type": "string",
            "description": "Short description of the error.",
            "example": "string"
          },
          "level": {
            "type": "string",
            "description": "Severity level of the error.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "Detailed error message.",
            "example": "string"
          },
          "user_message": {
            "type": "string",
            "description": "Message intended for the user describing the error.",
            "example": "string"
          },
          "assetId": {
            "type": "string",
            "description": "ID of the asset related to the error.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "ID of the account related to the error.",
            "example": "string"
          },
          "externalTransactionId": {
            "type": "string",
            "description": "ID of the external transaction associated with the error.",
            "example": "string"
          },
          "tags": {
            "type": "string",
            "description": "Tags associated with the error for categorization.",
            "example": "string"
          }
        },
        "description": "Details of an error response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the generated response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, allowing for tracking and logging of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-payment-success-indicators"
        },
        "example": "open-finance-api-get-payment-success-indicators"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for identifying the source of the response in multi-application environments.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a bearer token for authorization. The token should be a JSON Web Token (JWT) which contains encoded data about the user and is transmitted in the HTTP Authorization header. Make sure to keep this token secure.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}