{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Compliance Information API",
    "description": "The Financial Compliance Information API provides businesses with essential data to ensure adherence to financial regulations and standards. This endpoint enables users to retrieve compliance information relevant to their financial operations, using a specified parameter for targeted queries. Typical consumers include compliance officers, auditors, and financial analysts who need to validate their practices against regulatory requirements. By leveraging this API, organizations can maintain their commitment to financial integrity and accountability.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/financial-compliance/{param1}": {
      "get": {
        "tags": [
          "Financial Compliance"
        ],
        "summary": "Retrieve Financial Compliance Data",
        "description": "This endpoint allows you to fetch financial compliance information for a specific resource identified by its ID. You can use this data to ensure adherence to financial regulations and standards.",
        "operationId": "getFinancialComplianceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters and data required to retrieve financial compliance information for the specified resource. Please ensure that the request is formatted according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialComplianceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested financial compliance data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialComplianceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialComplianceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to financial compliance.",
        "example": "{}"
      },
      "GetFinancialComplianceByIdResponse_200": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The unique identifier for the legal entity.",
            "example": "STANDARD"
          },
          "ledgerId": {
            "type": "string",
            "description": "The unique identifier for the ledger.",
            "example": "STANDARD"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for which the data is applicable.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The monetary value associated with the financial record.",
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date the transaction was posted, formatted as an ISO string.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the financial record, indicating if it is active, archived, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated, formatted as an ISO string.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for financial compliance operations.",
        "example": {
          "legalEntityId": "STANDARD",
          "ledgerId": "STANDARD",
          "accountingPeriod": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "postingDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "41348dd6-7580-5799-a79a-acbd02228125",
            "correlationId": "5662c6fd-d5a2-5d0d-b875-eefce18b098d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217) associated with the amount.",
            "example": "USD"
          }
        },
        "description": "Represents the monetary amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier that can be used for tracing requests.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated, formatted as an ISO string.",
            "example": "2023-09-25T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Holds additional information related to the financial record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-compliance-get-financial-compliance"
        },
        "example": "financial-compliance-get-financial-compliance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication scheme. A valid JWT (JSON Web Token) must be provided as a bearer token to access secured API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}