{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Offers API",
    "description": "The Loan Application Offers API provides access to the offers associated with a specific loan application. By targeting the unique identifier of a loan application, consumers can retrieve detailed offers that are available, including terms, interest rates, and other relevant details. This API is essential for lending platforms and financial institutions looking to present users with viable loan options. It supports operations that enhance decision-making for applicants by offering tailored financial information and alternatives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve loan offers for a specific loan application.",
        "description": "This endpoint allows users to fetch all available loan offers associated with a specific loan application identified by its ID. Utilizing this endpoint helps users evaluate various loan options to make informed decisions.",
        "operationId": "getLoanApplicationsOffersById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves loan offers for the specified loan application. It is expected to contain necessary parameters for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationsOffersByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan offers.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationsOffersByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationsOffersByIdRequest": {
        "type": "string",
        "description": "A string representation of the loan application offers request body.",
        "example": "{}"
      },
      "GetLoanApplicationsOffersByIdResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of loan offers associated with the application.",
            "example": [
              {
                "offerType": "STANDARD",
                "approvedPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "termMonths": 1,
                "annualInterestRatePercent": "STANDARD",
                "annualPercentageRatePercent": "STANDARD",
                "repaymentFrequency": "STANDARD",
                "estimatedInstallment": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "originationFee": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "insurancePremium": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "validUntil": "2026-08-11T12:00:00Z",
                "conditions": [
                  {
                    "code": "SUCCESS",
                    "description": "Customer banking request processed successfully",
                    "dueBefore": "STANDARD",
                    "status": "ACTIVE"
                  }
                ],
                "disclosures": [
                  "STANDARD"
                ],
                "id": "c1988515-492b-3f71-2b29-46f1879a3e78",
                "offerNumber": "STANDARD",
                "status": "ACTIVE",
                "issuedAt": "2026-08-11T12:00:00Z",
                "acceptedAt": "2026-08-11T12:00:00Z",
                "acceptedByCustomerId": "CUST-470197",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanOffer"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for loan application offers.",
        "example": {
          "items": [
            {
              "offerType": "STANDARD",
              "approvedPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "termMonths": 1,
              "annualInterestRatePercent": "STANDARD",
              "annualPercentageRatePercent": "STANDARD",
              "repaymentFrequency": "STANDARD",
              "estimatedInstallment": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "originationFee": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "insurancePremium": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "validUntil": "2026-08-11T12:00:00Z",
              "conditions": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "dueBefore": "STANDARD",
                  "status": "ACTIVE"
                }
              ],
              "disclosures": [
                "STANDARD"
              ],
              "id": "c1988515-492b-3f71-2b29-46f1879a3e78",
              "offerNumber": "STANDARD",
              "status": "ACTIVE",
              "issuedAt": "2026-08-11T12:00:00Z",
              "acceptedAt": "2026-08-11T12:00:00Z",
              "acceptedByCustomerId": "CUST-470197",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "890ef25c-a1cb-5280-9d27-889875925a64",
            "correlationId": "6bcd903c-6d4e-5aa0-b1ad-ffb1424b7f5a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanOffer": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "Type of loan offer.",
            "example": "string"
          },
          "approvedPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan offer in months.",
            "format": "int32",
            "example": 0
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "Annual interest rate represented as a percentage.",
            "example": "string"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "Annual Percentage Rate (APR) represented as a percentage.",
            "example": "string"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayments (e.g., monthly, bi-weekly).",
            "example": "string"
          },
          "estimatedInstallment": {
            "$ref": "#/components/schemas/Money"
          },
          "originationFee": {
            "$ref": "#/components/schemas/Money"
          },
          "insurancePremium": {
            "$ref": "#/components/schemas/Money"
          },
          "validUntil": {
            "type": "string",
            "description": "Expiration date of the loan offer.",
            "example": "string"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions related to the loan offer.",
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Required disclosures for the loan offer.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan offer.",
            "example": "string"
          },
          "offerNumber": {
            "type": "string",
            "description": "Loan offer number.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan offer.",
            "example": "string"
          },
          "issuedAt": {
            "type": "string",
            "description": "Date and time when the loan offer was issued.",
            "example": "string"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Date and time when the loan offer was accepted.",
            "example": "string"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "Identifier of the Customer who accepted the loan offer.",
            "example": "string"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          }
        },
        "description": "Schema representing an individual loan offer."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "string"
          }
        },
        "description": "Schema representing an amount of money, including currency."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Unique condition code.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the condition.",
            "example": "string"
          },
          "dueBefore": {
            "type": "string",
            "description": "Date before which the condition must be fulfilled.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "string"
          }
        },
        "description": "Schema representing a condition related to a loan offer."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan offer was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the loan offer.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the loan offer was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the loan offer.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the loan offer.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema containing audit information for the loan offer."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique ID for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking request handling.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This helps in API versioning and tracking requests specific to this endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-loan-offers"
        },
        "example": "banking-loans-openapi-list-loan-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This is useful for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer authentication with JSON Web Tokens (JWT). Clients must include the token in the 'Authorization' header in the format: 'Bearer <token>'. The token is used to verify the identity of the caller and to grant access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}