{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Activity Insights API",
    "description": "The Servicing Activity Insights API provides comprehensive analytics on servicing activities across various channels. This endpoint enables customers to retrieve detailed insights based on specific parameters, facilitating informed decision-making for service enhancements. Ideal for business analysts and operations teams, this API aids in monitoring and optimizing customer service interactions. By leveraging these insights, organizations can improve their operational efficiency and elevate customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/servicing-activity-analysis/{param1}": {
      "get": {
        "tags": [
          "Servicing Analysis"
        ],
        "summary": "Retrieve servicing activity analysis data for a specified resource.",
        "description": "This endpoint allows you to fetch detailed servicing activity analysis data for the resource identified by RES-100045. Utilize this endpoint to gain insights into servicing activities and related metrics, facilitating better operational decisions.",
        "operationId": "getCrossChannelServicingActivityAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving servicing activity analysis for a specific resource identified by RES-100045. This API call allows the client to fetch detailed analytics and insights regarding the servicing activities conducted across various channels. The response will contain relevant metrics and data points necessary for evaluating service performance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCrossChannelServicingActivityAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of servicing activity analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCrossChannelServicingActivityAnalysisRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCrossChannelServicingActivityAnalysisRes100045Request": {
        "type": "string",
        "description": "A request body for the cross-channel servicing activity analysis operation with identifier RES-100045.",
        "example": "{}"
      },
      "GetCrossChannelServicingActivityAnalysisRes100045Response_200": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Identifier for the party involved in the interaction.",
            "example": "PARTY-251480"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the specific interaction.",
            "example": "INT-403254"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the interaction occurred (e.g., email, phone).",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "The level of authentication used during the interaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operation GET /s/cross-channel/servicing-activity-analysis, representing the details of a servicing activity.",
        "example": {
          "partyId": "PARTY-251480",
          "interactionId": "INT-403254",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9b2725be-1f77-50d2-ae4b-a829cd4616b4",
            "correlationId": "b65d0355-619f-5126-a9c6-5c46745120cc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the servicing activity response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-activity-analysis-get-servicing-activity-analysis"
        },
        "example": "servicing-activity-analysis-get-servicing-activity-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication method using JSON Web Tokens (JWT). It allows clients to authenticate by presenting a token to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}