{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Personal Current Accounts Reference API",
    "description": "The Personal Current Accounts Reference API provides essential information about personal current accounts available within the banking ecosystem. This endpoint is designed for developers looking to access key data on account features, requirements, and functionalities. It caters to financial institutions, third-party providers, and developers interested in integrating personal banking solutions. Use cases include enhancing digital banking applications or providing comparative analysis tools for consumers evaluating different personal current account options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/personal-current-accounts": {
      "get": {
        "tags": [
          "Open Banking"
        ],
        "summary": "Retrieve Personal Current Accounts",
        "description": "This operation allows users to access and retrieve a list of personal current accounts available under the open banking framework.",
        "operationId": "getPersonalCurrentAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for retrieving personal current account information in the open banking system. It may include filters and parameters relevant to the account queries specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPersonalCurrentAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the personal current accounts data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPersonalCurrentAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPersonalCurrentAccountsRequest": {
        "type": "string",
        "description": "This schema represents the request body for GET operations related to personal current accounts in Open Banking.",
        "example": "{}"
      },
      "GetPersonalCurrentAccountsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "List of personal current account data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-591",
                    "TrademarkID": "STANDARD"
                  }
                },
                "ProductType": "STANDARD",
                "ProductName": "Northstar Banking Service",
                "ProductSegment": [
                  "STANDARD"
                ],
                "InternationalPaymentsSupported": true,
                "ProductIdentifier": "PROD-570475",
                "CardWithdrawalLimit": "STANDARD",
                "ProductDescription": "STANDARD",
                "TsandCs": [
                  "STANDARD"
                ],
                "AccessChannels": [
                  "STANDARD"
                ],
                "CardType": [
                  "STANDARD"
                ],
                "Contactless": true,
                "MobileWallet": [
                  "STANDARD"
                ],
                "CardNotes": "STANDARD",
                "ChequeBookAvailable": true,
                "CreditScoringPartOfAccountOpening": true,
                "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningText": "STANDARD",
                "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                  "STANDARD"
                ],
                "CreditScoringPartOfAccountOpeningIDVerificationText": [
                  "STANDARD"
                ],
                "MaximumMonthlyCharge": "STANDARD",
                "ProductURL": [
                  "https://example.com/resource"
                ],
                "Currency": [
                  "USD"
                ],
                "OverdraftOffered": true,
                "Feature": [
                  {
                    "ExistingFeature": true
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountData"
            }
          },
          "metadata": {
            "description": "Additional metadata regarding the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching personal current account operations.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-591",
                  "TrademarkID": "STANDARD"
                }
              },
              "ProductType": "STANDARD",
              "ProductName": "Northstar Banking Service",
              "ProductSegment": [
                "STANDARD"
              ],
              "InternationalPaymentsSupported": true,
              "ProductIdentifier": "PROD-570475",
              "CardWithdrawalLimit": "STANDARD",
              "ProductDescription": "STANDARD",
              "TsandCs": [
                "STANDARD"
              ],
              "AccessChannels": [
                "STANDARD"
              ],
              "CardType": [
                "STANDARD"
              ],
              "Contactless": true,
              "MobileWallet": [
                "STANDARD"
              ],
              "CardNotes": "STANDARD",
              "ChequeBookAvailable": true,
              "CreditScoringPartOfAccountOpening": true,
              "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningText": "STANDARD",
              "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": [
                "STANDARD"
              ],
              "CreditScoringPartOfAccountOpeningIDVerificationText": [
                "STANDARD"
              ],
              "MaximumMonthlyCharge": "STANDARD",
              "ProductURL": [
                "https://example.com/resource"
              ],
              "Currency": [
                "USD"
              ],
              "OverdraftOffered": true,
              "Feature": [
                {
                  "ExistingFeature": true
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "e7e39b54-a165-537d-960c-960373b7f611",
            "correlationId": "acb87a7b-064d-50be-a472-ff7c6c918920",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The date and time when the data was last updated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "TotalResults": {
            "type": "integer",
            "description": "Total number of results returned.",
            "format": "int32",
            "example": 0
          },
          "Agreement": {
            "type": "string",
            "description": "Terms of the agreement.",
            "example": "Agreement terms here."
          },
          "License": {
            "type": "string",
            "description": "Licensing information.",
            "example": "License information here."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the service.",
            "example": "Terms of use details here."
          }
        },
        "description": "Metadata details for the API response."
      },
      "AccountData": {
        "type": "object",
        "properties": {
          "Organisation": {
            "description": "Details of the organization associated with the account.",
            "$ref": "#/components/schemas/Organisation"
          },
          "ProductType": {
            "type": "string",
            "description": "Type of the financial product.",
            "example": "Current Account"
          },
          "ProductName": {
            "type": "string",
            "description": "Name of the financial product.",
            "example": "Basic Checking Account"
          },
          "ProductSegment": {
            "type": "array",
            "description": "Segments the product falls into.",
            "items": {
              "type": "string",
              "example": "Retail"
            }
          },
          "InternationalPaymentsSupported": {
            "type": "boolean",
            "description": "Indicates if international payments are supported.",
            "example": false
          },
          "ProductIdentifier": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "prod-12345"
          },
          "CardWithdrawalLimit": {
            "type": "string",
            "description": "Limits for card withdrawals.",
            "example": "500"
          },
          "ProductDescription": {
            "type": "string",
            "description": "Description of the product.",
            "example": "A basic checking account with no monthly fees."
          },
          "TsandCs": {
            "type": "array",
            "description": "Terms and conditions associated with the product.",
            "items": {
              "type": "string",
              "example": "No overdraft fees."
            }
          },
          "AccessChannels": {
            "type": "array",
            "description": "Available channels to access the product.",
            "items": {
              "type": "string",
              "example": "Mobile App"
            }
          },
          "CardType": {
            "type": "array",
            "description": "Types of cards associated with the product.",
            "items": {
              "type": "string",
              "example": "Visa"
            }
          },
          "Contactless": {
            "type": "boolean",
            "description": "Indicates if contactless payments are supported.",
            "example": true
          },
          "MobileWallet": {
            "type": "array",
            "description": "Mobile wallets supported by the product.",
            "items": {
              "type": "string",
              "example": "Apple Pay"
            }
          },
          "CardNotes": {
            "type": "string",
            "description": "Additional notes regarding the card.",
            "example": "Card available within 7-10 days."
          },
          "ChequeBookAvailable": {
            "type": "boolean",
            "description": "Indicates if a cheque book is available.",
            "example": false
          },
          "CreditScoringPartOfAccountOpening": {
            "type": "boolean",
            "description": "Indicates if credit scoring is part of account opening.",
            "example": true
          },
          "CreditScoringPartOfAccountOpeningIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Indicates if hard or soft credit scores are used.",
            "items": {
              "type": "string",
              "example": "Soft"
            }
          },
          "CreditScoringPartOfAccountOpeningText": {
            "type": "string",
            "description": "Text related to credit scoring during account opening.",
            "example": "A soft credit check will be performed."
          },
          "CreditScoringPartOfAccountOpeningIDVerificationIsAHardOrSoftCreditScore": {
            "type": "array",
            "description": "Indicates credit score type for ID verification.",
            "items": {
              "type": "string",
              "example": "Hard"
            }
          },
          "CreditScoringPartOfAccountOpeningIDVerificationText": {
            "type": "array",
            "description": "Text associated with ID verification credit scoring.",
            "items": {
              "type": "string",
              "example": "A hard credit check will be performed for ID verification."
            }
          },
          "MaximumMonthlyCharge": {
            "type": "string",
            "description": "The maximum monthly charge for the product.",
            "example": "10.00"
          },
          "ProductURL": {
            "type": "array",
            "description": "URLs for more information about the product.",
            "items": {
              "type": "string",
              "example": "https://example.com/product"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies applicable for the product.",
            "items": {
              "type": "string",
              "example": "USD"
            }
          },
          "OverdraftOffered": {
            "type": "boolean",
            "description": "Indicates if an overdraft facility is offered.",
            "example": false
          },
          "Feature": {
            "type": "array",
            "description": "List of features associated with the product.",
            "items": {
              "$ref": "#/components/schemas/Feature"
            }
          }
        },
        "description": "Information about a specific personal current account."
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "description": "Details of the parent organization.",
            "$ref": "#/components/schemas/ParentOrganisation"
          },
          "Brand": {
            "description": "Brand information for the organization.",
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details of the organization associated with the account."
      },
      "ParentOrganisation": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier.",
            "example": "1234567890ABCDE"
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code.",
            "example": "BANKUS33"
          },
          "OrganisationName": {
            "description": "Name details of the organization.",
            "$ref": "#/components/schemas/OrganisationName"
          }
        },
        "description": "Information about the parent organization."
      },
      "Brand": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark code as per IPO regulations.",
            "example": "TM123456"
          },
          "TrademarkID": {
            "type": "string",
            "description": "Identifier for the trademark.",
            "example": "TRM-001"
          }
        },
        "description": "Brand details of the organization."
      },
      "OrganisationName": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organization.",
            "example": "Example Bank Ltd."
          }
        },
        "description": "Legal name of the organization."
      },
      "Feature": {
        "type": "object",
        "properties": {
          "ExistingFeature": {
            "type": "boolean",
            "description": "Indicates whether the feature exists.",
            "example": true
          }
        },
        "description": "Details of a specific feature associated with a product."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "corr-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata about the API request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called. This can be useful for debugging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-personal-current-accounts"
      },
      "X-Runtime-App": {
        "description": "The identifier of the application processing the request, which helps to identify which app initiated the call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) for securing API endpoints. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}