{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Institution Management API",
    "description": "The Institution Management API provides access to information about various institutions within the system. Users can retrieve detailed data on institutions, including attributes such as name, location, and status. This endpoint is primarily useful for administrators, data analysts, and developers seeking to integrate institution data into their applications or for reporting purposes. By leveraging this API, organizations can enhance their insights and operations related to educational or professional institutions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/institution/institutions": {
      "get": {
        "tags": [
          "Institution Management"
        ],
        "summary": "Retrieve a list of institutions.",
        "description": "This endpoint allows you to fetch a comprehensive list of all institutions available in the system, providing essential details for each one.",
        "operationId": "getInstitutions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a collection of institutions. The data provided should conform to the expected schema for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInstitutionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of institutions.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInstitutionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInstitutionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the institutions endpoint. It is expected to be a string that may contain details related to the request.",
        "example": "{}"
      },
      "GetInstitutionsResponse_200": {
        "title": "Institutions Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of institutions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of institutions currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if there are more institutions available than displayed.",
            "example": true
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the response was created.",
            "format": "int32",
            "example": 1
          },
          "institutions": {
            "type": "array",
            "description": "An array of institution objects.",
            "example": [
              {
                "id": 1,
                "name": "Northstar Banking Service",
                "transAgg": true,
                "ach": true,
                "stateAgg": true,
                "voi": true,
                "voa": true,
                "aha": true,
                "availBalance": true,
                "accountOwner": true,
                "studentLoanData": true,
                "loanPaymentDetails": true,
                "displayName": "Northstar Banking Service",
                "liabilityData": true,
                "billPayData": true,
                "accountTypeDescription": "STANDARD",
                "phone": "+1-212-555-0147",
                "urlHomeApp": "STANDARD",
                "urlLogonApp": "STANDARD",
                "oauthEnabled": true,
                "urlForgotPassword": "STANDARD",
                "urlOnlineRegistration": "STANDARD",
                "class": "STANDARD",
                "specialText": "STANDARD",
                "timeZone": "America/New_York",
                "specialInstructions": [
                  "STANDARD"
                ],
                "title": "Banking operation completed",
                "address": {
                  "city": "New York",
                  "state": "STANDARD",
                  "country": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Institution"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on institutions, providing a summary of the found institutions along with metadata.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "createdDate": 1,
          "institutions": [
            {
              "id": 1,
              "name": "Northstar Banking Service",
              "transAgg": true,
              "ach": true,
              "stateAgg": true,
              "voi": true,
              "voa": true,
              "aha": true,
              "availBalance": true,
              "accountOwner": true,
              "studentLoanData": true,
              "loanPaymentDetails": true,
              "displayName": "Northstar Banking Service",
              "liabilityData": true,
              "billPayData": true,
              "accountTypeDescription": "STANDARD",
              "phone": "+1-212-555-0147",
              "urlHomeApp": "STANDARD",
              "urlLogonApp": "STANDARD",
              "oauthEnabled": true,
              "urlForgotPassword": "STANDARD",
              "urlOnlineRegistration": "STANDARD",
              "class": "STANDARD",
              "specialText": "STANDARD",
              "timeZone": "America/New_York",
              "specialInstructions": [
                "STANDARD"
              ],
              "title": "Banking operation completed",
              "address": {
                "city": "New York",
                "state": "STANDARD",
                "country": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "4768dd87-3252-5588-a102-604d7b592b2c",
            "correlationId": "accd4d04-076a-5217-a6fe-c266ab4f10c1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Institution": {
        "title": "Institution",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the institution.",
            "format": "int32",
            "example": 0
          },
          "name": {
            "type": "string",
            "description": "The name of the institution.",
            "example": "string"
          },
          "transAgg": {
            "type": "boolean",
            "description": "Indicates if transaction aggregation is enabled for the institution.",
            "example": false
          },
          "ach": {
            "type": "boolean",
            "description": "Indicates if ACH payments are enabled for the institution.",
            "example": false
          },
          "stateAgg": {
            "type": "boolean",
            "description": "Indicates if state aggregation is enabled for the institution.",
            "example": false
          },
          "voi": {
            "type": "boolean",
            "description": "Indicates if verification of identity is enabled for the institution.",
            "example": false
          },
          "voa": {
            "type": "boolean",
            "description": "Indicates if verification of account is enabled for the institution.",
            "example": false
          },
          "aha": {
            "type": "boolean",
            "description": "Indicates if aggregation of historical account data is enabled for the institution.",
            "example": false
          },
          "availBalance": {
            "type": "boolean",
            "description": "Indicates if available balance data is provided by the institution.",
            "example": false
          },
          "accountOwner": {
            "type": "boolean",
            "description": "Indicates if account ownership verification is provided by the institution.",
            "example": false
          },
          "studentLoanData": {
            "type": "boolean",
            "description": "Indicates if student loan data is provided by the institution.",
            "example": false
          },
          "loanPaymentDetails": {
            "type": "boolean",
            "description": "Indicates if loan payment details are provided by the institution.",
            "example": false
          },
          "displayName": {
            "type": "string",
            "description": "A display name for the institution.",
            "example": "string"
          },
          "liabilityData": {
            "type": "boolean",
            "description": "Indicates if liability data is provided by the institution.",
            "example": false
          },
          "billPayData": {
            "type": "boolean",
            "description": "Indicates if bill pay data is provided by the institution.",
            "example": false
          },
          "accountTypeDescription": {
            "type": "string",
            "description": "Description of the account type offered by the institution.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the institution.",
            "example": "string"
          },
          "urlHomeApp": {
            "type": "string",
            "description": "URL for the institution's home application.",
            "example": "string"
          },
          "urlLogonApp": {
            "type": "string",
            "description": "URL for the institution's logon application.",
            "example": "string"
          },
          "oauthEnabled": {
            "type": "boolean",
            "description": "Indicates if OAuth is enabled for the institution.",
            "example": false
          },
          "urlForgotPassword": {
            "type": "string",
            "description": "URL for the institution's forgot password page.",
            "example": "string"
          },
          "urlOnlineRegistration": {
            "type": "string",
            "description": "URL for online registration at the institution.",
            "example": "string"
          },
          "class": {
            "type": "string",
            "description": "Class/category of the institution.",
            "example": "string"
          },
          "specialText": {
            "type": "string",
            "description": "Any special text related to the institution.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the institution's operations.",
            "example": "string"
          },
          "specialInstructions": {
            "type": "array",
            "description": "An array of special instructions related to the institution.",
            "example": [
              "string"
            ],
            "items": {
              "type": "string",
              "description": "Instruction text."
            }
          },
          "title": {
            "type": "string",
            "description": "The title of the institution.",
            "example": "string"
          },
          "address": {
            "type": "object",
            "properties": {
              "city": {
                "type": "string",
                "description": "City where the institution is located.",
                "example": "string"
              },
              "state": {
                "type": "string",
                "description": "State where the institution is located.",
                "example": "string"
              },
              "country": {
                "type": "string",
                "description": "Country where the institution is located.",
                "example": "string"
              },
              "postalCode": {
                "type": "string",
                "description": "Postal code of the institution's address.",
                "example": "string"
              }
            },
            "description": "Address details of the institution."
          }
        },
        "description": "Schema representing individual institution details."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating this response with a request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request was handled.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-institutions"
        },
        "example": "open-finance-api-get-institutions"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, which allows clients to authenticate by including a JSON Web Token (JWT) in the Authorization header of their HTTP requests. The JWT should be obtained from an authorization server after successfully authenticating the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}