{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Collateral Asset Management API",
    "description": "The Collateral Asset Management API allows users to effectively manage and administrate collateral assets within the banking ecosystem. This API empowers financial institutions to create and organize collateral records, ensuring accurate tracking and compliance with regulatory requirements. Typical consumers of this API include banks, asset managers, and compliance officers who need to handle collateral information efficiently. By facilitating streamlined management processes, this API enhances operational efficiency and supports better decision-making for asset utilization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/collateral-asset-administration": {
      "post": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Create a new collateral asset.",
        "description": "This operation allows users to create a new collateral asset, facilitating better management and tracking of assets that are used as collateral in various financial transactions.",
        "operationId": "createCollateralAsset",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating or updating collateral asset details in the collateral administration system. Ensure that all required fields are correctly populated according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCollateralAssetRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCollateralAssetResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCollateralAssetRequest": {
        "title": "Collateral Asset Administration Request",
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier of the party associated with the collateral.",
            "example": "PARTY-530531"
          },
          "assetType": {
            "type": "string",
            "description": "Type of the asset being collateralized.",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "The market value of the collateral asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date on which the asset's value was assessed.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for the secured exposure linked to this collateral.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage reduction applied to the assessed value of the collateral.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Status of the lien on the collateral asset.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body required for collateral asset administration operations.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-530531",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "requestContext": {
            "requestId": "1b9fb197-5058-5f44-b37e-d1608ed458ef",
            "correlationId": "dc6c3ca3-bc4c-5918-9423-7533bba7374a",
            "idempotencyKey": "33dbb54d-6614-5a61-9a3f-eaaba1efbeff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-727979"
            }
          }
        }
      },
      "MarketValue": {
        "title": "Market Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value of the asset.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the asset's market value is expressed.",
            "example": "string"
          }
        },
        "description": "Represents the market value of an asset."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate between requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent request processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the communication channel of the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual data about the API request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel through which the request was made."
      },
      "CreateCollateralAssetResponse_201": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the collateral.",
            "example": "PARTY-168721"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Unique identifier for the secured exposure related to the collateral.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the collateral.",
            "example": "RES-582831"
          },
          "status": {
            "type": "string",
            "description": "Current status of the collateral.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the collateral was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate different operations.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing of the collateral took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata information related to the collateral.",
            "example": {
              "responseId": "cecb591f-78c0-5b7d-8370-22aed8a50880",
              "correlationId": "dc6c3ca3-bc4c-5918-9423-7533bba7374a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the collateral asset administration operation.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-168721",
          "securedExposureId": "STANDARD",
          "resourceId": "RES-582831",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cecb591f-78c0-5b7d-8370-22aed8a50880",
            "correlationId": "dc6c3ca3-bc4c-5918-9423-7533bba7374a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "collateral-asset-administration-create-collateral-asset-administration"
        },
        "example": "collateral-asset-administration-create-collateral-asset-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application instance that processed the request, aiding in performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which requires the use of a JSON Web Token (JWT) to authorize API requests. The token is typically included in the Authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}