{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Actions Management API",
    "description": "The Operational Actions Management API facilitates the execution and management of internal network operational actions within the IT management framework of a banking system. This endpoint allows authorized users to initiate various operational tasks designed to optimize network performance and reliability. Typical consumers of this API include internal IT teams and network administrators who require automated tools to streamline operational processes. By leveraging this API, organizations can ensure their network operations are efficient and aligned with overall business objectives.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/internal-network-operation/operational-actions": {
      "post": {
        "tags": [
          "Network Management"
        ],
        "summary": "Create an operational action for internal network management.",
        "description": "This operation allows users to create and initiate an operational action related to the internal network management. It is designed for IT professionals who manage network operations and need to execute specific actions effectively.",
        "operationId": "createInternalNetworkOperationAction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate operational actions within the internal network management system. The caller must provide the necessary data as per the defined schema to ensure successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalNetworkOperationActionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternalNetworkOperationActionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternalNetworkOperationActionRequest": {
        "type": "object",
        "properties": {
          "actionType": {
            "type": "string",
            "description": "The type of action being requested.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the action.",
            "example": "NORMAL"
          },
          "reason": {
            "type": "string",
            "description": "The reason for requesting this action.",
            "example": "STANDARD"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user/requester making the request.",
            "example": "STANDARD"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating an operational action.",
        "example": {
          "actionType": "STANDARD",
          "priority": "NORMAL",
          "reason": "STANDARD",
          "requestedBy": "STANDARD",
          "requestedAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "0fac0dad-90d6-5edf-8f05-1c519f702367",
            "correlationId": "064fced9-483e-5716-ad95-b346f1b43fe7",
            "idempotencyKey": "420c6cb9-fcd6-5991-8567-c4eadd6cadae",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-238512"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request context is created.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details surrounding the operational action request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel used for the request."
      },
      "CreateInternalNetworkOperationActionResponse_202": {
        "title": "Operational Action Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action that was executed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "A string representing the type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "A timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for an operational action in the internal network management system. It includes details about the action performed and its metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "0d84080b-57cd-559e-805f-39171e517111",
            "correlationId": "064fced9-483e-5716-ad95-b346f1b43fe7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses in the system.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the action took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema encapsulates metadata for operational actions, providing additional context such as identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, allowing for traceability and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-network-operation-create-internal-network-operation-operational-action"
        },
        "example": "internal-network-operation-create-internal-network-operation-operational-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request, which can be useful for diagnosing performance issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme. The client must include a valid JSON Web Token (JWT) in the Authorization header of the request. The token must be properly formatted and represent the authenticated user's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}