{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Retrieval API",
    "description": "The Customer Account Retrieval API enables businesses to access detailed account information for specific customers within the payment suite. This API provides critical data regarding customer accounts, supporting use cases such as account verification, auditing, and reporting. Typical consumers include finance teams, payment processors, and customer service representatives who require real-time access to account data for operational efficiency. By utilizing this API, businesses can enhance their customer service and streamline financial processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/paysuite/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve customer account details.",
        "description": "This endpoint allows you to fetch detailed information about a specific account associated with a customer in the paysuite system. It provides all relevant account data for the given customer and account identifiers.",
        "operationId": "getCustomerAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Retrieve detailed account information for the specified customer and account IDs. Ensure that the request adheres to the required specifications as defined in the referenced schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccountDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the specified account.",
        "example": "{}"
      },
      "GetCustomerAccountDetailsResponse_200": {
        "title": "Customer Account Operations Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-434581"
          },
          "errorCount": {
            "type": "integer",
            "description": "Count of errors encountered in the operation.",
            "format": "int32",
            "example": 1
          },
          "accountCount": {
            "type": "integer",
            "description": "Total number of accounts associated with the customer.",
            "format": "int32",
            "example": 1
          },
          "accountIdentitySuccessCount": {
            "type": "integer",
            "description": "Count of successful account identity verifications.",
            "format": "int32",
            "example": 1
          },
          "balanceDetailsSuccessCount": {
            "type": "integer",
            "description": "Count of successful retrievals of balance details.",
            "format": "int32",
            "example": 1
          },
          "paymentInstructionSuccessCount": {
            "type": "integer",
            "description": "Count of successful payment instruction operations.",
            "format": "int32",
            "example": 1
          },
          "accounts": {
            "type": "array",
            "description": "List of account details associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "realAccountNumberLast4": "STANDARD",
                "institutionId": "STANDARD",
                "institutionName": "Northstar Banking Service",
                "institutionLoginId": 1,
                "accountDetails": {
                  "id": "STANDARD",
                  "accountNumberDisplay": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "aggregationStatusCode": 1,
                  "status": "ACTIVE",
                  "aggregationSuccessDate": "2026-09-15",
                  "aggregationAttemptDate": "2026-09-15",
                  "createdDate": "2026-09-15",
                  "currency": "USD",
                  "displayPosition": 1,
                  "parentAccount": "STANDARD"
                },
                "balanceDetails": {
                  "id": 1,
                  "realAccountNumberLast4": "STANDARD",
                  "availableBalance": 100.0,
                  "availableBalanceDate": "2026-09-15",
                  "clearedBalance": 100.0,
                  "clearedBalanceDate": "2026-09-15",
                  "aggregationStatusCode": 1,
                  "currency": "USD"
                },
                "accountIdentity": {
                  "holders": [
                    {
                      "relationship": "STANDARD",
                      "ownerName": "Northstar Banking Service",
                      "firstName": "Northstar Banking Service",
                      "middleName": "Northstar Banking Service"
                    }
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations on a customer's accounts.",
        "example": {
          "customerId": "CUST-434581",
          "errorCount": 1,
          "accountCount": 1,
          "accountIdentitySuccessCount": 1,
          "balanceDetailsSuccessCount": 1,
          "paymentInstructionSuccessCount": 1,
          "accounts": [
            {
              "id": "STANDARD",
              "realAccountNumberLast4": "STANDARD",
              "institutionId": "STANDARD",
              "institutionName": "Northstar Banking Service",
              "institutionLoginId": 1,
              "accountDetails": {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "aggregationSuccessDate": "2026-09-15",
                "aggregationAttemptDate": "2026-09-15",
                "createdDate": "2026-09-15",
                "currency": "USD",
                "displayPosition": 1,
                "parentAccount": "STANDARD"
              },
              "balanceDetails": {
                "id": 1,
                "realAccountNumberLast4": "STANDARD",
                "availableBalance": 100.0,
                "availableBalanceDate": "2026-09-15",
                "clearedBalance": 100.0,
                "clearedBalanceDate": "2026-09-15",
                "aggregationStatusCode": 1,
                "currency": "USD"
              },
              "accountIdentity": {
                "holders": [
                  {
                    "relationship": "STANDARD",
                    "ownerName": "Northstar Banking Service",
                    "firstName": "Northstar Banking Service",
                    "middleName": "Northstar Banking Service"
                  }
                ]
              }
            }
          ],
          "metadata": {
            "responseId": "8ddf980a-84f2-59ca-b089-9af3205eac2b",
            "correlationId": "eb3cb43b-d73e-53a7-a95e-c90398bbc3fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-200045"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the account number.",
            "example": "1234"
          },
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "INST-001"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the financial institution.",
            "example": "Example Bank"
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Login ID used at the financial institution.",
            "format": "int32",
            "example": 1001
          },
          "accountDetails": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "balanceDetails": {
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "accountIdentity": {
            "$ref": "#/components/schemas/AccountIdentity"
          }
        },
        "description": "Details about a specific account associated with a customer."
      },
      "AccountDetails": {
        "title": "Account Details Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account details.",
            "example": "ACC-200045"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display format of the account number.",
            "example": "XXXX-XXXX-1234"
          },
          "name": {
            "type": "string",
            "description": "Name of the account.",
            "example": "Saving Account"
          },
          "type": {
            "type": "string",
            "description": "Type of the account.",
            "example": "SAVINGS"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code of account aggregation.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "ACTIVE"
          },
          "aggregationSuccessDate": {
            "type": "string",
            "description": "Date when account aggregation was successful.",
            "example": "2022-01-01T00:00:00Z"
          },
          "aggregationAttemptDate": {
            "type": "string",
            "description": "Date when the aggregation attempt was made.",
            "example": "2022-01-01T00:00:00Z"
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the account was created.",
            "example": "2021-01-01T00:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account.",
            "example": "USD"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Position of the account in a list or display.",
            "format": "int32",
            "example": 1
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier of the parent account if applicable.",
            "example": "ROOT"
          }
        },
        "description": "Detailed information about the account."
      },
      "BalanceDetails": {
        "title": "Balance Details Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "Unique identifier for the balance details.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "Last four digits of the account number.",
            "example": "1234"
          },
          "availableBalance": {
            "type": "number",
            "description": "Current available balance in the account.",
            "example": 1000.0
          },
          "availableBalanceDate": {
            "type": "string",
            "description": "Date when the available balance was recorded.",
            "example": "2022-01-01T00:00:00Z"
          },
          "clearedBalance": {
            "type": "number",
            "description": "Cleared balance in the account.",
            "example": 1000.0
          },
          "clearedBalanceDate": {
            "type": "string",
            "description": "Date when the cleared balance was recorded.",
            "example": "2022-01-01T00:00:00Z"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code of balance aggregation.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the balance.",
            "example": "USD"
          }
        },
        "description": "Information regarding account balances."
      },
      "AccountIdentity": {
        "title": "Account Identity Schema",
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of account holders.",
            "items": {
              "$ref": "#/components/schemas/AccountHolder"
            }
          }
        },
        "description": "Identity information related to the account holder."
      },
      "AccountHolder": {
        "title": "Account Holder Schema",
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account.",
            "example": "Owner"
          },
          "ownerName": {
            "type": "string",
            "description": "Full name of the account holder.",
            "example": "John Doe"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the account holder.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the account holder.",
            "example": "A."
          }
        },
        "description": "Information about an account holder."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating the request with the response.",
            "example": "correlation-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called. This header helps identify which specific service endpoint was used for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-details-by-account-id"
        },
        "example": "open-finance-api-get-account-details-by-account-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request. This header is useful for tracking the application responsible for generating the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Users must include a valid JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}