{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Document Submission API",
    "description": "The Loan Application Document Submission API enables users to upload and manage essential documents related to loan applications. This API facilitates the seamless submission of various documents required for processing loan requests. Typical consumers include financial institutions and loan officers who rely on accurate document management to expedite application processing. By using this API, businesses can enhance their operational efficiency and improve the client experience during the loan application process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents": {
      "post": {
        "tags": [
          "Loan Application"
        ],
        "summary": "Upload documents for a loan application.",
        "description": "This API endpoint allows users to upload necessary documents associated with a specific loan application identified by RES-100045. Ensure that the document format is compliant with the requirements for processing.",
        "operationId": "createLoanApplicationDocument_RES_100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary data for uploading documents related to the loan application identified by RES-100045. This payload must adhere to the specified JSON schema to ensure all required fields are populated correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoanApplicationDocument_RES_100045Request"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new document for the loan application.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateLoanApplicationDocument_RES_100045Response_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateLoanApplicationDocument_RES_100045Request": {
        "title": "Loan Application Document Request",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document being submitted.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant submitting the document.",
            "example": "2307937c-6951-9f8a-e956-c0306913c62b"
          },
          "collateralId": {
            "type": "string",
            "description": "The unique identifier for the collateral associated with the loan application.",
            "example": "4cfbb46f-9656-1f48-6466-5a731f55b33e"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the file being uploaded.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the uploaded file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "A reference to the storage location of the uploaded file.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the uploaded file for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The date when the document expires.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a loan application document operation. This includes details about the document and the context in which it was requested.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "2307937c-6951-9f8a-e956-c0306913c62b",
          "collateralId": "4cfbb46f-9656-1f48-6466-5a731f55b33e",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "requestContext": {
            "requestId": "dd85a904-0686-5662-a92e-4dbba89cf170",
            "correlationId": "7950788a-7376-5f16-9ab4-99762591e0cb",
            "idempotencyKey": "5356bbd5-7a3e-5ac1-88a5-df757e318030",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-982655"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for correlating multiple requests.",
            "example": "corr-abcdef"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to prevent duplicate processing of the request.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that made the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "device-xyz987"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateLoanApplicationDocument_RES_100045Response_201": {
        "title": "Loan Application Document",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., ID, proof of income).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "The unique identifier for the applicant.",
            "example": "55cd529b-9470-dcfa-96cf-a09a4d090d32"
          },
          "collateralId": {
            "type": "string",
            "description": "The identifier for the collateral related to the loan.",
            "example": "0fb85798-e330-5a89-5112-c56c1155755d"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "The SHA-256 checksum of the document file.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document, if applicable.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the document.",
            "example": "127a5276-e2bb-0fd2-6a77-80e3c96df21e"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The verification status of the document.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments related to the document verification.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "The date and time when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "The identifier of the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the document.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata information regarding the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the document associated with a loan application.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "55cd529b-9470-dcfa-96cf-a09a4d090d32",
          "collateralId": "0fb85798-e330-5a89-5112-c56c1155755d",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "127a5276-e2bb-0fd2-6a77-80e3c96df21e",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "bcb2a910-9ddf-56ab-bf79-9978bd9d6ee8",
            "correlationId": "7950788a-7376-5f16-9ab4-99762591e0cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the document was created.",
            "example": "2023-01-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the document.",
            "example": "user-001"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the document was last updated.",
            "example": "2023-01-10T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the document.",
            "example": "user-002"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit details of the document operations."
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response related to the document.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking document processing.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the metadata was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the document processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata related to the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint handling the loan application request, useful for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-create-application-document"
        },
        "example": "banking-loans-openapi-create-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, which helps in identifying the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients can authenticate by including the token in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}