{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchandising Loan API",
    "description": "The Merchandising Loan API provides access to information regarding various merchandising loan options available for businesses. This API allows users to retrieve detailed data on loan offerings, including terms, eligibility criteria, and associated fees. It is primarily utilized by financial institutions and businesses seeking to understand their financing options for merchandising purposes. By leveraging this API, stakeholders can make informed decisions about financing their inventory and expanding their merchandising capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve merchandising loan information.",
        "description": "This endpoint allows you to fetch detailed information regarding merchandising loans in the deposit lending service. You can use this data to analyze loan options and make better financial decisions.",
        "operationId": "getMerchandisingLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for retrieving a merchandising loan under deposit lending. This body contains parameters necessary for fetching the loan details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchandisingLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the merchandising loan data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchandisingLoanResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchandisingLoanRequest": {
        "type": "string",
        "description": "This schema represents the request body structure expected for the GET operation on merchandising loans. The content is currently defined as a string for simplicity.",
        "example": "{}"
      },
      "GetMerchandisingLoanResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of loan items.",
            "example": [
              {
                "customerId": "CUST-112502",
                "accountId": "ACC-850077",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the loan items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the merchandising loan operations GET request.",
        "example": {
          "items": [
            {
              "customerId": "CUST-112502",
              "accountId": "ACC-850077",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "e3d7a44d-8dc4-5745-9b64-5643b382ecc1",
            "correlationId": "c45f5009-317b-51d0-83a5-50f53bd783eb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer."
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan."
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product."
          },
          "principal": {
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the loan record was last updated."
          }
        },
        "description": "Details of a single loan item."
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan."
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount."
          }
        },
        "description": "Principal amount and currency for the loan."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate different calls."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint, used for tracing and monitoring the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-search-merchandising-loan"
        },
        "example": "merchandising-loan-search-merchandising-loan"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request, useful for application performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using a Bearer token, typically in the form of a JSON Web Token (JWT). This allows secure communication between clients and the API, ensuring that requests are authorized.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}