{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Terminal Management API",
    "description": "The Card Terminal Management API is designed to facilitate the administration of card terminal configurations and settings within banking channels. This API supports operations for adding, modifying, or configuring terminal parameters, ensuring efficient management of payment processing systems. Typical consumers include banking operations teams and third-party developers aiming to integrate terminal management capabilities. It promotes streamlined workflows in financial transactions, enhancing user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-administration": {
      "post": {
        "tags": [
          "Card Terminal Management"
        ],
        "summary": "Create a new card terminal administration for a specific channel.",
        "description": "This endpoint allows for the creation of a card terminal administration associated with a specific channel, enabling the management and configuration of terminal settings and functionalities tailored to that channel's requirements.",
        "operationId": "createChannelSpecificCardTerminalAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit telemetry data pertaining to card terminal administration for a specific channel. Ensure that the payload follows the required structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateChannelSpecificCardTerminalAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and ready for use.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificCardTerminalAdministrationResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected server error occurred; please try again later.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificCardTerminalAdministrationResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but could not be processed due to validation errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateChannelSpecificCardTerminalAdministrationResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateChannelSpecificCardTerminalAdministrationResponse_201": {
        "title": "Card Terminal Administration Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the operational region.",
            "example": "US-EAST-1"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-873872"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-305955"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata regarding the response.",
            "example": {
              "responseId": "ebfc02cc-fe4a-55a5-ac5d-16246bc7c474",
              "correlationId": "42593c13-61f6-5bfa-9385-5903bb8ad033",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for card terminal administration operations.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "terminalId": "STANDARD",
          "merchantId": "MER-873872",
          "resourceId": "RES-305955",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ebfc02cc-fe4a-55a5-ac5d-16246bc7c474",
            "correlationId": "42593c13-61f6-5bfa-9385-5903bb8ad033",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreateChannelSpecificCardTerminalAdministrationResponse_500": {
        "title": "Error Response for Card Terminal Administration Operations",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "An error code that identifies the type of error.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing details about the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow stage at which the error occurred.",
            "example": "WF-023"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "Indicates the hop number after which the failure occurred.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "This schema represents the structure of an error response for the Card Terminal Administration operations in case of a server error (HTTP 500).",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-023",
          "failedAfterHop": 3
        }
      },
      "CreateChannelSpecificCardTerminalAdministrationRequest": {
        "title": "Card Terminal Administration Request Body",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographic region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours for the service provided by the terminal.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of transactions allowed per day for the terminal.",
            "format": "int32",
            "example": 1
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the terminal.",
            "example": "MER-533824"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current operational status of the terminal.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for card terminal administration operations specific to a channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "terminalId": "STANDARD",
          "merchantId": "MER-533824",
          "terminalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "228b18c5-b16d-517f-938a-88e114e4b700",
            "correlationId": "42593c13-61f6-5bfa-9385-5903bb8ad033",
            "idempotencyKey": "977ad8ef-89a6-58cd-9202-fc7a3a960fcf",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-932227"
            }
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the service opens, formatted as a string.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the service closes, formatted as a string.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the time window during which the service is operational."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "correlation-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to handle idempotent requests.",
            "example": "idempotency-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "system-A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that made the request.",
            "example": "app-B"
          },
          "channel": {
            "description": "Information about the channel initiating the request.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema containing contextual information for processing the request."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-002"
          }
        },
        "description": "Schema representing information related to the channel making the request."
      },
      "CreateChannelSpecificCardTerminalAdministrationResponse_422": {
        "title": "Card Terminal Administration Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the failure.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the specific request or transaction.",
            "example": "b502e35c-15a9-43a6-9740-c76683144e37"
          },
          "message": {
            "type": "string",
            "description": "A human-readable message providing additional information about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "A string indicating the workflow state or steps related to the operation, which may help in diagnosing the issue.",
            "example": "WF-023"
          }
        },
        "description": "Schema representing the error response for a POST operation related to card terminal administration. This response includes details such as an error code, correlation ID, message, and workflow context.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "b502e35c-15a9-43a6-9740-c76683144e37",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-023"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-023"
        },
        "example": "WF-023"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "17823661-d4e3-41da-b530-f9fd06d14562"
        },
        "example": "17823661-d4e3-41da-b530-f9fd06d14562"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2b3bacc5-93f4-49ac-b3d4-7a96bd7194e1"
        },
        "example": "2b3bacc5-93f4-49ac-b3d4-7a96bd7194e1"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being targeted by the request. This helps in tracing the specific endpoint involved in the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-administration-create-card-terminal-administration"
        },
        "example": "card-terminal-administration-create-card-terminal-administration"
      },
      "X-Runtime-App": {
        "description": "Identifies the application that is executing the request. This is useful for debugging and monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-023"
        },
        "example": "WF-023"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that is being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Card PIN Reset and Device Verification"
        },
        "example": "Card PIN Reset and Device Verification"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow execution, indicating its progress.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2de7bbe9-9b76-47b1-a8ff-e5b775191805"
        },
        "example": "2de7bbe9-9b76-47b1-a8ff-e5b775191805"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Token for authentication, specifically designed for JWT (JSON Web Token). Clients must include this token in the Authorization header for secure access to the API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}