{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payment Details API",
    "description": "The Domestic Payment Details API provides access to comprehensive information regarding specific domestic payments within the Open Banking framework. This API enables users to retrieve detailed payment status, transaction metadata, and associated account information. Typically used by banking applications and financial service providers, it serves developers who need to display or analyze payment details. By integrating this API, organizations can enhance transparency and customer experience in managing domestic payment transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "Domestic Payments"
        ],
        "summary": "Retrieve payment details for a specific domestic payment.",
        "description": "This endpoint allows you to retrieve detailed information about a specific domestic payment identified by its unique payment ID (PAY-300045). The response will include all relevant transaction details, facilitating better tracking and management of the payment.",
        "operationId": "getDomesticPaymentDetailsPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the payment details for a specific domestic payment identified by PAY-300045. The request should include the necessary authentication and authorization tokens in accordance with the API's security requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticPaymentDetailsPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticPaymentDetailsPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticPaymentDetailsPay300045Request": {
        "title": "Domestic Payment Details Request Body",
        "type": "string",
        "description": "This schema represents the request body for retrieving the details of a domestic payment operation.",
        "example": "{}"
      },
      "GetDomesticPaymentDetailsPay300045Response_200": {
        "title": "Domestic Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "An array of payment status entries.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatusEntry"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current page of results."
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results."
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results."
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results."
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results."
                  }
                },
                "description": "Links for pagination and navigating through the payment status records."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 0
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time the first payment became available."
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The date and time the last payment became available."
                  }
                },
                "description": "Metadata regarding the pagination of the response."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response."
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Identifier for tracking the request across systems."
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated."
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the response was processed."
                  }
                },
                "description": "Additional information about the response."
              }
            },
            "description": "Contains the details of the payment status and other relevant metadata.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-431298",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for retrieving payment details within domestic payment operations.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-431298",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "f77d3887-179f-5c8b-9cdc-ec73683f3e12",
            "correlationId": "b3e32b4b-e150-58c5-a8b2-a9baf858399f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatusEntry": {
        "title": "Payment Status Entry",
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment (e.g., Pending, Completed, Failed)."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "The local payment instrument used for the transaction."
              },
              "Status": {
                "type": "string",
                "description": "Status of the payment as reported by the payment system."
              },
              "StatusReason": {
                "type": "string",
                "description": "Code representing the reason for the payment status."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Description providing context for the payment status reason."
              }
            },
            "description": "Detailed information about the payment status."
          }
        },
        "description": "Describes an entry of payment status including transaction ID and status details."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for securing API endpoints. Clients must include the token in the Authorization header in the format: 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}