{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Products Retrieval API",
    "description": "The Customer Products Retrieval API provides an interface for accessing information about customer-specific products within the banking management ecosystem. This endpoint allows financial service providers to query and retrieve detailed product offerings associated with individual customers. Typical consumers include banking software, CRM systems, and customer service applications which require up-to-date product data to enhance customer engagement and service delivery. Use this API to obtain insights that support personalized banking experiences and improve customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/customer-products": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve a list of products associated with customers.",
        "description": "This endpoint allows you to fetch the products linked to a specific customer. It returns detailed information regarding the products, enhancing customer management capabilities.",
        "operationId": "getCustomerProducts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Requests customer product data for retrieval. Ensure all necessary parameters are included in the request body to properly filter and retrieve the desired product information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerProductsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer products.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerProductsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerProductsRequest": {
        "type": "string",
        "description": "A request body schema for retrieving customer products in the customer management API.",
        "example": "{}"
      },
      "GetCustomerProductsResponse_200": {
        "title": "Customer Products Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of customer product items.",
            "example": [
              {
                "customerId": "CUST-792368",
                "partyId": "PARTY-406099",
                "productCode": "CHK-PREMIUM-US",
                "effectiveDate": "2026-09-15",
                "relationshipTier": "GOLD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerProductItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for customer product operations.",
        "example": {
          "items": [
            {
              "customerId": "CUST-792368",
              "partyId": "PARTY-406099",
              "productCode": "CHK-PREMIUM-US",
              "effectiveDate": "2026-09-15",
              "relationshipTier": "GOLD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "327ff584-7f84-56d8-aa7f-24686e176ac3",
            "correlationId": "0b53a801-5562-5ac4-9adb-6e10914109db",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerProductItem": {
        "title": "Customer Product Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST12345"
          },
          "partyId": {
            "type": "string",
            "description": "Identifier for the party associated with the product.",
            "example": "PARTY67890"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "PRODUCT001"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the product is effective.",
            "example": "2023-01-01"
          },
          "relationshipTier": {
            "type": "string",
            "description": "Tier of the customer relationship.",
            "example": "Gold"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the item was last updated.",
            "example": "2023-06-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual customer product item."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier used for tracking the request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-06-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-products-and-services-search-customer-products-and-services"
        },
        "example": "customer-products-and-services-search-customer-products-and-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. It is a bearer authentication mechanism where the client must include the token in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}