{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Event Status Update API",
    "description": "This API allows users to update the status of specific events related to webhook notifications. By providing the webhook ID and event ID, consumers can indicate whether an event has been processed, failed, or is pending. Typical use cases involve monitoring and managing the state of automated notifications in real-time, enhancing the reliability of data delivery systems. This API is particularly useful for developers integrating webhook functionality into their applications, ensuring that event state management is streamlined and robust.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}/status": {
      "put": {
        "tags": [
          "Webhooks Management"
        ],
        "summary": "Update the status of a webhook event.",
        "description": "This endpoint allows you to update the status of a specific webhook event identified by its resource ID. It is essential for managing the flow of events in your application and ensuring that any necessary actions are taken based on the updated status.",
        "operationId": "updateWebhookEventStatusForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Update the status of the specified webhook event. Ensure that the request body conforms to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEventStatusForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the status has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookEventStatusForRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookEventStatusForRes100045Request": {
        "required": [
          "requestContext",
          "status"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the request.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contains contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for updating the status of an event.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "804dfced-a245-510a-9428-3f2b33bec155",
            "correlationId": "ac2686b4-153a-5886-9a54-fb35856eee7c",
            "idempotencyKey": "d7e78fa8-7f21-5349-82c1-39d8be485a42",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-956734"
            }
          }
        }
      },
      "RequestContext": {
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, SMS).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel."
      },
      "UpdateWebhookEventStatusForRes100045Response_200": {
        "title": "Webhook Event Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the webhook event.",
            "example": "ACTIVE"
          },
          "metadata": {
            "$ref": "#/components/schemas/WebhookEventMetadata"
          }
        },
        "description": "This schema represents the response returned for a successful webhook event status operation.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "acea435f-fb75-5b6c-bd52-439d265a36f9",
            "correlationId": "ac2686b4-153a-5886-9a54-fb35856eee7c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookEventMetadata": {
        "title": "Webhook Event Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response associated with the webhook event.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate related operations or events.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the webhook event occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the webhook event, providing additional contextual information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-change-webhook-subscription-event-status"
        },
        "example": "open-finance-api-change-webhook-subscription-event-status"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The tokens are expected to be in JWT (JSON Web Token) format, providing a secure way to transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}