{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Bill Pay Switches Retrieval API",
    "description": "The Bill Pay Switches Retrieval API allows businesses to access the status of bill pay switches for individual customers. This endpoint is essential for financial institutions and service providers looking to manage customer preferences regarding bill payments. By querying a specific customer's bill pay switch status, developers can ensure personalized experiences and streamline payment processes. Typical consumers of this API include customer service representatives and fintech applications that enhance user engagement and transaction efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/transfer/customers/{customerId}/bill-pay-switches": {
      "get": {
        "tags": [
          "Billing"
        ],
        "summary": "Retrieve bill pay switches for a specific customer.",
        "description": "This endpoint allows you to fetch the current bill pay switches status for the specified customer identified by their unique ID. It provides details on whether the bill pay feature is enabled or disabled for the customer.",
        "operationId": "getBillPaySwitchesForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the bill pay switches for a specific customer identified by CUST-100045. It contains the necessary parameters required to perform the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBillPaySwitchesForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the bill pay switches data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBillPaySwitchesForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBillPaySwitchesForCustomerRequest": {
        "type": "string",
        "description": "Schema representing a request body in JSON format for bill pay switches operations.",
        "example": "{}"
      },
      "GetBillPaySwitchesForCustomerResponse_200": {
        "title": "Bill Pay Switches Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-283337"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "switches": {
            "type": "array",
            "description": "List of switches associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "status": "ACTIVE",
                "failureReason": "STANDARD",
                "createdDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Switch"
            }
          },
          "metadata": {
            "description": "Metadata related to the response for further tracing and diagnostics.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving bill pay switches information for a specific customer.",
        "example": {
          "customerId": "CUST-283337",
          "customerType": "STANDARD",
          "switches": [
            {
              "id": "STANDARD",
              "status": "ACTIVE",
              "failureReason": "STANDARD",
              "createdDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "35a81f3a-af56-5433-8d02-e2a5b7574119",
            "correlationId": "47df3abb-caf8-5ad9-8bb9-290630d16fdd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Switch": {
        "title": "Switch Information",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the switch.",
            "example": "switch1"
          },
          "status": {
            "type": "string",
            "description": "Current status of the switch (e.g., active, inactive).",
            "example": "active"
          },
          "failureReason": {
            "type": "string",
            "description": "Reason for switch failure, if applicable."
          },
          "createdDate": {
            "type": "string",
            "description": "Date when the switch was created.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Information about a specific switch associated with a customer."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests across systems.",
            "example": "correlation-7890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-pay-switches"
        },
        "example": "open-finance-api-get-all-pay-switches"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token, specifically in the JavaScript Object Notation Web Token (JWT) format. Clients must include the JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}