{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity History API",
    "description": "The Channel Activity History API provides access to detailed historical data regarding channel activities within the banking operational services framework. This API allows businesses to analyze interaction patterns and performance metrics over time. Typical use cases include generating reports, monitoring compliance, and enhancing customer engagement strategies by understanding user behaviors. Developers can integrate this API to retrieve valuable insights typical consumers seek to optimize their operational processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-history": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve the activity history of a specific operational channel.",
        "description": "This endpoint allows developers to access detailed historical activity data related to a particular operational channel. The returned data can be utilized for analysis, reporting, and enhancing operational efficiency.",
        "operationId": "getChannelActivityHistory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Contains the parameters required to retrieve the history of channel activity operations. This includes filters that determine the specific records to be fetched, allowing for granular insights into channel behavior over time.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelActivityHistoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the channel activity history data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelActivityHistoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelActivityHistoryRequest": {
        "type": "string",
        "description": "This schema represents the JSON string body for the GET request related to channel activity history operations.",
        "example": "{}"
      },
      "GetChannelActivityHistoryResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of channel activity records.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-296791",
                "accountId": "ACC-717548",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChannelActivityRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the activity records.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET channel activity history operation, providing information about the activities, pagination, and metadata.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-296791",
              "accountId": "ACC-717548",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "47a7695f-e6ea-586f-9f0a-83368bc6c995",
            "correlationId": "bbb6194d-db9e-523e-8205-576e18cac20d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChannelActivityRecord": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "OP12345"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the activity.",
            "example": "CUST001"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account related to the activity.",
            "example": "ACC001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the activity was requested.",
            "example": "2023-10-01T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the activity record was last updated.",
            "example": "2023-10-01T12:10:00Z"
          }
        },
        "description": "Represents a single channel activity record containing operational details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the data set.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response, detailing the current page, page size, and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing related requests or actions.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-history-search-channel-activity-history"
        },
        "example": "channel-activity-history-search-channel-activity-history"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via a JSON Web Token (JWT). Clients must include the JWT in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}