{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relations Management API",
    "description": "The Merchant Relations Management API facilitates dynamic updates to merchant relationships, enabling businesses to adapt and enhance their interactions with partners. This API allows authorized users to modify key relationship attributes, ensuring that partnership agreements are current and reflective of business needs. Typical consumers include merchant account managers and business development teams who require seamless adjustments to merchant profiles. With this API, organizations can maintain strong partnerships, optimize merchant services, and respond quickly to market changes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations/{param1}": {
      "patch": {
        "tags": [
          "Merchant Relations"
        ],
        "summary": "Update Merchant Relation for a Card",
        "description": "This endpoint allows you to update the merchant relation associated with a specific card by providing the necessary details in the request body. Ensure you have the correct permissions to modify merchant relations.",
        "operationId": "updateMerchantRelationForCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update merchant relations for the specified card. Please provide the necessary attributes in JSON format to ensure accurate updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantRelationForCardRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMerchantRelationForCardResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMerchantRelationForCardRequest": {
        "title": "Merchant Relations Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the merchant's information.",
            "$ref": "#/components/schemas/MerchantChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the change to take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure for the Merchant Relations Update Request body used in PATCH operations.",
        "example": {
          "changes": {
            "merchantId": "MER-937377",
            "legalName": "Olivia Bennett",
            "merchantCategoryCode": "5411"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "1628743f-ec1d-58e8-b066-8c8dfc7fe7b1",
            "correlationId": "d7087b96-1c21-5cc3-a030-3be061775e88",
            "idempotencyKey": "968bf4ff-c4fc-57df-b248-dac6cffa6ed3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-374332"
            }
          }
        }
      },
      "MerchantChanges": {
        "title": "Merchant Changes",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant.",
            "example": "MER-800045"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant.",
            "example": "Example Merchant LLC"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code associated with the merchant's business.",
            "example": "5812"
          }
        },
        "description": "Details of the changes being requested for the merchant's information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating multiple requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures the request is only processed once.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-05T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Billing System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Merchant Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains context information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "UpdateMerchantRelationForCardResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on merchant relations. This schema contains the response details including version, status, update timestamp, and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0a58973f-95ec-5724-a1b2-75ee2d0357b5",
            "correlationId": "d7087b96-1c21-5cc3-a030-3be061775e88",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate multiple API requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was done.",
            "example": "string"
          }
        },
        "description": "Metadata structure containing identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-update-merchant-relations"
        },
        "example": "merchant-relations-update-merchant-relations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JWT (JSON Web Token) to be included in the HTTP Authorization header for secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}