{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Processing API",
    "description": "The Order Processing API facilitates the seamless management of orders within the banking services ecosystem. This API allows users to initiate and submit orders for operational services efficiently. Typical consumers include banking personnel, financial systems, and third-party applications that require order processing capabilities. By utilizing this API, organizations can streamline order workflows, enhance service delivery, and improve overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/processing-order": {
      "post": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Process an operational order",
        "description": "This endpoint allows users to submit and process an operational order in the system. It is designed to handle various types of orders and integrates with the order management workflow, ensuring that all necessary steps are taken from submission to fulfillment.",
        "operationId": "processOrderOperationalService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a processing order to the operational services. It contains all the necessary information required to create and process the order.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ProcessOrderOperationalServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the processing order was initiated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProcessOrderOperationalServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ProcessOrderOperationalServiceRequest": {
        "title": "ProcessingOrderRequest",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the order.",
            "example": "CUST-205429"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account related to the customer.",
            "example": "ACC-135218"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the order processing request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information about the request for processing the order.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for processing an order operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-205429",
          "accountId": "ACC-135218",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "218b42c0-f1be-5ab2-9ef3-113bfa20c61e",
            "correlationId": "3737628a-2e7b-5a51-b0b8-722b9523a8f0",
            "idempotencyKey": "7c075952-0906-5341-ac88-4082530371e9",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-550191"
            }
          }
        }
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for this specific request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across different systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system initiating the request.",
            "example": "OrderManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "OrderApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel through which the request is initiated."
      },
      "ProcessOrderOperationalServiceResponse_201": {
        "title": "Processing Order Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the order.",
            "example": "CUST-276707"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account related to the order.",
            "example": "ACC-249035"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource being processed.",
            "example": "RES-850945"
          },
          "status": {
            "type": "string",
            "description": "Current status of the processing operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the order operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ProcessingMetadata"
          }
        },
        "description": "Response schema for a successfully processed order operation. Contains details about the operation, customer, account, and associated metadata.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-276707",
          "accountId": "ACC-249035",
          "resourceId": "RES-850945",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "23d83a6f-0ad1-50d3-ac0c-6abc52bec03d",
            "correlationId": "3737628a-2e7b-5a51-b0b8-722b9523a8f0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProcessingMetadata": {
        "title": "Processing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates this response with its corresponding request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the processing order response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "processing-order-create-processing-order"
        },
        "example": "processing-order-create-processing-order"
      },
      "x-runtime-app": {
        "description": "Name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header of their requests, using the format: 'Authorization: Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}