{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Settlement Accounts API",
    "description": "The Manage Settlement Accounts API allows businesses to update details of existing settlement accounts efficiently. This endpoint supports the modification of specified account attributes, catering to the dynamic requirements of payment processing. Typical consumers of this API include financial institutions and payment service providers that need to keep their account information up-to-date. By providing a streamlined approach to managing accounts, this API enhances operational agility and ensures compliance with evolving financial regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "patch": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Update a settlement account",
        "description": "This endpoint allows you to update the details of a specific settlement account identified by its unique account number. Make sure to provide the necessary fields that need to be updated in the request body.",
        "operationId": "updateSettlementAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the settlement account details. This body allows you to provide the necessary information required for modifying the existing account, such as updates to attributes or settings.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSettlementAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and changes have been applied.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSettlementAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSettlementAccountAcc200045Request": {
        "type": "object",
        "properties": {
          "schedule": {
            "description": "The schedule for the settlement account.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this settlement account is the default one.",
            "example": true
          },
          "status": {
            "type": "string",
            "description": "The status of the settlement account.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the PATCH request body to update settlement accounts.",
        "example": {
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "315ddf4e-f5a6-5593-9665-bf3ad019089a",
            "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
            "idempotencyKey": "401f36a4-57b7-5d73-8048-1c0162d95afd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-694447"
            }
          }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of the settlements.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for the settlement.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone for the settlement schedule.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days to delay the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "The minimum payout amount required for the settlement.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Details about the settlement schedule."
      },
      "MinimumPayoutAmount": {
        "title": "Minimum Payout Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum payout amount.",
            "example": "string"
          }
        },
        "description": "Details of the minimum payout amount for the settlement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests.",
            "example": "correlation-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that made the request.",
            "example": "system-a"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application that made the request.",
            "example": "app-a"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel.",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Represents the channel information related to the request."
      },
      "UpdateSettlementAccountAcc200045Response_200": {
        "title": "Settlement Account Response",
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "The unique identifier for the settlement account.",
            "example": "ACC-845566"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant associated with this settlement account.",
            "example": "MER-740084"
          },
          "account": {
            "description": "Details of the bank account linked to the settlement account.",
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "description": "Schedule information related to the settlement process.",
            "$ref": "#/components/schemas/SettlementSchedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "The current verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "The current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit information for the settlement account.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the settlement account after PATCH operation.",
        "example": {
          "settlementAccountId": "ACC-845566",
          "merchantId": "MER-740084",
          "account": {
            "bankCode": "CODE-273",
            "branchCode": "CODE-570",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "567516c6-8c31-584c-85c0-1a160151c3a2",
            "correlationId": "c77de93f-998b-5ed7-a5a3-0c874e87cd0d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The bank code of the financial institution.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code for the bank account.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "The masked account number for security purposes.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of the bank account (e.g., savings, checking).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the bank account.",
            "example": "string"
          }
        },
        "description": "Details of the bank account linked to the settlement account."
      },
      "SettlementSchedule": {
        "title": "Settlement Schedule",
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency at which settlements occur (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for processing settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone in which the settlement operates.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days to delay settlements.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "The minimum payout amount required to process settlements.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schedule information related to the settlement process."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the settlement account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the settlement account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the settlement account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the settlement account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit information for the settlement account."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the correlation of requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-settlement-account"
        },
        "example": "banking-p2m-openapi-update-settlement-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. It requires a bearer token to be included in the authorization header of the HTTP request. The provided token should be in JWT (JSON Web Token) format, which typically includes claims and is encoded in a compact, URL-safe manner.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}