{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Mortgage Loan Details API",
    "description": "The Mortgage Loan Details API provides access to comprehensive information about specific mortgage loans. Users can retrieve detailed insights such as loan amounts, interest rates, and repayment terms for the given loan identifier. This API is essential for financial institutions, mortgage brokers, and customers looking to compare products or assess loan specifics. Enhanced decision-making and onboarding are facilitated through the instant access to relevant mortgage loan data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/mortgage-loan/{param1}": {
      "get": {
        "tags": [
          "Mortgage Loans"
        ],
        "summary": "Retrieve details of a specific mortgage loan.",
        "description": "This endpoint allows the user to retrieve comprehensive information about a specific mortgage loan identified by its unique loan number. The data returned will include all relevant details pertaining to the loan's terms, conditions, and status.",
        "operationId": "getMortgageLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about a specific mortgage loan with loan ID LOAN-500045. This request may include parameters to specify which details are required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMortgageLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning mortgage loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMortgageLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMortgageLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body structure required for the GET operation related to mortgage loans. It is expected to be a string that may carry specific identification or data as per the application requirements.",
        "example": "{}"
      },
      "GetMortgageLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-304810"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the loan account.",
            "example": "ACC-653862"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product type.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "propertyId": {
            "type": "string",
            "description": "The unique identifier for the property being financed.",
            "example": "STANDARD"
          },
          "propertyValue": {
            "description": "The value of the property against which the loan is secured.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "loanToValuePercent": {
            "type": "number",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the loan record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving mortgage loan details.",
        "example": {
          "customerId": "CUST-304810",
          "accountId": "ACC-653862",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "propertyId": "STANDARD",
          "propertyValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "loanToValuePercent": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "67a32652-6d82-581c-9215-d11713d05306",
            "correlationId": "041f25b3-fece-5c25-a519-38faa68968b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is expressed (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money along with its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate logs for this request.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-09-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata about the loan processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that was accessed. Useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "mortgage-loan-get-mortgage-loan"
        },
        "example": "mortgage-loan-get-mortgage-loan"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request. Helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of the HTTP request. Please ensure that the token is correctly formatted and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}