{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Bank Account Retrieval API",
    "description": "The Internal Bank Account Retrieval API enables users to access detailed information about internal bank accounts within the operational banking services framework. By utilizing the account identifier, consumers can fetch pertinent account data, facilitating insights for financial operations and decision-making. This API is particularly useful for internal financial analysts, operational teams, and audit departments seeking to streamline banking data access and enhance transparency. It supports efficient account management and alignment with compliance requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account/{param1}": {
      "get": {
        "tags": [
          "Internal Bank Account Management"
        ],
        "summary": "Retrieve Internal Bank Account Details",
        "description": "This endpoint allows clients to fetch detailed information about a specific internal bank account using its unique account identifier. Utilize this resource to view account status, balance, and other pertinent details.",
        "operationId": "getInternalBankAccountAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about the internal bank account identified by ACC-200045. This request should provide the necessary parameters to obtain the relevant account details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalBankAccountAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the account details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalBankAccountAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalBankAccountAcc200045Request": {
        "type": "string",
        "description": "The request body for fetching internal bank account operations.",
        "example": "{}"
      },
      "GetInternalBankAccountAcc200045Response_200": {
        "title": "Bank Account Operation Response",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "The identifier for the customer associated with the operation.",
            "example": "CUST-483699"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the bank account involved in the operation.",
            "example": "ACC-381064"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation.",
            "example": "NORMAL"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record related to the operation.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking the operation across systems.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the operation was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the operation response.",
            "example": {
              "responseId": "301d733f-71f4-58d5-b336-7b529bc465e2",
              "correlationId": "405263f8-e2d2-5301-a678-87c0edf3a307",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response for a bank account operation request.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-483699",
          "accountId": "ACC-381064",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "301d733f-71f4-58d5-b336-7b529bc465e2",
            "correlationId": "405263f8-e2d2-5301-a678-87c0edf3a307",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-get-internal-bank-account"
        },
        "example": "internal-bank-account-get-internal-bank-account"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. The client must include a valid JWT in the Authorization header of the HTTP request in the format: 'Authorization: Bearer <token>'. Ensure that the token has not expired and meets the required permissions for the requested resource.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}