{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Position Tracking API",
    "description": "The Securities Position Tracking API provides businesses with crucial insights into their securities holdings within their banking accounts. By leveraging this endpoint, users can retrieve detailed information about their current securities positions, including asset types and values. This API serves financial institutions, investment managers, and individual investors who need to monitor and manage their investments effectively. With a focus on real-time data retrieval, this endpoint supports informed decision-making in the dynamic securities market.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping/{param1}": {
      "get": {
        "tags": [
          "Securities Position Management"
        ],
        "summary": "Retrieve a specific securities position.",
        "description": "Fetch the details of a specific securities position by its unique identifier. This endpoint allows users to obtain comprehensive information regarding the specified position, including its current status and relevant metrics.",
        "operationId": "getSecuritiesPositionKeepingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve detailed information regarding securities positions. Ensure that all required parameters are provided in the request for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSecuritiesPositionKeepingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested securities position data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSecuritiesPositionKeepingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSecuritiesPositionKeepingByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to securities position keeping.",
        "example": "{}"
      },
      "GetSecuritiesPositionKeepingByIdResponse_200": {
        "title": "Securities Position Keeping Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-207123"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-655104"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger being referenced.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the ledger balance is denominated.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The total balance available in the account on the ledger date.",
            "example": 100.0
          },
          "safekeepingAccountId": {
            "type": "string",
            "description": "The unique identifier for the safekeeping account.",
            "example": "ACC-143283"
          },
          "custodyLocation": {
            "type": "string",
            "description": "The location where the securities are held in custody.",
            "example": "STANDARD"
          },
          "positionQuantity": {
            "type": "integer",
            "description": "The quantity of positions held in the account.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating whether it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the record indicating updates or changes.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation on securities position keeping. It includes various account and position details for a particular ledger date.",
        "example": {
          "accountId": "ACC-207123",
          "customerId": "CUST-655104",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "safekeepingAccountId": "ACC-143283",
          "custodyLocation": "STANDARD",
          "positionQuantity": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8a7f183e-2457-5636-bdd0-66e62acdbd92",
            "correlationId": "71b14b0e-e2fb-5c60-98e4-67868c426133",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used for tracking requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-09-30T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata related to the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-get-securities-position-keeping"
        },
        "example": "securities-position-keeping-get-securities-position-keeping"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer token, which is a JSON Web Token (JWT) that is used to securely transmit information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}