{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Gap Analysis Review Submission API",
    "description": "This API facilitates the submission of reviews pertaining to gap analyses in banking models. Users can submit detailed feedback or evaluations based on their findings, which helps in enhancing decision-making and model accuracy. Typical consumers of this API include financial analysts, banking professionals, and developers working on financial modeling tools. By facilitating comprehensive reviews, organizations can ensure continuous improvement and alignment of their banking strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/gap-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Gap Analysis"
        ],
        "summary": "Create a Review for Gap Analysis Model",
        "description": "This endpoint allows users to submit a review for the specified gap analysis model identified by RES-100045. It enables the user to provide feedback or ratings based on their analysis, contributing to the overall evaluation of the model's effectiveness.",
        "operationId": "createGapAnalysisReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The payload for submitting a review for the specified gap analysis model. This object should adhere to the defined schema, which includes all required fields and their respective types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateGapAnalysisReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing, but not completed yet. Check back later for the result.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateGapAnalysisReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateGapAnalysisReviewRequest": {
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, detailing what aspects are being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific aspect of the review scope.",
              "example": "Compliance"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier for the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Deadline for the review completion in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Context related to the request, containing various identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "2c94cad7-ecea-58a3-af15-1790c1c23a56",
            "correlationId": "ebaf9674-97f2-55ed-a01a-ed22eb513a58",
            "idempotencyKey": "6a3be322-cf83-5d80-b976-9cf79969601c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-387896"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate logs for debugging.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure operation idempotency.",
            "example": "idempotentKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-15T10:15:30Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "Web App"
          },
          "channel": {
            "description": "Channel information from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, e.g., web, mobile, API.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device789"
          }
        }
      },
      "CreateGapAnalysisReviewResponse_202": {
        "title": "Gap Analysis Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action performed during the gap analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the gap analysis review.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the review was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/GapAnalysisMetadata"
          }
        },
        "description": "This schema represents the response from a gap analysis review operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "5b8c92c8-968f-5866-b329-e8db5ed08fbc",
            "correlationId": "ebaf9674-97f2-55ed-a01a-ed22eb513a58",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "GapAnalysisMetadata": {
        "title": "Gap Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier useful for tracking requests across multiple services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the gap analysis was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata related to the gap analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "gap-analysis-review-gap-analysis"
        },
        "example": "gap-analysis-review-gap-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, where the token is provided in a JWT (JSON Web Token) format. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}