{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debits Management API",
    "description": "The Direct Debits Management API enables financial institutions to access and manage direct debit mandates. This endpoint allows consumers to retrieve detailed information about their direct debit agreements, making it easier for them to monitor their payment obligations. Typical users include banking applications and financial dashboards that require insights into direct debit arrangements. The API supports integration with various apps to enhance customer experience and facilitate better financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/direct-debits": {
      "get": {
        "tags": [
          "Direct Debits"
        ],
        "summary": "Retrieve a list of direct debits.",
        "description": "This endpoint allows users to fetch the details of all direct debits associated with their account, providing essential information such as amounts, dates, and statuses. It's useful for managing and reviewing your direct debit transactions efficiently.",
        "operationId": "getDirectDebits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve direct debit information through the AISP API. It requires specific parameters to be included to successfully fetch the relevant direct debit data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDirectDebitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of direct debits.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDirectDebitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDirectDebitsRequest": {
        "title": "Direct Debits Operations GET Request Body",
        "type": "string",
        "description": "This schema represents the structure of the request body used for retrieving information about direct debit operations.",
        "example": "{}"
      },
      "GetDirectDebitsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "DirectDebit": {
                "type": "array",
                "description": "List of direct debit details.",
                "items": {
                  "$ref": "#/components/schemas/DirectDebitDetails"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/PaginationLinks"
              },
              "Meta": {
                "$ref": "#/components/schemas/MetaData"
              },
              "metadata": {
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            },
            "description": "Contains details about direct debits.",
            "example": {
              "DirectDebit": [
                {
                  "AccountId": "ACC-528277",
                  "id": "STANDARD",
                  "statusCode": "CODE-767",
                  "MandateRelatedInformation": {
                    "MandateIdentification": "2026-09-15",
                    "Classification": "STANDARD",
                    "CategoryPurposeCode": "CODE-108",
                    "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                    "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                    "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                    "Frequency": {
                      "Type": "STANDARD",
                      "CountPerPeriod": 1,
                      "PointInTime": "STANDARD"
                    },
                    "Reason": "STANDARD"
                  },
                  "Name": "Northstar Banking Service",
                  "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                  "PreviousPaymentAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "example": {
          "Data": {
            "DirectDebit": [
              {
                "AccountId": "ACC-528277",
                "id": "STANDARD",
                "statusCode": "CODE-767",
                "MandateRelatedInformation": {
                  "MandateIdentification": "2026-09-15",
                  "Classification": "STANDARD",
                  "CategoryPurposeCode": "CODE-108",
                  "FirstPaymentDateTime": "2026-09-15T14:30:00Z",
                  "RecurringPaymentDateTime": "2026-09-15T14:30:00Z",
                  "FinalPaymentDateTime": "2026-09-15T14:30:00Z",
                  "Frequency": {
                    "Type": "STANDARD",
                    "CountPerPeriod": 1,
                    "PointInTime": "STANDARD"
                  },
                  "Reason": "STANDARD"
                },
                "Name": "Northstar Banking Service",
                "PreviousPaymentDateTime": "2026-09-15T14:30:00Z",
                "PreviousPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "501ee62c-915c-5728-91b9-99f05997f143",
            "correlationId": "001fde32-6b67-59ce-b8a5-3f087b264160",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebitDetails": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the direct debit."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the direct debit."
          },
          "statusCode": {
            "type": "string",
            "description": "Current status of the direct debit."
          },
          "MandateRelatedInformation": {
            "$ref": "#/components/schemas/MandateInformation"
          },
          "Name": {
            "type": "string",
            "description": "Name of the individual or entity associated with the direct debit."
          },
          "PreviousPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the previous payment."
          },
          "PreviousPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "Details of a specific direct debit."
      },
      "MandateInformation": {
        "type": "object",
        "properties": {
          "MandateIdentification": {
            "type": "string",
            "description": "Unique identifier for the mandate."
          },
          "Classification": {
            "type": "string",
            "description": "Classification of the mandate."
          },
          "CategoryPurposeCode": {
            "type": "string",
            "description": "Category purpose code indicating the type of direct debit."
          },
          "FirstPaymentDateTime": {
            "type": "string",
            "description": "Date and time of the first payment under the mandate."
          },
          "RecurringPaymentDateTime": {
            "type": "string",
            "description": "Date and time for recurring payments."
          },
          "FinalPaymentDateTime": {
            "type": "string",
            "description": "Date and time for the final payment under the mandate."
          },
          "Frequency": {
            "$ref": "#/components/schemas/FrequencyDetails"
          },
          "Reason": {
            "type": "string",
            "description": "Reason for the direct debit."
          }
        },
        "description": "Information related to the mandate of the direct debit."
      },
      "FrequencyDetails": {
        "type": "object",
        "properties": {
          "Type": {
            "type": "string",
            "description": "Type of frequency (e.g. weekly, monthly)."
          },
          "CountPerPeriod": {
            "type": "integer",
            "description": "Number of payments per period.",
            "format": "int32"
          },
          "PointInTime": {
            "type": "string",
            "description": "Point in time for scheduling payments."
          }
        },
        "description": "Details about the frequency of payments."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Monetary amount of the previous payment."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the previous payment."
          }
        },
        "description": "Details about the previous payment amount."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page."
          }
        },
        "description": "Contains links for pagination of results."
      },
      "MetaData": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time of the first available record."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time of the last available record."
          }
        },
        "description": "Meta information about the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-direct-debits"
        },
        "example": "accounts-api-get-direct-debits"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for secure access. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}