{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Asset Directory API",
    "description": "The Party Asset Directory API provides comprehensive access to a repository of asset information associated with various parties in the banking domain. This API allows users to retrieve details about assets linked to specific parties, aiding in collateral administration and risk assessment processes. Typical consumers include financial institutions, asset managers, and compliance teams who require accurate asset data for transactional or regulatory purposes. With intuitive query capabilities, this API facilitates easier asset management and inventory tracking.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/collateral-administration/party-asset-directory/{param1}": {
      "get": {
        "tags": [
          "Collateral Management"
        ],
        "summary": "Retrieve Party Asset Details",
        "description": "Fetches detailed information about a specific party asset identified by PARTY-600045. This endpoint allows users to obtain key data relevant to the asset, enabling better decision-making and asset management.",
        "operationId": "getPartyAssetById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the specified party's asset directory. It contains necessary parameters to filter and process the request appropriately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyAssetByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the asset directory for the specified party.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyAssetByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyAssetByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the Party Asset Directory.",
        "example": "{}"
      },
      "GetPartyAssetByIdResponse_200": {
        "type": "object",
        "properties": {
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral.",
            "example": "STANDARD"
          },
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party involved.",
            "example": "PARTY-615232"
          },
          "assetType": {
            "type": "string",
            "description": "Type of asset (e.g., EQUITY, BOND).",
            "example": "STANDARD"
          },
          "marketValue": {
            "description": "Current market value of the asset.",
            "$ref": "#/components/schemas/MarketValue"
          },
          "valuationDate": {
            "type": "string",
            "description": "Date on which the asset's value was assessed.",
            "example": "2026-09-15"
          },
          "securedExposureId": {
            "type": "string",
            "description": "Identifier for secured exposure associated with this asset.",
            "example": "STANDARD"
          },
          "haircutPercent": {
            "type": "number",
            "description": "Percentage haircut applied to the asset valuation.",
            "example": 100.0
          },
          "lienStatus": {
            "type": "string",
            "description": "Current lien status of the asset (e.g., FIRST, SECOND).",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record (e.g., ACTIVE, INACTIVE).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the asset record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the asset record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the asset record response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for asset directory details related to a specific party.",
        "example": {
          "collateralId": "STANDARD",
          "partyId": "PARTY-615232",
          "assetType": "STANDARD",
          "marketValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "valuationDate": "2026-09-15",
          "securedExposureId": "STANDARD",
          "haircutPercent": 100.0,
          "lienStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8736bb46-d010-5184-a49e-f85a544841bc",
            "correlationId": "504dc321-56ce-5a41-bde6-a3d99da770e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing the market value.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the market value amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Schema representing the market value of the asset."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESPONSE789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "CORRELATION012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing additional metadata for the asset response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint involved in the request. This header can help track the request through different systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-asset-directory-get-party-asset-directory"
        },
        "example": "party-asset-directory-get-party-asset-directory"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed the request. This information is useful for monitoring and diagnosing application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). To access secure endpoints, include a valid JWT in the `Authorization` header formatted as `Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}