{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Payroll Services API",
    "description": "The Corporate Payroll Services API enables organizations to manage and streamline their payroll operations effectively. It provides access to essential features such as retrieving employee payroll data, processing payroll transactions, and managing payroll-related inquiries. This API is designed for HR and finance professionals who seek to integrate payroll functionalities into their applications, ensuring timely and accurate employee payments. Utilize this API to enhance payroll efficiency and maintain compliance within corporate structures.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/corporate-payroll-services": {
      "get": {
        "tags": [
          "Corporate Banking"
        ],
        "summary": "Retrieve corporate payroll services information.",
        "description": "This endpoint fetches detailed information about the available corporate payroll services provided by the trade banking division, helping businesses manage their payroll processes efficiently.",
        "operationId": "getCorporatePayrollServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to corporate payroll services offered under trade banking. It allows the client to specify the parameters for the desired payroll operations, ensuring that the relevant details are provided for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporatePayrollServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved corporate payroll services data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporatePayrollServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporatePayrollServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the corporate payroll services GET operation in the trade banking API.",
        "example": "{}"
      },
      "GetCorporatePayrollServicesResponse_200": {
        "title": "Corporate Payroll Services Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payroll records for corporate customers.",
            "example": [
              {
                "corporateCustomerId": "CUST-131978",
                "payrollBatchId": "STANDARD",
                "payPeriod": "STANDARD",
                "employeeCount": 1,
                "fundingAccountId": "ACC-585262",
                "totalNetPay": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PayrollRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the returned results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Corporate Payroll Services GET operation, containing payroll information and metadata.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-131978",
              "payrollBatchId": "STANDARD",
              "payPeriod": "STANDARD",
              "employeeCount": 1,
              "fundingAccountId": "ACC-585262",
              "totalNetPay": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "08aae477-4eda-5406-9be1-4f1067ba1322",
            "correlationId": "57e89d99-268c-5601-ad64-d5a72690c25c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PayrollRecord": {
        "title": "Payroll Record",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST12345"
          },
          "payrollBatchId": {
            "type": "string",
            "description": "Identifier for the payroll batch.",
            "example": "BATCH67890"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll applies.",
            "example": "2023-09"
          },
          "employeeCount": {
            "type": "integer",
            "description": "The number of employees included in the payroll.",
            "format": "int32",
            "example": 50
          },
          "fundingAccountId": {
            "type": "string",
            "description": "Identifier for the funding account used for payroll.",
            "example": "ACCOUNT111"
          },
          "totalNetPay": {
            "$ref": "#/components/schemas/TotalNetPay"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the payroll record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents payroll information for a corporate customer."
      },
      "TotalNetPay": {
        "title": "Total Net Pay",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total net pay amount.",
            "example": 150000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the total net pay amount.",
            "example": "USD"
          }
        },
        "description": "Represents the total net pay details for a payroll record."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details about the pagination of the results."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request and response.",
            "example": "CORR78910"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-payroll-services-search-corporate-payroll-services"
        },
        "example": "corporate-payroll-services-search-corporate-payroll-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the API request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) as a bearer token for authentication. Clients must include a valid bearer token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}