{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Retrieval API",
    "description": "The Document Retrieval API provides access to specific documents associated with loan applications. By using this endpoint, authorized users can fetch detailed document information based on the loan application ID and document ID provided. This functionality is essential for financial institutions and loan officers who need immediate access to applicant documentation for assessment and processing. Typical use cases include reviewing submitted documents, validating information, and facilitating the loan approval workflow.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "get": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Retrieve loan application documents.",
        "description": "Fetches the documents associated with a specific loan application identified by RES-100045. This endpoint allows users to view important files related to the application process.",
        "operationId": "getLoanApplicationDocumentsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is designed to provide the necessary information for retrieving loan application documents specifically for the application with ID RES-100045. Ensure that the JSON structure defined in the schema is followed precisely for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationDocumentsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested document.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationDocumentsRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationDocumentsRes100045Request": {
        "title": "Loan Application Document Reference",
        "type": "string",
        "description": "A string representation of the loan application document.",
        "example": "{}"
      },
      "GetLoanApplicationDocumentsRes100045Response_200": {
        "title": "Loan Application Document",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of the document (e.g., identity proof, income proof).",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant submitting the document.",
            "example": "41d598b1-dc3f-d14b-7490-823aedbd1f41"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the loan.",
            "example": "427dfa7b-12f0-9f18-6386-7f89010dd823"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "MIME type of the document file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "Date on which the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "Date on which the document expires.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "bdda234f-b5e3-4c3d-de0f-d4d57a062761"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the document (e.g., verified, pending).",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments pertaining to the verification of the document.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Timestamp when the document was last verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier for the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the document.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing a document associated with a loan application.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "41d598b1-dc3f-d14b-7490-823aedbd1f41",
          "collateralId": "427dfa7b-12f0-9f18-6386-7f89010dd823",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "bdda234f-b5e3-4c3d-de0f-d4d57a062761",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9612c2a5-32db-5f86-b9ad-ceb6cd21c66e",
            "correlationId": "e35895e4-1a0f-50e0-9d65-8b73d7fa2baf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the entity was created.",
            "example": "2021-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the entity.",
            "example": "creator_001"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the entity was last updated.",
            "example": "2021-06-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the entity.",
            "example": "updater_001"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the entity.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information related to an entity."
      },
      "Metadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for the correlation across requests.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2021-06-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata associated with a document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint that processed the request. This value is used for tracking and logging purposes to identify which endpoint was hit.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-application-document"
        },
        "example": "banking-loans-openapi-get-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handles the request. This helps in understanding which application layer processed the request specific to the API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a token (JWT - JSON Web Token) is used as a means of verifying the user's identity. Clients must include the token in the `Authorization` header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}