{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trust Services Management API",
    "description": "The Trust Services Management API enables organizations to initiate and manage trust services for their banking consumers. This endpoint allows for the creation of new trust service requests, tailoring services to meet specific consumer needs. Typical consumers include financial institutions and service providers looking to enhance their trust services offering. With this API, businesses can streamline operations, ensuring a secure and efficient process for managing consumer trust requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services": {
      "post": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Create a new trust service.",
        "description": "This endpoint allows the user to create a new trust service in the system, ensuring that all necessary details are provided for proper registration and management of the service.",
        "operationId": "createTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Detailed information regarding trust services requested by the consumer. This should include necessary data for processing the operation, such as consumer identifiers and trust service specifics.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTrustServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTrustServiceRequest": {
        "title": "Consumer Services Trust Services Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "A unique identifier for the customer making the request.",
            "example": "CUST-499093"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "A unique identifier for the service request.",
            "example": "b692b778-4a40-52cc-ba45-1eafa69a7535"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product for which the service is requested.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount related to the service request, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service is requested, formatted as a date string.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body structure for the Consumer Services Trust Services operations.",
        "example": {
          "customerId": "CUST-499093",
          "serviceRequestId": "b692b778-4a40-52cc-ba45-1eafa69a7535",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "4f562da9-afef-51b9-9315-66ff56775e53",
            "correlationId": "830d0cfe-3bb6-5081-b2cd-0f0ecf3bb2a1",
            "idempotencyKey": "aad447fd-60b4-5f7a-8c5e-49a89927c588",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-186541"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR) for the amount.",
            "example": "USD"
          }
        },
        "description": "This schema defines the structure for representing an amount, including its value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An optional identifier to correlate related requests.",
            "example": "CORR789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that repeated requests have the same effect as a single request.",
            "example": "IDEMPOTENT123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made, formatted as a date string.",
            "example": "2023-10-10T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "WebApp"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was sent.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "CHANNEL001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "DEVICE12345"
          }
        },
        "description": "This schema represents the details of the channel used for the request."
      },
      "CreateTrustServiceResponse_201": {
        "title": "Service Request Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-242399"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "0db5fda5-9499-591e-af03-742fbe6902d8"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the service request.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource related to the service request.",
            "example": "RES-463348"
          },
          "status": {
            "type": "string",
            "description": "Current status of the service request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the service request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the service request response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the POST operation related to consumer services trust services. This object includes details about the service request and its associated metadata.",
        "example": {
          "customerId": "CUST-242399",
          "serviceRequestId": "0db5fda5-9499-591e-af03-742fbe6902d8",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-463348",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a5b9a83c-3f5a-5cff-8e5f-f324a2c10de6",
            "correlationId": "830d0cfe-3bb6-5081-b2cd-0f0ecf3bb2a1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Object",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-05-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Object containing metadata information related to a service request response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-create-trust-services"
        },
        "example": "trust-services-create-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that is responsible for executing the request, allowing for easier identification of service behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication mechanism that uses JSON Web Tokens (JWT) to securely transmit information between parties. The bearer token must be included in the authorization header of requests to authenticate the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}