{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Segment Direction API",
    "description": "The Business Segment Direction API allows users to access and analyze the directional trends of various business segments. By utilizing specific parameters, consumers can retrieve strategic insights and data-driven recommendations that aid in decision-making processes. This API is designed for business analysts, financial planners, and strategic managers who require detailed segment analysis to drive growth and optimize business performance. Typical use cases include assessing market shifts, evaluating segment profitability, and aligning resources to capitalize on emerging trends.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/segment-direction/{param1}": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve segment direction details.",
        "description": "This endpoint allows users to fetch the details of a specific segment direction using its unique identifier. It provides insights into the direction's attributes and associated business analysis, which can help in making informed decisions.",
        "operationId": "getSegmentDirectionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to retrieve segment direction analysis for a specific business. Ensure to provide all required data as per the schema defined.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSegmentDirectionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSegmentDirectionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSegmentDirectionByIdRequest": {
        "type": "string",
        "description": "Request body for fetching operations within a segment direction.",
        "example": "{}"
      },
      "GetSegmentDirectionByIdResponse_200": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "The unique identifier for the segment.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the period for the analysis, in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "The end date of the period for the analysis, in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency used for the financial analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario associated with the analysis.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the analysis record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the business analysis segment direction operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "eded43f9-646b-5fed-a890-ca4dca300a4c",
            "correlationId": "36d18bfd-510e-56eb-bec8-3f7ba17894ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier that correlates related requests.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, in ISO 8601 format.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the analysis took place.",
            "example": "US"
          }
        },
        "description": "Metadata containing additional information for the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the specific endpoint being accessed in this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "segment-direction-get-segment-direction"
        },
        "example": "segment-direction-get-segment-direction"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is handling the request, providing context about the runtime environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token. This token should be a valid JSON Web Token (JWT) that grants access to the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}