{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contribution Models API",
    "description": "The Contribution Models API provides access to various banking contribution models, allowing users to retrieve detailed information about each model. This functionality is essential for financial institutions and developers who require insights into contribution structuring for their services. Typical consumers include banking analysts and application developers looking to enhance their financial offerings. By leveraging this API, users can effectively evaluate different contribution models to support strategic decision-making in banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/contribution-models": {
      "get": {
        "tags": [
          "Contribution Models"
        ],
        "summary": "Retrieve a list of contribution models.",
        "description": "This endpoint allows clients to fetch a comprehensive list of available contribution models. It can be used to understand what contribution models are implemented and how they can be utilized within the application.",
        "operationId": "getContributionModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This endpoint allows the client to request a list of contribution models. The request body should conform to the specified schema, which outlines the required parameters and their data types.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetContributionModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of contribution models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetContributionModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetContributionModelsRequest": {
        "type": "string",
        "description": "This schema represents a request body in JSON format for a specific operation pertaining to contribution models.",
        "example": "{}"
      },
      "GetContributionModelsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of contribution models.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-310070",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContributionModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET operation of contribution models, returning a list of models along with pagination and metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-310070",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b9dd8aa8-5238-53ac-bd7e-9bdb38874eae",
            "correlationId": "844a4e45-50bc-53d2-a9c4-7385bb644315",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContributionModel": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier of the model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model."
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model is relevant."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model is applied."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level of the model's predictions."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the model record"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the model was last updated."
          }
        },
        "description": "Represents a contribution model with its details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available for pagination.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-models-search-contribution-models"
        },
        "example": "contribution-models-search-contribution-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, whereby a token is submitted in the 'Authorization' header of the request. The token format is a JSON Web Token (JWT), which encapsulates and verifies the user's claims for secure communication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}