{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Offer Management API",
    "description": "The Customer Offer Management API allows for the dynamic modification of customer offers in the banking sales system. This API is designed for financial institutions seeking to update existing offers based on changing customer needs and preferences. Typical consumers include sales teams and customer service representatives who require real-time updates to offer details. Utilizing this API ensures that customers always receive the most relevant promotions, optimizing customer satisfaction and engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-offer/{param1}": {
      "patch": {
        "tags": [
          "Customer Offers"
        ],
        "summary": "Update a customer's offer details.",
        "description": "This operation allows for updating the offer details for a specific customer identified by their unique ID (CUST-100045). Ensure to provide the necessary data in the request body to make the desired changes to the customer's offer.",
        "operationId": "updateCustomerOfferCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the customer offer details for the specified customer ID (CUST-100045). It contains the necessary fields for modifying the existing offer and is expected to be provided in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerOfferCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the offer has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerOfferCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerOfferCUST100045Request": {
        "title": "Customer Offer Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the customer offer.",
            "$ref": "#/components/schemas/CustomerOfferChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change to the customer offer.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context surrounding the request, including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a PATCH operation on a customer offer.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "d69568e4-09af-58db-84da-0a24249155b7",
            "correlationId": "5b41b6a9-2ef5-5701-ac76-db996353279c",
            "idempotencyKey": "7a1e6f80-6372-5ca4-94ab-ed7549d1d8db",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-447005"
            }
          }
        }
      },
      "CustomerOfferChanges": {
        "title": "Customer Offer Changes",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The identifier of the prospect related to this offer.",
            "example": "prospect_456"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product being offered.",
            "example": "PRODUCT_789"
          },
          "salesChannel": {
            "type": "string",
            "description": "The sales channel through which the offer is made.",
            "example": "online"
          }
        },
        "description": "Schema representing the specific changes to be made for a customer offer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across different systems.",
            "example": "correlation_002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is processed only once.",
            "example": "idempotency_key_003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-10T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request, including various identifiers and timestamps."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "channel_004"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request, if applicable.",
            "example": "device_005"
          }
        },
        "description": "Schema representing the details of the channel used to make the request."
      },
      "UpdateCustomerOfferCUST100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Information about the response's context and metadata.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on customer offer CUST-100045.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "130de826-67b1-54ee-ab2d-b2df1c12664a",
            "correlationId": "5b41b6a9-2ef5-5701-ac76-db996353279c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-offer-update-customer-offer"
        },
        "example": "customer-offer-update-customer-offer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to transmit a JSON Web Token (JWT) in the Authorization header for authenticated access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}