{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Central Cash Handling Management API",
    "description": "The Central Cash Handling Management API allows businesses to efficiently manage adjustments and updates to cash handling processes. This endpoint is designed for modifying existing cash handling configurations or records, making it essential for finance teams who need to ensure accurate and timely updates. Typical consumers include banking and financial institutions that require real-time cash management capabilities. By providing streamlined operations for altering cash handling parameters, the API supports enhanced financial oversight and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/central-cash-handling/{param1}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update Central Cash Handling Resource.",
        "description": "This endpoint allows developers to update the details of a specific central cash handling resource identified by the unique resource ID. Providing accurate and updated information is crucial for maintaining transaction accuracy and compliance.",
        "operationId": "updateCentralCashHandlingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the central cash handling payment details. It should contain the necessary information to modify an existing payment record.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCentralCashHandlingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCentralCashHandlingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCentralCashHandlingResource100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The details of the payment changes requested.",
            "$ref": "#/components/schemas/PaymentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating payment operations in central cash handling.",
        "example": {
          "changes": {
            "paymentId": "PAY-787064",
            "debtorAccountId": "ACC-625741",
            "creditorAccountId": "ACC-339510"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "151385c5-9c2e-577c-bb1f-a13b4c051577",
            "correlationId": "f8686743-4ef0-5b43-9be5-aa11fba8d6df",
            "idempotencyKey": "7fd5b2e0-8124-5361-9b3f-068d11a280fd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-990053"
            }
          }
        }
      },
      "PaymentChanges": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier of the payment that is being modified.",
            "example": "PAY-12345"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The account ID of the debtor involved in the payment.",
            "example": "ACC-67890"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The account ID of the creditor receiving the payment.",
            "example": "ACC-54321"
          }
        },
        "description": "The changes made to a payment."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking purposes across different systems.",
            "example": "CORR-ABCDEF"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "IDEM-XYZ123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request is initiated.",
            "example": "PaymentProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "PaymentUpdater"
          },
          "channel": {
            "description": "Information about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "CH-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE-12345"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "UpdateCentralCashHandlingResource100045Response_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response format.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional context about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing the status of the operation, version information, and metadata about the processing of the request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "2f7fdc3a-0eb9-571b-bbbf-14959e7e82b0",
            "correlationId": "f8686743-4ef0-5b43-9be5-aa11fba8d6df",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request across different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Additional information about the response providing context such as IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request, used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "central-cash-handling-update-central-cash-handling"
        },
        "example": "central-cash-handling-update-central-cash-handling"
      },
      "X-Runtime-App": {
        "description": "Name of the application that executed the operation, helpful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer Authentication scheme utilizes a token-based authentication mechanism where the client provides a token in the Authorization header. The token should be in JSON Web Token (JWT) format. This method is commonly used to secure APIs and ensures that only authenticated users can access the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}