{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payroll Benefits Management API",
    "description": "The Payroll Benefits Management API provides access to detailed information on employee payroll benefits within the human resource management domain. This API allows businesses to retrieve specific payroll benefit data associated with individual employees, facilitating streamlined management of compensation and benefits. Typical consumers include HR departments, payroll administrators, and financial analysts looking to analyze and report on benefit structures. By utilizing this API, organizations can improve their decision-making processes around employee benefits and payroll-related tasks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/payroll-benefits/{param1}": {
      "get": {
        "tags": [
          "Payroll Management"
        ],
        "summary": "Retrieve payroll benefits information for a specific employee.",
        "description": "This endpoint allows you to access detailed payroll benefits information for the employee identified by the unique employee ID. It provides comprehensive insights into the benefits and compensation associated with the specified employee.",
        "operationId": "getPayrollBenefitsForEmployee900045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve payroll benefits information for a specific employee identified by the employee ID. It contains the necessary parameters required to fetch the appropriate data for the specified resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPayrollBenefitsForEmployee900045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPayrollBenefitsForEmployee900045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPayrollBenefitsForEmployee900045Request": {
        "type": "string",
        "description": "This schema represents the JSON request body for the operations related to the Payroll Benefits.",
        "example": "{}"
      },
      "GetPayrollBenefitsForEmployee900045Response_200": {
        "title": "PayrollBenefitsResponse",
        "type": "object",
        "properties": {
          "payrollRunId": {
            "type": "string",
            "description": "Unique identifier for the payroll run.",
            "example": "STANDARD"
          },
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-659650"
          },
          "payPeriod": {
            "type": "string",
            "description": "The pay period for which the payroll information is applicable.",
            "example": "STANDARD"
          },
          "grossPay": {
            "description": "The gross pay amount for the employee.",
            "$ref": "#/components/schemas/PayrollAmount"
          },
          "deductions": {
            "description": "The total deductions applied to the employee's gross pay.",
            "$ref": "#/components/schemas/PayrollAmount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date on which the payment was processed.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payroll record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the payroll record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the payroll record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payroll response.",
            "$ref": "#/components/schemas/PayrollMetadata"
          }
        },
        "description": "Response schema for payroll benefits operation including details about payroll run and associated employee information.",
        "example": {
          "payrollRunId": "STANDARD",
          "employeeId": "EMP-659650",
          "payPeriod": "STANDARD",
          "grossPay": {
            "amount": 100.0,
            "currency": "USD"
          },
          "deductions": {
            "amount": 100.0,
            "currency": "USD"
          },
          "paymentDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ae8398df-cf0e-5d57-8a1d-7429d397df33",
            "correlationId": "04c48727-e08a-5dc7-8725-a08c772aebc3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PayrollAmount": {
        "title": "PayrollAmount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 3000.0
          },
          "currency": {
            "type": "string",
            "description": "ISO 4217 currency code representing the currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount of money and its currency."
      },
      "PayrollMetadata": {
        "title": "PayrollMetadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing the transaction across systems.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payroll processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata related to the payroll response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the API endpoint being accessed, which helps in tracking and monitoring API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-payroll-and-incentives-get-employee-payroll-and-incentives"
        },
        "example": "employee-payroll-and-incentives-get-employee-payroll-and-incentives"
      },
      "X-Runtime-App": {
        "description": "A string indicating the application that executed the request, providing insights into the originating application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method and expects a JSON Web Token (JWT) to be included in the Authorization header of the request. The format of the token should follow the JWT standard.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}