{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Delinquent Account Management API",
    "description": "The Delinquent Account Management API enables financial institutions to efficiently manage and update the status of delinquent accounts. This API allows for the modification of account details and status through PATCH operations, facilitating timely interventions and resolutions for consumers facing payment difficulties. Target users include bank operations teams and debt recovery specialists, who utilize this API to improve customer recovery processes and streamline account handling workflows. By leveraging this API, institutions can enhance their customer relationship management while minimizing financial risks.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/delinquent-account-handling/{param1}": {
      "patch": {
        "tags": [
          "Delinquent Account Management"
        ],
        "summary": "Update delinquent account handling information.",
        "description": "This operation allows you to update the handling details of a specific delinquent account identified by the account number. Ensure to provide the necessary data fields in the request body to perform the update successfully.",
        "operationId": "patchDelinquentAccountHandlingAcc200045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the operational handling details of a delinquent account identified by the specified account number. It allows modifications to the account's status, notes, and other relevant information as part of the delinquent account management process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDelinquentAccountHandlingAcc200045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDelinquentAccountHandlingAcc200045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDelinquentAccountHandlingAcc200045Request": {
        "title": "Operations Patch Request Body",
        "required": [
          "changeReason",
          "changes",
          "effectiveAt",
          "requestContext",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of changes to apply for the operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating operational services related to delinquent account handling.",
        "example": {
          "changes": {
            "operationId": "STANDARD",
            "customerId": "CUST-836994",
            "accountId": "ACC-471248"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3b20ae83-c653-5a2e-ad76-44d98fc4b11b",
            "correlationId": "05853867-5ba8-53d9-b6c4-825c719a5c2a",
            "idempotencyKey": "13e16f3a-a8c5-58ca-af37-d88c538a4352",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580081"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "required": [
          "accountId",
          "customerId",
          "operationId"
        ],
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation being performed.",
            "example": "op-123456"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer associated with the account.",
            "example": "cust-78910"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the account that is being modified.",
            "example": "acc-112233"
          }
        },
        "description": "Schema representing the structure of changes to be applied."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "required": [
          "channel",
          "correlationId",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across services.",
            "example": "corr-161718"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "idempotencyKey-1920"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-25T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that sent the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Channel Object",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-321"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device being used.",
            "example": "device-654"
          }
        },
        "description": "Schema representing the details of the communication channel."
      },
      "PatchDelinquentAccountHandlingAcc200045Response_200": {
        "title": "Response for PATCH Operation on Delinquent Account",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the PATCH operation on a delinquent account.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3c00f7dd-a898-5f3e-89c6-e814b9eb6cef",
            "correlationId": "05853867-5ba8-53d9-b6c4-825c719a5c2a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this request with other requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema defines the metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "delinquent-account-handling-update-delinquent-account-handling"
        },
        "example": "delinquent-account-handling-update-delinquent-account-handling"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer tokens for authentication. The tokens are in JWT (JSON Web Token) format, allowing for secure communication and verification of identity. Clients must include this token as a prefix in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}