{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Guideline Compliance Check API",
    "description": "The Guideline Compliance Check API provides a mechanism for verifying adherence to specified banking compliance guidelines. It allows users to evaluate the compliance status of specific entities or operations using a unique identifier. This API is particularly useful for regulators, compliance officers, and risk management teams who need to ensure that banking processes meet established guidelines. By providing rapid access to compliance data, it facilitates informed decision-making and risk assessment in the financial sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance/{param1}": {
      "get": {
        "tags": [
          "Compliance Management"
        ],
        "summary": "Retrieve compliance guidelines for a specific resource",
        "description": "This endpoint allows users to fetch compliance guidelines associated with the resource identified by its ID. Utilize this to ensure adherence to applicable guidelines for resource management and compliance tracking.",
        "operationId": "getGuidelineComplianceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing the necessary parameters to retrieve guideline compliance data for RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGuidelineComplianceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested compliance guideline data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGuidelineComplianceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetGuidelineComplianceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the compliance guideline operation.",
        "example": "{}"
      },
      "GetGuidelineComplianceByIdResponse_200": {
        "title": "Compliance Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the compliance.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the compliance is governed.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the compliance document.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "Regulation that the compliance guidelines are based on.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for submitting the compliance guidelines.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the compliance record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the compliance response.",
            "$ref": "#/components/schemas/ComplianceMetadata"
          }
        },
        "description": "Schema representing the response for a compliance guideline request.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
            "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ComplianceMetadata": {
        "title": "Compliance Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the compliance processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata details related to a compliance response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint that was called. This header helps in tracing the request across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-get-guideline-compliance"
        },
        "example": "guideline-compliance-get-guideline-compliance"
      },
      "X-Runtime-App": {
        "description": "Indicates the application that processed the request. This header aids in identifying which service/application was responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, where the client must provide a token in the Authorization header. The token should be a valid JSON Web Token (JWT). Ensure that the token is securely stored and transmitted.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}