{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fixed Asset Register API",
    "description": "The Fixed Asset Register API provides access to comprehensive details regarding fixed assets within an organization. This service enables users to retrieve information about the assets' status, valuation, and historical records. Typical consumers of this API include financial analysts, asset managers, and compliance officers who utilize the data for reporting and auditing purposes. By facilitating access to essential asset data, organizations can better manage resource allocation and financial planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/fixed-asset-register": {
      "get": {
        "tags": [
          "Asset Management"
        ],
        "summary": "Retrieve the Fixed Asset Register.",
        "description": "This endpoint allows users to retrieve the complete Fixed Asset Register, which contains detailed information about fixed assets managed within the enterprise. Utilize this operation to access asset records, statuses, and other relevant data for effective asset management.",
        "operationId": "getFixedAssetRegister",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the fixed asset register. Please provide the necessary parameters in the JSON format as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFixedAssetRegisterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the fixed asset register.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFixedAssetRegisterResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFixedAssetRegisterRequest": {
        "type": "string",
        "description": "This schema represents the payload format expected by the API when requesting fixed asset register operations.",
        "example": "{}"
      },
      "GetFixedAssetRegisterResponse_200": {
        "title": "Fixed Asset Register Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of fixed assets.",
            "example": [
              {
                "assetId": "STANDARD",
                "assetClass": "STANDARD",
                "acquisitionDate": "2026-09-15",
                "acquisitionCost": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "usefulLifeMonths": 1,
                "costCenter": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FixedAsset"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the asset list.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching the fixed asset register, includes asset details, pagination, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "assetId": "STANDARD",
              "assetClass": "STANDARD",
              "acquisitionDate": "2026-09-15",
              "acquisitionCost": {
                "amount": 100.0,
                "currency": "USD"
              },
              "usefulLifeMonths": 1,
              "costCenter": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a65cbf33-78d1-5362-9692-329bcd2f19f5",
            "correlationId": "46d23d5c-e9ac-5c6d-8872-e454d0de59ae",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FixedAsset": {
        "title": "Fixed Asset",
        "type": "object",
        "properties": {
          "assetId": {
            "type": "string",
            "description": "Unique identifier for the asset."
          },
          "assetClass": {
            "type": "string",
            "description": "Classification of the asset."
          },
          "acquisitionDate": {
            "type": "string",
            "description": "Date when the asset was acquired."
          },
          "acquisitionCost": {
            "$ref": "#/components/schemas/AcquisitionCost"
          },
          "usefulLifeMonths": {
            "type": "integer",
            "description": "Estimated useful life of the asset in months.",
            "format": "int32"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the asset."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the asset record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the asset record was last updated."
          }
        },
        "description": "Schema representing a fixed asset."
      },
      "AcquisitionCost": {
        "title": "Acquisition Cost",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount of the acquisition cost."
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the acquisition cost."
          }
        },
        "description": "Schema representing the acquisition cost of an asset."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the asset list."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This value can be used for logging or tracking purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fixed-asset-register-search-fixed-asset-register"
        },
        "example": "fixed-asset-register-search-fixed-asset-register"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that is processing the request. This can help identify the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT). The token is sent in the Authorization header as a Bearer token. It is commonly used for securing API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}