{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Authorization Details API",
    "description": "The Authorization Details API provides access to specific authorization records by their unique IDs. This endpoint allows users to retrieve detailed information about each authorization, including status, issuer information, and associated transactions. It is particularly useful for financial institutions and integrations requiring a review of authorization histories for compliance and auditing purposes. Developers can utilize this API to facilitate user access to authorization data within their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}": {
      "get": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Retrieve a specific authorization by its unique identifier.",
        "description": "This endpoint allows you to fetch detailed information about a specific authorization using its unique identifier (RES-100045). It returns the relevant data for the specified authorization, enabling users to verify and review authorization details easily.",
        "operationId": "getAuthorizationByIdRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Provides the necessary request body to retrieve details for the specified authorization ID. Ensure the JSON format matches the required schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAuthorizationByIdRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the authorization details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuthorizationByIdRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAuthorizationByIdRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to authorizations. It is a simple string.",
        "example": "{}"
      },
      "GetAuthorizationByIdRes100045Response_200": {
        "title": "Authorization Response",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment associated with this authorization.",
            "example": "PAY-580835"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-625747"
          },
          "authorizedAmount": {
            "description": "The amount that was authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that was captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The overall amount for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Code indicating the approval of the authorization.",
            "example": "CODE-474"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for tracking changes.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the authorization.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response data for an authorization operation.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-580835",
          "merchantId": "MER-625747",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-474",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "dfc29b80-a1b3-5ea9-b028-e832bd8b65d8",
            "correlationId": "073d9980-20b6-5659-9f3b-a0a06b178149",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing a monetary amount with currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the authorization was created.",
            "example": "2023-09-01T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the authorization.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the authorization.",
            "example": "2023-09-02T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the authorization.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the authorization record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema containing audit information for the authorization record."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "correlation_321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-09-01T11:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata related to the authorization."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This helps in tracking and logging specific API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-authorization"
        },
        "example": "banking-p2m-openapi-get-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request. This is used for identifying the source of the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism where a JSON Web Token (JWT) is passed in the Authorization header. Clients must provide a valid JWT to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}