{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Finance Public Offering API",
    "description": "The Corporate Finance Public Offering API provides businesses with the ability to access detailed information regarding public offerings in the corporate finance sector. This endpoint allows users to query and retrieve up-to-date data on public offerings, enabling potential investors and financial analysts to make informed decisions. Typical consumers include financial institutions, investment firms, and corporate finance professionals seeking insights into market opportunities. This API enhances transparency and accessibility of public offerings, supporting strategic investment and financial planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/public-offering": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve public offering information.",
        "description": "This endpoint allows clients to access detailed information about public offerings in corporate finance, including historical data, pricing, and participation details.",
        "operationId": "getPublicOffering",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the corporate finance public offering operations. It should contain parameters that define the specifics of the public offering being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPublicOfferingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the public offering information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicOfferingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPublicOfferingRequest": {
        "type": "string",
        "description": "Request body for the GET operation related to public offering operations in corporate finance.",
        "example": "{}"
      },
      "GetPublicOfferingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of transactions related to public offerings.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "pagination": {
            "description": "Information about the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "26da645f-3f3e-55b7-b246-f8387a018e68",
            "correlationId": "e0108a03-733e-562f-9564-55fbef1d0d2b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "12345"
          },
          "engagementId": {
            "type": "string",
            "description": "Identifier for the engagement.",
            "example": "engagement_001"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction.",
            "example": "IPO"
          },
          "enterpriseValue": {
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "Target date for closing the transaction.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the transaction record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the transaction was last updated.",
            "example": "2023-10-15T12:00:00Z"
          }
        },
        "description": "Details of each transaction related to public offerings."
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount representing enterprise value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which enterprise value is represented.",
            "example": "USD"
          }
        },
        "description": "Enterprise value details of a transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated result.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the transaction results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "correlation_abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-15T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-West"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-offering-search-public-offering"
        },
        "example": "public-offering-search-public-offering"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token, specifically a JSON Web Token (JWT), to verify the identity of the user and secure API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}