{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Terminal Administration API",
    "description": "The Card Terminal Administration API provides businesses with the ability to manage and retrieve information on card terminals used in banking operations. This endpoint allows users to access detailed configurations and statuses of specific card terminals based on a provided identifier. It is particularly useful for financial institutions and service providers that need to monitor terminals, troubleshoot issues, or maintain regulatory compliance. Typical consumers include bank administrators and IT support staff who require operational oversight of terminal hardware.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/card-terminal-administration/{param1}": {
      "get": {
        "tags": [
          "Card Terminal Administration"
        ],
        "summary": "Retrieve card terminal administration details.",
        "description": "This endpoint allows you to fetch the specific details of a card terminal administration by providing the card terminal ID. Use this endpoint to get necessary configuration or status information related to the card terminal.",
        "operationId": "getCardTerminalAdministrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary parameters for the CARD-400045 operation. It requires appropriate authentication and specific structure as defined by the schema in order to successfully retrieve information related to the card terminal administration.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTerminalAdministrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the card terminal's information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTerminalAdministrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTerminalAdministrationByIdRequest": {
        "type": "string",
        "description": "This schema represents the payload for the GET request for operations on a specific card terminal. It is expected to be a string.",
        "example": "{}"
      },
      "GetCardTerminalAdministrationByIdResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operating hours of the service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of operations that can be handled daily.",
            "format": "int32",
            "example": 1
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-591852"
          },
          "terminalStatus": {
            "type": "string",
            "description": "Current status of the terminal.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record, indicating if it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving card terminal administration details.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "terminalId": "STANDARD",
          "merchantId": "MER-591852",
          "terminalStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "060896d7-a8c4-505a-89c7-07c215a4b4e8",
            "correlationId": "1afbb061-0a22-58b3-b627-f89589e63137",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the service opens.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the service closes.",
            "example": "22:00"
          }
        },
        "description": "Operating hours of the service."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-terminal-administration-get-card-terminal-administration"
        },
        "example": "card-terminal-administration-get-card-terminal-administration"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, defined in RFC 6750. It requires the client to send a JSON Web Token (JWT) in the `Authorization` header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}