{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Loan Management API",
    "description": "The Corporate Loan Management API enables organizations to efficiently update existing corporate loan details. This API allows authorized users to modify parameters such as interest rates, loan amounts, and payment schedules for current loans. Typical consumers include bank staff and financial institutions that manage corporate lending portfolios, optimizing loan performance and compliance with the latest regulations. Enhanced functionality through this API fosters better customer service and streamlined financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan/{param1}": {
      "patch": {
        "tags": [
          "Corporate Lending"
        ],
        "summary": "Update Corporate Loan Details",
        "description": "This operation allows you to update the details of a specific corporate loan identified by its unique loan ID. Ensure that the request body contains the necessary fields that need to be modified.",
        "operationId": "patchCorporateLoanLoan500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of a specific corporate loan identified by LOAN-500045. Ensure that the JSON payload adheres to the defined schema for proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCorporateLoanLoan500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully; loan details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCorporateLoanLoan500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCorporateLoanLoan500045Request": {
        "title": "Loan Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the details of the changes to be applied to the loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used when patching loan operations.",
        "example": {
          "changes": {
            "customerId": "CUST-859818",
            "accountId": "ACC-658773",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ade1875e-017e-5956-88ee-2c2c0c3ee3b9",
            "correlationId": "99d2c4ec-302a-57b8-ae25-095f304d8c3b",
            "idempotencyKey": "863b9738-de70-561b-8f30-5647732c9328",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-191400"
            }
          }
        }
      },
      "LoanChanges": {
        "title": "Loan Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The identifier of the customer associated with the loan.",
            "example": "cust-12345"
          },
          "accountId": {
            "type": "string",
            "description": "The account identifier to which the loan is linked.",
            "example": "acc-67890"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product.",
            "example": "PL123"
          }
        },
        "description": "Details of the changes to the loan information."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across services.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idemp-101112"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "CustomerPortal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata related to the request being made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "channel-2021"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abcdef"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "PatchCorporateLoanLoan500045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the resource being returned.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message of the response.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Corporate Loan operation indicating the result of a PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6c7048a4-5d40-5de4-9ad2-063a468a9d63",
            "correlationId": "99d2c4ec-302a-57b8-ae25-095f304d8c3b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the API endpoint that was invoked during the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-update-corporate-loan"
        },
        "example": "corporate-loan-update-corporate-loan"
      },
      "X-Runtime-App": {
        "description": "The version of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. The client must provide a valid JSON Web Token (JWT) in the Authorization header of the HTTP request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}