{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Item Management API",
    "description": "The Open Item Management API is designed to facilitate the creation and handling of open items within banking operational services. This API allows users to effectively manage and track outstanding transactions or items that require follow-up. Typical consumers include financial institutions and operational teams that need to ensure accountability and resolution of open items. By streamlining the management process, organizations can enhance their operational efficiency and accuracy in financial reporting.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/open-item-management": {
      "post": {
        "tags": [
          "Open Item Management"
        ],
        "summary": "Create a new open item management entry.",
        "description": "This endpoint allows users to create a new entry for open item management within the operational services. Ensure that all required fields are filled out in the request body to successfully create an entry.",
        "operationId": "createOpenItemManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for creating or managing an open item within the operational services. It expects a JSON payload that conforms to the specified schema, which defines the necessary fields and their types. Ensure that the data structure is adhered to for successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateOpenItemManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created and ready for use.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateOpenItemManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateOpenItemManagementRequest": {
        "title": "Open Item Management Operations Request",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation being performed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer making the request.",
            "example": "CUST-507508"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the request.",
            "example": "ACC-912884"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the request.",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the Open Item Management operations in the application.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-507508",
          "accountId": "ACC-912884",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "08d193dd-c53f-53fa-9c9d-f29f036f5427",
            "correlationId": "55f5a914-00fc-528b-94cc-19f45d485618",
            "idempotencyKey": "aaf5b780-7a51-50b4-b414-9c9d2812f7fb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-313308"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_7891011"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing related requests and operations.",
            "example": "correlation_121314"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency_151617"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request context was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "source_system_A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "source_app_B"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information regarding a specific request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_181920"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_212223"
          }
        },
        "description": "This schema describes the details of the channel used for the request."
      },
      "CreateOpenItemManagementResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the operation.",
            "example": "CUST-303573"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account linked to the operation.",
            "example": "ACC-342110"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource involved in the operation.",
            "example": "RES-145913"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful execution of the open item management operation.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-303573",
          "accountId": "ACC-342110",
          "resourceId": "RES-145913",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "228e0e8f-2df4-5154-a41d-d579d93ffcbc",
            "correlationId": "55f5a914-00fc-528b-94cc-19f45d485618",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the operation was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the operation response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-090"
        },
        "example": "WF-090"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "2dd85e5c-7b7a-4eaa-a416-41135ff443d7"
        },
        "example": "2dd85e5c-7b7a-4eaa-a416-41135ff443d7"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "6"
        },
        "example": "6"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "54eb4bce-8d94-4085-bd8f-aecde2f520a4"
        },
        "example": "54eb4bce-8d94-4085-bd8f-aecde2f520a4"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request. This can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-item-management-create-open-item-management"
        },
        "example": "open-item-management-create-open-item-management"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application handling the request, useful for identifying the application in multi-service architectures.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      },
      "x-workflow-id": {
        "description": "Identifier of the workflow in which this operation is part. This helps track the execution flow across multiple services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-090"
        },
        "example": "WF-090"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with the open item operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Internal Audit Finding and Remediation"
        },
        "example": "Internal Audit Finding and Remediation"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow tied to the operation, such as ACTIVE, PENDING, or COMPLETED.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ASYNC_FINALIZATION"
        },
        "example": "ASYNC_FINALIZATION"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for the execution of the workflow, useful for tracking and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "54eb4bce-8d94-4085-bd8f-aecde2f520a4"
        },
        "example": "54eb4bce-8d94-4085-bd8f-aecde2f520a4"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism, specifically leveraging JSON Web Tokens (JWT). It is widely used for securing APIs by ensuring that requests are authenticated, allowing access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}