{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Analysis Product Portfolio API",
    "description": "The Business Analysis Product Portfolio API provides insights into the product offerings available to businesses. This endpoint enables consumers to access comprehensive details about various products tailored for business needs. Typical users include business analysts and product managers seeking to evaluate or enhance their product strategies. By leveraging this API, organizations can make informed decisions regarding product development and alignment with market demands.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/product-portfolio": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve product portfolio analysis.",
        "description": "This endpoint allows users to fetch a comprehensive analysis of the product portfolio, providing insights into product performance, market trends, and strategic recommendations.",
        "operationId": "getProductPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving product portfolio data through the business analysis endpoint. This body must conform to the specified schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the product portfolio details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductPortfolioRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Get Product Portfolio operation within the Business Analysis scope. The body is a simple string intended for communication of the request data.",
        "example": "{}"
      },
      "GetProductPortfolioResponse_200": {
        "title": "Product Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product portfolio analysis items.",
            "example": [
              {
                "analysisId": "STANDARD",
                "segmentId": "STANDARD",
                "periodStart": "2026-08-11",
                "periodEnd": "2026-08-11",
                "baseCurrency": "USD",
                "scenario": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductPortfolioAnalysisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the product portfolio analysis endpoint, including items, pagination, and metadata.",
        "example": {
          "items": [
            {
              "analysisId": "STANDARD",
              "segmentId": "STANDARD",
              "periodStart": "2026-08-11",
              "periodEnd": "2026-08-11",
              "baseCurrency": "USD",
              "scenario": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "349a04c0-19e0-5852-96b0-e11f1643068e",
            "correlationId": "aa3df441-363c-5fce-b072-8f40d100e4bd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductPortfolioAnalysisItem": {
        "title": "Product Portfolio Analysis Item",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis item.",
            "example": "analysis-12345"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the segment this analysis belongs to.",
            "example": "segment-123"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period.",
            "example": "2023-01-01"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period.",
            "example": "2023-01-31"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Base currency for the financial data.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario associated with this analysis.",
            "example": "best-case"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the analysis record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the analysis item was last updated.",
            "example": "2023-10-05T12:00:00Z"
          }
        },
        "description": "Represents a single item in the product portfolio analysis."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains information about pagination for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracking the request across systems.",
            "example": "correlation-abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-west-2"
          }
        },
        "description": "Contains metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-portfolio-search-product-portfolio"
        },
        "example": "product-portfolio-search-product-portfolio"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Token authentication, specifically formatted as JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}