{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Operations API",
    "description": "The Contact Center Operations API provides businesses with the tools to access vital information regarding their contact center operations. Users can retrieve detailed analytics and performance metrics related to customer interactions across various banking channels. This API serves as a key resource for contact center managers and business analysts looking to enhance customer service efficiency and streamline operational workflows. Typical use cases include monitoring service levels, analyzing customer feedback, and making data-driven decisions to improve overall contact center performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve contact center operations for a specific channel.",
        "description": "This endpoint allows developers to access operations related to the contact center for a specific communication channel. This includes details about various operational activities that can be performed in the context of the contact center.",
        "operationId": "getChannelSpecificContactCenterOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operations related to channel-specific contact centers. It contains the necessary parameters to specify the desired operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificContactCenterOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificContactCenterOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelSpecificContactCenterOperationsRequest": {
        "type": "string",
        "description": "This schema represents the JSON string content for the request body in contact center operations' GET operations.",
        "example": "{}"
      },
      "GetChannelSpecificContactCenterOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of contact center operational items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "queueId": "STANDARD",
                "skillGroup": "STANDARD",
                "targetAnswerSeconds": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ContactCenterOperationItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on Contact Center operations specific to channels.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "queueId": "STANDARD",
              "skillGroup": "STANDARD",
              "targetAnswerSeconds": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "33532b94-bf07-52ce-8fa4-70a6f5952168",
            "correlationId": "31146ae4-e4a3-54e1-8236-50f92f1a7aba",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ContactCenterOperationItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-1"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the operational region.",
            "example": "us-east"
          },
          "serviceWindow": {
            "description": "Details about the service window for the operation.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Total capacity for the operation on a daily basis.",
            "format": "int32",
            "example": 100
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the queue associated with this operation.",
            "example": "queue-1"
          },
          "skillGroup": {
            "type": "string",
            "description": "Skill group associated with this operation.",
            "example": "support"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "Target time in seconds for answering calls.",
            "format": "int32",
            "example": 30
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Represents a single contact center operation item.",
        "example": {
          "channelId": "channel-1",
          "regionCode": "us-east",
          "serviceWindow": {
            "opensAt": "08:00",
            "closesAt": "18:00"
          },
          "dailyCapacity": 100,
          "queueId": "queue-1",
          "skillGroup": "support",
          "targetAnswerSeconds": 30,
          "recordStatus": "active",
          "updatedAt": "2023-10-01T12:00:00Z"
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service window, formatted as HH:mm.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service window, formatted as HH:mm.",
            "example": "18:00"
          }
        },
        "description": "The operational hours for the contact center."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the list of items."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to trace the request across systems.",
            "example": "def-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that was hit, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-operations-search-contact-center-operations"
        },
        "example": "contact-center-operations-search-contact-center-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the request was processed, providing context for response tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate via a JSON Web Token (JWT). Clients must include the JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}