{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Campaign Management API",
    "description": "The Customer Campaign Management API enables businesses to enhance customer engagement through targeted marketing campaigns. This API allows users to modify existing campaigns based on customer data and preferences, facilitating the optimization of marketing strategies. Typical consumers include marketing teams and data analysts who utilize this API to adapt and improve campaign performance. It supports seamless integration into broader marketing solutions and platforms, ensuring that customer interactions are timely and relevant.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/customer-campaign-management/{param1}": {
      "patch": {
        "tags": [
          "Customer Campaign Management"
        ],
        "summary": "Update Customer Campaign",
        "description": "Allows for updating the details of a specific customer campaign identified by its unique ID. This operation enables marketing teams to manage and adjust campaign parameters as needed.",
        "operationId": "patchCustomerCampaignManagementCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the details of the customer campaign identified by CUST-100045. The request body must conform to the specified JSON schema which outlines the required fields and their types for the update operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCustomerCampaignManagementCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerCampaignManagementCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCustomerCampaignManagementCUST100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the campaign.",
            "$ref": "#/components/schemas/CampaignChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A request body for updating customer campaign management operations.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e9a10408-b097-5592-b692-ccaf6de90c04",
            "correlationId": "b8561f37-c108-582c-bb7f-2c40f3bc1eac",
            "idempotencyKey": "9d101975-3322-5e29-929a-3a2861030566",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-178605"
            }
          }
        }
      },
      "CampaignChanges": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier of the campaign being updated.",
            "example": "string"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier of the target segment.",
            "example": "string"
          },
          "channelMix": {
            "type": "array",
            "description": "The mix of channels to be used for the campaign.",
            "items": {
              "type": "string",
              "description": "Identifier or name of a channel.",
              "example": "string"
            }
          }
        },
        "description": "The specifics of the campaign changes."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Details about the request context."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., email, sms).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the channel.",
            "example": "string"
          }
        },
        "description": "Information about the communication channel."
      },
      "PatchCustomerCampaignManagementCUST100045Response_200": {
        "title": "Customer Campaign Management Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response object.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the object was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for updating customer campaign management operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fa36975b-7228-585c-8a0a-f15b3cc38b20",
            "correlationId": "b8561f37-c108-582c-bb7f-2c40f3bc1eac",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for correlating logs and traces across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema defines the metadata included in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed. This helps in tracking the specific operation related to the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-management-update-customer-campaign-management"
        },
        "example": "customer-campaign-management-update-customer-campaign-management"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is executing the API call. This identifies the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token, where the token is structured as a JSON Web Token (JWT). This method is widely used for securing APIs, allowing for stateless authentication through the inclusion of the token in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}