{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Architecture Insights API",
    "description": "The Enterprise Architecture Insights API provides access to strategic business direction data essential for informed decision-making in banking. This endpoint allows users to retrieve detailed information regarding enterprise architecture, helping organizations align their IT capabilities with business goals. Typical consumers include business analysts, architects, and decision-makers looking to assess and refine their architecture strategies. The API supports scenarios involving data-driven insights for optimizing enterprise architecture within the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture/{param1}": {
      "get": {
        "tags": [
          "Enterprise Architecture"
        ],
        "summary": "Retrieve Enterprise Architecture Details",
        "description": "This operation retrieves the details of a specific Enterprise Architecture resource using its unique identifier. It provides valuable insights into the structure and components of the enterprise architecture.",
        "operationId": "getEnterpriseArchitectureById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for fetching enterprise architecture operations. This payload must conform to the specified schema to ensure proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseArchitectureByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseArchitectureByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseArchitectureByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation in the Enterprise Architecture domain.",
        "example": "{}"
      },
      "GetEnterpriseArchitectureByIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target completion date for the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the initiative.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Operations GET request. It includes details about the initiative, sponsor, planning horizon, target date, status, and additional metadata.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f9bdaa33-23b0-5356-b7c3-e9c057f2b63b",
            "correlationId": "26c3d30b-0207-5f66-9e39-398699bd1c64",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-get-enterprise-architecture"
        },
        "example": "enterprise-architecture-get-enterprise-architecture"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token, typically formatted as a JSON Web Token (JWT). It is used to authorize access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}