{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Accounts Retrieval API",
    "description": "The Settlement Accounts Retrieval API enables users to access detailed information about settlement accounts linked to the payment processing system. Designed for finance and accounting professionals, this API allows for efficient retrieval of account data, including balances and transaction histories. Typical use cases involve audit processes, financial reporting, and reconciliation tasks. By integrating this API, businesses can streamline financial operations and maintain accurate records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts": {
      "get": {
        "tags": [
          "Financial Management"
        ],
        "summary": "Retrieve all settlement accounts",
        "description": "This endpoint allows you to fetch a list of all settlement accounts available in the system. It provides essential details about each account, which can help in managing financial transactions efficiently.",
        "operationId": "getSettlementAccounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized for retrieving settlement account information. It expects a JSON object that conforms to the specified schema, which outlines the required parameters and their expected formats.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementAccountsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of settlement accounts.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementAccountsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementAccountsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the settlement accounts operations GET request.",
        "example": "{}"
      },
      "GetSettlementAccountsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates if there is a next page available.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "List of links related to the response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "List of settlement account items.",
            "example": [
              {
                "settlementAccountId": "ACC-395841",
                "merchantId": "MER-295001",
                "account": {
                  "bankCode": "CODE-131",
                  "branchCode": "CODE-643",
                  "numberMasked": "STANDARD",
                  "name": "Northstar Banking Service",
                  "type": "STANDARD",
                  "currency": "USD"
                },
                "schedule": {
                  "frequency": "STANDARD",
                  "cutoffTime": "STANDARD",
                  "timezone": "America/New_York",
                  "settlementDelayBusinessDays": 1,
                  "minimumPayoutAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                },
                "isDefault": true,
                "verificationStatus": "VERIFIED",
                "status": "ACTIVE",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementAccount"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request.",
                "example": "corr-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-01-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "us-west"
              }
            },
            "description": "Metadata information regarding the response.",
            "example": {
              "responseId": "3e053e57-f7ff-532e-8ab5-43c43f794c16",
              "correlationId": "d133bbd7-bc47-5911-bc25-38de14578e3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the API that retrieves settlement accounts.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementAccountId": "ACC-395841",
              "merchantId": "MER-295001",
              "account": {
                "bankCode": "CODE-131",
                "branchCode": "CODE-643",
                "numberMasked": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "currency": "USD"
              },
              "schedule": {
                "frequency": "STANDARD",
                "cutoffTime": "STANDARD",
                "timezone": "America/New_York",
                "settlementDelayBusinessDays": 1,
                "minimumPayoutAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              },
              "isDefault": true,
              "verificationStatus": "VERIFIED",
              "status": "ACTIVE",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "3e053e57-f7ff-532e-8ab5-43c43f794c16",
            "correlationId": "d133bbd7-bc47-5911-bc25-38de14578e3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relationship type of the link.",
            "example": "next"
          },
          "href": {
            "type": "string",
            "description": "URL for the linked resource.",
            "example": "https://api.example.com/settlement-accounts?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to be used for the link.",
            "example": "GET"
          }
        },
        "description": "Represents a link related to the API response."
      },
      "SettlementAccount": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "12345"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier of the merchant associated with this settlement account.",
            "example": "54321"
          },
          "account": {
            "type": "object",
            "properties": {
              "bankCode": {
                "type": "string",
                "description": "The bank code for the financial institution.",
                "example": "001"
              },
              "branchCode": {
                "type": "string",
                "description": "The branch code for the bank.",
                "example": "123"
              },
              "numberMasked": {
                "type": "string",
                "description": "Masked version of the bank account number.",
                "example": "****5678"
              },
              "name": {
                "type": "string",
                "description": "Name of the bank account.",
                "example": "Sample Bank Account"
              },
              "type": {
                "type": "string",
                "description": "Type of the bank account (e.g., checking, savings).",
                "example": "checking"
              },
              "currency": {
                "type": "string",
                "description": "Currency used for the account.",
                "example": "USD"
              }
            },
            "description": "Details of the bank account associated with the settlement."
          },
          "schedule": {
            "type": "object",
            "properties": {
              "frequency": {
                "type": "string",
                "description": "Frequency of the settlements (e.g., daily, weekly).",
                "example": "weekly"
              },
              "cutoffTime": {
                "type": "string",
                "description": "Cutoff time for the settlement.",
                "example": "17:00"
              },
              "timezone": {
                "type": "string",
                "description": "Timezone for the cutoff time.",
                "example": "UTC"
              },
              "settlementDelayBusinessDays": {
                "type": "integer",
                "description": "Number of business days for settlement delay.",
                "format": "int32",
                "example": 2
              },
              "minimumPayoutAmount": {
                "type": "object",
                "properties": {
                  "currency": {
                    "type": "string",
                    "description": "Currency of the minimum payout amount.",
                    "example": "USD"
                  },
                  "value": {
                    "type": "string",
                    "description": "Minimum payout amount value.",
                    "example": "100.00"
                  }
                },
                "description": "Minimum payout amount details."
              }
            },
            "description": "Schedule details for the settlement account."
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates if this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the settlement account.",
            "example": "verified"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "active"
          },
          "audit": {
            "type": "object",
            "properties": {
              "createdAt": {
                "type": "string",
                "description": "Timestamp when the account was created.",
                "example": "2023-01-01T00:00:00Z"
              },
              "createdBy": {
                "type": "string",
                "description": "User who created the account.",
                "example": "admin"
              },
              "updatedAt": {
                "type": "string",
                "description": "Timestamp when the account was last updated.",
                "example": "2023-01-02T00:00:00Z"
              },
              "updatedBy": {
                "type": "string",
                "description": "User who last updated the account.",
                "example": "admin"
              },
              "version": {
                "type": "integer",
                "description": "Version of the settlement account.",
                "format": "int32",
                "example": 1
              }
            },
            "description": "Audit trail for the settlement account."
          }
        },
        "description": "Represents a settlement account associated with a merchant."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlement-accounts"
        },
        "example": "banking-p2m-openapi-list-settlement-accounts"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, allowing clients to authenticate by including a JSON Web Token (JWT) in the `Authorization` header of requests. The token is to be issued by an authentication server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}