{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payments Inquiry API",
    "description": "The International Payments Inquiry API enables users to check the status of international payment transactions seamlessly. It provides detailed visibility into the payment process, including transaction status and related information. This API is valuable for financial institutions, payment service providers, and customers seeking to track their cross-border transactions. By utilizing this API, developers can integrate real-time payment tracking features into their applications, enhancing customer experience and transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments/{param1}": {
      "get": {
        "tags": [
          "International Payments"
        ],
        "summary": "Retrieve International Payment Details",
        "description": "Fetches the details of a specific international payment using its unique identifier. Ensure that the payment ID is valid to get the correct information.",
        "operationId": "getInternationalPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for the specified international payment. It provides all the necessary details required to retrieve the payment information associated with the provided payment ID PAY-300045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalPaymentByIdRequest": {
        "title": "International Payments Request Body",
        "type": "string",
        "description": "This schema represents the request body for international payments during a GET operation.",
        "example": "{}"
      },
      "GetInternationalPaymentByIdResponse_200": {
        "title": "International Payment Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "InternationalPaymentId": {
                "type": "string",
                "description": "Unique identifier for the international payment.",
                "example": "string"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent provided for the payment.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the payment was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the payment.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time of the last status update.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons for the current status of the payment.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Date and time when the payment is expected to be executed.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Date and time when the payment is expected to settle.",
                "example": "string"
              },
              "Refund": {
                "$ref": "#/components/schemas/Refund"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges related to the payment.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "$ref": "#/components/schemas/Initiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains details about the international payment.",
            "example": {
              "InternationalPaymentId": "PAY-242089",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0
                }
              }
            }
          }
        },
        "description": "Schema representing the response for a GET operation on international payments.",
        "example": {
          "Data": {
            "InternationalPaymentId": "PAY-242089",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0
              }
            }
          },
          "metadata": {
            "responseId": "24d0d508-3741-53ab-bfcf-f928d2296cfa",
            "correlationId": "2e46cccb-2600-51ea-8e66-e675d56ef411",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path to additional information about the status reason.",
            "example": "string"
          }
        },
        "description": "Details of the status reason."
      },
      "Refund": {
        "type": "object",
        "properties": {
          "Account": {
            "description": "Account details related to the refund.",
            "$ref": "#/components/schemas/Account"
          }
        },
        "description": "Refund details."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Holder's name of the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary account identification.",
            "example": "string"
          }
        },
        "description": "Account information."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "string"
          },
          "Amount": {
            "description": "Amount associated with the charge.",
            "$ref": "#/components/schemas/ChargeAmount"
          }
        },
        "description": "Details of a charge related to the payment."
      },
      "ChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the charge.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the charge amount.",
            "example": "string"
          }
        },
        "description": "Details about the charge amount."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency code of the unit.",
            "example": "string"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied.",
            "example": 0.0
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate.",
            "example": "string"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the exchange rate contract.",
            "example": "string"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time of when the exchange rate expires.",
            "example": "string"
          }
        },
        "description": "Information regarding the exchange rate used."
      },
      "Initiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for tracking the payment end-to-end.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local payment instrument used.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges for the payment.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency used for the transfer.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the payment destination.",
            "example": "string"
          },
          "InstructedAmount": {
            "description": "Amount instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "ExchangeRateInformation": {
            "description": "Information regarding the exchange rate for the payment.",
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Details about the initiation of the payment."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the instructed amount.",
            "example": "string"
          }
        },
        "description": "Details of the instructed amount for the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Response metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint responsible for the payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-payment"
        },
        "example": "payment-initiation-openapi-get-international-payment"
      },
      "X-Runtime-App": {
        "description": "The name of the application that was executed to handle the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that allows access to secured resources using a JSON Web Token (JWT). The bearer token must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}