{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Securities Position Validation API",
    "description": "The Securities Position Validation API enables users to validate securities positions for specific accounts within a financial management platform. Through this endpoint, users can submit requests to validate details such as ownership, transaction history, and compliance with regulations. Typical consumers of this API include financial institutions, portfolio managers, and compliance officers who require assurance of securities holdings accuracy. This API plays a crucial role in ensuring that securities data is precise and meets legal and operational standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/securities-position-keeping/{param1}/validations": {
      "post": {
        "tags": [
          "Securities Management"
        ],
        "summary": "Create a validation for a specific securities position.",
        "description": "This endpoint allows developers to create a validation for the securities position with ID RES-100045. It ensures that the specified position adheres to the necessary compliance checks and business rules. This action is critical for maintaining accurate and validated securities records.",
        "operationId": "createValidationForSecuritiesPositionKeepingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit validation data for a specific securities position keeping operation. The provided information will be processed to ensure compliance and correctness of the submitted securities-related transactions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateValidationForSecuritiesPositionKeepingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully and the validation result is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateValidationForSecuritiesPositionKeepingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateValidationForSecuritiesPositionKeepingRes100045Request": {
        "title": "Operations Post Request Body",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "A list of validation scopes applicable for the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the validation is requested.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for the POST operation in the securities position keeping API, detailing the validation parameters.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9da37262-a202-58fd-a6b3-b52223ef925d",
            "correlationId": "e47bf24e-805c-5f83-9126-95fc4f582304",
            "idempotencyKey": "7db5d712-ee19-567f-8bde-2fd4bec2e9d4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-701249"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests that are part of the same operation.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations in the API.",
            "example": "idempotency-key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp marking when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that is sending the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application making the request.",
            "example": "TradeApp"
          },
          "channel": {
            "description": "Details about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual metadata associated with the request, such as identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel being used (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device that is being used for the request.",
            "example": "device-123"
          }
        },
        "description": "Information regarding the channel used for the request."
      },
      "CreateValidationForSecuritiesPositionKeepingRes100045Response_200": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action being processed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action being performed (e.g., create, delete, update).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action request (e.g., success, failure).",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the action processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations validation in the securities position keeping system.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "e1a8ecc5-8fe7-517f-90df-6e18809a39fd",
            "correlationId": "e47bf24e-805c-5f83-9126-95fc4f582304",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and operations.",
            "example": "correlation-abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T11:59:59Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information regarding the operation processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "securities-position-keeping-validate-securities-position-keeping"
        },
        "example": "securities-position-keeping-validate-securities-position-keeping"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that executed the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a valid JSON Web Token (JWT) to be included in the Authorization header of HTTP requests. The JWT must be issued by a trusted authority, ensuring only authenticated users can access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}