{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage QR Payment Requests API",
    "description": "The Manage QR Payment Requests API allows businesses to update the details of existing QR payment requests efficiently. This API supports operations that enable modifications to attributes such as payment amount, recipient details, and expiration settings. It is particularly useful for payment processors and merchants who need to adjust requests dynamically in response to changing transaction requirements or customer interactions. Developers can integrate this API to enhance their payment workflows and improve transaction management for their customers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/qr-payment-requests/{param1}": {
      "patch": {
        "tags": [
          "QR Payment Request Management"
        ],
        "summary": "Update QR Payment Request",
        "description": "This endpoint allows you to update the details of a specific QR payment request identified by its unique ID. Make the necessary changes to the payment request data as required and send the request to update it in the system.",
        "operationId": "patchQrPaymentRequestPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status or details of a specific QR payment request identified by the given ID. Ensure that the JSON structure adheres to the specified schema to facilitate a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchQrPaymentRequestPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The payment request was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchQrPaymentRequestPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchQrPaymentRequestPAY300045Request": {
        "type": "object",
        "properties": {
          "amount": {
            "description": "The amount details for the payment request.",
            "$ref": "#/components/schemas/Amount"
          },
          "description": {
            "type": "string",
            "description": "A description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for providing tips with the payment request.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "expiresAt": {
            "type": "string",
            "description": "The expiration time of the payment request in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the payment request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating QR payment requests.",
        "example": {
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "expiresAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "febe0d64-688b-525c-8760-df4b6508d866",
            "correlationId": "b55bb90e-e0f5-5395-833e-98ede86cb16b",
            "idempotencyKey": "c2a9ec1b-70cf-57be-831e-49e5e9d513ea",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-223091"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g. 'USD') of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents the monetary amount including the currency type and value."
      },
      "TipOptions": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "description": "Tip mode which can specify how tips are calculated.",
            "example": "fixed"
          },
          "fixedAmounts": {
            "type": "array",
            "description": "List of fixed tip amounts available for selection.",
            "example": [
              {
                "currency": "USD",
                "value": "5.00"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Amount"
            }
          },
          "percentages": {
            "type": "array",
            "description": "List of percentage values for tips.",
            "example": [
              "10%",
              "15%"
            ],
            "items": {
              "type": "string",
              "description": "A string representation of percentage values."
            }
          },
          "maximumTip": {
            "description": "Maximum allowable tip amount.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Options related to tips that a user can add to their payment."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details about the payment request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel information for the request."
      },
      "PatchQrPaymentRequestPAY300045Response_200": {
        "type": "object",
        "properties": {
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Unique identifier for the QR payment request.",
            "example": "649f7fa2-92ab-5c1d-9a5f-e25a0529dcba"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant initiating the QR payment.",
            "example": "MER-831543"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet processing the QR payment.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal used for processing the QR payment.",
            "example": "STANDARD"
          },
          "mode": {
            "type": "string",
            "description": "Payment mode used for the transaction.",
            "example": "STANDARD"
          },
          "standard": {
            "type": "string",
            "description": "Standard applied for the QR payment.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount for the payment including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the order in the merchant's system.",
            "example": "ORD-474975"
          },
          "description": {
            "type": "string",
            "description": "Description of the payment request.",
            "example": "Customer banking request processed successfully"
          },
          "tipOptions": {
            "description": "Options for tips that can be added to the payment.",
            "$ref": "#/components/schemas/TipOptions"
          },
          "qrPayload": {
            "type": "string",
            "description": "Payload encoded within the QR code.",
            "example": "STANDARD"
          },
          "qrImageUrl": {
            "type": "string",
            "description": "URL to the generated QR code image.",
            "example": "https://example.com/resource"
          },
          "status": {
            "type": "string",
            "description": "Current status of the QR payment request.",
            "example": "ACTIVE"
          },
          "singleUse": {
            "type": "boolean",
            "description": "Indicates whether the QR payment request is single-use or reusable.",
            "example": true
          },
          "paidAmount": {
            "description": "The amount that has been paid including currency and value.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the processed payment.",
            "example": "PAY-139427"
          },
          "expiresAt": {
            "type": "string",
            "description": "Expiration date and time for the QR payment request.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the QR payment request.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the payment request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on QR payment requests.",
        "example": {
          "qrPaymentRequestId": "649f7fa2-92ab-5c1d-9a5f-e25a0529dcba",
          "merchantId": "MER-831543",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "mode": "STANDARD",
          "standard": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "merchantOrderId": "ORD-474975",
          "description": "Customer banking request processed successfully",
          "tipOptions": {
            "mode": "STANDARD",
            "fixedAmounts": [
              {
                "currency": "USD",
                "value": "STANDARD"
              }
            ],
            "percentages": [
              "STANDARD"
            ],
            "maximumTip": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "qrPayload": "STANDARD",
          "qrImageUrl": "https://example.com/resource",
          "status": "ACTIVE",
          "singleUse": true,
          "paidAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "paymentId": "PAY-139427",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c264bc0e-bfb4-51ba-96f3-8b98d86440e4",
            "correlationId": "b55bb90e-e0f5-5395-833e-98ede86cb16b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the QR payment request was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for who created the QR payment request.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the QR payment request was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for who last updated the QR payment request.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the QR payment request.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details for tracking changes made to the QR payment request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response associated with the payment request.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across different systems.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is being processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the payment request for additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header uniquely identifies the endpoint that processed the request, allowing clients to trace back their request in a distributed system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-qr-payment-request"
        },
        "example": "banking-p2m-openapi-update-qr-payment-request"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that handled the request, providing context about the backend services involved.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the HTTP Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}