{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Authorization Update API",
    "description": "The Transaction Authorization Update API enables businesses to modify existing transaction authorization details efficiently. By utilizing this API, financial institutions can update authorization statuses or details in real-time to enhance transaction security and compliance. Typical consumers include banking applications and fraud detection systems, which rely on swift adjustments to authorization parameters. This API is essential for ensuring that transactions are processed accurately and securely, maintaining customer trust in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/transaction-authorization/{param1}": {
      "patch": {
        "tags": [
          "Transaction Authorization"
        ],
        "summary": "Update transaction authorization details",
        "description": "This endpoint allows you to update the details of a specific transaction authorization identified by its unique reference ID. By providing the necessary data, you can modify the status or other attributes of the authorization.",
        "operationId": "patchCrossChannelTransactionAuthorizationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the transaction authorization details for a specific resource. Ensure that all necessary fields are provided to successfully process the patch operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCrossChannelTransactionAuthorizationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The transaction authorization was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCrossChannelTransactionAuthorizationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCrossChannelTransactionAuthorizationRes100045Request": {
        "title": "Transaction Authorization Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details about the changes requested for the transaction.",
            "$ref": "#/components/schemas/TransactionChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change to the transaction.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Represents the request body for authorizing a transaction via cross-channel operations.",
        "example": {
          "changes": {
            "partyId": "PARTY-839652",
            "interactionId": "INT-249872",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "93bc4b34-df47-5d59-ad4c-d56fd5d33bb8",
            "correlationId": "17b06df8-da3d-5691-9172-d7d7f8d0206b",
            "idempotencyKey": "f2133ec6-7649-57cb-8174-57de73a0288f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-965932"
            }
          }
        }
      },
      "TransactionChanges": {
        "title": "Transaction Changes",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "The identifier for the party involved in the transaction.",
            "example": "party_id_1"
          },
          "interactionId": {
            "type": "string",
            "description": "The identifier for the interaction associated with this transaction.",
            "example": "interaction_id_1"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the transaction is processed.",
            "example": "Web"
          }
        },
        "description": "Contains the details of the changes to be applied to the transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple requests.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is processed only once.",
            "example": "idempotency_key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T11:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Holds contextual information related to the request for tracking and auditing purposes."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., Web, Mobile).",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device_001"
          }
        },
        "description": "Information about the channel used for the transaction."
      },
      "PatchCrossChannelTransactionAuthorizationRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the transaction authorization.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the transaction was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the transaction authorization response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the transaction authorization operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "739f0390-4fda-5294-b444-03df02291c2d",
            "correlationId": "17b06df8-da3d-5691-9172-d7d7f8d0206b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests and responses.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information regarding the transaction authorization."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "transaction-authorization-update-transaction-authorization"
        },
        "example": "transaction-authorization-update-transaction-authorization"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, where a JSON Web Token (JWT) is provided in the authorization header to access secured endpoints. Clients must include this token when making requests to authenticate themselves.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}