{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Advanced Voice Services Management API",
    "description": "The Advanced Voice Services Management API enables businesses to monitor and manage their voice service channels effectively. This endpoint offers functionalities for retrieving detailed information about voice service configurations and usage statistics. It is designed for system administrators and IT professionals who need to ensure optimal performance and resource allocation within voice communications systems. By leveraging this API, organizations can enhance their voice service capabilities and streamline operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/advanced-voice-services-management": {
      "get": {
        "tags": [
          "Advanced Voice Services"
        ],
        "summary": "Retrieve advanced voice services management details.",
        "description": "This endpoint allows developers to fetch information related to the management of advanced voice services for specific channels. Utilize this endpoint to understand configuration options, status, and usage metrics.",
        "operationId": "getAdvancedVoiceServicesManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to retrieve advanced voice services management information for a specific channel. It must be structured according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAdvancedVoiceServicesManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the advanced voice services data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAdvancedVoiceServicesManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAdvancedVoiceServicesManagementRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to advanced voice services management within a specific channel.",
        "example": "{}"
      },
      "GetAdvancedVoiceServicesManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of voice platform details.",
            "example": [
              {
                "voicePlatformId": "STANDARD",
                "ivrFlowId": "STANDARD",
                "supportedLanguages": [
                  "STANDARD"
                ],
                "concurrentCallCapacity": 1,
                "regionCode": "US-EAST-1",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/VoicePlatformDetails"
            }
          },
          "pagination": {
            "description": "Information about pagination related to the results.",
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the advanced voice services management GET operation, providing details on supported voice platforms, pagination, and metadata.",
        "example": {
          "items": [
            {
              "voicePlatformId": "STANDARD",
              "ivrFlowId": "STANDARD",
              "supportedLanguages": [
                "STANDARD"
              ],
              "concurrentCallCapacity": 1,
              "regionCode": "US-EAST-1",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6e696f61-bcba-5f6c-8906-ed5357452b1a",
            "correlationId": "2bae8322-e989-5b67-89ec-8bf3d1c24864",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VoicePlatformDetails": {
        "type": "object",
        "properties": {
          "voicePlatformId": {
            "type": "string",
            "description": "Unique identifier for the voice platform."
          },
          "ivrFlowId": {
            "type": "string",
            "description": "Identifier for the IVR flow associated with the voice platform."
          },
          "supportedLanguages": {
            "type": "array",
            "description": "List of languages supported by the voice platform.",
            "items": {
              "type": "string",
              "description": "A language supported by the voice platform."
            }
          },
          "concurrentCallCapacity": {
            "type": "integer",
            "description": "The maximum number of concurrent calls that the platform can handle.",
            "format": "int32"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region of this voice platform."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current recording status of the voice platform."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to this voice platform."
          }
        },
        "description": "Details of a voice platform including its capabilities and configurations."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the result set.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response, detailing current page and item counts."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for this particular response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this response with the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata information related to the response including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint in the voice services management system, providing context for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "advanced-voice-services-management-search-advanced-voice-services-management"
        },
        "example": "advanced-voice-services-management-search-advanced-voice-services-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, indicating which application context is handling the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. A bearer token must be included in the authorization header as a JWT (JSON Web Token).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}