{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Available Balance Inquiry API",
    "description": "The Available Balance Inquiry API empowers users to check the current available balance for specific customer accounts. By providing the customer ID and account ID, consumers can retrieve crucial financial information necessary for effective account management. This API is particularly useful for banking applications and financial services that need real-time access to account balances. Typically utilized by account management systems and mobile banking apps, this endpoint ensures that customers have the most up-to-date information at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/availablebalance": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Retrieve available balance for a specific account",
        "description": "This endpoint allows you to fetch the available balance for a specified customer account. It provides essential financial information to help manage account status and transactions effectively.",
        "operationId": "getAvailableBalanceForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the available balance of a specific account for a given customer. This operation fetches the balance details, allowing clients to understand the financial standing of the account in question.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAvailableBalanceForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the available balance for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAvailableBalanceForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAvailableBalanceForAccountRequest": {
        "title": "Available Balance Request Body",
        "type": "string",
        "description": "This schema represents the request body structure for fetching the available balance of a specific account.",
        "example": "{}"
      },
      "GetAvailableBalanceForAccountResponse_200": {
        "title": "Account Available Balance Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier of the account.",
            "format": "int32",
            "example": 1
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "STANDARD"
          },
          "availableBalance": {
            "type": "number",
            "description": "The available balance for the account.",
            "example": 100.0
          },
          "availableBalanceDate": {
            "type": "integer",
            "description": "The date when the available balance was last updated, in epoch time.",
            "format": "int32",
            "example": 1
          },
          "clearedBalance": {
            "type": "number",
            "description": "The cleared balance for the account.",
            "example": 100.0
          },
          "clearedBalanceDate": {
            "type": "integer",
            "description": "The date when the cleared balance was last updated, in epoch time.",
            "format": "int32",
            "example": 1
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The status code of the balance aggregation process.",
            "format": "int32",
            "example": 1
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account balance.",
            "example": "USD"
          },
          "metadata": {
            "$ref": "#/components/schemas/BalanceMetadata"
          }
        },
        "description": "This schema represents the response for the available balance of a customer's account.",
        "example": {
          "id": 1,
          "realAccountNumberLast4": "STANDARD",
          "availableBalance": 100.0,
          "availableBalanceDate": 1,
          "clearedBalance": 100.0,
          "clearedBalanceDate": 1,
          "aggregationStatusCode": 1,
          "currency": "USD",
          "metadata": {
            "responseId": "3dba7682-f4bb-579d-8868-1a90c3a90c75",
            "correlationId": "bb171b97-8a90-53b8-899f-9137592e121d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceMetadata": {
        "title": "Balance Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the account balance response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, representing the specific operation that is being performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-available-balance"
        },
        "example": "open-finance-api-get-available-balance"
      },
      "X-Runtime-App": {
        "description": "The runtime application name that processed the request, useful for debugging and tracing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication method that requires a valid JSON Web Token (JWT) for accessing secured endpoints. Clients must include the token in the authorization header as 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}