{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Details API",
    "description": "The Update Loan Details API allows authorized users to modify existing loan information within the system. This operation is essential for maintaining accurate loan records, enabling businesses to adjust terms, interest rates, or other key attributes as needed. Typically used by financial institutions and customer service representatives, this API supports the dynamic management of loans, ensuring clients receive up-to-date information. The API facilitates improvements in user experience and operational efficiency by streamlining the loan management process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}": {
      "put": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a specific loan.",
        "description": "This endpoint allows users to update the details of a specified loan using its unique identifier. Ensure that all required fields are included and properly formatted.",
        "operationId": "updateLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the specified loan with the provided details. Ensure that all required fields are included in the request body to successfully process the update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanByIdRequest": {
        "title": "Loan Operations Request Body",
        "type": "object",
        "properties": {
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number where repayments will be made.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "Code of the branch handling the loan servicing.",
            "example": "CODE-618"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Unique identifier of the relationship manager assigned to the loan.",
            "example": "STANDARD"
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "collectionStrategy": {
            "type": "string",
            "description": "The strategy used for loan collection.",
            "example": "STANDARD"
          },
          "servicingNotes": {
            "type": "string",
            "description": "Additional notes regarding the servicing of the loan.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating loan operations.",
        "example": {
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-618",
          "relationshipManagerId": "STANDARD",
          "preferredRepaymentDay": 1,
          "collectionStrategy": "STANDARD",
          "servicingNotes": "STANDARD",
          "requestContext": {
            "requestId": "ad1d1ecd-10d6-5b15-b96d-6423435b1388",
            "correlationId": "60bdc1e9-04a7-5797-bd39-7334f02ed3a3",
            "idempotencyKey": "704333b5-cd40-5559-9e0e-46ab8c860ef4",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-479867"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across services.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to prevent duplicate request processing.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CoreBankingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "LoanManagementApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "DEVICE12345"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateLoanByIdResponse_200": {
        "title": "Loan Operation Response",
        "type": "object",
        "properties": {
          "sourceApplicationId": {
            "type": "string",
            "description": "The identifier for the source application related to the loan.",
            "example": "APP-919458"
          },
          "productId": {
            "type": "string",
            "description": "The identifier of the loan product.",
            "example": "PROD-128109"
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The identifier of the primary customer associated with the loan.",
            "example": "CUST-400388"
          },
          "borrowerCustomerIds": {
            "type": "array",
            "description": "A list of borrower customer identifiers.",
            "example": [
              "CUST-374120"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for a borrower customer.",
              "example": "BORROWER-101"
            }
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "interestRateType": {
            "type": "string",
            "description": "The type of interest rate applicable to the loan.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayments for the loan.",
            "example": "STANDARD"
          },
          "bookingDate": {
            "type": "string",
            "description": "The date the loan was booked.",
            "example": "2026-09-15"
          },
          "firstPaymentDate": {
            "type": "string",
            "description": "The date of the first payment for the loan.",
            "example": "2026-09-15"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date the loan matures.",
            "example": "2026-09-15"
          },
          "repaymentAccountNumber": {
            "type": "string",
            "description": "The account number used for loan repayments.",
            "example": "STANDARD"
          },
          "servicingBranchCode": {
            "type": "string",
            "description": "The code for the branch servicing the loan.",
            "example": "CODE-514"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the loan.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose for which the loan is taken.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan.",
            "example": "3e5ffc7e-1948-032f-2e71-0b29ddf8eefd"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number related to the loan.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan.",
            "example": "ACTIVE"
          },
          "balance": {
            "description": "The current balance details of the loan.",
            "$ref": "#/components/schemas/LoanBalance"
          },
          "totalDisbursed": {
            "description": "The total amount disbursed for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalRepaid": {
            "description": "The total amount repaid towards the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "metadata": {
            "description": "Additional metadata related to the loan operation response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Represents the response from a loan operation request.",
        "example": {
          "sourceApplicationId": "APP-919458",
          "productId": "PROD-128109",
          "primaryCustomerId": "CUST-400388",
          "borrowerCustomerIds": [
            "CUST-374120"
          ],
          "principal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "interestRateType": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "bookingDate": "2026-09-15",
          "firstPaymentDate": "2026-09-15",
          "maturityDate": "2026-09-15",
          "repaymentAccountNumber": "STANDARD",
          "servicingBranchCode": "CODE-514",
          "relationshipManagerId": "STANDARD",
          "purpose": "STANDARD",
          "id": "3e5ffc7e-1948-032f-2e71-0b29ddf8eefd",
          "accountNumber": "STANDARD",
          "status": "ACTIVE",
          "balance": {
            "principalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "accruedInterest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "feesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penaltiesOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "totalOutstanding": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "availableToDraw": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "totalDisbursed": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "totalRepaid": {
            "currency": "USD"
          },
          "metadata": {
            "responseId": "3ea904ad-20a3-595d-a4a4-fa8da5fb56f6",
            "correlationId": "60bdc1e9-04a7-5797-bd39-7334f02ed3a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanAmount": {
        "title": "Loan Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount value as a string.",
            "example": "100000"
          }
        },
        "description": "Represents an amount associated with a loan, including currency."
      },
      "LoanBalance": {
        "title": "Loan Balance Details",
        "type": "object",
        "properties": {
          "principalOutstanding": {
            "description": "The outstanding principal amount of the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "accruedInterest": {
            "description": "The total accrued interest on the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "feesOutstanding": {
            "description": "The total outstanding fees associated with the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "penaltiesOutstanding": {
            "description": "The total outstanding penalties for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "totalOutstanding": {
            "description": "The total outstanding amount due for the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          },
          "availableToDraw": {
            "description": "The amount available to draw from the loan.",
            "$ref": "#/components/schemas/LoanAmount"
          }
        },
        "description": "Contains balance-related details of a loan."
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "RESP-56789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the process was executed.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with a loan operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the request. This helps in tracking and managing API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-loan"
        },
        "example": "banking-loans-openapi-replace-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that made the request. This is useful for identifying the source of the API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid bearer token in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}