{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Amount Management API",
    "description": "The Account Amount Management API allows for the submission of financial amounts associated with specific customer accounts. This endpoint is essential for applications needing to update or record monetary transactions tied to a customer's account, such as deposits, withdrawals, or adjustments. Typical consumers include financial institutions, mobile banking applications, and accounting services. By facilitating precise management of account amounts, the API enhances the visibility and accuracy of customer financial records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/microentry/customers/{customerId}/accounts/{accountId}/amounts": {
      "post": {
        "tags": [
          "CustomerAccounts"
        ],
        "summary": "Create amounts for a specific account of a customer.",
        "description": "This operation allows for the creation of new amounts for a specific account belonging to a customer identified by their unique ID. Ensure all required data for the amount is included in the request.",
        "operationId": "createAccountAmountsForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new amount operation for a specific account belonging to a customer. The operation details must comply with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAccountAmountsForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, returning updated data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAccountAmountsForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAccountAmountsForCustomerCUST100045Request": {
        "title": "Operations Request Body for Account Amounts",
        "type": "object",
        "properties": {
          "amounts": {
            "type": "array",
            "description": "A list of operation amounts. Each amount should be a number representing a monetary value.",
            "example": [
              100.0
            ],
            "items": {
              "type": "number",
              "example": 0.0
            }
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting operation amounts related to an account.",
        "example": {
          "amounts": [
            100.0
          ],
          "requestContext": {
            "requestId": "716e12de-b981-50aa-96bf-abdeffeb87ba",
            "correlationId": "7ae784fd-bb51-5dd0-8608-8d76e6ebc9a2",
            "idempotencyKey": "ca703b0d-1b10-514c-b927-c4b53f2aa18c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-580806"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the same operation is not performed multiple times.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application source of the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel, such as web, mobile, etc.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device from which the request originated.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the communication channel through which the request was made."
      },
      "CreateAccountAmountsForCustomerCUST100045Response_200": {
        "title": "Operations Response Schema",
        "required": [
          "metadata",
          "status",
          "statusDescription"
        ],
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the operation request.",
            "example": "ACTIVE"
          },
          "statusDescription": {
            "type": "string",
            "description": "A detailed description of the operation status.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response, including identifiers and timing information.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the operations request specific to a customer's account.",
        "example": {
          "status": "ACTIVE",
          "statusDescription": "STANDARD",
          "metadata": {
            "responseId": "2372a78e-13fe-5c81-b6ad-ffe357faf109",
            "correlationId": "7ae784fd-bb51-5dd0-8608-8d76e6ebc9a2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "required": [
          "correlationId",
          "generatedAt",
          "processingRegion",
          "responseId"
        ],
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this response with a request.",
            "example": "corr-654321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing various identifiers and timestamps related to the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-verify-micro-amount-deposits"
        },
        "example": "open-finance-api-verify-micro-amount-deposits"
      },
      "x-runtime-app": {
        "description": "Indicates the version of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token and follows the JSON Web Token (JWT) format for securing API access. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}