{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Hold Management API",
    "description": "The Hold Management API facilitates the process of placing a hold on specific settlements identified by their unique settlementId. This service ensures accurate financial operations by allowing users to temporarily restrict transactions related to designated settlements. Typical consumers include financial institutions and payment processors seeking to manage settlement disputes or fulfill regulatory requirements. This API streamlines the hold process while maintaining transaction integrity across the financial system.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements/{settlementId}/hold": {
      "post": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Hold a specific settlement.",
        "description": "This operation allows you to place a hold on a specific settlement identified by its unique identifier. A hold prevents further processing of the settlement until it is released. Use this endpoint to ensure that the settlement remains unchanged until necessary actions are taken.",
        "operationId": "holdSettlementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a hold operation for the specified settlement with ID RES-100045. Ensure that all required parameters are correctly provided to successfully execute the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/HoldSettlementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The hold request was successfully processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HoldSettlementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "HoldSettlementByIdRequest": {
        "title": "Hold Operations Request Body",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the hold.",
            "example": "CODE-998"
          },
          "reason": {
            "type": "string",
            "description": "A detailed explanation of the reason for the hold.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "A context object providing additional metadata for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for hold operations related to settlements.",
        "example": {
          "reasonCode": "CODE-998",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "a11425b6-396a-5deb-b976-95f006d2ff6a",
            "correlationId": "1f726129-bcd2-5fca-bb9f-77587af854de",
            "idempotencyKey": "f62b3d59-1b9a-5a26-8866-673c4d431d7f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-270643"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that made the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device from which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing information related to the communication channel used for the request."
      },
      "HoldSettlementByIdResponse_200": {
        "title": "Settlement Response",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "MER-641128"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Account identifier where the settlement is processed.",
            "example": "ACC-818590"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2026-08-11T12:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the settlement is processed.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "ACTIVE"
          },
          "summary": {
            "description": "Summary of the settlement details.",
            "$ref": "#/components/schemas/Summary"
          },
          "lineCount": {
            "type": "integer",
            "description": "Number of lines in the settlement.",
            "format": "int32",
            "example": 1
          },
          "bankPayoutReference": {
            "type": "string",
            "description": "Reference provided by the bank for payout.",
            "example": "STANDARD"
          },
          "expectedPayoutAt": {
            "type": "string",
            "description": "Timestamp indicating when the payout is expected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information for tracking changes.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the settlement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a settlement operation.",
        "example": {
          "settlementId": "STANDARD",
          "merchantId": "MER-641128",
          "settlementAccountId": "ACC-818590",
          "periodStart": "2026-08-11T12:00:00Z",
          "periodEnd": "2026-08-11T12:00:00Z",
          "currency": "USD",
          "status": "ACTIVE",
          "summary": {
            "grossPayments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunds": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversals": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "disputes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "taxes": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveHeld": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reserveReleased": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "adjustments": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netSettlement": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "lineCount": 1,
          "bankPayoutReference": "STANDARD",
          "expectedPayoutAt": "2026-08-11T12:00:00Z",
          "paidAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15"
          },
          "metadata": {
            "responseId": "3484fb8c-cd67-56bd-b989-4182298dab53",
            "correlationId": "1f726129-bcd2-5fca-bb9f-77587af854de",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "description": "Total gross payments in the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "refunds": {
            "description": "Total refunds processed during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reversals": {
            "description": "Total reversals made during the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "disputes": {
            "description": "Total disputes involved in the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "fees": {
            "description": "Total fees deducted from the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "taxes": {
            "description": "Total taxes included in the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reserveHeld": {
            "description": "Total amount held in reserve.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "reserveReleased": {
            "description": "Total amount released from reserve.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "adjustments": {
            "description": "Total adjustments made to the settlement.",
            "$ref": "#/components/schemas/FinancialDetail"
          },
          "netSettlement": {
            "description": "Net amount of the settlement after all deductions.",
            "$ref": "#/components/schemas/FinancialDetail"
          }
        },
        "description": "Detailed summary of the settlement including various financial metrics."
      },
      "FinancialDetail": {
        "title": "Financial Detail",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency associated with the financial value.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The actual financial value.",
            "example": "string"
          }
        },
        "description": "Represents a financial detail item consisting of a currency and value."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement record was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement record was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement record.",
            "example": "string"
          }
        },
        "description": "Records of the creation and update events of the settlement."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate between the request and response.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional contextual information for the settlement."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-hold-settlement"
        },
        "example": "banking-p2m-openapi-hold-settlement"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token in JWT (JSON Web Token) format. This token should be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}