{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Position API",
    "description": "The Customer Position API provides access to the current financial standing and asset distribution of customers within the banking system. This API allows clients to fetch detailed information regarding customer portfolios, including balances, investments, and liabilities. Typical consumers include financial analysts and account managers who rely on this data for reporting, analysis, and decision-making. With this endpoint, users can better understand customer engagement and tailor services to enhance client satisfaction and retention.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/customer-position": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve customer position data.",
        "description": "Fetches the current position details for a specific customer within the account management system. This endpoint allows the retrieval of important information regarding a customer's standing.",
        "operationId": "getCustomerPosition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the customer's position information. It should contain the necessary parameters to specify the customer whose position is being queried.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerPositionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the customer position data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerPositionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerPositionRequest": {
        "type": "string",
        "description": "This schema represents a request body for the customer position GET operation in account management.",
        "example": "{}"
      },
      "GetCustomerPositionResponse_200": {
        "title": "Customer Position Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer account positions.",
            "example": [
              {
                "accountId": "ACC-848162",
                "customerId": "CUST-279583",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerAccountPosition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object containing customer position information.",
        "example": {
          "items": [
            {
              "accountId": "ACC-848162",
              "customerId": "CUST-279583",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f0c0b862-d0e0-5e60-b770-46d0c142d820",
            "correlationId": "135fc6d8-c77d-52be-845c-b130b795a943",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerAccountPosition": {
        "title": "Customer Account Position",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry.",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance.",
            "example": "string"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance in the ledger.",
            "example": 0.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the ledger record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a customer account position."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-position-search-customer-position"
        },
        "example": "customer-position-search-customer-position"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. Users must provide a valid JSON Web Token (JWT) for access to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}