{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brand Management API",
    "description": "The Brand Management API facilitates the dynamic updating of brand information within the marketing system. It allows authorized users to modify attributes associated with a specific brand identified by the parameter provided in the request. This API is essential for marketing teams and brand managers who require a seamless method to ensure that brand data reflects current strategies and campaigns. Use cases include adjustments to branding details in response to market shifts or internal policies. Developers can integrate this API to enhance their applications with real-time brand management capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/brand-management/{param1}": {
      "patch": {
        "tags": [
          "Brand Management"
        ],
        "summary": "Update brand management resource RES-100045.",
        "description": "This endpoint allows you to update the details of the brand management resource identified by RES-100045. Ensure you provide the necessary fields in the request body to perform the update successfully.",
        "operationId": "patchBrandManagementRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the brand management details for the specified resource (RES-100045). It should contain the necessary fields to modify the existing data and may include optional parameters based on the business requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchBrandManagementRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchBrandManagementRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchBrandManagementRes100045Request": {
        "title": "Patch Request Body for Brand Management Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes to be made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for modifying brand management operations. It includes the changes to be made, the reason for the change, and request context information.",
        "example": {
          "changes": {
            "campaignId": "STANDARD",
            "targetSegmentId": "STANDARD",
            "channelMix": [
              "STANDARD"
            ]
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e98329f6-a2d6-5542-81ec-70def4e4de43",
            "correlationId": "854ae7b2-f008-5cc8-ac10-834613ca8665",
            "idempotencyKey": "31eabb1a-f076-5643-a398-8b3779681abf",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-677469"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes in Brand Management",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "string"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier for the target segment.",
            "example": "string"
          },
          "channelMix": {
            "type": "array",
            "description": "A list representing the mix of channels to be used.",
            "items": {
              "type": "string",
              "description": "Each channel in the channel mix.",
              "example": "string"
            }
          }
        },
        "description": "This schema defines the specific changes being requested for brand management."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains metadata about the request context, including identification and source information."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, offline).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used in the request."
      },
      "PatchBrandManagementRes100045Response_200": {
        "title": "Brand Management Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the information was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the PATCH operation in the Brand Management operations.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4eb8c2ba-c6da-569d-9c27-7e0907c999f5",
            "correlationId": "854ae7b2-f008-5cc8-ac10-834613ca8665",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to track the correlation of requests/responses.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2021-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Contains additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed. This value is essential for tracking and tracing the requests associated with this endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brand-management-update-brand-management"
        },
        "example": "brand-management-update-brand-management"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request. This header helps in identifying which application instance is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication protocol with JSON Web Tokens (JWT). It requires a valid token to be included in the authorization header of each request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}