{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Bank Account Management API",
    "description": "The Internal Bank Account Management API enables financial institutions to create and manage internal bank accounts efficiently. This API supports various functions, such as account creation, configuration, and integration with existing banking systems. Typical consumers include internal banking teams and system integrators looking to streamline operations. With enhanced capabilities, this API facilitates the development of banking applications that require robust account management features.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/internal-bank-account": {
      "post": {
        "tags": [
          "Bank Account Management"
        ],
        "summary": "Create a new internal bank account.",
        "description": "This endpoint allows the user to create a new internal bank account within the operational services. It requires the necessary account details to be provided in the request body.",
        "operationId": "createInternalBankAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating or updating an internal bank account within the operational services. This should contain the necessary fields required to process the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternalBankAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternalBankAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternalBankAccountRequest": {
        "title": "Internal Bank Account Operation Request",
        "required": [
          "accountId",
          "customerId",
          "operationId",
          "requestContext",
          "requestedAt"
        ],
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the operation being performed.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier of the customer associated with the bank account operation.",
            "example": "CUST-603581"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier of the bank account on which the operation is performed.",
            "example": "ACC-533049"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was requested.",
            "example": "2026-08-11T12:00:00Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the operation (e.g., high, medium, low).",
            "example": "NORMAL"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for performing operations on internal bank accounts.",
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-603581",
          "accountId": "ACC-533049",
          "requestedAt": "2026-08-11T12:00:00Z",
          "priority": "NORMAL",
          "requestContext": {
            "requestId": "d690f81e-72f1-55ee-9008-a37fcad2f215",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "idempotencyKey": "9e82ec84-65e7-53a9-b518-27843bfb79a6",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-989657"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "required": [
          "channel",
          "correlationId",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the operation is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "required": [
          "channelId",
          "channelType"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateInternalBankAccountResponse_201": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "example": "CUST-325133"
          },
          "accountId": {
            "type": "string",
            "example": "ACC-365690"
          },
          "resourceId": {
            "type": "string",
            "example": "RES-940434"
          },
          "status": {
            "type": "string",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "example": "string"
              }
            },
            "example": {
              "responseId": "74534366-2e5b-5eb8-b021-995525b948ef",
              "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "operationId": "STANDARD",
          "customerId": "CUST-325133",
          "accountId": "ACC-365690",
          "resourceId": "RES-940434",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "74534366-2e5b-5eb8-b021-995525b948ef",
            "correlationId": "4a4de8cf-c66c-5c1d-9e41-d6820079d021",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-bank-account-create-internal-bank-account"
        },
        "example": "internal-bank-account-create-internal-bank-account"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication mechanism. Clients must provide a valid JSON Web Token (JWT) as part of the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}