{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Treasury Management API",
    "description": "The Corporate Treasury Management API enables organizations to efficiently manage their treasury activities, such as cash flow monitoring and liquidity management. This endpoint allows for the modification of existing treasury records, ensuring that financial data remains up-to-date and accurate. Typical users of this API include financial institutions, corporate accountants, and treasury managers who require real-time access to treasury operations. By integrating this API into their systems, businesses can enhance their financial operations, streamline processes, and ensure compliance with accounting standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury/{param1}": {
      "patch": {
        "tags": [
          "Corporate Treasury Management"
        ],
        "summary": "Update Corporate Treasury Resource",
        "description": "This endpoint allows you to update properties of the specified Corporate Treasury resource identified by the resource ID. Ensure that the request body contains the necessary fields to make the desired updates.",
        "operationId": "updateCorporateTreasuryResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to update specific properties of the corporate treasury resource identified by RES-100045. The fields that can be updated are defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCorporateTreasuryResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCorporateTreasuryResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCorporateTreasuryResource100045Request": {
        "title": "Corporate Treasury Operations Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the treasury operations.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations in the corporate treasury management API.",
        "example": {
          "changes": {
            "portfolioId": "PORT-753045",
            "instrumentId": "STANDARD",
            "counterpartyId": "PARTY-181940"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9e3fc3b5-67e8-5d4e-a390-194966984aca",
            "correlationId": "60f81c5d-b5a6-5193-9beb-55c7064d1e0b",
            "idempotencyKey": "066db158-65c5-5166-9a5b-12af7e7422c8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-767812"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio that is being changed.",
            "example": "portfolio-123"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier of the instrument involved in the changes.",
            "example": "instrument-456"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier of the counterparty related to the changes.",
            "example": "counterparty-789"
          }
        },
        "description": "Schema representing the specific changes to treasury operations."
      },
      "RequestContext": {
        "title": "RequestContext",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "request-abc"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests.",
            "example": "correlation-xyz"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of requests.",
            "example": "idempotency-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Internal Treasury System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "Treasury Management App"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel such as web, mobile, etc.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from which the request was made.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the details of the channel from which the request originated."
      },
      "UpdateCorporateTreasuryResource100045Response_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the operations in the corporate treasury module when a PATCH request is made.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4b49146e-3a2f-5db4-9b52-2323c6d8b6ed",
            "correlationId": "60f81c5d-b5a6-5193-9beb-55c7064d1e0b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was performed.",
            "example": "string"
          }
        },
        "description": "Contains metadata pertaining to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-update-corporate-treasury"
        },
        "example": "corporate-treasury-update-corporate-treasury"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer token for authentication. Clients must include the token in the Authorization header of their requests for access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}