{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Balance Sheet Retrieval API",
    "description": "The Balance Sheet Retrieval API enables users to access comprehensive balance sheet data to analyze financial positions and performance. This endpoint facilitates the retrieval of detailed balance sheet information, including assets, liabilities, and equity components. Typical consumers include financial analysts, accountants, and treasury departments seeking to monitor and report on organizational financial health. Users can leverage this API to support decision-making processes and enhance financial reporting accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/balance-sheet-management": {
      "get": {
        "tags": [
          "Treasury Management"
        ],
        "summary": "Retrieve treasury balance sheet management data.",
        "description": "This endpoint allows you to access and retrieve the current balance sheet management data related to the treasury. It provides insights into assets, liabilities, and overall financial position.",
        "operationId": "getTreasuryBalanceSheetManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the balance sheet management information from the treasury. Ensure that the JSON payload conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTreasuryBalanceSheetManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved balance sheet management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTreasuryBalanceSheetManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTreasuryBalanceSheetManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to balance sheet management in the treasury context.",
        "example": "{}"
      },
      "GetTreasuryBalanceSheetManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of balance sheet items.",
            "example": [
              {
                "portfolioId": "PORT-121771",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-839934",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BalanceSheetItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the balance sheet management operations.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-121771",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-839934",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6c1a2de2-bb9d-551b-909b-2a77c115123a",
            "correlationId": "a0e40343-d9aa-560d-9b01-fc3630a39cc3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BalanceSheetItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio."
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument."
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the transaction."
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the financial instrument matures."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated."
          }
        },
        "description": "Details of each balance sheet item."
      },
      "NotionalAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the transaction."
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is denominated."
          }
        },
        "description": "Structure representing the notional amount of a financial transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination details for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to track the request across services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "asset-and-liability-management-search-asset-and-liability-management"
        },
        "example": "asset-and-liability-management-search-asset-and-liability-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of requests. The token is used to verify the identity of the user or service making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}