{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Direct Debit Management API",
    "description": "The Direct Debit Management API allows financial institutions and businesses to retrieve information related to direct debit transactions. Use this API to access details about existing direct debit arrangements, monitor transaction statuses, and analyze payment history. It is typically used by banking professionals, developers of financial applications, and client service teams who need visibility into payment processes. This API plays a crucial role in managing automated financial transactions efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/direct-debit": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve direct debit information.",
        "description": "This endpoint allows users to retrieve detailed information regarding direct debit transactions within the trade banking domain. It provides essential data to help users manage and track their direct debit operations effectively.",
        "operationId": "getTradeBankingDirectDebit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding direct debit operations within the trade banking system. It should be structured according to the defined schema and sent in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTradeBankingDirectDebitRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested direct debit information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTradeBankingDirectDebitResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTradeBankingDirectDebitRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Direct Debit operations in the Trade Banking API when a GET request is made.",
        "example": "{}"
      },
      "GetTradeBankingDirectDebitResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of direct debit mandate objects.",
            "example": [
              {
                "mandateId": "2026-09-15",
                "debtorAccountId": "ACC-242999",
                "creditorSchemeId": "STANDARD",
                "collectionAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "collectionDate": "2026-09-15",
                "frequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DirectDebitMandate"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Direct Debit Operations GET request, containing a list of direct debit mandates along with pagination and metadata.",
        "example": {
          "items": [
            {
              "mandateId": "2026-09-15",
              "debtorAccountId": "ACC-242999",
              "creditorSchemeId": "STANDARD",
              "collectionAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "collectionDate": "2026-09-15",
              "frequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "2fda71fe-8514-51aa-afab-c9783e25b2cc",
            "correlationId": "2b11f9e0-6541-5e64-bd8e-a261fcded409",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DirectDebitMandate": {
        "type": "object",
        "properties": {
          "mandateId": {
            "type": "string",
            "description": "Unique identifier for the mandate."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account."
          },
          "creditorSchemeId": {
            "type": "string",
            "description": "Identifier for the creditor scheme."
          },
          "collectionAmount": {
            "$ref": "#/components/schemas/CollectionAmount"
          },
          "collectionDate": {
            "type": "string",
            "description": "The date when the collection is scheduled."
          },
          "frequency": {
            "type": "string",
            "description": "The frequency of the collections (e.g., weekly, monthly)."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the mandate record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the mandate was last updated."
          }
        },
        "description": "Represents a direct debit mandate with relevant details."
      },
      "CollectionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount to be collected."
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the collection amount is specified."
          }
        },
        "description": "Details of the amount to be collected for the direct debit."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the paginated results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate request with the response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "direct-debit-search-direct-debit"
        },
        "example": "direct-debit-search-direct-debit"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime environment that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is passed in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}