{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Loan Information API",
    "description": "The Corporate Loan Information API provides access to detailed information about corporate loan offerings, including terms, rates, and eligibility requirements. This API serves as a resource for financial institutions, businesses, and developers needing to integrate comprehensive loan data into their applications. Typical use cases include evaluating loan products, comparing financing options, and enhancing customer service experiences. By utilizing this API, consumers can make informed decisions regarding their corporate lending needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan": {
      "get": {
        "tags": [
          "Corporate Lending"
        ],
        "summary": "Retrieve details for corporate loans under deposit lending.",
        "description": "This endpoint allows clients to fetch specific details related to corporate loans offered in the deposit lending category. Use this to access key information essential for understanding loan options and terms.",
        "operationId": "getCorporateLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body required to initiate a corporate loan process. This body should contain specific parameters that define the loan details and terms requested by the corporate entity. Ensure all required fields are properly filled to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLoanDetailsRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation on corporate loan services.",
        "example": "{}"
      },
      "GetCorporateLoanDetailsResponse_200": {
        "title": "Corporate Loan Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of corporate loan items.",
            "example": [
              {
                "customerId": "CUST-164726",
                "accountId": "ACC-921703",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the loan items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for retrieving corporate loan details.",
        "example": {
          "items": [
            {
              "customerId": "CUST-164726",
              "accountId": "ACC-921703",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8d766b3-2fb7-5ea8-9c9e-e194f759acd2",
            "correlationId": "c60d00e0-3dca-5a45-9b84-dfd2185ec117",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateLoanItem": {
        "title": "Corporate Loan Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST12345"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "ACC98765"
          },
          "productCode": {
            "type": "string",
            "description": "Product code of the loan.",
            "example": "LOAN2023"
          },
          "principal": {
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan term in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment.",
            "example": "monthly"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the loan record was last updated.",
            "example": "2023-10-10T14:48:00.000Z"
          }
        },
        "description": "Details of a single corporate loan."
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Principal amount of the loan.",
            "example": 50000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Details of the principal amount of the loan."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information about pagination in the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T14:48:00.000Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-search-corporate-loan"
        },
        "example": "corporate-loan-search-corporate-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses JSON Web Tokens (JWT) to provide a secure method for transmitting information between parties. Clients must include a valid JWT in the Authorization header using the Bearer prefix.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}