{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Banking Facilities Operational Status API",
    "description": "The Banking Facilities Operational Status API provides real-time insights into the operational status of banking facilities. It allows consumers, such as financial institutions and system administrators, to retrieve status information on site operations across multiple locations. This API aids in monitoring functionality, identifying issues, and ensuring optimal service delivery. By leveraging this API, businesses can proactively manage site performance to enhance customer experiences and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/facilities/site-operations/status": {
      "get": {
        "tags": [
          "Facilities"
        ],
        "summary": "Retrieve the current operational status of facilities.",
        "description": "This endpoint allows users to fetch the real-time operational status of different facilities, helping them to stay informed about ongoing site operations and any potential issues.",
        "operationId": "getSiteOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain the status of site operations related to facilities. It contains a payload in JSON format that meets the requirements outlined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSiteOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The current status of site operations was retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSiteOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSiteOperationsStatusRequest": {
        "type": "string",
        "description": "A string representation of the request body for retrieving the operations status.",
        "example": "{}"
      },
      "GetSiteOperationsStatusResponse_200": {
        "title": "Site Operations Status Response",
        "type": "object",
        "properties": {
          "siteId": {
            "type": "string",
            "description": "The unique identifier for the site.",
            "example": "STANDARD"
          },
          "assetId": {
            "type": "string",
            "description": "The unique identifier for the asset.",
            "example": "STANDARD"
          },
          "workOrderId": {
            "type": "string",
            "description": "The unique identifier for the work order.",
            "example": "ORD-749275"
          },
          "scheduledDate": {
            "type": "string",
            "description": "The scheduled date for the operation, formatted as a date string.",
            "example": "2026-09-15"
          },
          "vendorId": {
            "type": "string",
            "description": "The unique identifier for the vendor responsible for the operation.",
            "example": "STANDARD"
          },
          "facilityZone": {
            "type": "string",
            "description": "The zone of the facility where the operation is taking place.",
            "example": "STANDARD"
          },
          "maintenanceType": {
            "type": "string",
            "description": "The type of maintenance being performed.",
            "example": "STANDARD"
          },
          "estimatedDurationMinutes": {
            "type": "integer",
            "description": "The estimated duration of the operation in minutes.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., Active, Inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the status information.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a GET request to fetch the site operations status.",
        "example": {
          "siteId": "STANDARD",
          "assetId": "STANDARD",
          "workOrderId": "ORD-749275",
          "scheduledDate": "2026-09-15",
          "vendorId": "STANDARD",
          "facilityZone": "STANDARD",
          "maintenanceType": "STANDARD",
          "estimatedDurationMinutes": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "98352698-7c44-51d2-9cea-ecd260185732",
            "correlationId": "82853e87-128f-5aab-b9e2-d55c35da2a81",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-0001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request across systems.",
            "example": "correlation-0001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "site-operations-get-site-operations"
        },
        "example": "site-operations-get-site-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that handled the request, useful for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, requiring a JSON Web Token (JWT) for access. Clients must include the JWT in the authorization header as a 'Bearer' token to securely access the protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}