{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Repayment Schedules API",
    "description": "The Repayment Schedules API provides access to detailed repayment schedule information for specific loans. It allows users to retrieve the repayment plans associated with a given loan ID, helping customers gain insights into payment timelines and amounts due. This API is essential for loan management systems, financial apps, and customer support teams needing to provide accurate repayment data to borrowers. Typical consumers of this API include financial institutions and software developers building loan servicing applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules/{param2}": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve repayment schedule for a specific loan.",
        "description": "This endpoint allows you to fetch the repayment schedule details for the specified loan identified by its unique loan ID. You can use this information to better understand the repayment terms and obligations associated with the loan.",
        "operationId": "getRepaymentScheduleForLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the repayment schedules for a specific loan identified by LOAN-500045 and a specific repayment schedule identified by RES-100045. It includes all necessary parameters required for the query.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRepaymentScheduleForLoanRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the repayment schedule.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRepaymentScheduleForLoanResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRepaymentScheduleForLoanRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the repayment schedules operation related to loan processing.",
        "example": "{}"
      },
      "GetRepaymentScheduleForLoanResponse_200": {
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The effective date of the repayment schedule.",
            "example": "2026-09-15"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used to calculate the repayments.",
            "example": "STANDARD"
          },
          "reason": {
            "type": "string",
            "description": "The reason for the repayment schedule.",
            "example": "STANDARD"
          },
          "installments": {
            "type": "array",
            "description": "A list of repayment installments associated with the loan.",
            "example": [
              {
                "installmentNumber": 1,
                "dueDate": "2026-09-15",
                "openingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "principalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "interestDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "feesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "penaltiesDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "totalDue": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "amountPaid": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "closingPrincipal": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "status": "ACTIVE",
                "paidAt": "2026-08-11T12:00:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedule.",
            "example": "9c8b5a28-83a5-45e2-75b7-0cccb70bbf07"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "ACTIVE"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the repayment schedule was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "ID of the schedule this schedule supersedes, if applicable.",
            "example": "51cf794c-300d-4f83-f7d3-d72e120727a6"
          },
          "audit": {
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Repayment schedule details for a loan including payment installments and relevant metadata.",
        "example": {
          "effectiveDate": "2026-09-15",
          "calculationMethod": "STANDARD",
          "reason": "STANDARD",
          "installments": [
            {
              "installmentNumber": 1,
              "dueDate": "2026-09-15",
              "openingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "principalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "interestDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "feesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "penaltiesDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "totalDue": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "amountPaid": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "closingPrincipal": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "status": "ACTIVE",
              "paidAt": "2026-08-11T12:00:00Z"
            }
          ],
          "id": "9c8b5a28-83a5-45e2-75b7-0cccb70bbf07",
          "status": "ACTIVE",
          "generatedAt": "2026-09-15T14:30:00Z",
          "supersedesScheduleId": "51cf794c-300d-4f83-f7d3-d72e120727a6",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "5f148414-1533-566e-b193-46471c5e3e9a",
            "correlationId": "fca72846-febe-590e-b352-baec9f1186e8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Installment": {
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The sequential number of the installment.",
            "format": "int32",
            "example": 1
          },
          "dueDate": {
            "type": "string",
            "description": "The date when the installment is due.",
            "example": "2023-11-01"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "principalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "interestDue": {
            "$ref": "#/components/schemas/Money"
          },
          "feesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "totalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/Money"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "description": "Current status of the installment.",
            "example": "pending"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp when the installment was paid, if applicable.",
            "example": "2023-11-01T10:00:00Z"
          }
        },
        "description": "Details of a single repayment installment.",
        "example": {
          "installmentNumber": 1,
          "dueDate": "2023-11-01",
          "openingPrincipal": {
            "currency": "USD",
            "amount": "500.00"
          },
          "principalDue": {
            "currency": "USD",
            "amount": "100.00"
          },
          "interestDue": {
            "currency": "USD",
            "amount": "5.00"
          },
          "feesDue": {
            "currency": "USD",
            "amount": "0.00"
          },
          "penaltiesDue": {
            "currency": "USD",
            "amount": "0.00"
          },
          "totalDue": {
            "currency": "USD",
            "amount": "105.00"
          },
          "amountPaid": {
            "currency": "USD",
            "amount": "0.00"
          },
          "closingPrincipal": {
            "currency": "USD",
            "amount": "400.00"
          },
          "status": "pending"
        }
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is expressed.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          }
        },
        "description": "Represents a monetary amount with currency."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date and time when the schedule was created.",
            "example": "2023-10-01T09:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the schedule.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the schedule was last updated.",
            "example": "2023-10-01T09:30:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the schedule.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the repayment schedule.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the repayment schedule."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "ID of the response associated with this schedule.",
            "example": "RESP-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the repayment schedule response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-repayment-schedule"
        },
        "example": "banking-loans-openapi-get-repayment-schedule"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer authentication mechanism for API access. Clients must include a valid JSON Web Token (JWT) in the `Authorization` header to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}