{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Routing Decisions API",
    "description": "The Routing Decisions API facilitates the determination and management of routing decisions in market data operations. This endpoint allows users to submit and update routing configurations based on market conditions and business logic. Typical consumers include financial institutions and trading platforms that require dynamic routing capabilities to optimize market data handling. Leveraging this API can enhance decision-making and improve data processing efficiency across various banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-data-switch-operation/routing-decisions": {
      "post": {
        "tags": [
          "Market Data Operations"
        ],
        "summary": "Create a new routing decision for market data switch operations.",
        "description": "This endpoint allows you to create a new routing decision specifically for market data switch operations. By providing the necessary data in the request body, users can effectively manage how market data is routed based on predefined rules and criteria.",
        "operationId": "postMarketDataRoutingDecisions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit routing decisions for market data switch operations. It contains the necessary parameters for defining the routing logic to be applied. Ensure the data is structured according to the schema specified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostMarketDataRoutingDecisionsRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostMarketDataRoutingDecisionsResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostMarketDataRoutingDecisionsRequest": {
        "title": "Market Data Switch Operation Request",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number for the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The identifier for the market where the instrument is traded.",
            "example": "CODE-547"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time for which the data is relevant.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data is obtained.",
            "example": "STANDARD"
          },
          "feedId": {
            "type": "string",
            "description": "The identifier for the specific data feed.",
            "example": "STANDARD"
          },
          "protocol": {
            "type": "string",
            "description": "The protocol to be used for data transmission.",
            "example": "STANDARD"
          },
          "messagesPerSecond": {
            "type": "integer",
            "description": "The number of messages to be processed per second.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the market data switch operation. It contains information about the instrument, market data sources, and request context.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-547",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "feedId": "STANDARD",
          "protocol": "STANDARD",
          "messagesPerSecond": 1,
          "requestContext": {
            "requestId": "3005abe8-a56f-5a9c-ade8-2a0cc23084e3",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "idempotencyKey": "8986949f-807b-55c3-a6a3-3697a5f5a1e2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-127001"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure that repeated requests have the same effect.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains the context for the request, providing details such as request and correlation identifiers."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "This schema provides details about the channel through which the request was made."
      },
      "PostMarketDataRoutingDecisionsResponse_202": {
        "title": "Routing Decisions Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market where the transaction is taking place.",
            "example": "CODE-877"
          },
          "feedId": {
            "type": "string",
            "description": "Identifier for the data feed being used.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference for tracking the processing status.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Status of the routing decision.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the routing decision was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/RoutingDecisionMetadata"
          }
        },
        "description": "This schema represents the response structure for routing decisions in a market data switch operation.",
        "example": {
          "instrumentId": "STANDARD",
          "marketIdentifierCode": "CODE-877",
          "feedId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "c0a97388-2067-5d92-aa39-cebe0f5ebdeb",
            "correlationId": "a7b7433b-96b5-5402-9673-2526f410592e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RoutingDecisionMetadata": {
        "title": "Routing Decision Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata related to routing decisions."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-data-switch-operation-route-market-data-switch-operation"
        },
        "example": "market-data-switch-operation-route-market-data-switch-operation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) as a bearer token. This method is commonly used for securing APIs by ensuring that requests are made with a valid token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}