{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Intellectual Property Portfolio Update API",
    "description": "The Intellectual Property Portfolio Update API enables organizations to enhance and manage their intellectual property assets effectively. Through this API, users can update specific details of knowledge assets within their intellectual property portfolio, ensuring the information remains current and relevant. Typical consumers include portfolio managers and legal teams who need to adapt asset information in response to changing business needs or legal requirements. This streamlined process improves compliance and facilitates better decision-making related to intellectual property management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/intellectual-property-portfolio/{param1}": {
      "patch": {
        "tags": [
          "Intellectual Property Management"
        ],
        "summary": "Update Intellectual Property Portfolio",
        "description": "Allows the user to modify the details of the specified intellectual property portfolio identified by RES-100045. This operation helps in maintaining accurate and up-to-date information about the assets.",
        "operationId": "updateIntellectualPropertyPortfolioRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows for the modification of the intellectual property portfolio specified by the unique identifier RES-100045. It is essential to provide a structured JSON object conforming to the defined schema to ensure that the correct updates are processed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateIntellectualPropertyPortfolioRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateIntellectualPropertyPortfolioRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateIntellectualPropertyPortfolioRes100045Request": {
        "title": "Intellectual Property Portfolio Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes being made to the intellectual property asset.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for requesting changes to the intellectual property asset.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body to update an intellectual property portfolio.",
        "example": {
          "changes": {
            "ipAssetId": "STANDARD",
            "assetType": "STANDARD",
            "registrationNumber": "NY-4587219"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b5ed7a94-8a17-5949-8a91-2f66c06d8526",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "idempotencyKey": "a3ad1fb3-58f9-5cd4-83a4-3dc4bf45b6a8",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-946763"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Intellectual Property Asset",
        "type": "object",
        "properties": {
          "ipAssetId": {
            "type": "string",
            "description": "The identifier of the intellectual property asset to be changed.",
            "example": "string"
          },
          "assetType": {
            "type": "string",
            "description": "The type of the intellectual property asset.",
            "example": "string"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The registration number associated with the intellectual property asset.",
            "example": "string"
          }
        },
        "description": "Schema representing the specific changes to be made to an intellectual property asset."
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was created.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "title": "Communication Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "UpdateIntellectualPropertyPortfolioRes100045Response_200": {
        "title": "Intellectual Property Portfolio Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the update occurred.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the update operation of an intellectual property portfolio.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "af99b879-489d-5e96-a5de-f7171bf24d96",
            "correlationId": "5ab354f5-186a-5269-9c28-7b60b0ded3bb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate this request with other requests.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response, providing additional context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being called, allowing for tracking and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
        },
        "example": "intellectual-property-portfolio-update-intellectual-property-portfolio"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request, used for logging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token, which is a JSON Web Token (JWT). Clients must include this token in the authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}