{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Matching Service API",
    "description": "The Product Matching Service API facilitates the identification and alignment of products across various sales channels. This powerful tool enables businesses to efficiently match disparate product offerings, ensuring consistency and accuracy in listings. Typical consumers of this API include e-commerce platforms, inventory management systems, and financial institutions looking to reconcile product data. By leveraging this API, organizations can improve product visibility and enhance customer experience through better product quality and organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/product-matching": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Create a product matching entry for sales.",
        "description": "This endpoint allows you to create a product matching entry, facilitating the alignment of product data within the sales ecosystem. Utilize this operation to ensure accurate and effective product matches, enabling better sales strategies and inventory management.",
        "operationId": "createSalesProductMatching",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The payload required to perform product matching operations. It contains the necessary information and parameters to match products based on provided attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSalesProductMatchingRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created for product matching.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSalesProductMatchingResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSalesProductMatchingRequest": {
        "title": "Product Matching Request Body",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the product.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the product is being sold.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "The expected value associated with the product.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "requestContext": {
            "description": "Context for the request including identifiers and source system information.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for product matching operations.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "34c9d6cb-2cb4-5924-ba32-b3514a94a5ef",
            "correlationId": "c1aef7d5-cd05-5136-b3ec-d9b2f2793b7a",
            "idempotencyKey": "72838947-0fc8-5e08-b6c5-601fdbbe7d39",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-493495"
            }
          }
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The expected amount of money.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the expected amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected monetary value with currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of related requests.",
            "example": "correlation_002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to guarantee that the request is processed only once.",
            "example": "idempotency_003"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request is made.",
            "example": "SalesApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_004"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_005"
          }
        },
        "description": "Schema representing the channel details related to the request."
      },
      "CreateSalesProductMatchingResponse_201": {
        "title": "Product Matching Response",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product.",
            "example": "CHK-PREMIUM-US"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the specific resource.",
            "example": "RES-409526"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Product Matching operation.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "relationshipManagerId": "STANDARD",
          "resourceId": "RES-409526",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cc457d23-a4b0-5b8c-8c48-91c306512e85",
            "correlationId": "c1aef7d5-cd05-5136-b3ec-d9b2f2793b7a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-matching-create-product-matching"
        },
        "example": "product-matching-create-product-matching"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JSON Web Tokens (JWT). This method allows clients to securely authenticate by including their JWTs in the Authorization header of HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}