{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Facility Information API",
    "description": "The Credit Facility Information API provides access to detailed information about credit facilities available in the banking system. Financial institutions and businesses can utilize this API to retrieve data related to various credit options, eligibility criteria, and terms associated with each facility. Typical consumers include loan officers, financial analysts, and business managers seeking to evaluate credit offerings for potential clients. This API enhances decision-making processes by offering comprehensive insights into credit facilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/credit-facility": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve credit facility information.",
        "description": "This endpoint allows users to obtain detailed information about credit facilities offered in trade banking, including terms, limits, and eligibility criteria.",
        "operationId": "getCreditFacility",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding credit facilities in the trade banking sector. It allows the client to specify parameters that guide the type of credit facility data to be fetched, ensuring a tailored response based on the given criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditFacilityRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit facility details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditFacilityResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditFacilityRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to the credit facility in trade banking.",
        "example": "{}"
      },
      "GetCreditFacilityResponse_200": {
        "title": "Credit Facility Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of credit facilities.",
            "example": [
              {
                "corporateCustomerId": "CUST-768151",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-999218",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CreditFacility"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response from the credit facility operations GET request.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-768151",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-999218",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ead61278-f5bd-5b8f-9697-468485e7fe9a",
            "correlationId": "a5e4191a-47e4-58c6-a560-e62e3f06447c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CreditFacility": {
        "title": "Credit Facility",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "string"
          },
          "facilityId": {
            "type": "string",
            "description": "Unique identifier for the credit facility.",
            "example": "string"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty associated with the facility.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "Date when the facility matures.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a credit facility."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numerical value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the monetary amount for a credit facility."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing the pagination information of the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-facility-search-credit-facility"
        },
        "example": "credit-facility-search-credit-facility"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}