{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Analysis API",
    "description": "The Investment Portfolio Analysis API facilitates the submission and processing of investment portfolio analyses to enhance financial decision-making. By allowing users to perform in-depth evaluations of asset allocations, risk assessments, and performance metrics, this API is essential for financial analysts, portfolio managers, and investment advisors. Common use cases include optimizing investment strategies and generating reports for stakeholders. Leverage this API to empower informed investment decisions and improve portfolio performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-analysis/analyses": {
      "post": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Submit an analysis for an investment portfolio.",
        "description": "This endpoint allows users to initiate an analysis of their investment portfolio. By submitting the necessary data, users can gain insights into the performance and potential risks associated with their investments.",
        "operationId": "postInvestmentPortfolioAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for investment portfolio analysis, allowing the system to perform specified analyses on the investment portfolio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostInvestmentPortfolioAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the analysis results are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostInvestmentPortfolioAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostInvestmentPortfolioAnalysisRequest": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the investment portfolio.",
            "example": "PORT-975974"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Identifier for the investment account associated with the portfolio.",
            "example": "ACC-242611"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective of the investment (e.g., growth, income).",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "Risk tolerance of the investor (e.g., low, medium, high).",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency in which the portfolio's values are denominated.",
            "example": "USD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for analyzing investment portfolios.",
        "example": {
          "portfolioId": "PORT-975974",
          "investmentAccountId": "ACC-242611",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "requestContext": {
            "requestId": "335bf82e-16eb-5948-baba-0dd6f2feb872",
            "correlationId": "25e0ed0a-0d71-5964-a4d8-bdae7592018d",
            "idempotencyKey": "e5fba488-dc19-5cae-9725-5be42fa71386",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-159146"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "correlation-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "idempotency-11111"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-21T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "system-X"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that sent the request.",
            "example": "app-Y"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-xyz"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "PostInvestmentPortfolioAnalysisResponse_200": {
        "title": "Investment Portfolio Analysis Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-385012"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account.",
            "example": "ACC-775302"
          },
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "Timestamp indicating when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "List of findings from the analysis.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "type": "object",
            "description": "Metadata related to the analysis response.",
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "Response schema for the investment portfolio analysis operation. Contains details about the portfolio analysis results.",
        "example": {
          "portfolioId": "PORT-385012",
          "investmentAccountId": "ACC-775302",
          "analysisId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "5c724af2-b4e1-5a22-9212-9bf52a415cd7",
            "correlationId": "25e0ed0a-0d71-5964-a4d8-bdae7592018d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "title": "Analysis Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The financial metric analyzed.",
            "example": "Return on Investment"
          },
          "value": {
            "type": "number",
            "description": "The value of the metric.",
            "example": 15.5
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric value.",
            "example": "percent"
          }
        },
        "description": "Represents a finding from the investment portfolio analysis."
      },
      "AnalysisMetadata": {
        "title": "Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the correlation of requests.",
            "example": "correlation654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the analysis was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the portfolio analysis response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-052"
        },
        "example": "WF-052"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "69a27b5e-a6a9-400f-83f3-273e638bc320"
        },
        "example": "69a27b5e-a6a9-400f-83f3-273e638bc320"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a7fc9548-8158-4989-be94-b6f0d429bdc1"
        },
        "example": "a7fc9548-8158-4989-be94-b6f0d429bdc1"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-analysis-analyze-investment-portfolio-analysis"
        },
        "example": "investment-portfolio-analysis-analyze-investment-portfolio-analysis"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the runtime application processing the request. This can help in diagnosing performance or tracking issues.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request. This is helpful for traceability and understanding the context of the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-052"
        },
        "example": "WF-052"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow that was executed, providing context about the operation being performed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Portfolio Rebalancing and Order Execution"
        },
        "example": "Portfolio Rebalancing and Order Execution"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating whether it is pending, in progress, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, which can be used to trace logs or results associated with this execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "a7fc9548-8158-4989-be94-b6f0d429bdc1"
        },
        "example": "a7fc9548-8158-4989-be94-b6f0d429bdc1"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method that requires a valid JWT (JSON Web Token) for authentication. Clients must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}