{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchandising Loan Details API",
    "description": "The Merchandising Loan Details API provides access to detailed information regarding merchandising loans. This API allows users to retrieve specific loan data using a unique identifier. Common consumers of this API include banking professionals, financial analysts, and software developers building financial applications. With this information, users can assess loan conditions, terms, and relevant metrics essential for making informed lending decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan/{param1}": {
      "get": {
        "tags": [
          "Merchandising Loan"
        ],
        "summary": "Retrieve details for a specific merchandising loan.",
        "description": "This endpoint allows users to fetch detailed information about a specific merchandising loan identified by its unique loan ID. Users can leverage this information for various business needs, such as loan management and customer service inquiries.",
        "operationId": "getMerchandisingLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific information regarding the merchandising loan identified by LOAN-500045. The payload should be structured according to the specified schema to ensure proper processing and response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMerchandisingLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMerchandisingLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMerchandisingLoanDetailsRequest": {
        "type": "string",
        "description": "A request body for retrieving merchandising loan operations data. This string is meant to convey specific details relating to the loan operation being requested.",
        "example": "{}"
      },
      "GetMerchandisingLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-398589"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "ACC-386250"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the type of product related to the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the principal amount of the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan term in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayment, e.g., monthly, quarterly.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to the loan record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the loan operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the loan operation, including customer information and loan details.",
        "example": {
          "customerId": "CUST-398589",
          "accountId": "ACC-386250",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "fbdc953c-6f82-5f11-980f-9c0edd97fb68",
            "correlationId": "2cdc106b-e21f-5c56-9a83-062708ac64d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount of the loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the principal amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and its currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier to correlate related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the loan operation took place.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information related to the loan operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-get-merchandising-loan"
        },
        "example": "merchandising-loan-get-merchandising-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT). Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}