{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_E-Trading Workbench Query API",
    "description": "The E-Trading Workbench Query API enables users to access essential data and insights related to investment management activities in an efficient manner. This endpoint allows consumers to retrieve specific resources identified by the provided parameter, streamlining the process of managing trading activities. Typical users include financial analysts and investment managers seeking real-time information for decision-making purposes. The API is designed to enhance user experiences by facilitating quick and accurate access to trading data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/e-trading-workbench/{param1}": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve e-Trading Workbench Resource",
        "description": "Fetch detailed information about the e-Trading Workbench Resource identified by the unique ID RES-100045, allowing users to access necessary data and functionality related to investment management.",
        "operationId": "getETradingWorkbenchResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving investment management details via the e-trading workbench. This body must conform to the specified schema and contains the necessary parameters to execute the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetETradingWorkbenchResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the trading workbench data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetETradingWorkbenchResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetETradingWorkbenchResource100045Request": {
        "type": "string",
        "description": "This schema represents the request body for retrieving operations related to investment management in the trading workbench.",
        "example": "{}"
      },
      "GetETradingWorkbenchResource100045Response_200": {
        "title": "Investment Management Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the investment portfolio.",
            "example": "PORT-567511"
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account associated with the portfolio.",
            "example": "ACC-729915"
          },
          "investmentObjective": {
            "type": "string",
            "description": "The primary objective of the investment, such as growth, income, or preservation.",
            "example": "STANDARD"
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk tolerance level associated with the investment, indicating the willingness to accept risk.",
            "example": "STANDARD"
          },
          "baseCurrency": {
            "type": "string",
            "description": "The currency in which the investments are denominated.",
            "example": "USD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Indicates the current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the investment record, indicating the latest changes.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the investment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the investment management response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for retrieving investment management operations.",
        "example": {
          "portfolioId": "PORT-567511",
          "investmentAccountId": "ACC-729915",
          "investmentObjective": "STANDARD",
          "riskProfile": "STANDARD",
          "baseCurrency": "USD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d7fe14e5-5c6b-5964-bb53-4a8627f2ccfe",
            "correlationId": "6f28c5c8-d5e4-54a7-8de4-1bfe366ccf21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated by the system.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "correlation101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "US"
          }
        },
        "description": "This schema represents additional metadata related to the investment management response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e-trading-workbench-get-e-trading-workbench"
        },
        "example": "e-trading-workbench-get-e-trading-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This format leverages JSON Web Tokens (JWT) for secure transmission of user identity and claims.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}