{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Platform Operations API",
    "description": "The Platform Operations API empowers organizations to efficiently access and manage their IT management operations related to banking platforms. This API allows consumers to retrieve essential data regarding the performance and health of various platforms, enabling informed decision-making. Typical users include IT administrators, platform managers, and system analysts who require insights to optimize operations and ensure system reliability. By streamlining access to platform metrics, the API supports proactive management of banking technologies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT management platform operations.",
        "description": "This endpoint allows you to fetch the current operations managed by the IT platform, providing insights into ongoing tasks and management activities.",
        "operationId": "getPlatformOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving platform operations in the IT Management system. Please ensure that you provide the necessary information in the required format to obtain the desired response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of platform operations data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPlatformOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation on platform operations.",
        "example": "{}"
      },
      "GetPlatformOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of operational items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationalItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation on the platform operations endpoint, containing a list of operational items and pagination details.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8159d70c-5aee-54b8-926a-945c72c7cf8d",
            "correlationId": "67177990-e2cb-580c-8765-b91f63e51d26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationalItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The identifier of the system.",
            "example": "string"
          },
          "environment": {
            "type": "string",
            "description": "The environment of the operation (e.g., production, staging).",
            "example": "string"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with the operation.",
            "example": "string"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the operation.",
            "example": "string"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation.",
            "example": "string"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier associated with the operation.",
            "example": "string"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the operation.",
            "example": 0.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The maintenance window for the operation.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record for the operation.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The last updated timestamp for the operation record.",
            "example": "string"
          }
        },
        "description": "Schema representing a single operational item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema for pagination details in the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-search-platform-operations"
        },
        "example": "platform-operations-search-platform-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses bearer authentication. Clients must include a JSON Web Token (JWT) in the 'Authorization' header of requests to authenticate. This approach is widely used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}