{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Prospect Campaign Execution API",
    "description": "The Prospect Campaign Execution API enables users to access and manage campaign execution processes within the sales environment. This API provides functionality for retrieving detailed information about ongoing and past prospect campaigns, allowing organizations to analyze performance and optimize outreach strategies. Typical consumers include marketing teams, sales operations, and analysts seeking insights into campaign effectiveness and client engagement. With this API, users can enhance their decision-making processes based on real-time data and historical campaign performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/prospect-campaign-execution": {
      "get": {
        "tags": [
          "Sales Operations"
        ],
        "summary": "Retrieve prospect campaign execution details",
        "description": "This endpoint retrieves detailed information about the execution of a prospect campaign, including metrics and status updates relevant to the campaign's performance.",
        "operationId": "getProspectCampaignExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for executing a prospect campaign. It is expected to contain all necessary information relevant to the campaign execution process in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProspectCampaignExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of prospect campaign executions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProspectCampaignExecutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProspectCampaignExecutionRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the Sales Prospect Campaign Execution API. This request body is expected to be a string value.",
        "example": "{}"
      },
      "GetProspectCampaignExecutionResponse_200": {
        "title": "Campaign Execution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of prospect campaign execution items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProspectCampaignExecutionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving campaign execution data, including details of prospects and pagination information.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "31f24385-3412-596d-bb53-837530652914",
            "correlationId": "a8bbe607-8a09-53f1-af4d-fb8f09a44f80",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProspectCampaignExecutionItem": {
        "title": "Prospect Campaign Execution Item",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code for the product associated with the prospect.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the prospect was acquired.",
            "example": "string"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "string"
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "campaignObjective": {
            "type": "string",
            "description": "Objective of the campaign for the prospect.",
            "example": "string"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of the control group for the campaign.",
            "format": "int32",
            "example": 0
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Maximum frequency of contact with the prospect.",
            "format": "int32",
            "example": 0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the prospect record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the prospect record.",
            "example": "string"
          }
        },
        "description": "Details of a single prospect within a campaign execution."
      },
      "PaginationInfo": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Size of the page, or number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to pagination of the results."
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount expected from the prospect.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the expected amount.",
            "example": "USD"
          }
        },
        "description": "Expected value information associated with the prospect."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-execution-search-prospect-campaign-execution"
        },
        "example": "prospect-campaign-execution-search-prospect-campaign-execution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically formatted as JSON Web Tokens (JWTs). This scheme provides a way to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}