{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Webhook Subscription Status API",
    "description": "The Update Webhook Subscription Status API allows clients to modify the status of a specific webhook subscription identified by its unique webhookId. This endpoint is essential for managing the operational state of webhook subscriptions, ensuring that notifications are sent or paused as per business requirements. Typical users include developers and system administrators who need to dynamically adjust webhook behavior in response to system events or status changes. The API streamlines the process of maintaining and configuring webhook interactions with external systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/status": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update the status of a specified webhook.",
        "description": "This endpoint allows you to update the status of a specific webhook identified by its unique resource identifier. Use this operation to change the current state of the webhook to reflect new status updates as necessary.",
        "operationId": "updateWebhookStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the status of a specific webhook identified by RES-100045. The body must include all necessary fields as defined in the schema to ensure proper processing of the status update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with updated status.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookStatusRequest": {
        "title": "Webhook Status Update Request",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status to be updated for the webhook operation.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating the status of a webhook operation.",
        "example": {
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "1365e11a-a89b-5627-902b-16c572097ed7",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "idempotencyKey": "99eae8bc-8f8c-5c36-9617-17b76721fd01",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-791267"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Information",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request, containing identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is communicated."
      },
      "UpdateWebhookStatusResponse_200": {
        "title": "Webhook Status Response",
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "The status of the webhook operation.",
            "example": "ACTIVE"
          },
          "metadata": {
            "description": "Metadata associated with the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Response schema for the Webhook status operation.",
        "example": {
          "status": "ACTIVE",
          "metadata": {
            "responseId": "8ded8b81-85d7-5004-893c-d41d0d0169a2",
            "correlationId": "2b438a5f-a372-55fc-9907-a23a208cc164",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with requests.",
            "example": "abc-def-ghi"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information for the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-change-webhook-subscription-status"
        },
        "example": "open-finance-api-change-webhook-subscription-status"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) for secure API access. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}