{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Capture Management API",
    "description": "The Card Capture Management API enables businesses to efficiently update and manage card capture details. This endpoint allows for modifications to existing card capture information, supporting use cases such as resolving discrepancies or updating transaction statuses. Typical consumers include financial institutions and payment processors looking to maintain accurate card records in real-time. This API facilitates seamless integration into banking and payment systems to enhance operational effectiveness.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture/{param1}": {
      "patch": {
        "tags": [
          "CardOperations"
        ],
        "summary": "Update card capture information",
        "description": "This API endpoint allows you to update the details of a specific card capture identified by its unique ID. Use this operation to modify the existing attributes of the card capture.",
        "operationId": "patchCardCaptureById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update details of a specific card capture operation by providing the necessary fields in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCardCaptureByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, the card capture has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCardCaptureByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCardCaptureByIdRequest": {
        "title": "Card Capture Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes that need to be applied to the card.",
            "$ref": "#/components/schemas/CardChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context surrounding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for capturing card operations.",
        "example": {
          "changes": {
            "cardToken": "TOK-333766",
            "cardholderId": "STANDARD",
            "merchantId": "MER-654567"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "7b0e666b-ff05-5c71-8342-b17ebbfc4b2c",
            "correlationId": "0edc199d-f681-5cb9-b641-27ae24db829e",
            "idempotencyKey": "4083e2fc-e270-5f90-9f53-c4a41ff7dd1e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-615905"
            }
          }
        }
      },
      "CardChanges": {
        "title": "Card Changes",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token identifying the card.",
            "example": "abc123"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier for the cardholder.",
            "example": "holder123"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant to which the card belongs.",
            "example": "merchant456"
          }
        },
        "description": "Represents the details of card changes including tokens and identifiers."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "corr456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to handle idempotency of the request.",
            "example": "key123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-09-30T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system generating the request.",
            "example": "internalSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "mobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device456"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PatchCardCaptureByIdResponse_200": {
        "title": "Card Capture Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Meta-information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the Card Capture operation after a successful PATCH request.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1ab2c67a-7087-590c-b78b-1dee2d767dbb",
            "correlationId": "0edc199d-f681-5cb9-b641-27ae24db829e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple related requests.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata information for card capture operations."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-027"
        },
        "example": "WF-027"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "210b2e2a-c1fd-40c3-8f2c-6d50e7b9fdfb"
        },
        "example": "210b2e2a-c1fd-40c3-8f2c-6d50e7b9fdfb"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7324ec0b-8913-4bf6-94c8-57dc1242a6fa"
        },
        "example": "7324ec0b-8913-4bf6-94c8-57dc1242a6fa"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-update-card-capture"
        },
        "example": "card-capture-update-card-capture"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-027"
        },
        "example": "WF-027"
      },
      "x-workflow-name": {
        "description": "The name of the workflow associated with this request. This identifies the specific process being executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Lost or Stolen Card Block and Replacement"
        },
        "example": "Lost or Stolen Card Block and Replacement"
      },
      "x-workflow-state": {
        "description": "The current state of the workflow. This indicates whether the workflow is in progress, completed, or has failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "description": "A unique identifier for this specific execution instance of the workflow. This can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7324ec0b-8913-4bf6-94c8-57dc1242a6fa"
        },
        "example": "7324ec0b-8913-4bf6-94c8-57dc1242a6fa"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token. This token is typically in JSON Web Token (JWT) format, which encodes the user's identity and permissions, allowing for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}