{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application API",
    "description": "The Loan Application API facilitates the submission of loan applications for consumers seeking financial lending services. By utilizing this API, users can input essential loan details, including amounts, terms, and personal information. It streamlines the application process for both individuals and businesses. Typical users include bank representatives, lending institutions, and financial service providers who require a seamless digital platform to manage loan requests efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/loan": {
      "post": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Initiate a loan under deposit lending.",
        "description": "This endpoint allows users to create a new loan application within the deposit lending system. Users can submit necessary details for processing their loan request.",
        "operationId": "createDepositLendingLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a loan transaction under the deposit lending service. The body must adhere to the specified schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDepositLendingLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource for loan created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDepositLendingLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDepositLendingLoanRequest": {
        "title": "Loan Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer making the loan request.",
            "example": "CUST-864892"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "ACC-855623"
          },
          "productCode": {
            "type": "string",
            "description": "Code identifying the loan product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount of the loan.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for creating a loan request in the deposit lending operation.",
        "example": {
          "customerId": "CUST-864892",
          "accountId": "ACC-855623",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "5a5d9f34-8549-5154-aa55-53efb516faa5",
            "correlationId": "0f35309b-4158-51ea-aad2-c3bcc300aa52",
            "idempotencyKey": "b8998d2d-ff34-5c4b-b87f-cd3cf58c2771",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-492726"
            }
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount of the principal.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code in which the principal is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing the principal amount of the loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests.",
            "example": "correlation_67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idempotency_67890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "loan_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "loan_app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used.",
            "example": "channel_12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device_12345"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateDepositLendingLoanResponse_201": {
        "title": "Loan Operation Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-883359"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the loan.",
            "example": "ACC-661432"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource related to the loan.",
            "example": "RES-373573"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the loan operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "This schema represents the response for a loan operation request.",
        "example": {
          "customerId": "CUST-883359",
          "accountId": "ACC-661432",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-373573",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "83b222ed-7160-5c41-bfad-060f298954aa",
            "correlationId": "0f35309b-4158-51ea-aad2-c3bcc300aa52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate this request with external systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the loan occurred.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates additional metadata related to the loan operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-create-loan"
        },
        "example": "loan-create-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The bearer token should be a valid JSON Web Token (JWT) that grants access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}