{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Confirmation API",
    "description": "The Payment Confirmation API facilitates the secure and efficient confirmation of payment intents within the payment processing system. This endpoint allows users to validate and finalize payment transactions initiated in the system. Typical consumers include e-commerce platforms and financial applications that need to confirm payments seamlessly. By leveraging this API, businesses can enhance their checkout experiences and ensure accurate transaction processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}/confirm": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Confirm a payment intent.",
        "description": "This endpoint allows clients to confirm a specific payment intent by its unique identifier. It finalizes the payment process by validating and processing the payment associated with the intent.",
        "operationId": "confirmPaymentIntentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to confirm a specific payment intent identified by PAY-300045. It must be formatted as JSON and contains all necessary parameters to complete the payment process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ConfirmPaymentIntentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payment confirmation successful.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ConfirmPaymentIntentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ConfirmPaymentIntentPay300045Request": {
        "type": "object",
        "properties": {
          "paymentMethod": {
            "description": "Details about the payment method used for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customerConsentId": {
            "type": "string",
            "description": "The unique identifier for the customer's consent.",
            "example": "STANDARD"
          },
          "deviceContext": {
            "description": "Contextual information about the device used for the transaction.",
            "$ref": "#/components/schemas/DeviceContext"
          },
          "riskContext": {
            "description": "Contextual information regarding the risk of the transaction.",
            "$ref": "#/components/schemas/RiskContext"
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for confirming a payment intent operation.",
        "example": {
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-949",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customerConsentId": "STANDARD",
          "deviceContext": {
            "deviceId": "DEV-932712",
            "ipAddress": "STANDARD",
            "userAgent": "STANDARD",
            "geolocation": {
              "latitude": 100.0,
              "longitude": 100.0,
              "accuracyMeters": 100.0
            },
            "appVersion": "STANDARD",
            "os": "STANDARD"
          },
          "riskContext": {
            "sessionId": "SES-402090",
            "customerAccountAgeDays": 1,
            "isNewPayee": true,
            "priorSuccessfulPayments": 1
          },
          "requestContext": {
            "requestId": "d9b6d4f8-7b37-59ab-8220-d5e475226a40",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "idempotencyKey": "36431e03-4aaf-571d-ad95-8a2feb87e370",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-461073"
            }
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of payment method used.",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer associated with the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method (e.g. card number).",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the wallet used for the payment.",
            "example": "string"
          }
        },
        "description": "Schema representing the selected payment method details."
      },
      "DeviceContext": {
        "type": "object",
        "properties": {
          "deviceId": {
            "type": "string",
            "description": "Unique identifier of the device."
          },
          "ipAddress": {
            "type": "string",
            "description": "IP address of the device."
          },
          "userAgent": {
            "type": "string",
            "description": "User agent string from the device."
          },
          "geolocation": {
            "description": "Geolocation information of the device.",
            "$ref": "#/components/schemas/Geolocation"
          },
          "appVersion": {
            "type": "string",
            "description": "Version of the application being used."
          },
          "os": {
            "type": "string",
            "description": "Operating system of the device."
          }
        },
        "description": "Information about the device from which the request is made."
      },
      "Geolocation": {
        "type": "object",
        "properties": {
          "latitude": {
            "type": "number",
            "description": "Latitude of the device's location."
          },
          "longitude": {
            "type": "number",
            "description": "Longitude of the device's location."
          },
          "accuracyMeters": {
            "type": "number",
            "description": "Accuracy of the geolocation data in meters."
          }
        },
        "description": "Geolocation data for the device."
      },
      "RiskContext": {
        "type": "object",
        "properties": {
          "sessionId": {
            "type": "string",
            "description": "Unique identifier for the user session."
          },
          "customerAccountAgeDays": {
            "type": "integer",
            "description": "Age of the customer account in days.",
            "format": "int32"
          },
          "isNewPayee": {
            "type": "boolean",
            "description": "Indicates if the payee is new."
          },
          "priorSuccessfulPayments": {
            "type": "integer",
            "description": "Count of prior successful payments by the customer.",
            "format": "int32"
          }
        },
        "description": "Information regarding the risk associated with the transaction."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple requests."
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests."
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made."
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originates."
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request is coming."
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information regarding the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel."
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile)."
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used in the channel."
          }
        },
        "description": "Details about the channel from where the request originated."
      },
      "ConfirmPaymentIntentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentIntent": {
            "$ref": "#/components/schemas/PaymentIntent"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for confirming a payment intent.",
        "example": {
          "paymentIntent": {
            "id": "STANDARD",
            "merchantId": "MER-909000",
            "outletId": "STANDARD",
            "terminalId": "STANDARD",
            "amount": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountAuthorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountCaptured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "amountRefunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captureMethod": "STANDARD",
            "channel": "STANDARD",
            "allowedPaymentMethods": [
              "STANDARD"
            ],
            "selectedPaymentMethod": {
              "type": "STANDARD",
              "token": "STANDARD",
              "issuerBankCode": "CODE-844",
              "maskedIdentifier": "STANDARD",
              "walletProvider": "STANDARD"
            },
            "customer": {
              "id": "STANDARD",
              "name": "Northstar Banking Service",
              "email": "olivia.bennett@northstar.example",
              "phone": "+1-212-555-0147",
              "riskSegment": "STANDARD"
            },
            "order": {
              "merchantOrderId": "ORD-240784",
              "description": "Customer banking request processed successfully",
              "items": [
                {
                  "itemId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "description": "Customer banking request processed successfully",
                  "quantity": "STANDARD",
                  "unitPrice": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "totalAmount": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              ]
            }
          },
          "metadata": {
            "responseId": "6363b1a5-82c8-54f6-83a1-a995592543e1",
            "correlationId": "106ca546-dbaf-5a5a-8ae4-27b8c037cc45",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentIntent": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "string"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier of the merchant associated with the payment intent.",
            "example": "string"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier of the outlet for the transaction.",
            "example": "string"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier of the terminal used for the payment.",
            "example": "string"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method of capturing the payment.",
            "example": "string"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made.",
            "example": "string"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of allowed payment methods for the transaction.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "selectedPaymentMethod": {
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "$ref": "#/components/schemas/Order"
          }
        },
        "description": "Schema representing a payment intent with its details."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount with currency and value."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "string"
          }
        },
        "description": "Schema representing customer details associated with the payment intent."
      },
      "Order": {
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant order.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "string"
          },
          "items": {
            "type": "array",
            "description": "List of items in the order.",
            "items": {
              "$ref": "#/components/schemas/OrderItem"
            }
          }
        },
        "description": "Schema representing the order details associated with the payment intent."
      },
      "OrderItem": {
        "type": "object",
        "properties": {
          "itemId": {
            "type": "string",
            "description": "Unique identifier for the item.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the item.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the item.",
            "example": "string"
          },
          "quantity": {
            "type": "string",
            "description": "Quantity of the item ordered.",
            "example": "2"
          },
          "unitPrice": {
            "$ref": "#/components/schemas/Amount"
          },
          "totalAmount": {
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Schema representing an individual item in an order."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related transactions.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the payment intent response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-confirm-payment-intent"
        },
        "example": "banking-p2m-openapi-confirm-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token format for authentication, specifically employing JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}