{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Operations API",
    "description": "The Correspondent Bank Operations API provides access to essential operations associated with correspondent banking transactions. Users can retrieve data related to payment processing, transaction statuses, and interbank agreements. This API is designed for banks and financial institutions looking to streamline their operations involving international payments and to enhance transparency in transactions. Typical consumers include banking applications, financial service providers, and any system requiring seamless integration with correspondent banking services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/correspondent-bank-operations/{param1}": {
      "get": {
        "tags": [
          "Correspondent Bank Operations"
        ],
        "summary": "Retrieve details of a specific correspondent bank operation.",
        "description": "This endpoint allows users to fetch detailed information regarding a specific correspondent bank operation identified by its unique reference number. Utilize this operation to examine transaction details, statuses, and relevant metadata to assist in financial operations.",
        "operationId": "getPaymentsCorrespondentBankOperationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operations related to a specific correspondent bank payment identified by RES-100045. Ensure that the necessary parameters are included for a successful operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsCorrespondentBankOperationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the result is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsCorrespondentBankOperationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsCorrespondentBankOperationRes100045Request": {
        "type": "string",
        "description": "A string representation of the request body for the operations API related to correspondent bank operations.",
        "example": "{}"
      },
      "GetPaymentsCorrespondentBankOperationRes100045Response_200": {
        "title": "Correspondent Bank Operation Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-261354"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-673970"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-874442"
          },
          "instructedAmount": {
            "description": "Details regarding the instructed amount for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the remittance for the payment.",
            "example": "STANDARD"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account involved in the transaction.",
            "example": "ACC-639563"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will occur.",
            "example": "USD"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the relationship related to this payment.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record within the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for correspondent bank operations, detailing payment information.",
        "example": {
          "paymentId": "PAY-261354",
          "debtorAccountId": "ACC-673970",
          "creditorAccountId": "ACC-874442",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "nostroAccountId": "ACC-639563",
          "settlementCurrency": "USD",
          "relationshipStatus": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45eae5eb-d103-5f4c-8dc0-e255180788fe",
            "correlationId": "61e50875-1ed3-5b0e-abff-7b82d9429c21",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the instructed amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the instructed amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount that has been instructed for a payment."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata related to the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-operations-get-correspondent-bank-operations"
        },
        "example": "correspondent-bank-operations-get-correspondent-bank-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using JSON Web Tokens (JWT) for authorization. Clients must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}