{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Payment Details API",
    "description": "The Update Payment Details API allows authorized users to modify existing payment transactions. This endpoint is designed for businesses to adjust payment information, such as amounts or statuses, ensuring accurate records and customer satisfaction. Typical consumers include finance teams and customer support representatives who need to make changes based on user requests. Use cases may consist of correcting errors or responding to customer inquiries regarding specific payments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payments/{paymentId}": {
      "patch": {
        "tags": [
          "Payments"
        ],
        "summary": "Update payment details.",
        "description": "This endpoint allows you to update the details of a specific payment identified by its ID. The client can modify fields as necessary to adjust the payment records.",
        "operationId": "updatePaymentPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the payment details for the specified payment ID. This payload must adhere to the defined schema and can include fields such as the payment amount, currency, and any updates pertinent to the payment status.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdatePaymentPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, payment details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdatePaymentPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdatePaymentPay300045Request": {
        "title": "Payment Operation Request Body",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "The unique identifier for the merchant's order.",
            "example": "ORD-251267"
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for processing payment operations.",
        "example": {
          "merchantOrderId": "ORD-251267",
          "requestContext": {
            "requestId": "d6dabec9-d16b-5084-aab0-4f1e2111527c",
            "correlationId": "b69696a4-6427-50a7-9bc2-68297c6a2324",
            "idempotencyKey": "069e0f57-9719-5072-9298-54e4a3afa161",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-176525"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates contextual information for a payment request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the channel.",
            "example": "string"
          }
        },
        "description": "This schema provides information about the channel used in the payment request."
      },
      "UpdatePaymentPay300045Response_200": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-733773"
          },
          "paymentIntentId": {
            "type": "string",
            "description": "Identifier for the payment intent.",
            "example": "STANDARD"
          },
          "qrPaymentRequestId": {
            "type": "string",
            "description": "Identifier for the QR payment request.",
            "example": "152d4956-056d-5061-8399-992b93baa75e"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-451956"
          },
          "outletId": {
            "type": "string",
            "description": "Identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Identifier for the terminal.",
            "example": "STANDARD"
          },
          "merchantOrderId": {
            "type": "string",
            "description": "Identifier for the merchant's order.",
            "example": "ORD-859277"
          },
          "channel": {
            "type": "string",
            "description": "Channel through which the payment was made.",
            "example": "STANDARD"
          },
          "paymentMethod": {
            "description": "Details about the payment method used.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Details about the customer.",
            "$ref": "#/components/schemas/Customer"
          },
          "amounts": {
            "description": "Details about the amounts related to the payment.",
            "$ref": "#/components/schemas/Amounts"
          },
          "metadata": {
            "description": "Additional metadata about the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for payment processing.",
        "example": {
          "paymentId": "PAY-733773",
          "paymentIntentId": "STANDARD",
          "qrPaymentRequestId": "152d4956-056d-5061-8399-992b93baa75e",
          "merchantId": "MER-451956",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "merchantOrderId": "ORD-859277",
          "channel": "STANDARD",
          "paymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-611",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "amounts": {
            "requested": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "authorized": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "captured": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "refunded": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "reversed": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "tip": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "fees": [
              {
                "feeType": "STANDARD",
                "amount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "bearer": "CUSTOMER"
              }
            ],
            "netToMerchant": {
              "currency": "USD"
            }
          },
          "metadata": {
            "responseId": "23d89d12-9cce-537d-8982-64572ef13320",
            "correlationId": "b69696a4-6427-50a7-9bc2-68297c6a2324",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentMethod": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of payment method (e.g., credit card, debit card).",
            "example": "string"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method.",
            "example": "string"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Code of the bank issuing the payment method.",
            "example": "string"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for sensitive information.",
            "example": "string"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet used.",
            "example": "string"
          }
        },
        "description": "Details about the payment method used for the transaction."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the customer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "string"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment assigned to the customer.",
            "example": "string"
          }
        },
        "description": "Details about the customer making the payment."
      },
      "Amounts": {
        "type": "object",
        "properties": {
          "requested": {
            "description": "The amount requested for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "authorized": {
            "description": "Amount authorized for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "captured": {
            "description": "Amount captured in the payment process.",
            "$ref": "#/components/schemas/Amount"
          },
          "refunded": {
            "description": "Amount refunded to the customer.",
            "$ref": "#/components/schemas/Amount"
          },
          "reversed": {
            "description": "Amount that has been reversed.",
            "$ref": "#/components/schemas/Amount"
          },
          "tip": {
            "description": "Tip amount included in the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "type": "array",
            "description": "List of fees associated with the payment.",
            "items": {
              "$ref": "#/components/schemas/Fee"
            }
          },
          "netToMerchant": {
            "description": "Net amount that goes to the merchant after fees.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details about the various amounts involved in the payment."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Amount details for specified transaction stages."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "feeType": {
            "type": "string",
            "description": "Type of the fee (e.g., service fee, transaction fee).",
            "example": "string"
          },
          "amount": {
            "description": "Amount of the fee.",
            "$ref": "#/components/schemas/Amount"
          },
          "bearer": {
            "type": "string",
            "description": "Indicates who bears the fee (customer or merchant).",
            "example": "merchant"
          }
        },
        "description": "Details of a fee associated with the payment."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment is processed.",
            "example": "string"
          }
        },
        "description": "Metadata related to the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-payment-metadata"
        },
        "example": "banking-p2m-openapi-update-payment-metadata"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the 'Authorization' header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}