{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Architecture Configuration API",
    "description": "The Enterprise Architecture Configuration API allows businesses to modify and refine their enterprise architecture settings. This API provides operations for updating business direction parameters within the architecture framework. Typical consumers include architects, systems administrators, and business analysts who require flexibility in adjusting their enterprise strategies. By enabling precision updates, this API ensures that organizations can effectively align their operational capabilities with their strategic goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture/{param1}": {
      "patch": {
        "tags": [
          "Business Direction"
        ],
        "summary": "Update Enterprise Architecture Resource",
        "description": "This endpoint allows you to update the details of Enterprise Architecture Resource with the specified identifier. Ensure that you provide the necessary fields you wish to change.",
        "operationId": "patchEnterpriseArchitectureRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the enterprise architecture details for the specified resource identified by RES-100045. It should contain the necessary fields to modify the existing data, ensuring that all required attributes are correctly specified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchEnterpriseArchitectureRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchEnterpriseArchitectureRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchEnterpriseArchitectureRes100045Request": {
        "title": "Patch Operations Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object that contains details about the changes being made.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes are effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object that provides context for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the PATCH operation in managing enterprise architecture operations.",
        "example": {
          "changes": {
            "initiativeId": "STANDARD",
            "sponsorId": "STANDARD",
            "planningHorizon": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9f0bc92e-0603-511f-ada1-c22043cba1e0",
            "correlationId": "8e492fb5-d643-599d-99a6-b415dab6b092",
            "idempotencyKey": "b9b15c24-9135-544e-b1f2-2daf00294e83",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-971483"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes Object",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "Identifier for the initiative related to the changes.",
            "example": "string"
          },
          "sponsorId": {
            "type": "string",
            "description": "Identifier for the sponsor of the initiative.",
            "example": "string"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the changes.",
            "example": "string"
          }
        },
        "description": "Details about the specific changes being made in the request."
      },
      "RequestContext": {
        "title": "Request Context Object",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request through systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that is making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Object",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "PatchEnterpriseArchitectureRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response structure.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status message indicating the outcome of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information pertaining to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for PATCH operations regarding enterprise architecture business direction.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bae46eb5-14a2-58da-a3e0-c669825d1489",
            "correlationId": "8e492fb5-d643-599d-99a6-b415dab6b092",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "string"
          }
        },
        "description": "Metadata schema containing various identifiers and timestamps related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed, formatted as a string to uniquely identify the resource.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-update-enterprise-architecture"
        },
        "example": "enterprise-architecture-update-enterprise-architecture"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application processing the request, provided as a string.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. Clients must include a valid JWT in the Authorization header when making requests, ensuring secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}