{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Approved Supplier Validation API",
    "description": "The Approved Supplier Validation API allows businesses to submit and validate supplier information within the approved supplier directory. This endpoint is crucial for organizations seeking to ensure compliance and maintain quality control when engaging with suppliers. Typical consumers include procurement teams, finance departments, and compliance officers who need to verify supplier credentials. By streamlining the validation process, companies can mitigate risk and enhance their supplier relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/approved-supplier-directory/{param1}/validations": {
      "post": {
        "tags": [
          "Approved Supplier Directory"
        ],
        "summary": "Create a validation for an approved supplier.",
        "description": "This operation allows you to create a validation entry for an approved supplier in the directory. It ensures that the supplier meets all necessary criteria for validation.",
        "operationId": "createApprovedSupplierDirectoryValidation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a validation process for an approved supplier within the specified enterprise service. It should include all necessary information about the supplier and the validation parameters required for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateApprovedSupplierDirectoryValidationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, validation data returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateApprovedSupplierDirectoryValidationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateApprovedSupplierDirectoryValidationRequest": {
        "title": "Approved Supplier Directory Validation Request",
        "type": "object",
        "properties": {
          "validationScope": {
            "type": "array",
            "description": "List of validation criteria to be applied.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "validSupplier"
            }
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the validation should be performed.",
            "example": "2026-09-15"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the validation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information regarding the validation request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for validating entries in the approved supplier directory.",
        "example": {
          "validationScope": [
            "STANDARD"
          ],
          "asOfDate": "2026-09-15",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9ea3556e-3efc-5368-b6d3-9c550f2d903e",
            "correlationId": "595d70a4-6789-54ed-b4a4-4c47e4d5fdaa",
            "idempotencyKey": "a82d6117-0f2d-5977-a6d6-7bbc39fce6d1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-960997"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests across services.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-key-012"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that originated the request.",
            "example": "SupplierManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "SupplierApp"
          },
          "channel": {
            "description": "Details of the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information for the validation request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Information related to the channel used for the request."
      },
      "CreateApprovedSupplierDirectoryValidationResponse_200": {
        "title": "Approved Supplier Validation Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action taken.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The status of the action processed.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the validation operation in the approved supplier directory.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "90f909fd-5b3f-52f7-8c1c-1c883ce73b85",
            "correlationId": "595d70a4-6789-54ed-b4a4-4c47e4d5fdaa",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "res-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking and correlating requests.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-05T14:48:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information about the request handling."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "approved-supplier-directory-validate-approved-supplier-directory"
        },
        "example": "approved-supplier-directory-validate-approved-supplier-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access to the API. Clients must include the token in the 'Authorization' header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}