{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Initiation API",
    "description": "The Payment Initiation API facilitates the retrieval of payment initiation details, allowing users to efficiently manage and track their payment requests. This API provides access to essential information related to initiated payments, such as statuses, timestamps, and associated transactions. Typical consumers include bank operators, financial service providers, and developers integrating payment solutions within banking applications. This endpoint plays a crucial role in enhancing user experience through quick access to payment initiation insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/payment-initiation": {
      "get": {
        "tags": [
          "Payment"
        ],
        "summary": "Initiates a payment process for servicing.",
        "description": "This endpoint is used to initiate a payment related to servicing. It triggers the necessary actions to begin the payment flow for users seeking to manage their servicing payments effectively.",
        "operationId": "initiatePaymentForServicing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a payment process in the servicing application. It should contain the necessary payment details in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InitiatePaymentForServicingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and payment initiation details retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InitiatePaymentForServicingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "InitiatePaymentForServicingRequest": {
        "title": "Payment Initiation Request Body",
        "type": "string",
        "description": "This schema defines the structure of the request body for initializing a payment operation. It is expected to be in JSON format.",
        "example": "{}"
      },
      "InitiatePaymentForServicingResponse_200": {
        "title": "Payment Initiation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment items.",
            "example": [
              {
                "customerId": "CUST-342906",
                "caseId": "CASE-718548",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the payment items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the payment initiation GET operation, containing a collection of payment items and pagination details.",
        "example": {
          "items": [
            {
              "customerId": "CUST-342906",
              "caseId": "CASE-718548",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b93142e8-7b3d-5d9b-83db-f4ad69c4702d",
            "correlationId": "12463d09-3f46-5973-bede-77f3df729c42",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "title": "Payment Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust-12345"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the case related to the payment.",
            "example": "case-67890"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request for the payment.",
            "example": "normal"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the payment request.",
            "example": "high"
          },
          "originatingChannel": {
            "type": "string",
            "description": "Channel through which the payment request originated.",
            "example": "mobile_app"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the most recent update to the payment item.",
            "example": "2023-10-12T10:15:30Z"
          }
        },
        "description": "Details of a payment item associated with the payment initiation process."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated list.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response, including page number, page size, and total item count."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "corr-xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-12T10:15:30Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata for the API response, including unique identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-search-payment-initiation"
        },
        "example": "payment-initiation-search-payment-initiation"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) to authenticate users. The token must be provided in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}