{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Tracking API",
    "description": "The Credit Card Position Tracking API provides real-time insights into the status of credit card transactions and balances. This endpoint allows users to query specific credit card positions by unique identifiers. It is designed for financial institutions, account holders, and developers integrating credit card data into their applications. By using this API, businesses can enhance customer experiences with up-to-date credit card information, enabling informed decisions and effective financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping/{param1}": {
      "get": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Retrieve the position of a specific credit card.",
        "description": "This endpoint allows you to fetch the current position details for the specified credit card identified by its unique CARD identifier. It provides important information regarding the card's status and other relevant data points.",
        "operationId": "getCreditCardPositionKeepingCard400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the parameters needed to retrieve the position of a specific credit card identified by CARD-400045. It includes all relevant attributes required for the operation to return accurate information about the credit card's status and details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditCardPositionKeepingCard400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit card position details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditCardPositionKeepingCard400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditCardPositionKeepingCard400045Request": {
        "title": "Credit Card Position Keeping Request Body",
        "type": "string",
        "description": "A JSON string representing the request body for the Credit Card Position Keeping operation.",
        "example": "{}"
      },
      "GetCreditCardPositionKeepingCard400045Response_200": {
        "title": "Credit Card Position Keeping Response",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The unique token associated with the credit card.",
            "example": "TOK-298633"
          },
          "cardholderId": {
            "type": "string",
            "description": "The ID of the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant.",
            "example": "MER-585901"
          },
          "transactionAmount": {
            "description": "The amount associated with the transaction.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code for transaction classification.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for credit card position keeping operation.",
        "example": {
          "cardToken": "TOK-298633",
          "cardholderId": "STANDARD",
          "merchantId": "MER-585901",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f22d6028-061f-556d-9061-a0682957d75b",
            "correlationId": "ab96be94-713e-5f25-ab39-46e671c0f1e4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The numeric amount of the transaction.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the transaction amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the transaction amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response of the card position operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the API endpoint that was invoked, useful for tracking and troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-get-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-get-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, which can help in identifying the source of responses.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JWT (JSON Web Token) format, enabling secure access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}