{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Application Documents API",
    "description": "The Update Loan Application Documents API allows users to modify existing documents associated with a specific loan application. This API endpoint enables financial institutions or loan processing services to efficiently manage documentation related to loan applications, ensuring that all necessary paperwork is up-to-date and accurate. Typical consumers of this API include loan officers, application processing teams, and integration developers who require seamless access to document management capabilities. By streamlining document updates, this API enhances user experience and improves operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/documents/{documentId}": {
      "patch": {
        "tags": [
          "Loan Application Management"
        ],
        "summary": "Update a loan application document",
        "description": "This operation allows for updating the details of a specific document associated with a loan application. You can modify various attributes as necessary to ensure the document is up-to-date and compliant.",
        "operationId": "updateLoanApplicationDocumentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan application documents. It requires a JSON payload that conforms to the specified schema to ensure the proper format of the data being submitted.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationDocumentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, document updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationDocumentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationDocumentRes100045Request": {
        "title": "Loan Application Document Request",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document being submitted.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "Northstar Banking Service"
          },
          "storageReference": {
            "type": "string",
            "description": "A reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The verification status of the document.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Any comments regarding the verification process.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for updating loan application documents.",
        "example": {
          "documentType": "STANDARD",
          "fileName": "Northstar Banking Service",
          "storageReference": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "requestContext": {
            "requestId": "42fa9206-de59-5127-9ba4-eb9ace9b964b",
            "correlationId": "3e8c9281-c70c-53b9-92e4-c326b40b79ee",
            "idempotencyKey": "afc5476d-717b-5fe9-a0b4-5b1e09829ecc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-385083"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique ID for correlating related requests.",
            "example": "corr-abcdef"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used for ensuring idempotent requests.",
            "example": "idempotency-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "LoanProcessingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "LoanAppMobile"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "This schema represents the context of the request including identifiers and metadata."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "This schema defines the channel information from which the request is made."
      },
      "UpdateLoanApplicationDocumentRes100045Response_200": {
        "title": "Loan Application Document Response",
        "type": "object",
        "properties": {
          "documentType": {
            "type": "string",
            "description": "The type of document submitted.",
            "example": "STANDARD"
          },
          "applicantId": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "a838a0ca-8c72-a4eb-692a-407b65260d9c"
          },
          "collateralId": {
            "type": "string",
            "description": "Unique identifier for the collateral associated with the loan application.",
            "example": "44fa08b6-e608-0c00-7db9-f15aaf2361f6"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mimeType": {
            "type": "string",
            "description": "The MIME type of the document file.",
            "example": "STANDARD"
          },
          "storageReference": {
            "type": "string",
            "description": "Reference to the storage location of the document.",
            "example": "STANDARD"
          },
          "sha256Checksum": {
            "type": "string",
            "description": "SHA256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "issuedDate": {
            "type": "string",
            "description": "The date when the document was issued.",
            "example": "2026-09-15"
          },
          "expiryDate": {
            "type": "string",
            "description": "The expiration date of the document.",
            "example": "2026-09-15"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "905a0511-65b8-e91e-4267-12e6ae8d3a64"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The status of document verification.",
            "example": "VERIFIED"
          },
          "verificationComments": {
            "type": "string",
            "description": "Comments regarding the document verification.",
            "example": "STANDARD"
          },
          "verifiedAt": {
            "type": "string",
            "description": "Timestamp when the document was verified.",
            "example": "2026-09-15T14:30:00Z"
          },
          "verifiedBy": {
            "type": "string",
            "description": "Identifier for the user who verified the document.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to document processing.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the document processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema containing details about a loan application document.",
        "example": {
          "documentType": "STANDARD",
          "applicantId": "a838a0ca-8c72-a4eb-692a-407b65260d9c",
          "collateralId": "44fa08b6-e608-0c00-7db9-f15aaf2361f6",
          "fileName": "Northstar Banking Service",
          "mimeType": "STANDARD",
          "storageReference": "STANDARD",
          "sha256Checksum": "STANDARD",
          "issuedDate": "2026-09-15",
          "expiryDate": "2026-09-15",
          "id": "905a0511-65b8-e91e-4267-12e6ae8d3a64",
          "verificationStatus": "VERIFIED",
          "verificationComments": "STANDARD",
          "verifiedAt": "2026-09-15T14:30:00Z",
          "verifiedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "1c257e32-7d7b-5208-a189-1712483b34a9",
            "correlationId": "3e8c9281-c70c-53b9-92e4-c326b40b79ee",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the document was created.",
            "example": "2022-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user who created the document.",
            "example": "creator-11111"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the document was last updated.",
            "example": "2022-01-10T15:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user who last updated the document.",
            "example": "updater-22222"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema for storing audit information related to document processing."
      },
      "Metadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related operations.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2022-01-10T15:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Schema for additional metadata related to document processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint related to the loan application operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-application-document"
        },
        "example": "banking-loans-openapi-update-application-document"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment where the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token. This method typically involves using a JSON Web Token (JWT) to authorize requests, ensuring secure communication between the client and server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}