{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Report Retrieval API",
    "description": "The Customer Report Retrieval API allows users to access detailed reports associated with specific customers. By providing a unique customer ID and report ID, users can retrieve important insights and analytics relevant to their decision-making processes. This API is particularly useful for analysts and decision-makers seeking to understand customer behaviors, trends, and performance metrics. It streamlines the process of report access, ensuring that stakeholders have the necessary information at their fingertips.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/{reportId}": {
      "get": {
        "tags": [
          "Customer Reports"
        ],
        "summary": "Retrieve a specific report for a customer.",
        "description": "This endpoint allows clients to fetch detailed reports associated with a specific customer, identified by their unique customer ID, along with the unique report ID. It provides insights into customer activities and metrics that are vital for analysis.",
        "operationId": "getCustomerReportCUST100045RES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the report associated with the specified customer and report IDs. It contains parameters necessary for the operation and should be formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerReportCUST100045RES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested report.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerReportCUST100045RES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerReportCUST100045RES100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the report resource related to customer CUST-100045.",
        "example": "{}"
      },
      "GetCustomerReportCUST100045RES100045Response_200": {
        "title": "Customer Report Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the report.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "The type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "The unique identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "The identifier for the specific request.",
            "example": "bfbcd9da-0003-5eee-8ebe-7ef3990900ee"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user of the report.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the report was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "The title of the report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "The Social Security Number (SSN) of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "A statement concerning any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "The type of report.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the report (e.g., pending, completed).",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the report.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata regarding the report.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a customer report request. It includes detailed information about the customer, their requests, and associated metadata.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "bfbcd9da-0003-5eee-8ebe-7ef3990900ee",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-516797"
            ]
          },
          "metadata": {
            "responseId": "97146fa9-5ca4-52e9-b91d-1a6100fc158f",
            "correlationId": "d25e6f22-05d9-51a9-9e74-0e3b246c2147",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Information",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the end user.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL associated with the end user.",
            "example": "string"
          }
        },
        "description": "This schema provides details about the end user associated with a report."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the consumer, if any.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "The address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "The postal code of the consumer.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "The Social Security Number (SSN) of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "The email address of the consumer.",
            "example": "string"
          }
        },
        "description": "This schema provides detailed information about a consumer."
      },
      "Constraints": {
        "title": "Report Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "type": "object",
            "properties": {
              "forCraPurpose": {
                "type": "boolean",
                "description": "Indicates if the report is for CRA purposes.",
                "example": false
              },
              "applicantIsPersonalGuarantor": {
                "type": "boolean",
                "description": "Indicates if the applicant is a personal guarantor.",
                "example": false
              },
              "timeIntervalTypes": {
                "type": "array",
                "description": "List of time interval types relevant to the report.",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            }
          },
          "accountIds": {
            "type": "array",
            "description": "A list of account identifiers related to the report.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "This schema defines various constraints associated with the report."
      },
      "Metadata": {
        "title": "Report Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the report was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata related to the report."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-report-by-customer"
        },
        "example": "open-finance-api-get-report-by-customer"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request, indicating where the processing took place.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically in JWT (JSON Web Token) format. This method allows secure API access by transmitting signed tokens in the HTTP authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}