{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Special Pricing Conditions Retrieval API",
    "description": "This API allows users to retrieve special pricing conditions associated with banking products. It serves as a vital tool for financial services professionals seeking to optimize pricing strategies for their offerings. Typical consumers include product managers and pricing analysts aiming to access detailed pricing conditions to enhance product competitiveness. By leveraging this API, organizations can ensure they are well-informed about current pricing structures and make data-driven decisions regarding promotions and customer offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/special-pricing-conditions": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve special pricing conditions for products.",
        "description": "This endpoint allows you to fetch the special pricing conditions associated with products in the management system. It provides the necessary details to understand applicable pricing rules and discounts.",
        "operationId": "getSpecialPricingConditions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve special pricing conditions for products. It allows the client to specify parameters that may influence the response, ensuring that the client gets the specific pricing information it needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSpecialPricingConditionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the special pricing conditions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSpecialPricingConditionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSpecialPricingConditionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the special pricing conditions in the product management system.",
        "example": "{}"
      },
      "GetSpecialPricingConditionsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of special pricing condition items.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SpecialPricingCondition"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for successful retrieval of special pricing conditions.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "bbf70c08-380e-53b7-879c-a16e368b5af4",
            "correlationId": "04125896-92b8-57b8-b83d-d3d8e922ecf9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SpecialPricingCondition": {
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique code of the product.",
            "example": "PROD123"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Product Name"
          },
          "customerSegment": {
            "type": "string",
            "description": "Segment of the customer that this pricing condition applies to.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used for the pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the pricing condition becomes effective.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the pricing record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the pricing condition was last updated.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Represents a special pricing condition for a product."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with the request.",
            "example": "corr_789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "special-pricing-conditions-search-special-pricing-conditions"
        },
        "example": "special-pricing-conditions-search-special-pricing-conditions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically in JWT format, to authorize requests. The client must include this token in the `Authorization` header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}