{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Webhook Subscription Management API",
    "description": "The Webhook Subscription Management API enables businesses to manage their notification subscriptions via webhooks. By utilizing this endpoint, users can seamlessly create subscriptions to receive real-time updates and notifications about important events. This functionality is particularly useful for developers integrating external services, ensuring timely data delivery. Typical consumers include application developers and system integrators looking to enhance their systems with automated notifications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks": {
      "post": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Create a new webhook",
        "description": "This endpoint allows you to create a new webhook. You can configure it to listen for specific events and receive notifications when those events occur.",
        "operationId": "createWebhook",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body requires a JSON object that specifies the details for the webhook operation. The included fields must match the defined schema to ensure proper processing of the webhook.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWebhookRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully, and the request was processed without issues.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWebhookResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWebhookRequest": {
        "title": "Webhook Request Body",
        "type": "object",
        "properties": {
          "url": {
            "type": "string",
            "description": "The URL where the webhook will send its notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "A list of events that the webhook will subscribe to.",
            "example": [
              {
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a webhook.",
        "example": {
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "requestContext": {
            "requestId": "ee6328c2-8c87-5776-8c79-d3aa1b3619ac",
            "correlationId": "8bf776c6-3120-525e-8a0d-6dac377bf331",
            "idempotencyKey": "00efaedd-3ee0-5b2d-89c3-e82af4668478",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-654901"
            }
          }
        }
      },
      "WebhookEvent": {
        "title": "Webhook Event",
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "event_12345"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "user.created"
          },
          "url": {
            "type": "string",
            "description": "The associated URL endpoint for the event.",
            "example": "https://example.com/webhook/user-created"
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook event.",
            "example": "enabled"
          },
          "condition": {
            "$ref": "#/components/schemas/Condition"
          }
        },
        "description": "Details of a specific webhook event."
      },
      "WebhookCondition": {
        "title": "Webhook Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The condition that specifies when to subscribe to this event.",
            "example": "user.status=active"
          },
          "includes": {
            "type": "array",
            "description": "A list of items that must be included for the event to trigger.",
            "items": {
              "type": "string",
              "example": "exampleItem"
            }
          },
          "excludes": {
            "type": "array",
            "description": "A list of items that should be excluded for the event to trigger.",
            "items": {
              "type": "string",
              "example": "unwantedItem"
            }
          }
        },
        "description": "Schema representing the conditions for triggering the webhook event."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that the request is processed only once.",
            "example": "idemp-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "ExternalSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "App1"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request made for the webhook."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-1234"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., HTTP, MQTT).",
            "example": "HTTP"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier associated with the channel.",
            "example": "device-5678"
          }
        },
        "description": "Schema representing the communication channel used for the webhook."
      },
      "CreateWebhookResponse_201": {
        "title": "Webhook Subscription Response",
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the webhook subscription.",
            "example": "STANDARD"
          },
          "url": {
            "type": "string",
            "description": "The URL endpoint that will receive the webhook notifications.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "events": {
            "type": "array",
            "description": "List of events that the webhook will subscribe to.",
            "example": [
              {
                "webhookEventId": "STANDARD",
                "name": "Northstar Banking Service",
                "url": "https://banking.northstar.example/callbacks/status",
                "status": "ACTIVE",
                "condition": {
                  "subscribeFor": "STANDARD",
                  "includes": [
                    "STANDARD"
                  ],
                  "excludes": [
                    "STANDARD"
                  ]
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "Current status of the webhook subscription.",
            "example": "ACTIVE"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the subscription was created.",
            "example": "2026-09-15"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the subscription was last updated.",
            "example": "2026-09-15"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful webhook subscription creation.",
        "example": {
          "subscriptionId": "STANDARD",
          "url": "https://banking.northstar.example/callbacks/status",
          "events": [
            {
              "webhookEventId": "STANDARD",
              "name": "Northstar Banking Service",
              "url": "https://banking.northstar.example/callbacks/status",
              "status": "ACTIVE",
              "condition": {
                "subscribeFor": "STANDARD",
                "includes": [
                  "STANDARD"
                ],
                "excludes": [
                  "STANDARD"
                ]
              }
            }
          ],
          "status": "ACTIVE",
          "createdDate": "2026-09-15",
          "lastUpdatedDate": "2026-09-15",
          "metadata": {
            "responseId": "01706a71-8fbe-5af1-bdcc-55528bb4d25b",
            "correlationId": "8bf776c6-3120-525e-8a0d-6dac377bf331",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Condition": {
        "title": "Webhook Event Condition",
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "Specifies the type of event to subscribe for.",
            "example": "creation"
          },
          "includes": {
            "type": "array",
            "description": "List of specific identifiers or types that are included in this condition.",
            "items": {
              "type": "string",
              "description": "An identifier or type included in the condition.",
              "example": "user.new"
            }
          },
          "excludes": {
            "type": "array",
            "description": "List of specific identifiers or types that are excluded from this condition.",
            "items": {
              "type": "string",
              "description": "An identifier or type excluded from the condition.",
              "example": "user.inactive"
            }
          }
        },
        "description": "Conditions under which the webhook event can be triggered."
      },
      "Metadata": {
        "title": "Webhook Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request.",
            "example": "corr_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Additional metadata related to the webhook subscription response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the specific endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-create-webhook-subscription"
        },
        "example": "open-finance-api-create-webhook-subscription"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the webhook call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. A JSON Web Token (JWT) should be included in the Authorization header of requests to authenticate and gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}