{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchandising Loan Application API",
    "description": "The Merchandising Loan Application API facilitates the submission of loan requests tailored for merchandising needs. This API enables businesses to efficiently apply for loans to finance their inventory or marketing efforts. Typically utilized by retailers and wholesalers, it streamlines the loan application process, allowing users to submit necessary details and documents seamlessly. It is designed to enhance the overall experience of merchants seeking financial support for their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/merchandising-loan": {
      "post": {
        "tags": [
          "Lending"
        ],
        "summary": "Create a new merchandising loan.",
        "description": "This endpoint allows you to initiate a new merchandising loan application. Provide the necessary details in the request body to create a loan tailored for merchandising purposes, ensuring that all required fields are filled out correctly.",
        "operationId": "createMerchandisingLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a merchandising loan under the deposit lending category. It includes all necessary information required to process the loan application efficiently.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchandisingLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The request was successful, and a new resource has been created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchandisingLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchandisingLoanRequest": {
        "title": "Loan Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer.",
            "example": "CUST-826098"
          },
          "accountId": {
            "type": "string",
            "description": "The account identifier where the loan will be registered.",
            "example": "ACC-869875"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product type for the loan.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount and currency for the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the loan (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a merchandising loan.",
        "example": {
          "customerId": "CUST-826098",
          "accountId": "ACC-869875",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "requestContext": {
            "requestId": "b1527b10-a15d-5727-8d3b-84565b484b06",
            "correlationId": "c21a0050-0b2b-55f9-8484-3d2d2fffff22",
            "idempotencyKey": "978b13c2-2eab-5685-b259-b2a099bcb862",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-329127"
            }
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money being borrowed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the loan amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the principal amount and currency details of a loan."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema representing the context for the request, including identifiers and source information."
      },
      "ChannelInfo": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the channel used for the request."
      },
      "CreateMerchandisingLoanResponse_201": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-676152"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "ACC-262195"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the loan resource.",
            "example": "RES-529910"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the loan application was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the loan processing.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the merchandising loan operation. It contains details about the customer, account, product, and additional metadata related to the loan process.",
        "example": {
          "customerId": "CUST-676152",
          "accountId": "ACC-262195",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-529910",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3c89934f-b00a-5284-b55d-702c5603affc",
            "correlationId": "c21a0050-0b2b-55f9-8484-3d2d2fffff22",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response generated from the loan processing.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests and responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information related to the loan processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that was called, used for tracking and diagnostics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchandising-loan-create-merchandising-loan"
        },
        "example": "merchandising-loan-create-merchandising-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for monitoring application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method, where tokens based on the JSON Web Token (JWT) standard are provided in the Authorization header. The client must include a valid JWT token to authenticate requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}