{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Runs Retrieval API",
    "description": "The Reconciliation Runs Retrieval API allows users to access information about reconciliation runs, which are essential for verifying and ensuring the accuracy of financial transactions. By providing detailed insights into each run, this API supports financial analysts and accounting systems in monitoring discrepancies and reconciling records efficiently. Typical consumers include finance teams and auditing applications that rely on accurate transaction data. By querying specific reconciliation runs, users can streamline their financial processes and maintain compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve a specific reconciliation run by its ID.",
        "description": "This endpoint allows developers to fetch detailed information about a specific reconciliation run identified by its unique identifier. Utilize this endpoint to gather insights and data related to the specified reconciliation.",
        "operationId": "getReconciliationRunById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for retrieving reconciliation run details. It is essential to format the request according to the specified schema to ensure correct processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetReconciliationRunByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved reconciliation run details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReconciliationRunByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetReconciliationRunByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on reconciliation runs.",
        "example": "{}"
      },
      "GetReconciliationRunByIdResponse_200": {
        "type": "object",
        "properties": {
          "reconciliationRunId": {
            "type": "string",
            "description": "The unique identifier for the reconciliation run.",
            "example": "STANDARD"
          },
          "sourceA": {
            "type": "string",
            "description": "The source identifier for source A.",
            "example": "STANDARD"
          },
          "sourceB": {
            "type": "string",
            "description": "The source identifier for source B.",
            "example": "STANDARD"
          },
          "businessDate": {
            "type": "string",
            "description": "The business date for the reconciliation run.",
            "example": "2026-09-15"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier for the merchant associated with the reconciliation.",
            "example": "MER-441087"
          },
          "currency": {
            "type": "string",
            "description": "The currency used in the reconciliation.",
            "example": "USD"
          },
          "matchingStrategy": {
            "type": "string",
            "description": "The strategy used for matching records.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the reconciliation run.",
            "example": "ACTIVE"
          },
          "summary": {
            "$ref": "#/components/schemas/ReconciliationSummary"
          },
          "startedAt": {
            "type": "string",
            "description": "The timestamp when the reconciliation run started.",
            "example": "2026-09-15T14:30:00Z"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the reconciliation run completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response of a reconciliation run request, containing details about the run, its status, summary, audit information, and additional metadata.",
        "example": {
          "reconciliationRunId": "STANDARD",
          "sourceA": "STANDARD",
          "sourceB": "STANDARD",
          "businessDate": "2026-09-15",
          "merchantId": "MER-441087",
          "currency": "USD",
          "matchingStrategy": "STANDARD",
          "status": "ACTIVE",
          "summary": {
            "sourceACount": 1,
            "sourceBCount": 1,
            "matchedCount": 1,
            "unmatchedSourceACount": 1,
            "unmatchedSourceBCount": 1,
            "amountMismatchCount": 1,
            "duplicateCount": 1,
            "totalSourceA": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "totalSourceB": {
              "currency": "USD",
              "value": "STANDARD"
            },
            "netDifference": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "startedAt": "2026-09-15T14:30:00Z",
          "completedAt": "2026-09-15T14:30:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "906cde87-a18c-50d7-b31e-b9de46621744",
            "correlationId": "4332a2b7-85da-54b5-8503-a5bd697380cc",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReconciliationSummary": {
        "type": "object",
        "properties": {
          "sourceACount": {
            "type": "integer",
            "description": "Count of records from source A.",
            "format": "int32",
            "example": 0
          },
          "sourceBCount": {
            "type": "integer",
            "description": "Count of records from source B.",
            "format": "int32",
            "example": 0
          },
          "matchedCount": {
            "type": "integer",
            "description": "Count of matched records.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceACount": {
            "type": "integer",
            "description": "Count of unmatched records from source A.",
            "format": "int32",
            "example": 0
          },
          "unmatchedSourceBCount": {
            "type": "integer",
            "description": "Count of unmatched records from source B.",
            "format": "int32",
            "example": 0
          },
          "amountMismatchCount": {
            "type": "integer",
            "description": "Count of records with amount mismatches.",
            "format": "int32",
            "example": 0
          },
          "duplicateCount": {
            "type": "integer",
            "description": "Count of duplicate records found.",
            "format": "int32",
            "example": 0
          },
          "totalSourceA": {
            "$ref": "#/components/schemas/FinancialTotal"
          },
          "totalSourceB": {
            "$ref": "#/components/schemas/FinancialTotal"
          },
          "netDifference": {
            "$ref": "#/components/schemas/FinancialTotal"
          }
        },
        "description": "Summary of the reconciliation run, providing counts of matched and unmatched records, and financial totals."
      },
      "FinancialTotal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the total amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the total amount.",
            "example": "100.00"
          }
        },
        "description": "Represents the total amount for a source with currency information."
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation was created.",
            "example": "2023-03-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "User who created the reconciliation run.",
            "example": "user@example.com"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the reconciliation was last updated.",
            "example": "2023-03-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "User who last updated the reconciliation run.",
            "example": "user@example.com"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the reconciliation run.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details for the reconciliation run, including timestamps and user information."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking across systems.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-03-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata for the response including identifiers and other relevant information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-reconciliation-run"
        },
        "example": "banking-p2m-openapi-get-reconciliation-run"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. This scheme requires a valid JSON Web Token (JWT) to be provided in the Authorization header of HTTP requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}