{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Model Management API",
    "description": "The Fraud Model Management API facilitates the dynamic updating and optimization of fraud detection models within the banking sector. This endpoint allows authorized users to modify existing fraud model parameters, enhancing the efficacy of fraud detection mechanisms. Typical consumers of this API include data scientists, fraud analysts, and application developers working to ensure the robustness of fraud prevention strategies. By leveraging this API, organizations can swiftly adapt to evolving fraud patterns, ensuring a secure banking environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/fraud-model/{param1}": {
      "patch": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Update Fraud Model",
        "description": "This endpoint allows you to update the properties of a specific fraud model identified by its resource ID. Make sure to provide the necessary data for the update operation.",
        "operationId": "updateFraudModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the fraud model identified by RES-100045. It contains the necessary parameters for modifying the model's properties.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFraudModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFraudModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateFraudModelRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made to the fraud model.",
            "$ref": "#/components/schemas/FraudModelChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation related to the fraud model, including changes and context for the request.",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-427695"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "71b016ff-b64c-5b29-b186-33629f8aa9ca",
            "correlationId": "d2f77aea-4308-5b01-88d9-5a1edfd20c7d",
            "idempotencyKey": "8152a4de-f44d-5551-8cd6-0a8e308a4902",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-437098"
            }
          }
        }
      },
      "FraudModelChanges": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the fraud model.",
            "example": "model-abc-123"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the fraud model being updated.",
            "example": "1.0.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio the model belongs to.",
            "example": "portfolio-xyz-456"
          }
        },
        "description": "Contains specific changes to be made to a fraud model."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking requests across systems.",
            "example": "corr-101112"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that a request is processed only once.",
            "example": "idemp-131415"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp for when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Provides contextual information related to the request being made."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-161718"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-192021"
          }
        },
        "description": "Describes the channel used to make the request."
      },
      "UpdateFraudModelRes100045Response_200": {
        "title": "Fraud Model Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response model.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation performed.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response structure for the PATCH operation on the Fraud Model.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "625b266e-366f-5f9f-b0e0-b4570f60968c",
            "correlationId": "d2f77aea-4308-5b01-88d9-5a1edfd20c7d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "abcde-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Contains metadata for the Fraud Model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-model-update-fraud-model"
        },
        "example": "fraud-model-update-fraud-model"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to authenticate and gain access to secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}