{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Aggregation API",
    "description": "The Customer Account Aggregation API provides access to consolidated account information for specific customers. By targeting a unique customer ID, users can retrieve simplified account details, offering a clear view of customer financial standings. This API is vital for financial institutions and developers building banking solutions or customer relationship management tools. Use cases include generating client statements, monitoring account statuses, and enhancing customer service interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/simple": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve Simple Accounts for a Specific Customer",
        "description": "Fetch the simple accounts associated with the customer identified by 'CUST-100045'. This endpoint allows you to gather basic account information efficiently, enabling streamlined account management and analysis.",
        "operationId": "getSimpleAccountsForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching simple account details of the customer with ID CUST-100045. Ensure to provide the necessary identifiers in the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSimpleAccountsForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimpleAccountsForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSimpleAccountsForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on a specific customer's simple account.",
        "example": "{}"
      },
      "GetSimpleAccountsForCustomerCUST100045Response_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "STANDARD"
          },
          "number": {
            "type": "string",
            "description": "The account number.",
            "example": "STANDARD"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display format for the account number.",
            "example": "STANDARD"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last 4 digits of the real account number.",
            "example": "STANDARD"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "Northstar Banking Service"
          },
          "balance": {
            "type": "number",
            "description": "The current balance of the account.",
            "example": 100.0
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., checking, savings).",
            "example": "STANDARD"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The aggregation status code of the account.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the account (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-799284"
          },
          "institutionId": {
            "type": "string",
            "description": "The unique identifier for the financial institution.",
            "example": "STANDARD"
          },
          "balanceDate": {
            "type": "integer",
            "description": "The date the balance was last updated.",
            "format": "int32",
            "example": 1
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "The date the account aggregation was last successful.",
            "format": "int32",
            "example": 1
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "The date the last aggregation attempt was made.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the account was created.",
            "format": "int32",
            "example": 1
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "The date the account was last updated.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment of the account (e.g., retail, commercial).",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the balance.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "The date of the last transaction for the account.",
            "format": "int32",
            "example": 1
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "The date of the oldest transaction for the account.",
            "format": "int32",
            "example": 1
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "The login ID for the institution.",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "description": "Detailed information about the account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving account information for a specific customer.",
        "example": {
          "id": "STANDARD",
          "number": "STANDARD",
          "accountNumberDisplay": "STANDARD",
          "realAccountNumberLast4": "STANDARD",
          "name": "Northstar Banking Service",
          "balance": 100.0,
          "type": "STANDARD",
          "aggregationStatusCode": 1,
          "status": "ACTIVE",
          "customerId": "CUST-799284",
          "institutionId": "STANDARD",
          "balanceDate": 1,
          "aggregationSuccessDate": 1,
          "aggregationAttemptDate": 1,
          "createdDate": 1,
          "lastUpdatedDate": 1,
          "marketSegment": "STANDARD",
          "currency": "USD",
          "lastTransactionDate": 1,
          "oldestTransactionDate": 1,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1,
            "availableBalanceAmount": 100.0,
            "openDate": 1,
            "periodStartDate": 1,
            "periodEndDate": 1,
            "periodInterestRate": 100.0,
            "periodDepositAmount": 100.0,
            "periodInterestAmount": 100.0,
            "interestYtdAmount": 100.0,
            "interestPriorYtdAmount": 100.0,
            "maturityDate": 1,
            "interestRate": "STANDARD",
            "creditAvailableAmount": 100.0,
            "creditMaxAmount": 100.0
          },
          "metadata": {
            "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
            "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date this detail is effective from.",
            "format": "int32",
            "example": 0
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "The available balance amount.",
            "example": 0.0
          },
          "openDate": {
            "type": "integer",
            "description": "The date the account was opened.",
            "format": "int32",
            "example": 0
          },
          "periodStartDate": {
            "type": "integer",
            "description": "The start date of the reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodEndDate": {
            "type": "integer",
            "description": "The end date of the reporting period.",
            "format": "int32",
            "example": 0
          },
          "periodInterestRate": {
            "type": "number",
            "description": "The interest rate applicable for the reporting period.",
            "example": 0.0
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "The total deposit amount in the reporting period.",
            "example": 0.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "The total interest amount earned during the reporting period.",
            "example": 0.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "Year-to-date interest earned.",
            "example": 0.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "Prior year-to-date interest earned.",
            "example": 0.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "The maturity date of the account.",
            "format": "int32",
            "example": 0
          },
          "interestRate": {
            "type": "string",
            "description": "The current interest rate for the account.",
            "example": "string"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "The amount available for credit.",
            "example": 0.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "The maximum amount of credit available.",
            "example": 0.0
          }
        },
        "description": "Detailed information about an account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account"
        },
        "example": "open-finance-api-get-customer-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme as described in RFC 6750. A valid JSON Web Token (JWT) must be provided as part of the authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}