{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Private Placement Overview API",
    "description": "The Private Placement Overview API provides users with essential details about corporate private placement opportunities. This endpoint allows financial analysts and corporate finance professionals to access a comprehensive overview of available private placements, including vital terms and conditions. It serves as a valuable resource for companies seeking to raise capital through private placements, assisting them in evaluating investment opportunities. Typical consumers include investment banks, corporate treasurers, and financial advisors who need up-to-date information on private financing options.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/private-placement": {
      "get": {
        "tags": [
          "Corporate Finance"
        ],
        "summary": "Retrieve private placement details.",
        "description": "This endpoint allows users to retrieve detailed information about private placements within the corporate finance sector. Utilize this resource to access insights and data relevant to private investment opportunities.",
        "operationId": "getPrivatePlacement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body expects a JSON payload containing necessary parameters to execute a GET operation related to private placements in corporate finance.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPrivatePlacementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested private placement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPrivatePlacementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPrivatePlacementRequest": {
        "type": "string",
        "description": "This schema represents the request body in JSON format for the GET operation related to private placement operations in corporate finance.",
        "example": "{}"
      },
      "GetPrivatePlacementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of private placement items.",
            "example": [
              {
                "clientId": "STANDARD",
                "engagementId": "STANDARD",
                "transactionType": "STANDARD",
                "enterpriseValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "targetCloseDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PrivatePlacementItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on private placement under corporate finance.",
        "example": {
          "items": [
            {
              "clientId": "STANDARD",
              "engagementId": "STANDARD",
              "transactionType": "STANDARD",
              "enterpriseValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "targetCloseDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "15a6cc57-f04d-54e0-8cab-105b3cc9776c",
            "correlationId": "85d7881d-fd96-5c76-927c-3c1a31954a8f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PrivatePlacementItem": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "Unique identifier for the client.",
            "example": "CL123"
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "ENG456"
          },
          "transactionType": {
            "type": "string",
            "description": "Type of transaction involved.",
            "example": "Equity Financing"
          },
          "enterpriseValue": {
            "description": "Enterprise value of the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the transaction.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Details of a private placement item."
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Amount representing the enterprise value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the enterprise value is expressed.",
            "example": "USD"
          }
        },
        "description": "Details regarding the enterprise value in a transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Details for pagination of results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "CORR012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, representing the specific operation in the private placement finance API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "private-placement-search-private-placement"
        },
        "example": "private-placement-search-private-placement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, indicating the environment in which the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes Bearer Authentication via JSON Web Tokens (JWT). Client applications must include a valid JWT in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}