{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Transaction Switch API",
    "description": "The Card Transaction Switch API enables the seamless management and routing of card transaction requests within banking systems. This API primarily facilitates the retrieval of transaction statuses and streams data related to operational services for card transactions. It is essential for financial institutions, payment processors, and fintech applications that require up-to-date transaction information for monitoring and reconciliation tasks. Typical use cases include verifying transaction details, auditing, and integration into transaction reporting systems.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-transaction-switch": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve card transaction switch details.",
        "description": "This endpoint allows users to retrieve the details of card transaction switches. It provides necessary information related to the transaction management for operational services.",
        "operationId": "getCardTransactionSwitch",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain card transaction switch operations. It contains details necessary for the retrieval of card transaction related information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardTransactionSwitchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current state of card transaction switch.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardTransactionSwitchResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardTransactionSwitchRequest": {
        "type": "string",
        "description": "This schema represents the request body for the card transaction switch operation in the operational services. It is expected to contain a simple string value.",
        "example": "{}"
      },
      "GetCardTransactionSwitchResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of transaction operation objects.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-751844",
                "accountId": "ACC-282376",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the transaction operations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the card transaction operations GET request, containing details of the transactions, pagination information, sorting criteria, and metadata.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-751844",
              "accountId": "ACC-282376",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "685895f9-9d02-539d-8a59-9334933e2178",
            "correlationId": "772324f1-0419-51fa-9284-470153683841",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "Unique identifier for the transaction operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the transaction.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the operation was requested.",
            "example": "2023-10-12T12:34:56Z"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the transaction operation.",
            "example": "high"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the transaction record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the operation was last updated.",
            "example": "2023-10-12T12:34:56Z"
          }
        },
        "description": "Schema representing a single transaction operation item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request through its lifecycle.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-12T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the transaction was processed.",
            "example": "US"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-transaction-switch-search-card-transaction-switch"
        },
        "example": "card-transaction-switch-search-card-transaction-switch"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using a Bearer token, typically following the OAuth 2.0 framework. This scheme requires a JSON Web Token (JWT) to be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}