{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Interbank Relationship Management API",
    "description": "The Interbank Relationship Management API enables financial institutions to manage and optimize their relationships with external agencies and other banks. This API provides access to essential data regarding interbank interactions, promoting better coordination and leveraging partnerships. Typical consumers include banking professionals, relationship managers, and financial analysts who require insights into interbank relationships for strategic decision-making. With this API, users can retrieve timely information and streamline operations related to interbank partnerships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/interbank-relationship-management": {
      "get": {
        "tags": [
          "Interbank Relationship Management"
        ],
        "summary": "Retrieve Interbank Relationship Management data.",
        "description": "This endpoint allows clients to fetch data related to interbank relationships managed by external agencies. Use this endpoint to access detailed information about various aspects of interbank relationships, including their status and associated data.",
        "operationId": "getInterbankRelationshipManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to interbank relationship management for external agencies. The request expects a JSON payload that specifies the criteria for fetching relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInterbankRelationshipManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of interbank relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInterbankRelationshipManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInterbankRelationshipManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation related to interbank relationship management in the context of external agencies.",
        "example": "{}"
      },
      "GetInterbankRelationshipManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of interbank relationship items.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-385739",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InterbankRelationshipItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving interbank relationship management information.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-385739",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "36575e9b-63a1-5c11-ae27-869c6de81e04",
            "correlationId": "498e32c8-3b44-5246-a07d-6be715d5963c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InterbankRelationshipItem": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement between institutions.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Business Identifier Code (BIC) of the institution.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO 3166-1 alpha-2 code of the institution's country.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date when the relationship becomes effective.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the relationship record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the relationship record.",
            "example": "string"
          }
        },
        "description": "Representation of an interbank relationship item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to trace the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interbank-relationship-management-search-interbank-relationship-management"
        },
        "example": "interbank-relationship-management-search-interbank-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer tokens to authenticate users. Tokens should be in JSON Web Token (JWT) format, which includes encoded data including the user's identity and claims, and is typically used for stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}