{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Information API",
    "description": "The Customer Billing Information API allows users to access and retrieve detailed billing records and transaction histories for customers. This endpoint serves as a critical resource for financial analysts, customer service representatives, and billing operations teams who require up-to-date billing data. By leveraging this API, businesses can enhance customer support, streamline billing inquiries, and facilitate accurate financial reporting. Typical use cases include querying customer billing details to resolve disputes, analyze payment patterns, and manage account statuses more effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing": {
      "get": {
        "tags": [
          "Billing Services"
        ],
        "summary": "Retrieve customer billing information",
        "description": "This endpoint allows you to fetch billing details for customers, providing essential information for financial analysis and account management.",
        "operationId": "getCustomerBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving customer billing information through the operational services API. This body must adhere to the specified JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerBillingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved customer billing information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerBillingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerBillingRequest": {
        "type": "string",
        "description": "This schema represents the request body expected for the Customer Billing Operations GET request.",
        "example": "{}"
      },
      "GetCustomerBillingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of billing account items.",
            "example": [
              {
                "billingAccountId": "ACC-860737",
                "customerId": "CUST-290019",
                "billingPeriod": "STANDARD",
                "charges": [
                  {
                    "chargeType": "SERVICE_FEE",
                    "amount": 100,
                    "currency": "USD"
                  }
                ],
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BillingAccountItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the customer billing operation. Contains billing account items, pagination information, and metadata.",
        "example": {
          "items": [
            {
              "billingAccountId": "ACC-860737",
              "customerId": "CUST-290019",
              "billingPeriod": "STANDARD",
              "charges": [
                {
                  "chargeType": "SERVICE_FEE",
                  "amount": 100,
                  "currency": "USD"
                }
              ],
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b03be820-e5d6-5ae5-9d50-9a415e2e546d",
            "correlationId": "e0f4463d-683f-5fe5-a85b-559932e141d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingAccountItem": {
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "Unique identifier for the billing account."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the billing account."
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period for this account item."
          },
          "charges": {
            "type": "array",
            "description": "List of charges associated with this billing account item.",
            "items": {
              "$ref": "#/components/schemas/Charge"
            }
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for any payments related to this billing account item."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the billing record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the billing account item was last updated."
          }
        },
        "description": "Represents a billing account item for a customer."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "chargeType": {
            "type": "string",
            "description": "Type of the charge (e.g., service, tax)."
          },
          "amount": {
            "type": "integer",
            "description": "Amount charged.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the charge is denominated."
          }
        },
        "description": "Represents a charge applied to a billing account item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available in the entire dataset.",
            "format": "int32"
          }
        },
        "description": "Pagination details of the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate and trace the request and response."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the request was processed."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-search-customer-billing"
        },
        "example": "customer-billing-search-customer-billing"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication format with JSON Web Tokens (JWT). It is commonly used for API authentication and authorization, allowing secure transactions between clients and servers.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}