{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Product Agreement Management API",
    "description": "The Sales Product Agreement Management API enables businesses to update existing agreements related to sales products. This functionality allows authorized users to make adjustments to customer agreements in the banking sector. Typical consumers include financial institutions and customer service representatives who require the ability to tailor agreements based on changing customer needs. By facilitating real-time updates, this API enhances operational efficiency and customer satisfaction through more personalized service.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/sales-product-agreement/{param1}": {
      "patch": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Update Sales Product Agreement",
        "description": "This operation allows you to update the details of a specific sales product agreement identified by its unique ID. Ensure that you provide the necessary fields in the request to complete the update successfully.",
        "operationId": "patchSalesProductAgreementProD700045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows partial updates to a sales product agreement identified by the specific product code. Ensure that the necessary fields you want to update are included in the JSON payload.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchSalesProductAgreementProD700045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the sales product agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchSalesProductAgreementProD700045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchSalesProductAgreementProD700045Request": {
        "title": "Sales Product Agreement Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/SalesProductChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system that is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for updating a sales product agreement, containing details about changes requested and related metadata.",
        "example": {
          "changes": {
            "customerId": "CUST-966681",
            "partyId": "PARTY-151169",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c543da5e-3680-5566-a0a5-07f976320424",
            "correlationId": "b9b89f9b-2548-5fc0-997e-ec79b20c5688",
            "idempotencyKey": "4c794bc2-4df0-53cb-b9a4-fe086b060296",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-789129"
            }
          }
        }
      },
      "SalesProductChanges": {
        "title": "Sales Product Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the changes.",
            "example": "cust-12345"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier of the party involved in the agreement.",
            "example": "party-67890"
          },
          "productCode": {
            "type": "string",
            "description": "The unique identifier for the product being modified.",
            "example": "prod-abc123"
          }
        },
        "description": "Contains the details of the product changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing related requests across systems.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used for idempotency to ensure the request is processed only once.",
            "example": "idempotent-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-19T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "SalesApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata regarding the request context for tracking purposes."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device-xyz789"
          }
        },
        "description": "Details about the channel through which the request was made."
      },
      "PatchSalesProductAgreementProD700045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the Sales Product Agreement.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the Sales Product Agreement.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the Sales Product Agreement was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on Sales Product Agreement, version 700045.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "93e1f447-4833-5cc4-9f83-25f1c98e3063",
            "correlationId": "b9b89f9b-2548-5fc0-997e-ec79b20c5688",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "us-west"
          }
        },
        "description": "Metadata containing identifiers and timestamps for tracking the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-009"
        },
        "example": "WF-009"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5caacbfb-e380-45db-843f-0f3da75da54a"
        },
        "example": "5caacbfb-e380-45db-843f-0f3da75da54a"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8e8507d1-4600-46ca-8918-1ef5adb89fef"
        },
        "example": "8e8507d1-4600-46ca-8918-1ef5adb89fef"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "sales-product-agreement-update-sales-product-agreement"
        },
        "example": "sales-product-agreement-update-sales-product-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-009"
        },
        "example": "WF-009"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Customer Product Eligibility and Offer Fulfillment"
        },
        "example": "Customer Product Eligibility and Offer Fulfillment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8e8507d1-4600-46ca-8918-1ef5adb89fef"
        },
        "example": "8e8507d1-4600-46ca-8918-1ef5adb89fef"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}