{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity Analysis API",
    "description": "The Channel Activity Analysis API provides insights into banking operational services by analyzing user interactions across various channels. This API enables financial institutions to track customer engagement and transaction trends, improving decision-making based on data derived from channel activity. Typical consumers include business analysts and operational managers who need to optimize channel performance and enhance customer experience. By utilizing this API, organizations can leverage actionable data to drive strategic initiatives and improve service delivery across their operational channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis": {
      "get": {
        "tags": [
          "Operational Services"
        ],
        "summary": "Retrieve Channel Activity Analysis data.",
        "description": "This endpoint provides analysis of channel activity within operational services, allowing users to assess the performance and effectiveness of various channels. It aggregates key metrics that help in decision-making regarding resource allocation and strategy refinement.",
        "operationId": "getChannelActivityAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for querying channel activity analysis in the operational services. The payload must conform to the defined schema to ensure successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelActivityAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the channel activity analysis data.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelActivityAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetChannelActivityAnalysisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the channel activity analysis operation in the operational services API. It is expected to be a JSON-formatted string.",
        "example": "{}"
      },
      "GetChannelActivityAnalysisResponse_200": {
        "title": "Channel Activity Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of channel activity records.",
            "example": [
              {
                "operationId": "STANDARD",
                "customerId": "CUST-600323",
                "accountId": "ACC-809777",
                "requestedAt": "2026-08-11T12:00:00Z",
                "priority": "NORMAL",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ChannelActivityRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the result.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Channel Activity Analysis operation.",
        "example": {
          "items": [
            {
              "operationId": "STANDARD",
              "customerId": "CUST-600323",
              "accountId": "ACC-809777",
              "requestedAt": "2026-08-11T12:00:00Z",
              "priority": "NORMAL",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a88581f4-f5f5-546b-8060-cc3f9977adb8",
            "correlationId": "acfff69e-89be-5549-aae9-835d5b40ef72",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ChannelActivityRecord": {
        "title": "Channel Activity Record",
        "type": "object",
        "properties": {
          "operationId": {
            "type": "string",
            "description": "The unique identifier for the operation.",
            "example": "string"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the operation.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Schema representing a single channel activity record."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema containing pagination details of the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-search-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-search-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Include the token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}