{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fiduciary Agreement Retrieval API",
    "description": "The Fiduciary Agreement Retrieval API allows users to access details about fiduciary agreements within the banking and deposit-lending domain. This endpoint retrieves specific fiduciary agreement information based on a unique identifier provided by the user. It is designed for banking professionals, compliance officers, and legal teams who require up-to-date records for audits, regulatory compliance, or customer inquiries. By leveraging this API, stakeholders can ensure they have the necessary transparency and documentation for fiduciary relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement/{param1}": {
      "get": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Retrieve Fiduciary Agreement Details",
        "description": "This endpoint allows you to fetch the details of a specific fiduciary agreement identified by its ID. It provides all relevant information associated with the fiduciary agreement for your reference.",
        "operationId": "getFiduciaryAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving a specific fiduciary agreement based on the provided identifier. The response will include detailed information about the fiduciary agreement and its associated operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFiduciaryAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the fiduciary agreement details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFiduciaryAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFiduciaryAgreementByIdRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the fiduciary agreement operation in the deposit lending service.",
        "example": "{}"
      },
      "GetFiduciaryAgreementByIdResponse_200": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-880463"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACC-580505"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the fiduciary agreement.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Details of the principal amount involved in the fiduciary agreement.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the agreement in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the agreement details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the agreement.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving details of a fiduciary agreement.",
        "example": {
          "customerId": "CUST-880463",
          "accountId": "ACC-580505",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cb3ab069-74ec-5ca6-bd2a-2f26df9b58e2",
            "correlationId": "7f5db1f1-d602-561e-8420-6c8a7fe57ec4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The principal amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the principal amount.",
            "example": "string"
          }
        },
        "description": "Details of the principal amount involved in the fiduciary agreement."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This value can be used for tracking and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-get-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-get-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "description": "The name of the application where the request is being processed. This helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with a JSON Web Token (JWT) to grant access to secured endpoints. Clients must provide the token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}