{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Order Allocation Management API",
    "description": "The Order Allocation Management API enables businesses to efficiently manage and adjust order allocations within their banking operations. This endpoint allows users to modify existing order allocation details based on specific parameters, ensuring optimal resource distribution and reduced operational overhead. Ideal for banking institutions and financial service providers, this API supports dynamic updates to allocation strategies and facilitates more effective market operations. Utilize this API to drive greater agility and responsiveness in order fulfillment processes, enhancing overall customer satisfaction and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/order-allocation/{param1}": {
      "patch": {
        "tags": [
          "Order Management"
        ],
        "summary": "Update the allocation details for a specific order.",
        "description": "This endpoint allows you to update the allocation information for a specific order identified by its resource ID. Use this operation to change the allocation settings or correct any discrepancies in the order details.",
        "operationId": "patchOrderAllocationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the order allocation details for a specific reservation identified by RES-100045. The provided JSON payload should contain the necessary fields to modify the existing order allocation information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchOrderAllocationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the order allocation has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchOrderAllocationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchOrderAllocationByIdRequest": {
        "title": "Order Allocation Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the order allocation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The timestamp at which the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Represents the request body for updating order allocations.",
        "example": {
          "changes": {
            "tradeId": "STANDARD",
            "instrumentId": "STANDARD",
            "settlementDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f162c34c-6a2d-5b4d-a9ef-1f1b977f9000",
            "correlationId": "ab52d89b-a26a-5129-82dc-85be1b86939c",
            "idempotencyKey": "57c8095a-efc2-56f6-a731-1e810c656a06",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-720883"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Identifier of the trade associated with the changes.",
            "example": "trade_456"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier of the instrument being changed.",
            "example": "instrument_789"
          },
          "settlementDate": {
            "type": "string",
            "description": "The new settlement date for the order.",
            "example": "2023-10-15"
          }
        },
        "description": "Details of the changes that need to be applied."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idempotency_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "TradingApp"
          },
          "channel": {
            "description": "Channel information through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel_123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device making the request.",
            "example": "device_456"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "PatchOrderAllocationByIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata containing additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation related to order allocation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0c4d78fa-67f9-53c5-8698-5c0e3108336e",
            "correlationId": "ab52d89b-a26a-5129-82dc-85be1b86939c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "order-allocation-update-order-allocation"
        },
        "example": "order-allocation-update-order-allocation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the operation, providing context for the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, which is typically a JSON Web Token (JWT). Clients must include this token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}