{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Relationship Management API",
    "description": "The Merchant Relationship Management API facilitates the enhancement and administration of partnerships with merchants. It allows businesses to onboard new merchants, manage existing relationships, and streamline communication between parties. The API is designed for financial institutions and service providers looking to optimize their merchant interactions and ensure smooth transactional operations. Use cases include integrating merchant data, tracking performance metrics, and facilitating support requests.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-relations": {
      "post": {
        "tags": [
          "Merchant Relations"
        ],
        "summary": "Create a new merchant relation.",
        "description": "This endpoint allows you to establish a new relationship with a merchant. It requires the necessary details about the merchant and the parameters needed to create the relation.",
        "operationId": "createMerchantRelation",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for establishing or updating merchant relations. This contains data required for the merchant relationship operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMerchantRelationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created with the provided details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMerchantRelationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMerchantRelationRequest": {
        "title": "Merchant Relations Request Body",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-465848"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant.",
            "example": "Olivia Bennett"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code (MCC) that identifies the type of goods or services provided by the merchant.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The account ID to which settlement amounts are credited.",
            "example": "ACC-603776"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for settlement transactions.",
            "example": "USD"
          },
          "pricingPlan": {
            "type": "string",
            "description": "The pricing plan associated with the merchant.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for operations related to merchant relations. It includes information about the merchant and the context of the request.",
        "example": {
          "merchantId": "MER-465848",
          "legalName": "Olivia Bennett",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-603776",
          "settlementCurrency": "USD",
          "pricingPlan": "STANDARD",
          "requestContext": {
            "requestId": "973d1822-7c04-5a94-9fd5-8df8e5692ec6",
            "correlationId": "16e2a1ab-a006-5dad-8876-f92c3d3e0ed2",
            "idempotencyKey": "3968fe5a-a3db-5b6c-a56d-bba4bba3dc5e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-805070"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "request-789"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "correlation-321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key that ensures that the operation is idempotent, meaning it can be safely retried.",
            "example": "idempotent-key-654"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is sending the request.",
            "example": "merchant-app"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema encapsulates contextual information about the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used in the request.",
            "example": "channel-987"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel, such as web, mobile, etc.",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device through which the request is made, if applicable.",
            "example": "device-654"
          }
        },
        "description": "This schema defines the channel information related to the request, including identifiers and types."
      },
      "CreateMerchantRelationResponse_201": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant.",
            "example": "MER-797488"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code assigned to the merchant.",
            "example": "5411"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "The ID of the account used for settlement with the merchant.",
            "example": "ACC-444697"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource ID associated with the merchant relationship.",
            "example": "RES-332979"
          },
          "status": {
            "type": "string",
            "description": "The current status of the merchant relationship.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp of when the merchant relationship was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information regarding the merchant relationship.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful creation of a merchant relationship.",
        "example": {
          "merchantId": "MER-797488",
          "merchantCategoryCode": "5411",
          "settlementAccountId": "ACC-444697",
          "resourceId": "RES-332979",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ff8ef6b4-b0ca-5284-825a-d7e8345226dc",
            "correlationId": "16e2a1ab-a006-5dad-8876-f92c3d3e0ed2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema to hold metadata about the merchant creation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being called. This is useful for tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-relations-create-merchant-relations"
        },
        "example": "merchant-relations-create-merchant-relations"
      },
      "x-runtime-app": {
        "description": "The version of the runtime application that processed the request. This helps in identifying the functionality available during the transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JWT (JSON Web Token) is provided in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}