{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contact Center Operations Status API",
    "description": "The Contact Center Operations Status API provides real-time updates regarding the operational status of various banking channels. This endpoint allows consumers, such as customer service representatives and IT support teams, to retrieve the current status of contact center operations, ensuring better customer experience and timely responses. By monitoring these statuses, businesses can optimize their resources, address issues promptly, and enhance overall service delivery to customers. Use this API to gain insights into operational performance and support strategic decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/contact-center-operations/status": {
      "get": {
        "tags": [
          "Contact Center Operations"
        ],
        "summary": "Retrieve the status of contact center operations for a specific channel.",
        "description": "This endpoint allows users to obtain the current operational status of the contact center associated with a specified channel. It provides insights into performance metrics and availability, helping businesses ensure efficient operations.",
        "operationId": "getChannelSpecificContactCenterOperationsStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve the current status of contact center operations specific to a channel. It is essential for monitoring and managing the contact center's performance effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetChannelSpecificContactCenterOperationsStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the current status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetChannelSpecificContactCenterOperationsStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "_s_channel-specific_s_contact-center-operations_s_status_-_operations_-_get_-_requestbody_-_application_json": {
        "type": "string",
        "description": "This schema represents the request body expected for the GET operation specific to status updates in contact center operations.",
        "example": "string"
      },
      "GetChannelSpecificContactCenterOperationsStatusResponse_200": {
        "title": "Contact Center Operations Status Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the geographical region of the contact center.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "Defines the operating hours of the service window.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of service requests that can be handled daily.",
            "format": "int32",
            "example": 1
          },
          "queueId": {
            "type": "string",
            "description": "Identifier for the queue associated with this channel.",
            "example": "STANDARD"
          },
          "skillGroup": {
            "type": "string",
            "description": "The skill group assigned to the channel.",
            "example": "STANDARD"
          },
          "targetAnswerSeconds": {
            "type": "integer",
            "description": "The target time in seconds within which a call should be answered.",
            "format": "int32",
            "example": 1
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the service record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the status information.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the status was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the operations status of a contact center channel.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "queueId": "STANDARD",
          "skillGroup": "STANDARD",
          "targetAnswerSeconds": 1,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d693df1b-c77d-514f-908b-049aca41f8e3",
            "correlationId": "f957561b-0f0d-5a80-ab3d-1cc08409923d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the service window opens.",
            "example": "08:00 AM"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the service window closes.",
            "example": "06:00 PM"
          }
        },
        "description": "Represents the open and close times for a service window."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata fields to describe the response details."
      },
      "GetChannelSpecificContactCenterOperationsStatusRequest": {
        "type": "string",
        "example": "{}"
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contact-center-operations-get-contact-center-operations"
        },
        "example": "contact-center-operations-get-contact-center-operations"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must provide a valid JWT token in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}