{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Compliance Amendments API",
    "description": "The Compliance Amendments API enables users to modify existing compliance report submissions effectively. By allowing amendments to submissions identified by a unique submission ID, this API facilitates compliance adjustments in real-time, ensuring accuracy and adherence to regulations. It is designed for banking and financial institutions that need to update compliance documentation in response to regulatory changes or internal reviews. Typical consumers include compliance officers and reporting specialists who handle compliance submissions and regulatory audits.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/compliance-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Compliance"
        ],
        "summary": "Create an amendment for a specific compliance submission.",
        "description": "This operation allows users to create an amendment for the compliance submission identified by the given ID. Amendments can be used to update or correct information in the original submission, ensuring compliance records are accurate and up to date.",
        "operationId": "createAmendmentForSubmissionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for the compliance report identified by RES-100045. Ensure that all required fields are properly filled in according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAmendmentForSubmissionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAmendmentForSubmissionRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateAmendmentForSubmissionRes100045Request": {
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Reference identifier for the submission.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Details of the changes made in the submission.",
            "$ref": "#/components/schemas/Changes"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who requested the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "submissionId": "STANDARD",
            "legalEntityId": "STANDARD",
            "jurisdiction": "STANDARD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ba9862b0-37be-5d4e-9869-8c5a0dd2ecb5",
            "correlationId": "040f3b50-144e-5d8b-b96a-296f25a58f67",
            "idempotencyKey": "66934684-5cd8-5137-8a5c-0947976022cd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-801924"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Identifier for the submission being amended.",
            "example": "SUB987654"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "LE123456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the submission falls.",
            "example": "California"
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent request processing.",
            "example": "IDEMP456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System that initiated the request.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "Web App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "DEVICE123"
          }
        }
      },
      "CreateAmendmentForSubmissionRes100045Response_202": {
        "title": "Compliance Report Submission Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was taken during the processing of the submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the submission processing.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "The timestamp indicating when the submission was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the submission response.",
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "This schema represents the response returned after submitting a compliance report amendment operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "6dcc492d-5d49-543d-81d7-4729fd848215",
            "correlationId": "040f3b50-144e-5d8b-b96a-296f25a58f67",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "title": "Submission Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response generated from the submission.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating multiple operations or requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing of the submission took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata information regarding the compliance submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "compliance-reporting-amend-compliance-reporting"
        },
        "example": "compliance-reporting-amend-compliance-reporting"
      },
      "X-Runtime-App": {
        "description": "Name of the application in which the runtime is executing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism, which involves sending a JSON Web Token (JWT) as a bearer token in the request's Authorization header. The JWT should be obtained from the authentication server and must be included in protected requests to validate the user's identity and access rights.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}