{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Correspondent Bank Relationship Management API",
    "description": "The Correspondent Bank Relationship Management API facilitates the management of banking relationships with external agencies. This API allows users to retrieve comprehensive information regarding correspondent banks, aiding in optimizing banking interactions and strategies. Typical consumers include financial institutions and banking professionals who need insights into partnerships, risk assessments, and compliance related to correspondent banking. Leverage this API to enhance your banking operations and improve the oversight of external banking relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/correspondent-bank-relationship-management": {
      "get": {
        "tags": [
          "Banking Relationships"
        ],
        "summary": "Retrieve Correspondent Bank Relationship Details",
        "description": "This endpoint allows you to fetch details about the correspondent bank relationships managed by external agencies. It provides insights into the connections and integrations with various banking partners.",
        "operationId": "getCorrespondentBankRelationshipManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the correspondent bank relationships for external agencies. It may include parameters that help filter or modify the query to suit specific needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorrespondentBankRelationshipManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully fetched the correspondent bank relationship details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorrespondentBankRelationshipManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorrespondentBankRelationshipManagementRequest": {
        "type": "string",
        "description": "Request body for GET operations related to correspondent bank relationships within an external agency.",
        "example": "{}"
      },
      "GetCorrespondentBankRelationshipManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of correspondent bank relationships.",
            "example": [
              {
                "institutionId": "STANDARD",
                "agreementId": "AGR-593204",
                "bic": "STANDARD",
                "countryCode": "US",
                "effectiveDate": "2026-09-15",
                "nostroAccountId": "ACC-201548",
                "settlementCurrency": "USD",
                "relationshipStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorrBankRelationship"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for fetching correspondent bank relationships, including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "institutionId": "STANDARD",
              "agreementId": "AGR-593204",
              "bic": "STANDARD",
              "countryCode": "US",
              "effectiveDate": "2026-09-15",
              "nostroAccountId": "ACC-201548",
              "settlementCurrency": "USD",
              "relationshipStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "950615c7-0722-5d82-939a-370aeb94d5c4",
            "correlationId": "90c0e283-7d9b-550c-bafa-dfb04ea60271",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorrBankRelationship": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the financial institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Identifier for the agreement related to this correspondent bank relationship.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code for the institution.",
            "example": "string"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code of the institution.",
            "example": "string"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Effective date of the correspondent relationship.",
            "example": "string"
          },
          "nostroAccountId": {
            "type": "string",
            "description": "Identifier for the nostro account used in the relationship.",
            "example": "string"
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency used for settlements.",
            "example": "string"
          },
          "relationshipStatus": {
            "type": "string",
            "description": "Current status of the correspondent relationship.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the relationship information.",
            "example": "string"
          }
        },
        "description": "Schema representing a correspondent bank relationship."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata regarding the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "correspondent-bank-relationship-management-search-correspondent-bank-relationship-management"
        },
        "example": "correspondent-bank-relationship-management-search-correspondent-bank-relationship-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses JSON Web Tokens (JWT) for secure bearer authentication. This allows clients to access protected resources by including a valid JWT in the Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}