{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Account Management API",
    "description": "The Settlement Account Management API facilitates the creation and management of settlement accounts within the payment processing framework. This API enables businesses to onboard new settlement accounts essential for managing payment distributions. Typical users include financial institutions and merchants who require swift integration of accounts for payment reconciliation. With endpoints designed for ease of use, the API supports efficient account setup to streamline operational processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts": {
      "post": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Create a new settlement account.",
        "description": "This endpoint allows users to create a new settlement account. Provide the necessary details in the request body to successfully create the account.",
        "operationId": "createSettlementAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating new settlement accounts. It should contain the necessary details such as account type, currency, balance, and any relevant identifiers to facilitate the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSettlementAccountRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the new settlement account has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSettlementAccountResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSettlementAccountRequest": {
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-720692"
          },
          "bankAccountToken": {
            "type": "string",
            "description": "Token representing the bank account.",
            "example": "STANDARD"
          },
          "account": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "schedule": {
            "$ref": "#/components/schemas/ScheduleDetails"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this account is the default account.",
            "example": true
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating or updating settlement accounts.",
        "example": {
          "merchantId": "MER-720692",
          "bankAccountToken": "STANDARD",
          "account": {
            "bankCode": "CODE-820",
            "branchCode": "CODE-268",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "requestContext": {
            "requestId": "805bc0c8-076b-5ce1-b56a-513e4853c223",
            "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
            "idempotencyKey": "83a2c8a8-83f0-5bc6-8ddb-b89caf19152f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-812603"
            }
          }
        }
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "The bank code for the financial institution.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "The branch code for the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked version of the bank account number for security.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name associated with the bank account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of bank account (e.g., checking, savings).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "The currency type of the account.",
            "example": "string"
          }
        },
        "description": "Details of the bank account."
      },
      "ScheduleDetails": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "The frequency of settlements (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "The cutoff time for transactions.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "The timezone applicable for the schedule.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "The number of business days for settlement delay.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Scheduled details for payouts or settlements."
      },
      "MinimumPayoutAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the minimum payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the minimum payout amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the minimum payout amount details."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information regarding the request channel."
      },
      "CreateSettlementAccountResponse_201": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-344239"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement account.",
            "example": "MER-278936"
          },
          "account": {
            "description": "Bank account details associated with the settlement account.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "The schedule for settlement operations.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this account is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit details for the settlement account.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata regarding the settlement account.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of settlement accounts.",
        "example": {
          "settlementAccountId": "ACC-344239",
          "merchantId": "MER-278936",
          "account": {
            "bankCode": "CODE-618",
            "branchCode": "CODE-506",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2d4f3211-87a0-5d1e-8951-0e4dbf5d166a",
            "correlationId": "3e8ee308-e82b-543f-8cc4-97bf61eed135",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "Bank code of the account.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "Branch code of the bank where the account is held.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked version of the bank account number for security purposes.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the bank account (e.g., savings, checking).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account.",
            "example": "string"
          }
        },
        "description": "Schema representing bank account details."
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Frequency of the settlement (e.g., daily, weekly).",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "Cutoff time for settlement processing.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Time zone in which the settlement schedule operates.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days for settlement delay.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "Minimum payout amount required for settlements.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schema representing settlement schedule details."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the settlement account was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the settlement account.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Audit details for tracking changes and events."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-create-settlement-account"
        },
        "example": "banking-p2m-openapi-create-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) as a bearer token for authenticating API requests. Clients must include the JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}