{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reward Points Account Management API",
    "description": "The Reward Points Account Management API provides functionalities to access and manage reward points accounts within the banking ecosystem. This endpoint allows users to retrieve information about their reward points balance, transactions, and account details. Typically used by customers and banking applications, this API enhances user experiences by enabling seamless access to reward point information. Developers can integrate this API into mobile apps or web platforms to showcase customers' loyalty rewards and engagement status.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/reward-points-account": {
      "get": {
        "tags": [
          "Reward Management"
        ],
        "summary": "Retrieve Reward Points Account Information",
        "description": "This endpoint allows you to fetch the details of a reward points account, including the current balance, transaction history, and account status. It is utilized to manage and audit reward point allocations for customers.",
        "operationId": "getRewardPointsAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve information regarding the reward points account associated with a user. It includes necessary parameters formatted in JSON to specify the account details required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRewardPointsAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved reward points account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRewardPointsAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRewardPointsAccountRequest": {
        "type": "string",
        "description": "The JSON payload for the GET request to the reward points account management operation.",
        "example": "{}"
      },
      "GetRewardPointsAccountResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of reward points accounts.",
            "example": [
              {
                "loyaltyAccountId": "ACC-701056",
                "customerId": "CUST-141953",
                "activityType": "STANDARD",
                "points": 1,
                "partnerCode": "CODE-161",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RewardPointsAccount"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving reward points accounts including items, pagination information, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "loyaltyAccountId": "ACC-701056",
              "customerId": "CUST-141953",
              "activityType": "STANDARD",
              "points": 1,
              "partnerCode": "CODE-161",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1400ad62-8f23-57e3-858b-84ad210412e0",
            "correlationId": "8c3d1002-163f-5f71-8b6c-823faeae2fa2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RewardPointsAccount": {
        "type": "object",
        "properties": {
          "loyaltyAccountId": {
            "type": "string",
            "description": "Unique identifier for the loyalty account."
          },
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the loyalty account."
          },
          "activityType": {
            "type": "string",
            "description": "Type of activity related to the rewards points (e.g., earn, redeem)."
          },
          "points": {
            "type": "integer",
            "description": "Number of reward points in the account.",
            "format": "int32"
          },
          "partnerCode": {
            "type": "string",
            "description": "Code representing the partner associated with the loyalty account."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated."
          }
        },
        "description": "Schema representing an individual reward points account."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information for pagination of the results."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place."
          }
        },
        "description": "Metadata information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked. This helps in tracking and monitoring API usage across different endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reward-points-account-search-reward-points-account"
        },
        "example": "reward-points-account-search-reward-points-account"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This can be useful for debugging and understanding which app instance handled the call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a Bearer token, formatted as a JSON Web Token (JWT), to authorize requests. This mechanism is commonly used in modern web applications to ensure secure access to resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}