{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Information Provider Market Data API",
    "description": "The Information Provider Market Data API facilitates the retrieval of essential market information for banking and financial operations. By utilizing this endpoint, developers can obtain detailed insights about market data through a specific parameter. Typical consumers of this API include financial analysts, trading platforms, and banking applications seeking to enhance their decision-making capabilities with real-time data. This API plays a crucial role in supporting informed financial strategies and market analyses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/information-provider-operation/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve information from the market data provider.",
        "description": "This endpoint allows you to fetch detailed information from a specific market data provider identified by the resource ID RES-100045. Use this operation to access the latest data and insights provided by the information provider, which can be crucial for data analysis and decision-making.",
        "operationId": "getMarketDataInformationProviderOperationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information from the market data service for the specified operation ID. It contains parameters that define the specific data retrieval request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataInformationProviderOperationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of market data information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataInformationProviderOperationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataInformationProviderOperationRes100045Request": {
        "type": "string",
        "description": "A string representation of the JSON request body for retrieving market data from the information provider operation.",
        "example": "{}"
      },
      "GetMarketDataInformationProviderOperationRes100045Response_200": {
        "title": "Market Data Information Provider Operation Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number associated with the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market where the instrument is traded.",
            "example": "CODE-688"
          },
          "asOf": {
            "type": "string",
            "description": "Timestamp representing the date and time the data is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the market data was retrieved.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the market data record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the information provider operation to retrieve market data.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-688",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6cef1ad0-4bf2-5a4a-8793-3bb22798ab1f",
            "correlationId": "3f8c2cb7-b9f4-5ce2-81e3-82bd6e68020c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the data was processed.",
            "example": "US"
          }
        },
        "description": "Metadata associated with the market data response, providing additional context and traceability."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request, which can be used for tracing and troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-operation-get-information-provider-operation"
        },
        "example": "information-provider-operation-get-information-provider-operation"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context about the service layer in use.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using JSON Web Tokens (JWT) as bearer tokens. Clients must include a valid JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}