{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ACH Operations Retrieval API",
    "description": "The ACH Operations Retrieval API provides access to detailed information related to Automated Clearing House (ACH) transactions. This endpoint allows users to retrieve transactional data, track the status of payments, and view processing details. Typical consumers of this API include banking institutions, payment processors, and financial applications that require ACH data for reconciliation and reporting purposes. This API streamlines access to essential ACH operation insights, enhancing operational efficiency and transparency in payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/ach-operations": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve ACH operations related to payments.",
        "description": "This endpoint allows you to fetch a list of ACH operations associated with payments. Use this endpoint to monitor, manage, and analyze ACH transactions in your system.",
        "operationId": "getAchOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary details to perform ACH operations. It specifies the criteria for retrieving a list of ACH transactions and should be formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAchOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of ACH operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAchOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAchOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the ACH Operations GET operation, typically containing the details of the request in JSON format.",
        "example": "{}"
      },
      "GetAchOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of ACH operation details.",
            "example": [
              {
                "paymentId": "PAY-624593",
                "debtorAccountId": "ACC-875037",
                "creditorAccountId": "ACC-647567",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AchOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for ACH operations GET request.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-624593",
              "debtorAccountId": "ACC-875037",
              "creditorAccountId": "ACC-647567",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "dac51e0e-6f95-5fd2-80f4-c3903ec6b254",
            "correlationId": "5177304c-ac75-5b36-b54a-b91f06934d78",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AchOperation": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment."
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Account ID of the debtor."
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Account ID of the creditor."
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date the transaction is requested to be executed."
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information about the payment."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated."
          }
        },
        "description": "Detailed information about a specific ACH operation."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The total amount to be transacted.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "ISO currency code."
          }
        },
        "description": "The amount and currency details for the instructed transaction."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 50
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Information about the pagination of the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ach-operations-search-ach-operations"
        },
        "example": "ach-operations-search-ach-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the HTTP Bearer authentication method to securely transmit a JSON Web Token (JWT) as a means of verifying the user's identity.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}