{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Intent Cancellation API",
    "description": "The Payment Intent Cancellation API allows businesses to efficiently cancel pending payment intents. This API is primarily used to manage transaction states within their payment processing workflows, ensuring that users can halt transactions before completion. Typical consumers include e-commerce platforms and service providers needing to handle order modifications or customer service inquiries. By providing a straightforward cancellation mechanism, this API enhances user experience and operational flexibility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/payment-intents/{param1}/cancel": {
      "post": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Cancel a payment intent.",
        "description": "This endpoint allows you to cancel a specific payment intent identified by its unique ID. Once canceled, the payment intent cannot be processed further.",
        "operationId": "cancelPaymentIntentPAY300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Cancels a payment intent with the specified ID. This operation may be used to reverse the intent before it is processed or final. Ensure that the payment intent is in a state that allows cancellation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelPaymentIntentPAY300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The cancellation request was processed successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelPaymentIntentPAY300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelPaymentIntentPAY300045Request": {
        "title": "Cancel Payment Intent Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "Code indicating the reason for the cancellation.",
            "example": "CODE-112"
          },
          "reason": {
            "type": "string",
            "description": "Detailed description of the reason for the cancellation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for canceling a payment intent.",
        "example": {
          "reasonCode": "CODE-112",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fc809470-00ef-5ea5-95aa-eaed15a4e866",
            "correlationId": "2d73aaa1-e459-5098-bd93-d8378f09ab37",
            "idempotencyKey": "83a7aa85-2c6e-54fe-bc1e-a1146a80be31",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-841311"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-987654321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application initiating the request.",
            "example": "MobileApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema detailing the context for the request, containing identifiers and metadata."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., web, mobile, API).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-abc123"
          }
        },
        "description": "Schema describing the channel used for the request."
      },
      "CancelPaymentIntentPAY300045Response_200": {
        "title": "Payment Intent Cancellation Response",
        "type": "object",
        "properties": {
          "paymentIntentId": {
            "type": "string",
            "description": "Unique identifier for the payment intent.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-979160"
          },
          "outletId": {
            "type": "string",
            "description": "Unique identifier for the outlet.",
            "example": "STANDARD"
          },
          "terminalId": {
            "type": "string",
            "description": "Unique identifier for the terminal.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The total amount associated with the payment intent.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountAuthorized": {
            "description": "The amount that has been authorized for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountCaptured": {
            "description": "The amount that has been captured for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "amountRefunded": {
            "description": "The amount that has been refunded for the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "captureMethod": {
            "type": "string",
            "description": "The method used for capturing the transaction.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the payment was made.",
            "example": "STANDARD"
          },
          "allowedPaymentMethods": {
            "type": "array",
            "description": "List of payment methods that are allowed for the transaction.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "selectedPaymentMethod": {
            "description": "Details of the payment method that has been selected for the transaction.",
            "$ref": "#/components/schemas/PaymentMethod"
          },
          "customer": {
            "description": "Information about the customer associated with the payment.",
            "$ref": "#/components/schemas/Customer"
          },
          "order": {
            "description": "Details of the order associated with the payment.",
            "$ref": "#/components/schemas/Order"
          },
          "metadata": {
            "description": "Additional metadata related to the payment intent.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response received after canceling a payment intent.",
        "example": {
          "paymentIntentId": "STANDARD",
          "merchantId": "MER-979160",
          "outletId": "STANDARD",
          "terminalId": "STANDARD",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountAuthorized": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountCaptured": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amountRefunded": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "captureMethod": "STANDARD",
          "channel": "STANDARD",
          "allowedPaymentMethods": [
            "STANDARD"
          ],
          "selectedPaymentMethod": {
            "type": "STANDARD",
            "token": "STANDARD",
            "issuerBankCode": "CODE-714",
            "maskedIdentifier": "STANDARD",
            "walletProvider": "STANDARD"
          },
          "customer": {
            "id": "STANDARD",
            "name": "Northstar Banking Service",
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "riskSegment": "STANDARD"
          },
          "order": {
            "merchantOrderId": "ORD-268780",
            "description": "Customer banking request processed successfully",
            "items": [
              {
                "itemId": "STANDARD",
                "name": "Northstar Banking Service",
                "description": "Customer banking request processed successfully",
                "quantity": "STANDARD",
                "unitPrice": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "totalAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "ef5c9817-d775-5dd7-8176-a904ffc501b6",
            "correlationId": "2d73aaa1-e459-5098-bd93-d8378f09ab37",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (ISO 4217) for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Schema representing an amount of money, including currency and value."
      },
      "PaymentMethod": {
        "title": "Payment Method",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment method (e.g., credit_card, paypal).",
            "example": "credit_card"
          },
          "token": {
            "type": "string",
            "description": "Token representing the payment method used.",
            "example": "tok_abcdefgh"
          },
          "issuerBankCode": {
            "type": "string",
            "description": "Bank code of the issuer bank, if applicable.",
            "example": "bank_123456"
          },
          "maskedIdentifier": {
            "type": "string",
            "description": "Masked identifier for the payment method.",
            "example": "**** **** **** 1234"
          },
          "walletProvider": {
            "type": "string",
            "description": "Provider of the digital wallet, if applicable.",
            "example": "Visa"
          }
        },
        "description": "Schema representing a selected payment method for a transaction."
      },
      "Customer": {
        "title": "Customer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "cust_abcdefg"
          },
          "name": {
            "type": "string",
            "description": "Full name of the customer.",
            "example": "John Doe"
          },
          "email": {
            "type": "string",
            "description": "Email address of the customer.",
            "example": "john.doe@example.com"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the customer.",
            "example": "+123456789"
          },
          "riskSegment": {
            "type": "string",
            "description": "Risk segment classification for the customer.",
            "example": "low"
          }
        },
        "description": "Schema representing customer information associated with a payment."
      },
      "Order": {
        "title": "Order",
        "type": "object",
        "properties": {
          "merchantOrderId": {
            "type": "string",
            "description": "Unique identifier for the merchant's order.",
            "example": "order_98765"
          },
          "description": {
            "type": "string",
            "description": "Description of the order.",
            "example": "Order for electronics"
          },
          "items": {
            "type": "array",
            "description": "List of items in the order.",
            "items": {
              "type": "object",
              "properties": {
                "itemId": {
                  "type": "string",
                  "description": "Unique identifier for the item.",
                  "example": "item_1234"
                },
                "name": {
                  "type": "string",
                  "description": "Name of the item.",
                  "example": "Laptop"
                },
                "description": {
                  "type": "string",
                  "description": "Description of the item.",
                  "example": "High-performance laptop"
                },
                "quantity": {
                  "type": "string",
                  "description": "Quantity of the item ordered.",
                  "example": "1"
                },
                "unitPrice": {
                  "$ref": "#/components/schemas/Amount"
                },
                "totalAmount": {
                  "$ref": "#/components/schemas/Amount"
                }
              }
            }
          }
        },
        "description": "Schema representing an order associated with a payment."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "corr_abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed.",
            "example": "us-west"
          }
        },
        "description": "Schema representing additional metadata related to a payment."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-payment-intent"
        },
        "example": "banking-p2m-openapi-cancel-payment-intent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically utilizing JSON Web Tokens (JWT). Clients must include the token in the Authorization header of their requests to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}