{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Strategy Insights API",
    "description": "The Corporate Strategy Insights API provides access to strategic business direction information tailored for corporate decision-makers. This API allows users to retrieve detailed insights related to corporate strategy, enabling businesses to align their operational goals with overall strategic objectives. Typical consumers include corporate strategists, business analysts, and executives seeking data to inform their strategic planning processes. By utilizing this API, organizations can enhance their strategic initiatives and ensure they are navigating the marketplace effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/corporate-strategy/{param1}": {
      "get": {
        "tags": [
          "Corporate Strategy"
        ],
        "summary": "Retrieve a corporate strategy by ID",
        "description": "This endpoint allows you to retrieve detailed information about a specific corporate strategy identified by its unique ID. Use this operation to access the strategic objectives, goals, and initiatives associated with the corporate strategy.",
        "operationId": "getCorporateStrategyById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the corporate strategy details associated with the specified resource identifier (RES-100045). It expects a JSON payload that conforms to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateStrategyByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the corporate strategy resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateStrategyByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateStrategyByIdRequest": {
        "type": "string",
        "description": "A request body for the corporate strategy operations. This string represents the data payload expected when sending a request to the operations endpoint.",
        "example": "{}"
      },
      "GetCorporateStrategyByIdResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "STANDARD"
          },
          "sponsorId": {
            "type": "string",
            "description": "The unique identifier for the sponsor of the initiative.",
            "example": "STANDARD"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative, indicating the timeframe for its execution.",
            "example": "STANDARD"
          },
          "targetDate": {
            "type": "string",
            "description": "The target completion date for the initiative.",
            "example": "2026-09-15"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative, such as 'In Progress', 'Completed', or 'Pending'.",
            "example": "ACTIVE"
          },
          "recordStatus": {
            "type": "string",
            "description": "The record status denoting if the initiative is active or archived.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the initiative record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the initiative record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response-abc123"
              },
              "correlationId": {
                "type": "string",
                "description": "A correlation identifier to trace requests through the system.",
                "example": "correlation-xyz789"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region responsible for processing the request.",
                "example": "us-west-1"
              }
            },
            "description": "Metadata related to the response.",
            "example": {
              "responseId": "cad4f11e-c05a-56cd-8006-b1520acef4b5",
              "correlationId": "7f76b6a7-4126-59f3-bcce-0b02242052dd",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for the Operations GET request in the corporate strategy context.",
        "example": {
          "initiativeId": "STANDARD",
          "sponsorId": "STANDARD",
          "planningHorizon": "STANDARD",
          "targetDate": "2026-09-15",
          "status": "ACTIVE",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "cad4f11e-c05a-56cd-8006-b1520acef4b5",
            "correlationId": "7f76b6a7-4126-59f3-bcce-0b02242052dd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-strategy-get-corporate-strategy"
        },
        "example": "corporate-strategy-get-corporate-strategy"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request, useful for debugging and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme, which is typically used with JSON Web Tokens (JWT). Clients must include a JWT in the `Authorization` header of requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}