{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Reconciliation Exception Reporting API",
    "description": "The Reconciliation Exception Reporting API provides users with access to detailed exception data related to reconciliation runs. Through this endpoint, clients can retrieve a list of exceptions identified during specific reconciliation processes, enabling effective monitoring and resolution of discrepancies. This API is particularly beneficial for financial analysts and reconciliation managers tasked with maintaining data integrity and operational efficiency. By leveraging this resource, users can ensure timely interventions and enhance their decision-making capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/reconciliation-runs/{param1}/exceptions": {
      "get": {
        "tags": [
          "Reconciliation"
        ],
        "summary": "Retrieve exceptions for a specific reconciliation run.",
        "description": "This endpoint allows you to fetch a list of exceptions associated with the specified reconciliation run, providing insight into data discrepancies and issues encountered during the reconciliation process.",
        "operationId": "getReconciliationRunExceptions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve exceptions related to a specific reconciliation run identified by 'RES-100045'. It allows clients to specify details about the exceptions they seek, ensuring precise and relevant data is returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetReconciliationRunExceptionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of exceptions for the reconciliation run.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetReconciliationRunExceptionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetReconciliationRunExceptionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for reconciliation runs exceptions in the specified context. It must be a string value.",
        "example": "{}"
      },
      "GetReconciliationRunExceptionsResponse_200": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of results.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "A list of links related to the current response.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "A list of reconciliation exception items.",
            "example": [
              {
                "exceptionId": "STANDARD",
                "type": "STANDARD",
                "sourceAReference": "STANDARD",
                "sourceBReference": "STANDARD",
                "sourceAAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "sourceBAmount": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "difference": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "status": "ACTIVE",
                "resolutionNote": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ExceptionItem"
            }
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for reconciliation runs exception listing.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "exceptionId": "STANDARD",
              "type": "STANDARD",
              "sourceAReference": "STANDARD",
              "sourceBReference": "STANDARD",
              "sourceAAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "sourceBAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "difference": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "status": "ACTIVE",
              "resolutionNote": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "af1afaef-2ad2-5987-b319-7a9d89b439ef",
            "correlationId": "e4f06b4a-1d37-5759-9222-1833e7f5795e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "The relationship of the link.",
            "example": "string"
          },
          "href": {
            "type": "string",
            "description": "The URL to the linked resource.",
            "example": "string"
          },
          "method": {
            "type": "string",
            "description": "The HTTP method to use for the link.",
            "example": "string"
          }
        },
        "description": "Hypermedia link object."
      },
      "ExceptionItem": {
        "type": "object",
        "properties": {
          "exceptionId": {
            "type": "string",
            "description": "The unique identifier for the exception.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of exception encountered.",
            "example": "string"
          },
          "sourceAReference": {
            "type": "string",
            "description": "Reference from source A related to the exception.",
            "example": "string"
          },
          "sourceBReference": {
            "type": "string",
            "description": "Reference from source B related to the exception.",
            "example": "string"
          },
          "sourceAAmount": {
            "description": "The amount involved from source A.",
            "$ref": "#/components/schemas/Amount"
          },
          "sourceBAmount": {
            "description": "The amount involved from source B.",
            "$ref": "#/components/schemas/Amount"
          },
          "difference": {
            "description": "The difference between the two source amounts.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "The current status of the exception.",
            "example": "string"
          },
          "resolutionNote": {
            "type": "string",
            "description": "Notes regarding the resolution of the exception.",
            "example": "string"
          }
        },
        "description": "Details regarding a reconciliation exception."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Represents an amount of money with currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was accessed. Useful for tracking which endpoint was called in the context of this response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-reconciliation-exceptions"
        },
        "example": "banking-p2m-openapi-list-reconciliation-exceptions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header helps to identify which application instance handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token to authenticate requests. The token should be a JSON Web Token (JWT) that is passed in the Authorization header when making API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}