{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Campaign Design Creation API",
    "description": "The Campaign Design Creation API enables businesses to create tailored designs for marketing prospect campaigns. This endpoint allows users to define and submit various visual elements that will be used in promotional outreach efforts. Typical consumers include marketing teams and campaign managers who need to quickly generate and test new design concepts. Integrated seamlessly into marketing workflows, this API enhances the efficiency of campaign setups by automating the design process and ensuring consistency across various channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/prospect-campaign-design/designs": {
      "post": {
        "tags": [
          "Campaign Management"
        ],
        "summary": "Create a new prospect campaign design.",
        "description": "This endpoint allows you to create a new design for a prospect campaign in the marketing system. You can submit the relevant design details, which will be processed to establish a new campaign design.",
        "operationId": "createProspectCampaignDesign",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update designs for marketing prospect campaigns. The payload should contain the necessary details for the design elements and configurations required in the campaign.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProspectCampaignDesignRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The design has been created successfully and is now available.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProspectCampaignDesignResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProspectCampaignDesignRequest": {
        "title": "Campaign Design Request Body",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment for the campaign.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "A list of channels to be used in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "social_media"
            }
          },
          "budget": {
            "description": "The budget allocated for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "The start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "The end date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "campaignObjective": {
            "type": "string",
            "description": "The objective of the campaign.",
            "example": "STANDARD"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "The percentage of the control group for the campaign.",
            "format": "int32",
            "example": 1
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "The maximum number of contacts per user in the campaign.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a marketing campaign design.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "campaignObjective": "STANDARD",
          "controlGroupPercent": 1,
          "contactFrequencyCap": 1,
          "requestContext": {
            "requestId": "1c039887-f0e5-5c95-b825-509bf7518f40",
            "correlationId": "5a0f20c9-0b83-5c09-8bcd-934a629b7a59",
            "idempotencyKey": "a0c75b81-f998-5bd4-85e7-322ba4d2f61b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-843715"
            }
          }
        }
      },
      "Budget": {
        "title": "Budget",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount allocated for the campaign budget.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details for a campaign."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp of when the request was made in ISO 8601 format.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "MarketingApp"
          },
          "channel": {
            "type": "object",
            "properties": {
              "channelId": {
                "type": "string",
                "description": "The identifier for the communication channel.",
                "example": "string"
              },
              "channelType": {
                "type": "string",
                "description": "The type of the channel used (e.g., Email, SMS).",
                "example": "email"
              },
              "deviceId": {
                "type": "string",
                "description": "The identifier for the device used.",
                "example": "string"
              }
            },
            "description": "Details about the communication channel used for the request."
          }
        },
        "description": "Schema representing the contextual information about the request."
      },
      "CreateProspectCampaignDesignResponse_201": {
        "title": "Campaign Design Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The unique identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource linked to the campaign.",
            "example": "RES-144001"
          },
          "status": {
            "type": "string",
            "description": "The current status of the campaign.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the campaign was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the campaign response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a campaign design operation in the marketing prospect system.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-144001",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "aac40dca-c167-5a2e-a1ae-f3800b5a0f1a",
            "correlationId": "5a0f20c9-0b83-5c09-8bcd-934a629b7a59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-101"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request and its corresponding response.",
            "example": "correlation-202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Contains additional information about the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, allowing tracking and analysis of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-design-design-prospect-campaign-design"
        },
        "example": "prospect-campaign-design-design-prospect-campaign-design"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for processing the request, useful for diagnosing issues related to specific applications.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method utilizing the Bearer scheme with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making API requests to authenticate successfully.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}