{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Collections Management API",
    "description": "The Card Collections Management API allows businesses to update and manage their card collection records efficiently. Utilizing this API, users can modify existing collection details, such as payment statuses or customer information, ensuring accuracy in their financial operations. This functionality is especially beneficial for financial institutions and collection agencies aiming to streamline their card processing workflows. With seamless integration, developers can enhance their applications to provide real-time updates on card collections, improving overall service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/card-collections/{param1}": {
      "patch": {
        "tags": [
          "Card Collections"
        ],
        "summary": "Update Card Collection Status",
        "description": "Updates the status of the specified card collection identified by CARD-400045. This operation allows for modifying various attributes of the card collection to reflect its current state in the operational services.",
        "operationId": "updateCardCollectionStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows you to modify the attributes of a specific card collection identified by CARD-400045. You can update various properties related to the card collection through this patch operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCardCollectionStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCardCollectionStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCardCollectionStatusRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be made for the card collection.",
            "$ref": "#/components/schemas/CardCollectionChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body used in the PATCH operation for card collections.",
        "example": {
          "changes": {
            "cardAccountId": "ACC-649553",
            "customerId": "CUST-138918",
            "daysPastDue": 1
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "9db0d1fb-4d20-5bce-9a17-0946df933446",
            "correlationId": "fe88c396-ed12-5cea-aa96-3287c405c151",
            "idempotencyKey": "f65c7633-8542-582f-b061-2322e08c9602",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-903386"
            }
          }
        }
      },
      "CardCollectionChanges": {
        "type": "object",
        "properties": {
          "cardAccountId": {
            "type": "string",
            "description": "Unique identifier for the card account.",
            "example": "cardAccount123"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the card.",
            "example": "customer456"
          },
          "daysPastDue": {
            "type": "integer",
            "description": "Number of days the payment is past due.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Details of the changes to be applied to the card collection."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-111"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotent processing of requests.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-11T08:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "paymentSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application through which the request was made.",
            "example": "webApp"
          },
          "channel": {
            "description": "Information about the request channel.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Context information for the request processing."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel101"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "deviceXYZ"
          }
        },
        "description": "Details of the channel used for the request."
      },
      "UpdateCardCollectionStatusResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the resource.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the PATCH operation on card collections.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "bd22bd91-9da1-527f-adaa-6e2497f98ace",
            "correlationId": "fe88c396-ed12-5cea-aa96-3287c405c151",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-collections-update-card-collections"
        },
        "example": "card-collections-update-card-collections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, where a JSON Web Token (JWT) is required to access secured resources. The JWT must be included in the 'Authorization' header of the request, prefixed with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}