{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Issue Management API",
    "description": "The Servicing Issue Management API enables businesses to efficiently address and resolve servicing issues in their banking operations. This endpoint allows users to update the status or details of specific servicing issues identified by a unique identifier. Typically utilized by customer support and operations teams, the API facilitates prompt issue resolution and enhances customer satisfaction. By employing this API, organizations can streamline their workflow and ensure effective tracking of servicing issues for improved service delivery.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-issue/{param1}": {
      "patch": {
        "tags": [
          "Servicing"
        ],
        "summary": "Update the servicing issue details for RES-100045.",
        "description": "This operation allows the user to update the details of the servicing issue identified by RES-100045. The update can include various aspects of the issue to ensure that the information is current and accurate, facilitating better servicing management.",
        "operationId": "patchServicingIssueResolved100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the servicing issue identified by RES-100045. It allows you to modify specific fields related to the servicing issue.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchServicingIssueResolved100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchServicingIssueResolved100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchServicingIssueResolved100045Request": {
        "title": "Patch Operation Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes to be made in the operation request.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who is requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for patching operation issues.",
        "example": {
          "changes": {
            "customerId": "CUST-744377",
            "caseId": "CASE-319566",
            "requestCategory": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "5461770b-0d4b-5302-8402-4780b5b23110",
            "correlationId": "8f42baea-efca-5536-93fb-7aa3f6a42aa5",
            "idempotencyKey": "e4e281c1-d6e2-599a-8fc5-4ccc8b27ebe3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-597583"
            }
          }
        }
      },
      "Changes": {
        "title": "Operation Changes",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the operation.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "Identifier for the operational case.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "string"
          }
        },
        "description": "Contains details about the changes to be made in the operation request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate different actions related to this request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Holds the contextual information for the request."
      },
      "Channel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Describes the channel used for the request."
      },
      "PatchServicingIssueResolved100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Represents the status of the processing request.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation concerning servicing issues.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1e75a32f-bb5f-5260-82d6-9fc64caf154f",
            "correlationId": "8f42baea-efca-5536-93fb-7aa3f6a42aa5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "xyz-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west"
          }
        },
        "description": "Metadata schema containing additional information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-issue-update-servicing-issue"
        },
        "example": "servicing-issue-update-servicing-issue"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, specifically designed to secure APIs by requiring a JSON Web Token (JWT) for access. The token must be included in the 'Authorization' header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}