{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Application Insights API",
    "description": "The Customer Application Insights API provides access to detailed information regarding the applications associated with a specific customer. By utilizing the customerId parameter, users can retrieve comprehensive data on application usage, performance metrics, and user engagement. This API is particularly useful for analytics and reporting by organizations looking to optimize their application offerings and enhance customer satisfaction. Developers, business analysts, and product managers commonly leverage this endpoint to inform decision-making and improve customer experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/application": {
      "get": {
        "tags": [],
        "summary": "Retrieve application details for a specific customer.",
        "description": "This endpoint allows you to fetch the application details associated with a specific customer identified by the customer ID. Use this to get comprehensive information about the customer's application status, submitted documents, and more.",
        "operationId": "getApplicationForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the application details for a specific customer identified by 'CUST-100045'.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApplicationForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the application details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetApplicationForCustomerCUST100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the customer entity with ID CUST-100045.",
        "example": "{}"
      },
      "GetApplicationForCustomerCUST100045Response_200": {
        "title": "Customer Application Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "The username associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "type": {
            "type": "string",
            "description": "The type of customer.",
            "example": "STANDARD"
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the customer was created in the system.",
            "example": "2026-09-15"
          },
          "lastModifiedDate": {
            "type": "string",
            "description": "The date when the customer information was last modified.",
            "example": "2026-09-15"
          },
          "applicationId": {
            "type": "string",
            "description": "The identifier for the application associated with the customer.",
            "example": "APP-276972"
          },
          "applicationName": {
            "type": "string",
            "description": "The name of the application associated with the customer.",
            "example": "Northstar Banking Service"
          },
          "metadata": {
            "description": "Additional metadata associated with the customer application.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response of a customer application request.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "type": "STANDARD",
          "createdDate": "2026-09-15",
          "lastModifiedDate": "2026-09-15",
          "applicationId": "APP-276972",
          "applicationName": "Northstar Banking Service",
          "metadata": {
            "responseId": "badaab62-6280-5189-826c-06ad8634c69a",
            "correlationId": "90f8e009-f085-5e9b-a1ab-16ea69bbfba9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-300045"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking requests across systems.",
            "example": "CORR-400056"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "A schema representing metadata information for a customer application."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that processed the request.",
          "example": "open-finance-api-get-customer-with-app-data"
        },
        "example": "open-finance-api-get-customer-with-app-data"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that handled the request.",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme enables the use of a Bearer token for authentication using JSON Web Tokens (JWT). Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}