{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Accounts Retrieval API",
    "description": "The Settlement Accounts Retrieval API allows users to access detailed information about settlement accounts within the system. This endpoint is essential for businesses engaged in financial transactions, offering insights into account balances and transaction histories. Typical consumers include financial analysts and accounting software, aiming to validate and reconcile financial data efficiently. By querying this API, users can ensure accurate settlement account management and maintain robust financial records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlement-accounts/{param1}": {
      "get": {
        "tags": [
          "Settlement Accounts"
        ],
        "summary": "Retrieve Settlement Account Details",
        "description": "Fetches detailed information about a specific settlement account identified by the given account number. This includes all pertinent data such as account balance, account type, and associated transactions.",
        "operationId": "getSettlementAccountById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving settlement account operations. It contains the necessary parameters to filter and obtain relevant data regarding the specified settlement account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementAccountByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the settlement account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementAccountByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementAccountByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to settlement account with ID ACC-200045. It is expected to contain a string value.",
        "example": "{}"
      },
      "GetSettlementAccountByIdResponse_200": {
        "type": "object",
        "properties": {
          "settlementAccountId": {
            "type": "string",
            "description": "Unique identifier for the settlement account.",
            "example": "ACC-960408"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement account.",
            "example": "MER-134911"
          },
          "account": {
            "description": "Object representing the details of the bank account.",
            "$ref": "#/components/schemas/Account"
          },
          "schedule": {
            "description": "Object representing the schedule for the settlement account.",
            "$ref": "#/components/schemas/Schedule"
          },
          "isDefault": {
            "type": "boolean",
            "description": "Indicates whether this is the default settlement account.",
            "example": true
          },
          "verificationStatus": {
            "type": "string",
            "description": "Current verification status of the settlement account.",
            "example": "VERIFIED"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement account.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Object containing audit information for the settlement account.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Object containing metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for settlement account retrieval.",
        "example": {
          "settlementAccountId": "ACC-960408",
          "merchantId": "MER-134911",
          "account": {
            "bankCode": "CODE-460",
            "branchCode": "CODE-504",
            "numberMasked": "STANDARD",
            "name": "Northstar Banking Service",
            "type": "STANDARD",
            "currency": "USD"
          },
          "schedule": {
            "frequency": "STANDARD",
            "cutoffTime": "STANDARD",
            "timezone": "America/New_York",
            "settlementDelayBusinessDays": 1,
            "minimumPayoutAmount": {
              "currency": "USD",
              "value": "STANDARD"
            }
          },
          "isDefault": true,
          "verificationStatus": "VERIFIED",
          "status": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "a8b11566-783c-5b55-9820-4c05af678231",
            "correlationId": "fceb8a89-6b69-5fb7-9162-a8f62a3dc04f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "bankCode": {
            "type": "string",
            "description": "Code representing the bank.",
            "example": "string"
          },
          "branchCode": {
            "type": "string",
            "description": "Code representing the branch of the bank.",
            "example": "string"
          },
          "numberMasked": {
            "type": "string",
            "description": "Masked representation of the bank account number.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "Name of the bank account.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of bank account (e.g., savings, checking).",
            "example": "string"
          },
          "currency": {
            "type": "string",
            "description": "Currency type of the bank account.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of a bank account."
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "frequency": {
            "type": "string",
            "description": "Frequency of settlements.",
            "example": "string"
          },
          "cutoffTime": {
            "type": "string",
            "description": "Cut-off time for processing settlements.",
            "example": "string"
          },
          "timezone": {
            "type": "string",
            "description": "Timezone in which the settlement operates.",
            "example": "string"
          },
          "settlementDelayBusinessDays": {
            "type": "integer",
            "description": "Number of business days to delay the settlement.",
            "format": "int32",
            "example": 0
          },
          "minimumPayoutAmount": {
            "description": "Object representing the minimum payout amount for settlements.",
            "$ref": "#/components/schemas/MinimumPayoutAmount"
          }
        },
        "description": "Schema representing the schedule details of the settlement account."
      },
      "MinimumPayoutAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency type of the payout amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Minimum payout value.",
            "example": "string"
          }
        },
        "description": "Schema representing the minimum payout amount details."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the settlement account was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the settlement account.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the settlement account.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the settlement account.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the settlement account record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Schema representing the audit information for the settlement account."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier of the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-get-settlement-account"
        },
        "example": "banking-p2m-openapi-get-settlement-account"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token. This scheme utilizes JSON Web Tokens (JWT) that should be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}