{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Capital Markets Data Retrieval API",
    "description": "The Capital Markets Data Retrieval API provides access to comprehensive information related to wholesale trading within capital markets. This API allows users to query various data points essential for market analysis and decision-making. Typical consumers include financial analysts, traders, and investment firms seeking real-time insights and historical trading data. By harnessing this API, organizations can improve their trading strategies and enhance their market understanding.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/capital-markets": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve capital markets information for wholesale trading.",
        "description": "This endpoint allows users to fetch detailed information about capital markets relevant to wholesale trading, including various metrics and analytics that support decision-making processes.",
        "operationId": "getWholesaleTradingCapitalMarkets",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is intended for retrieving data related to wholesale trading within capital markets. The client should provide a well-structured JSON object that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWholesaleTradingCapitalMarketsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current capital markets data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWholesaleTradingCapitalMarketsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWholesaleTradingCapitalMarketsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the application/json content type in the GET operation related to capital markets operations within wholesale trading.",
        "example": "{}"
      },
      "GetWholesaleTradingCapitalMarketsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of trading items involved in wholesale trading operations.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TradingItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the trading items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation in Capital Markets related to wholesale trading.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b1860524-a697-5386-9032-cbe915a3e68a",
            "correlationId": "c1c7a9e6-7dee-5f07-b494-bea755c75376",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TradingItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Identifier for the trading book.",
            "example": "string"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument.",
            "example": "string"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade, either 'buy' or 'sell'.",
            "example": "string"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being traded.",
            "format": "int32",
            "example": 0
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the trading record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the trading item was last updated.",
            "example": "string"
          }
        },
        "description": "Details of a trading item in the wholesale trading operations."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the limit price.",
            "example": "string"
          }
        },
        "description": "Details regarding the limit price for a trading item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being called. This helps in tracking which endpoint serves the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ecm-and-dcm-search-ecm-and-dcm"
        },
        "example": "ecm-and-dcm-search-ecm-and-dcm"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling this request. This is useful for identifying the source of the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "A security scheme that uses the bearer authentication method. This requires a valid JSON Web Token (JWT) to be passed in the authorization header of requests for authentication and authorization purposes.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}