{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Event Management API",
    "description": "The Event Management API enables businesses to create and manage events related to open banking activities. This API allows users to submit event data, which can be leveraged for tracking, analytics, and compliance purposes. Ideal for financial institutions and developers working with open banking frameworks, this API facilitates seamless integration of event-driven workflows. Use cases include processing user interactions, financial transactions, and regulatory reporting, ensuring that organizations can maintain accurate records of all pertinent events.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/events": {
      "post": {
        "tags": [
          "Event Management"
        ],
        "summary": "Create a new event",
        "description": "This endpoint allows users to create a new event in the system. Provide the necessary details in the request body to successfully create the event.",
        "operationId": "createEvent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for creating a new event. This should include all necessary details about the event such as title, date, location, and any relevant descriptions or attributes.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The event was created successfully and returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateEventResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateEventRequest": {
        "type": "object",
        "properties": {
          "maxEvents": {
            "type": "integer",
            "description": "The maximum number of events to be processed.",
            "format": "int32",
            "example": 1
          },
          "returnImmediately": {
            "type": "boolean",
            "description": "Indicates whether the request should return immediately.",
            "example": true
          },
          "ack": {
            "type": "array",
            "description": "Acknowledgment array that contains string identifiers.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for acknowledgment.",
              "example": "string"
            }
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the POST operation related to events.",
        "example": {
          "maxEvents": 1,
          "returnImmediately": true,
          "ack": [
            "STANDARD"
          ],
          "requestContext": {
            "requestId": "710c4742-56fe-5d96-8130-c38db9c470aa",
            "correlationId": "fca6e251-2b31-5234-8106-885851c335c7",
            "idempotencyKey": "33bdc3b1-8435-5cf7-aaf6-117030944f9f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-467443"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, webhook).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for a device associated with the channel.",
            "example": "string"
          }
        },
        "description": "Information related to the communication channel."
      },
      "CreateEventResponse_200": {
        "title": "Events POST Response",
        "type": "object",
        "properties": {
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates whether there are more events available beyond this response.",
            "example": true
          },
          "metadata": {
            "description": "Metadata associated with the response, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the POST operation on events.",
        "example": {
          "moreAvailable": true,
          "metadata": {
            "responseId": "1e7540df-1efa-59ac-ab5a-1e9077a5c5d8",
            "correlationId": "fca6e251-2b31-5234-8106-885851c335c7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp representing when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Schema containing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that was called. This value helps in tracking the specific request for auditing and tracing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "events-api-create-events"
        },
        "example": "events-api-create-events"
      },
      "x-runtime-app": {
        "description": "The name of the application processing the request. This provides context about where the request is handled within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a bearer token. The token should be a JSON Web Token (JWT) and must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}