{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Servicing Mandate Retrieval API",
    "description": "The Servicing Mandate Retrieval API provides financial institutions with access to detailed information about servicing mandates. This endpoint allows users to retrieve servicing mandates that define the parameters and authorizations for managing customer accounts. Typical consumers of this API include banking applications and service teams that require visibility into account management settings. By utilizing this API, developers can integrate real-time mandate retrieval functionalities into their applications, enhancing service delivery and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/servicing-mandate": {
      "get": {
        "tags": [
          "Servicing"
        ],
        "summary": "Retrieve servicing mandate details.",
        "description": "This endpoint allows users to fetch detailed information about servicing mandates, including relevant attributes and statuses. It serves as a crucial point to access all pertinent data required for servicing operations.",
        "operationId": "getServicingMandate",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body to retrieve servicing mandate details. This body should contain the necessary parameters to specify the query for the servicing mandate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetServicingMandateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the servicing mandate details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetServicingMandateResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetServicingMandateRequest": {
        "type": "string",
        "description": "A request body for the servicing mandate operation, represented as a plain string.",
        "example": "{}"
      },
      "GetServicingMandateResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of servicing mandate items.",
            "example": [
              {
                "customerId": "CUST-282455",
                "caseId": "CASE-281850",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServicingMandateItem"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting parameter used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for successful retrieval of servicing mandates.",
        "example": {
          "items": [
            {
              "customerId": "CUST-282455",
              "caseId": "CASE-281850",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "cea0bea3-9952-5e5c-a1c0-fb0d10e5a320",
            "correlationId": "edc7ae05-ab7e-5eee-a40a-a1bdf39f0e7e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServicingMandateItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "string"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case.",
            "example": "string"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "string"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the request.",
            "example": "string"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a servicing mandate item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination information for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request, helping to trace the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "servicing-mandate-search-servicing-mandate"
        },
        "example": "servicing-mandate-search-servicing-mandate"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context about which service processed it.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, specifically formatted as a JSON Web Token (JWT), to secure API requests. Clients must include this token in the Authorization header when making requests to the protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}