{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Beneficiaries Retrieval API",
    "description": "The Beneficiaries Retrieval API enables users to access and retrieve detailed information about registered beneficiaries within the open banking environment. This endpoint supports financial institutions and developers in providing transparent beneficiary data to enhance user experience and facilitate transactions. Typical consumers include banking apps, financial service providers, and analytics platforms that require beneficiary insights for various use cases. By leveraging this API, developers can ensure that their applications can seamlessly integrate beneficiary details for improved financial services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/beneficiaries": {
      "get": {
        "tags": [
          "Beneficiaries Management"
        ],
        "summary": "Retrieve a list of beneficiaries",
        "description": "This endpoint allows you to fetch the complete list of beneficiaries associated with a specific AISP. You can use this information to manage or display beneficiary details in your application.",
        "operationId": "getBeneficiaries",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching beneficiaries from the AISP API, providing necessary parameters in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBeneficiariesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of beneficiaries.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBeneficiariesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBeneficiariesRequest": {
        "type": "string",
        "description": "A request body for the GET operation related to beneficiaries.",
        "example": "{}"
      },
      "GetBeneficiariesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Beneficiary": {
                "type": "array",
                "description": "List of beneficiaries.",
                "items": {
                  "$ref": "#/components/schemas/Beneficiary"
                }
              }
            },
            "description": "Contains the beneficiaries' information.",
            "example": {
              "Beneficiary": [
                {
                  "AccountId": "ACC-744637",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Reference": "STANDARD",
                  "CreditorAgent": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "PostalAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-641",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD",
                      "Country": "STANDARD",
                      "AddressLine": [
                        "STANDARD"
                      ]
                    },
                    "LEI": "STANDARD"
                  },
                  "CreditorAccount": {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "SecondaryIdentification": "STANDARD",
                    "Proxy": {
                      "Identification": "STANDARD",
                      "Code": "SUCCESS",
                      "Type": "STANDARD"
                    }
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "URL of the current resource.",
                "example": "https://api.example.com/beneficiaries"
              },
              "First": {
                "type": "string",
                "description": "URL to the first page of beneficiaries.",
                "example": "https://api.example.com/beneficiaries?page=1"
              }
            },
            "description": "Pagination and navigation links related to the beneficiaries' response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response-12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to track a request across systems.",
                "example": "correlation-67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing was executed.",
                "example": "us-west-2"
              }
            },
            "description": "Metadata related to the response including identifiers and timestamps.",
            "example": {
              "responseId": "6840b1b5-7ee2-5ce0-b74c-82056b805026",
              "correlationId": "508e66bb-908d-54b1-af7b-9b1504111296",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving beneficiaries from the AISP (Account Information Service Provider) operations.",
        "example": {
          "Data": {
            "Beneficiary": [
              {
                "AccountId": "ACC-744637",
                "id": "STANDARD",
                "type": "STANDARD",
                "Reference": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-641",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "AddressLine": [
                      "STANDARD"
                    ]
                  },
                  "LEI": "STANDARD"
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "6840b1b5-7ee2-5ce0-b74c-82056b805026",
            "correlationId": "508e66bb-908d-54b1-af7b-9b1504111296",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Beneficiary": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the beneficiary's account.",
            "example": "acct-123"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the beneficiary.",
            "example": "ben-456"
          },
          "type": {
            "type": "string",
            "description": "Type of the beneficiary.",
            "example": "individual"
          },
          "Reference": {
            "type": "string",
            "description": "Reference associated with the beneficiary.",
            "example": "ref-789"
          },
          "CreditorAgent": {
            "description": "Information about the creditor agent associated with the beneficiary.",
            "$ref": "#/components/schemas/CreditorAgent"
          },
          "CreditorAccount": {
            "description": "Information about the creditor account associated with the beneficiary.",
            "$ref": "#/components/schemas/CreditorAccount"
          }
        },
        "description": "Schema representing an individual beneficiary."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme under which the creditor agent operates.",
            "example": "PaymentScheme"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the creditor agent.",
            "example": "agt-123"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "XYZ Bank"
          },
          "PostalAddress": {
            "description": "Postal address of the creditor agent.",
            "$ref": "#/components/schemas/PostalAddress"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "1234567890ABCDE"
          }
        },
        "description": "Schema representing the creditor agent details."
      },
      "CreditorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "SavingsAccount"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification number for the creditor account.",
            "example": "acct-789"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the creditor account, if any.",
            "example": "sec-ident-456"
          },
          "Proxy": {
            "description": "Proxy information associated with the creditor account.",
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Schema representing details about the creditor account."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "business"
          },
          "Department": {
            "type": "string",
            "description": "Department name, if applicable.",
            "example": "Accounts"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name, if applicable.",
            "example": "Accounts Payable"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "Main St"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number.",
            "example": "123"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building, if applicable.",
            "example": "Office Tower"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building.",
            "example": "5"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "501"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the unit.",
            "example": "A"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number, if applicable.",
            "example": "P.O. Box 123"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "Sampletown"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "Sample District"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name, if applicable.",
            "example": "John Smith"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code.",
            "example": "12345"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "MyTown"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country.",
            "example": "California"
          },
          "Country": {
            "type": "string",
            "description": "Country name.",
            "example": "United States"
          },
          "AddressLine": {
            "type": "array",
            "description": "Additional lines for the address.",
            "items": {
              "type": "string",
              "example": "Suite 100"
            }
          }
        },
        "description": "Schema representing a postal address."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification number.",
            "example": "proxy-123"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code.",
            "example": "proxy-code-456"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy.",
            "example": "email"
          }
        },
        "description": "Schema representing proxy information for the creditor account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that has been called. This helps in tracking and monitoring usage per endpoint.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-beneficiaries"
        },
        "example": "accounts-api-get-beneficiaries"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This information can be useful for debugging and performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}