{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Notification Subscriptions Management API",
    "description": "The Notification Subscriptions Management API provides endpoints for managing webhook subscriptions essential for real-time notifications within your applications. This API allows consumers to retrieve and manage the configurations for webhook notifications, ensuring that users receive timely updates related to various events. Typical use cases include integrating with third-party systems, optimizing application responses, and enhancing user engagement through notification updates. This endpoint simplifies webhook administration, making it easier for developers to maintain active subscriptions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks": {
      "get": {
        "tags": [
          "Webhooks"
        ],
        "summary": "Retrieve all webhooks.",
        "description": "This endpoint allows you to fetch a list of all webhooks that have been created in the system. It provides essential information about each webhook, including their configurations and status.",
        "operationId": "getWebhooks",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving webhooks. This body may contain necessary filters or criteria to specify which webhooks to retrieve.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWebhooksRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of webhooks.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWebhooksResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWebhooksRequest": {
        "type": "string",
        "description": "Represents the request body for the details of a webhook operation in a GET request.",
        "example": "{}"
      },
      "GetWebhooksResponse_200": {
        "type": "object",
        "properties": {
          "count": {
            "type": "integer",
            "description": "The current number of items returned in the response.",
            "format": "int32",
            "example": 1
          },
          "offset": {
            "type": "integer",
            "description": "The offset from where the results start, useful for pagination.",
            "format": "int32",
            "example": 1
          },
          "limit": {
            "type": "integer",
            "description": "The maximum number of items that can be returned in the response.",
            "format": "int32",
            "example": 1
          },
          "total": {
            "type": "integer",
            "description": "The total number of items available in the database.",
            "format": "int32",
            "example": 1
          },
          "subscriptions": {
            "type": "array",
            "description": "An array containing the webhook subscription details.",
            "example": [
              {
                "subscriptionId": "STANDARD",
                "url": "https://banking.northstar.example/callbacks/status",
                "events": [
                  {
                    "webhookEventId": "STANDARD",
                    "name": "Northstar Banking Service",
                    "url": "https://banking.northstar.example/callbacks/status",
                    "status": "ACTIVE",
                    "condition": {
                      "subscribeFor": "STANDARD",
                      "includes": [
                        "STANDARD"
                      ],
                      "excludes": [
                        "STANDARD"
                      ]
                    }
                  }
                ],
                "status": "ACTIVE",
                "createdDate": "2026-09-15",
                "lastUpdatedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/WebhookSubscription"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An ID used for tracking the request through the system.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing of the request occurred.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the response.",
            "example": {
              "responseId": "9115e77b-7e91-51ae-b5d2-8d85c853d290",
              "correlationId": "bf6f380b-1559-5bcd-9b6e-2b7126164065",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for the successful retrieval of webhook subscriptions.",
        "example": {
          "count": 1,
          "offset": 1,
          "limit": 1,
          "total": 1,
          "subscriptions": [
            {
              "subscriptionId": "STANDARD",
              "url": "https://banking.northstar.example/callbacks/status",
              "events": [
                {
                  "webhookEventId": "STANDARD",
                  "name": "Northstar Banking Service",
                  "url": "https://banking.northstar.example/callbacks/status",
                  "status": "ACTIVE",
                  "condition": {
                    "subscribeFor": "STANDARD",
                    "includes": [
                      "STANDARD"
                    ],
                    "excludes": [
                      "STANDARD"
                    ]
                  }
                }
              ],
              "status": "ACTIVE",
              "createdDate": "2026-09-15",
              "lastUpdatedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "9115e77b-7e91-51ae-b5d2-8d85c853d290",
            "correlationId": "bf6f380b-1559-5bcd-9b6e-2b7126164065",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "subscriptionId": {
            "type": "string",
            "description": "The unique identifier for the subscription.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL that receives the webhook notifications.",
            "example": "string"
          },
          "events": {
            "type": "array",
            "description": "An array of events that the subscription is registered to receive.",
            "items": {
              "$ref": "#/components/schemas/WebhookEvent"
            }
          },
          "status": {
            "type": "string",
            "description": "The current status of the subscription.",
            "example": "string"
          },
          "createdDate": {
            "type": "string",
            "description": "The date and time when the subscription was created.",
            "example": "string"
          },
          "lastUpdatedDate": {
            "type": "string",
            "description": "The date and time when the subscription was last updated.",
            "example": "string"
          }
        },
        "description": "This schema represents a single webhook subscription and its associated details."
      },
      "WebhookEvent": {
        "type": "object",
        "properties": {
          "webhookEventId": {
            "type": "string",
            "description": "The unique identifier for the webhook event.",
            "example": "string"
          },
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the event notification is sent.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "The current status of the event subscription.",
            "example": "string"
          },
          "condition": {
            "type": "object",
            "properties": {
              "subscribeFor": {
                "type": "string",
                "description": "The subscription type or context for which the event is subscribed.",
                "example": "string"
              },
              "includes": {
                "type": "array",
                "description": "An array of event types that are included for this subscription.",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              },
              "excludes": {
                "type": "array",
                "description": "An array of event types that are excluded from this subscription.",
                "items": {
                  "type": "string",
                  "example": "string"
                }
              }
            },
            "description": "Conditions that determine when the event should be triggered."
          }
        },
        "description": "This schema represents an individual event associated with a webhook subscription."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific webhook endpoint that was triggered. Useful for logging and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-list-webhook-subscriptions"
        },
        "example": "open-finance-api-list-webhook-subscriptions"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application processing the webhook request. This helps indicate which application handled the event.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}