{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Information Provider Administration API",
    "description": "The Information Provider Administration API facilitates the management and configuration of external information providers within the banking ecosystem. This endpoint allows for the modification of existing provider details to ensure up-to-date and accurate information. Common users of this API include banking administrators and data managers who oversee provider relationships. By offering patch capabilities, this API enables efficient updates and adjustments to provider settings as needed.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/information-provider-administration/{param1}": {
      "patch": {
        "tags": [
          "Information Provider"
        ],
        "summary": "Update information provider details.",
        "description": "This operation allows you to update the details of the specified information provider resource in the external agency administration system. Make sure to provide the necessary fields in the request body to perform a successful update.",
        "operationId": "patchExternalAgencyInformationProviderAdministrationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the information related to the external agency's information provider administration. The fields specified in the schema should be included in the request to ensure a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchExternalAgencyInformationProviderAdministrationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful update of the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchExternalAgencyInformationProviderAdministrationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchExternalAgencyInformationProviderAdministrationRes100045Request": {
        "title": "Operations PATCH Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied in the PATCH request.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective date and time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for a PATCH operation on an external agency information provider.",
        "example": {
          "changes": {
            "institutionId": "STANDARD",
            "agreementId": "AGR-388094",
            "bic": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "44ca97ca-ec4e-503b-a90b-60658335dc4d",
            "correlationId": "d5074c03-e9f7-5714-93d6-152326ea1d41",
            "idempotencyKey": "c81e3fad-39f0-540f-863b-b559e889c834",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-291510"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "string"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "string"
          },
          "bic": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) associated with the institution.",
            "example": "string"
          }
        },
        "description": "Schema defining the specific changes to be made in the PATCH request."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that is making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "PatchExternalAgencyInformationProviderAdministrationRes100045Response_200": {
        "title": "Operation Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation, providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the PATCH operation in the external agency information provider administration API.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f1340bde-0ab0-5ac5-bc27-41708d9a3b82",
            "correlationId": "d5074c03-e9f7-5714-93d6-152326ea1d41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing the metadata of the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "information-provider-administration-update-information-provider-administration"
        },
        "example": "information-provider-administration-update-information-provider-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Authentication using JWT (JSON Web Tokens). This method involves including a token in the request headers for secure access to protected resources. Ensure the token is valid and has not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}