{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Project Finance Overview API",
    "description": "The Project Finance Overview API provides businesses with the necessary insights into their project finance operations. By retrieving detailed project finance data, users can assess funding structures, track financial performance, and optimize investment decisions. This API serves financial analysts, project managers, and stakeholders involved in banking and investment strategies. Utilize this endpoint to gain a comprehensive overview of project financing, supporting sound financial decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/project-finance": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve project finance data.",
        "description": "This endpoint allows users to fetch detailed information regarding project finance within the trade banking sector. Utilize this endpoint to get insights into project finance activities and statuses.",
        "operationId": "getProjectFinanceData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters needed for initiating a project finance operation in the trade banking service. It requires a structured input containing necessary information for the financial project you are inquiring about.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProjectFinanceDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of project finance information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProjectFinanceDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProjectFinanceDataRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to project finance in trade banking.",
        "example": "{}"
      },
      "GetProjectFinanceDataResponse_200": {
        "title": "Project Finance Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of project finance items.",
            "example": [
              {
                "corporateCustomerId": "CUST-369751",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-916073",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProjectFinanceItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response schema representing the results of a project finance operations GET request, including a list of items and pagination details.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-369751",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-916073",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7cba56ad-dc38-5f9d-91f3-e52edd8137e7",
            "correlationId": "81539140-8afe-5e29-97ea-dd33098de7fe",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProjectFinanceItem": {
        "title": "Project Finance Item",
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "The identifier for the corporate customer."
          },
          "facilityId": {
            "type": "string",
            "description": "The identifier for the facility."
          },
          "counterpartyId": {
            "type": "string",
            "description": "The identifier for the counterparty."
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial facility."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the item was last updated."
          }
        },
        "description": "A schema representing a single item in the project finance list."
      },
      "Amount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The monetary value of the amount."
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount."
          }
        },
        "description": "A schema representing a financial amount with its value and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The size of each page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "A schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred."
          }
        },
        "description": "A schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "project-finance-search-project-finance"
        },
        "example": "project-finance-search-project-finance"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that utilizes JSON Web Tokens (JWT) for securing API endpoints. Clients must include a valid bearer token in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}