{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Risk Models API",
    "description": "The Production Risk Models API provides a streamlined way to develop and deploy risk assessment models within your banking applications. This API facilitates the creation of new risk models that can analyze various financial parameters and enhance decision-making processes. Typical consumers of this API include financial analysts and risk management teams looking to integrate advanced modeling capabilities. Utilize this API to ensure effective risk evaluation and compliance within your organization's financial activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/production-risk-models": {
      "post": {
        "tags": [],
        "summary": "Create a new production risk model.",
        "description": "This endpoint allows you to create a new production risk model by providing the necessary parameters in the request body. Use this operation to effectively manage and enhance your production risk modeling.",
        "operationId": "createProductionRiskModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new production risk model. It should contain the necessary data for the model, formatted as JSON.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductionRiskModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the specified details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductionRiskModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductionRiskModelRequest": {
        "title": "Production Risk Model Request Body",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-376777"
          },
          "asOfDate": {
            "type": "string",
            "description": "The effective date for which the model is applicable.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the scenario used for the model.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level represented as a decimal value.",
            "example": 100.0
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used for validation.",
            "example": "STANDARD"
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months to use for backtesting.",
            "format": "int32",
            "example": 1
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to create or update a production risk model.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-376777",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "validationDatasetId": "STANDARD",
          "backtestWindowMonths": 1,
          "approvalStatus": "ACTIVE",
          "requestContext": {
            "requestId": "8511423f-6bbb-5120-8b91-dfe9cd0e4c6c",
            "correlationId": "b74932ad-b8f3-5601-807c-250bcb9e3fc4",
            "idempotencyKey": "67ca9bc2-e11c-59f7-a626-77ff4767baa2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-326175"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Used to track related requests.",
            "example": "correlation-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotency-key-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the source system making the request.",
            "example": "risk-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the source application making the request.",
            "example": "risk-app"
          },
          "channel": {
            "description": "Details of the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context including identifiers and source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-67890"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateProductionRiskModelResponse_201": {
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the risk model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the model.",
            "example": "PORT-287759"
          },
          "validationDatasetId": {
            "type": "string",
            "description": "The unique identifier for the validation dataset used in the model.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-623655"
          },
          "status": {
            "type": "string",
            "description": "The current status of the model operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the model was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to production risk models, specifically for POST requests.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-287759",
          "validationDatasetId": "STANDARD",
          "resourceId": "RES-623655",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "95d39229-2b16-5294-a3ee-53cd60c708aa",
            "correlationId": "b74932ad-b8f3-5601-807c-250bcb9e3fc4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed. This helps in tracking the specific operation in the production risk models system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-risk-models-create-production-risk-models"
        },
        "example": "production-risk-models-create-production-risk-models"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that is making the request. This is useful for logging and monitoring application usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate themselves with a JSON Web Token (JWT). The JWT must be included in the 'Authorization' header of the request in the format 'Bearer {token}'. This is commonly used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}