{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Security Advisory Engagements API",
    "description": "The Security Advisory Engagements API facilitates the initiation and management of security advisory engagements within enterprise banking services. This endpoint allows organizations to proactively collaborate with security experts to assess and enhance their security posture. Typical consumers include security teams and compliance officers looking to engage with advisory services. By leveraging this API, users can efficiently address security challenges and implement best practices for risk mitigation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/security-advisory/engagements": {
      "post": {
        "tags": [
          "Security Advisory"
        ],
        "summary": "Create a new security advisory engagement.",
        "description": "This endpoint allows users to initiate a new security advisory engagement by submitting relevant data. Ensure all required fields are properly filled to successfully create an engagement.",
        "operationId": "createSecurityAdvisoryEngagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Provides information required to create a new engagement related to security advisory services. This includes necessary parameters and data that instructs the system on how to process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSecurityAdvisoryEngagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new engagement resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSecurityAdvisoryEngagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSecurityAdvisoryEngagementRequest": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "scope": {
            "type": "string",
            "description": "The scope of the engagement indicating what is to be covered.",
            "example": "STANDARD"
          },
          "framework": {
            "type": "string",
            "description": "The security framework being applied during the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier of the user who owns the engagement.",
            "example": "STANDARD"
          },
          "plannedStartDate": {
            "type": "string",
            "description": "The date when the engagement is planned to start.",
            "example": "2026-09-15"
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "The target date for completing the engagement.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Context of the request including identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating a new engagement in the security advisory service.",
        "example": {
          "engagementId": "STANDARD",
          "scope": "STANDARD",
          "framework": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "plannedStartDate": "2026-09-15",
          "targetCompletionDate": "2026-09-15",
          "requestContext": {
            "requestId": "bf1981f2-63cc-5b57-85a2-548b4b81cb89",
            "correlationId": "48408b86-f307-53b6-a4c8-88c47cfb619b",
            "idempotencyKey": "8e0f90b2-05ed-5485-8ef2-f01dcd97d11c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-667680"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests.",
            "example": "correlation-abcde"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "key-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-25T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Security Management App"
          },
          "channel": {
            "description": "The channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request, including various identifiers and metadata."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-54321"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to make the request.",
            "example": "device-67890"
          }
        },
        "description": "Schema representing the details of the channel through which the request is sent."
      },
      "CreateSecurityAdvisoryEngagementResponse_201": {
        "title": "Engagement Response",
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier of the owner of the engagement.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier of the resource associated with the engagement.",
            "example": "RES-929700"
          },
          "status": {
            "type": "string",
            "description": "Current status of the engagement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the engagement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/EngagementMetadata"
          }
        },
        "description": "Schema representing the response of an engagement operation.",
        "example": {
          "engagementId": "STANDARD",
          "engagementOwnerId": "STANDARD",
          "resourceId": "RES-929700",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5881ed49-1e3f-5a7e-ad58-93cb13d2adca",
            "correlationId": "48408b86-f307-53b6-a4c8-88c47cfb619b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementMetadata": {
        "title": "Engagement Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate this response with requests.",
            "example": "correlation-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was carried out.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information related to the engagement response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-087"
        },
        "example": "WF-087"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "c56ac135-17a8-4ec8-a4b1-f4a7a1d372cf"
        },
        "example": "c56ac135-17a8-4ec8-a4b1-f4a7a1d372cf"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "de2def30-0a12-474d-be19-d5ffa15fa47b"
        },
        "example": "de2def30-0a12-474d-be19-d5ffa15fa47b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifies the specific endpoint that the request pertains to. This is essential for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "security-advisory-create-security-advisory-engagement"
        },
        "example": "security-advisory-create-security-advisory-engagement"
      },
      "X-Runtime-App": {
        "description": "Represents the application context in which the request was executed. This helps to associate the response with the correct application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow associated with the request. This aids in tracking the progress and state of workflows across systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-087"
        },
        "example": "WF-087"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Cybersecurity Assurance and Control Remediation"
        },
        "example": "Cybersecurity Assurance and Control Remediation"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating its operational status.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "de2def30-0a12-474d-be19-d5ffa15fa47b"
        },
        "example": "de2def30-0a12-474d-be19-d5ffa15fa47b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens, specifically JSON Web Tokens (JWT), which are commonly used for securely transmitting information between parties. The token should be included in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}