{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Product Eligibility Retrieval API",
    "description": "The Customer Product Eligibility Retrieval API enables financial institutions to assess and retrieve product eligibility details for individual customers. By querying the API with specific customer identifiers, users can determine which banking products are available to their clients based on predefined criteria. Typical consumers of this API include customer service representatives, credit analysts, and financial advisors who need real-time eligibility data to assist customers effectively. This API streamlines the decision-making process and enhances customer engagement by providing tailored product offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/customer-management/product-eligibilities/{param1}": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve product eligibility for a specific customer.",
        "description": "This endpoint allows you to fetch the product eligibility details for the customer identified by CUST-100045. It provides information regarding the products the customer is eligible for based on their profile and account status.",
        "operationId": "getProductEligibilityForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the product eligibility information for a specific customer identified by `CUST-100045`. It should contain any necessary parameters required for querying the product eligibility.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductEligibilityForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning eligible products for the specified customer.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductEligibilityForCustomerCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductEligibilityForCustomerCUST100045Request": {
        "type": "string",
        "description": "The request body for retrieving product eligibility information under the specified operations. This schema is represented as a string.",
        "example": "{}"
      },
      "GetProductEligibilityForCustomerCUST100045Response_200": {
        "title": "Product Eligibility Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-489005"
          },
          "partyId": {
            "type": "string",
            "description": "The unique identifier for the party associated with the customer.",
            "example": "PARTY-390962"
          },
          "productCode": {
            "type": "string",
            "description": "The code for the product being checked for eligibility.",
            "example": "CHK-PREMIUM-US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the eligibility becomes effective.",
            "example": "2026-09-15"
          },
          "relationshipTier": {
            "type": "string",
            "description": "The relationship tier of the customer.",
            "example": "GOLD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the eligibility record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response for product eligibility related to a customer.",
        "example": {
          "customerId": "CUST-489005",
          "partyId": "PARTY-390962",
          "productCode": "CHK-PREMIUM-US",
          "effectiveDate": "2026-09-15",
          "relationshipTier": "GOLD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "3a6db4f8-854a-517a-a285-21e29bd863d7",
            "correlationId": "ab742853-60c1-5761-bb9c-e959f298d5f2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-987654"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier used to trace the request and response.",
            "example": "CORR-456789"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "This schema contains metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint, used for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-product-and-service-eligibility-get-customer-product-and-service-eligibility"
        },
        "example": "customer-product-and-service-eligibility-get-customer-product-and-service-eligibility"
      },
      "X-Runtime-App": {
        "description": "The application name that is responsible for handling the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically formatted as a JSON Web Token (JWT). Clients must include the token in the authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}