{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Standing Order Management API",
    "description": "The Standing Order Management API provides functionality for retrieving details of existing standing orders in the banking system. This endpoint allows users to query specific standing orders by their unique identifiers. It serves a variety of use cases, including financial auditing, customer inquiries, and account management support. Typical consumers of this API include banking applications, customer support systems, and financial analysis tools, enabling them to enhance their service offerings with standing order information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/standing-order/{param1}": {
      "get": {
        "tags": [
          "Standing Orders"
        ],
        "summary": "Retrieve Standing Order Details",
        "description": "Fetches detailed information about a specific standing order identified by its reference RES-100045. This endpoint is useful for users wanting to review the particulars of their standing order transactions.",
        "operationId": "getStandingOrderDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the standing order details for the specified RES-100045 resource. This body should conform to the expected schema and contain the necessary attributes to successfully fetch the resource.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetStandingOrderDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successful and the standing order details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetStandingOrderDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetStandingOrderDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving standing order information in a lending deposit context.",
        "example": "{}"
      },
      "GetStandingOrderDetailsResponse_200": {
        "title": "Standing Order Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-559033"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-598456"
          },
          "productCode": {
            "type": "string",
            "description": "The code identifying the financial product associated with the standing order.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount details including amount and currency.",
            "$ref": "#/components/schemas/Principal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term duration of the standing order in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the standing order.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the standing order record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the standing order record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the standing order record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the standing order response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for a standing order operation, containing customer and account details along with financial information.",
        "example": {
          "customerId": "CUST-559033",
          "accountId": "ACC-598456",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5888a492-b5fa-5a5b-a0a8-27808c51c632",
            "correlationId": "c3b7aba7-3334-5bfc-a94e-6f8fc7faa4a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Principal": {
        "title": "Principal Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal loan or deposit.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency type of the principal amount.",
            "example": "string"
          }
        },
        "description": "Represents the principal amount details for the standing order, including the amount and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the standing order occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response of the standing order operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "standing-order-get-standing-order"
        },
        "example": "standing-order-get-standing-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which requires a valid JSON Web Token (JWT) to be included in the authorization header of requests. The JWT should follow the standard format and be obtained through a secure authentication process.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}