{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Value Assessment API",
    "description": "The Customer Value Assessment API allows businesses to evaluate and determine the value of a customer by processing a values-oriented assessment. By utilizing this endpoint, organizations can submit relevant customer data and retrieve a comprehensive analysis that informs decision-making and strategic planning. This API is primarily useful for customer relationship managers, marketing teams, and analysts looking to optimize customer engagement and retention strategies. By understanding the value each customer brings, businesses can tailor their approach and enhance overall customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voa": {
      "post": {
        "tags": [
          "Customer Insights"
        ],
        "summary": "Create a VO for a specific customer.",
        "description": "This endpoint allows you to create a Voice of the Customer (VO) entry for a customer identified by their unique ID. It enables businesses to gather insights and feedback directly from customers, helping in enhancing products and services.",
        "operationId": "createVoaForCustomerCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary data for the creation or update operation related to the specified customer. Ensure that all required fields are included in the JSON object according to the schema provided.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoaForCustomerCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoaForCustomerCUST100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoaForCustomerCUST100045Request": {
        "title": "Customer Operations Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing the account identifiers.",
            "example": "ACC-366079"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "A list of custom fields for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "showNsf": {
            "type": "boolean",
            "description": "Indicates whether to show non-sufficient funds.",
            "example": true
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report in UNIX timestamp format.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Details about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for customer operations.",
        "example": {
          "accountIds": "ACC-366079",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "showNsf": true,
          "fromDate": 1,
          "requestContext": {
            "requestId": "c3d022d9-9036-56a7-ab61-bccc79105a50",
            "correlationId": "a7cf608b-06ad-5d3a-bc70-82e88b7fca8f",
            "idempotencyKey": "7fb421fc-158e-51b3-bb3a-291c4e83a951",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-113816"
            }
          }
        }
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "Label of the custom field.",
            "example": "Custom Label"
          },
          "value": {
            "type": "string",
            "description": "Value of the custom field.",
            "example": "Custom Value"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is shown.",
            "example": false
          }
        },
        "description": "Custom field for reports."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across services.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idempotency-key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "App A"
          },
          "channel": {
            "description": "Details about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-123"
          }
        },
        "description": "Schema representing the channel information."
      },
      "CreateVoaForCustomerCUST100045Response_202": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the customer operation.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier of the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request associated with the operation.",
            "example": "dc8cb8b9-9a25-5ed6-b2dd-3d8a333930f4"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person who made the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user associated with the operation.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the operation was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the customer operation.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the operation.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement related to the dispute in the customer operation.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the customer operation.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the customer operation.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing the details of a customer operation.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "dc8cb8b9-9a25-5ed6-b2dd-3d8a333930f4",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-684041"
            ],
            "reportCustomFields": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ]
          },
          "metadata": {
            "responseId": "ef7f2393-35da-5955-b5a3-9a441b78da1d",
            "correlationId": "a7cf608b-06ad-5d3a-bc70-82e88b7fca8f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "(123) 456-7890"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "johndoe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "http://johndoe.com"
          }
        },
        "description": "Details of the end user."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Home address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "Zip code of the consumer's address.",
            "example": "67890"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "(987) 654-3210"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "janedoe@example.com"
          }
        },
        "description": "Detailed information about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "List of account IDs associated with the constraints.",
            "example": [
              "account1",
              "account2"
            ],
            "items": {
              "type": "string",
              "description": "Array of account identifiers."
            }
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields related to the report.",
            "example": [],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          }
        },
        "description": "Constraints related to the customer operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint being accessed or invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voa-report"
        },
        "example": "open-finance-api-generate-voa-report"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the application in which the request is being processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication via a JSON Web Token (JWT). Clients must include the token in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}