{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Interactive Help Management API",
    "description": "The Interactive Help Management API provides an innovative solution for enhancing customer support and seamless user experiences across banking channels. This API facilitates updates to interactive help content, allowing businesses to adapt to evolving user needs effectively. Typical consumers include customer service teams and support applications that require real-time updates to help resources. Use cases include tailoring assistance features, ensuring users receive relevant guidance, and improving customer satisfaction through personalized help experiences.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/interactive-help/{param1}": {
      "patch": {
        "tags": [
          "Interactive Help"
        ],
        "summary": "Update interactive help resource RES-100045",
        "description": "This endpoint allows you to update the details of the interactive help resource identified by RES-100045. You can modify various attributes of the resource to ensure it meets the latest requirements or fixes any issues present.",
        "operationId": "updateInteractiveHelpRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters to update the interactive help resource identified by RES-100045. The specified fields will be modified based on the provided data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateInteractiveHelpRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the updated resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateInteractiveHelpRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateInteractiveHelpRes100045Request": {
        "title": "Patch Request Body for Operations",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied as part of the patch operation.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for making the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for patch operations in the cross-channel interactive help service.",
        "example": {
          "changes": {
            "partyId": "PARTY-568425",
            "interactionId": "INT-241869",
            "channel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f94702a6-7b7d-5d43-8b59-72f73f929b6d",
            "correlationId": "fdf0139b-3cb7-5dfd-afaf-6d5261ceeccb",
            "idempotencyKey": "ced8f496-3af9-5378-9f91-7f7d59044d0e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-411085"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier of the party involved in the change.",
            "example": "12345"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction related to the changes.",
            "example": "98765"
          },
          "channel": {
            "description": "Details about the communication channel involved in the change.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains the details of the changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of operations.",
            "example": "idempotency-key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "UserPortal"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Contains information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., SMS, Email).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to access the channel.",
            "example": "device-456"
          }
        },
        "description": "Details about the communication channel."
      },
      "ChannelContext": {
        "title": "Channel Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used in the request context.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used in the context (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device in the context of the request.",
            "example": "device-101"
          }
        },
        "description": "Information about the channel related to the request context."
      },
      "UpdateInteractiveHelpRes100045Response_200": {
        "title": "Successful Response for PATCH Operation",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful PATCH operation in the cross-channel interactive help service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4b11d02d-e41c-5153-8d9a-3243d70af469",
            "correlationId": "fdf0139b-3cb7-5dfd-afaf-6d5261ceeccb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "corr-123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata for a response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header represents the unique identifier for the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "interactive-help-update-interactive-help"
        },
        "example": "interactive-help-update-interactive-help"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the application that is currently handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which allows access tokens to be passed in the request's Authorization header. The bearer token is expected to be a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}