{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Management API",
    "description": "The Corporate Lease Management API facilitates businesses in managing their leasing agreements for corporate assets. This endpoint allows users to create new corporate lease agreements, ensuring a streamlined process for asset acquisition and utilization. Typical consumers include finance departments and asset managers looking to optimize their leasing operations. The API supports essential operations related to corporate leases, enhancing the efficiency of financial transactions within an organization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease": {
      "post": {
        "tags": [
          "Corporate Lending"
        ],
        "summary": "Create a new corporate lease.",
        "description": "This endpoint allows you to create a new corporate lease in the deposit lending system. Provide the necessary details in the request body to successfully create a lease associated with a corporate client.",
        "operationId": "createCorporateLease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary information for initiating a corporate lease in the deposit lending context. Ensure that all required fields are provided accurately for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateLeaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateLeaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateLeaseRequest": {
        "title": "Corporate Lease Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-513303"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the lease.",
            "example": "ACC-808408"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the specific leasing product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount to be financed in the lease.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the lease.",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the asset being leased.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value of the asset at the end of the lease term.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "Total duration of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for initiating a corporate lease operation.",
        "example": {
          "customerId": "CUST-513303",
          "accountId": "ACC-808408",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "a7461b6f-fbb1-5d25-8a58-f91677afe3ab",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "idempotencyKey": "c65db711-f3ff-5a3e-b4e1-a7c48153f1ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848909"
            }
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary value.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount of money in a specific currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "CORR78910"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "IDEMPOTENT_KEY_123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that originated the request.",
            "example": "INTERNAL_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application which initiated the request.",
            "example": "MY_APP"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual details about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "CHNL12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for making the request.",
            "example": "WEB"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "DEV67890"
          }
        },
        "description": "Schema representing the channel information through which the request was submitted."
      },
      "CreateCorporateLeaseResponse_201": {
        "title": "Corporate Lease Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-536145"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the customer's account.",
            "example": "ACC-574595"
          },
          "productCode": {
            "type": "string",
            "description": "Identifier for the product related to the lease.",
            "example": "CHK-PREMIUM-US"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "Unique identifier for the leased asset.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource associated with the lease operation.",
            "example": "RES-894989"
          },
          "status": {
            "type": "string",
            "description": "Current status of the lease operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the lease operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the lease operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the Corporate Lease operation in the deposit lending service.",
        "example": {
          "customerId": "CUST-536145",
          "accountId": "ACC-574595",
          "productCode": "CHK-PREMIUM-US",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-894989",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through the system.",
            "example": "correlation_001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the lease operation was processed.",
            "example": "region_1"
          }
        },
        "description": "Schema representing the metadata associated with the lease operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request. It is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-create-corporate-lease"
        },
        "example": "corporate-lease-create-corporate-lease"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request. This information can be useful for monitoring and debugging the service.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a valid JSON Web Token (JWT) in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}