{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Update API",
    "description": "The Underwriting Update API facilitates the modification of existing underwriting records within the banking sales system. This endpoint allows users to adjust various attributes associated with a specific underwriting, enhancing the accuracy and relevance of underwriting data. Typical consumers include banking professionals, compliance officers, and risk analysts who need to update underwriting conditions based on evolving criteria. By streamlining the update process, this API supports better risk management and improved decision-making in financial operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting/{underwritingId}": {
      "patch": {
        "tags": [
          "Sales"
        ],
        "summary": "Update Sales Underwriting Resource",
        "description": "This endpoint allows you to update the details of a specific sales underwriting resource identified by its ID. Be sure to provide the necessary fields in the request body to successfully apply the changes.",
        "operationId": "updateSalesUnderwritingResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the underwriting details for a specific sale identified by RES-100045. The request should include the relevant fields that need to be updated in JSON format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSalesUnderwritingResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateSalesUnderwritingResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateSalesUnderwritingResource100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the underwriting request.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The datetime at which the changes are to become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier for who is requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for the PATCH operation related to sales underwriting operations.",
        "example": {
          "changes": {
            "prospectId": "STANDARD",
            "productCode": "CHK-PREMIUM-US",
            "salesChannel": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "0e78a0b2-36fc-531c-8565-cf2f550730ca",
            "correlationId": "79d72f53-a776-55f7-8a5f-ab6699c53e51",
            "idempotencyKey": "8d9e8762-58c9-5894-88e1-d7c84fcf7ebc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-510698"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "The unique identifier for the prospect.",
            "example": "prospect_456"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the changes.",
            "example": "product_789"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made.",
            "example": "online"
          }
        },
        "description": "Contains the details about the changes being made."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier across different systems involved in processing the request.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "internal_system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "sales_app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information about the request context, including identifiers and source application details."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_101"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, retail).",
            "example": "online"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device_202"
          }
        },
        "description": "Details about the sales channel used for the transaction."
      },
      "UpdateSalesUnderwritingResource100045Response_200": {
        "title": "Underwriting Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the underwriting operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the PATCH operation on underwriting resources.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "139ffdc0-53d7-5b74-8c6d-c36624626709",
            "correlationId": "79d72f53-a776-55f7-8a5f-ab6699c53e51",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs or events across services.",
            "example": "abcde-12345-fghij"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This header helps in tracking requests and responses related to specific operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-update-underwriting"
        },
        "example": "underwriting-update-underwriting"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime handling the request. This header provides context about the environment in which the operation is executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Uses the Bearer authentication scheme for obtaining access tokens. Tokens must be in JSON Web Token (JWT) format, enabling secure and compact transmission of information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}