{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Concentration Management API",
    "description": "The Cash Concentration Management API streamlines the process of consolidating cash from multiple accounts into a central location for optimal liquidity management. This API enables businesses to efficiently initiate cash concentration transactions, allowing for better financial visibility and control. Typical consumers include finance teams and treasury departments seeking to manage their cash reserves effectively. Utilize this API to automate cash transfers and enhance your organization's cash flow management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-concentration": {
      "post": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Create a cash concentration transaction.",
        "description": "This endpoint allows you to initiate a cash concentration transaction within the trade banking framework. You can use this operation to manage cash flows efficiently by bringing funds together from various accounts into a central account. Ensure that all necessary parameters are provided to successfully create the transaction.",
        "operationId": "postCashConcentration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a cash concentration operation within the trade banking system. It includes the necessary information to process the transaction effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostCashConcentrationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully with the provided data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCashConcentrationResponse_201"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred on the server. Please try again later.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCashConcentrationResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "Validation error: The request data is invalid or incomplete.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostCashConcentrationResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostCashConcentrationResponse_201": {
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "Identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "Identifier for the header account associated with the transaction.",
            "example": "ACC-611619"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the operation.",
            "example": "RES-398014"
          },
          "status": {
            "type": "string",
            "description": "Current status of the cash concentration operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier for correlating related requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the metadata was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "string"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "99d2f1ab-df55-5b66-8cfd-684f400e6aa1",
              "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for cash concentration operations in trade banking.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-611619",
          "resourceId": "RES-398014",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "99d2f1ab-df55-5b66-8cfd-684f400e6aa1",
            "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PostCashConcentrationResponse_500": {
        "title": "Cash Concentration Operation Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code associated with the failed operation.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message providing more details about the error.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow context in which the error occurred.",
            "example": "WF-064"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "An integer indicating the hop after which the operation failed.",
            "format": "int32",
            "example": 3
          }
        },
        "description": "A schema representing the error response for cash concentration operations in the trade banking API.",
        "example": {
          "code": "DOWNSTREAM_CORE_UNAVAILABLE",
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-064",
          "failedAfterHop": 3
        }
      },
      "PostCashConcentrationRequest": {
        "title": "Cash Concentration Request",
        "type": "object",
        "properties": {
          "poolId": {
            "type": "string",
            "description": "The identifier for the cash concentration pool.",
            "example": "STANDARD"
          },
          "headerAccountId": {
            "type": "string",
            "description": "The identifier for the header account associated with this cash concentration operation.",
            "example": "ACC-720784"
          },
          "participantAccountIds": {
            "type": "array",
            "description": "A list of identifiers for participant accounts involved in the cash concentration.",
            "example": [
              "ACC-214422"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for a participant account.",
              "example": "string"
            }
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the cash concentration operation will be performed.",
            "example": "USD"
          },
          "sweepFrequency": {
            "type": "string",
            "description": "The frequency at which cash sweeps occur for the concentration pool.",
            "example": "STANDARD"
          },
          "targetBalance": {
            "type": "number",
            "description": "The target balance to be maintained in the concentration pool.",
            "example": 100.0
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for initiating a cash concentration operation.",
        "example": {
          "poolId": "STANDARD",
          "headerAccountId": "ACC-720784",
          "participantAccountIds": [
            "ACC-214422"
          ],
          "currency": "USD",
          "sweepFrequency": "STANDARD",
          "targetBalance": 100.0,
          "requestContext": {
            "requestId": "a257d3d2-0081-58f6-9ca5-c68ab265751d",
            "correlationId": "30882513-f10e-5a35-8282-2541ed5ac44f",
            "idempotencyKey": "2c01ed76-9b5d-5055-9da7-5242163a396a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-733552"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema defines the contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel used for the request (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to send the request.",
            "example": "string"
          }
        },
        "description": "This schema describes the channel information for the request."
      },
      "PostCashConcentrationResponse_422": {
        "title": "Cash Concentration Error Response",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A string representing the error code.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate the request with its response.",
            "example": "1770f2e4-ef79-47cb-866d-6461ce14127c"
          },
          "message": {
            "type": "string",
            "description": "A descriptive message detailing the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The workflow state or identifier related to the error.",
            "example": "WF-064"
          }
        },
        "description": "Schema representing an error response for the Cash Concentration operation when a 422 status code is returned.",
        "example": {
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "1770f2e4-ef79-47cb-866d-6461ce14127c",
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-064"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-064"
        },
        "example": "WF-064"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "394fed96-a49b-41c7-ba49-82840f67db4f"
        },
        "example": "394fed96-a49b-41c7-ba49-82840f67db4f"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "479b2e84-70e0-438c-b9ce-a742513cb493"
        },
        "example": "479b2e84-70e0-438c-b9ce-a742513cb493"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-concentration-create-cash-concentration"
        },
        "example": "cash-concentration-create-cash-concentration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      },
      "X-Workflow-Id": {
        "description": "Unique identifier for the workflow, which helps to identify the specific request context during a 422 Unprocessable Entity error.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-064"
        },
        "example": "WF-064"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the cash concentration operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Cash Concentration and Notional Pooling"
        },
        "example": "Cash Concentration and Notional Pooling"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow, indicating whether it is in progress, completed, or failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the workflow execution, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "59bddea4-374b-4bd3-8408-015a7ce2b824"
        },
        "example": "59bddea4-374b-4bd3-8408-015a7ce2b824"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token formatted as JSON Web Token (JWT). Clients must include this token in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}