{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Treasury Analysis API",
    "description": "The Corporate Treasury Analysis API provides financial insights and analytics specifically tailored for corporate treasury management. It enables businesses to access and analyze their treasury activities, cash flow positions, and risk assessments. This API is typically utilized by financial analysts, treasury managers, and corporate finance teams to make informed decisions regarding cash management and funding strategies. By leveraging this API, organizations can enhance their financial planning and optimize liquidity management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury-analysis": {
      "get": {
        "tags": [
          "Treasury"
        ],
        "summary": "Retrieve Corporate Treasury Analysis",
        "description": "This endpoint allows you to access the corporate treasury analysis data, providing insights and analyses of treasury operations within corporations.",
        "operationId": "getCorporateTreasuryAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a corporate treasury analysis operation. The payload should comply with the specified schema to ensure that all required parameters for the analysis are provided correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateTreasuryAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the analysis data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateTreasuryAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateTreasuryAnalysisRequest": {
        "title": "Corporate Treasury Analysis GET Request Body",
        "type": "string",
        "description": "A JSON string representing the body of a GET request for corporate treasury analysis operations.",
        "example": "{}"
      },
      "GetCorporateTreasuryAnalysisResponse_200": {
        "title": "Corporate Treasury Analysis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of treasury items in the analysis response.",
            "example": [
              {
                "portfolioId": "PORT-472969",
                "instrumentId": "STANDARD",
                "counterpartyId": "PARTY-133752",
                "notionalAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TreasuryItem"
            }
          },
          "pagination": {
            "description": "Metadata about the pagination of the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the treasury items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the corporate treasury analysis GET operation.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-472969",
              "instrumentId": "STANDARD",
              "counterpartyId": "PARTY-133752",
              "notionalAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c4597d3b-83d5-55f9-9ad4-3b5c05931c42",
            "correlationId": "1d1cdab4-3eee-568d-839a-c244ba1e7092",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TreasuryItem": {
        "title": "Treasury Item",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "portfolio123"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "instrument456"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Unique identifier for the counterparty involved in the transaction.",
            "example": "counterparty789"
          },
          "notionalAmount": {
            "description": "The notional amount of the transaction including currency details.",
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the financial instrument.",
            "example": "2025-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Detailed information about a single treasury item.",
        "example": {
          "portfolioId": "portfolio123",
          "instrumentId": "instrument456",
          "counterpartyId": "counterparty789",
          "notionalAmount": {
            "amount": 1000000.0,
            "currency": "USD"
          },
          "maturityDate": "2025-12-31",
          "recordStatus": "active",
          "updatedAt": "2023-10-01T00:00:00Z"
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the notional value.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the notional amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents the notional amount and currency for a transaction."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the pagination.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Contains information about the pagination of results."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "abcde"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Additional information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-analysis-search-corporate-treasury-analysis"
        },
        "example": "corporate-treasury-analysis-search-corporate-treasury-analysis"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes JSON Web Tokens (JWT) for authentication. The bearer token must be included in the authorization header of requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}