{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Human Resources Direction API",
    "description": "The Human Resources Direction API facilitates the management of human resources directives within the banking sector. This API allows organizations to streamline HR processes by enabling the creation and updating of HR directives. It serves HR professionals and systems integrating HR management functionalities, enhancing decision-making and operational efficiency. Common use cases include establishing policies, managing employee relations, and aligning HR operations with organizational goals.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction": {
      "post": {
        "tags": [
          "Human Resource Management"
        ],
        "summary": "Create a new human resources direction.",
        "description": "This endpoint allows users to create a new human resources direction entry in the system. Provide the necessary details in the request body to successfully create the entry.",
        "operationId": "createHumanResourceDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update human resources direction data. It includes various fields required for managing human resources operations effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateHumanResourceDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created in the human resource management system.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateHumanResourceDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateHumanResourceDirectionRequest": {
        "title": "Human Resources Operations Request Body",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "EMP-423442"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the specific assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department where the employee works.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the changes become effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country of the employee.",
            "example": "US"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for operations in the human resources management system.",
        "example": {
          "employeeId": "EMP-423442",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "requestContext": {
            "requestId": "12765e6b-ebaf-5f39-bbe0-bdbdc470733f",
            "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
            "idempotencyKey": "d0b30a0e-b784-5534-9c39-973040e064f2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-875461"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across different systems.",
            "example": "CORR987654"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "HRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "HRMApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context information related to the request."
      },
      "Channel": {
        "title": "Request Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Schema representing information about the channel through which the request was made."
      },
      "CreateHumanResourceDirectionResponse_201": {
        "title": "Human Resource Management Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-899238"
          },
          "assignmentId": {
            "type": "string",
            "description": "The identifier for the assignment related to the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The identifier for the department that the employee is associated with.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource created.",
            "example": "RES-736433"
          },
          "status": {
            "type": "string",
            "description": "The current status of the resource.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the resource was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the operations of the Human Resource Management system upon successful creation of resources.",
        "example": {
          "employeeId": "EMP-899238",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "countryCode": "US",
          "resourceId": "RES-736433",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1e05f22b-6c49-51e6-afb8-090684c0d5ee",
            "correlationId": "a352b9eb-56e1-5ba1-8c10-f022e2776a1c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "Res123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate related requests and responses.",
            "example": "Corr123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information pertaining to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-create-human-resources-direction"
        },
        "example": "human-resources-direction-create-human-resources-direction"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication to access the API. A valid JSON Web Token (JWT) must be included in the 'Authorization' header of requests to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}