{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Payments Processing API",
    "description": "The International Payments Processing API enables businesses to initiate cross-border transactions seamlessly. This API supports various payment types, allowing companies to efficiently manage and execute international payments on behalf of their clients. Typical consumers include financial institutions, payment service providers, and e-commerce platforms looking to enhance their payment capabilities. With this API, users benefit from improved transaction speeds and reliability, ensuring timely funds transfer across different currencies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-payments": {
      "post": {
        "tags": [
          "International Payments"
        ],
        "summary": "Initiate an international payment.",
        "description": "This endpoint allows you to create a new international payment using the PISP service. Provide the necessary payment details in the request body to successfully initiate the transaction.",
        "operationId": "createInternationalPaymentPisp",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information required to initiate an international payment through the PISP service. The payload should include details such as the transaction amount, currency, payer and payee account information, along with any applicable payment identifiers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalPaymentPispRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "A new international payment resource has been created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalPaymentPispResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalPaymentPispRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/InternationalPaymentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for international payment request, encapsulating data and request context.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "207f5a31-bdfd-59a3-81da-719997306acb",
            "correlationId": "0595e6e1-7912-552e-af0d-a8099e0db2d7",
            "idempotencyKey": "a954ad5d-4e42-5f77-904e-a015656307f7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-439649"
            }
          }
        }
      },
      "InternationalPaymentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent related to this payment.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Details related to the international payment including consent and initiation information."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identification for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for tracking the payment end-to-end.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Instrument used for local payment processing.",
            "example": "string"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the payment instruction.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended description of the payment purpose.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for transaction charges.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is to be made.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the destination of the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "Information needed to initiate an international payment."
      },
      "InstructedAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency code for the instructed amount.",
            "example": "string"
          }
        },
        "description": "Amount that is instructed for the payment including its currency."
      },
      "ExchangeRateInformation": {
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "The currency unit of the exchange rate."
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied for the payment."
          },
          "RateType": {
            "type": "string",
            "description": "Type of the exchange rate (e.g. spot, forward)."
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the exchange rate contract."
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The date and time when the exchange rate expires."
          }
        },
        "description": "Information regarding the exchange rate used for the payment."
      },
      "DebtorAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme for the debtor account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification for the debtor account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identifier for the debtor account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Account information for the debtor including identification."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Identification for the proxy associated with the debtor account.",
            "example": "string"
          }
        },
        "description": "Proxy information for the debtor account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent request processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request including IDs and timestamps."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used to make the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, Web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information regarding the channel through which the request was made."
      },
      "CreateInternationalPaymentPispResponse_201": {
        "title": "International Payment Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "InternationalPaymentId": {
                "type": "string",
                "description": "Unique identifier for the international payment.",
                "example": "IP12345678"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent associated with the payment.",
                "example": "C12345678"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the payment was created.",
                "example": "2023-10-01T10:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the international payment.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-10-01T10:05:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the payment.",
                "example": [
                  {
                    "code": "STATUS_CODE",
                    "description": "Payment is pending due to additional verification.",
                    "Path": "/payments/verification"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for the execution of the payment.",
                "example": "2023-10-01T10:30:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for the settlement of the payment.",
                "example": "2023-10-05T10:30:00Z"
              },
              "Refund": {
                "$ref": "#/components/schemas/RefundDetail"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the payment.",
                "example": [
                  {
                    "ChargeBearer": "Sender",
                    "Type": "Transfer Fee",
                    "Amount": {
                      "Amount": "10.00",
                      "Currency": "USD"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "ExchangeRateInformation": {
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "$ref": "#/components/schemas/InitiationDetail"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Details of the international payment.",
            "example": {
              "InternationalPaymentId": "PAY-756283",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0
                }
              }
            }
          }
        },
        "description": "Schema representing the response for an international payment operation.",
        "example": {
          "Data": {
            "InternationalPaymentId": "PAY-756283",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0
              }
            }
          },
          "metadata": {
            "responseId": "6e5797eb-f8f5-5172-b07c-6c663c6ddfb3",
            "correlationId": "0595e6e1-7912-552e-af0d-a8099e0db2d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status."
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status."
          },
          "Path": {
            "type": "string",
            "description": "Path related to the reason for the payment status."
          }
        },
        "description": "Detail information about the reason for the payment status."
      },
      "RefundDetail": {
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/AccountDetail"
          }
        },
        "description": "Details for the refund associated with the payment."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge."
          },
          "Type": {
            "type": "string",
            "description": "Type of charge."
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge."
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge."
              }
            }
          }
        },
        "description": "Detail of a charge associated with the payment."
      },
      "InitiationDetail": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction."
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identifier for tracking the payment."
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument used for the payment."
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority level of the payment instruction."
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the payment."
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who is responsible for payment of charges."
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is made."
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "ISO code of the destination country for the payment."
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Details regarding the initiation of the international payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "Amount to be transferred."
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the instructed amount."
          }
        },
        "description": "Details of the instructed amount for the payment."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme."
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification for the account."
          },
          "Name": {
            "type": "string",
            "description": "Name associated with the account."
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification information for the account."
          }
        },
        "description": "Details of the account related to the refund."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "ID for tracking the correlation of requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Date and time when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing occurred."
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-initiate-international-payment"
        },
        "example": "payment-initiation-openapi-initiate-international-payment"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. A bearer token is a type of access token that is issued by an authorization server. The token is sent in the Authorization header of requests and is typically formatted as a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}