{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_System Deployment Management API",
    "description": "The System Deployment Management API enables users to oversee and retrieve deployment details of microservices within the banking IT infrastructure. This API provides essential endpoints for accessing deployment statuses, versions, and configurations, facilitating efficient management of system deployments. Typical consumers include IT administrators and deployment engineers responsible for maintaining system integrity and performance. By utilizing this API, organizations can streamline their deployment processes and ensure seamless integration across banking applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve system deployment details.",
        "description": "Fetches the information related to system deployments within the IT management framework, providing insights and details necessary for managing deployed systems.",
        "operationId": "getSystemDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body containing parameters to retrieve information about the system deployment within IT management. Ensure that the structure aligns with the defined schema to guarantee proper processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSystemDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the system deployment information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSystemDeploymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSystemDeploymentRequest": {
        "type": "string",
        "description": "Request body for the IT management system deployment operations GET request. This document should contain a JSON string defining the required parameters for the deployment operation.",
        "example": "{}"
      },
      "GetSystemDeploymentResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of system deployment items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "serviceTier": "STANDARD",
                "availabilityTargetPercent": 100.0,
                "maintenanceWindow": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SystemDeployment"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria used for sorting the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the GET request on system deployment operations, containing a list of system details, pagination info, sorting criteria, and response metadata.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "serviceTier": "STANDARD",
              "availabilityTargetPercent": 100.0,
              "maintenanceWindow": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d2cccdd7-3520-5e04-a567-894f1bf3504a",
            "correlationId": "cbddcb39-a87c-5f9d-9a45-768f4d4aef59",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SystemDeployment": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "example-system-id"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the system is deployed (e.g., production, staging).",
            "example": "production"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change associated with the deployment.",
            "example": "example-change-id"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the system deployment.",
            "example": "example-owner-team"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the deployment.",
            "example": "2023-10-09T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the system (e.g., basic, premium).",
            "example": "premium"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the system.",
            "example": 99.99
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "Scheduled maintenance window for the system in ISO 8601 format.",
            "example": "2023-10-09T01:00:00Z/2023-10-09T02:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the deployment record (e.g., active, inactive).",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the deployment information.",
            "example": "2023-10-08T12:00:00Z"
          }
        },
        "description": "Represents a single system deployment with relevant details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response, including the current page, page size, and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "example-response-id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests/responses.",
            "example": "example-correlation-id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-09T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response, including IDs and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-search-system-deployment"
        },
        "example": "system-deployment-search-system-deployment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which allows clients to authenticate using a JSON Web Token (JWT) in the Authorization header of their HTTP requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}