{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Direction Management API",
    "description": "The Business Unit Direction Management API enables organizations to effectively set and manage strategic directions for their business units. This API facilitates the creation, modification, and alignment of business unit objectives within the broader control framework. Companies can leverage this endpoint to ensure cohesive direction across business units, optimize resource allocation, and enhance performance monitoring. Typical consumers include business analysts and unit managers who seek to align their operations with corporate strategy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-direction": {
      "post": {
        "tags": [
          "Business Management"
        ],
        "summary": "Create a new business unit direction.",
        "description": "This endpoint allows users to create a new direction for a specific business unit, enabling better control and management of strategic objectives.",
        "operationId": "createBusinessUnitDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit business unit direction information. Please ensure that the data conforms to the required schema and includes all necessary fields for processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessUnitDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The business unit direction has been successfully created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessUnitDirectionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessUnitDirectionRequest": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "The identifier of the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "The identifier of the cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "The planning period for the business unit operations.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "The budget details for the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "The version of the forecast being used.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "The context of the request including identifiers and timestamps.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A request body schema for creating or updating a business unit direction operation.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "requestContext": {
            "requestId": "8b4656fd-276d-556f-88dd-cffcdf52e15e",
            "correlationId": "f16b45c6-803f-56b8-9628-a0f76c1638f3",
            "idempotencyKey": "498520a3-fafd-508a-aa7d-06e28056cf82",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-888658"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the budget.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the budget amount is defined.",
            "example": "string"
          }
        },
        "description": "Schema representing budget details for a business unit."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate requests between systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that sent the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that sent the request.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device through which the request is made.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request is made."
      },
      "CreateBusinessUnitDirectionResponse_201": {
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with this operation.",
            "example": "RES-428105"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the creation of a business unit direction operation.",
        "example": {
          "businessUnitId": "STANDARD",
          "resourceId": "RES-428105",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "63a55e16-6216-5b2b-925c-79183fd04b85",
            "correlationId": "f16b45c6-803f-56b8-9628-a0f76c1638f3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:01Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata information regarding the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-direction-create-business-unit-direction"
        },
        "example": "business-unit-direction-create-business-unit-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients should include the bearer token in the Authorization header for API requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}