{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payment Details API",
    "description": "The Domestic Scheduled Payment Details API provides access to detailed information about scheduled domestic payments. This endpoint allows businesses and developers to retrieve specific payment details using a unique identifier. Typical consumers of this API include financial institutions and payment solution providers who need to manage and display payment data to their users. By facilitating seamless access to payment information, this API enhances transparency and operational efficiency in payment processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments/{param1}/payment-details": {
      "get": {
        "tags": [
          "Scheduled Payments"
        ],
        "summary": "Retrieve payment details for a scheduled domestic payment.",
        "description": "This endpoint allows users to fetch detailed information about a specific scheduled domestic payment identified by its unique payment ID. It provides insights into the payment status, recipient details, and transaction history associated with the payment.",
        "operationId": "getPaymentDetailsForDomesticScheduledPayment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body to retrieve details of a domestic scheduled payment with the specified payment ID. This request should include all necessary identifiers to obtain the required payment information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForDomesticScheduledPaymentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForDomesticScheduledPaymentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForDomesticScheduledPaymentRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching payment details related to domestic scheduled payments.",
        "example": "{}"
      },
      "GetPaymentDetailsForDomesticScheduledPaymentResponse_200": {
        "title": "Payment Details Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment statuses for each transaction.",
                "items": {
                  "$ref": "#/components/schemas/PaymentStatus"
                }
              }
            },
            "description": "Data related to payment transactions.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-303947",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "Link to the current resource."
              },
              "First": {
                "type": "string",
                "description": "Link to the first page of the payment statuses."
              },
              "Prev": {
                "type": "string",
                "description": "Link to the previous page of the payment statuses."
              },
              "Next": {
                "type": "string",
                "description": "Link to the next page of the payment statuses."
              },
              "Last": {
                "type": "string",
                "description": "Link to the last page of the payment statuses."
              }
            },
            "description": "Links related to the payment details response.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource",
              "Next": "https://example.com/resource",
              "Last": "https://example.com/resource"
            }
          },
          "Meta": {
            "type": "object",
            "properties": {
              "TotalPages": {
                "type": "integer",
                "description": "Total number of pages in the response.",
                "format": "int32",
                "example": 0
              },
              "FirstAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the first payment is available."
              },
              "LastAvailableDateTime": {
                "type": "string",
                "description": "Date and time when the last payment is available."
              }
            },
            "description": "Metadata for the payment details response.",
            "example": {
              "TotalPages": 1,
              "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
              "LastAvailableDateTime": "2026-09-15T14:30:00Z"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation ID for tracking the request."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred."
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "d07343a9-2e81-590d-9ce3-82e99aa1ed01",
              "correlationId": "59490a23-5683-5ea8-986c-a4da5937217a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response object containing information about scheduled payment details.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-303947",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "d07343a9-2e81-590d-9ce3-82e99aa1ed01",
            "correlationId": "59490a23-5683-5ea8-986c-a4da5937217a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "Type of local instrument used for the payment."
              },
              "Status": {
                "type": "string",
                "description": "Detailed status of the payment."
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current status of the payment."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Description of the status reason."
              }
            },
            "description": "Detailed information about the status of the payment."
          }
        },
        "description": "Details about a payment transaction status."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-payment-details"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token formatted as JSON Web Token (JWT) for authentication. The client must include this token in the Authorization header of requests to access the secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}