{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Treasury Management API",
    "description": "The Corporate Treasury Management API enables businesses to efficiently manage their treasury operations. This endpoint allows users to submit treasury-related transactions, enhancing cash flow visibility and liquidity management. It is particularly useful for corporate treasurers and financial analysts who require timely and accurate execution of treasury processes. The API simplifies the integration of treasury functionalities into existing financial systems, ensuring more effective strategy implementation and risk management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/treasury/corporate-treasury": {
      "post": {
        "tags": [
          "Corporate Treasury"
        ],
        "summary": "Create a new corporate treasury entry",
        "description": "This endpoint allows the creation of a new corporate treasury entry in the system. Provide all necessary details in the request body to successfully create the treasury record.",
        "operationId": "createCorporateTreasury",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to perform operations related to corporate treasury management. It should contain the necessary data in a structured format, following the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateTreasuryRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new corporate treasury resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateTreasuryResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateTreasuryRequest": {
        "title": "Treasury Operations Request Body",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-898870"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-729350"
          },
          "notionalAmount": {
            "$ref": "#/components/schemas/NotionalAmount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date on which the financial instrument matures.",
            "format": "date",
            "example": 1789430400000
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for treasury operations in the corporate treasury system.",
        "example": {
          "portfolioId": "PORT-898870",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-729350",
          "notionalAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "requestContext": {
            "requestId": "6928dc30-3ae9-5c8d-8be5-2cb6943f9037",
            "correlationId": "821de735-7da2-59c5-b0a8-5b2ef0fed53c",
            "idempotencyKey": "0c0ca6aa-7344-5838-8e57-d1ab46927c7f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-555039"
            }
          }
        }
      },
      "NotionalAmount": {
        "title": "Notional Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the notional amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the notional amount, following ISO 4217.",
            "example": "USD"
          }
        },
        "description": "Schema representing the notional amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req_001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "corr_001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "idempotency_key_001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "format": "date-time",
            "example": 1672574400.0
          },
          "sourceSystem": {
            "type": "string",
            "description": "The identifier of the system that generated the request.",
            "example": "source_system_001"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The name of the application that generated the request.",
            "example": "source_app_001"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device_001"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCorporateTreasuryResponse_201": {
        "title": "Corporate Treasury Operations Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio.",
            "example": "PORT-105351"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "The unique identifier for the counterparty involved in the transaction.",
            "example": "PARTY-919900"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource associated with the operation.",
            "example": "RES-210766"
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "response-abcdef"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking related operations.",
                "example": "correlation-123456"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:05:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographical region where the processing occurred.",
                "example": "us-east-1"
              }
            },
            "description": "Additional metadata related to the operation.",
            "example": {
              "responseId": "e7a3276c-30e3-5d81-b644-fc504f9348e7",
              "correlationId": "821de735-7da2-59c5-b0a8-5b2ef0fed53c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure after a successful operation in the Corporate Treasury.",
        "example": {
          "portfolioId": "PORT-105351",
          "instrumentId": "STANDARD",
          "counterpartyId": "PARTY-919900",
          "resourceId": "RES-210766",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "e7a3276c-30e3-5d81-b644-fc504f9348e7",
            "correlationId": "821de735-7da2-59c5-b0a8-5b2ef0fed53c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called, used for tracing and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-treasury-create-corporate-treasury"
        },
        "example": "corporate-treasury-create-corporate-treasury"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request, useful for debugging and operational monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that utilizes a bearer token, typically in JSON Web Token (JWT) format. This mechanism allows users to authenticate by including the token in the HTTP Authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}