{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Financial Instrument Valuation Models API",
    "description": "The Update Financial Instrument Valuation Models API allows users to modify existing financial valuation models within the banking sector. This API is essential for financial analysts and developers who need to ensure that the models reflect the latest market conditions and regulations. By utilizing this endpoint, clients can update parameters, assumptions, or calculations associated with distinct valuation models identified by a unique parameter. It facilitates continuous improvement and accuracy in financial decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models/{param1}": {
      "patch": {
        "tags": [
          "Financial Instrument Models"
        ],
        "summary": "Update Financial Instrument Valuation Model",
        "description": "This endpoint allows you to update the details of a specific financial instrument valuation model identified by its resource ID. Provide the necessary data in the request body to modify the existing attributes as required.",
        "operationId": "updateFinancialInstrumentValuationModel_res100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the financial instrument valuation model identified by RES-100045. It contains the necessary data to modify the attributes of the existing model, ensuring that the updates are in accordance with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateFinancialInstrumentValuationModel_res100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request was successfully processed and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateFinancialInstrumentValuationModel_res100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateFinancialInstrumentValuationModel_res100045Request": {
        "title": "Financial Instrument Valuation Models Patch Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be made to the valuation model.",
            "$ref": "#/components/schemas/ValuationModelChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes take effect, in ISO 8601 format.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating financial instrument valuation models.",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-912332"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "8ef0f561-6a17-505a-ab0b-0f90fc84b5ae",
            "correlationId": "ae24791e-baf0-5ef4-a805-a69216c69708",
            "idempotencyKey": "e71062a3-514f-561a-99f8-e69bf4ba7523",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-132810"
            }
          }
        }
      },
      "ValuationModelChanges": {
        "title": "Valuation Model Changes",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the financial model to be updated.",
            "example": "model-001"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the model being updated.",
            "example": "v1.2"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the model.",
            "example": "portfolio-123"
          }
        },
        "description": "Schema representing the model-specific changes being requested."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request correlation across systems.",
            "example": "corr-456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "idempotency-key-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated, in ISO 8601 format.",
            "example": "2023-10-08T00:01:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system initiating the request.",
            "example": "internal-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application initiating the request.",
            "example": "financial-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., Web, Mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc"
          }
        },
        "description": "Schema representing the channel used for making the request."
      },
      "UpdateFinancialInstrumentValuationModel_res100045Response_200": {
        "title": "Financial Instrument Valuation Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the financial instrument valuation model.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on financial instrument valuation models. It contains details about the request status, metadata, and version.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "19c8198f-1f18-585b-ad83-a4e35c2a452b",
            "correlationId": "ae24791e-baf0-5ef4-a805-a69216c69708",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate this request with other requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint, used for tracking and referencing the specific operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-update-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-update-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the runtime application processing the request, useful for logging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer authentication scheme using JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}