{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Refund Cancellation API",
    "description": "The Refund Cancellation API enables businesses to efficiently manage and cancel pending refunds associated with transactions. This API primarily interacts with refund resources, allowing users to update the status of specific refunds identified by their unique refundId. Typical consumers include e-commerce platforms and financial services seeking to enhance their customer service capabilities. By utilizing this endpoint, developers can ensure streamlined processes for handling customer inquiries regarding refund statuses.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}/cancel": {
      "post": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Cancel a specific refund request.",
        "description": "This endpoint allows users to cancel a refund request identified by a unique reservation code. It is essential for managing refund processes and ensuring that users can retract refund requests when necessary.",
        "operationId": "cancelRefundRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to cancel a specific refund identified by its unique reference number, RES-100045. It must follow the specified schema and contain all required fields to successfully initiate the cancellation process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelRefundRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The cancellation request was successfully processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CancelRefundRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CancelRefundRes100045Request": {
        "title": "Cancel Refund Request",
        "type": "object",
        "properties": {
          "reason": {
            "type": "string",
            "description": "The reason for canceling the refund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contains context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the request body for canceling a refund operation.",
        "example": {
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "57a7f60d-d841-5887-b6a7-7a282d5cfb19",
            "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
            "idempotencyKey": "f9feb8fc-7833-5578-826b-ece83c32c2fc",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-914424"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "12345-abcde"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "67890-fghij"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "uniqueKey123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "PaymentGateway"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "RefundApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema holds the contextual information for the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The device identifier from which the request was made.",
            "example": "device-12345"
          }
        },
        "description": "This schema provides details about the channel used for the request."
      },
      "CancelRefundRes100045Response_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "Unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Identifier for the payment associated with the refund.",
            "example": "PAY-848273"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant processing the refund.",
            "example": "MER-686201"
          },
          "amount": {
            "description": "The amount being refunded.",
            "$ref": "#/components/schemas/RefundAmount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-223"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details of any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/RefundFailure"
          },
          "processorReference": {
            "description": "Reference information provided by the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Information related to the auditing of the refund.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the refund.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for refund cancellation operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-848273",
          "merchantId": "MER-686201",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-223",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-342",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-593271",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-862"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "e703f34b-e107-50e9-8430-ba900ac14b87",
            "correlationId": "d181e97f-997f-51be-8691-1184036dcdec",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RefundAmount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the amount.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "Value of the amount to be refunded.",
            "example": "string"
          }
        },
        "description": "Amount details of the refund transaction."
      },
      "RefundFailure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "Category of the failure.",
            "example": "string"
          },
          "code": {
            "type": "string",
            "description": "Specific error code associated with the failure.",
            "example": "string"
          },
          "message": {
            "type": "string",
            "description": "Message providing details about the failure.",
            "example": "string"
          },
          "declineCode": {
            "type": "string",
            "description": "Decline code related to the refund operation, if applicable.",
            "example": "string"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates if the operation can be retried.",
            "example": false
          }
        },
        "description": "Details about the failure during the refund process."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "Payment network used for the transaction.",
            "example": "string"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "Transaction identifier from the payment scheme.",
            "example": "string"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number assigned by the acquirer.",
            "example": "string"
          },
          "issuerReference": {
            "type": "string",
            "description": "Identifier for the issuer of the credit card.",
            "example": "string"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference number for retrieval requests.",
            "example": "string"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code received from the processor.",
            "example": "string"
          }
        },
        "description": "Reference information provided by the payment processor."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the refund was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the refund.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the refund was last updated.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the refund.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the refund record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the auditing of the refund."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the transaction across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Additional metadata related to the refund."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-cancel-refund"
        },
        "example": "banking-p2m-openapi-cancel-refund"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT). When using this scheme, provide a valid JWT in the 'Authorization' header of your requests for secure access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}