{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Supplier Agreements Management API",
    "description": "The Supplier Agreements Management API facilitates the creation and management of supplier agreements within the banking environment. This endpoint allows users to submit new agreements, ensuring all necessary details are captured efficiently. Use cases typically involve procurement teams and financial departments looking to streamline supplier onboarding processes and compliance management. By leveraging this API, businesses can maintain up-to-date agreements and improve supplier relationship management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/external-agency/supplier-agreements": {
      "post": {
        "tags": [
          "Supplier Management"
        ],
        "summary": "Create a new supplier agreement.",
        "description": "This operation allows the user to create a new supplier agreement for an external agency, facilitating the management of supplier relationships and contract details.",
        "operationId": "createSupplierAgreement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the details necessary for creating or updating supplier agreements with external agencies. The information provided will define the terms of the agreement and the parties involved.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSupplierAgreementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new supplier agreement.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSupplierAgreementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSupplierAgreementRequest": {
        "title": "Supplier Agreement Creation Request",
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "The unique identifier of the supplier agreement.",
            "example": "AGR-501800"
          },
          "bic": {
            "type": "string",
            "description": "The Bank Identifier Code (BIC) of the financial institution.",
            "example": "STANDARD"
          },
          "countryCode": {
            "type": "string",
            "description": "The ISO 3166-1 alpha-2 country code.",
            "example": "US"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the agreement becomes effective.",
            "example": "2026-09-15"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "The identifier for the purchase order associated with this agreement.",
            "example": "ORD-992418"
          },
          "categoryCode": {
            "type": "string",
            "description": "The category code representing the type of goods or services provided.",
            "example": "CODE-959"
          },
          "approvalLevel": {
            "type": "string",
            "description": "The level of approval required for this agreement.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request being made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating supplier agreements in an external agency operation.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-501800",
          "bic": "STANDARD",
          "countryCode": "US",
          "effectiveDate": "2026-09-15",
          "purchaseOrderId": "ORD-992418",
          "categoryCode": "CODE-959",
          "approvalLevel": "STANDARD",
          "requestContext": {
            "requestId": "2be9e7c8-c436-5956-b485-72e277c583d9",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "idempotencyKey": "4b78e7b8-dae4-52b7-8834-4ca4223b0f92",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-263617"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "req_123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate logs and requests.",
            "example": "corr_456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the idempotency of the request.",
            "example": "idempotency_key_789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "SourceSystemName"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is being made.",
            "example": "SourceApplicationName"
          },
          "channel": {
            "description": "Information about the channel used for this request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Schema representing the contextual information related to the request."
      },
      "ChannelContext": {
        "title": "Channel Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request is made.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "device_123"
          }
        },
        "description": "Schema representing the channel information associated with the request."
      },
      "CreateSupplierAgreementResponse_201": {
        "type": "object",
        "properties": {
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution.",
            "example": "STANDARD"
          },
          "agreementId": {
            "type": "string",
            "description": "Unique identifier for the agreement.",
            "example": "AGR-694888"
          },
          "countryCode": {
            "type": "string",
            "description": "ISO code representing the country.",
            "example": "US"
          },
          "purchaseOrderId": {
            "type": "string",
            "description": "Unique identifier for the purchase order.",
            "example": "ORD-809555"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource.",
            "example": "RES-887652"
          },
          "status": {
            "type": "string",
            "description": "Current status of the agreement.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp for when the agreement was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the agreement.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for supplier agreements operations.",
        "example": {
          "institutionId": "STANDARD",
          "agreementId": "AGR-694888",
          "countryCode": "US",
          "purchaseOrderId": "ORD-809555",
          "resourceId": "RES-887652",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "594e65bd-002f-55c4-9c12-3640d94a8eb6",
            "correlationId": "6480954a-9b74-56cb-be21-6220babbf7f4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the correlation of requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata for supplier agreements."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
        },
        "example": "contractor-and-supplier-agreement-create-contractor-and-supplier-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This is a Bearer authentication scheme that utilizes JSON Web Tokens (JWT). Clients must include the token in the Authorization header of the request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}