{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Payment Execution Management API",
    "description": "The Payment Execution Management API facilitates the retrieval of real-time payment execution statuses within the banking system. This API serves financial institutions and payment service providers by allowing them to monitor and manage payment transactions efficiently. Users can access vital information regarding payment processing, ensuring transparency and improving transaction management. Typical consumers include banking applications, financial dashboards, and third-party payment integration services that rely on accurate payment execution data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/payment-execution": {
      "get": {
        "tags": [],
        "summary": "Retrieve payment execution details.",
        "description": "This endpoint allows you to fetch the details of a specific payment execution based on the provided parameters. Use this to obtain information such as status, amount, and other relevant data related to the payment.",
        "operationId": "getPaymentExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to execute a payment operation. It should contain necessary parameters required for payment execution, conforming to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the current payment execution details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentExecutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentExecutionRequest": {
        "type": "string",
        "description": "The request body for the payment execution GET operation. It should contain a valid payment execution request in string format.",
        "example": "{}"
      },
      "GetPaymentExecutionResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of payment items.",
            "example": [
              {
                "paymentId": "PAY-360234",
                "debtorAccountId": "ACC-700719",
                "creditorAccountId": "ACC-605788",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "paymentRail": "STANDARD",
                "chargeBearer": "STANDARD",
                "purposeCode": "CODE-897",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting options applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful execution of payment operations. It includes payment items, pagination information, sorting options, and metadata.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-360234",
              "debtorAccountId": "ACC-700719",
              "creditorAccountId": "ACC-605788",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "paymentRail": "STANDARD",
              "chargeBearer": "STANDARD",
              "purposeCode": "CODE-897",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a4c1e9f4-c080-5910-94f8-688db6484530",
            "correlationId": "2a2c648b-ba71-5cf1-bbeb-e1368d4b0ac0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentItem": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "123456"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "debtor_123"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "creditor_456"
          },
          "instructedAmount": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The amount to be paid.",
                "example": 100.0
              },
              "currency": {
                "type": "string",
                "description": "Currency in which the amount is denominated.",
                "example": "USD"
              }
            },
            "description": "Amount details for the payment including the value and currency."
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2023-10-01"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the payment such as invoice or purpose.",
            "example": "Payment for invoice"
          },
          "paymentRail": {
            "type": "string",
            "description": "Method of payment processing used (e.g., SEPA, SWIFT).",
            "example": "SEPA"
          },
          "chargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charges (e.g., SHA, OUR, BEN).",
            "example": "SHA"
          },
          "purposeCode": {
            "type": "string",
            "description": "Code that indicates the purpose of the payment.",
            "example": "SALA"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record (e.g., COMPLETED, PENDING).",
            "example": "COMPLETED"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating the last update of the payment record.",
            "example": "2023-10-02T12:00:00Z"
          }
        },
        "description": "Represents a single payment item including details such as payment identifiers, amounts, and statuses."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response, including current page, page size, and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the response, providing additional context such as response identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint, used for tracing and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-execution-search-payment-execution"
        },
        "example": "payment-execution-search-payment-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service responsible for executing the payment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication via JSON Web Tokens (JWT). Clients must include a JWT in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}