{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Contribution Models Management API",
    "description": "The Contribution Models Management API allows businesses to modify and manage their contribution models effectively. This operation enables authorized users to update specific attributes of existing contribution models, thereby ensuring alignment with evolving business strategies. Typical consumers of this API include financial institutions and fintech applications that require dynamic adjustments to contribution structures. It empowers organizations to maintain flexibility and responsiveness in their financial offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/contribution-models/{param1}": {
      "patch": {
        "tags": [
          "Contribution Model"
        ],
        "summary": "Update a specific contribution model.",
        "description": "This endpoint allows you to update the attributes of a specific contribution model identified by its unique ID. You can modify various fields to reflect the latest information or adjustments in the model's parameters.",
        "operationId": "patchContributionModelRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the data to update the specified contribution model identified by RES-100045. The payload must conform to the structure defined in the schema to ensure a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchContributionModelRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the updated resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchContributionModelRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchContributionModelRes100045Request": {
        "title": "Patch Contribution Model Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details regarding the changes to the model.",
            "$ref": "#/components/schemas/ModelChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "Rationale for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Timestamp indicating when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the person or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching contribution model details.",
        "example": {
          "changes": {
            "modelId": "STANDARD",
            "modelVersion": "STANDARD",
            "portfolioId": "PORT-453935"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "bf7a0e97-1d85-57c8-9cf9-d9faacb81c8a",
            "correlationId": "c41cfa6f-46f3-584c-a733-3b2b606e976a",
            "idempotencyKey": "2765b0c5-4d4b-54b8-b5bb-9261e9aba153",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-425575"
            }
          }
        }
      },
      "ModelChanges": {
        "title": "Model Changes",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model being changed.",
            "example": "model-1001"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model being updated.",
            "example": "v2.0"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio associated with the model.",
            "example": "portfolio-100"
          }
        },
        "description": "Schema defining the specific changes to a model."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-1001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate multiple operations.",
            "example": "corr-2002"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent requests.",
            "example": "idempotencyKey-12345"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-15T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system from which the request originated.",
            "example": "CRMSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema containing contextual details about the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used for the request.",
            "example": "channel-3001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request (e.g., Mobile, Web).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-4002"
          }
        },
        "description": "Schema containing details about the channel of the request."
      },
      "PatchContributionModelRes100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating whether the operation was successful.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains optional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the Contribution models. This schema outlines the key information returned after a successful update.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "45d6e827-fe21-5e09-91e2-8e85540b8a43",
            "correlationId": "c41cfa6f-46f3-584c-a733-3b2b606e976a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Unique identifier for tracking the correlation of requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata object containing details associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "contribution-models-update-contribution-models"
        },
        "example": "contribution-models-update-contribution-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method based on JSON Web Tokens (JWT). Clients are required to include a valid JWT token in the Authorization header to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}