{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Location Lookup API",
    "description": "The Branch Location Lookup API enables users to access detailed information about specific branch locations in the banking network. By utilizing this endpoint, consumers can retrieve vital data related to branch infrastructure, services offered, and operational hours. Typically used by banking applications or customer service platforms, this API facilitates seamless user inquiries regarding branch accessibility. This ensures customers can find the nearest branch to meet their banking needs efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-management/{param1}": {
      "get": {
        "tags": [
          "Branch Location Management"
        ],
        "summary": "Retrieve branch location details by resource ID.",
        "description": "This endpoint allows you to fetch detailed information about a specific branch location identified by its resource ID. By using this operation, developers can integrate location-based data for further processing or display in applications.",
        "operationId": "getBranchLocationByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request to retrieve branch location details based on the specific channel. The body should adhere to the defined schema for proper operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchLocationByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchLocationByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchLocationByResourceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the specific branch location management operations. It accepts a string input.",
        "example": "{}"
      },
      "GetBranchLocationByResourceIdResponse_200": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region where the branch is located.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours of the branch, specifying when it opens and closes.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of operations the branch can handle in a day.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "Unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of branch (e.g., retail, warehouse, etc.).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the branch record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the branch record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, containing various identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on branch location management, providing details about the branch's specifications and operational parameters.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "7912a3e4-352e-5ba3-a087-653242ce46ed",
            "correlationId": "a614d5d8-7331-58b4-bc06-30dddab8a728",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Time when the branch opens, formatted as a string (e.g., HH:mm).",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Time when the branch closes, formatted as a string (e.g., HH:mm).",
            "example": "20:00"
          }
        },
        "description": "Represents the service hours for a branch."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates this request with other related requests.",
            "example": "corr-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when this metadata was generated.",
            "example": "2023-10-05T14:48:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US-WA"
          }
        },
        "description": "Contains metadata details related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This value helps in tracking and managing API requests specific to certain endpoints.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-management-get-branch-location-management"
        },
        "example": "branch-location-management-get-branch-location-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header provides insight into which application instance handled the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Use this scheme for authentication by providing a Bearer token. The token should be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}