{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Lifecycle Management API",
    "description": "The Party Lifecycle Management API provides a comprehensive solution for managing the lifecycle of parties involved in banking transactions. This API allows users to retrieve information about various entities, such as customers, partners, and other stakeholders, essential for sales and banking operations. Typical consumers include banking institutions and sales teams looking to enhance their understanding of party relationships and histories. The endpoint facilitates seamless integration with existing systems, enabling efficient data retrieval to improve decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/party-lifecycle-management": {
      "get": {
        "tags": [
          "Sales Management"
        ],
        "summary": "Retrieve the lifecycle management details of sales parties.",
        "description": "This endpoint allows developers to access comprehensive information regarding the lifecycle of parties involved in sales, including their status, history, and any relevant data associated with them. Ideal for monitoring and management processes.",
        "operationId": "getSalesPartyLifecycleManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve lifecycle management information for sales parties. The provided parameters will define the criteria for filtering and retrieving the relevant data. Ensure that the request adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesPartyLifecycleManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of party lifecycle management data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesPartyLifecycleManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesPartyLifecycleManagementRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the Operations in Party Lifecycle Management. This may include relevant parameters for querying parties.",
        "example": "{}"
      },
      "GetSalesPartyLifecycleManagementResponse_200": {
        "title": "Party Lifecycle Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of items representing the party lifecycle management details.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyLifecycleItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationDetails"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation related to the party lifecycle management, including pagination, sorting, and item details.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c2b9b21e-9ca7-522a-b3e4-771cfa4c9b39",
            "correlationId": "3685aee6-8e76-5c3d-9a3e-a764e030bddd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyLifecycleItem": {
        "title": "Party Lifecycle Item",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code of the product associated with the prospect.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made.",
            "example": "string"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager handling the prospect.",
            "example": "string"
          },
          "expectedValue": {
            "type": "object",
            "properties": {
              "amount": {
                "type": "number",
                "description": "The amount expected from the sale.",
                "example": 0.0
              },
              "currency": {
                "type": "string",
                "description": "The currency of the expected amount.",
                "example": "string"
              }
            },
            "description": "The expected value of the sale, including amount and currency."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents an individual item in the party lifecycle management."
      },
      "PaginationDetails": {
        "title": "Pagination Details",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Contains pagination information about the response data."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-lifecycle-management-search-party-lifecycle-management"
        },
        "example": "party-lifecycle-management-search-party-lifecycle-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication, specifically designed for JSON Web Tokens (JWT). When using this scheme, clients must include a valid JWT in the authorization header of their requests in order to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}