{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Workforce Contracts Retrieval API",
    "description": "The Workforce Contracts Retrieval API provides access to detailed information regarding workforce contracts within the banking sector. This API facilitates the retrieval of contract details for specific workforce-related parameters, allowing organizations to manage their human resources effectively. Typical consumers include HR administrators and workforce management systems that need to access contract information for compliance, auditing, and operational purposes. By using this API, users can streamline their contract management processes and ensure that they have up-to-date information readily available.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/workforce-contracts/{param1}": {
      "get": {
        "tags": [
          "Workforce Management"
        ],
        "summary": "Retrieve the details of a specific workforce contract.",
        "description": "This endpoint allows you to fetch the detailed information of a specific workforce contract identified by its unique ID. The data returned includes contract terms, employee details, and associated benefits.",
        "operationId": "getWorkforceContractById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving workforce contract details for a specific employee. This body must align with the expected parameters defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetWorkforceContractByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the workforce contract details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetWorkforceContractByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetWorkforceContractByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request related to workforce contracts for employee EMP-900045.",
        "example": "{}"
      },
      "GetWorkforceContractByIdResponse_200": {
        "title": "Workforce Contract Response",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier for the employee.",
            "example": "EMP-261215"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier for the assignment associated with the employee.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department where the employee is assigned.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the contract becomes effective.",
            "example": "2026-09-15"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the employee is located.",
            "example": "US"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., full-time, part-time, contract).",
            "example": "STANDARD"
          },
          "managerId": {
            "type": "string",
            "description": "The unique identifier for the manager of the employee.",
            "example": "STANDARD"
          },
          "workLocation": {
            "type": "string",
            "description": "The location where the employee performs their work.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the employee\u2019s record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the workforce contract.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "R12345"
              },
              "correlationId": {
                "type": "string",
                "description": "The identifier for tracking requests and responses.",
                "example": "C12345"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the request was processed.",
                "example": "North America"
              }
            },
            "description": "Additional metadata related to the workforce contract response.",
            "example": {
              "responseId": "75eb55f5-b71a-53bb-8eb7-c5479c145d85",
              "correlationId": "84db98e8-8925-56f1-950b-dd4b47e14943",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure for retrieving workforce contracts related to employees.",
        "example": {
          "employeeId": "EMP-261215",
          "assignmentId": "STANDARD",
          "departmentId": "STANDARD",
          "effectiveDate": "2026-09-15",
          "countryCode": "US",
          "employmentType": "STANDARD",
          "managerId": "STANDARD",
          "workLocation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "75eb55f5-b71a-53bb-8eb7-c5479c145d85",
            "correlationId": "84db98e8-8925-56f1-950b-dd4b47e14943",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, allowing tracking of usage and performance metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-and-contractor-contract-get-employee-and-contractor-contract"
        },
        "example": "employee-and-contractor-contract-get-employee-and-contractor-contract"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for executing the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Supports bearer authentication using JSON Web Tokens (JWT). Clients must include an Authorization header with the 'Bearer' scheme followed by a valid token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}