{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Insights API",
    "description": "The Operational Insights API provides mechanisms to access key operational data related to IT management within the banking sector. By utilizing this API, developers can retrieve comprehensive insights on various operational metrics and performance indicators. This endpoint is particularly beneficial for data analysts and IT managers who need to monitor and optimize system performance. It enables querying of specific parameters to facilitate informed decision-making and enhance overall operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway/{param1}": {
      "get": {
        "tags": [
          "Operational Gateway Management"
        ],
        "summary": "Retrieve operational gateway details.",
        "description": "Fetches the details of a specific operational gateway identified by its resource ID. Useful for obtaining information on the operational status and settings of the gateway.",
        "operationId": "getOperationalGatewayById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve operational gateway information specific to the RES-100045 endpoint. It should contain the necessary parameters formatted as JSON to effectively query the data you need.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalGatewayByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalGatewayByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalGatewayByIdRequest": {
        "title": "Operations GET Request Body",
        "type": "string",
        "description": "Represents the request body for the GET operation in the IT Management operational gateway's API.",
        "example": "{}"
      },
      "GetOperationalGatewayByIdResponse_200": {
        "title": "Operation Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system associated with the operation.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is executed (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with the operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the operation.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the operation.",
            "example": "2026-08-11T12:00:00Z"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier that correlates different requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The date and time when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the operation was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the operation response.",
            "example": {
              "responseId": "c981dec6-ad49-5e09-a759-95eae26de2eb",
              "correlationId": "66e1fb2b-fd41-5b81-a228-9d3ea4c6b437",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema defines the structure of the response returned by the operational gateway for a specific operation request.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c981dec6-ad49-5e09-a759-95eae26de2eb",
            "correlationId": "66e1fb2b-fd41-5b81-a228-9d3ea4c6b437",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-get-operational-gateway"
        },
        "example": "operational-gateway-get-operational-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses JSON Web Tokens (JWT) to securely transmit information between parties. The token must be included in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}