{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Transaction Retrieval API",
    "description": "This API enables users to retrieve details of specific financial transactions processed through the financial gateway. It allows consumers, such as financial institutions and payment processors, to access transaction data efficiently based on unique identifiers. This function is essential for reconciliation, auditing, and customer inquiries. By using this API, developers can integrate financial tracking features into their applications, enhancing user experiences and operational transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-gateway/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve payment details by resource ID.",
        "description": "Fetches the payment information associated with the specified resource ID from the financial gateway. This endpoint allows developers to access detailed payment data for integration with other financial services or applications.",
        "operationId": "getPaymentByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation on the financial gateway. It includes necessary parameters conforming to the defined schema for the request, allowing effective communication with the financial service.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentByResourceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the financial gateway's payments API. The expected format is a valid JSON string.",
        "example": "{}"
      },
      "GetPaymentByResourceIdResponse_200": {
        "title": "PaymentResponse",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-413558"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the debtor's account.",
            "example": "ACC-167076"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the creditor's account.",
            "example": "ACC-439290"
          },
          "instructedAmount": {
            "description": "The amount to be instructed for the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date on which the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information regarding the remittance.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the payment record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the payment record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata information related to the payment response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema representing payment details.",
        "example": {
          "paymentId": "PAY-413558",
          "debtorAccountId": "ACC-167076",
          "creditorAccountId": "ACC-439290",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c11eb3bb-0539-57f0-ad81-e5a6bc68abec",
            "correlationId": "b3acd231-9227-5c2d-9592-43aeb7eccd99",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InstructedAmount": {
        "title": "InstructedAmount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numerical value of the instructed amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the instructed amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the instructed amount and its currency."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the payment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-gateway-get-financial-gateway"
        },
        "example": "financial-gateway-get-financial-gateway"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application context in which the operation was executed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer tokens for authentication. It expects a JSON Web Token (JWT) to be provided in the authorization header of the request. The token is a means of representing claims between two parties, typically the client and the server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}