{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_File Payment Consents API",
    "description": "The File Payment Consents API facilitates the initiation of bulk file payment transactions within the open banking framework. This API enables financial institutions and payment service providers to securely create and manage payment consents required for processing multiple payments. Typical consumers include banks, fintechs, and businesses needing to streamline payment processes. By leveraging this API, users can enhance their payment workflows and ensure compliance with open banking standards.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/file-payment-consents": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Initiate a file payment consent.",
        "description": "This endpoint allows the user to create a file payment consent, which authorizes the payment service provider to process a file payment on behalf of the user. It requires specific payment details and user authorization to proceed.",
        "operationId": "createFilePaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new file payment consent for a payment initiation service provider (PISP). It includes all necessary details required for the consent, ensuring that the transaction is secure and authorized.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFilePaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Payment consent created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFilePaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFilePaymentConsentRequest": {
        "title": "File Payment Consents Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FilePaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for file payment consents operations.",
        "example": {
          "Data": {
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "1cf57982-190a-537c-ad24-54ecce0e20f8",
            "correlationId": "f47d263d-f62f-53ff-b22d-a57796976374",
            "idempotencyKey": "30832046-50d1-5210-8baf-fd5a417d089d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-986466"
            }
          }
        }
      },
      "FilePaymentConsentData": {
        "title": "File Payment Consent Data",
        "type": "object",
        "properties": {
          "Initiation": {
            "$ref": "#/components/schemas/FilePaymentInitiation"
          }
        },
        "description": "Schema containing the data for the file payment consent initiation."
      },
      "FilePaymentInitiation": {
        "title": "File Payment Initiation",
        "type": "object",
        "properties": {
          "FileType": {
            "type": "string",
            "description": "The type of the file.",
            "example": "string"
          },
          "FileHash": {
            "type": "string",
            "description": "The hash of the file.",
            "example": "string"
          },
          "FileReference": {
            "type": "string",
            "description": "A reference identifier for the file.",
            "example": "string"
          },
          "NumberOfTransactions": {
            "type": "string",
            "description": "The number of transactions included in the file.",
            "example": "string"
          },
          "ControlSum": {
            "type": "number",
            "description": "The total sum for validation.",
            "example": 0.0
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The requested date and time for execution.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used in the transaction.",
            "example": "string"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/CreditorAgent"
          }
        },
        "description": "Schema representing the details of the file payment initiation."
      },
      "CreditorAgent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Scheme name of the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details of the creditor's agent involved in the payment."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., physical, mailing).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department within the organization.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department within the organization.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Street name of the address.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Building number of the address.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number within the building.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number within the building.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number within the building.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number for mail delivery.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          }
        },
        "description": "Postal address details for the creditor agent."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system originating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The source application originating the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "CreateFilePaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons explaining the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReasonItem"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for the consent.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "items": {
                  "$ref": "#/components/schemas/ChargeItem"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "FileType": {
                    "type": "string",
                    "description": "Type of file associated with the payment.",
                    "example": "string"
                  },
                  "FileHash": {
                    "type": "string",
                    "description": "Hash of the file for integrity verification.",
                    "example": "string"
                  },
                  "FileReference": {
                    "type": "string",
                    "description": "Reference identifier for the file.",
                    "example": "string"
                  },
                  "NumberOfTransactions": {
                    "type": "string",
                    "description": "Number of transactions included in the file.",
                    "example": "string"
                  },
                  "ControlSum": {
                    "type": "number",
                    "description": "Total amount of all transactions in the file.",
                    "example": 0.0
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "Requested date and time for execution of the payment.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "Local instrument used for the payment.",
                    "example": "string"
                  },
                  "CreditorAgent": {
                    "$ref": "#/components/schemas/CreditorAgent"
                  }
                },
                "description": "Details related to the initiation of the payment."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "string"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Correlation identifier for tracing the request.",
                    "example": "string"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp for when the response was generated.",
                    "example": "string"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the payment processing occurred.",
                    "example": "string"
                  }
                },
                "description": "Metadata related to the response."
              }
            },
            "description": "Data related to the payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "FileType": "STANDARD",
                "FileHash": "STANDARD",
                "FileReference": "STANDARD",
                "NumberOfTransactions": "STANDARD",
                "ControlSum": 100.0,
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "LocalInstrument": "STANDARD",
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the POST file payment consent operation, indicating the status and metadata of the consent.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "FileType": "STANDARD",
              "FileHash": "STANDARD",
              "FileReference": "STANDARD",
              "NumberOfTransactions": "STANDARD",
              "ControlSum": 100.0,
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "LocalInstrument": "STANDARD",
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "7d0920e2-254e-55b0-aa09-78c01733acae",
            "correlationId": "f47d263d-f62f-53ff-b22d-a57796976374",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the specific reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path indicating where this reason applies.",
            "example": "string"
          }
        },
        "description": "Details regarding the status reason."
      },
      "ChargeItem": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charges.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Numeric value of the charge amount.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency code for the charge amount.",
                "example": "string"
              }
            },
            "description": "Amount associated with the charge."
          }
        },
        "description": "Details of a charge associated with a payment consent."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-file-payment-consent"
        },
        "example": "payment-initiation-openapi-create-file-payment-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a bearer authentication format where a JSON Web Token (JWT) is provided as the credentials. To access secure endpoints, the JWT must be included in the Authorization header of the HTTP request, prefixed with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}