{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Syndicated Loan Information API",
    "description": "The Syndicated Loan Information API provides access to detailed data regarding syndicated loan offerings and their statuses. Users can retrieve insights about various loan products, participation details, and related transactions. This API is beneficial for financial institutions, investors, and analysts looking to evaluate and monitor syndicated loan activities. It supports scenarios such as market analysis, loan tracking, and investment decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/syndicated-loan": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve details of syndicated loans.",
        "description": "This operation fetches detailed information about syndicated loans available in the trade banking sector. It allows developers to access valuable loan data that can be used for various financial analyses and decision-making processes.",
        "operationId": "getSyndicatedLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET request for retrieving information about syndicated loans in the trade banking service. It expects a JSON payload that adheres to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSyndicatedLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSyndicatedLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSyndicatedLoanDetailsRequest": {
        "type": "string",
        "description": "A request body for obtaining information related to syndicated loans in trade banking operations.",
        "example": "{}"
      },
      "GetSyndicatedLoanDetailsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of syndicated loan items.",
            "example": [
              {
                "corporateCustomerId": "CUST-358844",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-367128",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SyndicatedLoanItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for the syndicated loan GET operation.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-358844",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-367128",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6945bd12-7fb7-5d3e-af52-068a79b371d5",
            "correlationId": "4eb83cd4-c81a-5e97-9004-f314d89510d6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SyndicatedLoanItem": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "CUST123"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the loan facility.",
            "example": "FACILITY456"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty in the loan agreement.",
            "example": "COUNTERPARTY789"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The maturity date of the loan.",
            "example": "2025-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the loan record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the loan record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Schema representing a single syndicated loan item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Numeric value of the amount.",
            "example": 1000000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the amount, following ISO 4217.",
            "example": "USD"
          }
        },
        "description": "Schema representing the monetary amount and currency of a loan."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "correlation-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region processing the request.",
            "example": "EU"
          }
        },
        "description": "Schema representing metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being called. This value helps in tracking and identifying the specific endpoint in logs and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "syndicated-loan-search-syndicated-loan"
        },
        "example": "syndicated-loan-search-syndicated-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for processing the request. This header helps in identifying which application handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication where the client must include a JWT (JSON Web Token) in the 'Authorization' header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}