{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Standing Order Consents API",
    "description": "The Domestic Standing Order Consents API facilitates the creation of consents for initiating domestic standing orders within the Open Banking framework. This API allows authorized third-party providers to generate consent agreements on behalf of customers, ensuring compliance with legal and regulatory standards. Typical consumers include financial institutions, payment service providers, and developers constructing apps that harness standing order functionalities for their clients. By using this API, businesses can enhance their payment processing capabilities and streamline authorization workflows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-standing-order-consents": {
      "post": {
        "tags": [
          "Payment Initiation"
        ],
        "summary": "Create a domestic standing order consent.",
        "description": "This operation allows the user to create a new consent for a domestic standing order. A domestic standing order enables regular payments to be made from one bank account to another on a defined schedule.",
        "operationId": "createDomesticStandingOrderConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a domestic standing order consent with the specified parameters, which must comply with the defined schema. Ensure that all required fields are provided to facilitate successful processing of the standing order request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticStandingOrderConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created, indicating the consent for the domestic standing order.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticStandingOrderConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticStandingOrderConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/StandingOrderConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the domestic standing order consent operation.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75"
              }
            }
          },
          "requestContext": {
            "requestId": "b513a198-3379-572b-943c-aa7cded6e36f",
            "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
            "idempotencyKey": "f4ae31dc-556a-585d-9bb8-848d46857092",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-508653"
            }
          }
        }
      },
      "StandingOrderConsentData": {
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "The permission granted for this operation.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates if the refund account can be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/StandingOrderInitiation"
          }
        },
        "description": "The data associated with the standing order consent."
      },
      "StandingOrderInitiation": {
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The total number of payments to be made.",
            "example": "string"
          },
          "FirstPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          },
          "RecurringPaymentAmount": {
            "$ref": "#/components/schemas/PaymentAmount"
          }
        },
        "description": "The initiation details for the standing order."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Structured remittance information items.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittanceItem"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Information related to remittance."
      },
      "StructuredRemittanceItem": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information about referred documents.",
            "items": {
              "$ref": "#/components/schemas/DocumentInformation"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "The amount associated with the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "Information about the invoicer.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "Information about the invoicee.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Information related to tax remittance.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Additional remittance information.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "An item of structured remittance information."
      },
      "DocumentInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code associated with the document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "The document number.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "The date related to the document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Line details associated with the document.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Information regarding referred documents."
      },
      "CreditorReferenceInformation": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code of the creditor.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "The reference of the creditor.",
            "example": "string"
          }
        },
        "description": "Information related to the creditor reference."
      },
      "PaymentAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the payment.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the payment.",
            "example": "string"
          }
        },
        "description": "The amount and currency for a payment."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Contextual information associated with the request."
      },
      "ChannelInformation": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Information related to the channel of the request."
      },
      "CreateDomesticStandingOrderConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the consent was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "Active"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the consent status was last updated.",
                "example": "2023-10-02T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons associated with the current status of the consent.",
                "example": [
                  {
                    "code": "reason_code",
                    "description": "Reason description.",
                    "Path": "/some/path"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Permission": {
                "type": "string",
                "description": "Permission status for the consent.",
                "example": "Granted"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicator whether the refund account can be read.",
                "example": "Yes"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut off date and time for the standing order.",
                "example": "2023-10-03T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "example": [
                  {
                    "ChargeBearer": "Bearer",
                    "Type": "Type of charge",
                    "Amount": {
                      "Amount": "100.00",
                      "Currency": "EUR"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "type": "object",
                    "properties": {
                      "Structured": {
                        "type": "array",
                        "description": "Structured remittance information.",
                        "example": [
                          {
                            "ReferredDocumentInformation": [
                              {
                                "Code": "doc_code",
                                "Issuer": "Issuer name",
                                "Number": "12345",
                                "RelatedDate": "2023-10-01",
                                "LineDetails": [
                                  "Line detail 1",
                                  "Line detail 2"
                                ]
                              }
                            ],
                            "ReferredDocumentAmount": "150.00",
                            "CreditorReferenceInformation": {
                              "Code": "CR1234",
                              "Issuer": "Creditor Issuer",
                              "Reference": "Creditor Reference"
                            },
                            "Invoicer": "Invoicer Name",
                            "Invoicee": "Invoicee Name",
                            "TaxRemittance": "Tax Description",
                            "AdditionalRemittanceInformation": [
                              "Additional info 1",
                              "Additional info 2"
                            ]
                          }
                        ],
                        "items": {
                          "$ref": "#/components/schemas/StructuredRemittanceInformation"
                        }
                      },
                      "Unstructured": {
                        "type": "array",
                        "description": "Unstructured remittance information.",
                        "example": [
                          "This is some unstructured remittance information."
                        ],
                        "items": {
                          "type": "string"
                        }
                      }
                    },
                    "description": "Information regarding the remittance."
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments under this consent.",
                    "example": "5"
                  },
                  "FirstPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "The amount for the first payment.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the first payment amount.",
                        "example": "EUR"
                      }
                    },
                    "description": "Amount for the first payment."
                  },
                  "RecurringPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "The recurring payment amount.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the recurring payment amount.",
                        "example": "EUR"
                      }
                    },
                    "description": "Amount for recurring payments."
                  },
                  "FinalPaymentAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "The final payment amount.",
                        "example": "100.00"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency of the final payment amount.",
                        "example": "EUR"
                      }
                    },
                    "description": "Amount for the final payment."
                  }
                },
                "description": "Details for initiating the standing order."
              }
            },
            "description": "Contains details about the standing order consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "FirstPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "RecurringPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "FinalPaymentAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "response_id"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate with other events.",
                "example": "correlation_id"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-02T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place.",
                "example": "EMEA"
              }
            },
            "description": "Metadata regarding the response.",
            "example": {
              "responseId": "1ce75aae-ec52-55f4-bd57-9f19636efb63",
              "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for creating a domestic standing order consent.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "FirstPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "RecurringPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "FinalPaymentAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          },
          "metadata": {
            "responseId": "1ce75aae-ec52-55f4-bd57-9f19636efb63",
            "correlationId": "2d079454-fd99-58e9-bc18-f130ea599c06",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "SR001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Consent is active."
          },
          "Path": {
            "type": "string",
            "description": "Path referring to related details about the reason.",
            "example": "/reasons/sr001"
          }
        },
        "description": "Describes the reason for the status of the consent."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Entity responsible for the charge.",
            "example": "Payer"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Service Fee"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount charged.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charged amount.",
                "example": "EUR"
              }
            },
            "description": "Amount details for the charge."
          }
        },
        "description": "Describes charges associated with the standing order."
      },
      "StructuredRemittanceInformation": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "List of referred documents related to the remittance.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code of the referred document.",
                  "example": "doc123"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the referred document.",
                  "example": "Issuer Name"
                },
                "Number": {
                  "type": "string",
                  "description": "Document number.",
                  "example": "456789"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Date related to the referred document.",
                  "example": "2023-10-01"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Detailed line items associated with the referred document.",
                  "example": [
                    "Line detail 1",
                    "Line detail 2"
                  ],
                  "items": {
                    "type": "string"
                  }
                }
              }
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount associated with the referred document.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Code of the creditor reference.",
                "example": "CR123"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "Creditor Issuer"
              },
              "Reference": {
                "type": "string",
                "description": "The actual creditor reference.",
                "example": "Creditor Reference"
              }
            },
            "description": "Information about the creditor reference."
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the invoicer.",
            "example": "Invoicer Name"
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the invoicee.",
            "example": "Invoicee Name"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Details of the tax remittance.",
            "example": "Tax Amount"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional information about the remittance.",
            "example": [
              "Additional info 1",
              "Additional info 2"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured information regarding remittance documents."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-standing-order-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-standing-order-consent"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "An authentication scheme that uses a bearer token, typically in the form of a JSON Web Token (JWT), to validate access to the API resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}