{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Scheduled Payment Consents API",
    "description": "The International Scheduled Payment Consents API facilitates the management of user consents necessary for processing international scheduled payments. By accessing this endpoint, clients can retrieve the current status and details of a specific payment consent associated with a user. This API is essential for financial institutions and payment processors that require clear visibility into customer authorizations for future international transactions. Typical consumers include banking applications and payment service providers looking to ensure compliance with open banking regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-scheduled-payment-consents/{param1}": {
      "get": {
        "tags": [
          "Payment Management"
        ],
        "summary": "Retrieve Scheduled Payment Consent",
        "description": "This endpoint allows you to retrieve the details of a specific international scheduled payment consent identified by the provided reference ID. You can use this information to verify the status and details of the scheduled payment consent.",
        "operationId": "getInternationalScheduledPaymentConsentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the details of a specific international scheduled payment consent identified by RES-100045. This body is essential to provide the required permissions or information needed to access the consent associated with that particular reference ID.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternationalScheduledPaymentConsentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternationalScheduledPaymentConsentRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternationalScheduledPaymentConsentRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the international scheduled payment consents API. The value is expected to be a JSON string.",
        "example": "{}"
      },
      "GetInternationalScheduledPaymentConsentRes100045Response_200": {
        "title": "International Scheduled Payment Consent Response",
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "The unique identifier for the payment consent.",
                "example": "ABCD1234"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "The date and time when the consent was created.",
                "example": "2023-10-01T10:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "The current status of the consent.",
                "example": "ACTIVE"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "The date and time when the status was last updated.",
                "example": "2023-10-02T12:00:00Z"
              },
              "Permission": {
                "type": "string",
                "description": "Indicates whether the consent allows the transaction.",
                "example": "GRANTED"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicator for reading the refund account.",
                "example": "YES"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cutoff date and time for processing the payment.",
                "example": "2023-10-05T15:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time for executing the payment.",
                "example": "2023-10-06T10:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for settling the payment.",
                "example": "2023-10-07T12:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "ExchangeRateInformation": {
                "$ref": "#/components/schemas/ExchangeRateInformation"
              },
              "Initiation": {
                "$ref": "#/components/schemas/PaymentInitiation"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD",
                "ContractIdentification": "STANDARD",
                "ExpirationDateTime": "2026-09-15T14:30:00Z"
              },
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructionPriority": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ExchangeRateInformation": {
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "RateType": "STANDARD"
                }
              }
            }
          }
        },
        "description": "Schema representing the response for an international scheduled payment consent query.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "ExchangeRateInformation": {
              "UnitCurrency": "USD",
              "ExchangeRate": 100.0,
              "RateType": "STANDARD",
              "ContractIdentification": "STANDARD",
              "ExpirationDateTime": "2026-09-15T14:30:00Z"
            },
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructionPriority": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "ExchangeRateInformation": {
                "UnitCurrency": "USD",
                "ExchangeRate": 100.0,
                "RateType": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "35266243-b363-5b7d-a7eb-9e70f0703df0",
            "correlationId": "27cd13ab-651d-5c43-84d4-9343f07353e9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "REASON_CODE"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Detailed description of the reason."
          },
          "Path": {
            "type": "string",
            "description": "Path or context related to the status reason.",
            "example": "https://example.com/path"
          }
        },
        "description": "Schema representing the reason for a specific status."
      },
      "Charge": {
        "title": "Charge Details",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge (e.g., SHA, OUR, BEN).",
            "example": "SHA"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "TRANSACTION_FEE"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The numerical amount of the charge.",
                "example": "10.00"
              },
              "Currency": {
                "type": "string",
                "description": "The currency for the charge amount.",
                "example": "USD"
              }
            },
            "description": "The amount charged."
          }
        },
        "description": "Schema representing a charge associated with the payment consent."
      },
      "ExchangeRateInformation": {
        "title": "Exchange Rate Information",
        "type": "object",
        "properties": {
          "UnitCurrency": {
            "type": "string",
            "description": "Currency in which the amount is denominated.",
            "example": "EUR"
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied to the transaction.",
            "example": 1.2
          },
          "RateType": {
            "type": "string",
            "description": "Type of exchange rate (e.g., FIXED, SPOT).",
            "example": "FIXED"
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identifier for the contract providing the exchange rate.",
            "example": "CONTRACT123"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Expiration date and time of the exchange rate.",
            "example": "2023-10-10T15:00:00Z"
          }
        },
        "description": "Schema that provides details about the exchange rate used for the transaction."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation Information",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "INSTRUCTION123"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "End-to-end identification for tracking the payment.",
            "example": "E2EID123"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local payment instrument used for the transaction.",
            "example": "SEPA"
          },
          "InstructionPriority": {
            "type": "string",
            "description": "Priority of the payment instruction.",
            "example": "HIGH"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose for the payment.",
            "example": "Invoice Payment"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charge for the payment.",
            "example": "BEN"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Requested date and time for executing the payment.",
            "example": "2023-10-06T10:00:00Z"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is made.",
            "example": "GBP"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "Country code for the payment destination.",
            "example": "GB"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "ExchangeRateInformation": {
            "$ref": "#/components/schemas/ExchangeRateInformation"
          }
        },
        "description": "Schema providing details for initiating the payment."
      },
      "Amount": {
        "title": "Amount Information",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "EUR"
          }
        },
        "description": "Schema representing the amount information for the transaction."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "CORRELATION123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Time at which the response was generated.",
            "example": "2023-10-02T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing was done.",
            "example": "EU"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier of the endpoint that processes the international scheduled payment consent.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-scheduled-consent"
        },
        "example": "payment-initiation-openapi-get-international-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is responsible for handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Auth scheme that uses a Bearer token for authentication. This token is typically a JSON Web Token (JWT) that must be included in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}