{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Billing Update API",
    "description": "This API facilitates updates to customer billing information, enabling businesses to maintain accurate and up-to-date payment records. Users can modify details such as billing addresses, payment methods, and subscription statuses. Typical consumers include financial departments and customer service teams that manage client accounts. By implementing this API, organizations can enhance their billing processes and improve customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/customer-billing/{param1}": {
      "patch": {
        "tags": [
          "Customer Billing"
        ],
        "summary": "Update customer billing information.",
        "description": "This operation allows you to modify the billing information for a specific customer identified by their unique ID. Provide the necessary details in the request body to update the customer's billing records.",
        "operationId": "updateCustomerBillingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request is used to update billing information for the specified customer. The body should contain the necessary fields to modify the billing details as needed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCustomerBillingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with updated billing information.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateCustomerBillingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateCustomerBillingCUST100045Request": {
        "title": "Customer Billing Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the customer's billing information.",
            "$ref": "#/components/schemas/BillingChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes will take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the individual or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating customer billing information.",
        "example": {
          "changes": {
            "billingAccountId": "ACC-135233",
            "customerId": "CUST-686220",
            "billingPeriod": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "ede401ff-c995-5083-93e8-f71b5483e7a4",
            "correlationId": "706a8be9-8973-5632-bed5-b89ba8dc943f",
            "idempotencyKey": "64f5553a-bd0a-5ee4-9f5e-6b706f19758a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-598684"
            }
          }
        }
      },
      "BillingChanges": {
        "title": "Billing Changes",
        "type": "object",
        "properties": {
          "billingAccountId": {
            "type": "string",
            "description": "The ID of the billing account being modified.",
            "example": "BA123456"
          },
          "customerId": {
            "type": "string",
            "description": "The ID of the customer whose billing information is being changed.",
            "example": "CUST100045"
          },
          "billingPeriod": {
            "type": "string",
            "description": "The billing period that is being updated.",
            "example": "2023-10"
          }
        },
        "description": "Schema representing the specific changes to customer billing."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ12345678"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking a request through multiple systems.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system initiating the request.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing contextual information about the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the communication channel used for the request.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used, such as web, mobile, etc.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE12345"
          }
        },
        "description": "Schema representing the characteristics of the request channel."
      },
      "UpdateCustomerBillingCUST100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on customer billing, providing information about the operation status and metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "04068e08-76e0-5760-af5c-6b85058f7ce3",
            "correlationId": "706a8be9-8973-5632-bed5-b89ba8dc943f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata details associated with the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-billing-update-customer-billing"
        },
        "example": "customer-billing-update-customer-billing"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application used to handle the request, helping identify the microservice involved in processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication, which requires clients to send a JSON Web Token (JWT) as an access token in the Authorization header of requests. The token must be included in the format `Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}