{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Capture API",
    "description": "The Card Capture API facilitates the secure collection and management of card transaction data within banking applications. This API enables businesses to efficiently capture card details during transactions, ensuring compliance with industry standards. Typical consumers include financial institutions and payment processors looking to streamline their payment workflows. The API provides essential operations for initiating card captures, error handling, and transaction validation to enhance user experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-capture": {
      "post": {
        "tags": [
          "Payment Processing"
        ],
        "summary": "Capture a payment from a card.",
        "description": "This endpoint is used to capture a payment transaction that was initiated with a card. It finalizes the payment process and processes the funds accordingly. Ensure to provide the necessary transaction details in the request.",
        "operationId": "captureCard",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the card capture process. It contains the necessary data required to capture the card details securely and process the transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CaptureCardRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully and processing initiated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              },
              "x-workflow-id": {
                "$ref": "#/components/headers/x-workflow-id"
              },
              "x-workflow-name": {
                "$ref": "#/components/headers/x-workflow-name"
              },
              "x-workflow-state": {
                "$ref": "#/components/headers/x-workflow-state"
              },
              "x-workflow-execution-id": {
                "$ref": "#/components/headers/x-workflow-execution-id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptureCardResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CaptureCardRequest": {
        "title": "Card Capture Request Body",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "A unique token representing the card.",
            "example": "TOK-865569"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant processing the transaction.",
            "example": "MER-630923"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code of the merchant.",
            "example": "5411"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for capturing a card transaction.",
        "example": {
          "cardToken": "TOK-865569",
          "cardholderId": "STANDARD",
          "merchantId": "MER-630923",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "requestContext": {
            "requestId": "0dbab4e6-0c1e-583f-a1e2-aba555c71b60",
            "correlationId": "258b11f3-a294-51d1-987b-0776d81952db",
            "idempotencyKey": "7684c1ff-78e4-5442-9b84-951142acbcef",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-343348"
            }
          }
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The transaction amount.",
            "format": "int32",
            "example": 0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction amount.",
            "example": "string"
          }
        },
        "description": "The amount and currency for the transaction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracking requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system of the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CaptureCardResponse_201": {
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant involved in the transaction.",
            "example": "MER-810817"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code associated with the merchant.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the transaction resource.",
            "example": "RES-982541"
          },
          "status": {
            "type": "string",
            "description": "The current status of the card capture operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the card capture transaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the card capture transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the card capture operation, providing details about the captured card transaction.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-810817",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-982541",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9a8842d0-1ea8-5e18-a5f1-4b75ba8d2655",
            "correlationId": "258b11f3-a294-51d1-987b-0776d81952db",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_54321"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the transaction across different systems.",
            "example": "correlation_123abc"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the transaction was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the card capture transaction, containing various identifiers and timestamps."
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "bf4562b85a6f745b"
        },
        "example": "bf4562b85a6f745b"
      },
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-024"
        },
        "example": "WF-024"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "e60dbd0a-09e2-494b-91ef-e0f34afcfc40"
        },
        "example": "e60dbd0a-09e2-494b-91ef-e0f34afcfc40"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3ecf1cda-b5f4-47e0-ae82-5ae61d7da1ed"
        },
        "example": "3ecf1cda-b5f4-47e0-ae82-5ae61d7da1ed"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "The unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-capture-create-card-capture"
        },
        "example": "card-capture-create-card-capture"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      },
      "x-workflow-id": {
        "description": "The identifier for the workflow that is associated with this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-024"
        },
        "example": "WF-024"
      },
      "x-workflow-name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ATM Cash Withdrawal Authorization and Posting"
        },
        "example": "ATM Cash Withdrawal Authorization and Posting"
      },
      "x-workflow-state": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "x-workflow-execution-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3ecf1cda-b5f4-47e0-ae82-5ae61d7da1ed"
        },
        "example": "3ecf1cda-b5f4-47e0-ae82-5ae61d7da1ed"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, which requires the use of a JSON Web Token (JWT) for client authentication. When making requests, clients should include a bearer token in the authorization header.",
        "name": "Authorization",
        "in": "header",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}