{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Transaction Inquiry API",
    "description": "The Transaction Inquiry API allows consumers to access detailed transaction records for their accounts. This endpoint facilitates users in retrieving transaction data essential for financial analysis and account management. Typical consumers include banking applications and personal finance management tools that utilize this data to provide insights into spending habits. By leveraging this API, users can efficiently track their transactions in a secure and comprehensive manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/transactions": {
      "get": {
        "tags": [
          "Financial Management"
        ],
        "summary": "Retrieve AISP transactions.",
        "description": "This endpoint allows you to fetch transactions managed by the Account Information Service Provider (AISP). Users can access a complete list of their transactions for better financial tracking and management.",
        "operationId": "getAispTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of transactions. It must conform to the specified schema to ensure all necessary parameters are provided correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of transactions.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispTransactionsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on transactions, designed to retrieve transaction data. It is currently defined as a string.",
        "example": "{}"
      },
      "GetAispTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Transaction": {
                "type": "array",
                "description": "List of transactions.",
                "items": {
                  "$ref": "#/components/schemas/Transaction"
                }
              }
            },
            "description": "Contains the transaction data.",
            "example": {
              "Transaction": [
                {
                  "AccountId": "ACC-129493",
                  "id": "STANDARD",
                  "reference": "STANDARD",
                  "StatementReference": [
                    "STANDARD"
                  ],
                  "CreditDebitIndicator": "STANDARD",
                  "Status": "ACTIVE",
                  "mutability": "STANDARD",
                  "BookingDateTime": "2026-09-15T14:30:00Z",
                  "ValueDateTime": "2026-09-15T14:30:00Z",
                  "information": "STANDARD",
                  "AddressLine": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "ChargeAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "CurrencyExchange": {
                    "SourceCurrency": "USD",
                    "TargetCurrency": "USD",
                    "UnitCurrency": "USD",
                    "ExchangeRate": 100.0,
                    "ContractIdentification": "STANDARD",
                    "QuotationDate": "2026-09-15",
                    "InstructedAmount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "BankTransactionCode": {
                    "Code": "SUCCESS",
                    "SubCode": "CODE-435"
                  },
                  "code": {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD"
                  },
                  "ExtendedProprietaryBankTransactionCodes": [
                    {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Description": "Customer banking request processed successfully"
                    }
                  ],
                  "Balance": {
                    "CreditDebitIndicator": "STANDARD",
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  },
                  "MerchantDetails": {
                    "MerchantName": "Northstar Banking Service"
                  }
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing took place."
              }
            },
            "description": "Contains metadata about the response.",
            "example": {
              "responseId": "878dfdc9-9f08-5522-9b95-19f5f5b0207f",
              "correlationId": "2cb49327-94e2-59a6-bcaa-23fb2bd4a364",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "example": {
          "Data": {
            "Transaction": [
              {
                "AccountId": "ACC-129493",
                "id": "STANDARD",
                "reference": "STANDARD",
                "StatementReference": [
                  "STANDARD"
                ],
                "CreditDebitIndicator": "STANDARD",
                "Status": "ACTIVE",
                "mutability": "STANDARD",
                "BookingDateTime": "2026-09-15T14:30:00Z",
                "ValueDateTime": "2026-09-15T14:30:00Z",
                "information": "STANDARD",
                "AddressLine": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "ChargeAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "CurrencyExchange": {
                  "SourceCurrency": "USD",
                  "TargetCurrency": "USD",
                  "UnitCurrency": "USD",
                  "ExchangeRate": 100.0,
                  "ContractIdentification": "STANDARD",
                  "QuotationDate": "2026-09-15",
                  "InstructedAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "BankTransactionCode": {
                  "Code": "SUCCESS",
                  "SubCode": "CODE-435"
                },
                "code": {
                  "Code": "SUCCESS",
                  "Issuer": "STANDARD"
                },
                "ExtendedProprietaryBankTransactionCodes": [
                  {
                    "Code": "SUCCESS",
                    "Issuer": "STANDARD",
                    "Description": "Customer banking request processed successfully"
                  }
                ],
                "Balance": {
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                },
                "MerchantDetails": {
                  "MerchantName": "Northstar Banking Service"
                }
              }
            ]
          },
          "metadata": {
            "responseId": "878dfdc9-9f08-5522-9b95-19f5f5b0207f",
            "correlationId": "2cb49327-94e2-59a6-bcaa-23fb2bd4a364",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the transaction."
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction."
          },
          "reference": {
            "type": "string",
            "description": "Reference number for the transaction."
          },
          "StatementReference": {
            "type": "array",
            "description": "References related to the transaction statement.",
            "items": {
              "type": "string"
            }
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates if the transaction is a credit or debit."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the transaction."
          },
          "mutability": {
            "type": "string",
            "description": "Indicates whether the transaction can be modified."
          },
          "BookingDateTime": {
            "type": "string",
            "description": "The date and time when the transaction was booked."
          },
          "ValueDateTime": {
            "type": "string",
            "description": "The date and time when the transaction value is effective."
          },
          "information": {
            "type": "string",
            "description": "Additional information regarding the transaction."
          },
          "AddressLine": {
            "type": "string",
            "description": "Address line associated with the transaction."
          },
          "Amount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "ChargeAmount": {
            "$ref": "#/components/schemas/TransactionChargeAmount"
          },
          "CurrencyExchange": {
            "$ref": "#/components/schemas/CurrencyExchangeDetails"
          },
          "BankTransactionCode": {
            "$ref": "#/components/schemas/BankTransactionCode"
          },
          "code": {
            "$ref": "#/components/schemas/TransactionCode"
          },
          "ExtendedProprietaryBankTransactionCodes": {
            "type": "array",
            "description": "Extended bank transaction codes related to the transaction.",
            "items": {
              "$ref": "#/components/schemas/ExtendedBankTransactionCode"
            }
          },
          "Balance": {
            "$ref": "#/components/schemas/BalanceDetails"
          },
          "MerchantDetails": {
            "$ref": "#/components/schemas/MerchantDetails"
          }
        },
        "description": "Represents a financial transaction."
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of the transaction."
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the transaction is made."
          }
        },
        "description": "Details of the transaction amount."
      },
      "TransactionChargeAmount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The charge amount for the transaction."
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the charge amount."
          }
        },
        "description": "Details of any charge amount for the transaction."
      },
      "CurrencyExchangeDetails": {
        "type": "object",
        "properties": {
          "SourceCurrency": {
            "type": "string",
            "description": "The currency from which the amount is exchanged."
          },
          "TargetCurrency": {
            "type": "string",
            "description": "The currency to which the amount is exchanged."
          },
          "UnitCurrency": {
            "type": "string",
            "description": "The base currency for the exchange."
          },
          "ExchangeRate": {
            "type": "number",
            "description": "The exchange rate applied during the transaction."
          },
          "ContractIdentification": {
            "type": "string",
            "description": "Identification of the contract for currency exchange."
          },
          "QuotationDate": {
            "type": "string",
            "description": "Date when the exchange rate was quoted."
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          }
        },
        "description": "Details related to currency exchange for the transaction."
      },
      "BankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The main bank transaction code."
          },
          "SubCode": {
            "type": "string",
            "description": "The sub-code related to the bank transaction."
          }
        },
        "description": "Codes related to bank transactions."
      },
      "TransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The transaction code."
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the transaction code."
          }
        },
        "description": "Code and issuer information for a transaction."
      },
      "ExtendedBankTransactionCode": {
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code for extended bank transaction."
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the extended transaction code."
          },
          "Description": {
            "type": "string",
            "description": "Description of the extended transaction code."
          }
        },
        "description": "Extended codes for proprietary bank transactions."
      },
      "BalanceDetails": {
        "type": "object",
        "properties": {
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicator showing if the balance is a credit or debit."
          },
          "Type": {
            "type": "string",
            "description": "Type of balance (e.g., available, current)."
          },
          "Amount": {
            "$ref": "#/components/schemas/TransactionAmount"
          }
        },
        "description": "Details of the balance associated with the transaction."
      },
      "MerchantDetails": {
        "type": "object",
        "properties": {
          "MerchantName": {
            "type": "string",
            "description": "Name of the merchant associated with the transaction."
          }
        },
        "description": "Details of the merchant involved in the transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-transactions"
        },
        "example": "accounts-api-get-transactions"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes Bearer tokens, specifically JWT (JSON Web Tokens), for secure access to the API. Clients must include the token in the Authorization header for all requests that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}