{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Risk Assessment API",
    "description": "The Counterparty Risk Assessment API provides financial institutions with essential insights into the risk associated with engaging counterparties. This API enables users to retrieve in-depth assessments of potential risks linked to specific counterparties, facilitating informed decision-making in banking operations. Typical consumers include risk managers and compliance teams seeking to evaluate the creditworthiness and reliability of counterparties. By leveraging this API, organizations can effectively mitigate risks and enhance their risk management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/counterparty-risk": {
      "get": {
        "tags": [
          "CounterpartyRiskManagement"
        ],
        "summary": "Retrieve counterparty risk information.",
        "description": "This endpoint allows you to retrieve detailed information about counterparty risk. Utilize it to evaluate the financial stability and reliability of business partners effectively.",
        "operationId": "getCounterpartyRisk",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve counterparty risk details for account management. This request requires specific criteria to fetch relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCounterpartyRiskRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of counterparty risk data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCounterpartyRiskResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCounterpartyRiskRequest": {
        "type": "string",
        "description": "This schema represents the request body required for the GET operation related to counterparty risk management in account management.",
        "example": "{}"
      },
      "GetCounterpartyRiskResponse_200": {
        "title": "Counterparty Risk Operation Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account risk items.",
            "example": [
              {
                "accountId": "ACC-123020",
                "customerId": "CUST-383671",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountRiskItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Represents the response for the Counterparty Risk operation, containing a list of items and pagination information.",
        "example": {
          "items": [
            {
              "accountId": "ACC-123020",
              "customerId": "CUST-383671",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8509d52e-f054-5883-bc3d-0d2186ae5775",
            "correlationId": "c93cf97a-1f40-53ff-bbe4-39fef8a6a0c4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountRiskItem": {
        "title": "Account Risk Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer."
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry in ISO format."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the ledger balance."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance recorded in the ledger."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the record was last updated."
          }
        },
        "description": "Represents a risk item associated with an account."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Contains information for paginating the response items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-risk-search-counterparty-risk"
        },
        "example": "counterparty-risk-search-counterparty-risk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes bearer authentication with JSON Web Tokens (JWT). Clients must send the JWT in the Authorization header as a Bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}