{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Connect Components Configuration API",
    "description": "The Connect Components Configuration API enables users to configure various components within a microservices architecture. This endpoint allows developers to submit configuration settings that optimize the performance and integration of connected services. Typical use cases include setting environment variables, modifying service properties, or adjusting connection parameters for multiple components. This API is essential for teams looking to enhance the interoperability and efficiency of their systems by easily managing configurations in a centralized manner.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/configurations": {
      "post": {
        "tags": [
          "Configuration Management"
        ],
        "summary": "Create a new configuration.",
        "description": "This endpoint allows you to create a new configuration in the system by providing the necessary details in the request body. Make sure to include all required fields to successfully create a configuration.",
        "operationId": "createConfiguration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update a configuration. It requires a JSON object that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateConfigurationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateConfigurationResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateConfigurationRequest": {
        "type": "object",
        "properties": {
          "filterAccounts": {
            "type": "array",
            "description": "A list of account identifiers to filter the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual account identifier.",
              "example": "account123"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "A list of account classification types relevant to the request.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual account classification type.",
              "example": "premium"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether the account owner is required.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the operation to handle configurations.",
        "example": {
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "requestContext": {
            "requestId": "0ec924f2-1d15-5cf6-bca4-91ff0aeac959",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "idempotencyKey": "449dbfb8-2d55-5c1f-b878-2e74c456ccc7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-378918"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate multiple requests.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "idemp-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "appA"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing contextual information related to a request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "CreateConfigurationResponse_201": {
        "title": "Configuration Operation Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "A unique identifier for the configuration.",
            "example": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78"
          },
          "filterAccounts": {
            "type": "array",
            "description": "An array of account identifiers filtered based on specific criteria.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An identifier for a filtered account.",
              "example": "account-67890"
            }
          },
          "accountClassificationType": {
            "type": "array",
            "description": "An array indicating the classification types of accounts associated with this configuration.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A classification type for an account.",
              "example": "premium"
            }
          },
          "aoRequired": {
            "type": "boolean",
            "description": "Indicates whether an authorization operation is required for the configuration.",
            "example": true
          },
          "metadata": {
            "description": "Metadata associated with the configuration operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema defines the response structure for the POST operation related to configurations.",
        "example": {
          "id": "fe640ebb-cfbb-997b-3ba7-754d9e7d4f78",
          "filterAccounts": [
            "STANDARD"
          ],
          "accountClassificationType": [
            "STANDARD"
          ],
          "aoRequired": true,
          "metadata": {
            "responseId": "2552c6af-ab9f-5632-bc7d-005b48c268c9",
            "correlationId": "a8e14e7b-44d3-5ece-b677-7a4a94ce7ee0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier that correlates this response with the request that triggered it.",
            "example": "correlation-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the configuration was processed.",
            "example": "us-east-1"
          }
        },
        "description": "This schema defines the metadata structure for configuration operation responses."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-configurations"
        },
        "example": "open-finance-api-post-configurations"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token, which is typically a JSON Web Token (JWT). The token must be included in the Authorization header in order to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}