{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Tax Adjustment API",
    "description": "The Customer Tax Adjustment API allows businesses to efficiently manage adjustments to customer tax information. This endpoint supports operations such as updating existing tax details for consumers, which is critical for ensuring compliance with tax regulations. Typical users of this endpoint include financial institutions and accounting systems that need to maintain accurate records of tax data. By leveraging this API, organizations can streamline their tax handling processes, enhancing operational efficiency and accuracy.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/customer-tax-handling/{param1}": {
      "patch": {
        "tags": [
          "Customer Tax Management"
        ],
        "summary": "Update Tax Handling for Customer CUST-100045",
        "description": "This endpoint allows you to update the tax handling information for the specific customer identified by CUST-100045. Ensure that you provide the necessary tax details required for updating.",
        "operationId": "patchCustomerTaxHandlingCUST100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the tax handling information for a specific customer identified by CUST-100045. This request allows for modification of the existing tax settings, ensuring that the customer\u2019s tax-related preferences are aligned with current regulations or business requirements.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchCustomerTaxHandlingCUST100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchCustomerTaxHandlingCUST100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchCustomerTaxHandlingCUST100045Request": {
        "title": "Customer Tax Handling Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "type": "object",
            "properties": {
              "customerId": {
                "type": "string",
                "description": "Unique identifier for the customer.",
                "example": "CUST-12345"
              },
              "serviceRequestId": {
                "type": "string",
                "description": "Identifier for the service request related to this change.",
                "example": "SR-67890"
              },
              "productCode": {
                "type": "string",
                "description": "Code of the product related to the customer.",
                "example": "PROD-98765"
              }
            },
            "description": "Object containing the details of the changes to be made.",
            "example": {
              "customerId": "CUST-338446",
              "serviceRequestId": "7b85032c-d2c0-55c0-9fe5-30c6f968e0b4",
              "productCode": "CHK-PREMIUM-US"
            }
          },
          "changeReason": {
            "type": "string",
            "description": "Reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "Date and time when the change should become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ-11111"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to track the transaction across systems.",
                "example": "CORR-22222"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key to ensure that the request is idempotent.",
                "example": "IDEMP-33333"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was initiated.",
                "example": "2023-09-30T12:34:56Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Identifier for the system that generated the request.",
                "example": "SystemA"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application generating the request.",
                "example": "AppB"
              },
              "channel": {
                "type": "object",
                "properties": {
                  "channelId": {
                    "type": "string",
                    "description": "Unique identifier for the communication channel.",
                    "example": "CH-44444"
                  },
                  "channelType": {
                    "type": "string",
                    "description": "Type of the communication channel (e.g., API, Web, etc.).",
                    "example": "API"
                  },
                  "deviceId": {
                    "type": "string",
                    "description": "Identifier for the device from which the request was made.",
                    "example": "DEVICE-55555"
                  }
                },
                "description": "Information about the communication channel used for the request."
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "e12613f0-e4aa-5a90-97aa-e3c6b3dda987",
              "correlationId": "10d01d7f-3d01-5aab-954a-bc6e723eb11f",
              "idempotencyKey": "9f190b34-b05c-5cba-9f34-fe1e94987f2f",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-994332"
              }
            }
          }
        },
        "description": "Schema representing the request body for updating customer tax handling operations.",
        "example": {
          "changes": {
            "customerId": "CUST-338446",
            "serviceRequestId": "7b85032c-d2c0-55c0-9fe5-30c6f968e0b4",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e12613f0-e4aa-5a90-97aa-e3c6b3dda987",
            "correlationId": "10d01d7f-3d01-5aab-954a-bc6e723eb11f",
            "idempotencyKey": "9f190b34-b05c-5cba-9f34-fe1e94987f2f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-994332"
            }
          }
        }
      },
      "PatchCustomerTaxHandlingCUST100045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata containing additional information about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on customer tax handling. This contains metadata about the operation's outcome.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ea9fa30c-647f-5208-bdc5-8d3d90ac15e0",
            "correlationId": "10d01d7f-3d01-5aab-954a-bc6e723eb11f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "resp-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracking requests across services.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata object that contains identifiers and timestamps relevant to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-tax-handling-update-customer-tax-handling"
        },
        "example": "customer-tax-handling-update-customer-tax-handling"
      },
      "x-runtime-app": {
        "description": "The name of the application or service that handled the request, allowing for better monitoring and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication method, allowing the client to send a JSON Web Token (JWT) in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}