{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Reports Retrieval API",
    "description": "The Consumer Reports Retrieval API allows users to access specific reports related to individual consumers by their unique IDs. This API is designed to facilitate reporting and analytics for business users engaging in consumer decisioning processes. Typical consumers of this API include data analysts and business intelligence tools that require detailed insights into consumer behaviors and historical data. By using this endpoint, organizations can retrieve specific report data, enabling informed decision-making and strategic planning.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/reports/{reportId}": {
      "get": {
        "tags": [
          "Consumer Reports"
        ],
        "summary": "Retrieve reports for a specific consumer.",
        "description": "This endpoint allows you to fetch all relevant reports associated with the consumer identified by the unique ID 'RES-100045'. It provides detailed data regarding the consumer's performance and activities, facilitating better insights and decision-making.",
        "operationId": "getConsumerReportsRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving reports for a specific consumer. This body must conform to the defined schema and include necessary parameters to specify the report details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumerReportsRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the report data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumerReportsRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumerReportsRes100045Request": {
        "title": "Request Body for Operations GET Request",
        "type": "string",
        "description": "Represents the request body schema for fetching reports related to Operations.",
        "example": "{}"
      },
      "GetConsumerReportsRes100045Response_200": {
        "title": "Consumer Report Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer report.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of the customer (e.g., individual, organization).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "9791f85d-6e52-5a57-afb8-d66b8cb06c9c"
          },
          "requesterName": {
            "type": "string",
            "description": "The name of the person requesting the report.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Information about the end user associated with the consumer report.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "The date the report was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the consumer report.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes associated with the consumer report.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of report.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints applied to the report.",
            "$ref": "#/components/schemas/ReportConstraints"
          },
          "metadata": {
            "description": "Metadata associated with the consumer report.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for consumer report requests.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "9791f85d-6e52-5a57-afb8-d66b8cb06c9c",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-203903"
            ]
          },
          "metadata": {
            "responseId": "1f31431e-f4ee-5680-be6f-7dace04957b1",
            "correlationId": "110efef4-3de2-5c38-b037-393f3f19618d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP Code of the end user.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-123-4567"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "john.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website URL associated with the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the end user's details."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "Q"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP Code of the consumer.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-765-4321"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "john.doe@example.com"
          }
        },
        "description": "Schema representing detailed information about the consumer."
      },
      "ReportConstraints": {
        "title": "Report Constraints",
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Analytics report data constraints.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "array",
            "description": "List of account IDs associated with the report.",
            "example": [
              "account_id_1",
              "account_id_2"
            ],
            "items": {
              "type": "string",
              "description": "Account ID."
            }
          }
        },
        "description": "Schema representing the constraints applied to the consumer report."
      },
      "AnalyticsReportData": {
        "title": "Analytics Report Data",
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purposes.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "Array of time interval types relevant to the report.",
            "example": [
              "monthly",
              "quarterly"
            ],
            "items": {
              "type": "string",
              "description": "Time interval type."
            }
          }
        },
        "description": "Schema representing analytics report data constraints."
      },
      "Metadata": {
        "title": "Report Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the report response.",
            "example": "response_123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "correlation_456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the report was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the report was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata associated with the consumer report."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-report-by-consumer"
        },
        "example": "open-finance-api-get-report-by-consumer"
      },
      "X-Runtime-App": {
        "description": "Name of the application runtime environment that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authentication, which is commonly formatted as a JSON Web Token (JWT). The client must include the token in the Authorization header when making requests to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}