{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fiduciary Agreement Update API",
    "description": "The Fiduciary Agreement Update API facilitates the modification of existing fiduciary agreements within the banking domain. This endpoint allows for the adjustment of terms or conditions linked to a fiduciary relationship, ensuring compliance and updated alignments with client needs. Typical consumers include financial institutions and legal teams managing client agreements. By using this API, users can enhance their fiduciary agreements dynamically, maintaining accuracy and responsiveness in their banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/fiduciary-agreement/{param1}": {
      "patch": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Update a fiduciary agreement.",
        "description": "This operation allows users to update the details of a specific fiduciary agreement identified by its unique ID. It is crucial for maintaining accurate and current information regarding fiduciary agreements in the lending system.",
        "operationId": "patchFiduciaryAgreementById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the fiduciary agreement associated with the resource identified by RES-100045. Ensure that the provided data adheres to the specified schema for a successful update.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchFiduciaryAgreementByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the fiduciary agreement has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchFiduciaryAgreementByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchFiduciaryAgreementByIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Details of the changes to be made in the fiduciary agreement.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested changes.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user who requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for updating operations related to fiduciary agreements.",
        "example": {
          "changes": {
            "customerId": "CUST-950663",
            "accountId": "ACC-297561",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "f36c349c-4b72-5d75-a955-5ed667a837da",
            "correlationId": "5f5f0ed5-83ca-5010-aa29-689b37815e46",
            "idempotencyKey": "e1689e8e-c69e-5d1d-adb2-14425b739ec1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-488015"
            }
          }
        }
      },
      "Changes": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Identifier for the customer associated with the changes.",
            "example": "cust-001"
          },
          "accountId": {
            "type": "string",
            "description": "Identifier for the account associated with the changes.",
            "example": "acc-001"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product tied to the changes.",
            "example": "prod-001"
          },
          "example": {
            "type": "string",
            "description": "An example of how changes should look like.",
            "example": "Change account type from savings to checking"
          }
        },
        "description": "The changes that need to be applied to the fiduciary agreement."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple related requests.",
            "example": "corr-567890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key that ensures the operation is idempotent.",
            "example": "idempot-abc123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Core Banking System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was submitted.",
            "example": "Mobile Banking App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          },
          "example": {
            "type": "string",
            "description": "An example of the request context.",
            "example": "Request made from mobile application"
          }
        },
        "description": "Context information pertaining to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel such as Mobile, Web, API.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-123"
          },
          "example": {
            "type": "string",
            "description": "An example of channel information.",
            "example": "Channel used is Mobile"
          }
        },
        "description": "Information about the channel where the request was made."
      },
      "PatchFiduciaryAgreementByIdResponse_200": {
        "title": "Fiduciary Agreement Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the resource.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the Fiduciary Agreement operation in the deposit lending service.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d71bab86-9888-5010-a927-98cf67e9741b",
            "correlationId": "5f5f0ed5-83ca-5010-aa29-689b37815e46",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata containing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fiduciary-agreement-update-fiduciary-agreement"
        },
        "example": "fiduciary-agreement-update-fiduciary-agreement"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method that requires a JSON Web Token (JWT) for secure access to the API. Clients must include the token in the Authorization header for authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}