{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Retrieval Services API",
    "description": "The Document Retrieval Services API provides a streamlined approach for clients to access and manage banking documents efficiently. This endpoint allows users to retrieve essential documents related to their banking activities, ensuring they have quick access to important information. Typical consumers include banking institutions and third-party applications that require document retrieval functionalities. Through this API, businesses can enhance their customer service by enabling seamless document access and facilitating better financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve document services",
        "description": "This endpoint allows you to fetch available document services, providing necessary information for managing document-related tasks effectively.",
        "operationId": "getDocumentServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving document services. This body should contain the necessary parameters to query available document services effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested document services.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving document services operations.",
        "example": "{}"
      },
      "GetDocumentServicesResponse_200": {
        "title": "Document Services Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of documents returned by the service.",
            "example": [
              {
                "documentId": "DOC-714062",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The current sort order applied to the documents.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Document Services GET operation, providing a list of documents along with pagination, sorting, and metadata information.",
        "example": {
          "items": [
            {
              "documentId": "DOC-714062",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5bfb8d4c-cff7-5ca4-8293-a717c63db072",
            "correlationId": "efbe1fc2-d983-51af-a9c6-ded1af227cd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "title": "Document",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "123"
          },
          "documentType": {
            "type": "string",
            "description": "The type/category of the document.",
            "example": "invoice"
          },
          "classification": {
            "type": "string",
            "description": "The classification level of the document.",
            "example": "financial"
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention class assigned to the document.",
            "example": "archival"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier for the document owner.",
            "example": "owner123"
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file.",
            "example": "invoice_123.pdf"
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document.",
            "example": "application/pdf"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum for ensuring data integrity.",
            "example": "abcdef1234567890"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the document was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "A representation of a document with its associated attributes."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-west"
          }
        },
        "description": "Additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-search-document-services"
        },
        "example": "document-services-search-document-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Secures the API using the Bearer Authentication scheme, utilizing JSON Web Tokens (JWT) for user authentication and authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}