{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Diagnosis API",
    "description": "The Fraud Diagnosis API is designed for the assessment and identification of potential fraudulent activities within banking accounts. It leverages advanced algorithms to analyze transaction patterns and detect anomalies, ensuring the security of customer accounts. This API is typically used by financial institutions and risk management teams to enhance their fraud prevention strategies. By integrating with this API, users can automate the fraud detection process, enabling timely interventions to protect assets.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/fraud-diagnosis": {
      "get": {
        "tags": [
          "Fraud Management"
        ],
        "summary": "Retrieve Fraud Diagnosis Information",
        "description": "This endpoint allows users to retrieve detailed fraud diagnosis information related to accounts. It provides insights into fraudulent activities that may affect account integrity, helping users make informed decisions and take necessary actions.",
        "operationId": "getFraudDiagnosis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a fraud diagnosis check on a given account. The request should contain data necessary for analyzing potential fraud activities.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudDiagnosisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning fraud diagnosis information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudDiagnosisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudDiagnosisRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the fraud diagnosis API.",
        "example": "{}"
      },
      "GetFraudDiagnosisResponse_200": {
        "title": "Fraud Diagnosis Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of account fraud diagnosis items.",
            "example": [
              {
                "accountId": "ACC-957493",
                "customerId": "CUST-464007",
                "ledgerDate": "2026-09-15",
                "currency": "USD",
                "ledgerBalance": 100.0,
                "transactionId": "TXN-131247",
                "riskScore": 100.0,
                "decisionThreshold": 100.0,
                "deviceTrustLevel": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FraudDiagnosisItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the Fraud Diagnosis operation.",
        "example": {
          "items": [
            {
              "accountId": "ACC-957493",
              "customerId": "CUST-464007",
              "ledgerDate": "2026-09-15",
              "currency": "USD",
              "ledgerBalance": 100.0,
              "transactionId": "TXN-131247",
              "riskScore": 100.0,
              "decisionThreshold": 100.0,
              "deviceTrustLevel": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "a8177c55-bc9b-59f4-be99-0e57e3dcafdb",
            "correlationId": "8c2ec1ff-a0ae-5037-a931-831ec531fef1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FraudDiagnosisItem": {
        "title": "Fraud Diagnosis Item",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer."
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger entry."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account balance."
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance recorded in the ledger."
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the associated transaction."
          },
          "riskScore": {
            "type": "number",
            "description": "The risk score associated with the account."
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold for making a decision based on the risk score."
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level of the device used for the account access."
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated."
          }
        },
        "description": "Schema representing a single fraud diagnosis item."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema providing pagination details from the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-diagnosis-search-fraud-diagnosis"
        },
        "example": "fraud-diagnosis-search-fraud-diagnosis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context on its origin.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme defines a bearer authentication method using JSON Web Tokens (JWT). To access secured endpoints, clients must provide a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}