{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Action Details API",
    "description": "The Corporate Action Details API provides access to the specifics of various corporate actions related to financial securities. This endpoint allows users to retrieve detailed information about a particular corporate action by specifying a unique identifier. Typical consumers include investors, analysts, and financial institutions looking to stay informed about events such as stock splits, mergers, or dividends that may affect their holdings. The API is designed to facilitate transparency and enhance decision-making in market operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/corporate-action/{param1}": {
      "get": {
        "tags": [
          "Corporate Actions"
        ],
        "summary": "Retrieve Corporate Action details",
        "description": "This endpoint allows users to fetch the details of a specific corporate action using its unique identifier. It is essential for understanding corporate activities that may affect stockholder rights and share values.",
        "operationId": "getCorporateActionById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching corporate action details related to the specified operation. This request is used to query information about a specific corporate action within market operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateActionByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the response contains the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateActionByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateActionByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body format for the GET operation related to corporate actions. The expected input is a JSON string.",
        "example": "{}"
      },
      "GetCorporateActionByIdResponse_200": {
        "title": "Corporate Action Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date when the trade is settled.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "The number of units involved in the trade.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "The currency used for the settlement.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the securities.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record, indicating whether it is active, pending, or completed.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the corporate action record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "RESPONSE12345"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier that correlates with the request for tracking purposes.",
                "example": "CORRELATION67890"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Indicates the region where the processing took place.",
                "example": "EU"
              }
            },
            "description": "Additional metadata related to the corporate action response.",
            "example": {
              "responseId": "b71e633e-e013-5a5d-9e5d-fafed5cbccdc",
              "correlationId": "c73fd07c-09a9-594a-9490-7f0af66ed44c",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Represents the response for a corporate action operation including trade details and metadata.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b71e633e-e013-5a5d-9e5d-fafed5cbccdc",
            "correlationId": "c73fd07c-09a9-594a-9490-7f0af66ed44c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request. This value allows tracking of which endpoint handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-action-get-corporate-action"
        },
        "example": "corporate-action-get-corporate-action"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the request. This aids in identifying the source application in logs and metrics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, typically formatted as a JSON Web Token (JWT). It must be included in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}