{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Campaign Execution API",
    "description": "The Customer Campaign Execution API facilitates the retrieval of data regarding customer-driven marketing initiatives within the banking sector. This endpoint allows businesses to access insights and outcomes of various campaigns executed to enhance customer engagement and drive sales. Typical consumers of this API include marketing analysts and sales teams who seek to evaluate the effectiveness of their campaigns and optimize future strategies. By leveraging this API, organizations can make informed decisions based on real-time campaign performance data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/customer-campaign-execution": {
      "get": {
        "tags": [
          "Sales Operations"
        ],
        "summary": "Retrieve customer campaign execution details",
        "description": "This endpoint allows you to retrieve detailed information about the execution of customer campaigns, including campaign metrics and execution statuses.",
        "operationId": "getCustomerCampaignExecution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to execute a customer campaign. It is expected to contain relevant data in JSON format that specifies the details of the campaign to be executed.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCampaignExecutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of customer campaign execution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCampaignExecutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCampaignExecutionRequest": {
        "type": "string",
        "description": "A string representation of the request body for the GET operation related to customer campaign execution.",
        "example": "{}"
      },
      "GetCustomerCampaignExecutionResponse_200": {
        "title": "Customer Campaign Execution Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of customer campaign execution items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "campaignObjective": "STANDARD",
                "controlGroupPercent": 1,
                "contactFrequencyCap": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCampaignExecutionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response of the customer campaign execution operation.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "campaignObjective": "STANDARD",
              "controlGroupPercent": 1,
              "contactFrequencyCap": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "87640f3e-1a23-59c2-acba-c7c808d49013",
            "correlationId": "7491d45c-8691-5772-bc11-dcfe74e03507",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCampaignExecutionItem": {
        "title": "Customer Campaign Execution Item",
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "prospect-001"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the campaign.",
            "example": "product-001"
          },
          "salesChannel": {
            "type": "string",
            "description": "The channel through which the sale is made.",
            "example": "online"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager overseeing the campaign.",
            "example": "manager-001"
          },
          "expectedValue": {
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "campaignObjective": {
            "type": "string",
            "description": "Objective of the campaign.",
            "example": "Increase sales"
          },
          "controlGroupPercent": {
            "type": "integer",
            "description": "Percentage of participants in the control group.",
            "format": "int32",
            "example": 20
          },
          "contactFrequencyCap": {
            "type": "integer",
            "description": "Limit on the frequency of contacts for the campaign.",
            "format": "int32",
            "example": 5
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the record.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual customer campaign execution item.",
        "example": {
          "prospectId": "prospect-001",
          "productCode": "product-001",
          "salesChannel": "online",
          "relationshipManagerId": "manager-001",
          "expectedValue": {
            "amount": 1000.0,
            "currency": "USD"
          },
          "campaignObjective": "Increase sales",
          "controlGroupPercent": 20,
          "contactFrequencyCap": 5,
          "recordStatus": "active",
          "updatedAt": "2023-01-01T00:00:00Z"
        }
      },
      "ExpectedValue": {
        "title": "Expected Value",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount of the expected value.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the expected amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the expected value associated with a customer campaign."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request/response correlation.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema representing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-campaign-execution-search-customer-campaign-execution"
        },
        "example": "customer-campaign-execution-search-customer-campaign-execution"
      },
      "X-Runtime-App": {
        "description": "The version of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer authentication method to access the API. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests. The JWT must be issued by the authentication server and should contain necessary claims to authorize access to the requested resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}