{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_User Types Analytics Reporting API",
    "description": "The User Types Analytics Reporting API enables businesses to submit detailed user type analytics for customer accounts. By posting user type data for specific customers, organizations can enhance their decision-making processes and gain insights into user behaviors and patterns. This API is ideal for financial institutions, marketing teams, or any organizations needing to analyze customer types for reporting and strategic planning. It allows for seamless integration of user analytics into existing systems to drive better customer engagement and tailored services.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/reports/balance-analytics/usertypes/{usertypeId}": {
      "post": {
        "tags": [
          "Balance Analytics"
        ],
        "summary": "Create User Type Balance Analytics Report",
        "description": "This endpoint allows the creation of a User Type Balance Analytics Report for a specific customer. It receives data that outlines the balance analytics for the specified user type and stores it in the system.",
        "operationId": "createBalanceAnalyticsUserTypeForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit user type data for balance analytics reports of a specific customer. It expects a JSON payload that adheres to the defined schema for processing and analysis.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBalanceAnalyticsUserTypeForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBalanceAnalyticsUserTypeForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBalanceAnalyticsUserTypeForCustomerRequest": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "description": "Data containing the specifics of the analytics report.",
            "$ref": "#/components/schemas/AnalyticsReportData"
          },
          "accountIds": {
            "type": "string",
            "description": "Comma-separated list of account identifiers for which the report is generated.",
            "example": "ACC-652352"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields that provide additional context for the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the report, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request to assist in processing.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for generating balance analytics reports.",
        "example": {
          "analyticsReportData": {
            "forCraPurpose": true,
            "applicantIsPersonalGuarantor": true,
            "timeIntervalTypes": [
              "STANDARD"
            ]
          },
          "accountIds": "ACC-652352",
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "fromDate": 1,
          "requestContext": {
            "requestId": "68cfb040-8402-58ec-aa35-84a8dce3f2c8",
            "correlationId": "356d5f5d-d2d4-547c-ab29-34858248c81c",
            "idempotencyKey": "5a2cfa2d-92e9-5496-b5f6-3832f04f08b1",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-151726"
            }
          }
        }
      },
      "AnalyticsReportData": {
        "type": "object",
        "properties": {
          "forCraPurpose": {
            "type": "boolean",
            "description": "Indicates if the report is for CRA purpose.",
            "example": false
          },
          "applicantIsPersonalGuarantor": {
            "type": "boolean",
            "description": "Indicates if the applicant is a personal guarantor.",
            "example": false
          },
          "timeIntervalTypes": {
            "type": "array",
            "description": "List of time interval types applicable for the report.",
            "items": {
              "type": "string",
              "description": "A string representation of a time interval type.",
              "example": "string"
            }
          }
        },
        "description": "Contains the parameters for analytics report generation."
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label for the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value associated with the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "Represent custom fields used in the report."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to initiate the request.",
            "example": "string"
          }
        },
        "description": "Represents the channel through which the request was made."
      },
      "CreateBalanceAnalyticsUserTypeForCustomerResponse_202": {
        "title": "Balance Analytics User Types Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the record.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "cc704557-7360-5f6b-ba58-afca925a8ac0"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person making the request.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details of the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date the record was created, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the record.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of the record.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints related to the record.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for balance analytics user types.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "cc704557-7360-5f6b-ba58-afca925a8ac0",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "analyticsReportData": {
              "forCraPurpose": true,
              "applicantIsPersonalGuarantor": true,
              "timeIntervalTypes": [
                "STANDARD"
              ]
            },
            "accountIds": [
              "ACC-183562"
            ]
          },
          "metadata": {
            "responseId": "3d87af10-55f8-53ea-ac92-5a4ad40e916a",
            "correlationId": "356d5f5d-d2d4-547c-ab29-34858248c81c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "CA"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-123-4567"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "john.doe@example.com"
          },
          "url": {
            "type": "string",
            "description": "Website or URL related to the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Represents the end user's information."
      },
      "ConsumerDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "CUST-100045"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "Jane"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Othertown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "NY"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "54321"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-987-6543"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "jane.doe@example.com"
          }
        },
        "description": "Details about the consumer."
      },
      "Constraints": {
        "type": "object",
        "properties": {
          "analyticsReportData": {
            "type": "object",
            "properties": {
              "forCraPurpose": {
                "type": "boolean",
                "description": "Indicates if the report is for CRA purposes.",
                "example": false
              },
              "applicantIsPersonalGuarantor": {
                "type": "boolean",
                "description": "Indicates if the applicant is a personal guarantor.",
                "example": false
              },
              "timeIntervalTypes": {
                "type": "array",
                "description": "List of time interval types relevant for analysis.",
                "items": {
                  "type": "string",
                  "example": "monthly"
                }
              }
            },
            "description": "Analytics report data constraints."
          },
          "accountIds": {
            "type": "array",
            "description": "List of account identifiers associated with the constraints.",
            "items": {
              "type": "string",
              "example": "ACC-1001"
            }
          }
        },
        "description": "Constraints related to the record."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RES-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "CORR-100045"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when response was generated.",
            "example": "2023-10-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, used for tracking and analytics purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-balance-analytics-report"
        },
        "example": "open-finance-api-generate-balance-analytics-report"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method where the client must send the JWT (JSON Web Token) in the Authorization header of the request. The token should be formatted as 'Bearer {token}' to allow the server to validate access to the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}