{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Currency Distribution API",
    "description": "The Branch Currency Distribution API provides essential data on the distribution of various currencies across different bank branches. It allows users to access detailed information about available currency types and their respective allocations in specific branches. This API is particularly useful for financial institutions, currency exchange services, and businesses that require insights into currency availability for planning and operations. Developers can leverage this resource to enhance user experiences in banking applications and optimize currency management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-currency-distribution": {
      "get": {
        "tags": [
          "Branch Currency Management"
        ],
        "summary": "Retrieve branch currency distribution",
        "description": "Fetches the currency distribution across branches for a specific channel, providing insights into the financial handling within the business.",
        "operationId": "getBranchCurrencyDistribution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the currency distribution specific to a branch within a channel. This body supports querying and specifying parameters that are crucial for the operation's execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchCurrencyDistributionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested branch currency distribution data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchCurrencyDistributionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchCurrencyDistributionRequest": {
        "type": "string",
        "description": "The request body for the GET operation regarding branch currency distribution for a specific channel. This is expected to be included in the application/json format.",
        "example": "{}"
      },
      "GetBranchCurrencyDistributionResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of branch currency distribution items.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/BranchCurrencyDistributionItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a GET operation on channel-specific branch currency distribution.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "7b053968-e9be-5a56-b7d1-7cb6d8c79b01",
            "correlationId": "78f8a675-3250-511a-8f9b-4f9e5baa7ad0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BranchCurrencyDistributionItem": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "regionCode": {
            "type": "string",
            "description": "Code representing the region.",
            "example": "string"
          },
          "serviceWindow": {
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "Capacity of the branch per day.",
            "format": "int32",
            "example": 0
          },
          "branchId": {
            "type": "string",
            "description": "Identifier for the branch.",
            "example": "string"
          },
          "branchType": {
            "type": "string",
            "description": "Type of the branch.",
            "example": "string"
          },
          "timeZone": {
            "type": "string",
            "description": "Time zone of the branch.",
            "example": "string"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update.",
            "example": "string"
          }
        },
        "description": "Schema representing an individual branch currency distribution item."
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the service window.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the service window.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the operating hours of a branch service window."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through different services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "Schema containing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-currency-distribution-search-branch-currency-distribution"
        },
        "example": "branch-currency-distribution-search-branch-currency-distribution"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens that conform to the JWT (JSON Web Token) format. This security scheme is commonly used for API access control and requires a valid token to be provided in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}