{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Details API",
    "description": "The Customer Account Details API provides access to detailed information about a specific account associated with a customer. By utilizing this endpoint, developers can retrieve comprehensive data regarding account status, transactions, and associated services. This is particularly useful for financial service providers, customer support teams, and account management applications seeking to enhance user experience through immediate access to account specifics. Typical use cases include monitoring account health, troubleshooting issues, and providing personalized customer support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve details for a specific customer account.",
        "description": "This operation allows you to access the detailed information of a specific account belonging to a customer identified by the customer ID. It provides all relevant account data necessary for further processing or review.",
        "operationId": "getCustomerAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve specific account information for a customer. It allows the client to specify any necessary parameters or filters relevant to the account being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the account details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerAccountDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching account operations of a specific customer and account.",
        "example": "{}"
      },
      "GetCustomerAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "STANDARD"
          },
          "number": {
            "type": "string",
            "description": "The account number.",
            "example": "STANDARD"
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display format of the account number.",
            "example": "STANDARD"
          },
          "realAccountNumberLast4": {
            "type": "string",
            "description": "The last four digits of the real account number.",
            "example": "STANDARD"
          },
          "name": {
            "type": "string",
            "description": "The name of the account.",
            "example": "Northstar Banking Service"
          },
          "balance": {
            "type": "number",
            "description": "The current balance of the account.",
            "example": 100.0
          },
          "type": {
            "type": "string",
            "description": "The type of the account (e.g., savings, checking).",
            "example": "STANDARD"
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The status code of the aggregation process.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the account.",
            "example": "ACTIVE"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the account.",
            "example": "CUST-799284"
          },
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the institution holding the account.",
            "example": "STANDARD"
          },
          "balanceDate": {
            "type": "integer",
            "description": "The date corresponding to the balance amount.",
            "format": "int32",
            "example": 1
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "The date when the aggregation was successful.",
            "format": "int32",
            "example": 1
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "The date when the aggregation was attempted.",
            "format": "int32",
            "example": 1
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the account was created.",
            "format": "int32",
            "example": 1
          },
          "lastUpdatedDate": {
            "type": "integer",
            "description": "The date when the account was last updated.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment to which the account belongs.",
            "example": "STANDARD"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account balance.",
            "example": "USD"
          },
          "lastTransactionDate": {
            "type": "integer",
            "description": "The date of the last transaction on the account.",
            "format": "int32",
            "example": 1
          },
          "oldestTransactionDate": {
            "type": "integer",
            "description": "The date of the oldest transaction on the account.",
            "format": "int32",
            "example": 1
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "The login ID for the institution managing the account.",
            "format": "int32",
            "example": 1
          },
          "detail": {
            "description": "Detailed information about the account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Metadata about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response for retrieving account details for a specific customer.",
        "example": {
          "id": "STANDARD",
          "number": "STANDARD",
          "accountNumberDisplay": "STANDARD",
          "realAccountNumberLast4": "STANDARD",
          "name": "Northstar Banking Service",
          "balance": 100.0,
          "type": "STANDARD",
          "aggregationStatusCode": 1,
          "status": "ACTIVE",
          "customerId": "CUST-799284",
          "institutionId": "STANDARD",
          "balanceDate": 1,
          "aggregationSuccessDate": 1,
          "aggregationAttemptDate": 1,
          "createdDate": 1,
          "lastUpdatedDate": 1,
          "marketSegment": "STANDARD",
          "currency": "USD",
          "lastTransactionDate": 1,
          "oldestTransactionDate": 1,
          "institutionLoginId": 1,
          "detail": {
            "dateAsOf": 1,
            "availableBalanceAmount": 100.0,
            "openDate": 1,
            "periodStartDate": 1,
            "periodEndDate": 1,
            "periodInterestRate": 100.0,
            "periodDepositAmount": 100.0,
            "periodInterestAmount": 100.0,
            "interestYtdAmount": 100.0,
            "interestPriorYtdAmount": 100.0,
            "maturityDate": 1,
            "interestRate": "STANDARD",
            "creditAvailableAmount": 100.0,
            "creditMaxAmount": 100.0
          },
          "metadata": {
            "responseId": "d619f4db-4115-5189-9a59-76e2bda9696d",
            "correlationId": "4236390d-f2b8-54ab-9d70-f6e1bdd0a0b9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "dateAsOf": {
            "type": "integer",
            "description": "The date when the balance information is valid.",
            "format": "int32",
            "example": 1633024800
          },
          "availableBalanceAmount": {
            "type": "number",
            "description": "The available balance amount for the account.",
            "example": 1000.0
          },
          "openDate": {
            "type": "integer",
            "description": "The date when the account was opened.",
            "format": "int32",
            "example": 1609459200
          },
          "periodStartDate": {
            "type": "integer",
            "description": "The start date of the current reporting period.",
            "format": "int32",
            "example": 1633024800
          },
          "periodEndDate": {
            "type": "integer",
            "description": "The end date of the current reporting period.",
            "format": "int32",
            "example": 1633024800
          },
          "periodInterestRate": {
            "type": "number",
            "description": "The interest rate for the current reporting period.",
            "example": 0.02
          },
          "periodDepositAmount": {
            "type": "number",
            "description": "The total amount deposited during the current reporting period.",
            "example": 500.0
          },
          "periodInterestAmount": {
            "type": "number",
            "description": "The interest amount accrued during the current reporting period.",
            "example": 1.0
          },
          "interestYtdAmount": {
            "type": "number",
            "description": "The total interest earned year-to-date.",
            "example": 5.0
          },
          "interestPriorYtdAmount": {
            "type": "number",
            "description": "The total interest earned in the previous year-to-date.",
            "example": 4.0
          },
          "maturityDate": {
            "type": "integer",
            "description": "The date when the account matures, applicable for time deposits.",
            "format": "int32",
            "example": 1640995200
          },
          "interestRate": {
            "type": "string",
            "description": "The current interest rate being applied to the account.",
            "example": "2%"
          },
          "creditAvailableAmount": {
            "type": "number",
            "description": "The amount of available credit on the account.",
            "example": 100.0
          },
          "creditMaxAmount": {
            "type": "number",
            "description": "The maximum credit limit available on the account.",
            "example": 500.0
          }
        },
        "description": "Detailed information about an account, including balance and transaction details."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID that correlates multiple requests and responses.",
            "example": "CORR-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata regarding the response returned by the API."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-account"
        },
        "example": "open-finance-api-get-customer-account"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, which is commonly used with JSON Web Tokens (JWT). A valid token must be included in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}