{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Order Retrieval API",
    "description": "The Market Order Retrieval API enables users to access detailed information about market orders within our wholesale trading platform. This endpoint serves as a vital resource for traders, brokers, and financial analysts who need to monitor and analyze market order activity. Users can retrieve order status, details, and historical data for enhanced decision-making processes. Typical use cases include performance tracking, compliance reporting, and market analysis.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order": {
      "get": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Retrieve Market Order Information",
        "description": "Fetches details about market orders in the wholesale trading system, allowing users to view current orders, their status, and related information.",
        "operationId": "getMarketOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch market order details in the wholesale trading system. The consumer must provide details as specified in the schema to successfully retrieve the desired information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOrderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of market order data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOrderResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOrderRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on market orders within the wholesale trading context.",
        "example": "{}"
      },
      "GetMarketOrderResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of market order items.",
            "example": [
              {
                "tradingBookId": "STANDARD",
                "instrumentId": "STANDARD",
                "side": "STANDARD",
                "quantity": 1,
                "limitPrice": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "orderType": "STANDARD",
                "timeInForce": "STANDARD",
                "venue": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketOrderItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order for the market orders.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving market order operations.",
        "example": {
          "items": [
            {
              "tradingBookId": "STANDARD",
              "instrumentId": "STANDARD",
              "side": "STANDARD",
              "quantity": 1,
              "limitPrice": {
                "value": 100.0,
                "currency": "USD"
              },
              "orderType": "STANDARD",
              "timeInForce": "STANDARD",
              "venue": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "41d39fd9-0164-555a-ad11-690e16c6b5ba",
            "correlationId": "98fa7929-f209-57e9-96f2-b3eb670c4292",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketOrderItem": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "tradingBook123"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "instrument456"
          },
          "side": {
            "type": "string",
            "description": "The side of the order (buy/sell).",
            "example": "buy"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being ordered.",
            "format": "int32",
            "example": 100
          },
          "limitPrice": {
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "The type of the order (e.g., market, limit).",
            "example": "limit"
          },
          "timeInForce": {
            "type": "string",
            "description": "The duration for which the order is valid.",
            "example": "GTC"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue for the order.",
            "example": "NASDAQ"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the order record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the order was last updated.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing a single market order item."
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The price limit of the order.",
            "example": 150.25
          },
          "currency": {
            "type": "string",
            "description": "Currency of the price limit.",
            "example": "USD"
          }
        },
        "description": "Schema representing the limit price structure."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the request."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request and response.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the market order request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-search-market-order"
        },
        "example": "market-order-search-market-order"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request and generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization, encoded as a JSON Web Token (JWT). The client must include this token in the `Authorization` header of requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}