{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Trust Services API",
    "description": "The Corporate Trust Services API provides access to a suite of functionalities designed to manage corporate trust operations effectively. Users can retrieve detailed information regarding specific corporate trust services and track their statuses. This API serves financial institutions and corporate clients looking to streamline their trust services management, ensuring compliance and operational efficiency. Typical use cases include monitoring trust transactions and accessing service updates, making it a crucial tool for professionals in the banking sector.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services/{param1}": {
      "get": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Retrieve corporate trust service details by ID.",
        "description": "Fetches comprehensive details about a specific corporate trust service identified by its ID. Utilize this endpoint to access relevant information and insights regarding the service, helping stakeholders make informed decisions.",
        "operationId": "getCorporateTrustServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information specific to the corporate trust services associated with the identifier RES-100045. Ensure that any necessary parameters are included in the request to obtain the relevant data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateTrustServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the expected resource data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateTrustServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateTrustServiceByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body content for the GET operation in the corporate trust services consumer services. It accepts a string input.",
        "example": "{}"
      },
      "GetCorporateTrustServiceByIdResponse_200": {
        "title": "Corporate Trust Service Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-767575"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "26eee27a-8944-5298-87ab-dad78b0be356"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "Details of the amount involved in the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service was requested.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a corporate trust service request.",
        "example": {
          "customerId": "CUST-767575",
          "serviceRequestId": "26eee27a-8944-5298-87ab-dad78b0be356",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "0dd3e16a-a2b6-56e0-a99d-218d1799ed0d",
            "correlationId": "86e652c0-590e-53e4-bf0b-a6ab4e3fa7e5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount Details",
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numerical value of the amount.",
            "format": "int32",
            "example": 1000
          },
          "currency": {
            "type": "string",
            "description": "The currency code of the amount.",
            "example": "USD"
          }
        },
        "description": "Details of the monetary amount including value and currency."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating multiple requests and responses.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata associated with the response for tracking and information purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracing the request in logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-get-corporate-trust-services"
        },
        "example": "corporate-trust-services-get-corporate-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that processed the request, helping in monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a token in the form of a JSON Web Token (JWT) to authenticate users for secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}