{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Architecture Lookup API",
    "description": "The Enterprise Architecture Lookup API facilitates access to essential business direction data within enterprise systems. It provides insights into the structural and strategic components of an organization's architecture, enabling stakeholders to make informed decisions. Typical consumers of this API include business analysts, system architects, and product managers seeking to analyze or align their initiatives with core business objectives. The service empowers organizations to understand and optimize their enterprise architecture framework effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-direction/enterprise-architecture": {
      "get": {
        "tags": [
          "Business Direction"
        ],
        "summary": "Retrieve enterprise architecture details.",
        "description": "This endpoint allows users to access the detailed information regarding the enterprise architecture, thereby facilitating better decision-making and strategic alignment within the organization.",
        "operationId": "getEnterpriseArchitecture",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the enterprise architecture details related to business direction. It must contain the relevant identifiers and parameters necessary for fetching the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseArchitectureRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the enterprise architecture data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseArchitectureResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseArchitectureRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to enterprise architecture in the context of business direction operations.",
        "example": "{}"
      },
      "GetEnterpriseArchitectureResponse_200": {
        "title": "Enterprise Architecture Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of initiative objects.",
            "example": [
              {
                "initiativeId": "STANDARD",
                "sponsorId": "STANDARD",
                "planningHorizon": "STANDARD",
                "targetDate": "2026-09-15",
                "status": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Initiative"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sort order for the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the Enterprise Architecture Operations GET request, which includes a list of items, pagination details, sorting information, and metadata.",
        "example": {
          "items": [
            {
              "initiativeId": "STANDARD",
              "sponsorId": "STANDARD",
              "planningHorizon": "STANDARD",
              "targetDate": "2026-09-15",
              "status": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "c0a2e9af-3fc4-5797-b301-88ac45179b34",
            "correlationId": "b40b522f-094c-55d3-a874-4a02f370e10e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Initiative": {
        "title": "Initiative",
        "type": "object",
        "properties": {
          "initiativeId": {
            "type": "string",
            "description": "The unique identifier for the initiative.",
            "example": "initiatives/1"
          },
          "sponsorId": {
            "type": "string",
            "description": "The identifier for the sponsor of the initiative.",
            "example": "sponsor/1"
          },
          "planningHorizon": {
            "type": "string",
            "description": "The planning horizon for the initiative.",
            "example": "2023-2025"
          },
          "targetDate": {
            "type": "string",
            "description": "The target completion date for the initiative.",
            "example": "2023-12-31"
          },
          "status": {
            "type": "string",
            "description": "Current status of the initiative (e.g., active, completed, etc.).",
            "example": "active"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., valid, invalid).",
            "example": "valid"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the initiative was last updated.",
            "example": "2023-10-10T10:00:00Z"
          }
        },
        "description": "This schema represents an initiative, which includes its identifiers, planning details, status, and last update information."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "This schema represents pagination information for the response, including current page number, page size, and total items count."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response-1"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing related requests across systems.",
            "example": "correlation-1"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing was performed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema provides additional information about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint used in the request, which helps in tracking and logging the specific endpoint accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-architecture-search-enterprise-architecture"
        },
        "example": "enterprise-architecture-search-enterprise-architecture"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request, providing context about the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication scheme, whereby the client must include a JWT (JSON Web Token) in the Authorization header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}