{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Compliance Status API",
    "description": "The Compliance Status API provides real-time insights into the adherence of banking guidelines. This endpoint allows users to retrieve the current compliance status associated with various banking operations. Typical consumers include compliance officers and financial analysts who need to ensure regulatory standards are met. By utilizing this API, organizations can monitor compliance effectively and make informed decisions to align with industry regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/guideline-compliance/status": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve the compliance status of guidelines.",
        "description": "This endpoint allows you to obtain the current compliance status for specific guidelines. It can be used to track whether the guidelines are being followed or require attention.",
        "operationId": "getGuidelineComplianceStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain the compliance status of the guideline. It allows the client to specify parameters and any relevant information necessary to retrieve the current compliance status effectively.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetGuidelineComplianceStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the current guideline compliance status.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetGuidelineComplianceStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetGuidelineComplianceStatusRequest": {
        "type": "string",
        "description": "Represents the compliance status as a string value.",
        "example": "{}"
      },
      "GetGuidelineComplianceStatusResponse_200": {
        "title": "Compliance Status Response",
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "A unique identifier for the submission.",
            "example": "STANDARD"
          },
          "legalEntityId": {
            "type": "string",
            "description": "The ID of the legal entity associated with the submission.",
            "example": "STANDARD"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction under which the compliance is being reported.",
            "example": "STANDARD"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The period for which the compliance report is relevant.",
            "example": "STANDARD"
          },
          "regulation": {
            "type": "string",
            "description": "The specific regulation that the compliance relates to.",
            "example": "STANDARD"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for the compliance submission.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the compliance record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the compliance record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the compliance record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "A unique identifier for the response.",
                "example": "resp_456"
              },
              "correlationId": {
                "type": "string",
                "description": "An ID used to correlate requests and responses.",
                "example": "corr_789"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "2023-03-02T12:00:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the compliance request was processed.",
                "example": "US-West"
              }
            },
            "description": "Additional metadata associated with the compliance submission.",
            "example": {
              "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
              "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for compliance status retrieval.",
        "example": {
          "submissionId": "STANDARD",
          "legalEntityId": "STANDARD",
          "jurisdiction": "STANDARD",
          "reportingPeriod": "STANDARD",
          "regulation": "STANDARD",
          "dueDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "57621392-e206-5c20-88a6-abfb0581589f",
            "correlationId": "d238a4af-abe8-5bfe-ac6f-7dfaafe9ec3a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that is being accessed, which can be useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "guideline-compliance-get-guideline-compliance"
        },
        "example": "guideline-compliance-get-guideline-compliance"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, providing context on which application was involved in handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients must include a JSON Web Token (JWT) in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}