{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Analysis Submission API",
    "description": "The Market Analysis Submission API allows businesses to initiate and submit detailed market analysis reports. This endpoint is essential for financial institutions and analysts aiming to conduct thorough assessments of market trends and opportunities. By leveraging this API, users can efficiently contribute critical insights related to market conditions, thereby enhancing decision-making processes. Typical consumers include market researchers, data analysts, and business development teams seeking to improve their strategic planning efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-analysis/analyses": {
      "post": {
        "tags": [
          "Market Analysis"
        ],
        "summary": "Create a new market analysis.",
        "description": "This endpoint allows users to create a new market analysis by submitting relevant data. The resulting analysis can provide valuable insights into market trends and dynamics to inform business decisions.",
        "operationId": "createMarketAnalysis",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a new market analysis operation. It includes the relevant data that will be used to perform the analysis and generate insights. Ensure that all fields are filled correctly to process the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMarketAnalysisRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateMarketAnalysisResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateMarketAnalysisRequest": {
        "title": "Market Analysis Request Body",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "Unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "Identifier for the market segment.",
            "example": "STANDARD"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the analysis period in ISO 8601 format.",
            "example": "2026-08-11"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used as the base for the analysis.",
            "example": "USD"
          },
          "scenario": {
            "type": "string",
            "description": "Description of the analysis scenario.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body to create a new market analysis operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "periodStart": "2026-08-11",
          "periodEnd": "2026-08-11",
          "baseCurrency": "USD",
          "scenario": "STANDARD",
          "requestContext": {
            "requestId": "1f893ed9-c2a9-54d5-8958-bb976954e008",
            "correlationId": "b3099d4b-f0b8-57a1-ac23-bf9c7a62d84b",
            "idempotencyKey": "a6a60c45-afef-5ab3-8a63-f2667f1bd8dd",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-714751"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req_abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across multiple systems.",
            "example": "corr_def456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to identify a request for idempotency checks.",
            "example": "idemp_key_7890"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "WebApp"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information relevant to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel.",
            "example": "device_1234"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "CreateMarketAnalysisResponse_200": {
        "title": "Market Analysis Response",
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "A unique identifier for the analysis.",
            "example": "STANDARD"
          },
          "segmentId": {
            "type": "string",
            "description": "A unique identifier for the market segment being analyzed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the analysis.",
            "example": "ACTIVE"
          },
          "completedAt": {
            "type": "string",
            "description": "The timestamp when the analysis was completed.",
            "example": "2026-09-15T14:30:00Z"
          },
          "findings": {
            "type": "array",
            "description": "A list of findings from the analysis metrics.",
            "example": [
              {
                "metric": "STANDARD",
                "value": 100.0,
                "unit": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AnalysisFinding"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/AnalysisMetadata"
          }
        },
        "description": "This schema represents the response of a market analysis operation.",
        "example": {
          "analysisId": "STANDARD",
          "segmentId": "STANDARD",
          "status": "ACTIVE",
          "completedAt": "2026-09-15T14:30:00Z",
          "findings": [
            {
              "metric": "STANDARD",
              "value": 100.0,
              "unit": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "09a2c3cd-8335-5985-9982-42d38972a440",
            "correlationId": "b3099d4b-f0b8-57a1-ac23-bf9c7a62d84b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AnalysisFinding": {
        "title": "Analysis Finding",
        "type": "object",
        "properties": {
          "metric": {
            "type": "string",
            "description": "The name of the metric being reported.",
            "example": "string"
          },
          "value": {
            "type": "number",
            "description": "The numerical value of the metric.",
            "example": 0.0
          },
          "unit": {
            "type": "string",
            "description": "The unit of measurement for the metric.",
            "example": "string"
          }
        },
        "description": "Represents a single finding from the analysis containing metrics."
      },
      "AnalysisMetadata": {
        "title": "Analysis Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that handles the request. This identifier can be used for tracking and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-analysis-analyze-market-analysis"
        },
        "example": "market-analysis-analyze-market-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header provides context about the application environment and its version.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme requires a Bearer Token as a means of authentication. The expected format for the bearer token is JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}