{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Merchant Details API",
    "description": "The Update Merchant Details API allows businesses to modify the information of specific merchants within their ecosystem. Utilizing this endpoint, service providers can update various attributes such as contact information, payment options, or operational details of a merchant by specifying the merchant's unique identifier. This functionality is especially valuable for businesses aiming to maintain accurate and up-to-date merchant profiles, enhancing customer experience and operational efficiency. Common consumers of this API include merchant management systems and financial service platforms that handle merchant interactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/merchants/{merchantId}": {
      "patch": {
        "tags": [
          "Merchant Management"
        ],
        "summary": "Update Merchant Details",
        "description": "This endpoint allows you to update the details of a specific merchant identified by their unique ID. You can modify various attributes of the merchant's profile, ensuring that the information is up to date.",
        "operationId": "updateMerchantMer800045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the merchant identified by the unique identifier MER-800045. It accepts JSON formatted data to modify specific attributes of the merchant's profile.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMerchantMer800045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMerchantMer800045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMerchantMer800045Request": {
        "type": "object",
        "properties": {
          "tradingName": {
            "type": "string",
            "description": "The trading name of the merchant.",
            "example": "Northstar Banking Service"
          },
          "contact": {
            "description": "Contact information for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "capabilities": {
            "description": "Capabilities of the merchant regarding payment processing.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms applicable to the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating merchant operations.",
        "example": {
          "tradingName": "Northstar Banking Service",
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              },
              "minimumFee": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "requestContext": {
            "requestId": "57f6bde0-7453-54f2-bb64-abdaaf8dd301",
            "correlationId": "e903631c-2e68-5916-ae8b-a3562d79d160",
            "idempotencyKey": "1f34ee33-b746-516c-87b8-0559f36c1386",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-126637"
            }
          }
        }
      },
      "Contact": {
        "title": "Contact Details",
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "description": "Contact email of the merchant.",
            "example": "contact@abccorp.com"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number of the merchant.",
            "example": "+1234567890"
          },
          "website": {
            "type": "string",
            "description": "Website URL of the merchant.",
            "example": "http://www.abccorp.com"
          }
        },
        "description": "Schema representing contact details for the merchant."
      },
      "Capabilities": {
        "title": "Merchant Capabilities",
        "type": "object",
        "properties": {
          "channels": {
            "type": "array",
            "description": "List of channels supported by the merchant.",
            "items": {
              "type": "string",
              "example": "online"
            }
          },
          "paymentMethods": {
            "type": "array",
            "description": "List of payment methods supported by the merchant.",
            "items": {
              "type": "string",
              "example": "credit_card"
            }
          },
          "supportsPartialCapture": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial capture of payments.",
            "example": true
          },
          "supportsPartialRefund": {
            "type": "boolean",
            "description": "Indicates if the merchant supports partial refunds.",
            "example": true
          },
          "supportsTips": {
            "type": "boolean",
            "description": "Indicates if the merchant supports tips.",
            "example": false
          },
          "supportsSplitPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports split payments.",
            "example": false
          },
          "supportsRecurringPayments": {
            "type": "boolean",
            "description": "Indicates if the merchant supports recurring payments.",
            "example": false
          },
          "maximumTipPercentage": {
            "type": "string",
            "description": "The maximum tip percentage allowed by the merchant.",
            "example": "15%"
          }
        },
        "description": "Schema defining various capabilities available to the merchant."
      },
      "CommercialTerms": {
        "title": "Commercial Terms",
        "type": "object",
        "properties": {
          "pricingPlanId": {
            "type": "string",
            "description": "Identifier for the pricing plan.",
            "example": "PLAN123"
          },
          "feeBearer": {
            "type": "string",
            "description": "Indicates who bears the fees.",
            "example": "merchant"
          },
          "paymentFee": {
            "description": "Schema representing the payment fee structure.",
            "$ref": "#/components/schemas/PaymentFee"
          }
        },
        "description": "Schema representing the commercial terms agreed with the merchant."
      },
      "PaymentFee": {
        "title": "Payment Fee Structure",
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of the payment fee.",
            "example": "percentage"
          },
          "percentage": {
            "type": "string",
            "description": "Percentage fee charged.",
            "example": "2.5%"
          },
          "fixedAmount": {
            "description": "Fixed amount fee charged.",
            "$ref": "#/components/schemas/FixedAmount"
          }
        },
        "description": "Schema for the details of payment fees associated with the merchant."
      },
      "FixedAmount": {
        "title": "Fixed Amount Fee",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the fixed amount fee.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The fixed amount value.",
            "example": "5.00"
          }
        },
        "description": "Schema representing fixed amount fees."
      },
      "MinimumFee": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency in which the minimum fee is specified.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The minimum fee value.",
            "example": "string"
          }
        },
        "description": "Details of the minimum fee associated with the payment process."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency among requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System where the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application initiating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Channel information associated with the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual details related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device being used.",
            "example": "string"
          }
        },
        "description": "Information about the channel through which the request is made."
      },
      "UpdateMerchantMer800045Response_200": {
        "title": "Merchant Update Response",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-504004"
          },
          "business": {
            "description": "Business details associated with the merchant.",
            "$ref": "#/components/schemas/Business"
          },
          "registeredAddress": {
            "description": "The registered address of the merchant.",
            "$ref": "#/components/schemas/RegisteredAddress"
          },
          "contact": {
            "description": "Contact details for the merchant.",
            "$ref": "#/components/schemas/Contact"
          },
          "status": {
            "type": "string",
            "description": "Current status of the merchant.",
            "example": "ACTIVE"
          },
          "kybStatus": {
            "type": "string",
            "description": "Know Your Business (KYB) status.",
            "example": "ACTIVE"
          },
          "amlStatus": {
            "type": "string",
            "description": "Anti-Money Laundering (AML) status.",
            "example": "ACTIVE"
          },
          "capabilities": {
            "description": "Capabilities available to the merchant.",
            "$ref": "#/components/schemas/Capabilities"
          },
          "commercialTerms": {
            "description": "Commercial terms associated with the merchant.",
            "$ref": "#/components/schemas/CommercialTerms"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the update operations of a merchant.",
        "example": {
          "merchantId": "MER-504004",
          "business": {
            "legalName": "Olivia Bennett",
            "tradingName": "Northstar Banking Service",
            "registrationNumber": "NY-4587219",
            "taxIdentificationNumber": "STANDARD",
            "incorporationCountry": "STANDARD",
            "incorporationDate": "2026-09-15",
            "merchantType": "STANDARD",
            "merchantCategoryCode": "5411"
          },
          "registeredAddress": {
            "line1": "350 Fifth Avenue",
            "line2": "Suite 4200",
            "city": "New York",
            "stateOrProvince": "STANDARD",
            "postalCode": "10001",
            "country": "STANDARD"
          },
          "contact": {
            "email": "olivia.bennett@northstar.example",
            "phone": "+1-212-555-0147",
            "website": "https://example.com/resource"
          },
          "status": "ACTIVE",
          "kybStatus": "ACTIVE",
          "amlStatus": "ACTIVE",
          "capabilities": {
            "channels": [
              "STANDARD"
            ],
            "paymentMethods": [
              "STANDARD"
            ],
            "supportsPartialCapture": true,
            "supportsPartialRefund": true,
            "supportsTips": true,
            "supportsSplitPayments": true,
            "supportsRecurringPayments": true,
            "maximumTipPercentage": "STANDARD"
          },
          "commercialTerms": {
            "pricingPlanId": "STANDARD",
            "feeBearer": "STANDARD",
            "paymentFee": {
              "type": "STANDARD",
              "percentage": "STANDARD",
              "fixedAmount": {
                "currency": "USD",
                "value": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "5504d5ca-3ca3-5b4d-bebe-63b6c1cad617",
            "correlationId": "e903631c-2e68-5916-ae8b-a3562d79d160",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Business": {
        "title": "Business Details",
        "type": "object",
        "properties": {
          "legalName": {
            "type": "string",
            "description": "The legal name of the business.",
            "example": "ABC Corp"
          },
          "tradingName": {
            "type": "string",
            "description": "The trading name of the business.",
            "example": "ABC Trading"
          },
          "registrationNumber": {
            "type": "string",
            "description": "The business registration number.",
            "example": "REG123456"
          },
          "taxIdentificationNumber": {
            "type": "string",
            "description": "Tax Identification Number for the business.",
            "example": "TIN123456"
          },
          "incorporationCountry": {
            "type": "string",
            "description": "The country where the business is incorporated.",
            "example": "US"
          },
          "incorporationDate": {
            "type": "string",
            "description": "The incorporation date of the business.",
            "example": "2020-01-01"
          },
          "merchantType": {
            "type": "string",
            "description": "Type of the merchant.",
            "example": "retail"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant Category Code (MCC).",
            "example": "5812"
          }
        },
        "description": "Schema representing business details of a merchant."
      },
      "RegisteredAddress": {
        "title": "Registered Address",
        "type": "object",
        "properties": {
          "line1": {
            "type": "string",
            "description": "First line of the address.",
            "example": "123 Elm St"
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address.",
            "example": "Suite 100"
          },
          "city": {
            "type": "string",
            "description": "City where the merchant is located.",
            "example": "Springfield"
          },
          "stateOrProvince": {
            "type": "string",
            "description": "State or province where the merchant is located.",
            "example": "IL"
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the registered address.",
            "example": "62701"
          },
          "country": {
            "type": "string",
            "description": "Country of the registered address.",
            "example": "US"
          }
        },
        "description": "Schema representing the registered address of a merchant."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking.",
            "example": "correl_123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "NA"
          }
        },
        "description": "Schema representing metadata information in the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-update-merchant"
        },
        "example": "banking-p2m-openapi-update-merchant"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) to authenticate users. The client must provide a valid JWT token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}