{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Applicants API",
    "description": "The Loan Application Applicants API enables users to retrieve detailed information about specific applicants associated with a loan application. By providing a loan application's unique identifier alongside an applicant's ID, users can access crucial data, such as applicant profiles, documentation status, and application progress. This API is particularly valuable for lending institutions, financial analysts, and customer service representatives who need to quickly access applicant information to support decision-making processes. Streamlining access to applicant data enhances operational efficiency and customer service in the loan application process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "get": {
        "tags": [
          "Loan Application"
        ],
        "summary": "Retrieve applicant details for a specific loan application.",
        "description": "This endpoint allows you to fetch the detailed information about the applicant associated with a specific loan application identified by RES-100045. Use this to verify applicant data and process loan applications efficiently.",
        "operationId": "getLoanApplicationApplicantRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving information about a specific loan applicant. The body contains the necessary data required for the GET request in a structured format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanApplicationApplicantRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the applicant's information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanApplicationApplicantRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanApplicationApplicantRES100045Request": {
        "type": "string",
        "description": "A JSON string representing the request body for the loan applications applicants endpoint. This contains all necessary information related to the applicants as per the application processing requirements.",
        "example": "{}"
      },
      "GetLoanApplicationApplicantRES100045Response_200": {
        "title": "Loan Applicant",
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application process.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-333632"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary loan applicant.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details about the applicant's income.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The applicant's monthly financial obligations.",
            "$ref": "#/components/schemas/Money"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredAsset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/DeclaredLiability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "017ce84e-8284-6492-11f6-04ed53c39c49"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "The status of the applicant with the credit bureau.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit details for the applicant record.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata related to the applicant record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents information about a loan applicant in the loan application system.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-333632",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "017ce84e-8284-6492-11f6-04ed53c39c49",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "f3e39bbf-586f-58be-a609-54bb86f70f8b",
            "correlationId": "f3e4e570-a952-5b59-9828-6694038b82ef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Income": {
        "title": "Income",
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., Full-time, Part-time, Self-employed).",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the applicant's employer.",
            "example": "ACME Corporation"
          },
          "occupation": {
            "type": "string",
            "description": "The occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The date when the applicant started their current employment.",
            "example": "2020-01-01"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Registration number for the business if self-employed.",
            "example": "BRN123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "description": "Any other monthly income sources declared by the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "verificationStatus": {
            "type": "string",
            "description": "The verification status of the applicant's income.",
            "example": "Verified"
          }
        },
        "description": "Details about the applicant's income."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "5000"
          }
        },
        "description": "Represents an amount of money with a currency."
      },
      "DeclaredAsset": {
        "title": "Declared Asset",
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "The type of asset (e.g., Property, Vehicle).",
            "example": "Property"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "House in downtown."
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details of an asset declared by the applicant."
      },
      "DeclaredLiability": {
        "title": "Declared Liability",
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "The type of liability (e.g., Loan, Credit Card).",
            "example": "Mortgage"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender for the liability.",
            "example": "Bank of America"
          },
          "outstandingBalance": {
            "description": "Outstanding balance of the liability.",
            "$ref": "#/components/schemas/Money"
          },
          "monthlyPayment": {
            "description": "Monthly payment for the liability.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Details of a liability declared by the applicant."
      },
      "AuditDetails": {
        "title": "Audit Details",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Date and time when the record was created.",
            "example": "2021-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the record was last updated.",
            "example": "2022-01-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Tracks the audit information for record changes."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the record was generated.",
            "example": "2021-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Meta information related to the applicant record."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-get-applicant"
        },
        "example": "banking-loans-openapi-get-applicant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication, typically implemented using JSON Web Tokens (JWT). Users must include a valid JWT token in the 'Authorization' header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}