{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Case Management API",
    "description": "The Customer Case Management API facilitates the creation and management of customer interactions and cases within the banking system. This API allows service representatives to efficiently log, track, and resolve customer issues or inquiries, enhancing customer satisfaction and operational efficiency. Common use cases include submitting a new case, updating status, and documenting interactions for future reference. It serves as an essential tool for customer service applications, enabling teams to deliver high-quality support.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case-management": {
      "post": {
        "tags": [
          "Customer Service"
        ],
        "summary": "Create a new customer case",
        "description": "This endpoint allows the user to create a new customer case in the system. It accepts necessary details related to the case and processes the request to store the information accordingly.",
        "operationId": "createCustomerCase",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or manage customer cases in the servicing system. Provide the necessary details about the customer case in JSON format as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerCaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource successfully created. The creation details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerCaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerCaseRequest": {
        "title": "Customer Case Management Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-492902"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case being managed.",
            "example": "CASE-564335"
          },
          "requestCategory": {
            "type": "string",
            "description": "The category of the request.",
            "example": "STANDARD"
          },
          "priority": {
            "type": "string",
            "description": "The priority level of the case.",
            "example": "NORMAL"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the request originated.",
            "example": "STANDARD"
          },
          "caseReason": {
            "type": "string",
            "description": "The reason for opening the case.",
            "example": "STANDARD"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "The timestamp by which the service level agreement should be met.",
            "example": "2026-08-11T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "The customer's preferred method of contact.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for creating or managing a customer case in the case management system.",
        "example": {
          "customerId": "CUST-492902",
          "caseId": "CASE-564335",
          "requestCategory": "STANDARD",
          "priority": "NORMAL",
          "originatingChannel": "STANDARD",
          "caseReason": "STANDARD",
          "serviceLevelDueAt": "2026-08-11T12:00:00Z",
          "customerContactPreference": "STANDARD",
          "requestContext": {
            "requestId": "0775e1f4-e9d4-585f-a5eb-cf0c777a4642",
            "correlationId": "24d76ec2-3ad0-54f8-a2dd-80eb0f2d367a",
            "idempotencyKey": "740857f6-ddfb-5a05-a1ae-b4d5e9dbbef5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-288835"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ-00001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "CORR-ABCD1234"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure the request is idempotent.",
            "example": "IDEMPOTENT-KEY-56789"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-15T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Customer Portal"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information related to a specific request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel.",
            "example": "Mobile App"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "DEVICE-XYZ"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateCustomerCaseResponse_201": {
        "title": "Customer Case Management Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-769253"
          },
          "caseId": {
            "type": "string",
            "description": "The unique identifier for the case associated with the customer.",
            "example": "CASE-591109"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier of the resource associated with the case.",
            "example": "RES-888286"
          },
          "status": {
            "type": "string",
            "description": "The current status of the case.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The date and time when the case was created, formatted in ISO 8601.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response returned upon successful creation of a customer case.",
        "example": {
          "customerId": "CUST-769253",
          "caseId": "CASE-591109",
          "resourceId": "RES-888286",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1b6bdd40-d077-514f-ab07-1648f691fad8",
            "correlationId": "24d76ec2-3ad0-54f8-a2dd-80eb0f2d367a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to trace the request across systems.",
            "example": "correlation-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated, formatted in ISO 8601.",
            "example": "2023-10-01T00:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata information for the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "de4dfc9e-c472-4808-af92-3ecf29311b35"
        },
        "example": "de4dfc9e-c472-4808-af92-3ecf29311b35"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "5"
        },
        "example": "5"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8150dc75-5a97-490d-8444-51aef4288f8b"
        },
        "example": "8150dc75-5a97-490d-8444-51aef4288f8b"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called to process the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-case-management-create-customer-case-management"
        },
        "example": "customer-case-management-create-customer-case-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application handling the request. This provides context about where the request was processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the specific workflow process that was executed as part of the request. This helps in tracking and auditing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-080"
        },
        "example": "WF-080"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Product Launch Pricing and Channel Deployment"
        },
        "example": "Product Launch Pricing and Channel Deployment"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8150dc75-5a97-490d-8444-51aef4288f8b"
        },
        "example": "8150dc75-5a97-490d-8444-51aef4288f8b"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, which relies on a token provided in the Authorization header. The token should be a JSON Web Token (JWT) to authenticate users or applications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}