{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trader Position Operations Status API",
    "description": "The Trader Position Operations Status API provides real-time insights into the status of trader positions within wholesale trading operations. This API allows users to query the current state of various trading activities, enabling efficient monitoring and decision-making. Typical consumers include traders, trading analysts, and financial managers who require up-to-date information to evaluate performance and risk. The API supports retrieving comprehensive details regarding individual or bulk trader positions, facilitating streamlined operations within banking environments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trader-position-operations/status": {
      "get": {
        "tags": [
          "Trader Operations"
        ],
        "summary": "Retrieve Trader Position Operation Status",
        "description": "Fetch the current status of the trader position operations within wholesale trading. This endpoint provides insights into the current operational state of trader positions, allowing users to monitor and manage trading activities effectively.",
        "operationId": "getTraderPositionOperationStatus",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the status of trader position operations within the wholesale trading context. It specifies the criteria necessary to perform the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTraderPositionOperationStatusRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, and the trader position status is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTraderPositionOperationStatusResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTraderPositionOperationStatusRequest": {
        "title": "Trader Position Operations Status",
        "type": "string",
        "description": "This schema represents the status for trader position operations in a wholesale trading context.",
        "example": "{}"
      },
      "GetTraderPositionOperationStatusResponse_200": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the instrument being traded.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade (e.g., 'buy' or 'sell').",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument being traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the trade operation.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., 'active', 'inactive').",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the trading record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the trading record.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the status of trader position operations in the trading book.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "55260a02-3960-5bef-8302-09963550c712",
            "correlationId": "f7e56af0-842a-57b0-beca-d791f4f2895c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "string"
          }
        },
        "description": "Represents the limit price for a trading operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the trading operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that processed the request. This header allows tracking of the specific endpoint in use.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trader-position-operations-get-trader-position-operations"
        },
        "example": "trader-position-operations-get-trader-position-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the operation. This helps in identifying the application layer responsible for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication via JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to authenticate with the API.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}