{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Microentry Verification API",
    "description": "The Microentry Verification API enables users to verify the integrity and authenticity of microentries within the system. This endpoint allows businesses to submit microentry data for validation, ensuring compliance with operational standards. Typical consumers of this API include developers working on data integration and quality assurance processes. By leveraging this functionality, companies can streamline their verification workflows and maintain high data quality across applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/generate/microentry/verify": {
      "post": {
        "tags": [
          "Microentry Management"
        ],
        "summary": "Verify the generation of a microentry.",
        "description": "This endpoint allows users to verify a microentry that has been generated. It checks the integrity and correctness of the microentry data and returns the verification status.",
        "operationId": "verifyMicroentryGeneration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for verifying a microentry. This should contain the necessary information to process the verification request, formatted as a JSON object. Ensure that all required fields are properly populated.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VerifyMicroentryGenerationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, verification results are returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerifyMicroentryGenerationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "VerifyMicroentryGenerationRequest": {
        "title": "Microentry Verification Request Body",
        "type": "object",
        "properties": {
          "partnerId": {
            "type": "string",
            "description": "Unique identifier for the partner.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-383188"
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect the user after verification.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The URL to which notifications will be sent.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "Content type of the webhook notifications.",
            "example": "STANDARD"
          },
          "experience": {
            "type": "string",
            "description": "Description of the user experience expected during verification.",
            "example": "STANDARD"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the request.",
            "example": "ACC-422529"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for the microentry verification operation.",
        "example": {
          "partnerId": "STANDARD",
          "customerId": "CUST-383188",
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "experience": "STANDARD",
          "accountId": "ACC-422529",
          "requestContext": {
            "requestId": "202f8b21-6f6c-5431-978e-3cf58bdfe28b",
            "correlationId": "a82d7786-9987-5738-b457-27659d613c40",
            "idempotencyKey": "938399f0-c533-5ffc-b02e-3bad7a4b7f1c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-255975"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation-abc"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that duplicate requests are handled correctly.",
            "example": "unique-id-xyz"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "backend-service"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "web-frontend"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information for a request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g. 'web', 'mobile').",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Schema representing information about the channel used in the request."
      },
      "VerifyMicroentryGenerationResponse_200": {
        "title": "Microentry Verification Response",
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A URL link related to the verification process.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the verification process.",
            "$ref": "#/components/schemas/VerificationMetadata"
          }
        },
        "description": "Response schema for the microentry verification operation.",
        "example": {
          "link": "STANDARD",
          "metadata": {
            "responseId": "2c35e6cf-99fd-5331-b020-dc3c7a207843",
            "correlationId": "a82d7786-9987-5738-b457-27659d613c40",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "VerificationMetadata": {
        "title": "Verification Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests and responses.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the verification took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata schema containing details about the verification request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that generated the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-verify-micro-entry-microdeposit"
        },
        "example": "open-finance-api-verify-micro-entry-microdeposit"
      },
      "x-runtime-app": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to authenticate requests. Ensure that the token is included in the Authorization header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}