{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trust Services API",
    "description": "The Trust Services API provides access to consumer banking trust services, enabling users to manage and inquire about trusts and related financial products. It allows financial institutions and developers to retrieve trust-related information efficiently and securely. Typical consumers include bank personnel, financial advisors, and software developers integrating trust services into their applications. This API supports a seamless experience for managing trust accounts and understanding the features available to consumers.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/trust-services": {
      "get": {
        "tags": [
          "Trust Services"
        ],
        "summary": "Retrieve Trust Services Information",
        "description": "This endpoint allows users to retrieve detailed information about the available trust services offered by the consumer services. It provides insights into the features and functionalities of each service, ensuring users can make informed decisions.",
        "operationId": "getTrustServices",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body specifying the parameters for retrieving trust service information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTrustServicesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the trust services data is returned.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTrustServicesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTrustServicesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to consumer services trust services.",
        "example": "{}"
      },
      "GetTrustServicesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of service request items.",
            "example": [
              {
                "customerId": "CUST-888529",
                "serviceRequestId": "1385d375-3295-5ffe-b708-64533ba7598c",
                "productCode": "CHK-PREMIUM-US",
                "amount": {
                  "value": 100,
                  "currency": "USD"
                },
                "requestedDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ServiceRequestItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/PaginationInfo"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the GET operation in consumer services, providing a list of service requests along with pagination and metadata.",
        "example": {
          "items": [
            {
              "customerId": "CUST-888529",
              "serviceRequestId": "1385d375-3295-5ffe-b708-64533ba7598c",
              "productCode": "CHK-PREMIUM-US",
              "amount": {
                "value": 100,
                "currency": "USD"
              },
              "requestedDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "130b7716-f26b-5a3e-9d0f-f1999232a84f",
            "correlationId": "0674d862-fa7a-53f7-bdb8-097699e754d7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceRequestItem": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST1234"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "Unique identifier for the service request.",
            "example": "SR123456"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product associated with the service request.",
            "example": "PROD001"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "Date when the service request was made.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2023-01-02T10:00:00Z"
          }
        },
        "description": "Represents a service request item."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "integer",
            "description": "The numeric value of the amount.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "USD"
          }
        },
        "description": "Represents the monetary value and its currency."
      },
      "PaginationInfo": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "CORR123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-02T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the specific endpoint being accessed. This value helps in tracking and monitoring the requests processed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trust-services-search-trust-services"
        },
        "example": "trust-services-search-trust-services"
      },
      "x-runtime-app": {
        "description": "The name of the application that initiated the request. This header provides context regarding the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token. This token is formatted as a JSON Web Token (JWT), which provides a compact and self-contained way for securely transmitting information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}