{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Balance Inquiry API",
    "description": "The Account Balance Inquiry API enables financial service providers to access and retrieve the current balances of customer accounts securely. This API serves as a vital resource for applications that require real-time balance information, ensuring accurate financial data is available for account management and customer inquiries. Typical consumers include banking applications, personal finance tools, and third-party financial service providers looking to offer their users an up-to-date view of their finances. By using this API, developers can streamline the process of balance retrieval, enhancing user experience and engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/balances": {
      "get": {
        "tags": [],
        "summary": "Retrieve account balances",
        "description": "This endpoint allows clients to retrieve the current balances of their accounts, providing a comprehensive overview of their financial status.",
        "operationId": "getAispBalances",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request to retrieve account balances from the Account Information Service Provider (AISP). This request body must be formatted in JSON, adhering to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispBalancesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account balances.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispBalancesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispBalancesRequest": {
        "type": "string",
        "description": "This schema represents the request body for retrieving balance operations in the AISP service.",
        "example": "{}"
      },
      "GetAispBalancesResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Balance": {
                "type": "array",
                "description": "Array of balance objects.",
                "items": {
                  "$ref": "#/components/schemas/Balance"
                }
              },
              "Links": {
                "type": "object",
                "properties": {
                  "Self": {
                    "type": "string",
                    "description": "Link to the current resource.",
                    "example": "https://api.example.com/balances"
                  },
                  "First": {
                    "type": "string",
                    "description": "Link to the first page of results.",
                    "example": "https://api.example.com/balances?page=1"
                  },
                  "Prev": {
                    "type": "string",
                    "description": "Link to the previous page of results.",
                    "example": "https://api.example.com/balances?page=1"
                  },
                  "Next": {
                    "type": "string",
                    "description": "Link to the next page of results.",
                    "example": "https://api.example.com/balances?page=3"
                  },
                  "Last": {
                    "type": "string",
                    "description": "Link to the last page of results.",
                    "example": "https://api.example.com/balances?page=10"
                  }
                },
                "description": "Navigation links related to the balance data."
              },
              "Meta": {
                "type": "object",
                "properties": {
                  "TotalPages": {
                    "type": "integer",
                    "description": "Total number of pages available.",
                    "format": "int32",
                    "example": 5
                  },
                  "FirstAvailableDateTime": {
                    "type": "string",
                    "description": "The first available date and time for balance data.",
                    "example": "2023-01-01T00:00:00Z"
                  },
                  "LastAvailableDateTime": {
                    "type": "string",
                    "description": "The last available date and time for balance data.",
                    "example": "2023-12-31T23:59:59Z"
                  }
                },
                "description": "Metadata about the balance data returned."
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Identifier for the response.",
                    "example": "abc123"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Correlation ID for tracking the request.",
                    "example": "correlation-xyz456"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp when the response was generated.",
                    "example": "2023-01-02T12:00:00Z"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "The region where the request was processed.",
                    "example": "us-west-1"
                  }
                },
                "description": "Metadata related to the response operation."
              }
            },
            "description": "Holds the balance data for the accounts.",
            "example": {
              "Balance": [
                {
                  "AccountId": "ACC-294378",
                  "CreditDebitIndicator": "STANDARD",
                  "Type": "STANDARD",
                  "DateTime": "2026-09-15T14:30:00Z",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  },
                  "CreditLine": [
                    {
                      "Included": true,
                      "Type": "STANDARD",
                      "Amount": {
                        "Amount": "1250.75",
                        "Currency": "USD"
                      }
                    }
                  ],
                  "LocalAmount": {
                    "Amount": "1250.75",
                    "Currency": "USD",
                    "SubType": "STANDARD"
                  }
                }
              ],
              "TotalValue": {
                "Amount": "1250.75",
                "Currency": "USD"
              }
            }
          }
        },
        "description": "Response schema for the GET operation on accounts balances.",
        "example": {
          "Data": {
            "Balance": [
              {
                "AccountId": "ACC-294378",
                "CreditDebitIndicator": "STANDARD",
                "Type": "STANDARD",
                "DateTime": "2026-09-15T14:30:00Z",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                },
                "CreditLine": [
                  {
                    "Included": true,
                    "Type": "STANDARD",
                    "Amount": {
                      "Amount": "1250.75",
                      "Currency": "USD"
                    }
                  }
                ],
                "LocalAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD",
                  "SubType": "STANDARD"
                }
              }
            ],
            "TotalValue": {
              "Amount": "1250.75",
              "Currency": "USD"
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "9d13c7cd-ec13-5697-8786-97258084f1a2",
            "correlationId": "f5b69b71-4020-5ffc-9f19-e2021b86dbd4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Balance": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "ACCOUNT123"
          },
          "CreditDebitIndicator": {
            "type": "string",
            "description": "Indicates whether the balance is a credit or debit.",
            "example": "CREDIT"
          },
          "Type": {
            "type": "string",
            "description": "Type of balance (e.g., current, available).",
            "example": "current"
          },
          "DateTime": {
            "type": "string",
            "description": "Date and time the balance was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The numerical value of the balance.",
                "example": "1000.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-category of the balance type.",
                "example": "savings"
              }
            },
            "description": "The amount details of the balance."
          },
          "CreditLine": {
            "type": "array",
            "description": "Array of credit line objects associated with the account.",
            "items": {
              "$ref": "#/components/schemas/CreditLine"
            }
          },
          "LocalAmount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The numerical value of the balance in local currency.",
                "example": "1000.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the local amount.",
                "example": "USD"
              },
              "SubType": {
                "type": "string",
                "description": "Sub-category of the local balance type.",
                "example": "savings"
              }
            },
            "description": "The local amount details of the balance."
          }
        },
        "description": "Details of a specific account balance."
      },
      "CreditLine": {
        "type": "object",
        "properties": {
          "Included": {
            "type": "boolean",
            "description": "Indicates if the credit line is included in the balance calculation.",
            "example": false
          },
          "Type": {
            "type": "string",
            "description": "Type of the credit line (e.g., revolving, fixed).",
            "example": "revolving"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The numerical value of the credit line.",
                "example": "5000.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the credit line amount.",
                "example": "USD"
              }
            },
            "description": "Details of the credit line amount."
          }
        },
        "description": "Details of a credit line associated with an account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-balances"
        },
        "example": "accounts-api-get-balances"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically in the JSON Web Token (JWT) format. This scheme allows clients to access protected resources by providing a valid JWT in the Authorization header of their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}