{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Loan Details API",
    "description": "The Corporate Loan Details API provides crucial information about specific corporate loans based on loan identifiers. This endpoint allows businesses and financial institutions to access detailed insights, including loan terms, eligibility criteria, and associated conditions. Typical users include loan officers, credit analysts, and financial advisors who require accurate data to evaluate corporate lending options. By integrating this API into their systems, users can enhance decision-making and streamline the loan approval process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan/{param1}": {
      "get": {
        "tags": [
          "Corporate Loans"
        ],
        "summary": "Retrieve details of a specific corporate loan.",
        "description": "This endpoint allows users to retrieve detailed information about a specific corporate loan identified by its unique loan ID. It provides essential data for loan management and insights.",
        "operationId": "getCorporateLoanById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about a specific corporate loan identified by the loan ID LOAN-500045. The response will include relevant information regarding the loan's terms, status, and associated details necessary for understanding the loan's management and repayment.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLoanByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLoanByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLoanByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation on the corporate loan with ID LOAN-500045. It is expected to be a string that may contain specific parameters needed for processing the request.",
        "example": "{}"
      },
      "GetCorporateLoanByIdResponse_200": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-481128"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "ACC-508880"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "Principal amount of the loan.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "Duration of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of loan repayment (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the loan record (e.g., active, closed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the loan response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "Response schema for corporate loan operations.",
        "example": {
          "customerId": "CUST-481128",
          "accountId": "ACC-508880",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "73db5a19-a162-5416-85be-8338f43c8c7b",
            "correlationId": "aff4c433-5138-5a95-af5c-bba528efaf09",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the principal loan.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the principal amount is denominated.",
            "example": "string"
          }
        },
        "description": "Details about the principal amount of the loan."
      },
      "LoanMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the loan response took place.",
            "example": "string"
          }
        },
        "description": "Metadata related to the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-get-corporate-loan"
        },
        "example": "corporate-loan-get-corporate-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Bearer Authentication scheme using JSON Web Tokens (JWT). This method involves a bearer token being sent in the Authorization header of the request, allowing secure access control for protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}