{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Consumer Portfolio Retrieval API",
    "description": "The Consumer Portfolio Retrieval API allows users to access detailed information about a specific consumer's financial portfolio. By utilizing the consumer ID and portfolio ID, this endpoint retrieves data that can aid in decision-making processes, financial assessments, and customer relationship management. Typical consumers of this API include financial analysts, customer service representatives, and business intelligence teams. This functionality is essential for organizations looking to enhance their understanding of consumer assets and investment strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/consumers/{consumerId}/portfolios/{portfolioId}": {
      "get": {
        "tags": [
          "Consumer Portfolio Management"
        ],
        "summary": "Retrieve a specific portfolio for a consumer.",
        "description": "This endpoint allows you to fetch details about a specific portfolio associated with a consumer identified by their unique ID. It provides all relevant information about the portfolio, making it easy to understand its attributes and current status.",
        "operationId": "getConsumersPortfolioById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving portfolio details of the specified consumer. This request must contain the necessary identifiers to fetch accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetConsumersPortfolioByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the portfolio details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetConsumersPortfolioByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetConsumersPortfolioByIdRequest": {
        "title": "Portfolio Operations Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to consumer portfolios.",
        "example": "{}"
      },
      "GetConsumersPortfolioByIdResponse_200": {
        "title": "Portfolio Operations Response",
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio.",
            "example": "PORT-383332"
          },
          "reports": {
            "type": "array",
            "description": "List of reports associated with the portfolio.",
            "example": [
              {
                "id": "STANDARD",
                "portfolioId": "PORT-905087",
                "type": "STANDARD",
                "status": "ACTIVE",
                "createdDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Report"
            }
          },
          "consumer": {
            "$ref": "#/components/schemas/Consumer"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving portfolio operations.",
        "example": {
          "portfolioId": "PORT-383332",
          "reports": [
            {
              "id": "STANDARD",
              "portfolioId": "PORT-905087",
              "type": "STANDARD",
              "status": "ACTIVE",
              "createdDate": 1
            }
          ],
          "consumer": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "customerId": 1,
            "ssn": "STANDARD",
            "birthday": {
              "year": 1,
              "month": 1,
              "dayOfMonth": 1
            },
            "suffix": "STANDARD"
          },
          "metadata": {
            "responseId": "598c5e48-1b4c-5769-9acc-29605b4dcf66",
            "correlationId": "519bfc4f-f863-5d1e-86c3-cd84818157ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Report": {
        "title": "Report",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the report.",
            "example": "report_001"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier of the portfolio the report belongs to.",
            "example": "portfolio_123"
          },
          "type": {
            "type": "string",
            "description": "Type of the report.",
            "example": "annual"
          },
          "status": {
            "type": "string",
            "description": "Current status of the report.",
            "example": "completed"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp indicating when the report was created.",
            "format": "int32",
            "example": 1633072800
          }
        },
        "description": "Schema representing a report associated with a portfolio."
      },
      "Consumer": {
        "title": "Consumer",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "consumer_456"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "customerId": {
            "type": "integer",
            "description": "Customer identifier for the consumer.",
            "format": "int32",
            "example": 789
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "birthday": {
            "$ref": "#/components/schemas/Birthday"
          },
          "suffix": {
            "type": "string",
            "description": "Suffix of the consumer's name (e.g., Jr., Sr.).",
            "example": "Jr."
          }
        },
        "description": "Schema representing a consumer associated with a portfolio."
      },
      "Birthday": {
        "title": "Birthday",
        "type": "object",
        "properties": {
          "year": {
            "type": "integer",
            "description": "Year of the birthday.",
            "format": "int32",
            "example": 1990
          },
          "month": {
            "type": "integer",
            "description": "Month of the birthday.",
            "format": "int32",
            "example": 1
          },
          "dayOfMonth": {
            "type": "integer",
            "description": "Day of the month of the birthday.",
            "format": "int32",
            "example": 15
          }
        },
        "description": "Schema representing the birthday details of a consumer."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "correlation_123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T17:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing response metadata."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-portfolio-by-consumer"
        },
        "example": "open-finance-api-get-portfolio-by-consumer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Authentication protocol, which is an HTTP authentication scheme that requires the use of a bearer token within the Authorization header. The bearer token is expected to be a JSON Web Token (JWT), which contains encoded data used to verify the identity of the user and any associated permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}