{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Location Match Analysis API",
    "description": "The Location Match Analysis API facilitates the retrieval of location match data for efficient decision-making in various applications. This API is designed to provide insights into how different locations correspond to specific criteria or parameters, enabling businesses to assess viability and compatibility for their operations. Typical consumers of this API include data analysts, application developers, and businesses seeking to enhance their geographic reporting. Through this endpoint, users can extract detailed match results to inform their strategies and operational decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/sbca/location-matches": {
      "get": {
        "tags": [
          "Location Management"
        ],
        "summary": "Retrieve location matches.",
        "description": "This endpoint allows you to fetch location matches based on specified criteria. It provides a quick way to find relevant locations that match your search parameters.",
        "operationId": "getLocationMatches",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "A request body that allows the client to specify parameters for retrieving location matches. The request is expected to be in JSON format, containing the necessary attributes to filter or query location data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLocationMatchesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and location matches have been returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLocationMatchesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLocationMatchesRequest": {
        "type": "string",
        "description": "Represents the request body for the location matches operation in a GET request.",
        "example": "{}"
      },
      "GetLocationMatchesResponse_200": {
        "type": "object",
        "properties": {
          "locationMatches": {
            "type": "array",
            "description": "A list of matched locations based on the query criteria.",
            "example": [
              {
                "locationId": "e19ddfa2-42a4-3b91-0ce5-b80dad35b48f",
                "matchRank": 1,
                "merchantName": "Northstar Banking Service",
                "streetAddress": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001",
                "countryCode": "US"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LocationMatch"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for location matches retrieved from the GET operation.",
        "example": {
          "locationMatches": [
            {
              "locationId": "e19ddfa2-42a4-3b91-0ce5-b80dad35b48f",
              "matchRank": 1,
              "merchantName": "Northstar Banking Service",
              "streetAddress": "STANDARD",
              "city": "New York",
              "state": "STANDARD",
              "postalCode": "10001",
              "countryCode": "US"
            }
          ],
          "metadata": {
            "responseId": "2f15676d-ca21-590d-9b5c-8285a131ba32",
            "correlationId": "6893ef68-edb9-54d7-9471-29c7fc829332",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LocationMatch": {
        "type": "object",
        "properties": {
          "locationId": {
            "type": "string",
            "description": "Unique identifier for the matched location."
          },
          "matchRank": {
            "type": "integer",
            "description": "The rank of the match, where a lower number indicates a better match.",
            "format": "int32"
          },
          "merchantName": {
            "type": "string",
            "description": "Name of the merchant associated with the location."
          },
          "streetAddress": {
            "type": "string",
            "description": "Street address of the matched location."
          },
          "city": {
            "type": "string",
            "description": "City where the matched location is situated."
          },
          "state": {
            "type": "string",
            "description": "State where the matched location is situated."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code for the matched location."
          },
          "countryCode": {
            "type": "string",
            "description": "ISO country code for the matched location."
          }
        },
        "description": "Schema representing a matched location.",
        "example": {
          "locationId": "123456",
          "matchRank": 1,
          "merchantName": "Example Merchant",
          "streetAddress": "123 Example St",
          "city": "Example City",
          "state": "EX",
          "postalCode": "12345",
          "countryCode": "US"
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Metadata information about the response.",
        "example": {
          "responseId": "abcd-1234",
          "correlationId": "efgh-5678",
          "generatedAt": "2023-10-01T12:00:00Z",
          "processingRegion": "us-west-1"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-location-matches"
        },
        "example": "open-finance-api-get-location-matches"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JWT (JSON Web Tokens) for secure access to the API. Clients must include a valid JWT in the `Authorization` header of their requests in the format: `Authorization: Bearer <token>`.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}