{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Repayment Schedules API",
    "description": "The Repayment Schedules API provides access to detailed repayment schedule information for specific loans. This endpoint allows users to retrieve the repayment plan, including payment amounts, due dates, and the total loan term for a given loanId. It's commonly used by financial institutions and loan management systems to facilitate customer inquiries and financial planning. By leveraging this API, stakeholders can enhance their understanding of loan repayment structures and assist borrowers in managing their loan obligations effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/repayment-schedules": {
      "get": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Retrieve Repayment Schedules for a Specific Loan",
        "description": "This endpoint allows you to fetch the repayment schedules associated with a specific loan, identified by its unique loan ID. Utilize this to understand the payment structure and timeline for loan repayment.",
        "operationId": "getLoanRepaymentSchedules",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the repayment schedules for a specific loan identified by LOAN-500045. It expects a JSON payload that adheres to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanRepaymentSchedulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the repayment schedules for the specified loan.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanRepaymentSchedulesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanRepaymentSchedulesRequest": {
        "title": "Loan Repayment Schedules Request Body",
        "type": "string",
        "description": "The request body for retrieving the repayment schedules of a specific loan.",
        "example": "{}"
      },
      "GetLoanRepaymentSchedulesResponse_200": {
        "title": "Loan Repayment Schedules Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of repayment schedule items.",
            "example": [
              {
                "effectiveDate": "2026-09-15",
                "calculationMethod": "STANDARD",
                "reason": "STANDARD",
                "installments": [
                  {
                    "installmentNumber": 1,
                    "dueDate": "2026-09-15",
                    "openingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "principalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "interestDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "feesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "penaltiesDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "totalDue": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "amountPaid": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "closingPrincipal": {
                      "currency": "USD",
                      "amount": "1250.75"
                    },
                    "status": "ACTIVE",
                    "paidAt": "2026-08-11T12:00:00Z"
                  }
                ],
                "id": "87e26794-e939-162d-a387-ea6612b9408b",
                "status": "ACTIVE",
                "generatedAt": "2026-09-15T14:30:00Z",
                "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
                "audit": {
                  "createdAt": "2026-09-15T14:30:00Z",
                  "createdBy": "STANDARD",
                  "updatedAt": "2026-09-15T14:30:00Z",
                  "updatedBy": "2026-09-15",
                  "version": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/RepaymentScheduleItem"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the repayment schedules response.",
            "example": "string"
          },
          "status": {
            "type": "string",
            "description": "Current status of the repayment schedule.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "string"
          },
          "supersedesScheduleId": {
            "type": "string",
            "description": "Identifier of the schedule that this one supersedes.",
            "example": "string"
          },
          "audit": {
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "A response object representing the repayment schedules for a particular loan.",
        "example": {
          "items": [
            {
              "effectiveDate": "2026-09-15",
              "calculationMethod": "STANDARD",
              "reason": "STANDARD",
              "installments": [
                {
                  "installmentNumber": 1,
                  "dueDate": "2026-09-15",
                  "openingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "principalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "interestDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "feesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "penaltiesDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "totalDue": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "amountPaid": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "closingPrincipal": {
                    "currency": "USD",
                    "amount": "1250.75"
                  },
                  "status": "ACTIVE",
                  "paidAt": "2026-08-11T12:00:00Z"
                }
              ],
              "id": "87e26794-e939-162d-a387-ea6612b9408b",
              "status": "ACTIVE",
              "generatedAt": "2026-09-15T14:30:00Z",
              "supersedesScheduleId": "427e0995-7cc6-560e-b67c-34bb5eaffbd6",
              "audit": {
                "createdAt": "2026-09-15T14:30:00Z",
                "createdBy": "STANDARD",
                "updatedAt": "2026-09-15T14:30:00Z",
                "updatedBy": "2026-09-15",
                "version": 1
              }
            }
          ],
          "metadata": {
            "responseId": "b83e3432-e9fa-51f9-89d7-9d3f103b042d",
            "correlationId": "d688559a-c2d3-54ed-ae4c-f3c5990c7705",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RepaymentScheduleItem": {
        "title": "Repayment Schedule Item",
        "type": "object",
        "properties": {
          "effectiveDate": {
            "type": "string",
            "description": "The date when the repayment becomes effective.",
            "example": "string"
          },
          "calculationMethod": {
            "type": "string",
            "description": "The method used for calculating the payment.",
            "example": "string"
          },
          "reason": {
            "type": "string",
            "description": "Reason for the repayment schedule.",
            "example": "string"
          },
          "installments": {
            "type": "array",
            "description": "A list of installments included in this repayment schedule.",
            "items": {
              "$ref": "#/components/schemas/Installment"
            }
          }
        },
        "description": "An item representing a single repayment schedule."
      },
      "Installment": {
        "title": "Installment",
        "type": "object",
        "properties": {
          "installmentNumber": {
            "type": "integer",
            "description": "The number of this installment in the sequence.",
            "format": "int32",
            "example": 0
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for this installment.",
            "example": "string"
          },
          "openingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "principalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "interestDue": {
            "$ref": "#/components/schemas/Money"
          },
          "feesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "penaltiesDue": {
            "$ref": "#/components/schemas/Money"
          },
          "totalDue": {
            "$ref": "#/components/schemas/Money"
          },
          "amountPaid": {
            "$ref": "#/components/schemas/Money"
          },
          "closingPrincipal": {
            "$ref": "#/components/schemas/Money"
          },
          "status": {
            "type": "string",
            "description": "Current status of the installment.",
            "example": "string"
          },
          "paidAt": {
            "type": "string",
            "description": "Timestamp for when the installment was paid.",
            "example": "string"
          }
        },
        "description": "Details of a loan installment."
      },
      "Money": {
        "title": "Money",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "string"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "string"
          }
        },
        "description": "A representation of an amount of money and its currency."
      },
      "AuditInfo": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp for when the record was created.",
            "example": "string"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for who created the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp for the last update of the record.",
            "example": "string"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for who last updated the record.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the audit of the repayment schedule."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific API endpoint that was called during this request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-list-repayment-schedules"
        },
        "example": "banking-loans-openapi-list-repayment-schedules"
      },
      "X-Runtime-App": {
        "description": "Name of the application that processed this request, useful for monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, specifically designed for JWT (JSON Web Tokens), enabling stateless, token-based authentication mechanisms.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}