{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Development Insights API",
    "description": "The Business Development Insights API provides access to essential data related to marketing strategies and business development initiatives within the banking sector. This API allows users to retrieve analytics and reports that can enhance decision-making and strategy formulation. Typical consumers include business analysts, marketing teams, and senior management looking to optimize growth opportunities and customer engagement. Use cases include assessing market performance, tracking campaign effectiveness, and identifying trends that drive business development efforts.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/business-development": {
      "get": {
        "tags": [
          "Marketing"
        ],
        "summary": "Retrieve marketing business development information.",
        "description": "Fetches a list of ongoing marketing business development initiatives and their details, providing insights into current strategies and efforts in the marketing department.",
        "operationId": "getBusinessDevelopmentMarketing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving business development operations in the marketing domain. The content must include the necessary parameters to specify the details of the operation required.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessDevelopmentMarketingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the business development data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessDevelopmentMarketingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessDevelopmentMarketingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Business Development Operations GET operation in the marketing segment. It is expected to be a string.",
        "example": "{}"
      },
      "GetBusinessDevelopmentMarketingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of marketing campaign items.",
            "example": [
              {
                "campaignId": "STANDARD",
                "targetSegmentId": "STANDARD",
                "channelMix": [
                  "STANDARD"
                ],
                "budget": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "startDate": "2026-09-15",
                "endDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketingCampaign"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria used for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the successful retrieval of marketing business development operations data.",
        "example": {
          "items": [
            {
              "campaignId": "STANDARD",
              "targetSegmentId": "STANDARD",
              "channelMix": [
                "STANDARD"
              ],
              "budget": {
                "amount": 100.0,
                "currency": "USD"
              },
              "startDate": "2026-09-15",
              "endDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "61b1402e-5103-5016-925e-2784d84d595e",
            "correlationId": "6b17d9f7-a0a9-5a93-be19-d48b3166f1db",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketingCampaign": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "12345"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment of the campaign.",
            "example": "segment-001"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels used in the campaign.",
            "items": {
              "type": "string",
              "description": "Channel name.",
              "example": "email"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign.",
            "format": "date-time",
            "example": 1672531200.0
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign.",
            "format": "date-time",
            "example": 1704067199.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the campaign record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the campaign was last updated.",
            "format": "date-time",
            "example": 1684161000.0
          }
        },
        "description": "Schema representing a marketing campaign."
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Budget amount allocated for the campaign.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget is specified.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details of a marketing campaign."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "format": "date-time",
            "example": 1684161000.0
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "US-West"
          }
        },
        "description": "Schema representing additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-development-search-business-development"
        },
        "example": "business-development-search-business-development"
      },
      "X-Runtime-App": {
        "description": "The name of the application that generated the response, providing context on the source.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "The Bearer authentication scheme using JSON Web Tokens (JWT). Clients must include a valid token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}