{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Information Retrieval API",
    "description": "The Customer Account Information Retrieval API provides access to detailed account information associated with specific customers and their institutions. This API enables businesses to query for essential account data by providing a customer ID and institution ID. Typical consumers include financial institutions and account management systems that require up-to-date account details for customer service and integration purposes. This streamlined access to information enhances operational efficiency and supports better decision-making.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutions/{institutionId}/accounts/simple": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve simple account information for a specified customer and institution.",
        "description": "This endpoint allows clients to fetch simple account details for a particular customer and their associated institution. The information provided can be useful for understanding account types, balances, and basic account characteristics.",
        "operationId": "getSimpleAccountsForCustomerInstitution",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about the simple accounts associated with the specified institution and customer. Ensure that the request includes all necessary parameters and is formatted according to the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSimpleAccountsForCustomerInstitutionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimpleAccountsForCustomerInstitutionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSimpleAccountsForCustomerInstitutionRequest": {
        "type": "string",
        "description": "A request body for retrieving account information. This schema represents the data structure expected in the request body when making a GET request to retrieve account details.",
        "example": "{}"
      },
      "GetSimpleAccountsForCustomerInstitutionResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "A list of accounts associated with the customer.",
            "example": [
              {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-583658",
                "institutionId": "STANDARD",
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "currency": "USD",
                "institutionLoginId": 1,
                "displayPosition": 1,
                "parentAccount": "STANDARD",
                "linkedAccountDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching account details of a customer from institutions.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "name": "Northstar Banking Service",
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-583658",
              "institutionId": "STANDARD",
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "currency": "USD",
              "institutionLoginId": 1,
              "displayPosition": 1,
              "parentAccount": "STANDARD",
              "linkedAccountDate": 1
            }
          ],
          "metadata": {
            "responseId": "69f85ca1-f08a-5a07-a84f-df059498ccfa",
            "correlationId": "0c38187d-a371-5282-adc2-886e420943d4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "The unique identifier of the account."
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "The display format of the account number."
          },
          "name": {
            "type": "string",
            "description": "The name associated with the account."
          },
          "type": {
            "type": "string",
            "description": "The type of account (e.g., savings, checking)."
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "The status code of the account's aggregation status.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "The current status of the account."
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer to whom the account belongs."
          },
          "institutionId": {
            "type": "string",
            "description": "The unique identifier of the financial institution."
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "The timestamp when aggregation was successfully completed.",
            "format": "int32"
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "The timestamp when an aggregation attempt was made.",
            "format": "int32"
          },
          "createdDate": {
            "type": "integer",
            "description": "The timestamp when the account was created.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "The currency of the account."
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "The unique identifier for the login at the institution.",
            "format": "int32"
          },
          "displayPosition": {
            "type": "integer",
            "description": "The position for displaying this account in a list.",
            "format": "int32"
          },
          "parentAccount": {
            "type": "string",
            "description": "The identifier of the parent account, if applicable."
          },
          "linkedAccountDate": {
            "type": "integer",
            "description": "The timestamp when this account was linked.",
            "format": "int32"
          }
        },
        "description": "Detailed information about a bank account."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts-by-institution-simple"
        },
        "example": "open-finance-api-get-customer-accounts-by-institution-simple"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Tokens) for bearer authentication. Clients must include a valid bearer token in the 'Authorization' header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}