{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Unit Financial Analysis API",
    "description": "The Business Unit Financial Analysis API provides detailed financial insights for specific business units within an organization. Utilizing the endpoint, users can retrieve comprehensive data regarding revenue, expenses, and profitability metrics to facilitate informed decision-making. This API is particularly beneficial for financial analysts, business managers, and stakeholders seeking to assess financial performance and make strategic business decisions. By offering valuable analytics, it empowers organizations to optimize their financial operations and enhance overall performance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-control/business-unit-financial-analysis/{param1}": {
      "get": {
        "tags": [
          "Business Analysis"
        ],
        "summary": "Retrieve financial analysis for a business unit.",
        "description": "This endpoint allows you to fetch the financial analysis data related to a specific business unit. It provides detailed insights necessary for business evaluations and decision-making.",
        "operationId": "getBusinessUnitFinancialAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve financial analysis data for a specific business unit, identified by RES-100045. It expects a JSON input structure that aligns with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBusinessUnitFinancialAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved business unit financial analysis data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBusinessUnitFinancialAnalysisRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBusinessUnitFinancialAnalysisRes100045Request": {
        "type": "string",
        "description": "Represents the request body for the financial analysis operation related to a business unit.",
        "example": "{}"
      },
      "GetBusinessUnitFinancialAnalysisRes100045Response_200": {
        "title": "Financial Analysis Response",
        "type": "object",
        "properties": {
          "businessUnitId": {
            "type": "string",
            "description": "Unique identifier for the business unit.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Cost center associated with the business unit.",
            "example": "STANDARD"
          },
          "planningPeriod": {
            "type": "string",
            "description": "Planning period for the budget and forecast.",
            "example": "STANDARD"
          },
          "budget": {
            "description": "Budget information associated with the business unit.",
            "$ref": "#/components/schemas/Budget"
          },
          "forecastVersion": {
            "type": "string",
            "description": "Version of the forecast being referenced.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the financial record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the financial analysis response.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the financial analysis was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the financial analysis response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for financial analysis of a business unit.",
        "example": {
          "businessUnitId": "STANDARD",
          "costCenter": "STANDARD",
          "planningPeriod": "STANDARD",
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "forecastVersion": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5f4028f9-f8eb-506c-963f-cde56cdb0ff9",
            "correlationId": "5ec85d62-549a-520a-afd2-3bedff27118f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Budget": {
        "title": "Budget Information",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Total budget amount.",
            "example": 100000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency of the budget amount.",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget details associated with a business unit."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request correlation.",
            "example": "corr-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-09-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to the financial analysis response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-unit-financial-analysis-get-business-unit-financial-analysis"
        },
        "example": "business-unit-financial-analysis-get-business-unit-financial-analysis"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for monitoring performance and application-specific behavior.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication. The token should be a JSON Web Token (JWT) which is included in the Authorization header as a prefix 'Bearer ' followed by the token string.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}