{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Open Banking Offers Retrieval API",
    "description": "The Open Banking Offers Retrieval API enables users to access a curated list of financial offers from various banking institutions. This endpoint allows consumers, such as developers and financial service providers, to retrieve real-time data on available offers based on user preferences and criteria. By providing detailed information about each offer, this API facilitates informed decision-making for potential customers looking to enhance their banking experience. Use cases include integrating with personal finance management applications or comparison platforms to present users with the best financial products.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/offers": {
      "get": {
        "tags": [
          "AISP Offers"
        ],
        "summary": "Retrieve AISP Offers",
        "description": "Fetch a list of available AISP offers from the service, providing insights into the options available for users.",
        "operationId": "getAispOffers",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch offers from the AISP (Account Information Service Provider). The request should comply with the defined schema to ensure the correct retrieval of offers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAispOffersRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of offers data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAispOffersResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAispOffersRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to offers.",
        "example": "{}"
      },
      "GetAispOffersResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Offer": {
                "type": "array",
                "description": "A list of offers available.",
                "items": {
                  "$ref": "#/components/schemas/Offer"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/Links"
              },
              "Meta": {
                "$ref": "#/components/schemas/Meta"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Contains the main data response which includes offers.",
            "example": {
              "Offer": [
                {
                  "AccountId": "ACC-877802",
                  "id": "STANDARD",
                  "type": "STANDARD",
                  "Description": "Customer banking request processed successfully",
                  "StartDateTime": "2026-09-15T14:30:00Z",
                  "EndDateTime": "2026-09-15T14:30:00Z",
                  "Rate": "STANDARD",
                  "Value": 1,
                  "Term": "STANDARD",
                  "URL": "https://banking.northstar.example/callbacks/status",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  },
                  "Fee": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ]
            }
          }
        },
        "example": {
          "Data": {
            "Offer": [
              {
                "AccountId": "ACC-877802",
                "id": "STANDARD",
                "type": "STANDARD",
                "Description": "Customer banking request processed successfully",
                "StartDateTime": "2026-09-15T14:30:00Z",
                "EndDateTime": "2026-09-15T14:30:00Z",
                "Rate": "STANDARD",
                "Value": 1,
                "Term": "STANDARD",
                "URL": "https://banking.northstar.example/callbacks/status",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "Fee": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "f8721a3a-e35c-5b91-b5dd-58f00796f464",
            "correlationId": "aa493222-85ee-5ec0-b45a-b8002faebb9e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Offer": {
        "type": "object",
        "properties": {
          "AccountId": {
            "type": "string",
            "description": "The identifier for the account associated with the offer.",
            "example": "string"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the offer.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the offer.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "Detailed description of the offer.",
            "example": "string"
          },
          "StartDateTime": {
            "type": "string",
            "description": "The start date and time of the offer.",
            "example": "2023-01-01T00:00:00Z"
          },
          "EndDateTime": {
            "type": "string",
            "description": "The end date and time of the offer.",
            "example": "2023-12-31T23:59:59Z"
          },
          "Rate": {
            "type": "string",
            "description": "The rate or interest rate associated with the offer.",
            "example": "3.5%"
          },
          "Value": {
            "type": "integer",
            "description": "Monetary value of the offer.",
            "format": "int32",
            "example": 1000
          },
          "Term": {
            "type": "string",
            "description": "Duration of the offer term.",
            "example": "12 months"
          },
          "URL": {
            "type": "string",
            "description": "Link to more details about the offer.",
            "example": "https://example.com/offer/123"
          },
          "Amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "Fee": {
            "$ref": "#/components/schemas/Fee"
          }
        },
        "description": "Represents a single offer with various attributes."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount of money.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Represents the monetary amount and its currency."
      },
      "Fee": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The fee amount.",
            "example": "10.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency of the fee amount.",
            "example": "USD"
          }
        },
        "description": "Represents the fee associated with an offer."
      },
      "Links": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current resource.",
            "example": "https://api.example.com/offers"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of offers.",
            "example": "https://api.example.com/offers?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of offers.",
            "example": "https://api.example.com/offers?page=2"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of offers.",
            "example": "https://api.example.com/offers?page=3"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of offers.",
            "example": "https://api.example.com/offers?page=10"
          }
        },
        "description": "Navigational links related to the offers response."
      },
      "Meta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "The total number of pages available.",
            "format": "int32",
            "example": 10
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Earliest available date and time for offers.",
            "example": "2023-01-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Latest available date and time for offers.",
            "example": "2023-12-31T23:59:59Z"
          }
        },
        "description": "Meta information about the offers response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating between requests.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Additional metadata regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific API endpoint that was called. This value helps track the endpoint used in the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-offers"
        },
        "example": "accounts-api-get-offers"
      },
      "X-Runtime-App": {
        "description": "The name of the application in which the API is being executed. This identifies the context in which the request was made.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the request header. The JWT should be obtained through a secure authentication process and must be passed in the Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}