{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Insights API",
    "description": "The Investment Portfolio Insights API provides users with the ability to access comprehensive data regarding investment portfolios. This resource allows financial institutions and investment managers to analyze portfolio performance, asset allocations, and risk metrics. Typical consumers include portfolio managers, financial analysts, and investment advisors seeking to enhance decision-making processes. By leveraging this API, users can easily obtain detailed and up-to-date information to support effective portfolio management strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-management": {
      "get": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Retrieve Investment Portfolio Information",
        "description": "This endpoint allows users to fetch details about their investment portfolios, including current holdings, allocations, and performance metrics. Utilize this to examine your investment strategy and make informed decisions.",
        "operationId": "getInvestmentPortfolio",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving investment portfolio management details. It should contain the necessary parameters for the GET operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInvestmentPortfolioRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the investment portfolio information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInvestmentPortfolioResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInvestmentPortfolioRequest": {
        "title": "Investment Portfolio Management Request Body",
        "type": "string",
        "description": "The request body for operations related to investment portfolio management.",
        "example": "{}"
      },
      "GetInvestmentPortfolioResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "Array of investment portfolio items.",
            "example": [
              {
                "portfolioId": "PORT-475693",
                "investmentAccountId": "ACC-875645",
                "investmentObjective": "STANDARD",
                "riskProfile": "STANDARD",
                "baseCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/InvestmentPortfolioItem"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of investment portfolio items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the investment portfolio management operation, containing a list of investment portfolio items and pagination metadata.",
        "example": {
          "items": [
            {
              "portfolioId": "PORT-475693",
              "investmentAccountId": "ACC-875645",
              "investmentObjective": "STANDARD",
              "riskProfile": "STANDARD",
              "baseCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "75ba7fa1-bac9-5eab-9ddb-0c1e9884a681",
            "correlationId": "046ae915-e3a7-55df-b934-9eb1d8301a83",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InvestmentPortfolioItem": {
        "type": "object",
        "properties": {
          "portfolioId": {
            "type": "string",
            "description": "Unique identifier for the portfolio."
          },
          "investmentAccountId": {
            "type": "string",
            "description": "Unique identifier for the investment account associated with the portfolio."
          },
          "investmentObjective": {
            "type": "string",
            "description": "The investment objective of the portfolio (e.g., Growth, Income)."
          },
          "riskProfile": {
            "type": "string",
            "description": "The risk profile associated with the portfolio (e.g., Conservative, Moderate, Aggressive)."
          },
          "baseCurrency": {
            "type": "string",
            "description": "The base currency of the portfolio."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the portfolio record (e.g., Active, Inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the portfolio was last updated."
          }
        },
        "description": "Schema representing a single investment portfolio item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response, including page number, page size, and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across multiple services."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the processing occurred."
          }
        },
        "description": "Additional metadata related to the response, such as response ID and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-management-search-investment-portfolio-management"
        },
        "example": "investment-portfolio-management-search-investment-portfolio-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Use this security scheme to authenticate requests using a Bearer token. The token should be in the JSON Web Token (JWT) format, which allows for secure transmission of information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}