{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Network Management API",
    "description": "The ATM Network Management API provides comprehensive tools for monitoring and managing ATM networks. This API allows users to access real-time data on ATM performance, transaction metrics, and operational status. Typical consumers include banking institutions and financial service providers seeking to optimize their ATM operations and improve service availability. By leveraging this API, businesses can enhance customer satisfaction and streamline maintenance processes through timely updates and insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/atm-network-management": {
      "get": {
        "tags": [
          "ATM Management"
        ],
        "summary": "Retrieve ATM Network Management data.",
        "description": "This endpoint allows you to fetch detailed information regarding ATM network management, including current statuses, configurations, and any associated metrics within the specified channel.",
        "operationId": "getAtmNetworkManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve information on ATM network management specific to a particular channel. It should include the necessary parameters for the query to ensure the correct data is fetched.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAtmNetworkManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the response includes the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAtmNetworkManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAtmNetworkManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body for operations in the ATM network management system specifically for the GET method.",
        "example": "{}"
      },
      "GetAtmNetworkManagementResponse_200": {
        "title": "ATM Network Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of ATM information objects.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "atmId": "STANDARD",
                "cashStatus": "AVAILABLE",
                "terminalHealth": "ONLINE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "title": "ATM Information",
              "type": "object",
              "properties": {
                "channelId": {
                  "type": "string",
                  "description": "Unique identifier for the channel.",
                  "example": "string"
                },
                "regionCode": {
                  "type": "string",
                  "description": "Code representing the region of the ATM.",
                  "example": "string"
                },
                "serviceWindow": {
                  "$ref": "#/components/schemas/ServiceWindow"
                },
                "dailyCapacity": {
                  "type": "integer",
                  "description": "The daily capacity of the ATM.",
                  "format": "int32",
                  "example": 0
                },
                "atmId": {
                  "type": "string",
                  "description": "Unique identifier for the ATM.",
                  "example": "string"
                },
                "cashStatus": {
                  "type": "string",
                  "description": "Current cash status of the ATM.",
                  "example": "string"
                },
                "terminalHealth": {
                  "type": "string",
                  "description": "Health status of the ATM terminal.",
                  "example": "string"
                },
                "recordStatus": {
                  "type": "string",
                  "description": "Current record status of the ATM.",
                  "example": "string"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Timestamp when the ATM information was last updated.",
                  "example": "string"
                }
              },
              "description": "Detailed information about an ATM.",
              "example": {
                "channelId": "C123",
                "regionCode": "R456",
                "serviceWindow": {
                  "opensAt": "08:00",
                  "closesAt": "22:00"
                },
                "dailyCapacity": 1000,
                "atmId": "ATM789",
                "cashStatus": "Available",
                "terminalHealth": "Operational",
                "recordStatus": "Active",
                "updatedAt": "2023-10-04T12:00:00Z"
              }
            }
          },
          "pagination": {
            "description": "Information about pagination for the list of items.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the ATM network management operations which includes a list of ATM details, pagination information, sorting criteria, and metadata.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "atmId": "STANDARD",
              "cashStatus": "AVAILABLE",
              "terminalHealth": "ONLINE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "5755c669-b7fb-598b-88ad-d290369f887c",
            "correlationId": "f3e453d2-8004-5271-b4e4-bfde685c8a60",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "Opening time of the ATM in HH:mm format.",
            "example": "08:00"
          },
          "closesAt": {
            "type": "string",
            "description": "Closing time of the ATM in HH:mm format.",
            "example": "22:00"
          }
        },
        "description": "Describes the operating hours of the ATM."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for list responses."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RSP123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to track the request across systems.",
            "example": "CORR456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-04T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed in the ATM network management operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "atm-network-management-search-atm-network-management"
        },
        "example": "atm-network-management-search-atm-network-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently accessing the ATM network management API.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a JSON Web Token (JWT) for authentication. Clients must include a valid JWT token in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}