{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Network Management API",
    "description": "The Branch Network Management API offers businesses a streamlined way to access and manage network information related to banking branches. This API allows users to retrieve specific details about branch network configurations and operations, enabling enhanced decision-making and operational efficiency. Typical consumers include banking institutions and network administrators looking to optimize their branch services or troubleshoot network-related issues. By leveraging this API, developers can integrate branch network data into their applications, ensuring better service delivery and customer satisfaction.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-network-management/{param1}": {
      "get": {
        "tags": [
          "Branch Network Management"
        ],
        "summary": "Retrieve Branch Network Management Details",
        "description": "This endpoint allows users to fetch detailed information about a specific branch network management resource identified by its unique resource ID (RES-100045). Use this to get insights into the branch's network configuration and status.",
        "operationId": "getBranchNetworkManagementByResourceId",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to the branch network management operations for a specific channel. Ensure that the request body adheres to the schema specified to properly format the data being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchNetworkManagementByResourceIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchNetworkManagementByResourceIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchNetworkManagementByResourceIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request in the branch network management context.",
        "example": "{}"
      },
      "GetBranchNetworkManagementByResourceIdResponse_200": {
        "title": "Branch Network Management Response",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "MOBILE-US"
          },
          "regionCode": {
            "type": "string",
            "description": "The code representing the region of the branch.",
            "example": "US-EAST-1"
          },
          "serviceWindow": {
            "description": "The operational hours for the branch service.",
            "$ref": "#/components/schemas/ServiceWindow"
          },
          "dailyCapacity": {
            "type": "integer",
            "description": "The maximum number of services that can be handled daily by the branch.",
            "format": "int32",
            "example": 1
          },
          "branchId": {
            "type": "string",
            "description": "The unique identifier for the branch.",
            "example": "STANDARD"
          },
          "branchType": {
            "type": "string",
            "description": "The type of the branch (e.g., retail, service, etc.).",
            "example": "FULL_SERVICE"
          },
          "timeZone": {
            "type": "string",
            "description": "The time zone in which the branch operates.",
            "example": "America/New_York"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the branch record (e.g., active, inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the branch record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the branch record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the GET operation related to branch network management.",
        "example": {
          "channelId": "MOBILE-US",
          "regionCode": "US-EAST-1",
          "serviceWindow": {
            "opensAt": "STANDARD",
            "closesAt": "STANDARD"
          },
          "dailyCapacity": 1,
          "branchId": "STANDARD",
          "branchType": "FULL_SERVICE",
          "timeZone": "America/New_York",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "687de958-922d-5a62-a2f5-1f67d6339c2e",
            "correlationId": "87b4837f-5aab-5aec-b48d-d09d95ca6916",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "title": "Service Window",
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time at which the branch opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time at which the branch closes.",
            "example": "17:00"
          }
        },
        "description": "Represents the service hours of the branch."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-network-management-get-branch-network-management"
        },
        "example": "branch-network-management-get-branch-network-management"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism, enabling clients to authenticate via a JSON Web Token (JWT). Please include the 'Authorization' header with the 'Bearer' prefix followed by the token when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}