{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_ATM Location Reference API",
    "description": "The ATM Location Reference API provides access to a comprehensive list of ATMs available through the open banking platform. This API allows users to retrieve detailed information about ATM locations, including addresses, services offered, and operational status. It is designed for developers integrating ATM data into financial applications or consumer-facing platforms. Typical consumers include banking applications, financial service providers, and third-party developers looking to enhance user experiences with accurate ATM information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/reference-implementation/open-banking/atms": {
      "get": {
        "tags": [
          "ATM Services"
        ],
        "summary": "Retrieve a list of ATMs.",
        "description": "This endpoint allows users to access a comprehensive list of ATMs available in the open banking network. It provides essential information such as location, availability, and supported services.",
        "operationId": "getAtms",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving ATM information under open banking operations. It must conform to the specified schema to ensure proper processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAtmsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of ATMs.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAtmsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAtmsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to ATMs in the Open Banking context. It is expected to be a string containing JSON data.",
        "example": "{}"
      },
      "GetAtmsResponse_200": {
        "type": "object",
        "properties": {
          "meta": {
            "description": "Meta information about the response.",
            "$ref": "#/components/schemas/Meta"
          },
          "data": {
            "type": "array",
            "description": "Array of ATM data.",
            "example": [
              {
                "Organisation": {
                  "ParentOrganisation": {
                    "LEI": "STANDARD",
                    "BIC": "STANDARD",
                    "OrganisationName": {
                      "LegalName": "Olivia Bennett"
                    }
                  },
                  "Brand": {
                    "TrademarkIPOCode": "CODE-930",
                    "TrademarkID": "STANDARD"
                  }
                },
                "BranchIdentification": "STANDARD",
                "ATMID": "STANDARD",
                "LocationCategory": "STANDARD",
                "SiteID": "STANDARD",
                "SiteName": "Northstar Banking Service",
                "Address": {
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumberOrName": "Northstar Banking Service",
                  "PostCode": "CODE-400",
                  "OptionalAddressField": "STANDARD",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD"
                },
                "GeographicLocation": {
                  "Latitude": "STANDARD",
                  "Longitude": "STANDARD"
                },
                "AccessibilityTypes": [
                  "STANDARD"
                ],
                "SupportedLanguages": [
                  "STANDARD"
                ],
                "ATMServices": [
                  "STANDARD"
                ],
                "AdditionalATMServices": [
                  "STANDARD"
                ],
                "Currency": [
                  "USD"
                ],
                "MinimumValueDispensed": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ATMData"
            }
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Open Banking ATMs GET operation.",
        "example": {
          "meta": {
            "LastUpdated": "2026-09-15",
            "TotalResults": 1,
            "Agreement": "STANDARD",
            "License": "https://example.com/resource",
            "TermsOfUse": "https://example.com/resource"
          },
          "data": [
            {
              "Organisation": {
                "ParentOrganisation": {
                  "LEI": "STANDARD",
                  "BIC": "STANDARD",
                  "OrganisationName": {
                    "LegalName": "Olivia Bennett"
                  }
                },
                "Brand": {
                  "TrademarkIPOCode": "CODE-930",
                  "TrademarkID": "STANDARD"
                }
              },
              "BranchIdentification": "STANDARD",
              "ATMID": "STANDARD",
              "LocationCategory": "STANDARD",
              "SiteID": "STANDARD",
              "SiteName": "Northstar Banking Service",
              "Address": {
                "StreetName": "Northstar Banking Service",
                "BuildingNumberOrName": "Northstar Banking Service",
                "PostCode": "CODE-400",
                "OptionalAddressField": "STANDARD",
                "TownName": "Northstar Banking Service",
                "CountrySubDivision": "STANDARD",
                "Country": "STANDARD"
              },
              "GeographicLocation": {
                "Latitude": "STANDARD",
                "Longitude": "STANDARD"
              },
              "AccessibilityTypes": [
                "STANDARD"
              ],
              "SupportedLanguages": [
                "STANDARD"
              ],
              "ATMServices": [
                "STANDARD"
              ],
              "AdditionalATMServices": [
                "STANDARD"
              ],
              "Currency": [
                "USD"
              ],
              "MinimumValueDispensed": "STANDARD"
            }
          ],
          "metadata": {
            "responseId": "cbb0884c-b573-5b43-b549-495ce0ab8f5c",
            "correlationId": "622e3e27-b649-537f-8e2a-e4d030ddf003",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Meta": {
        "type": "object",
        "properties": {
          "LastUpdated": {
            "type": "string",
            "description": "The last time the data was updated."
          },
          "TotalResults": {
            "type": "integer",
            "description": "The total number of results available.",
            "format": "int32"
          },
          "Agreement": {
            "type": "string",
            "description": "The agreement associated with the data."
          },
          "License": {
            "type": "string",
            "description": "License information for the data usage."
          },
          "TermsOfUse": {
            "type": "string",
            "description": "Terms of use for the data."
          }
        },
        "description": "Meta information about the ATM data response."
      },
      "ATMData": {
        "type": "object",
        "properties": {
          "Organisation": {
            "description": "The organization that operates the ATM.",
            "$ref": "#/components/schemas/Organisation"
          },
          "BranchIdentification": {
            "type": "string",
            "description": "A unique identifier for the ATM's branch."
          },
          "ATMID": {
            "type": "string",
            "description": "The unique identifier for the ATM."
          },
          "LocationCategory": {
            "type": "string",
            "description": "The category of the ATM's location."
          },
          "SiteID": {
            "type": "string",
            "description": "The unique identifier for the ATM site."
          },
          "SiteName": {
            "type": "string",
            "description": "The name of the site where the ATM is located."
          },
          "Address": {
            "description": "The physical address of the ATM.",
            "$ref": "#/components/schemas/Address"
          },
          "GeographicLocation": {
            "description": "Geographic coordinates of the ATM.",
            "$ref": "#/components/schemas/GeographicLocation"
          },
          "AccessibilityTypes": {
            "type": "array",
            "description": "Types of accessibility features available at the ATM.",
            "items": {
              "type": "string"
            }
          },
          "SupportedLanguages": {
            "type": "array",
            "description": "Languages supported by the ATM.",
            "items": {
              "type": "string"
            }
          },
          "ATMServices": {
            "type": "array",
            "description": "Services provided by the ATM.",
            "items": {
              "type": "string"
            }
          },
          "AdditionalATMServices": {
            "type": "array",
            "description": "Additional services available at the ATM.",
            "items": {
              "type": "string"
            }
          },
          "Currency": {
            "type": "array",
            "description": "Currencies supported by the ATM.",
            "items": {
              "type": "string"
            }
          },
          "MinimumValueDispensed": {
            "type": "string",
            "description": "The minimum amount that can be dispensed by the ATM."
          }
        },
        "description": "Details of a single ATM."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed."
          }
        },
        "description": "Metadata containing response identifiers."
      },
      "Organisation": {
        "type": "object",
        "properties": {
          "ParentOrganisation": {
            "description": "Information about the parent organization.",
            "$ref": "#/components/schemas/ParentOrganisation"
          }
        },
        "description": "Details about the organization operating the ATM."
      },
      "ParentOrganisation": {
        "type": "object",
        "properties": {
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) of the organization."
          },
          "BIC": {
            "type": "string",
            "description": "Bank Identifier Code (BIC) of the organization."
          },
          "OrganisationName": {
            "description": "The name of the organization.",
            "$ref": "#/components/schemas/OrganisationName"
          },
          "Brand": {
            "description": "Brand information of the organization.",
            "$ref": "#/components/schemas/Brand"
          }
        },
        "description": "Details of the parent organization of the ATM."
      },
      "OrganisationName": {
        "type": "object",
        "properties": {
          "LegalName": {
            "type": "string",
            "description": "The legal name of the organization."
          }
        },
        "description": "Details of the organization name."
      },
      "Brand": {
        "type": "object",
        "properties": {
          "TrademarkIPOCode": {
            "type": "string",
            "description": "Trademark code registered at the IPO."
          },
          "TrademarkID": {
            "type": "string",
            "description": "Unique identifier for the trademark."
          }
        },
        "description": "Brand information associated with the organization."
      },
      "Address": {
        "type": "object",
        "properties": {
          "StreetName": {
            "type": "string",
            "description": "The name of the street where the ATM is located."
          },
          "BuildingNumberOrName": {
            "type": "string",
            "description": "Building number or name for the ATM's address."
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the ATM's location."
          },
          "OptionalAddressField": {
            "type": "string",
            "description": "An optional additional address field."
          },
          "TownName": {
            "type": "string",
            "description": "The name of the town where the ATM is located."
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country for the ATM's location."
          },
          "Country": {
            "type": "string",
            "description": "The country where the ATM is located."
          }
        },
        "description": "The address of the ATM."
      },
      "GeographicLocation": {
        "type": "object",
        "properties": {
          "Latitude": {
            "type": "string",
            "description": "The latitude coordinate of the ATM's location."
          },
          "Longitude": {
            "type": "string",
            "description": "The longitude coordinate of the ATM's location."
          }
        },
        "description": "The geographic location of the ATM represented by latitude and longitude."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
        },
        "example": "open-data-api-get-reference-implementation-open-banking-v13-atms"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using Bearer tokens. This implementation uses JSON Web Tokens (JWT) for secure token-based authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}