{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Recruitment Details API",
    "description": "The Recruitment Details API allows users to access comprehensive information about specific recruitment processes within the organization. Leveraging this API, HR professionals can retrieve detailed insights regarding job postings, applicant status, and recruitment timelines. Typical use cases include reviewing applicant data and analyzing recruitment efficiency. This API serves as a vital resource for HR teams seeking to streamline hiring efforts and improve recruitment outcomes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/recruitment/{recruitmentId}": {
      "get": {
        "tags": [
          "Recruitment"
        ],
        "summary": "Retrieve recruitment details by ID.",
        "description": "Fetches the details of a specific recruitment record identified by its unique ID. This endpoint allows users to access comprehensive information regarding the recruitment process for the specified resource.",
        "operationId": "getRecruitmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch the details of the recruitment operation with the specified ID. It expects a JSON structure defined by the schema, which outlines the required parameters for the GET request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRecruitmentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRecruitmentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRecruitmentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Operations GET request in the Human Resource Management recruitment system.",
        "example": "{}"
      },
      "GetRecruitmentByIdResponse_200": {
        "type": "object",
        "properties": {
          "requisitionId": {
            "type": "string",
            "description": "The unique identifier for the recruitment requisition.",
            "example": "STANDARD"
          },
          "positionTitle": {
            "type": "string",
            "description": "The title of the position being recruited for.",
            "example": "STANDARD"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier for the department associated with the requisition.",
            "example": "STANDARD"
          },
          "employmentType": {
            "type": "string",
            "description": "The type of employment (e.g., Full-time, Part-time, Contract).",
            "example": "STANDARD"
          },
          "location": {
            "type": "string",
            "description": "The location where the position is based.",
            "example": "STANDARD"
          },
          "targetStartDate": {
            "type": "string",
            "description": "The date when the recruited employee is expected to start.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the requisition (e.g., Open, Closed).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the requisition record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The last date and time when the requisition record was updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving details about a specific recruitment requisition.",
        "example": {
          "requisitionId": "STANDARD",
          "positionTitle": "STANDARD",
          "departmentId": "STANDARD",
          "employmentType": "STANDARD",
          "location": "STANDARD",
          "targetStartDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "13fb5b8b-1cb5-5772-a28f-ee81433d3dd8",
            "correlationId": "bf030d22-9069-57fe-bfd2-6d714a568453",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "RES-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to trace the request across systems.",
            "example": "CORR-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-10T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "recruitment-get-recruitment"
        },
        "example": "recruitment-get-recruitment"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. To authorize requests, include a valid JSON Web Token (JWT) in the Authorization header as `Bearer <your_token>`. The JWT should be obtained through a secure authentication process and must be included in all requests requiring user verification.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}