{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Development Environment Management API",
    "description": "This API allows for the management and configuration of the development environment within the IT management banking system. It supports operations to adjust settings and parameters to optimize the development workflows. Typical users include developers and IT administrators who need to ensure that the development environment aligns with project requirements. By enabling dynamic updates, this API facilitates agile practices and enhances collaboration among team members. ",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/development-environment/{param1}": {
      "patch": {
        "tags": [
          "IT Management"
        ],
        "summary": "Update Development Environment Resource",
        "description": "This operation allows users to update specific attributes of a development environment resource identified by its unique identifier (RES-100045). Ensure to provide the correct data format and attributes for the update to succeed.",
        "operationId": "updateDevelopmentEnvironmentResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the details of the specified development environment resource identified by RES-100045. The request should contain the necessary fields to make updates, as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDevelopmentEnvironmentResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDevelopmentEnvironmentResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDevelopmentEnvironmentResource100045Request": {
        "title": "Patch Development Environment Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the development environment.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "A description of the reason for the change.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the change becomes effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context about the request, including various identifiers and metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for patching a development environment.",
        "example": {
          "changes": {
            "environmentId": "STANDARD",
            "applicationId": "APP-731819",
            "runtime": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "cb24c781-ba3c-5507-b2de-d2cb96146a5d",
            "correlationId": "55ef76c1-111f-5070-ab9d-7c085aad2e1f",
            "idempotencyKey": "8eedda07-e11e-5f4d-b899-5740ca348391",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-455095"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Development Environment",
        "type": "object",
        "properties": {
          "environmentId": {
            "type": "string",
            "description": "The identifier of the development environment being modified.",
            "example": "env-001"
          },
          "applicationId": {
            "type": "string",
            "description": "The identifier of the application related to the development environment.",
            "example": "app-001"
          },
          "runtime": {
            "type": "string",
            "description": "The runtime environment to be applied.",
            "example": "Node.js 14.x"
          }
        },
        "description": "Schema for representing changes to a development environment."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests in a distributed system.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is idempotent.",
            "example": "idempotency-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "User Portal"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing details about the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier of the channel used for the request.",
            "example": "ch-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used to make the request.",
            "example": "dev-001"
          }
        },
        "description": "Schema containing information about the request channel."
      },
      "UpdateDevelopmentEnvironmentResource100045Response_200": {
        "title": "Patch Response for Development Environment Operations",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the resource.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The datetime when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response returned after a successful PATCH operation on the development environment.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "8abd44d9-beb8-5eb8-bec9-860a7b07a149",
            "correlationId": "55ef76c1-111f-5070-ab9d-7c085aad2e1f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Operation Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple messages or requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The datetime when the metadata was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation was processed."
          }
        },
        "description": "Schema representing metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "development-environment-update-development-environment"
        },
        "example": "development-environment-update-development-environment"
      },
      "X-Runtime-App": {
        "description": "The name or identifier of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}