{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trader Position Insights API",
    "description": "The Trader Position Insights API provides essential information regarding trader positions in wholesale trading environments. This endpoint allows users to retrieve detailed data on specific trader position operations, facilitating a better understanding of their trading strategies and performance. Typical consumers include financial analysts, traders, and risk management teams who utilize this data for informed decision-making and strategic planning. By accessing this endpoint, users can gain valuable insights into their trading activities and manage their portfolios more effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/trader-position-operations/{param1}": {
      "get": {
        "tags": [
          "Trader Position Operations"
        ],
        "summary": "Retrieve Trader Position Operation",
        "description": "This endpoint allows you to fetch detailed information about a specific trader position operation using its unique identifier. It is designed to help users monitor their trading performance and make informed decisions based on real-time data.",
        "operationId": "getTraderPositionOperationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the trader position operations for a specified trader. Ensure that the request body includes all necessary parameters to filter and retrieve the correct data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetTraderPositionOperationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the trader position information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetTraderPositionOperationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetTraderPositionOperationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the Trader Position Operations GET request in the wholesale trading context.",
        "example": "{}"
      },
      "GetTraderPositionOperationByIdResponse_200": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the trading operation (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the financial instrument involved in the operation.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the trading operation.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record (e.g., active or inactive).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the trading operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the trading operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for trader position operations in the wholesale trading context.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "55260a02-3960-5bef-8302-09963550c712",
            "correlationId": "f7e56af0-842a-57b0-beca-d791f4f2895c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "string"
          }
        },
        "description": "Object representing the limit price for a trading operation."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Object representing metadata related to the trading operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the specific endpoint that has been called. This header helps to trace the request back to the service endpoint for logging and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trader-position-operations-get-trader-position-operations"
        },
        "example": "trader-position-operations-get-trader-position-operations"
      },
      "X-Runtime-App": {
        "description": "Identifies the application or service that processed the request. This header can be useful for diagnosing issues related to specific applications or services within the system.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token, which is a type of access token that is issued by an authentication server. Tokens must be in JWT (JSON Web Token) format and are required for authorization of secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}