{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Access Consents Management API",
    "description": "The Account Access Consents Management API facilitates the retrieval of account access consents granted by users to third-party applications. This endpoint allows developers and financial institutions to verify what consents have been provided for account access by specific users. It serves as an essential tool for ensuring compliance with open banking regulations while providing users with transparency over their data sharing decisions. Typical consumers include banks, fintech apps, and compliance systems that need to manage or audit user consent records effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/account-access-consents/{param1}": {
      "get": {
        "tags": [
          "Account Access"
        ],
        "summary": "Retrieve Account Access Consent",
        "description": "Fetch the details of the specified account access consent using its unique identifier. This endpoint provides the ability to check the status and details of a consent request.",
        "operationId": "getAccountAccessConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve account access consent details for a specific consent ID (RES-100045). It ensures that the request is properly formatted in JSON and provides the necessary schema for validation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountAccessConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of account access consent details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountAccessConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountAccessConsentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body sent to access account consent information.",
        "example": "{}"
      },
      "GetAccountAccessConsentByIdResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "description": "Details of the consent.",
            "$ref": "#/components/schemas/ConsentData"
          },
          "Links": {
            "description": "URI links for navigating through the data.",
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "description": "Meta information associated with the response.",
            "$ref": "#/components/schemas/MetaInfo"
          },
          "metadata": {
            "description": "Additional metadata about the response.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Response schema for retrieving account access consents.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "Permissions": [
              "STANDARD"
            ],
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "TransactionFromDateTime": "2026-09-15T14:30:00Z",
            "TransactionToDateTime": "2026-09-15T14:30:00Z"
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "6ceeaa33-cf6a-5d08-9385-61ae25820d9a",
            "correlationId": "a9a727ef-321d-5e32-a9f3-fa06b487188b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ConsentData": {
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "Unique identifier for the consent.",
            "example": "string"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the consent was created.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the consent.",
            "example": "string"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the consent.",
            "example": [
              {
                "code": "string",
                "description": "string",
                "Path": "string"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/StatusReasonItem"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the consent status was last updated.",
            "example": "string"
          },
          "Permissions": {
            "type": "array",
            "description": "List of permissions associated with the consent.",
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "Date and time when the consent will expire.",
            "example": "string"
          },
          "TransactionFromDateTime": {
            "type": "string",
            "description": "Start date and time for transactions covered by the consent.",
            "example": "string"
          },
          "TransactionToDateTime": {
            "type": "string",
            "description": "End date and time for transactions covered by the consent.",
            "example": "string"
          }
        },
        "description": "Detailed information about the consent."
      },
      "StatusReasonItem": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the reason for the status.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the reason for the status.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path related to the status reason.",
            "example": "string"
          }
        },
        "description": "Details about the reason for the consent status."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page of the data.",
            "example": "string"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of the data.",
            "example": "string"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of the data.",
            "example": "string"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of the data.",
            "example": "string"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of the data.",
            "example": "string"
          }
        },
        "description": "Links for navigating the paginated response."
      },
      "MetaInfo": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 0
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the data was first available.",
            "example": "string"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Date and time when the data was last available.",
            "example": "string"
          }
        },
        "description": "Meta information about the response."
      },
      "MetadataDetails": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed. This allows the tracking of requests to particular services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-account-access-consents-consent-id"
        },
        "example": "accounts-api-get-account-access-consents-consent-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is processing the request. This is useful for identifying which app is handling the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication using Bearer tokens. The token should be a JSON Web Token (JWT) that is sent in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}