{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Joint Borrower Notification API",
    "description": "The Joint Borrower Notification API facilitates the communication process for notifying joint borrowers about important updates and information via email. This endpoint allows for messages to be sent directly to joint borrowers, streamlining the coordination and transparency in lending processes. Typical users of this API include loan services and financial institutions that manage joint borrowing applications. By utilizing this API, organizations can ensure timely communication, improving customer experiences and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect/send/email/jointborrower": {
      "post": {
        "tags": [
          "Joint Borrower Communication"
        ],
        "summary": "Send email to joint borrower.",
        "description": "This endpoint allows you to send an email to a joint borrower, facilitating communication and documentation related to their application.",
        "operationId": "sendEmailToJointBorrower",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary information to send an email to a joint borrower, including the recipient details, email content, and any other required parameters.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendEmailToJointBorrowerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The email was sent successfully.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SendEmailToJointBorrowerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SendEmailToJointBorrowerRequest": {
        "type": "object",
        "properties": {
          "language": {
            "type": "string",
            "description": "The language code for the email content.",
            "example": "en"
          },
          "partnerId": {
            "type": "string",
            "description": "The identifier for the partner associated with the request.",
            "example": "STANDARD"
          },
          "borrowers": {
            "type": "array",
            "description": "A list of borrowers involved in the transaction.",
            "example": [
              {
                "customerId": "CUST-384721",
                "consumerId": "STANDARD",
                "type": "STANDARD",
                "optionalConsumerInfo": {
                  "ssn": "STANDARD",
                  "dob": 1
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Borrower"
            }
          },
          "redirectUri": {
            "type": "string",
            "description": "The URI to redirect to after processing the request.",
            "example": "STANDARD"
          },
          "webhook": {
            "type": "string",
            "description": "The webhook URL to receive asynchronous notifications.",
            "example": "STANDARD"
          },
          "webhookContentType": {
            "type": "string",
            "description": "The content type of the webhook payload.",
            "example": "STANDARD"
          },
          "email": {
            "$ref": "#/components/schemas/EmailDetails"
          },
          "experience": {
            "type": "string",
            "description": "User experience level indicator.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "integer",
            "description": "The starting date for the request in epoch format.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for sending an email to joint borrowers.",
        "example": {
          "language": "en",
          "partnerId": "STANDARD",
          "borrowers": [
            {
              "customerId": "CUST-384721",
              "consumerId": "STANDARD",
              "type": "STANDARD",
              "optionalConsumerInfo": {
                "ssn": "STANDARD",
                "dob": 1
              }
            }
          ],
          "redirectUri": "STANDARD",
          "webhook": "STANDARD",
          "webhookContentType": "STANDARD",
          "email": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "experience": "STANDARD",
          "fromDate": 1,
          "requestContext": {
            "requestId": "03ee484a-5671-5ade-b5be-f6ef127a3ed6",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "idempotencyKey": "da900f0a-52b2-5261-8c17-96ffdd186b58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-104978"
            }
          }
        }
      },
      "Borrower": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "customer-456"
          },
          "consumerId": {
            "type": "string",
            "description": "The unique identifier for the consumer.",
            "example": "consumer-789"
          },
          "type": {
            "type": "string",
            "description": "The type of borrower.",
            "example": "primary"
          },
          "optionalConsumerInfo": {
            "$ref": "#/components/schemas/OptionalConsumerInfo"
          }
        },
        "description": "Schema representing an individual borrower."
      },
      "OptionalConsumerInfo": {
        "type": "object",
        "properties": {
          "ssn": {
            "type": "string",
            "description": "The Social Security Number of the consumer.",
            "example": "123-45-6789"
          },
          "dob": {
            "type": "integer",
            "description": "The date of birth of the consumer in epoch format.",
            "format": "int32",
            "example": 631152000
          }
        },
        "description": "Schema representing optional consumer information."
      },
      "EmailDetails": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "The recipient's email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "The sender's email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "The support phone number to be included in the email.",
            "example": "1-800-555-0199"
          },
          "subject": {
            "type": "string",
            "description": "The subject line of the email.",
            "example": "Important Information Regarding Your Application"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the receiver.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "The name of the institution sending the email.",
            "example": "Best Bank"
          },
          "institutionAddress": {
            "type": "string",
            "description": "The address of the institution.",
            "example": "123 Bank St, Finance City, FG 12345"
          },
          "signature": {
            "type": "array",
            "description": "The list of signature lines to be included in the email.",
            "items": {
              "type": "string",
              "example": "Best Regards, The Best Bank Team"
            }
          }
        },
        "description": "Schema representing the details of the email to be sent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier for tracking the request across systems.",
            "example": "corr-5678"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The key to ensure idempotent requests.",
            "example": "idempotency-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2021-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system which initiated the request.",
            "example": "Online Portal"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-0123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., email, sms).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-4567"
          }
        },
        "description": "Schema representing the communication channel for the request."
      },
      "SendEmailToJointBorrowerResponse_200": {
        "type": "object",
        "properties": {
          "link": {
            "type": "string",
            "description": "A link related to the email sending operation.",
            "example": "STANDARD"
          },
          "emailConfig": {
            "description": "Configuration details for the email being sent.",
            "$ref": "#/components/schemas/EmailConfig"
          },
          "metadata": {
            "description": "Metadata related to the response of the email operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the joint borrower email sending operation.",
        "example": {
          "link": "STANDARD",
          "emailConfig": {
            "to": "STANDARD",
            "from": "STANDARD",
            "supportPhone": "+1-212-555-0147",
            "subject": "STANDARD",
            "firstName": "Northstar Banking Service",
            "institutionName": "Northstar Banking Service",
            "institutionAddress": "STANDARD",
            "signature": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "1bdc7087-f3c1-51d7-abb7-ac2ee4a17b93",
            "correlationId": "4ee01fa5-efcf-5484-822b-362e8ff344a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmailConfig": {
        "type": "object",
        "properties": {
          "to": {
            "type": "string",
            "description": "Recipient email address.",
            "example": "recipient@example.com"
          },
          "from": {
            "type": "string",
            "description": "Sender email address.",
            "example": "sender@example.com"
          },
          "supportPhone": {
            "type": "string",
            "description": "Support phone number provided in the email.",
            "example": "+1234567890"
          },
          "subject": {
            "type": "string",
            "description": "Subject line of the email.",
            "example": "Important Notification"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the recipient.",
            "example": "John"
          },
          "institutionName": {
            "type": "string",
            "description": "Name of the institution sending the email.",
            "example": "Example Institution"
          },
          "institutionAddress": {
            "type": "string",
            "description": "Address of the institution.",
            "example": "123 Main St, Anytown, USA"
          },
          "signature": {
            "type": "array",
            "description": "List of strings representing the signature in the email.",
            "items": {
              "type": "string",
              "example": "Best regards,"
            }
          }
        },
        "description": "Configuration settings for the email, including recipients and content."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking related requests and responses.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata providing additional information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-send-joint-borrower-connect-email"
        },
        "example": "open-finance-api-send-joint-borrower-connect-email"
      },
      "x-runtime-app": {
        "description": "The version of the application runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that requires clients to present a JSON Web Token (JWT) for authorization. This token must be included in the `Authorization` header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}