{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Decision Update API",
    "description": "The Loan Application Decision Update API allows authorized users to modify the decision status of a specific loan application. By targeting a unique loan application ID and a decision ID, this endpoint facilitates real-time changes to the approval or rejection status. Typical consumers include loan officers and administrative staff who need to ensure up-to-date information in the loan processing workflow. This API is essential for enhancing decision-making processes and maintaining accurate records in the lending system.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/decisions/{decisionId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update the decision of a specific loan application.",
        "description": "This endpoint allows you to update the decision for a loan application identified by RES-100045. Send the necessary data in the request body to modify the decision status and any relevant details regarding the loan application.",
        "operationId": "updateLoanApplicationDecisionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for updating the loan application decision. This body must conform to the specified JSON schema, which includes required and optional fields for the decision update process.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationDecisionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the decision has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationDecisionRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationDecisionRes100045Request": {
        "title": "Loan Application Decision Request",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made regarding the loan application.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "riskGrade": {
            "type": "string",
            "description": "Risk grade assigned to the loan application.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The term of the loan in months that has been approved.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate percentage for the approved loan.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes related to the loan decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "R01"
            }
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions associated with the approved loan.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Any additional comments regarding the loan application decision.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context of the request that includes metadata.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a decision request for loan applications.",
        "example": {
          "decision": "STANDARD",
          "provisional": true,
          "riskGrade": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "requestContext": {
            "requestId": "4527a4bd-3a29-5435-a1c8-d447321f8c6a",
            "correlationId": "d416ef19-ef99-5488-9256-64564aac09f5",
            "idempotencyKey": "1de70363-2c43-53ed-8aa2-b5f0a868805a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-402434"
            }
          }
        }
      },
      "ApprovedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the approved principal.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of approved principal.",
            "example": "15000"
          }
        },
        "description": "Represents the approved principal amount for the loan application."
      },
      "Condition": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code representing the condition.",
            "example": "DOC_REQ"
          },
          "description": {
            "type": "string",
            "description": "Detailed description of the condition.",
            "example": "Further documentation required."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date before which the condition must be fulfilled.",
            "example": "2023-11-01"
          },
          "status": {
            "type": "string",
            "description": "Current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Represents a condition that must be met for the loan application."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used to correlate related requests.",
            "example": "corr-123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key for ensuring idempotent request handling.",
            "example": "idemp-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "LoanProcessingApp"
          },
          "channel": {
            "description": "Details about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual metadata around the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used.",
            "example": "channel-12345"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., Web, Mobile).",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateLoanApplicationDecisionRes100045Response_200": {
        "title": "Loan Application Decision Response",
        "type": "object",
        "properties": {
          "decision": {
            "type": "string",
            "description": "The decision made on the loan application.",
            "example": "STANDARD"
          },
          "decisionSource": {
            "type": "string",
            "description": "The source from where the decision was made.",
            "example": "STANDARD"
          },
          "provisional": {
            "type": "boolean",
            "description": "Indicates if the decision is provisional.",
            "example": true
          },
          "scorecardName": {
            "type": "string",
            "description": "The name of the scorecard used to evaluate the loan application.",
            "example": "Northstar Banking Service"
          },
          "creditScore": {
            "type": "integer",
            "description": "The credit score of the applicant.",
            "format": "int32",
            "example": 1
          },
          "riskGrade": {
            "type": "string",
            "description": "The risk grade assigned to the loan application.",
            "example": "STANDARD"
          },
          "probabilityOfDefaultPercent": {
            "type": "string",
            "description": "The estimated probability of default percentage.",
            "example": "STANDARD"
          },
          "debtToIncomePercent": {
            "type": "string",
            "description": "The debt-to-income ratio percentage.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The approved principal amount for the loan.",
            "$ref": "#/components/schemas/ApprovedPrincipal"
          },
          "approvedTermMonths": {
            "type": "integer",
            "description": "The approved term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "approvedAnnualInterestRatePercent": {
            "type": "string",
            "description": "The approved annual interest rate percentage.",
            "example": "STANDARD"
          },
          "reasonCodes": {
            "type": "array",
            "description": "List of reason codes for the decision.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "Excellent credit history"
            }
          },
          "conditions": {
            "type": "array",
            "description": "A list of conditions that must be met.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "comments": {
            "type": "string",
            "description": "Any comments related to the decision.",
            "example": "STANDARD"
          },
          "supersedesDecisionId": {
            "type": "string",
            "description": "The ID of the decision this decision supersedes, if applicable.",
            "example": "b8851652-8b73-73c7-4b8f-88bd86afd2ea"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the decision.",
            "example": "32dfb345-d698-8735-61a0-98340a7492e2"
          },
          "decidedAt": {
            "type": "string",
            "description": "The timestamp when the decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "decidedBy": {
            "type": "string",
            "description": "The identifier of the user or system that made the decision.",
            "example": "STANDARD"
          },
          "audit": {
            "description": "Audit information related to the decision.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Additional metadata related to the decision.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a loan application decision.",
        "example": {
          "decision": "STANDARD",
          "decisionSource": "STANDARD",
          "provisional": true,
          "scorecardName": "Northstar Banking Service",
          "creditScore": 1,
          "riskGrade": "STANDARD",
          "probabilityOfDefaultPercent": "STANDARD",
          "debtToIncomePercent": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "approvedTermMonths": 1,
          "approvedAnnualInterestRatePercent": "STANDARD",
          "reasonCodes": [
            "STANDARD"
          ],
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "comments": "STANDARD",
          "supersedesDecisionId": "b8851652-8b73-73c7-4b8f-88bd86afd2ea",
          "id": "32dfb345-d698-8735-61a0-98340a7492e2",
          "decidedAt": "2026-08-11T12:00:00Z",
          "decidedBy": "STANDARD",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "2144c9ce-be87-50c6-8e54-fd6b74ffe6d6",
            "correlationId": "d416ef19-ef99-5488-9256-64564aac09f5",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the decision was created.",
            "example": "2023-10-12T10:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user who created the decision.",
            "example": "SystemAdmin"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the decision was last updated.",
            "example": "2023-10-12T10:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user who last updated the decision.",
            "example": "SystemAdmin"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the decision.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Information related to the audit of the decision."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier of the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing.",
            "example": "CORR789012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-12T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata associated with the decision."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-credit-decision"
        },
        "example": "banking-loans-openapi-update-credit-decision"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid JWT in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}