{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Capital Markets Transaction Management API",
    "description": "The Capital Markets Transaction Management API facilitates the execution and management of wholesale trading activities within capital markets. This API enables users to initiate transactions, track trade progress, and manage related resources effectively. It is designed for financial institutions and trading firms looking to automate their trading processes and improve operational efficiency. Typical consumers include traders, portfolio managers, and financial analysts seeking to leverage advanced trading capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/capital-markets": {
      "post": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Create a new capital market entry in wholesale trading.",
        "description": "This endpoint allows users to create a new entry in the capital markets segment of wholesale trading. It accepts the necessary details to generate a capital market record, ensuring all required fields are validated before submission, and responds with the result of the creation operation.",
        "operationId": "createWholesaleTradingCapitalMarkets",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a capital markets operation within the wholesale trading system. It should contain the specific parameters and configurations needed for the operation, structured according to the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWholesaleTradingCapitalMarketsRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully. The request has resulted in a new resource being created.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWholesaleTradingCapitalMarketsResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateWholesaleTradingCapitalMarketsRequest": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "Indicates the side of the trade (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the financial instrument to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price for the trade operation.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "requestContext": {
            "description": "Context information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Represents the request body for a wholesale trading operation in capital markets.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestContext": {
            "requestId": "f7349941-577a-5ee7-bcb8-353df5154081",
            "correlationId": "b1efc389-3c1a-56fc-aefd-20c2216a50ee",
            "idempotencyKey": "52302310-6bfb-52d7-bcf2-51eb1071f5a7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-509219"
            }
          }
        }
      },
      "LimitPrice": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the limit price.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the limit price is denominated.",
            "example": "string"
          }
        },
        "description": "Represents the limit price information for a trade."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier for tracing requests through systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request is generated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the communication channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the transaction.",
            "example": "string"
          }
        },
        "description": "Represents the channel information related to the request."
      },
      "CreateWholesaleTradingCapitalMarketsResponse_201": {
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "Unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the requested resource.",
            "example": "RES-996887"
          },
          "status": {
            "type": "string",
            "description": "Current status of the operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the operation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a successful operation in wholesale trading capital markets.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "resourceId": "RES-996887",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "b4a5c578-908a-5434-847b-00894032f22b",
            "correlationId": "b1efc389-3c1a-56fc-aefd-20c2216a50ee",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking a sequence of related operations.",
            "example": "CORR123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the operation took place.",
            "example": "US-East"
          }
        },
        "description": "Metadata information for tracking and correlation purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that has been called, useful for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "ecm-and-dcm-create-ecm-and-dcm"
        },
        "example": "ecm-and-dcm-create-ecm-and-dcm"
      },
      "X-Runtime-App": {
        "description": "Indicates the version of the runtime application that processed the request, helpful for debugging and version management.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where a JSON Web Token (JWT) is provided as a means to authenticate requests. The client must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}