{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Settlement Data Retrieval API",
    "description": "The Settlement Data Retrieval API provides access to detailed information regarding settlement transactions. This endpoint allows users to query and retrieve specific settlement records, facilitating oversight and reconciliation processes. Typical consumers include financial analysts, accountants, and operations teams requiring comprehensive settlement data for reporting and analysis. By leveraging this API, organizations can enhance their financial workflows and ensure accuracy in their settlement operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/settlements": {
      "get": {
        "tags": [
          "Settlement Management"
        ],
        "summary": "Retrieve all settlements",
        "description": "Fetch a list of all settlements stored in the system, including their details and status. This endpoint allows you to access settlement records for analysis or other purposes.",
        "operationId": "getSettlements",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve a list of settlements based on specific query parameters. Ensure to provide the required data in the correct format to fetch the settlements accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSettlementsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of settlements data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSettlementsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSettlementsRequest": {
        "type": "string",
        "description": "The JSON request body for the GET operation related to settlements.",
        "example": "{}"
      },
      "GetSettlementsResponse_200": {
        "title": "Settlements Retrieval Response",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the retrieved settlements.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 1
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of settlement items available.",
            "format": "int32",
            "example": 1
          },
          "totalPages": {
            "type": "integer",
            "description": "The total number of pages available based on the total items.",
            "format": "int32",
            "example": 1
          },
          "hasNext": {
            "type": "boolean",
            "description": "Indicates whether there is a next page of items.",
            "example": true
          },
          "links": {
            "type": "array",
            "description": "Array of links relevant to the settlements pagination.",
            "example": [
              {
                "rel": "STANDARD",
                "href": "https://example.com/resource",
                "method": "STANDARD"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Link"
            }
          },
          "items": {
            "type": "array",
            "description": "Array of settlement items.",
            "example": [
              {
                "settlementId": "STANDARD",
                "merchantId": "MER-141282",
                "settlementAccountId": "ACC-323112",
                "periodStart": "2026-08-11T12:00:00Z",
                "periodEnd": "2026-08-11T12:00:00Z",
                "currency": "USD",
                "status": "ACTIVE",
                "summary": {
                  "grossPayments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "refunds": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reversals": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "disputes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "fees": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "taxes": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveHeld": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "reserveReleased": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "adjustments": {
                    "currency": "USD",
                    "value": "STANDARD"
                  },
                  "netSettlement": {
                    "currency": "USD",
                    "value": "STANDARD"
                  }
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SettlementItem"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving settlement information.",
        "example": {
          "page": 1,
          "pageSize": 1,
          "totalItems": 1,
          "totalPages": 1,
          "hasNext": true,
          "links": [
            {
              "rel": "STANDARD",
              "href": "https://example.com/resource",
              "method": "STANDARD"
            }
          ],
          "items": [
            {
              "settlementId": "STANDARD",
              "merchantId": "MER-141282",
              "settlementAccountId": "ACC-323112",
              "periodStart": "2026-08-11T12:00:00Z",
              "periodEnd": "2026-08-11T12:00:00Z",
              "currency": "USD",
              "status": "ACTIVE",
              "summary": {
                "grossPayments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "refunds": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reversals": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "disputes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "fees": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "taxes": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveHeld": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "reserveReleased": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "adjustments": {
                  "currency": "USD",
                  "value": "STANDARD"
                },
                "netSettlement": {
                  "currency": "USD",
                  "value": "STANDARD"
                }
              }
            }
          ],
          "metadata": {
            "responseId": "844cf442-0d7c-502b-b8f5-80e95bba987e",
            "correlationId": "4bec4d3c-897c-5d95-a456-c62912df735c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Link": {
        "title": "Link",
        "type": "object",
        "properties": {
          "rel": {
            "type": "string",
            "description": "Relation type of the link.",
            "example": "self"
          },
          "href": {
            "type": "string",
            "description": "URL of the linked resource.",
            "example": "http://api.example.com/settlements?page=1"
          },
          "method": {
            "type": "string",
            "description": "HTTP method to use for the linked resource.",
            "example": "GET"
          }
        },
        "description": "Schema representing a pagination link."
      },
      "SettlementItem": {
        "title": "Settlement Item",
        "type": "object",
        "properties": {
          "settlementId": {
            "type": "string",
            "description": "Unique identifier for the settlement.",
            "example": "settlement-123"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant associated with the settlement.",
            "example": "merchant-456"
          },
          "settlementAccountId": {
            "type": "string",
            "description": "Identifier for the account associated with the settlement.",
            "example": "account-789"
          },
          "periodStart": {
            "type": "string",
            "description": "Start date of the settlement period.",
            "example": "2023-01-01T00:00:00Z"
          },
          "periodEnd": {
            "type": "string",
            "description": "End date of the settlement period.",
            "example": "2023-01-31T00:00:00Z"
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the settlement.",
            "example": "USD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the settlement.",
            "example": "COMPLETED"
          },
          "summary": {
            "$ref": "#/components/schemas/Summary"
          }
        },
        "description": "Schema representing a settlement item."
      },
      "Summary": {
        "title": "Settlement Summary",
        "type": "object",
        "properties": {
          "grossPayments": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "refunds": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "reversals": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "disputes": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "fees": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "taxes": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "reserveHeld": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "reserveReleased": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "adjustments": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "netSettlement": {
            "$ref": "#/components/schemas/FinancialDetails"
          }
        },
        "description": "Summary of financial totals for a settlement."
      },
      "FinancialDetails": {
        "title": "Financial Details",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code for the financial detail.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "Monetary value of the financial detail.",
            "example": "1000.00"
          }
        },
        "description": "Financial details for a particular aspect of a settlement."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation-789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp of when the response was generated.",
            "example": "2023-01-31T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata related to the response for settlements."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the specific endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-list-settlements"
        },
        "example": "banking-p2m-openapi-list-settlements"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is currently executing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes a Bearer Token for authentication, specifically formatted as a JSON Web Token (JWT). The token must be included in the Authorization header as 'Bearer {token}' when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}