{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Workbench API",
    "description": "The Customer Workbench API facilitates seamless management of customer interactions across multiple channels. This endpoint allows businesses to enhance their customer service operations by creating and updating customer workbench entries. It supports various use cases, such as integrating customer data from different sources and managing requests efficiently. Ideal for customer service teams, marketing professionals, and sales representatives, this API aids in delivering a unified customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cross-channel/customer-workbench": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a new customer workbench in the cross-channel platform.",
        "description": "This endpoint allows for the creation of a new customer workbench, enabling users to manage and analyze customer data across multiple channels efficiently. It is designed for use by businesses seeking to enhance their customer engagement strategies.",
        "operationId": "createCrossChannelCustomerWorkbench",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for processing in the cross-channel customer workbench. Please ensure that the JSON structure complies with the defined schema to avoid errors.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCrossChannelCustomerWorkbenchRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully in the customer workbench.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCrossChannelCustomerWorkbenchResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCrossChannelCustomerWorkbenchRequest": {
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party in the context of the operation.",
            "example": "PARTY-288872"
          },
          "interactionId": {
            "type": "string",
            "description": "Identifier for the interaction associated with this operation.",
            "example": "INT-259458"
          },
          "channel": {
            "type": "string",
            "description": "Identifier for the communication channel used.",
            "example": "STANDARD"
          },
          "authenticationLevel": {
            "type": "string",
            "description": "Level of authentication required for the operation.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for cross-channel customer operations.",
        "example": {
          "partyId": "PARTY-288872",
          "interactionId": "INT-259458",
          "channel": "STANDARD",
          "authenticationLevel": "STANDARD",
          "requestContext": {
            "requestId": "761534f7-efb2-5e44-88a2-6d0ba9ea9d91",
            "correlationId": "a515ea4a-782c-55d4-a696-b38aa454288e",
            "idempotencyKey": "462ed6e5-648f-51a5-af02-7118c02c6101",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-403989"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Details about the channel used in the request.",
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema representing the contextual information of a request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., email, SMS, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "string"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateCrossChannelCustomerWorkbenchResponse_201": {
        "title": "Customer Interaction Response",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party related to the interaction.",
            "example": "PARTY-562525"
          },
          "interactionId": {
            "type": "string",
            "description": "Unique identifier for the interaction event.",
            "example": "INT-413695"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the associated resource.",
            "example": "RES-498368"
          },
          "status": {
            "type": "string",
            "description": "Current status of the interaction.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the interaction was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/InteractionMetadata"
          }
        },
        "description": "Response object for a customer interaction operation, containing relevant details about the interaction.",
        "example": {
          "partyId": "PARTY-562525",
          "interactionId": "INT-413695",
          "resourceId": "RES-498368",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6b221971-e4c4-50e0-a7ed-8933df608e99",
            "correlationId": "a515ea4a-782c-55d4-a696-b38aa454288e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "InteractionMetadata": {
        "title": "Interaction Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the interaction was processed.",
            "example": "string"
          }
        },
        "description": "Metadata pertaining to the interaction response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-workbench-create-customer-workbench"
        },
        "example": "customer-workbench-create-customer-workbench"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens. The tokens must be in JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}