{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_IT Systems Direction Retrieval API",
    "description": "The IT Systems Direction Retrieval API provides insights into the strategic direction for IT systems within an organization. By leveraging this endpoint, users can obtain specific information related to technology initiatives, project statuses, and alignment with business goals. It is particularly useful for IT managers, business analysts, and decision-makers seeking to understand and align IT capabilities with overall business strategy. This API enhances informed decision-making and supports effective resource allocation in IT management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/it-systems-direction/{param1}": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve IT systems direction information.",
        "description": "This endpoint allows users to fetch detailed information about the IT systems direction associated with the specified resource ID (RES-100045). It provides insights into the strategic directions concerning IT systems management, critical for informed decision-making.",
        "operationId": "getItSystemsDirectionByRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to fetch the details related to IT systems direction identified by RES-100045. The client must ensure to provide the correct data format as specified.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetItSystemsDirectionByRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetItSystemsDirectionByRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetItSystemsDirectionByRes100045Request": {
        "title": "IT Systems Direction Request Body",
        "type": "string",
        "description": "This schema defines the structure of the request body for the IT Systems Direction operations.",
        "example": "{}"
      },
      "GetItSystemsDirectionByRes100045Response_200": {
        "type": "object",
        "properties": {
          "policyId": {
            "type": "string",
            "description": "The unique identifier for the policy.",
            "example": "STANDARD"
          },
          "title": {
            "type": "string",
            "description": "The title of the policy.",
            "example": "Banking operation completed"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing the policy.",
            "example": "STANDARD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date from which the policy becomes effective.",
            "example": "2026-09-15"
          },
          "reviewDate": {
            "type": "string",
            "description": "The date when the policy should be reviewed.",
            "example": "2026-09-15"
          },
          "applicability": {
            "type": "array",
            "description": "A list of areas or systems where the policy applies.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An area or system name where the policy is applicable.",
              "example": "Sales Database"
            }
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the policy record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the policy.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the policy was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RES-789"
              },
              "correlationId": {
                "type": "string",
                "description": "A unique identifier for tracking the request and response.",
                "example": "CORR-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-01-15T14:30:00Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the response was processed.",
                "example": "US-East"
              }
            },
            "description": "Metadata information related to the response.",
            "example": {
              "responseId": "86c627f7-02dd-510b-8cc1-a06016bc75ed",
              "correlationId": "83727e41-a703-5ced-badc-884945071077",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Schema representing the response structure for the GET operation in the IT systems direction.",
        "example": {
          "policyId": "STANDARD",
          "title": "Banking operation completed",
          "ownerTeam": "STANDARD",
          "effectiveDate": "2026-09-15",
          "reviewDate": "2026-09-15",
          "applicability": [
            "STANDARD"
          ],
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "86c627f7-02dd-510b-8cc1-a06016bc75ed",
            "correlationId": "83727e41-a703-5ced-badc-884945071077",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "it-systems-direction-get-it-systems-direction"
        },
        "example": "it-systems-direction-get-it-systems-direction"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of a JSON Web Token (JWT) as a bearer authentication mechanism. Clients must include a valid JWT in the Authorization header when making requests to secured endpoints, following the format 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}