{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Application Discovery API",
    "description": "The Application Discovery API provides businesses with the ability to access and retrieve information about existing applications within the system. Users can query this endpoint to gather vital details like application status, configuration, and associated metadata. This capability is essential for operations teams, developers, or any stakeholders involved in application management and oversight. Typical use cases include monitoring application health and auditing application properties.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/applications": {
      "get": {
        "tags": [
          "Application Management"
        ],
        "summary": "Retrieve a list of applications.",
        "description": "Fetches all applications in the system, allowing users to view existing application data. This endpoint provides details about each application including their status and attributes.",
        "operationId": "getApplications",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for retrieving a list of applications. It may include filters, pagination options, and other query parameters necessary for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetApplicationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the application data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetApplicationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetApplicationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching application operations in JSON format.",
        "example": "{}"
      },
      "GetApplicationsResponse_200": {
        "title": "Application Response",
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The number of applications found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of applications currently being displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "boolean",
            "description": "Indicates if more applications are available beyond the displayed ones.",
            "example": true
          },
          "applications": {
            "type": "array",
            "description": "A list of applications.",
            "example": [
              {
                "preAppId": 1,
                "applicationId": "APP-790559",
                "status": "ACTIVE",
                "name": "Northstar Banking Service",
                "scopes": "STANDARD",
                "note": "STANDARD",
                "createdDate": "2026-09-15",
                "modifiedDate": "2026-09-15",
                "submittedDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Application"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving applications.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": true,
          "applications": [
            {
              "preAppId": 1,
              "applicationId": "APP-790559",
              "status": "ACTIVE",
              "name": "Northstar Banking Service",
              "scopes": "STANDARD",
              "note": "STANDARD",
              "createdDate": "2026-09-15",
              "modifiedDate": "2026-09-15",
              "submittedDate": "2026-09-15"
            }
          ],
          "metadata": {
            "responseId": "285a559a-954f-5a5a-835e-929bdf4ec931",
            "correlationId": "7a2c62e4-a646-55cf-9df5-e02b94135334",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Application": {
        "title": "Application Details",
        "type": "object",
        "properties": {
          "preAppId": {
            "type": "integer",
            "description": "The pre-application identifier.",
            "format": "int32",
            "example": 0
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier of the application.",
            "example": "app-1234"
          },
          "status": {
            "type": "string",
            "description": "The current status of the application.",
            "example": "approved"
          },
          "name": {
            "type": "string",
            "description": "The name of the application.",
            "example": "My Application"
          },
          "scopes": {
            "type": "string",
            "description": "The scopes granted to the application.",
            "example": "read,write"
          },
          "note": {
            "type": "string",
            "description": "Additional notes regarding the application.",
            "example": "This application has been reviewed."
          },
          "createdDate": {
            "type": "string",
            "description": "The date when the application was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "modifiedDate": {
            "type": "string",
            "description": "The date when the application was last modified.",
            "example": "2023-01-02T00:00:00Z"
          },
          "submittedDate": {
            "type": "string",
            "description": "The date when the application was submitted.",
            "example": "2023-01-01T00:00:00Z"
          }
        },
        "description": "Details of a single application."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-5678"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking related requests.",
            "example": "corr-9012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-applications"
        },
        "example": "open-finance-api-get-applications"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using a bearer token in the HTTP header. The token should be in JSON Web Token (JWT) format, providing a way to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}