{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Production Release Management API",
    "description": "The Production Release Management API is designed to facilitate the retrieval of production release information for banking IT management. This API allows users to access crucial data related to software releases, enabling them to track deployment statuses and operational readiness. Typical consumers include IT managers and DevOps teams who need to monitor production releases and ensure smooth transitions. By utilizing this endpoint, stakeholders can make informed decisions based on the latest release insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/production-release": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve production release details",
        "description": "This endpoint allows users to retrieve detailed information about the production release within the IT management context. It provides insights into the current status, versioning, and other relevant metrics related to the release process.",
        "operationId": "getProductionReleaseItManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the production release information, encapsulating the necessary parameters for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductionReleaseItManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved production release information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetProductionReleaseItManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetProductionReleaseItManagementRequest": {
        "type": "string",
        "description": "The request body for the IT Management Production Release operation. This schema represents a plain string containing relevant information or a payload associated with the operation.",
        "example": "{}"
      },
      "GetProductionReleaseItManagementResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of production release items.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ProductionReleaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a successful retrieval of production release operations.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "22a4785e-e72d-5f0d-8baf-9aea65f4ec56",
            "correlationId": "8a3db309-5e0b-5b77-93d9-8535aeb12aaf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ProductionReleaseItem": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system associated with the production release."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the production release is deployed."
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with the production release."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the production release."
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the production release."
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The identifier for the leased asset related to the production release."
          },
          "residualValue": {
            "$ref": "#/components/schemas/ResidualValue"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The lease term in months associated with the production release.",
            "format": "int32"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the production release record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the production release was last updated."
          }
        },
        "description": "Schema representing a single production release item."
      },
      "ResidualValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of residual value."
          },
          "currency": {
            "type": "string",
            "description": "The currency of the residual value."
          }
        },
        "description": "Schema representing the residual value of a leased asset."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate this response with a request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed."
          }
        },
        "description": "Schema representing metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint that was called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "production-release-search-production-release"
        },
        "example": "production-release-search-production-release"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization. The token should be a JSON Web Token (JWT) that is included in the `Authorization` header of the request as `Bearer <token>`. Ensure that the token is securely generated and validated.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}