{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Management API",
    "description": "The Cash Management API provides businesses with tools to efficiently manage their cash flow and optimize liquidity. It enables users to access important financial data, track cash positions, and analyze cash-related metrics. The API is designed for financial analysts, treasury teams, and accounting professionals who need to streamline cash operations. By integrating this API, organizations can make informed decisions regarding fund allocation and cash usage, ensuring better financial health and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-management": {
      "get": {
        "tags": [
          "Trade Banking"
        ],
        "summary": "Retrieve cash management information.",
        "description": "This endpoint allows you to access details regarding cash management services under trade banking. It provides essential information necessary for managing liquidity and financial operations related to cash management.",
        "operationId": "getCashManagementTradeBanking",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve cash management operations within the trade banking context. Ensure that all required parameters are included in the request for accurate data retrieval.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCashManagementTradeBankingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and cash management data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCashManagementTradeBankingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCashManagementTradeBankingRequest": {
        "title": "Trade Banking Cash Management Operations Request Body",
        "type": "string",
        "description": "This schema defines the request body format for the operations in the Trade Banking Cash Management GET request. Currently, it accepts a string as input.",
        "example": "{}"
      },
      "GetCashManagementTradeBankingResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of cash management operations.",
            "example": [
              {
                "corporateCustomerId": "CUST-647224",
                "facilityId": "STANDARD",
                "counterpartyId": "PARTY-156467",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "maturityDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CashManagementOperation"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the returned items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving cash management operations in trade banking.",
        "example": {
          "items": [
            {
              "corporateCustomerId": "CUST-647224",
              "facilityId": "STANDARD",
              "counterpartyId": "PARTY-156467",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "maturityDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "98f45c02-a222-584f-84ec-0032cbc2bc00",
            "correlationId": "ec6d1df7-14fd-5cb1-beb6-f1c0ed47e300",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CashManagementOperation": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Unique identifier for the corporate customer.",
            "example": "CUST12345"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility associated with the operation.",
            "example": "FAC45678"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the operation.",
            "example": "CP98765"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "Maturity date of the operation in ISO format.",
            "example": "2023-12-31"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update in ISO format.",
            "example": "2023-01-01T12:00:00Z"
          }
        },
        "description": "Details of a cash management operation."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "Monetary value of the operation.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "USD"
          }
        },
        "description": "Amount details associated with a cash management operation."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing requests.",
            "example": "CORR987654"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the request was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-management-and-account-services-search-cash-management-and-account-services"
        },
        "example": "cash-management-and-account-services-search-cash-management-and-account-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme outlined in RFC 6750. It allows clients to authenticate themselves using a JSON Web Token (JWT) as a bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}