{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Payment Consents API",
    "description": "The Domestic Payment Consents API facilitates the initiation of domestic payment requests by obtaining necessary user consents in a secure manner. It allows financial institutions and third-party payment providers to request permission for executing domestic payments on behalf of users. Typical consumers of this API include banks, payment service providers, and financial applications that require seamless transaction capabilities. By ensuring compliance with regulations, this API enhances user trust and simplifies payment processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-payment-consents": {
      "post": {
        "tags": [
          "Payment Initiation Services"
        ],
        "summary": "Create a new domestic payment consent.",
        "description": "This endpoint allows users to initiate a new domestic payment consent, which is required for processing payments between accounts. Ensure all necessary payment details and consent agreements are included in the request.",
        "operationId": "createDomesticPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new domestic payment consent, which is required to authorize a payment transaction from the payer to the payee. It must include all necessary information for processing the payment such as payer details, payee details, amount, and any relevant transaction reference.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new domestic payment consent.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for domestic payment consents in PISP operations.",
        "example": {
          "Data": {
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "fa5a5225-1cfa-5caf-8a08-9061878f2e19",
            "correlationId": "51eef664-8394-56c8-b328-df413048d628",
            "idempotencyKey": "a843adc1-ed54-56b2-949a-e6041711b974",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-214992"
            }
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates if the refund account should be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Data related to the payment consent."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identification for the instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Unique identifier for tracking the payment from end to end.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Type of local instrument used for the payment.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/Amount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/Account"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/Agent"
          }
        },
        "description": "Details for payment initiation."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount to be transferred.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the amount.",
            "example": "string"
          }
        },
        "description": "Amount details for the transaction."
      },
      "Account": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for account clarifications.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "Details of the account involved in the transaction."
      },
      "Proxy": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy.",
            "example": "string"
          }
        },
        "description": "Proxy details for the debtor account."
      },
      "Agent": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name for the creditor agent.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identification of the creditor agent.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the creditor agent.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the creditor agent.",
            "example": "string"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddress"
          }
        },
        "description": "Details regarding the agent of the creditor."
      },
      "PostalAddress": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address.",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department associated with the address.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department associated with the address.",
            "example": "string"
          }
        },
        "description": "Postal address details for the agent."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating logs and messages.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Details regarding the channel used for the request."
      },
      "CreateDomesticPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the consent was created.",
                "example": "2023-10-01T10:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "Pending"
              },
              "StatusReason": {
                "type": "array",
                "description": "Reasons for the current status of the consent.",
                "items": {
                  "$ref": "#/components/schemas/StatusReasonDetail"
                }
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time when the status was last updated.",
                "example": "2023-10-01T12:00:00Z"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates whether the refund account can be read.",
                "example": "Yes"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "Cut-off date and time for processing the consent.",
                "example": "2023-10-02T10:00:00Z"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "Expected date and time when the execution will take place.",
                "example": "2023-10-03T10:00:00Z"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "Expected date and time for settlement.",
                "example": "2023-10-04T10:00:00Z"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "items": {
                  "$ref": "#/components/schemas/ChargeDetail"
                }
              },
              "Initiation": {
                "$ref": "#/components/schemas/InitiationDetail"
              },
              "metadata": {
                "$ref": "#/components/schemas/Metadata"
              }
            },
            "description": "Data containing consent details.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAgent": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "LEI": "STANDARD",
                  "PostalAddress": {
                    "AddressType": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for domestic payment consent operations. This schema contains the data related to the consent and metadata associated with the request.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAgent": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "LEI": "STANDARD",
                "PostalAddress": {
                  "AddressType": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service"
                }
              }
            }
          },
          "metadata": {
            "responseId": "0de904af-e3ab-5f55-af03-a8c8feba27ef",
            "correlationId": "51eef664-8394-56c8-b328-df413048d628",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReasonDetail": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "SR001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Consent pending verification"
          },
          "Path": {
            "type": "string",
            "description": "Path to more information about the reason.",
            "example": "/path/to/reason/details"
          }
        },
        "description": "Details regarding the status reason of a consent."
      },
      "ChargeDetail": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "Debtor"
          },
          "Type": {
            "type": "string",
            "description": "Type of the charge.",
            "example": "Fixed"
          },
          "Amount": {
            "$ref": "#/components/schemas/AmountDetail"
          }
        },
        "description": "Details about a charge related to the consent."
      },
      "InitiationDetail": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Identifier for the instruction.",
            "example": "Instruction123"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Unique end-to-end identification for the payment.",
            "example": "E2E123456"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "Local instrument for the payment.",
            "example": "CreditTransfer"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/AmountDetail"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetail"
          },
          "CreditorAgent": {
            "$ref": "#/components/schemas/AgentDetail"
          }
        },
        "description": "Details regarding the initiation of the payment."
      },
      "AmountDetail": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "Currency of the monetary amount.",
            "example": "USD"
          }
        },
        "description": "Details about the monetary amount."
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the account scheme.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Account identification number.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification of the account.",
            "example": "OptionalID"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetail"
          }
        },
        "description": "Details of an account."
      },
      "ProxyDetail": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "Proxy identification.",
            "example": "ProxyID123"
          },
          "Code": {
            "type": "string",
            "description": "Proxy code.",
            "example": "ProxyCode"
          },
          "Type": {
            "type": "string",
            "description": "Type of proxy.",
            "example": "Email"
          }
        },
        "description": "Proxy details for an account."
      },
      "AgentDetail": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the agent scheme.",
            "example": "BIC"
          },
          "Identification": {
            "type": "string",
            "description": "Identification of the agent.",
            "example": "AGENT123"
          },
          "Name": {
            "type": "string",
            "description": "Name of the agent.",
            "example": "Creditor Bank"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier of the agent.",
            "example": "DE1234567890"
          },
          "PostalAddress": {
            "$ref": "#/components/schemas/PostalAddressDetail"
          }
        },
        "description": "Details of the creditor's agent."
      },
      "PostalAddressDetail": {
        "type": "object",
        "properties": {
          "AddressType": {
            "type": "string",
            "description": "Type of address (e.g., home, work).",
            "example": "Business"
          },
          "Department": {
            "type": "string",
            "description": "Department name if applicable.",
            "example": "Finance"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name if applicable.",
            "example": "Accounts Payable"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "123 Main St"
          }
        },
        "description": "Postal address details of an entity."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking related requests.",
            "example": "correlation_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp for when the response was generated.",
            "example": "2023-10-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-012"
        },
        "example": "WF-012"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "77ef11a5-e20a-4181-a526-2bafab247f68"
        },
        "example": "77ef11a5-e20a-4181-a526-2bafab247f68"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1b2367af-800c-4814-8939-800cff63a697"
        },
        "example": "1b2367af-800c-4814-8939-800cff63a697"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint where the request was processed. This helps in tracing the request and correlating logs.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-payment-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-payment-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application responsible for executing the request. This aids in understanding the source of the response.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      },
      "X-Workflow-Id": {
        "description": "An identifier for the workflow instance associated with the transaction. It is useful for monitoring and auditing purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-012"
        },
        "example": "WF-012"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "Domestic Account-to-Account Transfer"
        },
        "example": "Domestic Account-to-Account Transfer"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1b2367af-800c-4814-8939-800cff63a697"
        },
        "example": "1b2367af-800c-4814-8939-800cff63a697"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme that uses a Bearer token for authentication. This token is typically a JSON Web Token (JWT) that provides a way to securely transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}