{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Amendments Submission API",
    "description": "The Trade Amendments Submission API enables users to submit amendments for trade reports within the banking market operations domain. This endpoint allows authorized users to update existing trade submissions identified by a unique submissionId, ensuring compliance and accuracy in reporting. Typical consumers of this API include financial institutions and compliance officers who need to manage and rectify trade reporting discrepancies efficiently. By facilitating timely amendments, this API plays a crucial role in maintaining accurate market operational records.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting/submissions/{submissionId}/amendments": {
      "post": {
        "tags": [
          "Trade Reporting"
        ],
        "summary": "Submit an amendment for a trade reporting submission.",
        "description": "This endpoint allows you to submit an amendment for a specific trade reporting submission identified by the RES-100045 reference. Ensure that all necessary details are included in the request to process the amendment successfully.",
        "operationId": "postTradeReportingSubmissionAmendmentRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit amendments for trade reporting related to the specified submission reference RES-100045. Ensure that all required fields are filled out according to the schema to successfully process the amendment request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PostTradeReportingSubmissionAmendmentRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed now.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PostTradeReportingSubmissionAmendmentRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PostTradeReportingSubmissionAmendmentRes100045Request": {
        "type": "object",
        "properties": {
          "amendmentReason": {
            "type": "string",
            "description": "The reason for the amendment.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "Reference identifier for the submission being amended.",
            "example": "STANDARD"
          },
          "changes": {
            "description": "Details of the changes being made to the trade.",
            "$ref": "#/components/schemas/TradeChanges"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user requesting the amendment.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for amending trade report submissions.",
        "example": {
          "amendmentReason": "STANDARD",
          "submissionReference": "STANDARD",
          "changes": {
            "tradeId": "STANDARD",
            "instrumentId": "STANDARD",
            "settlementDate": "2026-09-15"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3ea6457b-cf88-5e9b-8288-96b1d2a51ace",
            "correlationId": "2f8a7f4c-6161-5ba7-9189-5447e317217c",
            "idempotencyKey": "909b04a1-50f8-5994-a189-46f9e6730ab3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-351298"
            }
          }
        }
      },
      "TradeChanges": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Unique identifier for the trade.",
            "example": "TRADE789"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument associated with the trade.",
            "example": "INSTRUMENT123"
          },
          "settlementDate": {
            "type": "string",
            "description": "New settlement date for the trade.",
            "example": "2023-12-01"
          }
        },
        "description": "Schema representing the changes made to the trade information."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ987654"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracing across different systems.",
            "example": "CORR123456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "IDEM123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-10T14:48:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Name of the system that initiated the request.",
            "example": "TradeManagementSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "TradeApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Schema containing contextual information related to the request."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHANNEL456"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., API, UI).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "PostTradeReportingSubmissionAmendmentRes100045Response_202": {
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken on the submission.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action performed during the amendment submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the amendment request.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp indicating when the amendment was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the submission response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response object for the trade reporting submission amendment operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "5f49c98b-cece-53b4-85a6-97cc3d78a3d1",
            "correlationId": "2f8a7f4c-6161-5ba7-9189-5447e317217c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response from the server.",
            "example": "RES-100045"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier that correlates logs and requests in the system.",
            "example": "CORR-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing of the amendment took place.",
            "example": "EU"
          }
        },
        "description": "Metadata associated with the trade reporting amendment response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that is used to process the trade reporting submission. This value helps in tracking the requests associated with specific operations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-amend-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-amend-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "description": "The name of the application that executed the trade reporting operation. This header aids in identifying which application is responsible for the processing.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of bearer tokens in HTTP requests. A bearer token is a type of access token that is used to authenticate users and authorize access to resources via the JSON Web Token (JWT) format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}