{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Risk Models Retrieval API",
    "description": "The Market Risk Models Retrieval API enables users to access a comprehensive database of market risk models utilized within the banking sector. This endpoint serves as a vital resource for financial analysts and risk managers who need to evaluate and leverage analytical models for assessing market risks. By retrieving relevant models, users can make informed decisions to mitigate financial exposure and optimize their strategies. Ideal for integration within risk assessment tools or financial reporting systems, this API facilitates seamless access to critical financial data.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/market-risk-models": {
      "get": {
        "tags": [
          "Market Risk Models"
        ],
        "summary": "Retrieve Market Risk Models",
        "description": "This endpoint allows users to retrieve a list of market risk models available in the system, providing insights into their characteristics and performance metrics.",
        "operationId": "getMarketRiskModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve market risk models. This body is used to specify any filters or parameters needed for fetching the data. Ensure that the JSON structure adheres to the defined schema for accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketRiskModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of market risk models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketRiskModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketRiskModelsRequest": {
        "type": "string",
        "description": "A representation of the request body for the GET operation regarding market risk models.",
        "example": "{}"
      },
      "GetMarketRiskModelsResponse_200": {
        "title": "Market Risk Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market risk model objects.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-333575",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "validationDatasetId": "STANDARD",
                "backtestWindowMonths": 1,
                "approvalStatus": "ACTIVE",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketRiskModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the list of models.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A response object containing a list of market risk models and associated metadata.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-333575",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "validationDatasetId": "STANDARD",
              "backtestWindowMonths": 1,
              "approvalStatus": "ACTIVE",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "0313a94d-612f-5668-9b0e-5c4572477a77",
            "correlationId": "fd60d839-9198-5a90-a325-88ada8dafd4c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketRiskModel": {
        "title": "Market Risk Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the model."
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the model."
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model."
          },
          "asOfDate": {
            "type": "string",
            "description": "Date as of which the model is relevant."
          },
          "scenario": {
            "type": "string",
            "description": "Scenario under which the model is evaluated."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level associated with the model's predictions."
          },
          "validationDatasetId": {
            "type": "string",
            "description": "Identifier for the dataset used to validate the model."
          },
          "backtestWindowMonths": {
            "type": "integer",
            "description": "Number of months used for backtesting the model.",
            "format": "int32"
          },
          "approvalStatus": {
            "type": "string",
            "description": "Current approval status of the model."
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the model record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the model information."
          }
        },
        "description": "Detailed information about a specific market risk model."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page in the paginated response.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Information related to the pagination of the model list."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-risk-models-search-market-risk-models"
        },
        "example": "market-risk-models-search-market-risk-models"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication scheme, where a JWT (JSON Web Token) is used to authenticate requests. The token is passed in the 'Authorization' header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}