{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Loan Details API",
    "description": "The Corporate Loan Details API enables users to access comprehensive information regarding corporate loans offered by our financial institution. This endpoint allows stakeholders such as financial analysts, corporate clients, and lending managers to retrieve specific loan details using a unique identifier. Consumers can utilize this API to assess loan terms, conditions, and eligibility criteria, facilitating informed decision-making and strategic planning. It serves as a crucial tool for optimizing corporate finance practices and enhancing client service efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-loan/{param1}": {
      "get": {
        "tags": [
          "Corporate Lending"
        ],
        "summary": "Retrieve details of a specific corporate loan.",
        "description": "This endpoint allows users to fetch detailed information about the specified corporate loan using its unique identifier. It provides insights into the loan's terms, conditions, and status, empowering users to make informed financial decisions.",
        "operationId": "getCorporateLoanDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information regarding a specific corporate loan identified by its unique loan ID. Ensure that the necessary parameters are included in the JSON schema to receive the appropriate loan details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLoanDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the corporate loan details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLoanDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLoanDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the operations related to a corporate loan.",
        "example": "{}"
      },
      "GetCorporateLoanDetailsResponse_200": {
        "title": "Corporate Loan Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-481128"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account associated with the loan.",
            "example": "ACC-508880"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principal amount borrowed along with its currency.",
            "$ref": "#/components/schemas/LoanPrincipal"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of loan repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the loan record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the loan record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the loan response.",
            "$ref": "#/components/schemas/LoanMetadata"
          }
        },
        "description": "A response schema for retrieving details of a corporate loan.",
        "example": {
          "customerId": "CUST-481128",
          "accountId": "ACC-508880",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "73db5a19-a162-5416-85be-8338f43c8c7b",
            "correlationId": "aff4c433-5138-5a95-af5c-bba528efaf09",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LoanPrincipal": {
        "title": "Loan Principal",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money borrowed.",
            "example": 50000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code in which the loan is denominated.",
            "example": "USD"
          }
        },
        "description": "The principal amount of the loan and its currency."
      },
      "LoanMetadata": {
        "title": "Loan Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response789"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request.",
            "example": "correlation012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the loan is processed.",
            "example": "US-East"
          }
        },
        "description": "Additional metadata associated with the loan response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-loan-get-corporate-loan"
        },
        "example": "corporate-loan-get-corporate-loan"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, requiring a valid JSON Web Token (JWT) for accessing secured endpoints. Clients must include the token in the 'Authorization' header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}