{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Investment Portfolio Adjustment API",
    "description": "The Investment Portfolio Adjustment API allows users to modify and optimize their existing investment portfolios based on updated strategies and market conditions. This operation caters to financial advisors and individual investors who seek to enhance their asset allocations or respond to changes in their investment objectives. By leveraging this API, consumers can efficiently adjust portfolio parameters, ensuring alignment with personal or client goals. Use cases include rebalancing portfolios, adjusting risk levels, and responding to market volatility.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/investment-management/investment-portfolio-planning/{param1}": {
      "patch": {
        "tags": [
          "Investment Management"
        ],
        "summary": "Update Investment Portfolio Planning",
        "description": "This operation allows you to update the details of a specific investment portfolio planning resource identified by RES-100045. You can modify various attributes to reflect the most current investment strategies and objectives.",
        "operationId": "patchInvestmentPortfolioPlanningRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the investment portfolio planning details for the specified resource. It contains the necessary information to modify existing attributes or add new information relevant to the investment portfolio.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchInvestmentPortfolioPlanningRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully updated the investment portfolio.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchInvestmentPortfolioPlanningRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchInvestmentPortfolioPlanningRes100045Request": {
        "title": "Investment Portfolio Planning Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "title": "Changes",
            "type": "object",
            "properties": {
              "portfolioId": {
                "type": "string",
                "description": "The identifier for the portfolio being updated.",
                "example": "portfolio-123"
              },
              "investmentAccountId": {
                "type": "string",
                "description": "The identifier for the investment account associated with the portfolio.",
                "example": "account-456"
              },
              "investmentObjective": {
                "type": "string",
                "description": "The investment objective for the portfolio.",
                "example": "Growth"
              }
            },
            "description": "Contains the specific changes to the investment portfolio.",
            "example": {
              "portfolioId": "PORT-482146",
              "investmentAccountId": "ACC-679266",
              "investmentObjective": "STANDARD"
            }
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating an investment portfolio.",
        "example": {
          "changes": {
            "portfolioId": "PORT-482146",
            "investmentAccountId": "ACC-679266",
            "investmentObjective": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6233bdfc-efe4-5524-afb9-a4d307670652",
            "correlationId": "8e6525be-bea4-50e2-b79c-034d6ffcda32",
            "idempotencyKey": "b2d6eb79-5b93-59b9-8468-2af7ccc278d3",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-287006"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure the idempotency of the request.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "external-system"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was initiated.",
            "example": "portfolio-manager-app"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request made to the investment management system.",
        "example": "{ \"requestId\": \"req-12345\", \"correlationId\": \"corr-67890\", \"idempotencyKey\": \"idemp-abcde\", \"requestedAt\": \"2023-09-30T10:00:00Z\", \"sourceSystem\": \"external-system\", \"sourceApplication\": \"portfolio-manager-app\", \"channel\": { ... } }"
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the request.",
            "example": "device-XYZ"
          }
        },
        "description": "Represents the channel used for the request, including device information.",
        "example": "{ \"channelId\": \"channel-001\", \"channelType\": \"mobile\", \"deviceId\": \"device-XYZ\" }"
      },
      "PatchInvestmentPortfolioPlanningRes100045Response_200": {
        "title": "Investment Portfolio Planning Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the investment portfolio planning operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "d277188f-b784-5ea2-b221-a1606434b66f",
            "correlationId": "8e6525be-bea4-50e2-b79c-034d6ffcda32",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across services.",
            "example": "def456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint that was called. This value helps in tracking the request and its corresponding response for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "investment-portfolio-planning-update-investment-portfolio-planning"
        },
        "example": "investment-portfolio-planning-update-investment-portfolio-planning"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header is useful for identifying which application instance handled the request, particularly in a microservices architecture.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method that uses a bearer token to grant access. The token is expected to be in the JSON Web Token (JWT) format, which contains encoded claims and is commonly used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}