{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Retrieval API",
    "description": "The Document Retrieval API enables users to access and retrieve specific banking documents efficiently. By utilizing a unique identifier in the URL, consumers can obtain essential documentation required for compliance, transaction verification, or customer support. This API is particularly useful for financial institutions, auditors, and customer service representatives who need to quickly retrieve pertinent documents. The streamlined process ensures that document management is both effective and user-friendly, enhancing operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services/{param1}": {
      "get": {
        "tags": [
          "Document Services"
        ],
        "summary": "Retrieve Document Service Details",
        "description": "Fetch the detailed information for the specified document service identified by RES-100045. This endpoint provides essential data for managing and utilizing document services effectively.",
        "operationId": "getDocumentServicesRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch details for the document with identifier RES-100045. It expects a JSON payload that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentServicesRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the requested document is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentServicesRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentServicesRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body of the GET operation for document services, specifically for the resource with ID 100045.",
        "example": "{}"
      },
      "GetDocumentServicesRes100045Response_200": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-413420"
          },
          "documentType": {
            "type": "string",
            "description": "The type/category of the document.",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the document (e.g., confidential, public).",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention policy class assigned to the document.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the user or entity that owns the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the file associated with the document.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "MIME type of the document's media.",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA-256 checksum of the document for integrity verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response for the document retrieval operation.",
        "example": {
          "documentId": "DOC-413420",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "eeb408cd-4487-5fdd-b01a-82a728cd1303",
            "correlationId": "59017ddd-4f43-554e-9388-c7aa0d6dfbb4",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the document.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier to track the request and response.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document was processed.",
            "example": "us-east"
          }
        },
        "description": "Metadata information related to the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-get-document-services"
        },
        "example": "document-services-get-document-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, providing context about which service instance processed this specific transaction.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token that is formatted as a JSON Web Token (JWT). It should be included in the Authorization header of requests to authenticate and authorize access to secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}