{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Platform Operations Management API",
    "description": "The Platform Operations Management API provides a means for stakeholders to access and review key operational metrics and resources associated with IT management within the banking sector. It enables users to gather insights into platform performance, incident management, and system configurations through specified parameters. Ideal for IT administrators and system analysts, this API supports use cases that require real-time data retrieval and operational oversight, enhancing decision-making processes for operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/platform-operations/{param1}": {
      "get": {
        "tags": [
          "Platform Operations"
        ],
        "summary": "Retrieve platform operation details",
        "description": "Fetches detailed information about a specific platform operation identified by its resource ID. This operation allows users to access all relevant data associated with the platform resource, facilitating efficient management and oversight.",
        "operationId": "getPlatformOperationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body should contain the necessary details to retrieve the specific operations for the resource identified by RES-100045. Please ensure that the required fields are populated correctly as per the schema definitions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPlatformOperationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPlatformOperationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPlatformOperationByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the IT Management platform operations under the specific ID RES-100045, using the GET method.",
        "example": "{}"
      },
      "GetPlatformOperationByIdResponse_200": {
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is taking place (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier of the change related to the operation.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for managing this operation.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned time for the operation to take place.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier of the operation (e.g., basic, premium).",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target percentage of availability for the operation.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The designated maintenance window for this operation.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the operation record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the operation record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to the operation record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/OperationMetadata"
          }
        },
        "description": "Represents the response structure for the GET operations request in the IT Management Platform.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "30faa7fe-c552-524e-9f3e-6da112770aa2",
            "correlationId": "ac998c30-cbec-5222-8044-d58548cec8b6",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used to correlate multiple requests.",
            "example": "correlation-012"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-01T09:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the operation is being processed.",
            "example": "us-east-1"
          }
        },
        "description": "Contains metadata related to the operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that has been called.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "platform-operations-get-platform-operations"
        },
        "example": "platform-operations-get-platform-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication. The 'Bearer' token must be included in the Authorization header of the request. The expected token format is JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}