{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Financial Settlement API",
    "description": "The Card Financial Settlement API provides a mechanism for efficiently retrieving financial settlement details related to card transactions. Payment processors and financial institutions can leverage this API to access settlement data, which is essential for auditing and reconciliation purposes. Typical use cases include verifying transaction statuses, analyzing settlement patterns, and ensuring accurate financial reporting. This endpoint enables users to streamline their financial operations and enhance the accuracy of their accounting processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-financial-settlement": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve card financial settlement details.",
        "description": "This endpoint allows you to fetch the financial settlement information for card transactions. It provides detailed insights into the settlement process, including amounts, dates, and relevant transaction identifiers.",
        "operationId": "getCardFinancialSettlement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card financial settlement operation. It requires a JSON payload that conforms to the specific schema for card financial settlements. Ensure that all required fields are included to successfully process the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardFinancialSettlementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of card financial settlement data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardFinancialSettlementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardFinancialSettlementRequest": {
        "title": "Card Financial Settlement Operation Request Body",
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to card financial settlements. It is expected to be a string with the relevant payload.",
        "example": "{}"
      },
      "GetCardFinancialSettlementResponse_200": {
        "title": "Card Financial Settlement Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment settlement operations.",
            "example": [
              {
                "paymentId": "PAY-125759",
                "debtorAccountId": "ACC-332290",
                "creditorAccountId": "ACC-578362",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PaymentSettlement"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort order of the response data.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the GET operation on card financial settlements, containing a list of payment settlements and associated metadata.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-125759",
              "debtorAccountId": "ACC-332290",
              "creditorAccountId": "ACC-578362",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "368b9a10-76f7-582d-995e-688ad412d5ab",
            "correlationId": "27693fd2-1354-56df-9be3-f1c313eff47f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentSettlement": {
        "title": "Payment Settlement",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment settlement.",
            "example": "payment123"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier of the debtor's account.",
            "example": "debtorAccount456"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier of the creditor's account.",
            "example": "creditorAccount789"
          },
          "instructedAmount": {
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Requested date for executing the payment.",
            "example": "2023-10-12"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information provided for remittance.",
            "example": "Payment for invoice #456"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "Completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the payment record was last updated.",
            "example": "2023-10-12T12:00:00Z"
          }
        },
        "description": "Schema representing an individual payment settlement operation.",
        "example": {
          "paymentId": "payment123",
          "debtorAccountId": "debtorAccount456",
          "creditorAccountId": "creditorAccount789",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "EUR"
          },
          "requestedExecutionDate": "2023-10-12",
          "remittanceInformation": "Payment for invoice #456",
          "recordStatus": "Completed",
          "updatedAt": "2023-10-12T12:00:00Z"
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of money to be transferred.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "EUR"
          }
        },
        "description": "Schema representing the instructed amount of the payment."
      },
      "Pagination": {
        "title": "Pagination Metadata",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination information for responses."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating requests and responses.",
            "example": "xyz789"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-12T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "EU"
          }
        },
        "description": "Schema containing metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called, used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-financial-settlement-search-card-financial-settlement"
        },
        "example": "card-financial-settlement-search-card-financial-settlement"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for logging and application performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients are required to include a valid JSON Web Token (JWT) in the Authorization header of their requests. The token must adhere to the JWT specifications.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}