{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Trust Services API",
    "description": "The Corporate Trust Services API facilitates seamless management of corporate trust transactions, including asset administration and fiduciary services. This API allows clients to initiate and manage various trust-related operations in real-time, catering primarily to corporate clients, financial institutions, and asset managers. Users can leverage this API to enhance operational efficiency and ensure compliance with regulatory requirements. It serves as a vital resource for maintaining trust accounts, processing transactions, and generating necessary reports.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/consumer-services/corporate-trust-services": {
      "post": {
        "tags": [
          "Corporate Trust Services"
        ],
        "summary": "Create a new corporate trust service.",
        "description": "This endpoint allows users to create a new corporate trust service, providing the necessary details and configurations required for the service setup. Ensure all required fields are included in the request body to successfully create the service.",
        "operationId": "createCorporateTrustService",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update corporate trust services for consumers. It should include all necessary information required for processing the request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateTrustServiceRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the operation was completed and the new resource is available.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateTrustServiceResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateTrustServiceRequest": {
        "title": "Corporate Trust Services Request Body",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-229440"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "0327d8db-4dea-52f0-941a-6864c9a5fa8a"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "amount": {
            "description": "The amount associated with the service request.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedDate": {
            "type": "string",
            "description": "The date when the service was requested.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "The context in which the request was made.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for corporate trust services operations.",
        "example": {
          "customerId": "CUST-229440",
          "serviceRequestId": "0327d8db-4dea-52f0-941a-6864c9a5fa8a",
          "productCode": "CHK-PREMIUM-US",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedDate": "2026-09-15",
          "requestContext": {
            "requestId": "25ce2bc9-848f-5846-aa16-278cd9e04f00",
            "correlationId": "3a08ca80-7fc2-5e5b-9f10-5d407fd140cb",
            "idempotencyKey": "6c82513c-0dd2-5d4f-8526-e103bc43dcb7",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-180517"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount with a value and currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate logs and events related to this request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is only processed once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp at which the request was made.",
            "example": "2023-01-01T00:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from where the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of a request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made (e.g., API, Web).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "CreateCorporateTrustServiceResponse_201": {
        "title": "Corporate Trust Service Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-553680"
          },
          "serviceRequestId": {
            "type": "string",
            "description": "The unique identifier for the service request.",
            "example": "4ab19757-3e8c-5612-95e7-4d3b96e048be"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product associated with the request.",
            "example": "CHK-PREMIUM-US"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource involved in the service request.",
            "example": "RES-416029"
          },
          "status": {
            "type": "string",
            "description": "The current status of the service request.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp indicating when the service request was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the service request.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Corporate Trust Services operation indicating the result of a service request.",
        "example": {
          "customerId": "CUST-553680",
          "serviceRequestId": "4ab19757-3e8c-5612-95e7-4d3b96e048be",
          "productCode": "CHK-PREMIUM-US",
          "resourceId": "RES-416029",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "1cd6343b-4e53-5c62-9db7-939824e44039",
            "correlationId": "3a08ca80-7fc2-5e5b-9f10-5d407fd140cb",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp-54321"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests and responses.",
            "example": "corr-98765"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "US-West"
          }
        },
        "description": "Contains additional information relevant to the service request's processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request, useful for tracing and monitoring the API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-trust-services-create-corporate-trust-services"
        },
        "example": "corporate-trust-services-create-corporate-trust-services"
      },
      "x-runtime-app": {
        "description": "Indicates the runtime application context under which the request was handled. This can help identify application-specific behaviors and optimizations.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer Token. This scheme allows clients to authenticate using a JSON Web Token (JWT) in the Authorization header of requests. Ensure the token is valid and not expired.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}