{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Collateral Details API",
    "description": "This API allows for the modification of collateral details associated with specific loan applications. It supports updating necessary attributes that may affect the valuation or status of the collateral. Typical consumers include lenders and loan processing platforms that require up-to-date information on collateral for assessing loan applications. Using this API, businesses can ensure accurate and timely updates to their collateral information as loan scenarios evolve.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/collaterals/{collateralId}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update collateral for a loan application.",
        "description": "This operation allows you to modify the collateral associated with a specific loan application identified by RES-100045. You can update details such as collateral type, value, and related information to ensure the loan application reflects the current collateral status.",
        "operationId": "patchLoanApplicationCollateralRES100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the modification of collateral information for a specific loan application identified by RES-100045. It should contain the necessary attributes to update the current collateral details.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanApplicationCollateralRES100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, collateral details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanApplicationCollateralRES100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanApplicationCollateralRES100045Request": {
        "type": "object",
        "properties": {
          "description": {
            "type": "string",
            "description": "A brief description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Valuation"
          },
          "forcedSaleValue": {
            "description": "The forced sale value of the collateral.",
            "$ref": "#/components/schemas/Valuation"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the valuation was performed.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity responsible for providing the valuation.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien on the collateral.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating loan application collaterals.",
        "example": {
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "3e061ef6-6237-51e7-a11b-b731fca450b3",
            "correlationId": "589a1629-cbd3-5187-8a3b-3d94dbc1fec8",
            "idempotencyKey": "477fe120-0f98-501c-a3c0-cd1daf47f6cb",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-985128"
            }
          }
        }
      },
      "Valuation": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency in which the valuation amount is denominated.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of the valuation.",
            "example": "250000"
          }
        },
        "description": "Schema representing a valuation with currency and amount."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate logs related to this request.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is processed only once.",
            "example": "idemp-key-112233"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-23T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "Loan Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Mobile App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema containing context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-abc123"
          }
        },
        "description": "Schema representing the channel information related to a request."
      },
      "PatchLoanApplicationCollateralRES100045Response_200": {
        "type": "object",
        "properties": {
          "collateralType": {
            "type": "string",
            "description": "The type of collateral being submitted.",
            "example": "STANDARD"
          },
          "ownershipType": {
            "type": "string",
            "description": "The type of ownership of the collateral.",
            "example": "STANDARD"
          },
          "ownerCustomerIds": {
            "type": "array",
            "description": "A list of customer IDs who own the collateral.",
            "example": [
              "CUST-767490"
            ],
            "items": {
              "type": "string",
              "example": "CustomerID123"
            }
          },
          "description": {
            "type": "string",
            "description": "A description of the collateral.",
            "example": "Customer banking request processed successfully"
          },
          "marketValue": {
            "description": "The current market value of the collateral.",
            "$ref": "#/components/schemas/Valuation"
          },
          "forcedSaleValue": {
            "description": "The estimated value of the collateral in a forced sale scenario.",
            "$ref": "#/components/schemas/Valuation"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date when the collateral was last valuated.",
            "example": "2026-09-15"
          },
          "valuationProvider": {
            "type": "string",
            "description": "The entity that provided the valuation for the collateral.",
            "example": "STANDARD"
          },
          "lienPriority": {
            "type": "string",
            "description": "The priority of the lien against the collateral.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the collateral.",
            "example": "051059e0-a262-2d51-84b3-f311f87456b1"
          },
          "status": {
            "type": "string",
            "description": "The current status of the collateral.",
            "example": "ACTIVE"
          },
          "loanToValuePercent": {
            "type": "string",
            "description": "The loan-to-value ratio expressed as a percentage.",
            "example": "STANDARD"
          },
          "perfectedAt": {
            "type": "string",
            "description": "The date when the lien on the collateral was perfected.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the collateral.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata associated with the collateral.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the collateral details associated with a loan application.",
        "example": {
          "collateralType": "STANDARD",
          "ownershipType": "STANDARD",
          "ownerCustomerIds": [
            "CUST-767490"
          ],
          "description": "Customer banking request processed successfully",
          "marketValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "forcedSaleValue": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "valuationDate": "2026-09-15",
          "valuationProvider": "STANDARD",
          "lienPriority": "STANDARD",
          "id": "051059e0-a262-2d51-84b3-f311f87456b1",
          "status": "ACTIVE",
          "loanToValuePercent": "STANDARD",
          "perfectedAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "386c1992-2c22-538c-93dd-0fd7f3761739",
            "correlationId": "589a1629-cbd3-5187-8a3b-3d94dbc1fec8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the collateral record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The user or system that created the collateral record.",
            "example": "AdminUser"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the collateral record was last updated.",
            "example": "2023-02-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The user or system that last updated the collateral record.",
            "example": "AdminUser"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the collateral record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for collateral."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "ResponseID789"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID used for tracking related requests.",
            "example": "CorrelationID101112"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the collateral was processed.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata associated with collateral."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the loan application request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-collateral"
        },
        "example": "banking-loans-openapi-update-collateral"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for tracing and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JWT (JSON Web Token). Clients are required to provide a valid JWT token in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}