{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Details Retrieval API",
    "description": "The Credit Card Details Retrieval API enables clients to access comprehensive information about specific credit cards within the banking system. This API allows users to retrieve card details using a unique identifier, facilitating functions such as account management and transaction oversight. Common consumers of this API include banking applications and financial service platforms that require up-to-date credit card data for their users. By leveraging this endpoint, businesses can ensure that users have reliable access to essential credit card information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card/{param1}": {
      "get": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Retrieve Credit Card Details",
        "description": "Fetches detailed information about a specific credit card using its unique identifier. This endpoint allows users to view card details such as cardholder name, expiration date, and card balance.",
        "operationId": "getCreditCardById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is expected to contain information relevant to fetching the credit card details for the specified card ID. Ensure that the request conforms to the defined schema for successful execution.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCreditCardByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved credit card details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCreditCardByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCreditCardByIdRequest": {
        "type": "string",
        "description": "The request body for the GET operation related to a specific credit card.",
        "example": "{}"
      },
      "GetCreditCardByIdResponse_200": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique identifier for the card.",
            "example": "TOK-103204"
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant associated with the transaction.",
            "example": "MER-256621"
          },
          "transactionAmount": {
            "description": "Details of the transaction amount.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Code representing the category of the merchant.",
            "example": "5411"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the card details.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata regarding the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving credit card operations for CARD-400045.",
        "example": {
          "cardToken": "TOK-103204",
          "cardholderId": "STANDARD",
          "merchantId": "MER-256621",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "93725268-bc82-570a-b119-21d57634113a",
            "correlationId": "ba31c8f1-37d0-5b1f-9ae8-f6028521eb6c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The amount of the transaction.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the transaction amount.",
            "example": "USD"
          }
        },
        "description": "Schema defining the transaction amount details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "sample_response_id"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "sample_correlation_id"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Schema containing metadata information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-get-credit-card"
        },
        "example": "credit-card-get-credit-card"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication mechanism. Clients must include a Bearer token in the HTTP Authorization header when making requests. The token is formatted as a JSON Web Token (JWT), which provides a secure way to transmit information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}