{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payment Consents API",
    "description": "The Domestic Scheduled Payment Consents API facilitates the creation of consents required for executing scheduled domestic payments. This API allows financial institutions and payment initiation service providers to securely manage user consents for recurring payment operations, ensuring compliance with open banking regulations. Typical consumers include banks, fintech platforms, and payment processors that require authorized permissions from customers to initiate scheduled payments. By leveraging this API, developers can streamline payment workflows while enhancing user trust and consent management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payment-consents": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Create a consent for a domestic scheduled payment.",
        "description": "This endpoint allows you to create a consent for a domestic scheduled payment, enabling the initiation of future payments on behalf of the payer. Ensure that all necessary payer information and payment details are provided in the request.",
        "operationId": "createDomesticScheduledPaymentConsent",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a domestic scheduled payment consent operation. It contains the necessary details for processing the scheduled payment, ensuring that the request is correctly formatted to comply with the specified operations.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomesticScheduledPaymentConsentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the payment consent has been established.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDomesticScheduledPaymentConsentResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateDomesticScheduledPaymentConsentRequest": {
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/PaymentConsentData"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The main request body for creating a domestic scheduled payment consent.",
        "example": {
          "Data": {
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD"
                }
              }
            }
          },
          "requestContext": {
            "requestId": "43e16f1e-c601-51ed-84a5-cf54344edb11",
            "correlationId": "f66293c8-33ce-5668-9fb4-272d7cc26bf8",
            "idempotencyKey": "d00d2d44-f62e-557c-84c1-1b8de973406b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-288740"
            }
          }
        }
      },
      "PaymentConsentData": {
        "type": "object",
        "properties": {
          "Permission": {
            "type": "string",
            "description": "The permission granted by the user for the payment operation.",
            "example": "string"
          },
          "ReadRefundAccount": {
            "type": "string",
            "description": "Indicates whether the refund account can be read.",
            "example": "string"
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          }
        },
        "description": "Data related to the payment consent."
      },
      "PaymentInitiation": {
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "string"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identifier for tracking the payment end to end.",
            "example": "string"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "string"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "The date and time when the payment is requested to be executed.",
            "example": "string"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/AmountDetails"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details pertaining to the initiation of the payment."
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The amount to be paid.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Details about the instructed amount for the payment."
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme name for the account.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name associated with the account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Optional secondary identification for the account.",
            "example": "string"
          },
          "Proxy": {
            "$ref": "#/components/schemas/ProxyDetails"
          }
        },
        "description": "Details about the account involved in the payment."
      },
      "ProxyDetails": {
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The proxy identifier for the account.",
            "example": "string"
          },
          "Code": {
            "type": "string",
            "description": "The code representing the type of proxy.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy used for the account.",
            "example": "string"
          }
        },
        "description": "Details about the proxy used for identifying the account."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate log messages for the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Contextual information about the request."
      },
      "ChannelDetails": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel used for the request.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel through which the request was made.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Information about the channel from which the request was made."
      },
      "CreateDomesticScheduledPaymentConsentResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "ConsentId": {
                "type": "string",
                "description": "Unique identifier for the consent.",
                "example": "string"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Timestamp of when the consent was created.",
                "example": "string"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the consent.",
                "example": "string"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Timestamp of the last status update.",
                "example": "string"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons related to the status of the consent.",
                "example": [
                  {
                    "code": "string",
                    "description": "string",
                    "Path": "string"
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Permission": {
                "type": "string",
                "description": "Permissions granted for the consent.",
                "example": "string"
              },
              "ReadRefundAccount": {
                "type": "string",
                "description": "Indicates if the refund account can be read.",
                "example": "string"
              },
              "CutOffDateTime": {
                "type": "string",
                "description": "The cutoff date and time for processing the payment.",
                "example": "string"
              },
              "ExpectedExecutionDateTime": {
                "type": "string",
                "description": "The expected execution date and time for the payment.",
                "example": "string"
              },
              "ExpectedSettlementDateTime": {
                "type": "string",
                "description": "The expected settlement date and time for the payment.",
                "example": "string"
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the consent.",
                "example": [
                  {
                    "ChargeBearer": "string",
                    "Type": "string",
                    "Amount": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  }
                ],
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "InstructionIdentification": {
                    "type": "string",
                    "description": "Unique identifier for the payment instruction.",
                    "example": "string"
                  },
                  "EndToEndIdentification": {
                    "type": "string",
                    "description": "End-to-end identifier for the payment.",
                    "example": "string"
                  },
                  "LocalInstrument": {
                    "type": "string",
                    "description": "The local instrument used for the payment.",
                    "example": "string"
                  },
                  "RequestedExecutionDateTime": {
                    "type": "string",
                    "description": "Requested execution date and time.",
                    "example": "string"
                  },
                  "InstructedAmount": {
                    "type": "object",
                    "properties": {
                      "Amount": {
                        "type": "string",
                        "description": "Amount for the payment.",
                        "example": "string"
                      },
                      "Currency": {
                        "type": "string",
                        "description": "Currency for the payment amount.",
                        "example": "string"
                      }
                    },
                    "description": "The amount to be paid.",
                    "example": {
                      "Amount": "string",
                      "Currency": "string"
                    }
                  },
                  "DebtorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "description": "Name of the scheme for the debtor account.",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "description": "Unique identifier for the debtor account.",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name of the debtor.",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "description": "Secondary identification for the debtor.",
                        "example": "string"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "description": "Proxy identification.",
                            "example": "string"
                          },
                          "Code": {
                            "type": "string",
                            "description": "Proxy code.",
                            "example": "string"
                          },
                          "Type": {
                            "type": "string",
                            "description": "Type of the proxy.",
                            "example": "string"
                          }
                        },
                        "description": "Proxy information for the debtor account.",
                        "example": {
                          "Identification": "string",
                          "Code": "string",
                          "Type": "string"
                        }
                      }
                    },
                    "description": "Information about the debtor's account.",
                    "example": {
                      "SchemeName": "string",
                      "Identification": "string",
                      "Name": "string",
                      "SecondaryIdentification": "string",
                      "Proxy": {
                        "Identification": "string",
                        "Code": "string"
                      }
                    }
                  },
                  "CreditorAccount": {
                    "type": "object",
                    "properties": {
                      "SchemeName": {
                        "type": "string",
                        "description": "Name of the scheme for the creditor account.",
                        "example": "string"
                      },
                      "Identification": {
                        "type": "string",
                        "description": "Unique identifier for the creditor account.",
                        "example": "string"
                      },
                      "Name": {
                        "type": "string",
                        "description": "Name of the creditor.",
                        "example": "string"
                      },
                      "SecondaryIdentification": {
                        "type": "string",
                        "description": "Secondary identification for the creditor.",
                        "example": "string"
                      },
                      "Proxy": {
                        "type": "object",
                        "properties": {
                          "Identification": {
                            "type": "string",
                            "description": "Proxy identification.",
                            "example": "string"
                          },
                          "Code": {
                            "type": "string",
                            "description": "Proxy code.",
                            "example": "string"
                          }
                        },
                        "description": "Proxy information for the creditor account.",
                        "example": {
                          "Identification": "string",
                          "Code": "string"
                        }
                      }
                    },
                    "description": "Information about the creditor's account.",
                    "example": {
                      "SchemeName": "string",
                      "Identification": "string",
                      "Name": "string",
                      "SecondaryIdentification": "string",
                      "Proxy": {
                        "Identification": "string",
                        "Code": "string"
                      }
                    }
                  }
                },
                "description": "Details of the payment initiation.",
                "example": {
                  "InstructionIdentification": "string",
                  "EndToEndIdentification": "string",
                  "LocalInstrument": "string",
                  "RequestedExecutionDateTime": "string",
                  "InstructedAmount": {
                    "Amount": "string",
                    "Currency": "string"
                  },
                  "DebtorAccount": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "SecondaryIdentification": "string",
                    "Proxy": {
                      "Identification": "string",
                      "Code": "string"
                    }
                  },
                  "CreditorAccount": {
                    "SchemeName": "string",
                    "Identification": "string",
                    "Name": "string",
                    "SecondaryIdentification": "string",
                    "Proxy": {
                      "Identification": "string",
                      "Code": "string"
                    }
                  }
                }
              },
              "metadata": {
                "type": "object",
                "properties": {
                  "responseId": {
                    "type": "string",
                    "description": "Unique identifier for the response.",
                    "example": "string"
                  },
                  "correlationId": {
                    "type": "string",
                    "description": "Correlation identifier for tracking.",
                    "example": "string"
                  },
                  "generatedAt": {
                    "type": "string",
                    "description": "Timestamp of when the response was generated.",
                    "example": "string"
                  },
                  "processingRegion": {
                    "type": "string",
                    "description": "Region where the processing took place.",
                    "example": "string"
                  }
                },
                "description": "Includes metadata associated with the response.",
                "example": {
                  "responseId": "string",
                  "correlationId": "string",
                  "generatedAt": "string",
                  "processingRegion": "string"
                }
              }
            },
            "description": "Contains the details of the created payment consent.",
            "example": {
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Permission": "STANDARD",
              "ReadRefundAccount": "STANDARD",
              "CutOffDateTime": "2026-09-15T14:30:00Z",
              "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
              "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "InstructionIdentification": "STANDARD",
                "EndToEndIdentification": "STANDARD",
                "LocalInstrument": "STANDARD",
                "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
                "InstructedAmount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                },
                "DebtorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS",
                    "Type": "STANDARD"
                  }
                },
                "CreditorAccount": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD",
                  "Proxy": {
                    "Identification": "STANDARD",
                    "Code": "SUCCESS"
                  }
                }
              }
            }
          }
        },
        "description": "Response schema for the 201 operation when creating domestic scheduled payment consents.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Permission": "STANDARD",
            "ReadRefundAccount": "STANDARD",
            "CutOffDateTime": "2026-09-15T14:30:00Z",
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS"
                }
              }
            }
          },
          "metadata": {
            "responseId": "ce472cfa-9fd9-5231-9055-b4e4c218cc6e",
            "correlationId": "f66293c8-33ce-5668-9fb4-272d7cc26bf8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "string"
          },
          "Path": {
            "type": "string",
            "description": "Path associated with the status reason.",
            "example": "string"
          }
        },
        "description": "Detailed information about the reason for the consent status.",
        "example": {
          "code": "string",
          "description": "string",
          "Path": "string"
        }
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge.",
            "example": "string"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "string"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "Amount of the charge.",
                "example": "string"
              },
              "Currency": {
                "type": "string",
                "description": "Currency for the charge amount.",
                "example": "string"
              }
            },
            "description": "The amount of the charge.",
            "example": {
              "Amount": "string",
              "Currency": "string"
            }
          }
        },
        "description": "Information about the charges associated with the consent.",
        "example": {
          "ChargeBearer": "string",
          "Type": "string",
          "Amount": {
            "Amount": "string",
            "Currency": "string"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint that is processing the request. This value is used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-create-domestic-scheduled-consent"
        },
        "example": "payment-initiation-openapi-create-domestic-scheduled-consent"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is executing the request. This header helps in identifying the source of the request in a multi-application environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a JSON Web Token (JWT) is provided in the Authorization header. Clients must include a valid JWT to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}