{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Branch Location Details API",
    "description": "The Branch Location Details API provides access to comprehensive information on branch locations, facilitating users in locating and evaluating banking services in specific areas. This API is particularly valuable for branch managers, clients seeking nearby services, and developers integrating location data into banking applications. Through this endpoint, consumers can retrieve vital details such as branch addresses, services offered, and operational hours, thereby enhancing customer experience and operational efficiency. Utilizing this API, banks can ensure their clients have up-to-date information readily available.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/channel-specific/branch-location-operations": {
      "get": {
        "tags": [
          "Branch Location Operations"
        ],
        "summary": "Retrieve branch location operations based on specific channel criteria.",
        "description": "This endpoint allows clients to fetch operations related to branch locations for a specified channel. It provides detailed information about each operation, enabling users to manage and analyze branch-specific activities effectively.",
        "operationId": "getBranchLocationOperations",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to fetch branch location operations specific to a given channel. Ensure that the JSON contains all required parameters to successfully obtain the desired operation data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetBranchLocationOperationsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved branch location operations.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetBranchLocationOperationsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetBranchLocationOperationsRequest": {
        "type": "string",
        "description": "This schema represents the request body for GET operations related to branch location operations in a specific channel.",
        "example": "{}"
      },
      "GetBranchLocationOperationsResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of branch location operations.",
            "example": [
              {
                "channelId": "MOBILE-US",
                "regionCode": "US-EAST-1",
                "serviceWindow": {
                  "opensAt": "STANDARD",
                  "closesAt": "STANDARD"
                },
                "dailyCapacity": 1,
                "branchId": "STANDARD",
                "branchType": "FULL_SERVICE",
                "timeZone": "America/New_York",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "type": "object",
              "properties": {
                "channelId": {
                  "type": "string",
                  "description": "Unique identifier for the channel.",
                  "example": "channel-123"
                },
                "regionCode": {
                  "type": "string",
                  "description": "Code of the region where the branch is located.",
                  "example": "US-WA"
                },
                "serviceWindow": {
                  "$ref": "#/components/schemas/ServiceWindow"
                },
                "dailyCapacity": {
                  "type": "integer",
                  "description": "The daily capacity of the branch operation.",
                  "format": "int32",
                  "example": 100
                },
                "branchId": {
                  "type": "string",
                  "description": "Unique identifier for the branch.",
                  "example": "branch-456"
                },
                "branchType": {
                  "type": "string",
                  "description": "Type of the branch (e.g., retail, online).",
                  "example": "retail"
                },
                "timeZone": {
                  "type": "string",
                  "description": "Time zone in which the branch operates.",
                  "example": "PST"
                },
                "recordStatus": {
                  "type": "string",
                  "description": "Current status of the record (e.g., active, inactive).",
                  "example": "active"
                },
                "updatedAt": {
                  "type": "string",
                  "description": "Timestamp of when the record was last updated.",
                  "example": "2023-10-01T12:00:00Z"
                }
              },
              "description": "Details of a branch location operation."
            }
          },
          "pagination": {
            "description": "Information regarding pagination for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria used for sorting the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the successful response for channel-specific branch location operations.",
        "example": {
          "items": [
            {
              "channelId": "MOBILE-US",
              "regionCode": "US-EAST-1",
              "serviceWindow": {
                "opensAt": "STANDARD",
                "closesAt": "STANDARD"
              },
              "dailyCapacity": 1,
              "branchId": "STANDARD",
              "branchType": "FULL_SERVICE",
              "timeZone": "America/New_York",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "8d403731-5dcf-5394-bff6-0bbf51ece6d1",
            "correlationId": "fc010487-0899-5479-9568-5f2014ead2fd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ServiceWindow": {
        "type": "object",
        "properties": {
          "opensAt": {
            "type": "string",
            "description": "The time the service window opens.",
            "example": "09:00"
          },
          "closesAt": {
            "type": "string",
            "description": "The time the service window closes.",
            "example": "17:00"
          }
        },
        "description": "Schema representing the service window with opening and closing times."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for a list of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for request tracing.",
            "example": "corr-101"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Metadata containing details about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request. This value can be used for tracking and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "branch-location-operations-search-branch-location-operations"
        },
        "example": "branch-location-operations-search-branch-location-operations"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request. This can be used to identify the source of the response in distributed systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a valid JSON Web Token (JWT) is required to access protected resources. The token should be included in the 'Authorization' header of the request, prefixed with the word 'Bearer'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}