{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Archive Document Retrieval API",
    "description": "The Archive Document Retrieval API enables users to access and retrieve archived banking documents efficiently. This endpoint supports queries to obtain specific archived documents based on unique parameters, making it essential for compliance, auditing, and customer service functions. Typical consumers include financial institutions, auditors, and support staff who require secure access to historical data for verification and analysis. With this API, users can streamline their processes and ensure timely access to important archived documentation.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/archive-services/{param1}": {
      "get": {
        "tags": [
          "Archive Services"
        ],
        "summary": "Retrieve Archive Service Details",
        "description": "This endpoint allows you to retrieve detailed information about a specific archive service identified by the unique resource ID. Ensure that the ID provided corresponds to an existing archive service to get accurate results.",
        "operationId": "getArchiveServiceById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving archived documents. It should contain the necessary parameters to specify the request, such as filters or search criteria.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetArchiveServiceByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of the requested document archive details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetArchiveServiceByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetArchiveServiceByIdRequest": {
        "type": "string",
        "description": "The request body schema for the GET operation related to archive services.",
        "example": "{}"
      },
      "GetArchiveServiceByIdResponse_200": {
        "title": "Document Response",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document.",
            "example": "DOC-620427"
          },
          "documentType": {
            "type": "string",
            "description": "Type of the document (e.g., invoice, report).",
            "example": "STANDARD"
          },
          "classification": {
            "type": "string",
            "description": "Classification level of the document (e.g., confidential, public).",
            "example": "STANDARD"
          },
          "retentionClass": {
            "type": "string",
            "description": "Retention class indicating how long the document should be retained.",
            "example": "STANDARD"
          },
          "ownerId": {
            "type": "string",
            "description": "Identifier of the owner of the document.",
            "example": "STANDARD"
          },
          "fileName": {
            "type": "string",
            "description": "Name of the document file.",
            "example": "Northstar Banking Service"
          },
          "mediaType": {
            "type": "string",
            "description": "Media type of the document (e.g., application/pdf, image/jpeg).",
            "example": "STANDARD"
          },
          "checksumSha256": {
            "type": "string",
            "description": "SHA256 checksum of the document used for data integrity verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the document record (e.g., active, archived).",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the document.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the document.",
            "$ref": "#/components/schemas/DocumentMetadata"
          }
        },
        "description": "Schema representing the response structure for retrieving document details from the archive services.",
        "example": {
          "documentId": "DOC-620427",
          "documentType": "STANDARD",
          "classification": "STANDARD",
          "retentionClass": "STANDARD",
          "ownerId": "STANDARD",
          "fileName": "Northstar Banking Service",
          "mediaType": "STANDARD",
          "checksumSha256": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c751b66e-77ce-5196-a623-d6b2ad7337eb",
            "correlationId": "7f2c7e7c-1202-5f0f-9689-42737ce13b7d",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DocumentMetadata": {
        "title": "Document Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the document.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracing document-related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the document was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the document processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata associated with the document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "archive-services-get-archive-services"
        },
        "example": "archive-services-get-archive-services"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using bearer tokens, specifically JWT (JSON Web Tokens), which allow secure transmission of claims between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}