{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Details Retrieval API",
    "description": "The Loan Details Retrieval API allows users to access comprehensive loan information associated with specific customer accounts. By providing a customer ID and account ID, developers can retrieve detailed loan data, including loan amounts, terms, and repayment statuses. This API is vital for financial institutions and technology providers looking to enhance customer experience and facilitate better financial decision-making. Typical consumers include banking applications and financial analysis tools that require real-time loan information.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/loandetails": {
      "get": {
        "tags": [
          "Customer Accounts"
        ],
        "summary": "Retrieve loan details for a specific customer account.",
        "description": "This endpoint allows you to fetch detailed information about the loans associated with a specific customer account. Provide the customer ID and account ID in the URL to get comprehensive loan data, including amounts, interest rates, payment schedules, and more.",
        "operationId": "getLoanDetailsForCustomerAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for fetching loan details associated with a specific account of a customer. It contains the necessary parameters required to retrieve the loan details in a structured format.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetLoanDetailsForCustomerAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved loan details for the specified account.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetLoanDetailsForCustomerAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetLoanDetailsForCustomerAccountRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation to retrieve loan details for a specific customer and account.",
        "example": "{}"
      },
      "GetLoanDetailsForCustomerAccountResponse_200": {
        "type": "object",
        "properties": {
          "loanNumber": {
            "type": "string",
            "description": "The unique identifier of the loan.",
            "example": "STANDARD"
          },
          "loanPaymentNumber": {
            "type": "string",
            "description": "The payment number associated with the loan.",
            "example": "STANDARD"
          },
          "loanPaymentAddress": {
            "type": "string",
            "description": "The address for loan payments.",
            "example": "STANDARD"
          },
          "accountDetail": {
            "description": "Details regarding the associated account.",
            "$ref": "#/components/schemas/AccountDetail"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema that includes details about the loan and associated accounts.",
        "example": {
          "loanNumber": "STANDARD",
          "loanPaymentNumber": "STANDARD",
          "loanPaymentAddress": "STANDARD",
          "accountDetail": {
            "accountId": "ACC-103246",
            "accountNumber": "STANDARD",
            "accountPaymentNumber": "STANDARD",
            "accountPaymentAddress": "STANDARD",
            "amount": 100.0,
            "accountFuturePayoffDate": "2026-09-15",
            "groupDetail": [
              {
                "accountId": "ACC-611579",
                "groupNumber": "STANDARD",
                "groupPaymentNumber": "STANDARD",
                "groupPaymentAddress": "STANDARD",
                "groupFuturePayoffAmount": 100.0,
                "groupFuturePayoffDate": "2026-09-15",
                "groupLoanDetail": [
                  {
                    "accountId": "ACC-579816",
                    "loanNumber": "STANDARD",
                    "loanPaymentNumber": "STANDARD",
                    "loanPaymentAddress": "STANDARD",
                    "loanFuturePayoffAmount": 100.0,
                    "loanFuturePayoffDate": "2026-09-15"
                  }
                ]
              }
            ],
            "loanDetail": [
              {
                "accountId": "ACC-157612",
                "loanNumber": "STANDARD",
                "loanPaymentNumber": "STANDARD",
                "loanPaymentAddress": "STANDARD",
                "loanFuturePayoffAmount": 100.0,
                "loanFuturePayoffDate": "2026-09-15"
              }
            ]
          },
          "metadata": {
            "responseId": "a4ca79c6-361f-54d3-be6c-62cb22e32e92",
            "correlationId": "55eb9240-0ff9-5fa7-9f30-da4bb5801ca3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetail": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account.",
            "example": "ACC-200045"
          },
          "accountNumber": {
            "type": "string",
            "description": "The account number.",
            "example": "ACCOUNT123456"
          },
          "accountPaymentNumber": {
            "type": "string",
            "description": "Payment number for the specific account.",
            "example": "AP-001"
          },
          "accountPaymentAddress": {
            "type": "string",
            "description": "Payment address for the account.",
            "example": "123 Main St, Anytown, USA"
          },
          "amount": {
            "type": "number",
            "description": "The current amount associated with the account.",
            "example": 1500.75
          },
          "accountFuturePayoffDate": {
            "type": "string",
            "description": "Future payoff date for the account.",
            "example": "2025-12-31"
          },
          "groupDetail": {
            "type": "array",
            "description": "Details of groups associated with the account.",
            "items": {
              "$ref": "#/components/schemas/GroupDetail"
            }
          },
          "loanDetail": {
            "type": "array",
            "description": "Details of loans associated with the account.",
            "items": {
              "$ref": "#/components/schemas/LoanDetail"
            }
          }
        },
        "description": "Details regarding an individual account."
      },
      "GroupDetail": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the group account.",
            "example": "ACC-200045"
          },
          "groupNumber": {
            "type": "string",
            "description": "The group number associated with the account.",
            "example": "GROUP-001"
          },
          "groupPaymentNumber": {
            "type": "string",
            "description": "Payment number for the specific group.",
            "example": "GP-001"
          },
          "groupPaymentAddress": {
            "type": "string",
            "description": "Payment address for the group.",
            "example": "123 Main St, Anytown, USA"
          },
          "groupFuturePayoffAmount": {
            "type": "number",
            "description": "Future payoff amount for the group.",
            "example": 5000.0
          },
          "groupFuturePayoffDate": {
            "type": "string",
            "description": "Future payoff date for the group.",
            "example": "2026-12-31"
          },
          "groupLoanDetail": {
            "type": "array",
            "description": "Details of loans associated with the group.",
            "items": {
              "$ref": "#/components/schemas/LoanDetail"
            }
          }
        },
        "description": "Details regarding a group associated with accounts."
      },
      "LoanDetail": {
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the loan.",
            "example": "ACC-200045"
          },
          "loanNumber": {
            "type": "string",
            "description": "The unique identifier of the loan.",
            "example": "LN-123456"
          },
          "loanPaymentNumber": {
            "type": "string",
            "description": "The payment number associated with the loan.",
            "example": "LP-001"
          },
          "loanPaymentAddress": {
            "type": "string",
            "description": "The address for loan payments.",
            "example": "123 Main St, Anytown, USA"
          },
          "loanFuturePayoffAmount": {
            "type": "number",
            "description": "Future payoff amount for the loan.",
            "example": 2000.0
          },
          "loanFuturePayoffDate": {
            "type": "string",
            "description": "Future payoff date for the loan.",
            "example": "2027-12-31"
          }
        },
        "description": "Details about a loan."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-0001"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for tracing the request across systems.",
            "example": "CORR-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "An identifier for the endpoint being accessed, allowing for better tracking and analytics of request usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-loan-payment-details"
        },
        "example": "open-finance-api-get-loan-payment-details"
      },
      "X-Runtime-App": {
        "description": "The name of the application that generated the request. This helps in identifying the source of API calls.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses HTTP Bearer authentication, which requires a bearer token. The token must be a valid JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}