{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Human Resources Direction API",
    "description": "The Human Resources Direction API provides essential endpoints for managing and retrieving human resources information within an organization. This API allows users to access HR directives, policies, and operational guidelines that govern human resources practices. Typical consumers include HR personnel, system integrators, and organizational managers looking to access HR-related data efficiently. By utilizing this API, organizations can streamline their HR management processes and ensure compliance with internal policies and regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/human-resources-direction": {
      "get": {
        "tags": [
          "Human Resources"
        ],
        "summary": "Fetch human resources direction information.",
        "description": "This endpoint retrieves the current direction and strategies implemented within the human resources department, providing insights into policies, initiatives, and overall HR governance.",
        "operationId": "getHumanResourcesDirection",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body to retrieve human resources direction information. The body should contain any relevant filter criteria or specifications required to tailor the response to the user's needs.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetHumanResourcesDirectionRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the data has been retrieved.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetHumanResourcesDirectionResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetHumanResourcesDirectionRequest": {
        "type": "string",
        "description": "This schema represents the request body of a GET operation related to Human Resources Management.",
        "example": "{}"
      },
      "GetHumanResourcesDirectionResponse_200": {
        "title": "Human Resource Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of employee records.",
            "example": [
              {
                "employeeId": "EMP-580284",
                "assignmentId": "STANDARD",
                "departmentId": "STANDARD",
                "effectiveDate": "2026-09-15",
                "countryCode": "US",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EmployeeRecord"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Indicates the sorting order of the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Schema representing the response structure for retrieving human resources information.",
        "example": {
          "items": [
            {
              "employeeId": "EMP-580284",
              "assignmentId": "STANDARD",
              "departmentId": "STANDARD",
              "effectiveDate": "2026-09-15",
              "countryCode": "US",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "27e0e7fd-5822-5d7c-a14a-7e0f52d001c5",
            "correlationId": "50ed68ff-9c94-502c-a27e-70455377b562",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EmployeeRecord": {
        "title": "Employee Record",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "Unique identifier for the employee.",
            "example": "E123"
          },
          "assignmentId": {
            "type": "string",
            "description": "Identifier for the assignment related to the employee.",
            "example": "A456"
          },
          "departmentId": {
            "type": "string",
            "description": "Identifier for the department where the employee works.",
            "example": "D789"
          },
          "effectiveDate": {
            "type": "string",
            "description": "The date when the employee's assignment becomes effective.",
            "example": "2023-01-01"
          },
          "countryCode": {
            "type": "string",
            "description": "Country code of the employee's work location.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the employee record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the employee record was last updated.",
            "example": "2023-09-30T12:00:00Z"
          }
        },
        "description": "Details of an employee within the human resource management system."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information related to pagination for the returned results."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request.",
            "example": "abcde-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata information about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was accessed. This helps in tracking and managing requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "human-resources-direction-search-human-resources-direction"
        },
        "example": "human-resources-direction-search-human-resources-direction"
      },
      "X-Runtime-App": {
        "description": "The name of the application runtime environment that processed the request. This is useful for debugging and performance monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication method using Bearer tokens, specifically utilizing JSON Web Tokens (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}