{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Domestic Scheduled Payments Retrieval API",
    "description": "The Domestic Scheduled Payments Retrieval API enables consumers to access details of scheduled payments within the open banking framework. This endpoint allows users to retrieve information about specific scheduled payments referenced by a unique identifier. Typical use cases include banking applications where users need to view upcoming payments, manage their financial activities, or generate payment reports. This API supports integrations that enhance customer transparency and payment management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/domestic-scheduled-payments/{param1}": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve a scheduled payment by its ID.",
        "description": "Fetch the details of a specific domestic scheduled payment using its unique identifier. This endpoint allows users to view information related to the scheduled payment, including its status, amount, and scheduling details.",
        "operationId": "getDomesticScheduledPaymentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving the details of a specific domestic scheduled payment identified by PAY-300045. The structure of the request body must adhere to the defined schema to ensure correct processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDomesticScheduledPaymentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the scheduled payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDomesticScheduledPaymentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDomesticScheduledPaymentByIdRequest": {
        "title": "Domestic Scheduled Payments Request Body",
        "type": "string",
        "description": "The request body for the GET operation related to domestic scheduled payments.",
        "example": "{}"
      },
      "GetDomesticScheduledPaymentByIdResponse_200": {
        "title": "Domestic Scheduled Payments Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/DomesticScheduledPaymentData"
          }
        },
        "description": "Response schema for retrieving details of domestic scheduled payments.",
        "example": {
          "Data": {
            "DomesticScheduledPaymentId": "PAY-953875",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "ExpectedExecutionDateTime": "2026-09-15T14:30:00Z",
            "ExpectedSettlementDateTime": "2026-09-15T14:30:00Z",
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "InstructionIdentification": "STANDARD",
              "EndToEndIdentification": "STANDARD",
              "LocalInstrument": "STANDARD",
              "RequestedExecutionDateTime": "2026-09-15T14:30:00Z",
              "InstructedAmount": {
                "Amount": "1250.75",
                "Currency": "USD"
              },
              "DebtorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD",
                "Proxy": {
                  "Identification": "STANDARD",
                  "Code": "SUCCESS",
                  "Type": "STANDARD"
                }
              },
              "CreditorAccount": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            }
          },
          "metadata": {
            "responseId": "4b02e243-adb5-512a-a085-ec72b1d7aeed",
            "correlationId": "0399eaec-a339-59e7-ae74-c4c107113b0c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DomesticScheduledPaymentData": {
        "title": "Domestic Scheduled Payment Data",
        "type": "object",
        "properties": {
          "DomesticScheduledPaymentId": {
            "type": "string",
            "description": "Unique identifier for the domestic scheduled payment.",
            "example": "DPS-123456"
          },
          "ConsentId": {
            "type": "string",
            "description": "Identifier for the consent related to the payment.",
            "example": "C-987654"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "Date and time when the payment was created.",
            "example": "2023-10-10T10:10:10Z"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the scheduled payment.",
            "example": "Pending"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated.",
            "example": "2023-10-10T10:10:10Z"
          },
          "StatusReason": {
            "type": "array",
            "description": "Reasons for the current status of the scheduled payment.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "ExpectedExecutionDateTime": {
            "type": "string",
            "description": "Expected date and time for payment execution.",
            "example": "2023-10-10T12:00:00Z"
          },
          "ExpectedSettlementDateTime": {
            "type": "string",
            "description": "Expected date and time for payment settlement.",
            "example": "2023-10-10T13:00:00Z"
          },
          "Refund": {
            "$ref": "#/components/schemas/RefundInformation"
          },
          "Charges": {
            "type": "array",
            "description": "List of charges associated with the scheduled payment.",
            "items": {
              "$ref": "#/components/schemas/ChargeDetail"
            }
          },
          "Initiation": {
            "$ref": "#/components/schemas/PaymentInitiation"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Details of a specific domestic scheduled payment."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code representing the status reason.",
            "example": "REASON-001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Insufficient funds"
          },
          "Path": {
            "type": "string",
            "description": "Path to additional details about the reason.",
            "example": "/status/reasons/REASON-001"
          }
        },
        "description": "Reason details associated with the payment status."
      },
      "RefundInformation": {
        "title": "Refund Information",
        "type": "object",
        "properties": {
          "Account": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Information regarding the refund associated with the payment."
      },
      "AccountDetails": {
        "title": "Account Details",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the payment scheme used.",
            "example": "BACS"
          },
          "Identification": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "GB29NWBK60161331926819"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Additional identification information.",
            "example": "XYZ123"
          }
        },
        "description": "Details of an account involved in the payment or refund."
      },
      "ChargeDetail": {
        "title": "Charge Detail",
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Party responsible for paying the charges.",
            "example": "Receiver"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge.",
            "example": "Fee"
          },
          "Amount": {
            "$ref": "#/components/schemas/MoneyAmount"
          }
        },
        "description": "Details of a charge associated with the payment."
      },
      "MoneyAmount": {
        "title": "Money Amount",
        "type": "object",
        "properties": {
          "Amount": {
            "type": "string",
            "description": "The numeric amount.",
            "example": "100.00"
          },
          "Currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "GBP"
          }
        },
        "description": "Details of a monetary amount including currency."
      },
      "PaymentInitiation": {
        "title": "Payment Initiation",
        "type": "object",
        "properties": {
          "InstructionIdentification": {
            "type": "string",
            "description": "Unique identifier for the payment instruction.",
            "example": "INST-001"
          },
          "EndToEndIdentification": {
            "type": "string",
            "description": "Identification for tracking the payment end-to-end.",
            "example": "E2E-001"
          },
          "LocalInstrument": {
            "type": "string",
            "description": "The local instrument used for the payment.",
            "example": "SEPA"
          },
          "RequestedExecutionDateTime": {
            "type": "string",
            "description": "Date and time requested for the payment execution.",
            "example": "2023-10-10T12:00:00Z"
          },
          "InstructedAmount": {
            "$ref": "#/components/schemas/MoneyAmount"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          },
          "CreditorAccount": {
            "$ref": "#/components/schemas/AccountDetails"
          }
        },
        "description": "Details for initiating the payment."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-789"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking related requests and responses.",
            "example": "CORR-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-10T10:10:10Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "EU"
          }
        },
        "description": "Metadata related to the response of the API call."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-domestic-scheduled-payment"
        },
        "example": "payment-initiation-openapi-get-domestic-scheduled-payment"
      },
      "X-Runtime-App": {
        "description": "This header specifies the application that executed the request, providing context for its execution environment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication scheme, where the client must include a valid JSON Web Token (JWT) in the Authorization header of the HTTP request to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}