{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Webhook Event Subscriptions API",
    "description": "The Manage Webhook Event Subscriptions API allows users to update existing event subscriptions for specified webhooks. This endpoint facilitates the modification of the event notification settings associated with a given webhook, enabling businesses to customize their integration experience. Typical users include developers integrating third-party systems and application providers who need to fine-tune their notification workflows. By utilizing this API, clients can ensure they receive the most relevant updates to their applications efficiently.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/notification-subscriptions/webhooks/{webhookId}/events/{eventId}": {
      "put": {
        "tags": [
          "Webhook Management"
        ],
        "summary": "Update an Event for a Webhook",
        "description": "This endpoint allows you to update an event associated with a specific webhook identified by RES-100045. It provides flexibility to modify event details as required by the business logic.",
        "operationId": "updateWebhookEventRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update events associated with the webhook identified by RES-100045. It requires the appropriate JSON structure as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateWebhookEventRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully with the updated resource.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateWebhookEventRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateWebhookEventRes100045Request": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook event.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The URL to which the webhook will send events.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "The conditions that define when the webhook should be triggered.",
            "$ref": "#/components/schemas/WebhookCondition"
          },
          "requestContext": {
            "description": "Context information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the request body of the webhook event operation PUT request.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "ec502529-478c-53bf-92f9-ff9a19cf091b",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "idempotencyKey": "f7b0359e-77aa-5ab3-a322-b60614c8d06d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-682213"
            }
          }
        }
      },
      "WebhookCondition": {
        "type": "object",
        "properties": {
          "subscribeFor": {
            "type": "string",
            "description": "The event type that the webhook subscribes to.",
            "example": "user.created"
          },
          "includes": {
            "type": "array",
            "description": "Array of identifiers for events that are included.",
            "items": {
              "type": "string",
              "description": "List of event identifiers to include.",
              "example": "eventID123"
            }
          },
          "excludes": {
            "type": "array",
            "description": "Array of identifiers for events that are excluded.",
            "items": {
              "type": "string",
              "description": "List of event identifiers to exclude.",
              "example": "eventID456"
            }
          }
        },
        "description": "Conditions that specify when the webhook should be triggered."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for the correlation of requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system sending the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The specific application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/ChannelInfo"
          }
        },
        "description": "Context information about the request execution."
      },
      "ChannelInfo": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel.",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "Information regarding the channel used for the request."
      },
      "UpdateWebhookEventRes100045Response_200": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The name of the webhook.",
            "example": "Northstar Banking Service"
          },
          "url": {
            "type": "string",
            "description": "The endpoint URL where the webhook will send events.",
            "example": "https://banking.northstar.example/callbacks/status"
          },
          "condition": {
            "description": "Conditions under which the webhook will be triggered.",
            "$ref": "#/components/schemas/WebhookCondition"
          },
          "metadata": {
            "description": "Metadata related to the webhook response.",
            "$ref": "#/components/schemas/WebhookMetadata"
          }
        },
        "description": "Response schema for the successful PUT operation for webhook events.",
        "example": {
          "name": "Northstar Banking Service",
          "url": "https://banking.northstar.example/callbacks/status",
          "condition": {
            "subscribeFor": "STANDARD",
            "includes": [
              "STANDARD"
            ],
            "excludes": [
              "STANDARD"
            ]
          },
          "metadata": {
            "responseId": "5141395e-2dfa-51e4-a1f5-c53206f3f916",
            "correlationId": "7ca78dde-d545-54cc-901f-3135e366d3d9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "WebhookMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "responseId123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request through the system.",
            "example": "correlationId456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata associated with the webhook response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-update-webhook-subscription-event"
        },
        "example": "open-finance-api-update-webhook-subscription-event"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme utilizing JSON Web Tokens (JWT) that allows the client to authenticate by providing a token in the Authorization header. This method is commonly used for securing APIs.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}