{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Transaction Aggregation API",
    "description": "The Customer Transaction Aggregation API provides insights into a customer's transaction history, allowing for efficient retrieval and analysis of transaction data. This endpoint enables users to aggregate and view transactions for a specific customer using their unique customer ID. Typical consumers include financial analysts, customer service representatives, and data-driven applications that need to assess customer behavior or account activities. By leveraging this API, organizations can enhance their understanding of customer interactions and drive informed business decisions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/transactions": {
      "get": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Retrieve transactions for a specific customer.",
        "description": "This endpoint allows you to retrieve a list of transactions associated with a specific customer identified by their unique customer ID. Utilize this to analyze customer activity and transaction history.",
        "operationId": "getCustomerTransactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the transaction details associated with the customer ID CUST-100045. It allows the client to specify any criteria needed for filtering or formatting the transaction data returned by the server.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerTransactionsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the transaction data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerTransactionsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerTransactionsRequest": {
        "type": "string",
        "description": "This schema represents the JSON request body for retrieving transaction operations for a specific customer.",
        "example": "{}"
      },
      "GetCustomerTransactionsResponse_200": {
        "type": "object",
        "properties": {
          "found": {
            "type": "integer",
            "description": "The total number of transactions found.",
            "format": "int32",
            "example": 1
          },
          "displaying": {
            "type": "integer",
            "description": "The number of transactions currently displayed.",
            "format": "int32",
            "example": 1
          },
          "moreAvailable": {
            "type": "string",
            "description": "Indicates if more transactions are available.",
            "example": "STANDARD"
          },
          "fromDate": {
            "type": "string",
            "description": "The starting date for the transaction search.",
            "example": "2026-09-15"
          },
          "toDate": {
            "type": "string",
            "description": "The ending date for the transaction search.",
            "example": "2026-09-15"
          },
          "sort": {
            "type": "string",
            "description": "The sort order of the transactions.",
            "example": "STANDARD"
          },
          "transactions": {
            "type": "array",
            "description": "A list of transactions associated with the customer.",
            "example": [
              {
                "id": 1,
                "amount": 100.0,
                "uniqueTransactionId": "TXN-887161",
                "accountId": 1,
                "customerId": 1,
                "status": "ACTIVE",
                "description": "Customer banking request processed successfully",
                "memo": "STANDARD",
                "type": "STANDARD",
                "transactionDate": 1,
                "postedDate": 1,
                "createdDate": 1,
                "firstEffectiveDate": 1,
                "effectiveDate": 1,
                "optionExpireDate": 1,
                "checkNum": "STANDARD",
                "escrowAmount": 100.0,
                "feeAmount": 100.0,
                "suspenseAmount": 100.0,
                "interestAmount": 100.0,
                "principalAmount": 100.0,
                "optionStrikePrice": 100.0,
                "unitQuantity": 100.0,
                "unitPrice": 100.0,
                "categorization": {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "category": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Transaction"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking the request.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the transaction was processed.",
                "example": "string"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "71e88e6b-ead8-51bb-8d58-e5acf130f1db",
              "correlationId": "b39933b1-64e9-52c1-9946-ae2e861fd574",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for retrieving customer transactions.",
        "example": {
          "found": 1,
          "displaying": 1,
          "moreAvailable": "STANDARD",
          "fromDate": "2026-09-15",
          "toDate": "2026-09-15",
          "sort": "STANDARD",
          "transactions": [
            {
              "id": 1,
              "amount": 100.0,
              "uniqueTransactionId": "TXN-887161",
              "accountId": 1,
              "customerId": 1,
              "status": "ACTIVE",
              "description": "Customer banking request processed successfully",
              "memo": "STANDARD",
              "type": "STANDARD",
              "transactionDate": 1,
              "postedDate": 1,
              "createdDate": 1,
              "firstEffectiveDate": 1,
              "effectiveDate": 1,
              "optionExpireDate": 1,
              "checkNum": "STANDARD",
              "escrowAmount": 100.0,
              "feeAmount": 100.0,
              "suspenseAmount": 100.0,
              "interestAmount": 100.0,
              "principalAmount": 100.0,
              "optionStrikePrice": 100.0,
              "unitQuantity": 100.0,
              "unitPrice": 100.0,
              "categorization": {
                "normalizedPayeeName": "Northstar Banking Service",
                "category": "STANDARD",
                "city": "New York",
                "state": "STANDARD",
                "postalCode": "10001"
              }
            }
          ],
          "metadata": {
            "responseId": "71e88e6b-ead8-51bb-8d58-e5acf130f1db",
            "correlationId": "b39933b1-64e9-52c1-9946-ae2e861fd574",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "integer",
            "description": "The unique identifier for the transaction.",
            "format": "int32",
            "example": 0
          },
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 0.0
          },
          "uniqueTransactionId": {
            "type": "string",
            "description": "A unique identifier for the transaction.",
            "example": "string"
          },
          "accountId": {
            "type": "integer",
            "description": "The identifier of the account associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "customerId": {
            "type": "integer",
            "description": "The identifier of the customer associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "status": {
            "type": "string",
            "description": "The current status of the transaction.",
            "example": "string"
          },
          "description": {
            "type": "string",
            "description": "A brief description of the transaction.",
            "example": "string"
          },
          "memo": {
            "type": "string",
            "description": "Additional information about the transaction.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "The type of transaction (e.g., debit, credit).",
            "example": "string"
          },
          "transactionDate": {
            "type": "integer",
            "description": "The date when the transaction occurred.",
            "format": "int32",
            "example": 0
          },
          "postedDate": {
            "type": "integer",
            "description": "The date when the transaction was posted.",
            "format": "int32",
            "example": 0
          },
          "createdDate": {
            "type": "integer",
            "description": "The date when the transaction was created.",
            "format": "int32",
            "example": 0
          },
          "firstEffectiveDate": {
            "type": "integer",
            "description": "The date when the transaction first became effective.",
            "format": "int32",
            "example": 0
          },
          "effectiveDate": {
            "type": "integer",
            "description": "The date on which the transaction is effective.",
            "format": "int32",
            "example": 0
          },
          "optionExpireDate": {
            "type": "integer",
            "description": "The expiration date for any options associated with the transaction.",
            "format": "int32",
            "example": 0
          },
          "checkNum": {
            "type": "string",
            "description": "The check number associated with the transaction.",
            "example": "string"
          },
          "escrowAmount": {
            "type": "number",
            "description": "The amount held in escrow for the transaction.",
            "example": 0.0
          },
          "feeAmount": {
            "type": "number",
            "description": "Any fees associated with the transaction.",
            "example": 0.0
          },
          "suspenseAmount": {
            "type": "number",
            "description": "The amount in suspense for the transaction.",
            "example": 0.0
          },
          "interestAmount": {
            "type": "number",
            "description": "The amount of interest associated with the transaction.",
            "example": 0.0
          },
          "principalAmount": {
            "type": "number",
            "description": "The principal amount of the transaction.",
            "example": 0.0
          },
          "optionStrikePrice": {
            "type": "number",
            "description": "The strike price for any options associated with the transaction.",
            "example": 0.0
          },
          "unitQuantity": {
            "type": "number",
            "description": "The quantity of units associated with the transaction.",
            "example": 0.0
          },
          "unitPrice": {
            "type": "number",
            "description": "The price per unit associated with the transaction.",
            "example": 0.0
          },
          "categorization": {
            "$ref": "#/components/schemas/Categorization"
          }
        },
        "description": "Schema representing a customer transaction."
      },
      "Categorization": {
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "The normalized name of the payee.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "The category associated with the transaction.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "The city associated with the transaction.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "The state associated with the transaction.",
            "example": "string"
          },
          "postalCode": {
            "type": "string",
            "description": "The postal code associated with the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the categorization information for a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-all-customer-transactions"
        },
        "example": "open-finance-api-get-all-customer-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, where a token is provided in the 'Authorization' header. The token format follows JSON Web Token (JWT) standards for secure authentication and information exchange.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}