{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Owner Details API",
    "description": "The Customer Account Owner Details API allows users to access detailed information about the owner of a specific account linked to a customer. By retrieving data such as ownership type, contact information, and account relevance, this API serves as a critical resource for client relationship management. Typical consumers include customer support teams, financial analysts, and compliance officers looking to verify account ownership or assess account risk. With this API, organizations can enhance transparency and improve customer service by delivering accurate owner details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/accounts/{accountId}/owner/details": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve owner details for a specific account.",
        "description": "This endpoint allows you to fetch the detailed information of the owner associated with the specified account within a customer. Ensure that the customer ID and account ID are correctly provided to receive the accurate owner details.",
        "operationId": "getOwnerDetailsForAccount",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the owner details associated with the specified account. The request should include any necessary parameters to fetch the relevant information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOwnerDetailsForAccountRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Owner details retrieved successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOwnerDetailsForAccountResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOwnerDetailsForAccountRequest": {
        "type": "string",
        "description": "This schema represents a request body containing details for the owner of a specific account.",
        "example": "{}"
      },
      "GetOwnerDetailsForAccountResponse_200": {
        "type": "object",
        "properties": {
          "holders": {
            "type": "array",
            "description": "List of account holders associated with the owner.",
            "example": [
              {
                "relationship": "STANDARD",
                "ownerName": "Northstar Banking Service",
                "firstName": "Northstar Banking Service",
                "middleName": "Northstar Banking Service",
                "lastName": "Northstar Banking Service",
                "suffix": "STANDARD",
                "nameClassification": "STANDARD",
                "nameClassificationconfidencescore": 100.0,
                "addresses": [
                  {
                    "ownerAddress": "STANDARD",
                    "type": "STANDARD",
                    "line1": "350 Fifth Avenue",
                    "line2": "Suite 4200",
                    "line3": "STANDARD",
                    "city": "New York",
                    "state": "STANDARD",
                    "postalCode": "10001",
                    "country": "STANDARD"
                  }
                ],
                "emails": [
                  {
                    "isPrimary": true,
                    "email": "olivia.bennett@northstar.example",
                    "emailType": "olivia.bennett@northstar.example"
                  }
                ],
                "phones": [
                  {
                    "type": "STANDARD",
                    "country": "STANDARD",
                    "phone": "+1-212-555-0147"
                  }
                ],
                "documentations": [
                  {
                    "taxId": "STANDARD",
                    "taxIdCountry": "STANDARD",
                    "governmentId": "STANDARD"
                  }
                ],
                "identityInsights": {
                  "requestRefId": "STANDARD",
                  "isEmailValid": true,
                  "emailFirstSeenDays": 100.0,
                  "emailDomainCreationDate": "olivia.bennett@northstar.example",
                  "emailToName": "olivia.bennett@northstar.example",
                  "ipRisk": true,
                  "ipRiskScore": 100.0,
                  "ipLastSeenDays": 100.0,
                  "code": "SUCCESS"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Holder"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving owner details of a specific account.",
        "example": {
          "holders": [
            {
              "relationship": "STANDARD",
              "ownerName": "Northstar Banking Service",
              "firstName": "Northstar Banking Service",
              "middleName": "Northstar Banking Service",
              "lastName": "Northstar Banking Service",
              "suffix": "STANDARD",
              "nameClassification": "STANDARD",
              "nameClassificationconfidencescore": 100.0,
              "addresses": [
                {
                  "ownerAddress": "STANDARD",
                  "type": "STANDARD",
                  "line1": "350 Fifth Avenue",
                  "line2": "Suite 4200",
                  "line3": "STANDARD",
                  "city": "New York",
                  "state": "STANDARD",
                  "postalCode": "10001",
                  "country": "STANDARD"
                }
              ],
              "emails": [
                {
                  "isPrimary": true,
                  "email": "olivia.bennett@northstar.example",
                  "emailType": "olivia.bennett@northstar.example"
                }
              ],
              "phones": [
                {
                  "type": "STANDARD",
                  "country": "STANDARD",
                  "phone": "+1-212-555-0147"
                }
              ],
              "documentations": [
                {
                  "taxId": "STANDARD",
                  "taxIdCountry": "STANDARD",
                  "governmentId": "STANDARD"
                }
              ],
              "identityInsights": {
                "requestRefId": "STANDARD",
                "isEmailValid": true,
                "emailFirstSeenDays": 100.0,
                "emailDomainCreationDate": "olivia.bennett@northstar.example",
                "emailToName": "olivia.bennett@northstar.example",
                "ipRisk": true,
                "ipRiskScore": 100.0,
                "ipLastSeenDays": 100.0,
                "code": "SUCCESS"
              }
            }
          ],
          "metadata": {
            "responseId": "bf513432-dc6d-5a15-b126-d4fcb0a1549a",
            "correlationId": "b78fb59f-db64-5968-b9a8-77b390b2dc41",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Holder": {
        "type": "object",
        "properties": {
          "relationship": {
            "type": "string",
            "description": "The relationship of the holder to the account owner."
          },
          "ownerName": {
            "type": "string",
            "description": "The full name of the account holder."
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the account holder."
          },
          "middleName": {
            "type": "string",
            "description": "The middle name of the account holder."
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the account holder."
          },
          "suffix": {
            "type": "string",
            "description": "Suffix of the account holder's name (e.g., Jr., Sr., III)."
          },
          "nameClassification": {
            "type": "string",
            "description": "Classification of the account holder's name based on predefined categories."
          },
          "nameClassificationconfidencescore": {
            "type": "number",
            "description": "Confidence score associated with the name classification."
          },
          "addresses": {
            "type": "array",
            "description": "List of addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          },
          "emails": {
            "type": "array",
            "description": "List of email addresses associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Email"
            }
          },
          "phones": {
            "type": "array",
            "description": "List of phone numbers associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Phone"
            }
          },
          "documentations": {
            "type": "array",
            "description": "List of documentation associated with the account holder.",
            "items": {
              "$ref": "#/components/schemas/Documentation"
            }
          },
          "identityInsights": {
            "type": "object",
            "properties": {
              "requestRefId": {
                "type": "string",
                "description": "Reference ID for the request that generated the insights."
              },
              "isEmailValid": {
                "type": "boolean",
                "description": "Indicates whether the email address is valid."
              },
              "emailFirstSeenDays": {
                "type": "number",
                "description": "Number of days since the email was first seen."
              },
              "emailDomainCreationDate": {
                "type": "string",
                "description": "Creation date of the domain associated with the email address."
              },
              "emailToName": {
                "type": "string",
                "description": "Full name associated with the email address."
              },
              "ipRisk": {
                "type": "boolean",
                "description": "Indicates whether there is a risk associated with the IP address."
              },
              "ipRiskScore": {
                "type": "number",
                "description": "Score that indicates the level of risk associated with the IP address."
              },
              "ipLastSeenDays": {
                "type": "number",
                "description": "Number of days since the IP address was last seen."
              },
              "code": {
                "type": "string",
                "description": "Code representing the insights related to the identity."
              }
            },
            "description": "Insights related to the identity of the account holder."
          }
        },
        "description": "Details of an account holder."
      },
      "Address": {
        "type": "object",
        "properties": {
          "ownerAddress": {
            "type": "string",
            "description": "The complete address of the account holder."
          },
          "type": {
            "type": "string",
            "description": "The type of address (e.g., Home, Work)."
          },
          "line1": {
            "type": "string",
            "description": "First line of the address."
          },
          "line2": {
            "type": "string",
            "description": "Second line of the address (if applicable)."
          },
          "line3": {
            "type": "string",
            "description": "Third line of the address (if applicable)."
          },
          "city": {
            "type": "string",
            "description": "City of the address."
          },
          "state": {
            "type": "string",
            "description": "State of the address."
          },
          "postalCode": {
            "type": "string",
            "description": "Postal code of the address."
          },
          "country": {
            "type": "string",
            "description": "Country of the address."
          }
        },
        "description": "Representation of an address associated with an account holder."
      },
      "Email": {
        "type": "object",
        "properties": {
          "isPrimary": {
            "type": "boolean",
            "description": "Indicates whether this email is the primary email address."
          },
          "email": {
            "type": "string",
            "description": "The email address."
          },
          "emailType": {
            "type": "string",
            "description": "Type of the email address (e.g., personal, work)."
          }
        },
        "description": "Representation of an email address associated with an account holder."
      },
      "Phone": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "The type of phone number (e.g., mobile, home)."
          },
          "country": {
            "type": "string",
            "description": "Country code of the phone number."
          },
          "phone": {
            "type": "string",
            "description": "The phone number."
          }
        },
        "description": "Representation of a phone number associated with an account holder."
      },
      "Documentation": {
        "type": "object",
        "properties": {
          "taxId": {
            "type": "string",
            "description": "Tax ID associated with the account holder."
          },
          "taxIdCountry": {
            "type": "string",
            "description": "Country of the tax ID."
          },
          "governmentId": {
            "type": "string",
            "description": "Government-issued identification of the account holder."
          }
        },
        "description": "Representation of a documentation associated with an account holder."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the response with user requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the specific endpoint being accessed. This header allows tracking of requests and responses to ensure proper management and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-account-owner-details"
        },
        "example": "open-finance-api-get-account-owner-details"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application that handled the request. This header is useful for identifying which application instance processed the current request, aiding in debugging and logging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes HTTP Bearer authentication. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to gain access to protected resources. The token should be formatted as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}