{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Submission API",
    "description": "The Loan Application Submission API facilitates the submission of loan applications for processing. This endpoint allows users to submit detailed information regarding their loan requests, ensuring that all necessary data is captured for evaluation. Typical consumers of this API include financial institutions and loan processing systems looking to streamline their application workflows. By utilizing this API, organizations can enhance their efficiency in handling loan applications and improve the overall customer experience.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/submit": {
      "post": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Submit a loan application",
        "description": "This endpoint allows you to submit a loan application for a specific resource identified by RES-100045. Ensure that all required information is provided in the request to process the application successfully.",
        "operationId": "submitLoanApplicationForRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Submit a loan application with the specified application ID. The request body should contain all the necessary details required for processing the loan application.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmitLoanApplicationForRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmitLoanApplicationForRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "SubmitLoanApplicationForRes100045Request": {
        "title": "Loan Application Submission Request",
        "type": "object",
        "properties": {
          "submittedByCustomerId": {
            "type": "string",
            "description": "The identifier of the customer who submitted the application.",
            "example": "CUST-632711"
          },
          "declarationAccepted": {
            "type": "boolean",
            "description": "Indicates whether the declaration has been accepted by the customer.",
            "example": true
          },
          "declarationVersion": {
            "type": "string",
            "description": "Version of the declaration accepted by the customer.",
            "example": "STANDARD"
          },
          "otpTransactionId": {
            "type": "string",
            "description": "The transaction ID associated with the OTP process.",
            "example": "TXN-574914"
          },
          "notes": {
            "type": "string",
            "description": "Any additional notes provided by the customer.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a loan application.",
        "example": {
          "submittedByCustomerId": "CUST-632711",
          "declarationAccepted": true,
          "declarationVersion": "STANDARD",
          "otpTransactionId": "TXN-574914",
          "notes": "STANDARD",
          "requestContext": {
            "requestId": "6ea88085-875a-5d9f-82cb-523391bed15d",
            "correlationId": "3dabd212-e920-5a79-bb13-984d4579c4da",
            "idempotencyKey": "3b34f368-8c7a-5103-91f6-1503877e504a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-674355"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across different systems.",
            "example": "correlation-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent processing of the request.",
            "example": "idempotency-key-321"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "mobile-app"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "loan-application-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the contextual information of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "SubmitLoanApplicationForRes100045Response_202": {
        "title": "Loan Application Submission Response",
        "type": "object",
        "properties": {
          "commandId": {
            "type": "string",
            "description": "The unique identifier for the command associated with the loan application submission.",
            "example": "ad898d14-53b5-362b-8fde-2a2cc3a7ce2c"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application submission.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp indicating when the loan application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource representing the loan application.",
            "example": "RES-530735"
          },
          "metadata": {
            "$ref": "#/components/schemas/SubmissionMetadata"
          }
        },
        "description": "This schema represents the response returned upon the submission of a loan application.",
        "example": {
          "commandId": "ad898d14-53b5-362b-8fde-2a2cc3a7ce2c",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "resourceId": "RES-530735",
          "metadata": {
            "responseId": "678138e7-c54d-5d19-83e6-0710dd3134b5",
            "correlationId": "3dabd212-e920-5a79-bb13-984d4579c4da",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SubmissionMetadata": {
        "title": "Submission Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response corresponding to the loan application submission.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracking the request across services.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the loan application processing took place.",
            "example": "string"
          }
        },
        "description": "This schema contains additional metadata related to the loan application submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-submit-loan-application"
        },
        "example": "banking-loans-openapi-submit-loan-application"
      },
      "X-Runtime-App": {
        "description": "Identifier for the application handling the request, providing context on its execution.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must provide a valid JWT in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}