{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Party Information Retrieval API",
    "description": "This API allows for the retrieval of party information associated with a specific bank account. It serves financial institutions and third-party service providers looking to access details about individuals or entities connected to an account. By querying the endpoint with a specific account ID, users can obtain critical data necessary for compliance, reporting, or customer service purposes. This functionality is essential for enhancing customer relationships and ensuring accurate transaction processing.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}/party": {
      "get": {
        "tags": [
          "Account Information"
        ],
        "summary": "Retrieve the party information for a specific account.",
        "description": "This operation allows you to fetch detailed party information associated with the specified account (ACC-200045) in the AISP context. The response will include relevant party details such as names, addresses, and identifiers.",
        "operationId": "getPartyForAccountAisp",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about a specific party associated with the account identified by ACC-200045. Ensure that the request contains all necessary parameters and is formatted according to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyForAccountAispRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account party information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyForAccountAispResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyForAccountAispRequest": {
        "type": "string",
        "description": "This schema represents the request body for fetching account operation details related to a specific party.",
        "example": "{}"
      },
      "GetPartyForAccountAispResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Party": {
                "$ref": "#/components/schemas/Party"
              }
            },
            "description": "Contains information about the party associated with the account.",
            "example": {
              "Party": {
                "id": "STANDARD",
                "number": "STANDARD",
                "type": "STANDARD",
                "Name": "Northstar Banking Service",
                "FullLegalName": "Northstar Banking Service",
                "LegalStructure": "STANDARD",
                "LEI": "STANDARD",
                "BeneficialOwnership": true,
                "AccountRole": "DEBIT",
                "EmailAddress": "olivia.bennett@northstar.example",
                "Phone": "+1-212-555-0147",
                "Mobile": "STANDARD",
                "Relationships": {
                  "Account": {
                    "Related": "https://example.com/resource",
                    "Id": "STANDARD"
                  }
                },
                "Address": [
                  {
                    "type": "STANDARD",
                    "Department": "STANDARD",
                    "SubDepartment": "STANDARD",
                    "StreetName": "Northstar Banking Service",
                    "BuildingNumber": "STANDARD",
                    "BuildingName": "Northstar Banking Service",
                    "Floor": "STANDARD",
                    "UnitNumber": "STANDARD",
                    "Room": "STANDARD",
                    "PostBox": "STANDARD",
                    "TownLocationName": "Northstar Banking Service",
                    "DistrictName": "Northstar Banking Service",
                    "CareOf": "STANDARD",
                    "PostCode": "CODE-411",
                    "TownName": "Northstar Banking Service",
                    "CountrySubDivision": "STANDARD",
                    "Country": "STANDARD",
                    "line": [
                      "STANDARD"
                    ]
                  }
                ]
              }
            }
          },
          "Links": {
            "type": "object",
            "properties": {
              "Self": {
                "type": "string",
                "description": "URL to the current resource.",
                "example": "string"
              },
              "First": {
                "type": "string",
                "description": "URL to the first page of results.",
                "example": "string"
              },
              "Prev": {
                "type": "string",
                "description": "URL to the previous page of results.",
                "example": "string"
              }
            },
            "description": "Pagination and navigation links relevant to the data.",
            "example": {
              "Self": "https://example.com/resource",
              "First": "https://example.com/resource",
              "Prev": "https://example.com/resource"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to track the request across microservices.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp of when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the processing occurred.",
                "example": "string"
              }
            },
            "description": "Metadata information about the response.",
            "example": {
              "responseId": "c88fe80b-08b6-5809-bf56-6fb773c3165b",
              "correlationId": "1a83bd8e-db24-5e8d-a10d-f3ba6e45e3b3",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for fetching account party details in the GET operations.",
        "example": {
          "Data": {
            "Party": {
              "id": "STANDARD",
              "number": "STANDARD",
              "type": "STANDARD",
              "Name": "Northstar Banking Service",
              "FullLegalName": "Northstar Banking Service",
              "LegalStructure": "STANDARD",
              "LEI": "STANDARD",
              "BeneficialOwnership": true,
              "AccountRole": "DEBIT",
              "EmailAddress": "olivia.bennett@northstar.example",
              "Phone": "+1-212-555-0147",
              "Mobile": "STANDARD",
              "Relationships": {
                "Account": {
                  "Related": "https://example.com/resource",
                  "Id": "STANDARD"
                }
              },
              "Address": [
                {
                  "type": "STANDARD",
                  "Department": "STANDARD",
                  "SubDepartment": "STANDARD",
                  "StreetName": "Northstar Banking Service",
                  "BuildingNumber": "STANDARD",
                  "BuildingName": "Northstar Banking Service",
                  "Floor": "STANDARD",
                  "UnitNumber": "STANDARD",
                  "Room": "STANDARD",
                  "PostBox": "STANDARD",
                  "TownLocationName": "Northstar Banking Service",
                  "DistrictName": "Northstar Banking Service",
                  "CareOf": "STANDARD",
                  "PostCode": "CODE-411",
                  "TownName": "Northstar Banking Service",
                  "CountrySubDivision": "STANDARD",
                  "Country": "STANDARD",
                  "line": [
                    "STANDARD"
                  ]
                }
              ]
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource"
          },
          "metadata": {
            "responseId": "c88fe80b-08b6-5809-bf56-6fb773c3165b",
            "correlationId": "1a83bd8e-db24-5e8d-a10d-f3ba6e45e3b3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Party": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "string"
          },
          "number": {
            "type": "string",
            "description": "Party number, typically used for identification.",
            "example": "string"
          },
          "type": {
            "type": "string",
            "description": "Type of the party (e.g., individual, business).",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "The name of the party.",
            "example": "string"
          },
          "FullLegalName": {
            "type": "string",
            "description": "The full legal name of the party.",
            "example": "string"
          },
          "LegalStructure": {
            "type": "string",
            "description": "The legal structure of the party (e.g., LLC, Corporation).",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier (LEI) for the party.",
            "example": "string"
          },
          "BeneficialOwnership": {
            "type": "boolean",
            "description": "Indicates if the party has beneficial ownership.",
            "example": false
          },
          "AccountRole": {
            "type": "string",
            "description": "The role of the party with respect to the account.",
            "example": "string"
          },
          "EmailAddress": {
            "type": "string",
            "description": "The email address of the party.",
            "example": "string"
          },
          "Phone": {
            "type": "string",
            "description": "The phone number of the party.",
            "example": "string"
          },
          "Mobile": {
            "type": "string",
            "description": "The mobile number of the party.",
            "example": "string"
          },
          "Relationships": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "object",
                "properties": {
                  "Related": {
                    "type": "string",
                    "description": "Description of the related account.",
                    "example": "string"
                  },
                  "Id": {
                    "type": "string",
                    "description": "Unique identifier for the related account.",
                    "example": "string"
                  }
                },
                "description": "Information about the accounts related to the party."
              }
            },
            "description": "Relationships of the party with other entities."
          },
          "Address": {
            "type": "array",
            "description": "List of addresses associated with the party.",
            "items": {
              "$ref": "#/components/schemas/Address"
            }
          }
        },
        "description": "Schema representing a party's details in the account."
      },
      "Address": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "Type of address (e.g., residential, business).",
            "example": "string"
          },
          "Department": {
            "type": "string",
            "description": "Department name associated with the address.",
            "example": "string"
          },
          "SubDepartment": {
            "type": "string",
            "description": "Sub-department name associated with the address.",
            "example": "string"
          },
          "StreetName": {
            "type": "string",
            "description": "Name of the street.",
            "example": "string"
          },
          "BuildingNumber": {
            "type": "string",
            "description": "Number of the building.",
            "example": "string"
          },
          "BuildingName": {
            "type": "string",
            "description": "Name of the building.",
            "example": "string"
          },
          "Floor": {
            "type": "string",
            "description": "Floor number of the address.",
            "example": "string"
          },
          "UnitNumber": {
            "type": "string",
            "description": "Unit number at the address.",
            "example": "string"
          },
          "Room": {
            "type": "string",
            "description": "Room number if applicable.",
            "example": "string"
          },
          "PostBox": {
            "type": "string",
            "description": "Post box number if applicable.",
            "example": "string"
          },
          "TownLocationName": {
            "type": "string",
            "description": "Name of the town or location.",
            "example": "string"
          },
          "DistrictName": {
            "type": "string",
            "description": "Name of the district.",
            "example": "string"
          },
          "CareOf": {
            "type": "string",
            "description": "Care of name for address handling.",
            "example": "string"
          },
          "PostCode": {
            "type": "string",
            "description": "Postal code for the address.",
            "example": "string"
          },
          "TownName": {
            "type": "string",
            "description": "Name of the town.",
            "example": "string"
          },
          "CountrySubDivision": {
            "type": "string",
            "description": "Subdivision of the country (e.g., state, region).",
            "example": "string"
          },
          "Country": {
            "type": "string",
            "description": "Country where the address is located.",
            "example": "string"
          },
          "line": {
            "type": "array",
            "description": "Detailed lines of the address.",
            "items": {
              "type": "string",
              "example": "string"
            }
          }
        },
        "description": "Schema representing an address of the party."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id-party"
        },
        "example": "accounts-api-get-accounts-account-id-party"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a JWT (JSON Web Token) in the Authorization header to access secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}