{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Authorization Status API",
    "description": "The Card Authorization Status API provides real-time insights into the authorization status of banking cards. This endpoint allows users to query the authorization status by providing a unique card identifier. It is particularly useful for financial institutions and payment processors looking to monitor card transactions and streamline customer service operations. Typical consumers include bank representatives and fraud detection teams who require timely access to authorization information to ensure smooth transactional processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization/{param1}": {
      "get": {
        "tags": [
          "Card Authorization"
        ],
        "summary": "Retrieve card authorization details",
        "description": "This endpoint allows developers to retrieve the authorization details for a specific card by its unique identifier. It provides the necessary information regarding the card's authorization status, transaction details, and any other relevant metadata.",
        "operationId": "getCardAuthorization_card400045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for card authorization, containing necessary parameters to authorize the specified card.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardAuthorization_card400045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the card authorization details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardAuthorization_card400045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardAuthorization_card400045Request": {
        "title": "Card Authorization Request Body",
        "type": "string",
        "description": "This schema represents the request body for card authorization operations. It is a simple string representation.",
        "example": "{}"
      },
      "GetCardAuthorization_card400045Response_200": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "A unique token associated with the card.",
            "example": "TOK-957699"
          },
          "cardholderId": {
            "type": "string",
            "description": "The identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The identifier of the merchant involved in the transaction.",
            "example": "MER-674373"
          },
          "transactionAmount": {
            "description": "The amount of the transaction including the currency.",
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code for the transaction.",
            "example": "5411"
          },
          "authorizationType": {
            "type": "string",
            "description": "The type of authorization performed.",
            "example": "STANDARD"
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "The method used to enter the card data.",
            "example": "STANDARD"
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "The result of the 3D Secure verification.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the authorization record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of the last update to this record.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a successful card authorization request.",
        "example": {
          "cardToken": "TOK-957699",
          "cardholderId": "STANDARD",
          "merchantId": "MER-674373",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "authorizationType": "STANDARD",
          "terminalEntryMode": "STANDARD",
          "threeDSecureResult": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f104849d-59db-55cd-9879-25656970815b",
            "correlationId": "0ddd5dd1-a8eb-54eb-a1c8-d78cbcf5ad4c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "The transaction amount in the smallest currency unit.",
            "format": "int32",
            "example": 100
          },
          "currency": {
            "type": "string",
            "description": "The currency of the transaction amount, represented in ISO 4217 format.",
            "example": "USD"
          }
        },
        "description": "Represents the amount and currency of a transaction."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "exampleResponseId"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate requests and responses.",
            "example": "exampleCorrelationId"
          },
          "generatedAt": {
            "type": "string",
            "description": "The time at which the metadata was generated.",
            "example": "2023-10-10T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "exampleRegion"
          }
        },
        "description": "Contains additional metadata for transactions."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-get-card-authorization"
        },
        "example": "card-authorization-get-card-authorization"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as a bearer authentication method. The client must include a valid JWT in the Authorization header when making requests to endpoints that require authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}