{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Payroll Submission API",
    "description": "The Customer Payroll Submission API enables businesses to efficiently submit payroll data for specific customers. By utilizing this endpoint, organizations can manage payroll information in a streamlined manner, ensuring accurate processing and compliance. This API is essential for payroll departments and financial applications that need to integrate payroll submissions into their workflows. Typical consumers include HR teams, financial software providers, and fintech applications looking to enhance payroll capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/voepayroll": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create a VOE payroll record for a specific customer.",
        "description": "This operation allows you to create a new VOE payroll record for the customer identified by CUST-100045. Ensure that all required fields are provided in the request body to successfully create the payroll record.",
        "operationId": "createVoepayrollForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a payroll operation for the specified customer. It must include all necessary details for processing the payroll transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateVoepayrollForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVoepayrollForCustomerResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateVoepayrollForCustomerRequest": {
        "title": "Payroll Request Body",
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Object containing the payroll-related information.",
            "$ref": "#/components/schemas/PayrollData"
          },
          "reportCustomFields": {
            "type": "array",
            "description": "Custom fields associated with the payroll report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "payStatementsFromDate": {
            "type": "integer",
            "description": "The starting date for pay statements represented as a UNIX timestamp.",
            "format": "int32",
            "example": 1
          },
          "marketSegment": {
            "type": "string",
            "description": "The market segment associated with this payroll request.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of this payroll request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema for the payroll request body containing payroll data and associated metadata.",
        "example": {
          "payrollData": {
            "ssn": "STANDARD",
            "dob": 1,
            "reportId": "STANDARD",
            "payrollAccountIds": [
              "ACC-358986"
            ]
          },
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "payStatementsFromDate": 1,
          "marketSegment": "STANDARD",
          "purpose": "STANDARD",
          "requestContext": {
            "requestId": "b1f50bfe-7b03-55cf-b812-5740e3aaeee5",
            "correlationId": "3d1896e2-01fa-5d35-afd3-010d2ada3f7e",
            "idempotencyKey": "5955a034-d889-59e4-8585-8fcb88fb4414",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-100062"
            }
          }
        }
      },
      "PayrollData": {
        "title": "Payroll Data",
        "type": "object",
        "properties": {
          "retrievalId": {
            "type": "string",
            "description": "Identifier for retrieving the payroll data.",
            "example": "string"
          },
          "payrollAggregatorResponseId": {
            "type": "string",
            "description": "Identifier for the payroll aggregator's response.",
            "example": "string"
          },
          "consentMethod": {
            "type": "string",
            "description": "Method of consent for the payroll process.",
            "example": "string"
          },
          "employmentIds": {
            "type": "array",
            "description": "List of employment identifiers.",
            "example": [
              "employmentId1",
              "employmentId2"
            ],
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Schema representing payroll-related data."
      },
      "ReportCustomField": {
        "title": "Report Custom Field",
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field should be displayed.",
            "example": false
          }
        },
        "description": "Schema representing a custom field in a payroll report."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing requests across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request is made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information for the request, including IDs and source information."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The ID of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The ID of the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "CreateVoepayrollForCustomerResponse_202": {
        "title": "Customer Payroll Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer.",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Unique identifier for the customer.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Identifier for the request.",
            "example": "dda58c34-f3f2-5039-89e4-21627c035cf1"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the requester.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Timestamp of when the response was created.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title of the request.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social security number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Details about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding the dispute.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of operation.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the request.",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints associated with the response.",
            "$ref": "#/components/schemas/Constraints"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for a customer payroll operation.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "dda58c34-f3f2-5039-89e4-21627c035cf1",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "payrollData": {
              "retrievalId": "STANDARD",
              "payrollAggregatorResponseId": "37dfb71a-ed49-5f9d-840d-9e3add819305",
              "consentMethod": "STANDARD",
              "employmentIds": [
                "STANDARD"
              ]
            }
          },
          "metadata": {
            "responseId": "e58aef6f-09b8-52c6-97ce-cfe4ba9ec591",
            "correlationId": "3d1896e2-01fa-5d35-afd3-010d2ada3f7e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Name of the end user.",
            "example": "John Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the end user.",
            "example": "123 Main St"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "State"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the end user's address.",
            "example": "12345"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the end user.",
            "example": "555-1234"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "user@example.com"
          },
          "url": {
            "type": "string",
            "description": "Web URL associated with the end user.",
            "example": "http://example.com"
          }
        },
        "description": "Schema representing the details of the end user."
      },
      "ConsumerDetails": {
        "title": "Consumer Details",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "John"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "A."
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "Doe"
          },
          "address": {
            "type": "string",
            "description": "Address of the consumer.",
            "example": "456 Elm St"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "Anytown"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "State"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code of the consumer's address.",
            "example": "67890"
          },
          "phone": {
            "type": "string",
            "description": "Phone number of the consumer.",
            "example": "555-5678"
          },
          "ssn": {
            "type": "string",
            "description": "Social security number of the consumer.",
            "example": "123-45-6789"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "consumer@example.com"
          }
        },
        "description": "Schema representing the details of the consumer."
      },
      "Constraints": {
        "title": "Constraints",
        "type": "object",
        "properties": {
          "payrollData": {
            "description": "Payroll data related to the constraints.",
            "$ref": "#/components/schemas/PayrollData"
          }
        },
        "description": "Schema representing the constraints associated with the payroll response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate the requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-voe-payroll-report"
        },
        "example": "open-finance-api-generate-voe-payroll-report"
      },
      "X-Runtime-App": {
        "description": "Indicates the application runtime context for the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens in HTTP requests, formatted as JSON Web Tokens (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}