{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Underwriting Details Retrieval API",
    "description": "The Underwriting Details Retrieval API enables users to access specific underwriting information associated with a given underwriting ID. This API is designed for financial institutions and insurance companies to retrieve and review underwriting records efficiently. Typical consumers include underwriters, analysts, and customer service representatives who need quick access to detailed underwriting data for decision-making or customer inquiries. By providing comprehensive insights into underwriting metrics, this API supports enhanced risk assessment and operational transparency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/underwriting/{underwritingId}": {
      "get": {
        "tags": [
          "Sales Operations"
        ],
        "summary": "Retrieve underwriting details for a specific sale.",
        "description": "This endpoint allows users to fetch detailed underwriting information related to the sale with ID RES-100045. It provides essential insights and data necessary for further processing and decision-making.",
        "operationId": "getSalesUnderwritingRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to obtain underwriting information for sales operation RES-100045. It must conform to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesUnderwritingRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested underwriting details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesUnderwritingRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesUnderwritingRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation for sales underwriting. It is expected to contain a string that specifies the required parameters for the operation.",
        "example": "{}"
      },
      "GetSalesUnderwritingRes100045Response_200": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "STANDARD"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product being requested.",
            "example": "CHK-PREMIUM-US"
          },
          "salesChannel": {
            "type": "string",
            "description": "Sales channel through which the request is made.",
            "example": "STANDARD"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier of the relationship manager assigned to the prospect.",
            "example": "STANDARD"
          },
          "expectedValue": {
            "description": "Expected financial value related to the request.",
            "$ref": "#/components/schemas/Value"
          },
          "applicationId": {
            "type": "string",
            "description": "Identifier for the application associated with the request.",
            "example": "APP-760171"
          },
          "requestedLimit": {
            "description": "Financial limit that has been requested.",
            "$ref": "#/components/schemas/Value"
          },
          "debtServiceCoverageRatio": {
            "type": "number",
            "description": "Ratio of debt service coverage.",
            "example": 100.0
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record in the system.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the request response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema for the response of the GET operation for underwriting requests.",
        "example": {
          "prospectId": "STANDARD",
          "productCode": "CHK-PREMIUM-US",
          "salesChannel": "STANDARD",
          "relationshipManagerId": "STANDARD",
          "expectedValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "applicationId": "APP-760171",
          "requestedLimit": {
            "amount": 100.0,
            "currency": "USD"
          },
          "debtServiceCoverageRatio": 100.0,
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "352ad225-4c0a-5611-8b90-220343ca3e40",
            "correlationId": "9d51ac62-271a-55f1-84de-241a98499c26",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Value": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code of the amount.",
            "example": "string"
          }
        },
        "description": "Schema representing a financial value with associated currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata information for the request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the API endpoint being invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "underwriting-get-underwriting"
        },
        "example": "underwriting-get-underwriting"
      },
      "X-Runtime-App": {
        "description": "Identifier for the runtime application handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with JSON Web Tokens (JWT). Clients must include the JWT in the Authorization header when making requests to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}