{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Party Routing Profile API",
    "description": "The Party Routing Profile API allows users to access detailed information about routing profiles associated with various banking parties. This API is essential for financial institutions and service providers to ensure the correct handling of transactions related to different entities. Developers can retrieve specific routing profiles to facilitate seamless banking operations, ensuring compliance and efficiency in processing. Typical consumers of this API include banking applications, payment processing systems, and financial analysis tools, enhancing their ability to manage party interactions effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/party/party-routing-profile": {
      "get": {
        "tags": [
          "Party Management"
        ],
        "summary": "Retrieve Party Routing Profile",
        "description": "This endpoint allows you to retrieve a Party Routing Profile. It provides details regarding how a party is routed within the system, which can be crucial for managing communications and operations effectively.",
        "operationId": "getPartyRoutingProfile",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the party routing profile. The body should contain relevant data for filtering or specifying the routing profile request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPartyRoutingProfileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful and the routing profile details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPartyRoutingProfileResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPartyRoutingProfileRequest": {
        "type": "string",
        "description": "A request body schema representing a JSON payload for the GET operation on the party routing profile.",
        "example": "{}"
      },
      "GetPartyRoutingProfileResponse_200": {
        "title": "Party Routing Profile Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of party profiles.",
            "example": [
              {
                "partyId": "PARTY-246985",
                "legalName": "Olivia Bennett",
                "legalEntityIdentifier": "STANDARD",
                "countryCode": "US",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/PartyProfile"
            }
          },
          "pagination": {
            "description": "Pagination details about the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata regarding the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response of the GET request for Party Routing Profile.",
        "example": {
          "items": [
            {
              "partyId": "PARTY-246985",
              "legalName": "Olivia Bennett",
              "legalEntityIdentifier": "STANDARD",
              "countryCode": "US",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "6bf6f863-153a-59b4-8564-f81cf3d19f78",
            "correlationId": "cf6b9395-c1cf-506f-bed5-9243d769a0ad",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PartyProfile": {
        "title": "Party Profile",
        "type": "object",
        "properties": {
          "partyId": {
            "type": "string",
            "description": "Unique identifier for the party.",
            "example": "123456"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the party.",
            "example": "Example Corp"
          },
          "legalEntityIdentifier": {
            "type": "string",
            "description": "The legal entity identifier of the party.",
            "example": "LEI1234567890"
          },
          "countryCode": {
            "type": "string",
            "description": "The country code where the party is registered.",
            "example": "US"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the party record.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the party profile.",
            "example": "2021-01-01T12:00:00Z"
          }
        },
        "description": "Schema representing an individual party profile."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Schema representing pagination details for the response."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2021-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request occurred.",
            "example": "us-west-2"
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "party-routing-profile-search-party-routing-profile"
        },
        "example": "party-routing-profile-search-party-routing-profile"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication with JSON Web Tokens (JWT) to authenticate users. The client must include a token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}