{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Valuation Model Creation API",
    "description": "This API allows users to create new financial instrument valuation models, essential for assessing the value of various financial assets. It serves financial analysts, investment firms, and banking institutions that need to develop and customize valuation methodologies. By providing a structured interface to submit model parameters and specifications, users can ensure accurate modeling aligned with market dynamics. This endpoint facilitates seamless integration into financial applications, supporting better investment decision-making and risk management practices.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models": {
      "post": {
        "tags": [
          "Financial Modeling"
        ],
        "summary": "Create a new financial instrument valuation model.",
        "description": "This endpoint allows users to create a new financial instrument valuation model by providing the necessary data in the request body. After a successful request, the new model will be available for use in valuations and analysis.",
        "operationId": "createFinancialInstrumentValuationModel",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update financial instrument valuation models. It expects a JSON object containing the relevant data required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateFinancialInstrumentValuationModelRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The financial instrument valuation model was created successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateFinancialInstrumentValuationModelResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateFinancialInstrumentValuationModelRequest": {
        "title": "Financial Instrument Valuation Model Request",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "Unique identifier for the financial model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "Version of the financial model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "Identifier for the portfolio associated with the model.",
            "example": "PORT-215980"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date for which the model is valid.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "Scenario name or type associated with the valuation.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "Confidence level for the predictions of the model.",
            "example": 100.0
          },
          "instrumentType": {
            "type": "string",
            "description": "Type of financial instrument being valued.",
            "example": "STANDARD"
          },
          "ticker": {
            "type": "string",
            "description": "Ticker symbol of the financial instrument.",
            "example": "STANDARD"
          },
          "issueCurrency": {
            "type": "string",
            "description": "Currency in which the instrument is issued.",
            "example": "USD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for posting financial instrument valuation models.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-215980",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "instrumentType": "STANDARD",
          "ticker": "STANDARD",
          "issueCurrency": "USD",
          "requestContext": {
            "requestId": "8adfbcd7-ae94-5d3b-a403-e478f9873351",
            "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
            "idempotencyKey": "1b88cad7-fa5b-5993-be8d-d33c0cdce806",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-360021"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track related requests.",
            "example": "corr987"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotent requests.",
            "example": "idempotency123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-10-01T14:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "TradingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application from which the request was made.",
            "example": "ValuationApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel1"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device123"
          }
        },
        "description": "Information about the channel used for the request."
      },
      "CreateFinancialInstrumentValuationModelResponse_201": {
        "title": "Financial Instrument Valuation Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier of the financial instrument valuation model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier of the portfolio associated with the valuation.",
            "example": "PORT-220298"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier of the resource related to the valuation.",
            "example": "RES-290133"
          },
          "status": {
            "type": "string",
            "description": "The current status of the valuation operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp indicating when the valuation was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ValuationMetadata"
          }
        },
        "description": "Response object for the financial instrument valuation operation indicating the result of the request.",
        "example": {
          "modelId": "STANDARD",
          "portfolioId": "PORT-220298",
          "resourceId": "RES-290133",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c3414c8b-2526-5a11-9e3d-d8584eb8408a",
            "correlationId": "841ba16c-382c-58ea-9a17-2ec12ea62bfd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ValuationMetadata": {
        "title": "Valuation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response associated with the valuation request.",
            "example": "response-11111"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used to correlate related requests and responses.",
            "example": "correlation-22222"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:01:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the valuation was processed.",
            "example": "US-West"
          }
        },
        "description": "Metadata related to the valuation operation, providing additional context and identifiers."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-create-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-create-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "description": "The name of the application that initiated the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method that relies on JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header when making requests to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}