{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Case Management API",
    "description": "The Customer Case Management API enables users to efficiently access and manage customer service cases within the banking domain. This endpoint provides a comprehensive view of customer cases, allowing service representatives to retrieve current case statuses, updates, and details. Typical consumers include customer support agents and service managers who require insights into customer interactions. The API facilitates improved customer service through timely access to relevant case information, enhancing the ability to resolve issues effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/servicing/customer-case-management": {
      "get": {
        "tags": [
          "Customer Support"
        ],
        "summary": "Retrieve Customer Case Management data.",
        "description": "This endpoint allows you to fetch detailed information regarding customer case management activities, facilitating better service and support for customers.",
        "operationId": "getCustomerCaseManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload to retrieve customer case management data. This body defines the parameters required for filtering and pagination in the response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCustomerCaseManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the customer case data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCustomerCaseManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCustomerCaseManagementRequest": {
        "type": "string",
        "description": "This schema represents the request body as a JSON string for the customer case management GET operation.",
        "example": "{}"
      },
      "GetCustomerCaseManagementResponse_200": {
        "title": "Customer Case Management Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of customer case management items.",
            "example": [
              {
                "customerId": "CUST-645121",
                "caseId": "CASE-609074",
                "requestCategory": "STANDARD",
                "priority": "NORMAL",
                "originatingChannel": "STANDARD",
                "caseReason": "STANDARD",
                "serviceLevelDueAt": "2026-08-11T12:00:00Z",
                "customerContactPreference": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CustomerCase"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting order applied to the list of items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving customer case management data.",
        "example": {
          "items": [
            {
              "customerId": "CUST-645121",
              "caseId": "CASE-609074",
              "requestCategory": "STANDARD",
              "priority": "NORMAL",
              "originatingChannel": "STANDARD",
              "caseReason": "STANDARD",
              "serviceLevelDueAt": "2026-08-11T12:00:00Z",
              "customerContactPreference": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "d0369709-2d40-5a91-9dd4-15341da3febc",
            "correlationId": "76c9638f-8227-599a-83d9-e146177103a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerCase": {
        "title": "Customer Case",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "12345"
          },
          "caseId": {
            "type": "string",
            "description": "Unique identifier for the case.",
            "example": "abc123"
          },
          "requestCategory": {
            "type": "string",
            "description": "Category of the request made by the customer.",
            "example": "General Inquiry"
          },
          "priority": {
            "type": "string",
            "description": "Priority level of the case.",
            "example": "High"
          },
          "originatingChannel": {
            "type": "string",
            "description": "The channel through which the case was created.",
            "example": "Web"
          },
          "caseReason": {
            "type": "string",
            "description": "Reason for opening the case.",
            "example": "Request for information"
          },
          "serviceLevelDueAt": {
            "type": "string",
            "description": "Date and time by when the case should be addressed.",
            "example": "2023-10-01T12:00:00Z"
          },
          "customerContactPreference": {
            "type": "string",
            "description": "Customer's preferred method of contact.",
            "example": "Email"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the case.",
            "example": "Open"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the case.",
            "example": "2023-09-30T12:00:00Z"
          }
        },
        "description": "Represents a customer case in the case management system."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for API responses."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "xyz987"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking requests.",
            "example": "corr456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-09-30T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-West"
          }
        },
        "description": "Metadata associated with the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the endpoint that was called.",
          "example": "customer-case-management-search-customer-case-management"
        },
        "example": "customer-case-management-search-customer-case-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that handled the request, indicating the backend service responsible for processing.",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authorization. The token is expected to be a JSON Web Token (JWT) which must be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}