{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Institution Login Reconnections API",
    "description": "The Customer Institution Login Reconnections API enables seamless reconnection of customers' institution login IDs within the financial services domain. This endpoint allows authorized users to initiate reconnection requests for specific customers, identified by their unique customer IDs. Businesses leveraging this API typically include banking and fintech companies looking to enhance user experience by simplifying login processes. By utilizing this API, developers can streamline customer access to financial applications and services, ensuring timely resolution of login issues.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/connect-components/customers/{customerId}/institution-login-ids/{param2}/reconnections": {
      "post": {
        "tags": [
          "Customer Services"
        ],
        "summary": "Reconnect a customer's institution login ID.",
        "description": "This endpoint allows you to reconnect a specific institution login ID for a customer. Ensure that the provided customer ID and institution login ID are valid and that the login ID was previously disconnected.",
        "operationId": "reconnectInstitutionLoginIdForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the reconnection process for a specific institution login ID associated with a customer. Ensure that all required fields are correctly populated to facilitate the successful processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReconnectInstitutionLoginIdForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, reconnection initiated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReconnectInstitutionLoginIdForCustomerResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReconnectInstitutionLoginIdForCustomerRequest": {
        "title": "Reconnection Request Body",
        "type": "object",
        "properties": {
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure of the request body for reconnection operations related to institution login IDs.",
        "example": {
          "requestContext": {
            "requestId": "b1e55df5-2f47-582a-b049-74f0f0e1dcf4",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "idempotencyKey": "aa81a344-ce2e-51e3-a0a7-8f729af37b30",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-819807"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "123456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier for tracking related requests across services.",
            "example": "abcdef"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the request is processed only once.",
            "example": "key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "systemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request originated.",
            "example": "appA"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Details about the request context that help in tracing and managing the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-1"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "A unique identifier for the device which initiated the request.",
            "example": "device-123"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "ReconnectInstitutionLoginIdForCustomerResponse_201": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b"
          },
          "eventStreamId": {
            "type": "string",
            "description": "Identifier for the stream of events related to the response.",
            "example": "d8831ae1-966a-4edb-29d1-5841cb11557e"
          },
          "elements": {
            "type": "array",
            "description": "List of elements associated with the response.",
            "example": [
              {
                "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
                "label": "STANDARD",
                "sortOrder": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Element"
            }
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the institution login IDs reconnections operation.",
        "example": {
          "id": "a9f039bf-f7b6-06eb-c5a0-ab8eec521c2b",
          "eventStreamId": "d8831ae1-966a-4edb-29d1-5841cb11557e",
          "elements": [
            {
              "id": "37038f0d-94a9-e787-fcca-a59a36569ac9",
              "label": "STANDARD",
              "sortOrder": 1
            }
          ],
          "metadata": {
            "responseId": "ce215a5f-d32c-5088-ba43-c7370bc9b118",
            "correlationId": "4cc1e911-e1a5-5260-bcc4-91d124db1bb7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Element": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the element.",
            "example": "string"
          },
          "label": {
            "type": "string",
            "description": "The label associated with the element.",
            "example": "string"
          },
          "sortOrder": {
            "type": "integer",
            "description": "Determines the order in which the elements should be sorted.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Represents an individual element in the elements array."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response metadata.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier linking related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-post-reconnections"
        },
        "example": "open-finance-api-post-reconnections"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme allows the use of JSON Web Tokens (JWT) as a bearer token. Clients need to include the token in the Authorization header as 'Authorization: Bearer {token}' to authenticate their requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}