{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Unit Trust Administration API",
    "description": "The Unit Trust Administration API serves to streamline the management of unit trust accounts, ensuring efficient operations for updating account details and configurations. This API allows authorized users to modify specific attributes of existing unit trust records dynamically. Typical consumers include financial institutions and asset management firms looking to enhance their operational efficiency in managing investor accounts. The functionality aims to facilitate timely adjustments to information, ultimately improving service delivery and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/unit-trust-administration/{param1}": {
      "patch": {
        "tags": [
          "Unit Trust Administration"
        ],
        "summary": "Update Unit Trust Administration details",
        "description": "This endpoint allows you to update the details of a specific Unit Trust Administration identified by its unique ID. Ensure you provide all required fields for a successful update.",
        "operationId": "patchUnitTrustAdministrationById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update or modify the unit trust administration settings for the specified operation. It requires the relevant fields to ensure that the necessary changes are applied correctly.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchUnitTrustAdministrationByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully, returning updated resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchUnitTrustAdministrationByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchUnitTrustAdministrationByIdRequest": {
        "title": "Unit Trust Administration Patch Request Body",
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the changes to be applied to the unit trust.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Metadata related to the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure for a PATCH request body for unit trust administration operations.",
        "example": {
          "changes": {
            "fundId": "STANDARD",
            "shareClassId": "STANDARD",
            "valuationDate": "2026-09-15"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3f26340e-0c17-5f59-98af-dd8cc35df43a",
            "correlationId": "1c3ab619-39d2-5466-8b51-7079d2b08dfd",
            "idempotencyKey": "aa2303c9-9d49-595b-a83d-bf46c34ee28d",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-498125"
            }
          }
        }
      },
      "Changes": {
        "title": "Changes to Unit Trust",
        "type": "object",
        "properties": {
          "fundId": {
            "type": "string",
            "description": "The unique identifier for the fund.",
            "example": "fund123"
          },
          "shareClassId": {
            "type": "string",
            "description": "The unique identifier for the share class.",
            "example": "classA"
          },
          "valuationDate": {
            "type": "string",
            "description": "The date of the valuation to which changes apply.",
            "example": "2023-10-01"
          }
        },
        "description": "An object that encapsulates changes related to unit trust administration."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-456"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate related requests.",
            "example": "corr-789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to prevent duplicate processing of requests.",
            "example": "idemp-101112"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T09:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was sent.",
            "example": "TrustAdminApp"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata that provides context for the request made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-abc"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel used for the request.",
            "example": "Web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Details about the channel through which a request is made."
      },
      "PatchUnitTrustAdministrationByIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response object.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation, indicating success or failure.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the object was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on unit trust administration.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "22484d3a-ebb3-5086-b33f-34e6e7a0bb16",
            "correlationId": "1c3ab619-39d2-5466-8b51-7079d2b08dfd",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests and responses.",
            "example": "corr-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2022-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "us-west-2"
          }
        },
        "description": "Metadata for tracking and correlation purposes."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint being accessed, useful for logging and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "unit-trust-administration-update-unit-trust-administration"
        },
        "example": "unit-trust-administration-update-unit-trust-administration"
      },
      "X-Runtime-App": {
        "description": "The name of the application instance that handled the request, aiding in troubleshooting.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer authentication with a JSON Web Token (JWT). The token should be included in the `Authorization` header of requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}