{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Update API",
    "description": "The Document Update API enables users to modify existing banking documents efficiently. This endpoint is designed for updating specific document attributes or metadata, ensuring that the information remains accurate and up-to-date. Typical consumers of this API include banking institutions and service providers that require agile management of documentation workflows. With this API, organizations can ensure compliance and improve operational efficiency by seamlessly refining document details as needed.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-services/{param1}": {
      "patch": {
        "tags": [
          "Document Service"
        ],
        "summary": "Update Document Service",
        "description": "This operation allows you to update the details of a specific document service identified by its resource identifier. Ensure that you provide the necessary attributes in the request body to modify the document service accordingly.",
        "operationId": "patchDocumentServicesRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to partially update the document identified by RES-100045. It should contain the fields that need to be modified along with their new values.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchDocumentServicesRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, document updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchDocumentServicesRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchDocumentServicesRes100045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "Contains the changes that need to be made to the document.",
            "$ref": "#/components/schemas/DocumentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the changes being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for PATCH operations on document services.",
        "example": {
          "changes": {
            "documentId": "DOC-815535",
            "documentType": "STANDARD",
            "classification": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "6bfb6923-176f-5de6-818e-1f14c6d04f89",
            "correlationId": "d0c43cfb-b586-5ac9-b744-dfd302bb9a77",
            "idempotencyKey": "009e0799-5f9b-568a-b6a9-3fb61b76739a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-622627"
            }
          }
        }
      },
      "DocumentChanges": {
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "The unique identifier of the document being changed.",
            "example": "doc-001"
          },
          "documentType": {
            "type": "string",
            "description": "The type of document being modified.",
            "example": "invoice"
          },
          "classification": {
            "type": "string",
            "description": "The classification category of the document.",
            "example": "sensitive"
          }
        },
        "description": "Schema representing the changes to be made to a document."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests in a distributed system.",
            "example": "corr-123456789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "idempotency-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-03T09:50:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application responsible for sending the request.",
            "example": "document-management-app"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used to make the request.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device from which the request was made.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel information for the request."
      },
      "PatchDocumentServicesRes100045Response_200": {
        "title": "Response 200 for Document Service Operations",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the document or resource.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the document was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information about the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the successful response structure for the document services operation PATCH method. It contains versioning, status, timestamps, and additional metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "78d8cbb7-4e2c-5806-9db3-d8f9cd8f700a",
            "correlationId": "d0c43cfb-b586-5ac9-b744-dfd302bb9a77",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate this request with other service calls.",
            "example": "xyz456"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed.",
            "example": "us-west-1"
          }
        },
        "description": "This schema represents the metadata that accompanies the document service response, providing additional context and tracking information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that was called during the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-services-update-document-services"
        },
        "example": "document-services-update-document-services"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication, where the client must include a JSON Web Token (JWT) in the Authorization header when making requests. The token is used to verify the identity of the user making the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}