{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Management Manual Update API",
    "description": "The Management Manual Update API enables users to efficiently modify existing management manuals associated with knowledge assets in the banking sector. This endpoint supports business operations such as editing critical information, enhancing documentation, and ensuring compliance with updated regulations. Typical consumers include compliance officers, banking administrators, and operational teams who rely on accurate knowledge resources. By leveraging this API, organizations can maintain up-to-date manuals that reflect current practices and guidelines within their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/knowledge-assets/management-manual/{param1}": {
      "patch": {
        "tags": [
          "Knowledge Asset Management"
        ],
        "summary": "Update Management Manual",
        "description": "This operation allows users to update the specific management manual identified by its resource ID (RES-100045). Ensure the request includes the necessary parameters for the update to be processed successfully.",
        "operationId": "updateKnowledgeAssetManagementManualRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the operation for the specified management manual asset. It expects a JSON object that defines the changes to be made.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateKnowledgeAssetManagementManualRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateKnowledgeAssetManagementManualRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateKnowledgeAssetManagementManualRes100045Request": {
        "title": "Management Manual Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the management manual.",
            "$ref": "#/components/schemas/ManualChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person making the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Context specific details about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request body for updating a management manual.",
        "example": {
          "changes": {
            "manualId": "STANDARD",
            "title": "Banking operation completed",
            "version": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "318133a7-86a9-55bf-b7ec-e9a2ffe16419",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "idempotencyKey": "8fa74ac9-5622-5edc-be5b-ad100fd4c293",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-177477"
            }
          }
        }
      },
      "ManualChanges": {
        "title": "Manual Changes",
        "type": "object",
        "properties": {
          "manualId": {
            "type": "string",
            "description": "The unique identifier of the manual.",
            "example": "MAN-001"
          },
          "title": {
            "type": "string",
            "description": "The title of the manual.",
            "example": "Operations Manual v2.0"
          },
          "version": {
            "type": "string",
            "description": "The version of the manual being updated.",
            "example": "2.0"
          }
        },
        "description": "Schema representing the changes to be made to a manual."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-56789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests have the same effect.",
            "example": "idempotency-abc-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "Inventory Management System"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "InventoryApp"
          },
          "channel": {
            "description": "Details about the channel used to make the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Schema containing contextual information about the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device from which the request originated.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "UpdateKnowledgeAssetManagementManualRes100045Response_200": {
        "title": "Operations Response Schema",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp indicating when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a PATCH operation related to management manual assets. It comprises versioning information, status, a timestamp for the update, and metadata about the response.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "396db439-b37a-5489-b7d7-251b7c658dc5",
            "correlationId": "884a2420-3610-590d-8d41-09bdaef9cb52",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates metadata information that provides additional context for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "A unique identifier for the API endpoint being accessed.",
          "example": "management-manual-update-management-manual"
        },
        "example": "management-manual-update-management-manual"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "description": "The name of the application that is handling the request.",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method. Clients must include a JSON Web Token (JWT) in the Authorization header to authenticate requests. The token should be prefixed with the word 'Bearer' followed by a space.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}