{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Extend Authorization API",
    "description": "The Extend Authorization API enables clients to extend existing authorizations with additional time or resources, ensuring ongoing access to necessary services. This endpoint is primarily used by service providers and systems managing authorization processes to seamlessly update the authorization duration or capabilities. By providing a straightforward method to modify authorizations, the API helps enhance user experience and maintain service continuity. This functionality is especially beneficial for applications that require dynamic authorization adjustments based on user or system requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/authorizations/{authorizationId}/extend": {
      "post": {
        "tags": [
          "Authorization Management"
        ],
        "summary": "Extend an existing authorization.",
        "description": "This endpoint allows you to extend an existing authorization identified by the specified resource ID. A successful request will update the expiration or other applicable details of the authorization, allowing continued access to protected resources.",
        "operationId": "extendAuthorizationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request allows for the extension of an existing authorization identified by RES-100045. The payload must include all necessary information required to process the extension, including any relevant parameters as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExtendAuthorizationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and the authorization has been extended.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExtendAuthorizationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ExtendAuthorizationRes100045Request": {
        "title": "Authorization Extend Request Body",
        "type": "object",
        "properties": {
          "newExpiresAt": {
            "type": "string",
            "description": "The new expiration date and time for the authorization.",
            "example": "2026-08-11T12:00:00Z"
          },
          "reason": {
            "type": "string",
            "description": "The reason for extending the authorization.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema defines the structure for extending an authorization with additional parameters.",
        "example": {
          "newExpiresAt": "2026-08-11T12:00:00Z",
          "reason": "STANDARD",
          "requestContext": {
            "requestId": "fd65faea-2be7-520b-a91d-e49e6be77ac8",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "idempotencyKey": "c1a7effe-949f-5466-a257-696a2556d572",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-616061"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace the request across systems.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "idemp-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "System A"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request was made.",
            "example": "Application B"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., mobile, web, etc.).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the channel.",
            "example": "device-xyz"
          }
        },
        "description": "This schema provides details about the communication channel."
      },
      "ExtendAuthorizationRes100045Response_200": {
        "title": "Authorization Response",
        "type": "object",
        "properties": {
          "authorizationId": {
            "type": "string",
            "description": "Unique identifier for the authorization.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the associated payment.",
            "example": "PAY-799531"
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the authorization.",
            "example": "MER-809252"
          },
          "authorizedAmount": {
            "description": "The amount that has been authorized.",
            "$ref": "#/components/schemas/Amount"
          },
          "capturedAmount": {
            "description": "The amount that has been captured.",
            "$ref": "#/components/schemas/Amount"
          },
          "amount": {
            "description": "The total amount of the transaction.",
            "$ref": "#/components/schemas/Amount"
          },
          "status": {
            "type": "string",
            "description": "Current status of the authorization.",
            "example": "ACTIVE"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code received from the authorization system.",
            "example": "CODE-478"
          },
          "expiresAt": {
            "type": "string",
            "description": "Timestamp indicating when the authorization expires.",
            "example": "2026-08-11T12:00:00Z"
          },
          "audit": {
            "description": "Audit information related to the authorization.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional information regarding the authorization process.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for an authorization operation.",
        "example": {
          "authorizationId": "STANDARD",
          "paymentId": "PAY-799531",
          "merchantId": "MER-809252",
          "authorizedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "capturedAmount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "status": "ACTIVE",
          "approvalCode": "CODE-478",
          "expiresAt": "2026-08-11T12:00:00Z",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c71b16dc-b4c9-5d8e-bcca-befba5d811be",
            "correlationId": "027e70d1-40a7-5dd8-82b8-fd310fbb2213",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numerical value of the amount.",
            "example": "10.00"
          }
        },
        "description": "Schema representing an amount with currency."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the object was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the object.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the object.",
            "example": "2023-10-01T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the object.",
            "example": "user123"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the object.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Schema representing audit information for an operation."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related operations.",
            "example": "correlation-456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing took place.",
            "example": "US-East"
          }
        },
        "description": "Schema representing additional metadata for an operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-extend-authorization"
        },
        "example": "banking-p2m-openapi-extend-authorization"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, allowing access through a JSON Web Token (JWT). The token should be included in the 'Authorization' header as 'Bearer {token}'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}