{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Orders API",
    "description": "The International Standing Orders API enables businesses to initiate and manage international standing order transactions seamlessly. This endpoint facilitates the process of setting up recurring payments to recipients globally, simplifying cash flow management for both consumers and businesses. Typical users include financial institutions, payment service providers, and corporate finance departments seeking to automate cross-border payment workflows. With robust features for setting payment schedules and managing beneficiaries, this API contributes to enhanced financial operations in an increasingly connected world.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders": {
      "post": {
        "tags": [
          "InternationalPayments"
        ],
        "summary": "Initiate an international standing order.",
        "description": "This endpoint allows users to create a new international standing order, enabling regular payments to be scheduled to foreign accounts. Users need to provide the necessary details about the payment and the recipient to successfully process the order.",
        "operationId": "createInternationalStandingOrder",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows the client to initiate an international standing order. It includes all necessary details required for the operation, as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInternationalStandingOrderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, representing the new international standing order.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateInternationalStandingOrderResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateInternationalStandingOrderRequest": {
        "title": "International Standing Orders Request Body",
        "type": "object",
        "properties": {
          "Data": {
            "description": "Contains the data required to process an international standing order.",
            "$ref": "#/components/schemas/InternationalStandingOrderData"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for international standing orders operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "requestContext": {
            "requestId": "ada94368-2549-58f2-8044-c1ede3b2fc00",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "idempotencyKey": "a53a5da4-88b9-59ee-af2b-e0eea1d3c71b",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-531562"
            }
          }
        }
      },
      "InternationalStandingOrderData": {
        "title": "International Standing Order Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The identification of the consent for the standing order.",
            "example": "string"
          },
          "Initiation": {
            "description": "Initiation details including remittance information and other required fields.",
            "$ref": "#/components/schemas/InitiationDetails"
          }
        },
        "description": "Detailed information for initiating an international standing order."
      },
      "InitiationDetails": {
        "title": "Initiation Details",
        "type": "object",
        "properties": {
          "RemittanceInformation": {
            "description": "Information regarding the remittance.",
            "$ref": "#/components/schemas/RemittanceInformation"
          },
          "NumberOfPayments": {
            "type": "string",
            "description": "The number of payments to be made.",
            "example": "string"
          },
          "ExtendedPurpose": {
            "type": "string",
            "description": "Extended purpose of the standing order.",
            "example": "string"
          },
          "ChargeBearer": {
            "type": "string",
            "description": "Who bears the charges for the transaction.",
            "example": "string"
          },
          "CurrencyOfTransfer": {
            "type": "string",
            "description": "Currency in which the transfer is to be made.",
            "example": "string"
          },
          "DestinationCountryCode": {
            "type": "string",
            "description": "The country code of the destination for the transfer.",
            "example": "string"
          }
        },
        "description": "Details required to initiate the international standing order including remittance information."
      },
      "RemittanceInformation": {
        "type": "object",
        "properties": {
          "Structured": {
            "type": "array",
            "description": "Structured remittance information.",
            "items": {
              "$ref": "#/components/schemas/StructuredRemittance"
            }
          },
          "Unstructured": {
            "type": "array",
            "description": "Unstructured remittance information.",
            "items": {
              "type": "string",
              "description": "Unstructured information related to the remittance.",
              "example": "Payment for Invoice #123"
            }
          }
        },
        "description": "Information related to the remittance of the standing order."
      },
      "StructuredRemittanceInformation": {
        "title": "Structured Remittance Information",
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "Information related to referred documents.",
            "items": {
              "$ref": "#/components/schemas/ReferredDocumentInformation"
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Amount associated with the referred document.",
            "example": "string"
          },
          "CreditorReferenceInformation": {
            "description": "Details related to the creditor's reference.",
            "$ref": "#/components/schemas/CreditorReferenceInformation"
          },
          "Invoicer": {
            "type": "string",
            "description": "The party issuing the invoice.",
            "example": "string"
          },
          "Invoicee": {
            "type": "string",
            "description": "The party receiving the invoice.",
            "example": "string"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Any tax related to the remittance.",
            "example": "string"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional information relevant to the remittance.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Structured details regarding the remittance."
      },
      "ReferredDocumentInformation": {
        "title": "Referred Document Information",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code of the referred document.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the referred document.",
            "example": "string"
          },
          "Number": {
            "type": "string",
            "description": "The number associated with the referred document.",
            "example": "string"
          },
          "RelatedDate": {
            "type": "string",
            "description": "The date associated with the referred document.",
            "example": "string"
          },
          "LineDetails": {
            "type": "array",
            "description": "Details of the line items related to the referred document.",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Details regarding referred documents."
      },
      "CreditorReferenceInformation": {
        "title": "Creditor Reference Information",
        "type": "object",
        "properties": {
          "Code": {
            "type": "string",
            "description": "The code assigned to the creditor reference.",
            "example": "string"
          },
          "Issuer": {
            "type": "string",
            "description": "The issuer of the creditor reference.",
            "example": "string"
          },
          "Reference": {
            "type": "string",
            "description": "The creditor reference number.",
            "example": "string"
          }
        },
        "description": "Reference information detailing the creditor."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request was made.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel from which the request originated.",
            "$ref": "#/components/schemas/ChannelInformation"
          }
        },
        "description": "Contextual information about the API request."
      },
      "ChannelInformation": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Details regarding the request channel."
      },
      "CreateInternationalStandingOrderResponse_201": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "orderId": {
                "type": "string",
                "description": "Unique identifier for the standing order.",
                "example": "123456"
              },
              "ConsentId": {
                "type": "string",
                "description": "Identifier for the consent related to this transaction.",
                "example": "abc-123"
              },
              "CreationDateTime": {
                "type": "string",
                "description": "Date and time when the standing order was created.",
                "example": "2023-10-01T12:00:00Z"
              },
              "Status": {
                "type": "string",
                "description": "Current status of the standing order.",
                "example": "Pending"
              },
              "StatusUpdateDateTime": {
                "type": "string",
                "description": "Date and time of the last status update.",
                "example": "2023-10-01T12:00:00Z"
              },
              "StatusReason": {
                "type": "array",
                "description": "List of reasons associated with the current status.",
                "items": {
                  "$ref": "#/components/schemas/StatusReason"
                }
              },
              "Refund": {
                "type": "object",
                "properties": {
                  "Account": {
                    "$ref": "#/components/schemas/RefundAccount"
                  }
                },
                "description": "Details about any refunds associated with the standing order."
              },
              "Charges": {
                "type": "array",
                "description": "List of charges associated with the standing order.",
                "items": {
                  "$ref": "#/components/schemas/Charge"
                }
              },
              "Initiation": {
                "type": "object",
                "properties": {
                  "RemittanceInformation": {
                    "$ref": "#/components/schemas/RemittanceInformation"
                  },
                  "NumberOfPayments": {
                    "type": "string",
                    "description": "Total number of payments planned for the order.",
                    "example": "12"
                  },
                  "ExtendedPurpose": {
                    "type": "string",
                    "description": "Extended purpose description for the standing order.",
                    "example": "Monthly Subscription"
                  },
                  "ChargeBearer": {
                    "type": "string",
                    "description": "Indicates which party pays the charges.",
                    "example": "Both"
                  },
                  "CurrencyOfTransfer": {
                    "type": "string",
                    "description": "Currency used for the transfer.",
                    "example": "EUR"
                  },
                  "DestinationCountryCode": {
                    "type": "string",
                    "description": "Country code where the payment is going.",
                    "example": "DE"
                  }
                },
                "description": "Details about the initiation of the standing order."
              }
            },
            "description": "Contains the details of the created standing order.",
            "example": {
              "orderId": "ORD-489270",
              "ConsentId": "STANDARD",
              "CreationDateTime": "2026-09-15T14:30:00Z",
              "Status": "ACTIVE",
              "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
              "StatusReason": [
                {
                  "code": "SUCCESS",
                  "description": "Customer banking request processed successfully",
                  "Path": "STANDARD"
                }
              ],
              "Refund": {
                "Account": {
                  "SchemeName": "Northstar Banking Service",
                  "Identification": "STANDARD",
                  "Name": "Northstar Banking Service",
                  "SecondaryIdentification": "STANDARD"
                }
              },
              "Charges": [
                {
                  "ChargeBearer": "STANDARD",
                  "Type": "STANDARD",
                  "Amount": {
                    "Amount": "1250.75",
                    "Currency": "USD"
                  }
                }
              ],
              "Initiation": {
                "RemittanceInformation": {
                  "Structured": [
                    {
                      "ReferredDocumentInformation": [
                        {
                          "Code": "SUCCESS",
                          "Issuer": "STANDARD",
                          "Number": "STANDARD",
                          "RelatedDate": "2026-09-15",
                          "LineDetails": [
                            "STANDARD"
                          ]
                        }
                      ],
                      "ReferredDocumentAmount": "1250.75",
                      "CreditorReferenceInformation": {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Reference": "STANDARD"
                      },
                      "Invoicer": "STANDARD",
                      "Invoicee": "STANDARD",
                      "TaxRemittance": "STANDARD",
                      "AdditionalRemittanceInformation": [
                        "STANDARD"
                      ]
                    }
                  ],
                  "Unstructured": [
                    "STANDARD"
                  ]
                },
                "NumberOfPayments": "STANDARD",
                "ExtendedPurpose": "STANDARD",
                "ChargeBearer": "STANDARD",
                "CurrencyOfTransfer": "STANDARD",
                "DestinationCountryCode": "US"
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "resp-123"
              },
              "correlationId": {
                "type": "string",
                "description": "Correlation identifier for tracing requests.",
                "example": "corr-456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "2023-10-01T12:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed.",
                "example": "EU"
              }
            },
            "description": "Metadata associated with the response.",
            "example": {
              "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
              "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the creation of international standing orders.",
        "example": {
          "Data": {
            "orderId": "ORD-489270",
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "Refund": {
              "Account": {
                "SchemeName": "Northstar Banking Service",
                "Identification": "STANDARD",
                "Name": "Northstar Banking Service",
                "SecondaryIdentification": "STANDARD"
              }
            },
            "Charges": [
              {
                "ChargeBearer": "STANDARD",
                "Type": "STANDARD",
                "Amount": {
                  "Amount": "1250.75",
                  "Currency": "USD"
                }
              }
            ],
            "Initiation": {
              "RemittanceInformation": {
                "Structured": [
                  {
                    "ReferredDocumentInformation": [
                      {
                        "Code": "SUCCESS",
                        "Issuer": "STANDARD",
                        "Number": "STANDARD",
                        "RelatedDate": "2026-09-15",
                        "LineDetails": [
                          "STANDARD"
                        ]
                      }
                    ],
                    "ReferredDocumentAmount": "1250.75",
                    "CreditorReferenceInformation": {
                      "Code": "SUCCESS",
                      "Issuer": "STANDARD",
                      "Reference": "STANDARD"
                    },
                    "Invoicer": "STANDARD",
                    "Invoicee": "STANDARD",
                    "TaxRemittance": "STANDARD",
                    "AdditionalRemittanceInformation": [
                      "STANDARD"
                    ]
                  }
                ],
                "Unstructured": [
                  "STANDARD"
                ]
              },
              "NumberOfPayments": "STANDARD",
              "ExtendedPurpose": "STANDARD",
              "ChargeBearer": "STANDARD",
              "CurrencyOfTransfer": "STANDARD",
              "DestinationCountryCode": "US"
            }
          },
          "metadata": {
            "responseId": "e9e467c3-88f3-5c8d-995c-b8f4b2379db9",
            "correlationId": "f8af28c6-eccb-5d9a-8eed-dda167df7f36",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "StatusReason": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Short code representing the status reason.",
            "example": "ERR001"
          },
          "description": {
            "type": "string",
            "description": "Description of the status reason.",
            "example": "Insufficient funds"
          },
          "Path": {
            "type": "string",
            "description": "The path to additional information regarding this status reason.",
            "example": "/errors/insufficient-funds"
          }
        },
        "description": "Detailed information regarding the status reason."
      },
      "RefundAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The scheme under which the account operates.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number for the account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "Name of the account holder.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Optional secondary identifier for the account.",
            "example": "JS12345"
          }
        },
        "description": "Details about the account related to the refund."
      },
      "Charge": {
        "type": "object",
        "properties": {
          "ChargeBearer": {
            "type": "string",
            "description": "Indicates who bears the charge for the payment.",
            "example": "Sender"
          },
          "Type": {
            "type": "string",
            "description": "Type of charge applied.",
            "example": "Fee"
          },
          "Amount": {
            "type": "object",
            "properties": {
              "Amount": {
                "type": "string",
                "description": "The amount of the charge.",
                "example": "5.00"
              },
              "Currency": {
                "type": "string",
                "description": "Currency of the charge amount.",
                "example": "EUR"
              }
            },
            "description": "The charge amount and its currency."
          }
        },
        "description": "Charge details for the standing order."
      },
      "StructuredRemittance": {
        "type": "object",
        "properties": {
          "ReferredDocumentInformation": {
            "type": "array",
            "description": "List of referred documents related to the payment.",
            "items": {
              "type": "object",
              "properties": {
                "Code": {
                  "type": "string",
                  "description": "Code related to the document.",
                  "example": "INVOICE"
                },
                "Issuer": {
                  "type": "string",
                  "description": "Issuer of the document.",
                  "example": "Supplier Inc."
                },
                "Number": {
                  "type": "string",
                  "description": "Document number.",
                  "example": "INV-001234"
                },
                "RelatedDate": {
                  "type": "string",
                  "description": "Date related to the document.",
                  "example": "2023-09-30"
                },
                "LineDetails": {
                  "type": "array",
                  "description": "Line details associated with the document.",
                  "items": {
                    "type": "string",
                    "example": "Service Fee"
                  }
                }
              }
            }
          },
          "ReferredDocumentAmount": {
            "type": "string",
            "description": "Total amount associated with the referred document.",
            "example": "100.00"
          },
          "CreditorReferenceInformation": {
            "type": "object",
            "properties": {
              "Code": {
                "type": "string",
                "description": "Creditor reference code.",
                "example": "CR123"
              },
              "Issuer": {
                "type": "string",
                "description": "Issuer of the creditor reference.",
                "example": "Accountancy Inc."
              },
              "Reference": {
                "type": "string",
                "description": "Reference number for the creditor.",
                "example": "CR-2023-09-30"
              }
            },
            "description": "Information about creditor reference."
          },
          "Invoicer": {
            "type": "string",
            "description": "Name of the entity issuing the invoice.",
            "example": "Supplier Inc."
          },
          "Invoicee": {
            "type": "string",
            "description": "Name of the entity receiving the invoice.",
            "example": "Client LLC"
          },
          "TaxRemittance": {
            "type": "string",
            "description": "Details regarding tax remittance.",
            "example": "VAT Included"
          },
          "AdditionalRemittanceInformation": {
            "type": "array",
            "description": "Any additional remittance information.",
            "items": {
              "type": "string",
              "example": "Payment for services rendered"
            }
          }
        },
        "description": "Details of a structured remittance document."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-submit-international-standing-order"
        },
        "example": "payment-initiation-openapi-submit-international-standing-order"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. The client must include a valid JWT in the Authorization header as a Bearer token to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}