{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Channel Activity Reviews Submission API",
    "description": "This API facilitates the submission of reviews related to channel activity analyses within banking operational services. It allows users to provide valuable feedback on various operational metrics, aiding in continuous improvement and service enhancement. Typical consumers include banking analysts and quality assurance teams focused on operational performance. By capturing insights through reviews, organizations can better address customer needs and optimize channel strategies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/operational-services/channel-activity-analysis/{param1}/reviews": {
      "post": {
        "tags": [
          "Channel Activity Analysis"
        ],
        "summary": "Create a review for the channel activity analysis resource.",
        "description": "This endpoint allows users to submit a review for the channel activity analysis identified by RES-100045. Ensure that the review data includes all required fields to successfully create the review.",
        "operationId": "createReviewForChannelActivityAnalysisRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the specified operational service and channel activity analysis. It is expected to contain the necessary information as defined in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForChannelActivityAnalysisRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted for processing. The operation will be completed asynchronously.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForChannelActivityAnalysisRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForChannelActivityAnalysisRes100045Request": {
        "title": "Review Request Body Schema",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, providing the context of its application.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Specific aspect or item to be reviewed.",
              "example": "Performance Metrics"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "Identifier of the reviewer assigned to the review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "Deadline for the review submission in ISO 8601 format.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the review request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a review related to operational services channel activity analysis.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "1f12a200-5f60-53d7-814b-b4ff8e007626",
            "correlationId": "b6936d5a-3989-55ad-9267-57d18fc59683",
            "idempotencyKey": "45145bac-f3c8-54dc-9cfc-649a3d90e026",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-942966"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context Schema",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across services.",
            "example": "corr-54321"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that requests are idempotent.",
            "example": "idempotency-98765"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-10-25T10:30:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The originating system for the request.",
            "example": "Operational Dashboard"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Review App"
          },
          "channel": {
            "description": "Information related to the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the review request."
      },
      "Channel": {
        "title": "Channel Schema",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-abc123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the communication channel (e.g., Email, SMS).",
            "example": "Email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used in the communication.",
            "example": "device-xyz456"
          }
        },
        "description": "Schema representing details of the channel related to the request."
      },
      "CreateReviewForChannelActivityAnalysisRes100045Response_202": {
        "title": "Channel Activity Analysis Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action performed.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action performed.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the action.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional information related to the processing of the action.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for the channel activity analysis operation.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cff2e099-bc60-535c-830c-b1aa781e2332",
            "correlationId": "b6936d5a-3989-55ad-9267-57d18fc59683",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the action was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information related to the action processing."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "channel-activity-analysis-review-channel-activity-analysis"
        },
        "example": "channel-activity-analysis-review-channel-activity-analysis"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operations-openfinance"
        },
        "example": "operations-openfinance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer Authentication method with JSON Web Tokens (JWT). Clients must include a valid JWT in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}