{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Billing Management API",
    "description": "The Corporate Billing Management API facilitates efficient billing processes for enterprise clients by enabling the creation and submission of corporate billing requests. This API streamlines financial transactions and assists businesses in managing their billing inquiries. Common use cases include generating invoices, tracking payment statuses, and reconciling billing discrepancies. Ideal for finance teams and billing departments, this API enhances operational efficiency and ensures timely financial management.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/corporate-billing": {
      "post": {
        "tags": [
          "Corporate Billing"
        ],
        "summary": "Create a new corporate billing record.",
        "description": "This endpoint allows you to create a new corporate billing record for your enterprise services. Upon successful creation, a billing record will be established, enabling the management and tracking of corporate billing transactions.",
        "operationId": "createCorporateBilling",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit data for corporate billing purposes within the enterprise services. Ensure that all required fields are filled out correctly to process the billing request successfully.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateBillingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateBillingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateBillingRequest": {
        "title": "Corporate Billing Request",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "31e46401-de58-5d7c-a723-171235344a05"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier for the supplier.",
            "example": "STANDARD"
          },
          "costCenter": {
            "type": "string",
            "description": "Identifier for the cost center associated with the billing.",
            "example": "STANDARD"
          },
          "amount": {
            "description": "The amount being billed, including value and currency.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier of the user who made the request.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a request to the corporate billing operation.",
        "example": {
          "requestId": "31e46401-de58-5d7c-a723-171235344a05",
          "supplierId": "STANDARD",
          "costCenter": "STANDARD",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "0500a2d4-9866-5a9a-a88b-5347c38946f2",
            "correlationId": "5fa2216e-6234-5f03-b059-affdc2460430",
            "idempotencyKey": "1a998966-9810-542a-81c7-a7522ffaacce",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-615389"
            }
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and its currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request in the context.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to track the request across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system generating the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application generating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information related to the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile, etc.).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing information about the channel used for the request."
      },
      "CreateCorporateBillingResponse_202": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the billing request.",
            "example": "1529a338-dc80-5171-a93f-930240650e69"
          },
          "supplierId": {
            "type": "string",
            "description": "Identifier of the supplier involved in the billing.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference used for tracking the processing of the billing request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the billing request.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the billing request was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the billing request.",
            "$ref": "#/components/schemas/BillingMetadata"
          }
        },
        "description": "Schema representing the response structure for the corporate billing operation.",
        "example": {
          "requestId": "1529a338-dc80-5171-a93f-930240650e69",
          "supplierId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "77364d81-7235-5d49-8581-0acddf7f447c",
            "correlationId": "5fa2216e-6234-5f03-b059-affdc2460430",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "BillingMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the billing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata associated with the billing request."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed. This helps in tracing the request across different services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "company-billing-and-payments-process-company-billing-and-payments"
        },
        "example": "company-billing-and-payments-process-company-billing-and-payments"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This information can be useful for debugging and monitoring purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication via JWT (JSON Web Tokens) to authorize requests. Clients must include a valid token in the Authorization header to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}