{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Sales Opportunities API",
    "description": "The Sales Opportunities API provides access to valuable insights into potential sales leads within the banking sector. Users can retrieve detailed information about existing sales opportunities, including their current status and potential value. This API is designed for business analysts, sales teams, and customer relationship managers to enhance decision-making and strategize effectively. Leverage this API to track sales performance, manage relationships, and optimize sales processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/sales-opportunities": {
      "get": {
        "tags": [],
        "summary": "Retrieve a list of sales opportunities",
        "description": "This endpoint allows users to fetch all available sales opportunities, providing insights into potential sales leads and their current status. It is essential for sales teams to evaluate and prioritize their engagement based on the opportunity data retrieved.",
        "operationId": "getSalesOpportunities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is utilized to retrieve sales opportunity data. Ensure that the payload adheres to the specified schema to fetch accurate results.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSalesOpportunitiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of sales opportunities.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSalesOpportunitiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSalesOpportunitiesRequest": {
        "type": "string",
        "description": "Request body for the Get Sales Opportunities operation in the Sales module.",
        "example": "{}"
      },
      "GetSalesOpportunitiesResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of sales opportunity items.",
            "example": [
              {
                "prospectId": "STANDARD",
                "productCode": "CHK-PREMIUM-US",
                "salesChannel": "STANDARD",
                "relationshipManagerId": "STANDARD",
                "expectedValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/SalesOpportunity"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for retrieving sales opportunities.",
        "example": {
          "items": [
            {
              "prospectId": "STANDARD",
              "productCode": "CHK-PREMIUM-US",
              "salesChannel": "STANDARD",
              "relationshipManagerId": "STANDARD",
              "expectedValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "9257db24-8dcc-5a91-a634-4ab1f17f496a",
            "correlationId": "aac9bd64-d918-5d49-8886-564f5301685e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "SalesOpportunity": {
        "type": "object",
        "properties": {
          "prospectId": {
            "type": "string",
            "description": "Unique identifier for the prospect.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "Code representing the product involved in the opportunity.",
            "example": "string"
          },
          "salesChannel": {
            "type": "string",
            "description": "Channel through which the sale is expected to occur.",
            "example": "string"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager associated with the opportunity.",
            "example": "string"
          },
          "expectedValue": {
            "description": "Expected financial value of the sales opportunity.",
            "$ref": "#/components/schemas/ExpectedValue"
          },
          "recordStatus": {
            "type": "string",
            "description": "Status of the record.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the record was last updated.",
            "example": "string"
          }
        },
        "description": "Represents a sales opportunity."
      },
      "ExpectedValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Expected amount in the specified currency.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the expected amount is expressed.",
            "example": "string"
          }
        },
        "description": "Represents the expected financial value of a sales opportunity."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Pagination details for the response including page information."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the API endpoint. This header helps in tracking the specific endpoint that has been accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lead-and-opportunity-management-search-lead-and-opportunity-management"
        },
        "example": "lead-and-opportunity-management-search-lead-and-opportunity-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request. This header is useful for performance monitoring and debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism utilizing JSON Web Tokens (JWT). Clients are expected to include a JWT in the Authorization header when making requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}