{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Benefits Management API",
    "description": "The Employee Benefits Management API facilitates the modification of employee benefits information within a human resource management system. This API enables companies to update various aspects of employee benefits tailored to individual needs. Typical consumers include HR administrators and managers who need to ensure that employee benefits are accurately maintained and compliant with organizational policies. This API streamlines the management of employee perks, making it easier to adapt to changing requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-benefits/{param1}": {
      "patch": {
        "tags": [
          "Employee Benefits"
        ],
        "summary": "Update Employee Benefits",
        "description": "This endpoint allows you to update the employee benefits for a specified employee. You can modify various aspects of the benefits package associated with the employee identified by their unique ID.",
        "operationId": "updateEmployeeBenefits",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body contains the necessary details to update the employee benefits for the specified employee ID. It should include any fields that need to be modified as part of the employee's benefits package.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateEmployeeBenefitsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, updated employee benefits are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateEmployeeBenefitsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateEmployeeBenefitsRequest": {
        "title": "Employee Benefits Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "$ref": "#/components/schemas/EmployeeBenefitsChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the requested change to employee benefits.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date when the changes to the benefits become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body schema for updating employee benefits in the HR management system.",
        "example": {
          "changes": {
            "employeeId": "EMP-671190",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "3484ff48-9806-5f65-9e4a-0f681ff47225",
            "correlationId": "96433a43-fcbf-565e-96e3-da34f41c4c18",
            "idempotencyKey": "ddc08f9e-4217-5061-bb11-ec807d8c8f13",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-767729"
            }
          }
        }
      },
      "EmployeeBenefitsChanges": {
        "title": "Employee Benefits Changes",
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee whose benefits are being changed.",
            "example": "EMP123"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier of the employee's assignment.",
            "example": "ASSIGN456"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier of the department to which the employee belongs.",
            "example": "DEPT789"
          }
        },
        "description": "A collection of changes related to employee benefits."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ101112"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests in distributed systems.",
            "example": "CORR2021"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "IDEMPOTENT123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from where the request originated.",
            "example": "HRMS"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "BenefitsApp"
          },
          "channel": {
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information related to the request."
      },
      "RequestChannel": {
        "title": "Request Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel used to make the request.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used for the request, e.g., API, UI.",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE456"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "UpdateEmployeeBenefitsResponse_200": {
        "title": "Employee Benefits Update Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the API response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the employee benefits were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the operation response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "The response object containing the details of the employee benefits update operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "309715ee-a0d3-5730-9115-13fd039835f7",
            "correlationId": "96433a43-fcbf-565e-96e3-da34f41c4c18",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracking the request across systems."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the request was processed."
          }
        },
        "description": "Metadata that provides additional context about the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint related to the employee benefits operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-benefits-update-employee-benefits"
        },
        "example": "employee-benefits-update-employee-benefits"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application performing the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication via Bearer Token using JSON Web Tokens (JWT). This scheme is commonly used for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}