{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Product Quality Assurance Reviews API",
    "description": "The Product Quality Assurance Reviews API allows businesses to submit and manage reviews related to their products. This functionality is essential for maintaining high product standards and ensuring customer satisfaction. Typically utilized by product management teams, this API streamlines the process of collecting feedback and assessing product quality. Users can submit detailed reviews, which can then be analyzed for insights into product performance and areas for improvement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/product-quality-assurance/{param1}/reviews": {
      "post": {
        "tags": [
          "Product Quality Management"
        ],
        "summary": "Submit a review for product quality assurance.",
        "description": "This endpoint allows users to submit a review specifically for the quality assurance of the product identified by PROD-700045. Provide necessary review details in the request body, and ensure all required fields are completed accurately.",
        "operationId": "createProductQualityAssuranceReview",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit a review for the product associated with the identifier PROD-700045. Ensure that all necessary fields are filled out according to the specified schema to successfully create a review.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProductQualityAssuranceReviewRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateProductQualityAssuranceReviewResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateProductQualityAssuranceReviewRequest": {
        "title": "Product Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review being submitted.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "A list of scopes that defines the areas affected by the review.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Each scope representing a specific aspect related to the review."
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The identifier of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The date and time by which the review should be completed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information related to the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for submitting a product review in the quality assurance operations.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "830dfa58-d817-5bed-b85c-57c3fba603b8",
            "correlationId": "65260aff-9864-59c9-935c-f4c3cba07593",
            "idempotencyKey": "5c9a84d2-12e1-5195-8bb5-fc16c1c4f5a2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-547736"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-45678"
          },
          "correlationId": {
            "type": "string",
            "description": "Id used to correlate multiple requests.",
            "example": "corr-12345"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to prevent duplicate operations in case of retries.",
            "example": "idempotency-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "InventoryManagement"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "ProductReviewApp"
          },
          "channel": {
            "description": "Details about the communication channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "channel-789"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., email, app, web).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used in the communication.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the details of the communication channel used for the request."
      },
      "CreateProductQualityAssuranceReviewResponse_202": {
        "title": "Product Review Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "Reference identifier for the action taken on the product review.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "Type of action performed (e.g., submit, update).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the review submission.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "Timestamp of when the review was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/ReviewMetadata"
          }
        },
        "description": "Response schema for product review submission.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "9a0189da-8178-5d3d-bc3b-3a147128004c",
            "correlationId": "65260aff-9864-59c9-935c-f4c3cba07593",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ReviewMetadata": {
        "title": "Review Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response to the review.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace logs or requests for the review operation.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the review processing took place.",
            "example": "string"
          }
        },
        "description": "Metadata information regarding the review submission."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, which helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "product-quality-assurance-review-product-quality-assurance"
        },
        "example": "product-quality-assurance-review-product-quality-assurance"
      },
      "X-Runtime-App": {
        "description": "The version of the runtime application processing the request, useful for identifying application specifics during debugging.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme employs the Bearer authentication method using JWT (JSON Web Tokens) for securely transmitting information between parties. Clients must provide a valid JWT token in the Authorization header for authenticated requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}