{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Trade Reporting API",
    "description": "The Trade Reporting API enables financial institutions to submit and manage trade-related reports efficiently. This endpoint supports the creation of comprehensive reports reflecting various market operations, facilitating compliance and operational oversight. Common users of this API include risk management teams and regulatory reporting departments, who rely on accurate and timely data. By leveraging this API, organizations can streamline their reporting processes and improve data integrity across their banking operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-operations/trade-reporting/reports": {
      "post": {
        "tags": [
          "Trade Reporting"
        ],
        "summary": "Create a new trade report",
        "description": "This endpoint allows users to create a new trade report within the market operations reporting system. It accepts a request body containing the necessary information for the report.",
        "operationId": "createTradeReport",
        "parameters": [
          {
            "$ref": "#/components/parameters/parentspanid"
          },
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for submitting trade reports within market operations. This includes all necessary data fields required for reporting trades accurately.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateTradeReportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateTradeReportResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateTradeReportRequest": {
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "Identifier for the trade being reported.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "Identifier for the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "settlementDate": {
            "type": "string",
            "description": "The date on which the trade is scheduled to settle.",
            "example": "2026-09-15"
          },
          "quantity": {
            "type": "integer",
            "description": "Quantity of the instrument being traded.",
            "format": "int32",
            "example": 1
          },
          "settlementCurrency": {
            "type": "string",
            "description": "Currency in which the settlement will take place.",
            "example": "USD"
          },
          "custodianId": {
            "type": "string",
            "description": "Identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "Unique identifier for the request.",
                "example": "REQ-98765"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier used to correlate related requests.",
                "example": "CORR-56789"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "Key used to ensure request processing is idempotent.",
                "example": "IDEM-KEY-123"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "2023-10-01T10:00:00Z"
              },
              "sourceSystem": {
                "type": "string",
                "description": "Name of the system that generated the request.",
                "example": "TradingSystem"
              },
              "sourceApplication": {
                "type": "string",
                "description": "Name of the application from which the request originates.",
                "example": "TradeApp"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information about the request.",
            "example": {
              "requestId": "2e5b223f-4d56-58e4-b7a6-fbf301313d91",
              "correlationId": "2244e101-c43d-557a-8665-771e7078f89e",
              "idempotencyKey": "15e0e6b0-a33f-5c18-b375-5209abc1b809",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-583443"
              }
            }
          }
        },
        "description": "Request body schema for trade reporting operations, including all relevant trade information and request context.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "settlementDate": "2026-09-15",
          "quantity": 1,
          "settlementCurrency": "USD",
          "custodianId": "STANDARD",
          "requestContext": {
            "requestId": "2e5b223f-4d56-58e4-b7a6-fbf301313d91",
            "correlationId": "2244e101-c43d-557a-8665-771e7078f89e",
            "idempotencyKey": "15e0e6b0-a33f-5c18-b375-5209abc1b809",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-583443"
            }
          }
        }
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CHAN-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., API, Web, Mobile).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEVICE-123"
          }
        },
        "description": "Schema representing the details of the communication channel used for the request."
      },
      "CreateTradeReportResponse_202": {
        "title": "Trade Reporting Response",
        "type": "object",
        "properties": {
          "tradeId": {
            "type": "string",
            "description": "The unique identifier for the trade.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier of the financial instrument involved in the trade.",
            "example": "STANDARD"
          },
          "custodianId": {
            "type": "string",
            "description": "The identifier for the custodian managing the trade.",
            "example": "STANDARD"
          },
          "submissionReference": {
            "type": "string",
            "description": "A reference for tracking the trade submission.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the trade submission.",
            "example": "ACTIVE"
          },
          "receivedAt": {
            "type": "string",
            "description": "The timestamp indicating when the submission was received.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP123"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "CORR456"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated.",
                "example": "2023-10-01T12:00:05Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The geographic region where the trade processing occurred.",
                "example": "US-East"
              }
            },
            "description": "Additional metadata about the trade processing.",
            "example": {
              "responseId": "ce401203-5bed-5bfe-ad82-11963e4d866d",
              "correlationId": "2244e101-c43d-557a-8665-771e7078f89e",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the trade reporting operation, containing details about the trade submission and its current status.",
        "example": {
          "tradeId": "STANDARD",
          "instrumentId": "STANDARD",
          "custodianId": "STANDARD",
          "submissionReference": "STANDARD",
          "status": "ACTIVE",
          "receivedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ce401203-5bed-5bfe-ad82-11963e4d866d",
            "correlationId": "2244e101-c43d-557a-8665-771e7078f89e",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "parentspanid": {
        "name": "parentspanid",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3d9cae8fa658c0e3"
        },
        "example": "3d9cae8fa658c0e3"
      },
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-058"
        },
        "example": "WF-058"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8349a829-f27d-404f-9bf7-02c2a3f7beb7"
        },
        "example": "8349a829-f27d-404f-9bf7-02c2a3f7beb7"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "NORMAL"
        },
        "example": "NORMAL"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "41f13472-1128-4d9b-903a-2c14f0f1124f"
        },
        "example": "41f13472-1128-4d9b-903a-2c14f0f1124f"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "trade-and-price-reporting-report-trade-and-price-reporting"
        },
        "example": "trade-and-price-reporting-report-trade-and-price-reporting"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      },
      "X-Workflow-Id": {
        "description": "Identifier for the workflow associated with the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-058"
        },
        "example": "WF-058"
      },
      "X-Workflow-Name": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "FX Quote Trade and Settlement"
        },
        "example": "FX Quote Trade and Settlement"
      },
      "X-Workflow-State": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "41f13472-1128-4d9b-903a-2c14f0f1124f"
        },
        "example": "41f13472-1128-4d9b-903a-2c14f0f1124f"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, requiring a valid JSON Web Token (JWT) to access secured endpoints. The JWT should be included in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}