{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Funds Confirmation Consents API",
    "description": "The Funds Confirmation Consents API enables financial institutions to manage consents related to funds confirmation requests. This endpoint provides a mechanism for retrieving the status and details of specific consent agreements associated with funds availability. Typically utilized by banking applications and payment service providers, this API facilitates seamless interaction with customer consent data to ensure compliance and enhance user experience. Developers can use this API to support functions that require verification of consent before processing financial transactions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/cbpii/funds-confirmation-consents/{param1}": {
      "get": {
        "tags": [
          "Funds Confirmation"
        ],
        "summary": "Retrieve funds confirmation consent by ID.",
        "description": "This endpoint allows developers to retrieve the details of a specific funds confirmation consent using its unique identifier. It provides essential information related to the consent, which is necessary for further processing of funds confirmation requests.",
        "operationId": "getFundsConfirmationConsentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body retrieves the funds confirmation consents for a specific resource identified by RES-100045. It should include necessary parameters to ensure proper verification and retrieval of consent information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFundsConfirmationConsentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFundsConfirmationConsentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFundsConfirmationConsentByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the funds confirmation consent operation.",
        "example": "{}"
      },
      "GetFundsConfirmationConsentByIdResponse_200": {
        "title": "Funds Confirmation Consents Response",
        "type": "object",
        "properties": {
          "Data": {
            "$ref": "#/components/schemas/FundsConfirmationConsentData"
          },
          "Links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "Meta": {
            "$ref": "#/components/schemas/ResponseMeta"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for funds confirmation consent operations.",
        "example": {
          "Data": {
            "ConsentId": "STANDARD",
            "CreationDateTime": "2026-09-15T14:30:00Z",
            "Status": "ACTIVE",
            "StatusReason": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "Path": "STANDARD"
              }
            ],
            "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
            "ExpirationDateTime": "2026-09-15T14:30:00Z",
            "DebtorAccount": {
              "SchemeName": "Northstar Banking Service",
              "Identification": "STANDARD",
              "Name": "Northstar Banking Service",
              "SecondaryIdentification": "STANDARD",
              "Proxy": {
                "Identification": "STANDARD",
                "Code": "SUCCESS",
                "Type": "STANDARD"
              }
            }
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "de2f1de3-867f-52aa-8e56-011441407e77",
            "correlationId": "8cbf2038-766f-5b12-80ec-367abfcbf148",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FundsConfirmationConsentData": {
        "title": "Funds Confirmation Consent Data",
        "type": "object",
        "properties": {
          "ConsentId": {
            "type": "string",
            "description": "The unique identifier for the consent.",
            "example": "abc123"
          },
          "CreationDateTime": {
            "type": "string",
            "description": "The date and time when the consent was created.",
            "example": "2023-10-01T12:00:00Z"
          },
          "Status": {
            "type": "string",
            "description": "The current status of the consent.",
            "example": "active"
          },
          "StatusReason": {
            "type": "array",
            "description": "List of reasons for the current status of the consent.",
            "items": {
              "$ref": "#/components/schemas/StatusReason"
            }
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "The date and time when the status was last updated.",
            "example": "2023-10-02T12:00:00Z"
          },
          "ExpirationDateTime": {
            "type": "string",
            "description": "The expiration date and time of the consent.",
            "example": "2023-11-01T12:00:00Z"
          },
          "DebtorAccount": {
            "$ref": "#/components/schemas/DebtorAccount"
          }
        },
        "description": "This schema represents the detailed information about a funds confirmation consent."
      },
      "StatusReason": {
        "title": "Status Reason",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The code associated with the status reason.",
            "example": "reason_code_01"
          },
          "description": {
            "type": "string",
            "description": "A description of the status reason.",
            "example": "Consent has been approved."
          },
          "Path": {
            "type": "string",
            "description": "The path referencing where additional information about the status reason can be found.",
            "example": "/status/reason"
          }
        },
        "description": "This schema represents the reason for the status of the consent."
      },
      "PaginationLinks": {
        "title": "Pagination Links",
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current page.",
            "example": "https://api.example.com/consents?page=1"
          },
          "First": {
            "type": "string",
            "description": "Link to the first page of results.",
            "example": "https://api.example.com/consents?page=1"
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page of results.",
            "example": "https://api.example.com/consents?page=0"
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page of results.",
            "example": "https://api.example.com/consents?page=2"
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page of results.",
            "example": "https://api.example.com/consents?page=5"
          }
        },
        "description": "This schema contains navigation links for paginated responses."
      },
      "ResponseMeta": {
        "title": "Response Meta",
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32",
            "example": 5
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "The first available date and time for retrieval.",
            "example": "2023-10-01T00:00:00Z"
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "The last available date and time for retrieval.",
            "example": "2023-11-01T00:00:00Z"
          }
        },
        "description": "This schema contains metadata about the response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "res123456"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracing the request.",
            "example": "corr123456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "This schema represents the additional metadata of the response."
      },
      "DebtorAccount": {
        "title": "Debtor Account",
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "The name of the scheme to which the account belongs.",
            "example": "IBAN"
          },
          "Identification": {
            "type": "string",
            "description": "The unique identifier of the debtor's account.",
            "example": "DE89370400440532013000"
          },
          "Name": {
            "type": "string",
            "description": "The name of the debtor associated with the account.",
            "example": "John Doe"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Any additional identification details for the debtor.",
            "example": "123456789"
          },
          "Proxy": {
            "$ref": "#/components/schemas/Proxy"
          }
        },
        "description": "This schema represents the debtor's account details."
      },
      "Proxy": {
        "title": "Proxy",
        "type": "object",
        "properties": {
          "Identification": {
            "type": "string",
            "description": "The unique identifier for the proxy.",
            "example": "proxy-id-123"
          },
          "Code": {
            "type": "string",
            "description": "The code associated with the proxy.",
            "example": "PROXY001"
          },
          "Type": {
            "type": "string",
            "description": "The type of proxy being used.",
            "example": "email"
          }
        },
        "description": "This schema represents proxy details associated with the debtor's account."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed. This helps in tracking and logging requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "funds-api-get-funds-confirmation-consents-consent-id"
        },
        "example": "funds-api-get-funds-confirmation-consents-consent-id"
      },
      "X-Runtime-App": {
        "description": "The name of the application processing the request. This identifies which application instance handled the operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) for secure access. Clients must include a valid JWT in the Authorization header as a Bearer token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}