{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Cash Management API",
    "description": "The Cash Management API facilitates real-time access to cash management services for effective financial oversight. Users can retrieve detailed cash flow information, transaction statuses, and account summaries, allowing them to optimize their banking operations. This API is designed for finance professionals and businesses seeking to enhance liquidity management and improve operational efficiency. Typical consumers include bank administrators and corporate treasurers who require timely insights into their cash positions.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/trade-banking/cash-management/{param1}": {
      "get": {
        "tags": [
          "Cash Management"
        ],
        "summary": "Retrieve cash management details for a specific account.",
        "description": "This endpoint allows you to retrieve detailed cash management information for the specified account, including transaction history, balance information, and available services. Use this API to gain insights into your account's performance and manage cash flow effectively.",
        "operationId": "getAccountCashManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to cash management operations for the specific account identified by ACC-200045. It allows clients to obtain the necessary details for effective trade banking management.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountCashManagementRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountCashManagementResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountCashManagementRequest": {
        "type": "string",
        "description": "Represents the request body for the Cash Management Operations in the Trade Banking service. This string is typically used for identification or as a reference.",
        "example": "{}"
      },
      "GetAccountCashManagementResponse_200": {
        "type": "object",
        "properties": {
          "corporateCustomerId": {
            "type": "string",
            "description": "Identifier for the corporate customer.",
            "example": "CUST-594209"
          },
          "facilityId": {
            "type": "string",
            "description": "Identifier for the facility associated with the cash management operation.",
            "example": "STANDARD"
          },
          "counterpartyId": {
            "type": "string",
            "description": "Identifier for the counterparty involved in the operation.",
            "example": "PARTY-432221"
          },
          "amount": {
            "description": "The monetary amount related to the cash management operation.",
            "$ref": "#/components/schemas/Amount"
          },
          "maturityDate": {
            "type": "string",
            "description": "The date when the operation matures.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record, indicating if it is active, inactive, etc.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata about the request and response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the operations related to cash management for a given corporate account.",
        "example": {
          "corporateCustomerId": "CUST-594209",
          "facilityId": "STANDARD",
          "counterpartyId": "PARTY-432221",
          "amount": {
            "value": 100.0,
            "currency": "USD"
          },
          "maturityDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "ebf4242f-c7dd-58a6-9a1a-2a74265e7b19",
            "correlationId": "70e9bf15-17b9-5397-8e16-b5a78a97908f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numerical value of the amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the amount is denominated.",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money with an associated currency."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP-001"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking requests and responses.",
            "example": "CORR-abc-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-10-11T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "US-EAST"
          }
        },
        "description": "Metadata containing details related to the response context."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being called, which helps in tracking and monitoring requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cash-management-and-account-services-get-cash-management-and-account-services"
        },
        "example": "cash-management-and-account-services-get-cash-management-and-account-services"
      },
      "X-Runtime-App": {
        "description": "Name of the application that is processing the request, useful for debugging and performance analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves providing a JSON Web Token (JWT) for authorization. The JWT should be included in the HTTP Authorization header as 'Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}