{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Payment Reversal API",
    "description": "The Loan Payment Reversal API allows financial institutions to reverse payments associated with specific loans. This operation is crucial for correcting payment errors or processing refunds. With the ability to target individual payments by their unique identifiers, this API serves as an essential tool for loan servicing teams and customer service representatives. It enables organizations to maintain accurate records and enhance customer satisfaction in case of payment disputes or cancellations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loans/{loanId}/payments/{paymentId}/reverse": {
      "post": {
        "tags": [],
        "summary": "Reverse a payment for a specified loan.",
        "description": "This operation allows you to reverse a specific payment associated with a loan. When a payment needs to be undone, this endpoint can be utilized to handle the reversal process efficiently.",
        "operationId": "reversePaymentForLoan",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to reverse a specific payment associated with a given loan. Ensure that the payment ID and loan ID are valid and that the reversal process complies with the institution's policies.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReversePaymentForLoanRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The payment reversal was successfully initiated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReversePaymentForLoanResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ReversePaymentForLoanRequest": {
        "title": "Reversal Operation Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "A code that explains the reason for the reversal.",
            "example": "CODE-574"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A detailed description of the reason for the reversal.",
            "example": "STANDARD"
          },
          "reversalDate": {
            "type": "string",
            "description": "The date when the reversal operation is to be executed.",
            "example": "2026-09-15"
          },
          "restoreInstallmentStatus": {
            "type": "boolean",
            "description": "Indicates whether the installment status should be restored.",
            "example": true
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for a reversal operation on a loan payment.",
        "example": {
          "reasonCode": "CODE-574",
          "reasonDescription": "STANDARD",
          "reversalDate": "2026-09-15",
          "restoreInstallmentStatus": true,
          "requestContext": {
            "requestId": "4605c092-73f9-582f-92fc-04659dad37e9",
            "correlationId": "99816f93-5099-5949-bf8b-f31135746621",
            "idempotencyKey": "569290c8-4124-548a-a314-1e51a9f15b62",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-225548"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that generated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema represents the context for the request, including identifiers and timestamps."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., mobile, web).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the request.",
            "example": "string"
          }
        },
        "description": "This schema contains information about the channel used for the request."
      },
      "ReversePaymentForLoanResponse_201": {
        "title": "Reverse Payment Response",
        "type": "object",
        "properties": {
          "amount": {
            "description": "Details of the payment amount, including currency and specific amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "paymentDate": {
            "type": "string",
            "description": "The date when the payment was made.",
            "example": "2026-09-15"
          },
          "valueDate": {
            "type": "string",
            "description": "The date value of the payment transaction.",
            "example": "2026-09-15"
          },
          "paymentMethod": {
            "type": "string",
            "description": "The method used for the payment (e.g., credit card, bank transfer).",
            "example": "STANDARD"
          },
          "sourceAccountNumber": {
            "type": "string",
            "description": "The account number from which the payment was made.",
            "example": "STANDARD"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference identifier related to the payment.",
            "example": "STANDARD"
          },
          "allocationStrategy": {
            "type": "string",
            "description": "The strategy used for allocating the payment.",
            "example": "STANDARD"
          },
          "targetInstallmentNumbers": {
            "type": "array",
            "description": "List of target installment numbers that the payment is intended for.",
            "example": [
              1
            ],
            "items": {
              "type": "integer",
              "format": "int32",
              "example": 1
            }
          },
          "manualAllocation": {
            "description": "Manual allocation details if payment is to be divided across different components.",
            "$ref": "#/components/schemas/ManualAllocation"
          },
          "narrative": {
            "type": "string",
            "description": "A narrative or comment associated with the payment.",
            "example": "STANDARD"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the payment transaction.",
            "example": "838c1239-f4a3-ce74-8c9c-d7445ebf3728"
          },
          "paymentNumber": {
            "type": "string",
            "description": "Unique number identifying the payment transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the payment.",
            "example": "ACTIVE"
          },
          "allocation": {
            "description": "Details of how the payment is allocated among various charges.",
            "$ref": "#/components/schemas/Allocation"
          },
          "transactionReference": {
            "type": "string",
            "description": "Reference number for the transaction.",
            "example": "STANDARD"
          },
          "postedAt": {
            "type": "string",
            "description": "Timestamp indicating when the payment record was posted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the payment transaction providing additional context.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for a reverse payment operation, containing payment details and related metadata.",
        "example": {
          "amount": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "paymentDate": "2026-09-15",
          "valueDate": "2026-09-15",
          "paymentMethod": "STANDARD",
          "sourceAccountNumber": "STANDARD",
          "externalReference": "STANDARD",
          "allocationStrategy": "STANDARD",
          "targetInstallmentNumbers": [
            1
          ],
          "manualAllocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "narrative": "STANDARD",
          "id": "838c1239-f4a3-ce74-8c9c-d7445ebf3728",
          "paymentNumber": "STANDARD",
          "status": "ACTIVE",
          "allocation": {
            "principal": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "interest": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "fees": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "penalties": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "excess": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "transactionReference": "STANDARD",
          "postedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "cd2ff1d5-b409-5588-a57c-6ff256db66cc",
            "correlationId": "99816f93-5099-5949-bf8b-f31135746621",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "ISO currency code representing the currency of the amount."
          },
          "amount": {
            "type": "string",
            "description": "The specific monetary amount (in currency units)."
          }
        },
        "description": "Represents the monetary details of a transaction."
      },
      "ManualAllocation": {
        "title": "Manual Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "Principal amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "Interest amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "Fees amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "Penalties amount allocated.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "Excess amount allocated.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details for manual allocation of payments."
      },
      "Allocation": {
        "title": "Allocation",
        "type": "object",
        "properties": {
          "principal": {
            "description": "The amount allocated towards the principal balance.",
            "$ref": "#/components/schemas/Amount"
          },
          "interest": {
            "description": "The amount allocated towards interest charges.",
            "$ref": "#/components/schemas/Amount"
          },
          "fees": {
            "description": "The amount allocated for fees.",
            "$ref": "#/components/schemas/Amount"
          },
          "penalties": {
            "description": "The amount allocated for penalties.",
            "$ref": "#/components/schemas/Amount"
          },
          "excess": {
            "description": "The amount allocated as excess payment.",
            "$ref": "#/components/schemas/Amount"
          }
        },
        "description": "Details on how the payment amount is allocated."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Identifier for the response related to the transaction."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking related transactions."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the payment was processed."
          }
        },
        "description": "Metadata containing additional contextual information about the payment transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint of the operation being executed, allowing traceability of requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-reverse-loan-payment"
        },
        "example": "banking-loans-openapi-reverse-loan-payment"
      },
      "X-Runtime-App": {
        "description": "An identifier for the application runtime environment that processed the request, useful for performance tracking.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication mechanism that is implemented through JSON Web Tokens (JWT). The client must include the token in the Authorization header when making requests to secure endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}