{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Order Execution API",
    "description": "The Market Order Execution API facilitates the retrieval of market order execution details within wholesale trading operations. This API is designed for financial institutions and trading platforms looking to access real-time data about market order executions, providing insights into transaction success, pricing, and execution times. Typical consumers include traders, financial analysts, and developers building trading applications. By leveraging this API, users can enhance their market responsiveness and decision-making processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/market-order-execution/{param1}": {
      "get": {
        "tags": [
          "Market Order Execution"
        ],
        "summary": "Retrieve Market Order Execution Details",
        "description": "Fetches detailed information about a specific market order execution identified by RES-100045. This endpoint allows users to review execution data for better trading insights and decision-making.",
        "operationId": "getMarketOrderExecutionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to execute a market order in the wholesale trading system. It should contain the necessary parameters that define the specifics of the order being requested.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketOrderExecutionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved details of the market order execution.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketOrderExecutionRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketOrderExecutionRes100045Request": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to market order execution in wholesale trading.",
        "example": "{}"
      },
      "GetMarketOrderExecutionRes100045Response_200": {
        "title": "Market Order Execution Response",
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "A unique identifier for the trading book.",
            "example": "STANDARD"
          },
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "side": {
            "type": "string",
            "description": "The side of the order (e.g., buy or sell).",
            "example": "STANDARD"
          },
          "quantity": {
            "type": "integer",
            "description": "The quantity of the instrument to be traded.",
            "format": "int32",
            "example": 1
          },
          "limitPrice": {
            "description": "The limit price details for the order.",
            "$ref": "#/components/schemas/LimitPrice"
          },
          "orderType": {
            "type": "string",
            "description": "The type of order (e.g., market, limit).",
            "example": "STANDARD"
          },
          "timeInForce": {
            "type": "string",
            "description": "The duration for which the order remains active.",
            "example": "STANDARD"
          },
          "venue": {
            "type": "string",
            "description": "The trading venue where the order is placed.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the order record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the order.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the order was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata associated with the order.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for market order execution in wholesale trading.",
        "example": {
          "tradingBookId": "STANDARD",
          "instrumentId": "STANDARD",
          "side": "STANDARD",
          "quantity": 1,
          "limitPrice": {
            "value": 100.0,
            "currency": "USD"
          },
          "orderType": "STANDARD",
          "timeInForce": "STANDARD",
          "venue": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "eeb5dd97-512b-5e72-8067-a5b25ed70c2b",
            "correlationId": "a842df07-7445-500b-97cd-b26cd8b0730c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LimitPrice": {
        "title": "Limit Price",
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The limit price for the order.",
            "example": 100.5
          },
          "currency": {
            "type": "string",
            "description": "The currency of the limit price.",
            "example": "USD"
          }
        },
        "description": "Schema representing the limit price details for an order."
      },
      "Metadata": {
        "title": "Order Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "res-001"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier used for correlating multiple requests.",
            "example": "corr-001"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the order was processed.",
            "example": "US"
          }
        },
        "description": "Schema representing additional metadata associated with an order."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint being accessed, which helps in tracking the request across various internal systems.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-order-execution-get-market-order-execution"
        },
        "example": "market-order-execution-get-market-order-execution"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request, allowing for better debugging and monitoring of performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JWT (JSON Web Token) as a means of authentication. Tokens should be sent in the Authorization header as a 'Bearer' token.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}