{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Fraud Detection Model API",
    "description": "The Fraud Detection Model API provides access to advanced analytics models designed to identify and mitigate fraudulent activities in banking transactions. This endpoint allows users to retrieve specific fraud model details based on unique identifiers. Financial institutions and risk management professionals frequently utilize this API to make data-driven decisions and enhance security measures. By leveraging predictive insights from the fraud models, organizations can significantly reduce potential losses and improve compliance with regulatory requirements.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/fraud-model/{param1}": {
      "get": {
        "tags": [
          "Fraud Model Management"
        ],
        "summary": "Retrieve the details of a specific fraud model.",
        "description": "This endpoint allows you to fetch the details of a fraud model identified by its unique resource ID. It provides comprehensive information on the model's parameters, status, and performance metrics, enabling informed decisions for fraud detection strategies.",
        "operationId": "getFraudModelById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve details about the fraud model with ID RES-100045. Ensure that the request contains all required parameters in the specified format to successfully fetch the model information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFraudModelByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested fraud model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFraudModelByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFraudModelByIdRequest": {
        "title": "Fraud Model Request Body",
        "type": "string",
        "description": "This schema represents the request body format for the Fraud Model operation.",
        "example": "{}"
      },
      "GetFraudModelByIdResponse_200": {
        "title": "Fraud Model Response",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the fraud model.",
            "example": "STANDARD"
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the fraud model.",
            "example": "STANDARD"
          },
          "portfolioId": {
            "type": "string",
            "description": "The identifier for the portfolio associated with the model.",
            "example": "PORT-722554"
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the model was evaluated.",
            "example": "2026-09-15"
          },
          "scenario": {
            "type": "string",
            "description": "The scenario under which the model was executed.",
            "example": "STANDARD"
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The level of confidence in the model's predictions.",
            "example": 100.0
          },
          "transactionId": {
            "type": "string",
            "description": "The unique identifier for the transaction being assessed.",
            "example": "TXN-656809"
          },
          "riskScore": {
            "type": "number",
            "description": "The calculated risk score for the transaction.",
            "example": 100.0
          },
          "decisionThreshold": {
            "type": "number",
            "description": "The threshold value used to determine acceptable risk levels.",
            "example": 100.0
          },
          "deviceTrustLevel": {
            "type": "string",
            "description": "The trust level assigned to the device used in the transaction.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version of the response record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response structure for a fraud model retrieval operation.",
        "example": {
          "modelId": "STANDARD",
          "modelVersion": "STANDARD",
          "portfolioId": "PORT-722554",
          "asOfDate": "2026-09-15",
          "scenario": "STANDARD",
          "confidenceLevel": 100.0,
          "transactionId": "TXN-656809",
          "riskScore": 100.0,
          "decisionThreshold": 100.0,
          "deviceTrustLevel": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "a7b5a011-ee29-580b-af47-dfa1ab191a42",
            "correlationId": "94230373-b938-50ec-a970-b9d32a976f48",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Contains metadata for the fraud model response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "fraud-model-get-fraud-model"
        },
        "example": "fraud-model-get-fraud-model"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service where the request originated, which helps in identifying the source of the traffic.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using a Bearer token formatted as JSON Web Token (JWT) for secure API access.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}