{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Account Information Retrieval API",
    "description": "The Account Information Retrieval API enables financial institutions to securely access detailed information about a specific user account identified by the accountId parameter. This API supports use cases such as obtaining account balances, transaction history, and account holder details. It is typically utilized by developers at banks and fintech companies looking to comply with open banking regulations or enhance user experiences. By leveraging this API, developers can integrate comprehensive financial account data into their applications.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/aisp/accounts/{accountId}": {
      "get": {
        "tags": [
          "Account Management"
        ],
        "summary": "Retrieve account details for a specific account.",
        "description": "This endpoint allows you to fetch detailed information about a specific account identified by its unique account number. Use this to access account-related data such as balance, transactions, and account holder information.",
        "operationId": "getAccountDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the account details for the specified account ID (ACC-200045). It should be formatted as a JSON object containing the required parameters to identify the account.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetAccountDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAccountDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetAccountDetailsRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operations on the account with the identifier ACC-200045. The request body is expected to be a string.",
        "example": "{}"
      },
      "GetAccountDetailsResponse_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "Account": {
                "type": "array",
                "description": "List of accounts associated with the request.",
                "items": {
                  "$ref": "#/components/schemas/AccountDetails"
                }
              }
            },
            "description": "Contains account data information.",
            "example": {
              "Account": [
                {
                  "id": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "Currency": "USD",
                  "category": "STANDARD",
                  "typeCode": "CODE-839",
                  "Description": "Customer banking request processed successfully",
                  "Nickname": "Northstar Banking Service",
                  "OpeningDate": "2026-09-15",
                  "MaturityDate": "2026-09-15",
                  "SwitchStatus": "ACTIVE",
                  "Account": [
                    {
                      "SchemeName": "Northstar Banking Service",
                      "Identification": "STANDARD",
                      "Name": "Northstar Banking Service",
                      "LEI": "STANDARD",
                      "SecondaryIdentification": "STANDARD"
                    }
                  ],
                  "StatementFrequencyAndFormat": [
                    {
                      "Frequency": "STANDARD",
                      "CommunicationMethod": "STANDARD",
                      "Format": "STANDARD",
                      "DeliveryAddress": {
                        "AddressType": "STANDARD",
                        "Department": "STANDARD",
                        "SubDepartment": "STANDARD",
                        "StreetName": "Northstar Banking Service",
                        "BuildingNumber": "STANDARD",
                        "BuildingName": "Northstar Banking Service",
                        "Floor": "STANDARD",
                        "UnitNumber": "STANDARD",
                        "Room": "STANDARD",
                        "PostBox": "STANDARD",
                        "TownLocationName": "Northstar Banking Service",
                        "DistrictName": "Northstar Banking Service",
                        "CareOf": "STANDARD",
                        "PostCode": "CODE-406",
                        "TownName": "Northstar Banking Service",
                        "CountrySubDivision": "STANDARD"
                      }
                    }
                  ]
                }
              ]
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "Identifier to correlate requests and responses.",
                "example": "string"
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp when the response was generated.",
                "example": "string"
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the request was processed.",
                "example": "string"
              }
            },
            "description": "Metadata for the response.",
            "example": {
              "responseId": "1a85185b-49ce-57b7-97fa-652198314be1",
              "correlationId": "c81f0fc5-4be5-5fbf-964f-f467755cf484",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "Response schema for the account operations GET request.",
        "example": {
          "Data": {
            "Account": [
              {
                "id": "STANDARD",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "Currency": "USD",
                "category": "STANDARD",
                "typeCode": "CODE-839",
                "Description": "Customer banking request processed successfully",
                "Nickname": "Northstar Banking Service",
                "OpeningDate": "2026-09-15",
                "MaturityDate": "2026-09-15",
                "SwitchStatus": "ACTIVE",
                "Account": [
                  {
                    "SchemeName": "Northstar Banking Service",
                    "Identification": "STANDARD",
                    "Name": "Northstar Banking Service",
                    "LEI": "STANDARD",
                    "SecondaryIdentification": "STANDARD"
                  }
                ],
                "StatementFrequencyAndFormat": [
                  {
                    "Frequency": "STANDARD",
                    "CommunicationMethod": "STANDARD",
                    "Format": "STANDARD",
                    "DeliveryAddress": {
                      "AddressType": "STANDARD",
                      "Department": "STANDARD",
                      "SubDepartment": "STANDARD",
                      "StreetName": "Northstar Banking Service",
                      "BuildingNumber": "STANDARD",
                      "BuildingName": "Northstar Banking Service",
                      "Floor": "STANDARD",
                      "UnitNumber": "STANDARD",
                      "Room": "STANDARD",
                      "PostBox": "STANDARD",
                      "TownLocationName": "Northstar Banking Service",
                      "DistrictName": "Northstar Banking Service",
                      "CareOf": "STANDARD",
                      "PostCode": "CODE-406",
                      "TownName": "Northstar Banking Service",
                      "CountrySubDivision": "STANDARD"
                    }
                  }
                ]
              }
            ]
          },
          "metadata": {
            "responseId": "1a85185b-49ce-57b7-97fa-652198314be1",
            "correlationId": "c81f0fc5-4be5-5fbf-964f-f467755cf484",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AccountDetails": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account.",
            "example": "string"
          },
          "Status": {
            "type": "string",
            "description": "Current status of the account.",
            "example": "string"
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Timestamp of the last status update.",
            "example": "string"
          },
          "Currency": {
            "type": "string",
            "description": "Currency associated with the account.",
            "example": "string"
          },
          "category": {
            "type": "string",
            "description": "Category of the account.",
            "example": "string"
          },
          "typeCode": {
            "type": "string",
            "description": "Type code representing account classification.",
            "example": "string"
          },
          "Description": {
            "type": "string",
            "description": "Description of the account.",
            "example": "string"
          },
          "Nickname": {
            "type": "string",
            "description": "User-assigned nickname for the account.",
            "example": "string"
          },
          "OpeningDate": {
            "type": "string",
            "description": "Date when the account was opened.",
            "example": "string"
          },
          "MaturityDate": {
            "type": "string",
            "description": "Date when the account matures.",
            "example": "string"
          },
          "SwitchStatus": {
            "type": "string",
            "description": "Current switch status of the account.",
            "example": "string"
          },
          "Account": {
            "type": "array",
            "description": "List of related account identifiers.",
            "items": {
              "$ref": "#/components/schemas/RelatedAccount"
            }
          },
          "StatementFrequencyAndFormat": {
            "type": "array",
            "description": "Details on statement frequency and format for communications.",
            "items": {
              "$ref": "#/components/schemas/StatementFrequencyAndFormatDetails"
            }
          }
        },
        "description": "Detailed information about an individual account."
      },
      "RelatedAccount": {
        "type": "object",
        "properties": {
          "SchemeName": {
            "type": "string",
            "description": "Name of the scheme to which the account belongs.",
            "example": "string"
          },
          "Identification": {
            "type": "string",
            "description": "Identification number of the related account.",
            "example": "string"
          },
          "Name": {
            "type": "string",
            "description": "Name of the related account holder.",
            "example": "string"
          },
          "LEI": {
            "type": "string",
            "description": "Legal Entity Identifier for the related account.",
            "example": "string"
          },
          "SecondaryIdentification": {
            "type": "string",
            "description": "Secondary identification for the related account.",
            "example": "string"
          }
        },
        "description": "Information regarding a related account."
      },
      "StatementFrequencyAndFormatDetails": {
        "type": "object",
        "properties": {
          "Frequency": {
            "type": "string",
            "description": "Frequency of statement delivery.",
            "example": "string"
          },
          "CommunicationMethod": {
            "type": "string",
            "description": "Method of communication for statement delivery.",
            "example": "string"
          },
          "Format": {
            "type": "string",
            "description": "Format of the statements.",
            "example": "string"
          },
          "DeliveryAddress": {
            "type": "object",
            "properties": {
              "AddressType": {
                "type": "string",
                "description": "Type of address (e.g., residential or business).",
                "example": "string"
              },
              "Department": {
                "type": "string",
                "description": "Department name if applicable.",
                "example": "string"
              },
              "SubDepartment": {
                "type": "string",
                "description": "Sub-department name if applicable.",
                "example": "string"
              },
              "StreetName": {
                "type": "string",
                "description": "Street name for the delivery address.",
                "example": "string"
              },
              "BuildingNumber": {
                "type": "string",
                "description": "Building number for the delivery address.",
                "example": "string"
              },
              "BuildingName": {
                "type": "string",
                "description": "Building name if applicable.",
                "example": "string"
              },
              "Floor": {
                "type": "string",
                "description": "Floor number if applicable.",
                "example": "string"
              },
              "UnitNumber": {
                "type": "string",
                "description": "Unit number if applicable.",
                "example": "string"
              },
              "Room": {
                "type": "string",
                "description": "Room number if applicable.",
                "example": "string"
              },
              "PostBox": {
                "type": "string",
                "description": "Post box number if applicable.",
                "example": "string"
              },
              "TownLocationName": {
                "type": "string",
                "description": "Name of the town location.",
                "example": "string"
              },
              "DistrictName": {
                "type": "string",
                "description": "Name of the district.",
                "example": "string"
              },
              "CareOf": {
                "type": "string",
                "description": "Care of name if applicable.",
                "example": "string"
              },
              "PostCode": {
                "type": "string",
                "description": "Postal code for the delivery address.",
                "example": "string"
              },
              "TownName": {
                "type": "string",
                "description": "Name of the town.",
                "example": "string"
              },
              "CountrySubDivision": {
                "type": "string",
                "description": "Sub-division of the country for the delivery address.",
                "example": "string"
              }
            },
            "description": "Address where statements are delivered."
          }
        },
        "description": "Details regarding the frequency and format of statements."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-api-get-accounts-account-id"
        },
        "example": "accounts-api-get-accounts-account-id"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authorization scheme using Bearer tokens, specifically formatted as JSON Web Tokens (JWT). This enables secure access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}