{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Regulatory Authorities Information API",
    "description": "The Regulatory Authorities Information API provides access to vital data regarding regulatory bodies overseeing corporate relations within the banking sector. By utilizing this API, users can retrieve comprehensive listings of regulatory authorities, including their roles and responsibilities. This endpoint is particularly valuable for financial institutions, compliance officers, and risk management teams seeking to ensure adherence to regulatory requirements. It facilitates informed decision-making and enhances understanding of the regulatory landscape affecting corporate banking activities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/regulatory-authorities": {
      "get": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Retrieve a list of regulatory authorities.",
        "description": "This endpoint allows users to fetch the current list of regulatory authorities relevant to corporate relations. It provides essential information needed for compliance and governance.",
        "operationId": "getRegulatoryAuthorities",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information about regulatory authorities relevant to corporate relations. Please ensure that the request parameters align with the required schema to receive accurate data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetRegulatoryAuthoritiesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the list of regulatory authorities.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetRegulatoryAuthoritiesResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetRegulatoryAuthoritiesRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to regulatory authorities within corporate relations.",
        "example": "{}"
      },
      "GetRegulatoryAuthoritiesResponse_200": {
        "title": "Regulatory Authorities Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of regulatory authority engagement items.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/EngagementItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response from the Regulatory Authorities endpoint, including a list of items and pagination metadata.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "b6176b3c-56a4-5291-9c01-0b392bd56600",
            "correlationId": "1695aab3-f39a-565b-abdf-15616f749f35",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EngagementItem": {
        "title": "Engagement Item",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "The unique identifier for the stakeholder.",
            "example": "12345"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "engagement_67890"
          },
          "subject": {
            "type": "string",
            "description": "The subject of the engagement.",
            "example": "Compliance Review"
          },
          "scheduledAt": {
            "type": "string",
            "description": "The scheduled date and time for the engagement.",
            "example": "2023-10-10T10:00:00Z"
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "The unique identifier for the relationship owner.",
            "example": "owner_abcde"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the engagement record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the engagement record was last updated.",
            "example": "2023-10-05T12:00:00Z"
          }
        },
        "description": "An item representing an engagement with a regulatory authority."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination metadata for the response, indicating the current page, page size, and total items."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "resp_67890"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request.",
            "example": "corr_12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-05T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the response, including identifiers and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "regulatory-and-legal-authority-search-regulatory-and-legal-authority"
        },
        "example": "regulatory-and-legal-authority-search-regulatory-and-legal-authority"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method. Clients must send a JWT (JSON Web Token) in the Authorization header when making requests to the secured endpoints. The expected format for the token is a standard JWT format.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}