{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Dealer Desk Management API",
    "description": "The Dealer Desk Management API enables financial institutions to efficiently adjust and update dealer desk configurations within their wholesale trading systems. Key operations include modifying dealer-related parameters to streamline trading processes and enhance operational efficiency. Common consumers of this API are trading desks and systems administrators who require real-time adjustments to trading settings. This API facilitates better management of dealer activities and ensures compliance with internal policies and market regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/wholesale-trading/dealer-desk/{param1}": {
      "patch": {
        "tags": [
          "Wholesale Trading"
        ],
        "summary": "Update Dealer Desk Resource",
        "description": "This endpoint allows for the modification of a specific dealer desk resource identified by RES-100045. Use this operation to update details or attributes of the resource as necessary.",
        "operationId": "updateDealerDeskResource",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for updating the dealer desk information for RES-100045. This endpoint allows partial updates to the dealer desk data. Please ensure that the required fields are included as necessary.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDealerDeskResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed, and the resource was updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDealerDeskResourceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDealerDeskResourceRequest": {
        "required": [
          "changeReason",
          "changes",
          "effectiveAt",
          "requestContext",
          "requestedBy"
        ],
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object representing the specific changes to be applied.",
            "$ref": "#/components/schemas/Changes"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object containing contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for PATCH operations on the dealer desk.",
        "example": {
          "changes": {
            "tradingBookId": "STANDARD",
            "instrumentId": "STANDARD",
            "side": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "b666e055-8385-518d-b248-0eb8d97a36bf",
            "correlationId": "6f95108f-3d01-517e-8f6f-1fba27899f39",
            "idempotencyKey": "af0e3871-572c-5770-aa7f-424cc4862f0e",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-367059"
            }
          }
        }
      },
      "Changes": {
        "required": [
          "instrumentId",
          "side",
          "tradingBookId"
        ],
        "type": "object",
        "properties": {
          "tradingBookId": {
            "type": "string",
            "description": "The identifier for the trading book associated with the changes.",
            "example": "book-001"
          },
          "instrumentId": {
            "type": "string",
            "description": "The identifier for the financial instrument being modified.",
            "example": "instrument-123"
          },
          "side": {
            "type": "string",
            "description": "The side of the trade (e.g., 'buy' or 'sell').",
            "example": "buy"
          }
        },
        "description": "Details of the changes to be made in the patch operation."
      },
      "RequestContext": {
        "required": [
          "channel",
          "correlationId",
          "idempotencyKey",
          "requestId",
          "requestedAt",
          "sourceApplication",
          "sourceSystem"
        ],
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "req-67890"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used for tracing through related requests.",
            "example": "corr-123"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that repeated requests yield the same result.",
            "example": "key-abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The date and time at which the request was made.",
            "example": "2023-10-01T09:55:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originates.",
            "example": "TradingPlatform"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originates.",
            "example": "TraderApp"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information regarding the request."
      },
      "Channel": {
        "required": [
          "channelId",
          "channelType",
          "deviceId"
        ],
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used to make the request.",
            "example": "device-001"
          }
        },
        "description": "Details about the channel used for the request."
      },
      "UpdateDealerDeskResourceResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response model.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The current status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata providing additional information about the response.",
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for the PATCH operation on the dealer desk.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "484293e2-8063-5624-a1d2-c709afd67c27",
            "correlationId": "6f95108f-3d01-517e-8f6f-1fba27899f39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Object containing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "dealer-desk-update-dealer-desk"
        },
        "example": "dealer-desk-update-dealer-desk"
      },
      "X-Runtime-App": {
        "description": "Name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token to grant access. This format allows the use of JSON Web Tokens (JWT) for securely transmitting information between parties.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}