{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Reviews Submission API",
    "description": "The Customer Reviews Submission API enables businesses to collect and manage customer feedback related to prospect campaigns. By allowing users to submit reviews, the API facilitates enhanced customer engagement and valuable insights for sales strategies. This endpoint is particularly useful for marketing teams seeking to analyze customer sentiments and improve future campaigns. Typical consumers include sales and marketing professionals who aim to refine their outreach and build stronger customer relationships.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/sales/prospect-campaign-execution/{param1}/reviews": {
      "post": {
        "tags": [
          "Sales"
        ],
        "summary": "Add a new review for a specific prospect campaign execution.",
        "description": "This operation allows users to submit a review for the specified prospect campaign execution identified by RES-100045. Providing feedback helps improve campaign performance and user engagement.",
        "operationId": "createReviewForProspectCampaignExecutionRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit reviews for the prospect campaign execution with the ID RES-100045. Ensure that the JSON structure corresponds to the expected schema to facilitate successful processing of the review.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateReviewForProspectCampaignExecutionRes100045Request"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateReviewForProspectCampaignExecutionRes100045Response_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateReviewForProspectCampaignExecutionRes100045Request": {
        "title": "Review Request Body",
        "type": "object",
        "properties": {
          "reviewReason": {
            "type": "string",
            "description": "The reason for the review.",
            "example": "STANDARD"
          },
          "reviewScope": {
            "type": "array",
            "description": "The scope of the review, which may include various aspects being reviewed.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "An individual item within the review scope.",
              "example": "string"
            }
          },
          "assignedReviewerId": {
            "type": "string",
            "description": "The ID of the reviewer assigned to this review.",
            "example": "STANDARD"
          },
          "dueAt": {
            "type": "string",
            "description": "The due date for the review submission.",
            "example": "2026-08-11T12:00:00Z"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the structure of the review request body for the POST operation in the operations review API.",
        "example": {
          "reviewReason": "STANDARD",
          "reviewScope": [
            "STANDARD"
          ],
          "assignedReviewerId": "STANDARD",
          "dueAt": "2026-08-11T12:00:00Z",
          "requestContext": {
            "requestId": "e643f08a-4862-5190-a34b-1c19035035da",
            "correlationId": "aded7acd-310d-5eb1-9af4-cbc7bc594bc8",
            "idempotencyKey": "31615b52-9d31-5b1f-91d6-af324849982f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-875781"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracking related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure idempotent requests.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that generated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the communication channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema contains contextual information for the API request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the communication channel (e.g., SMS, Email).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used for the channel.",
            "example": "string"
          }
        },
        "description": "This schema provides details about the communication channel used in the request."
      },
      "CreateReviewForProspectCampaignExecutionRes100045Response_202": {
        "title": "Prospect Campaign Execution Response",
        "type": "object",
        "properties": {
          "actionReference": {
            "type": "string",
            "description": "A reference identifier for the action performed during the campaign execution.",
            "example": "STANDARD"
          },
          "actionType": {
            "type": "string",
            "description": "The type of action that was executed within the campaign.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the action performed, indicating success, failure, or other state.",
            "example": "ACTIVE"
          },
          "processedAt": {
            "type": "string",
            "description": "A timestamp indicating when the action was processed.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response, providing additional context and identifiers.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response from the campaign execution operation, detailing the action taken, its processing status, and associated metadata.",
        "example": {
          "actionReference": "STANDARD",
          "actionType": "STANDARD",
          "status": "ACTIVE",
          "processedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "45516476-1fa6-5480-8b8e-76b47b0f20c5",
            "correlationId": "aded7acd-310d-5eb1-9af4-cbc7bc594bc8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation identifier used to link related requests and responses in the system.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "A timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographic region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "This schema encapsulates the metadata associated with the campaign execution response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that was invoked.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "prospect-campaign-execution-review-prospect-campaign-execution-processing"
        },
        "example": "prospect-campaign-execution-review-prospect-campaign-execution-processing"
      },
      "X-Runtime-App": {
        "description": "The name of the application that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) for authentication. Clients must include a valid bearer token in the Authorization header of their requests to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}