{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Manage Loan Application Applicants API",
    "description": "The Manage Loan Application Applicants API allows authorized users to update the details of applicants associated with specific loan applications. This operation primarily targets financial institutions and lending services that need to manage applicant information efficiently. Users can modify applicant data, reflecting changes in personal circumstances or financial status. It serves as a critical component for maintaining accurate records and compliance throughout the loan application lifecycle.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/applicants/{applicantId}": {
      "put": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update applicant information for a specific loan application.",
        "description": "This endpoint allows you to update the information of an applicant associated with a specific loan application. Ensure that all required fields are correctly provided to update the applicant details successfully.",
        "operationId": "updateLoanApplicationApplicantRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the applicant details associated with a specific loan application. This request should contain the necessary fields to modify the existing applicant information within the loan application identified by RES-100045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationApplicantRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and applicant details updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationApplicantRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationApplicantRes100045Request": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-340306"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary borrower.",
            "example": "STANDARD"
          },
          "income": {
            "description": "The income details of the applicant.",
            "$ref": "#/components/schemas/Income"
          },
          "monthlyObligations": {
            "description": "The monthly obligations of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "requestContext": {
            "description": "Context information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the loan application applicant details.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-340306",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            }
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "requestContext": {
            "requestId": "a8ddc24a-9dc0-58d5-9132-cfa5dfc9726d",
            "correlationId": "c9677ae7-b8cb-5182-b22e-cc3429a0aaef",
            "idempotencyKey": "2739c77a-92f4-5b33-b7d1-cef7a5bb45ad",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-133190"
            }
          }
        }
      },
      "Income": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment of the applicant.",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "Company ABC"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "The date when the applicant started employment.",
            "example": "2021-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if applicable.",
            "example": "BRN12345"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/Money"
          },
          "otherMonthlyIncome": {
            "description": "Any other sources of monthly income.",
            "$ref": "#/components/schemas/Money"
          }
        },
        "description": "Schema representing the income details of an applicant."
      },
      "Money": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount of money in the specified currency.",
            "example": "5000"
          }
        },
        "description": "Schema representing a monetary value with currency."
      },
      "Asset": {
        "type": "object",
        "properties": {
          "assetType": {
            "type": "string",
            "description": "Type of the asset.",
            "example": "Car"
          },
          "description": {
            "type": "string",
            "description": "Description of the asset.",
            "example": "2019 Toyota Camry"
          },
          "estimatedValue": {
            "description": "Estimated value of the asset.",
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Details about an asset declared by the applicant."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "REQ123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracing the request through the system.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to prevent duplicate processing of the request.",
            "example": "IDEMP123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was initiated.",
            "example": "2023-10-01T12:34:56Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "Mobile App"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application from which the request was sent.",
            "example": "Loan Application App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing context information for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel, e.g., Mobile, Web.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used.",
            "example": "DEVICE123"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateLoanApplicationApplicantRes100045Response_200": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string",
            "description": "The role of the applicant in the loan application.",
            "example": "PRIMARY_HOLDER"
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer.",
            "example": "CUST-807996"
          },
          "relationshipToPrimary": {
            "type": "string",
            "description": "The relationship of the applicant to the primary borrower.",
            "example": "STANDARD"
          },
          "income": {
            "description": "Details of the applicant's income.",
            "$ref": "#/components/schemas/IncomeDetails"
          },
          "monthlyObligations": {
            "description": "Monthly financial obligations of the applicant.",
            "$ref": "#/components/schemas/FinancialObligation"
          },
          "declaredAssets": {
            "type": "array",
            "description": "List of assets declared by the applicant.",
            "example": [
              {
                "assetType": "STANDARD",
                "description": "Customer banking request processed successfully",
                "estimatedValue": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Asset"
            }
          },
          "declaredLiabilities": {
            "type": "array",
            "description": "List of liabilities declared by the applicant.",
            "example": [
              {
                "liabilityType": "STANDARD",
                "lenderName": "Northstar Banking Service",
                "outstandingBalance": {
                  "currency": "USD",
                  "amount": "1250.75"
                },
                "monthlyPayment": {
                  "currency": "USD",
                  "amount": "1250.75"
                }
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Liability"
            }
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the applicant.",
            "example": "08cd5bdd-cd8d-05f9-8fe2-03734c4b26d9"
          },
          "creditBureauStatus": {
            "type": "string",
            "description": "Credit bureau status of the applicant.",
            "example": "ACTIVE"
          },
          "audit": {
            "description": "Audit details related to the applicant's data.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata associated with the applicant.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the details of a loan application applicant.",
        "example": {
          "role": "PRIMARY_HOLDER",
          "customerId": "CUST-807996",
          "relationshipToPrimary": "STANDARD",
          "income": {
            "employmentType": "STANDARD",
            "employerName": "Northstar Banking Service",
            "occupation": "STANDARD",
            "employmentStartDate": "2026-09-15",
            "businessRegistrationNumber": "STANDARD",
            "grossMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "netMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "otherMonthlyIncome": {
              "currency": "USD",
              "amount": "1250.75"
            },
            "verificationStatus": "VERIFIED"
          },
          "monthlyObligations": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "declaredAssets": [
            {
              "assetType": "STANDARD",
              "description": "Customer banking request processed successfully",
              "estimatedValue": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "declaredLiabilities": [
            {
              "liabilityType": "STANDARD",
              "lenderName": "Northstar Banking Service",
              "outstandingBalance": {
                "currency": "USD",
                "amount": "1250.75"
              },
              "monthlyPayment": {
                "currency": "USD",
                "amount": "1250.75"
              }
            }
          ],
          "id": "08cd5bdd-cd8d-05f9-8fe2-03734c4b26d9",
          "creditBureauStatus": "ACTIVE",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "9334bd1f-db6a-5d64-bd9f-adfb27680e09",
            "correlationId": "c9677ae7-b8cb-5182-b22e-cc3429a0aaef",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "IncomeDetails": {
        "type": "object",
        "properties": {
          "employmentType": {
            "type": "string",
            "description": "Type of employment (e.g., Full-time, Part-time).",
            "example": "Full-time"
          },
          "employerName": {
            "type": "string",
            "description": "Name of the employer.",
            "example": "ABC Corp"
          },
          "occupation": {
            "type": "string",
            "description": "Occupation of the applicant.",
            "example": "Software Engineer"
          },
          "employmentStartDate": {
            "type": "string",
            "description": "Date when the applicant started their current employment.",
            "example": "2022-01-15"
          },
          "businessRegistrationNumber": {
            "type": "string",
            "description": "Business registration number if self-employed.",
            "example": "BRN123456"
          },
          "grossMonthlyIncome": {
            "description": "Gross monthly income of the applicant.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "netMonthlyIncome": {
            "description": "Net monthly income of the applicant.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "otherMonthlyIncome": {
            "description": "Other sources of monthly income.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "verificationStatus": {
            "type": "string",
            "description": "Verification status of the income.",
            "example": "Verified"
          }
        },
        "description": "Details regarding the income of the applicant."
      },
      "MonetaryValue": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "1000"
          }
        },
        "description": "Represents a monetary value with currency."
      },
      "FinancialObligation": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the obligation.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of the financial obligation.",
            "example": "200"
          }
        },
        "description": "Represents a financial obligation."
      },
      "Liability": {
        "type": "object",
        "properties": {
          "liabilityType": {
            "type": "string",
            "description": "Type of liability.",
            "example": "Mortgage"
          },
          "lenderName": {
            "type": "string",
            "description": "Name of the lender for the liability.",
            "example": "XYZ Bank"
          },
          "outstandingBalance": {
            "description": "Outstanding balance of the liability.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "monthlyPayment": {
            "description": "Monthly payment amount for the liability.",
            "$ref": "#/components/schemas/MonetaryValue"
          }
        },
        "description": "Details about a liability declared by the applicant."
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp of when the data was created.",
            "example": "2022-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the data.",
            "example": "admin"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the data was last updated.",
            "example": "2022-01-15T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the data.",
            "example": "admin"
          },
          "version": {
            "type": "integer",
            "description": "Version of the applicant's data.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information related to the applicant's data."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "RESP12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating related requests.",
            "example": "CORR12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the data was generated.",
            "example": "2022-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "US-East"
          }
        },
        "description": "Metadata information associated with the applicant."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-replace-applicant"
        },
        "example": "banking-loans-openapi-replace-applicant"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). Users must provide a valid JWT token in the 'Authorization' header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}