{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Counterparty Risk Management API",
    "description": "The Counterparty Risk Management API is designed to facilitate the assessment and management of risks associated with counterparties in banking operations. This endpoint allows users to submit relevant data for new counterparties, enabling the identification and evaluation of potential financial risks. Financial institutions and risk management teams can leverage this API to enhance their decision-making processes and ensure compliance with regulatory standards. Use cases include onboarding new clients, assessing risk profiles, and performing ongoing risk evaluations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/account-management/counterparty-risk": {
      "post": {
        "tags": [
          "Counterparty Risk Management"
        ],
        "summary": "Create a new counterparty risk assessment.",
        "description": "This endpoint allows users to create a new assessment for counterparty risk. Provide the necessary details in the request body to evaluate the risks associated with a specific counterparty in your operations.",
        "operationId": "createCounterpartyRisk",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating or updating the counterparty risk information in the account management system. This body should contain all the necessary details defined in the schema to ensure accurate processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCounterpartyRiskRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for counterparty risk.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCounterpartyRiskResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCounterpartyRiskRequest": {
        "title": "Counterparty Risk Request Body",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-641075"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer associated with the account.",
            "example": "CUST-808905"
          },
          "ledgerDate": {
            "type": "string",
            "description": "The date of the ledger in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the balance is expressed, typically represented in ISO 4217 format.",
            "example": "USD"
          },
          "ledgerBalance": {
            "type": "number",
            "description": "The balance of the ledger account.",
            "example": 100.0
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for the counterparty risk operation, containing account details and request context.",
        "example": {
          "accountId": "ACC-641075",
          "customerId": "CUST-808905",
          "ledgerDate": "2026-09-15",
          "currency": "USD",
          "ledgerBalance": 100.0,
          "requestContext": {
            "requestId": "bea84a00-23f1-5929-92fd-04b41d90fce5",
            "correlationId": "b212d044-fec6-5d95-99e8-db22380e0228",
            "idempotencyKey": "18fc47b8-3a6a-5acb-b1ad-d6adff9b2f58",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-478388"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple related requests.",
            "example": "xyz789"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that the same request is only processed once.",
            "example": "key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made, in ISO 8601 format.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "BillingSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "WebApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contextual information about the request, including identifiers and metadata."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel (e.g., online, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device used, if applicable.",
            "example": "device-123"
          }
        },
        "description": "Information about the channel through which the request was made."
      },
      "CreateCounterpartyRiskResponse_201": {
        "title": "Counterparty Risk Response",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account.",
            "example": "ACC-473737"
          },
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-944195"
          },
          "resourceId": {
            "type": "string",
            "description": "The identifier for the resource associated with the operation.",
            "example": "RES-177475"
          },
          "status": {
            "type": "string",
            "description": "The current status of the counterparty risk operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the response was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response for the counterparty risk operation.",
        "example": {
          "accountId": "ACC-473737",
          "customerId": "CUST-944195",
          "resourceId": "RES-177475",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c11ddbd3-365d-5189-ae3e-466a96933d7c",
            "correlationId": "b212d044-fec6-5d95-99e8-db22380e0228",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking the operation across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the counterparty risk response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "counterparty-risk-create-counterparty-risk"
        },
        "example": "counterparty-risk-create-counterparty-risk"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme using Bearer tokens implemented with JSON Web Tokens (JWT). Clients must include a valid JWT in the authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}