{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Employee Assignment Update API",
    "description": "The Employee Assignment Update API facilitates the management of employee assignments within an organization. This endpoint allows users to modify existing employee assignments, ensuring accurate tracking and allocation of human resources. Typical consumers of this API include HR personnel and managers who need to adapt assignments in response to organizational changes. By providing the necessary parameters, users can efficiently update assignment details, optimizing resource utilization.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/human-resource-management/employee-assignment/{param1}": {
      "patch": {
        "tags": [
          "Employee Management"
        ],
        "summary": "Update an employee's assignment details.",
        "description": "This endpoint allows you to update the assignment details of a specific employee identified by their ID. Ensure that you provide all necessary fields in the request body to successfully modify the assignment.",
        "operationId": "patchEmployeeAssignmentById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request allows updating the employee assignment details for a specific employee. Ensure to provide the required fields in the JSON body according to the schema. The request operates on the employee identified by the ID EMP-900045.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchEmployeeAssignmentByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchEmployeeAssignmentByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchEmployeeAssignmentByIdRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The details of the changes being requested for the employee assignment.",
            "$ref": "#/components/schemas/EmployeeAssignmentChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes should take effect.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user requesting the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for updating employee assignment details in the Human Resource Management system.",
        "example": {
          "changes": {
            "employeeId": "EMP-158325",
            "assignmentId": "STANDARD",
            "departmentId": "STANDARD"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "c6f88884-56a1-5978-b35a-e1baa10af4e7",
            "correlationId": "e367c27d-f3f9-5f9e-94fb-dcc83c9b0a84",
            "idempotencyKey": "7f912332-afb7-517c-849f-b8cc272bfcb2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-816416"
            }
          }
        }
      },
      "EmployeeAssignmentChanges": {
        "type": "object",
        "properties": {
          "employeeId": {
            "type": "string",
            "description": "The unique identifier of the employee whose assignment is being changed.",
            "example": "EMP12345"
          },
          "assignmentId": {
            "type": "string",
            "description": "The unique identifier of the assignment being modified.",
            "example": "ASSIGN67890"
          },
          "departmentId": {
            "type": "string",
            "description": "The unique identifier of the department to which the employee is being assigned.",
            "example": "DEPT001"
          }
        },
        "description": "Details of the employee assignment changes."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "REQ45678"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests.",
            "example": "CORR123456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "IDEMPOTENCY-KEY-789"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp of when the request was made.",
            "example": "2023-09-30T15:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from where the request originated.",
            "example": "HRSystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from where the request was made.",
            "example": "EmployeeManagementApp"
          },
          "channel": {
            "description": "Information about the channel used to make the request.",
            "$ref": "#/components/schemas/RequestChannel"
          }
        },
        "description": "Contextual information about the request."
      },
      "RequestChannel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel.",
            "example": "CHANNEL123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of communication channel used.",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used to send the request.",
            "example": "DEVICE-98765"
          }
        },
        "description": "Information about the communication channel used for the request."
      },
      "PatchEmployeeAssignmentByIdResponse_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "Indicates the version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "Describes the status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the resource was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Contains additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the employee assignment update operation.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5aec5a53-ef73-5de4-a931-aa1b6fecca98",
            "correlationId": "e367c27d-f3f9-5f9e-94fb-dcc83c9b0a84",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Metadata information associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "This header contains the unique identifier for the endpoint associated with this operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "employee-assignment-update-employee-assignment"
        },
        "example": "employee-assignment-update-employee-assignment"
      },
      "X-Runtime-App": {
        "description": "This header indicates the name of the runtime application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method which allows access tokens to be sent in HTTP headers. The tokens used are in JSON Web Token (JWT) format, ensuring secure transmission of claims based on user authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}