{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Credit Card Position Management API",
    "description": "The Credit Card Position Management API allows financial institutions to efficiently manage and monitor credit card positions in real-time. This endpoint supports the submission of updates related to credit card balances, transactions, and other relevant financial activities. Typical consumers include banking applications, financial dashboards, and analytics tools that require accurate credit card position information for reporting or decision-making purposes. By leveraging this API, organizations can enhance their customer service and improve financial oversight.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/credit-card-position-keeping": {
      "post": {
        "tags": [
          "Credit Card Management"
        ],
        "summary": "Create a new credit card position.",
        "description": "This endpoint allows you to create a new credit card position in the system. Provide the necessary details for the credit card position in the request body to successfully create it.",
        "operationId": "createCreditCardPosition",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to submit the necessary information for keeping track of credit card positions in the system. Please ensure that all required fields are properly filled.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCreditCardPositionRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource has been successfully created.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCreditCardPositionResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCreditCardPositionRequest": {
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "The token representing the credit card used for the transaction.",
            "example": "TOK-883412"
          },
          "cardholderId": {
            "type": "string",
            "description": "The unique identifier of the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant processing the transaction.",
            "example": "MER-794299"
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code assigned to the merchant.",
            "example": "5411"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body schema for credit card position keeping operations",
        "example": {
          "cardToken": "TOK-883412",
          "cardholderId": "STANDARD",
          "merchantId": "MER-794299",
          "transactionAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "merchantCategoryCode": "5411",
          "requestContext": {
            "requestId": "3dccfc6c-931e-5ff5-8a43-a28049738401",
            "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
            "idempotencyKey": "e8552062-f392-5dd2-9c50-2df17fb173d2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-700854"
            }
          }
        }
      },
      "TransactionAmount": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the transaction.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency in which the transaction amount is specified.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the transaction amount."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the request is idempotent, avoiding duplicate processing.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier of the device used for the transaction.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "CreateCreditCardPositionResponse_201": {
        "title": "Credit Card Position Keeping Response",
        "type": "object",
        "properties": {
          "cardholderId": {
            "type": "string",
            "description": "Unique identifier for the cardholder.",
            "example": "STANDARD"
          },
          "merchantId": {
            "type": "string",
            "description": "Unique identifier for the merchant.",
            "example": "MER-450924"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The category code of the merchant.",
            "example": "5411"
          },
          "resourceId": {
            "type": "string",
            "description": "Unique identifier for the resource associated with the transaction.",
            "example": "RES-290422"
          },
          "status": {
            "type": "string",
            "description": "Current status of the credit card operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata associated with the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for credit card position keeping operation.",
        "example": {
          "cardholderId": "STANDARD",
          "merchantId": "MER-450924",
          "merchantCategoryCode": "5411",
          "resourceId": "RES-290422",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "82c1facf-3036-56e3-9a73-ee8a6286d0e4",
            "correlationId": "72f1e34b-f316-5900-b6ba-34567704e92a",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Operation Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation_abcdef"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing occurred.",
            "example": "us-east-1"
          }
        },
        "description": "Metadata containing additional information for the operation."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request. This ID can be used for tracking and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "credit-card-position-keeping-create-credit-card-position-keeping"
        },
        "example": "credit-card-position-keeping-create-credit-card-position-keeping"
      },
      "x-runtime-app": {
        "description": "The identifier of the application that initiated the request, which helps in identifying the source of the request during analysis.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method. Clients should include an access token in the Authorization header of their HTTP requests. The token must be formatted as a JSON Web Token (JWT).",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}