{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Transactions Retrieval API",
    "description": "The Financial Transactions Retrieval API enables users to securely access and retrieve detailed information regarding past and current financial transactions. This API primarily serves banking institutions and financial services providers seeking to monitor payment activities and transaction histories. By utilizing this endpoint, developers can enhance customer experiences with timely data retrieval, ensuring clients have up-to-date information at their fingertips. Typical use cases include auditing transactions, generating financial reports, and facilitating customer inquiries.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/financial-gateway": {
      "get": {
        "tags": [
          "Payments"
        ],
        "summary": "Retrieve financial gateway payment options.",
        "description": "This endpoint allows clients to access available payment options from the financial gateway, enabling them to choose their preferred method for transactions.",
        "operationId": "getPaymentsFinancialGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for the Financial Gateway, providing necessary parameters for processing payments.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentsFinancialGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentsFinancialGatewayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentsFinancialGatewayRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the financial gateway operations.",
        "example": "{}"
      },
      "GetPaymentsFinancialGatewayResponse_200": {
        "title": "Financial Gateway Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of payment records.",
            "example": [
              {
                "paymentId": "PAY-855280",
                "debtorAccountId": "ACC-341951",
                "creditorAccountId": "ACC-328140",
                "instructedAmount": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "requestedExecutionDate": "2026-09-15",
                "remittanceInformation": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Payment"
            }
          },
          "pagination": {
            "description": "Information related to pagination for the results.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information for the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for operations related to the financial gateway, including a list of payments and pagination information.",
        "example": {
          "items": [
            {
              "paymentId": "PAY-855280",
              "debtorAccountId": "ACC-341951",
              "creditorAccountId": "ACC-328140",
              "instructedAmount": {
                "amount": 100.0,
                "currency": "USD"
              },
              "requestedExecutionDate": "2026-09-15",
              "remittanceInformation": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "308b9772-374c-5b4e-8050-42aacf323029",
            "correlationId": "a6bb2490-9cdf-5509-a036-ca64b263c19f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Payment": {
        "title": "Payment",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment record.",
            "example": "abc123"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "Identifier for the account of the debtor.",
            "example": "debtor123"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "Identifier for the account of the creditor.",
            "example": "creditor123"
          },
          "instructedAmount": {
            "description": "The amount and currency instructed for the payment.",
            "$ref": "#/components/schemas/Amount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "Date on which the payment is requested to be executed.",
            "example": "2023-10-01"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Information related to the remittance.",
            "example": "Payment for invoice #1234"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the payment record.",
            "example": "completed"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the payment record was last updated.",
            "example": "2023-10-01T00:00:00Z"
          }
        },
        "description": "Schema representing an individual payment record."
      },
      "Amount": {
        "title": "Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The numeric value of the amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the amount, e.g., USD.",
            "example": "USD"
          }
        },
        "description": "Schema representing an amount and its currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 50
          }
        },
        "description": "Schema representing pagination information for the API response."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "ID for correlating related requests and responses.",
            "example": "correlation123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "Schema representing metadata information for the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-gateway-search-financial-gateway"
        },
        "example": "financial-gateway-search-financial-gateway"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses bearer authentication, where a JSON Web Token (JWT) is used as an access token. The token must be included in the Authorization header of the HTTP request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}