{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Merchant Acquiring Facility Management API",
    "description": "This API facilitates the management of merchant acquiring facilities, allowing businesses to update their card processing configurations efficiently. With the PATCH operation, users can modify specific attributes of existing acquisition facilities, ensuring they meet operational requirements. Typical consumers include merchants and payment processors, who benefit from the ability to adapt their services dynamically. Use cases range from adjusting transaction limits to updating service agreements, streamlining the payment processing ecosystem.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/merchant-acquiring-facility/{param1}": {
      "patch": {
        "tags": [
          "Merchant Acquiring Facilities"
        ],
        "summary": "Update Merchant Acquiring Facility details.",
        "description": "This operation allows you to update the details of a specific Merchant Acquiring Facility identified by its unique ID. Make sure to provide the necessary data in the request to successfully modify the existing information.",
        "operationId": "patchMerchantAcquiringFacilityById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the merchant acquiring facility details for the specified MER-800045. Ensure that the provided JSON matches the schema definitions to successfully apply the updates.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchMerchantAcquiringFacilityByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the resource has been updated.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchMerchantAcquiringFacilityByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchMerchantAcquiringFacilityByIdRequest": {
        "title": "Merchant Acquiring Facility Update Request",
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes being requested for the merchant.",
            "$ref": "#/components/schemas/MerchantChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change being requested.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time at which the changes should be effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the user or system requesting the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating a merchant acquiring facility.",
        "example": {
          "changes": {
            "merchantId": "MER-472284",
            "legalName": "Olivia Bennett",
            "merchantCategoryCode": "5411"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "e2174635-a90b-59bf-a621-2ec15a6baed5",
            "correlationId": "c9548004-58c0-5f3f-93d7-fc32578e001f",
            "idempotencyKey": "484f663a-7ccb-55ac-8455-eb803a3470ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-664699"
            }
          }
        }
      },
      "MerchantChanges": {
        "title": "Merchant Changes",
        "type": "object",
        "properties": {
          "merchantId": {
            "type": "string",
            "description": "The unique identifier of the merchant.",
            "example": "MER-800045"
          },
          "legalName": {
            "type": "string",
            "description": "The legal name of the merchant.",
            "example": "Acme Corporation"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "The merchant category code associated with the merchant.",
            "example": "1234"
          }
        },
        "description": "Schema representing the specific changes for a merchant."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for this request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "An ID used to correlate multiple requests or actions.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key to ensure that the operation is idempotent.",
            "example": "idempotent-key-001"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-09-30T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request was made.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application through which the request originated.",
            "example": "Merchant Management App"
          },
          "channel": {
            "description": "Information regarding the channel from which the request was initiated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context of the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier of the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile, API).",
            "example": "API"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier of the device used in the request.",
            "example": "device-001"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "PatchMerchantAcquiringFacilityByIdResponse_200": {
        "title": "Merchant Acquiring Facility Patch Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version number of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the operation.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the Merchant Acquiring Facility.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "5e0ea2cb-dbd6-526e-89b3-364a9b9871d4",
            "correlationId": "c9548004-58c0-5f3f-93d7-fc32578e001f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related operations.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing took place.",
            "example": "string"
          }
        },
        "description": "Additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "merchant-acquiring-facility-update-merchant-acquiring-facility"
        },
        "example": "merchant-acquiring-facility-update-merchant-acquiring-facility"
      },
      "x-runtime-app": {
        "description": "The identifier of the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes JSON Web Tokens (JWT) as bearer tokens. This method is often used to securely transmit information between parties, allowing clients to authenticate themselves by including the JWT in the authorization header.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}