{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Public Offering Details API",
    "description": "The Public Offering Details API allows users to retrieve detailed information about specific public offerings in corporate finance. This endpoint is essential for investors, analysts, and financial institutions looking to access comprehensive data on public securities being issued. It supports use cases such as market analysis, investment decision-making, and compliance reporting. By querying this API, consumers can gain insights into offering terms, pricing, and issuer details.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-finance/public-offering/{param1}": {
      "get": {
        "tags": [
          "Public Offering"
        ],
        "summary": "Retrieve details of a public offering by ID.",
        "description": "This endpoint allows users to fetch detailed information about a specific public offering identified by its unique ID. Clients can use this data for various analytical and reporting purposes related to corporate finance.",
        "operationId": "getPublicOfferingById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving details about the specific public offering identified by RES-100045 in the corporate finance context. This request body is structured to conform to the required schema for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPublicOfferingByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the requested resource.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPublicOfferingByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPublicOfferingByIdRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation related to public offering in corporate finance.",
        "example": "{}"
      },
      "GetPublicOfferingByIdResponse_200": {
        "type": "object",
        "properties": {
          "clientId": {
            "type": "string",
            "description": "The unique identifier for the client.",
            "example": "STANDARD"
          },
          "engagementId": {
            "type": "string",
            "description": "The unique identifier for the engagement.",
            "example": "STANDARD"
          },
          "transactionType": {
            "type": "string",
            "description": "The type of transaction being performed.",
            "example": "STANDARD"
          },
          "enterpriseValue": {
            "description": "The enterprise value related to the transaction.",
            "$ref": "#/components/schemas/EnterpriseValue"
          },
          "targetCloseDate": {
            "type": "string",
            "description": "The target date for closing the transaction.",
            "example": "2026-09-15"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the record.",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the public offering operation.",
        "example": {
          "clientId": "STANDARD",
          "engagementId": "STANDARD",
          "transactionType": "STANDARD",
          "enterpriseValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "targetCloseDate": "2026-09-15",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "c5269cb9-3273-5bbb-afab-9478784ba6fa",
            "correlationId": "8d3cca08-c7ef-5541-98d4-bf3782041966",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EnterpriseValue": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The amount of the enterprise value.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the enterprise value amount.",
            "example": "string"
          }
        },
        "description": "Schema representing the enterprise value."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation ID for tracking purposes.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "string"
          }
        },
        "description": "Schema representing metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint being accessed. This value is useful for tracking requests and monitoring API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "public-offering-get-public-offering"
        },
        "example": "public-offering-get-public-offering"
      },
      "X-Runtime-App": {
        "description": "Identifies the application that processed the request. This helps in understanding which application instance handled the API call.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method with JSON Web Tokens (JWT). Clients must include the token in the Authorization header of their requests to authenticate.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}