{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Document Directory API",
    "description": "The Document Directory API enables users to access a comprehensive repository of banking documents, facilitating easy retrieval of essential documents such as account statements, transaction records, and loan agreements. This API allows financial institutions and developers to integrate document management capabilities into their applications, enhancing user experience and operational efficiency. Typical consumers include banking applications, third-party financial services, and compliance systems that require access to historical and current documentation. Utilizing this API can streamline document access workflows and improve customer engagement.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/documents/document-directory": {
      "get": {
        "tags": [
          "Document Management"
        ],
        "summary": "Retrieve document directory",
        "description": "Fetches the list of documents available in the document directory, providing insight into the contents and structure of the directory.",
        "operationId": "getDocumentDirectory",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the document directory. It must be formatted as JSON, adhering to the specified schema to ensure correct data structure and validation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDocumentDirectoryRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the list of document directories.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentDirectoryResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDocumentDirectoryRequest": {
        "type": "string",
        "description": "A JSON string representing the request body for the GET operation in the document directory API.",
        "example": "{}"
      },
      "GetDocumentDirectoryResponse_200": {
        "title": "Document Directory Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of documents in the directory.",
            "example": [
              {
                "documentId": "DOC-365393",
                "documentType": "STANDARD",
                "classification": "STANDARD",
                "retentionClass": "STANDARD",
                "ownerId": "STANDARD",
                "fileName": "Northstar Banking Service",
                "mediaType": "STANDARD",
                "checksumSha256": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Document"
            }
          },
          "pagination": {
            "description": "Pagination details for the document list.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Current sort order applied to the document list.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for retrieving a document directory.",
        "example": {
          "items": [
            {
              "documentId": "DOC-365393",
              "documentType": "STANDARD",
              "classification": "STANDARD",
              "retentionClass": "STANDARD",
              "ownerId": "STANDARD",
              "fileName": "Northstar Banking Service",
              "mediaType": "STANDARD",
              "checksumSha256": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "844f39f7-5eb1-5971-a03d-0b111f8fecbb",
            "correlationId": "70bfc204-f0f9-5d5b-9eda-e15d24d8a1ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Document": {
        "title": "Document",
        "type": "object",
        "properties": {
          "documentId": {
            "type": "string",
            "description": "Unique identifier for the document."
          },
          "documentType": {
            "type": "string",
            "description": "The type of document, e.g., report, invoice."
          },
          "classification": {
            "type": "string",
            "description": "The classification of the document for access control."
          },
          "retentionClass": {
            "type": "string",
            "description": "The retention policy associated with the document."
          },
          "ownerId": {
            "type": "string",
            "description": "The identifier of the owner of the document."
          },
          "fileName": {
            "type": "string",
            "description": "The name of the document file."
          },
          "mediaType": {
            "type": "string",
            "description": "The media type of the document, e.g., application/pdf."
          },
          "checksumSha256": {
            "type": "string",
            "description": "The SHA-256 checksum of the document to ensure integrity."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the document record, e.g., active, archived."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the document."
          }
        },
        "description": "Schema representing a single document in the system."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination details."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request/response correlation."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Schema representing additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "document-directory-search-document-directory"
        },
        "example": "document-directory-search-document-directory"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses bearer tokens, specifically JSON Web Tokens (JWT). This method requires the client to send the JWT in the Authorization header of requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}