{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Retrieval API",
    "description": "The Corporate Lease Retrieval API enables businesses to access information related to corporate lease agreements and associated financial details. This API provides a streamlined way for users to retrieve data on existing corporate leases, including terms, conditions, and payment schedules. Typical consumers include financial institutions, corporate banking teams, and lease management systems looking to integrate or analyze lease data. This functionality supports informed decision-making and facilitates better management of corporate leasing portfolios.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease": {
      "get": {
        "tags": [
          "Corporate Lending"
        ],
        "summary": "Retrieve Corporate Lease Details",
        "description": "This endpoint allows users to fetch detailed information about corporate leases available in the deposit lending system. It provides essential data required for understanding or managing corporate lease agreements.",
        "operationId": "getCorporateLeaseDetails",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve information related to corporate leases in the deposit lending system. It should provide the necessary parameters to specify the query, including filter criteria or any other relevant data needed to perform the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateLeaseDetailsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested lease data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateLeaseDetailsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateLeaseDetailsRequest": {
        "type": "string",
        "description": "A request body for retrieving operations related to corporate leasing in the deposit lending context.",
        "example": "{}"
      },
      "GetCorporateLeaseDetailsResponse_200": {
        "title": "Corporate Lease Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of corporate lease items.",
            "example": [
              {
                "customerId": "CUST-180990",
                "accountId": "ACC-690184",
                "productCode": "CHK-PREMIUM-US",
                "principal": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "termMonths": 1,
                "repaymentFrequency": "STANDARD",
                "leasedAssetId": "STANDARD",
                "residualValue": {
                  "amount": 100.0,
                  "currency": "USD"
                },
                "leaseTermMonths": 1,
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/LeaseItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Criteria by which the items were sorted.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for retrieving corporate lease operations, containing a list of lease items, pagination information, sorting criteria, and metadata about the response.",
        "example": {
          "items": [
            {
              "customerId": "CUST-180990",
              "accountId": "ACC-690184",
              "productCode": "CHK-PREMIUM-US",
              "principal": {
                "amount": 100.0,
                "currency": "USD"
              },
              "termMonths": 1,
              "repaymentFrequency": "STANDARD",
              "leasedAssetId": "STANDARD",
              "residualValue": {
                "amount": 100.0,
                "currency": "USD"
              },
              "leaseTermMonths": 1,
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "218526a3-828d-5bed-ad88-6ce847d76da9",
            "correlationId": "d1382837-7a6c-56d7-a402-fea459918955",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "LeaseItem": {
        "title": "Lease Item",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier of the customer associated with the lease.",
            "example": "C123456"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier of the account associated with the lease.",
            "example": "A123456"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the product related to the lease.",
            "example": "LAPTOP_LEASE"
          },
          "principal": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "The duration of the lease in months.",
            "format": "int32",
            "example": 12
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "Frequency of repayment for the lease (e.g., monthly, quarterly).",
            "example": "monthly"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier of the asset being leased.",
            "example": "asset123"
          },
          "residualValue": {
            "$ref": "#/components/schemas/FinancialDetails"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The term of the lease in months.",
            "format": "int32",
            "example": 24
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of the lease record.",
            "example": "active"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the lease item was last updated.",
            "example": "2023-01-01T10:00:00Z"
          }
        },
        "description": "Details of an individual corporate lease item, including customer and account information, principal details, lease terms, and status."
      },
      "FinancialDetails": {
        "title": "Financial Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary value associated with the financial detail.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code for the financial amount.",
            "example": "USD"
          }
        },
        "description": "Contains financial information related to lease items, including amount and currency."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding the pagination of the retrieved list of items, including current page, page size, and total items."
      },
      "Metadata": {
        "title": "Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "resp123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking the request across systems.",
            "example": "corr123"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "2023-01-01T10:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "General information about the response, including identifiers and timestamps."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, used for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-search-corporate-lease"
        },
        "example": "corporate-lease-search-corporate-lease"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application runtime that processed the request, useful for debugging and support.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a Bearer token. A valid JWT (JSON Web Token) must be included in the request headers to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}