{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Application Withdrawal API",
    "description": "This API allows users to initiate the withdrawal of loan applications. By providing the specific loan application ID, consumers can seamlessly process withdrawal requests in real-time. It serves as a key resource for financial institutions and customer service platforms managing loan inquiries and applications. Typical users include loan officers and automated systems that handle customer requests for modifying or retracting applications, ensuring better user experience and operational efficiency.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/withdraw": {
      "post": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Withdraw a loan application.",
        "description": "This endpoint allows the withdrawal of a specific loan application identified by its unique ID. Once the request is processed, the loan application will be marked as withdrawn and will no longer be processed.",
        "operationId": "withdrawLoanApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate the withdrawal of a loan application identified by RES-100045. It should include all necessary information to process the withdrawal, ensuring compliance with the required schema definitions.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WithdrawLoanApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan application has been successfully withdrawn.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WithdrawLoanApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "WithdrawLoanApplicationRes100045Request": {
        "title": "Loan Application Withdrawal Request",
        "type": "object",
        "properties": {
          "reasonCode": {
            "type": "string",
            "description": "The code representing the reason for the withdrawal.",
            "example": "CODE-456"
          },
          "reasonDescription": {
            "type": "string",
            "description": "A detailed description of the reason for the withdrawal.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for withdrawing a loan application.",
        "example": {
          "reasonCode": "CODE-456",
          "reasonDescription": "STANDARD",
          "requestContext": {
            "requestId": "0a53b6b6-a6ff-5636-8025-9dcd71b751b7",
            "correlationId": "82236302-23f6-5ab8-b720-dcc3d5d6af62",
            "idempotencyKey": "b70dbb5e-a0ba-5bc6-8e10-b52612f08ace",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-330330"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate logs or events related to this request.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure the request is idempotent.",
            "example": "key-abcde"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-10-10T10:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "CRM_SYSTEM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "Loan Management App"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing the context in which the request is made."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel used (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "device-xyz"
          }
        },
        "description": "Schema representing the channel used for the request."
      },
      "WithdrawLoanApplicationRes100045Response_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "Identifier for the loan product.",
            "example": "PROD-806014"
          },
          "externalReference": {
            "type": "string",
            "description": "External reference identifier for tracking.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was received.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "Details of the requested principal amount.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The term requested for the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The day of the month preferred for loan repayments.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "Identifier for the primary customer associated with the application.",
            "example": "CUST-985183"
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch handling the application.",
            "example": "CODE-141"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "Identifier for the relationship manager assigned to the loan application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "Code for the marketing campaign associated with the application.",
            "example": "CODE-398"
          },
          "customerConsent": {
            "description": "Customer consent information related to the loan application.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "Unique identifier for the loan application.",
            "example": "42259a43-e71d-0a34-f407-89f830d0a966"
          },
          "applicationNumber": {
            "type": "string",
            "description": "Application number assigned by the system.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "Timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "Timestamp when the application decision was made.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "Identifier for the loan if it has been booked.",
            "example": "LOAN-766153"
          },
          "completionPercent": {
            "type": "integer",
            "description": "Percentage completion status of the loan application process.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "List of outstanding requirements needed to process the application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information capturing creation and update metadata.",
            "$ref": "#/components/schemas/AuditInfo"
          },
          "metadata": {
            "description": "Metadata associated with the loan application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing the response structure for a loan application withdrawal operation.",
        "example": {
          "productId": "PROD-806014",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-985183",
          "branchCode": "CODE-141",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-398",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "42259a43-e71d-0a34-f407-89f830d0a966",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-766153",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "c8f454c5-4486-5264-8514-39f83e4db173",
            "correlationId": "82236302-23f6-5ab8-b720-dcc3d5d6af62",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RequestedPrincipal": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "Currency of the requested principal amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "Amount of money requested as principal.",
            "example": "10000"
          }
        },
        "description": "Details of the principal amount being requested."
      },
      "CustomerConsent": {
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to credit bureau checks.",
            "example": true
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to data processing.",
            "example": true
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates if the customer consents to marketing communications.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp when consent was given.",
            "example": "2023-01-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference identifier for tracking consent.",
            "example": "string"
          }
        },
        "description": "Customer consent details for processing."
      },
      "OutstandingRequirement": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "Code identifying the outstanding requirement.",
            "example": "REQ001"
          },
          "description": {
            "type": "string",
            "description": "Description of the outstanding requirement.",
            "example": "Missing income verification"
          },
          "status": {
            "type": "string",
            "description": "Current status of the outstanding requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "Due date for fulfilling the outstanding requirement.",
            "example": "2023-01-15"
          }
        },
        "description": "Details of an outstanding requirement for the loan application."
      },
      "AuditInfo": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the record was created.",
            "example": "2023-01-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier of the user who created the record.",
            "example": "system"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the record was last updated.",
            "example": "2023-01-01T01:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier of the user who last updated the record.",
            "example": "system"
          },
          "version": {
            "type": "integer",
            "description": "Version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information capturing the creation and update details."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation identifier for tracking the request/response cycle.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the loan application was processed.",
            "example": "us-west"
          }
        },
        "description": "Metadata associated with the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-withdraw-loan-application"
        },
        "example": "banking-loans-openapi-withdraw-loan-application"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token, which is a JSON Web Token (JWT), to authorize access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}