{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Clearing Transaction Management API",
    "description": "The Card Clearing Transaction Management API supports the processing and management of card clearing transactions within the banking ecosystem. This API allows financial institutions to initiate and manage clearing operations for card payments, ensuring efficient transaction processing and reconciliation. Typical consumers include banks and payment processors that require streamlined handling of card-related financial transactions. This API plays a critical role in maintaining accurate financial records and facilitating secure payment flows.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/payments/card-clearing/clearings": {
      "post": {
        "tags": [
          "Payments"
        ],
        "summary": "Clear a card payment clearing.",
        "description": "This operation handles the clearing of a card payment, ensuring that the funds are processed and the transaction is finalized. It is an essential step in the payment lifecycle.",
        "operationId": "clearCardClearing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a card clearing operation. It should contain the necessary details for processing the card clearing transaction.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ClearCardClearingRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ClearCardClearingResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "ClearCardClearingRequest": {
        "title": "Card Clearing Payment Request",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment.",
            "example": "PAY-217882"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The unique identifier for the debtor's account.",
            "example": "ACC-757812"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The unique identifier for the creditor's account.",
            "example": "ACC-823261"
          },
          "instructedAmount": {
            "description": "The amount and currency involved in the payment.",
            "$ref": "#/components/schemas/InstructedAmount"
          },
          "requestedExecutionDate": {
            "type": "string",
            "description": "The date when the payment is requested to be executed.",
            "example": "2026-09-15"
          },
          "remittanceInformation": {
            "type": "string",
            "description": "Additional information for the remittance.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents a request body for processing card clearing payments.",
        "example": {
          "paymentId": "PAY-217882",
          "debtorAccountId": "ACC-757812",
          "creditorAccountId": "ACC-823261",
          "instructedAmount": {
            "amount": 100.0,
            "currency": "USD"
          },
          "requestedExecutionDate": "2026-09-15",
          "remittanceInformation": "STANDARD",
          "requestContext": {
            "requestId": "0b5ec1d1-eb9a-5f54-9a21-dc5a45fb4975",
            "correlationId": "1b8a4f5c-0913-5dea-a5fd-5a9df103e58c",
            "idempotencyKey": "ae77bb52-fde5-503b-ab86-8e94fddf4fd2",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-781716"
            }
          }
        }
      },
      "InstructedAmount": {
        "title": "Instructed Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount to be processed.",
            "example": 0.0
          },
          "currency": {
            "type": "string",
            "description": "The currency code in which the amount is denominated.",
            "example": "string"
          }
        },
        "description": "Schema representing the amount and currency for a payment instruction."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the system making the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the application making the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel from which the request originated.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual metadata for the payment request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., online, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used in the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information for the request context."
      },
      "ClearCardClearingResponse_202": {
        "title": "Card Clearing Response",
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment transaction.",
            "example": "PAY-998126"
          },
          "debtorAccountId": {
            "type": "string",
            "description": "The unique identifier for the debtor's account involved in the transaction.",
            "example": "ACC-363683"
          },
          "creditorAccountId": {
            "type": "string",
            "description": "The unique identifier for the creditor's account involved in the transaction.",
            "example": "ACC-130895"
          },
          "processingReference": {
            "type": "string",
            "description": "A reference provided by the processing system for tracking the transaction.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the payment transaction (e.g., 'SUCCESS', 'PENDING', 'FAILED').",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The timestamp when the transaction was accepted for processing.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the payment processing.",
            "$ref": "#/components/schemas/ClearingMetadata"
          }
        },
        "description": "This schema represents the response object for card clearing operations, detailing the results of a payment processing request.",
        "example": {
          "paymentId": "PAY-998126",
          "debtorAccountId": "ACC-363683",
          "creditorAccountId": "ACC-130895",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "7db513e9-f4be-5e2e-8f22-debba700f5b1",
            "correlationId": "1b8a4f5c-0913-5dea-a5fd-5a9df103e58c",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "ClearingMetadata": {
        "title": "Clearing Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response given by the processing system.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate requests and responses in the transaction process.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "This schema contains metadata information regarding the card clearing transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the clearing operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-clearing-clear-card-clearing"
        },
        "example": "card-clearing-clear-card-clearing"
      },
      "X-Runtime-App": {
        "description": "The name of the application/runtime that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses Bearer Authentication for access control, utilizing JSON Web Tokens (JWT) to verify the identity and permissions of users or applications. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}