{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Research Update API",
    "description": "The Market Research Update API enables businesses to modify existing market research data efficiently. This API supports operations to adjust parameters pertaining to ongoing market analyses, allowing for timely updates based on new insights or changes in business strategy. Ideal for data analysts and market researchers, this endpoint facilitates precise management of market research records, ensuring that stakeholders have access to the most relevant and up-to-date information. Typical use cases include adjusting research findings, aligning them with current trends, or correcting inaccuracies.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/business-analysis/market-research/{param1}": {
      "patch": {
        "tags": [
          "Market Research"
        ],
        "summary": "Update Market Research Resource",
        "description": "This endpoint allows you to update the details of a specific market research resource identified by its unique ID. It is designed to help businesses refine their market analysis by providing a way to modify existing information as necessary.",
        "operationId": "updateMarketResearchResource",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the market research details for the specified resource. The payload should contain information that reflects the changes intended for the market research data.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMarketResearchResourceRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successfully processed and the resource has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateMarketResearchResourceResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateMarketResearchResourceRequest": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "An object containing the details of the changes being requested.",
            "$ref": "#/components/schemas/AnalysisChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The effective time for the changes.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "The identifier of the person or system that requested the change.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "An object holding metadata about the request context.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for patching the market research operations.",
        "example": {
          "changes": {
            "analysisId": "STANDARD",
            "segmentId": "STANDARD",
            "periodStart": "2026-08-11"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "8b90c700-88de-5419-b140-24f44353a475",
            "correlationId": "8fbbda3b-e355-5e8c-acf3-d261e5a72a19",
            "idempotencyKey": "d24ed363-fabd-536a-8eb3-291082912099",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-609046"
            }
          }
        }
      },
      "AnalysisChanges": {
        "type": "object",
        "properties": {
          "analysisId": {
            "type": "string",
            "description": "The unique identifier for the analysis.",
            "example": "12345"
          },
          "segmentId": {
            "type": "string",
            "description": "The unique identifier for the segment.",
            "example": "67890"
          },
          "periodStart": {
            "type": "string",
            "description": "The start date of the period for which the analysis applies.",
            "example": "2023-01-01"
          }
        },
        "description": "Details of the analysis changes."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "The unique identifier for the request.",
            "example": "req-001"
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier for tracing the request across systems.",
            "example": "corr-001"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "The idempotency key to ensure the request is not processed multiple times.",
            "example": "key-123"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originates.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that triggered the request.",
            "example": "AppA"
          },
          "channel": {
            "description": "An object containing the details about the communication channel.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Context information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "The unique identifier for the channel used.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "The type of channel through which the request was made.",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "The unique identifier for the device used to send the request.",
            "example": "device-456"
          }
        },
        "description": "Details related to the communication channel used."
      },
      "UpdateMarketResearchResourceResponse_200": {
        "title": "Market Research Response",
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response schema.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp of when the operation was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata about the response, including identifiers and timestamps.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response schema for the market research operation, providing details about the operation's status and relevant metadata.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "013133f4-66ff-53af-9922-c2e9335a6dcc",
            "correlationId": "8fbbda3b-e355-5e8c-acf3-d261e5a72a19",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier to correlate related requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the response was processed.",
            "example": "string"
          }
        },
        "description": "Contains metadata about the response, including unique identifiers and processing information."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint that processes the request. This ID helps in tracing the request for logging and debugging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-research-update-market-research"
        },
        "example": "market-research-update-market-research"
      },
      "X-Runtime-App": {
        "description": "The name of the application or service runtime that handled the request. This information can be useful for monitoring and managing application performance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method with JSON Web Tokens (JWT) to authorize users and allow them to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}