{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Enterprise Tax Management API",
    "description": "The Enterprise Tax Management API provides businesses with seamless access to critical tax administration functions. This API enables users to retrieve detailed information on enterprise tax policies, regulations, and compliance measures. Typical consumers include finance departments and tax professionals seeking to optimize tax management processes. With this API, stakeholders can ensure they remain up-to-date with the latest tax information and efficiently manage their tax obligations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/finance/enterprise-tax-administration": {
      "get": {
        "tags": [
          "Finance"
        ],
        "summary": "Retrieve enterprise tax administration details.",
        "description": "This endpoint allows you to fetch detailed information regarding enterprise tax administration within the finance domain. Use this endpoint to access relevant tax data and ensure compliance with regulations.",
        "operationId": "getEnterpriseTaxAdministration",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a GET operation for the Enterprise Tax Administration within the finance module. It expects data in JSON format to retrieve relevant enterprise tax information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetEnterpriseTaxAdministrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the tax administration data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetEnterpriseTaxAdministrationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetEnterpriseTaxAdministrationRequest": {
        "type": "string",
        "description": "This schema represents the request body expected from the GET operation related to enterprise tax administration. It is designed to hold a string value that conveys essential information for the operation.",
        "example": "{}"
      },
      "GetEnterpriseTaxAdministrationResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of tax administration entries.",
            "example": [
              {
                "legalEntityId": "STANDARD",
                "ledgerId": "STANDARD",
                "accountingPeriod": "STANDARD",
                "amount": {
                  "value": 100.0,
                  "currency": "USD"
                },
                "postingDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/TaxAdministrationEntry"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information for the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Enterprise Tax Administration GET operation.",
        "example": {
          "items": [
            {
              "legalEntityId": "STANDARD",
              "ledgerId": "STANDARD",
              "accountingPeriod": "STANDARD",
              "amount": {
                "value": 100.0,
                "currency": "USD"
              },
              "postingDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "55ea886e-fcfb-5ff8-a9a8-278836b637d4",
            "correlationId": "c17ab32e-1e8c-5e47-a192-7583891d5f4b",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "TaxAdministrationEntry": {
        "type": "object",
        "properties": {
          "legalEntityId": {
            "type": "string",
            "description": "The identifier for the legal entity associated with this entry.",
            "example": "LE12345"
          },
          "ledgerId": {
            "type": "string",
            "description": "The identifier for the ledger this entry belongs to.",
            "example": "L1234"
          },
          "accountingPeriod": {
            "type": "string",
            "description": "The accounting period for this entry.",
            "example": "2023-01"
          },
          "amount": {
            "$ref": "#/components/schemas/Amount"
          },
          "postingDate": {
            "type": "string",
            "description": "The date on which this entry was posted.",
            "example": "2023-01-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "The status of this entry.",
            "example": "Posted"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update made to this entry.",
            "example": "2023-01-02T00:00:00Z"
          }
        },
        "description": "Detailed information about a tax administration entry."
      },
      "Amount": {
        "type": "object",
        "properties": {
          "value": {
            "type": "number",
            "description": "The numeric amount.",
            "example": 100.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the amount.",
            "example": "USD"
          }
        },
        "description": "Contains the monetary value and its currency."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for the response."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-1234"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests.",
            "example": "correlation-5678"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US-EAST"
          }
        },
        "description": "Additional information regarding the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-tax-administration-search-enterprise-tax-administration"
        },
        "example": "enterprise-tax-administration-search-enterprise-tax-administration"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses a Bearer token, which is a JSON Web Token (JWT). The token must be included in the Authorization header of each request to secure API endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}