{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_System Deployment Management API",
    "description": "The System Deployment Management API facilitates the deployment of microservices within the IT management framework of a banking system. This API allows users to initiate and manage the deployment process, ensuring that updates and new features are seamlessly integrated into the production environment. Typical consumers include DevOps teams and system administrators aiming to enhance operational efficiency and maintain system integrity. Use cases involve pushing new deployments and monitoring ongoing deployment activities to assure quality and compliance.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/system-deployment/deployments": {
      "post": {
        "tags": [
          "System Deployment"
        ],
        "summary": "Deploy a new system deployment.",
        "description": "This endpoint allows users to create a new system deployment in the IT management module. Ensure that all required parameters are provided to successfully create a deployment instance.",
        "operationId": "createSystemDeployment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-workflow-id"
          },
          {
            "$ref": "#/components/parameters/idempotency-key"
          },
          {
            "$ref": "#/components/parameters/x-workflow-step"
          },
          {
            "$ref": "#/components/parameters/x-workflow-branch"
          },
          {
            "$ref": "#/components/parameters/x-workflow-decision"
          },
          {
            "$ref": "#/components/parameters/x-workflow-internal"
          },
          {
            "$ref": "#/components/parameters/x-workflow-execution-id"
          },
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload for deploying a new system within the IT management module. This request provides the necessary details about the deployment configuration and parameters required for the operation.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateSystemDeploymentRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted for processing and will be completed asynchronously.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              },
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              },
              "X-Workflow-Name": {
                "$ref": "#/components/headers/X-Workflow-Name"
              },
              "X-Workflow-State": {
                "$ref": "#/components/headers/X-Workflow-State"
              },
              "X-Workflow-Execution-Id": {
                "$ref": "#/components/headers/X-Workflow-Execution-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemDeploymentResponse_202"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected error occurred while processing the request. Please try again later.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemDeploymentResponse_500"
                }
              }
            }
          },
          "422": {
            "description": "The request was well-formed but was unable to be processed due to semantic errors.",
            "headers": {
              "X-Workflow-Id": {
                "$ref": "#/components/headers/X-Workflow-Id"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSystemDeploymentResponse_422"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateSystemDeploymentResponse_202": {
        "title": "System Deployment Response",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "Unique identifier for the system.",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "Identifier for the change request associated with the deployment.",
            "example": "STANDARD"
          },
          "processingReference": {
            "type": "string",
            "description": "Reference identifier for tracking the processing of the request.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the deployment operation.",
            "example": "ACTIVE"
          },
          "acceptedAt": {
            "type": "string",
            "description": "Timestamp indicating when the deployment was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "metadata": {
            "$ref": "#/components/schemas/DeploymentMetadata"
          }
        },
        "description": "Schema representing the response of a system deployment operation.",
        "example": {
          "systemId": "STANDARD",
          "changeId": "STANDARD",
          "processingReference": "STANDARD",
          "status": "ACTIVE",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "metadata": {
            "responseId": "ca24beb0-0a3a-54d0-80b1-5e46f47774eb",
            "correlationId": "c040c654-8235-5f0b-a059-000cce8c4170",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "DeploymentMetadata": {
        "title": "Deployment Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple related requests and responses.",
            "example": "correlation-54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2023-09-25T12:35:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the deployment request took place.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata associated with the deployment response."
      },
      "CreateSystemDeploymentResponse_500": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A descriptive message indicating the error that occurred.",
            "example": "A required core banking dependency is unavailable"
          },
          "workflow": {
            "type": "string",
            "description": "The current workflow state at the time of the error.",
            "example": "WF-085"
          },
          "failedAfterHop": {
            "type": "integer",
            "description": "The hop number after which the deployment failed.",
            "format": "int32",
            "example": 3
          },
          "code": {
            "type": "string",
            "description": "An error code representing the specific type of failure.",
            "example": "DOWNSTREAM_CORE_UNAVAILABLE"
          }
        },
        "description": "Schema representing the response structure for a 500 error during deployment operations.",
        "example": {
          "message": "A required core banking dependency is unavailable",
          "workflow": "WF-085",
          "failedAfterHop": 3,
          "code": "DOWNSTREAM_CORE_UNAVAILABLE"
        }
      },
      "CreateSystemDeploymentRequest": {
        "title": "System Deployment Request",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system being deployed.",
            "example": "STANDARD"
          },
          "environment": {
            "type": "string",
            "description": "The target environment for the deployment (e.g., production, staging).",
            "example": "STANDARD"
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the change associated with this deployment.",
            "example": "STANDARD"
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team responsible for the deployment.",
            "example": "STANDARD"
          },
          "plannedAt": {
            "type": "string",
            "description": "The planned date and time for the deployment.",
            "example": "2026-08-11T12:00:00Z"
          },
          "serviceTier": {
            "type": "string",
            "description": "The service tier at which the system will operate.",
            "example": "STANDARD"
          },
          "availabilityTargetPercent": {
            "type": "number",
            "description": "The target availability percentage for the deployed system.",
            "example": 100.0
          },
          "maintenanceWindow": {
            "type": "string",
            "description": "The maintenance window during which the deployment will occur.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for deploying a system in an IT management context.",
        "example": {
          "systemId": "STANDARD",
          "environment": "STANDARD",
          "changeId": "STANDARD",
          "ownerTeam": "STANDARD",
          "plannedAt": "2026-08-11T12:00:00Z",
          "serviceTier": "STANDARD",
          "availabilityTargetPercent": 100.0,
          "maintenanceWindow": "STANDARD",
          "requestContext": {
            "requestId": "c09dca55-99ca-56ef-9d2b-45dced7a395a",
            "correlationId": "c040c654-8235-5f0b-a059-000cce8c4170",
            "idempotencyKey": "6141cf36-3714-59f7-aecd-dcfd9f4cf0ab",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-800203"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for tracking request correlations across systems.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure that a request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system that initiated the request.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information regarding the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing contextual information for the request."
      },
      "Channel": {
        "title": "Channel",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device through which the request was made.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "CreateSystemDeploymentResponse_422": {
        "type": "object",
        "properties": {
          "message": {
            "type": "string",
            "description": "A descriptive message about the error.",
            "example": "Enhanced fraud/compliance review rejected the request"
          },
          "workflow": {
            "type": "string",
            "description": "The identifier or name of the workflow that encountered the error.",
            "example": "WF-085"
          },
          "code": {
            "type": "string",
            "description": "A specific error code that categorizes the type of error.",
            "example": "RISK_REVIEW_REJECTED"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier for tracing the request across systems.",
            "example": "14efd74b-8818-4f47-b7fc-1106b93890a4"
          }
        },
        "description": "Response object returned when there is a validation error during deployment.",
        "example": {
          "message": "Enhanced fraud/compliance review rejected the request",
          "workflow": "WF-085",
          "code": "RISK_REVIEW_REJECTED",
          "correlationId": "14efd74b-8818-4f47-b7fc-1106b93890a4"
        }
      }
    },
    "parameters": {
      "x-workflow-id": {
        "name": "x-workflow-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-085"
        },
        "example": "WF-085"
      },
      "idempotency-key": {
        "name": "idempotency-key",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "3651d1cb-9a9d-4a0d-a5b8-14bffb8df777"
        },
        "example": "3651d1cb-9a9d-4a0d-a5b8-14bffb8df777"
      },
      "x-workflow-step": {
        "name": "x-workflow-step",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "1"
        },
        "example": "1"
      },
      "x-workflow-branch": {
        "name": "x-workflow-branch",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "main"
        },
        "example": "main"
      },
      "x-workflow-decision": {
        "name": "x-workflow-decision",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "RISK_REJECT"
        },
        "example": "RISK_REJECT"
      },
      "x-workflow-internal": {
        "name": "x-workflow-internal",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "true"
        },
        "example": "true"
      },
      "x-workflow-execution-id": {
        "name": "x-workflow-execution-id",
        "in": "header",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "8da80820-10d7-4d51-a1ae-4765bb9db8a9"
        },
        "example": "8da80820-10d7-4d51-a1ae-4765bb9db8a9"
      },
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202",
            "MICROSERVICE_PROD_500",
            "MICROSERVICE_PROD_422"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint associated with the deployment request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "system-deployment-deploy-system-deployment"
        },
        "example": "system-deployment-deploy-system-deployment"
      },
      "X-Runtime-App": {
        "description": "The name and version of the application that is currently running in the deployment.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      },
      "X-Workflow-Id": {
        "description": "A unique identifier for the workflow linked to the request that encountered a validation error, needed for identifying the specific workflow instance.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "WF-085"
        },
        "example": "WF-085"
      },
      "X-Workflow-Name": {
        "description": "The name of the workflow associated with the deployment operation.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IT Production Release and Deployment"
        },
        "example": "IT Production Release and Deployment"
      },
      "X-Workflow-State": {
        "description": "The current state of the workflow being executed. Possible values include InProgress, Completed, or Failed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "IN_PROGRESS"
        },
        "example": "IN_PROGRESS"
      },
      "X-Workflow-Execution-Id": {
        "description": "A unique identifier for the specific execution instance of the workflow.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "7b65153e-2ed9-4dc4-a0af-7fedfaf6ffe6"
        },
        "example": "7b65153e-2ed9-4dc4-a0af-7fedfaf6ffe6"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method. Clients must include a valid JSON Web Token (JWT) in the Authorization header of their requests to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}