{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Recurring Transactions Management API",
    "description": "The Recurring Transactions Management API facilitates the creation and management of recurring transactions for customers. It allows businesses to automate payment processing for subscriptions, memberships, or repeat orders. Typical consumers of this API include merchants and financial service providers seeking to streamline billing cycles and enhance customer payment experiences. With this API, organizations can efficiently handle multiple transaction schedules while ensuring compliance with relevant financial regulations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/recurring-transactions": {
      "post": {
        "tags": [
          "Recurring Transactions"
        ],
        "summary": "Create a recurring transaction for a customer.",
        "description": "This endpoint allows you to create a new recurring transaction for a specific customer identified by their ID. Ensure that you provide all necessary details for the transaction in the request body.",
        "operationId": "createRecurringTransactionForCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body allows clients to initiate a recurring transaction for a specific customer, identified by the customer ID CUST-100045. The request must include the necessary details to set up the transaction, including payment information and the frequency of recurrence.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateRecurringTransactionForCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was successful, and recurring transactions data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateRecurringTransactionForCustomerResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateRecurringTransactionForCustomerRequest": {
        "title": "Recurring Transactions Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "An array of account IDs that are involved in the recurring transaction.",
            "example": [
              "ACC-921280"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "This schema represents the request body for the recurring transactions operation.",
        "example": {
          "accountIds": [
            "ACC-921280"
          ],
          "requestContext": {
            "requestId": "b58fff8c-de6d-5327-b4c0-3d525278a99d",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "idempotencyKey": "8213b32f-4801-52b6-99e3-ccb6653c4f4f",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-951106"
            }
          }
        }
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "A unique identifier to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "A key used to ensure that a request is processed only once.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "This schema provides contextual information related to the request."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "An identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "An identifier for the device used in the transaction.",
            "example": "string"
          }
        },
        "description": "This schema contains details about the channel used for the request."
      },
      "CreateRecurringTransactionForCustomerResponse_200": {
        "title": "Recurring Transactions Response",
        "type": "object",
        "properties": {
          "customerRecurringTransactions": {
            "type": "object",
            "properties": {
              "recurringOutflows": {
                "type": "array",
                "description": "List of recurring outflow transactions for the customer.",
                "items": {
                  "$ref": "#/components/schemas/RecurringTransactionDetails"
                }
              },
              "recurringInflows": {
                "type": "array",
                "description": "List of recurring inflow transactions for the customer.",
                "items": {
                  "$ref": "#/components/schemas/RecurringTransactionDetails"
                }
              }
            },
            "description": "Details of the customer's recurring transactions.",
            "example": {
              "recurringOutflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-144436"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0,
                  "medianHistoricalAmount": 100.0,
                  "countOfTransactions": 1
                }
              ],
              "recurringInflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-441311"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0,
                  "medianHistoricalAmount": 100.0,
                  "countOfTransactions": 1
                }
              ]
            }
          },
          "accountRecurringTransactions": {
            "type": "array",
            "description": "List of recurring transactions per account associated with the customer.",
            "example": [
              {
                "accountId": "ACC-609101",
                "recurringOutflows": [
                  {
                    "normalizedPayeeName": "Northstar Banking Service",
                    "transactionCategories": [
                      "STANDARD"
                    ],
                    "transactionIds": [
                      "TXN-718032"
                    ],
                    "cadence": 1,
                    "status": "ACTIVE",
                    "expectedNextTransactionDate": "2026-09-15",
                    "amount": 100.0,
                    "minimumHistoricalAmount": 100.0,
                    "maximumHistoricalAmount": 100.0,
                    "meanHistoricalAmount": 100.0
                  }
                ]
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AccountRecurringTransaction"
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "Unique identifier for the response."
              },
              "correlationId": {
                "type": "string",
                "description": "ID used to correlate requests in the system."
              },
              "generatedAt": {
                "type": "string",
                "description": "Timestamp indicating when the response was generated."
              },
              "processingRegion": {
                "type": "string",
                "description": "Region where the response was processed."
              }
            },
            "description": "Additional metadata about the response.",
            "example": {
              "responseId": "808e3fa6-cf09-5273-9d64-88c17ab24f8b",
              "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response for recurring transactions related to a specific customer, including both inflows and outflows.",
        "example": {
          "customerRecurringTransactions": {
            "recurringOutflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-144436"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ],
            "recurringInflows": [
              {
                "normalizedPayeeName": "Northstar Banking Service",
                "transactionCategories": [
                  "STANDARD"
                ],
                "transactionIds": [
                  "TXN-441311"
                ],
                "cadence": 1,
                "status": "ACTIVE",
                "expectedNextTransactionDate": "2026-09-15",
                "amount": 100.0,
                "minimumHistoricalAmount": 100.0,
                "maximumHistoricalAmount": 100.0,
                "meanHistoricalAmount": 100.0,
                "medianHistoricalAmount": 100.0,
                "countOfTransactions": 1
              }
            ]
          },
          "accountRecurringTransactions": [
            {
              "accountId": "ACC-609101",
              "recurringOutflows": [
                {
                  "normalizedPayeeName": "Northstar Banking Service",
                  "transactionCategories": [
                    "STANDARD"
                  ],
                  "transactionIds": [
                    "TXN-718032"
                  ],
                  "cadence": 1,
                  "status": "ACTIVE",
                  "expectedNextTransactionDate": "2026-09-15",
                  "amount": 100.0,
                  "minimumHistoricalAmount": 100.0,
                  "maximumHistoricalAmount": 100.0,
                  "meanHistoricalAmount": 100.0
                }
              ]
            }
          ],
          "metadata": {
            "responseId": "808e3fa6-cf09-5273-9d64-88c17ab24f8b",
            "correlationId": "e8deb9ba-fcd3-59c7-98ce-6bb6bf36f6a8",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "RecurringTransactionDetails": {
        "title": "Recurring Transaction Details",
        "type": "object",
        "properties": {
          "normalizedPayeeName": {
            "type": "string",
            "description": "The normalized name of the payee for the transaction."
          },
          "transactionCategories": {
            "type": "array",
            "description": "Categories associated with the transaction.",
            "items": {
              "type": "string"
            }
          },
          "transactionIds": {
            "type": "array",
            "description": "IDs of the transactions associated with this recurring transaction.",
            "items": {
              "type": "string"
            }
          },
          "cadence": {
            "type": "integer",
            "description": "The frequency of the transaction occurrences.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "The current status of the recurring transaction."
          },
          "expectedNextTransactionDate": {
            "type": "string",
            "description": "The expected date of the next transaction occurrence."
          },
          "amount": {
            "type": "number",
            "description": "The amount of the recurring transaction."
          },
          "minimumHistoricalAmount": {
            "type": "number",
            "description": "The minimum amount observed in historical transactions."
          },
          "maximumHistoricalAmount": {
            "type": "number",
            "description": "The maximum amount observed in historical transactions."
          },
          "meanHistoricalAmount": {
            "type": "number",
            "description": "The mean amount calculated from historical transactions."
          },
          "medianHistoricalAmount": {
            "type": "number",
            "description": "The median amount calculated from historical transactions."
          },
          "countOfTransactions": {
            "type": "integer",
            "description": "The total count of transactions associated with this recurring entry.",
            "format": "int32"
          }
        },
        "description": "Details of a recurring transaction, which can be either an inflow or outflow."
      },
      "AccountRecurringTransaction": {
        "title": "Account Recurring Transaction",
        "type": "object",
        "properties": {
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "recurringOutflows": {
            "type": "array",
            "description": "List of recurring outflow transactions for the account.",
            "items": {
              "$ref": "#/components/schemas/RecurringTransactionDetails"
            }
          }
        },
        "description": "Details of recurring transactions associated with an account for a customer."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the endpoint that processed the request, useful for debugging and logging purposes.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-recurring-transactions"
        },
        "example": "open-finance-api-get-recurring-transactions"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, allowing for tracking of interactions across services.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses a bearer token formatted as a JSON Web Token (JWT). Clients must provide this token in the Authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}