{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Operational Gateway API",
    "description": "The Operational Gateway API facilitates seamless integration and retrieval of vital banking IT management data. This endpoint allows users to access key operational metrics and statuses, ensuring informed decision-making and enhanced operational efficiency. Typical consumers include banking staff and IT management teams who require up-to-date insights into system performance and stability. Utilize this API to keep track of operational health and support strategic initiatives effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/it-management/operational-gateway": {
      "get": {
        "tags": [
          "IT Management"
        ],
        "summary": "Retrieve the operational gateway information.",
        "description": "This endpoint allows users to retrieve detailed information about the operational gateway within the IT management system. It serves as a crucial point for managing and overseeing operational tasks and connectivity.",
        "operationId": "getOperationalGateway",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters for retrieving information regarding the operational gateway operations in the IT management context. Ensure that the provided schema adheres to the required structure for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetOperationalGatewayRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful retrieval of operational gateway data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetOperationalGatewayResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetOperationalGatewayRequest": {
        "type": "string",
        "description": "This schema represents the body of the GET request for the operational gateway operations.",
        "example": "{}"
      },
      "GetOperationalGatewayResponse_200": {
        "title": "Operations Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "An array of operation items, each providing details about a specific operation.",
            "example": [
              {
                "systemId": "STANDARD",
                "environment": "STANDARD",
                "changeId": "STANDARD",
                "ownerTeam": "STANDARD",
                "plannedAt": "2026-08-11T12:00:00Z",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OperationItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Specifies the sorting order of the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "The response object for the Operations GET request, containing an array of items and relevant pagination and metadata information.",
        "example": {
          "items": [
            {
              "systemId": "STANDARD",
              "environment": "STANDARD",
              "changeId": "STANDARD",
              "ownerTeam": "STANDARD",
              "plannedAt": "2026-08-11T12:00:00Z",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "91bb55ef-94c2-5e13-8249-ed15236601e2",
            "correlationId": "f04820ec-09c6-5593-a4c5-5e67bbfec5e1",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OperationItem": {
        "title": "Operation Item",
        "type": "object",
        "properties": {
          "systemId": {
            "type": "string",
            "description": "The unique identifier for the system related to the operation."
          },
          "environment": {
            "type": "string",
            "description": "The environment in which the operation is taking place."
          },
          "changeId": {
            "type": "string",
            "description": "The identifier for the associated change."
          },
          "ownerTeam": {
            "type": "string",
            "description": "The team that owns the operation."
          },
          "plannedAt": {
            "type": "string",
            "description": "The date and time when the operation is planned to occur."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the operation record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the operation was last updated."
          }
        },
        "description": "Details of a specific operation within the items array."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32",
            "example": 0
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32",
            "example": 0
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available across all pages.",
            "format": "int32",
            "example": 0
          }
        },
        "description": "Information related to the pagination of the response."
      },
      "Metadata": {
        "title": "Metadata Information",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for this specific response."
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate this response with other requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing of the request took place."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "operational-gateway-search-operational-gateway"
        },
        "example": "operational-gateway-search-operational-gateway"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer authentication method, which requires a valid JSON Web Token (JWT) to be included in the request header. The token typically encodes user information and is issued by the authentication server.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}