{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Account Access API",
    "description": "The Customer Account Access API enables users to retrieve detailed information about customer accounts linked to specific institution logins. This endpoint provides essential data on customer interactions with various banking institutions, facilitating seamless integration for financial service providers. It serves stakeholders like developers and financial analysts who require access to account-level insights for compliance, reporting, or customer support. Utilize this API to enhance user experiences and streamline account management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/{customerId}/institutionlogins/{institutionloginId}/accounts/simple": {
      "get": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Retrieve Simple Accounts for a Customer's Institution Login",
        "description": "This endpoint allows you to fetch simple account details associated with a specific institution login for a given customer. You can use this endpoint to view the account information relevant to the customer's institutional login, facilitating a better understanding of their financial connections.",
        "operationId": "getSimpleAccountsForCustomerInstitutionLogin",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving the simple accounts associated with the specified customer and institution login. This request expects a JSON payload that conforms to the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetSimpleAccountsForCustomerInstitutionLoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested account information.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSimpleAccountsForCustomerInstitutionLoginResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetSimpleAccountsForCustomerInstitutionLoginRequest": {
        "title": "Get Account Request Body",
        "type": "string",
        "description": "The request body for retrieving account information associated with a specific customer and institution login.",
        "example": "{}"
      },
      "GetSimpleAccountsForCustomerInstitutionLoginResponse_200": {
        "type": "object",
        "properties": {
          "accounts": {
            "type": "array",
            "description": "An array of account objects belonging to the customer.",
            "example": [
              {
                "id": "STANDARD",
                "accountNumberDisplay": "STANDARD",
                "name": "Northstar Banking Service",
                "type": "STANDARD",
                "aggregationStatusCode": 1,
                "status": "ACTIVE",
                "customerId": "CUST-381985",
                "institutionId": "STANDARD",
                "aggregationSuccessDate": 1,
                "aggregationAttemptDate": 1,
                "createdDate": 1,
                "currency": "USD",
                "institutionLoginId": 1,
                "displayPosition": 1,
                "parentAccount": "STANDARD",
                "linkedAccountDate": 1
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Account"
            }
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for fetching a list of bank accounts associated with a customer.",
        "example": {
          "accounts": [
            {
              "id": "STANDARD",
              "accountNumberDisplay": "STANDARD",
              "name": "Northstar Banking Service",
              "type": "STANDARD",
              "aggregationStatusCode": 1,
              "status": "ACTIVE",
              "customerId": "CUST-381985",
              "institutionId": "STANDARD",
              "aggregationSuccessDate": 1,
              "aggregationAttemptDate": 1,
              "createdDate": 1,
              "currency": "USD",
              "institutionLoginId": 1,
              "displayPosition": 1,
              "parentAccount": "STANDARD",
              "linkedAccountDate": 1
            }
          ],
          "metadata": {
            "responseId": "eb2228d7-52b3-5999-9c16-c32f0fdf8ae1",
            "correlationId": "cad91858-cc2e-5923-81d5-5f08e5af6b72",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Account": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the account."
          },
          "accountNumberDisplay": {
            "type": "string",
            "description": "Display representation of the account number."
          },
          "name": {
            "type": "string",
            "description": "Name of the account."
          },
          "type": {
            "type": "string",
            "description": "Type of the account (e.g., checking, savings)."
          },
          "aggregationStatusCode": {
            "type": "integer",
            "description": "Status code indicating the aggregation status of the account.",
            "format": "int32"
          },
          "status": {
            "type": "string",
            "description": "Current status of the account (e.g., active, inactive)."
          },
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer associated with the account."
          },
          "institutionId": {
            "type": "string",
            "description": "Unique identifier for the institution that holds the account."
          },
          "aggregationSuccessDate": {
            "type": "integer",
            "description": "Date when the aggregation was successfully performed.",
            "format": "int32"
          },
          "aggregationAttemptDate": {
            "type": "integer",
            "description": "Date when the aggregation attempt was made.",
            "format": "int32"
          },
          "createdDate": {
            "type": "integer",
            "description": "Date when the account was created.",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency of the account."
          },
          "institutionLoginId": {
            "type": "integer",
            "description": "Unique identifier for the institution login associated with this account.",
            "format": "int32"
          },
          "displayPosition": {
            "type": "integer",
            "description": "Position to display the account on the user's interface.",
            "format": "int32"
          },
          "parentAccount": {
            "type": "string",
            "description": "Identifier of the parent account, if applicable."
          },
          "linkedAccountDate": {
            "type": "integer",
            "description": "Date when the account was linked.",
            "format": "int32"
          }
        },
        "description": "Represents a bank account associated with a customer."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing occurred."
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-get-customer-accounts-by-institution-login-simple"
        },
        "example": "open-finance-api-get-customer-accounts-by-institution-login-simple"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication strategy, which requires a JWT (JSON Web Token) to be provided in the Authorization header of the request. The token must be valid and not expired to access protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}