{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Modification API",
    "description": "The Loan Modification API enables financial institutions to update the terms or details of existing loans. This endpoint allows authorized users to patch specific loan information by referencing the unique loan ID. It facilitates adjustments to loan terms in response to customer requests or regulatory changes, enhancing customer service and operational efficiency. Typical consumers of this API include loan officers, financial analysts, and customer support representatives who need to make changes to loan accounts swiftly.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/loan/{loanId}": {
      "patch": {
        "tags": [
          "Deposit Lending"
        ],
        "summary": "Update Loan Details",
        "description": "This endpoint allows you to update the details of a specific loan in the deposit lending program. Provide the necessary data within the request to reflect the changes you wish to make.",
        "operationId": "updateDepositLendingLoanLoan500045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Updates the details for the specified loan (LOAN-500045). Provide the information you wish to modify in the request body using the defined JSON schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDepositLendingLoanLoan500045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request processed successfully; resource updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateDepositLendingLoanLoan500045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateDepositLendingLoanLoan500045Request": {
        "type": "object",
        "properties": {
          "changes": {
            "description": "The changes to be applied to the loan.",
            "$ref": "#/components/schemas/LoanChanges"
          },
          "changeReason": {
            "type": "string",
            "description": "The reason for the change request.",
            "example": "STANDARD"
          },
          "effectiveAt": {
            "type": "string",
            "description": "The date and time when the changes become effective.",
            "example": "2026-09-15T14:30:00Z"
          },
          "requestedBy": {
            "type": "string",
            "description": "Identifier for the user or system that requested the changes.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for updating loan operations.",
        "example": {
          "changes": {
            "customerId": "CUST-774994",
            "accountId": "ACC-948757",
            "productCode": "CHK-PREMIUM-US"
          },
          "changeReason": "STANDARD",
          "effectiveAt": "2026-09-15T14:30:00Z",
          "requestedBy": "STANDARD",
          "requestContext": {
            "requestId": "4699e28d-1fa8-5dce-aa1b-de03e61f1d16",
            "correlationId": "b1d4dae8-da71-5e55-91ff-99e0bf7d9db3",
            "idempotencyKey": "7857949f-5e36-5eed-82be-d9e911d592db",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-369240"
            }
          }
        }
      },
      "LoanChanges": {
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "Unique identifier for the customer related to the loan.",
            "example": "string"
          },
          "accountId": {
            "type": "string",
            "description": "Unique identifier for the account associated with the loan.",
            "example": "string"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the loan product type.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the changes to a loan."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate multiple requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure idempotency of the request.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "System from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Application initiating the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel through which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema encapsulating the context of the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the channel used for the request."
      },
      "UpdateDepositLendingLoanLoan500045Response_200": {
        "type": "object",
        "properties": {
          "version": {
            "type": "integer",
            "description": "The version of the response.",
            "format": "int32",
            "example": 1
          },
          "status": {
            "type": "string",
            "description": "The status of the loan operation.",
            "example": "ACTIVE"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the loan details were last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Metadata related to the loan operation response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the PATCH operation on the loan resource.",
        "example": {
          "version": 1,
          "status": "ACTIVE",
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "9a94f4c1-325e-5d14-8af4-6952d27ed849",
            "correlationId": "b1d4dae8-da71-5e55-91ff-99e0bf7d9db3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests and responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the request took place.",
            "example": "string"
          }
        },
        "description": "Meta information about the loan operation response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "loan-update-loan"
        },
        "example": "loan-update-loan"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token for authentication, specifically a JSON Web Token (JWT). Clients must include the token in the `Authorization` header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}