{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Loan Offers Management API",
    "description": "The Loan Offers Management API allows users to update specific loan offers related to loan applications. This endpoint is crucial for editing details such as terms, rates, and conditions of offers in response to changing user needs or application statuses. Typically, loan officers and financial service applications consume this API to keep offers accurate and relevant. By facilitating targeted updates, the API ensures that applicants receive the most up-to-date information and options available to them.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}/offers/{offerId}": {
      "patch": {
        "tags": [
          "Loan Applications"
        ],
        "summary": "Update loan application offer details.",
        "description": "This operation allows users to update the details of a specific loan application offer identified by the given resource ID. Ensure all necessary fields are included in the request to successfully modify the offer.",
        "operationId": "patchLoanApplicationOfferRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to update the loan application offers for a specific application identified by RES-100045. The data provided must adhere to the schema defined for loan application offers.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PatchLoanApplicationOfferRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and the offer has been updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PatchLoanApplicationOfferRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "PatchLoanApplicationOfferRes100045Request": {
        "title": "Loan Application Offer",
        "type": "object",
        "properties": {
          "approvedPrincipal": {
            "description": "The principal amount that has been approved for the loan.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "termMonths": {
            "type": "integer",
            "description": "The loan term in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate of the loan expressed as a percentage.",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount to be paid for the loan.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "originationFee": {
            "description": "The fee charged for processing the loan application.",
            "$ref": "#/components/schemas/MonetaryValue"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until which the loan offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "List of conditions associated with the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Condition"
            }
          },
          "status": {
            "type": "string",
            "description": "The status of the loan application offer.",
            "example": "ACTIVE"
          },
          "requestContext": {
            "description": "Contextual information regarding the request for the loan.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a loan application offer including financial details and request context.",
        "example": {
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "status": "ACTIVE",
          "requestContext": {
            "requestId": "f53ee634-562d-56a5-a99f-7ca56c5e611c",
            "correlationId": "bb78962d-e4d8-5d7e-a6d7-a5a3846e5a39",
            "idempotencyKey": "f2e9abd9-e15f-54d2-bac6-828299289eff",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-877384"
            }
          }
        }
      },
      "MonetaryValue": {
        "title": "Monetary Value",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the monetary value.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The amount in the specified currency.",
            "example": "1000.00"
          }
        },
        "description": "Schema representing a monetary value consisting of currency and amount."
      },
      "Condition": {
        "title": "Loan Condition",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "The unique code of the condition.",
            "example": "COND001"
          },
          "description": {
            "type": "string",
            "description": "A description of the condition.",
            "example": "Must have a credit score above 700."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date before which the condition must be satisfied.",
            "example": "2023-12-31"
          },
          "status": {
            "type": "string",
            "description": "The current status of the condition.",
            "example": "Pending"
          }
        },
        "description": "Schema representing a condition associated with a loan offer."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "corr-67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to guarantee the idempotency of the request.",
            "example": "idemp-123abc"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system of the request.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier for the source application of the request.",
            "example": "AppXYZ"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/ChannelContext"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "ChannelContext": {
        "title": "Channel Context",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Identifier for the channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the request.",
            "example": "device-123"
          }
        },
        "description": "Schema providing details about the channel used for the request."
      },
      "PatchLoanApplicationOfferRes100045Response_200": {
        "type": "object",
        "properties": {
          "offerType": {
            "type": "string",
            "description": "The type of offer being provided.",
            "example": "STANDARD"
          },
          "approvedPrincipal": {
            "description": "The principal amount approved for the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term of the loan in months.",
            "format": "int32",
            "example": 1
          },
          "annualInterestRatePercent": {
            "type": "string",
            "description": "The annual interest rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "annualPercentageRatePercent": {
            "type": "string",
            "description": "The annual percentage rate expressed as a percentage.",
            "example": "STANDARD"
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of repayment for the loan (e.g., monthly, bi-weekly).",
            "example": "STANDARD"
          },
          "estimatedInstallment": {
            "description": "The estimated installment amount to be paid periodically.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "originationFee": {
            "description": "The fee charged for originating the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "insurancePremium": {
            "description": "The premium for insurance associated with the loan.",
            "$ref": "#/components/schemas/AmountDetails"
          },
          "validUntil": {
            "type": "string",
            "description": "The date until the offer is valid.",
            "example": "2026-08-11T12:00:00Z"
          },
          "conditions": {
            "type": "array",
            "description": "Conditions that apply to the loan offer.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "dueBefore": "STANDARD",
                "status": "ACTIVE"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ConditionDetails"
            }
          },
          "disclosures": {
            "type": "array",
            "description": "Disclosures related to the loan offer.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "example": "No hidden fees."
            }
          },
          "id": {
            "type": "string",
            "description": "A unique identifier for the loan offer.",
            "example": "9c36c05e-de85-0bdb-7014-19d2f22d602d"
          },
          "offerNumber": {
            "type": "string",
            "description": "The number assigned to the loan offer.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan offer (e.g., accepted, pending).",
            "example": "ACTIVE"
          },
          "issuedAt": {
            "type": "string",
            "description": "The date when the loan offer was issued.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedAt": {
            "type": "string",
            "description": "The date when the loan offer was accepted.",
            "example": "2026-08-11T12:00:00Z"
          },
          "acceptedByCustomerId": {
            "type": "string",
            "description": "The ID of the customer who accepted the loan offer.",
            "example": "CUST-486089"
          },
          "audit": {
            "description": "Audit information related to the loan offer.",
            "$ref": "#/components/schemas/AuditDetails"
          },
          "metadata": {
            "description": "Metadata associated with the loan offer response.",
            "$ref": "#/components/schemas/MetadataDetails"
          }
        },
        "description": "Schema representing the loan offer response.",
        "example": {
          "offerType": "STANDARD",
          "approvedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "termMonths": 1,
          "annualInterestRatePercent": "STANDARD",
          "annualPercentageRatePercent": "STANDARD",
          "repaymentFrequency": "STANDARD",
          "estimatedInstallment": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "originationFee": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "insurancePremium": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "validUntil": "2026-08-11T12:00:00Z",
          "conditions": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "dueBefore": "STANDARD",
              "status": "ACTIVE"
            }
          ],
          "disclosures": [
            "STANDARD"
          ],
          "id": "9c36c05e-de85-0bdb-7014-19d2f22d602d",
          "offerNumber": "STANDARD",
          "status": "ACTIVE",
          "issuedAt": "2026-08-11T12:00:00Z",
          "acceptedAt": "2026-08-11T12:00:00Z",
          "acceptedByCustomerId": "CUST-486089",
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "55a100f8-90f4-5daf-9271-e8c305826ac3",
            "correlationId": "bb78962d-e4d8-5d7e-a6d7-a5a3846e5a39",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AmountDetails": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (e.g., USD, EUR).",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The monetary amount.",
            "example": "10000.00"
          }
        },
        "description": "Represents an amount with currency."
      },
      "ConditionDetails": {
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A code identifying the condition.",
            "example": "CONDITION_1"
          },
          "description": {
            "type": "string",
            "description": "A detailed description of the condition.",
            "example": "Must have a credit score above 700."
          },
          "dueBefore": {
            "type": "string",
            "description": "The date by which the condition must be met.",
            "example": "2023-12-31"
          },
          "status": {
            "type": "string",
            "description": "The status of the condition (e.g., met, not met).",
            "example": "met"
          }
        },
        "description": "Represents a condition related to the loan offer."
      },
      "AuditDetails": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "The date and time when the record was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the record.",
            "example": "user_123"
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2023-01-10T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the record.",
            "example": "user_456"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit details for tracking changes and updates."
      },
      "MetadataDetails": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "response_12345"
          },
          "correlationId": {
            "type": "string",
            "description": "A correlation ID for tracing the request and response.",
            "example": "correlation_67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated.",
            "example": "2023-01-01T12:30:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the loan offer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "The unique identifier for the endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-offer"
        },
        "example": "banking-loans-openapi-update-loan-offer"
      },
      "X-Runtime-App": {
        "description": "Indicates the runtime application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Security scheme that uses the Bearer authentication method. This scheme enables secured endpoints to authenticate users via JSON Web Tokens (JWT). When a user logs in, a JWT is generated and used in subsequent requests to securely identify the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}