{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Statement Assessment API",
    "description": "The Financial Statement Assessment API is designed to provide businesses with insights into their financial compliance status. This endpoint allows users to retrieve comprehensive assessments of financial statements, helping ensure adherence to regulatory standards and best practices. Key consumers of this API include financial institutions, compliance auditors, and corporate finance teams seeking to evaluate financial integrity. Use cases include auditing practices, compliance checks, and risk management processes.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/compliance/financial-statement-assessment": {
      "get": {
        "tags": [
          "Compliance"
        ],
        "summary": "Retrieve financial statement assessment data.",
        "description": "This endpoint allows you to retrieve detailed information regarding financial statement assessments, including compliance metrics and relevant financial data. Utilize this endpoint to ensure that your assessments are up to date and accurately reflect the current compliance standards.",
        "operationId": "getComplianceFinancialStatementAssessment",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for retrieving a financial statement assessment, structured in accordance with the specified schema. Ensure that the payload conforms to the expected format and includes all necessary fields.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetComplianceFinancialStatementAssessmentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved the financial statement assessment.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetComplianceFinancialStatementAssessmentResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetComplianceFinancialStatementAssessmentRequest": {
        "title": "Financial Statement Assessment Request Body",
        "type": "string",
        "description": "The request body for retrieving financial statement assessments. This schema is meant to encapsulate any necessary parameters in JSON format.",
        "example": "{}"
      },
      "GetComplianceFinancialStatementAssessmentResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of financial statement assessment submissions.",
            "example": [
              {
                "submissionId": "STANDARD",
                "legalEntityId": "STANDARD",
                "jurisdiction": "STANDARD",
                "reportingPeriod": "STANDARD",
                "regulation": "STANDARD",
                "dueDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialStatementAssessmentSubmission"
            }
          },
          "pagination": {
            "description": "Pagination details for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria applied to the items.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Additional metadata associated with the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the Financial Statement Assessment operation, containing items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "submissionId": "STANDARD",
              "legalEntityId": "STANDARD",
              "jurisdiction": "STANDARD",
              "reportingPeriod": "STANDARD",
              "regulation": "STANDARD",
              "dueDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1f79cad6-391b-5a01-86a6-4d042bd545da",
            "correlationId": "c3fbd38d-9e34-5047-b2b7-46b77b45d4b7",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialStatementAssessmentSubmission": {
        "type": "object",
        "properties": {
          "submissionId": {
            "type": "string",
            "description": "Unique identifier for the submission.",
            "example": "submission_123"
          },
          "legalEntityId": {
            "type": "string",
            "description": "Identifier for the legal entity associated with the submission.",
            "example": "entity_456"
          },
          "jurisdiction": {
            "type": "string",
            "description": "The jurisdiction in which the financial statement is filed.",
            "example": "US"
          },
          "reportingPeriod": {
            "type": "string",
            "description": "The reporting period for the financial statement.",
            "example": "2023-Q1"
          },
          "regulation": {
            "type": "string",
            "description": "The regulation under which the submission is filed.",
            "example": "Reg XYZ"
          },
          "dueDate": {
            "type": "string",
            "description": "The deadline for the submission.",
            "example": "2023-04-30"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the submission record.",
            "example": "submitted"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of the last update to the submission record.",
            "example": "2023-04-01T12:00:00Z"
          }
        },
        "description": "Represents a financial statement assessment submission."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number of the results.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of results per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination details for the response including page number, size, and total items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier to trace the request across various systems.",
            "example": "corr_321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-04-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "NA"
          }
        },
        "description": "Additional metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-statement-assessment-search-financial-statement-assessment"
        },
        "example": "financial-statement-assessment-search-financial-statement-assessment"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication method with JSON Web Tokens (JWT) to secure access to the API. Clients must include the JWT in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}