{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Financial Instrument Valuation Models API",
    "description": "The Financial Instrument Valuation Models API provides access to a comprehensive set of valuation models used in the banking sector for assessing the worth of various financial instruments. This API enables users to retrieve detailed information about different valuation methodologies and their applicable contexts. Typical consumers include financial analysts, risk managers, and developers integrating valuation data into financial applications. By leveraging this API, users can enhance their understanding of pricing models and improve decision-making processes surrounding financial instruments.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/models/financial-instrument-valuation-models": {
      "get": {
        "tags": [
          "Financial Models"
        ],
        "summary": "Retrieve all financial instrument valuation models.",
        "description": "This endpoint allows you to fetch a comprehensive list of financial instrument valuation models, which are essential for analyzing and valuing financial assets and securities. Use this resource to gain insights into the available models and their configurations.",
        "operationId": "getFinancialInstrumentValuationModels",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve the financial instrument valuation models. It contains necessary parameters required for filtering and specifying the type of models to be returned.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetFinancialInstrumentValuationModelsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the requested financial instrument valuation models.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetFinancialInstrumentValuationModelsResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetFinancialInstrumentValuationModelsRequest": {
        "type": "string",
        "description": "A request body for the financial instrument valuation operation. This string represents the JSON request payload expected by the API.",
        "example": "{}"
      },
      "GetFinancialInstrumentValuationModelsResponse_200": {
        "title": "Financial Instrument Valuation Models Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of financial instrument valuation model objects.",
            "example": [
              {
                "modelId": "STANDARD",
                "modelVersion": "STANDARD",
                "portfolioId": "PORT-373179",
                "asOfDate": "2026-09-15",
                "scenario": "STANDARD",
                "confidenceLevel": 100.0,
                "instrumentType": "STANDARD",
                "ticker": "STANDARD",
                "issueCurrency": "USD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/FinancialInstrumentValuationModel"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting order of the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "A response object containing a list of financial instrument valuation models along with pagination and metadata information.",
        "example": {
          "items": [
            {
              "modelId": "STANDARD",
              "modelVersion": "STANDARD",
              "portfolioId": "PORT-373179",
              "asOfDate": "2026-09-15",
              "scenario": "STANDARD",
              "confidenceLevel": 100.0,
              "instrumentType": "STANDARD",
              "ticker": "STANDARD",
              "issueCurrency": "USD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "ac13f836-1a74-5181-b8de-5c380d1f99e0",
            "correlationId": "3d16e53a-0df2-552f-b2c9-78e827978943",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "FinancialInstrumentValuationModel": {
        "title": "Financial Instrument Valuation Model",
        "type": "object",
        "properties": {
          "modelId": {
            "type": "string",
            "description": "The unique identifier for the financial instrument valuation model."
          },
          "modelVersion": {
            "type": "string",
            "description": "The version of the financial instrument valuation model."
          },
          "portfolioId": {
            "type": "string",
            "description": "The unique identifier for the portfolio associated with the financial instrument."
          },
          "asOfDate": {
            "type": "string",
            "description": "The date as of which the valuation is calculated."
          },
          "scenario": {
            "type": "string",
            "description": "The scenario for which the valuation is being performed."
          },
          "confidenceLevel": {
            "type": "number",
            "description": "The level of confidence applied in the valuation."
          },
          "instrumentType": {
            "type": "string",
            "description": "The type of financial instrument (e.g., equity, bond)."
          },
          "ticker": {
            "type": "string",
            "description": "The market ticker symbol for the financial instrument."
          },
          "issueCurrency": {
            "type": "string",
            "description": "The currency in which the financial instrument is issued."
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., active, inactive)."
          },
          "updatedAt": {
            "type": "string",
            "description": "The timestamp when the record was last updated."
          }
        },
        "description": "Represents a financial instrument valuation model with its attributes."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "The current page number of the results.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "The number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "The total number of items available.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the list of items."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "The correlation identifier to trace the request."
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Metadata associated with the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Identifier for the specific endpoint that was accessed.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "financial-instrument-valuation-models-search-financial-instrument-valuation-models"
        },
        "example": "financial-instrument-valuation-models-search-financial-instrument-valuation-models"
      },
      "X-Runtime-App": {
        "description": "Name of the application that handled the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "risk-compliance"
        },
        "example": "risk-compliance"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer Authentication mechanism where the client must provide a JSON Web Token (JWT) in the authorization header to access secured resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}