{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Relationship API",
    "description": "The Corporate Relationship API provides essential functionalities for accessing and managing corporate relationships within the banking domain. This API allows financial institutions to retrieve detailed information about existing corporate partnerships, facilitating better decision-making and relationship management. Typical consumers of this API include banking professionals and financial analysts who require quick access to relationship data for reporting and analysis purposes. By utilizing this endpoint, organizations can enhance their understanding of corporate interactions and improve their service offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/corporate-relations/corporate-relationship": {
      "get": {
        "tags": [
          "Corporate Relations"
        ],
        "summary": "Retrieve corporate relationship details",
        "description": "This endpoint allows users to fetch details of corporate relationships, including relevant data and attributes associated with them. Use this endpoint to retrieve comprehensive information necessary for managing corporate interactions.",
        "operationId": "getCorporateRelationship",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for retrieving corporate relationship information. This body should carry the necessary parameters to specify which corporate relationships to fetch and any additional filters if applicable.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCorporateRelationshipRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was completed successfully, returning the corporate relationship data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCorporateRelationshipResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCorporateRelationshipRequest": {
        "title": "Corporate Relationship Request Body",
        "type": "string",
        "description": "A string representation of the request body used for operations involving corporate relationships.",
        "example": "{}"
      },
      "GetCorporateRelationshipResponse_200": {
        "title": "Corporate Relationships Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of corporate relationship items.",
            "example": [
              {
                "stakeholderId": "STANDARD",
                "engagementId": "STANDARD",
                "subject": "STANDARD",
                "scheduledAt": "2026-08-11T12:00:00Z",
                "relationshipOwnerId": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CorporateRelationshipItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Field used for sorting the items in the response.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "This schema represents the response structure for retrieving corporate relationships including items, pagination, sorting, and metadata.",
        "example": {
          "items": [
            {
              "stakeholderId": "STANDARD",
              "engagementId": "STANDARD",
              "subject": "STANDARD",
              "scheduledAt": "2026-08-11T12:00:00Z",
              "relationshipOwnerId": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "1cc0df79-95e6-509e-b434-d14e161a5f6e",
            "correlationId": "df69dc83-6200-504b-bc5c-e047f59001df",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CorporateRelationshipItem": {
        "title": "Corporate Relationship Item",
        "type": "object",
        "properties": {
          "stakeholderId": {
            "type": "string",
            "description": "Unique identifier for the stakeholder."
          },
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the engagement."
          },
          "subject": {
            "type": "string",
            "description": "Subject of the relationship."
          },
          "scheduledAt": {
            "type": "string",
            "description": "Scheduled date and time for the engagement."
          },
          "relationshipOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the relationship."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the record."
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated."
          }
        },
        "description": "Represents a single corporate relationship with its details."
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response."
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the request was processed."
          }
        },
        "description": "Additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-relationship-search-corporate-relationship"
        },
        "example": "corporate-relationship-search-corporate-relationship"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method, specifically leveraging JSON Web Tokens (JWT) for secure API access. Clients are required to include a valid JWT token in the Authorization header of each request, facilitating secure and stateless authentication.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}