{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Active Customer Aggregation API",
    "description": "The Active Customer Aggregation API provides businesses with the capability to collect and manage data regarding active customers in real-time. By integrating this API, organizations can streamline customer engagement efforts, optimizing marketing and sales strategies. It supports operations that aggregate information about customer behaviors and profiles, allowing for enhanced segmentation and personalization. Typical consumers of this API include marketing teams, sales departments, and customer relationship management systems looking to improve customer insights.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/aggregation/customers/active": {
      "post": {
        "tags": [
          "Customer Management"
        ],
        "summary": "Create an active customer record.",
        "description": "This endpoint allows you to create a new customer that is marked as active in the system. Ensure that all required customer information is provided in the request body to successfully create the customer.",
        "operationId": "createActiveCustomer",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or activate a new customer in the system. It must include the customer's details as specified in the schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateActiveCustomerRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating the new customer has been added.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateActiveCustomerResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateActiveCustomerRequest": {
        "type": "object",
        "properties": {
          "username": {
            "type": "string",
            "description": "The username of the customer.",
            "example": "Northstar Banking Service"
          },
          "firstName": {
            "type": "string",
            "description": "The first name of the customer.",
            "example": "Northstar Banking Service"
          },
          "lastName": {
            "type": "string",
            "description": "The last name of the customer.",
            "example": "Northstar Banking Service"
          },
          "applicationId": {
            "type": "string",
            "description": "The unique identifier for the application.",
            "example": "APP-756237"
          },
          "phone": {
            "type": "string",
            "description": "The phone number of the customer.",
            "example": "+1-212-555-0147"
          },
          "email": {
            "type": "string",
            "description": "The email address of the customer.",
            "example": "olivia.bennett@northstar.example"
          },
          "requestContext": {
            "description": "Contextual data for the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "The request body for creating an active customer operation.",
        "example": {
          "username": "Northstar Banking Service",
          "firstName": "Northstar Banking Service",
          "lastName": "Northstar Banking Service",
          "applicationId": "APP-756237",
          "phone": "+1-212-555-0147",
          "email": "olivia.bennett@northstar.example",
          "requestContext": {
            "requestId": "cf98536e-79ae-58e4-8e93-ad17761f6c5b",
            "correlationId": "26ebb697-cec5-5adb-af6b-dca60d0792bf",
            "idempotencyKey": "5aeb74c8-738c-55a1-ab3e-3bca8215ee5c",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-633285"
            }
          }
        }
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotent operations.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application from which the request originated.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Contains contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Unique identifier for the device used.",
            "example": "string"
          }
        },
        "description": "Describes the channel through which the request was made."
      },
      "CreateActiveCustomerResponse_201": {
        "title": "Customer Active Response",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier of the customer.",
            "example": "STANDARD"
          },
          "username": {
            "type": "string",
            "description": "The username of the customer.",
            "example": "Northstar Banking Service"
          },
          "createdDate": {
            "type": "integer",
            "description": "The timestamp representing when the customer was created.",
            "format": "int32",
            "example": 1
          },
          "metadata": {
            "$ref": "#/components/schemas/CustomerMetadata"
          }
        },
        "description": "Response schema for the creation of an active customer.",
        "example": {
          "id": "STANDARD",
          "username": "Northstar Banking Service",
          "createdDate": 1,
          "metadata": {
            "responseId": "a8930486-7ac0-5483-b736-4d10446f1a4f",
            "correlationId": "26ebb697-cec5-5adb-af6b-dca60d0792bf",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CustomerMetadata": {
        "title": "Customer Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "r98765"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for correlating multiple requests.",
            "example": "corr_54321"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the metadata was generated.",
            "example": "2021-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region in which the processing occurred.",
            "example": "us-west-1"
          }
        },
        "description": "Metadata related to the customer response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-add-customer"
        },
        "example": "open-finance-api-add-customer"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a bearer token in the HTTP Authorization header. The token is expected to be a JSON Web Token (JWT) that provides access rights for the user.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}