{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Corporate Lease Management API",
    "description": "The Corporate Lease Management API facilitates the submission of corporate lease applications for financial services. This API allows businesses to initiate the lease application process, providing a streamlined way to manage leasing needs. Financial institutions and corporate clients can leverage this API to handle their lease transactions efficiently, improving operational workflow and customer satisfaction. Typical use cases include submitting lease agreements and tracking application status.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/deposit-lending/corporate-lease": {
      "post": {
        "tags": [
          "Corporate Lease Management"
        ],
        "summary": "Create a new corporate lease for deposit lending.",
        "description": "This endpoint allows users to create a new corporate lease under the deposit lending scheme. It enables organizations to manage their lease agreements effectively and ensures that all required information is captured accurately for processing.",
        "operationId": "createCorporateLease",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request body for initiating a corporate lease operation in the deposit lending system. Ensure that all required fields are accurately filled to facilitate the processing of the lease request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCorporateLeaseRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully, indicating that the corporate lease has been successfully set up.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCorporateLeaseResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCorporateLeaseRequest": {
        "title": "Corporate Lease Request",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-513303"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the account related to the lease.",
            "example": "ACC-808408"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the specific product being leased.",
            "example": "CHK-PREMIUM-US"
          },
          "principal": {
            "description": "The principle amount associated with the lease.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "termMonths": {
            "type": "integer",
            "description": "The term length of the lease in months.",
            "format": "int32",
            "example": 1
          },
          "repaymentFrequency": {
            "type": "string",
            "description": "The frequency of the repayments (e.g., monthly, quarterly).",
            "example": "STANDARD"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the asset being leased.",
            "example": "STANDARD"
          },
          "residualValue": {
            "description": "The residual value of the asset at the end of the lease term.",
            "$ref": "#/components/schemas/FinancialAmount"
          },
          "leaseTermMonths": {
            "type": "integer",
            "description": "The total lease term in months.",
            "format": "int32",
            "example": 1
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "A request body schema for initiating a corporate lease operation.",
        "example": {
          "customerId": "CUST-513303",
          "accountId": "ACC-808408",
          "productCode": "CHK-PREMIUM-US",
          "principal": {
            "amount": 100.0,
            "currency": "USD"
          },
          "termMonths": 1,
          "repaymentFrequency": "STANDARD",
          "leasedAssetId": "STANDARD",
          "residualValue": {
            "amount": 100.0,
            "currency": "USD"
          },
          "leaseTermMonths": 1,
          "requestContext": {
            "requestId": "a7461b6f-fbb1-5d25-8a58-f91677afe3ab",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "idempotencyKey": "c65db711-f3ff-5a3e-b4e1-a7c48153f1ed",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-848909"
            }
          }
        }
      },
      "FinancialAmount": {
        "title": "Financial Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The monetary amount.",
            "example": 1000.0
          },
          "currency": {
            "type": "string",
            "description": "The currency of the monetary amount.",
            "example": "USD"
          }
        },
        "description": "Represents an amount of money with its associated currency."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "A unique identifier for this request.",
            "example": "REQ12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking events across systems.",
            "example": "CORR67890"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is idempotent.",
            "example": "IDEMP123"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system where the request originated.",
            "example": "SystemA"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that made the request.",
            "example": "AppB"
          },
          "channel": {
            "description": "Information about the channel from which the request was made.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Information related to the request context."
      },
      "Channel": {
        "title": "Channel Information",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "CH001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel (e.g., web, mobile).",
            "example": "web"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "DEV123"
          }
        },
        "description": "Details about the communication channel used for the request."
      },
      "CreateCorporateLeaseResponse_201": {
        "title": "Corporate Lease Response",
        "type": "object",
        "properties": {
          "customerId": {
            "type": "string",
            "description": "The unique identifier for the customer.",
            "example": "CUST-536145"
          },
          "accountId": {
            "type": "string",
            "description": "The unique identifier for the customer's account.",
            "example": "ACC-574595"
          },
          "productCode": {
            "type": "string",
            "description": "The code representing the lease product.",
            "example": "CHK-PREMIUM-US"
          },
          "leasedAssetId": {
            "type": "string",
            "description": "The unique identifier for the asset that is leased.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The resource identifier linked to the operation.",
            "example": "RES-894989"
          },
          "status": {
            "type": "string",
            "description": "The current status of the lease operation.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the lease was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "type": "object",
            "properties": {
              "responseId": {
                "type": "string",
                "description": "The unique identifier for the response.",
                "example": "RESP001"
              },
              "correlationId": {
                "type": "string",
                "description": "The correlation identifier for tracking the request.",
                "example": "CORR1234"
              },
              "generatedAt": {
                "type": "string",
                "description": "The timestamp when the metadata was generated.",
                "example": "2023-01-01T00:00:01Z"
              },
              "processingRegion": {
                "type": "string",
                "description": "The region where the processing took place.",
                "example": "us-west-1"
              }
            },
            "description": "Additional metadata related to the lease operation.",
            "example": {
              "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
              "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
              "generatedAt": "2026-09-15T14:30:00Z",
              "processingRegion": "us-east-1"
            }
          }
        },
        "description": "This schema represents the response structure after a successful corporate lease operation.",
        "example": {
          "customerId": "CUST-536145",
          "accountId": "ACC-574595",
          "productCode": "CHK-PREMIUM-US",
          "leasedAssetId": "STANDARD",
          "resourceId": "RES-894989",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "754d4517-aa65-57ad-a242-6f0e02001a64",
            "correlationId": "20b82970-7a2d-5f07-9ce6-bf03cee14ac9",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "corporate-lease-create-corporate-lease"
        },
        "example": "corporate-lease-create-corporate-lease"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "accounts-deposits"
        },
        "example": "accounts-deposits"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication scheme uses JSON Web Tokens (JWT) as a bearer token. Clients should include this token in the Authorization header when making requests to protected endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}