{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Update Loan Application API",
    "description": "The Update Loan Application API allows users to modify existing loan application details. This endpoint is crucial for financial institutions and lending agencies aiming to keep application data current, whether through customer updates or internal processing adjustments. Typical consumers include loan officers and customer service representatives who require real-time access to application data modifications. By facilitating updates efficiently, the API enhances workflow and operational productivity within the lending process.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/loans/loan-applications/{param1}": {
      "patch": {
        "tags": [
          "Loan Management"
        ],
        "summary": "Update a specific loan application.",
        "description": "This endpoint allows developers to update the details of a specific loan application identified by its unique identifier. It requires the relevant fields to be included in the request body to execute the update successfully.",
        "operationId": "updateLoanApplicationRes100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body updates the loan application with the specified ID. Ensure that the provided data adheres to the defined schema for successful processing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoanApplicationRes100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The loan application was successfully updated.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateLoanApplicationRes100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateLoanApplicationRes100045Request": {
        "type": "object",
        "properties": {
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the loan purpose.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested loan term in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayment.",
            "format": "int32",
            "example": 1
          },
          "branchCode": {
            "type": "string",
            "description": "The code of the branch where the application is submitted.",
            "example": "CODE-470"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The ID of the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "customerConsent": {
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing a loan application request.",
        "example": {
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "branchCode": "CODE-470",
          "relationshipManagerId": "STANDARD",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "requestContext": {
            "requestId": "44b48ee8-673b-5a28-85a7-11b3a559bace",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "idempotencyKey": "73b0d217-1c1e-55d9-850e-bc22cc33cb1a",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-529827"
            }
          }
        }
      },
      "RequestedPrincipal": {
        "title": "Requested Principal",
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency of the requested amount.",
            "example": "USD"
          },
          "amount": {
            "type": "string",
            "description": "The actual amount of the loan requested.",
            "example": "10000"
          }
        },
        "description": "Details of the principal amount requested by the customer."
      },
      "CustomerConsent": {
        "title": "Customer Consent",
        "type": "object",
        "properties": {
          "creditBureauConsent": {
            "type": "boolean",
            "description": "Indicates whether consent for credit bureau checks has been given.",
            "example": false
          },
          "dataProcessingConsent": {
            "type": "boolean",
            "description": "Indicates whether consent for data processing has been given.",
            "example": false
          },
          "marketingConsent": {
            "type": "boolean",
            "description": "Indicates whether consent for marketing has been given.",
            "example": false
          },
          "consentTimestamp": {
            "type": "string",
            "description": "Timestamp when consent was obtained.",
            "example": "2023-10-01T00:00:00Z"
          },
          "consentReference": {
            "type": "string",
            "description": "Reference ID for the consent record.",
            "example": "string"
          }
        },
        "description": "Contains consent information provided by the customer regarding data processing and marketing."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-123456"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing related requests.",
            "example": "corr-789012"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key to ensure that the request is processed only once.",
            "example": "idempotencyKey-123456"
          },
          "requestedAt": {
            "type": "string",
            "description": "The timestamp when the request was made.",
            "example": "2023-10-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The source system from which the request originated.",
            "example": "LoanOriginationSystem"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application used to make the request.",
            "example": "MobileApp"
          },
          "channel": {
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema representing additional context for the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-123"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used for the request.",
            "example": "Mobile"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier of the device used to submit the request.",
            "example": "device-456"
          }
        },
        "description": "Schema representing the channel details through which the request was made."
      },
      "UpdateLoanApplicationRes100045Response_200": {
        "title": "Loan Application Response",
        "type": "object",
        "properties": {
          "productId": {
            "type": "string",
            "description": "The unique identifier for the loan product.",
            "example": "PROD-908930"
          },
          "externalReference": {
            "type": "string",
            "description": "An external reference number related to the loan application.",
            "example": "STANDARD"
          },
          "channel": {
            "type": "string",
            "description": "The channel through which the application was submitted.",
            "example": "STANDARD"
          },
          "purpose": {
            "type": "string",
            "description": "The purpose of the loan application.",
            "example": "STANDARD"
          },
          "purposeDescription": {
            "type": "string",
            "description": "A detailed description of the purpose of the loan.",
            "example": "STANDARD"
          },
          "requestedPrincipal": {
            "description": "The principal amount requested by the customer.",
            "$ref": "#/components/schemas/RequestedPrincipal"
          },
          "requestedTermMonths": {
            "type": "integer",
            "description": "The requested term for the loan in months.",
            "format": "int32",
            "example": 1
          },
          "preferredRepaymentDay": {
            "type": "integer",
            "description": "The preferred day of the month for loan repayments.",
            "format": "int32",
            "example": 1
          },
          "primaryCustomerId": {
            "type": "string",
            "description": "The unique identifier for the primary customer associated with the loan application.",
            "example": "CUST-859975"
          },
          "branchCode": {
            "type": "string",
            "description": "The code for the branch where the application was processed.",
            "example": "CODE-324"
          },
          "relationshipManagerId": {
            "type": "string",
            "description": "The identifier for the relationship manager handling the application.",
            "example": "STANDARD"
          },
          "campaignCode": {
            "type": "string",
            "description": "The campaign code under which the loan application was submitted.",
            "example": "CODE-586"
          },
          "customerConsent": {
            "description": "Consent information provided by the customer related to the loan application.",
            "$ref": "#/components/schemas/CustomerConsent"
          },
          "id": {
            "type": "string",
            "description": "The unique identifier for the loan application.",
            "example": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58"
          },
          "applicationNumber": {
            "type": "string",
            "description": "The application number for tracking purposes.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the loan application.",
            "example": "ACTIVE"
          },
          "submittedAt": {
            "type": "string",
            "description": "The timestamp when the application was submitted.",
            "example": "2026-09-15T14:30:00Z"
          },
          "decisionAt": {
            "type": "string",
            "description": "The timestamp when a decision was made on the application.",
            "example": "2026-08-11T12:00:00Z"
          },
          "bookedLoanId": {
            "type": "string",
            "description": "The unique identifier for the booked loan, if applicable.",
            "example": "LOAN-246067"
          },
          "completionPercent": {
            "type": "integer",
            "description": "The percentage of the loan application process that is complete.",
            "format": "int32",
            "example": 1
          },
          "outstandingRequirements": {
            "type": "array",
            "description": "A list of requirements that are still outstanding for the loan application.",
            "example": [
              {
                "code": "SUCCESS",
                "description": "Customer banking request processed successfully",
                "status": "ACTIVE",
                "dueDate": "2026-09-15"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/OutstandingRequirement"
            }
          },
          "audit": {
            "description": "Audit information relating to the loan application.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Metadata related to the application response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response for a loan application, containing relevant fields such as product details, requested amount, customer IDs and status information.",
        "example": {
          "productId": "PROD-908930",
          "externalReference": "STANDARD",
          "channel": "STANDARD",
          "purpose": "STANDARD",
          "purposeDescription": "STANDARD",
          "requestedPrincipal": {
            "currency": "USD",
            "amount": "1250.75"
          },
          "requestedTermMonths": 1,
          "preferredRepaymentDay": 1,
          "primaryCustomerId": "CUST-859975",
          "branchCode": "CODE-324",
          "relationshipManagerId": "STANDARD",
          "campaignCode": "CODE-586",
          "customerConsent": {
            "creditBureauConsent": true,
            "dataProcessingConsent": true,
            "marketingConsent": true,
            "consentTimestamp": "2026-09-15T14:30:00Z",
            "consentReference": "STANDARD"
          },
          "id": "b97ad9c9-c0e8-cd9b-dadd-ea0351de1a58",
          "applicationNumber": "STANDARD",
          "status": "ACTIVE",
          "submittedAt": "2026-09-15T14:30:00Z",
          "decisionAt": "2026-08-11T12:00:00Z",
          "bookedLoanId": "LOAN-246067",
          "completionPercent": 1,
          "outstandingRequirements": [
            {
              "code": "SUCCESS",
              "description": "Customer banking request processed successfully",
              "status": "ACTIVE",
              "dueDate": "2026-09-15"
            }
          ],
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "04bc78aa-8ca8-50c6-a43d-78d2e8fd2e73",
            "correlationId": "7d3257ca-4a0f-5455-a782-8a42ffac1f14",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "OutstandingRequirement": {
        "title": "Outstanding Requirement",
        "type": "object",
        "properties": {
          "code": {
            "type": "string",
            "description": "A unique code representing the requirement.",
            "example": "REQ-001"
          },
          "description": {
            "type": "string",
            "description": "A description of the requirement.",
            "example": "Submit income proof."
          },
          "status": {
            "type": "string",
            "description": "The current status of the requirement.",
            "example": "Pending"
          },
          "dueDate": {
            "type": "string",
            "description": "The due date for fulfilling the requirement.",
            "example": "2023-12-01"
          }
        },
        "description": "Details of requirements that are yet to be fulfilled in the loan application process."
      },
      "Audit": {
        "title": "Audit Information",
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the application was created.",
            "example": "2023-10-01T00:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "The identifier of the user who created the application.",
            "example": "string"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the application was last updated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "The identifier of the user who last updated the application.",
            "example": "string"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the loan application.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Contains the audit trail information for the loan application."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response to the loan application.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating related requests or responses.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T00:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region where the response was processed.",
            "example": "US"
          }
        },
        "description": "Contains metadata information related to the loan application response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-loans-openapi-update-loan-application"
        },
        "example": "banking-loans-openapi-update-loan-application"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a bearer token format for authentication. The token must be in JSON Web Token (JWT) format, which allows clients to securely communicate their identity and permissions.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}