{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Brand Management API",
    "description": "The Brand Management API provides functionality for managing and enhancing brand presence in marketing campaigns. Through this endpoint, organizations can create new brand profiles, allowing them to define brand attributes, guidelines, and associated marketing materials. This API is primarily utilized by marketing and brand management teams to streamline brand-related initiatives. Developers can integrate this service into their applications to ensure coherent brand representation across various channels.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/brand-management": {
      "post": {
        "tags": [
          "Brand Management"
        ],
        "summary": "Create a new brand management entry.",
        "description": "This endpoint allows users to create a new entry in brand management, facilitating the organization and upkeep of marketing strategies associated with brands.",
        "operationId": "createBrandManagement",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create or update brand management data associated with marketing operations. It should contain all necessary information required for processing the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBrandManagementRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Resource created successfully for brand management.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBrandManagementResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBrandManagementRequest": {
        "title": "Brand Management Campaign Request Body",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target market segment.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "Array of communication channels used in the marketing campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "A specific channel type (e.g., email, social media, etc.).",
              "example": "email"
            }
          },
          "budget": {
            "$ref": "#/components/schemas/BudgetDetails"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the marketing campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the marketing campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for creating or updating a marketing campaign.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "e565fd78-4162-5583-bc64-ad0ec386a887",
            "correlationId": "15159d84-3bf2-5284-9351-607baf8e06a3",
            "idempotencyKey": "fdabeda1-7d4f-5e89-bc93-0066f0be9817",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-543595"
            }
          }
        }
      },
      "BudgetDetails": {
        "title": "Budget Details",
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "Monetary amount allocated for the budget.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the budget is specified (e.g., USD).",
            "example": "USD"
          }
        },
        "description": "Schema representing the budget allocated for the marketing campaign."
      },
      "RequestContext": {
        "title": "Request Context",
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "req-abc123"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier for correlating requests across systems.",
            "example": "corr-xyz456"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key provided to ensure idempotency of requests.",
            "example": "idemp-7891011"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp when the request was made in ISO 8601 format.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier of the source system making the request.",
            "example": "system-1"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Identifier of the source application making the request.",
            "example": "app-2"
          },
          "channel": {
            "$ref": "#/components/schemas/ChannelDetails"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "ChannelDetails": {
        "title": "Channel Details",
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the communication channel.",
            "example": "channel-001"
          },
          "channelType": {
            "type": "string",
            "description": "Type of communication channel (e.g., email, sms).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device associated with the channel, if applicable.",
            "example": "device-12345"
          }
        },
        "description": "Schema representing details about the communication channel."
      },
      "CreateBrandManagementResponse_201": {
        "title": "Brand Management Operations Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target segment associated with the campaign.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "Identifier for the resource related to the campaign.",
            "example": "RES-440715"
          },
          "status": {
            "type": "string",
            "description": "Current status of the campaign.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the campaign was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata information related to the campaign's response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response object for brand management operations in the marketing service.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-440715",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "6cda1af3-9db7-5e35-b069-25f1496603c2",
            "correlationId": "15159d84-3bf2-5284-9351-607baf8e06a3",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response-xyz"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses.",
            "example": "correlation-12345"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:05:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographical region where the processing took place.",
            "example": "us-east-1"
          }
        },
        "description": "This schema defines the metadata accompanying the campaign response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "brand-management-create-brand-management"
        },
        "example": "brand-management-create-brand-management"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which requires a JSON Web Token (JWT) to be included in the Authorization header of requests. It is commonly used to authenticate users and validate access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}