{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Discount Pricing API",
    "description": "The Discount Pricing API provides access to comprehensive discount pricing information for various banking products. It allows users to retrieve current discount rates and pricing tiers available within the product management system. Typical consumers include financial analysts, product managers, and third-party developers integrating pricing data into their applications. By utilizing this API, users can enhance price transparency and optimize their marketing strategies based on real-time discount offerings.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/product-management/discount-pricing": {
      "get": {
        "tags": [
          "Product Management"
        ],
        "summary": "Retrieve discount pricing information for products.",
        "description": "This endpoint allows you to retrieve the current discount pricing applied to various products within the product management system. It provides detailed information on discounts available for each product, helping you make informed decisions on pricing strategies.",
        "operationId": "getDiscountPricing",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "Request payload to retrieve discount pricing information related to product management. The body should contain the necessary parameters to specify the query for discount pricing.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetDiscountPricingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the discount pricing details successfully.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDiscountPricingResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetDiscountPricingRequest": {
        "type": "string",
        "description": "This schema represents the request body for the discount pricing operation within the product management service.",
        "example": "{}"
      },
      "GetDiscountPricingResponse_200": {
        "title": "Discount Pricing Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of product objects containing discount pricing information.",
            "example": [
              {
                "productCode": "CHK-PREMIUM-US",
                "productName": "Northstar Banking Service",
                "customerSegment": "STANDARD",
                "baseCurrency": "USD",
                "effectiveDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/Product"
            }
          },
          "pagination": {
            "description": "Pagination information for the response.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sort criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the discount pricing operation, including pagination, sorting, and metadata for the response.",
        "example": {
          "items": [
            {
              "productCode": "CHK-PREMIUM-US",
              "productName": "Northstar Banking Service",
              "customerSegment": "STANDARD",
              "baseCurrency": "USD",
              "effectiveDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "99ca2547-5438-510e-8a85-1b4e4774f758",
            "correlationId": "4889cc09-5f21-51c5-af3c-d083c3baf51f",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Product": {
        "title": "Product Information",
        "type": "object",
        "properties": {
          "productCode": {
            "type": "string",
            "description": "Unique identifier for the product.",
            "example": "PROD-001"
          },
          "productName": {
            "type": "string",
            "description": "Name of the product.",
            "example": "Product Name Example"
          },
          "customerSegment": {
            "type": "string",
            "description": "Customer segment applicable for this product's discount.",
            "example": "Retail"
          },
          "baseCurrency": {
            "type": "string",
            "description": "Currency used for the product's pricing.",
            "example": "USD"
          },
          "effectiveDate": {
            "type": "string",
            "description": "Date from which the pricing becomes effective.",
            "example": "2023-10-01"
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the product record.",
            "example": "Active"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the product record was last updated.",
            "example": "2023-10-01T12:00:00Z"
          }
        },
        "description": "Details of a product related to discount pricing."
      },
      "Pagination": {
        "title": "Pagination Information",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 20
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Information regarding the pagination of the response data."
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "res-12345"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracing the request through the system.",
            "example": "corr-67890"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the response was processed.",
            "example": "US-East"
          }
        },
        "description": "Metadata information about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "discount-pricing-search-discount-pricing"
        },
        "example": "discount-pricing-search-discount-pricing"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "reference-product"
        },
        "example": "reference-product"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method, which involves providing a token in the Authorization header in the format 'Bearer <token>'. The token should be a JSON Web Token (JWT) that contains claims for authorization.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}