{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Card Authorization API",
    "description": "The Card Authorization API facilitates the real-time authorization process for banking cards, ensuring secure transactions. With this API, financial institutions and payment processors can validate card details, confirm available funds, and mitigate fraud risks. Typical consumers include banks, payment gateways, and e-commerce platforms that require instant verification during purchase transactions. This API enhances user experience by providing quick feedback on card authorization status.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/cards/card-authorization": {
      "get": {
        "tags": [
          "Card Management"
        ],
        "summary": "Retrieve card authorization details",
        "description": "Fetch the authorization details for a specific card. This operation allows you to see the current authorization status and related information for card transactions.",
        "operationId": "getCardAuthorization",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used for card authorization operations. It must include the necessary data required by the service to process the card authorization request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetCardAuthorizationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved card authorization details.",
            "headers": {
              "x-endpoint-id": {
                "$ref": "#/components/headers/x-endpoint-id"
              },
              "x-runtime-app": {
                "$ref": "#/components/headers/x-runtime-app"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetCardAuthorizationResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetCardAuthorizationRequest": {
        "type": "string",
        "description": "A representation of the request body for the GET operation in the card authorization context. This is expected to be a string value, which may contain JSON or other formatted data.",
        "example": "{}"
      },
      "GetCardAuthorizationResponse_200": {
        "title": "Card Authorization Response",
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "List of card authorization details.",
            "example": [
              {
                "cardToken": "TOK-534557",
                "cardholderId": "STANDARD",
                "merchantId": "MER-102659",
                "transactionAmount": {
                  "amount": 100,
                  "currency": "USD"
                },
                "merchantCategoryCode": "5411",
                "authorizationType": "STANDARD",
                "terminalEntryMode": "STANDARD",
                "threeDSecureResult": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/CardAuthorizationDetails"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting information related to the card authorizations.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/ResponseMetadata"
          }
        },
        "description": "Response schema for successful card authorization operations.",
        "example": {
          "items": [
            {
              "cardToken": "TOK-534557",
              "cardholderId": "STANDARD",
              "merchantId": "MER-102659",
              "transactionAmount": {
                "amount": 100,
                "currency": "USD"
              },
              "merchantCategoryCode": "5411",
              "authorizationType": "STANDARD",
              "terminalEntryMode": "STANDARD",
              "threeDSecureResult": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "84075020-5407-58be-9476-07736a36da92",
            "correlationId": "f92f5d6d-0e70-55ec-abe2-5000488acdf2",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "CardAuthorizationDetails": {
        "title": "Card Authorization Details",
        "type": "object",
        "properties": {
          "cardToken": {
            "type": "string",
            "description": "Unique token representing the card used for the transaction."
          },
          "cardholderId": {
            "type": "string",
            "description": "Identifier for the cardholder."
          },
          "merchantId": {
            "type": "string",
            "description": "Identifier for the merchant involved in the transaction."
          },
          "transactionAmount": {
            "$ref": "#/components/schemas/TransactionAmount"
          },
          "merchantCategoryCode": {
            "type": "string",
            "description": "Merchant category code indicating the type of merchant."
          },
          "authorizationType": {
            "type": "string",
            "description": "Type of authorization performed (e.g., pre-authorization, full authorization)."
          },
          "terminalEntryMode": {
            "type": "string",
            "description": "Indicates how the card was presented at the terminal."
          },
          "threeDSecureResult": {
            "type": "string",
            "description": "Result of the 3D Secure authentication process."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the authorization record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the authorization record was last updated."
          }
        },
        "description": "Details of a specific card authorization transaction.",
        "example": {
          "cardToken": "example-token",
          "cardholderId": "cardholder-id",
          "merchantId": "merchant-id",
          "transactionAmount": {
            "amount": 100,
            "currency": "USD"
          },
          "merchantCategoryCode": "1234",
          "authorizationType": "full",
          "terminalEntryMode": "manual",
          "threeDSecureResult": "success",
          "recordStatus": "completed",
          "updatedAt": "2023-01-01T00:00:00Z"
        }
      },
      "TransactionAmount": {
        "title": "Transaction Amount",
        "type": "object",
        "properties": {
          "amount": {
            "type": "integer",
            "description": "Amount of the transaction in the smallest currency unit (e.g., cents).",
            "format": "int32"
          },
          "currency": {
            "type": "string",
            "description": "Currency in which the transaction was performed."
          }
        },
        "description": "Amount and currency of the card transaction.",
        "example": {
          "amount": 100,
          "currency": "USD"
        }
      },
      "Pagination": {
        "title": "Pagination",
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number in the paginated response.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available across all pages.",
            "format": "int32"
          }
        },
        "description": "Pagination information for the response.",
        "example": {
          "page": 1,
          "pageSize": 10,
          "totalItems": 50
        }
      },
      "ResponseMetadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate requests and responses."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing of the transaction occurred."
          }
        },
        "description": "Metadata containing additional information about the response.",
        "example": {
          "responseId": "example-response-id",
          "correlationId": "example-correlation-id",
          "generatedAt": "2023-01-01T00:00:00Z",
          "processingRegion": "US"
        }
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "x-endpoint-id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "card-authorization-search-card-authorization"
        },
        "example": "card-authorization-search-card-authorization"
      },
      "x-runtime-app": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "cards-merchant"
        },
        "example": "cards-merchant"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that utilizes a Bearer token in HTTP headers. The token must be a JSON Web Token (JWT), which securely transmits information between parties as a JSON object.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}