{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Quantitative Market Insights API",
    "description": "The Quantitative Market Insights API provides a comprehensive suite of quantitative models designed to deliver actionable market data insights. Leveraging advanced analytics, this API allows users to access and analyze market trends and behaviors. Typical consumers include financial analysts, trading firms, and data scientists seeking to enhance decision-making through data-driven insights. By retrieving relevant market data, users can formulate strategies tailored to evolving market conditions while capitalizing on emerging opportunities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/quant-model": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve quantitative model market data.",
        "description": "This endpoint allows users to fetch the latest market data related to quantitative models, providing insights and analytics necessary for financial decision-making.",
        "operationId": "getQuantModelMarketData",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to specify the parameters required for retrieving quant model market data. Please ensure that all necessary fields are populated according to the schema definition.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetQuantModelMarketDataRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully, returning the quant model data.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetQuantModelMarketDataResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetQuantModelMarketDataRequest": {
        "type": "string",
        "description": "This schema represents the request body for the GET operation in the market data quant model API. It is expected to be a JSON string that contains relevant parameters as defined by the operation's requirements.",
        "example": "{}"
      },
      "GetQuantModelMarketDataResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of market data items.",
            "example": [
              {
                "instrumentId": "STANDARD",
                "isin": "STANDARD",
                "marketIdentifierCode": "CODE-374",
                "asOf": "2026-08-11T12:00:00Z",
                "dataSource": "STANDARD",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/MarketDataItem"
            }
          },
          "pagination": {
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "The sorting criteria applied to the results.",
            "example": "STANDARD"
          },
          "metadata": {
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the market data quant model GET operation.",
        "example": {
          "items": [
            {
              "instrumentId": "STANDARD",
              "isin": "STANDARD",
              "marketIdentifierCode": "CODE-374",
              "asOf": "2026-08-11T12:00:00Z",
              "dataSource": "STANDARD",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "f55eab25-9d11-5af7-97a9-735a0b504c55",
            "correlationId": "08178471-6bf0-544a-acca-afdf263cbd23",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "MarketDataItem": {
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "Unique identifier for the instrument."
          },
          "isin": {
            "type": "string",
            "description": "International Securities Identification Number of the instrument."
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "Code representing the market of the instrument."
          },
          "asOf": {
            "type": "string",
            "description": "Date and time the data is valid as of."
          },
          "dataSource": {
            "type": "string",
            "description": "Source from which the data was obtained."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the data record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp of when the data was last updated."
          }
        },
        "description": "Schema representing a single market data item."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32"
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32"
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items across all pages.",
            "format": "int32"
          }
        },
        "description": "Schema representing pagination information for the results."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the request was processed."
          }
        },
        "description": "Schema containing additional metadata about the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that the request was made to. This helps in tracking and monitoring API usage.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "quant-model-search-quant-model"
        },
        "example": "quant-model-search-quant-model"
      },
      "X-Runtime-App": {
        "description": "The name of the runtime application that processed the request. This is useful for identifying the backend service handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme utilizes the Bearer authentication method with JSON Web Tokens (JWT). This allows clients to authenticate by including a token in the Authorization header of requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}