{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Process Refunds API",
    "description": "The Process Refunds API allows merchants to efficiently manage and execute refund transactions for their customers. With this API, users can update the status of a specific refund using its unique identifier. It is designed for use by e-commerce platforms, payment gateways, and customer service applications that need to handle refunds seamlessly. Typical consumers include financial service providers and businesses offering return policies, ensuring a smooth customer experience in transactions involving refunds.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/p2m/refunds/{refundId}": {
      "put": {
        "tags": [
          "Refund Management"
        ],
        "summary": "Update a specific refund.",
        "description": "This endpoint allows you to modify the details of a specific refund identified by its unique ID. You can update various attributes of the refund as needed.",
        "operationId": "updateRefundById",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to initiate a refund process for the specified refund ID (RES-100045). The body must conform to the defined JSON schema, containing the necessary information and any additional parameters required for processing the refund.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateRefundByIdRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the refund details are returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpdateRefundByIdResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "UpdateRefundByIdRequest": {
        "type": "object",
        "properties": {
          "paymentId": {
            "type": "string",
            "description": "Unique identifier for the payment.",
            "example": "PAY-717521"
          },
          "amount": {
            "description": "Details of the refund amount.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "Code representing the reason for the refund.",
            "example": "CODE-121"
          },
          "reason": {
            "type": "string",
            "description": "Description of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "Reference ID provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "requestContext": {
            "description": "Contextual information regarding the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Schema representing the request body for processing a refund operation.",
        "example": {
          "paymentId": "PAY-717521",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-121",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "requestContext": {
            "requestId": "50efa904-5d43-5efd-ad0a-1e5b12081fe0",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "idempotencyKey": "d647f996-c8d0-5b87-a1a3-7baf906d5339",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-629161"
            }
          }
        }
      },
      "Amount": {
        "type": "object",
        "properties": {
          "currency": {
            "type": "string",
            "description": "The currency code (ISO 4217 format) for the amount.",
            "example": "USD"
          },
          "value": {
            "type": "string",
            "description": "The numeric value of the amount.",
            "example": "100.00"
          }
        },
        "description": "Representation of an amount of money, including currency and value."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "ID used for correlating logs related to the request.",
            "example": "string"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure the request is idempotent.",
            "example": "string"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "string"
          },
          "sourceSystem": {
            "type": "string",
            "description": "The system from which the request originated.",
            "example": "string"
          },
          "sourceApplication": {
            "type": "string",
            "description": "The application that initiated the request.",
            "example": "string"
          },
          "channel": {
            "description": "Information about the channel used for the request.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Schema providing contextual information about the request."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "Type of the channel used (e.g., online, in-store).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used to make the request.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel through which the request was made."
      },
      "UpdateRefundByIdResponse_200": {
        "type": "object",
        "properties": {
          "refundId": {
            "type": "string",
            "description": "The unique identifier for the refund.",
            "example": "STANDARD"
          },
          "paymentId": {
            "type": "string",
            "description": "The unique identifier for the payment associated with the refund.",
            "example": "PAY-481731"
          },
          "merchantId": {
            "type": "string",
            "description": "The unique identifier for the merchant processing the refund.",
            "example": "MER-545624"
          },
          "amount": {
            "description": "The amount of money being refunded.",
            "$ref": "#/components/schemas/Amount"
          },
          "reasonCode": {
            "type": "string",
            "description": "A code representing the reason for the refund.",
            "example": "CODE-479"
          },
          "reason": {
            "type": "string",
            "description": "A textual explanation of the reason for the refund.",
            "example": "STANDARD"
          },
          "merchantRefundReference": {
            "type": "string",
            "description": "A reference identifier provided by the merchant for the refund.",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "The current status of the refund.",
            "example": "ACTIVE"
          },
          "failure": {
            "description": "Details about any failure that occurred during the refund process.",
            "$ref": "#/components/schemas/Failure"
          },
          "processorReference": {
            "description": "Reference details provided by the payment processor.",
            "$ref": "#/components/schemas/ProcessorReference"
          },
          "audit": {
            "description": "Audit details for tracking the refund operation.",
            "$ref": "#/components/schemas/Audit"
          },
          "metadata": {
            "description": "Additional metadata related to the refund response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "A schema representing the response from a refund operation.",
        "example": {
          "refundId": "STANDARD",
          "paymentId": "PAY-481731",
          "merchantId": "MER-545624",
          "amount": {
            "currency": "USD",
            "value": "STANDARD"
          },
          "reasonCode": "CODE-479",
          "reason": "STANDARD",
          "merchantRefundReference": "STANDARD",
          "status": "ACTIVE",
          "failure": {
            "category": "STANDARD",
            "code": "SUCCESS",
            "message": "STANDARD",
            "declineCode": "CODE-308",
            "retryable": true
          },
          "processorReference": {
            "network": "STANDARD",
            "schemeTransactionId": "TXN-101263",
            "acquirerReferenceNumber": "STANDARD",
            "issuerReference": "STANDARD",
            "retrievalReferenceNumber": "STANDARD",
            "approvalCode": "CODE-431"
          },
          "audit": {
            "createdAt": "2026-09-15T14:30:00Z",
            "createdBy": "STANDARD",
            "updatedAt": "2026-09-15T14:30:00Z",
            "updatedBy": "2026-09-15",
            "version": 1
          },
          "metadata": {
            "responseId": "36527dc5-7e9a-5ba5-8ca1-2d8165499129",
            "correlationId": "9594a574-6620-5013-a722-9d91471b4dff",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Failure": {
        "type": "object",
        "properties": {
          "category": {
            "type": "string",
            "description": "The category of the failure.",
            "example": "PROCESSING_ERROR"
          },
          "code": {
            "type": "string",
            "description": "A specific error code identifying the failure.",
            "example": "ERR003"
          },
          "message": {
            "type": "string",
            "description": "A message describing the failure.",
            "example": "Transaction could not be processed."
          },
          "declineCode": {
            "type": "string",
            "description": "A code that indicates the reason for the decline.",
            "example": "DECLINE"
          },
          "retryable": {
            "type": "boolean",
            "description": "Indicates whether the failure can be retried.",
            "example": false
          }
        },
        "description": "Details about the failure that occurred during the refund operation."
      },
      "ProcessorReference": {
        "type": "object",
        "properties": {
          "network": {
            "type": "string",
            "description": "The payment network used for the transaction.",
            "example": "VISA"
          },
          "schemeTransactionId": {
            "type": "string",
            "description": "The transaction ID used by the payment scheme.",
            "example": "ABC123456"
          },
          "acquirerReferenceNumber": {
            "type": "string",
            "description": "Reference number provided by the acquirer.",
            "example": "ACQ123456"
          },
          "issuerReference": {
            "type": "string",
            "description": "Reference number from the issuer.",
            "example": "ISS123456"
          },
          "retrievalReferenceNumber": {
            "type": "string",
            "description": "Reference for retrieving the transaction information.",
            "example": "RET123456"
          },
          "approvalCode": {
            "type": "string",
            "description": "Approval code assigned to the transaction.",
            "example": "APPROVED"
          }
        },
        "description": "Reference details provided by the payment processor related to the transaction."
      },
      "Audit": {
        "type": "object",
        "properties": {
          "createdAt": {
            "type": "string",
            "description": "Timestamp when the refund was created.",
            "example": "2023-01-01T12:00:00Z"
          },
          "createdBy": {
            "type": "string",
            "description": "Identifier for the user or system that created the refund.",
            "example": "user123"
          },
          "updatedAt": {
            "type": "string",
            "description": "Timestamp when the refund was last updated.",
            "example": "2023-01-02T12:00:00Z"
          },
          "updatedBy": {
            "type": "string",
            "description": "Identifier for the user or system that last updated the refund.",
            "example": "user456"
          },
          "version": {
            "type": "integer",
            "description": "Version number for the refund record.",
            "format": "int32",
            "example": 1
          }
        },
        "description": "Audit information for the refund operation, tracking who made changes and when."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "response123"
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the request across systems.",
            "example": "correlation456"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated.",
            "example": "2023-01-03T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place.",
            "example": "US"
          }
        },
        "description": "Metadata related to the refund process, useful for tracking and analysis."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint that processed the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "banking-p2m-openapi-replace-refund"
        },
        "example": "banking-p2m-openapi-replace-refund"
      },
      "X-Runtime-App": {
        "description": "The name of the application that handled the request, useful for debugging and monitoring.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses JSON Web Tokens (JWT) as the bearer token for authentication. It is necessary to provide a valid JWT in the Authorization header to access secured endpoints.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}