{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Business Initiatives Management API",
    "description": "The Business Initiatives Management API enables organizations to effectively manage and promote their business initiatives within a marketing context. By leveraging this API, users can create and submit new business development initiatives that drive growth and customer engagement. This API primarily serves marketing teams and business development professionals looking to streamline their initiative management processes. Use cases include onboarding new initiatives, tracking their progress, and optimizing marketing strategies based on market needs.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/marketing/business-development/initiatives": {
      "post": {
        "tags": [
          "businessDevelopment"
        ],
        "summary": "Create a new business development initiative.",
        "description": "This endpoint allows users to create a new business development initiative within the marketing department. It requires the necessary details to be provided in the request body to effectively establish a new initiative that aligns with the overall marketing strategy.",
        "operationId": "createBusinessDevelopmentInitiative",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to create a new business development initiative. It includes all necessary details such as initiative name, description, and target audience. Ensure that the data provided complies with the specified schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBusinessDevelopmentInitiativeRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Successfully created a new business development initiative.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBusinessDevelopmentInitiativeResponse_201"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateBusinessDevelopmentInitiativeRequest": {
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "Unique identifier for the campaign.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "Identifier for the target market segment.",
            "example": "STANDARD"
          },
          "channelMix": {
            "type": "array",
            "description": "List of channels to be utilized in the campaign.",
            "example": [
              "STANDARD"
            ],
            "items": {
              "type": "string",
              "description": "Name of the channel.",
              "example": "email"
            }
          },
          "budget": {
            "description": "Budget details for the campaign.",
            "$ref": "#/components/schemas/Budget"
          },
          "startDate": {
            "type": "string",
            "description": "Start date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "endDate": {
            "type": "string",
            "description": "End date of the campaign in ISO 8601 format.",
            "example": "2026-09-15"
          },
          "requestContext": {
            "description": "Contextual information about the request.",
            "$ref": "#/components/schemas/RequestContext"
          }
        },
        "description": "Request body for creating a new marketing campaign initiative.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "channelMix": [
            "STANDARD"
          ],
          "budget": {
            "amount": 100.0,
            "currency": "USD"
          },
          "startDate": "2026-09-15",
          "endDate": "2026-09-15",
          "requestContext": {
            "requestId": "fd4111d4-e93c-550d-bd8b-b8ade1d18582",
            "correlationId": "c990f291-ee55-51f4-8c3e-14f3870eb0ed",
            "idempotencyKey": "f76124f2-a2d5-523a-82ad-d5978b4547a5",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-184707"
            }
          }
        }
      },
      "Budget": {
        "type": "object",
        "properties": {
          "amount": {
            "type": "number",
            "description": "The budget amount allocated for the campaign.",
            "example": 10000.0
          },
          "currency": {
            "type": "string",
            "description": "Currency code for the budget amount (e.g., USD, EUR).",
            "example": "USD"
          }
        },
        "description": "Details about the campaign budget."
      },
      "RequestContext": {
        "type": "object",
        "properties": {
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the request.",
            "example": "request_789"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to correlate related requests.",
            "example": "correlation_101"
          },
          "idempotencyKey": {
            "type": "string",
            "description": "Key used to ensure idempotency of the request.",
            "example": "key_202"
          },
          "requestedAt": {
            "type": "string",
            "description": "Timestamp indicating when the request was made.",
            "example": "2023-01-01T12:00:00Z"
          },
          "sourceSystem": {
            "type": "string",
            "description": "Identifier for the source system making the request.",
            "example": "CRM"
          },
          "sourceApplication": {
            "type": "string",
            "description": "Name of the application that initiated the request.",
            "example": "MarketingApp"
          },
          "channel": {
            "description": "Information about the communication channel used.",
            "$ref": "#/components/schemas/Channel"
          }
        },
        "description": "Metadata relating to the request context."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "Unique identifier for the channel.",
            "example": "channel_303"
          },
          "channelType": {
            "type": "string",
            "description": "Type of channel (e.g., email, SMS).",
            "example": "email"
          },
          "deviceId": {
            "type": "string",
            "description": "Identifier for the device used for the channel.",
            "example": "device_404"
          }
        },
        "description": "Details of the communication channel."
      },
      "CreateBusinessDevelopmentInitiativeResponse_201": {
        "title": "Business Development Initiative Response",
        "type": "object",
        "properties": {
          "campaignId": {
            "type": "string",
            "description": "The unique identifier for the campaign associated with the initiative.",
            "example": "STANDARD"
          },
          "targetSegmentId": {
            "type": "string",
            "description": "The identifier for the target segment that this initiative is aimed at.",
            "example": "STANDARD"
          },
          "resourceId": {
            "type": "string",
            "description": "The unique identifier for the resource tied to the initiative.",
            "example": "RES-868739"
          },
          "status": {
            "type": "string",
            "description": "The current status of the initiative.",
            "example": "ACTIVE"
          },
          "createdAt": {
            "type": "string",
            "description": "The timestamp when the initiative was created.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional metadata related to the initiative response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "This schema represents the response for the creation of a business development initiative.",
        "example": {
          "campaignId": "STANDARD",
          "targetSegmentId": "STANDARD",
          "resourceId": "RES-868739",
          "status": "ACTIVE",
          "createdAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "f7e22392-13f0-5df4-b5e6-170277353bd0",
            "correlationId": "c990f291-ee55-51f4-8c3e-14f3870eb0ed",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Metadata for Initiative Response",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "The unique identifier for the response of the initiative.",
            "example": "response_101"
          },
          "correlationId": {
            "type": "string",
            "description": "The identifier used for tracking the request-response correlation.",
            "example": "correlation_202"
          },
          "generatedAt": {
            "type": "string",
            "description": "The timestamp when the metadata was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The geographical region where the processing of the initiative occurred.",
            "example": "us-east-1"
          }
        },
        "description": "This schema contains metadata related to the initiative response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_201"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the endpoint being accessed, useful for tracking requests.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "business-development-develop-business-development"
        },
        "example": "business-development-develop-business-development"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request, which helps in identifying the source of the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "customer-channel"
        },
        "example": "customer-channel"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to authorize requests. This method allows clients to securely transmit information between parties, ensuring the integrity and authenticity of the data.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}