{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Internal Audit Data Retrieval API",
    "description": "The Internal Audit Data Retrieval API provides access to essential auditing information for enterprises. This endpoint allows users to access detailed reports and records pertinent to internal audits, supporting compliance and operational integrity. Typical consumers include compliance officers, internal auditors, and risk management teams who need to analyze audit data for better decision-making. By leveraging this API, organizations can streamline their auditing processes and enhance transparency in their operations.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/enterprise-services/internal-audit": {
      "get": {
        "tags": [
          "Internal Audit"
        ],
        "summary": "Retrieve internal audit details.",
        "description": "This endpoint allows users to retrieve details of the internal audits conducted within the enterprise services. It provides a comprehensive overview of audit findings and relevant information to ensure transparency and compliance.",
        "operationId": "getInternalAudit",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body is used to retrieve audit details from the internal audit service. Ensure that all required parameters are provided in the request schema to successfully obtain the desired audit information.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetInternalAuditRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The request was processed successfully and the audit data is returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetInternalAuditResponse_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetInternalAuditRequest": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the internal audit service, formatted as a JSON string.",
        "example": "{}"
      },
      "GetInternalAuditResponse_200": {
        "type": "object",
        "properties": {
          "items": {
            "type": "array",
            "description": "A list of engagement audit details.",
            "example": [
              {
                "engagementId": "STANDARD",
                "scope": "STANDARD",
                "framework": "STANDARD",
                "engagementOwnerId": "STANDARD",
                "plannedStartDate": "2026-09-15",
                "targetCompletionDate": "2026-09-15",
                "recordStatus": "ACTIVE",
                "updatedAt": "2026-09-15T14:30:00Z"
              }
            ],
            "items": {
              "$ref": "#/components/schemas/AuditEngagement"
            }
          },
          "pagination": {
            "description": "Pagination details for the list of audit engagements.",
            "$ref": "#/components/schemas/Pagination"
          },
          "sort": {
            "type": "string",
            "description": "Sorting criteria for the audit engagements.",
            "example": "STANDARD"
          },
          "metadata": {
            "description": "Metadata information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Response schema for the internal audit operations GET request, containing items related to audit engagements and pagination details.",
        "example": {
          "items": [
            {
              "engagementId": "STANDARD",
              "scope": "STANDARD",
              "framework": "STANDARD",
              "engagementOwnerId": "STANDARD",
              "plannedStartDate": "2026-09-15",
              "targetCompletionDate": "2026-09-15",
              "recordStatus": "ACTIVE",
              "updatedAt": "2026-09-15T14:30:00Z"
            }
          ],
          "pagination": {
            "page": 1,
            "pageSize": 1,
            "totalItems": 1
          },
          "sort": "STANDARD",
          "metadata": {
            "responseId": "3ed5908e-38ad-5954-a905-f2c0a5701289",
            "correlationId": "0e1eaf36-136a-599f-82ae-94cbd221a6e0",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "AuditEngagement": {
        "type": "object",
        "properties": {
          "engagementId": {
            "type": "string",
            "description": "Unique identifier for the audit engagement."
          },
          "scope": {
            "type": "string",
            "description": "Scope of the audit engagement."
          },
          "framework": {
            "type": "string",
            "description": "Framework under which the audit is conducted."
          },
          "engagementOwnerId": {
            "type": "string",
            "description": "Identifier for the owner of the engagement."
          },
          "plannedStartDate": {
            "type": "string",
            "description": "Planned starting date for the engagement in ISO 8601 format."
          },
          "targetCompletionDate": {
            "type": "string",
            "description": "Target completion date for the engagement in ISO 8601 format."
          },
          "recordStatus": {
            "type": "string",
            "description": "Current status of the audit record."
          },
          "updatedAt": {
            "type": "string",
            "description": "Date and time when the engagement details were last updated."
          }
        },
        "description": "Schema representing an audit engagement's details."
      },
      "Pagination": {
        "type": "object",
        "properties": {
          "page": {
            "type": "integer",
            "description": "Current page number.",
            "format": "int32",
            "example": 1
          },
          "pageSize": {
            "type": "integer",
            "description": "Number of items per page.",
            "format": "int32",
            "example": 10
          },
          "totalItems": {
            "type": "integer",
            "description": "Total number of items available.",
            "format": "int32",
            "example": 100
          }
        },
        "description": "Pagination information for retrieving a subset of items."
      },
      "Metadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the API response."
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used for tracking the request through the system."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing took place."
          }
        },
        "description": "Metadata information related to the API response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "internal-audit-search-internal-audit"
        },
        "example": "internal-audit-search-internal-audit"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "enterprise-support"
        },
        "example": "enterprise-support"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses a Bearer token for authorization. The token should be a JSON Web Token (JWT), which is a compact, URL-safe means of representing claims to be transferred between two parties. The client's request must include the token prefixed by 'Bearer '. For example: 'Authorization: Bearer <token>'.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}