{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Customer Transaction Management API",
    "description": "The Customer Transaction Management API enables businesses to seamlessly process and record customer transactions. This endpoint allows for the initiation of new transactions associated with a specific customer by interacting with their unique identifier. It is particularly useful for financial institutions and e-commerce platforms that require integration of transaction data into their operational workflows. Developers can utilize this API to enhance customer interaction and transaction tracking capabilities.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/decisioning/customers/{customerId}/transactions": {
      "post": {
        "tags": [
          "Customer Transactions"
        ],
        "summary": "Create a new transaction for a specific customer.",
        "description": "This endpoint allows you to create a new transaction associated with the customer identified by the provided ID. Ensure that you include all necessary transaction details in the request body to successfully process the transaction.",
        "operationId": "createCustomerTransaction",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "The request body for creating a new transaction for customer CUST-100045. It must include all necessary transaction details aligned with the defined schema.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCustomerTransactionRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The request has been accepted and is being processed.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateCustomerTransactionResponse_202"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "CreateCustomerTransactionRequest": {
        "title": "Transaction Request Body",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "string",
            "description": "A string representing the account identifiers involved in the transaction.",
            "example": "ACC-770594"
          },
          "fromDate": {
            "type": "integer",
            "description": "An integer representing the start date for the transaction search.",
            "format": "int32",
            "example": 1
          },
          "toDate": {
            "type": "integer",
            "description": "An integer representing the end date for the transaction search.",
            "format": "int32",
            "example": 1
          },
          "reportCustomFields": {
            "type": "array",
            "description": "An array of custom fields related to the report.",
            "example": [
              {
                "label": "STANDARD",
                "value": "STANDARD",
                "shown": true
              }
            ],
            "items": {
              "$ref": "#/components/schemas/ReportCustomField"
            }
          },
          "findTransaction": {
            "type": "object",
            "properties": {
              "descriptionMemo": {
                "type": "string",
                "description": "A memo or description field for filtering transactions.",
                "example": "string"
              },
              "amountFrom": {
                "type": "number",
                "description": "The minimum transaction amount to consider in the search.",
                "example": 0.0
              },
              "amountTo": {
                "type": "number",
                "description": "The maximum transaction amount to consider in the search.",
                "example": 0.0
              },
              "category": {
                "type": "array",
                "description": "An array of categories to filter the transactions.",
                "example": [
                  "string"
                ],
                "items": {
                  "type": "string",
                  "description": "A category name."
                }
              }
            },
            "description": "Criteria for searching transactions.",
            "example": {
              "descriptionMemo": "STANDARD",
              "amountFrom": 100.0,
              "amountTo": 100.0,
              "category": [
                "STANDARD"
              ]
            }
          },
          "requestContext": {
            "type": "object",
            "properties": {
              "requestId": {
                "type": "string",
                "description": "A unique identifier for the request.",
                "example": "string"
              },
              "correlationId": {
                "type": "string",
                "description": "An identifier for correlating related requests.",
                "example": "string"
              },
              "idempotencyKey": {
                "type": "string",
                "description": "A key used to ensure idempotency of requests.",
                "example": "string"
              },
              "requestedAt": {
                "type": "string",
                "description": "Timestamp when the request was made.",
                "example": "string"
              },
              "sourceSystem": {
                "type": "string",
                "description": "The system from which the request originated.",
                "example": "string"
              },
              "sourceApplication": {
                "type": "string",
                "description": "The application from which the request originated.",
                "example": "string"
              },
              "channel": {
                "$ref": "#/components/schemas/Channel"
              }
            },
            "description": "Contextual information regarding the request.",
            "example": {
              "requestId": "e6ef94b1-967b-5717-9418-7a6b20dfbca6",
              "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
              "idempotencyKey": "ca6a4525-22cc-5b12-9817-da34df51d182",
              "requestedAt": "2026-09-15T14:30:00Z",
              "sourceSystem": "DIGITAL_BANKING",
              "sourceApplication": "MOBILE_APP",
              "channel": {
                "channelId": "MOBILE-US",
                "channelType": "MOBILE",
                "deviceId": "DEV-905166"
              }
            }
          }
        },
        "description": "Schema representing the request body for creating transactions.",
        "example": {
          "accountIds": "ACC-770594",
          "fromDate": 1,
          "toDate": 1,
          "reportCustomFields": [
            {
              "label": "STANDARD",
              "value": "STANDARD",
              "shown": true
            }
          ],
          "findTransaction": {
            "descriptionMemo": "STANDARD",
            "amountFrom": 100.0,
            "amountTo": 100.0,
            "category": [
              "STANDARD"
            ]
          },
          "requestContext": {
            "requestId": "e6ef94b1-967b-5717-9418-7a6b20dfbca6",
            "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
            "idempotencyKey": "ca6a4525-22cc-5b12-9817-da34df51d182",
            "requestedAt": "2026-09-15T14:30:00Z",
            "sourceSystem": "DIGITAL_BANKING",
            "sourceApplication": "MOBILE_APP",
            "channel": {
              "channelId": "MOBILE-US",
              "channelType": "MOBILE",
              "deviceId": "DEV-905166"
            }
          }
        }
      },
      "ReportCustomField": {
        "type": "object",
        "properties": {
          "label": {
            "type": "string",
            "description": "The label of the custom field.",
            "example": "string"
          },
          "value": {
            "type": "string",
            "description": "The value of the custom field.",
            "example": "string"
          },
          "shown": {
            "type": "boolean",
            "description": "Indicates whether the custom field is shown.",
            "example": false
          }
        },
        "description": "Schema representing a custom field in a report."
      },
      "Channel": {
        "type": "object",
        "properties": {
          "channelId": {
            "type": "string",
            "description": "A unique identifier for the channel.",
            "example": "string"
          },
          "channelType": {
            "type": "string",
            "description": "The type of the channel (e.g., web, mobile).",
            "example": "string"
          },
          "deviceId": {
            "type": "string",
            "description": "The identifier for the device from where the request originated.",
            "example": "string"
          }
        },
        "description": "Schema representing the channel information of the request."
      },
      "CreateCustomerTransactionResponse_202": {
        "title": "Transaction Response Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the transaction.",
            "example": "STANDARD"
          },
          "customerType": {
            "type": "string",
            "description": "Type of customer (e.g., individual, business).",
            "example": "STANDARD"
          },
          "customerId": {
            "type": "integer",
            "description": "Identifier for the customer associated with the transaction.",
            "format": "int32",
            "example": 1
          },
          "requestId": {
            "type": "string",
            "description": "Unique identifier for the transaction request.",
            "example": "37e51670-b782-5bbb-a66a-eb5bbb1a47aa"
          },
          "requesterName": {
            "type": "string",
            "description": "Name of the person requesting the transaction.",
            "example": "Northstar Banking Service"
          },
          "endUser": {
            "description": "Details about the end user involved in the transaction.",
            "$ref": "#/components/schemas/EndUser"
          },
          "createdDate": {
            "type": "integer",
            "description": "Creation date of the transaction, represented as a timestamp.",
            "format": "int32",
            "example": 1
          },
          "title": {
            "type": "string",
            "description": "Title or subject of the transaction.",
            "example": "Banking operation completed"
          },
          "consumerId": {
            "type": "string",
            "description": "Identifier for the consumer associated with the transaction.",
            "example": "STANDARD"
          },
          "consumerSsn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "STANDARD"
          },
          "consumerDetails": {
            "description": "Detailed information about the consumer.",
            "$ref": "#/components/schemas/ConsumerDetails"
          },
          "disputeStatement": {
            "type": "string",
            "description": "Statement regarding any disputes related to the transaction.",
            "example": "STANDARD"
          },
          "type": {
            "type": "string",
            "description": "Type of transaction (e.g., credit, debit).",
            "example": "STANDARD"
          },
          "status": {
            "type": "string",
            "description": "Current status of the transaction (e.g., processed, pending).",
            "example": "ACTIVE"
          },
          "constraints": {
            "description": "Constraints applied to the transaction.",
            "$ref": "#/components/schemas/TransactionConstraints"
          },
          "metadata": {
            "description": "Additional metadata information related to the transaction.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Schema representing a response for a transaction operation within the customer transactions API.",
        "example": {
          "id": "STANDARD",
          "customerType": "STANDARD",
          "customerId": 1,
          "requestId": "37e51670-b782-5bbb-a66a-eb5bbb1a47aa",
          "requesterName": "Northstar Banking Service",
          "endUser": {
            "name": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "email": "olivia.bennett@northstar.example",
            "url": "https://banking.northstar.example/callbacks/status"
          },
          "createdDate": 1,
          "title": "Banking operation completed",
          "consumerId": "STANDARD",
          "consumerSsn": "STANDARD",
          "consumerDetails": {
            "id": "STANDARD",
            "firstName": "Northstar Banking Service",
            "middleName": "Northstar Banking Service",
            "lastName": "Northstar Banking Service",
            "address": "STANDARD",
            "city": "New York",
            "state": "STANDARD",
            "zip": "STANDARD",
            "phone": "+1-212-555-0147",
            "ssn": "STANDARD",
            "email": "olivia.bennett@northstar.example"
          },
          "disputeStatement": "STANDARD",
          "type": "STANDARD",
          "status": "ACTIVE",
          "constraints": {
            "accountIds": [
              "ACC-931972"
            ],
            "fromDate": 1,
            "toDate": 1,
            "includePending": true
          },
          "metadata": {
            "responseId": "e148112e-1a1f-5c26-abac-25eebcf65e93",
            "correlationId": "520300e5-038a-5b79-9571-249af4a0fc82",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "EndUser": {
        "title": "End User Schema",
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "Full name of the end user.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the end user.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the end user resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the end user resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the end user's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the end user.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the end user.",
            "example": "string"
          },
          "url": {
            "type": "string",
            "description": "Website or URL related to the end user.",
            "example": "string"
          }
        },
        "description": "Schema representing the details of the end user involved in a transaction."
      },
      "ConsumerDetails": {
        "title": "Consumer Details Schema",
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Unique identifier for the consumer.",
            "example": "string"
          },
          "firstName": {
            "type": "string",
            "description": "First name of the consumer.",
            "example": "string"
          },
          "middleName": {
            "type": "string",
            "description": "Middle name of the consumer.",
            "example": "string"
          },
          "lastName": {
            "type": "string",
            "description": "Last name of the consumer.",
            "example": "string"
          },
          "address": {
            "type": "string",
            "description": "Street address of the consumer.",
            "example": "string"
          },
          "city": {
            "type": "string",
            "description": "City where the consumer resides.",
            "example": "string"
          },
          "state": {
            "type": "string",
            "description": "State where the consumer resides.",
            "example": "string"
          },
          "zip": {
            "type": "string",
            "description": "ZIP code for the consumer's address.",
            "example": "string"
          },
          "phone": {
            "type": "string",
            "description": "Contact phone number for the consumer.",
            "example": "string"
          },
          "ssn": {
            "type": "string",
            "description": "Social Security Number of the consumer.",
            "example": "string"
          },
          "email": {
            "type": "string",
            "description": "Email address of the consumer.",
            "example": "string"
          }
        },
        "description": "Schema representing detailed information about a consumer."
      },
      "TransactionConstraints": {
        "title": "Transaction Constraints Schema",
        "type": "object",
        "properties": {
          "accountIds": {
            "type": "array",
            "description": "Array of account identifiers related to the transaction.",
            "example": [
              "account1",
              "account2"
            ],
            "items": {
              "type": "string",
              "example": "string"
            }
          },
          "fromDate": {
            "type": "integer",
            "description": "Start date for filtering transactions, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "toDate": {
            "type": "integer",
            "description": "End date for filtering transactions, represented as a timestamp.",
            "format": "int32",
            "example": 0
          },
          "includePending": {
            "type": "boolean",
            "description": "Indicates whether to include pending transactions.",
            "example": false
          }
        },
        "description": "Schema representing constraints applicable to a transaction."
      },
      "Metadata": {
        "title": "Metadata Schema",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response.",
            "example": "string"
          },
          "correlationId": {
            "type": "string",
            "description": "Identifier used to trace a transaction across systems.",
            "example": "string"
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp indicating when the response was generated.",
            "example": "string"
          },
          "processingRegion": {
            "type": "string",
            "description": "Geographic region where the transaction was processed.",
            "example": "string"
          }
        },
        "description": "Schema representing additional metadata information related to a transaction."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_202"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "open-finance-api-generate-transactions-report"
        },
        "example": "open-finance-api-generate-transactions-report"
      },
      "X-Runtime-App": {
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "lending-credit"
        },
        "example": "lending-credit"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This security scheme uses the Bearer authentication method to allow access to protected resources. A valid JSON Web Token (JWT) must be provided in the Authorization header of the request.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}