{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_International Standing Order Payment Details API",
    "description": "The International Standing Order Payment Details API allows users to retrieve detailed information about specific payment transactions linked to international standing orders. This endpoint serves financial institutions and third-party payment service providers who wish to access insights on payment workflows, transaction statuses, and key attributes of the orders. Typical consumers include banking applications and financial services platforms that require transparency and real-time data on international payments. With this API, developers can enhance their applications' capabilities in managing and monitoring international standing orders effectively.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/open-banking/pisp/international-standing-orders/{param1}/payment-details": {
      "get": {
        "tags": [
          "International Standing Orders"
        ],
        "summary": "Retrieve payment details for an international standing order.",
        "description": "This endpoint allows clients to fetch the specific payment details associated with the international standing order identified by PAY-300045. It provides necessary information regarding the payment, including amounts, dates, and recipient details.",
        "operationId": "getPaymentDetailsForInternationalStandingOrderPay300045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the specific parameters required to retrieve payment details for the specified international standing order (PAY-300045). Ensure that all necessary information is correctly provided in the request to facilitate the accurate processing of the request.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetPaymentDetailsForInternationalStandingOrderPay300045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successfully retrieved payment details.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentDetailsForInternationalStandingOrderPay300045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetPaymentDetailsForInternationalStandingOrderPay300045Request": {
        "title": "International Standing Orders Payment Details",
        "type": "string",
        "description": "Schema representing the details of an international standing order payment request.",
        "example": "{}"
      },
      "GetPaymentDetailsForInternationalStandingOrderPay300045Response_200": {
        "type": "object",
        "properties": {
          "Data": {
            "type": "object",
            "properties": {
              "PaymentStatus": {
                "type": "array",
                "description": "List of payment transaction statuses.",
                "items": {
                  "$ref": "#/components/schemas/PaymentTransactionStatus"
                }
              },
              "Links": {
                "$ref": "#/components/schemas/PaginationLinks"
              },
              "Meta": {
                "$ref": "#/components/schemas/PaginationMeta"
              },
              "metadata": {
                "$ref": "#/components/schemas/ResponseMetadata"
              }
            },
            "description": "Contains payment status details and associated metadata.",
            "example": {
              "PaymentStatus": [
                {
                  "PaymentTransactionId": "TXN-475356",
                  "Status": "ACTIVE",
                  "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                  "StatusDetail": {
                    "LocalInstrument": "STANDARD",
                    "Status": "ACTIVE",
                    "StatusReason": "VALIDATION_PASSED",
                    "StatusReasonDescription": "STANDARD"
                  }
                }
              ]
            }
          }
        },
        "description": "Response schema for the payment details of international standing orders.",
        "example": {
          "Data": {
            "PaymentStatus": [
              {
                "PaymentTransactionId": "TXN-475356",
                "Status": "ACTIVE",
                "StatusUpdateDateTime": "2026-09-15T14:30:00Z",
                "StatusDetail": {
                  "LocalInstrument": "STANDARD",
                  "Status": "ACTIVE",
                  "StatusReason": "VALIDATION_PASSED",
                  "StatusReasonDescription": "STANDARD"
                }
              }
            ]
          },
          "Links": {
            "Self": "https://example.com/resource",
            "First": "https://example.com/resource",
            "Prev": "https://example.com/resource",
            "Next": "https://example.com/resource",
            "Last": "https://example.com/resource"
          },
          "Meta": {
            "TotalPages": 1,
            "FirstAvailableDateTime": "2026-09-15T14:30:00Z",
            "LastAvailableDateTime": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "responseId": "61e20884-ae7b-5c88-906e-c0d81abe55f9",
            "correlationId": "31c49fee-df6c-56cb-abb3-619b5c8bf911",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "PaymentTransactionStatus": {
        "type": "object",
        "properties": {
          "PaymentTransactionId": {
            "type": "string",
            "description": "Unique identifier for the payment transaction."
          },
          "Status": {
            "type": "string",
            "description": "Current status of the payment transaction."
          },
          "StatusUpdateDateTime": {
            "type": "string",
            "description": "Date and time when the status was last updated."
          },
          "StatusDetail": {
            "type": "object",
            "properties": {
              "LocalInstrument": {
                "type": "string",
                "description": "Instrument used for the payment."
              },
              "Status": {
                "type": "string",
                "description": "Status of the transaction."
              },
              "StatusReason": {
                "type": "string",
                "description": "Reason for the current status."
              },
              "StatusReasonDescription": {
                "type": "string",
                "description": "Detailed description of the status reason."
              }
            },
            "description": "Detailed information regarding the payment status."
          }
        },
        "description": "Details of a single payment transaction status."
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "Self": {
            "type": "string",
            "description": "Link to the current response page."
          },
          "First": {
            "type": "string",
            "description": "Link to the first page."
          },
          "Prev": {
            "type": "string",
            "description": "Link to the previous page."
          },
          "Next": {
            "type": "string",
            "description": "Link to the next page."
          },
          "Last": {
            "type": "string",
            "description": "Link to the last page."
          }
        },
        "description": "Links for pagination of the response data."
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "TotalPages": {
            "type": "integer",
            "description": "Total number of pages available.",
            "format": "int32"
          },
          "FirstAvailableDateTime": {
            "type": "string",
            "description": "First available date and time for payments."
          },
          "LastAvailableDateTime": {
            "type": "string",
            "description": "Last available date and time for payments."
          }
        },
        "description": "Metadata for pagination."
      },
      "ResponseMetadata": {
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "Unique identifier for the response."
          },
          "correlationId": {
            "type": "string",
            "description": "Correlation ID for tracking the transaction."
          },
          "generatedAt": {
            "type": "string",
            "description": "Timestamp when the response was generated."
          },
          "processingRegion": {
            "type": "string",
            "description": "Region where the processing occurred."
          }
        },
        "description": "Additional metadata for the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "Unique identifier for the endpoint handling the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payment-initiation-openapi-get-international-standing-order-details"
        },
        "example": "payment-initiation-openapi-get-international-standing-order-details"
      },
      "X-Runtime-App": {
        "description": "Indicates the name of the application processing the request.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "payments"
        },
        "example": "payments"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "Authentication scheme that uses JSON Web Tokens (JWT) to securely transmit information between parties. Clients must include a valid JWT in the Authorization header to gain access to protected resources.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}