{
  "openapi": "3.0.1",
  "info": {
    "title": "MICROSERVICE_PROD_Market Information Retrieval API",
    "description": "The Market Information Retrieval API provides easy access to crucial market data. This API allows consumers to fetch detailed insights related to market information management by utilizing specific parameters. It is aimed at financial analysts, developers, and market researchers who need to integrate real-time market information into their applications. Users can efficiently retrieve data based on various criteria, enabling informed decision-making in a dynamic business environment.",
    "version": "1.0"
  },
  "servers": [
    {
      "url": "https://prod-workspace-pwmw.apiwiz.io",
      "description": "Sandbox server",
      "variables": {},
      "x-schema": "https://",
      "x-name": "Sandbox server",
      "x-environmentName": "Sandbox",
      "x-hide": false,
      "x-environmentId": "6a7f52236ae9a15654cd5721",
      "x-basePath": "/"
    }
  ],
  "paths": {
    "/v5/banking/market-data/market-information-management/{param1}": {
      "get": {
        "tags": [
          "Market Data"
        ],
        "summary": "Retrieve market information for a specific resource.",
        "description": "This endpoint allows users to fetch detailed market information associated with the specified resource identifier. It provides insights into market trends, pricing, and other relevant data essential for informed decision-making.",
        "operationId": "getMarketDataForResource100045",
        "parameters": [
          {
            "$ref": "#/components/parameters/x-mock-response"
          }
        ],
        "requestBody": {
          "description": "This request body contains the necessary parameters for retrieving market information regarding the specified resource. Ensure that all required data is correctly formatted and included for a successful response.",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetMarketDataForResource100045Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request completed successfully and data returned.",
            "headers": {
              "X-Endpoint-Id": {
                "$ref": "#/components/headers/X-Endpoint-Id"
              },
              "X-Runtime-App": {
                "$ref": "#/components/headers/X-Runtime-App"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetMarketDataForResource100045Response_200"
                }
              }
            }
          }
        },
        "callbacks": {},
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "servers": []
      },
      "servers": [],
      "parameters": []
    }
  },
  "components": {
    "schemas": {
      "GetMarketDataForResource100045Request": {
        "type": "string",
        "description": "Represents the request body for the GET operation in the market information management service.",
        "example": "{}"
      },
      "GetMarketDataForResource100045Response_200": {
        "title": "Market Information Response",
        "type": "object",
        "properties": {
          "instrumentId": {
            "type": "string",
            "description": "A unique identifier for the financial instrument.",
            "example": "STANDARD"
          },
          "isin": {
            "type": "string",
            "description": "The International Securities Identification Number of the instrument.",
            "example": "STANDARD"
          },
          "marketIdentifierCode": {
            "type": "string",
            "description": "The code identifying the market where the instrument is traded.",
            "example": "CODE-658"
          },
          "asOf": {
            "type": "string",
            "description": "The date and time this data is valid as of.",
            "example": "2026-08-11T12:00:00Z"
          },
          "dataSource": {
            "type": "string",
            "description": "The source from which the market data was obtained.",
            "example": "STANDARD"
          },
          "recordStatus": {
            "type": "string",
            "description": "The current status of the record (e.g., 'active', 'inactive').",
            "example": "ACTIVE"
          },
          "version": {
            "type": "integer",
            "description": "The version number of the record.",
            "format": "int32",
            "example": 1
          },
          "updatedAt": {
            "type": "string",
            "description": "The date and time when the record was last updated.",
            "example": "2026-09-15T14:30:00Z"
          },
          "metadata": {
            "description": "Additional information related to the response.",
            "$ref": "#/components/schemas/Metadata"
          }
        },
        "description": "Represents the response data for market information queries.",
        "example": {
          "instrumentId": "STANDARD",
          "isin": "STANDARD",
          "marketIdentifierCode": "CODE-658",
          "asOf": "2026-08-11T12:00:00Z",
          "dataSource": "STANDARD",
          "recordStatus": "ACTIVE",
          "version": 1,
          "updatedAt": "2026-09-15T14:30:00Z",
          "metadata": {
            "responseId": "4a1169ef-232a-57b0-ba51-b6f130432fc5",
            "correlationId": "f3dd81a1-73b6-50b2-8ff4-b8ebad747d70",
            "generatedAt": "2026-09-15T14:30:00Z",
            "processingRegion": "us-east-1"
          }
        }
      },
      "Metadata": {
        "title": "Response Metadata",
        "type": "object",
        "properties": {
          "responseId": {
            "type": "string",
            "description": "A unique identifier for the response.",
            "example": "RES-001"
          },
          "correlationId": {
            "type": "string",
            "description": "An identifier used to correlate multiple requests and responses.",
            "example": "CORR-123"
          },
          "generatedAt": {
            "type": "string",
            "description": "The date and time when the response was generated.",
            "example": "2023-10-01T12:00:00Z"
          },
          "processingRegion": {
            "type": "string",
            "description": "The region in which the data was processed.",
            "example": "US"
          }
        },
        "description": "Contains additional metadata related to the response."
      }
    },
    "parameters": {
      "x-mock-response": {
        "name": "x-mock-response",
        "in": "header",
        "description": "Controls x-mock-response response status",
        "required": false,
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "enum": [
            "MICROSERVICE_PROD_200"
          ]
        }
      }
    },
    "headers": {
      "X-Endpoint-Id": {
        "description": "A unique identifier for the API endpoint being accessed, useful for tracking and analytics.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "market-information-management-get-market-information-management"
        },
        "example": "market-information-management-get-market-information-management"
      },
      "X-Runtime-App": {
        "description": "The name of the application that is making the request, providing context about the source of the data.",
        "style": "simple",
        "explode": false,
        "schema": {
          "type": "string",
          "example": "treasury-markets"
        },
        "example": "treasury-markets"
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "description": "This authentication method uses a Bearer token, specifically in the form of JSON Web Tokens (JWT), to secure API requests. Clients must include the token in the Authorization header when making requests.",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}